﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.VirtualCompany.PartialView.ListVirtualCompanyPartialViewModel

@{
    Boolean esEditable = Model.PeriodoAcademicoId == Model.PeriodoAcademicoActualId || Model.PeriodoAcademicoId == 0;
}

<div class="table-responsive">
    <table class="table table-striped table-hover dataTable">
        <thead>
            <tr>
                <th class="text-center">@AddEditVirtualCompanyResource.Codigo</th>
                <th class="text-center">@AddEditVirtualCompanyResource.Nombre</th>
                <th class="text-center">@AddEditVirtualCompanyResource.Descripcion</th>
                @if (esEditable)
                {
                    <th class="text-center">@OptionResource.Opcion</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                Int32 indice = 1;
                foreach (var empresaVirtual in Model.ListEmpresaVirtual)
                {
                    <tr>
                        <td class="text-center">
                            @empresaVirtual.Codigo
                        </td>
                        <td class="text-center">
                            @empresaVirtual.Nombre
                        </td>
                        <td class="text-center">
                            @empresaVirtual.Descripcion
                        </td>
                        @if (esEditable)
                        {
                            <td class="text-center">
                                <div class="btn-group">
                                    <a href="@(Url.Action("AddEditVirtualCompany", "VirtualCompany", new {EmpresaVirtualId = empresaVirtual.IdEmpresa}))" class="btn btn-sm btn-outline btn-default animsition-link">
                                        <i class="fa fa-pencil"></i>
                                        @ButtonResource.Editar
                                    </a>
                                    <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-sm pull-right">
                                        <li><a href="@Url.Action("DeleteVirtualCompany", "VirtualCompany", new { Area = ConstantHelpers.AREAS.RUBRIC, EmpresaVirtualId = empresaVirtual.IdEmpresa })"><i class="fa fa-trash"></i> @ButtonResource.Eliminar </a></li>
                                    </ul>
                                </div>
                            </td>
                        }
                    </tr>
                    indice++;
                }
            }
        </tbody>
    </table>
    <div id="partial-pager">
        @Html.PagedListPager(Model.ListEmpresaVirtual, page => Url.Action("_ListVirtualCompanyPartialView", "VirtualCompany", new { PeriodoAcademicoActualId = Model.PeriodoAcademicoActualId, PeriodoAcademicoId = Model.PeriodoAcademicoId, Pagina = page }), ConstantHelpers.TwitterBootstrapPagerAligned)
    </div>
</div>
