﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Notification
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse.LstNotificationTeachViewModel
@{

    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
<div class="row">
    <div class="pull-right" style="width:400px;">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="display:none">
            <a data-toggle="modal" data-target="#myModalContenido" class="btn btn-dark btn-block"><i class="fa fa-cog"></i> @LayoutResource.Configurar</a>
        </div>


        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right" style="margin-right:15px">
            <button type="button" id="notificarEvaluadores" class="btn btn-success btn-block"><i class="fa fa-paper-plane"></i> @LayoutResource.Notificar </button>
        </div>


    </div>
</div>
<div class="panel-body row">

    <div class="table-responsive">
        <table class="table table-hover" id="myTable">
            <thead>
                <tr class="dato_cabecera">
                    <th>Codigo de Docente</th>
                    <th>Nombre de Docente</th>
                    <th>Correo</th>
                    <th>Curso</th>
                </tr>
            </thead>
            <tbody>

                @for(int i =0;i<Model.LstDocente.Count();i++)
                {
                <tr>
                    <td class="dato_comentario">@Model.LstDocente[i].DocenteCodigo</td>
                    <td class="dato_comentario">@Model.LstDocente[i].DocenteNombres</td>
                    <td class="dato_comentario">@Model.LstDocente[i].DocenteCorreo</td>
                    <td class="dato_comentario">@Model.LstDocente[i].Curso</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>




<script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "No existen registros",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No existen registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar"
                }
            });

        });

</script>

<script>
    function enviarNotification() {
            var cursoId = $("#IdCurso").val();
            cursoId = cursoId == "" ? 0 : cursoId;
            debugger
            $.ajax({
                type: 'POST',
                url: '@Url.Action("NotificarDocentes", "RubricCourse")',
                data: {
                    idCurso: cursoId
                },
                beforeSend: function (data) {
                    showLoading();
                },
                dataType: 'json',
                success: function (data) {

                    if (data == "1") {
                        swal({
                            title: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "Notificacion exitosa!" : "Notification!")',
                            text: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "No hubo problemas" : "Se notificó sin problemas")',
                            type: 'success',
                            confirmButtonColor: '#ff0000',
                            confirmButtonText: '@(ButtonResource.Aceptar)'
                        }, function () {

                        });
                    }
                    else {
                        swal({
                            title: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "No se logró enviar la notificación!" : "Failed to send notification!")',
                            text: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "Error." : "Error")',
                            type: 'warning',
                            confirmButtonColor: '#ff0000',
                            confirmButtonText: '@(ButtonResource.Aceptar)'
                        }, function () {

                        });
                    }
                },
                complete: function () {
                    closeLoading();
                }
            });
        }

        $("#notificarEvaluadores").click(function () {
            swal({
                title: "@(NotificationResource.EstasSeguroDeEnviar)",
                text: "@(NotificationResource.MensajeEstasSeguroDeEnviar)",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-success",
                confirmButtonText: "@(NotificationResource.Enviar)",
                cancelButtonText: "@(NotificationResource.NoDeseoEnviar)",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    enviarNotification();
                    swal("@(NotificationResource.Enviado)", "@(NotificationResource.MensajeEnviado)", "success");
                } else {

                    swal("@(NotificationResource.Cancelado)", "@(NotificationResource.MejorLoEnviamosMasTarde) ", "error");

                }
            });

        });

</script>
