﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse.MaintenanceListRubricViewModel
@{
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    var parcial = language == "es-PE" ? "Parcial": "Partial";
    var final = "Final";
}

<div class="table">
    <table id="tbl_rubricas" class="table table-striped table-hover dataTable">
        <thead class="hiddenHeader">
            <tr>
                <th> @Html.Raw(RubricCourseResource.Code)</th>
                <th> @Html.Raw(RubricCourseResource.Course)</th>
                <th class="col-md-4">@Html.Raw(RubricCourseResource.Date)</th>
                <th>@Html.Raw(RubricCourseResource.Evaluation)</th>
                <th>@Html.Raw(RubricCourseResource.Options)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.lstRubric.Count(); i++)
            {

                <tr>
                    <td><span class="hiddenTexto"></span> @Model.lstCourses[i].Codigo</td>
                    <td><span class="hiddenTexto"></span> @(language == ConstantHelpers.CULTURE.ESPANOL ? @Model.lstCourses[i].NombreEspanol : @Model.lstCourses[i].NombreIngles) </td>
                    <td><span class="hiddenTexto"></span> @Model.lstRubric[i].fecha</td>
                    <td><span class="hiddenTexto"></span> @(Model.lstRubric[i].IsFinal == true ? final : parcial)</td>
                    <td>                        
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">
                                @RubricCourseResource.Options <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="menu">
                                @if (Model.lstBooleanos[i] == true)
                                {
                                    <li><a class="btn btn-default" disabled><i class="fa fa-check-square-o"></i> @RubricCourseResource.EditRubric </a></li>
                                    <li><a class="btn btn-default " disabled id="@Model.lstRubric[i].idRubricaControl"><i class="fa fa-check-square-o"></i> @RubricCourseResource.Delete </a></li>
                                }
                                else
                                {

                                    <li><a class="btn btn-default" href="@Url.Action("EditRubricControlEvaluation", "RubricCourse", new { idRubric = Model.lstRubric[i].idRubricaControl })"><i class="fa fa-check-square-o"></i>@RubricCourseResource.EditRubric</a></li>
                                    <li><a class="btn btn-default delete-button" id="@Model.lstRubric[i].idRubricaControl"><i class="fa fa-check-square-o"></i> @RubricCourseResource.Delete </a></li>
                                }

                            </ul>
                        </div>
                    </td>
                 </tr>
            }
        </tbody>
    </table>
</div>

