﻿
@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse
@using UPC.CA.ABET.Presentation.Resources.Areas.Rubric;
@model ManagmentStudentViewModel
@{
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<div class="modal-header">
    <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title">
        <i aria-hidden="true" class="fa fa-plus"></i>
        @RubricCourseResource.AddStudent
    </h4>
</div>

@using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "POST"
}))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">@RubricCourseResource.Code.ToString()</label>
            @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control", @minlength = "9", @maxlength = "9", @type = "number" })
            @Html.ValidationMessageFor(m => m.Codigo)
        </div>
        <div class="form-group">
            <label class="control-label">@RubricCourseResource.StudentName.ToString()</label>
            @Html.TextBoxFor(m => m.NombreAlumno, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NombreAlumno)
        </div>
        <div class="form-group">
            <label class="control-label">@RubricCourseResource.StudentLastName.ToString()</label>
            @Html.TextBoxFor(m => m.ApellidoAlumno, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.ApellidoAlumno)
        </div>
        <div class="form-group">
            <label class="control-label">@RubricCourseResource.Course.ToString()</label>
            @Html.DropDownListFor(m => m.IdCurso, Model.sltCourses, language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
           new {
               @class = "form-control",
               @data_plugin = "select2",
               @data_update_target = "#IdSeccion",
           })
            @Html.ValidationMessageFor(m => m.IdCurso)
        </div>
        <div class="form-group">
            <label class="control-label">@RubricCourseResource.Section.ToString()</label>
            @Html.DropDownListFor(m => m.IdSeccion, Model.sltSection, language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
           new {
               @data_text_member = "Codigo",
               @data_value_member = "IdSeccion",
               @class = "form-control",
               @data_plugin = "select2",
               @disabled = true
           })
            @Html.ValidationMessageFor(m => m.IdSeccion)
        </div>
        <div class="form-group">
            <label class="control-label">@RubricCourseResource.Career.ToString()</label>
            @Html.DropDownListFor(m => m.IdCarrera, Model.sltCareer, language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
           new {
               @class = "form-control",
               @data_plugin = "select2"
           })
            @Html.ValidationMessageFor(m => m.IdCarrera)
        </div>
        

    </div>
    <div class="modal-footer clearfix">
        <button type="button"  id="cancelBtn" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @LayoutResource.Cancelar</button>
        <button id="btnAceptar" class="btn btn-primary"><i class="fa fa-check"></i>@LayoutResource.Aceptar</button>
    </div>
}


<script>


    $(document).ready(function () {

        jQuery('#modalId').on('hidden.bs.modal', function (e) {
            jQuery(this).removeData('bs.modal');
            jQuery(this).find('.modal-content').empty();
        });
    });

    @*$("#Codigo").on("change", function () {
        var codigo = $("#Codigo").val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetStudents", "RubricCourse")',
            data: {
                codigo: codigo
            },
            dataType: 'json',
            async: true,
            success: function (data) {
                $('input[name="NombreAlumno"]').val(data.NombreAlumno);
                $('input[name="ApellidoAlumno"]').val(data.ApellidoAlumno);
            }
        });

    });*@
    //$("#cancelBtn").on("click", function () {
    //    jQuery(this).removeData('bs.modal');
    //    jQuery(this).find('.modal-content').empty();

    //});
    $("#btnAceptar").on("click", function () {
        if ($("#form0").valid() == true) {
            $("#btnAceptar").prop("disabled", true);
            var idSeccion = $('#IdSeccion').val();
            var idCurso = $('#IdCurso').val();
            $.ajax({
                type: 'post',
                url: '@Url.Action("ManageStudent")',
                data: $("#form0").serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        $('#modalId').modal('toggle');
                        swal({
                            title: data.title,
                            text: data.message,
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: 'Aceptar',
                        }, function () {
                                $("#btnAceptar").prop("disabled", false);
                                onclose(showTable(idSeccion, idCurso ));
                        });
                    } else {
                        swal({
                            title: data.title,
                            text: data.message,
                            type: 'error',
                            showCancelButton: false,
                            confirmButtonText: 'Aceptar',
                        }, function () {
                            $("#btnAceptar").prop("disabled", false);
                        });
                    }
                },
                error: function (data) {
                    $("#btnAceptar").prop("disabled", false);
                }
            });
        }
    });


    $('[data-plugin="select2"]').change(function () {
            var updateTarget = $(this).attr('data-update-target');
            if (updateTarget === '#IdSeccion') {
                $(updateTarget).attr('disabled', 'disabled');
                $(updateTarget).find('option[value!=""]').remove();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSectionByCourse", "RubricCourse")',
                    data: {
                        idCurso: $(this).val()
                    },
                    dataType: 'json',
                    async: true,
                    error: function () {
                        //error(@Html.Raw(RubricCourseResource.SectionLoadingFailure));
                    },
                    success: function (data) {
                        var valueMember = $(updateTarget).attr('data-value-member');
                        var textMember = $(updateTarget).attr('data-text-member');
                        for (i = 0; i < data.length; i++) {
                            $(updateTarget).append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                        }
                        $(updateTarget).removeAttr('disabled');
                        $('#IdSeccion').removeAttr('disabled');
                        $(updateTarget).trigger('change');

                    }
                });
            }
            else {
                    $(updateTarget).removeAttr('disabled');
            }
        });

    $.validator.unobtrusive.parse('form');
</script>

