﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse.StudentListRubricViewModel
@{
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<div class="table-responsive">
    <table id="tbl_rubricas" class="table table-striped table-hover dataTable">
        <thead class="hiddenHeader">
            <tr>
                <th>Codigo</th>
                <th class="col-md-4">Nombres</th>
                <th>Carrera</th>
                <th>Seccion</th>
                <th>Curso</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alm in Model.listDatatable)
            {
                <tr>
                    <td><span class="hiddenTexto">Codigo:</span> @alm.codigo</td>
                    <td><span class="hiddenTexto">Nombres:</span> @alm.nombre</td>
                    <td><span class="hiddenTexto">Carrera:</span> @alm.carrera</td>
                    <td><span class="hiddenTexto">Seccion:</span> @alm.seccion</td>
                    <td><span class="hiddenTexto">Curso:</span> @alm.curso</td>
                    <td>
                        <span class="hiddenTexto">Opciones: </span>
                        @if (alm.isEvaluated == false)
                        {
                            <a class="btn btn-default evaluate" href="@Url.Action("CreateRubricControlEvaluation","RubricCourse", new { idStudent = alm.idAlumno, idCourse = alm.idCurso, idSection = alm.idSeccion, rubricType = alm.rubricType })" id="@alm.idAlumno"><i class="fa fa-check-square-o"></i> @RubricCourseResource.Evalute </a>

                        }
                        else {
                            <i class="fa fa-check"></i><span>Evaluado</span>
                        }                      

                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>