﻿@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Verification
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
    @using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Verification*@
@using UPC.CA.ABET.Helpers
@using UPC.CA.ABET.Presentation.Resources.Areas.Report

@model ByCourseViewModel

@if (Model.ExistData.HasValue)
{
    if (!Model.ExistData.Value || Model.CycleId == 0)
    {
        <script>
            showMessage('@ReportResource.TitleCourse', '@ReportResource.NoDataMessage');
        </script>
        <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
    }
    else
    {
        var queryString = string.Format("?{0}={1}&{2}={3}&{4}={5}&{6}={7}&{8}={9}&{10}={11}&{12}={13}",
            ConstantHelpers.QueryStringParameters.ACCREDITATION_TYPE_ID, Model.AccreditationTypeId,
            ConstantHelpers.QueryStringParameters.CAREER_ID, Model.CareerId,
            ConstantHelpers.QueryStringParameters.CAMPUS_ID, Model.CampusId,
            ConstantHelpers.QueryStringParameters.COMMISSION_ID, Model.CommissionId,
            ConstantHelpers.QueryStringParameters.COURSE_ID, Model.CourseId.HasValue ? Model.CourseId.Value : 0,
            ConstantHelpers.QueryStringParameters.CYCLE_ID, Model.CycleId,
            ConstantHelpers.QueryStringParameters.LANGUAGE_CULTURE, Model.LanguageCulture);

        if (Model.AccreditationTypeId > 0)
        {
            <script>iframeLoad()</script>
            <iframe src="@(Url.Content("~/Areas/Report/Resources/WebPages/VerificationReportByCourse.aspx") + queryString)"></iframe>
        }
        else
        {
            <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
        }
    }
}
else
{
    <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
}