﻿@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Verification
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
    @using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Verification*@
@using UPC.CA.ABET.Helpers
@using UPC.CA.ABET.Presentation.Resources.Areas.Report

@model ByHistoricOutcomeViewModel

@if (Model.ExistData.HasValue)
{
    if (!Model.ExistData.Value || Model.CycleFromId == 0 || Model.CycleToId == 0)
    {
        <script>
            showMessage('@ReportResource.TitleHistoricOutcome', '@ReportResource.NoDataMessage');
        </script>
        <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
    }
    else
    {
        var queryString = string.Format("?{0}={1}&{2}={3}&{4}={5}&{6}={7}&{8}={9}&{10}={11}&{12}={13}&{14}={15}&{16}={17}&{18}={19}&{20}={21}",
            ConstantHelpers.QueryStringParameters.ACCREDITATION_TYPE_ID, Model.AccreditationTypeId,
            ConstantHelpers.QueryStringParameters.CAREER_ID, Model.CareerId,
            ConstantHelpers.QueryStringParameters.CAMPUS_ID, Model.CampusId,
            ConstantHelpers.QueryStringParameters.COMMISSION_ID, Model.CommissionId,
            ConstantHelpers.QueryStringParameters.CYCLE_FROM_ID, Model.CycleFromId,
            ConstantHelpers.QueryStringParameters.CYCLE_TO_ID, Model.CycleToId,
            ConstantHelpers.QueryStringParameters.STUDENT_OUTCOME_ID, Model.StudentOutcomeId ?? 0,
            ConstantHelpers.QueryStringParameters.LANGUAGE_CULTURE, Model.LanguageCulture,
            ConstantHelpers.QueryStringParameters.COLLEGE_ID, Model.CollegeId,
            ConstantHelpers.QueryStringParameters.SUBMODALIDAD_ID, Session.GetModalidadId(),
            ConstantHelpers.QueryStringParameters.MODULO_ID, Model.ModuleId ?? 0);

        if (Model.AccreditationTypeId > 0)
        {
            <script>iframeLoad()</script>
            <iframe src="@(Url.Content("~/Areas/Report/Resources/WebPages/VerificationReportByHistoricOutcome.aspx") + queryString)"></iframe>
        }
        else
        {
            <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
        }
    }
}
else
{
    <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
}