﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
    @using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Verification
    @using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Verification
@using UPC.CA.ABET.Presentation.Resources.Areas.Report

@model ByAcceptanceLevelViewModel

@{
    ViewBag.Title = ReportResource.TitleVerification;
    ViewBag.Icon = "bar-chart";
    var modalidadId = Session.GetModalidadId();
}

@section Breadcrumbs{
    <li><a href="javascript:history.go(-1)">@ReportResource.VerificationReportsMenuTitle</a></li>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ReportResource.HeaderFilter, PanelActions.Collapse)
            @using (Ajax.BeginForm("ByAcceptanceLevel", new AjaxOptions
            {
                HttpMethod = "POST",
                LoadingElementId = "main-loader",
                UpdateTargetId = "report-container"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.Hidden("ModalityId", Session.GetModalidadId())
                <div class="panel-body row">
                    <div class="row">
                        @Html.FormGroup(ReportResource.LabelCycle, Html.DropDownListFor(m => Model.CycleId, Model.DropDownListCyclesFromForModality as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CycleId))
                        @Html.FormGroup(ReportResource.LabelCampus, Html.DropDownListFor(m => Model.CampusId, Model.DropDownListCampus as SelectList, @*ReportResource.OptionAll,*@ new { @class = "form-control ignore" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CampusId))
                    </div>
                    <div class="row">
                        @Html.FormGroup(ReportResource.LabelAccreditationType, Html.DropDownListFor(m => Model.AccreditationTypeId, Model.DropDownListAccreditationType as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.AccreditationTypeId))
                        @Html.FormGroup(ReportResource.LabelAcceptanceLevel, Html.DropDownListFor(m => Model.AcceptanceLevelId, Model.DropDownListAcceptanceLevel as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.AcceptanceLevelId))
                    </div>
                    <div class="row">
                        @Html.FormGroup(ReportResource.LabelCareer, Html.DropDownListFor(m => Model.CareerId, ViewBag.DropDownListCareer as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CareerId))
                        @Html.FormGroup(ReportResource.LabelLanguage, Html.DropDownListFor(m => Model.LanguageCulture, ViewBag.DropDownListLanguage as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.LanguageCulture))
                    </div>
                    <div class="row">
                        @Html.FormGroup(ReportResource.LabelCommission, Html.DropDownListFor(m => Model.CommissionId, Model.DropDownListCommission as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CommissionId))
                       @if (modalidadId == 2)
                       {
                         @Html.FormGroup(ReportResource.LabelModule, Html.DropDownListFor(m => Model.ModuleId, Model.DropDownListModules as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.ModuleId))
                       }
                    </div>
                    @Html.PanelFooter(ReportResource.ButtonGenerateReport, ReportResource.ButtonResetReport)
                </div>
            }
        </div>
        <div class="panel">
            @Html.PanelHeader("<i class=\"fa fa-file-text\"></i> " + ReportResource.HeaderDocument, PanelActions.Fullscreen)
            <div class="panel-body" id="report-container">
                @{Html.RenderPartial("_ByAcceptanceLevelReport", Model);}
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        /// <reference path="~/Areas/Report/Content/js/main.js" />

        $(function () {
            selectMenu('liVerificationReports', 'liByAcceptanceLevelVerificationReport');
            setTimeout(scrollSidebarTo, 700, 'liByAcceptanceLevelVerificationReport');

            $('#btnResetReport').resetCombos(['CycleId', 'CareerId', 'AcceptanceLevelld', 'LanguageCulture']);
        });


        bindChange('#CycleId', function () { getCampus().then(getAccreditationTypes).then(getCareers).then(getCommissionsByCareer).then(getModulesForCycleForModality); });
        bindChange('#AccreditationTypeId', function () { getCommissionsByCareer(); });
        bindChange('#CareerId', function () { getCommissionsByCareer(); });
    </script>
}