﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Verification
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Verification
@using UPC.CA.ABET.Presentation.Resources.Areas.Report

@model ByCourseViewModel

@{
    ViewBag.Title = ReportResource.TitleCourse;
    ViewBag.Icon = "bar-chart";
}

@section Breadcrumbs{
    <li><a href="#">@ReportResource.VerificationReportsMenuTitle</a></li>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ReportResource.HeaderFilter, PanelActions.Collapse)
            @using (Ajax.BeginForm("ByCourse", new AjaxOptions
            {
                HttpMethod = "POST",
                LoadingElementId = "main-loader",
                UpdateTargetId = "report-container"
            }))
            {
                @Html.AntiForgeryToken()
                <div class="panel-body row">
                    <div class="row">
                        @Html.FormGroup(ReportResource.LabelCycle, Html.DropDownListFor(m => Model.CycleId, ViewBag.DropDownListCycle as SelectList, new { @class = "form-control", @data_plugin = "select2" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CycleId))
                        @Html.FormGroup(ReportResource.LabelCampus, Html.DropDownListFor(m => Model.CampusId, Model.DropDownListCampus as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CampusId))
                    </div>
                    <div class="row">
                        @Html.FormGroup(ReportResource.LabelAccreditationType, Html.DropDownListFor(m => Model.AccreditationTypeId, Model.DropDownListAccreditationType as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.AccreditationTypeId))
                        @Html.FormGroup(ReportResource.LabelCareer, Html.DropDownListFor(m => Model.CareerId, ViewBag.DropDownListCareer as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CareerId))
                    </div>
                    <div class="row">
                        @Html.FormGroup(ReportResource.LabelCommission, Html.DropDownListFor(m => Model.CommissionId, Model.DropDownListCommission as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CommissionId))
                        @Html.FormGroup(ReportResource.LabelLanguage, Html.DropDownListFor(m => Model.LanguageCulture, ViewBag.DropDownListLanguage as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.LanguageCulture))
                    </div>
                    <div class="row">
                        @Html.FormGroup(ReportResource.LabelCourse, Html.DropDownListFor(m => Model.CourseId, Model.DropDownListCourse as SelectList, ReportResource.OptionAll, new { @class = "form-control", @data_plugin = "select2" }))
                    </div>
                    @Html.PanelFooter(ReportResource.ButtonGenerateReport, ReportResource.ButtonResetReport)
                </div>
            }
        </div>
        <div class="panel">
            @Html.PanelHeader("<i class=\"fa fa-file-text\"></i> " + ReportResource.HeaderDocument, PanelActions.Fullscreen)
            <div class="panel-body" id="report-container">
                @{Html.RenderPartial("_ByCourseReport", Model);}
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        /// <reference path="~/Areas/Report/Content/js/main.js" />

        $(function () {
            selectMenu('liVerificationReports', 'liByCourseVerificationReport');
            setTimeout(scrollSidebarTo, 700, 'liByCourseVerificationReport');

            $('#btnResetReport').resetCombos(['CycleId', 'CareerId', 'LanguageCulture']);
        });

        bindChange('#CycleId', function () { getCampus().then(getAccreditationTypes).then(getCommissionsByCareer).then(getVerificationCourses); });
        bindChange('#AccreditationTypeId', function () { getCommissionsByCareer().then(getVerificationCourses); });
        bindChange('#CareerId', function () { getCommissionsByCareer().then(getVerificationCourses); });
        bindChange('#CommissionId', getVerificationCourses);
        bindChange('#CampusId', getVerificationCourses);
</script>
}