﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.PreSchedule;
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.ConsultMeetingPreScheduleViewModel
@using UPC.CA.ABET.Presentation.Resources.Views.Error;
@{
    ViewBag.Icon = "sticky-note";
    ViewBag.Form = true;
    ViewBag.Title = AgendaResource.ReunionesDeDocente;
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    string CurrentCulture = cookie == null ? ConstantHelpers.CULTURE.ESPANOL : cookie.Value ?? ConstantHelpers.CULTURE.ESPANOL;

}
@section Breadcrumbs {

}
<link rel="stylesheet" href="~/Content/vendor/bootstrap/bootstrap.min.css" />

<style>
    label.help-block {
        color: red;
    }
</style>

@using (Html.BeginForm("CreateReunionDocente", "PreSchedule", FormMethod.Post, new { enctype = "multipart/form-data", id = "CreateARD" }))
{
    @Html.HiddenFor(x => x.IdReunionProfesor);
    @Html.HiddenFor(x => x.IdUnidadAcademica);
    @Html.HiddenFor(x => x.AreaEncargada);
    @Html.HiddenFor(x => x.Semana);
    @Html.HiddenFor(x => x.Nivel);
    @Html.HiddenFor(x => x.NombreReunion);
    @Html.HiddenFor(x => x.Inicio, new { id = "fInicio" });
    @Html.HiddenFor(x => x.Fin, new { id = "fFin" });

    <div class="row">
        <div class="col-md-12">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class=""></i> @AgendaResource.ConfiguracionDeLaReunion
                </h3>
            </div>
            <div class="panel-body row">

                <div class="row" id="Sede">
                    @Html.FormGroup(AgendaResource.AreaEncargada + ":", Html.TextBoxFor(m => m.IdUnidadAcademica, Model.AreaEncargada, new { @class = "form-control", @disabled = "disabled" }))
                </div>

                <div class="row">
                    @Html.FormGroup(AgendaResource.Semana + ":", Html.TextBoxFor(m => m.Semana, Model.Semana, new { @class = "form-control", @disabled = "disabled" }))
                    @Html.FormGroup(AgendaResource.Nivel + ":", Html.TextBoxFor(m => m.Nivel, Model.Nivel, new { @class = "form-control", @disabled = "disabled" }))
                </div>

                <div class="row">
                    <div class="form-group col-sm-12 col-md-12">
                        <label class="col-sm-12 control-label">@AgendaResource.InicioDeReunion:</label>
                        <div class="col-sm-12">
                            <div class="input-group date" id="Inicio">
                                <span class="input-group-addon">
                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Inicio, new { @class = "form-control", @id = "Inicio" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12 col-md-12">
                        <label class="col-sm-12 control-label">@AgendaResource.FinDeReunion:</label>
                        <div class="col-sm-12">
                            <div class="input-group date" id="Fin">
                                <span class="input-group-addon">
                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                </span>
                                @Html.TextBoxFor(m => m.Fin, new { @class = "form-control", @id = "Fin" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12 col-md-12">
                        <label class="col-sm-12 control-label">@AgendaResource.Lugar:</label>
                        <div class="col-sm-12">
                            @Html.TextBoxFor(m => m.Lugar, new { @class = "form-control", @id = "idLugar", @required = "required" })
                            <div class="error">
                                <span style="color: red;"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12 col-md-12">
                        <label class="col-sm-12 control-label">@AgendaResource.Nombre:</label>
                        <div class="col-sm-12">
                            @Html.TextBoxFor(m => m.NombreReunion, new { @class = "form-control", @id = "idcomentario", @disabled = true })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12 col-md-12">
                        <label class="col-sm-12 control-label">@AgendaResource.Participantes:</label>
                        <div class="col-sm-12">
                            <div class="input-group">

                                @Html.DropDownListFor(x => x.LstIdDocentesParticipantes, Model.DocentesDisponibles, new { @class = "form-control js-example-basic-multiple", @id = "DocenteId", @name = "[]IdDocente", @multiple = "multiple", @Style = "width: 100%", @disabled = true })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" style="text-align: left">
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12" style="text-align: right;">
                            <input type="submit" value="@LayoutResource.Guardar" class="btn btn-primary" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="@Url.Content("~/Content/vendor/moment/moment.esdo.min.js")"></script>
<script src="@Url.Content("~/Content/vendor/moment/moment.enca.min.js")"></script>

<script type="text/javascript">
    var lang = $('html').attr('lang');
    var letterNumbers = /^(?:(?![×Þß÷þø])[-'"\ñ0-9a-zA-ZÀ-ÿ ?!&¿¡,.():-\s])+$/;
    if (lang === 'es-PE') {
        jQuery.extend(jQuery.validator.messages, {
            required: '@ErrorResource.CampoRequerido',
        });
    }

    $('#idLugar').focus(function () {
        $('div.error').hide();
    });

    $('#CreateARD').validate({
        errorClass: "help-block",
        submitHandler: function (form) {
            var place = $('#idLugar').val();
            if (!place.match(letterNumbers)) {
                $('div.error span').html('@ErrorResource.CaracteresInvalidos');
                $('div.error').show();
                return false;
            }
            $('div.error').hide();
            form.submit();
            return true;
        }
    });

    $("#Sede").children().removeClass("col-md-6");
    $("#Sede").children().addClass("col-md-12");

    $("#CreateARD .panel-actions").click(function () {
        $('#VentanaModal').modal('hide');
    });

    $('.js-example-basic-multiple').select2({
        dropdownParent: $('#VentanaModal')
    });

    $('#Inicio').datetimepicker({
        locale: '@(CurrentCulture == ConstantHelpers.CULTURE.ESPANOL ? "es-do" : "en-ca")',
        format: "DD/MM/YYYY h:mm A"
    });

    $('#Fin').datetimepicker({
        locale: '@(CurrentCulture == ConstantHelpers.CULTURE.ESPANOL ? "es-do" : "en-ca")',
        format: "DD/MM/YYYY h:mm A"
    });

    $("#Inicio").on("dp.change", function (e) {
        var date2 = new Date(e.date);
        $('#fInicio').val(date2.toLocaleString('es-US', {hour12:false}));
        $('#Fin').data("DateTimePicker").minDate(date2);

        date2.setHours(date2.getHours() + 2);
        $('#fFin').val(date2.toLocaleString('es-US', {hour12:false}));
        $('#Fin').data("DateTimePicker").date(date2);
    });

    $("#Fin").on("dp.change", function (e) {
        var date2 = new Date(e.date);
        $('#fFin').val(date2.toLocaleString('es-US', {hour12:false}));
    });

</script>