﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.PreSchedule;
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.ConsultMeetingPreScheduleViewModel
@{
    ViewBag.Icon = "sticky-note";
    ViewBag.Title = AgendaResource.ReunionesDeDocente;
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    string CurrentCulture = cookie == null ? ConstantHelpers.CULTURE.ESPANOL : cookie.Value ?? ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs {
    @Html.Content("vendor/bootstrap-datepicker/bootstrap-datepicker.min.css")
    @Html.Content("vendor/jquery/jquery.min.js")

    @Html.HiddenFor(x => x.IdReunionProfesor);
    @Html.HiddenFor(x => x.IdUnidadAcademica);
    @Html.HiddenFor(x => x.AreaEncargada);
    @Html.HiddenFor(x => x.Semana);
    @Html.HiddenFor(x => x.Nivel);

}

<div class="row" id="ViewRP">
    <div class="col-md-12">
        @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + AgendaResource.DetallesDeReunion, PanelActions.Close)
        <div class="panel-body row">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label>
                        @AgendaResource.NombreDeLaReunion:
                    </label>
                </div>
                <div class="col-md-6 col-sm-6">
                    <span>@Model.NombreReunion</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label>
                        @AgendaResource.AreaEncargada:
                    </label>
                </div>
                <div class="col-md-6 col-sm-6">
                    <span>@Model.AreaEncargada</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label>
                        @AgendaResource.Semana:
                    </label>
                </div>
                <div class="col-md-6 col-sm-6">
                    <span>@Model.Semana</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label>
                        @AgendaResource.Nivel:
                    </label>
                </div>
                <div class="col-md-6 col-sm-6">
                    <span>@Model.Nivel</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label>
                        @AgendaResource.InicioDeReunion:
                    </label>
                </div>
                <div class="col-md-6 col-sm-6">
                    <span>@Model.Inicio.ToDateTime().ToLocalTime()</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label>
                        @AgendaResource.FinDeReunion:
                    </label>
                </div>
                <div class="col-md-6 col-sm-6">
                    <span>@Model.Fin.ToDateTime().ToLocalTime()</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <label>
                        @AgendaResource.LugarDeLaReunion:
                    </label>
                </div>
                <div class="col-md-6 col-sm-6">
                    <span>@Model.Lugar</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>
                        @AgendaResource.ParticipantesDeLaReunion:
                    </label>
                </div>
                <div class="col-md-12">
                    <ul>
                        @foreach (var item in Model.DocentesParticipantes)
                        {
                            <li>@item.Nombres</li>
                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    $("#Sede").children().removeClass("col-md-6")
    $("#Sede").children().addClass("col-md-12")

    $("#ViewRP .panel-actions").click(function () {
        $('#VentanaModalView').modal('hide');
    })
</script>