﻿@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.AddDetalleReunionViewModel
@{
    Layout = null;
    ViewBag.Title = AgendaResource.AgregarDetalleDeReunion;
    ViewBag.Icon = "navicon";
    ViewBag.GUID = Guid.NewGuid();
}
<style>
.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}
</style>


@using (Html.BeginForm("_AddDetalleReunion", "PreSchedule", FormMethod.Post, new { enctype = "multipart/form-data", id = "CreateActa" }))
{
    <div id="modal-@ViewBag.GUID">
        <div class="modal-header" id="modalHead-@ViewBag.GUID">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="deleteMarkup()"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title"><i class="fa fa-@ViewBag.Icon contrast">&nbsp;</i> @ViewBag.Title </h4>
        </div>
               
        <div class="modal-body">
            <div class="row" id="Agenda">     
                    <div class="form-group">
                        <label>@AgendaResource.Agenda: </label>
                        <div>
                            <div class="input-group">
                                <input type="text" class="form-control" />
                                <span class="btn input-group-addon add-field">(+)</span>
                            </div>
                            <span class="help-block">@AgendaResource.IngresaLaAgenda </span>
                        </div>
                    </div>                
            </div>
            <div class="row" id="Descripcion">
                <div class="form-group">
                    <label>@AgendaResource.IngresarElDetalle</label>
                    <textarea style="resize: none; height: 100px;" id="taDetalle-@ViewBag.GUID" class="form-control" placeholder="@AgendaResource.IngreseElDetalleAqui"></textarea>
                </div>
            </div>

                <div class="form-group">
                    <label>@AgendaResource.SeleccionarElTemaDeAgendaAsociado</label>
                    <select class="form-control" id="lstAgendas-@ViewBag.GUID"></select>
                    <textarea style="resize: none; height: 100px;" id="taAgenda-@ViewBag.GUID" class="form-control" readonly></textarea>
                </div>

            </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteMarkup()"><i class="fa fa-times"></i> @ButtonsOptionsResource.Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="aceptar()"><i class="fa fa-check"></i> @AgendaResource.Aceptar</button>
        </div>
    </div>
}
<script>


    var template = '<div class="input-group"><input type="text" class="form-control"/></div>',
        minusButton = '<span class="btn input-group-addon delete-field">(-)</span>';

    $('.add-field').click(function () {
        alert()
        var temp = $(template).insertBefore('.help-block');
        temp.append(minusButton);
    });

    $('.fields').on('click', '.delete-field', function () {
        $(this).parent().remove();
    });
</script>
