﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.PreSchedule
@model  UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.PreSchedule.AgendaPreScheduleViewModel
@{
    ViewBag.Title = AgendaResource.Titulo;
    ViewBag.Icon = "calendar";
}

@section Styles{
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })">@AgendaResource.PreAgenda</a></li>
}

<div class="modal-dialog modal-center">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" onclick="Regresar()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">@PreScheduleResource.Agenda - @Model.Motivo</h4>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2">@(AgendaResource.Tema): </label>
                    <div class="col-sm-10 input-group input-group-file">
                        <input id="txtTema" class="form-control" type="text">
                        <span class="input-group-btn" onclick="AgregarTema()">
                            <span class="btn btn-primary">
                                @AgendaResource.Agregar
                            </span>
                        </span>
                    </div>
                </div>
                @Html.HiddenFor(m=>m.IdPreAgenda)
                <div class="form-group">

                    <table class="table table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <td align="center">#</td>
                                <td align="center">@AgendaResource.Temas</td>
                                <td align="center">@AgendaResource.Eliminar</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.ListaTemasPreAgenda.Any())
                            {
                                <tr id="item-default">
                                    <td colspan="3" align="center">
                                        @AgendaResource.NoHayTemasEnEstaPreAgenda
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.ListaTemasPreAgenda.Count; i++)
                                {
                                    <tr id="item-@Model.ListaTemasPreAgenda[i].IdTemaPreAgenda">
                                        <td align="center">@(i + 1)</td>
                                        <td>@Model.ListaTemasPreAgenda[i].DescripcionTemaPreAgenda</td>
                                        <td align="center">
                                            <button class="btn btn-icon btn-default btn-outline" type="button" onclick="EliminarTema(@Model.ListaTemasPreAgenda[i].IdTemaPreAgenda)"><i class="icon wb-trash" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="Regresar()">@AgendaResource.Regresar</button>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function Regresar() {
            location.href = '@Url.Action("Consult", new { Area = ConstantHelpers.AREAS.MEETING })';
        }
    </script>

    <script>
        function AgregarTema() {
            var tema = document.getElementById('txtTema').value;
            var IdPreAgenda = document.getElementById('IdPreAgenda').value;
            if ( tema == null || tema.length == 0 || tema.trim() == "")
                return;

            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddTemaAgenda", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })',
                dataType: 'json',
                data: { nombreTema: tema, idPreAgenda: IdPreAgenda },
                success: function (idTema) {
                    var rowx = document.getElementById('item-default');
                    if (rowx != null) {
                        var tablex = rowx.parentNode;
                        while (tablex && tablex.tagName != 'TABLE')
                            tablex = tablex.parentNode;
                        if (!tablex)
                            return;
                        tablex.deleteRow(rowx.rowIndex);
                    }
                    document.getElementById('txtTema').value = "";
                    var table = document.getElementById("myTable");
                    var row = table.insertRow();
                    row.id = "item-" + idTema;
                    var cell0 = row.insertCell();
                    var cell1 = row.insertCell();
                    var cell2 = row.insertCell();
                    cell0.innerHTML = 1;
                    cell0.align = "center";
                    cell1.innerHTML = tema;
                    cell2.innerHTML = "<button class='btn btn-icon btn-default btn-outline' type='button' onclick='EliminarTema(" + idTema + ")'><i class='icon wb-trash' aria-hidden='true'></i></button>";
                    cell2.align = "center";

                    RenumerarCeldas();
                },
                error: function (ex) {
                    alert('@(AgendaResource.Alerta)');
                }
            });
        }

        function EliminarTema(idTemaPreAgenda) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteTemaAgenda", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })',
                dataType: 'json',
                data: { id: idTemaPreAgenda },
                success: function (temaPreAgenda) {
                    //document.getElementById("myTable").deleteRow(pos);
                    var row = document.getElementById('item-' + idTemaPreAgenda);
                    var table = row.parentNode;
                    while (table && table.tagName != 'TABLE')
                        table = table.parentNode;
                    if (!table)
                        return;
                    table.deleteRow(row.rowIndex);

                    RenumerarCeldas();
                },
                error: function (ex) {
                    alert('@(AgendaResource.Alerta)');
                }
            });
        }

        function RenumerarCeldas() {
            var table = document.getElementById("myTable");
            for (var i = 0, row; row = table.rows[i]; i++) {
                //iterate through rows
                //rows would be accessed using the "row" variable assigned in the for loop
                for (var j = 0, col; col = row.cells[j]; j++) {
                    //iterate through columns
                    //columns would be accessed using the "col" variable assigned in the for loop
                    if (i != 0 && j == 0)
                        col.innerHTML = i;;
                }
            }
        }
    </script>
}