﻿@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.PreSchedule.PreSchedulesViewModel
@{
    ViewBag.Title = PreScheduleResource.ConsultarPreAgenda;
    ViewBag.Icon = "calendar";
    ViewBag.Culture = System.Threading.Thread.CurrentThread.CurrentUICulture.ToString();
}

@section Styles{
}

@section Breadcrumbs {
}
<div class="row">
    <form action="@Url.Action("Consult","PreSchedule")">
        <div class="col-md-12">
            <div class="panel filters">
                @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + Filtros.Filtro, PanelActions.Collapse)
                <div class="panel-body">

                    @Html.FormGroup(Filtros.Nivel + ":", Html.DropDownListFor(m => m.IdNivel, Model.Niveles, Filtros.Todos, new { @class = "form-control", data_plugin = "select2" }))

                    @Html.FormGroup(Filtros.Semana + ":", Html.DropDownListFor(m => m.IdSemana, Model.Semanas, Filtros.Todas, new { @class = "form-control", data_plugin = "select2" }))

                    <div class="form-group col-sm-12 col-md-6">
                        @Html.LabelFor(x => x.FechaInicio, new { @class = "col-sm-12 control-label" })

                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                </span>
                                @Html.TextBoxFor(x => x.FechaInicio, ViewBag.Culture == ConstantHelpers.CULTURE.INGLES ? "{0:MM/dd/yyyy}" : "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-6">
                        @Html.LabelFor(x => x.FechaFin, new { @class = "col-sm-12 control-label" })
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                </span>
                                @Html.TextBoxFor(x => x.FechaFin, ViewBag.Culture == ConstantHelpers.CULTURE.INGLES ? "{0:MM/dd/yyyy}" : "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                            </div>
                        </div>
                    </div>

                    @Html.FormGroup(Filtros.Sede + ":", Html.DropDownListFor(m => m.IdSede, Model.Sedes, Filtros.Todos, new { @class = "form-control", data_plugin = "select2" }))

                    @Html.FormGroup(Filtros.Area + ":", Html.DropDownListFor(m => m.IdArea, Model.Areas, Filtros.Todos, new { @class = "form-control", data_plugin = "select2" }))

                    <div class="col-sm-12 text-right">
                        <button type="submit" id="btnBuscar" class="btn btn-dark" @*onclick="fnBuscar()"*@><i class="fa fa-search"></i> @ButtonsOptionsResource.Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">

    <div class="panel">
        <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
            <a class="panel-title" data-toggle="collapse" href="#exampleCollapseDefaultOne"
               data-parent="#exampleAccordionDefault" aria-expanded="true"
               aria-controls="exampleCollapseDefaultOne">
                <i class="fa fa-align-justify"></i> @Filtros.Resultados
            </a>
        </div>
        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne"
             role="tabpanel">
            <div class="panel-body">

                <div class="text-right">
                    <a href="@Url.Action("Create", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })" class="btn btn-primary"><i class="fa fa-plus"></i> @ButtonsOptionsResource.Crear</a>
                </div>

                <div class="panel-body row">
                    <table id="tblResultados" class="table table-striped table-hover table-highlight table-checkable" data-info="true" data-length-change="true" data-paginate="true">
                        <thead>
                            <tr>
                                <th width="4%">@Filtros.Nivel</th>
                                <th width="7%">@Filtros.Semana</th>
                                <th width="16%">@Filtros.FechaEstimada</th>
                                <th width="8%">@Filtros.Sede</th>
                                <th width="14%">@Filtros.Area</th>
                                <th width="17%">@PreScheduleResource.Motivo</th>
                                <th width="7%">@PreScheduleResource.Agenda</th>
                                <th width="14%">@Filtros.Opciones</th>
                                <th width="13%">@PreScheduleResource.CrearReunion</th>
                            </tr>
                        </thead>
                        @if (Model.ListaPreAgendaResultado != null)
                        {
                            <tbody id="SOPPP">
                                @for (int i = 0; i < Model.ListaPreAgendaResultado.Count(); i++)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @Model.ListaPreAgendaResultado[i].Nivel
                                        </td>
                                        <td class="text-center">@Model.ListaPreAgendaResultado[i].Semana</td>
                                        <td class="text-center">
                                            @if (ViewBag.Culture == ConstantHelpers.CULTURE.ESPANOL)
                                            {
                                                <text>@Model.ListaPreAgendaResultado[i].FechaReunion.Value.ToString("dd/MM/yyyy")</text>
                                            }
                                            else
                                            {
                                                <text>@Model.ListaPreAgendaResultado[i].FechaReunion.Value.ToString("MM/dd/yyyy")</text>
                                            }
                                        </td>
                                        <td>
                                            @Model.ListaPreAgendaResultado[i].Sede.Nombre
                                        </td>
                                        <td>
                                            @if (ViewBag.Culture == ConstantHelpers.CULTURE.ESPANOL)
                                            {
                                                <label>@Model.ListaPreAgendaResultado[i].UnidadAcademica.NombreEspanol</label>
                                            }
                                            else
                                            {
                                                <label>@Model.ListaPreAgendaResultado[i].UnidadAcademica.NombreIngles</label>
                                            }
                                        </td>
                                        <td>
                                            @Model.ListaPreAgendaResultado[i].Motivo
                                        </td>


                                        <td>
                                            <a href="@Url.Action("Agenda", "PreSchedule",new { id = Model.ListaPreAgendaResultado[i].IdPreAgenda })" class="btn btn-icon btn-default btn-outline">
                                                <i class="icon wb-list-bulleted" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="@Url.Action("Details", new { Area = ConstantHelpers.AREAS.MEETING, id = Model.ListaPreAgendaResultado[i].IdPreAgenda })" class="btn btn-icon btn-default btn-outline">
                                                    <i class="icon wb-search" aria-hidden="true"></i>&nbsp;&nbsp;@ButtonsOptionsResource.Visualizar
                                                </a>
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li role="presentation"><a href="@Url.Action("Edit", new { Area = ConstantHelpers.AREAS.MEETING, id = Model.ListaPreAgendaResultado[i].IdPreAgenda })"><i class="icon wb-edit" aria-hidden="true"></i>&nbsp;&nbsp;@ButtonsOptionsResource.Editar</a></li>
                                                    <li role="presentation"><a onclick="EliminarPreAgenda(@Model.ListaPreAgendaResultado[i].IdPreAgenda)"><i class="icon wb-trash" aria-hidden="true"></i>&nbsp;&nbsp;@ButtonsOptionsResource.Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <a href="@Url.Action("MeetingsAssociated", "Meeting", new { Area = ConstantHelpers.AREAS.MEETING, idPreAgenda = Model.ListaPreAgendaResultado[i].IdPreAgenda })" class="btn btn-icon btn-default btn-outline">
                                                <i class="icon wb-clipboard" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>

        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeletePreAgendasExtraordinariasNoUtilizadas", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })',
            dataType: 'json',
            success: function (data) {
            },
            error: function (ex) {
            }
        });

        function EliminarPreAgenda(idPreAgenda) {
            var r = confirm("@AgendaResource.DeseaEliminarEstaPreAgenda");
            if (r == true) {
                location.href = '@Url.Action("Delete", new { Area = ConstantHelpers.AREAS.MEETING })' + "/" + idPreAgenda;
            }
        }

        function fnBuscar() {
            var url = '@Url.Action("PreSchedules", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })';
            url += '?isSearchRequest=true';

            var IdNivel = $("#IdNivel").val();
            var IdSemana = $("#IdSemana").val();
            var FechaInicio = null;
            var FechaFin = null;
            if (IdSemana == "" || IdSemana == null) {
                FechaInicio = document.getElementById('FechaInicio').value;
                FechaFin = document.getElementById('FechaFin').value;
            }
            var IdSede = $("#IdSede").val();
            var IdArea = $("#IdArea").val();

            url = concatNotNull(url, 'IdNivel', IdNivel);
            url = concatNotNull(url, 'IdSemana', IdSemana);
            url = concatNotNull(url, 'FechaInicio', FechaInicio);
            url = concatNotNull(url, 'FechaFin', FechaFin);
            url = concatNotNull(url, 'IdSede', IdSede);
            url = concatNotNull(url, 'IdArea', IdArea);

            location.href = url;
        };

        function concatNotNull(cadena, texto, valor) {
            if (valor != "" && valor != null)
                return cadena + '&' + texto + '=' + valor;
            return cadena;
        };
        $(function () {

            $('#IdSemana').on('change', function () {
                var semana = $(this).val();
                var model = {};
                model['semana'] = semana;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("FechasSemana", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })',
                    dataType: 'json',
                    data: model,
                    success: function (data) {
                        $('#FechaInicio').val(ToJavaScriptDate(data[0]));
                        $('#FechaFin').val(ToJavaScriptDate(data[1]));
                    },
                    error: function (ex) {
                    }
                });
            })


            @*function fnActualizarFechas() {
                var Semana = $("#IdSemana").val();
                document.getElementById('FechaInicio').value = "01/03/2016";
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("FechasSemana", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })',
                    dataType: 'json',
                    data: { semana: Semana },
                    success: function (data) {
                        document.getElementById('FechaInicio').value = ToJavaScriptDate(data[0]);
                        document.getElementById('FechaFin').value = ToJavaScriptDate(data[1]);
                    },
                    error: function (ex) {
                    }
                });
            }*@

            function ToJavaScriptDate(value) {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                var fecha;
                @if (ViewBag.Culture == ConstantHelpers.CULTURE.ESPANOL)
                {
                    <text>
                //if (dt.getDate() < 9 && dt.getMonth() < 9)
                //    fecha = "0" + (dt.getDate() + 1) + "/" + "0" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                //else if (dt.getDate() < 9 && dt.getMonth() >= 9)
                //    fecha = "0" + (dt.getDate() + 1) + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                //else if (dt.getDate() >= 9 && dt.getMonth() < 9)
                //    fecha = (dt.getDate() + 1) + "/" + "0" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                //else
                fecha = (dt.getDate() + 1) + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();

                return fecha;
                </text>
                }
                else
                {
                    <text>
                return (dt.getMonth() + 1) + "/" + (dt.getDate() + 1) + "/" + dt.getFullYear();
                </text>
                }
            }


        })





    </script>
}