﻿@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.PreSchedule.ConsultPreScheduleViewModel
@{
    ViewBag.Title = PreScheduleResource.ConsultarPreAgenda;
    ViewBag.Icon = "calendar";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    string CurrentCulture = cookie == null ? ConstantHelpers.CULTURE.ESPANOL : cookie.Value ?? ConstantHelpers.CULTURE.ESPANOL;
}

@section Styles{
}

@section Breadcrumbs {
}
<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + Filtros.Filtro, PanelActions.Collapse)
            <div class="panel-body">
                <form>
                    @Html.FormGroup(Filtros.Nivel + ":", Html.DropDownListFor(m => m.IdNivel, Model.Niveles, Filtros.Todos, new { @class = "form-control", data_plugin = "select2" }))
                    @Html.FormGroup(Filtros.Semana + ":", Html.DropDownListFor(m => m.IdSemana, Model.Semanas, Filtros.Todas, new { @class = "form-control", data_plugin = "select2" }))
                    <div class="form-group col-sm-12 col-md-6">
                        @Html.LabelFor(x => x.FechaInicio, new { @class = "col-sm-12 control-label" })
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                </span>
                                @Html.TextBoxFor(x => x.FechaInicio, ViewBag.Culture == ConstantHelpers.CULTURE.INGLES ? "{0:MM/dd/yyyy}" : "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 col-md-6">
                        @Html.LabelFor(x => x.FechaFin, new { @class = "col-sm-12 control-label" })
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                </span>
                                @Html.TextBoxFor(x => x.FechaFin, ViewBag.Culture == ConstantHelpers.CULTURE.INGLES ? "{0:MM/dd/yyyy}" : "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                            </div>
                        </div>
                    </div>
                    @Html.FormGroup(Filtros.Sede + ":", Html.DropDownListFor(m => m.IdSede, Model.Sedes, Filtros.Todos, new { @class = "form-control", data_plugin = "select2" }))
                    @Html.FormGroup(Filtros.Area + ":", Html.DropDownListFor(m => m.IdArea, Model.Areas, Filtros.Todos, new { @class = "form-control", data_plugin = "select2" }))

                    <div class="col-sm-12 text-right">
                        <button type="submit" id="btnBuscar" class="btn btn-dark"><i class="fa fa-search"></i> @ButtonsOptionsResource.Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">

    <div class="panel">
        <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
            <a class="panel-title" data-toggle="collapse" href="#exampleCollapseDefaultOne"
               data-parent="#exampleAccordionDefault" aria-expanded="true"
               aria-controls="exampleCollapseDefaultOne">
                <i class="fa fa-align-justify"></i> @Filtros.Resultados
            </a>
        </div>
        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne"
             role="tabpanel">
            <div class="panel-body">

                <div class="text-right">
                    <a href="@Url.Action("Create", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })" class="btn btn-primary"><i class="fa fa-plus"></i> @ButtonsOptionsResource.Crear</a>
                </div>

                <div class="panel-body row">
                    <table id="tblResultados" class="table table-striped table-hover table-highlight table-checkable" data-info="true" data-length-change="true" data-paginate="true">
                        <thead>
                            <tr>
                                <th>@Filtros.Nivel</th>
                                <th width="30">@Filtros.Semana</th>
                                <th width="100">@Filtros.FechaEstimada</th>
                                <th>@Filtros.Sede</th>
                                <th width="200">@Filtros.Area</th>
                                <th width="240">@PreScheduleResource.Motivo</th>
                                <th>@PreScheduleResource.Agenda</th>
                                <th>@Filtros.Opciones</th>
                                <th>@PreScheduleResource.CrearReunion</th>
                            </tr>
                        </thead>
                        @if (Model.ListaPreAgendaResultado != null)
                        {
                            <tbody id="SOPPP">
                                @for (int i = 0; i < Model.ListaPreAgendaResultado.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            @Model.ListaPreAgendaResultado[i].Nivel
                                        </td>
                                        <td>@Model.ListaPreAgendaResultado[i].Semana</td>
                                        <td>
                                            @if (ViewBag.Culture == ConstantHelpers.CULTURE.ESPANOL)
                                            {
                                                <text>@Model.ListaPreAgendaResultado[i].FechaReunion.Value.ToString("dd/MM/yyyy")</text>
                                            }
                                            else
                                            {
                                                <text>@Model.ListaPreAgendaResultado[i].FechaReunion.Value.ToString("MM/dd/yyyy")</text>
                                            }
                                        </td>
                                        <td>
                                            @Model.ListaPreAgendaResultado[i].Sede.Nombre
                                        </td>
                                        <td>
                                            @if ( ViewBag.Culture == ConstantHelpers.CULTURE.ESPANOL)
                                            {
                                                <label>@Model.ListaPreAgendaResultado[i].UnidadAcademica.NombreEspanol</label>
                                            }
                                            else
                                            {
                                                <label>@Model.ListaPreAgendaResultado[i].UnidadAcademica.NombreIngles</label>
                                            }
                                        </td>
                                        <td>
                                            @Model.ListaPreAgendaResultado[i].Motivo
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Agenda","PreSchedule" , new { Area = ConstantHelpers.AREAS.MEETING, id = Model.ListaPreAgendaResultado[i].IdPreAgenda })" class="btn btn-icon btn-default btn-outline">
                                                <i class="icon wb-list-bulleted" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="@Url.Action("Details","PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING, id = Model.ListaPreAgendaResultado[i].IdPreAgenda })" class="btn btn-icon btn-default btn-outline">
                                                    <i class="icon wb-search" aria-hidden="true"></i>&nbsp;&nbsp;@ButtonsOptionsResource.Visualizar
                                                </a>
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="@Url.Action("Edit","PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING, id = Model.ListaPreAgendaResultado[i].IdPreAgenda })" class="btn btn-icon btn-default btn-outline">
                                                            <i class="icon wb-edit" aria-hidden="true"></i>&nbsp;&nbsp;@ButtonsOptionsResource.Editar
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a onclick="EliminarPreAgenda(@Model.ListaPreAgendaResultado[i].IdPreAgenda)" class="btn btn-icon btn-default btn-outline">
                                                            <i class="icon wb-trash" aria-hidden="true"></i>&nbsp;&nbsp;@ButtonsOptionsResource.Eliminar
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Reunions", "Meeting", new { Area = ConstantHelpers.AREAS.MEETING, id = Model.ListaPreAgendaResultado[i].IdPreAgenda })" class="btn btn-icon btn-default btn-outline">
                                                <i class="icon wb-clipboard" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
                @Html.PagedListPager(Model.ListaPreAgendaResultado, page => Url.Action("X", new { p = page }), ConstantHelpers.TwitterBootstrapPagerAligned)
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/Views/Shared/ged-helper.js")"></script>

    <script>

        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeletePreAgendasExtraordinariasNoUtilizadas", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })',
            dataType: 'json',
            success: function (data) {
            },
            error: function (ex) {
            }
        });

        function EliminarPreAgenda(idPreAgenda) {
            var r = confirm("@AgendaResource.DeseaEliminarEstaPreAgenda");
            if (r == true) {
                location.href = '@Url.Action("Delete", new { Area = ConstantHelpers.AREAS.MEETING })' + "/" + idPreAgenda;
            }
        }

        $(function () {

                $('#IdSemana').on('change', function () {
                var semana = $(this).val();
                var model = {};
                model['semana'] = semana;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("FechasSemana", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })',
                    dataType: 'json',
                    data: model,
                    success: function (data) {
                        $('#FechaInicio').val(ToJavaScriptDate(data[0]));
                        $('#FechaFin').val(ToJavaScriptDate(data[1]));
                    },
                    error: function (ex) {
                    }
                });
            })


            @*function fnActualizarFechas() {
                var Semana = $("#IdSemana").val();
                document.getElementById('FechaInicio').value = "01/03/2016";
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("FechasSemana", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })',
                    dataType: 'json',
                    data: { semana: Semana },
                    success: function (data) {
                        document.getElementById('FechaInicio').value = ToJavaScriptDate(data[0]);
                        document.getElementById('FechaFin').value = ToJavaScriptDate(data[1]);
                    },
                    error: function (ex) {
                    }
                });
            }*@

                   function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            var fecha;
            @if (CurrentCulture == ConstantHelpers.CULTURE.ESPANOL)
            {
                <text>
            if (dt.getDate() < 9 && dt.getMonth() < 9)
                fecha = "0" + (dt.getDate() + 1) + "/" + "0" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
            else if (dt.getDate() < 9 && dt.getMonth() >= 9)
                fecha = "0" + (dt.getDate() + 1) + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
            else if (dt.getDate() >= 9 && dt.getMonth() < 9)
                fecha = (dt.getDate() + 1) + "/" + "0" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
            else
                fecha = (dt.getDate() + 1) + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();

            return fecha;
            </text>
            }
            else
            {
                <text>
            return (dt.getMonth()+1) + "/" + (dt.getDate() + 1) + "/" + dt.getFullYear();
            </text>
            }
        }


        })





    </script>
}