﻿@model  UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.PreSchedule.CreatePreScheduleViewModel
@{
    ViewBag.Title = PreScheduleResource.TituloCrearPreAgenda;
    ViewBag.Icon = "calendar";
}

@section Styles{
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index","PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })">Pre-Agenda</a></li>
}

<div class="col-md-1"></div>
<div class="col-md-10">

    <div class="panel filters">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-check"></i> @PreScheduleResource.IngresePreAgenda</h3><div class="panel-actions"><a aria-hidden="true" class="panel-action icon wb-minus" data-toggle="panel-collapse"></a></div>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(String.Empty, new { @class = "text-danger" })

                <div class="form-group col-md-6">
                    <label>@Filtros.Nivel</label>
                    @Html.DropDownListFor(m => m.PreAgenda.Nivel, Model.Niveles, new { @class = "form-control", data_plugin = "select2", onchange = "fnCargarUnidadesAcademicas()" })
                </div>

                <div class="form-group col-md-6">
                    <label>@Filtros.Sede</label>
                    @Html.DropDownListFor(m => m.PreAgenda.IdSede, Model.Sedes, new { @class = "form-control", data_plugin = "select2" })

                </div>

                <div class="form-group col-md-6">
                    <label id="lblNombreUnidadAcademica">@Model.TituloUnidadAcademica</label>
                    @Html.DropDownListFor(m => m.PreAgenda.IdUnidaAcademica, Model.UnidadesAcademicas, new { @class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                    <label>@Filtros.FechaEstimada</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="icon wb-calendar" aria-hidden="true"></i>
                        </span>
                        @Html.TextBoxFor(m => m.PreAgenda.FechaReunion, "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label>@Filtros.Motivo</label>
                    @Html.TextAreaFor(m => m.PreAgenda.Motivo, new { @class = "form-control" })
                </div>

                <div class="text-right col-md-12">
                    <a class="btn btn-default animsition-link" href="@Url.Action("Index", "PreSchedule")"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @LayoutResource.Aceptar </button>
                </div>
            }
        </div>
    </div>
</div>

    @section Scripts{
        <script>
            function fnCargarUnidadesAcademicas() {
                var IdNivel = $("#PreAgenda_Nivel").val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ActualizarUnidadesAcademicas", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })',
                    dataType: 'json',
                    data: { idNivel: IdNivel },
                    success: function (data) {
                        if (IdNivel == 1)
                            document.getElementById('lblNombreUnidadAcademica').innerHTML = "@Filtros.Area";
                        if (IdNivel == 2)
                            document.getElementById('lblNombreUnidadAcademica').innerHTML = "@Filtros.Subarea";
                        if (IdNivel == 3)
                            document.getElementById('lblNombreUnidadAcademica').innerHTML = "@Filtros.Curso";
                        //Clear
                        $('#PreAgenda_IdUnidaAcademica')
                                .find('option')
                                .remove()
                                .end();
                        //Add new elements
                        $.each(data, function (index, val) {
                            $('#PreAgenda_IdUnidaAcademica')
                                .append($("<option></option>")
                                .attr("value", val.Value)
                                .text(val.Text));
                        });
                    },
                    error: function (ex) {
                        //alert('Ocurrió un problema al guardar el tema. Por favor, intente más tarde.');
                    }
                });
            }
        </script>
    }
