﻿@model  UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.PreSchedule.CreatePreScheduleViewModel
@{
    ViewBag.Title = PreScheduleResource.VisualizarReunion;
    ViewBag.Icon = "calendar";
}

@section Styles{
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index","PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })">Pre-Agenda</a></li>
}


<div class="panel filters">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-check"></i> @PreScheduleResource.DatosPreAgenda</h3><div class="panel-actions"><a aria-hidden="true" class="panel-action icon wb-minus" data-toggle="panel-collapse"></a></div>
    </div>
    <div class="panel-body">
        <div class="form-group col-md-6">
            <label>@Filtros.Nivel</label>
            @Html.DropDownListFor(m => m.PreAgenda.Nivel, Model.Niveles, new { @class = "form-control", onchange = "fnCargarUnidadesAcademicas()", disabled = "" })
        </div>

        <div class="form-group col-md-6">
            <label>@Filtros.FechaEstimada</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="icon wb-calendar" aria-hidden="true"></i>
                </span>
                @Html.TextBoxFor(m => m.PreAgenda.FechaReunion, "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker", disabled = "" })
            </div>
        </div>


        <div class="form-group col-md-6">
            <label>@Filtros.Sede</label>
            @Html.DropDownListFor(m => m.PreAgenda.IdSede, Model.Sedes, new { @class = "form-control", disabled = "" })
        </div>


        <div class="form-group col-md-6">
            <label id="lblNombreUnidadAcademica">@Model.TituloUnidadAcademica</label>
            @Html.DropDownListFor(m => m.PreAgenda.IdUnidaAcademica, Model.UnidadesAcademicas, new { @class = "form-control", disabled = "" })
        </div>

        <div class="form-group col-md-12">
            <label>@Filtros.Motivo</label>
            @Html.TextAreaFor(m => m.PreAgenda.Motivo, new { @class = "form-control", disabled = "" })
        </div>

        <div class="text-right col-md-12">
            <a class="btn btn-outline btn-default" href="@Url.Action("Index", "PreSchedule")"><i class="fa fa-arrow-left"></i>@LayoutResource.Regresar</a>
            <a class="btn btn-primary" href="@Url.Action("Edit", new { Area = ConstantHelpers.AREAS.MEETING, id = Model.PreAgenda.IdPreAgenda })">
                <i class="fa fa-edit"></i> @LayoutResource.Editar
            </a>
        </div>
    </div>
</div>
