﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.ImprovementActions
@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;
@using UPC.CA.ABET.Helpers
@using PagedList
@using PagedList.Mvc

@model IPagedList<ListImprovementActionViewModel>

<div class="table-responsive">
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>@ReportResource.HeaderCode</th>
				<th>@ReportResource.HeaderDescription</th>
				<th>@ReportResource.HeaderStatus</th>
				<th>Opciones</th>
			</tr>
		</thead>
		<tbody>

           
			@foreach (var item in Model)
			{
				<tr>
					<td style="min-width: 220px;">@item.Code</td>
					<td>@item.Description</td>
					<td>@ConstantHelpers.PROFESSOR.IFC.ACCIONES_MEJORA.ESTADOS.GetEstadoAccionMejora(item.Status)</td>
					<td>
						<div class="btn-group  display-table-cell cell-options vertical-align-top pull-right" role="group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span class="col-sm-hidden">
									@ReportResource.ButtonOptions
								</span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation">
									<a href="@Url.Action("ManageControlReport", new { id = item.IdImprovementAction })">
										<i aria-hidden="true" class="fa fa-pencil"></i>
										@LayoutResource.Editar
									</a>
								</li>
								<li role="presentation">
									<a data-ajax="true" data-ajax-method="GET" data-ajax-update="#custom-modal" data-ajax-success="openModal();" href="@Url.Action("DeleteControlReport", new { id = item.IdImprovementAction })">
										<i aria-hidden="true" class="fa fa-trash"></i>
										@ReportResource.ButtonDelete
									</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div class="text-right">
	@Html.PagedListPager(Model, page => Url.Action("ConsultControlReport", new { page = page }))
</div>