﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase*@
@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.ImprovementActions

@model DeleteViewModel

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	<h4 class="modal-title">
		<i class="fa fa-binoculars contrast">&nbsp;</i>
		@(Model.LanguageCulture == "en-US" ? "Delete Improvement Action" : "Eliminar Accion de Mejora")
	</h4>
</div>
@using (Ajax.BeginForm("DeleteControlReport", new AjaxOptions
{
	UpdateTargetId = "custom-modal-improv",
	HttpMethod = "POST",
	OnBegin = "$('[delete-buttons] > button').attr('disabled', true);",
	OnComplete = "$('[delete-buttons] > button').removeAttr('disabled');"
}))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => Model.Id)
	@Html.HiddenFor(m => Model.LanguageCulture)
	<div class="modal-body">
		@if (Model.LanguageCulture == "en-US")
		{
			if (Model.CanDelete)
			{
				<p>
					¿Are you sure to delete the selected improvement action?
				</p>
			}
			else
			{
				<p>
					you can't delete the improvement action because it's in use in are action plan
				</p>
			}
		}
		else
		{
			if (Model.CanDelete)
			{
				<p>
					¿Está seguro de eliminar la accion de mejora seleccionada?
				</p>
			}
			else
			{
				<p>
					No se puede eliminar la acción de mejora porque se encuentra en un plan de Acción.
				</p>
			}
		}
	</div>
	<div class="modal-footer" delete-buttons>
		@if (Model.CanDelete)
		{
			<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @ReportResource.ButtonCancel</button>
			<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>@ReportResource.ButtonDelete</button>
		}
		else
		{
			<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"></i>@LayoutResource.Aceptar</button>
		}

	</div>
}

@if (Model.Saved.HasValue && Model.Saved.Value)
{
	<script>
		closeModal();
		getDataOnDelete();
	</script>
}