﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ImprovementActions
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.ImprovementActions
@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model ConsultControlReportViewModel

@{
	ViewBag.Title = ReportResource.TitleConsultControlReport;
	ViewBag.Icon = "search";
}

@section Breadcrumbs{
	<li>@UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Shared.SidebarResource.AccionesMejora</li>
}

<div class="modal fade" tabindex="-1" role="dialog" id="custom-modal-improv-container" style="z-index:1750;">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="custom-modal-improv">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel filters">
			@Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ReportResource.HeaderFilter, PanelActions.Collapse)
			@using (Ajax.BeginForm("ConsultControlReport", new AjaxOptions
			{
				HttpMethod = "POST",
				LoadingElementId = "main-loader",
				UpdateTargetId = "report-container"
			}))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(m => m.OutcomeTypeName)
				<div class="panel-body row">
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCycle, Html.DropDownListFor(m => Model.CycleId, ViewBag.DropDownListCycle as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CycleId))
						@Html.FormGroup(ReportResource.LabelAcceptanceLevel, Html.DropDownListFor(m => Model.AcceptanceLevelId, Model.DropDownListAcceptanceLevel as SelectList, ReportResource.OptionAll, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.AcceptanceLevelId))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCareer, Html.DropDownListFor(m => Model.CareerId, ViewBag.DropDownListCareer as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CareerId))
						@Html.FormGroup(ReportResource.LabelCommission, Html.DropDownListFor(m => Model.CommissionId, Model.DropDownListCommission as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CommissionId))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelStudentOutcome, Html.DropDownListFor(m => Model.StudentOutcomeId, Model.DropDownListStudentOutcome as SelectList, Model.DropDownListStudentOutcome.Count() > 1 ? ReportResource.OptionAll : null, new { @class = "form-control", @data_plugin = "select2" }), ValidateMessage: Html.ValidationMessageFor(m => Model.StudentOutcomeId))
						@Html.FormGroup(ReportResource.LabelCourse, Html.DropDownListFor(m => Model.CourseId, Model.DropDownListCourse as SelectList, ReportResource.OptionAll, new { @class = "form-control", @data_plugin = "select2" }))
					</div>
					@Html.PanelFooter(ReportResource.ButtonSearch, submitButtonClass: "btn-dark")
				</div>
			}
		</div>
		<div class="panel">
			@Html.PanelHeader("<i class=\"fa fa-list\"></i> " + LayoutResource.Listado, PanelActions.Fullscreen)
			<div class="panel-body" id="report-container">
				@{Html.RenderPartial("_ConsultControlReportTable", Model.ImprovementActions);}
			</div>
		</div>
	</div>
</div>

<a href="@Url.Action("ManageControlReport")" class="btn btn-dark animsition-link" id="newImpromentAction" style="margin-right: 5px;">
	<i aria-hidden="true" class="fa fa-plus"></i>
	@ReportResource.NewImprovementAction
</a>


@section Scripts {
	<script>

        $('#newImpromentAction').insertBefore($('#btnGenerateReport'));

        /// <reference path="~/Areas/Report/Content/js/main.js" />

        bindChange('#CycleId', function () { getCommissionsByCareer().then(getWithOptionAllStudentOutcomes).then(getSpecificControlCourses); });
        bindChange('#CareerId', function () { getCommissionsByCareer().then(getWithOptionAllStudentOutcomes).then(getSpecificControlCourses); });
        bindChange('#CommissionId', function () { getWithOptionAllStudentOutcomes().then(getSpecificControlCourses); });
        bindChange('#StudentOutcomeId', getSpecificControlCourses);


        function getWithOptionAllStudentOutcomes(data) {
            return getStudentOutcomes(data, '@ReportResource.OptionAll');
        }

        function getSpecificControlCourses(data) {
            var _data = getData();
            _data.CycleFromId = _data.CycleId;
            _data.CycleToId = _data.CycleId;
            setFirstValueWithCallback(_data, 'StudentOutcomeId', data, function (firstValue, array) {
                return array.length > 1 ? 0 : firstValue;
            });
            return loadCombo('#CourseId', reportCombosUrls.getControlCourses, _data, '@ReportResource.OptionAll', true);
        }

        $(document).on('click', '.pagination a', function () {
            if (this.href) {
                changePage(this.href);
            }

            return false;
        })

        function changePage(url) {
            var data = getData();

            data['__RequestVerificationToken'] = $('[name=__RequestVerificationToken]').val();

            $('#main-loader').fadeIn();

            return $.post(url, data)
            .done(function (html) { $('#report-container').html(html); })
            .complete(function () { $('#main-loader').fadeOut(); })
        }

        function getDataOnDelete() {
            var url = '@Url.Action("ConsultControlReport")?page=' + $('.pagination .active a').html();
            changePage(url);
        }
	</script>
}