﻿
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ImprovementActions
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ImprovementActions
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.ImprovementActions
@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model ManageViewModel

@{
	ViewBag.Title = Model.ImprovementActionId == 0 ? ReportResource.TitleCreateVerificationReport : ReportResource.TitleEditVerificationReport;
	ViewBag.Icon = "search";
}

@section Breadcrumbs{
	<li>@Html.ActionLink(UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Shared.SidebarResource.AccionesMejora, "ConsultVerificationReport")</li>
}

<div class="row">
	<div class="col-xs-12">
		<div class="panel filters">
			@Html.PanelHeader("<i class=\"fa fa-search\"></i> " + ReportResource.GeneralInformation, PanelActions.Collapse)
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(m => m.ImprovementActionId)
				@Html.HiddenFor(m => m.InstrumentId)
				<div class="panel-body row">
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCode, Html.TextBoxFor(m => m.Code, new { @class = "form-control", @readonly = "readonly" }), colMd: 4)
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelDescription, Html.TextAreaFor(m => m.Description, new { @class = "form-control", @cols = 20, @rows = 3 }), ValidateMessage: Html.ValidationMessageFor(m => m.Description), colMd: 12)
					</div>
					<div class="row">
						@Html.FormGroup(ManageResource.HallazgosAsociados, Html.DropDownListFor(m => Model.FindingsIds, Model.DropDownListFindings, new { @class = "form-control", @data_plugin = "select2", @multiple = true }), colMd: 12, ValidateMessage: Html.ValidationMessageFor(m => m.FindingsIds))
					</div>
				</div>
				@Html.PanelFooter(LayoutResource.Aceptar)
			}
		</div>
	</div>
</div>

<a href="@Url.Action("ConsultVerificationReport")" class="btn btn-dark animsition-link" id="cancelButton" style="margin-left: 5px;">
	<i aria-hidden="true" class="fa fa-plus"></i>
	@LayoutResource.Cancelar
</a>

@section Scripts {
	<script>
        $('#cancelButton').insertAfter($('#btnGenerateReport'));
        $('#btnGenerateReport > i').removeClass('fa-plus').addClass('fa-check');

        $(function () {
            $('#@Html.IdFor(m => m.FindingsIds)').val('@Model.SelectedValues'.split(',')).trigger('change');
        });
	</script>
}