﻿
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.OutcomeGoal.EditOutcomeViewModel

@{
    ViewBag.Title = ListOutcomeGoalResource.EditarLogros;
    ViewBag.Icon = "graduation-cap";
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListOutcomeGoal", "OutcomeGoal")">@ListOutcomeGoalResource.Titulo</a></li>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            @Html.PanelHeader(String.Format("<i class=\"fa fa-edit\"></i> {0}", Model.Outcome))

            @using (Html.BeginForm("EditOutcomeGoal", "OutcomeGoal", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.OutcomeComisionId)

                <div class="panel-body row">
                    @Html.EditorFor(x => x.LogroEsperado, "CustomOutcomeGoalTextArea")
                </div>
                <div class="panel-body row">
                    @Html.EditorFor(x => x.LogroSobresaliente, "CustomOutcomeGoalTextArea")
                </div>
                <div class="panel-body row">
                    @Html.EditorFor(x => x.LogroEjemplar, "CustomOutcomeGoalTextArea")
                </div>

                <div class="panel-footer text-right">
                    <button type="submit" class="btn btn-primary" id="btn-save">
                        <i class="fa fa-save"></i>
                        @ButtonResource.Guardar
                    </button>
                    <a class="btn btn-primary animsition-link" href="@Url.Action("ListOutcomeGoal", "OutcomeGoal")">
                        <i class="fa fa-arrow-left"></i>
                        @ButtonResource.Cancelar
                    </a>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var trySubmit = 0;
        $('#btn-save').click(function () {
            var allowSubmit = true;

            if (trySubmit > 0) {
                trySubmit++;
                allowSubmit = false;
            }
            else {
                trySubmit++;
            }
            return allowSubmit;
        });
    </script>
}
