﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.OutcomeGoal.ListOutcomeGoalViewModel

@{
    ViewBag.Title = ListOutcomeGoalResource.Titulo;
    ViewBag.Icon = "graduation-cap";
}

@section Styles {
    @Html.Content("css/more-styles.css", ConstantHelpers.AREAS.RUBRIC)
}

@section Breadcrumbs{
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="panel filters">
                @Html.PanelHeader(String.Format("<i class=\"fa fa-pencil\"></i> {0}", ListOutcomeGoalResource.EditarLogros))
                <div class="panel-body row">
                    @Html.FormGroup(ListOutcomeGoalResource.Outcomes, Html.DropDownListFor(m => m.OutcomeId, new SelectList(Model.LstOutcome, "IdOutcome", "Nombre"), OptionResource.Todos, new {@class = "form-control", @onchange = "changeOutcome(this.value)" }))
                </div>
            </div>
            <div class="panel filters">
                @Html.PanelHeader(String.Format("<i class=\"fa fa-list\"></i> {0}", ListOutcomeGoalResource.LogrosOutcomes))
                <div id="list-logro-outcome-view"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function() {
            obtenerLogrosPorOutcome();
            $('select').select2();
        });

        function changeOutcome(selectedValue) {
            obtenerLogrosPorOutcome();
        }

        function obtenerOutcome() {
            var outcomeId = $('#OutcomeId').val();
            if (!outcomeId) {
                outcomeId = "0";
            }
            return outcomeId;
        }

        function obtenerLogrosPorOutcome() {
            $.ajax({
                url: '@Url.Action("_ListOutcomeGoalPartialView", "OutcomeGoal")',
                type: "GET",
                data: {
                    WascId: @Model.WascId,
                    OutcomeId:  obtenerOutcome()
                    },
                success: function(data) {
                    $("#list-logro-outcome-view").html(data);
                },
                error: function() {
                }
            });
        }

    </script>
}
