﻿@using UPC.CA.ABET.Presentation.Areas.Upload.Resources.Views.Shared
@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.AcademicPeriod.AddEditPeriodoAcademico

@{
    ViewBag.Title = AcademicPeriodResource.TituloSingle;
    ViewBag.Icon = "calendar-o";
    ViewBag.Section = "Usuarios";
    ViewBag.Subsection = "Administrador";
    var hasValue = Model.IdPeriodoAcademico.HasValue;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListPeriodoAcademico", "AcademicPeriod")">@AcademicPeriodResource.TituloLista</a></li>
}

@if (Model.IdPeriodoAcademico.HasValue)
{
    <div class="panel" id="panel_principal">

        <div class="row">
            <div class="col-xs-12">
                <div class="tab-content panel-body">
                    <h1 style="font-size: 22px">@Shared.Modalidad: @Model.ModalidadText</h1>
                    <br />
                    <form class="form-horizontal" data-toggle="validator">

                        @Html.HiddenFor(x => x.IdPeriodoAcademico)
                        @Html.EditorFor(x => x.CicloAcademico)
                        @Html.EditorFor(x => x.FechaInicioPeriodo)
                        @Html.EditorFor(x => x.FechaFinPeriodo)
                        @Html.EditorFor(x => x.Semanas)
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="EsMallaArizona">Malla Arizona</label>
                            <div class="col-sm-9">
                                @{
                                    if (Model.EsMallaArizona)
                                    {
                                        <input type='checkbox' data-size="small" data-onstyle="success" texdata-toggle="toggle" data-on="@LayoutResource.Si" data-off="@LayoutResource.No" class='toggle-btn' id="EsMallaArizona" name="EsMallaArizona"
                                            checked/>
                                    }
                                    else
                                    {
                                        <input type='checkbox' data-size="small" data-onstyle="success" texdata-toggle="toggle" data-on="@LayoutResource.Si" data-off="@LayoutResource.No" class='toggle-btn' id="EsMallaArizona" name="EsMallaArizona"/>
                                    }
                                }
                            </div>
                        </div>

                        <div class="col-xs-12 text-right" style="padding:inherit">
                            <a class="btn btn-default animsition-link" href="@Url.Action("ListPeriodoAcademico", "AcademicPeriod", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
                            <button id="GuardarPeriodoSubModalidad" type="button" class="btn btn-primary"> @LayoutResource.Guardar<i class="fa fa-check"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-filter"></i>&nbsp; @Shared.Modalidad
                    </h3>
                    <div class="panel-actions">
                        <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="modalDropDown">@string.Format(Shared.Select, Shared.Modalidad)</label>
                            @Html.DropDownList("modalDropDown", Model.Modal, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6" style="display:none">
                            <label class="control-label" for="subModalDropDown">@string.Format(Shared.Select, Shared.SubModalidad)</label>
                            @Html.DropDownList("subModalDropDown", Model.SubModal, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Panel Collapse -->
    <div class="panel " style="display:none" id="panel_principal">

        <div class="row">
            <div class="col-xs-12">
                <div class="tab-content panel-body">
                    <form class="form-horizontal">

                        @Html.HiddenFor(x => x.IdPeriodoAcademico)
                        @Html.EditorFor(x => x.CicloAcademico)
                        @Html.EditorFor(x => x.FechaInicioPeriodo)
                        @Html.EditorFor(x => x.FechaFinPeriodo)
                        @Html.EditorFor(x => x.Semanas)
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="EsMallaArizona">Malla Arizona</label>
                            <div class="col-sm-9">
                                <input type='checkbox' data-size="small" data-onstyle="success" texdata-toggle="toggle" data-on="@LayoutResource.Si" data-off="@LayoutResource.No" class='toggle-btn' id="EsMallaArizona" name="EsMallaArizona" checked/>
                            </div>
                        </div>

                        <div class="col-xs-12 text-right" style="padding:inherit">
                            <a class="btn btn-default animsition-link" href="@Url.Action("ListPeriodoAcademico", "AcademicPeriod", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
                            <button id="GuardarPeriodoSubModalidad" type="button" class="btn btn-primary"> Guardar <i class="fa fa-check"></i></button>
                            <button id="btnModulo" type="button" style="display:none" class="btn btn-success" data-toggle="modal" data-target="#myModal">Agregar módulo</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Módulo </h4>
                </div>
                <div class="modal-body">
                    <form id="Modulos" class="form-horizontal">
                        @Html.EditorFor(x => x.NombreModulo)
                        @Html.EditorFor(x => x.FechaInicioModulo)
                        @Html.EditorFor(x => x.FechaFinModulo)
                        @Html.EditorFor(x => x.IdentificadorSeccion)
                        @Html.EditorFor(x => x.SemanasModulo)
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12 text-right">
                        <button id="GuardarModulo" type="button" class="btn btn-primary"> @LayoutResource.Guardar <i class="fa fa-check"></i></button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="FinalizarCreacionModulo">Finalizar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<input id="getSubModalitiesListUrl" class="hidden" type="text" value="@Model.SubModalitiesListUrl" />


@section Scripts{
    <script src="~/Content/js/components/alertify-js.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#EsMallaArizona").bootstrapToggle();
        });

        $(document).on('click', '#btnModulo', function (e) {
            var $modalidad = $('#modalDropDown option:selected').html();
            var $cicloAcademico = $('#CicloAcademico').val();
            console.log($('#FechaInicioPeriodo').val());
            console.log($('#FechaInicioModulo').val());
            $('#FechaInicioModulo').datepicker('setDate', $('#FechaInicioPeriodo').val() );

            console.log($('#FechaInicioModulo').val());
            $('h4').text("Agregar Módulo" + " ( " + $cicloAcademico + " - " + $modalidad + " ) ");
        });

        $(document).on('change', '#modalDropDown', function (e) {
            var $panel_principal = $("#panel_principal");

            if ($(this).val() != "0") {
                $panel_principal.css('display', 'block')

                if ($(this).val() == "1") {

                    $('#CicloAcademico').val('');
                    $('#FechaInicioPeriodo').val('');
                    $('#FechaFinPeriodo').val('');
                    $('#btnModulo').css('display', 'none');
                    $('#Semanas').val('');
                    if ($('#CicloAcademico').prop('disabled') == true || $('#FechaInicioPeriodo').prop('disabled') == true || $('#FechaFinPeriodo').prop('disabled') == true || $('#Semanas').prop('disabled') == true || $('#GuardarPeriodoSubModalidad').prop('disabled') == true)
                    {
                        $('#CicloAcademico').prop('disabled', false);
                        $('#FechaInicioPeriodo').prop('disabled', false);
                        $('#FechaFinPeriodo').prop('disabled', false);
                        $('#Semanas').prop('disabled', false);
                        $('#GuardarPeriodoSubModalidad').prop('disabled', false);
                        $('#GuardarPeriodoSubModalidad').css('display', '-webkit - inline - box');
                    }

                }
                if ($(this).val() == "2") {
                        $('#CicloAcademico').val('');
                    $('#FechaInicioPeriodo').val('');
                    $('#FechaFinPeriodo').val('');
                    $('#btnModulo').css('display', 'none');
                    $('#Semanas').val('');
                    $('#GuardarPeriodoSubModalidad').prop('disabled', false);

                }
            }
            else {
                $panel_principal.css('display', 'none');
            }
        });

        $(document).on('click', '#GuardarPeriodoSubModalidad', function () {
            var $ValModalidad = $('#modalDropDown').val();
            var $IdPeriodoAcademico = $('#IdPeriodoAcademico').val();
            var $ValCicloAcademico = $('#CicloAcademico').val();
            var $FechaInicioPeriodo = $('#FechaInicioPeriodo').val();
            var $FechaFinPeriodo = $('#FechaFinPeriodo').val();
            var $Semanas = $('#Semanas').val();
            var $EsMallaArizona = $('#EsMallaArizona').val();
            $EsMallaArizona = (($EsMallaArizona === 'on' ? true : ($EsMallaArizona === 'off' ? false : $EsMallaArizona)));

            var di = new Date($FechaInicioPeriodo.split('/')[1] + '/' + $FechaInicioPeriodo.split('/')[0] + '/' + $FechaInicioPeriodo.split('/')[2]);
            var df = new Date($FechaFinPeriodo.split('/')[1] + '/' + $FechaFinPeriodo.split('/')[0] + '/' + $FechaFinPeriodo.split('/')[2]);
            if ($ValCicloAcademico == "") {
                alertify.alert('Error', 'El ciclo académico no debe estar vacio.', function () {

                }).set('label', 'Entendido');

                return;
            }
            if ($FechaInicioPeriodo == "") {
                        alertify.alert('Error', 'La fecha inicial del modulo no debe estar vacio.', function () {

                        }).set('label', 'Entendido');

                        return;
            }
            if ($FechaFinPeriodo == "") {
                        alertify.alert('Error', 'La fecha final del modulo no debe estar vacio.', function () {

                        }).set('label', 'Entendido');

                        return;
            }
            if ($Semanas == "") {
                        alertify.alert('Error', 'Es necesario mencionar cuántas semanas posee el Ciclo Académico', function () {

                        }).set('label', 'Entendido');

                        return;
            }
            if ( di > df) {
            alertify.alert('Error', 'La Fecha inicial del periodo no puede ser mayor que la fecha final.', function () {

            }).set('label', 'Entendido');

            return;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddEditPeriodoAcademico")',
                data: {
                    IdModalidad: $ValModalidad,
                    IdPeriodoAcademico: $IdPeriodoAcademico,
                    CicloAcademico: $ValCicloAcademico,
                    FechaInicioPeriodo: $FechaInicioPeriodo,
                    FechaFinPeriodo: $FechaFinPeriodo,
                    Semanas: $Semanas,
                    EsMallaArizona: $EsMallaArizona,
                },
                success: function () {
                    alertify.success('Datos guardados satisfactoriamente');
                    if ($('#modalDropDown').val() == 2) {
                        $('#CicloAcademico').prop('disabled', true);
                        $('#FechaInicioPeriodo').prop('disabled', true);
                        $('#FechaFinPeriodo').prop('disabled', true);
                        $('#FechaFinPeriodo').prop('disabled', true);
                        $('#btnModulo').css('display', 'block');
                        $('#btnModulo').css('display', '-webkit-inline-box');
                        $('#Semanas').prop('disabled', true);
                    }
                    if ($('#modalDropDown').val() == 1) {
                        window.location.href = '@Url.Action("ListPeriodoAcademico")';
                    }
                    window.location.href = '@Url.Action("ListPeriodoAcademico")';

                }

            })
        });

        $(document).on('click', '#FinalizarCreacionModulo', function () {
            window.location.href = '@Url.Action("ListPeriodoAcademico", new { Creado = true})';
        });


        $(document).on('click', '#GuardarModulo', function () {
            var $CicloAcademico = $('#CicloAcademico').val();
            var $FechaInicioCiclo = $('#FechaInicioPeriodo').val();
            var $FechaFinPeriodo = $('#FechaFinPeriodo').val();
            var $NombreModulo = $('#NombreModulo').val();
            var $FechaInicioModulo = $('#FechaInicioModulo').val();
            var $FechaFinModulo = $('#FechaFinModulo').val();
            var $IdentificadorSeccion = $('#IdentificadorSeccion').val();
            var $SemanasModulo = $('#SemanasModulo').val();
            var di = new Date($FechaInicioModulo.split('/')[1] + '/' + $FechaInicioModulo.split('/')[0] + '/' + $FechaInicioModulo.split('/')[2]);
            var df = new Date($FechaFinModulo.split('/')[1] + '/' + $FechaFinModulo.split('/')[0] + '/' + $FechaFinModulo.split('/')[2]);
            if ($NombreModulo == "") {
                alertify.alert('Error', 'El nombre del modulo no debe estar vacio.', function () {

                }).set('label', 'Entendido');

                return;
            }
            if (di > df) {
                alertify.alert('Error', 'La Fecha inicial del modulo no puede ser mayor que la fecha final.', function () {

                }).set('label', 'Entendido');;

                return;
            }
            if ($FechaInicioModulo == "") {
                alertify.alert('Error', 'La fecha inicial del modulo no debe estar vacio.', function () {

                }).set('label', 'Entendido');

                return;
            }
            if ($FechaFinModulo == "") {
                alertify.alert('Error', 'La fecha final del modulo no debe estar vacio.', function () {

                }).set('label', 'Entendido');

                return;
            }
            if ($IdentificadorSeccion == "") {
                alertify.alert('Error', 'El Identificador de la Sección no debe estar vacio.', function () {

                }).set('label', 'Entendido');

                return;
            }
            if ($SemanasModulo == "") {
                alertify.alert('Error', 'Es necesario mencionar cuántas semanas posee el Módulo.', function () {

                }).set('label', 'Entendido');

                return;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GuardarModulo")',
                data: {
                    NombreModulo: $NombreModulo,
                    FechaInicioModulo: $FechaInicioModulo,
                    FechaFinModulo: $FechaFinModulo,
                    IdentificadorSeccion: $IdentificadorSeccion,
                    CicloAcademico: $CicloAcademico,
                    FechaInicioPeriodo: $FechaInicioCiclo,
                    FechaFinPeriodo: $FechaFinPeriodo,
                    SemanasModulo: $SemanasModulo,
                },
                success: function () {
                    alertify.success('Datos guardados satisfactoriamente');
                    $('#NombreModulo').val('');
                    $('#FechaInicioModulo').val('');
                    $('#FechaFinModulo').val('');
                    $('#IdentificadorSeccion').val('');
                    $('#SemanasModulo').val('');
                    window.self();
                },


            })
        });

    </script>

}
