﻿
@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.AcademicPeriod.ListPeriodoAcademicoViewModel


@{
    ViewBag.Title = AcademicPeriodResource.TituloLista;
    ViewBag.Icon = "calendar-o";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    var modalidadId = Session.GetModalidadId();
}

@section Breadcrumbs{
    <li><a class="animsition-link" href="@Url.Action("BeforeEnrollment", "Upload", new { Area = String.Empty})"> Gestión de Datos </a></li>
}

<!-- Panel Collapse -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> @LayoutResource.Listado</h3>

        <div class="panel-body">
            <div class="text-right">
                <a class="btn btn-primary animsition-link" href="@Url.Action("AddEditPeriodoAcademico", "AcademicPeriod")"><i class="fa fa-plus"></i> @LayoutResource.Nuevo</a>
            </div>
            <br />
            <div class="table table-responsive">
                <table class="table table-hover table-striped" id="period">
                    <thead>
                        <tr>
                            <th>Modalidad</th>
                            <th>@AcademicPeriodResource.CicloAcademico</th>
                            <th>@AcademicPeriodResource.FechaPeriodoAcademico</th>
                            <th class="text-center">@UserResource.Estado</th>
                            <th class="text-right" style="min-width: 9.2em">@LayoutResource.Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var periodo in Model.LstSubModalidadPeriodoAcademico)
                        {
                            <tr>
                                <td id="idPeriodo" style="display:none">@periodo.IdPeriodoAcademico</td>
                                <td>@periodo.SubModalidad.Modalidad.NombreEspanol</td>
                                <td>@periodo.PeriodoAcademico.CicloAcademico</td>

                                <td>@periodo.PeriodoAcademico.FechaInicioPeriodo.Value.ToShortDateString() - @periodo.PeriodoAcademico.FechaFinPeriodo.Value.ToShortDateString()</td>
                                <td class="text-center"><span class="label @(periodo.PeriodoAcademico.Estado == ConstantHelpers.ESTADO.ACTIVO ? "label-success" : "label-danger")">@(periodo.PeriodoAcademico.Estado == ConstantHelpers.ESTADO.ACTIVO ? LayoutResource.Activo : LayoutResource.Inactivo)</span></td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        @if (modalidadId == 2)
                                        {
                                            <a class="btn btn-sm btn-outline loadModules"><i class="fa fa-plus"></i> Ver Módulos</a>
                                        }
                                        <a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("AddEditPeriodoAcademico", "AcademicPeriod", new { IdPeriodoAcademico = periodo.IdPeriodoAcademico })"><i class="fa fa-pencil"></i> @LayoutResource.Editar</a>
                                        <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-sm pull-right">
                                            <li><a href="@Url.Action("EnablePeriodoAcademico", "AcademicPeriod", new { Area = ConstantHelpers.AREAS.ADMIN, IdPeriodoAcademico = periodo.IdPeriodoAcademico })"><i class="fa fa-@(periodo.PeriodoAcademico.Estado == ConstantHelpers.ESTADO.ACTIVO ? "eye-slash" : "eye") "></i> @(periodo.PeriodoAcademico.Estado == ConstantHelpers.ESTADO.ACTIVO ? LayoutResource.Desactivar : LayoutResource.Activar)</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model.LstSubModalidadPeriodoAcademico, page => Url.Action("ListPeriodoAcademico", new { p = page }), ConstantHelpers.TwitterBootstrapPagerAligned)
            </div>
        </div>
    </div>
    <input id="modalityId" class="hidden" type="text" value="@Model.ModalidadId" />
</div>
<!-- End Panel Collapse -->
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".loadModules").click(function () {
                var idPeriodoAcademico = $(this).closest("tr").find("#idPeriodo").text();
                var row_index = $(this).closest('tr').index();
                $.ajax({
                    url: '@Url.Action("GetModules", "Json")',
                    data: { IdPeriodoAcademico: idPeriodoAcademico },
                    dataType: "json",
                    success: function (data) {
                        if (data.length > 0) {
                            if ($("#modulePeriod" + idPeriodoAcademico + "0").length == 0) {
                                var rowTitle = $('<tr id="modulePeriod' + idPeriodoAcademico + '0"></tr>');
                                rowTitle.append($('<td colspan=2 style="font-weight:bold;color:black;" class="text-center"></td>').text("Módulo"));
                                rowTitle.append($('<td style="font-weight:bold;color:black;" class="text-center"></td>').text("Fecha Período"));
                                rowTitle.append($('<td style="font-weight:bold;color:black;" class="text-center"></td>').text("Identificador Sección"));
                                rowTitle.append($('<td style="font-weight:bold;color:black;" class="text-center"></td>').text("Semanas"));
                                $('#period > tbody > tr').eq(row_index).after(rowTitle);

                                for (i = 0; i < data.length; i++) {
                                    console.log(data[i]);
                                    var dateIString = data[i]["FechaInicio"].substr(6);
                                    var currentTimeI = new Date(parseInt(dateIString));

                                    var dateFString = data[i]["FechaFin"].substr(6);
                                    var currentTimeF = new Date(parseInt(dateFString));

                                    var FechaInicio = currentTimeI.getDate() + "/" + (currentTimeI.getMonth() + 1) + "/" + currentTimeI.getFullYear() ;
                                    var FechaFin = currentTimeF.getDate() + "/" + (currentTimeF.getMonth() + 1) + "/" + currentTimeF.getFullYear() ;

                                    var row = $('<tr id="modulePeriod' + idPeriodoAcademico + (i + 1) + '"></tr>');
                                    row.append($('<td colspan=2 class="text-center"></td>').text(data[i]["Nombre"]));
                                    row.append($('<td class="text-center"></td>').text(FechaInicio + " - " + FechaFin));
                                    row.append($('<td class="text-center"></td>').text(data[i]["Identificador"]));
                                    row.append($('<td class="text-center"></td>').text(data[i]["Semanas"] !== null? data[i]["Semanas"] : "-"));
                                    $('#period > tbody > tr').eq(row_index + 1).after(row);
                                }
                            }
                            else {
                                for (i = 0; i < data.length + 1; i++) {
                                    $("#modulePeriod" + idPeriodoAcademico + i).remove();
                                }
                            }
                        }
                    }
                });
                $("#modulePeriod" + idPeriodoAcademico +"1").remove();
            });
        });
    </script>
}
