﻿<div class="page-aside">
    <div class="page-aside-switch">
        <i class="icon wb-chevron-left" aria-hidden="true"></i>
        <i class="icon wb-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="page-aside-inner" data-plugin="pageAsideScroll">
        <div data-role="container">
            <div data-role="content">
                <section class="page-aside-section">
                    <h5 class="page-aside-title">@LayoutResource.Reportes </h5>
                    <div class="list-group">
                        <a class="list-group-item" href="@Url.Action("ExportExcelCarreraCurso", "NeoMeetingDelegate")">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; @SidebarResource.ActasPorCarreraCurso
                        </a>
                        <a class="list-group-item" href="@Url.Action("ObtLstAlmnAst", "NeoMeetingDelegate")">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; @SidebarResource.ListadoDeAsistencia
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

