﻿@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Control
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Control*@
@using UPC.CA.ABET.Helpers
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model ByAcceptanceLevelViewModel

@if (Model.ExistData.HasValue)
{
    if (!Model.ExistData.Value || Model.CycleId == 0)
    {
        <script>
            showMessage('@ReportResource.TitleAcceptanceLevel', '@ReportResource.NoDataMessage');
        </script>
        <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
    }
    else
    {
        var queryString = string.Format("?{0}={1}&{2}={3}&{4}={5}&{6}={7}&{8}={9}&{10}={11}&{12}={13}&{14}={15}&{16}={17}&{18}={19}",
            ConstantHelpers.QueryStringParameters.ACCREDITATION_TYPE_ID, Model.AccreditationTypeId,
            ConstantHelpers.QueryStringParameters.CAREER_ID, Model.CareerId,
            ConstantHelpers.QueryStringParameters.COMMISSION_ID, Model.CommissionId,
            ConstantHelpers.QueryStringParameters.CAMPUS_ID, Model.CampusId ?? 0,
            ConstantHelpers.QueryStringParameters.CYCLE_ID, Model.CycleId,
            ConstantHelpers.QueryStringParameters.ACCEPTANCE_LEVEL_ID, Model.AcceptanceLevelId.HasValue ? Model.AcceptanceLevelId.Value : 0,
            ConstantHelpers.QueryStringParameters.STUDENT_OUTCOME_ID, Model.StudentOutcomeId.HasValue ? Model.StudentOutcomeId.Value : 0,
            ConstantHelpers.QueryStringParameters.LANGUAGE_CULTURE, Model.LanguageCulture ?? "es_PE",
            ConstantHelpers.QueryStringParameters.SUBMODALIDAD_ID, Session.GetModalidadId(),
            ConstantHelpers.QueryStringParameters.MODULO_ID, Model.ModuleId.HasValue ? Model.ModuleId.Value : 0
            );

        if (Model.AccreditationTypeId > 0)
        {
            <script>iframeLoad()</script>
            <iframe src="@(Url.Content("~/Areas/Report/Resources/WebPages/ControlReportByAcceptanceLevel.aspx") + queryString)"></iframe>
        }
        else
        {
            <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
        }
    }
}
else
{
    <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
}