﻿@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Control
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Control*@
@using UPC.CA.ABET.Helpers
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model ByLevelViewModel

@if (Model.ExistData.HasValue)
{
    if (!Model.ExistData.Value || Model.CycleId == 0)
    {
		<script>
            showMessage('@ReportResource.TitleLevel', '@ReportResource.NoDataMessage');
		</script>
		<div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
	}
	else
	{
		var queryString = string.Format("?{0}={1}&{2}={3}&{4}={5}&{6}={7}&{8}={9}&{10}={11}&{12}={13}&{14}={15}&{16}={17}",
			ConstantHelpers.QueryStringParameters.ACCREDITATION_TYPE_ID, Model.AccreditationTypeId,
			ConstantHelpers.QueryStringParameters.CAREER_ID, Model.CareerId,
			ConstantHelpers.QueryStringParameters.CAMPUS_ID, Model.CampusId ?? 0,
			ConstantHelpers.QueryStringParameters.COMMISSION_ID, Model.CommissionId,
			ConstantHelpers.QueryStringParameters.LEVEL_ID, Model.LevelId,
			ConstantHelpers.QueryStringParameters.CYCLE_ID, Model.CycleId,
			ConstantHelpers.QueryStringParameters.LANGUAGE_CULTURE, Model.LanguageCulture,
			ConstantHelpers.QueryStringParameters.SUBMODALIDAD_ID, Session.GetModalidadId(),
			ConstantHelpers.QueryStringParameters.MODULO_ID, Model.ModuleId.HasValue ? Model.ModuleId.Value : 0
			);

		if (Model.AccreditationTypeId > 0)
		{
			<script>iframeLoad()</script>
			<iframe src="@(Url.Content("~/Areas/Report/Resources/WebPages/ControlReportByLevel.aspx") + queryString)"></iframe>
		}
		else
		{
			<div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
		}
	}
}
else
{
	<div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
}