﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Control
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Control
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model ByLevelViewModel
@{
    ViewBag.Title = ReportResource.TitleLevel;
    ViewBag.Icon = "bar-chart";
    var modalidadId = Session.GetModalidadId();
    var select = ReportResource.OptionSelect.ToString();
}

@section Breadcrumbs{
	<li><a href="@Url.Action("Management", "Control", new { Area = ConstantHelpers.AREAS.REPORT })">@ReportResource.ControlReportsMenuTitle</a></li>
}

<div class="row">
	<div class="col-md-12">
		<div class="panel filters">
			@Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ReportResource.HeaderFilter, PanelActions.Collapse)
			@using (Ajax.BeginForm("ByLevel", new AjaxOptions
			{
				HttpMethod = "POST",
				LoadingElementId = "main-loader",
				UpdateTargetId = "report-container"
			}))
			{
				@Html.AntiForgeryToken()
				@Html.Hidden("ModalityId", Session.GetModalidadId())
				<div class="panel-body row">
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCycle, Html.DropDownListFor(m => Model.CycleId, Model.DropDownListCyclesFromForModality as SelectList,select, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CycleId))
						@Html.FormGroup(ReportResource.LabelCampus, Html.DropDownListFor(m => Model.CampusId, Model.DropDownListCampus as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CampusId))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelAccreditationType, Html.DropDownListFor(m => Model.AccreditationTypeId, Model.DropDownListAccreditationType as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.AccreditationTypeId))

						@Html.FormGroup(ReportResource.LabelLevel, Html.DropDownListFor(m => Model.LevelId, Model.DropDownListLevel as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.LevelId))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCareer, Html.DropDownListFor(m => Model.CareerId, ViewBag.DropDownListCareer as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CareerId))
						@Html.FormGroup(ReportResource.LabelLanguage, Html.DropDownListFor(m => Model.LanguageCulture, ViewBag.DropDownListLanguage as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.LanguageCulture))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCommission, Html.DropDownListFor(m => Model.CommissionId, Model.DropDownListCommission as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CommissionId))
						@if (modalidadId == 2)
                        {
                        @Html.FormGroup(ReportResource.LabelModule, Html.DropDownListFor(m => Model.ModuleId, Model.DropDownListModules as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.ModuleId))
                        }
                    </div>
					@Html.PanelFooter(ReportResource.ButtonGenerateReport, ReportResource.ButtonResetReport)
				</div>
			}
		</div>
		<div class="panel">
			@Html.PanelHeader("<i class=\"fa fa-file-text\"></i> " + ReportResource.HeaderDocument, PanelActions.Fullscreen)
			<div class="panel-body" id="report-container">
				@{Html.RenderPartial("_ByLevelReport", Model);}
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
        $(function () {
            selectMenu('liControlReports', 'liByLevelControlReport');
            setTimeout(scrollSidebarTo, 700, 'liByLevelControlReport');
            validateAllCareers('@ReportResource.OptionAll');

            $('#btnResetReport').resetCombos(['CycleId', 'CareerId', 'LevelId', 'LanguageCulture']);
        })
        bindChange('#CycleId', function () { getCampus().then(getAccreditationTypes).then(getCommissionsByCareer).then(getModulesForCycleForModality); });
        bindChange('#AccreditationTypeId', getCommissionsByCareer);
        bindChange('#CareerId', getCommissionsByCareer);
        bindChange('#LevelId', getCommissionsByCareer);
	</script>
}