﻿@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Control;
@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.SurveyManagementGRAViewModel
@{
    ViewBag.Title = ControlResource.ReportesDeResultadoDeCurso;
    ViewBag.Icon = "graduation-cap"; Boolean esAcreditador = false;
}


<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.DirectorCarrera) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera) || Session.GetRoles().HasRole(AppRol.Acreditador))
                            {
                                @*<li class="active" role="presentation"><a data-toggle="tab" href="#registromanualTab" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false"><i class="fa fa-hand-o-up"></i> <span class="tabhidden">@OptionsResource.RegistroManual</span></a></li>
            <li role="presentation"><a data-toggle="tab" href="#generacionTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa-download"></i> <span class="tabhidden">@OptionsResource.Generacion</span></a></li>
            <li role="presentation" class=""><a data-toggle="tab" href="#cargamasivaTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-cloud-upload"></i> <span class="tabhidden">@OptionsResource.CargaMasiva</span></a></li>
            <li role="presentation" class=""><a data-toggle="tab" href="#descargaplantillaTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-file-excel-o"></i> <span class="tabhidden">@OptionsResource.DescargaPlantilla</span></a></li>
            <li role="presentation" class=""><a data-toggle="tab" href="#mantenimientoTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@OptionsResource.Mantenimiento</span></a></li>*@
                                <li role="presentation" class="active"><a data-toggle="tab" href="#reportesControlTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@ControlResource.ReporteDeControl</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#reportesVerificacionTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-envelope"></i> <span class="tabhidden">@ControlResource.ReporteDeVerificacion</span></a></li>

                                if (Session.GetEscuelaId() == 1)
                                {
                                    <li role="presentation" class=""><a data-toggle="tab" href="#reportesSemaforoTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-envelope"></i> <span class="tabhidden">@ControlResource.ReportesSemaforo</span></a></li>

                                }
                                if (Session.GetModalidadId() != 2)
                                {
                                    <li role="presentation" class=""><a data-toggle="tab" href="#reportesFormacionTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-wrench"></i> <span class="tabhidden">@ControlResource.ReporteDeFormacion</span></a></li>
                                }
                                if (Session.GetModalidadId() != 2)
                                {
                                    <li role="presentation" class=""><a data-toggle="tab" href="#reportesCompetenciasTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-bar-chart"></i> <span class="tabhidden">@ControlResource.ReporteDeLogros</span></a></li>
                                }

                            }

                        </ul>
                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">


                            <div class="tab-pane active" id="reportesControlTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-bar-chart"></i>@ControlResource.ReporteDeControl</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @ControlResource.PorCursoHistorico
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @ControlResource.MuestraReporteDeControlPorCursoHistorico
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ByHistoricCourse","Control")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @ControlResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTwo" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo">
                                                                <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @ControlResource.PorNivelCurricular
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo" aria-labelledby="exampleHeadingDefaultTwo" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @ControlResource.MuestraReporteDeControlPorNivelCurricular
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ByLevel","Control")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i>@ControlResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTres" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTres" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultTres">
                                                                <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @ControlResource.PorNivelDeAceptacion
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTres" aria-labelledby="exampleHeadingDefaultTres" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @ControlResource.MuestraReporteDeControlPorNiveldeAceptacion
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ByAcceptanceLevel","Control")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i>@ControlResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultCuatro" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultCuatro" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultCuatro">
                                                                <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @ControlResource.PorOutcome
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultCuatro" aria-labelledby="exampleHeadingDefaultCuatro" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @ControlResource.MuestraReporteDeControlPorOutcome
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ByOutcome","Control")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i>@ControlResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="reportesVerificacionTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-bar-chart"></i>@ControlResource.ReportesDeVerificacion</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault1" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultOne1" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefaultOne1" data-parent="#exampleAccordionDefault1" aria-expanded="true" aria-controls="exampleCollapseDefaultOne1">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @ControlResource.Consolidado
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne1" aria-labelledby="exampleHeadingDefaultOne1" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @ControlResource.MuestraReporteDeVerificacionConsolidado
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("Consolidate","Verification")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @ControlResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTwo2" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo2" data-parent="#exampleAccordionDefault1" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo2">
                                                                <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @ControlResource.PorNivelDeAceptacion
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo2" aria-labelledby="exampleHeadingDefaultTwo2" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @ControlResource.MuestraReporteDeVerificacionlPorNiveldeAceptacion
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ByAcceptanceLevel","Verification")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @ControlResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTres3" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTres3" data-parent="#exampleAccordionDefault1" aria-expanded="false" aria-controls="exampleCollapseDefaultTres3">
                                                                <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @ControlResource.PorOutcomeHistorico
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTres3" aria-labelledby="exampleHeadingDefaultTres3" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @ControlResource.MuestraReporteDeVerificacionPorOutcomeHistorico
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ByHistoricOutcome","Verification")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i>  @ControlResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (Session.GetEscuelaId() == 1)
                            { 
                                <div class="tab-pane" id="reportesSemaforoTab" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="examle-wrap">
                                                <h2 class="fixtitle"><i class="fa fa-bar-chart"></i>@ControlResource.ReportesSemaforo</h2>
                                                <div class="example">
                                                    <div class="panel-group" id="exampleAccordionDefault5" aria-multiselectable="true" role="tablist">
                                                        <div class="panel">
                                                            <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">
                                                                <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseColapseOne2" data-parent="#exampleAccordionDefault5" aria-expanded="false" aria-controls="exampleCollapseColapseOne2">
                                                                    <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                    @ControlResource.ReporteSemaforoDeControl
                                                                </a>
                                                            </div>
                                                            <div class="panel-collapse collapse" id="exampleCollapseColapseOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <p align="justify">
                                                                        @ControlResource.MuestraRepoteSemaforoPorOutcomeSede
                                                                    </p>
                                                                    <p>
                                                                        <a href="@Url.Action("BySemaphoreReportControl","Semaphore")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i>@ControlResource.Reporte</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="panel">
                                                            <div class="panel-heading" id="exampleHeadingDefaultTwo2" role="tab">
                                                                <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseColapseTwo2" data-parent="#exampleAccordionDefault5" aria-expanded="false" aria-controls="exampleCollapseColapseTwo2">
                                                                    <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                    @ControlResource.ReporteSemaforoDeVerficacion
                                                                </a>
                                                            </div>
                                                            <div class="panel-collapse collapse" id="exampleCollapseColapseTwo2" aria-labelledby="exampleHeadingDefaultTwo2" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <p align="justify">
                                                                        @ControlResource.MuestraRepoteSemaforoPorOutcomeSede
                                                                    </p>
                                                                    <p>
                                                                        <a href="@Url.Action("BySemaphoreReportVerification", "Semaphore")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @ControlResource.Reporte</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" id="exampleHeadingDefaultThree2" role="tab">
                                                                <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseColapseThree2" data-parent="#exampleAccordionDefault5" aria-expanded="false" aria-controls="exampleCollapseColapseThree2">
                                                                    <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                    @ControlResource.ReporteSemaforoDeRCPorCurso
                                                                </a>
                                                            </div>
                                                            <div class="panel-collapse collapse" id="exampleCollapseColapseThree2" aria-labelledby="exampleHeadingDefaultThree2" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <p align="justify">
                                                                        @ControlResource.MuestraReporteSemaforoPorCursoDeRC
                                                                    </p>
                                                                    <p>
                                                                        <a href="@Url.Action("ByCourse", "Semaphore")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i>@ControlResource.Reporte</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" id="exampleHeadingDefaultFour2" role="tab">
                                                                <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseColapseFour2" data-parent="#exampleAccordionDefault5" aria-expanded="false" aria-controls="exampleCollapseColapseFour2">
                                                                    <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                    @ControlResource.ReporteSemaforoDeRVPorCurso
                                                                </a>
                                                            </div>
                                                            <div class="panel-collapse collapse" id="exampleCollapseColapseFour2" aria-labelledby="exampleHeadingDefaultFour2" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <p align="justify">
                                                                        @ControlResource.MuestraReporteSemaforoPorCursoDeRV
                                                                    </p>
                                                                    <p>
                                                                        <a href="@Url.Action("ByCourseRV", "Semaphore")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i>@ControlResource.Reporte</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" id="exampleHeadingDefaultFive2" role="tab">
                                                                <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseColapseFive2" data-parent="#exampleAccordionDefault5" aria-expanded="false" aria-controls="exampleCollapseColapseFour2">
                                                                    <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                    @ControlResource.ReporteSemaforoResumenDeRC
                                                                </a>
                                                            </div>
                                                            <div class="panel-collapse collapse" id="exampleCollapseColapseFive2" aria-labelledby="exampleHeadingDefaultFive2" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <p align="justify">
                                                                        @ControlResource.MuestraReporteSemaforoResumenPorOutcomeDeControl
                                                                    </p>
                                                                    <p>
                                                                        <a href="@Url.Action("BySummarySemaphoreReportControl", "Semaphore")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @ControlResource.Reporte</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" id="exampleHeadingDefaultSix2" role="tab">
                                                                <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseColapseSix2" data-parent="#exampleAccordionDefault5" aria-expanded="false" aria-controls="exampleCollapseColapseFour2">
                                                                    <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                    @ControlResource.ReporteSemaforoResumenDeRV
                                                                </a>
                                                            </div>
                                                            <div class="panel-collapse collapse" id="exampleCollapseColapseSix2" aria-labelledby="exampleHeadingDefaultSix2" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <p align="justify">
                                                                        @ControlResource.MuestraReporteSemaforoResumenPorOutcomeDeVerificacion
                                                                    </p>
                                                                    <p>
                                                                        <a href="@Url.Action("BySummarySemaphoreReportVerification", "Semaphore")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i>@ControlResource.Reporte</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="tab-pane" id="reportesFormacionTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-bar-chart"></i>@ControlResource.ReportesDeFormacion</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultOne11" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefaultOne11" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOne11">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @ControlResource.PorNivelDeAceptacion
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne11" aria-labelledby="exampleHeadingDefaultOne11" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @ControlResource.MuestraReporteDeFormacionPorNiveldeAceptacion
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ByAcceptanceLevel","Formation")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i>@ControlResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTwo22" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo22" data-parent="#exampleAccordionDefault2" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo22">
                                                                <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @ControlResource.PorCursoHistorico
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo22" aria-labelledby="exampleHeadingDefaultTwo22" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @ControlResource.MuestraReporteDeFormacionPorCursoHistorico
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ByHistoricCourse","Formation")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i>@ControlResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="tab-pane" id="reportesCompetenciasTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-bar-chart"></i>@ControlResource.ReportesDeLogros</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault3" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultOne111" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefaultOne111" data-parent="#exampleAccordionDefault3" aria-expanded="true" aria-controls="exampleCollapseDefaultOne111">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @ControlResource.PorCompetencias
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne111" aria-labelledby="exampleHeadingDefaultOne111" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @ControlResource.MuestraReporteDeLogrosPorCompetencias
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ByCompetences","Achievement")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i>@ControlResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
    </script>
}
 