﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Topic
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Topic.AddEditTemaSemanaViewModel

@{
    ViewBag.Title = AddEditTemaSemanaResource.Titulo;
    //var hasValue = Model.IdTema.HasValue;
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "NeoMeetingDelegate")">@AddEditTemaSemanaResource.AddEditTemasDeUnidadAcademica</a></li>
}

<form method="post" action="@Url.Action("GoTheme","Topic")">
  
    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-filter"></i>@AddEditTemaSemanaResource.Filtros</h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="row">
                                    <div id="IdPeriodoAjax" class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-survey">@Filtros.Ciclo</label>
                                         @Html.DropDownListFor(x => x.IdPeriodoAcademico,new SelectList(Model.LstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"),
                                         new
                                         {
                                             @id = "dropdown",
                                             @class = "form-control",
                                             @requiered = "true",
                                             @data_update_target = "#IdPeriodoAcademico",
                                             //   @data_source_url = Url.Action("GetUnidadAcademicaByPeriodo", "Topic", new { IdPeriodoAcademico = Model.IdPeriodoAcademico}),
                                             @data_source_url = Url.Action("GetUnidadAcademicaByPeriodo", "Topic"),
                                             @data_filter = "IdPeriodoAcademico",
                                             @data_plugin = "select2"
                                         })
                                        </div>
                                    </div>
                                    <div id="LstUnidadAcademicaAjax"  class="col-md-6">
                                        <div class="form-group">
                                            <label class="label-survey">@AddEditTemaSemanaResource.UnidadAcademica</label>
                                            @Html.DropDownListFor(x => x.IdUnidadAcademica, new SelectList(Model.LstUnidadAcademica, "IdUnidadAcademica", "NombreEspanol").Distinct(), new { @class = "form-control", @required = "true" })
                                        </div>
                                    </div>
                                </div>

                            <div class="row">
                                <div class="pull-right">
                                    <a class="btn btn-default" style="margin-top: 30px;" href="@Url.Action("AddEditTemaSemana", "Topic")"><i class="fa fa-eraser"></i></a>
                                    <button type="submit" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;"> @ButtonsOptionsResource.Buscar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>

<div class="panel">


    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> @AddEditTemaSemanaResource.TemasPorSemana</h3>
        </div>

        <form class="form form-horizontal" method="post" action="@Url.Action("AddEditTemaSemana","Topic")">

            <div class="panel-body">

                @Html.HiddenFor(x => x.tema.IdTema)
                @Html.HiddenFor(x => x.IdPeriodoAcademico)
                @Html.HiddenFor(x => x.IdUnidadAcademica)

                <div class="table table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr style="background-color: #FF1901;">
                                <th class="text-left" style="color:white";>@Filtros.Semana</th>
                                <th style="color:white";>@AddEditTemaSemanaResource.Tema</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left"> 1 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana1, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 2 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana2, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 3 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana3, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 4 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana4, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 5 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana5, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 6 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana6, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 7 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana7, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 8 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana8, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 9 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana9, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 10 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana10, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 11 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana11, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 12 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana12, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 13 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana13, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 14 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana14, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 15 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana15, new { @class = "form-control" }) </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 16 </td>
                                <td class="col-md-11">@Html.TextBoxFor(x => x.tema.Semana16, new { @class = "form-control" }) </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

            <div class="panel-footer text-right">
                <a class="btn btn-default animsition-link" href="@Url.Action("AddEditTemaSemana", "Topic")"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
                <button type="submit" class="btn btn-primary "> @LayoutResource.Aceptar <i class="fa fa-check"></i></button>
            </div>

        </form>

    </div>

</div>



@section Scripts{
    <script>
        // $(window).load(function () {
        //     $('#loading').hide();
        // });

        $('#dropdown').change(function (e) {

            var sourceUrl = $(this).attr('data-source-url');

            var selectedId = $(this).val();

            var dataFilter = $(this).attr('data-filter');
            
            var postData = {};

            postData[dataFilter] = selectedId;

            $.ajax({
                type: 'POST',
                url: sourceUrl,
                data: postData,
                datatype : 'html',
                success: function (data) {
                    $("#LstUnidadAcademicaAjax").html(data);
                },
                error: function () {
                    alert('@(AddEditTemaSemanaResource.Alerta)');
                }
            });
        });
       

    </script>
}



