﻿@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Topic.AddEditTemaSemanaViewModel

<div class="form-group">

    @Html.HiddenFor(x => x.IdPeriodoAcademico)

    <label class="label-survey">Unidad Academica</label>
    @Html.DropDownListFor(x => x.IdUnidadAcademica, new SelectList(Model.LstUnidadAcademica, "IdUnidadAcademica", "NombreEspanol"), new { @class = "form-control", @required = "true" })
</div>
