﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingFindingViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@using UPC.CA.ABET.Presentation.Resources.Views.Error;
@using ORGANIZATION_CHART_LEVELS = UPC.CA.ABET.Helpers.ConstantHelpers.ORGANIZATION_CHART_LEVELS;

@{
    var culture = Session.GetCulture().ToString();
}

@using (Html.BeginForm("_AddTeacherMeetingFinding", "TeacherMeeting", FormMethod.Post, new { enctype = "multipart/form-data", @id = "addTeacherMeetingFindingForm" }))
{
    <div class="modal-header">
        <h3 class="modal-title">@TeacherMeetingResource.NuevoHallazgoenlaReunion</h3>
    </div>

    <div class="modal-body">
        @Html.HiddenFor(x => x.IdReunionProfesor)
        @Html.HiddenFor(x => x.IdAreaUnidadAcademica)
        @if (Model.ReunionProfesor.Nivel == (int)ORGANIZATION_CHART_LEVELS.SECOND_LEVEL)
        {
            @Html.HiddenFor(x => x.IdSubAreaUnidadAcademica)
        }

        <div class="container filters">
            <div class="form-group row">
                <label>@TeacherMeetingResource.Area:</label>
                @Html.DropDownListFor(m => m.IdAreaUnidadAcademica, Model.AvailableAreas, new { @class = "form-control", @disabled = "true" })
            </div>

            <div class="form-group row">
                <label for="IdSubareaUnidadAcademica">@TeacherMeetingResource.Subarea:</label>
                @if (Model.ReunionProfesor.Nivel == (int)ORGANIZATION_CHART_LEVELS.FIRST_LEVEL)
                {
                    @Html.DropDownListFor(m => m.IdSubAreaUnidadAcademica, Model.AvailableSubAreas, ProfessorResource.Todas, new { @class = "form-control", @id = "IdSubareaUnidadAcademica" })
                }
                @if (Model.ReunionProfesor.Nivel == (int)ORGANIZATION_CHART_LEVELS.SECOND_LEVEL)
                {
                    @Html.DropDownListFor(m => m.IdSubAreaUnidadAcademica, Model.AvailableSubAreas, new { @class = "form-control", @id = "IdSubareaUnidadAcademica", @disabled = "true" })
                }
            </div>

            <div class="form-group row">
                <label for="IdCursoPeriodoAcademico">@TeacherMeetingResource.Curso:</label>
                @if (Model.ReunionProfesor.Nivel == (int)ORGANIZATION_CHART_LEVELS.FIRST_LEVEL)
                {
                    @Html.DropDownListFor(m => m.IdCursoPeriodoAcademico, Model.AvailableCursos, ProfessorResource.Todas, new { @class = "form-control", @id = "IdCursoPeriodoAcademico", @disabled = "true" })
                }
                @if (Model.ReunionProfesor.Nivel == (int)ORGANIZATION_CHART_LEVELS.SECOND_LEVEL)
                {
                    @Html.DropDownListFor(m => m.IdCursoPeriodoAcademico, Model.AvailableCursos, ProfessorResource.Todas, new { @class = "form-control", @id = "IdCursoPeriodoAcademico" })
                }
            </div>

            <div class="form-group row">
                <label for="IdSede">@TeacherMeetingResource.Sede:</label>
                @Html.DropDownListFor(m => m.IdSede, Model.AvailableSedes, ProfessorResource.Todas, new { @class = "form-control", @id = "IdSede", @disabled = "true" })
            </div>

            <div class="form-group row">
                <label for="IdSeccion">@TeacherMeetingResource.Seccion:</label>
                @Html.DropDownListFor(m => m.IdSeccion, Model.AvailableSecciones, ProfessorResource.Todas, new { @class = "form-control", @id = "IdSeccion", @disabled = "true" })
            </div>

            <div class="form-group row">
                <label for="idDescripcionEspanol">@TeacherMeetingResource.Descripcion:</label>
                @{
                    if (culture == ConstantHelpers.CULTURE.ESPANOL)
                    {
                        <ul class="nav nav-tabs" id="addFindingDescriptionLanguages" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" style="padding: 0px 20px;" id="spanish-finding-tab" data-toggle="tab" href="#spanish-finding" role="tab" aria-controls="spanish-finding" aria-selected="true">@LayoutResource.Espanol</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="padding: 0px 20px;" id="english-finding-tab" data-toggle="tab" href="#english-finding" role="tab" aria-controls="english-finding" aria-selected="false">@LayoutResource.Ingles</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="addFindingDescriptionLanguagesContent">
                            <div class="tab-pane fade active in" id="spanish-finding" role="tabpanel" aria-labelledby="spanish-finding-tab" style="background-color: transparent;">
                                @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control fill", @id = "idDescripcionEspanol", @required = "required" })
                            </div>
                            <div class="tab-pane fade" id="english-finding" role="tabpanel" aria-labelledby="english-finding-tab" style="background-color: transparent;">
                                @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control fill", @id = "idDescripcionIngles", @required = "required" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <ul class="nav nav-tabs" id="addFindingDescriptionLanguages" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" style="padding: 0px 20px;" id="english-finding-tab" data-toggle="tab" href="#english-finding" role="tab" aria-controls="english-finding" aria-selected="true">@LayoutResource.Ingles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="padding: 0px 20px;" id="spanish-finding-tab" data-toggle="tab" href="#spanish-finding" role="tab" aria-controls="spanish-finding" aria-selected="false">@LayoutResource.Espanol</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="addFindingDescriptionLanguagesContent">
                            <div class="tab-pane fade active in" id="english-finding" role="tabpanel" aria-labelledby="english-finding-tab" style="background-color: transparent;">
                                @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control fill", @id = "idDescripcionIngles", @required = "required" })
                            </div>
                            <div class="tab-pane fade" id="spanish-finding" role="tabpanel" aria-labelledby="spanish-finding-tab" style="background-color: transparent;">
                                @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control fill", @id = "idDescripcionEspanol", @required = "required" })
                            </div>
                        </div>
                    }
                }
                <div class="error">
                    <span style="color: red;"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">
            @ButtonsOptionsResource.Cancelar
        </button>
        <button type="submit" class="btn btn-primary" disabled id="finding-submit">
            @ButtonsOptionsResource.Guardar
        </button>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        var lang = $('html').attr('lang');
        var letterNumbers = /^(?:(?![×Þß÷þø])[-'"\ñ0-9a-zA-ZÀ-ÿ ?!&¿¡,.():-\s])+$/;
        if (lang === 'es-PE') {
            jQuery.extend(jQuery.validator.messages, {
                required: '@ErrorResource.CampoRequerido',
            });
            $('#idDescripcionEspanol').blur(function () {
                var value = $(this).val();
                $('#idDescripcionIngles').val('');
                if (value.trim() !== "") {
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("TranslateToSpanish")',
                        data: {
                            value,
                        },
                        success: function (response) {
                            $('#idDescripcionIngles').val(response.result);
                            $('#finding-submit').attr('disabled', false);
                        }
                    });
                }
            });

            $('#idDescripcionIngles').keyup(function () {
                if ($(this).val().trim() !== "") {
                    $('#finding-submit').attr('disabled', false);
                } else {
                    $('#finding-submit').attr('disabled', true);
                }
            });
        } else if (lang === 'en-US') {
            $('#idDescripcionIngles').blur(function () {
                var value = $(this).val();
                $('#idDescripcionEspanol').val('');
                if (value.trim() !== "") {
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("TranslateToSpanish")',
                        data: {
                            value,
                            from: 'en',
                            to: 'es',
                        },
                        success: function (response) {
                            $('#idDescripcionEspanol').val(response.result);
                            $('#finding-submit').attr('disabled', false);
                        }
                    });
                }
            });
            $('#idDescripcionEspanol').keyup(function () {
                if ($(this).val().trim() !== "") {
                    $('#finding-submit').attr('disabled', false);
                } else {
                    $('#finding-submit').attr('disabled', true);
                }
            });
        }

        $('#spanish-finding-tab').on('click', function () {
            $('div.error').hide();
        });

        $('#english-finding-tab').on('click', function () {
            $('div.error').hide();
        });

        $('#addTeacherMeetingFindingForm').validate({
            errorClass: "help-block",
            submitHandler: function (form) {
                var value = $('#idDescripcionEspanol').val();
                var englishValue = $('#idDescripcionIngles').val();
                if (value.trim() === "" || englishValue.trim() === "") {
                    $('div.error span').html('@MessageResource.FaltanDatos');
                    $('div.error').show();
                    return false;
                }
                if (!value.match(letterNumbers) || !englishValue.match(letterNumbers)) {
                    $('div.error span').html('@ErrorResource.CaracteresInvalidos');
                    $('div.error').show();
                    return false;
                }
                $('#finding-submit').attr('disabled', true);
                $('div.error').hide();
                form.submit();
                return true;
            }
        });
    });

    function cargarCursosForArea(hasValue, idAreaUa) {
        $("#IdCursoPeriodoAcademico").empty();
        $("#IdCursoPeriodoAcademico").prop("disabled", true);
        $("#IdCursoPeriodoAcademico").append('<option value="">@ProfessorResource.CargandoCursos</option>');

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetAllCursosForArea")',
            dataType: 'json',
            data: { idAreaUnidadAcademica: idAreaUa },
            success: function (cursos) {
                $("#IdCursoPeriodoAcademico").empty();
                $("#IdCursoPeriodoAcademico").empty();
                $("#IdCursoPeriodoAcademico").append('<option value="">@ProfessorResource.Todas</option>');
                $.each(cursos,
                    function (i, curso) {
                        $("#IdCursoPeriodoAcademico")
                            .append('<option value="' +
                                curso.Value +
                                '">' +
                                curso.Text +
                                '</option>');

                    });
            },
            error: function (ex) {
                $("#IdCursoPeriodoAcademico").empty();
                $("#IdCursoPeriodoAcademico").append('<option value="">Error</option>');
                $("#IdCursoPeriodoAcademico").prop("disabled", true);
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarCursos))',
                    type: 'error',
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: '@TeacherMeetingResource.Aceptar'
                });
            }
        });

    }

    function cargarCursosForSubarea(hasValue, idSubareaUa) {
        $("#IdCursoPeriodoAcademico").empty();
        $("#IdCursoPeriodoAcademico").prop("disabled", true);
        $("#IdCursoPeriodoAcademico").append('<option value="">@ProfessorResource.CargandoCursos</option>');
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetAllCursosForSubarea")',
            dataType: 'json',
            data: { idSubareaUnidadAcademica: idSubareaUa },
            success: function (cursos) {
                $("#IdCursoPeriodoAcademico").empty();
                $("#IdCursoPeriodoAcademico").empty();
                $("#IdCursoPeriodoAcademico").append('<option value="">@ProfessorResource.Todas</option>');
                $.each(cursos,
                    function (i, curso) {
                        $("#IdCursoPeriodoAcademico")
                            .append('<option value="' +
                                curso.Value +
                                '">' +
                                curso.Text +
                                '</option>');

                    });
            },
            error: function (ex) {
                $("#IdCursoPeriodoAcademico").empty();
                $("#IdCursoPeriodoAcademico").append('<option value="">Error</option>');
                $("#IdCursoPeriodoAcademico").prop("disabled", true);
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarCursos))',
                    type: 'error',
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: '@TeacherMeetingResource.Aceptar'
                });
            }
        });
    }


    function cargarSedesForCurso(hasValue, idCPA) {
        $("#IdSede").empty();
        $("#IdSede").prop("disabled", true);
        $("#IdSede").append('<option value="">@TeacherMeetingResource.CargandoSedes... </option>');

        if (hasValue === false) {

            $("#IdSede").empty();
            $("#IdSede").append('<option value="">@ProfessorResource.Todos</option>');

        } else {

            var idSubmodalidadPeriodoAcademicoModulo = @Model.ReunionProfesor.SubModalidadPeriodoAcademicoModulo.IdSubModalidadPeriodoAcademicoModulo;

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAllSedesForCurso")',
                dataType: 'json',
                data: { idCursoPeriodoAcademico: idCPA,
                    idSubmodalidadPeriodoAcademicoModulo},
                success: function (sedes) {
                    $("#IdSede").empty();
                    $("#IdSede").empty();
                    $("#IdSede").append('<option value="">@ProfessorResource.Todas</option>');
                    $.each(sedes,
                        function (i, sede) {
                            $("#IdSede")
                                .append('<option value="' +
                                    sede.Value +
                                    '">' +
                                    sede.Text +
                                    '</option>');

                        });
                },
                error: function (ex) {
                    $("#IdSede").empty();
                    $("#IdSede").append('<option value="">Error</option>');
                    $("#IdSede").prop("disabled", true);
                    swal({
                        title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                        text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                        type: 'error',
                        confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                        confirmButtonText: '@TeacherMeetingResource.Aceptar'
                    });
                }

            });
        }

    }

    function cargarSeccionesForCursoAndSede(hasValue, idSed, idCurs) {
        $("#IdSeccion").empty();
        $("#IdSeccion").prop("disabled", true);
        $("#IdSeccion").append('<option value=""> @TeacherMeetingResource.CargandoSedes... </option>');


        if (hasValue === false) {
            $("#IdSeccion").empty();
            $("#IdSeccion").append('<option value="">@ProfessorResource.Todos</option>');
        } else {

            var idSubModalidadPeriodoAcademicoModulo = @Model.ReunionProfesor.SubModalidadPeriodoAcademicoModulo.IdSubModalidadPeriodoAcademicoModulo;

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAllSeccionesForCursoAndSede")',
                dataType: 'json',
                data: {
                    idSede: idSed,
                    idCursoPeriodoAcademico: idCurs,
                    idSubModalidadPeriodoAcademicoModulo : idSubModalidadPeriodoAcademicoModulo
                },
                success: function (secciones) {
                    $("#IdSeccion").empty();
                    $("#IdSeccion").empty();
                    $("#IdSeccion").append('<option value="">@ProfessorResource.Todas</option>');
                    $.each(secciones,
                        function (i, seccion) {
                            $("#IdSeccion")
                                .append('<option value="' +
                                    seccion.Value +
                                    '">' +
                                    seccion.Text +
                                    '</option>');

                        });
                },
                error: function (ex) {
                    $("#IdSeccion").empty();
                    $("#IdSeccion").append('<option value="">Error</option>');
                    $("#IdSeccion").prop("disabled", true);
                    swal({
                        title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                        text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                        type: 'error',
                        confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                        confirmButtonText: '@TeacherMeetingResource.Aceptar'
                    });
                }

            });
        }

    }


    // EVENTS ON CHANGE

    $("#IdSubareaUnidadAcademica").change(function () {
        if (!$("#IdSubareaUnidadAcademica").val()) {
            cargarCursosForArea(true, $("#IdAreaUnidadAcademica").val());
            cargarSedesForCurso(false, 0);
            cargarSeccionesForCursoAndSede(false, 0, 0);

        } else {
            cargarCursosForSubarea(true, $("#IdSubareaUnidadAcademica").val());
            cargarSedesForCurso(false, 0);
            cargarSeccionesForCursoAndSede(false, 0, 0);

        }
        return false;
    });

    $("#IdCursoPeriodoAcademico").change(function () {
        if ($("#IdCursoPeriodoAcademico").val()) {
            cargarSedesForCurso(true, $("#IdCursoPeriodoAcademico").val());
            cargarSeccionesForCursoAndSede(false, 0, 0);
        }
        else {
            cargarSedesForCurso(false, 0);
            cargarSeccionesForCursoAndSede(false, 0, 0);
        }

        return false;
    });

    $("#IdSede").change(function () {
        if ($("#IdSede").val()) {
            cargarSeccionesForCursoAndSede(true, $("#IdSede").val(), $("#IdCursoPeriodoAcademico").val());
        }
        else {
            cargarSeccionesForCursoAndSede(false, 0, $("#IdCursoPeriodoAcademico").val());
        }

        return false;
    });

    // DISABLE AND ENABLE


    $("#IdSubareaUnidadAcademica").change(function () {
        if (!$("#IdSubareaUnidadAcademica").val()) {
            $("#IdCursoPeriodoAcademico").prop("disabled", true);
            $("#IdSeccion").prop("disabled", true)
            $("#IdSede").prop("disabled", true)
        }

        else {
            $("#IdCursoPeriodoAcademico").prop("disabled", false);
        }

    });

    $("#IdCursoPeriodoAcademico").change(function () {
        var out = $("#IdCursoPeriodoAcademico").val();
        if (!$("#IdCursoPeriodoAcademico").val()) {
            $("#IdSeccion").prop("disabled", true)
        }

        if (!$("#IdSubareaUnidadAcademica").val()) {

            $("#IdSeccion").prop("disabled", true)
        }

        if ($("#IdCursoPeriodoAcademico").val()) {

            $("#IdSede").prop("disabled", false)
        }

        if ($("#IdSubareaUnidadAcademica").val() && $("#IdCursoPeriodoAcademico").val() && $("#IdSede").val()) {
            $("#IdSeccion").prop("disabled", false)
        }

    });

    $("#IdSede").change(function () {
        if (!$("#IdSede").val()) {
            $("#IdSeccion").prop("disabled", true)
        }
        if ($("#IdSede").val()) {
            $("#IdSeccion").prop("disabled", false)
        }
    });

</script>
