﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting
@{
    Layout = null;
    ViewBag.Title = _AddDetalleReunionResource.Titulo;
    ViewBag.Icon = "navicon";
    ViewBag.GUID = Guid.NewGuid();
}

<div id="modal-@ViewBag.GUID">
    <div class="modal-header" id="modalHead-@ViewBag.GUID">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="deleteMarkup()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><i class="fa fa-@ViewBag.Icon contrast">&nbsp;</i> @ViewBag.Title </h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>@_AddDetalleReunionResource.Instruccion</label>
            <select class="form-control" id="lstAgendas-@ViewBag.GUID"></select>
            <textarea style="resize: none; height: 100px;" id="taAgenda-@ViewBag.GUID" class="form-control" readonly></textarea>
        </div>
        <div class="form-group">
            <label>@_AddDetalleReunionResource.IngresarElDetalle</label>
            <textarea style="resize: none; height: 100px;" id="taDetalle-@ViewBag.GUID" class="form-control" placeholder="@(_AddDetalleReunionResource.PlaceHolder1)"></textarea>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteMarkup()"><i class="fa fa-times"></i> @_AddDetalleReunionResource.Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="aceptar()"><i class="fa fa-check"></i> @_AddDetalleReunionResource.Aceptar</button>
    </div>
</div>

<script id="script-@ViewBag.GUID">
    $(document)
        .ready(function() {
            var firstOption = true;
            var valueFirstOption;
            $(".rowAgenda")
                .each(function() {
                    $("#lstAgendas-@ViewBag.GUID")
                    .append($("<option>",
                    {
                        value: $(this).children("td.tdNroAgenda").text(),
                        text: "@(_AddDetalleReunionResource.Tema) #" + $(this).children("td.tdNroAgenda").text()
                    }));
                    if(firstOption == true) {
                        valueFirstOption = $(this).children("td.tdNroAgenda").text();
                        firstOption = false;
                    }
            });

            $("#lstAgendas-@ViewBag.GUID").val(valueFirstOption);
            $("#taAgenda-@ViewBag.GUID").val($(".rowAgenda:first").find("td.tdNombreAgenda").find("textarea.taAgenda").val());

            $("#lstAgendas-@ViewBag.GUID").on("change", function () {
                var selectedValue = $(this).val();
                $(".rowAgenda")
                    .each(function() {
                        if ($(this).children("td.tdNroAgenda").text() == selectedValue) {
                            $("#taAgenda-@ViewBag.GUID").val($(this).children("td.tdNombreAgenda").find("textarea.taAgenda").val());
                        }
                    });
            });
    });

    function deleteMarkup() {
        $('.modal.in').modal('hide');
        $("#script-@ViewBag.GUID").remove();
        $("#script-@ViewBag.GUID").remove();
    }

    function aceptar() {
        // check detalle
        if ($("#taDetalle-@ViewBag.GUID").val().length == 0) {
            alert("@(_AddDetalleReunionResource.Alerta1)");
            return;
        }

        // check agenda
        var checkedAtLeastOneHallazgo = false;
        $('#lstAgendas-@ViewBag.GUID > option:selected').each(function () {
            checkedAtLeastOneHallazgo = true;
        });

        if (!checkedAtLeastOneHallazgo) {
            alert("@(_AddDetalleReunionResource.Alerta2)");
            return;
        }

        // agregar detalle
        addDetalle($("#lstAgendas-@ViewBag.GUID").val(), $("#taDetalle-@ViewBag.GUID").val());

        deleteMarkup();
    }

    function addDetalle(nroAgenda, descripcion) {
        var rowCount = $('.rowDetalle').length;
        var nroDetalle = "D" + globalDetalle.toString();
        globalDetalle++;
        $("#tblDetalles")
            .append
            (
            '<tr class="rowDetalle">' +
                '<td class="tdNroDetalle" style="width: 8%; text-align: center;">' +
                    nroDetalle +
                    '<input type="hidden" class="hiddenNroDetalle" name="DetalleTemaReunion[' + rowCount + '].Numero" value="' + nroDetalle + '"/>' +
                '</td>' +
                '<td class="tdNroAgendaDetalle" style="width: 12%; text-align: center;">' +
                    nroAgenda +
                    '<input type="hidden" class="hiddenNroAgendaDetalle" name="DetalleTemaReunion[' + rowCount + '].NumeroTemaReunion" value="' + nroAgenda + '"/>' +
                '</td>' +
                '<td class="tdDetallesDetalle" style="width: 70%; text-align: center;">' +
                    descripcion +
                    '<input type="hidden" class="hiddenDetallesDetalle" name="DetalleTemaReunion[' + rowCount + '].DetalleTemaReunion.DetalleTema" value="' + descripcion + '"/>' +
                '</td>' +
                '<td style="width: 10%; text-align: center;">' +
                    '<button class="btn btn-icon btn-default btn-outline remRowDetalle" type="button">' +
                        '<i class="icon wb-trash" aria-hidden="true"></i>' +
                    '</button>' +
                '</td>' +
            '</tr>'
            );
    }
</script>