﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingAgreementViewModel
@using UPC.CA.ABET.Presentation.Resources.Views.Error;

@{
    var culture = Session.GetCulture().ToString();
}

<style>
    label.help-block {
        color: red;
    }

    .form-group > .control-label {
        padding-left: 0px;
        padding-right: 0px;
        font-weight: bold;
    }

    .deadlineweek-datetime {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>

@using (Html.BeginForm("_AddTeacherMeetingAgreement", "TeacherMeeting", FormMethod.Post, new { enctype = "multipart/form-data", @id = "addTeacherMeetingAgreementForm" }))
{
    var reunionHallazgos = Model.ReunionProfesorHallazgos.ToList();
    var reunionProfesores = Model.ReunionProfesorParticipantes.ToList();
    var reunionProfesorInvitado = Model.ReunionProfesorParticipanteInvitados;
    <div class="modal-header">
        <h3 class="modal-title">@TeacherMeetingResource.NuevoAcuerdoenlaReunion</h3>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(x => x.IdReunionProfesor)
        @Html.HiddenFor(x => x.SubModalityAcademicPeriodModuleId)
        @Html.HiddenFor(x => x.DateDeadLine)
        <div class="row">
            <div class="form-group col-sm-12 col-md-12">
                <label class="control-label" style="font-weight:bold;">
                    @TeacherMeetingResource.Descripcion
                </label>
                @{
                    if (culture == ConstantHelpers.CULTURE.ESPANOL)
                    {
                        <ul class="nav nav-tabs" id="addAgreementDescriptionLanguages" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" style="padding: 0px 20px;" id="spanish-agreement-description-tab" data-toggle="tab" href="#spanish-agreement-description" role="tab" aria-controls="spanish-agreement-description" aria-selected="true">@LayoutResource.Espanol</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="padding: 0px 20px;" id="english-agreement-description-tab" data-toggle="tab" href="#english-agreement-description" role="tab" aria-controls="english-agreement-description" aria-selected="false">@LayoutResource.Ingles</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="addAgreementDescriptionLanguagesContent">
                            <div class="tab-pane fade active in" id="spanish-agreement-description" role="tabpanel" aria-labelledby="spanish-agreement-description-tab" style="background-color: transparent;">
                                @Html.TextArea("descripcionEspanol", new { @class = "form-control", @id = "descripcionEspanol", @required = "required" })
                            </div>
                            <div class="tab-pane fade" id="english-agreement-description" role="tabpanel" aria-labelledby="english-agreement-description-tab" style="background-color: transparent;">
                                @Html.TextArea("descripcionIngles", new { @class = "form-control", @id = "descripcionIngles", @required = "required" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <ul class="nav nav-tabs" id="addAgreementDescriptionLanguages" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" style="padding: 0px 20px;" id="english-agreement-description-tab" data-toggle="tab" href="#english-agreement-description" role="tab" aria-controls="english-agreement-description" aria-selected="true">@LayoutResource.Ingles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="padding: 0px 20px;" id="spanish-agreement-description-tab" data-toggle="tab" href="#spanish-agreement-description" role="tab" aria-controls="spanish-agreement-description" aria-selected="false">@LayoutResource.Espanol</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="addAgreementDescriptionLanguagesContent">
                            <div class="tab-pane fade active in" id="english-agreement-description" role="tabpanel" aria-labelledby="english-agreement-description-tab" style="background-color: transparent;">
                                @Html.TextArea("descripcionIngles", new { @class = "form-control", @id = "descripcionIngles", @required = "required" })
                            </div>
                            <div class="tab-pane fade" id="spanish-agreement-description" role="tabpanel" aria-labelledby="spanish-agreement-description-tab" style="background-color: transparent;">
                                @Html.TextArea("descripcionEspanol", new { @class = "form-control", @id = "descripcionEspanol", @required = "required" })
                            </div>
                        </div>
                    }
                }
                <div class="error-descripcion">
                    <span style="color: red;"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-12">
                <label class="control-label" style="font-weight:bold;">
                    @(TeacherMeetingResource.Hallazgo)s
                </label>
                <div id="hallazgos">
                    @foreach (var item in reunionHallazgos)
                    {
                        <div class="custom-control custom-checkbox col-md-12 col-sm-12">
                            <input type="checkbox" class="custom-control-input" id="hallazgo-@item.IdReunionProfesorHallazgo" name="hallazgo-@item.IdReunionProfesorHallazgo" value="@item.IdReunionProfesorHallazgo">
                            <label class="custom-control-label" for="hallazgo-@item.IdReunionProfesorHallazgo" style="text-align: justify;">@(culture == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-12">
                <label class="control-label" style="font-weight:bold;">
                    @TeacherMeetingResource.Tareas
                </label>
                @{
                    if (culture == ConstantHelpers.CULTURE.ESPANOL)
                    {
                        <ul class="nav nav-tabs" id="addAgreemenTaskLanguages" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" style="padding: 0px 20px;" id="spanish-agreement-task-tab" data-toggle="tab" href="#spanish-agreement-task" role="tab" aria-controls="spanish-agreement-task" aria-selected="true">@LayoutResource.Espanol</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="padding: 0px 20px;" id="english-agreement-task-tab" data-toggle="tab" href="#english-agreement-task" role="tab" aria-controls="english-agreement-task" aria-selected="false">@LayoutResource.Ingles</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="addAgreemenTaskLanguagesContent">
                            <div class="tab-pane fade active in" id="spanish-agreement-task" role="tabpanel" aria-labelledby="spanish-agreement-task-tab" style="background-color: transparent;">
                                @Html.TextArea("newAgreementTaskEspanol", new { @class = "form-control", @id = "newAgreementTaskEspanol" })
                            </div>
                            <div class="tab-pane fade" id="english-agreement-task" role="tabpanel" aria-labelledby="english-agreement-task-tab" style="background-color: transparent;">
                                @Html.TextArea("newAgreementTaskIngles", new { @class = "form-control", @id = "newAgreementTaskIngles" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <ul class="nav nav-tabs" id="addAgreemenTaskLanguages" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" style="padding: 0px 20px;" id="english-agreement-task-tab" data-toggle="tab" href="#english-agreement-task" role="tab" aria-controls="english-agreement-task" aria-selected="true">@LayoutResource.Ingles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="padding: 0px 20px;" id="spanish-agreement-task-tab" data-toggle="tab" href="#spanish-agreement-task" role="tab" aria-controls="spanish-agreement-task" aria-selected="false">@LayoutResource.Espanol</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="addAgreemenTaskLanguagesContent">
                            <div class="tab-pane fade active in" id="english-agreement-task" role="tabpanel" aria-labelledby="english-agreement-task-tab" style="background-color: transparent;">
                                @Html.TextArea("newAgreementTaskIngles", new { @class = "form-control", @id = "newAgreementTaskIngles" })
                            </div>
                            <div class="tab-pane fade" id="spanish-agreement-task" role="tabpanel" aria-labelledby="spanish-agreement-task-tab" style="background-color: transparent;">
                                @Html.TextArea("newAgreementTaskEspanol", new { @class = "form-control", @id = "newAgreementTaskEspanol" })
                            </div>
                        </div>
                    }
                }
                <div class="error-task">
                    <span style="color: red;"></span>
                </div>
                <span class="input-group-btn" style="text-align: right;">
                    <button class="btn btn-default" type="button" id="addAgreementTask">@TeacherMeetingResource.AgregarTarea</button>
                </span>
                <div id="tareas">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-12">
                <label class="control-label" style="font-weight:bold;">
                    @TeacherMeetingResource.Docentes
                </label>
                <br />
                <div style="float:right;">
                    <div class="custom-control custom-checkbox col-md-12 col-sm-12">
                        <label class="custom-control-label">
                            @TeacherMeetingResource.SeleccionarTodos
                            <input type="checkbox" class="custom-control-input" id="selectAll">
                        </label>
                    </div>
                </div>
                <div id="docentes">
                    @foreach (var item in reunionProfesores)
                    {
                        <div class="custom-control custom-checkbox col-md-12 col-sm-12">
                            <input type="checkbox" class="custom-control-input" id="docente-@item.IdDocente" name="docente-@item.IdDocente" value="@item.IdDocente">
                            <label class="custom-control-label" for="docente-@item.IdDocente">@item.Docente.Apellidos, @item.Docente.Nombres</label>
                        </div>
                    }
                </div>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-sm-12 col-md-12">
                <label class="control-label" style="font-weight:bold;">
                    @TeacherMeetingResource.DocentesInvitados
                </label>
                <br />
                <div style="float:right;">
                    <div class="custom-control custom-checkbox col-md-12 col-sm-12">
                        <label class="custom-control-label">
                            @TeacherMeetingResource.SeleccionarTodos
                            <input type="checkbox" class="custom-control-input" id="selectAllInvitedTeachers">
                        </label>
                    </div>
                </div>
                <div id="docentesInvitados">
                    @foreach (var item in reunionProfesorInvitado)
                    {
                        <div class="custom-control custom-checkbox col-md-12 col-sm-12">
                            <input type="checkbox" class="custom-control-input" id="invitado-@item.IdReunionProfesorParticipanteInvitado" name="invitado-@item.IdReunionProfesorParticipanteInvitado" value="@item.IdReunionProfesorParticipanteInvitado">
                            <label class="custom-control-label" for="invitado-@item.IdReunionProfesorParticipanteInvitado">@item.NombreCompleto</label>
                        </div>
                    }
                </div>
            </div>
        </div>


        <div class="row">
            @Html.FormGroup(TeacherMeetingResource.SemanaDeadline, Html.DropDownListFor(x => x.SemanaDeadline, (IEnumerable<SelectListItem>)Model.WeeksLeft, new { @class = "form-control", @required = "required" }), false, null, 12)
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label" style="font-weight: bold;">
                    @TeacherMeetingResource.FechaDeadline
                </label>
                <div class="col-sm-12">
                    @Html.TextBoxFor(x => x.FechaDeadline, new { @class = "form-control", @name = "FechaDeadline", @type = "text", @required = "true" })
                    @*<input class="form-control" type="text" id="FechaDeadline" name="FechaDeadline" required />*@
                </div>
            </div>
        </div>

        <div id="totalErrors">
            <span style="color: red;"></span>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">
            @ButtonsOptionsResource.Cancelar
        </button>
        <button type="submit" class="btn btn-primary">
            @ButtonsOptionsResource.Guardar
        </button>
    </div>
}
<link href="@Url.Content("~/Content/vendor/jquery-ui/css/jquery-ui.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/vendor/jquery-ui/jquery-ui.min.js")"></script>

<script type="text/javascript">
    function getRanges(weekStart) {
        var sMAPMId = $('#SubModalityAcademicPeriodModuleId').val();
        $.ajax({
            type: 'get',
            url: '@Url.Action("GetWeeksRange")',
            data: { weekStart, sMAPMId },
            success: function (data) {
                var start = data.start.split('/');
                var end = data.end.split('/');
                var startDate = new Date(start[2], start[1] - 1, start[0]);
                var endDate = new Date(end[2], end[1] - 1, end[0]);
                $('#FechaDeadline').datepicker("option", "minDate", startDate);
                $('#FechaDeadline').datepicker("option", "maxDate", endDate);
                $('#FechaDeadline').datepicker("setDate", endDate);
                $('#FechaDeadline').datepicker("refresh");
            }
        });
    }
    $(".btn.btn-primary").on("click", function () {        
        let date = $('#FechaDeadline').val();
        $('#DateDeadLine').val(date);       
    });
    $(document).ready(function () {
        //$('#FechaDeadline').datepicker({
        //    autohide: true
        //});
        $('#FechaDeadline').prop("disabled", true);
        $('#FechaDeadline').attr("autocomplete", "off");
        getRanges($('#SemanaDeadline').val());
        $('#SemanaDeadline').on("change", function () {
            getRanges($(this).val());
        });

        $('#FechaDeadline').datepicker({
            autohide: true
        });
        
        //description
        $('#spanish-agreement-description-tab').on('click', function () {
            $('div.error-descripcion').hide();
        });

        $('#english-agreement-description-tab').on('click', function () {
            $('div.error-descripcion').hide();
        });

        //task
        $('#spanish-agreement-task-tab').on('click', function () {
            $('div.error-descripcion').hide();
        });

        $('#english-agreement-task-tab').on('click', function () {
            $('div.error-descripcion').hide();
        });

        
        var lang = $('html').attr('lang');
        var letterNumbers = /^(?:(?![×Þß÷þø])[-'"\ñ0-9a-zA-ZÀ-ÿ ?!&¿¡,.():-\s])+$/;
        var taskCount = 0;
        if (lang === 'es-PE') {
            jQuery.extend(jQuery.validator.messages, {
                required: '@ErrorResource.CampoRequerido',
            });
            $('#descripcionEspanol').blur(function () {
                var value = $(this).val();
                $('#descripcionIngles').val('');
                if (value.trim() !== "") {
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("TranslateToSpanish")',
                        data: {
                            value
                        },
                        success: function (response) {
                            $('#descripcionIngles').val(response.result);
                        }
                    });
                }
            });
            $('#newAgreementTaskEspanol').blur(function () {
                var newAgreementTaskEspanol = $(this).val();
                $('#newAgreementTaskIngles').val('');
                if (newAgreementTaskEspanol.trim() !== "") {
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("TranslateToSpanish")',
                        data: {
                            value: newAgreementTaskEspanol
                        },
                        success: function (response) {
                            $('#newAgreementTaskIngles').val(response.result);
                        }
                    });
                }
            });
            $("#addAgreementTask").click(function () {
                var newAgreementTaskInglesValue = $('#newAgreementTaskIngles').val();
                var newAgreementTaskEspanolValue = $('#newAgreementTaskEspanol').val();
                if (newAgreementTaskInglesValue.trim() === "" || newAgreementTaskEspanolValue.trim() === "") {
                    $('div.error-task span').html('@MessageResource.FaltanDatos');
                    $('div.error-task').show();
                } else {
                    if (newAgreementTaskInglesValue.match(letterNumbers) && newAgreementTaskInglesValue.trim() !== ""
                    && newAgreementTaskEspanolValue.match(letterNumbers) && newAgreementTaskEspanolValue.trim() !== "") {
                        $('div.error-task').hide();
                        $("#tareas").append("<div class='custom-control custom-checkbox col-sm-12' style='margin-top: 1rem;'>\
                                <label class='custom-control-label' style='padding-left: 15px; text-indent: -15px; text-align: justify;'>\
                                <input type='checkbox' class='custom-control-input' id='tarea-" + taskCount + "' name='tarea-" + taskCount + "' checked value='" + newAgreementTaskEspanolValue + "|" + newAgreementTaskInglesValue + "'>\
                                " + newAgreementTaskEspanolValue + "<a href='javascript:void(0)' class='js-delete'>  " + '@TeacherMeetingResource.Borrar' + "</a></label>\
                                </div>");
                        $('#newAgreementTaskIngles').val('');
                        $('#newAgreementTaskEspanol').val('');
                        taskCount++;
                    } else {
                        $('div.error-task span').html('@ErrorResource.CaracteresInvalidos');
                        $('div.error-task').show();
                    }
                }

            });
        } else if (lang === 'en-US') {
            $('#descripcionIngles').blur(function () {
                var value = $(this).val();
                $('#descripcionEspanol').val('');
                if (value.trim() !== "") {
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("TranslateToSpanish")',
                        data: {
                            value,
                            from: 'en',
                            to: 'es',
                        },
                        success: function (response) {
                            $('#descripcionEspanol').val(response.result);
                        }
                    });
                }
            });
            $('#newAgreementTaskIngles').blur(function () {
                var newAgreementTaskIngles = $(this).val();
                $('#newAgreementTaskEspanol').val('');
                if (newAgreementTaskIngles.trim() !== "") {
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("TranslateToSpanish")',
                        data: {
                            value: newAgreementTaskIngles,
                            from: 'en',
                            to: 'es',
                        },
                        success: function (response) {
                            $('#newAgreementTaskEspanol').val(response.result);
                        }
                    });
                }
            });
            
            $("#addAgreementTask").click(function () {
                var newAgreementTaskInglesValue = $('#newAgreementTaskIngles').val();
                var newAgreementTaskEspanolValue = $('#newAgreementTaskEspanol').val();
                if (newAgreementTaskInglesValue.trim() === "" || newAgreementTaskEspanolValue.trim() === "") {
                    $('div.error-task span').html('@MessageResource.FaltanDatos');
                    $('div.error-task').show();
                } else {
                    if (newAgreementTaskInglesValue.match(letterNumbers) && newAgreementTaskInglesValue.trim() !== ""
                    && newAgreementTaskEspanolValue.match(letterNumbers) && newAgreementTaskEspanolValue.trim() !== "") {
                        $('div.error-task').hide();
                        $("#tareas").append("<div class='custom-control custom-checkbox col-sm-12' style='margin-top: 1rem;'>\
                                <label class='custom-control-label' style='padding-left: 15px; text-indent: -15px; text-align: justify;'>\
                                <input type='checkbox' class='custom-control-input' id='tarea-" + taskCount + "' name='tarea-" + taskCount + "' checked value='" + newAgreementTaskEspanolValue + "|||||" + newAgreementTaskInglesValue + "'>\
                                " + newAgreementTaskInglesValue + "<a href='javascript:void(0)' class='js-delete'>  " + '@TeacherMeetingResource.Borrar' + "</a></label>\
                                </div>");
                        $('#newAgreementTaskIngles').val('');
                        $('#newAgreementTaskEspanol').val('');
                        taskCount++;
                    } else {
                        $('div.error-task span').html('@ErrorResource.CaracteresInvalidos');
                        $('div.error-task').show();
                    }
                }

            });
        }

        $('#addTeacherMeetingAgreementForm').validate({
            errorClass: "help-block",
            submitHandler: function (form) {
                var hallazgosAlMenosUnoEstaMarcado = $('#hallazgos input:checked').length > 0;
                var tareasAlMenosUnoEstaMarcado = $('#tareas input:checked').length > 0;
                var docentesAlMenosUnoEstaMarcado = $('#docentes input:checked').length > 0;

                //description
                var descripcionEspanol = $('#descripcionEspanol').val();
                var descripcionIngles = $('#descripcionIngles').val();
                if (descripcionEspanol.trim() === "" || descripcionIngles.trim() === "") {
                    $('div.error-descripcion span').html('@MessageResource.FaltanDatos');
                    $('div.error-descripcion').show();
                    return false;
                }
                if (!descripcionEspanol.match(letterNumbers) || !descripcionIngles.match(letterNumbers)) {
                    $('div.error-descripcion span').html('@ErrorResource.CaracteresInvalidos');
                    $('div.error-descripcion').show();
                    return false;
                } else {
                    $('div.error-descripcion').hide();
                }

                if (!hallazgosAlMenosUnoEstaMarcado || !tareasAlMenosUnoEstaMarcado || !docentesAlMenosUnoEstaMarcado) {
                    $('#totalErrors span').html('@TeacherMeetingResource.DebeMarcarMenosUnHallazgoTareaDocente');
                    $('#totalErrors').show();
                    return false;
                } else {
                    $('#totalErrors').hide();
                    form.submit();
                    return true;
                }
            }
        });

        $('#tareas').on("click", ".js-delete", function (e) {
            var button = $(this);
            e.preventDefault(e);
            swal({
                title: '@Html.Raw(TeacherMeetingResource.EstaSegurodeBorrarlaTarea)',
                text: '@Html.Raw(TeacherMeetingResource.EstaAccionElimninaraLaTarea)',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                confirmButtonText: '@TeacherMeetingResource.Aceptar',
                cancelButtonText: '@ButtonsOptionsResource.Cancelar',
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (confirmed) {
                    if (confirmed) {
                        button.closest('div').remove();
                    }
                }
            );
        });

        $('#selectAll').click(function (event) {
            var checkboxes = document.getElementById('docentes').getElementsByTagName('input');
            if (this.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = true;
                }
            }
            else {
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false;
                }
            }
        });

        $('#selectAllInvitedTeachers').click(function (event) {
            var checkboxes = document.getElementById('docentesInvitados').getElementsByTagName('input');
            if (this.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = true;
                }
            }
            else {
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false;
                }
            }
        });

    });
</script>