﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting
 
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.ObservacionesActaViewModel
@{
    Layout = null;
    ViewBag.Title = _AddObservacionResource.Titulo;
    ViewBag.Icon = "navicon";
    ViewBag.GUID = Guid.NewGuid();
}

<div id="modal-@ViewBag.GUID">
    <div class="modal-header" id="modalHead-@ViewBag.GUID">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="deleteMarkup()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><i class="fa fa-@ViewBag.Icon contrast">&nbsp;</i> @ViewBag.Title @Model.observacionesActa.SeccionActa</h4>
    </div>
    <div class="modal-body">        
        <div class="form-group">          
            <label>@_AddObservacionResource.IngresarObservacion</label>
            <input hidden type="text" id="seccionActa-@ViewBag.GUID" value="@Model.observacionesActa.SeccionActa" />
            <input hidden type="text" id="idParticipante-@ViewBag.GUID" value="@Model.observacionesActa.idParticipante" />
            <input hidden type="text" id="NomParticipante-@ViewBag.GUID" value="@Model.NomParticipante" />
            <textarea style="resize: none; height: 100px;" id="taObservacion-@ViewBag.GUID" class="form-control" placeholder="@(_AddObservacionResource.Placeholder)"></textarea>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteMarkup()"><i class="fa fa-times"></i> @_AddDetalleReunionResource.Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="guardar()"><i class="fa fa-check"></i> @_AddDetalleReunionResource.Aceptar</button>
    </div>
</div>

<script id="script-@ViewBag.GUID">
    $(document)
        .ready(function() {
            
    });

    function deleteMarkup() {
        $('.modal.in').modal('hide');
        $("#script-@ViewBag.GUID").remove();
        $("#script-@ViewBag.GUID").remove();
    }

    function guardar() {
        // check observacion
        if ($("#taObservacion-@ViewBag.GUID").val().length == 0) {
            alert("@(_AddDetalleReunionResource.Alerta1)");
            return;
        }        

        // agregar observacion 
        addObservacion($("#seccionActa-@ViewBag.GUID").val(), $("#taObservacion-@ViewBag.GUID").val());

        deleteMarkup();
    }

    function addObservacion(seccionActa, observacion) {
        var rowCount = $('.rowObservacion').length;
        var idParticipante = $("#idParticipante-@ViewBag.GUID").val();
        var nomParticipante = $("#NomParticipante-@ViewBag.GUID").val();
        var nroObservacion = "O" + globalObservaciones.toString();
        var Estado = "@ConstantHelpers.PROFESSOR.ACTAS.OBSERVACIONES.ESTADOS.PENDIENTE.CODIGO";
        var EstadoMostrado = "@ConstantHelpers.PROFESSOR.ACTAS.OBSERVACIONES.ESTADOS.PENDIENTE.TEXTO";

        globalObservaciones++;
        $("#tblObservaciones")
            .append
            (            
            '<tr class="rowObservacion">' +
                '<td style="width: 8%; text-align: center; vertical-align: middle;">' +
                    nroObservacion +
                    '<input type="hidden" name="Observaciones[' + rowCount + '].Numero" value="' + nroObservacion + '"/>' +
                '</td>' +
                '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                    seccionActa +
                    '<input type="hidden" name="Observaciones[' + rowCount + '].observacionesActa.SeccionActa" value="' + seccionActa + '"/>' +
                '</td>' +
                '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                    nomParticipante +
                    '<input type="hidden" name="Observaciones[' + rowCount + '].observacionesActa.idParticipante" value="' + idParticipante + '"/>' +
                    '<input type="hidden" name="Observaciones[' + rowCount + '].NomParticipante" value="' + nomParticipante + '"/>' +
                '</td>' +
                '<td style="width: 52%; text-align: left; vertical-align: middle;">' +
                    observacion +
                    '<input type="hidden" name="Observaciones[' + rowCount + '].observacionesActa.Comentario" value="' + observacion + '"/>' +
                '</td>' +
                '<td style="width: 10%; text-align: center; vertical-align: middle;">' +
                    EstadoMostrado +
                    '<input type="hidden" name="Observaciones[' + rowCount + '].observacionesActa.Estado" value="' + Estado + '"/>' +
                '</td>' +
            '</tr>'
            );

        switch (seccionActa) {
            case "Información General":
                $("#tblObservacionesInformacionGeneral").append(
                    '<tr class="rowObservacionInformacionGeneral">' +
                        '<td style="width: 8%; text-align: center; vertical-align: middle;">' +
                          nroObservacion +                            
                        '</td>' +
                        '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                            seccionActa +                            
                        '</td>' +
                        '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                            nomParticipante +                            
                        '</td>' +
                        '<td style="width: 52%; text-align: left; vertical-align: middle;">' +
                            observacion +                            
                        '</td>' +
                        '<td style="width: 10%; text-align: center; vertical-align: middle;">' +
                            EstadoMostrado +
                        '</td>' +
                    '</tr>'
                    );
                break;
            case "Agenda":
                $("#tblObservacionesAgenda").append(
                   '<tr class="rowObservacionAgenda">' +
                       '<td style="width: 8%; text-align: center; vertical-align: middle;">' +
                         nroObservacion +
                       '</td>' +
                       '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                           seccionActa +
                       '</td>' +
                       '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                           nomParticipante +
                       '</td>' +
                       '<td style="width: 52%; text-align: left; vertical-align: middle;">' +
                           observacion +
                       '</td>' +
                       '<td style="width: 10%; text-align: center; vertical-align: middle;">' +
                           EstadoMostrado +
                       '</td>' +
                   '</tr>'
                   );
                break;
            case "Participantes":
                $("#tblObservacionesParticipantes").append(
                  '<tr class="rowObservacionParticipantes">' +
                      '<td style="width: 8%; text-align: center; vertical-align: middle;">' +
                        nroObservacion +
                      '</td>' +
                      '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                          seccionActa +
                      '</td>' +
                      '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                          nomParticipante +
                      '</td>' +
                      '<td style="width: 52%; text-align: left; vertical-align: middle;">' +
                          observacion +
                      '</td>' +
                      '<td style="width: 10%; text-align: center; vertical-align: middle;">' +
                          EstadoMostrado +
                      '</td>' +
                  '</tr>'
                  );
                break;
            case "Detalle Reunión":
                $("#tblObservacionesDetalleReunion").append(
                  '<tr class="rowObservacionDetalleReunion">' +
                      '<td style="width: 8%; text-align: center; vertical-align: middle;">' +
                        nroObservacion +
                      '</td>' +
                      '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                          seccionActa +
                      '</td>' +
                      '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                          nomParticipante +
                      '</td>' +
                      '<td style="width: 52%; text-align: left; vertical-align: middle;">' +
                          observacion +
                      '</td>' +
                      '<td style="width: 10%; text-align: center; vertical-align: middle;">' +
                          EstadoMostrado +
                      '</td>' +
                  '</tr>'
                  );
                break;
            case "Documentos":
                $("#tblObservacionesDocumentos").append(
                 '<tr class="rowObservacionDocumentos">' +
                     '<td style="width: 8%; text-align: center; vertical-align: middle;">' +
                       nroObservacion +
                     '</td>' +
                     '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                         seccionActa +
                     '</td>' +
                     '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                         nomParticipante +
                     '</td>' +
                     '<td style="width: 52%; text-align: left; vertical-align: middle;">' +
                         observacion +
                     '</td>' +
                     '<td style="width: 10%; text-align: center; vertical-align: middle;">' +
                         EstadoMostrado +
                     '</td>' +
                 '</tr>'
                 );
                break;
            case "Acuerdos":
                $("#tblObservacionesAcuerdos").append(
                '<tr class="rowObservacionAcuerdos">' +
                    '<td style="width: 8%; text-align: center; vertical-align: middle;">' +
                      nroObservacion +
                    '</td>' +
                    '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                        seccionActa +
                    '</td>' +
                    '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                        nomParticipante +
                    '</td>' +
                    '<td style="width: 52%; text-align: left; vertical-align: middle;">' +
                        observacion +
                    '</td>' +
                    '<td style="width: 10%; text-align: center; vertical-align: middle;">' +
                        EstadoMostrado +
                    '</td>' +
                '</tr>'
                );
                break;
            case "Tareas":
                $("#tblObservacionesTareas").append(
                '<tr class="rowObservacionTareas">' +
                    '<td style="width: 8%; text-align: center; vertical-align: middle;">' +
                      nroObservacion +
                    '</td>' +
                    '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                        seccionActa +
                    '</td>' +
                    '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                        nomParticipante +
                    '</td>' +
                    '<td style="width: 52%; text-align: left; vertical-align: middle;">' +
                        observacion +
                    '</td>' +
                    '<td style="width: 10%; text-align: center; vertical-align: middle;">' +
                        EstadoMostrado +
                    '</td>' +
                '</tr>'
                );
                break;
            case "Foto":
                $("#tblObservacionesFoto").append(
                '<tr class="rowObservacionFoto">' +
                    '<td style="width: 8%; text-align: center; vertical-align: middle;">' +
                      nroObservacion +
                    '</td>' +
                    '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                        seccionActa +
                    '</td>' +
                    '<td style="width: 15%; text-align: center; vertical-align: middle;">' +
                        nomParticipante +
                    '</td>' +
                    '<td style="width: 52%; text-align: left; vertical-align: middle;">' +
                        observacion +
                    '</td>' +
                    '<td style="width: 10%; text-align: center; vertical-align: middle;">' +
                        EstadoMostrado +
                    '</td>' +
                '</tr>'
                );
                break;
                
        }

    }
</script>