﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingAgreementViewModel
@{
    var entities = new UPC.CA.ABET.Models.AbetEntities();
    var culture = Session.GetCulture().ToString();
}
<style>
    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .ui-datepicker{z-index:1701 !important;}
</style>
<div class="tab-pane fade" id="agreements" role="tabpanel" aria-labelledby="agreements-tab">
    <div class="agreements-items">
        @if (Model.ReunionProfesorAcuerdos.Count() == 0)
        {
            <div style="text-align: center;">
                <div>@TeacherMeetingResource.EnEstaReunionnoExistenAcuerdosCreados</div>
            </div>
            <div class="row" style="text-align: center; margin-top: 3rem;">
                <button type="button" class="btn btn-dark" id="addAgreement">@TeacherMeetingResource.AgregarAcuerdo</button>
            </div>
        }
        else
        {
            for (int i = 0; i < Model.ReunionProfesorAcuerdos.Count(); i++)
            {
                var reunionProfesorAcuerdo = Model.ReunionProfesorAcuerdos.ToList()[i];
                var tareas = reunionProfesorAcuerdo.ReunionProfesorTarea.ToList();
                var hallazgoList = new List<UPC.CA.ABET.Models.ReunionProfesorHallazgo>();
                var docentes = new List<UPC.CA.ABET.Models.Docente>();
                var hallazgosTareasList = new List<UPC.CA.ABET.Models.ReunionProfesorHallazgoTarea>();
                var reunionProfesorHallazgoTareaResponsableList = new List<UPC.CA.ABET.Models.ReunionProfesorHallazgoTareaResponsable>();
                var docenteinvitadoList = new List<UPC.CA.ABET.Models.ReunionProfesorParticipanteInvitado>();
                var reunionProfesorInvitadoHallazgoTareaResponsableList = new List<UPC.CA.ABET.Models.ReunionProfesorInvitadoHallazgoTareaResponsable>();
                foreach (var tarea in tareas)
                {
                    var hallazgosTareas = entities.ReunionProfesorHallazgoTarea.Where(x => x.IdReunionProfesorTarea == tarea.IdReunionProfesorTarea).ToList();
                    hallazgosTareasList.AddRange(hallazgosTareas);
                }
                foreach (var hallazgoTarea in hallazgosTareasList)
                {
                    hallazgoList.Add(hallazgoTarea.ReunionProfesorHallazgo);
                    reunionProfesorHallazgoTareaResponsableList.AddRange(hallazgoTarea.ReunionProfesorHallazgoTareaResponsable);
                    reunionProfesorInvitadoHallazgoTareaResponsableList.AddRange(hallazgoTarea.ReunionProfesorInvitadoHallazgoTareaResponsable);
                }
                hallazgoList = hallazgoList.Distinct().ToList();
                reunionProfesorHallazgoTareaResponsableList = reunionProfesorHallazgoTareaResponsableList.Distinct().ToList();
                docentes = reunionProfesorHallazgoTareaResponsableList.Select(x => x.Docente).Distinct().ToList();
                docenteinvitadoList = reunionProfesorInvitadoHallazgoTareaResponsableList.Select(x => x.ReunionProfesorParticipanteInvitado).Distinct().ToList();

                var expanded = i == 0 ? "true" : "false";
                var collapseClasses = new List<string> { "panel-body", "panel-collapse", "collapse" };

                if (expanded.ToBoolean())
                {
                    collapseClasses.Add("in");
                }

                <div class="panel-group" id="rPA-@reunionProfesorAcuerdo.IdReunionProfesorAcuerdo" aria-multiselectable="true" role="tablist">
                    <div class="panel">
                        <div class="panel-heading" id="rPA-@reunionProfesorAcuerdo.IdReunionProfesorAcuerdo-heading" role="tab" style="cursor: pointer;">
                            <h3 class="panel-title" data-toggle="collapse" href="#rPA-@reunionProfesorAcuerdo.IdReunionProfesorAcuerdo-collapse" aria-expanded=@expanded aria-controls="rPA-@reunionProfesorAcuerdo.IdReunionProfesorAcuerdo-collapse">
                                <i class=""></i> @TeacherMeetingResource.Acuerdo N° @(i+1)
                            </h3>
                        </div>
                        <div class="@string.Join(" ", collapseClasses)" id="rPA-@reunionProfesorAcuerdo.IdReunionProfesorAcuerdo-collapse" aria-labelledby="rPA-@reunionProfesorAcuerdo.IdReunionProfesorAcuerdo-heading" role="tabpanel">
                            <div class="row" style="display: flex; flex-wrap: wrap">
                                <div class="col-xs-12 col-sm-6 align-self-start">
                                    <p style="font-weight: bold">@TeacherMeetingResource.Descripcion</p>
                                    <p style="padding-left: 20px; text-align: justify;">@(culture == ConstantHelpers.CULTURE.ESPANOL ? reunionProfesorAcuerdo.DescripcionEspanol : reunionProfesorAcuerdo.DescripcionIngles)</p>
                                </div>
                                <div class="col-xs-12 col-sm-6 align-self-start">
                                    <p style="font-weight: bold">@(TeacherMeetingResource.Hallazgo)s</p>
                                    <ul style="text-align: justify;">
                                        @foreach (var hallazgo in hallazgoList)
                                        {
                                            <li>@(culture == ConstantHelpers.CULTURE.ESPANOL ? hallazgo.DescripcionEspanol :hallazgo.DescripcionIngles)</li>
                                        }
                                    </ul>
                                </div>

                                <div class="col-xs-12 col-sm-6 align-self-start">
                                    <p style="font-weight: bold">@TeacherMeetingResource.Responsables</p>
                                    <ul>
                                        @foreach (var profesor in docentes)
                                        {
                                            <li>@profesor.Nombres @profesor.Apellidos</li>
                                        }
                                    </ul>
                                </div>
                                @if(docenteinvitadoList.Count() > 0)
                                { 
                                    <div class="col-xs-12 col-sm-6 align-self-start">
                                        <p style="font-weight: bold">@TeacherMeetingResource.ResponsableInvitado</p>
                                        <ul>
                                            @foreach (var invitado in docenteinvitadoList)
                                            {
                                                <li>@invitado.NombreCompleto</li>
                                            }
                                        </ul>
                                    </div>
                                }
                                <div class="col-xs-12 col-sm-6 align-self-start">
                                    <p style="font-weight: bold">@TeacherMeetingResource.Tareas</p>
                                    <ul style="text-align: justify;">
                                        @foreach (var tarea in reunionProfesorAcuerdo.ReunionProfesorTarea)
                                        {
                                            <li>@(culture == ConstantHelpers.CULTURE.ESPANOL ? tarea.DescripcionEspanol : tarea.DescripcionIngles)</li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-6 align-self-start">
                                    <p style="font-weight: bold">@TeacherMeetingResource.Deadline</p>
                                    <p style="padding-left: 20px; text-align: justify;">@TeacherMeetingResource.Semana @reunionProfesorAcuerdo.SemanaDeadline.Value - @reunionProfesorAcuerdo.FechaDeadline.Value.ToShortDateString()</p>
                                </div>
                                <div class="col-xs-12" style="text-align: right;">
                                    <a href="javascript:void(0)" id="@reunionProfesorAcuerdo.IdReunionProfesorAcuerdo" class="btn js-editA">
                                        @ButtonsOptionsResource.Editar
                                    </a>
                                    <a href="javascript:void(0)" id="@reunionProfesorAcuerdo.IdReunionProfesorAcuerdo" class="btn js-deleteA">
                                        @TeacherMeetingResource.Borrar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row" style="text-align: center;">
                <button type="button" class="btn btn-dark" id="addAgreement">@TeacherMeetingResource.AgregarAcuerdo</button>
            </div>
        }
    </div>

    <div style="text-align: right;">
        <button type="button" class="btn btn-primary" id="closeMinute">@TeacherMeetingResource.CerrarActa</button>
    </div>
</div>

<div class="modal fade" id="addAgreementModal" role="dialog" tabindex="-50">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modal-hallazgo-agreement"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="editAgreementModal" role="dialog" tabindex="-10">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modal-hallazgo-agreement-edit"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#editAgreementModal').on('shown.bs.modal', function() {
        $(document).off('focusin.modal');
    });
    $('#addAgreementModal').on('shown.bs.modal', function() {
        $(document).off('focusin.modal');
    });
    $('#editAgreementModal').on('hide.bs.modal', function () {
        $('#FechaDeadlineEditar').datepicker("destroy");
    });
    $('#addAgreementModal').on('hide.bs.modal', function () {
        $('#FechaDeadline').datepicker("destroy");
    });
    $("#addAgreementModal").on('hidden.bs.modal', function () {
        $('#ui-datepicker-div').remove();
        $(this).data('bs.modal', null);
    });
    $("#editAgreementModal").on('hidden.bs.modal', function () {
        $('#ui-datepicker-div').remove();
        $(this).data('bs.modal', null);
    });
    $(document).ready(function () {
        $("<form id='closeMinuteForm' hidden enctype='multipart/form-data' method='post' action='@Url.Action("CloseTeacherMeetingMinute", "TeacherMeeting")'><input name='teacherMeetingId' value='" + @Model.IdReunionProfesor + "'/></form>").appendTo('body');
        $("#addAgreement").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("_AddTeacherMeetingAgreement", "TeacherMeeting", new { teacherMeetingId = Model.IdReunionProfesor })',
                success: function (data) {
                    $('#modal-hallazgo-agreement').html(data);
                    $('#addAgreementModal').modal('show');
                }
            });
        });

        $(".js-editA").click(function () {
            editAgreement(this.id);
        });

        $(".js-deleteA").click(function () {
            deleteAgreement(this.id);
        });

        $("#closeMinute").click(function () {
            closeMinute(@Model.IdReunionProfesor);
        })
    });

    function closeMinute(id) {

        swal({
            title: '@Html.Raw(TeacherMeetingResource.EstaSegurodeGenerarelActa)',
            text: '@Html.Raw(TeacherMeetingResource.EstaAccionGenerarActaDeReunionProfesorYnoPermiteCambios)',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
            confirmButtonText: '@TeacherMeetingResource.Aceptar',
            cancelButtonText: '@ButtonsOptionsResource.Cancelar',
            cloeOnConfirm: true,
            closeOnCancel: true
        },
            function (confirmed) {
                
                setTimeout(function () {
                    if (confirmed) {
                        $('#closeMinuteForm').submit();
                        return true;
                    }
                    else
                    {
                        return false;
                    }
                }, 100);
        });
    }

    function deleteAgreement(tmpId) {
        swal({
            title: '@Html.Raw(TeacherMeetingResource.EstaSegurodeBorrarAcuerdo)',
            text: '@Html.Raw(TeacherMeetingResource.EstaAccionEliminaraAcuerdoYtodoCorrespondienteEl)',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
            confirmButtonText: '@TeacherMeetingResource.Aceptar',
            cancelButtonText: '@ButtonsOptionsResource.Cancelar',
            cloeOnConfirm: true,
            closeOnCancel: true
        },
            function (confirmed) {
                setTimeout(function () {
                    if (confirmed) {
                        $.ajax({
                            type: 'post',
                            url: '@Url.Action("DeleteTeacherMeetingAgreement")',
                            data: {
                                teacherMeetingAgreementId: tmpId
                            },
                            dataType: 'json',
                            success: function (data) {
                                swal({
                                    title: '@Html.Raw(TeacherMeetingResource.IExitoI)',
                                    text: data.message,
                                    type: 'success',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@TeacherMeetingResource.Aceptar'
                                }
                                , function () {
                                    location.reload();
                                });
                            },
                            error: function (data) {
                                console.log("Error" + data.error)
                            }
                        });
                    }
                }, 100)
        });
    }

    function editAgreement(tmpId) {
        $.ajax({
            type: 'get',
            url: '@Url.Action("_EditTeacherMeetingAgreement")',
            data: {
                teacherMeetingAgreementId: tmpId
            },
            success: function (data) {
                $('#modal-hallazgo-agreement-edit').html(data);
                $('#editAgreementModal').modal('show');
            },
            error: function (data) {
                swal({
                    title: '@Html.Raw(TeacherMeetingResource.OcurrioUnError)',
                    text: data.error,
                    type: 'error'
                })
            }
        });
    }
</script>