﻿@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingParticipantViewModel
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;

@{
    var culture = Session.GetCulture().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


<style>
    @@media screen and (max-width: 550px) {

        .table tr td {
            display: block;
            clear: both;
            width: 95%;
        }

        .table tr:nth-child(even) {
            background: #e7f1ff !important;
        }

        .table tr {
            border-top: 5px solid;
        }

        .hiddenTexto {
            font-weight: bold !important;
            display: inline-block !important;
        }

        .hiddenHeader {
            display: none !important;
        }
    }

    .hiddenTexto {
        display: none;
    }
</style>


<div class="tab-pane fade active in" id="attendance" role="tabpanel" aria-labelledby="attendance-tab">
    <div class="attendance-items">
        <div class="panel-group" id="teacher-0" aria-multiselectable="true" role="tablist">
            <div class="panel">
                <div class="panel-heading" id="teacher-0-heading" role="tab" style="cursor: pointer;">
                    <h3 class="panel-title" data-toggle="collapse" href="#teacher-0-collapse" aria-expanded="true" aria-controls="teacher-0-collapse">
                        <i class=""></i> @(culture == ConstantHelpers.CULTURE.ESPANOL ? "Profesores" : "Teachers")
                    </h3>
                </div>
                <div class="panel-body panel-collapse collapse in" id="teacher-0-collapse" aria-labelledby="teacher-0-heading" role="tabpanel">
                    <div class="panel-body">
                        <div class="row" style="display: flex; flex-wrap: wrap; margin-bottom: 1rem;">
                            <div class="col-xs-6 col-md-8 align-self-start"></div>
                            <div class="col-xs-6 col-md-4 form-inline">@TeacherMeetingResource.Asistio</div>
                        </div>
                        <div>
                            @for (int i = 0; i < Model.ReunionProfesorParticipantes.Count(); i++)
                            {
                                var reunionProfesorParticipante = Model.ReunionProfesorParticipantes.ToList()[i];
                                var profesorOrder = i + 1;
                                <div class="row" style="display: flex; flex-wrap: wrap">
                                    <div class="col-xs-6 col-md-8 align-self-start">
                                        <p>@profesorOrder. @reunionProfesorParticipante.Docente.Nombres @reunionProfesorParticipante.Docente.Apellidos</p>
                                    </div>
                                    <div class="col-xs-6 col-md-4 form-inline">
                                        <input type='checkbox' data-size="small" data-onstyle="success" data-toggle="toggle" class="toggle-attendance" data-on="@LayoutResource.Si" data-off="@LayoutResource.No" id="@reunionProfesorParticipante.IdReunionProfesorParticipante" @(reunionProfesorParticipante.Asistio ? "checked" : "") />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="teacher-1" aria-multiselectable="true" role="tablist">
            <div class="panel">
                <div class="panel-heading" id="teacher-1-heading" role="tab" style="cursor: pointer;">
                    <h3 class="panel-title" data-toggle="collapse" href="#teacher-1-collapse" aria-expanded="false" aria-controls="teacher-1-collapse">
                        <i class=""></i> @(Html.Raw(TeacherMeetingResource.ProfesorInvitado))
                    </h3>
                </div>
                <div class="panel-body panel-collapse collapse" id="teacher-1-collapse" aria-labelledby="teacher-1-heading" role="tabpanel">
                    <form id="form0" method="post">
                        <div class="panel-body">

                            <div class="row" style="display: flex; flex-wrap: wrap; margin-bottom: 5rem;">
                                <div class="col-xs-12 col-md-12" id="list-profesores-invitados">
                                     @{Html.RenderPartial("_TableAttendanceTab", Model);}
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="mb-0">@(Html.Raw(TeacherMeetingResource.AgregarProfesorInvitado))</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row" style="display: flex; flex-wrap: wrap; margin-bottom: 1rem;">
                                        <div class="col-xs-6 col-md-6">@TeacherMeetingResource.NombreProfesor</div>
                                        <div class="col-xs-6 col-md-4">@LayoutResource.Codigo</div>
                                        <div class="col-xs-6 text-center col-md-2">@TeacherMeetingResource.Asistio</div>
                                    </div>
                                    <div class="row text-center" style="display: flex; flex-wrap: wrap">
                                        <div class="form-group col-xs-6 col-md-6">
                                            @Html.TextBoxFor(x => x.ProfesorInvitadoNombre, new { @class = "form-control", @placeholder = @TeacherMeetingResource.Nombre ,@id="txtNombre"})
                                            @Html.ValidationMessageFor(x => x.ProfesorInvitadoNombre)
                                        </div>
                                        <div class="form-group col-xs-4 col-md-4">
                                            @Html.TextBoxFor(x => x.ProfesorInvitadoCodigo, new { @class = "form-control", @placeholder = LayoutResource.Codigo ,@id="txtCodigo" , maxlength = 8})
                                            @Html.ValidationMessageFor(x => x.ProfesorInvitadoCodigo)
                                        </div>
                                        <div class="form-group col-xs-2 col-md-2">
                                            @Html.CheckBoxFor(x => x.ProfesorinvitadoAsistio,
                                           new
                                           {
                                               @class = "form-control",
                                               @data_size = "small",
                                               @data_onstyle = "success",
                                               @data_toggle = "toggle",
                                               @data_on = Html.Raw(LayoutResource.Si),
                                               @data_off = Html.Raw(LayoutResource.No)
                                           })
                                        </div>
                                    </div>
                                    <div class="row" style="display: flex; flex-wrap: wrap">
                                        <div class="col-xs-6 col-md-8">
                                            <button type="button" id="saveChanges" class="btn btn-primary">@LayoutResource.Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".toggle-attendance").change(function () {
            markAttendance(this.id);
        });
    });

    function markAttendance(tmpId) {
        $.ajax({
            type: 'post',
            url: '@Url.Action("MarkAttendance")',
            data: {
                teacherMeetingParticipantId: tmpId
            },
            dataType: 'json',
            success: function (data) {
                //swal("Listo!", {
                //    icon: "success",
                //});
            },
            error: function (data) {
                console.log("Error" + data.error);
            }
        });
    }

    function showLoading() {
            swal({
                title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                showConfirmButton: false,
                html: true
            });
        }

    function closeLoading() {
        swal.close();
    }

    function updateGuestTeachers() {
        $.ajax({
                type: 'post',
                url: '@Url.Action("UpdateTeachers", new { teacherMeetingId = Model.IdReunionProfesor })',
            success: function (data) {                   
                    $("#list-profesores-invitados").html(data);                    
                    DeleteButton();
                    swal.close();
                }
        });
    }
    
    function validName() {
        var name = $("#txtNombre").val();
        if (name == "") {            
            swal({
                title: "Error",
                text: "@Html.Raw(TeacherMeetingResource.NombreVacioMessage)",
                type: 'error',
                showCancelButton: false,
                confirmButtonText: 'Aceptar'
            });
            return false;
        }
        else {
            return true;
        }
    }

    async function validCode() {
        var code = $("#txtCodigo").val();
        var response = false;
        if (code == "") {
             swal({
                title: "Error",
                text: "@Html.Raw(TeacherMeetingResource.CodigoVacioMessage)",
                type: 'error',
                showCancelButton: false,
                confirmButtonText: 'Aceptar'
            });            
            response = false;
        }
        else {
            var idReunion = @Model.IdReunionProfesor
            await $.ajax({
                type: 'post',
                url: '@Url.Action("ExisteTeacher")',
                data: {
                    idReunion: idReunion,
                    cod: code
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if (data == true) {
                         swal({
                            title: "@Html.Raw(TeacherMeetingResource.VerificarCodigoProfesorTitulo)",
                            text: "@Html.Raw(TeacherMeetingResource.VerificarCodigoProfesorDescripcion)",
                            type: 'error',
                            showCancelButton: false,
                            confirmButtonText: 'Aceptar'
                        });            
                        response = false;
                    }
                    else
                        response = true;
                }
            });
        }

        return response
    }

    $("#saveChanges").on("click", async function () {        
        if (await validCode() == true && validName() == true){
            if ($("#form0").valid() == true) {
                $("#saveChanges").prop("disabled", true);
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("SaveTeacher", new { teacherMeetingId = Model.IdReunionProfesor })',
                    data: $("#form0").serialize(),
                    dataType: 'json',
                    success: function (data) {
                        if (data.success) {
                            swal({
                                title: data.title,
                                text: data.message,
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonText: '@Html.Raw(LayoutResource.Aceptar)',
                                closeOnConfirm: true,
                                showLoaderOnConfirm: true
                            }, function (isConfirm) {
                                if (isConfirm) {
                                    $("#saveChanges").prop("disabled", false);
                                    $("#txtNombre").val("");
                                    $("#txtCodigo").val("");
                                    updateGuestTeachers();
                                }
                            });
                        } else {
                            swal({
                                title: data.title,
                                text: data.message,
                                type: 'error',
                                showCancelButton: false,
                                confirmButtonText: 'Aceptar',
                            }, function () {
                                $("#saveChanges").prop("disabled", false);
                            });
                        }

                    }
                });
            }
            else {
                closeLoading();
            }
        }
    });

    function DeleteButton() {        
        $("#tbl-profesores-invitados").on("click", ".delete-button", function () {
            var guestTeacher = $(this).prop("id");
            swal({
                title: '@language' == "es-PE" ? "¿Está Seguro que deseas eliminar este profesor?" : "Are you sure you want to delete this teacher?",
                type: "warning",
                showCancelButton: true,
                //confirmButtonClass: "btn-danger",
                confirmButtonText: '@Html.Raw(LayoutResource.Aceptar)',
                cancelButtonText: '@Html.Raw(LayoutResource.Cancelar)',
                closeOnConfirm: true,
                showLoaderOnConfirm: true
            }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteTeacher")',
                        data: { guestTeacherId: guestTeacher },
                        beforeSend: function () {
                            showLoading();
                        },
                        success: function (data) {
                            if (data.success) {
                                swal({
                                    title: data.title,
                                    text: data.message,
                                    type: 'success',
                                    showCancelButton: false,
                                    confirmButtonText: 'Aceptar',
                                }, function (isConfirm) {
                                    if (isConfirm) {
                                        updateGuestTeachers();
                                    }
                                }
                                );
                            } else {
                                swal({
                                    title: data.title,
                                    text: data.message,
                                    type: 'error',
                                    showCancelButton: false,
                                    confirmButtonText: 'Aceptar',
                                }, function () {
                                });
                            }
                        }
                    });
                }
            });
        });
    }

    DeleteButton();    
   
</script>
