﻿@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.ChooseModuleViewModel


<div class="modal-header">
    <h3 class="modal-title">Nuevo Hallazgo en la Reunión</h3>
</div>

<div class="modal-body">
    <div class="">
        <div class="form-group row">
            <label>Seleccionar Módulo:</label>
            <div>
                @Html.DropDownListFor(x => x.IdModulo, (IEnumerable<SelectListItem>)Model.ModuleList, new { @id = "moduleId" })
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-secondary" data-dismiss="modal">
        @ButtonsOptionsResource.Cancelar
    </button>
    <button type="submit" class="btn btn-primary">
        @ButtonsOptionsResource.Crear
    </button>
</div>