﻿@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingAgreementViewModel
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;
@using UPC.CA.ABET.Presentation.Resources.Views.Error;

@{
    var culture = Session.GetCulture().ToString();
}
<style>
    label.help-block {
        color: red;
    }

    .form-group > .control-label {
        padding-left: 0px;
        padding-right: 0px;
        font-weight: bold;
    }

    .deadlineweek-datetime {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>

@using (Html.BeginForm("_EditTeacherMeetingAgreement", "TeacherMeeting", FormMethod.Post, new { enctype = "multipart/form-data", @id = "editTeacherMeetingAgreementForm" }))
{
    var reunionHallazgos = Model.ReunionProfesorHallazgos.ToList();
    var reunionTareas = Model.ReunionProfesorAcuerdo.ReunionProfesorTarea.ToList();
    var reunionProfesoresParticipantes = Model.ReunionProfesorParticipantes.ToList();
    var profesoresResponsables = Model.ReunionProfesorAcuerdoResponsables.ToList();
    var profesorinvitadoResponsable = Model.ReunionProfesorInvitadoAcuerdoResponsables.ToList();
    var profesoresInvitados = Model.ReunionProfesorParticipanteInvitados;
    <div class="modal-header">
        <h3 class="modal-title">@TeacherMeetingResource.EditarAcuerdo</h3>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(x => x.ReunionProfesorAcuerdo.IdReunionProfesor)
        @Html.HiddenFor(x => x.ReunionProfesorAcuerdo.IdReunionProfesorAcuerdo)
        @Html.HiddenFor(x => x.SubModalityAcademicPeriodModuleId)
        <div class="row">
            <div class="form-group col-sm-12 col-md-12">
                <label class="control-label" style="font-weight:bold;">
                    @TeacherMeetingResource.Descripcion
                </label>
                @*@Html.TextArea("editarDescripcionEspanol", Model.ReunionProfesorAcuerdo.DescripcionEspanol, new { @class = "form-control", @id = "editarDescripcionEspanol", @required = "required" })*@
                @{
                    if (culture == ConstantHelpers.CULTURE.ESPANOL)
                    {
                        <ul class="nav nav-tabs" id="editAgreementDescriptionLanguages" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" style="padding: 0px 20px;" id="spanish-edit-agreement-description-tab" data-toggle="tab" href="#spanish-edit-agreement-description" role="tab" aria-controls="spanish-edit-agreement-description" aria-selected="true">@LayoutResource.Espanol</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="padding: 0px 20px;" id="english-edit-agreement-description-tab" data-toggle="tab" href="#english-edit-agreement-description" role="tab" aria-controls="english-edit-agreement-description" aria-selected="false">@LayoutResource.Ingles</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="editAgreementDescriptionLanguagesContent">
                            <div class="tab-pane fade active in" id="spanish-edit-agreement-description" role="tabpanel" aria-labelledby="spanish-edit-agreement-description-tab" style="background-color: transparent;">
                                @Html.TextArea("editarDescripcionEspanol", Model.ReunionProfesorAcuerdo.DescripcionEspanol, new { @class = "form-control", @id = "editarDescripcionEspanol", @required = "required" })
                            </div>
                            <div class="tab-pane fade" id="english-edit-agreement-description" role="tabpanel" aria-labelledby="english-edit-agreement-description-tab" style="background-color: transparent;">
                                @Html.TextArea("editarDescripcionIngles", Model.ReunionProfesorAcuerdo.DescripcionIngles, new { @class = "form-control", @id = "editarDescripcionIngles", @required = "required" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <ul class="nav nav-tabs" id="editAgreementDescriptionLanguages" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" style="padding: 0px 20px;" id="english-edit-agreement-description-tab" data-toggle="tab" href="#english-edit-agreement-description" role="tab" aria-controls="english-edit-agreement-description" aria-selected="true">@LayoutResource.Ingles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="padding: 0px 20px;" id="spanish-edit-agreement-description-tab" data-toggle="tab" href="#spanish-edit-agreement-description" role="tab" aria-controls="spanish-edit-agreement-description" aria-selected="false">@LayoutResource.Espanol</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="editAgreementDescriptionLanguagesContent">
                            <div class="tab-pane fade active in" id="english-edit-agreement-description" role="tabpanel" aria-labelledby="english-edit-agreement-description-tab" style="background-color: transparent;">
                                @Html.TextArea("editarDescripcionIngles", Model.ReunionProfesorAcuerdo.DescripcionIngles, new { @class = "form-control", @id = "editarDescripcionIngles", @required = "required" })
                            </div>
                            <div class="tab-pane fade" id="spanish-edit-agreement-description" role="tabpanel" aria-labelledby="spanish-edit-agreement-description-tab" style="background-color: transparent;">
                                @Html.TextArea("editarDescripcionEspanol", Model.ReunionProfesorAcuerdo.DescripcionEspanol, new { @class = "form-control", @id = "editarDescripcionEspanol", @required = "required" })
                            </div>
                        </div>
                    }
                }
                <div class="error-editar-descripcion">
                    <span style="color: red;"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-12">
                <label class="control-label" style="font-weight:bold;">
                    @(TeacherMeetingResource.Hallazgo)s
                </label>
                <div id="hallazgosEditar">
                    @foreach (var item in reunionHallazgos)
                    {
                        <div class="custom-control custom-checkbox col-md-12 col-sm-12">
                            @Html.CheckBox("hallazgoEditar-" + item.IdReunionProfesorHallazgo, Model.HallazgosSeleccionados.Contains(item))
                            <label class="custom-control-label" for="hallazgo-@item.IdReunionProfesorHallazgo" style="text-align: justify;">
                                @(culture == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-12">
                <label class="control-label" style="font-weight:bold;">
                    @TeacherMeetingResource.Tareas
                </label>
                @*@Html.TextArea("newEditAgreementTask", new { @class = "form-control", @id = "newEditAgreementTask" })*@
                @{
                    if (culture == ConstantHelpers.CULTURE.ESPANOL)
                    {
                        <ul class="nav nav-tabs" id="editAgreemenTaskLanguages" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" style="padding: 0px 20px;" id="spanish-edit-agreement-task-tab" data-toggle="tab" href="#spanish-edit-agreement-task" role="tab" aria-controls="spanish-edit-agreement-task" aria-selected="true">@LayoutResource.Espanol</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="padding: 0px 20px;" id="english-edit-agreement-task-tab" data-toggle="tab" href="#english-edit-agreement-task" role="tab" aria-controls="english-edit-agreement-task" aria-selected="false">@LayoutResource.Ingles</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="editAgreemenTaskLanguagesContent">
                            <div class="tab-pane fade active in" id="spanish-edit-agreement-task" role="tabpanel" aria-labelledby="spanish-edit-agreement-task-tab" style="background-color: transparent;">
                                @Html.TextArea("newEditAgreementTaskEspanol", new { @class = "form-control", @id = "newEditAgreementTaskEspanol" })
                            </div>
                            <div class="tab-pane fade" id="english-edit-agreement-task" role="tabpanel" aria-labelledby="english-edit-agreement-task-tab" style="background-color: transparent;">
                                @Html.TextArea("newEditAgreementTaskIngles", new { @class = "form-control", @id = "newEditAgreementTaskIngles" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <ul class="nav nav-tabs" id="editAgreemenTaskLanguages" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" style="padding: 0px 20px;" id="english-edit-agreement-task-tab" data-toggle="tab" href="#english-edit-agreement-task" role="tab" aria-controls="english-edit-agreement-task" aria-selected="true">@LayoutResource.Ingles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="padding: 0px 20px;" id="spanish-edit-agreement-task-tab" data-toggle="tab" href="#spanish-edit-agreement-task" role="tab" aria-controls="spanish-edit-agreement-task" aria-selected="false">@LayoutResource.Espanol</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="editAgreemenTaskLanguagesContent">
                            <div class="tab-pane fade active in" id="english-edit-agreement-task" role="tabpanel" aria-labelledby="english-edit-agreement-task-tab" style="background-color: transparent;">
                                @Html.TextArea("newEditAgreementTaskIngles", new { @class = "form-control", @id = "newEditAgreementTaskIngles" })
                            </div>
                            <div class="tab-pane fade" id="spanish-edit-agreement-task" role="tabpanel" aria-labelledby="spanish-edit-agreement-task-tab" style="background-color: transparent;">
                                @Html.TextArea("newEditAgreementTaskEspanol", new { @class = "form-control", @id = "newEditAgreementTaskEspanol" })
                            </div>
                        </div>
                    }
                }
                <div class="error-editar-task">
                    <span style="color: red;"></span>
                </div>
                <span class="input-group-btn" style="text-align: right;">
                    <button class="btn btn-default" type="button" id="addEditAgreementTask">@TeacherMeetingResource.AgregarTarea</button>
                </span>
                <div id="tareasEditar">
                    @foreach (var item in reunionTareas)
                    {
                        <div class='custom-control custom-checkbox col-sm-12' style='margin-top: 1rem;'>
                            <label class='custom-control-label' style='padding-left: 15px; text-indent: -15px; text-align: justify;'>
                                @Html.CheckBox("tareaEditar-" + item.IdReunionProfesorTarea, true)
                                <label id="@("tarealabel-"+item.IdReunionProfesorTarea)" style='padding-left: 15px; text-indent: -15px;'>
                                    @(culture == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)
                                </label>
                                <a href='javascript:void(0)' class="js-editTask" data-taskid="@item.IdReunionProfesorTarea" data-desc="@item.DescripcionEspanol" data-descEnglish="@item.DescripcionIngles">@LayoutResource.Editar</a>
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 col-md-12">
                <label class="control-label" style="font-weight:bold;">
                    @TeacherMeetingResource.Docentes
                </label>
                <br />
                <div style="float:right;">
                    <div class="custom-control custom-checkbox col-md-12 col-sm-12">
                        <label class="custom-control-label">
                            @TeacherMeetingResource.SeleccionarTodos
                            <input type="checkbox" class="custom-control-input" id="selectAllEditar">
                        </label>
                    </div>
                </div>
                <div id="docentesEditar">
                    @foreach (var item in reunionProfesoresParticipantes)
                    {
                        <div class="custom-control custom-checkbox col-md-12 col-sm-12">
                            <label class="custom-control-label" for="docenteEditar-@item.IdDocente">
                                @Html.CheckBox("docenteEditar-" + item.IdDocente, profesoresResponsables.Any(x => x.IdDocente == item.IdDocente))
                                @item.Docente.Apellidos, @item.Docente.Nombres
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>

        @if(profesoresInvitados.Count() > 0)
        { 
            <div class="row">
                <div class="form-group col-sm-12 col-md-12">
                    <label class="control-label" style="font-weight:bold;">
                        @TeacherMeetingResource.DocentesInvitados
                    </label>
                    <br />
                    <div style="float:right;">
                        <div class="custom-control custom-checkbox col-md-12 col-sm-12">
                            <label class="custom-control-label">
                                @TeacherMeetingResource.SeleccionarTodos
                                <input type="checkbox" class="custom-control-input" id="selectAllInvitadosEditar">
                            </label>
                        </div>
                    </div>
                    <div id="invitadoEditar">
                        @foreach (var item in profesoresInvitados)
                        {
                            <div class="custom-control custom-checkbox col-md-12 col-sm-12">
                                <label class="custom-control-label" for="invitadoEditar-@item.IdReunionProfesorParticipanteInvitado">
                                    @Html.CheckBox("invitadoEditar-" + item.IdReunionProfesorParticipanteInvitado, profesorinvitadoResponsable.Any(x => x.IdReunionProfesorParticipanteInvitado == item.IdReunionProfesorParticipanteInvitado))
                                    @item.NombreCompleto
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }

        <div class="row" style="display:none">
            <div class="form-group control-label">
                <label>@TeacherMeetingResource.FechaDeadline</label>
            </div>
            <div>
                <input class="form-control custom-control-input" type="text" id="FechaDeadline" name="FechaDeadline" required value="@Model.FechaDeadlineEditar.ToString("MM/dd/yyyy")" />
            </div>
        </div>


        <div class="row">
            @Html.FormGroup(TeacherMeetingResource.SemanaDeadline, Html.DropDownListFor(x => x.SemanaDeadlineEditar, (IEnumerable<SelectListItem>)Model.WeeksLeft, new { @class = "form-control", @required = "required" }), false, null, 12)
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label" style="font-weight: bold;">
                    @TeacherMeetingResource.FechaDeadline
                </label>
                <div class="col-sm-12">
                    <input class="form-control" type="text" id="FechaDeadlineEditar" name="FechaDeadlineEditar" required value="@Model.FechaDeadlineEditar.ToString("MM/dd/yyyy")" />
                </div>
            </div>
        </div>
        <div id="totalErrorsEditar">
            <span style="color: red;"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">
            @ButtonsOptionsResource.Cancelar
        </button>
        <button type="submit" class="btn btn-primary">
            @ButtonsOptionsResource.Guardar
        </button>
    </div>
}
<link href="@Url.Content("~/Content/vendor/jquery-ui/css/jquery-ui.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/vendor/jquery-ui/jquery-ui.min.js")"></script>

<script type="text/javascript">
    function getRangesEditar(weekStart) {
        var sMAPMId = $('#SubModalityAcademicPeriodModuleId').val();
        $.ajax({
            type: 'get',
            url: '@Url.Action("GetWeeksRange")',
            data: { weekStart, sMAPMId },
            success: function (data) {
                var start = data.start.split('/');
                var end = data.end.split('/');
                var startDate = new Date(start[2], start[1] - 1, start[0]);
                var endDate = new Date(end[2], end[1] - 1, end[0]);
                $('#FechaDeadlineEditar').datepicker("option", "minDate", startDate);
                $('#FechaDeadlineEditar').datepicker("option", "maxDate", endDate);
                $('#FechaDeadlineEditar').datepicker("refresh");
            }
        });
    }
    $(document).ready(function () {
        
        $('#FechaDeadlineEditar').datepicker({
            autohide: true,
        });
        $('#FechaDeadlineEditar').prop("disabled", true);
        $('#FechaDeadlineEditar').attr("autocomplete", "off");

        getRangesEditar($('#SemanaDeadlineEditar').val());
        $('#SemanaDeadlineEditar').on("change", function () {
            getRangesEditar($(this).val());
        });
        var lang = $('html').attr('lang');
        var letterNumbers = /^(?:(?![×Þß÷þø])[-'"\ñ0-9a-zA-ZÀ-ÿ ?!&¿¡,.():-\s])+$/;
        var taskCount = 0;
        if (lang === 'es-PE') {
            jQuery.extend(jQuery.validator.messages, {
                required: '@ErrorResource.CampoRequerido',
            });
            $('#editarDescripcionEspanol').blur(function () {
                var value = $(this).val();
                $('#editarDescripcionIngles').val('');
                if (value.trim() !== "") {
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("TranslateToSpanish")',
                        data: {
                            value
                        },
                        success: function (response) {
                            $('#editarDescripcionIngles').val(response.result);
                        }
                    });
                }
            });
            $('#newEditAgreementTaskEspanol').blur(function () {
                var newEditAgreementTaskEspanol = $(this).val();
                $('#newEditAgreementTaskIngles').val('');
                if (newEditAgreementTaskEspanol.trim() !== "") {
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("TranslateToSpanish")',
                        data: {
                            value: newEditAgreementTaskEspanol
                        },
                        success: function (response) {
                            $('#newEditAgreementTaskIngles').val(response.result);
                        }
                    });
                }
            });
            $("#addEditAgreementTask").click(function () {
                var newEditAgreementTaskInglesValue = $('#newEditAgreementTaskIngles').val();
                var newEditAgreementTaskEspanolValue = $('#newEditAgreementTaskEspanol').val();
                if (newEditAgreementTaskInglesValue.trim() === "" || newEditAgreementTaskEspanolValue.trim() === "") {
                    $('div.error-editar-task span').html('@MessageResource.FaltanDatos');
                    $('div.error-editar-task').show();
                } else {
                    if (newEditAgreementTaskInglesValue.match(letterNumbers) && newEditAgreementTaskInglesValue.trim() !== ""
                    && newEditAgreementTaskEspanolValue.match(letterNumbers) && newEditAgreementTaskEspanolValue.trim() !== "") {
                        $('div.error-editar-task').hide();
                        $("#tareasEditar").append("<div class='custom-control custom-checkbox col-sm-12' style='margin-top: 1rem;'>\
                                <label class='custom-control-label' style='padding-left: 15px; text-indent: -15px; text-align: justify;'>\
                                <input type='checkbox' class='custom-control-input' id='newtarea-" + taskCountEditar + "' name='newtask-" + taskCountEditar + "' checked value='" + newEditAgreementTaskEspanolValue + "|" + newEditAgreementTaskInglesValue + "'>\
                                " + newEditAgreementTaskEspanolValue + "<a href='javascript:void(0)' class='js-delete'>  " + '@TeacherMeetingResource.Borrar' + "</a></label>\
                                </div>");
                        $('#newEditAgreementTaskIngles').val('');
                        $('#newEditAgreementTaskEspanol').val('');
                        taskCountEditar++;
                    } else {
                        $('div.error-editar-task span').html('@ErrorResource.CaracteresInvalidos');
                        $('div.error-editar-task').show();
                    }
                }

            });
        } else if (lang === 'en-US') {
            $('#editarDescripcionIngles').blur(function () {
                var value = $(this).val();
                $('#editarDescripcionEspanol').val('');
                if (value.trim() !== "") {
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("TranslateToSpanish")',
                        data: {
                            value,
                            from: 'en',
                            to: 'es',
                        },
                        success: function (response) {
                            $('#editarDescripcionEspanol').val(response.result);
                        }
                    });
                }
            });
            $('#newEditAgreementTaskIngles').blur(function () {
                var newEditAgreementTaskIngles = $(this).val();
                $('#newEditAgreementTaskEspanol').val('');
                if (newEditAgreementTaskIngles.trim() !== "") {
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("TranslateToSpanish")',
                        data: {
                            value: newEditAgreementTaskIngles,
                            from: 'en',
                            to: 'es',
                        },
                        success: function (response) {
                            $('#newEditAgreementTaskEspanol').val(response.result);
                        }
                    });
                }
            });
            $("#addEditAgreementTask").click(function () {
                var newEditAgreementTaskInglesValue = $('#newEditAgreementTaskIngles').val();
                var newEditAgreementTaskEspanolValue = $('#newEditAgreementTaskEspanol').val();
                if (newEditAgreementTaskInglesValue.trim() === "" || newEditAgreementTaskEspanolValue.trim() === "") {
                    $('div.error-editar-task span').html('@MessageResource.FaltanDatos');
                    $('div.error-editar-task').show();
                } else {
                    if (newEditAgreementTaskInglesValue.match(letterNumbers) && newEditAgreementTaskInglesValue.trim() !== ""
                    && newEditAgreementTaskEspanolValue.match(letterNumbers) && newEditAgreementTaskEspanolValue.trim() !== "") {
                        $('div.error-editar-task').hide();
                        $("#tareasEditar").append("<div class='custom-control custom-checkbox col-sm-12' style='margin-top: 1rem;'>\
                                <label class='custom-control-label' style='padding-left: 15px; text-indent: -15px; text-align: justify;'>\
                                <input type='checkbox' class='custom-control-input' id='newtarea-" + taskCount + "' name='newtask-" + taskCount + "' checked value='" + newEditAgreementTaskEspanolValue + "|" + newEditAgreementTaskInglesValue + "'>\
                                " + newEditAgreementTaskInglesValue + "<a href='javascript:void(0)' class='js-delete'>  " + '@TeacherMeetingResource.Borrar' + "</a></label>\
                                </div>");
                        $('#newEditAgreementTaskIngles').val('');
                        $('#newEditAgreementTaskEspanol').val('');
                        taskCount++;
                    } else {
                        $('div.error-editar-task span').html('@ErrorResource.CaracteresInvalidos');
                        $('div.error-editar-task').show();
                    }
                }

            });
        }

        $('#editTeacherMeetingAgreementForm').validate({
            errorClass: "help-block",
            submitHandler: function (form) {
                var hallazgosAlMenosUnoEstaMarcado = $('#hallazgosEditar input:checked').length > 0;
                var tareasAlMenosUnoEstaMarcado = $('#tareasEditar input:checked').length > 0;
                var docentesAlMenosUnoEstaMarcado = $('#docentesEditar input:checked').length > 0;

                //description
                var editarDescripcionEspanol = $('#editarDescripcionEspanol').val();
                var editarDescripcionIngles = $('#editarDescripcionIngles').val();
                if (editarDescripcionEspanol.trim() === "" || editarDescripcionIngles.trim() === "") {
                    $('div.error-editar-descripcion span').html('@MessageResource.FaltanDatos');
                    $('div.error-editar-descripcion').show();
                    return false;
                }
                if (!editarDescripcionEspanol.match(letterNumbers) || !editarDescripcionIngles.match(letterNumbers)) {
                    $('div.error-editar-descripcion span').html('@ErrorResource.CaracteresInvalidos');
                    $('div.error-editar-descripcion').show();
                    return false;
                } else {
                    $('div.error-editar-descripcion').hide();
                }

                if (!hallazgosAlMenosUnoEstaMarcado || !tareasAlMenosUnoEstaMarcado || !docentesAlMenosUnoEstaMarcado) {
                    $('#totalErrorsEditar span').html('@TeacherMeetingResource.DebeMarcarMenosUnHallazgoTareaDocente');
                    $('#totalErrorsEditar').show();
                    return false;
                } else {
                    $('#totalErrorsEditar').hide();
                    form.submit();
                    return true;
                }
            }
        })

        

        $('#tareasEditar').on("click", ".js-editTask", function (e) {
            var button = $(this);
            var taskId = $(this).data('taskid');
            var taskDescEspanol = button.data('desc');
            var taskDescEnglish = button.data('descenglish');
            e.preventDefault(e);
            swal({
                title: '@Html.Raw(TeacherMeetingResource.EditarTarea)',
                //text: "<textarea class='form-control' focus id='idTaskText'>" + taskDesc + "</textarea>",
                text: "<ul class='nav nav-tabs' id='editEditAgreemenTaskLanguages' role='tablist'>" +
                            "<li class='nav-item active'>" +
                                "<a class='nav-link' style='padding: 0px 20px;' id='spanish-edit-edit-agreement-task-tab' data-toggle='tab' href='#spanish-edit-edit-agreement-task' role='tab' aria-controls='spanish-edit-edit-agreement-task' aria-selected='true'>@Html.Raw(LayoutResource.Espanol)</a>" +
                            "</li>"+
                            "<li class='nav-item'>" +
                                "<a class='nav-link' style='padding: 0px 20px;' id='english-edit-edit-agreement-task-tab' data-toggle='tab' href='#english-edit-edit-agreement-task' role='tab' aria-controls='english-edit-edit-agreement-task' aria-selected='false'>@Html.Raw(LayoutResource.Ingles)</a>" +
                            "</li>" +
                        "</ul>" +
                        "<div class='tab-content' id='editEditAgreemenTaskLanguagesContent'>" +
                            "<div class='tab-pane fade active in' id='spanish-edit-edit-agreement-task' role='tabpanel' aria-labelledby='spanish-edit-edit-agreement-task-tab' style='background-color: transparent;'>" +
                                "<textarea class='form-control' style='text-align: justify;' focus id='idEditTaskDescriptionEspanol'>" + taskDescEspanol + "</textarea>" +
                            "</div>" +
                            "<div class='tab-pane fade' id='english-edit-edit-agreement-task' role='tabpanel' aria-labelledby='english-edit-edit-agreement-task-tab' style='background-color: transparent;'>" +
                                "<textarea class='form-control' style='text-align: justify;' focus id='idEditTaskDescriptionIngles'>" + taskDescEnglish + "</textarea>" +
                            "</div>" +
                        "</div>",
                html: true,
                inputAttributes: { autocapitalize: 'off' },
                showCancelButton: true,
                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                confirmButtonText: '@LayoutResource.Aceptar',
                cancelButtonText: '@LayoutResource.Cancelar',
                closeOnCancel: true,
            },
                function () {
                    var labelTask = $('#tarealabel-' + taskId);
                    var labelNewTextEspanol = $('#idEditTaskDescriptionEspanol').val();
                    var labelNewTextIngles = $('#idEditTaskDescriptionIngles').val();
                    if (labelNewTextEspanol.match(letterNumbers) && labelNewTextEspanol.trim() !== ""
                        && labelNewTextIngles.match(letterNumbers) && labelNewTextIngles.trim() !== "") {
                        var lang = $('html').attr('lang');
                        if (lang === 'es-PE') {
                            labelTask.text(labelNewTextEspanol);
                        } else if (lang === 'en-US') {
                            labelTask.text(labelNewTextIngles);
                        }
                        button.data('desc', labelNewTextEspanol);
                        button.data('descenglish', labelNewTextIngles);
                        var checkBox = $('#tareaEditar-' + taskId);
                        console.log(checkBox.val());
                        var checkBoxNameAttr = checkBox.attr('name');
                        if (checkBoxNameAttr.indexOf('eddited') >= 0) {
                            var newAttr = checkBoxNameAttr.replace(taskDescEspanol, labelNewTextEspanol) + '|' + checkBoxNameAttr.replace(taskDescEnglish, labelNewTextIngles);
                            checkBox.attr('name', newAttr);
                        }
                        else {
                            var newAttr = checkBoxNameAttr + '|eddited|' + labelNewTextEspanol + '|' + labelNewTextIngles;
                            checkBox.attr('name', newAttr);
                        }

                        setTimeout(function () {
                            swal({
                                title: '@Html.Raw(MessageResource.CambiosGuardados)',
                                type: 'success',
                                //timer: 600,
                            });
                        }, 200);
                        return true;
                    } else {
                        setTimeout(function () {
                            swal({
                                title: '@Html.Raw(ErrorResource.CaracteresInvalidos)',
                                type: 'warning',
                                //timer: 600,
                            });
                        }, 200);
                        return false;
                    }
                }
            );
        });

        $('#tareasEditar').on("click", ".js-delete", function (e) {
            var button = $(this);
            e.preventDefault(e);
            swal({
                title: '@Html.Raw(TeacherMeetingResource.ConfirmacionBorrarTarea)',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                confirmButtonText: '@LayoutResource.Aceptar',
                cancelButtonText: '@LayoutResource.Cancelar',
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (confirmed) {
                    if (confirmed) {
                        button.closest('div').remove();
                    }
                }
            );
        });

        $('#selectAllEditar').click(function (event) {
            var checkboxes = document.getElementById('docentesEditar').getElementsByTagName('input');
            if (this.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = true;
                }
            }
            else {
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false;
                }
            }
        });

        $('#selectAllInvitadosEditar').click(function (event) {
            var checkboxes = document.getElementById('invitadosEditar').getElementsByTagName('input');
            if (this.checked) {
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = true;
                }
            }
            else {
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false;
                }
            }
        });
    });
</script>
