﻿﻿@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingFindingViewModel
@using UPC.CA.ABET.Presentation.Resources.Views.Error;
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;

@{
    var culture = Session.GetCulture().ToString();
}

@using (Html.BeginForm("_EditTeacherMeetingFinding", "TeacherMeeting", FormMethod.Post, new { enctype = "multipart/form-data", @id = "editTeacherMeetingFindingForm" }))
{
    <div class="modal-header">
        <h3 class="modal-title">@TeacherMeetingResource.EditarHallazgoenlaReunion</h3>
    </div>

    <div class="modal-body">
        @Html.HiddenFor(x => x.IdReunionProfesorHallazgo)
        @Html.HiddenFor(x => x.IdReunionProfesor)
        @Html.HiddenFor(x => x.IdAreaUnidadAcademica, new { id = "tmpIdAreaUnidadAcademicaEditar" })
        @Html.HiddenFor(x => x.IdSubAreaUnidadAcademica, new { id = "tmpIdSubareaUnidadAcademicaEditar" })
        @Html.HiddenFor(x => x.IdCursoPeriodoAcademico, new { id = "tmpIdCursoPeriodoAcademicoEditar" })
        @Html.HiddenFor(x => x.IdSeccion, new { id = "tmpIdSeccionEditar" })
        @Html.HiddenFor(x => x.IdSede, new { id = "tmpIdSedeEditar" })
        @if (Model.ReunionProfesor.Nivel == 2)
        {
            @Html.HiddenFor(x => x.IdSubAreaUnidadAcademica)
        }
        <div class="container filters">
            <div class="form-group row">
                <label>@TeacherMeetingResource.Area:</label>
                @Html.DropDownListFor(m => m.IdAreaUnidadAcademica, Model.AvailableAreas, new { @class = "form-control", @id = "IdAreaUnidadAcademicaEditar", @disabled = "true" })
            </div>
            <div class="form-group row">
                <label for="IdSubareaUnidadAcademicaEditar">@TeacherMeetingResource.Subarea:</label>
                @if (Model.ReunionProfesor.Nivel == 1)
                {
                    @Html.DropDownListFor(m => m.IdSubAreaUnidadAcademica, Model.AvailableSubAreas, ProfessorResource.Todas, new { @class = "form-control", @id = "IdSubareaUnidadAcademicaEditar" })
                }
                @if (Model.ReunionProfesor.Nivel == 2)
                {
                    @Html.DropDownListFor(m => m.IdSubAreaUnidadAcademica, Model.AvailableSubAreas, new { @class = "form-control", @id = "IdSubareaUnidadAcademicaEditar", @disabled = "true" })
                }
            </div>
            <div class="form-group row">
                <label for="IdCursoPeriodoAcademicoEditar">@TeacherMeetingResource.Curso:</label>
                @if (Model.ReunionProfesor.Nivel == 1)
                {
                    @Html.DropDownListFor(m => m.IdCursoPeriodoAcademico, Model.AvailableCursos, ProfessorResource.Todas, new { @class = "form-control", @id = "IdCursoPeriodoAcademicoEditar", @disabled = "true" })
                }
                @if (Model.ReunionProfesor.Nivel == 2)
                {
                    @Html.DropDownListFor(m => m.IdCursoPeriodoAcademico, Model.AvailableCursos, ProfessorResource.Todas, new { @class = "form-control", @id = "IdCursoPeriodoAcademicoEditar" })
                }
            </div>

            <div class="form-group row">
                <label for="IdSedeEditar">@TeacherMeetingResource.Sede:</label>
                @Html.DropDownListFor(m => m.IdSede, Model.AvailableSedes, ProfessorResource.Todas, new { @class = "form-control", @id = "IdSedeEditar", @disabled = "true" })
            </div>

            <div class="form-group row">
                <label for="IdSeccionEditar">@TeacherMeetingResource.Seccion:</label>
                @Html.DropDownListFor(m => m.IdSeccion, Model.AvailableSecciones, ProfessorResource.Todas, new { @class = "form-control", @id = "IdSeccionEditar", @disabled = "true" })
            </div>

            <div class="form-group row">
                <label>@TeacherMeetingResource.Descripcion:</label>
                @{
                    if (culture == ConstantHelpers.CULTURE.ESPANOL)
                    {
                        <ul class="nav nav-tabs" id="editFindingDescriptionLanguages" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" style="padding: 0px 20px;" id="spanish-finding-edit-tab" data-toggle="tab" href="#spanish-finding-edit" role="tab" aria-controls="spanish-finding-edit" aria-selected="true">@LayoutResource.Espanol</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="padding: 0px 20px;" id="english-finding-edit-tab" data-toggle="tab" href="#english-finding-edit" role="tab" aria-controls="english-finding-edit" aria-selected="false">@LayoutResource.Ingles</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="editFindingDescriptionLanguagesContent">
                            <div class="tab-pane fade active in" id="spanish-finding-edit" role="tabpanel" aria-labelledby="spanish-finding-edit-tab" style="background-color: transparent;">
                                @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control fill", @id = "idDescripcionEspanolEditar", @required = "required" })
                            </div>
                            <div class="tab-pane fade" id="english-finding-edit" role="tabpanel" aria-labelledby="english-finding-edit-tab" style="background-color: transparent;">
                                @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control fill", @id = "idDescripcionInglesEditar", @required = "required" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <ul class="nav nav-tabs" id="editFindingDescriptionLanguages" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" style="padding: 0px 20px;" id="english-finding-edit-tab" data-toggle="tab" href="#english-finding-edit" role="tab" aria-controls="english-finding-edit" aria-selected="true">@LayoutResource.Ingles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="padding: 0px 20px;" id="spanish-finding-edit-tab" data-toggle="tab" href="#spanish-finding-edit" role="tab" aria-controls="spanish-finding-edit" aria-selected="false">@LayoutResource.Espanol</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="editFindingDescriptionLanguagesContent">
                            <div class="tab-pane fade active in" id="english-finding-edit" role="tabpanel" aria-labelledby="english-finding-edit-tab" style="background-color: transparent;">
                                @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control fill", @id = "idDescripcionInglesEditar", @required = "required" })
                            </div>
                            <div class="tab-pane fade" id="spanish-finding-edit" role="tabpanel" aria-labelledby="spanish-finding-edit-tab" style="background-color: transparent;">
                                @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control fill", @id = "idDescripcionEspanolEditar", @required = "required" })
                            </div>
                        </div>
                    }
                }
                <div class="error">
                    <span style="color: red;"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">
            @ButtonsOptionsResource.Cancelar
        </button>
        <button type="submit" class="btn btn-primary" id="finding-submit-edit">
            @ButtonsOptionsResource.Guardar
        </button>
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {
        var lang = $('html').attr('lang');
        var letterNumbers = /^(?:(?![×Þß÷þø])[-'"\ñ0-9a-zA-ZÀ-ÿ ?!&¿¡,.():-\s])+$/;
        if (lang === 'es-PE') {
            jQuery.extend(jQuery.validator.messages, {
                required: '@ErrorResource.CampoRequerido',
            });

            $('#idDescripcionEspanolEditar').blur(function () {
                var value = $(this).val();
                $('#idDescripcionInglesEditar').val('');
                if (value.trim() !== "") {
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("TranslateToSpanish")',
                        data: {
                            value,
                        },
                        success: function (response) {
                            $('#idDescripcionInglesEditar').val(response.result);
                            $('#finding-submit-edit').attr('disabled', false);
                        }
                    });
                }
            });

            $('#idDescripcionInglesEditar').keyup(function () {
                if ($(this).val().trim() !== "") {
                    $('#finding-submit-edit').attr('disabled', false);
                } else {
                    $('#finding-submit-edit').attr('disabled', true);
                }
            });
        } else if (lang === 'en-US') {
            $('#idDescripcionInglesEditar').blur(function () {
                var value = $(this).val();
                $('#idDescripcionEspanolEditar').val('');
                if (value.trim() !== "") {
                    $.ajax({
                        type: 'get',
                        url: '@Url.Action("TranslateToSpanish")',
                        data: {
                            value,
                            from: 'en',
                            to: 'es',
                        },
                        success: function (response) {
                            $('#idDescripcionEspanolEditar').val(response.result);
                            $('#finding-submit-edit').attr('disabled', false);
                        }
                    });
                }
            });

            $('#idDescripcionEspanolEditar').keyup(function () {
                if ($(this).val().trim() !== "") {
                    $('#finding-submit-edit').attr('disabled', false);
                } else {
                    $('#finding-submit-edit').attr('disabled', true);
                }
            });
        }

        $('#spanish-finding-edit-tab').on('click', function () {
            $('div.error').hide();
        });

        $('#english-finding-edit-tab').on('click', function () {
            $('div.error').hide();
        });

        

        $('#editTeacherMeetingFindingForm').validate({
            errorClass: "help-block",
            submitHandler: function (form) {
                var value = $('#idDescripcionEspanolEditar').val();
                var englishValue = $('#idDescripcionInglesEditar').val();
                if (value.trim() === "" || englishValue.trim() === "") {
                    $('div.error span').html('@MessageResource.FaltanDatos');
                    $('div.error').show();
                    return false;
                }
                if (!value.match(letterNumbers) || !englishValue.match(letterNumbers)) {
                    $('div.edit-error span').html('@ErrorResource.CaracteresInvalidos');
                    $('div.edit-error').show();
                    return false;
                }
                $('div.error').hide();
                form.submit();
                return true;
            }
        })

        if ($("#tmpIdSubareaUnidadAcademicaEditar").val()) {
       //     $("#IdSubareaUnidadAcademicaEditar").prop("disabled", false);
            $("#IdCursoPeriodoAcademicoEditar").prop("disabled", false);
        }
        if ($("#tmpIdCursoPeriodoAcademicoEditar").val()) {
            $("#IdCursoPeriodoAcademicoEditar").prop("disabled", false);
            $("#IdSeccionEditar").prop("disabled", false);
            $("#IdSedeEditar").prop("disabled", false);
        }

        if (!$("#tmpIdSedeEditar").val()) {
            $("#IdSeccionEditar").prop("disabled", true);
        }

        if ($("#tmpIdSeccionEditar").val()) {
            $("#IdSeccionEditar").prop("disabled", false);
        }



    });
     function cargarCursosForArea(hasValue, idAreaUa) {
        $("#IdCursoPeriodoAcademicoEditar").empty();
        $("#IdCursoPeriodoAcademicoEditar").prop("disabled", true);
        $("#IdCursoPeriodoAcademicoEditar").append('<option value="">@ProfessorResource.CargandoCursos</option>');

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetAllCursosForArea")',
            dataType: 'json',
            data: { IdAreaUnidadAcademica: idAreaUa
                    },
            success: function (cursos) {
                $("#IdCursoPeriodoAcademicoEditar").empty();
                //    if (cursos.length > 1) {
                $("#IdCursoPeriodoAcademicoEditar").empty();
                $("#IdCursoPeriodoAcademicoEditar").append('<option value="">@ProfessorResource.Todas</option>');
                //     }
                $.each(cursos,
                    function (i, curso) {
                        $("#IdCursoPeriodoAcademicoEditar")
                            .append('<option value="' +
                                curso.Value +
                                '">' +
                                curso.Text +
                                '</option>');

                    });

                //            $("#IdCursoPeriodoAcademicoEditar").prop("disabled", false);
            },
            error: function (ex) {
                $("#IdCursoPeriodoAcademicoEditar").empty();
                $("#IdCursoPeriodoAcademicoEditar").append('<option value="">Error</option>');
                $("#IdCursoPeriodoAcademicoEditar").prop("disabled", true);
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarCursos))',
                    type: 'error',
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: '@TeacherMeetingResource.Aceptar'
                });
            }
        });

    }

    function cargarCursosForSubarea(hasValue, idSubareaUa) {
        $("#IdCursoPeriodoAcademicoEditar").empty();
        $("#IdCursoPeriodoAcademicoEditar").prop("disabled", true);
        $("#IdCursoPeriodoAcademicoEditar").append('<option value="">@ProfessorResource.CargandoCursos</option>');
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetAllCursosForSubarea")',
            dataType: 'json',
            data: { IdSubareaUnidadAcademica: idSubareaUa
                    },
            success: function (cursos) {
                $("#IdCursoPeriodoAcademicoEditar").empty();
                //   if (cursos.length > 1) {
                $("#IdCursoPeriodoAcademicoEditar").empty();
                $("#IdCursoPeriodoAcademicoEditar").append('<option value="">@ProfessorResource.Todas</option>');
                //    }
                $.each(cursos,
                    function (i, curso) {
                        $("#IdCursoPeriodoAcademicoEditar")
                            .append('<option value="' +
                                curso.Value +
                                '">' +
                                curso.Text +
                                '</option>');

                    });

                //            $("#IdCursoPeriodoAcademicoEditar").prop("disabled", false);
            },
            error: function (ex) {
                $("#IdCursoPeriodoAcademicoEditar").empty();
                $("#IdCursoPeriodoAcademicoEditar").append('<option value="">Error</option>');
                $("#IdCursoPeriodoAcademicoEditar").prop("disabled", true);
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarCursos))',
                    type: 'error',
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: '@TeacherMeetingResource.Aceptar'
                });
            }
        });
    }


    function cargarSedesForCurso(hasValue, idCPA) {
        $("#IdSedeEditar").empty();
        $("#IdSedeEditar").prop("disabled", true);
        $("#IdSedeEditar").append('<option value=""> @TeacherMeetingResource.CargandoSedes... </option>');

        if (hasValue === false) {

            $("#IdSedeEditar").empty();
            $("#IdSedeEditar").append('<option value="">@ProfessorResource.Todos</option>');


            //              $("#IdSeccionEditar").prop("disabled", false);

        } else {

            var idSubModalidadPeriodoAcademicoModulo = @Model.ReunionProfesor.SubModalidadPeriodoAcademicoModulo.IdSubModalidadPeriodoAcademicoModulo;

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAllSedesForCurso")',
                dataType: 'json',
                data: { IdCursoPeriodoAcademico: idCPA,
                    idSubModalidadPeriodoAcademicoModulo : idSubModalidadPeriodoAcademicoModulo
                    },
                success: function (sedes) {
                    $("#IdSedeEditar").empty();
                    //   if (sedes.length > 1) {
                    $("#IdSedeEditar").empty();
                    $("#IdSedeEditar").append('<option value="">@ProfessorResource.Todas</option>');
                    //     }
                    $.each(sedes,
                        function (i, sede) {
                            $("#IdSedeEditar")
                                .append('<option value="' +
                                    sede.Value +
                                    '">' +
                                    sede.Text +
                                    '</option>');

                        });

                    //             $("#IdSeccionEditar").prop("disabled", false);
                },
                error: function (ex) {
                    $("#IdSedeEditar").empty();
                    $("#IdSedeEditar").append('<option value="">Error</option>');
                    $("#IdSedeEditar").prop("disabled", true);
                    swal({
                        title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                        text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                        type: 'error',
                        confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                        @* confirmButtonText: '@ButtonsOptionsResource.Aceptar' *@
                        confirmButtonText: '@TeacherMeetingResource.Aceptar'
                    });
                }

            });
        }

    }

    function cargarSeccionesForCursoAndSede(hasValue, idSed, idCurs) {
        $("#IdSeccionEditar").empty();
        $("#IdSeccionEditar").prop("disabled", true);
        $("#IdSeccionEditar").append('<option value=""> @TeacherMeetingResource.CargandoSecciones... </option>');


        if (hasValue === false) {

     //       $("#IdSedeEditar").empty();
     //       $("#IdSedeEditar").append('<option value="">@ProfessorResource.Todos</option>');

            $("#IdSeccionEditar").empty();
            $("#IdSeccionEditar").append('<option value="">@ProfessorResource.Todos</option>');

            //              $("#IdSeccionEditar").prop("disabled", false);

        } else {

            var idSubmodalidadPeriodoAcademicoModulo = @Model.ReunionProfesor.SubModalidadPeriodoAcademicoModulo.IdSubModalidadPeriodoAcademicoModulo;

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAllSeccionesForCursoAndSede")',
                dataType: 'json',
                data: {
                    IdSede: idSed,
                    IdCursoPeriodoAcademico: idCurs,
                    idSubmodalidadPeriodoAcademicoModulo
                },
                success: function (secciones) {
                    $("#IdSeccionEditar").empty();
                    //       if (secciones.length > 1) {
                    $("#IdSeccionEditar").empty();
                    $("#IdSeccionEditar").append('<option value="">@ProfessorResource.Todas</option>');
                    //       }
                    $.each(secciones,
                        function (i, seccion) {
                            $("#IdSeccionEditar")
                                .append('<option value="' +
                                    seccion.Value +
                                    '">' +
                                    seccion.Text +
                                    '</option>');

                        });

                    //             $("#IdSeccionEditar").prop("disabled", false);
                },
                error: function (ex) {
                    $("#IdSeccionEditar").empty();
                    $("#IdSeccionEditar").append('<option value="">Error</option>');
                    $("#IdSeccionEditar").prop("disabled", true);
                    swal({
                        title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                        text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                        type: 'error',
                        confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                        @* confirmButtonText: '@ButtonsOptionsResource.Aceptar' *@
                        confirmButtonText: '@TeacherMeetingResource.Aceptar'
                    });
                }

            });
        }

    }

    // EVENTS ON CHANGE

    $("#IdAreaUnidadAcademicaEditar").change(function () {
        $('#tmpIdAreaUnidadAcademicaEditar').val($("#IdAreaUnidadAcademicaEditar").val());
        return false;
    });

    $("#IdSubareaUnidadAcademicaEditar").change(function () {
        if (!$("#IdSubareaUnidadAcademicaEditar").val()) {
            cargarCursosForArea(true, $("#IdAreaUnidadAcademicaEditar").val());
            cargarSedesForCurso(false, 0);
            cargarSeccionesForCursoAndSede(false, 0, 0);

        } else {
            cargarCursosForSubarea(true, $("#IdSubareaUnidadAcademicaEditar").val());
            cargarSedesForCurso(false, 0);
            cargarSeccionesForCursoAndSede(false, 0, 0);

        }
        $('#tmpIdSubareaUnidadAcademicaEditar').val(document.getElementById("IdSubareaUnidadAcademicaEditar").value);
        $('#tmpIdCursoPeriodoAcademicoEditar').val(document.getElementById("IdCursoPeriodoAcademicoEditar").value);
        $('#tmpIdSedeEditar').val(document.getElementById("IdSedeEditar").value);
        $('#tmpIdSeccionEditar').val(document.getElementById("IdSeccionEditar").value);
        return false;
    });

    $("#IdCursoPeriodoAcademicoEditar").change(function () {
        if ($("#IdCursoPeriodoAcademicoEditar").val()) {
            cargarSedesForCurso(true, $("#IdCursoPeriodoAcademicoEditar").val());
            cargarSeccionesForCursoAndSede(false, 0, 0);
        }
        else {
            cargarSedesForCurso(false, 0);
            cargarSeccionesForCursoAndSede(false, 0, 0);
        }
        $('#tmpIdCursoPeriodoAcademicoEditar').val(document.getElementById("IdCursoPeriodoAcademicoEditar").value);
    //    $('#tmpIdSeccionEditar').val(document.getElementById("IdSeccionEditar").value);
        document.getElementById('tmpIdSeccionEditar').value = document.getElementById('IdSeccionEditar').value
        $('#tmpIdSedeEditar').val(document.getElementById("IdSedeEditar").value);
        return false;
    });

    $("#IdSedeEditar").change(function () {
        if ($("#IdSedeEditar").val()) {
            cargarSeccionesForCursoAndSede(true, $("#IdSedeEditar").val(), $("#IdCursoPeriodoAcademicoEditar").val());
        }
        else {
            cargarSeccionesForCursoAndSede(false, 0, $("#IdCursoPeriodoAcademicoEditar").val());
        }
        $("#tmpIdSedeEditar").val(document.getElementById("IdSedeEditar").value);
        return false;
    });

    $("#IdSeccionEditar").change(function () {
        $('#tmpIdSeccionEditar').val(document.getElementById("IdSeccionEditar").value);
        return false;
    });

    // DISABLE AND ENABLE


    $("#IdSubareaUnidadAcademicaEditar").change(function () {
        if (!$("#IdSubareaUnidadAcademicaEditar").val()) {
            $("#IdCursoPeriodoAcademicoEditar").prop("disabled", true);
            $("#IdSeccionEditar").prop("disabled", true)
            $("#IdSedeEditar").prop("disabled", true)
        }

        else {
            $("#IdCursoPeriodoAcademicoEditar").prop("disabled", false);
        }

    });

    $("#IdCursoPeriodoAcademicoEditar").change(function () {
        var out = $("#IdCursoPeriodoAcademicoEditar").val();
        if (!$("#IdCursoPeriodoAcademicoEditar").val()) {
            $("#IdSeccionEditar").prop("disabled", true)
        }

        if (!$("#IdSubareaUnidadAcademicaEditar").val()) {

            $("#IdSeccionEditar").prop("disabled", true)
        }

        if ($("#IdCursoPeriodoAcademicoEditar").val()) {

            $("#IdSedeEditar").prop("disabled", false)
        }

        if ($("#IdSubareaUnidadAcademicaEditar").val() && $("#IdCursoPeriodoAcademicoEditar").val() && $("#IdSedeEditar").val()) {
            $("#IdSeccionEditar").prop("disabled", false)
        }

    });

    $("#IdSedeEditar").change(function () {
        if (!$("#IdSedeEditar").val()) {
            $("#IdSeccionEditar").prop("disabled", true)
        }
        if ($("#IdSedeEditar").val()) {
            $("#IdSeccionEditar").prop("disabled", false)
        }
    });

</script>
