﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingFindingViewModel

@{
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<div class="tab-pane fade" id="findings" role="tabpanel" aria-labelledby="findings-tab">
    <div class="findings-items">
        @if (Model.ReunionProfesorHallazgos.Count() == 0)
        {
            <div style="text-align: center;">
                <div>@TeacherMeetingResource.NoExistenHallazgos</div>
            </div>
            <div class="row" style="text-align: center; margin-top: 3rem;">
                <button type="button" class="btn btn-dark" id="addFinding">@TeacherMeetingResource.AgregarHallazgo</button>
            </div>
        }
        else
        {
            for (int i = 0; i < Model.ReunionProfesorHallazgos.Count(); i++)
            {
                var reunionProfesorHallazgo = Model.ReunionProfesorHallazgos.ToList()[i];
                var expanded = i == 0 ? "true" : "false";
                var collapseClasses = new List<string> { "panel-body", "panel-collapse", "collapse" };

                if (expanded.ToBoolean())
                {
                    collapseClasses.Add("in");
                }
                <div class="panel-group" id="rPH-@reunionProfesorHallazgo.IdReunionProfesorHallazgo" aria-multiselectable="true" role="tablist">
                    <div class="panel">
                        <div class="panel-heading" id="rPH-@reunionProfesorHallazgo.IdReunionProfesorHallazgo-heading" role="tab" style="cursor: pointer;">
                            <h3 class="panel-title" data-toggle="collapse" href="#rPH-@reunionProfesorHallazgo.IdReunionProfesorHallazgo-collapse" aria-expanded=@expanded aria-controls="rPH-@reunionProfesorHallazgo.IdReunionProfesorHallazgo-collapse">
                                <b>@TeacherMeetingResource.Hallazgo N° @(i + 1)</b>
                            </h3>
                        </div>
                        <div class="@string.Join(" ", collapseClasses)" id="rPH-@reunionProfesorHallazgo.IdReunionProfesorHallazgo-collapse" aria-labelledby="rPH-@reunionProfesorHallazgo.IdReunionProfesorHallazgo-heading" role="tabpanel" style="padding: 10px 30px 10px;">
                            <div class="row" style="display: flex; flex-wrap: wrap">
                                @if (reunionProfesorHallazgo.UnidadAcademica != null)
                                {
                                    <div class="col-xs-12 col-sm-6 align-self-center">
                                        <p style="font-weight: bold">@TeacherMeetingResource.Area</p>
                                        <p style="padding-left: 20px;"> @(language == ConstantHelpers.CULTURE.INGLES ? reunionProfesorHallazgo.UnidadAcademica.NombreIngles ?? reunionProfesorHallazgo.UnidadAcademica.NombreEspanol : reunionProfesorHallazgo.UnidadAcademica.NombreEspanol) </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-xs-12 col-sm-6 align-self-center">
                                        <p style="font-weight: bold">@TeacherMeetingResource.Area</p>
                                        <p style="padding-left: 20px;"> @TeacherMeetingResource.ParaTodos </p>
                                    </div>
                                }
                                @if (reunionProfesorHallazgo.UnidadAcademica1 != null)
                                {
                                    <div class="col-xs-12 col-sm-6 align-self-center">
                                        <p style="font-weight: bold">@TeacherMeetingResource.Subarea</p>                                       
                                        <p style="padding-left: 20px;">@(language == ConstantHelpers.CULTURE.INGLES ? reunionProfesorHallazgo.UnidadAcademica1.NombreIngles ?? reunionProfesorHallazgo.UnidadAcademica1.NombreEspanol : reunionProfesorHallazgo.UnidadAcademica1.NombreEspanol)</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-xs-12 col-sm-6 align-self-center">
                                        <p style="font-weight: bold">@TeacherMeetingResource.Subarea</p>
                                        <p style="padding-left: 20px;"> @TeacherMeetingResource.ParaTodos </p>
                                    </div>
                                }
                                @if (reunionProfesorHallazgo.CursoPeriodoAcademico != null)
                                {
                                    <div class="col-xs-12 col-sm-6 align-self-center">
                                        <p style="font-weight: bold">@TeacherMeetingResource.Curso</p>
                                        <p style="padding-left: 20px;">@(language == ConstantHelpers.CULTURE.INGLES ? reunionProfesorHallazgo.CursoPeriodoAcademico.Curso.NombreIngles ?? reunionProfesorHallazgo.CursoPeriodoAcademico.Curso.NombreEspanol : reunionProfesorHallazgo.CursoPeriodoAcademico.Curso.NombreEspanol)</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-xs-12 col-sm-6 align-self-center">
                                        <p style="font-weight: bold">@TeacherMeetingResource.Curso</p>
                                        <p style="padding-left: 20px;"> @TeacherMeetingResource.ParaTodos </p>
                                    </div>
                                }

                                @if (reunionProfesorHallazgo.Sede == null)
                                {
                                    <div class="col-xs-12 col-sm-6 align-self-center">
                                        <p style="font-weight: bold">@TeacherMeetingResource.SedeySeccion</p>
                                        <p style="padding-left: 20px;"> @TeacherMeetingResource.ParaTodos - @TeacherMeetingResource.ParaTodos </p>
                                    </div>
                                }

                                @if (reunionProfesorHallazgo.Sede != null && reunionProfesorHallazgo.Seccion == null)
                                {
                                    <div class="col-xs-12 col-sm-6 align-self-center">
                                        <p style="font-weight: bold">@TeacherMeetingResource.SedeySeccion</p>
                                        <p style="padding-left: 20px;"> @reunionProfesorHallazgo.Sede.Nombre - @TeacherMeetingResource.ParaTodos </p>
                                    </div>
                                }

                                @if (reunionProfesorHallazgo.Seccion != null && reunionProfesorHallazgo.Sede != null)
                                {
                                    <div class="col-xs-12 col-sm-6 align-self-center">
                                        <p style="font-weight: bold">@TeacherMeetingResource.SedeySeccion</p>
                                        <p style="padding-left: 20px;">@reunionProfesorHallazgo.Sede.Nombre - @reunionProfesorHallazgo.Seccion.Codigo</p>
                                    </div>
                                }
    
                                                   
                                <div class="col-xs-12 align-self-center text-justify">
                                    <p style="font-weight: bold">@TeacherMeetingResource.Descripcion</p>
                                    <p style="padding-left: 20px;">@(language == ConstantHelpers.CULTURE.INGLES ? reunionProfesorHallazgo.DescripcionIngles ?? reunionProfesorHallazgo.DescripcionEspanol : reunionProfesorHallazgo.DescripcionEspanol)</p>
                                </div>
                                <div class="col-xs-12" style="text-align: right;">
                                    <a href="javascript:void(0)" id="@reunionProfesorHallazgo.IdReunionProfesorHallazgo" class="btn js-editF">
                                        @ButtonsOptionsResource.Editar
                                    </a>
                                    <a href="javascript:void(0)" id="@reunionProfesorHallazgo.IdReunionProfesorHallazgo" class="btn js-deleteF">
                                        @TeacherMeetingResource.Borrar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row" style="text-align: center;">
                <button type="button" class="btn btn-dark" id="addFinding">@TeacherMeetingResource.AgregarHallazgo</button>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="addFindingModal" role="dialog" tabindex="-60">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modal-hallazgo"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="editFindingModal" role="dialog" tabindex="-20">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modal-hallazgoedit">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#addFinding").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("_AddTeacherMeetingFinding", "TeacherMeeting", new { teacherMeetingId = Model.IdReunionProfesor })',
                success: function (data) {
                    $('#modal-hallazgo').html(data);
                    $('#addFindingModal').modal('show');
                }
            });
        });

        $(".js-deleteF").click(function () {
            deleteFinding(this.id);
        });
        $(".js-editF").click(function () {
            EditHallazgo(this.id);
        });
    });

     function EditHallazgo(tmpId) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("_EditTeacherMeetingFinding", "TeacherMeeting")',
            data: {
                teacherMeetingFindingId: tmpId
            },
            success: function (data) {
                $('#modal-hallazgoedit').html(data);
                $('#editFindingModal').modal('show');
            }
        })
    }

    function deleteFinding(tmpId) {
        swal({
            title: '@Html.Raw(TeacherMeetingResource.PreguntaSeguroBorrarHallazgo)',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
            confirmButtonText: '@TeacherMeetingResource.Aceptar',
            cancelButtonText: "@ButtonsOptionsResource.Cancelar",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (confirmed) {
                setTimeout(function () {
                    if (confirmed) {
                        $.ajax({
                            type: 'post',
                            url: '@Url.Action("DeleteTeacherMeetingFinding")',
                            data: {
                                teacherMeetingFindingId: tmpId
                            },
                            dataType: 'json',
                            success: function (data) {
                                swal({
                                    title: '@Html.Raw(TeacherMeetingResource.Exito)',
                                    text: data.message,
                                    type: 'success',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@TeacherMeetingResource.Aceptar'
                                }
                                , function () {
                                    location.reload();
                                });
                            },
                            error: function (data) {
                                console.log("Error" + data.error)
                            }
                        });
                    }
                }, 100)
        });
    }
</script>
