﻿@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingOperationalReportViewModel
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;

@{ 
    var culture = Session.GetCulture().ToString();
}
<style>
    .col {
        flex-basis: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .align-self-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important;
    }

    .align-self-center {
        -ms-flex-item-align: center !important;
        align-self: center !important;
    }

    .align-self-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important;
    }

    .justify-content-between {
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .justify-content-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }

    .panel-body {
        padding: 1rem 2rem 1rem !important;
    }
    .field-c {
        position: relative;
    }
    .field-c > .text-v {
        left: 50%;
        top: 50%;
        padding: 1rem;
        position: absolute;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .text-middle {
        left: 50%;
        top: 50%;
        padding: 1rem;
        position: absolute;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    textarea {
        text-align: justify;
    }
    @@media (max-width: 575px) {
        .small-silabus {
            margin-bottom: 0.5rem !important;
        }
        .operational-report-panels {
            margin-bottom: 1rem !important;
        }
    }
</style>

<div class="tab-pane fade" id="operational" role="tabpanel" aria-labelledby="operational-tab">
    <div class="operational-report-items">
            @for (int i = 0; i < Model.CoursesToCreateOperationalReports.Count(); i++)
            {
                var course = Model.CoursesToCreateOperationalReports.ToList()[i];
                var expanded = i == 0 ? "true" : "false";
                var collapseClasses = new List<string> { "panel-body", "panel-collapse", "collapse" };
                var operationalReportPanels = "";
                if (i != Model.CoursesToCreateOperationalReports.Count() - 1)
                {
                    operationalReportPanels = "operational-report-panels";
                }
                if (expanded.ToBoolean())
                {
                    collapseClasses.Add("in");
                }
                <div class="panel-group" id="course-@course.IdCurso" aria-multiselectable="true" role="tablist">
                    <div class="panel">
                        <div class="panel-heading" id="course-@course.IdCurso-heading" role="tab" style="cursor: pointer;">
                            <h3 class="panel-title" data-toggle="collapse" href="#course-@course.IdCurso-collapse" aria-expanded=@expanded aria-controls="course-@course.IdCurso-collapse">
                                <i class=""></i> @(culture == ConstantHelpers.CULTURE.ESPANOL ? course.NombreEspanol : (course.NombreIngles != null ? course.NombreIngles : course.NombreEspanol))
                            </h3>
                        </div>
                        <div class="@string.Join(" ", collapseClasses)" id="course-@course.IdCurso-collapse" aria-labelledby="course-@course.IdCurso-heading" role="tabpanel">
                            @for (int j = 0; j < course.ReunionProfesorReporteOperativo.Count; j++)
                            {
                                var reunionProfesorReporteOperativo = course.ReunionProfesorReporteOperativo.ToList()[j];
                                <div class="panel-body @operationalReportPanels">
                                    <div class="row" style="text-align: center; font-weight: bold;">
                                        @reunionProfesorReporteOperativo.Sede.Nombre
                                    </div>
                                    <div class="row">
                                        @{
                                            if (culture == ConstantHelpers.CULTURE.ESPANOL)
                                            {
                                                <div class="form-group col-xs-12 col-md-6 small-silabus" style="align-self: auto!important; padding: 4px 10px; margin-bottom: 0px;">
                                                    <label class="control-label">@TeacherMeetingResource.AvanceSilabo</label>
                                                    <textarea class="form-control silabus" id="OR-silabus-@reunionProfesorReporteOperativo.IdReunionProfesorReporteOperativo">@reunionProfesorReporteOperativo.AvanceSilabo</textarea>
                                                </div>
                                                <div class="form-group col-xs-12 col-md-6" style="align-self: auto!important; padding: 4px 10px; margin-bottom: 0px;">
                                                    <label class="control-label">@TeacherMeetingResource.UsoAulaVirtual</label>
                                                    <textarea class="form-control virtual" id="OR-virtual-@reunionProfesorReporteOperativo.IdReunionProfesorReporteOperativo">@reunionProfesorReporteOperativo.UsoAulaVirtual</textarea>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group col-xs-12 col-md-6 small-silabus" style="align-self: auto!important; padding: 4px 10px; margin-bottom: 0px;">
                                                    <label class="control-label">@TeacherMeetingResource.AvanceSilabo</label>
                                                    <textarea class="form-control silabus" id="OR-silabus-@reunionProfesorReporteOperativo.IdReunionProfesorReporteOperativo">@reunionProfesorReporteOperativo.AvanceSilaboIngles</textarea>
                                                </div>
                                                <div class="form-group col-xs-12 col-md-6" style="align-self: auto!important; padding: 4px 10px; margin-bottom: 0px;">
                                                    <label class="control-label">@TeacherMeetingResource.UsoAulaVirtual</label>
                                                    <textarea class="form-control virtual" id="OR-virtual-@reunionProfesorReporteOperativo.IdReunionProfesorReporteOperativo">@reunionProfesorReporteOperativo.UsoAulaVirtualIngles</textarea>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
</div>

<script type="text/javascript">
    var lang = $('html').attr('lang');
    $(document).ready(function () {
        var beforeSilabus = "";
        var beforeVirtual = "";
        $(".silabus")
            .focus(function () {
                beforeSilabus = $(this).val();
            })
            .blur(function () {
                var id = this.id.split("-")[2];
                var newValue = $(this).val();
                if (beforeSilabus != newValue && (newValue.length == 0 || newValue.length > 0)) {
                    updateSilabus(id, newValue);
                }
        });

        $(".virtual")
            .focus(function () {
                beforeVirtual = $(this).val();
            })
            .blur(function () {
                var id = this.id.split("-")[2];
                var newValue = $(this).val();
                if (beforeVirtual != newValue && (newValue.length == 0 || newValue.length > 0)) {
                    updateVirtual(id, newValue);
                }
        });
    });

    function updateSilabus(tmpId, newValue) {
        $.ajax({
            type: 'post',
            url: '@Url.Action("UpdateSilabus")',
            data: {
                teacherMeetingOperationalReportId: tmpId,
                newValue,
                language: lang
            },
            dataType: 'json',
            success: function (data) {
                swal({
                    title: '@Html.Raw(MessageResource.DatosGuardadosCorrectamente)',
                    type: 'success',
                    timer: 500
                });
                return null;
            },
            error: function (data) {
                console.log("Error" + data.error)
            }
        })
    }

    function updateVirtual(tmpId, newValue) {
        $.ajax({
            type: 'post',
            url: '@Url.Action("UpdateVirtualUse")',
            data: {
                teacherMeetingOperationalReportId: tmpId,
                newValue,
                language: lang
            },
            dataType: 'json',
            success: function () {
                swal({
                    title: '@MessageResource.DatosGuardadosCorrectamente',
                    type: 'success',
                    timer: 500,
                });
                return null;
            },
            error: function (data) {
                console.log("Error" + data.error)
            }
        })
    }
</script>