﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingPreviousTaskViewModel
@using UPC.CA.ABET.Presentation.Resources.Views.Error;
@{
    var entities = new UPC.CA.ABET.Models.AbetEntities();
    var culture = Session.GetCulture().ToString();
}

<style>
    textarea {
        border: 0 none;
        overflow: auto;
        background: lightcyan;
        font-family: sans-serif;
        outline: none;
        min-height: 50px;
        height: auto;
        resize: none;
        width: 50%;
    }

    .fill {
        min-height: 100%;
    }

    .editable {
        background: rgba(252,209,103, 0.3);
    }
</style>

<div class="tab-pane fade" id="previous-tasks" role="tabpanel" aria-labelledby="previous-tasks">
    <div class="improvement-actions-items">
        <div style="font-size: 24px; font-weight: 500; margin-bottom: 2rem;">@TeacherMeetingResource.PlandeMejora</div>
        @if (Model.ReunionProfesorAccionesMejora.Count() == 0)
        {
            <div style="text-align: center;">
                <div>@TeacherMeetingResource.NoExistenAccionesMejoraQueRequieranCerrarseEnElAreaEnLaQueSeEncuentra</div>
            </div>
        }
        else
        {
            for (int i = 0; i < Model.ReunionProfesorAccionesMejora.Count(); i++)
            {
                var reunionProfesorAccionMejora = Model.ReunionProfesorAccionesMejora.ToList()[i];
                var expanded = i == 0 ? "true" : "false";
                var collapseClasses = new List<string> { "panel-body", "panel-collapse", "collapse" };
                var improvementActioncodeIdentificator = reunionProfesorAccionMejora.AccionMejora.Codigo + "-" + reunionProfesorAccionMejora.AccionMejora.Identificador;
                if (expanded.ToBoolean())
                {
                    collapseClasses.Add("in");
                }
                <div class="panel-group" id="rPAM-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" aria-multiselectable="true" role="tablist">
                    <div class="panel">
                        <div class="panel-heading" id="rPAM-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora-heading" role="tab" style="cursor: pointer;">
                            <h3 class="panel-title" data-toggle="collapse" href="#rPAM-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora-collapse" aria-expanded=@expanded aria-controls="rPAM-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora-collapse">
                                <i class=""></i> @improvementActioncodeIdentificator
                            </h3>
                        </div>
                        <div class="@string.Join(" ", collapseClasses)" id="rPAM-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora-collapse" aria-labelledby="rPAM-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora-heading" role="tabpanel">
                            <div class="row" style="display: flex; flex-wrap: wrap;">
                                <div class="col-xs-12 col-lg-6 align-self-start fill" style="text-align: justify">
                                    @(culture == ConstantHelpers.CULTURE.ESPANOL ? reunionProfesorAccionMejora.AccionMejora.DescripcionEspanol : reunionProfesorAccionMejora.AccionMejora.DescripcionIngles)
                                </div>
                                <div class="col-xs-12 col-lg-6 align-self-start">
                                    @{
                                        if (culture == ConstantHelpers.CULTURE.ESPANOL)
                                        {
                                            <ul class="nav nav-tabs" id="improvementActionsLanguages" role="tablist">
                                                <li class="nav-item active">
                                                    <a class="nav-link" style="padding: 0px 20px;" id="spanishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora-tab" data-toggle="tab" href="#spanishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" role="tab" aria-controls="spanishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" aria-selected="true">@LayoutResource.Espanol</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" style="padding: 0px 20px;" id="englishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora-tab" data-toggle="tab" href="#englishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" role="tab" aria-controls="englishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" aria-selected="false">@LayoutResource.Ingles</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="improvementActionsLanguagesContent">
                                                <div class="tab-pane fade active in" id="spanishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" role="tabpanel" aria-labelledby="spanishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora-tab">
                                                    <div class="col-xs-11" style="align-self: auto!important; padding: 0px;">
                                                        <textarea class="form-control fill" disabled id="spanish-IAClose-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora">@reunionProfesorAccionMejora.ComentarioCierreEspanol</textarea>
                                                    </div>
                                                    <div class="col-xs-1" id="spanishOptions-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" style="text-align: center; padding: 0px;">
                                                        <button type="button" title="@LayoutResource.Editar" class="btn btn-secondary btn-xs" onclick="editImprovementAction(this, 'spanish-IAClose-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora')">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </button>
                                                        @if (reunionProfesorAccionMejora.IdReunionProfesor.HasValue)
                                                        {
                                                            <button id="spanishIAtrash" type="button" title="@Html.Raw(TeacherMeetingResource.LiberarAccionMejoraTitulo)" class="btn btn-secondary btn-xs" onclick="revertImprovementAction(this, @reunionProfesorAccionMejora.IdReunionProfesorAccionMejora)">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="englishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" role="tabpanel" aria-labelledby="englishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora-tab">
                                                    <div class="col-xs-11" style="align-self: auto!important; padding: 0px;">
                                                        <textarea class="form-control fill" disabled id="english-IAClose-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora">@reunionProfesorAccionMejora.ComentarioCierreIngles</textarea>
                                                    </div>
                                                    <div class="col-xs-1" id="englishOptions-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" style="text-align: center; padding: 0px;">
                                                        <button type="button" title="@LayoutResource.Editar" class="btn btn-secondary btn-xs" onclick="editImprovementAction(this, 'english-IAClose-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora')">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </button>
                                                        @if (reunionProfesorAccionMejora.IdReunionProfesor.HasValue)
                                                        {
                                                            <button id="englishIAtrash" type="button" title="@Html.Raw(TeacherMeetingResource.LiberarAccionMejoraTitulo)" class="btn btn-secondary btn-xs" onclick="revertImprovementAction(this, @reunionProfesorAccionMejora.IdReunionProfesorAccionMejora)">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <ul class="nav nav-tabs" id="improvementActionsLanguages" role="tablist">
                                                <li class="nav-item active">
                                                    <a class="nav-link" style="padding: 0px 20px;" id="englishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora-tab" data-toggle="tab" href="#englishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" role="tab" aria-controls="englishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" aria-selected="true">@LayoutResource.Ingles</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" style="padding: 0px 20px;" id="spanishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora-tab" data-toggle="tab" href="#spanishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" role="tab" aria-controls="spanishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" aria-selected="false">@LayoutResource.Espanol</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="improvementActionsLanguagesContent">
                                                <div class="tab-pane fade active in" id="englishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" role="tabpanel" aria-labelledby="englishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora-tab">
                                                    <div class="col-xs-11" style="align-self: auto!important; padding: 0px;">
                                                        <textarea class="form-control fill" disabled id="english-IAClose-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora">@reunionProfesorAccionMejora.ComentarioCierreIngles</textarea>
                                                    </div>
                                                    <div class="col-xs-1" id="englishOptions-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" style="text-align: center; padding: 0px;">
                                                        <button type="button" title="@LayoutResource.Editar" class="btn btn-secondary btn-xs" onclick="editImprovementAction(this, 'english-IAClose-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora')">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </button>
                                                        @if (reunionProfesorAccionMejora.IdReunionProfesor.HasValue)
                                                        {
                                                            <button id="englishIAtrash" type="button" title="@Html.Raw(TeacherMeetingResource.LiberarAccionMejoraTitulo)" class="btn btn-secondary btn-xs" onclick="revertImprovementAction(this, @reunionProfesorAccionMejora.IdReunionProfesorAccionMejora)">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="spanishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" role="tabpanel" aria-labelledby="spanishIA-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora-tab">
                                                    <div class="col-xs-11" style="align-self: auto!important; padding: 0px;">
                                                        <textarea class="form-control fill" disabled id="spanish-IAClose-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora">@reunionProfesorAccionMejora.ComentarioCierreEspanol</textarea>
                                                    </div>
                                                    <div class="col-xs-1" id="spanishOptions-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora" style="text-align: center; padding: 0px;">
                                                        <button type="button" title="@LayoutResource.Editar" class="btn btn-secondary btn-xs" onclick="editImprovementAction(this, 'spanish-IAClose-@reunionProfesorAccionMejora.IdReunionProfesorAccionMejora')">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </button>
                                                        @if (reunionProfesorAccionMejora.IdReunionProfesor.HasValue)
                                                        {
                                                            <button id="spanishIAtrash" type="button" title="@Html.Raw(TeacherMeetingResource.LiberarAccionMejoraTitulo)" class="btn btn-secondary btn-xs" onclick="revertImprovementAction(this, @reunionProfesorAccionMejora.IdReunionProfesorAccionMejora)">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    @{
        if (Model.ReunionProfesorAcuerdosPrevios != null)
        {
            <div class="previous-agreements-items" style="padding-top: 0;">
                <div style="font-size: 24px; font-weight: 500; margin-bottom: 2rem;">@TeacherMeetingResource.AcuerdosPrevios</div>
                @if (Model.ReunionProfesorAcuerdosPrevios.Count() == 0)
                {
                    <div style="text-align: center;">
                        <div>@TeacherMeetingResource.EnLaReunionNoSeCrearonAcuerdos</div>
                    </div>
                }
                else
                {
                    for (int i = 0; i < Model.ReunionProfesorAcuerdosPrevios.Count(); i++)
                    {
                        var acuerdoPrevio = Model.ReunionProfesorAcuerdosPrevios.ToList()[i];
                        var comentarioCierreEstaReunion = acuerdoPrevio.ReunionProfesorAcuerdoHistorico.ToList()[0].ComentarioCierreEspanol;
                        var tareas = acuerdoPrevio.ReunionProfesorTarea.ToList();
                        var hallazgoList = new List<UPC.CA.ABET.Models.ReunionProfesorHallazgo>();
                        var docentes = new List<UPC.CA.ABET.Models.Docente>();
                        var hallazgosTareasList = new List<UPC.CA.ABET.Models.ReunionProfesorHallazgoTarea>();
                        var reunionProfesorHallazgoTareaResponsableList = new List<UPC.CA.ABET.Models.ReunionProfesorHallazgoTareaResponsable>();
                        foreach (var tarea in tareas)
                        {
                            var hallazgosTareas = entities.ReunionProfesorHallazgoTarea.Where(x => x.IdReunionProfesorTarea == tarea.IdReunionProfesorTarea).ToList();
                            hallazgosTareasList.AddRange(hallazgosTareas);
                        }
                        foreach (var hallazgoTarea in hallazgosTareasList)
                        {
                            hallazgoList.Add(hallazgoTarea.ReunionProfesorHallazgo);
                            reunionProfesorHallazgoTareaResponsableList.AddRange(hallazgoTarea.ReunionProfesorHallazgoTareaResponsable);
                        }
                        hallazgoList = hallazgoList.Distinct().ToList();
                        reunionProfesorHallazgoTareaResponsableList = reunionProfesorHallazgoTareaResponsableList.Distinct().ToList();
                        docentes = reunionProfesorHallazgoTareaResponsableList.Select(x => x.Docente).Distinct().ToList();
                        var expanded = i == 0 ? "true" : "false";
                        var collapseClasses = new List<string> { "panel-body", "panel-collapse", "collapse" };
                        if (expanded.ToBoolean())
                        {
                            collapseClasses.Add("in");
                        }
                        <div class="panel-group" id="rPA-@acuerdoPrevio.IdReunionProfesorAcuerdo" aria-multiselectable="true" role="tablist">
                            <div class="panel">
                                <div class="panel-heading" id="rPA-@acuerdoPrevio.IdReunionProfesorAcuerdo-heading" role="tab" style="cursor: pointer;">
                                    <h3 class="panel-title" data-toggle="collapse" href="#rPA-@acuerdoPrevio.IdReunionProfesorAcuerdo-collapse" aria-expanded=@expanded aria-controls="rPA-@acuerdoPrevio.IdReunionProfesorAcuerdo-collapse">
                                        <i class=""></i> @TeacherMeetingResource.Acuerdo N° @acuerdoPrevio.IdReunionProfesorAcuerdo
                                    </h3>
                                </div>
                                <div class="@string.Join(" ", collapseClasses)" id="rPA-@acuerdoPrevio.IdReunionProfesorAcuerdo-collapse" aria-labelledby="rPA-@acuerdoPrevio.IdReunionProfesorAcuerdo-heading" role="tabpanel">
                                    <div class="row" style="display: flex; flex-wrap: wrap;">
                                        <div class="col-xs-12 col-lg-6 align-self-start fill" style="text-align: justify">
                                            @(culture == ConstantHelpers.CULTURE.ESPANOL ? acuerdoPrevio.DescripcionEspanol : acuerdoPrevio.DescripcionIngles)
                                            <a href="javascript:void(0)" id="@acuerdoPrevio.IdReunionProfesorAcuerdo" class="btn" onclick="loadAgreementDetail(this.id)" style="padding: 0px!important;">
                                                &nbsp;@LayoutResource.Ver
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-lg-6 align-self-start">
                                            @{
                                                if (culture == ConstantHelpers.CULTURE.ESPANOL)
                                                {
                                                    <ul class="nav nav-tabs" id="previousAgreementsLanguages" role="tablist">
                                                        <li class="nav-item active">
                                                            <a class="nav-link" style="padding: 0px 20px;" id="spanishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo-tab" data-toggle="tab" href="#spanishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo" role="tab" aria-controls="spanishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo" aria-selected="true">@LayoutResource.Espanol</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" style="padding: 0px 20px;" id="englishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo-tab" data-toggle="tab" href="#englishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo" role="tab" aria-controls="englishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo" aria-selected="false">@LayoutResource.Ingles</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content" id="previousAgreementsLanguagesContent">
                                                        <div class="tab-pane fade active in" id="spanishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo" role="tabpanel" aria-labelledby="spanishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo-tab">
                                                            <div class="col-xs-11" style="align-self: auto!important; padding: 0px;">
                                                                <textarea title="@LayoutResource.UltimaActualizacion" class="form-control fill" disabled id="spanish-PAClose-@acuerdoPrevio.IdReunionProfesorAcuerdo">@acuerdoPrevio.ReunionProfesorAcuerdoHistorico.ToList()[0].ComentarioCierreEspanol</textarea>
                                                            </div>
                                                            <div class="col-xs-1" id="spanishPAOptions-@acuerdoPrevio.IdReunionProfesorAcuerdo" style="text-align: center; padding: 0px;">
                                                                <button type="button" title="@LayoutResource.Editar" class="btn btn-secondary btn-xs" onclick="editPreviousAgreement(this, 'spanish-PAClose-@acuerdoPrevio.IdReunionProfesorAcuerdo')">
                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="englishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo" role="tabpanel" aria-labelledby="englishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo-tab">
                                                            <div class="col-xs-11" style="align-self: auto!important; padding: 0px;">
                                                                <textarea title="@LayoutResource.UltimaActualizacion" class="form-control fill" disabled id="english-PAClose-@acuerdoPrevio.IdReunionProfesorAcuerdo">@acuerdoPrevio.ReunionProfesorAcuerdoHistorico.ToList()[0].ComentarioCierreIngles</textarea>
                                                            </div>
                                                            <div class="col-xs-1" id="englishPAOptions-@acuerdoPrevio.IdReunionProfesorAcuerdo" style="text-align: center; padding: 0px;">
                                                                <button type="button" title="@LayoutResource.Editar" class="btn btn-secondary btn-xs" onclick="editPreviousAgreement(this, 'english-PAClose-@acuerdoPrevio.IdReunionProfesorAcuerdo')">
                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                }
                                                else
                                                {
                                                    <ul class="nav nav-tabs" id="previousAgreementsLanguages" role="tablist">
                                                        <li class="nav-item active">
                                                            <a class="nav-link" style="padding: 0px 20px;" id="englishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo-tab" data-toggle="tab" href="#englishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo" role="tab" aria-controls="englishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo" aria-selected="true">@LayoutResource.Ingles</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" style="padding: 0px 20px;" id="spanishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo-tab" data-toggle="tab" href="#spanishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo" role="tab" aria-controls="spanishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo" aria-selected="false">@LayoutResource.Espanol</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content" id="previousAgreementsLanguagesContent">
                                                        <div class="tab-pane fade active in" id="englishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo" role="tabpanel" aria-labelledby="englishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo-tab">
                                                            <div class="col-xs-11" style="align-self: auto!important; padding: 0px;">
                                                                <textarea title="@LayoutResource.UltimaActualizacion" class="form-control fill" disabled id="english-PAClose-@acuerdoPrevio.IdReunionProfesorAcuerdo">@acuerdoPrevio.ReunionProfesorAcuerdoHistorico.ToList()[0].ComentarioCierreIngles</textarea>
                                                            </div>
                                                            <div class="col-xs-1" id="englishPAOptions-@acuerdoPrevio.IdReunionProfesorAcuerdo" style="text-align: center; padding: 0px;">
                                                                <button type="button" title="@LayoutResource.Editar" class="btn btn-secondary btn-xs" onclick="editPreviousAgreement(this, 'english-PAClose-@acuerdoPrevio.IdReunionProfesorAcuerdo')">
                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="spanishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo" role="tabpanel" aria-labelledby="spanishPA-@acuerdoPrevio.IdReunionProfesorAcuerdo-tab">
                                                            <div class="col-xs-11" style="align-self: auto!important; padding: 0px;">
                                                                <textarea title="@LayoutResource.UltimaActualizacion" class="form-control fill" disabled id="spanish-PAClose-@acuerdoPrevio.IdReunionProfesorAcuerdo">@acuerdoPrevio.ReunionProfesorAcuerdoHistorico.ToList()[0].ComentarioCierreEspanol</textarea>
                                                            </div>
                                                            <div class="col-xs-1" id="spanishPAOptions-@acuerdoPrevio.IdReunionProfesorAcuerdo" style="text-align: center; padding: 0px;">
                                                                <button type="button" title="@LayoutResource.Editar" class="btn btn-secondary btn-xs" onclick="editPreviousAgreement(this, 'spanish-PAClose-@acuerdoPrevio.IdReunionProfesorAcuerdo')">
                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    }
</div>

<div class="modal fade" id="agreementDetailModal" role="dialog" tabindex="-35">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modal-agreement-detail"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function editImprovementAction(thisObject, target) {
        $(thisObject).children(":first").remove();
        var newIcon = document.createElement('i');
        newIcon.setAttribute('class', 'fa fa-check');
        newIcon.setAttribute('aria-hidden', 'true');
        thisObject.appendChild(newIcon);
        var IAObj = $('#'+target);
        IAObj.prop('disabled', false).toggleClass('editable');
        thisObject.setAttribute('title', '@Html.Raw(LayoutResource.Guardar)');
        thisObject.setAttribute('onclick', "saveImprovementAction(this, '" + target + "')");
    }

    function editPreviousAgreement(thisObject, target) {
        $(thisObject).children(":first").remove();
        var newIcon = document.createElement('i');
        newIcon.setAttribute('class', 'fa fa-check');
        newIcon.setAttribute('aria-hidden', 'true');
        thisObject.appendChild(newIcon);
        var IAObj = $('#'+target);
        IAObj.prop('disabled', false).toggleClass('editable');
        thisObject.setAttribute('title', '@Html.Raw(LayoutResource.Guardar)');
        thisObject.setAttribute('onclick', "savePreviousAgreement(this, '" + target + "')");
    }

    function revertImprovementAction(thisObject, IAId) {
        swal({
            title: '@Html.Raw(TeacherMeetingResource.LiberarAccionMejoraTitulo)',
            text: '@Html.Raw(TeacherMeetingResource.LiberarAccionMejoraTexto)',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
            confirmButtonText: '@TeacherMeetingResource.Aceptar',
            cancelButtonText: '@ButtonsOptionsResource.Cancelar',
            closeOnConfirm: true,
            closeOnCancel: true,
        }, function (accepted) {
                setTimeout(function () {
                    if (accepted) {
                        $.ajax({
                            type: 'post',
                            url: '@Url.Action("ReleaseImprovementAction")',
                            data: { tmpId: IAId },
                            dataType: 'json',
                            error: function () {
                                showErrorWarning('@Html.Raw(MessageResource.OcurrioUnError)', 'error');
                            },
                            success: function () {
                                $('#spanish-IAClose-' + IAId).val('');
                                $('#english-IAClose-' + IAId).val('');
                                $('#spanish-IAClose-' + IAId).prop('disabled', true);
                                $('#english-IAClose-' + IAId).prop('disabled', true);
                                if ($('#englishOptions-' + IAId + ' > #englishIAtrash').length) {
                                    $('#englishOptions-' + IAId + '> #englishIAtrash').remove();
                                }
                                if ($('#spanishOptions-' + IAId + ' > #spanishIAtrash').length) {
                                    $('#spanishOptions-' + IAId + ' > #spanishIAtrash').remove();
                                }
                                showSuccessfullySavedChanges('@Html.Raw(TeacherMeetingResource.AccionMejoraVuelveAPendiente)');
                            }
                        });
                    }
                }, 1000);
        });
    }

    function savePreviousAgreement(thisObject, target) {
        var targetLanguage = target.split('-')[0];
        var IAId = target.split('-')[2];
        var IAObjValue = $('#' + target).val();
        var letterNumbers = /^(?:(?![×Þß÷þø])[-'"\ñ0-9a-zA-ZÀ-ÿ ?!&¿¡,.():-\s])+$/;
        var lang = $('html').attr('lang');
        if (targetLanguage === 'spanish' && lang === 'es-PE') {
            $.ajax({
                type: 'post',
                url: '@Url.Action("UpdatePreviousAgreementProgress")',
                data: {
                    tmpId: IAId,
                    newValue: IAObjValue,
                    teacherMeetingId: @Model.IdReunionProfesor,
                    language: targetLanguage,
                    targetOnly: false,
                },
                dataType: 'json',
                error: function () {
                    showErrorWarning('@Html.Raw(MessageResource.OcurrioUnError)', 'error');
                },
                beforeSend: function (xhr, options) {
                    if (!IAObjValue.match(letterNumbers) && IAObjValue.trim() === "") {
                        xhr.abort();
                        showErrorWarning('@Html.Raw(ErrorResource.CaracteresInvalidos)', 'warning');
                        $(thisObject).children(":first").remove();
                        var newIcon = document.createElement('i');
                        newIcon.setAttribute('class', 'fa fa-pencil');
                        newIcon.setAttribute('aria-hidden', 'true');
                        thisObject.appendChild(newIcon);
                        $('#' + target).prop('disabled', true).toggleClass('editable');
                        thisObject.setAttribute('title', '@Html.Raw(LayoutResource.Editar)');
                        thisObject.setAttribute('onclick', "editPreviousAgreement(this, '" + target + "')");
                    }
                },
                success: function (response) {
                    $(thisObject).children(":first").remove();
                    var newIcon = document.createElement('i');
                    newIcon.setAttribute('class', 'fa fa-pencil');
                    newIcon.setAttribute('aria-hidden', 'true');
                    thisObject.appendChild(newIcon);
                    $('#' + target).prop('disabled', true).toggleClass('editable');
                    thisObject.setAttribute('title', '@Html.Raw(LayoutResource.Editar)');
                    thisObject.setAttribute('onclick', "editPreviousAgreement(this, '" + target + "')");
                    $('#english-PAClose-' + IAId).val(response.translation);
                    showSuccessfullySavedChanges('@Html.Raw(TeacherMeetingResource.AcuerdoPrevioActualizado)');
                }
            });
        } else if (targetLanguage === 'english' && lang === 'en-US') {
            $.ajax({
                type: 'post',
                url: '@Url.Action("UpdatePreviousAgreementProgress")',
                data: {
                    tmpId: IAId,
                    newValue: IAObjValue,
                    teacherMeetingId: @Model.IdReunionProfesor,
                    language: targetLanguage,
                    targetOnly: false,
                },
                dataType: 'json',
                error: function () {
                    showErrorWarning('@Html.Raw(MessageResource.OcurrioUnError)', 'error');
                },
                beforeSend: function (xhr, options) {
                    if (!IAObjValue.match(letterNumbers) && IAObjValue.trim() === "") {
                        xhr.abort();
                        showErrorWarning('@Html.Raw(ErrorResource.CaracteresInvalidos)', 'warning');
                        $(thisObject).children(":first").remove();
                        var newIcon = document.createElement('i');
                        newIcon.setAttribute('class', 'fa fa-pencil');
                        newIcon.setAttribute('aria-hidden', 'true');
                        thisObject.appendChild(newIcon);
                        $('#' + target).prop('disabled', true).toggleClass('editable');
                        thisObject.setAttribute('title', '@Html.Raw(LayoutResource.Editar)');
                        thisObject.setAttribute('onclick', "editPreviousAgreement(this, '" + target + "')");
                    }
                },
                success: function (response) {
                    $(thisObject).children(":first").remove();
                    var newIcon = document.createElement('i');
                    newIcon.setAttribute('class', 'fa fa-pencil');
                    newIcon.setAttribute('aria-hidden', 'true');
                    thisObject.appendChild(newIcon);
                    $('#' + target).prop('disabled', true).toggleClass('editable');
                    thisObject.setAttribute('title', '@Html.Raw(LayoutResource.Editar)');
                    thisObject.setAttribute('onclick', "editPreviousAgreement(this, '" + target + "')");
                    $('#spanish-PAClose-' + IAId).val(response.translation);
                    showSuccessfullySavedChanges('@Html.Raw(TeacherMeetingResource.AcuerdoPrevioActualizado)');
                }
            });
        } else {
            $.ajax({
                type: 'post',
                url: '@Url.Action("UpdatePreviousAgreementProgress")',
                data: {
                    tmpId: IAId,
                    newValue: IAObjValue,
                    teacherMeetingId: @Model.IdReunionProfesor,
                    language: targetLanguage,
                },
                dataType: 'json',
                error: function () {
                    showErrorWarning('@Html.Raw(MessageResource.OcurrioUnError)', 'error');
                },
                beforeSend: function (xhr, options) {
                    if (!IAObjValue.match(letterNumbers) && IAObjValue.trim() === "") {
                        xhr.abort();
                        showErrorWarning('@Html.Raw(ErrorResource.CaracteresInvalidos)', 'warning');
                        $(thisObject).children(":first").remove();
                        var newIcon = document.createElement('i');
                        newIcon.setAttribute('class', 'fa fa-pencil');
                        newIcon.setAttribute('aria-hidden', 'true');
                        thisObject.appendChild(newIcon);
                        $('#' + target).prop('disabled', true).toggleClass('editable');
                        thisObject.setAttribute('title', '@Html.Raw(LayoutResource.Editar)');
                        thisObject.setAttribute('onclick', "editPreviousAgreement(this, '" + target + "')");
                    }
                },
                success: function (response) {
                    $(thisObject).children(":first").remove();
                    var newIcon = document.createElement('i');
                    newIcon.setAttribute('class', 'fa fa-pencil');
                    newIcon.setAttribute('aria-hidden', 'true');
                    thisObject.appendChild(newIcon);
                    $('#' + target).prop('disabled', true).toggleClass('editable');
                    thisObject.setAttribute('title', '@Html.Raw(LayoutResource.Editar)');
                    thisObject.setAttribute('onclick', "editPreviousAgreement(this, '" + target + "')");
                    showSuccessfullySavedChanges('@Html.Raw(TeacherMeetingResource.AcuerdoPrevioActualizado)');
                }
            });
        }
        
    }

    function saveImprovementAction(thisObject, target) {
        var targetLanguage = target.split('-')[0];
        var IAId = target.split('-')[2];
        var IAObjValue = $('#' + target).val();
        var letterNumbers = /^(?:(?![×Þß÷þø])[-'"\ñ0-9a-zA-ZÀ-ÿ ?!&¿¡,.():-\s])+$/;
        var lang = $('html').attr('lang');
        if (targetLanguage === 'spanish' && lang === 'es-PE') {
            $.ajax({
                type: 'post',
                url: '@Url.Action("UpdateImprovementActionProgress")',
                data: {
                    tmpId: IAId,
                    newValue: IAObjValue,
                    teacherMeetingId: @Model.IdReunionProfesor,
                    language: targetLanguage,
                    targetOnly: false,
                },
                dataType: 'json',
                error: function () {
                    showErrorWarning('@Html.Raw(MessageResource.OcurrioUnError)', 'error');
                },
                beforeSend: function (xhr, options) {
                    if (!IAObjValue.match(letterNumbers) && IAObjValue.trim() === "") {
                        xhr.abort();
                        showErrorWarning('@Html.Raw(ErrorResource.CaracteresInvalidos)', 'warning');
                        $(thisObject).children(":first").remove();
                        var newIcon = document.createElement('i');
                        newIcon.setAttribute('class', 'fa fa-pencil');
                        newIcon.setAttribute('aria-hidden', 'true');
                        thisObject.appendChild(newIcon);
                        $('#' + target).prop('disabled', true).toggleClass('editable');
                        thisObject.setAttribute('title', '@Html.Raw(LayoutResource.Editar)');
                        thisObject.setAttribute('onclick', "editImprovementAction(this, '" + target + "')");
                    }
                },
                success: function (response) {
                    $(thisObject).children(":first").remove();
                    var newIcon = document.createElement('i');
                    newIcon.setAttribute('class', 'fa fa-pencil');
                    newIcon.setAttribute('aria-hidden', 'true');
                    thisObject.appendChild(newIcon);
                    $('#' + target).prop('disabled', true).toggleClass('editable');
                    thisObject.setAttribute('title', '@Html.Raw(LayoutResource.Editar)');
                    thisObject.setAttribute('onclick', "editImprovementAction(this, '" + target + "')");
                    $('#english-IAClose-' + IAId).val(response.translation);

                    //Trash button
                    var trashButton = document.createElement('button');
                    trashButton.setAttribute('type', 'button');
                    trashButton.setAttribute('title', '@Html.Raw(TeacherMeetingResource.LiberarAccionMejoraTitulo)');
                    trashButton.setAttribute('class', 'btn btn-secondary btn-xs');
                    trashButton.setAttribute('id', 'englishIAtrash');
                    trashButton.setAttribute('onclick', "revertImprovementAction(this, '" + IAId + "')");
                    //Trash icon
                    var trashIcon = document.createElement('i');
                    trashIcon.setAttribute('class', 'fa fa-trash');
                    trashIcon.setAttribute('aria-hidden', 'true');
                    trashButton.appendChild(trashIcon);
                    if (!$('#englishOptions-' + IAId).find('#englishIAtrash').length) {
                        document.getElementById('englishOptions-' + IAId).appendChild(trashButton);
                    }
                    var trashButton2 = document.createElement('button');
                    trashButton2.setAttribute('type', 'button');
                    trashButton2.setAttribute('title', '@Html.Raw(TeacherMeetingResource.LiberarAccionMejoraTitulo)');
                    trashButton2.setAttribute('class', 'btn btn-secondary btn-xs');
                    trashButton2.setAttribute('id', 'spanishIAtrash');
                    trashButton2.setAttribute('onclick', "revertImprovementAction(this, '" + IAId + "')");
                    //Trash icon
                    var trashIcon2 = document.createElement('i');
                    trashIcon2.setAttribute('class', 'fa fa-trash');
                    trashIcon2.setAttribute('aria-hidden', 'true');
                    trashButton2.appendChild(trashIcon2);
                    if (!$('#spanishOptions-' + IAId).find('#spanishIAtrash').length) {
                        document.getElementById('spanishOptions-' + IAId).appendChild(trashButton2);
                    }
                    showSuccessfullySavedChanges('@Html.Raw(TeacherMeetingResource.AccionMejoraCerrada)');
                }
            });
        } else if (targetLanguage === 'english' && lang === 'en-US') {
            $.ajax({
                type: 'post',
                url: '@Url.Action("UpdateImprovementActionProgress")',
                data: {
                    tmpId: IAId,
                    newValue: IAObjValue,
                    teacherMeetingId: @Model.IdReunionProfesor,
                    language: targetLanguage,
                    targetOnly: false,
                },
                dataType: 'json',
                error: function () {
                    showErrorWarning('@Html.Raw(MessageResource.OcurrioUnError)', 'error');
                },
                beforeSend: function (xhr, options) {
                    if (!IAObjValue.match(letterNumbers) && IAObjValue.trim() === "") {
                        xhr.abort();
                        showErrorWarning('@Html.Raw(ErrorResource.CaracteresInvalidos)', 'warning');
                        $(thisObject).children(":first").remove();
                        var newIcon = document.createElement('i');
                        newIcon.setAttribute('class', 'fa fa-pencil');
                        newIcon.setAttribute('aria-hidden', 'true');
                        thisObject.appendChild(newIcon);
                        $('#' + target).prop('disabled', true).toggleClass('editable');
                        thisObject.setAttribute('title', '@Html.Raw(LayoutResource.Editar)');
                        thisObject.setAttribute('onclick', "editImprovementAction(this, '" + target + "')");
                    }
                },
                success: function (response) {
                    $(thisObject).children(":first").remove();
                    var newIcon = document.createElement('i');
                    newIcon.setAttribute('class', 'fa fa-pencil');
                    newIcon.setAttribute('aria-hidden', 'true');
                    thisObject.appendChild(newIcon);
                    $('#' + target).prop('disabled', true).toggleClass('editable');
                    thisObject.setAttribute('title', '@Html.Raw(LayoutResource.Editar)');
                    thisObject.setAttribute('onclick', "editImprovementAction(this, '" + target + "')");
                    $('#spanish-IAClose-' + IAId).val(response.translation);

                    //Trash button
                    var trashButton2 = document.createElement('button');
                    trashButton2.setAttribute('type', 'button');
                    trashButton2.setAttribute('title', '@Html.Raw(TeacherMeetingResource.LiberarAccionMejoraTitulo)');
                    trashButton2.setAttribute('class', 'btn btn-secondary btn-xs');
                    trashButton2.setAttribute('id', 'spanishIAtrash');
                    trashButton2.setAttribute('onclick', "revertImprovementAction(this, '" + IAId + "')");
                    //Trash icon
                    var trashIcon2 = document.createElement('i');
                    trashIcon2.setAttribute('class', 'fa fa-trash');
                    trashIcon2.setAttribute('aria-hidden', 'true');
                    trashButton2.appendChild(trashIcon2);
                    if (!$('#spanishOptions-' + IAId).find('#spanishIAtrash').length) {
                        document.getElementById('spanishOptions-' + IAId).appendChild(trashButton2);
                    }

                    var trashButton = document.createElement('button');
                    trashButton.setAttribute('type', 'button');
                    trashButton.setAttribute('title', '@Html.Raw(TeacherMeetingResource.LiberarAccionMejoraTitulo)');
                    trashButton.setAttribute('class', 'btn btn-secondary btn-xs');
                    trashButton.setAttribute('id', 'englishIAtrash');
                    trashButton.setAttribute('onclick', "revertImprovementAction(this, '" + IAId + "')");
                    //Trash icon
                    var trashIcon = document.createElement('i');
                    trashIcon.setAttribute('class', 'fa fa-trash');
                    trashIcon.setAttribute('aria-hidden', 'true');
                    trashButton.appendChild(trashIcon);
                    if (!$('#englishOptions-' + IAId).find('#englishIAtrash').length) {
                        document.getElementById('englishOptions-' + IAId).appendChild(trashButton);
                    }
                    showSuccessfullySavedChanges('@Html.Raw(TeacherMeetingResource.AccionMejoraCerrada)');
                }
            });
        } else {
            $.ajax({
                type: 'post',
                url: '@Url.Action("UpdateImprovementActionProgress")',
                data: {
                    tmpId: IAId,
                    newValue: IAObjValue,
                    teacherMeetingId: @Model.IdReunionProfesor,
                    language: targetLanguage,
                },
                dataType: 'json',
                error: function () {
                    showErrorWarning('@Html.Raw(MessageResource.OcurrioUnError)', 'error');
                },
                beforeSend: function (xhr, options) {
                    if (!IAObjValue.match(letterNumbers) && IAObjValue.trim() === "") {
                        xhr.abort();
                        showErrorWarning('@Html.Raw(ErrorResource.CaracteresInvalidos)', 'warning');
                        $(thisObject).children(":first").remove();
                        var newIcon = document.createElement('i');
                        newIcon.setAttribute('class', 'fa fa-pencil');
                        newIcon.setAttribute('aria-hidden', 'true');
                        thisObject.appendChild(newIcon);
                        $('#' + target).prop('disabled', true).toggleClass('editable');
                        thisObject.setAttribute('title', '@Html.Raw(LayoutResource.Editar)');
                        thisObject.setAttribute('onclick', "editImprovementAction(this, '" + target + "')");
                    }
                },
                success: function (response) {
                    $(thisObject).children(":first").remove();
                    var newIcon = document.createElement('i');
                    newIcon.setAttribute('class', 'fa fa-pencil');
                    newIcon.setAttribute('aria-hidden', 'true');
                    thisObject.appendChild(newIcon);
                    $('#' + target).prop('disabled', true).toggleClass('editable');
                    thisObject.setAttribute('title', '@Html.Raw(LayoutResource.Editar)');
                    thisObject.setAttribute('onclick', "editImprovementAction(this, '" + target + "')");

                    //Trash button
                    var trashButton2 = document.createElement('button');
                    trashButton2.setAttribute('type', 'button');
                    trashButton2.setAttribute('title', '@Html.Raw(TeacherMeetingResource.LiberarAccionMejoraTitulo)');
                    trashButton2.setAttribute('class', 'btn btn-secondary btn-xs');
                    trashButton2.setAttribute('id', 'spanishIAtrash');
                    trashButton2.setAttribute('onclick', "revertImprovementAction(this, '" + IAId + "')");
                    //Trash icon
                    var trashIcon2 = document.createElement('i');
                    trashIcon2.setAttribute('class', 'fa fa-trash');
                    trashIcon2.setAttribute('aria-hidden', 'true');
                    trashButton2.appendChild(trashIcon2);
                    if (!$('#spanishOptions-' + IAId).find('#spanishIAtrash').length) {
                        document.getElementById('spanishOptions-' + IAId).appendChild(trashButton2);
                    }

                    var trashButton = document.createElement('button');
                    trashButton.setAttribute('type', 'button');
                    trashButton.setAttribute('title', '@Html.Raw(TeacherMeetingResource.LiberarAccionMejoraTitulo)');
                    trashButton.setAttribute('class', 'btn btn-secondary btn-xs');
                    trashButton.setAttribute('id', 'englishIAtrash');
                    trashButton.setAttribute('onclick', "revertImprovementAction(this, '" + IAId + "')");
                    //Trash icon
                    var trashIcon = document.createElement('i');
                    trashIcon.setAttribute('class', 'fa fa-trash');
                    trashIcon.setAttribute('aria-hidden', 'true');
                    trashButton.appendChild(trashIcon);
                    if (!$('#englishOptions-' + IAId).find('#englishIAtrash').length) {
                        document.getElementById('englishOptions-' + IAId).appendChild(trashButton);
                    }
                    showSuccessfullySavedChanges('@Html.Raw(TeacherMeetingResource.AccionMejoraCerrada)');
                }
            });
        }
        
    }

    function loadAgreementDetail(tmaId) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("_TeacherMeetingAgreementDetail")' + '?tmaId=' + tmaId + '&tmId=@Model.IdReunionProfesor',
            success: function (data) {
                $('#modal-agreement-detail').html(data);
                $('#agreementDetailModal').modal('show');
            }
        });
    }

    function showErrorWarning(message, type) {
        swal({
            title: message,
            text: '@Html.Raw(MessageResource.NoSeGuardaronCambios)',
            type,
            confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
            confirmButtonText: '@TeacherMeetingResource.Aceptar',
            closeOnConfirm: true,
        });
    }

    function showLoading(text) {
        swal({
            title: text,
            text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
            showConfirmButton: false,
            html: true,
        });
    }

    function showSuccessfullySavedChanges(text) {
        swal({
            title: '@Html.Raw(MessageResource.CambiosGuardadosExitosamente)',
            text,
            type: 'success',
            confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
            confirmButtonText: '@TeacherMeetingResource.Aceptar',
        });
    }

    function closeLoading() {
        swal.close();
    }
</script>