﻿@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingParticipantViewModel
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;
@{
    var culture = Session.GetCulture().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<div id="list-profesores-invitados">
    <div class="table-responsive">
        <table id="tbl-profesores-invitados" class="table table-striped table-hover dataTable">
            <thead class="hiddenHeader">
                <tr>
                    <th>N°</th>
                    <th class="col-md-4">@TeacherMeetingResource.Nombre</th>
                    <th class="col-md-3">@LayoutResource.Codigo</th>
                    <th>@TeacherMeetingResource.Asistio</th>
                    <th>@LayoutResource.Opciones</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ProfesorParticipanteInvitados.Count(); i++)
                {
                    var reunionProfesorParticipante = Model.ProfesorParticipanteInvitados[i];
                    var profesorOrder = i + 1;
                    <tr>
                        <td>@profesorOrder</td>
                        <td>@reunionProfesorParticipante.NombreCompleto</td>
                        <td id="cod">@reunionProfesorParticipante.codigo</td>
                        <td>
                            <div class="toggle btn @(reunionProfesorParticipante.Asistio ? "btn-success" : "btn-default off") btn-sm" data-toggle="toggle" style="width: 58px; height: 32px;">
                                <input type="checkbox" data-size="small" data-onstyle="success" data-toggle="toggle" class="toggle-attendance" data-on="@LayoutResource.Si" data-off="@LayoutResource.No" id="@reunionProfesorParticipante.IdReunionProfesorParticipanteInvitado" @(reunionProfesorParticipante.Asistio ? "checked" : "") disabled />
                                <div class="toggle-group">
                                    <label class="btn btn-success btn-sm toggle-on">@LayoutResource.Si</label>
                                    <label class="btn btn-default btn-sm active toggle-off">@LayoutResource.No</label>
                                    <span class="toggle-handle btn btn-default btn-sm"></span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-default delete-button" id="@reunionProfesorParticipante.IdReunionProfesorParticipanteInvitado"><i class="fa fa-check-square-o"></i> @LayoutResource.Eliminar </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>