﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;
@using TAREA = UPC.CA.ABET.Helpers.ConstantHelpers.TEACHER_MEETING.ESTADO.TAREA;
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingAgreementViewModel
@{
    var entities = new UPC.CA.ABET.Models.AbetEntities();
    var now = DateTime.Now;
}

<style>
    ul {
        padding-inline-end: 40px;
    }
    ul > li {
        text-align: justify;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">@TeacherMeetingResource.Acuerdo N° @Model.IdReunionProfesorAcuerdo</h3>
    </div>
    <div class="modal-body" style="padding: 20px 35px;">
        @{
            var tareas = Model.ReunionProfesorAcuerdo.ReunionProfesorTarea.ToList();
            var hallazgoList = new List<UPC.CA.ABET.Models.ReunionProfesorHallazgo>();
            var docentes = new List<UPC.CA.ABET.Models.Docente>();
            var hallazgosTareasList = new List<UPC.CA.ABET.Models.ReunionProfesorHallazgoTarea>();
            var reunionProfesorHallazgoTareaResponsableList = new List<UPC.CA.ABET.Models.ReunionProfesorHallazgoTareaResponsable>();
            foreach (var tarea in tareas)
            {
                var hallazgosTareas = entities.ReunionProfesorHallazgoTarea.Where(x => x.IdReunionProfesorTarea == tarea.IdReunionProfesorTarea).ToList();
                hallazgosTareasList.AddRange(hallazgosTareas);
            }
            foreach (var hallazgoTarea in hallazgosTareasList)
            {
                hallazgoList.Add(hallazgoTarea.ReunionProfesorHallazgo);
                reunionProfesorHallazgoTareaResponsableList.AddRange(hallazgoTarea.ReunionProfesorHallazgoTareaResponsable);
            }
            hallazgoList = hallazgoList.Distinct().ToList();
            reunionProfesorHallazgoTareaResponsableList = reunionProfesorHallazgoTareaResponsableList.Distinct().ToList();
            docentes = reunionProfesorHallazgoTareaResponsableList.Select(x => x.Docente).Distinct().ToList();
            <div>
                <p style="font-weight: bold">@(TeacherMeetingResource.Hallazgo)s</p>
                <ul>
                    @foreach (var hallazgo in hallazgoList)
                    {
                        <li>@hallazgo.DescripcionEspanol</li>
                    }
                </ul>
            </div>
            <div>
                <p style="font-weight: bold">@TeacherMeetingResource.Tareas</p>
                <ul style="">
                    @{
                        foreach (var tarea in Model.ReunionProfesorAcuerdo.ReunionProfesorTarea)
                        {
                            tarea.ReunionProfesorTareaHistorico = tarea.ReunionProfesorTareaHistorico.Where(x => x.IdUltimaReunionProfesor == Model.IdReunionProfesor).ToList();
                            var tareaHistorica = tarea.ReunionProfesorTareaHistorico.ToList()[0];

                            if (tareaHistorica.IdEstado == (int)TAREA.PENDIENTE && tarea.FechaDeadline.Value.Date < now.Date)
                            {
                                <li style="margin-bottom: 2rem;">
                                    @tarea.DescripcionEspanol
                                    <p style="color: red; font-weight: bold;">(@TeacherMeetingResource.VencioEnLaSemana @tarea.SemanaDeadline.Value - @tarea.FechaDeadline.Value.Date.ToShortDateString())</p>
                                </li>
                            }
                            else
                            {
                                <li style="margin-bottom: 2rem;">
                                    @tarea.DescripcionEspanol
                                    @{ 
                                        if (tareaHistorica.IdEstado == (int)TAREA.COMPLETADA && tarea.IdReunionProfesorCompletada != Model.IdReunionProfesor)
                                        {
                                            <p style="color: lightgrey; font-weight:bold; font-style: italic; text-align: justify;">@TeacherMeetingResource.TareaCompletadaEl @tarea.ReunionProfesor.NumSemana.ToString() (@tarea.FechaCierre.Value.ToShortDateString())</p>
                                        } else if (tareaHistorica.IdEstado == (int)TAREA.COMPLETADA && tarea.IdReunionProfesorCompletada == Model.IdReunionProfesor)
                                        {
                                            <p style="text-align: right;">
                                                <button id="@tarea.IdReunionProfesorTarea" data-action="cancel" class="btn btn-sm btn-default task-action">@MessageResource.Anular</button>
                                            </p>
                                        } else
                                        {
                                            <p style="text-align: right;">
                                                <button id="@tarea.IdReunionProfesorTarea" data-action="complete" class="btn btn-sm btn-primary task-action">@MessageResource.Completar</button>
                                            </p>
                                        }
                                    }
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
            <div>
                <p style="font-weight: bold">@TeacherMeetingResource.Responsables</p>
                <ul>
                    @foreach (var profesor in docentes)
                    {
                        <li>@profesor.Nombres @profesor.Apellidos</li>
                    }
                </ul>
            </div>
        }
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">
            @ButtonsOptionsResource.Cerrar
        </button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        handleCompleteOrUncomplete();
    })

    function handleCompleteOrUncomplete() {
        $('.task-action').on("click", function () {
            console.log($(this).data('action'));
            var action = $(this).data('action');
            if (action === 'cancel') {
                cancelTask(this);
            }
            else if (action === 'complete') {
                completeTask(this);
            }
        });
    }

    function completeTask(button) {
        var tmpId = button.id;
        swal({
            title: '@Html.Raw(TeacherMeetingResource.CompletarTarea)',
            text: '@Html.Raw(TeacherMeetingResource.LaTareaSeMarcaraComoCompletadaEnEstaReunion)',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
            confirmButtonText: '@TeacherMeetingResource.Aceptar',
            cancelButtonText: "@ButtonsOptionsResource.Cancelar",
            closeOnConfirm: true,
            closeOnCancel: true
        }, function (accepted) {
            setTimeout(function () {
                if (accepted) {
                    $.ajax({
                        type: 'post',
                        data: {
                            tmpId,
                            teacherMeetingId: @Model.IdReunionProfesor,
                        },
                        url: '@Url.Action("CompleteTask")',
                        success: function (data) {
                            if (data.status) {
                                swal({
                                    title: '@Html.Raw(TeacherMeetingResource.Exito)',
                                    text: data.message,
                                    type: 'success',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@TeacherMeetingResource.Aceptar'
                                });
                                $(button).data('action', 'cancel');
                                $(button).removeClass('btn-primary');
                                $(button).addClass('btn-default');
                                $(button).html('@Html.Raw(MessageResource.Anular)');
                                handleCompleteOrUncomplete();
                            } else {
                                swal({
                                    title: '@Html.Raw(TeacherMeetingResource.OcurrioUnError)',
                                    text: data.message,
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@TeacherMeetingResource.Aceptar'
                                });
                            }
                        }
                    });
                }
            }, 500);
            
        });
    }

    function cancelTask(button) {
        var tmpId = button.id;
        swal({
            title: '@Html.Raw(MessageResource.EstaSeguro)',
            text: '@Html.Raw(TeacherMeetingResource.VolveraTareaAPendiente)',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
            confirmButtonText: '@TeacherMeetingResource.Aceptar',
            cancelButtonText: "@ButtonsOptionsResource.Cancelar",
            closeOnConfirm: true,
            closeOnCancel: true
        }, function (accepted) {
            setTimeout(function () {
                if (accepted) {
                    $.ajax({
                        type: 'post',
                        data: {
                            tmpId,
                            teacherMeetingId: @Model.IdReunionProfesor,
                        },
                        url: '@Url.Action("UncompleteTask")',
                        success: function (data) {
                            if (data.status) {
                                swal({
                                    title: '@Html.Raw(TeacherMeetingResource.Exito)',
                                    text: data.message,
                                    type: 'success',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@TeacherMeetingResource.Aceptar'
                                });
                                $(button).data('action', 'complete');
                                $(button).removeClass('btn-default');
                                $(button).addClass('btn-primary');
                                $(button).html('@Html.Raw(MessageResource.Completar)');
                                handleCompleteOrUncomplete();
                            } else {
                                swal({
                                    title: '@Html.Raw(TeacherMeetingResource.OcurrioUnError)',
                                    text: data.message,
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@TeacherMeetingResource.Aceptar'
                                });
                            }
                        }
                    });
                }
            }, 500);
        });
    }
</script>