﻿@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Semaphore
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;
@using UPC.CA.ABET.Helpers
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor

@using UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting;

@model TeacherMeetingTasksViewModel

@if (Model.HasValue == true)
{
    if (!Model.ExistingData)
    {
        <script>
            function showMessage(title, body) {
                $('#modal-title').html(title);
                $('#modal-body').html(body);
                $('#modal-not-existing').modal('show');
            }
            showMessage('@TeacherMeetingResource.ReporteTareas', '@ReportResource.NoDataMessage');
        </script>
        <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
    }
    else
    {
        var queryString = string.Format("?{0}={1}&{2}={3}&{4}={5}&{6}={7}&{8}={9}&{10}={11}&{12}={13}&{14}={15}&{16}={17}&{18}={19}&{20}={21}"
                           , "IdSubmodalidadPeriodoAcademicoModulo", Model.idSubmodalidadPeriodoAcademicoModulo
                           , "NumSemanaDesde", Model.NumSemanaDesde
                           , "NumSemanaHasta", Model.NumSemanaHasta
                           , "IdAreaUnidadAcademica", Model.idAreaUnidadAcademica
                           , "IdSubareaUnidadAcademica", Model.idSubareaUnidadAcademica
                           , "Estado", Model.Estado
                           , "idioma", Model.IdIdioma
                           , "IdEscuela", Model.idEscuela
                           , "IdCursoPeriodoAcademico", Model.idCursoPeriodoAcademico
                           , "IdSede", Model.idSede
                           , "IdSeccion", Model.idSeccion
                           );

        <script src="@Url.Content("~/Areas/Professor/Content/js/main.js")"></script>
        <script>iframeLoad()</script>
        <iframe src="@(Url.Content("~/Areas/Report/Resources/WebPages/ReporteReunionProfesorTareas.aspx") + queryString)" style="width:100%;height:900px;"></iframe>
    }

}
else
{
    <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
}