﻿@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Semaphore
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;
@using UPC.CA.ABET.Helpers
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor

@using UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting;

@model TeacherMeetingChartsViewModel

@if (Model.HasValue == true)
{
    if (!Model.ExistingData)
    {
        <script>
            function showMessage(title, body) {
                $('#modal-title').html(title);
                $('#modal-body').html(body);
                $('#modal-not-existing').modal('show');
            }
            showMessage('@TeacherMeetingResource.ResumendeReuniondeProfesores', '@ReportResource.NoDataMessage');
        </script>
        <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
    }
    else
    {
        var queryString = string.Format("?{0}={1}&{2}={3}&{4}={5}&{6}={7}&{8}={9}&{10}={11}&{12}={13}&{14}={15}"
                      , "idEscuela", Model.IdEscuela
                      , "idSubmodalidadPeriodoAcademicoModulo", Model.IdSubmodalidadPeriodoAcademicoModulo
                      , "nivel", Model.Nivel
                      , "numSemanaDesde", Model.NumSemanaDesde
                      , "numSemanaHasta", Model.NumSemanaHasta
                      , "fechaDesde", Model.FechaDesde
                      , "fechaHasta", Model.FechaHasta
                      , "idioma", Model.IdIdioma
                      );

        <script src="@Url.Content("~/Areas/Professor/Content/js/main.js")"></script>
        <script>iframeLoad()</script>
        <iframe src="@(Url.Content("~/Areas/Report/Resources/WebPages/ReporteReunionProfesorCharts.aspx") + queryString)" style="width:100%;height:900px;"></iframe>
    }
}
else
{
    <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
}