﻿@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingsConfigurationViewModel
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting
@{
    ViewBag.Title = TeacherMeetingResource.ConfiguracionTitulo;
    ViewBag.Icon = "fa fa-gear";
}

<style>
    .justify-content-between {
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }
    span.select2-selection--multiple[aria-expanded=true] {
        border-color: red !important;   
    }
</style>

@section Breadcrumbs {
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />*@
    <li><a href="@Url.Action("Management", "TeacherMeeting")">@TeacherMeetingResource.AdministracionReuniondeProfesores</a></li>
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> @LayoutResource.Listado</h3>
        <div class="panel-body">
            <div class="text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addConfiguration">
                    <i class="fa fa-plus"></i> @LayoutResource.Nuevo
                </button>
            </div>
            <br />
            <div class="table table-responsive">
                <table class="table table-hover table-striped">
                    @if (Model.SubModalityAcademicPeriod.SubModalidad.IdSubModalidad == int.Parse(ConstantHelpers.MODALITY.PREGRADO_EPE))
                    {
                        <thead>
                            <tr>
                                <th>@TeacherMeetingResource.Modulo</th>
                                <th>@TeacherMeetingResource.CicloAcademico</th>
                                <th>@TeacherMeetingResource.Intervalo</th>
                                <th>@TeacherMeetingResource.Nivel</th>
                                <th>@TeacherMeetingResource.SemanasAsignadas</th>
                                <th>@TeacherMeetingResource.PlazoExtraDias</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ReunionProfesorConfiguracionLista.Count(); i++)
                            {
                                var teacherMeetingConfiguration = Model.ReunionProfesorConfiguracionLista.ToList()[i];
                                <tr>
                                    <th>@teacherMeetingConfiguration.SubModalidadPeriodoAcademicoModulo.Modulo.NombreEspanol</th>
                                    <th>@teacherMeetingConfiguration.SubModalidadPeriodoAcademicoModulo.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico</th>
                                    <th>@teacherMeetingConfiguration.SubModalidadPeriodoAcademicoModulo.Modulo.FechaInicio.Value.ToShortDateString() - @teacherMeetingConfiguration.SubModalidadPeriodoAcademicoModulo.Modulo.FechaFin.Value.ToShortDateString()</th>
                                    <th>@teacherMeetingConfiguration.Nivel</th>
                                    <th>@teacherMeetingConfiguration.Semanas</th>
                                    <th>@teacherMeetingConfiguration.PlazoEnDias</th>
                                </tr>
                            }
                        </tbody>
                    }
                    else
                    {
                        <thead>
                            <tr>
                                <th>@TeacherMeetingResource.CicloAcademico</th>
                                <th>@TeacherMeetingResource.Intervalo</th>
                                <th>@TeacherMeetingResource.Nivel</th>
                                <th>@TeacherMeetingResource.SemanasAsignadas</th>
                                <th>@TeacherMeetingResource.PlazoExtraDias</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ReunionProfesorConfiguracionLista.Count(); i++)
                            {
                                var teacherMeetingConfiguration = Model.ReunionProfesorConfiguracionLista.ToList()[i];
                                <tr>
                                    <td>@teacherMeetingConfiguration.SubModalidadPeriodoAcademicoModulo.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico</td>
                                    <td>@teacherMeetingConfiguration.SubModalidadPeriodoAcademicoModulo.Modulo.FechaInicio.Value.ToShortDateString() - @teacherMeetingConfiguration.SubModalidadPeriodoAcademicoModulo.Modulo.FechaFin.Value.ToShortDateString()</td>
                                    <td>@teacherMeetingConfiguration.Nivel</td>
                                    <td>@teacherMeetingConfiguration.Semanas</td>
                                    <td>@teacherMeetingConfiguration.PlazoEnDias</td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addConfiguration" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@TeacherMeetingResource.NuevaConfiguracionDeReunionDeProfesores</h4>
            </div>

            @{
                if (Model.SubModalityAcademicPeriodModulesNotConfigured.Count() > 0)
                {
                    <div class="modal-body">
                        @Html.FormGroup(TeacherMeetingResource.SeleccionarModuloFaltante, Html.DropDownListFor(x => x.SubModalityAcademicPeriodModuleId, (IEnumerable<SelectListItem>)Model.SubModalityAcademicPeriodModulesNotConfigured, new { @id = "smpamId", @class = "form-control" }), false, null, 12)
                        <div id="tm-settings">
                            <div class="form-group col-sm-12">
                                <label class="col-sm-12 control-label">@TeacherMeetingResource.Seleccionar @(TeacherMeetingResource.Semana)s - @TeacherMeetingResource.Nivel 1</label>
                                <div class="col-sm-12">
                                    <select class="js-example-basic-multiple js-states form-control" id="firstLevelWeeks" name="firstLevelWeeks[]" multiple="multiple"></select>
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <label class="col-sm-12 control-label" for="firstLevelDueDate">@TeacherMeetingResource.PlazoExtraDias - @TeacherMeetingResource.Nivel 1</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="number" min="1" max="365" id="firstLevelDueDate" />
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <label class="col-sm-12 control-label">@TeacherMeetingResource.Seleccionar @(TeacherMeetingResource.Semana)s - @TeacherMeetingResource.Nivel 2</label>
                                <div class="col-sm-12">
                                    <select class="js-example-basic-multiple js-states form-control" id="secondLevelWeeks" name="secondLevelWeeks[]" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="col-sm-12 control-label" for="secondLevelDueDate">@TeacherMeetingResource.PlazoExtraDias - @TeacherMeetingResource.Nivel 2</label>
                                <div class="col-sm-12">
                                    <input class="form-control" type="number" min="1" max="365" id="secondLevelDueDate" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div id="totalErrors" class="col-sm-12">
                                    <span style="color: red;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@LayoutResource.Regresar</button>
                        <button type="button" class="btn btn-primary" id="configureTeacherMeeting">@LayoutResource.Configurar</button>
                    </div>
                }
                else
                {
                    <div class="modal-body">
                        <p>@TeacherMeetingResource.NoExistenMasPeriodosAcademicosModalidadActualQueNecesitanNuevaConfiguracionDeReunionesProfesores</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@LayoutResource.Regresar</button>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
<script>
    $(document).ready(function () {
        var smpamId = $('#smpamId').val();
        getMissingConfiguration(smpamId);

        $('#smpamId').on('change', function () {
            getMissingConfiguration($(this).val());
        });

        $('.js-example-basic-multiple').select2({
            dropdownParent: $('#addConfiguration'),
            width: '100%'
        });
    });



    function getMissingConfiguration(smpamId) {
        $.ajax({
            type: 'get',
            data: { smpamId },
            url: '@Url.Action("GetWeeksForSubModalityAcademicPeriodModule")',
            success: function (data) {
                if (data && data.weeks !== 0) {
                    var weeks = [];
                    for (var i = 0; i <= data.weeks; i++) {
                        var newWeek = { text: i, value: i };
                        weeks.push(newWeek);
                    }
                    $('#firstLevelWeeks option').each(function () {
                        $(this).remove();
                    });
                    $('#secondLevelWeeks option').each(function () {
                        $(this).remove();
                    });
                    $.each(weeks, function (i, item) {
                        $('#firstLevelWeeks').append($('<option>', { 
                            value: item.value,
                            text: item.text,
                            allowClear: true,
                        }));
                        $('#secondLevelWeeks').append($('<option>', { 
                            value: item.value,
                            text: item.text,
                            allowClear: true,
                        }));
                    });
                }
                $('#configureTeacherMeeting').on('click', function () {
                    var firstLevelWeeks = [];
                    var secondLevelWeeks = [];
                    $.each($("#firstLevelWeeks option:selected"), function () {
                        firstLevelWeeks.push($(this).val());
                    });
                    $.each($("#secondLevelWeeks option:selected"), function () {
                        secondLevelWeeks.push($(this).val());
                    });
                    var firstLevelDueDate = $('#firstLevelDueDate').val();
                    var secondLevelDueDate = $('#secondLevelDueDate').val();
                    swal({
                        title: '@Html.Raw(TeacherMeetingResource.NuevaConfiguracionDeReunionDeProfesores)',
                        text: '@Html.Raw(TeacherMeetingResource.EstaAccionConfiguraLasSemanasQueReunionesProfesoresSeLLevaranAcabo)',
                        type: 'info',
                        showCancelButton: true,
                        confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                        confirmButtonText: '@ButtonsOptionsResource.Aceptar',
                        cancelButtonText: '@ButtonsOptionsResource.Cancelar',
                        closeOnConfirm: true,
                        closeOnCancel: true
                    }, function (accepted) {
                        setTimeout(function () {
                            if (accepted) {
                                $.ajax({
                                    type: 'post',
                                    url: '@Url.Action("Configuration")',
                                    data: {
                                        subModalityAcademicPeriodModuleId: smpamId,
                                        FirstLevelWeeks: firstLevelWeeks.join(", "),
                                        SecondLevelWeeks: secondLevelWeeks.join(", "),
                                        FirstLevelDueDate: firstLevelDueDate,
                                        SecondLevelDueDate: secondLevelDueDate
                                    },
                                    dataType: 'json',
                                    beforeSend: function (xHR, options) {
                                        if (firstLevelDueDate.trim() === "" || secondLevelDueDate.trim() === ""
                                            || firstLevelWeeks.length === 0 || secondLevelWeeks.length === 0) {
                                            $('#totalErrors span').html('@MessageResource.PorFavorLlenarTodosLosCampos');
                                            $('#totalErrors').show();
                                            xHR.abort();
                                        }
                                    },
                                    success: function (data) {
                                        $('#totalErrors').hide();
                                        $('#addConfiguration').modal('hide');
                                        window.location.href = data.redirectTo;
                                    },
                                })
                            }
                        }, 500)
                    });
                });
            }
        })
    }
</script>
}