﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.CreateMeetingMinuteViewModel
@{
    ViewBag.Title = 
        (Model.EsEditar ? CreateMeetingMinuteForMeetingResource.Titulo1 : CreateMeetingMinuteForMeetingResource.Titulo2);
    ViewBag.Icon = "list-alt";
}


@section Breadcrumbs {
    <li><a href="@Url.Action("Consult", "MeetingMinute")"> @CreateMeetingMinuteForMeetingResource.ConsultarActasReunion</a></li>
}
@using (Html.BeginForm("CreateMeetingMinuteForMeeting", "MeetingMinute", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Reunion.IdReunion)
    @Html.HiddenFor(m => m.EsEditar)
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-12">
                    <div class="example-wrap">
                        <div class="nav-tabs-vertical">
                            <ul class="nav nav-tabs margin-right-25 col-md-2" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                                <li role="presentation" class="active"><a data-toggle="tab" href="#informacionGeneralTab" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false"><i class="fa fa-info"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.InformacionGeneral</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#agendaTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa-book"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Agenda</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#participantesTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-users"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Participantes</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#detallesTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-bars "></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.DetallesReunion</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#documentosTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-cloud-upload"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Documentos</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#acuerdosTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Acuerdos</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#tareasTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-list"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Tareas</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#fotoTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-camera"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Foto</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#firmaTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-pencil-square-o"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Firma</span></a></li>
                                @if (Model.EsEditar) 
                                { 
                                    <li role="presentation" class=""><a data-toggle="tab" href="#observacionesTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-search"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Observaciones</span></a></li>
                                }
                            </ul>
                            <div class="tab-content padding-vertical-15  col-md-9" style="font-size: 15px;">
                                <div class="tab-pane active" id="informacionGeneralTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-info"></i> @CreateMeetingMinuteForMeetingResource.InformacionGeneral
                                    </h2>
                                    <p align="justify">
                                        <b style="font-weight: bold;">@(CreateMeetingMinuteForMeetingResource.Motivo):</b> @Model.Reunion.Motivo
                                    </p>
                                    <p align="justify">
                                        <b style="font-weight: bold;">@(CreateMeetingMinuteForMeetingResource.Fecha):</b> @Model.Reunion.Fecha.ToShortDateString()
                                    </p>
                                    <p align="justify">
                                        <b style="font-weight: bold;">@(CreateMeetingMinuteForMeetingResource.Hora):</b> @Model.Reunion.HoraInicio.ToShortTimeString() - @Model.Reunion.HoraFin.ToShortTimeString()
                                    </p>
                                    <p align="justify">
                                        <b style="font-weight: bold;">@(CreateMeetingMinuteForMeetingResource.Sede):</b> @Model.Reunion.Sede.Nombre
                                    </p>
                                    <p align="justify">
                                        <b style="font-weight: bold;">@(CreateMeetingMinuteForMeetingResource.Lugar):</b> @Model.Reunion.Lugar
                                    </p>
                                    <p align="justify">
                                        <b style="font-weight: bold;">@(CreateMeetingMinuteForMeetingResource.UnidadAcademica):</b> @Model.Reunion.UnidadAcademica.NombreEspanol
                                    </p>
                                    <p align="justify">
                                        <b style="font-weight: bold;">@(CreateMeetingMinuteForMeetingResource.Nivel):</b> @Model.Reunion.Nivel
                                    </p>
                                </div>
                                <div class="tab-pane" id="agendaTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-book"></i> @CreateMeetingMinuteForMeetingResource.Agenda
                                    </h2>
                                    @*<a style="margin-top: 25px; margin-bottom: 25px;" class="btn btn-primary" @Url.ModalHelperFor("_AddAgenda", "MeetingMinute", new { Area = "Meeting" }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> Agregar Tema</a>*@
                                    <a style="margin-top: 25px; margin-bottom: 25px;" class="btn btn-primary addAgenda"><i class="fa fa-plus" aria-hidden="true"></i> @CreateMeetingMinuteForMeetingResource.AgregarTema</a>
                                    <table id="tblAgendas" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 8%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                <th style="width: 68%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Tema</th>
                                                <th style="width: 14%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Estado</th>
                                                <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.TemasReunion.Count; i++)
                                            {
                                                <tr class="rowAgenda">
                                                    <td class="tdNroAgenda" style="width: 8%; text-align: center; vertical-align: middle;">
                                                        @Model.TemasReunion[i].Numero
                                                        <input type="hidden" class="hiddenNroAgenda" name="TemasReunion[@i].Numero" value="@Model.TemasReunion[i].Numero" />
                                                    </td>

                                                    <td class="tdNombreAgenda" style="width: 68%; text-align: center; vertical-align: middle;">
                                                        @Html.TextAreaFor(m => m.TemasReunion[i].TemaReunion.DescripcionTemaReunion, new { @class = "form-control taAgenda", style = "resize: none; height: 70px;" })
                                                    </td>

                                                    <td style="width: 14%; text-align: center; vertical-align: middle;">
                                                        <select name="@Html.NameFor(m => m.TemasReunion[i].TemaReunion.Estado)" class="form-control lstEstadoAgenda">
                                                            @foreach (var estado in Model.AvailableTemaPreAgendaEstados)
                                                            {
                                                                <option value="@estado.Value" @(Model.TemasReunion[i].TemaReunion.Estado == estado.Value ? "selected" : String.Empty)>@estado.Text</option>
                                                            }
                                                        </select>
                                                    </td>

                                                    <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                        <button class="btn btn-icon btn-default btn-outline remRowAgenda" type="button">
                                                            <i class="icon wb-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="participantesTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-users"></i> @CreateMeetingMinuteForMeetingResource.Participantes
                                    </h2>
                                    <table style="margin-top: 93px;" class=" table table-bordered">
                                        <thead>
                                            <tr>
                                                @*<th style="width: 30%; text-align: center; font-weight: bold; vertical-align: middle;">Código</th>*@
                                                <th style="width: 50%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.NombreCompleto</th>
                                                <th style="width: 40%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Cargo</th>
                                                <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Asistio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.Participantes.Count; i++)
                                            {
                                                <tr>
                                                    @Html.HiddenFor(m => m.Participantes[i].IdParticipanteReunion)
                                                    @*<td style="width: 30%; text-align: center; vertical-align: middle;">
                                                            @if (Model.Participantes[i].EsExterno)
                                                            {
                                                                <text>Externo</text>
                                                            }
                                                            else
                                                            {
                                                                <text>@Model.Participantes[i].Docente.Codigo</text>

                                                            }
                                                        </td>*@
                                                    <td style="width: 50%; text-align: left; vertical-align: middle;">
                                                        @if (Model.Participantes[i].EsExterno)
                                                        {
                                                            <text>@Model.Participantes[i].NombreCompleto</text>
                                                        }
                                                        else
                                                        {
                                                            <text>@Model.Participantes[i].NombreCompleto</text>
                                                        }
                                                    </td>
                                                    <td style="width: 40%; text-align: left; vertical-align: middle;">
                                                        @if (Model.Participantes[i].EsExterno)
                                                        {
                                                            <text>@Model.Participantes[i].Cargo - @Model.Participantes[i].Empresa.RazonSocial</text>
                                                        }
                                                        else
                                                        {
                                                            <text>@Model.Participantes[i].Cargo</text>

                                                        }
                                                    </td>
                                                    <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                        @Html.CheckBoxFor(m => m.Participantes[i].Asistio)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="detallesTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-bars "></i> @CreateMeetingMinuteForMeetingResource.Detalles
                                    </h2>
                                    <table id="tblDetalles" class="table table-bordered">
                                        <a style="margin-top: 25px; margin-bottom: 25px;" class="btn btn-primary" @Url.ModalHelperFor("_AddDetalleReunion", "MeetingMinute", new { Area = "Meeting" }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> @CreateMeetingMinuteForMeetingResource.AgregarDetalleReunion</a>
                                        <thead>
                                            <tr>
                                                <th style="width: 8%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                <th style="width: 12%; text-align: center; font-weight: bold; vertical-align: middle;"># @CreateMeetingMinuteForMeetingResource.Agenda</th>
                                                <th style="width: 70%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Detalle</th>
                                                <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.DetalleTemaReunion.Count; i++)
                                            {
                                                <tr class="rowDetalle">
                                                    <td class="tdNroDetalle" style="width: 8%; text-align: center; vertical-align: middle;">
                                                        @Model.DetalleTemaReunion[i].Numero
                                                        <input type="hidden" class="hiddenNroDetalle" name="DetalleTemaReunion[@i].Numero" value="@Model.DetalleTemaReunion[i].Numero" />
                                                    </td>

                                                    <td class="tdNroAgendaDetalle" style="width: 12%; text-align: center; vertical-align: middle;">
                                                        @Model.DetalleTemaReunion[i].NumeroTemaReunion
                                                        <input type="hidden" class="hiddenNroAgendaDetalle" name="DetalleTemaReunion[@i].NumeroTemaReunion" value="@Model.DetalleTemaReunion[i].NumeroTemaReunion" />
                                                    </td>

                                                    <td class="tdDetallesDetalle" style="width: 70%; text-align: center; vertical-align: middle;">
                                                        @Model.DetalleTemaReunion[i].DetalleTemaReunion.DetalleTema
                                                        <input type="hidden" class="hiddenDetallesDetalle" name="DetalleTemaReunion[@i].DetalleTemaReunion.DetalleTema" value="@Model.DetalleTemaReunion[i].DetalleTemaReunion.DetalleTema" />
                                                    </td>

                                                    <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                        <button class="btn btn-icon btn-default btn-outline remRowDetalle" type="button">
                                                            <i class="icon wb-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="documentosTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-cloud-upload"></i> @CreateMeetingMinuteForMeetingResource.AdjuntarDocumentos
                                    </h2>
                                    @Html.TextBoxFor(m => m.Documentos, new { type = "file", @class = "file", multiple = "multiple", accept = ".doc,.docx,.xls,.xlsx,.txt,.rar,.zip,.7z,.ppt,.pptx,.pdf,.mpp,.rtf", id = "uploadDocs" })
                                    @Html.ValidationMessageFor(m => m.Documentos)

                                    @if (Model.RutasDocumentos.Count > 0)
                                    {
                                        <hr />
                                        <h4>@TeacherMeetingResource.DocumentosAdjuntos</h4>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 8%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                    <th style="width: 82%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Documento</th>
                                                    <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Descargar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.RutasDocumentos.Count; i++)
                                                {
                                                    <tr class="rowDocumentos">
                                                        <td class="tdNroDocumento" style="width: 8%; text-align: center; vertical-align: middle;">
                                                            @(i + 1)
                                                        </td>
                                                        <td style="width: 82%; text-align: center; vertical-align: middle;">
                                                            @Model.RutasDocumentos[i].Split(new char[] { '/' }).Last()
                                                        </td>
                                                        <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                            <a class="btn" href="@Url.Action("DescargarDocumento", "MeetingMinute", new { path = @Model.RutasDocumentos[i] })"><i class="fa fa-download" aria-hidden="true"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>

                                <div class="tab-pane" id="acuerdosTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-tasks"></i> @CreateMeetingMinuteForMeetingResource.Acuerdos
                                    </h2>
                                    <a style="margin-top: 25px; margin-bottom: 25px;" class="btn btn-primary addAcuerdo" href="javascript:void(0);"><i class="fa fa-plus" aria-hidden="true"></i> @CreateMeetingMinuteForMeetingResource.AgregarAcuerdo</a>
                                    <table id="tblAcuerdos" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 8%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                <th style="width: 82%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Detalle</th>
                                                <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.Acuerdos.Count; i++)
                                            {
                                                <tr class="rowAcuerdo">
                                                    <td class="tdNroAcuerdo" style="width: 8%; text-align: center; vertical-align: middle;">
                                                        @Model.Acuerdos[i].Numero
                                                        <input type="hidden" class="hiddenNroAcuerdo" name="Acuerdos[@i].Numero" />
                                                    </td>
                                                    <td style="width: 82%; text-align: center; vertical-align: middle;">
                                                        @Html.TextAreaFor(m => m.Acuerdos[i].Acuerdo.DescripcionEspanol, new { @class = "form-control taAcuerdo", style = "resize: none; height: 70px;" })
                                                    </td>
                                                    <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                        <button class="btn btn-icon btn-default btn-outline remRowAcuerdo" type="button">
                                                            <i class="icon wb-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tareasTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-list"></i> @TeacherMeetingResource.Tareas
                                    </h2>
                                    <a style="margin-top: 25px; margin-bottom: 25px;" class="btn btn-primary addTarea" href="javascript:void(0);"><i class="fa fa-plus" aria-hidden="true"></i> @CreateMeetingMinuteForMeetingResource.AgregarTarea</a>
                                    <table id="tblTareas" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                <th style="width: 23%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Responsable</th>
                                                <th style="width: 27%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Detalle</th>
                                                <th style="width: 15%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Estado</th>
                                                <th style="width: 20%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Fecha Propuesta</th>
                                                <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.Tareas.Count; i++)
                                            {
                                                <tr class="rowTarea">
                                                    <td class="tdNroTarea" style="width: 5%; text-align: center; vertical-align: middle;">
                                                        @Model.Tareas[i].Numero
                                                        <input type="hidden" class="hiddenNroTarea" name="Tareas[@i].Numero" />
                                                    </td>
                                                    <td class="tdResponsableTarea" style="width: 23%; text-align: center; vertical-align: middle;">
                                                        @*@Html.ListBoxFor(m => m.Tareas[i].Responsables, Model.AvailableParticipantes, new { @class = "form-control lstResponsablesTarea" })*@
                                                        <select class="form-control lstResponsablesTarea" multiple="multiple" name="Tareas[@i].Responsables">
                                                            @foreach(var responsable in Model.AvailableParticipantes)
                                                            {
                                                                <option value="@responsable.Value" @(Model.Tareas[i].ListaResponsables.Contains(@responsable.Text)? "selected":"") >@responsable.Text</option>
                                                            }
                                                            
                                                        </select>
                                                    </td>
                                                    <td class="tdDetalleTarea" style="width: 27%; text-align: center; vertical-align: middle;">
                                                        @Html.TextAreaFor(m => m.Tareas[i].Tarea.DescripcionEspanol, new { @class = "form-control taTarea", style = "resize: none; height: 70px;" })
                                                    </td>
                                                    <td class="tdEstadoTarea" style="width: 15%; text-align: center; vertical-align: middle;">
                                                        <select name="@Html.NameFor(m => m.Tareas[i].Tarea.Estado)" class="form-control lstEstadoTarea">
                                                            @foreach (var estado in Model.AvailableTareaEstados)
                                                            {
                                                                <option value="@estado.Value" @(Model.Tareas[i].Tarea.Estado == estado.Value ? "selected" : "")>@estado.Text</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td class="tdFechaTarea" style="width: 20%; text-align: center; vertical-align: middle;">
                                                        @Html.TextBoxFor(m => m.Tareas[i].FechaPropuesta, "{0:dd/MM/yyyy}", new Dictionary<string, object> { { "class", "form-control tbxFechaTarea" }, { "data-plugin", "datepicker" } })
                                                    </td>
                                                    <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                        <button class="btn btn-icon btn-default btn-outline remRowTarea" type="button">
                                                            <i class="icon wb-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane" id="fotoTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-camera"></i>@CreateMeetingMinuteForMeetingResource.AdjuntarFoto
                                    </h2>
                                    @Html.TextBoxFor(m => m.Foto, new { type = "file", @class = "file", accept = ".bmp,.gif,.jpg,.png,.svg", id = "fotoActa" })
                                    @if (!String.IsNullOrEmpty(Model.RutaFoto))
                                    {
                                        <hr />
                                        <h4>Foto actual</h4>
                                        <img class="img-responsive" src="@Url.Content(Model.RutaFoto)" alt="Foto de la reunión" />
                                    }
                                </div>
                                <div class="tab-pane" id="firmaTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-pencil-square-o"></i> @CreateMeetingMinuteForMeetingResource.Firma
                                    </h2>
                                    <div class="form-group text-center">
                                        <img class="img-responsive img-rounded" align="middle" alt="Firma del acta" src="@(!String.IsNullOrEmpty(Model.RutaFirma) ? Url.Content(ConstantHelpers.DEFAULT_SERVER_PATH + "/" + Model.RutaFirma) : "http://placehold.it/500?text=" + "Sin Firma" )" style="margin: 0 auto 10px; max-height:300px" />
                                    </div>
                                    <div class="form-group text-center">
                                        <h4>@Model.Usuario.Apellidos, @Model.Usuario.Nombres</h4>
                                    </div>
                                    <div class="form-group text-center">
                                        <div class="pull-left margin-left-30 margin-right-10">
                                            <input data-color="#f96868" data-plugin="switchery" data-val="true" id="cboxFirma" type="checkbox" value="false" data-switchery="true" style="display: none;">                                            
                                            <label class="padding-top-3" for="inputBasicOn">@CreateMeetingMinuteForMeetingResource.FirmarActaDeReunion</label>
                                        </div>
                                    </div>
                                </div>
                            
                                @if(Model.EsEditar)
                                {
                                    <div id="observacionesTab" class="tab-pane">
                                        <h2 class="fixtitle">
                                            <i class="fa fa-search"></i> @CreateMeetingMinuteForMeetingResource.Observaciones
                                        </h2>
                                        <table id="tblObservaciones" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                    <th style="width: 15%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.SeccionActa</th>
                                                    <th style="width: 20%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Participante</th>
                                                    <th style="width: 42%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Observacion</th>
                                                    <th style="width: 18%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.Observaciones.Count; i++)
                                                {
                                                    <tr class="rowObservacion">
                                                        <td style="width: 5%; text-align: center; vertical-align: middle;">
                                                            @(i + 1)
                                                            @Html.HiddenFor(x => x.Observaciones[i].Numero)
                                                        </td>
                                                        <td style="width: 15%; text-align: center; vertical-align: middle;">
                                                            @Model.Observaciones[i].observacionesActa.SeccionActa
                                                            @Html.HiddenFor(x => x.Observaciones[i].observacionesActa.SeccionActa)
                                                        </td>
                                                        <td style="width: 20%; text-align: center; vertical-align: middle;">
                                                            @Model.Observaciones[i].NomParticipante
                                                            @Html.HiddenFor(x => x.Observaciones[i].NomParticipante)
                                                        </td>

                                                        <td style="width: 42%; text-align: left; vertical-align: middle;">
                                                            @Model.Observaciones[i].observacionesActa.Comentario
                                                            @Html.HiddenFor(x => x.Observaciones[i].observacionesActa.Comentario)
                                                        </td>

                                                        <td style="width: 18%; text-align: center; vertical-align: middle;">
                                                            
                                                            <select class="form-control" id="@(Model.Observaciones[i].observacionesActa.Estado)" name="@Html.NameFor(m => m.Observaciones[i].observacionesActa.Estado)">
                                                                @foreach (var option in Model.Observaciones[i].AvailableEstadoObservacion)
                                                                {
                                                                    <option value="@option.Value" @(option.Value == Model.Observaciones[i].observacionesActa.Estado ? "selected" : "")>@option.Text</option>
                                                                }
                                                            </select>
                                                            @*@Html.HiddenFor(x => x.Observaciones[i].observacionesActa.Estado)*@
                                                            @Html.HiddenFor(x=>x.Observaciones[i].observacionesActa.idObservacionesActa)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body container-fluid" style="text-align: center;">
            <button type="submit" onclick="return validate()" class="btn btn-primary btn-md"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;@(Model.EsEditar ? ButtonsOptionsResource.Editar : ButtonsOptionsResource.Crear)</button>
        </div>
    </div>
}
@section Scripts {
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
    
    <script>

        //var files = $('#conjuntoArchivos input')[0].files;
        //if (files && files.length > 0) {
        //    if ((files[0].size / 1024 / 1024) > 3) {
        //        alert('El documento no puede superar los 3mb.');
                
        //    }
        //}

        function validate() {
            var uploadedPicture = document.getElementById("fotoActa");
            @*@(String.IsNullOrEmpty(Model.RutaFoto))
            {*@

            //if (uploadedPicture.value == null || uploadedPicture == undefined || uploadedPicture.value.length == 0) {
            //    alert("Debe adjuntar una foto para el acta.");
            //    return false;
            //}
            //}

            if (!$('#cboxFirma').is(":checked")) {
                alert('@CreateMeetingMinuteForMeetingResource.Advertencia1');
                return false;
            }
            var ok = true;
            var mensajesError = "";
            if ($(".hiddenNroAgenda").length == 0) {
                ok = false;
                mensajesError += "@CreateMeetingMinuteForMeetingResource.Error1" + "\n";
            }
            if ($(".hiddenNroDetalle").length == 0) {
                ok = false;
                mensajesError += "@CreateMeetingMinuteForMeetingResource.Error2" + "\n";
            }
            if ($(".taAcuerdo").length == 0) {
                ok = false;
                mensajesError += "@CreateMeetingMinuteForMeetingResource.Error3" + "\n";
            }
            $(".taAcuerdo").each(function () {
                if ($(this).val().length == 0) {
                    ok = false;
                    mensajesError += "@CreateMeetingMinuteForMeetingResource.Error4" + "\n";
                    return false;
                }
            });
            $(".taTarea").each(function () {
                if ($(this).val().length == 0) {
                    mensajesError += "@CreateMeetingMinuteForMeetingResource.Error5" + "\n";
                    ok = false;
                    return false;
                }
            });

            $(".lstResponsablesTarea").each(function () {
                if ($(this).val() == null) {
                    mensajesError += "@CreateMeetingMinuteForMeetingResource.Error6" + "\n";
                    ok = false;
                    return false;
                }
            });

            if (ok == false) {
                alert(mensajesError);
                return false;
            }

            return true;
        }

        var globalAgenda = 1;
        var globalDetalle = 1;
        var globalAcuerdo = 1;
        var globalTarea = 1;


        var estadosAgenda = [];
        var estadosAgendaHtmlOpciones = "";

        @for (int i = 0; i < Model.EstadosAgenda.Count; i++)
        {
            string codigoEstado = Model.EstadosAgenda[i].Item1;
            string textoEstado = Model.EstadosAgenda[i].Item2;

            <text>estadosAgenda.push({ codigo: '@codigoEstado', texto: '@textoEstado' });
        estadosAgendaHtmlOpciones += '<option value="@codigoEstado">@textoEstado</option>';
        </text>
        }

        var participantesHtmlOpciones = "";

        @for (int i = 0; i < Model.Participantes.Count; i++)
        {
            int idParticipante = Model.Participantes[i].IdParticipanteReunion;
            string nombre = Model.Participantes[i].NombreCompleto;
            if (!Model.Participantes[i].EsExterno)
            {
                nombre = Model.Participantes[i].Docente.Apellidos + ", " + Model.Participantes[i].Docente.Nombres;
            }

            <text>participantesHtmlOpciones += '<option value="@idParticipante">@nombre</option>';</text>
        }

        var estadosTareasHtmlOpciones = "";

        @for (int i = 0; i < Model.EstadosTarea.Count; i++)
        {
            string codigoEstado = Model.EstadosTarea[i].Item1;
            string textoEstado = Model.EstadosTarea[i].Item2;

            <text>estadosTareasHtmlOpciones += '<option value="@codigoEstado">@textoEstado</option>';</text>
        }

        $(function () {

                $("#uploadDocs").on("change", function (e) {

                    var files = e.currentTarget.files;

                    var total = 0;
                    for (var x in files) {

                        var filesize = ((files[x].size / 1024) / 1024).toFixed(4); // MB

                        if (files[x].name != "item" && typeof files[x].name != "undefined") {

                            total += filesize;
                        }
                    }
                    if (total > 25) {
                        alert('@CreateMeetingMinuteForMeetingResource.Advertencia2');
                        $("#uploadDocs").val(null);
                    }
                });


                $("#tblAgendas").on("click", ".remRowAgenda", function () {
                    var cantidadDetallesAEliminar = 0;
                    var nroAgendaAEliminar = $(this).closest(".rowAgenda").find(".tdNroAgenda").text();

                    // contar detalles asociados
                    $(".rowDetalle").each(function () {
                        if ($(this).find(".tdNroAgendaDetalle").text() == nroAgendaAEliminar) {
                            cantidadDetallesAEliminar++;
                        }
                    });

                    // confirmar eliminación de detalles asociados, si existen
                    if (cantidadDetallesAEliminar > 0) {
                        var answer =
                            confirm('@CreateMeetingMinuteForMeetingResource.Confirmacion1');
                        if (answer == false) return;
                    }

                    // eliminar agenda
                    $(this).closest(".rowAgenda").fadeOut(300, function () {
                        $(this).remove();

                        // volver a numerar agendas
                        $(".hiddenNroAgenda").each(function (index) {
                            $(this).attr("name", "TemasPreAgenda[" + index + "].Numero");
                        });
                        $(".taAgenda").each(function (index) {
                            $(this).attr("name", "TemasPreAgenda[" + index + "].TemaPreAgenda.Nombre");
                        });
                        $(".lstEstadoAgenda").each(function (index) {
                            $(this).attr("name", "TemasPreAgenda[" + index + "].TemaPreAgenda.Estado");
                        });
                    });

                    if (cantidadDetallesAEliminar > 0) {
                        // eliminar detalles asociados
                        $(".rowDetalle").each(function (index) {
                            if ($(this).find(".tdNroAgendaDetalle").text() == nroAgendaAEliminar) {
                                $(this).remove();

                                // volver a numerar detalles
                                $(".hiddenNroDetalle").each(function (index) {
                                    $(this).attr("name", "DetallesReunion[" + index + "].Numero");
                                });
                                $(".hiddenNroAgendaDetalle").each(function (index) {
                                    $(this).attr("name", "DetallesReunion[" + index + "].NumeroTemaPreAgenda");
                                });
                                $(".hiddenDetallesDetalle").each(function (index) {
                                    $(this).attr("name", "DetallesReunion[" + index + "].DetalleReunion.Detalles");
                                });
                            }
                        });
                    }
                });

                $(".addAgenda").click(function () {
                    var rowCount = $('.rowAgenda').length;
                    // corregir nombres escape
                    $("#tblAgendas").append
                        (
                            '<tr class="rowAgenda">' +
                            '<td class="tdNroAgenda" style="width: 8%; text-align: center; vertical-align: middle;">' +
                            'G' +
                            globalAgenda.toString() +
                            '<input type="hidden" class="hiddenNroAgenda" name="TemasPreAgenda[' +
                            rowCount +
                            '].Numero" value="G' +
                            globalAgenda.toString() +
                            '"/>' +
                            '</td>' +
                            '<td class="tdNombreAgenda" style="width: 68%; text-align: center; vertical-align: middle;">' +
                            '<textarea class="form-control taAgenda" style="resize: none; height: 70px;" name="TemasPreAgenda[' +
                            rowCount +
                            '].TemaPreAgenda.Nombre"/>' +
                            '</td>' +
                            '<td style="width: 14%; text-align: center; vertical-align: middle;">' +
                            '<select class="form-control lstEstadoAgenda" name="TemasPreAgenda[' +
                            rowCount +
                            '].TemaPreAgenda.Estado">' +
                            estadosAgendaHtmlOpciones +
                            '</select>' +
                            '</td>' +
                            '<td style="width: 10%; text-align: center; vertical-align: middle;">' +
                            '<button class="btn btn-icon btn-default btn-outline remRowAgenda" type="button">' +
                            '<i class="icon wb-trash" aria-hidden="true"></i>' +
                            '</button>' +
                            '</td>' +
                            '</tr>'
                        );

                    globalAgenda++;
                });

                $("#tblTareas").on('click', '.remRowTarea', function () {
                    $(this).closest('.rowTarea').fadeOut(300, function () {
                        $(this).remove();

                        // volver a numerar tareas
                        $(".hiddenNroTarea").each(function (index) {
                            $(this).attr("name", "Tareas[" + index + "].Numero");
                        });
                        $(".lstResponsablesTarea").each(function (index) {
                            $(this).attr("name", "Tareas[" + index + "].Responsables");
                        });
                        $(".taTarea").each(function (index) {
                            $(this).attr("name", "Tareas[" + index + "].Tarea.DescripcionEspanol");
                        });
                        $(".lstEstadoTarea").each(function (index) {
                            $(this).attr("name", "Tareas[" + index + "].Tarea.Estado");
                        });
                        $(".tbxFechaTarea").each(function (index) {
                            $(this).attr("name", "Tareas[" + index + "].FechaPropuesta");
                        });
                    });
                });


                $(".addTarea").click(function () {
                    var rowCount = $('.rowTarea').length;
                    // corregir nombres escape
                    $("#tblTareas").append
                        (
                            '<tr class="rowTarea">' +
                            '<td class="tdNroTarea" style="width: 5%; text-align: center; vertical-align: middle;">' +
                            'T' +
                            globalTarea.toString() +
                            '<input type="hidden" class="hiddenNroTarea" name="Tareas[' +
                            rowCount +
                            '].Numero"  value="T' +
                            globalTarea.toString() +
                            '"/>' +
                            '</td>' +
                            '<td class="tdResponsableTarea" style="width: 23%; text-align: center; vertical-align: middle;">' +
                            '<select class="form-control lstResponsablesTarea" multiple="multiple" name="Tareas[' +
                            rowCount +
                            '].Responsables">' +
                            participantesHtmlOpciones +
                            '</select>' +
                            '</td>' +
                            '<td class="tdDetalleTarea"style="width: 27%; text-align: center; vertical-align: middle;">' +
                            '<textarea class="form-control taTarea" style="resize: none; height: 70px;" name="Tareas[' +
                            rowCount +
                            '].Tarea.DescripcionEspanol"/>' +
                            '</td>' +
                            '<td class="tdEstadoTarea"style="width: 15%; text-align: center; vertical-align: middle;">' +
                            '<select class="form-control lstEstadoTarea" name="Tareas[' +
                            rowCount +
                            '].Tarea.Estado">' +
                            estadosTareasHtmlOpciones +
                            '</select>' +
                            '</td>' +
                            '<td class="tdFechaTarea" style="width: 20%; text-align: center; vertical-align: middle;">' +
                            '<input class="form-control tbxFechaTarea" data-plugin="datepicker" data-val="true" data-val-date="The field Fecha Tarea must be a date." name="Tareas[' +
                            rowCount + '].FechaPropuesta" value="@Model.Today">' +
                            '</td> ' +
                            '<td style="width: 10%; text-align: center; vertical-align: middle;">' +
                            '<button class="btn btn-icon btn-default btn-outline remRowTarea" type="button">' +
                            '<i class="icon wb-trash" aria-hidden="true"></i>' +
                            '</button>' +
                            '</td>' +
                            '</tr>'
                        );
                    setTimeout(function () {
                        $('[data-plugin=datepicker]').datepicker({
                            format: 'dd/mm/yyyy'
                        });
                    }, 1);
                    globalTarea++;
                });

                $(".addAcuerdo").click(function () {
                    var rowCount = $('.rowAcuerdo').length;

                    $("#tblAcuerdos").append
                        (
                            '<tr class="rowAcuerdo">' +
                            '<td class="tdNroAcuerdo" style="width: 8%; text-align: center; vertical-align: middle;">' +
                            'A' +
                            globalAcuerdo.toString() +
                            '<input type="hidden" class="hiddenNroAcuerdo" name="Acuerdos[' +
                            rowCount +
                            '].Numero"  value="A' +
                            globalAcuerdo.toString() +
                            '"/>' +
                            '</td>' +
                            '<td style="width: 82%; text-align: center; vertical-align: middle;">' +
                            '<textarea class="form-control taAcuerdo" style="resize: none; height: 70px;" name="Acuerdos[' +
                            rowCount +
                            '].Acuerdo.DescripcionEspanol"/>' +
                            '</td>' +
                            '<td style="width: 10%; text-align: center; vertical-align: middle;">' +
                            '<button class="btn btn-icon btn-default btn-outline remRowAcuerdo" type="button">' +
                            '<i class="icon wb-trash" aria-hidden="true"></i>' +
                            '</button>' +
                            '</td>' +
                            '</tr>'
                        );

                    globalAcuerdo++;
                });

                $("#tblAcuerdos").on('click', '.remRowAcuerdo', function () {
                    $(this).closest('.rowAcuerdo').fadeOut(300, function () {
                        $(this).remove();

                        // volver a numerar acuerdos
                        $(".hiddenNroAcuerdo").each(function (index) {
                            $(this).attr("name", "Acuerdos[" + index + "].Numero");
                        });
                        $(".taAcuerdo").each(function (index) {
                            $(this).attr("name", "Acuerdos[" + index + "].Acuerdo.DescripcionEspanol");
                        });
                    });
                });

                $("#tblDetalles").on("click", ".remRowDetalle", function () {
                    // eliminar detalle
                    $(this).closest(".rowDetalle").fadeOut(300, function () {
                        $(this).remove();

                        // volver a numerar detalles
                        $(".hiddenNroDetalle").each(function (index) {
                            $(this).attr("name", "DetallesReunion[" + index + "].Numero");
                        });
                        $(".hiddenNroAgendaDetalle").each(function (index) {
                            $(this).attr("name", "DetallesReunion[" + index + "].NumeroTemaPreAgenda");
                        });
                        $(".hiddenDetallesDetalle").each(function (index) {
                            $(this).attr("name", "DetallesReunion[" + index + "].DetalleReunion.Detalles");
                        });
                    });
                });
        });
    </script>
}