﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingManagementViewModel
@{
    ViewBag.Title = TeacherMeetingResource.Titulo;
    ViewBag.Icon = "calendar";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    string CurrentCulture = cookie == null ? ConstantHelpers.CULTURE.ESPANOL : cookie.Value ?? ConstantHelpers.CULTURE.ESPANOL;
    var paginationContainer = ConstantHelpers.TwitterBootstrapPagerAligned;
    paginationContainer.ContainerDivClasses = new[] { "text-center" };
    var id = ViewBag.IdReunionActaCompletada;
}

@section Styles {
    <style>
        .col {
            flex-basis: 0;
            -webkit-box-flex: 1;
            flex-grow: 1;
            max-width: 100%;
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .align-self-start {
            -ms-flex-item-align: start !important;
            align-self: flex-start !important;
        }

        .align-self-center {
            -ms-flex-item-align: center !important;
            align-self: center !important;
        }

        .align-self-end {
            -ms-flex-item-align: end !important;
            align-self: flex-end !important;
        }

        .justify-content-between {
            -webkit-box-pack: justify !important;
            -ms-flex-pack: justify !important;
            justify-content: space-between !important;
        }

        .justify-content-around {
            -ms-flex-pack: distribute !important;
            justify-content: space-around !important;
        }

        .panel-body {
            padding: 1rem 2rem 1rem !important;
        }

        @@media (max-width: 575px) {
            .search-button {
                text-align: center !important;
            }
        }

        @@media (min-width: 576px) {
            .search-button {
                text-align: right !important;
            }
        }

        #loading {
            display: none;
            background-color: #ffffff !important;
            padding: 300px;
        }

        .meeting-detail {
            padding: 0 2rem;
        }

        .meeting-options {
            display: flex;
            flex-wrap: wrap;
        }

            .meeting-options > a > img {
                height: 2rem;
            }
    </style>
    @Html.Content("vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css")
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Management", "TeacherMeeting")">@TeacherMeetingResource.AdministracionReuniondeProfesores</a></li>
}
<div class="panel-group" id="filters-panel" aria-multiselectable="true" role="tablist">
    <div class="panel">
        <div class="panel-heading" id="filters-panel-heading" role="tab" style="cursor: pointer;">
            <h2 class="panel-title" data-toggle="collapse" href="#filter-collapse" data-parent="filters-panel" aria-expanded="true" aria-controls="filter-collapse">
                <i class="fa fa-filter"></i> @Filtros.Filtro
            </h2>
            <input hidden id="idTM" value="@id" />
        </div>
        <div class="panel-body panel-collapse collapse in" id="filter-collapse" aria-labelledby="filters-panel-heading" role="tabpanel">
            <form>
                <div class="row" style="margin-left: 15px; margin-right: 15px">
                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <label>@TeacherMeetingResource.PeriodoAcademico:</label>
                        @Html.DropDownListFor(m => m.AcademicPeriodId, (IEnumerable<SelectListItem>)Model.AvailableAcademicPeriods, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <label>@TeacherMeetingResource.Niveles:</label>
                        @Html.DropDownListFor(m => m.Level, (IEnumerable<SelectListItem>)Model.Levels, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <label>@TeacherMeetingResource.Areas:</label>
                        @Html.DropDownListFor(m => m.Area, (IEnumerable<SelectListItem>)Model.Areas, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <label>@TeacherMeetingResource.Semana:</label>
                        @Html.DropDownListFor(m => m.Week, (IEnumerable<SelectListItem>)Model.Weeks, new { @class = "form-control" })
                    </div>
                </div>
                <div class="search-button">
                    <button type="submit" id="btnBuscarReuniones" class="btn btn-dark"><i class="fa fa-search"></i> @ButtonsOptionsResource.Buscar</button>
                    <a href="@Url.Action("DescargaMasivaActas", new { culture = CurrentCulture  })" title="@ButtonsOptionsResource.DescargaMasiva" class="btn btn-primary">
                        @ButtonsOptionsResource.DescargaMasiva
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="panel-items">
    @{
        if (!Model.TeacherMeetingsByResponsible.Any())
        {
            <div style="text-align: center;">
                <div>@TeacherMeetingResource.NoExistenReunionesAsignadas</div>
            </div>
        }
        else
        {
            <h3 style="font-size: 26px;">@ViewBag.MeetingsTitle</h3>
            for (int i = 0; i < Model.TeacherMeetingsByResponsible.Count(); i++)
            {
                var meeting = Model.TeacherMeetingsByResponsible[i];
                var expanded = i == 0 ? "true" : "false";
                var collapseClasses = new List<string> { "panel-body", "panel-collapse", "collapse" };
                if (expanded.ToBoolean())
                {
                    collapseClasses.Add("in");
                }
                <div class="panel-group" id="meeting-@meeting.IdReunionProfesor" aria-multiselectable="true" role="tablist">
                    <div class="panel">
                        <div class="panel-heading" id="meeting-@meeting.IdReunionProfesor-heading" role="tab" style="cursor: pointer;">
                            <h3 class="panel-title" data-toggle="collapse" href="#meeting-@meeting.IdReunionProfesor-collapse" aria-expanded=@expanded aria-controls="meeting-@meeting.IdReunionProfesor-collapse">
                                <i class="fa fa-calendar"></i> @(CurrentCulture == ConstantHelpers.CULTURE.ESPANOL ? meeting.NombreReunion : meeting.NombreIngles)
                            </h3>
                        </div>
                        <div class="@string.Join(" ", collapseClasses)" id="meeting-@meeting.IdReunionProfesor-collapse" aria-labelledby="meeting-@meeting.IdReunionProfesor-heading" role="tabpanel">
                            <div class="row" style="display: flex; flex-wrap: wrap">
                                <div class="col-xs-12 col-sm-6 col-md-8 align-self-start">

                                    @if (meeting.Inicio.HasValue)
                                    {
                                        <p class="meeting-detail">@meeting.Inicio.Value.ToString("D")</p>
                                        <p class="meeting-detail">
                                            @string.Concat(TeacherMeetingResource.desde + " ", meeting.Inicio.Value.ToString("h tt"), " "+TeacherMeetingResource.hasta+" ", meeting.Fin.Value.ToString("h tt"))
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="meeting-detail">@TeacherMeetingResource.PorDefinirFechayHora</p>
                                    }
                                    <p class="meeting-detail">@(!string.IsNullOrWhiteSpace(meeting.Lugar) ? meeting.Lugar : TeacherMeetingResource.PorDefinirLugar)</p>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 align-self-center justify-content-around meeting-options">
                                    @if (!meeting.Notificada)
                                    {
                                        <a href="javascript:void(0)" title="@TeacherMeetingResource.ConfigurarReunion" onclick="EditReunion(@meeting.IdReunionProfesor)">
                                            @LayoutResource.Editar
                                        </a>
                                        <a href="javascript:void(0)" onclick="NotificarReunion(@Model.TeacherMeetingsByResponsible[i].IdReunionProfesor)" title="@TeacherMeetingResource.Notificar">
                                            @LayoutResource.Notificar
                                        </a>
                                    }
                                    else
                                    {
                                        if (!meeting.ActaCreada)
                                        {
                                            <a href="@Url.Action("NewTeacherMeetingMinute", new { teacherMeetingId = meeting.IdReunionProfesor })" title="@TeacherMeetingResource.CrearActa">
                                                @LayoutResource.CrearActa
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("ActaReunionProfesor", new { teacherMeetingId = meeting.IdReunionProfesor, culture = CurrentCulture  })" title="@TeacherMeetingResource.ExportarActa">
                                                @LayoutResource.DescargarActa
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        Html.PagedListPager(Model.TeacherMeetingsByResponsible, page => Url.Action("X", new { p = page }), paginationContainer);
    }
</div>

<!-- Modal -->
<div class="modal fade" id="VentanaModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-hallazgo">

                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="VentanaModalView" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-View">

                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="VentanaModalActa" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-Acta">

                </div>
            </div>
        </div>

    </div>
</div>

<div class="container text-center load" id="loading">
    
    <img src="@Url.Content("~/Areas/Meeting/Resources/Images/spinner.gif")" width="100"> 
    <p>@TeacherMeetingResource.NotificandoReuniones...</p>
</div>


@section Scripts{
    <script src="@Url.Content("~/Scripts/Views/Shared/ged-helper.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/moment/moment.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js")"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        var id = $('#idTM').val();
        if (id !== "") {
            downloadMinutePdf(id);
            setTimeout(function () {
                window.location.href = '@Url.Action("Index")';
            }, 2000);
        };
    });
        function EditReunion(IdReunionProfesor) {

            $.ajax({
                type: "GET",
                data: { IdReunionProfesor },
                url: '@Url.Action("CreateReunionDocente", "PreSchedule")',
                success: function (data) {
                    $('#modal-hallazgo').html(data);
                    $('#VentanaModal').modal('show');
                }
            });
        }

    function downloadMinutePdf(teacherMeetingId) {
        var url = '@Url.Action("GetActaPdf")';
        var fullUrl = url + '?teacherMeetingId=' + teacherMeetingId + "&culture=" + '@CurrentCulture';
        var newlink = document.createElement('a');
        newlink.setAttribute('class', 'signature');
        //newlink.setAttribute('download');
        newlink.setAttribute('href', fullUrl);
        newlink.click();
    };

        function NotificarReunion(IdReunionProfesor) {

            var fileData = new FormData();

            fileData.append('IdReunionProfesor', IdReunionProfesor);

            swal({
                title: '@Html.Raw(TeacherMeetingResource.EstaSegurodeNotificarLaReunion)',
                text: '@Html.Raw(TeacherMeetingResource.AsegureseHaberConfiguradoCorrectamenteReunionElSistemaEnvieCorreoElectronico)',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                confirmButtonText: '@TeacherMeetingResource.Aceptar',
                cancelButtonText: "@ButtonsOptionsResource.Cancelar",
                cloeOnConfirm: true,
                closeOnCancel: true
            },

                function (isConfirm) {
                    setTimeout(function () {
                        if (isConfirm) {

                            $.ajax({
                                type: "POST",
                                contentType: false,
                                processData: false,
                                dataType: "json",
                                url: '@Url.Action("NotificarReunionProfesor")',
                                data: fileData,
                                success: function (data) {
                                    switch (data) {
                                        case "Success":
                                            swal({
                                                title: '@Html.Raw(TeacherMeetingResource.Exito)',
                                                text: '@Html.Raw(TeacherMeetingResource.ReunionFueNotificadaTodosLosParticipantesPorMedioCorreo)',
                                                type: 'success',
                                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                                confirmButtonText: '@TeacherMeetingResource.Aceptar'
                                            }
                                            , function () {
                                                location.reload();
                                            });
                                            break;

                                        case "StartDateUnallowed":
                                            swal({
                                                title: '@Html.Raw(TeacherMeetingResource.AccionNoPermitida)',
                                                text: '@Html.Raw(TeacherMeetingResource.AsegureseHaberIngresadoFechaHoraInicioReunion)',
                                                type: 'warning',
                                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                                confirmButtonText: '@TeacherMeetingResource.Aceptar'
                                            });
                                            break;
                                        case "EndDateUnallowed":
                                            swal({
                                                title: '@Html.Raw(TeacherMeetingResource.AccionNoPermitida)',
                                                text: '@Html.Raw(TeacherMeetingResource.AsegureseHaberIngresadoFechaHoraFinReunion)',
                                                type: 'warning',
                                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                                confirmButtonText: '@TeacherMeetingResource.Aceptar'
                                            });
                                            break;

                                        case "PlaceUnallowed":
                                            swal({
                                                title: '@Html.Raw(TeacherMeetingResource.AccionNoPermitida)',
                                                text: '@Html.Raw(TeacherMeetingResource.AsegureseHaberIngresadoLugarDondeRealizarReunion)',
                                                type: 'warning',
                                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                                confirmButtonText: '@TeacherMeetingResource.Aceptar'
                                            });
                                            break;
                                        case "PreviousMeetingNotNotified":
                                            swal({
                                                title: '@Html.Raw(TeacherMeetingResource.AccionNoPermitida)',
                                                text: '@Html.Raw(TeacherMeetingResource.PreviousMeetingNotNotified)',
                                                type: 'warning',
                                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                                confirmButtonText: '@TeacherMeetingResource.Aceptar'
                                            });
                                            break;
                                        case "WaitCompletionPrevious":
                                            swal({
                                                title: '@Html.Raw(TeacherMeetingResource.AccionNoPermitida)',
                                                text: '@Html.Raw(TeacherMeetingResource.WaitCompletionPrevious)',
                                                type: 'warning',
                                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                                confirmButtonText: '@TeacherMeetingResource.Aceptar'
                                            });
                                            break;
                                        case "Error":
                                            swal({
                                                title: '@Html.Raw(TeacherMeetingResource.OcurrioUnError)',
                                                text: '@Html.Raw(TeacherMeetingResource.OcurrioErrorReunionNotificado)',
                                                type: 'error',
                                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                                confirmButtonText: '@TeacherMeetingResource.Aceptar'
                                            });
                                            break;
                                    }
                                },
                                beforeSend: function () {
                                    $('#loading').show();
                                },
                                complete: function () {
                                    $('#loading').hide();
                                }
                            });
                        }

                    }, 100)
                })
        };

        function ViewReunion(IdReunionProfesor) {

            $.ajax({
                type: "GET",
                data: { IdReunionProfesor },
                url: '@Url.Action("ViewReunionProfesor", "PreSchedule")',
                success: function (data) {
                    $('#modal-View').html(data);
                    $('#VentanaModalView').modal('show');
                }
            })
        }

        function CreateEditActa(IdReunionProfesor) {

            $.ajax({
                type: "Post",
                data: { IdReunionProfesor },
                url: '@Url.Action("AddDetalleReunion", "PreSchedule")',
                dataType: "json",
                success: function (data) {
                    window.location.href = data;
                    //$('#modal-Acta').html(data);
                    //$('#VentanaModalActa').modal('show');
                }
            });
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeletePreAgendasExtraordinariasNoUtilizadas", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })',
            dataType: 'json',
            success: function (data) {
            },
            error: function (ex) {
            }
        });

        function EliminarPreAgenda(idPreAgenda) {
            var r = confirm("@TeacherMeetingResource.DeseaEliminarEstaPreAgenda");
            if (r == true) {
                location.href = '@Url.Action("Delete", new { Area = ConstantHelpers.AREAS.MEETING })' + "/" + idPreAgenda;
            }
        }

        $(function () {

            $('#IdSemana').on('change', function () {
                var semana = $(this).val();
                var model = {};
                model['semana'] = semana;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("FechasSemana", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })',
                    dataType: 'json',
                    data: model,
                    success: function (data) {
                        $('#FechaInicio').val(ToJavaScriptDate(data[0]));
                        $('#FechaFin').val(ToJavaScriptDate(data[1]));
                    },
                    error: function (ex) {
                    }
                });
            });

            function ToJavaScriptDate(value) {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                var fecha;
                @if (ViewBag.Culture == ConstantHelpers.CULTURE.ESPANOL)
                {
                    <text>
                //if (dt.getDate() < 9 && dt.getMonth() < 9)
                //    fecha = "0" + (dt.getDate() + 1) + "/" + "0" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                //else if (dt.getDate() < 9 && dt.getMonth() >= 9)
                //    fecha = "0" + (dt.getDate() + 1) + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                //else if (dt.getDate() >= 9 && dt.getMonth() < 9)
                //    fecha = (dt.getDate() + 1) + "/" + "0" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
                //else
                    fecha = (dt.getDate() + 1) + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();

                return fecha;
                </text>
                }
                else
                {
                    <text>
                return (dt.getMonth() + 1) + "/" + (dt.getDate() + 1) + "/" + dt.getFullYear();
                </text>
                }
            }


        })




    </script>
}
