﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingManagementViewModel
@{
    ViewBag.Title = TeacherMeetingResource.AdministracionReuniondeProfesores;
    ViewBag.Icon = "graduation-cap";
    var userRoles = Session.GetRoles();
}

@section Breadcrumbs {
}
<style>
    #headhallazgos, #tablahallazgos, #headhallazgos tr, #tablahallazgos tr, #headhallazgos tr th, #tablahallazgos tr td {
        display: block;
    }

    #headhallazgos tr:after, #tablahallazgos tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    #tablahallazgos td#celda20, #headhallazgos th#celda20 {
        width: 20%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda50 {
        width: 45%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda20 {
        width: 20%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda15 {
        width: 15%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda10 {
        width: 10%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .formatWidth {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .celda5 {
        width: 5%;
        float: left;
        text-align: center;
        vertical-align: middle;
        height: 39px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .btnGuardar {
        float: right;
        margin-bottom: 15px;
        margin-right: 30px;
    }

    .marginDescription {
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .textArea {
        height: 75px !important;
    }

    strong, b {
        font-weight: bold;
    }

    #loading {
        display: none;
        background-color: #ffffff !important;
    }

        #loading p {
            color: black;
        }

    .load {
        padding: 250px;
    }

    h4 {
        display: inline;
    }

    .a + .b {
        margin-top: 1em;
    }

    body.swal2-height-auto {
        height: 100% !important;
    }
</style>
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (userRoles.HasRole(AppRol.Administrador) || userRoles.HasRole(AppRol.DirectorCarrera) || userRoles.HasRole(AppRol.CoordinadorCarrera))
                            {
                                <li role="presentation">
                                    <a data-toggle="tab" href="#configurationTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false">
                                        <i class="fa fa-gear"></i> <span class="tabhidden">@TeacherMeetingResource.Configuracion</span>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a data-toggle="tab" href="#automaticCreationTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false">
                                        <i class="fa fa-tasks"></i> <span class="tabhidden">@TeacherMeetingResource.GeneracionAutomatica</span>
                                    </a>
                                </li>
                            }
                            <li role="presentation" class="active">
                                <a data-toggle="tab" href="#manageMeetingsTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false">
                                    <i class="fa fa-hand-o-up"></i> <span class="tabhidden">@TeacherMeetingResource.Consultar</span>
                                </a>
                            </li>
                            @if (userRoles.HasRole(AppRol.Administrador) || userRoles.HasRole(AppRol.DirectorCarrera) || userRoles.HasRole(AppRol.CoordinadorCarrera))
                            {
                                <li role="presentation">
                                    <a data-toggle="tab" href="#reportesTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false">
                                        <i class="fa fa-line-chart"></i> <span class="tabhidden">@TeacherMeetingResource.Reportes</span>
                                    </a>
                                </li>
                            }
                        </ul>
                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">
                            <div class="tab-pane active" id="manageMeetingsTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i>@TeacherMeetingResource.ConsultarReunionesdeProfesores</h2>
                                <p align="justify">
                                    @TeacherMeetingResource.PresenteFuncionalidadPermiteIngresarListadoReunionesdeProfesores
                                </p>
                                <a class="pull-right btn btn-primary" href="@Url.Action("Index", "TeacherMeeting")"><i class="fa fa-sign-in"></i> @TeacherMeetingResource.Consultar</a>
                            </div>
                            @if (userRoles.HasRole(AppRol.Administrador) || userRoles.HasRole(AppRol.DirectorCarrera) || userRoles.HasRole(AppRol.CoordinadorCarrera))
                            {
                                <div class="tab-pane" id="automaticCreationTab" role="tabpanel">
                                    <h2 class="fixtitle"><i class="fa fa-tasks"></i> @TeacherMeetingResource.GeneracionAutomaticadeReunionesdeProfesores</h2>
                                    <p align="justify">
                                        @TeacherMeetingResource.EstaAccionGeneranTodasReunionesProfesoresCicloAcademicoActivoOrganigrama
                                    </p>
                                    <button class="pull-right btn btn-primary" id="btnChooseModule">
                                        <i class="fa fa-sign-in"></i> @TeacherMeetingResource.Generar
                                    </button>
                                </div>
                                <div class="tab-pane" id="configurationTab" role="tabpanel">
                                    <h2 class="fixtitle"><i class="fa fa-gear"></i> @TeacherMeetingResource.ConfiguracionDeLasReunionesDeProfesores</h2>
                                    <p align="justify">
                                        @TeacherMeetingResource.EstaSeccionConfiguraFrecuenciaOcurriranReunionesProfesoresSegunModalidadQueSeEncuentreUsuario
                                    </p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("Configuration")"><i class="fa fa-sign-in"></i> @TeacherMeetingResource.Acceder</a>
                                </div>
                            }

                            @if (userRoles.HasRole(AppRol.Administrador) || userRoles.HasRole(AppRol.DirectorCarrera) || userRoles.HasRole(AppRol.CoordinadorCarrera))
                            {
                                <div id="reportesTab" class="tab-pane">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="examle-wrap">
                                                <h2 class="fixtitle"><i class="fa fa-line-chart"></i> @TeacherMeetingResource.ExportarReportes</h2>
                                                <div class="example">
                                                    <div class="panel-group" id="exampleAccordionDefault6" aria-multiselectable="true" role="tablist">
                                                        <div class="panel">
                                                            <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">
                                                                <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseColapseOne10" data-parent="#exampleAccordionDefault6" aria-expanded="false" aria-controls="exampleCollapseColapseOne10">
                                                                    <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                    @TeacherMeetingResource.ExportarReportedeAsistencia
                                                                </a>
                                                            </div>
                                                            <div class="panel-collapse collapse" id="exampleCollapseColapseOne10" aria-labelledby="exampleHeadingDefaultOne10" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <p align="justify">
                                                                        @TeacherMeetingResource.PermiteVisualizarExportarReporteDeAsistenciaReunionesRealizadas
                                                                    </p>
                                                                    <p>
                                                                        <a id="btnReporteAsistencia" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @TeacherMeetingResource.Ir</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="example">
                                                    <div class="panel-group" id="exampleAccordionDefault7" aria-multiselectable="true" role="tablist">
                                                        <div class="panel">
                                                            <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">
                                                                <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseColapseOne11" data-parent="#exampleAccordionDefault7" aria-expanded="false" aria-controls="exampleCollapseColapseOne11">
                                                                    <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                    @TeacherMeetingResource.ExportarReportedeEstadodeReuniones
                                                                </a>
                                                            </div>
                                                            <div class="panel-collapse collapse" id="exampleCollapseColapseOne11" aria-labelledby="exampleHeadingDefaultOne10" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <p align="justify">
                                                                        @TeacherMeetingResource.PermiteVisualizarExportarReporteDeEstadosRealizadoReuniones
                                                                    </p>
                                                                    <p>
                                                                        <a id="btnReporteReunionesConcretadas" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @TeacherMeetingResource.Ir</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="panel-group" id="exampleAccordionDefault8" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseColapseOne12" data-parent="#exampleAccordionDefault8" aria-expanded="false" aria-controls="exampleCollapseColapseOne12">
                                                                <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @TeacherMeetingResource.ExportarResumenenGraficosdeReunionesdeProfesores
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseColapseOne12" aria-labelledby="exampleHeadingDefaultOne10" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @TeacherMeetingResource.PermiteVisualizaryExportarelResumendelasReuniones
                                                                </p>
                                                                <p>
                                                                    <a id="btnReporteReunionesCharts" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @TeacherMeetingResource.Ir</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-group" id="exampleAccordionDefault9" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseColapseOne13" data-parent="#exampleAccordionDefault9" aria-expanded="false" aria-controls="exampleCollapseColapseOne13">
                                                                <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @TeacherMeetingResource.ExportarReporteTareas
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseColapseOne13" aria-labelledby="exampleHeadingDefaultOne11" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @TeacherMeetingResource.DescripcionExportarReporteTareas
                                                                </p>
                                                                <p>
                                                                    <a id="btnReporteReunionesTareas" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @TeacherMeetingResource.Ir</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="chooseModuleModal" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modal-module">
                <div class="modal-header">
                    <h3 class="modal-title">@TeacherMeetingResource.GeneracionDeReunionesDeProfesores</h3>
                </div>
                <div class="modal-body">
                    @Html.FormGroup(TeacherMeetingResource.SeleccionarModulo, Html.DropDownListFor(x => x.IdModulo, (IEnumerable<SelectListItem>)Model.Modulos, new { @id = "moduleId", @class = "form-control" }), false, null, 12)
                    <div id="showErrors" class="form-group col-sm-12 col-md-12"></div>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center load" id="loading">
    <img src="@Url.Content("~/Areas/Professor/Content/assets/images/ajax-loader2.gif")" width="100">
    <p>@TeacherMeetingResource.CreandoReuniones...</p>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
            checkIfMeetingsAreAlreadyCreated()

            $("#btnChooseModule").on("click", function () {
                $('#chooseModuleModal').modal('show');
            });

            $('#moduleId').on("change", function () {
                checkIfMeetingsAreAlreadyCreated();
            });
        });

        function checkIfMeetingsAreAlreadyCreated() {
            var moduleId = $('#moduleId').val();
            $.ajax({
                type: 'get',
                data: { moduleId },
                url: '@Url.Action("CheckIfMeetingsAreAlreadyCreated")',
                success: function (data) {
                    if (!data.OrganizationChartAlreadyUploaded) {
                        $('#showErrors').html('<strong class="col-sm-12" align="justify" style="color: red">@(TeacherMeetingResource.Falta): @(TeacherMeetingResource.Organigrama)</strong>');
                        $('.modal-footer').html('<button class="btn btn-secondary" data-dismiss="modal">' +
                            '@LayoutResource.Regresar' + '</button>');
                    }
                    if (data.MeetingsAlreadyCreated) {
                        $('#showErrors').html('<strong class="col-sm-12" align="justify">@TeacherMeetingResource.LasReunionesdeProfesoresyaFueronCreadas</strong>');
                        $('.modal-footer').html('<button class="btn btn-secondary" data-dismiss="modal">' +
                            '@LayoutResource.Regresar' + '</button>');
                    } else {
                        $('#showErrors').html('');
                        $('.modal-footer').html('<button class="btn btn-secondary" data-dismiss="modal">' +
                            '@LayoutResource.Cancelar' + '</button>' +
                            '<button id="btnCreateMeetings" class="btn btn-primary">' +
                            '@ButtonsOptionsResource.Crear' +
                            '</button>');
                        handleCreateMeetingButtonClick();
                    }
                }
            });
        }

        function handleCreateMeetingButtonClick() {
            $('#btnCreateMeetings').on("click", function () {
                var moduleId = $('#moduleId').val();
                swal({
                    title: '@Html.Raw(TeacherMeetingResource.GeneracionDeReunionesDeProfesores)',
                    text: '@Html.Raw(TeacherMeetingResource.SeGeneraranReunionesProfesoresModuloSeleccionadoDentroPeriodoAcademicoActivo)',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: '@ButtonsOptionsResource.Aceptar',
                    cancelButtonText: '@ButtonsOptionsResource.Cancelar',
                    closeOnConfirm: true,
                    closeOnCancel: true
                }, function (accepted) {
                    setTimeout(function () {
                        if (accepted) {
                            $.ajax({
                                type: 'post',
                                url: '@Url.Action("CrearReunionProfesores", "TeacherMeeting")',
                                data: { moduleId },
                                dataType: 'json',
                                success: function (data) {
                                    switch (data.status) {
                                        case 'OK':
                                            swal({
                                                title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(TeacherMeetingResource.IExitoI))',
                                                text: data.message,
                                                icon: 'success',
                                                type: 'success',
                                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                                confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                                            });
                                            break;
                                        case 'FAILED':
                                            swal({
                                                title: '@Html.Raw(HttpUtility.JavaScriptStringEncode("Error"))',
                                                text: data.message,
                                                icon: 'error',
                                                type: 'error',
                                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                                confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                                            });
                                            break;
                                    }
                                }, beforeSend: function () {
                                    $('#chooseModuleModal').modal('hide');
                                    $('#loading').show();
                                },
                                complete: function () {
                                    $('#loading').hide();
                                }
                            });
                        }
                    }, 500)
                });
            });
        }

        $("#btnReporteAsistencia").on("click", function () {
            @*
            $.ajax({
                type: 'GET',
                url: '@Url.Action("TeacherMeetingAttendance", "TeacherMeeting")',
                dataType: 'json',
                success: function (data) {
                    location.href = '@Url.Action("TeacherMeetingAttendance", "TeacherMeeting")';
                }
            });
            *@
            window.location.href = '@Url.Action("TeacherMeetingAttendance", "TeacherMeeting")'
        });


        $("#btnReporteReunionesConcretadas").on("click", function () {
            @*
            $.ajax({
                type: 'GET',
                url: '@Url.Action("TeacherMeetingAttendance", "TeacherMeeting")',
                dataType: 'json',
                success: function (data) {
                    location.href = '@Url.Action("TeacherMeetingAttendance", "TeacherMeeting")';
                }
            });
            *@
            window.location.href = '@Url.Action("TeacherMeetingRealized", "TeacherMeeting")'
        });

        $("#btnReporteReunionesCharts").on("click", function () {
            @*
            $.ajax({
                type: 'GET',
                url: '@Url.Action("TeacherMeetingAttendance", "TeacherMeeting")',
                dataType: 'json',
                success: function (data) {
                    location.href = '@Url.Action("TeacherMeetingAttendance", "TeacherMeeting")';
                }
            });
            *@
            window.location.href = '@Url.Action("TeacherMeetingCharts", "TeacherMeeting")'
        });

        $("#btnReporteReunionesTareas").on("click", function () {
            window.location.href = '@Url.Action("TeacherMeetingTasks", "TeacherMeeting")'
        });
        
    </script>
}

