﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingViewModel
@using ORGANIZATION_CHART_LEVELS = UPC.CA.ABET.Helpers.ConstantHelpers.ORGANIZATION_CHART_LEVELS;
@{
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    string CurrentCulture = cookie == null ? ConstantHelpers.CULTURE.ESPANOL : cookie.Value ?? ConstantHelpers.CULTURE.ESPANOL;
    ViewBag.Title = (CurrentCulture == ConstantHelpers.CULTURE.ESPANOL ? Model.ReunionProfesor.NombreReunion : Model.ReunionProfesor.NombreIngles);
    ViewBag.Icon = "calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tab-pane {
        background-color: rgba(158, 158, 158, 0.2);
    }

        .tab-pane > div {
            padding: 3rem 4rem;
        }

    .col {
        flex-basis: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .align-self-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important;
    }

    .align-self-center {
        -ms-flex-item-align: center !important;
        align-self: center !important;
    }

    .align-self-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important;
    }

    .justify-content-between {
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .justify-content-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }

    .col-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .mr-auto {
        margin-right: auto !important;
    }

    .meeting-options {
        display: flex;
        flex-wrap: wrap;
    }

        .meeting-options > a > img {
            height: 2rem;
        }

    .page-header {
        padding: 20px 30px 8px;
    }

    label.help-block {
        color: red;
    }
</style>

@section Breadcrumbs{
    <li><a href="@Url.Action("Index", "TeacherMeeting")"> @TeacherMeetingResource.ReuniondeProfesores</a></li>
}
<div>
    <h3 style="margin-top: 1rem;">@Model.ReunionProfesor.Lugar</h3>
    <h3 style="margin-top: 1rem;">@Model.ReunionProfesor.Inicio.Value.ToString("dddd, dd MMMM yyyy") @TeacherMeetingResource.desde @Model.ReunionProfesor.Inicio.Value.ToString("h:mm tt") @TeacherMeetingResource.hasta @Model.ReunionProfesor.Fin.Value.ToString("h:mm tt") </h3>
</div>
<ul class="nav nav-tabs" id="teacherMeetingMinuteTab" role="tablist">
    <li class="nav-item active">
        <a class="nav-link" id="attendance-tab" data-toggle="tab" href="#attendance" role="tab" aria-controls="attendance" aria-selected="true">@TeacherMeetingResource.Participacion</a>
    </li>
    @if (Model.ReunionProfesor.Nivel == (int)ORGANIZATION_CHART_LEVELS.SECOND_LEVEL)
    {
        <li class="nav-item">
            <a class="nav-link" id="operational-tab" data-toggle="tab" href="#operational" role="tab" aria-controls="operational" aria-selected="false">@TeacherMeetingResource.ReporteOperativo</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link" id="previous-tab" data-toggle="tab" href="#previous-tasks" role="tab" aria-controls="previous-tasks" aria-selected="false">@TeacherMeetingResource.TareasPrevias</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="findings-tab" data-toggle="tab" href="#findings" role="tab" aria-controls="findings-tab" aria-selected="false">@(TeacherMeetingResource.Hallazgo)s</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="agreements-tab" data-toggle="tab" href="#agreements" role="tab" aria-controls="agreements-tab" aria-selected="false">@(TeacherMeetingResource.Acuerdo)s</a>
    </li>
</ul>
<div class="tab-content" id="teacherMeetingMinuteTabContent">
    @{ Html.RenderAction("_AttendanceTab", new { teacherMeetingId = Model.ReunionProfesor.IdReunionProfesor }); }
    @if (Model.ReunionProfesor.Nivel == (int)ORGANIZATION_CHART_LEVELS.SECOND_LEVEL)
    {
        Html.RenderAction("_OperationalReportTab", new { teacherMeetingId = Model.ReunionProfesor.IdReunionProfesor });
    }
    @{ Html.RenderAction("_PreviousTasksTab", new { teacherMeetingId = Model.ReunionProfesor.IdReunionProfesor }); }
    @{ Html.RenderAction("_FindingsTab", new { teacherMeetingId = Model.ReunionProfesor.IdReunionProfesor }); }
    @{ Html.RenderAction("_AgreementsTab", new { teacherMeetingId = Model.ReunionProfesor.IdReunionProfesor }); }
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
    $(document).ready(function () {
        $('#attendance-tab').click(function () {
            $.ajax({
                url: '@Url.Action("_AttendanceTab", new { teacherMeetingId = Model.ReunionProfesor.IdReunionProfesor })',
                type: 'GET',
                success: function (result) {
                    $('_AttendanceTab').html(result);
                }
            });
        });
        $('#operational-tab').click(function () {
            $.ajax({
                url: '@Url.Action("_OperationalReportTab", new { teacherMeetingId = Model.ReunionProfesor.IdReunionProfesor })',
                type: 'GET',
                success: function (result) {
                    $('_OperationalReportTab').html(result);
                }
            });
        });
        $('#previous-tab').click(function () {
            $.ajax({
                url: '@Url.Action("_PreviousTasksTab", new { teacherMeetingId = Model.ReunionProfesor.IdReunionProfesor })',
                type: 'GET',
                success: function (result) {
                    $('_PreviousTasksTab').html(result);
                }
            })
        });
        $('#findings-tab').click(function () {
            $.ajax({
                url: '@Url.Action("_FindingsTab", new { teacherMeetingId = Model.ReunionProfesor.IdReunionProfesor })',
                type: 'GET',
                success: function (result) {
                    $('_FindingsTab').html(result);
                }
            })
        });
        $('#agreements-tab').click(function () {
            $.ajax({
                url: '@Url.Action("_AgreementsTab", new { teacherMeetingId = Model.ReunionProfesor.IdReunionProfesor })',
                type: 'GET',
                success: function (result) {
                    $('_AgreementsTab').html(result);
                }
            })
        })
    });


</script>