﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.ExportPlan
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingTasksViewModel

@{
    ViewBag.Title = TeacherMeetingResource.ReporteTareas;
    ViewBag.Icon = "book";
    var modalidadId = Session.GetModalidadId();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Styles {
    <link href="@Url.Content("~/Areas/Report/Content/css/sweetalert.css")" rel="stylesheet" type="text/css" />
}

@section Breadcrumbs{
    <li><a href="@Url.Action("Management", "TeacherMeeting")"> @TeacherMeetingResource.AdministracionReuniondeProfesores</a></li>
}

<style>
    .panel-heading {
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
            @*@Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ReportResource.HeaderFilter, PanelActions.Collapse)*@
            @using (Ajax.BeginForm("TeacherMeetingTasks", "TeacherMeeting", new AjaxOptions
            {
                HttpMethod = "POST",
                LoadingElementId = "main-loader",
                UpdateTargetId = "report-container",
                //OnBegin = "showLoading",
                // OnSuccess = "closeLoading"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.idEscuela)
                @Html.HiddenFor(x => x.IdIdioma)

                <div class="panel-body row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@TeacherMeetingResource.PeriodoAcademico</label>
                            @Html.DropDownListFor(x => x.idSubmodalidadPeriodoAcademicoModulo, Model.LstSubmodalidadPeriodoAcademicoModulo, new { @class = "form-control", @required = "true", @id = "IdSubmodalidadPeriodoAcademicoModulo" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@TeacherMeetingResource.Estado</label>
                            @Html.DropDownListFor(x => x.Estado, Model.LstEstado, new { @class = "form-control", @required = "true", @id = "IdEstado" })
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@TeacherMeetingResource.Ddesde @TeacherMeetingResource.Semana</label>
                            @Html.DropDownListFor(x => x.NumSemanaDesde, Model.LstSemanasDesde, new { @class = "form-control", @required = "true", @id = "NumDesde" })
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@TeacherMeetingResource.Hhasta @TeacherMeetingResource.Semana</label>
                            @Html.DropDownListFor(x => x.NumSemanaHasta, Model.LstSemanasHasta, new { @class = "form-control", @required = "true", @id = "NumHasta" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@TeacherMeetingResource.Area</label>
                            @Html.DropDownListFor(x => x.idAreaUnidadAcademica, Model.LstAreaUnidadAcademica, new { @class = "form-control", @required = "true", @id = "IdAUA" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@TeacherMeetingResource.Subarea</label>
                            @Html.DropDownListFor(x => x.idSubareaUnidadAcademica, Model.LstSubareaUnidadAcademica, new { @class = "form-control", @required = "true", @id = "IdSAUA" })
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel-heading collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="false" style="cursor:pointer; padding: 6px 15px; border-bottom: 0px;">
                            @TeacherMeetingResource.FiltrosAdicionales
                        </div>
                        <div id="collapse1" class="panel-collapse collapse col-md-12">
                            <div class="col-md-4">
                                @Html.FormGroup(TeacherMeetingResource.Curso, Html.DropDownListFor(x => x.idCursoPeriodoAcademico, Model.LstCursoPeriodoAcademico, new { @class = "form-control", @disabled = "true", @id = "IdCPA" }), false, null, 12)
                            </div>
                            <div class="col-md-4">
                                @Html.FormGroup(TeacherMeetingResource.Sede, Html.DropDownListFor(x => x.idSede, Model.LstSedes, new { @class = "form-control", @disabled = "true", @id = "IdSede" }), false, null, 12)

                            </div>
                            <div class="col-md-4">
                                @Html.FormGroup(TeacherMeetingResource.Seccion, Html.DropDownListFor(x => x.idSeccion, Model.LstSeccion, new { @class = "form-control", @disabled = "true", @id = "IdSeccion" }), false, null, 12)
                            </div>

                        </div>
                    </div>
                    @Html.PanelFooter(ProfessorResource.Generar)
                </div>
            }
        </div>

        <div class="panel">
            @Html.PanelHeaderIcon("<i class=\"fa fa-file-text\"></i> ", ProfessorResource.Document, PanelActions.Fullscreen)
            <div class="panel-body" id="report-container" style="width:100%">
                @{Html.RenderPartial("_TeacherMeetingTasks", Model);}
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modal-not-existing" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-bar-chart contrast">&nbsp;</i>
                    <span id="modal-title"></span>
                </h4>
            </div>
            <div class="modal-body text-center">
                <i class="fa fa-3x fa-exclamation-triangle" aria-hidden="true"></i>
                <br>
                <p id="modal-body"></p>
            </div>
        </div>
    </div>
</div>


<script>
    $('#IdSubmodalidadPeriodoAcademicoModulo').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });
    $('#IdEstado').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });
    $('#NumDesde').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });
    $('#NumHasta').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });
    $('#IdAUA').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });
    $('#IdSAUA').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });
    $('#IdCPA').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });
    $('#IdSede').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });
    $('#IdSeccion').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });

    $('#btnGenerateReport').on('click', function () {
        $(this).attr('disabled', true);
        $(this).submit();
    });
    $('#modal-not-existing').on('shown.bs.modal', function() {
        $(document).off('focusin.modal');
        $(this).data('bs.modal').options.backdrop = 'static';
    });
    $('#modal-not-existing').on('hidden.bs.modal', function () {
        $('.modal-backdrop.fade.in').remove();
        $('#btnGenerateReport').attr('disabled', false);
    });
    var lang = $('html').attr('lang');

    function cargarAreaforSubmodalidadPeriodoAcademicoModulo(idSubmodalidadPeriodoAcademicoModulo) {
        $("#IdAUA").empty();
        $("#IdAUA").prop("disabled", true);
        $("#IdAUA").append('<option value=""> @TeacherMeetingResource.CargandoAreas... </option>');

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetAreasBySubmodalidadPeriodoAcademicoModulo")',
            datatype: 'json',
            data: { idSubmodalidadPeriodoAcademicoModulo },
            success: function (areas) {
                $("#IdAUA").empty();
                $.each(areas,
                    function (i,area){
                        $("#IdAUA").append('<option value="' + area.Value + '">' + area.Text + '</option>');
                    });
                $("#IdAUA").prop("disabled", false);
                },
            error: function (ex) {
                $("#IdAUA").empty();
                $("#IdAUA").append('<option value="">Error</option>');
                $("#IdAUA").prop("disabled", true);
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                    type: 'error',
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                    //confirmButtonText: 'Aceptar'
                });
            }

        });

    }


    function cargarSemanasDesdeHastaPorSMPAModulo(SMPAModuloId) {
        $("#NumDesde").empty();
        $("#NumDesde").prop("disabled", true);
        $("#NumHasta").empty();
        $("#NumDesde").prop("disabled", true);
        $("#NumDesde").append('<option value=""> @TeacherMeetingResource.CargandoSemanas... </option>');
        $("#NumHasta").append('<option value=""> @TeacherMeetingResource.CargandoSemanas... </option>');

        if (SMPAModuloId) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetWeeksByModule")',
                datatype: 'json',
                data: { IdSubmodalidadPeriodoAcademicoModulo: SMPAModuloId },
                success: function (weeks) {
                    $("#NumDesde").empty();
                    $("#NumHasta").empty();
                    $("#NumDesde").append('<option value=100>@ProfessorResource.Todas</option>');
                    $("#NumHasta").append('<option value=100>@ProfessorResource.Todas</option>');
                    $.each(weeks,
                        function (i, week) {
                            $("#NumDesde").append('<option value="' + week.Value + '">' + week.Text + '</option>');
                            $("#NumHasta").append('<option value="' + week.Value + '">' + week.Text + '</option>');
                        });
                    $("#NumDesde").prop("disabled", false);
                    $("#NumHasta").prop("disabled", false);
                },
                error: function (ex) {
                    $("#NumDesde").empty();
                    $("#NumDesde").append('<option value="">Error</option>');
                    $("#NumDesde").prop("disabled", true);
                    $("#NumHasta").empty();
                    $("#NumHasta").append('<option value="">Error</option>');
                    $("#NumHasta").prop("disabled", true);
                    swal({
                        title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                        text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                        type: 'error',
                        confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                        confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                        //confirmButtonText: 'Aceptar'
                    });
                }
            });
        }
    }


    function cargarSubAreaForArea(hasValue, idAreaUa) {
        $("#IdSAUA").empty();
        $("#IdSAUA").prop("disabled", true);
        $("#IdSAUA").append('<option value="">@ProfessorResource.CargandoSubareas</option>');

        if (hasValue === false) {

            $("#IdSAUA").empty();
            $("#IdSAUA").append('<option value="0">@ProfessorResource.Todos</option>');

        } else {

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetSubareasForArea")',
                dataType: 'json',
                data: { idAreaUnidadAcademica: idAreaUa },
                success: function (subareas) {
                    $("#IdSAUA").empty();
                    //    if (cursos.length > 1) {
                    $("#IdSAUA").empty();
                    $("#IdSAUA").append('<option value="0">@ProfessorResource.Todas</option>');
                    //     }
                    $.each(subareas,
                        function (i, subarea) {
                            $("#IdSAUA")
                                .append('<option value="' +
                                    subarea.Value +
                                    '">' +
                                    subarea.Text +
                                    '</option>');

                        });
                    $("#IdSAUA").prop("disabled", false);
                },
                error: function (ex) {
                    $("#IdCursoPeriodoAcademico").empty();
                    $("#IdCursoPeriodoAcademico").append('<option value="">Error</option>');
                    $("#IdCursoPeriodoAcademico").prop("disabled", true);
                    swal({
                        title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                        text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                        type: 'error',
                        confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                        @* confirmButtonText: '@ButtonsOptionsResource.Aceptar' *@
                        confirmButtonText: '@TeacherMeetingResource.Aceptar'
                    });
                }
            });
        }
    }

    function cargarCursosForSubarea(hasValue, idSubareaUa) {
        $("#IdCPA").empty();
        $("#IdCPA").prop("disabled", true);
        $("#IdCPA").append('<option value="">@ProfessorResource.CargandoCursos</option>');
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetAllCursosForSubarea")',
            dataType: 'json',
            data: { idSubareaUnidadAcademica: idSubareaUa },
            success: function (cursos) {
                $("#IdCPA").empty();
                //   if (cursos.length > 1) {
                $("#IdCPA").empty();
                $("#IdCPA").append('<option value="0">@ProfessorResource.Todas</option>');
                //    }

                $.each(cursos,
                    function (i, curso) {
                        $("#IdCPA")
                            .append('<option value="' +
                                curso.Value +
                                '">' +
                                curso.Text +
                                '</option>');

                    });

                //            $("#IdCursoPeriodoAcademico").prop("disabled", false);
            },
            error: function (ex) {
                $("#IdCPA").empty();
                $("#IdCPA").append('<option value="">Error</option>');
                $("#IdCPA").prop("disabled", true);
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarCursos))',
                    type: 'error',
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: '@TeacherMeetingResource.Aceptar'
                });
            }
        });
    }

    function cargarSedesForCurso(hasValue, idCPA, idSubModalidadPeriodoAcademicoModulo) {
        $("#IdSede").empty();
        $("#IdSede").prop("disabled", true);
        $("#IdSede").append('<option value="">@TeacherMeetingResource.CargandoSedes... </option>');

        if (hasValue === false) {

            $("#IdSede").empty();
            $("#IdSede").append('<option value="0">@ProfessorResource.Todos</option>');


            //              $("#IdSeccion").prop("disabled", false);

        } else {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAllSedesForCurso")',
                dataType: 'json',
                data: { idCursoPeriodoAcademico: idCPA,
                    idSubModalidadPeriodoAcademicoModulo: idSubModalidadPeriodoAcademicoModulo
                },
                success: function (sedes) {
                    $("#IdSede").empty();
                    //   if (sedes.length > 1) {
                    $("#IdSede").empty();
                    $("#IdSede").append('<option value="0">@ProfessorResource.Todas</option>');
                    //     }
                    $.each(sedes,
                        function (i, sede) {
                            $("#IdSede")
                                .append('<option value="' +
                                    sede.Value +
                                    '">' +
                                    sede.Text +
                                    '</option>');

                        });

                    //             $("#IdSeccion").prop("disabled", false);
                },
                error: function (ex) {
                    $("#IdSede").empty();
                    $("#IdSede").append('<option value="">Error</option>');
                    $("#IdSede").prop("disabled", true);
                    swal({
                        title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                        text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                        type: 'error',
                        confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                        @* confirmButtonText: '@ButtonsOptionsResource.Aceptar' *@
                            confirmButtonText: '@TeacherMeetingResource.Aceptar'
                });
        }

    });
    }

    }

    function cargarSeccionesForCursoAndSede(hasValue, idSed, idCurs, idSubmodalidadPeriodoAcademicoModulo) {
        $("#IdSeccion").empty();
        $("#IdSeccion").prop("disabled", true);
        $("#IdSeccion").append('<option value=""> @TeacherMeetingResource.CargandoSedes... </option>');


        if (hasValue === false) {

            //     $("#IdSede").empty();
            //     $("#IdSede").append('<option value="">@ProfessorResource.Todos</option>');

            $("#IdSeccion").empty();
            $("#IdSeccion").append('<option value="0">@ProfessorResource.Todos</option>');

            //              $("#IdSeccion").prop("disabled", false);

        } else {

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAllSeccionesForCursoAndSede")',
                dataType: 'json',
                data: {
                    idSede: idSed,
                    idCursoPeriodoAcademico: idCurs,
                    idSubmodalidadPeriodoAcademicoModulo: idSubmodalidadPeriodoAcademicoModulo
                },
                success: function (secciones) {
                    $("#IdSeccion").empty();
                    //       if (secciones.length > 1) {
                    $("#IdSeccion").empty();
                    $("#IdSeccion").append('<option value="0">@ProfessorResource.Todas</option>');
                    //       }
                    $.each(secciones,
                        function (i, seccion) {
                            $("#IdSeccion")
                                .append('<option value="' +
                                    seccion.Value +
                                    '">' +
                                    seccion.Text +
                                    '</option>');

                        });

                    //             $("#IdSeccion").prop("disabled", false);
                },
                error: function (ex) {
                    $("#IdSeccion").empty();
                    $("#IdSeccion").append('<option value="">Error</option>');
                    $("#IdSeccion").prop("disabled", true);
                    swal({
                        title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                        text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                        type: 'error',
                        confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                        @* confirmButtonText: '@ButtonsOptionsResource.Aceptar' *@
                            confirmButtonText: '@TeacherMeetingResource.Aceptar'
                });
        }

    });
    }

    }


    $(document).ready(function () {

        cargarSemanasDesdeHastaPorSMPAModulo($("#IdSubmodalidadPeriodoAcademicoModulo").val());
        cargarSubAreaForArea(true, $("#IdAUA").val());

        $("#IdCPA").append('<option value="0">@TeacherMeetingResource.ParaTodos</option>');
        $("#IdSede").append('<option value="0">@TeacherMeetingResource.ParaTodos</option>');
        $("#IdSeccion").append('<option value="0">@TeacherMeetingResource.ParaTodos</option>');
    });



    // EVENTS ON CHANGE



    $("#IdSubmodalidadPeriodoAcademicoModulo").change(function () {
        cargarSemanasDesdeHastaPorSMPAModulo($("#IdSubmodalidadPeriodoAcademicoModulo").val());

        function firstFunction(_callback) {
            cargarAreaforSubmodalidadPeriodoAcademicoModulo($("#IdSubmodalidadPeriodoAcademicoModulo").val());
            _callback();
        }

        function secondFunction() {
            firstFunction();
        }
        cargarSubAreaForArea(true, $("#IdAUA").val());
        cargarCursosForSubarea(false, 0);
        cargarSedesForCurso(false, 0);
        cargarSeccionesForCursoAndSede(false, 0, 0);

        return false;
    });

    $("#NumDesde").change(function () {
        if ($("#NumDesde").val() == 100) {
            $("#NumHasta").val(100);
        }

        if (parseInt($("#NumDesde").val()) > parseInt($("#NumHasta").val())) {
            $("#NumHasta").val($("#NumDesde").val());
        }
    });

    $("#NumHasta").change(function () {
        if ($("#NumHasta").val() == 100) {
            $("#NumDesde").val(100);
        }

        if (parseInt($("#NumDesde").val()) > parseInt($("#NumHasta").val())) {
            $("#NumDesde").val($("#NumHasta").val());
        }
    });

    $("#IdAUA").change(function () {

        cargarSubAreaForArea(true, $("#IdAUA").val());
        cargarCursosForSubarea(false, 0);
        cargarSedesForCurso(false, 0);
        cargarSeccionesForCursoAndSede(false, 0, 0);

        return false;
    });

    $("#IdSAUA").change(function () {

        if ($("#IdSAUA").val() == 0) {
            cargarCursosForSubarea(true, $("#IdSAUA").val());
            cargarSedesForCurso(false, 0);
            cargarSeccionesForCursoAndSede(false, 0, 0);
        }
        else {
            cargarCursosForSubarea(true, $("#IdSAUA").val());
            cargarSedesForCurso(false, 0);
            cargarSeccionesForCursoAndSede(false, 0, 0);
        }
        return false;
    });

    $("#IdCPA").change(function () {

        if ($("#IdCPA").val() == 0) {
            cargarSedesForCurso(false, 0, 0);
            cargarSeccionesForCursoAndSede(false, 0, 0);
        }
        else {
            cargarSedesForCurso(true, $("#IdCPA").val(), $("#IdSubmodalidadPeriodoAcademicoModulo").val());
            cargarSeccionesForCursoAndSede(false, 0, 0);
        }

        return false;
    });


    $("#IdSede").change(function () {
        if ($("#IdSede").val() == 0) {
            cargarSeccionesForCursoAndSede(false, 0, $("#IdCursoPeriodoAcademico").val());
        }
        else {
            cargarSeccionesForCursoAndSede(true, $("#IdSede").val(), $("#IdCPA").val(), $("#IdSubmodalidadPeriodoAcademicoModulo").val());
        }

        return false;
    });

    // DISABLE AND ENABLE

    $("#IdAUA").change(function () {
        $("#IdCPA").prop("disabled", true);
        $("#IdSeccion").prop("disabled", true);
        $("#IdSede").prop("disabled", true);

    });

    $("#IdSAUA").change(function () {
        if ($("#IdSAUA").val() == 0)
        {
            $("#IdCPA").prop("disabled", true);
            $("#IdSeccion").prop("disabled", true);
            $("#IdSede").prop("disabled", true);
        }
        else {
            $("#IdCPA").prop("disabled", false);
        }
    });

    $("#IdCPA").change(function () {

        if ($("#IdCPA").val() == 0) {
            $("#IdSeccion").prop("disabled", true)
        }

        if ($("#IdSubareaUnidadAcademica").val() == 0) {

            $("#IdSeccion").prop("disabled", true)
        }

        if ($("#IdCPA").val() > 0) {

            $("#IdSede").prop("disabled", false)
        }

        if ($("#IdSubareaUnidadAcademica").val() > 0 && $("#IdCPA").val() > 0 && $("#IdSede").val() > 0) {
            $("#IdSeccion").prop("disabled", false)
        }

    });

    $("#IdSede").change(function () {
        if ($("#IdSede").val() == 0) {
            $("#IdSeccion").prop("disabled", true)
        }
        if ($("#IdSede").val() > 0) {
            $("#IdSeccion").prop("disabled", false)
        }
    });

</script>