﻿@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.TeacherMeetingAttendanceViewModel

@{
    ViewBag.Title = TeacherMeetingResource.AsistenciadeReuniondeProfesores;
    ViewBag.Icon = "book";
    var modalidadId = Session.GetModalidadId();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Styles {
    <link href="@Url.Content("~/Areas/Report/Content/css/sweetalert.css")" rel="stylesheet" type="text/css" />
}

@section Breadcrumbs{
    <li><a href="@Url.Action("Management", "TeacherMeeting")"> @TeacherMeetingResource.AdministracionReuniondeProfesores</a></li>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
            <div class="panel-body">
                @TeacherMeetingResource.FiltrarPor:
                <a class="btn btn-primary js-showWeekForm">@(TeacherMeetingResource.Semana)s</a>
                <a class="btn btn-primary js-showDateForm">@(TeacherMeetingResource.Fecha)s</a>
            </div>

            @using (Ajax.BeginForm("TeacherMeetingAttendance", "TeacherMeeting", new AjaxOptions
            {
                HttpMethod = "POST",
                LoadingElementId = "main-loader",
                UpdateTargetId = "report-container",
            }, new { @id = "TeacherMeetingAttendanceForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.IdEscuela)
                @Html.HiddenFor(x => x.IdIdioma)
                @Html.HiddenFor(x => x.FilterWeeks)
                <div class="panel-body row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@TeacherMeetingResource.PeriodoAcademico</label>
                            @Html.DropDownListFor(x => x.IdSubmodalidadPeriodoAcademicoModulo, Model.LstSubmodalidadPeriodoAcademicoModulo, new { @class = "form-control", @required = "true", @id = "IdSubmodalidadPeriodoAcademicoModulo" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@TeacherMeetingResource.MostrarDetalledeAsistenciaPorDocente</label>
                            @Html.DropDownListFor(x => x.GetDetalle, Model.LstDetalle, new { @class = "form-control", @required = "true", @id = "Iddetalle" })
                        </div>
                    </div>


                    <div id="weekForm">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-survey">@TeacherMeetingResource.Ddesde @TeacherMeetingResource.Semana</label>
                                @Html.DropDownListFor(x => x.NumSemanaDesde, Model.LstSemanasDesde, new { @class = "form-control", @required = "true", @id = "NumDesde" })
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-survey">@TeacherMeetingResource.Hhasta @TeacherMeetingResource.Semana</label>
                                @Html.DropDownListFor(x => x.NumSemanaHasta, Model.LstSemanasHasta, new { @class = "form-control", @required = "true", @id = "NumHasta" })
                            </div>
                        </div>
                    </div>
                    <div id="dateForm">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-survey">@TeacherMeetingResource.Ddesde @TeacherMeetingResource.Fecha</label>
                                @Html.TextBoxFor(x => x.FechaDesde, "{0:dd/MM/yyyy}", new { @class = "form-control ui-date-picker", @required = "true", @id = "Inicio" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-survey">@TeacherMeetingResource.Hhasta @TeacherMeetingResource.Fecha</label>
                                @Html.TextBoxFor(x => x.FechaHasta, "{0:dd/MM/yyyy}", new { @class = "form-control ui-date-picker", @required = "true", @id = "Fin" })
                            </div>
                        </div>
                    </div>

                    @Html.PanelFooter(ProfessorResource.Generar)
                </div>
            }
        </div>

        <div class="panel">
            @Html.PanelHeaderIcon("<i class=\"fa fa-file-text\"></i> ", ProfessorResource.Document, PanelActions.Fullscreen)
            <div class="panel-body" id="report-container" style="width:100%">
                @{Html.RenderPartial("_TeacherMeetingAttendance", Model);}
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modal-not-existing" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-bar-chart contrast">&nbsp;</i>
                    <span id="modal-title"></span>
                </h4>
            </div>
            <div class="modal-body text-center">
                <i class="fa fa-3x fa-exclamation-triangle" aria-hidden="true"></i>
                <br>
                <p id="modal-body"></p>
            </div>
        </div>
    </div>
</div>

<script>

    $('#IdSubmodalidadPeriodoAcademicoModulo').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });
    $('#Iddetalle').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });
    $('#NumDesde').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });
    $('#NumHasta').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });
    $('#Inicio').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });
    $('#Fin').on('change', function () {
        $('#btnGenerateReport').attr('disabled', false);
    });


    $('#btnGenerateReport').on('click', function () {
        $(this).attr('disabled', true);
        $(this).submit();
    });
    $('#modal-not-existing').on('shown.bs.modal', function() {
        $(document).off('focusin.modal');
        $(this).data('bs.modal').options.backdrop = 'static';
    });
    $('#modal-not-existing').on('hidden.bs.modal', function () {
        $('.modal-backdrop.fade.in').remove();
        $('#btnGenerateReport').attr('disabled', false);
    });
    function cargarSemanasDesdeHastaPorSMPAModulo(SMPAModuloId) {
        $("#NumDesde").empty();
        $("#NumDesde").prop("disabled", true);
        $("#NumHasta").empty();
        $("#NumDesde").prop("disabled", true);
        $("#NumDesde").append('<option value=""> @TeacherMeetingResource.CargandoSemanas... </option>');
        $("#NumHasta").append('<option value=""> @TeacherMeetingResource.CargandoSemanas... </option>');

        if (SMPAModuloId) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetWeeksByModule")',
                datatype: 'json',
                data: { IdSubmodalidadPeriodoAcademicoModulo: SMPAModuloId },
                success: function (weeks) {
                    $("#NumDesde").empty();
                    $("#NumHasta").empty();
                    $("#NumDesde").append('<option value=100>@ProfessorResource.Todas</option>');
                    $("#NumHasta").append('<option value=100>@ProfessorResource.Todas</option>');
                    $.each(weeks,
                        function (i, week) {
                            $("#NumDesde").append('<option value="' + week.Value + '">' + week.Text + '</option>');
                            $("#NumHasta").append('<option value="' + week.Value + '">' + week.Text + '</option>');
                        });
                    $("#NumDesde").prop("disabled", false);
                    $("#NumHasta").prop("disabled", false);
                },
                error: function () {
                    $("#NumDesde").empty();
                    $("#NumDesde").append('<option value="">Error</option>');
                    $("#NumDesde").prop("disabled", true);
                    $("#NumHasta").empty();
                    $("#NumHasta").append('<option value="">Error</option>');
                    $("#NumHasta").prop("disabled", true);
                    swal({
                        title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                        text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                        type: 'error',
                        confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                        confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                    });
                }
            });
        }
    }

    $(document).ready(function () {
        $("#dateForm").hide();

        $(".js-showWeekForm").click(function () {
            $("#weekForm").show();
            $("#dateForm").hide();
            $("#FilterWeeks").val(true);
        });

        $(".js-showDateForm").click(function () {
            $("#weekForm").hide();
            $("#dateForm").show();
            $("#FilterWeeks").val(false);
        });

        $(".ui-date-picker").datepicker({
            format: "dd/mm/yyyy",
            orientation: "bottom" // add this
        });

        $("#Inicio").on("dp.change", function (e) {
            var date2 = new Date(e.date);
            $('#Inicio').val(date2.toLocaleString('es-US', { hour12: false }));
            $('#Fin').data("DateTimePicker").minDate(date2);
        });

        cargarSemanasDesdeHastaPorSMPAModulo($("#IdSubmodalidadPeriodoAcademicoModulo").val());
    });


    $("#IdSubmodalidadPeriodoAcademicoModulo").change(function () {
        cargarSemanasDesdeHastaPorSMPAModulo($("#IdSubmodalidadPeriodoAcademicoModulo").val());
    });

    $("#NumDesde").change(function () {
        if ($("#NumDesde").val() == 100) {
            $("#NumHasta").val(100);
        }

        if (parseInt($("#NumDesde").val()) > parseInt($("#NumHasta").val())) {
            $("#NumHasta").val($("#NumDesde").val());
        }
    });

    $("#NumHasta").change(function () {
        if ($("#NumHasta").val() == 100) {
            $("#NumDesde").val(100);
        }

        if (parseInt($("#NumDesde").val()) > parseInt($("#NumHasta").val())) {
            $("#NumDesde").val($("#NumHasta").val());
        }
    });


</script>