﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.TeacherMeeting.ViewMeetingMinuteViewModel
@{
    ViewBag.Title = ViewResource.Titulo;
    ViewBag.Icon = "table";
}

@section Breadcrumbs {

    <li><a href="@Url.Action("Index", "TeacherMeeting")">@CreateMeetingMinuteForMeetingResource.ConsultarActasReunion</a></li>

}

<form method="post" enctype="multipart/form-data">

    @Html.HiddenFor(x => x.IdActa)

    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-md-12">
                    <div class="example-wrap">
                        <div class="nav-tabs-vertical">
                            <ul class="nav nav-tabs margin-right-25 col-md-2" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                                <li class="active" role="presentation"><a data-toggle="tab" href="#informacionGeneralTab" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false"><i class="fa fa-info"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.InformacionGeneral</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#agendaTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa-book"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Agenda</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#participantesTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-users"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Participantes</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#detallesTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-bars "></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.DetallesReunion</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#documentosTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-cloud-upload"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Documentos</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#acuerdosTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Acuerdos</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#tareasTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-list"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Tareas</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#fotoTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-camera"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Foto</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#firmaTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-pencil-square-o"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Firma</span></a></li>
                                @if (Model.Estado != ConstantHelpers.PROFESSOR.ACTAS.ESTADOS.FINALIZADO.CODIGO)
                                {
                                    <li role="presentation" class=""><a data-toggle="tab" href="#observacionesTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-search"></i> <span class="tabhidden">@CreateMeetingMinuteForMeetingResource.Observaciones</span></a></li>
                                }
                                <li role="presentation"><a data-toggle="tab" href="#exportarTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-download"></i> <span class="tabhidden">@ButtonsOptionsResource.Exportar</span></a></li>
                            </ul>
                            <div class="tab-content padding-vertical-15  col-md-9" style="font-size: 15px;">
                                <div class="tab-pane active" id="informacionGeneralTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-info"></i> @CreateMeetingMinuteForMeetingResource.InformacionGeneral
                                    </h2>
                                    <p align="justify">
                                        <b style="font-weight: bold;">@(CreateMeetingMinuteForMeetingResource.Motivo):</b> @Model.Reunion.Motivo
                                    </p>
                                    <p align="justify">
                                        <b style="font-weight: bold;">@(CreateMeetingMinuteForMeetingResource.Fecha):</b> @Model.Reunion.Fecha.ToShortDateString()
                                    </p>
                                    <p align="justify">
                                        <b style="font-weight: bold;">@(CreateMeetingMinuteForMeetingResource.Hora):</b> @Model.Reunion.HoraInicio.ToShortTimeString() - @Model.Reunion.HoraFin.ToShortTimeString()
                                    </p>
                                    <p align="justify">
                                        <b style="font-weight: bold;">@(CreateMeetingMinuteForMeetingResource.Sede):</b> @Model.Reunion.Sede.Nombre
                                    </p>
                                    <p align="justify">
                                        <b style="font-weight: bold;">@(CreateMeetingMinuteForMeetingResource.Lugar):</b> @Model.Reunion.Lugar
                                    </p>
                                    <p align="justify">
                                        <b style="font-weight: bold;">@(CreateMeetingMinuteForMeetingResource.UnidadAcademica):</b> @Model.Reunion.UnidadAcademica.NombreEspanol
                                    </p>
                                    <p align="justify">
                                        <b style="font-weight: bold;">@TeacherMeetingResource.Nivel:</b> @Model.Reunion.Nivel
                                    </p>
                                    @if (Model.Estado != ConstantHelpers.PROFESSOR.ACTAS.ESTADOS.FINALIZADO.CODIGO && Model.puedeObservar)
                                    {
                                        <a style="margin-top: 15px; margin-bottom: 15px;" class="btn btn-primary" @Url.ModalHelperFor("_AddObservacion", "TeacherMeeting", new { Area = "Meeting", SeccionActa = "Información General", idReunion = Model.Reunion.IdReunion }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> @ViewResource.Observar</a>

                                        <table id="tblObservacionesInformacionGeneral" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                    <th style="width: 15%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.SeccionActa</th>
                                                    <th style="width: 20%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Participante</th>
                                                    <th style="width: 50%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Observacion</th>
                                                    <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.Observaciones.Count; i++)
                                                {
                                                    if (Model.Observaciones[i].observacionesActa.SeccionActa == "Información General")
                                                    {
                                                        <tr class="rowObservacionInformacionGeneral">
                                                            <td style="width: 5%; text-align: center; vertical-align: middle;">
                                                                @(i + 1)
                                                            </td>
                                                            <td style="width: 15%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.SeccionActa
                                                            </td>
                                                            <td style="width: 20%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].NomParticipante
                                                            </td>

                                                            <td style="width: 50%; text-align: left; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.Comentario
                                                            </td>

                                                            <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                                @ConstantHelpers.PROFESSOR.ACTAS.OBSERVACIONES.ESTADOS.GetEstadoObservacion(Model.Observaciones[i].observacionesActa.Estado)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                                <div class="tab-pane" id="agendaTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-book"></i> @CreateMeetingMinuteForMeetingResource.Agenda
                                    </h2>
                                    <table id="tblAgendas" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 8%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                <th style="width: 78%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Tema</th>
                                                <th style="width: 14%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.TemasReunion.Count; i++)
                                            {
                                                <tr class="rowAgenda">
                                                    <td class="tdNroAgenda" style="width: 10%; text-align: center; vertical-align: middle;">
                                                        @Model.TemasReunion[i].Numero
                                                    </td>

                                                    <td class="tdNombreAgenda" style="width: 90%; text-align: center; vertical-align: middle;">
                                                        @Model.TemasReunion[i].TemaReunion.DescripcionTemaReunion
                                                    </td>

                                                    @*<td style="width: 14%; text-align: center; vertical-align: middle;">
                                                            @Model.TemasReunion[i].Estado
                                                        </td>*@
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @if (Model.Estado != ConstantHelpers.PROFESSOR.ACTAS.ESTADOS.FINALIZADO.CODIGO && Model.puedeObservar)
                                    {
                                        <a style="margin-top: 15px; margin-bottom: 15px;" class="btn btn-primary" @Url.ModalHelperFor("_AddObservacion", "TeacherMeeting", new { Area = "Meeting", SeccionActa = "Agenda", idReunion = Model.Reunion.IdReunion }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> @ViewResource.Observar</a>
                                        <table id="tblObservacionesAgenda" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                    <th style="width: 15%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.SeccionActa</th>
                                                    <th style="width: 20%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Participante</th>
                                                    <th style="width: 50%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Observacion</th>
                                                    <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.Observaciones.Count; i++)
                                                {
                                                    if (Model.Observaciones[i].observacionesActa.SeccionActa == "Agenda")
                                                    {
                                                        <tr class="rowObservacionAgenda">
                                                            <td style="width: 5%; text-align: center; vertical-align: middle;">
                                                                @(i + 1)
                                                            </td>
                                                            <td style="width: 15%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.SeccionActa
                                                            </td>
                                                            <td style="width: 20%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].NomParticipante
                                                            </td>

                                                            <td style="width: 50%; text-align: left; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.Comentario
                                                            </td>

                                                            <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                                @ConstantHelpers.PROFESSOR.ACTAS.OBSERVACIONES.ESTADOS.GetEstadoObservacion(Model.Observaciones[i].observacionesActa.Estado)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                                <div class="tab-pane" id="participantesTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-users"></i> @CreateMeetingMinuteForMeetingResource.Participantes
                                    </h2>
                                    <table class=" table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 50%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.NombreCompleto</th>
                                                <th style="width: 40%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Cargo</th>
                                                <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Asistio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.Participantes.Count; i++)
                                            {
                                                <tr>
                                                    <td style="width: 50%; text-align: left; vertical-align: middle;">
                                                        <text>@Model.Participantes[i].NombreCompleto</text>                                                        
                                                    </td>
                                                    <td style="width: 40%; text-align: left; vertical-align: middle;">
                                                        @if (Model.Participantes[i].EsExterno)
                                                        {
                                                            <text>@Model.Participantes[i].Cargo - @Model.Participantes[i].Empresa.RazonSocial</text>
                                                        }
                                                        else
                                                        {
                                                            <text>@Model.Participantes[i].Cargo</text>

                                                        }
                                                    </td>
                                                    <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                        @Html.CheckBoxFor(m => m.Participantes[i].Asistio, new { disabled = "disabled" })
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @if (Model.Estado != ConstantHelpers.PROFESSOR.ACTAS.ESTADOS.FINALIZADO.CODIGO && Model.puedeObservar)
                                    {
                                        <a style="margin-top: 15px; margin-bottom: 15px;" class="btn btn-primary" @Url.ModalHelperFor("_AddObservacion", "TeacherMeeting", new { Area = "Meeting", SeccionActa = "Participantes", idReunion = Model.Reunion.IdReunion }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> @ViewResource.Observar</a>
                                        <table id="tblObservacionesParticipantes" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                    <th style="width: 15%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.SeccionActa</th>
                                                    <th style="width: 20%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Participante</th>
                                                    <th style="width: 50%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Observacion</th>
                                                    <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.Observaciones.Count; i++)
                                                {
                                                    if (Model.Observaciones[i].observacionesActa.SeccionActa == "Participantes")
                                                    {
                                                        <tr class="rowObservacionParticipantes">
                                                            <td style="width: 5%; text-align: center; vertical-align: middle;">
                                                                @(i + 1)
                                                            </td>
                                                            <td style="width: 15%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.SeccionActa
                                                            </td>
                                                            <td style="width: 20%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].NomParticipante
                                                            </td>

                                                            <td style="width: 50%; text-align: left; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.Comentario
                                                            </td>

                                                            <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                                @ConstantHelpers.PROFESSOR.ACTAS.OBSERVACIONES.ESTADOS.GetEstadoObservacion(Model.Observaciones[i].observacionesActa.Estado)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                                <div class="tab-pane" id="detallesTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-bars "></i> @CreateMeetingMinuteForMeetingResource.Detalles
                                    </h2>
                                    <table id="tblDetalles" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 8%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                <th style="width: 12%; text-align: center; font-weight: bold; vertical-align: middle;"># @CreateMeetingMinuteForMeetingResource.Agenda</th>
                                                <th style="width: 80%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Detalle</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.DetallesReunion.Count; i++)
                                            {
                                                <tr class="rowDetalle">
                                                    <td class="tdNroDetalle" style="width: 8%; text-align: center; vertical-align: middle;">
                                                        @Model.DetallesReunion[i].Numero
                                                    </td>

                                                    <td class="tdNroAgendaDetalle" style="width: 12%; text-align: center; vertical-align: middle;">
                                                        @Model.DetallesReunion[i].NumeroTemaReunion
                                                    </td>

                                                    <td class="tdDetallesDetalle" style="width: 80%; text-align: center; vertical-align: middle;">
                                                        @Model.DetallesReunion[i].DetalleTemaReunion.DetalleTema
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @if (Model.Estado != ConstantHelpers.PROFESSOR.ACTAS.ESTADOS.FINALIZADO.CODIGO && Model.puedeObservar)
                                    {
                                        <a style="margin-top: 15px; margin-bottom: 15px;" class="btn btn-primary" @Url.ModalHelperFor("_AddObservacion", "TeacherMeeting", new { Area = "Meeting", SeccionActa = "Detalle Reunión", idReunion = Model.Reunion.IdReunion }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> @ViewResource.Observar</a>
                                        <table id="tblObservacionesDetalleReunion" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                    <th style="width: 15%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.SeccionActa</th>
                                                    <th style="width: 20%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Participante</th>
                                                    <th style="width: 50%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Observacion</th>
                                                    <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.Observaciones.Count; i++)
                                                {
                                                    if (Model.Observaciones[i].observacionesActa.SeccionActa == "Detalle Reunión")
                                                    {
                                                        <tr class="rowObservacionDetalleReunion">
                                                            <td style="width: 5%; text-align: center; vertical-align: middle;">
                                                                @(i + 1)
                                                            </td>
                                                            <td style="width: 15%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.SeccionActa
                                                            </td>
                                                            <td style="width: 20%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].NomParticipante
                                                            </td>

                                                            <td style="width: 50%; text-align: left; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.Comentario
                                                            </td>

                                                            <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                                @ConstantHelpers.PROFESSOR.ACTAS.OBSERVACIONES.ESTADOS.GetEstadoObservacion(Model.Observaciones[i].observacionesActa.Estado)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                                <div class="tab-pane" id="documentosTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-cloud-upload"></i> @ViewResource.DocumentosAdjuntos
                                    </h2>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 8%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                <th style="width: 82%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Documento</th>
                                                <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Descargar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.RutasDocumentos.Count; i++)
                                            {
                                                <tr class="rowAcuerdo">
                                                    <td class="tdNroAcuerdo" style="width: 8%; text-align: center; vertical-align: middle;">
                                                        @(i + 1)
                                                    </td>
                                                    <td style="width: 82%; text-align: center; vertical-align: middle;">
                                                        @Model.RutasDocumentos[i].Split(new char[] { '/' }).Last()
                                                    </td>
                                                    <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                        <a class="btn" href="@Url.Action("DescargarDocumento", "TeacherMeeting", new { path = @Model.RutasDocumentos[i] })"><i class="fa fa-download" aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @if (Model.Estado != ConstantHelpers.PROFESSOR.ACTAS.ESTADOS.FINALIZADO.CODIGO && Model.puedeObservar)
                                    {
                                        <a style="margin-top: 15px; margin-bottom: 15px;" class="btn btn-primary" @Url.ModalHelperFor("_AddObservacion", "TeacherMeeting", new { Area = "Meeting", SeccionActa = "Documentos", idReunion = Model.Reunion.IdReunion }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> @ViewResource.Observar</a>
                                        <table id="tblObservacionesDocumentos" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                    <th style="width: 15%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.SeccionActa</th>
                                                    <th style="width: 20%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Participante</th>
                                                    <th style="width: 50%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Observacion</th>
                                                    <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.Observaciones.Count; i++)
                                                {
                                                    if (Model.Observaciones[i].observacionesActa.SeccionActa == "Documentos")
                                                    {
                                                        <tr class="rowObservacionDocumentos">
                                                            <td style="width: 5%; text-align: center; vertical-align: middle;">
                                                                @(i + 1)
                                                            </td>
                                                            <td style="width: 15%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.SeccionActa
                                                            </td>
                                                            <td style="width: 20%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].NomParticipante
                                                            </td>

                                                            <td style="width: 50%; text-align: left; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.Comentario
                                                            </td>

                                                            <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                                @ConstantHelpers.PROFESSOR.ACTAS.OBSERVACIONES.ESTADOS.GetEstadoObservacion(Model.Observaciones[i].observacionesActa.Estado)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>


                                <div class="tab-pane" id="acuerdosTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-tasks"></i> @CreateMeetingMinuteForMeetingResource.Acuerdos
                                    </h2>
                                    <table id="tblAcuerdos" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 8%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                <th style="width: 92%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Detalle</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.Acuerdos.Count; i++)
                                            {
                                                <tr class="rowAcuerdo">
                                                    <td class="tdNroAcuerdo" style="width: 8%; text-align: center; vertical-align: middle;">
                                                        @(i + 1)
                                                    </td>
                                                    <td style="width: 92%; text-align: center; vertical-align: middle;">
                                                        @Model.Acuerdos[i].Acuerdo.DescripcionEspanol
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @if (Model.Estado != ConstantHelpers.PROFESSOR.ACTAS.ESTADOS.FINALIZADO.CODIGO && Model.puedeObservar)
                                    {
                                        <a style="margin-top: 15px; margin-bottom: 15px;" class="btn btn-primary" @Url.ModalHelperFor("_AddObservacion", "TeacherMeeting", new { Area = "Meeting", SeccionActa = "Acuerdos", idReunion = Model.Reunion.IdReunion }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> @ViewResource.Observar</a>
                                        <table id="tblObservacionesAcuerdos" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                    <th style="width: 15%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.SeccionActa</th>
                                                    <th style="width: 20%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Participante</th>
                                                    <th style="width: 50%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Observacion</th>
                                                    <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.Observaciones.Count; i++)
                                                {
                                                    if (Model.Observaciones[i].observacionesActa.SeccionActa == "Acuerdos")
                                                    {
                                                        <tr class="rowObservacionAcuerdos">
                                                            <td style="width: 5%; text-align: center; vertical-align: middle;">
                                                                @(i + 1)
                                                            </td>
                                                            <td style="width: 15%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.SeccionActa
                                                            </td>
                                                            <td style="width: 20%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].NomParticipante
                                                            </td>

                                                            <td style="width: 50%; text-align: left; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.Comentario
                                                            </td>

                                                            <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                                @ConstantHelpers.PROFESSOR.ACTAS.OBSERVACIONES.ESTADOS.GetEstadoObservacion(Model.Observaciones[i].observacionesActa.Estado)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                                <div class="tab-pane" id="tareasTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-list"></i> @CreateMeetingMinuteForMeetingResource.Tareas
                                    </h2>
                                    <table id="tblTareas" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                <th style="width: 28%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Responsable</th>
                                                <th style="width: 32%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Detalle</th>
                                                <th style="width: 15%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Estado</th>
                                                <th style="width: 20%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.FechaPropuesta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.Tareas.Count; i++)
                                            {
                                                <tr class="rowTarea">
                                                    <td class="tdNroTarea" style="width: 5%; text-align: center; vertical-align: middle;">
                                                        @(i + 1)
                                                    </td>
                                                    <td class="tdResponsableTarea" style="width: 28%; text-align: center; vertical-align: middle;">
                                                        <ul>
                                                            @for (int j = 0; j < Model.Tareas[i].ListaResponsables.Count; j++)
                                                            {
                                                                <li>@Model.Tareas[i].ListaResponsables[j]</li>
                                                            }
                                                        </ul>
                                                    </td>
                                                    <td class="tdDetalleTarea" style="width: 32%; text-align: center; vertical-align: middle;">
                                                        @Model.Tareas[i].Tarea.DescripcionEspanol
                                                    </td>
                                                    <td class="tdEstadoTarea" style="width: 15%; text-align: center; vertical-align: middle;">
                                                        @Model.Tareas[i].Estado
                                                    </td>
                                                    <td class="tdFechaTarea" style="width: 20%; text-align: center; vertical-align: middle;">
                                                        @Model.Tareas[i].FechaPropuesta
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @if (Model.Estado != ConstantHelpers.PROFESSOR.ACTAS.ESTADOS.FINALIZADO.CODIGO && Model.puedeObservar)
                                    {
                                        <a style="margin-top: 15px; margin-bottom: 15px;" class="btn btn-primary" @Url.ModalHelperFor("_AddObservacion", "TeacherMeeting", new { Area = "Meeting", SeccionActa = "Tareas", idReunion = Model.Reunion.IdReunion }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> @ViewResource.Observar</a>
                                        <table id="tblObservacionesTareas" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                    <th style="width: 15%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.SeccionActa</th>
                                                    <th style="width: 20%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Participante</th>
                                                    <th style="width: 50%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Observacion</th>
                                                    <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.Observaciones.Count; i++)
                                                {
                                                    if (Model.Observaciones[i].observacionesActa.SeccionActa == "Tareas")
                                                    {
                                                        <tr class="rowObservacionTareas">
                                                            <td style="width: 5%; text-align: center; vertical-align: middle;">
                                                                @(i + 1)
                                                            </td>
                                                            <td style="width: 15%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.SeccionActa
                                                            </td>
                                                            <td style="width: 20%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].NomParticipante
                                                            </td>

                                                            <td style="width: 50%; text-align: left; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.Comentario
                                                            </td>

                                                            <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                                @ConstantHelpers.PROFESSOR.ACTAS.OBSERVACIONES.ESTADOS.GetEstadoObservacion(Model.Observaciones[i].observacionesActa.Estado)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>


                                <div class="tab-pane" id="fotoTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-camera"></i> @ViewResource.FotoDeLaReunion
                                    </h2>
                                    @if (!String.IsNullOrEmpty(Model.RutaFoto))
                                    {
                                        <div>
                                            <img class="img-responsive" src="@Url.Content(Model.RutaFoto)" alt="Foto de la reunión" />
                                        </div>
                                    }
                                    @if (Model.Estado != ConstantHelpers.PROFESSOR.ACTAS.ESTADOS.FINALIZADO.CODIGO && Model.puedeObservar)
                                    {
                                        <a style="margin-top: 25px; margin-bottom: 25px;" class="btn btn-primary" @Url.ModalHelperFor("_AddObservacion", "TeacherMeeting", new { Area = "Meeting", SeccionActa = "Foto", idReunion = Model.Reunion.IdReunion }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> @ViewResource.Observar</a>
                                        <table id="tblObservacionesFoto" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                    <th style="width: 15%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.SeccionActa</th>
                                                    <th style="width: 20%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Participante</th>
                                                    <th style="width: 50%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Observacion</th>
                                                    <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.Observaciones.Count; i++)
                                                {
                                                    if (Model.Observaciones[i].observacionesActa.SeccionActa == "Foto")
                                                    {
                                                        <tr class="rowObservacionFoto">
                                                            <td style="width: 5%; text-align: center; vertical-align: middle;">
                                                                @(i + 1)
                                                            </td>
                                                            <td style="width: 15%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.SeccionActa
                                                            </td>
                                                            <td style="width: 20%; text-align: center; vertical-align: middle;">
                                                                @Model.Observaciones[i].NomParticipante
                                                            </td>

                                                            <td style="width: 50%; text-align: left; vertical-align: middle;">
                                                                @Model.Observaciones[i].observacionesActa.Comentario
                                                            </td>

                                                            <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                                @ConstantHelpers.PROFESSOR.ACTAS.OBSERVACIONES.ESTADOS.GetEstadoObservacion(Model.Observaciones[i].observacionesActa.Estado)
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                                <div class="tab-pane" id="firmaTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-pencil-square-o"></i> @ViewResource.FirmaDelActa
                                    </h2>
                                    @*@if (Model.Estado != ConstantHelpers.PROFESSOR.ACTAS.ESTADOS.FINALIZADO.CODIGO)
                                        {
                                            <a style="margin-top: 25px; margin-bottom: 25px;" class="btn btn-primary" @Url.ModalHelperFor("_AddObservacion", "TeacherMeeting", new { Area = "Meeting", SeccionActa = "Firma", idReunion = Model.Reunion.IdReunion }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> Observar</a>
                                        }*@
                                    <div class="form-group text-center">
                                        <img class="img-responsive img-rounded" align="middle" alt="Firma del acta" src="@(!String.IsNullOrEmpty(Model.RutaFirma) ? Url.Content(ConstantHelpers.DEFAULT_SERVER_PATH + "/" + Model.RutaFirma) : "http://placehold.it/500?text=" + "---" )" style="margin: 0 auto 10px; max-height:300px" />
                                    </div>
                                    <div class="form-group text-center">
                                        <h4>@Model.Usuario.Apellidos, @Model.Usuario.Nombres</h4>
                                    </div>
                                </div>

                                @if (Model.Estado != ConstantHelpers.PROFESSOR.ACTAS.ESTADOS.FINALIZADO.CODIGO)
                                {
                                    <div id="observacionesTab" class="tab-pane">
                                        <h2 class="fixtitle">
                                            <i class="fa fa-search"></i> @CreateMeetingMinuteForMeetingResource.Observaciones
                                        </h2>
                                        <table id="tblObservaciones" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%; text-align: center; font-weight: bold; vertical-align: middle;">#</th>
                                                    <th style="width: 15%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.SeccionActa</th>
                                                    <th style="width: 20%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Participante</th>
                                                    <th style="width: 50%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Observacion</th>
                                                    <th style="width: 10%; text-align: center; font-weight: bold; vertical-align: middle;">@CreateMeetingMinuteForMeetingResource.Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.Observaciones.Count; i++)
                                                {
                                                    <tr class="rowObservacion">
                                                        <td style="width: 5%; text-align: center; vertical-align: middle;">
                                                            @(i + 1)
                                                            @Html.HiddenFor(x => x.Observaciones[i].Numero)
                                                        </td>
                                                        <td style="width: 15%; text-align: center; vertical-align: middle;">
                                                            @Model.Observaciones[i].observacionesActa.SeccionActa
                                                            @Html.HiddenFor(x => x.Observaciones[i].observacionesActa.SeccionActa)
                                                        </td>
                                                        <td style="width: 20%; text-align: center; vertical-align: middle;">
                                                            @Model.Observaciones[i].NomParticipante
                                                            @Html.HiddenFor(x => x.Observaciones[i].NomParticipante)
                                                        </td>

                                                        <td style="width: 50%; text-align: left; vertical-align: middle;">
                                                            @Model.Observaciones[i].observacionesActa.Comentario
                                                            @Html.HiddenFor(x => x.Observaciones[i].observacionesActa.Comentario)
                                                        </td>

                                                        <td style="width: 10%; text-align: center; vertical-align: middle;">
                                                            @ConstantHelpers.PROFESSOR.ACTAS.OBSERVACIONES.ESTADOS.GetEstadoObservacion(Model.Observaciones[i].observacionesActa.Estado)
                                                            @Html.HiddenFor(x => x.Observaciones[i].observacionesActa.Estado)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }


                                <div class="tab-pane" id="exportarTab" role="tabpanel">
                                    <h2 class="fixtitle">
                                        <i class="fa fa-download"></i> @ViewResource.ExportarElActa
                                    </h2>
                                    <div class="form-group text-center">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn dropdown-toggle btn btn-dark" id="exampleGroupDrop1" data-toggle="dropdown" aria-expanded="false">
                                                @ButtonsOptionsResource.Exportar
                                                &nbsp;&nbsp;<i class="fa fa-download">&nbsp;</i><span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="exampleGroupDrop1" role="menu" style="">
                                                <li role="presentation"><a href="@Url.Action("GetActaPdf", "TeacherMeeting", new { Area = ConstantHelpers.AREAS.MEETING, Id = Model.IdActa })" role="menuitem"><i class="fa fa-file-pdf-o"> </i> PDF</a></li>
                                                <li role="presentation"><a href="@Url.Action("GetActaRtf", "TeacherMeeting", new { Area = ConstantHelpers.AREAS.MEETING, Id = Model.IdActa })" role="menuitem"><i class="fa fa-file-word-o"></i> RTF</a></li>
                                            </ul>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Estado != ConstantHelpers.PROFESSOR.ACTAS.ESTADOS.FINALIZADO.CODIGO && Model.puedeObservar)
    {
        <div class="panel">
            <div class="panel-body container-fluid" style="text-align: center;">
                <button type="submit" class="btn btn-primary btn-md"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;@ViewResource.GuardarObservaciones</button>
            </div>
        </div>
    }
</form>

<script src="~/Content/vendor/jquery/jquery.min.js"></script>
@section Scripts {


    <script>
        var globalObservaciones = 1;
    </script>
}