﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.IndexComentarios
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.ConfigCommentViewModel

@{
    ViewBag.Title = IndexComentariosResource.ConfiguracionDeComentarios;
}

@section Styles {
    @Html.Content("css/table-styles.css", ConstantHelpers.AREAS.RUBRIC)
}

@section Breadcrumbs{
}

<div class="panel">
    <div class="panel-body container-fluid">
        
        <table class="redTable">
            <thead>
                <tr>
                    <th>@IndexComentariosResource.Evaluador</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var eval in Model.Evaluadores)
                {

                    <tr>
                        <td>@eval</td>
                        <td>@Html.CheckBox("canComment", false)</td>
                        <td>@Html.CheckBox("canComment", false)</td>
                        <td>@Html.CheckBox("canComment", false)</td>
                        <td>@Html.CheckBox("canComment", false)</td>
                        <td>@Html.CheckBox("canComment", false)</td>
                        <td>@Html.CheckBox("canComment", false)</td>
                        <td>@Html.CheckBox("canComment", false)</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
