﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingCommitte
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteParticipantViewModel

@{
    var noTempId = string.IsNullOrWhiteSpace(Model.TempId);
}

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">
                <i class="fa fa-binoculars contrast">&nbsp;</i>
                @AddEditMeetingCommitteResource.ParticipantesExternos
            </h4>
        </div>
        <div class="modal-body" style="padding-top:0;">
            @using (Ajax.BeginForm("AddParticipant", new AjaxOptions
            {
                UpdateTargetId = noTempId ? "tbody-participantes" : string.Format("tr-{0}", Model.TempId),
                InsertionMode = noTempId ? InsertionMode.InsertAfter : InsertionMode.ReplaceWith,
                OnSuccess = "closeModal();ordenarIndices('tbody-participantes');",
                HttpMethod = "POST"
            }))
            {
                @Html.HiddenFor(m => m.IdReunion)
                <div class="panel-body" style="padding-top:0;">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-2">Nombre:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control", @maxlength = 100 })
                                @Html.ValidationMessageFor(m => m.Nombres)
                            </div>
                            <label class="col-md-2">Cargo:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Cargo, new { @class = "form-control", @maxlength = 50 })
                                @Html.ValidationMessageFor(m => m.Cargo)
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-2">Email:</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Correo, new { @class = "form-control", @maxlength = 50, @type = "email" })
                                @Html.ValidationMessageFor(m => m.Correo)
                            </div>
                            <label class="col-md-2">Empresa:</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.IdEmpresa, Model.Empresas, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.IdEmpresa)
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row pull-right">
                        <button type="submit" class="btn btn-primary">@LayoutResource.Agregar</button>
                    </div>
                </div>
            }
            <div class="panel-group">
                <div class="panel-heading" id="exampleHeadingEmp" style="background-color:#e2dfdf;">
                    <a class="panel-title" data-toggle="collapse" href="#exampleCollapseEmp" aria-controls="exampleCollapseEmp" aria-expanded="false" style="text-align:left;">
                        <h4><i class="fa fa-briefcase"></i> @AddEditMeetingCommitteResource.RegistrarEmpresa</h4>
                    </a>
                </div>
                <div class="panel-collapse collapse" id="exampleCollapseEmp" aria-labelledby="exampleHeadingEmp" role="tabpanel">
                    @using (Ajax.BeginForm("CrearEmpresa", "Meeting", null, new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnSuccess = "actualizarComboEmpresas"
                    }, new { @id = "frmEmpresa" }))
                    {
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2">Razón Social:</label>
                                    <div class="col-md-4">
                                        @Html.TextBox("Razon", "", new { @class = "form-control", @maxlength = 100 })
                                        @Html.ValidationMessage("Razon")
                                    </div>
                                    <label class="col-md-2">RUC:</label>
                                    <div class="col-md-4">
                                        @Html.TextBox("RUC", "", new { @class = "form-control", @maxlength = 11 })
                                        @Html.ValidationMessage("RUC")
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2">Email Contacto:</label>
                                    <div class="col-md-4">
                                        @Html.TextBox("Email", "", new { @class = "form-control", @maxlength = 100, @type = "email" })
                                        @Html.ValidationMessage("Email")
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row pull-right">
                                <button type="submit" class="btn btn-primary" id="btnCrearEmpresa">@ButtonsOptionsResource.Guardar</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    parseForm();

    $('#IdEmpresa').rules('add', {
        required: true,
        messages: {
            required: '@DetailResource.RequiredEmpresa'
        }
    })

    $('#frmEmpresa').validate({
        rules: {
            Razon: 'required',
            RUC: 'required',
            Email: {
                required: true,
                email: true
            }
        },
        messages: {
            Razon: '@DetailResource.RequiredRazonSocial',
            RUC: '@DetailResource.RequiredRUC',
            Email: {
                required: '@DetailResource.RequiredCorreo',
                email: '@DetailResource.EmailAddressCorreo'
            }
        }
    })

    function actualizarComboEmpresas(data) {
        var empresas = $('#IdEmpresa');
        empresas.html('');
        empresas.append('<option></option>');
        $(data.lista).each(function (i, e) {
            empresas.append('<option value=' + e.Value + '>' + e.Text + '</option>');
        });
        $('#frmEmpresa')[0].reset();
        $('#frmEmpresa').data('validator').resetForm()
    }
</script>