﻿@using UPC.CA.ABET.Presentation.Resources.Views.Shared   
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model List<UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteOrganizatorViewModel>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">
                <i class="fa fa-binoculars contrast">&nbsp;</i>
                Agregar Organizador
            </h4>
        </div>
        @using (Ajax.BeginForm(new AjaxOptions
        {
            UpdateTargetId = "tbody-organizadores",
            InsertionMode = InsertionMode.InsertAfter,
            OnSuccess = "closeModal();ordenarIndices('tbody-organizadores');",
            HttpMethod = "POST"
        }))
        {
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@DetailResource.Nombre</th>
                            <th>@DetailResource.Cargo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr id-docente="@Model[i].IdDocente">
                                <td>
                                    @if (Model[i].UsuarioEsOrganizador)
                                    {
                                        <input type="checkbox" checked disabled />
                                        @Html.HiddenFor(m => m[i].Seleccionar)
                                    }
                                    else
                                    {
                                        @Html.CheckBoxFor(m => m[i].Seleccionar)
                                    }
                                    @Html.HiddenFor(m => m[i].IdPersona)
                                    @Html.HiddenFor(m => m[i].Nombres)
                                    @Html.HiddenFor(m => m[i].Descripcion)
                                    @Html.HiddenFor(m => m[i].Asistio)
                                    @Html.HiddenFor(m => m[i].IdDocente)
                                    @Html.HiddenFor(m => m[i].IdUnidadAcademicaResponsable)
                                </td>
                                <td>@Model[i].Nombres</td>
                                <td>@Model[i].Descripcion</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @LayoutResource.Cancelar</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>@LayoutResource.Aceptar</button>
            </div>
        }
    </div>
</div>

<script>
    $('#tbody-organizadores tr').each(function (i, e) {
        $('.modal-body [id-docente=' + e.getAttribute('id-docente') + ']').remove();
    })
    $('.modal-body tbody tr').each(function (i, e) {
        $(e).find('input').each(function (j, input) {
            input.id = input.id.replace(/[0-9]/, i);
            input.name = input.name.replace(/[0-9]/, i);
        });
    })
</script>