﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteCommentViewModel

@{
    var noTempId = string.IsNullOrWhiteSpace(Model.TempId);
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">
                <i class="fa fa-binoculars contrast">&nbsp;</i>
                Agregar Comentario
            </h4>
        </div>
        @using (Ajax.BeginForm(new AjaxOptions
        {
            UpdateTargetId = noTempId ? "tbody-comentarios" : string.Format("tr-{0}", Model.TempId),
            InsertionMode = noTempId ? InsertionMode.InsertAfter : InsertionMode.ReplaceWith,
            OnSuccess = "closeModal();ordenarIndices('tbody-comentarios');",
            HttpMethod = "POST"
        }))
        {
            @Html.HiddenFor(m => m.IdComentario)
            @Html.HiddenFor(m => m.IdReunion)
            @Html.HiddenFor(m => m.TempId)
            @Html.HiddenFor(m => m.Participante)
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Selecciona un participante</label>
                        @*<select id="@Html.IdFor(m => m.TempIdParticipante)" name="@Html.NameFor(m => m.TempIdParticipante)" class="form-control"></select>*@
                        @Html.DropDownListFor(m => m.TempIdParticipante, new List<SelectListItem>(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TempIdParticipante)
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Criticidad</label>

                            @Html.DropDownListFor(x => x.Criticidad, new SelectList(Model.LstCriticidad, "NombreEspanol", "NombreEspanol")
                  , new
                  {
                      @class = "form-control select2-select"

                  })
                            @Html.ValidationMessageFor(x => x.Criticidad)

                    </div>
                </div><br />
                <div class="row">
                    <div class="col-xs-12">
                        <label class="control-label">Escriba su comentario a continuación</label>
                        @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", @rows = 7 })
                        @Html.ValidationMessageFor(m => m.Descripcion)
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @LayoutResource.Cancelar</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>@LayoutResource.Aceptar</button>
            </div>
        }
    </div>
</div>

<script>
    parseForm();

    var participantes = $('#@Html.IdFor(m => m.TempIdParticipante)');
    participantes.append('<option></option>');

    var participanteConComentario = [];
    $('#tbody-comentarios tr').each(function (i, e) {
        participanteConComentario.push(e.getAttribute('temp-id-participante'));
    });

    $('#tbody-participantes tr').each(function (i, e) {
        var id = e.getAttribute('id').replace('tr-', '');
        console.log(id);
        console.log(participanteConComentario.indexOf(id));
        if (participanteConComentario.indexOf(id) === -1) {
            participantes.append('<option value="' + id.replace('tr-', '') + '">' + $(e).find('td:first').text() + '</option>');
        }
    })

    // cargar datos para editar
    var trComment = $('#tr-@Model.TempId');
    if (trComment.length) {
        var tempIdParticipante = trComment.attr('temp-id-participante').replace('tr-', ''),
            nombreParticipante = trComment.find('td:first').text(),
            comentario = trComment.find('td:nth-child(2)').text();


        participantes.html('');
        participantes.append('<option value="' + tempIdParticipante + '" selected>' + nombreParticipante + '</option>').attr('disabled', true);

        participantes.parent().append('<input type=hidden id=@Html.IdFor(m => m.TempIdParticipante) name=@Html.NameFor(m => m.TempIdParticipante) value=' + tempIdParticipante + '/>')
        participantes.attr('id', '_temp');
        participantes.attr('name', '_temp');
        
        $('#Participante').val(nombreParticipante);
        $('#Descripcion').val(comentario);
    }

    $('#TempIdParticipante').change(function () {
        $('#Participante').val($(this).find(':selected').text());
    })
</script>