﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteViewModel

<h2 class="fixtitle">
    <i class="fa fa-bars"></i> @DetailResource.DetalleReunion
</h2>
@if (Model.IsEditing)
{
    @Html.TextAreaFor(m => m.DetalleReunion, new { @class = "form-control", @data_plugin = "summernote" })
}
else
{
    if (!string.IsNullOrWhiteSpace(Model.DetalleReunion))
    {
        <p>@Html.Raw(Model.DetalleReunion)</p>
    }
}