﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteViewModel

@{
    var existeFoto = !string.IsNullOrWhiteSpace(Model.RutaFoto);
}

<h2 class="fixtitle">
    <i class="fa fa-camera"></i> @DetailResource.Foto
</h2>
@if (Model.IsEditing)
{
    @Html.TextBoxFor(m => m.Foto, new { @type = "file", accept = ".bmp,.gif,.jpg,.png,.svg" })
}
<hr />
<h4>Foto actual</h4>
<p id="texto-sin-imagen" @(existeFoto ? "class=hide" : string.Empty)>Adjunte una foto.</p>
<img id="foto-reunion" src="@(existeFoto ? Url.Content(Model.RutaFoto) : "#")" alt="Foto de la reunión" @(!existeFoto ? "class=hide" : string.Empty) style="max-width: 100%;" />
<h4>Descripción</h4>
@if (Model.IsEditing)
{
    @Html.TextAreaFor(m => m.DescripcionFoto, new { @class = "form-control", @data_plugin = "summernote", @data_plugin_options = "{height: 150}" })
}
else
{
    if (!string.IsNullOrWhiteSpace(Model.DescripcionFoto))
    {
        <p>@Html.Raw(Model.DescripcionFoto)</p>
    }
}