﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteViewModel

<h2 class="fixtitle">
    <i class="fa fa-comment"></i> @DetailResource.Comentario
</h2>
@if (Model.IsEditing)
{
    <a id="lnkAgregarComentario" class="btn btn-primary" href="@Url.Action("AddComment", new { idReunion = Model.IdReunion })" dat data-ajax="true" data-ajax-mode="replace" data-ajax-update="#custom-modal" data-ajax-success="openModal();">
        <i class="fa fa-plus contrast">&nbsp;</i>
        Agregar
    </a>
}
<table class="table table-bordered" style="margin-bottom: 75px !important;">
    <thead>
        <tr>
            <th>@DetailResource.Nombre</th>
            <th>@DetailResource.Criticidad</th>
            <th>@DetailResource.Comentario</th>
            @if (Model.IsEditing)
            {
                <th>@DetailResource.Opciones</th>
            }
        </tr>
    </thead>
    <tbody id="tbody-comentarios">
        @{ Html.RenderPartial("_ListComments", Model); }
    </tbody>
</table>