﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteViewModel

<h2 class="fixtitle">
    <i class="fa fa-info"></i> @DetailResource.InformacionGeneral
</h2>
@if (Model.IsEditing)
{
    <div class="row">
        <div class="form-group col-sm-12 col-md-6">
            <label class="col-sm-12 control-label">@DetailResource.Fecha</label>
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="icon wb-calendar" aria-hidden="true"></i>
                    </span>
                    @Html.TextBoxFor(m => m.FechaReunion, new { @class = "form-control input-date", @data_plugin = "datepicker" })
                </div>
            </div>
            <div class="col-sm-12">
                @Html.ValidationMessageFor(m => m.FechaReunion)
            </div>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <label class="col-sm-12 control-label">@DetailResource.Semana</label>
            <div class="col-sm-12" id="semana">@Model.Semana</div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12 col-md-6">
            <label class="col-sm-12 control-label">@DetailResource.HoraInicio</label>
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="icon wb-time" aria-hidden="true"></i>
                    </span>
                    @Html.TextBoxFor(m => m.HoraInicioReunion, new { @class = "form-control input-hour", @data_plugin = "clockpicker", @data_autoclose = true })
                </div>
            </div>
            <div class="col-sm-12">
                @Html.ValidationMessageFor(m => m.HoraInicioReunion)
            </div>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <label class="col-sm-12 control-label">@DetailResource.HoraFin</label>
            <div class="col-sm-12">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="icon wb-time" aria-hidden="true"></i>
                    </span>
                    @Html.TextBoxFor(m => m.HoraFinReunion, new { @class = "form-control input-hour", @data_plugin = "clockpicker", @data_autoclose = true })
                </div>
            </div>
            <div class="col-sm-12">
                @Html.ValidationMessageFor(m => m.HoraFinReunion)
            </div>
        </div>
    </div>
    <div class="row">
        @Html.FormGroup(DetailResource.Sede, Html.DropDownListFor(m => m.IdSede, Model.Sedes, "Seleccione", new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => m.IdSede))
        @Html.FormGroup(DetailResource.Lugar, Html.TextBoxFor(m => m.LugarReunion, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => m.LugarReunion))
    </div>
    <div class="row">
        @Html.FormGroup(DetailResource.Carrera, Html.DropDownListFor(m => m.IdUnidadAcademica, Model.UnidadesAcademicas, "Seleccione", new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => m.IdUnidadAcademica))
        @Html.FormGroup(DetailResource.Motivo, Html.TextAreaFor(m => m.Motivo, new { @class = "form-control", @rows = 5 }), ValidateMessage: Html.ValidationMessageFor(m => m.Motivo))
    </div>
}
else
{
    <p align="justify">
        <b style="font-weight: bold;">@DetailResource.Motivo:</b> @Model.Motivo
    </p>
    <p align="justify">
        <b style="font-weight: bold;">@DetailResource.Fecha:</b> @Model.FechaReunion
    </p>
    <p align="justify">
        <b style="font-weight: bold;">@DetailResource.Hora:</b> @Model.HoraInicioReunion - @Model.HoraFinReunion
    </p>
    <p align="justify">
        <b style="font-weight: bold;">@DetailResource.Sede:</b> @Model.Sede
    </p>
    <p align="justify">
        <b style="font-weight: bold;">@DetailResource.Lugar:</b> @Model.LugarReunion
    </p>
    <p align="justify">
        <b style="font-weight: bold;">@DetailResource.UnidadAcademica:</b> @Model.UnidadAcademica
    </p>
    <p align="justify">
        <b style="font-weight: bold;">@DetailResource.Semana:</b> @Model.Semana
    </p>
}