﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteViewModel

   <h2 class="fixtitle">
        <i class="fa fa-download"></i> Exportar Acta de Comite Consultivo
    </h2>
    <div class="form-group text-center">
        <div class="btn-group" role="group">
            <button type="button" class="btn dropdown-toggle btn btn-dark" id="exampleGroupDrop1" data-toggle="dropdown" aria-expanded="false">
                @ButtonsOptionsResource.Exportar
                &nbsp;&nbsp;<i class="fa fa-download">&nbsp;</i><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="exampleGroupDrop1" role="menu" style="">
                <li role="presentation"><a href="@Url.Action("GetActaPdf", "MeetingComitteMinute", new { Area = ConstantHelpers.AREAS.MEETING, Id = Model.IdActa })" role="menuitem"><i class="fa fa-file-pdf-o"> </i> PDF</a></li>
                <li role="presentation"><a href="@Url.Action("GetActaRtf", "MeetingComitteMinute", new { Area = ConstantHelpers.AREAS.MEETING, Id = Model.IdActa })" role="menuitem"><i class="fa fa-file-word-o"></i> RTF</a></li>
            </ul>                                                               
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>



