﻿@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteViewModel

<h2 class="fixtitle">
    <i class="fa fa-users"></i> @DetailResource.Organizadores
</h2>
@{
    var parametrosAgregarOrganizador = new { idSede = Model.IdSede, idPeriodoAcademico = Model.IdPeriodoAcademico };
}
@if (Model.IsEditing)
{
    <a id="lnkAgregarOrganizador" class="btn btn-primary" href="@Url.Action("AddOrganizator", parametrosAgregarOrganizador)" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#custom-modal" data-ajax-success="openModal();">
        <i class="fa fa-plus contrast">&nbsp;</i>
        Agregar
    </a>
}
<table class="table table-bordered" style="margin-bottom: 75px !important;">
    <thead>
        <tr>
            <th>@DetailResource.Nombre</th>
            <th>@DetailResource.Cargo</th>
            <th class="text-center">@DetailResource.Asistio</th>
            @if (Model.IsEditing)
            {
                <th>@DetailResource.Opciones</th>
            }
        </tr>
    </thead>
    <tbody id="tbody-organizadores">
        @{ Html.RenderPartial("_ListOrganizators", Model); }
    </tbody>
</table>