﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteViewModel

<h2 class="fixtitle">
    <i class="fa fa-info"></i> @DetailResource.Objetivo
</h2>
@if (Model.IsEditing)
{
    @Html.TextAreaFor(m => m.Objetivo, new { @class = "form-control", @data_plugin = "summernote" })
}
else
{
    if (!string.IsNullOrWhiteSpace(Model.Objetivo))
    {
        <p>@Html.Raw(Model.Objetivo)</p>
    }
}