﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteViewModel

<h2 class="fixtitle">
    <i class="fa fa-users"></i> @DetailResource.Participantes
</h2>
@if (Model.IsEditing)
{
    <a id="lnkAgregarParticipant" class="btn btn-primary" href="@Url.Action("AddParticipant", new { idReunion = Model.IdReunion })" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#custom-modal" data-ajax-success="openModal();"> @*data-toggle="modal" data-target="#custom-modal"*@
        <i class="fa fa-plus contrast">&nbsp;</i>
        Agregar
    </a>
}
<table class="table table-bordered" style="margin-bottom: 75px !important;">
    <thead>
        <tr>
            <th>@DetailResource.Nombre</th>
            <th>@DetailResource.Empresa</th>
            <th>@DetailResource.Cargo</th>
            <th class="text-center">@DetailResource.Asistio</th>
            @if (Model.IsEditing)
            {
                <th>@DetailResource.Opciones</th>
            }
        </tr>
    </thead>
    <tbody id="tbody-participantes">
        @{ Html.RenderPartial("_ListParticipants", Model); }
    </tbody>
</table>
