﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteViewModel

<h2 class="fixtitle">
    <i class="fa fa-tasks"></i> @DetailResource.Agenda
</h2>
@if (Model.IsEditing)
{
    @Html.TextAreaFor(m => m.Agenda, new { @class = "form-control", @data_plugin = "summernote" })
}
else
{
    if (!string.IsNullOrWhiteSpace(Model.Agenda))
    {
        <p>@Html.Raw(Model.Agenda)</p>
    }
}