﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteViewModel

@for (int i = 0; i < Model.Organizadores.Count; i++)
{
    <tr id-docente="@Model.Organizadores[i].IdDocente">
        <td>@Model.Organizadores[i].Nombres</td>
        <td>@Model.Organizadores[i].Descripcion</td>
        <td class="text-center">
            @if (Model.IsEditing)
            {
                if (Model.Organizadores[i].UsuarioEsOrganizador)
                {
                    <input type="checkbox" checked disabled />
                    @Html.HiddenFor(m => m.Organizadores[i].Asistio)
                }
                else
                {
                    @Html.CheckBoxFor(m => m.Organizadores[i].Asistio, Model.IsEditing ? null : new { @disabled = true })
                }
            }
            else
            {
                @(Model.Organizadores[i].Asistio ? "Sí" : "No")
            }
            
        </td>
        @if (Model.IsEditing)
        {
            <td>
                @Html.HiddenFor(m => m.Organizadores[i].IdPersona)
                @Html.HiddenFor(m => m.Organizadores[i].Nombres)
                @Html.HiddenFor(m => m.Organizadores[i].Descripcion)
                @Html.HiddenFor(m => m.Organizadores[i].IdDocente)
                @Html.HiddenFor(m => m.Organizadores[i].IdUnidadAcademicaResponsable)
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" @(Model.Organizadores[i].UsuarioEsOrganizador ? "disabled" : "")>
                        <span class="col-sm-hidden">
                            @LayoutResource.Opciones
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a data-ajax="true" data-ajax-method="GET" data-ajax-update="#custom-modal" data-ajax-success="openModal();" href="@Url.Action("RemoveOrganizator", new { id = Model.Organizadores[i].IdDocente })">
                                <i aria-hidden="true" class="fa fa-trash"></i>
                                Quitar
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        }
    </tr>
}