﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteViewModel


@for (int i = 0; i < Model.Participantes.Count; i++)
{
    var tempId = Model.Participantes[i].TempId = Guid.NewGuid().ToString();
    var idParticipante = Model.Participantes[i].IdPersona;
    <tr id="tr-@tempId" id-participante="@idParticipante" temp-id="@tempId">
        <td>@Model.Participantes[i].Nombres</td>
        <td>@Model.Participantes[i].RazonSocial</td>
        <td>@Model.Participantes[i].Cargo</td>
        <td class="text-center">
        @if (Model.IsEditing)
        {
            @Html.CheckBoxFor(m => m.Participantes[i].Asistio, Model.IsEditing ? null : new { @disabled = true })
        }
        else
        {
            @(Model.Participantes[i].Asistio ? "Sí" : "No")
        }
        </td>
        @if (Model.IsEditing)
        {
            <td>
                @Html.HiddenFor(m => m.Participantes[i].IdPersona)
                @Html.HiddenFor(m => m.Participantes[i].IdEmpresa)
                @Html.HiddenFor(m => m.Participantes[i].TempId)
                @Html.HiddenFor(m => m.Participantes[i].Nombres)
                @Html.HiddenFor(m => m.Participantes[i].RazonSocial)
                @Html.HiddenFor(m => m.Participantes[i].Cargo)
                @Html.HiddenFor(m => m.Participantes[i].Correo)
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="col-sm-hidden">
                            @LayoutResource.Opciones
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#custom-modal" data-ajax-success="openModal();" href="@Url.Action("AddParticipant", new { idReunion = Model.IdReunion, idParticipanteReunion = idParticipante, tempId = tempId })">
                                <i aria-hidden="true" class="fa fa-pencil">
                                </i> @LayoutResource.Editar
                            </a>
                        </li>
                        <li role="presentation">
                            <a data-ajax="true" data-ajax-method="GET" data-ajax-update="#custom-modal" data-ajax-success="openModal();" href="@Url.Action("RemoveParticipant", new { id = tempId })">
                                <i aria-hidden="true" class="fa fa-trash"></i>
                                Quitar
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        }
    </tr>
}