﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteViewModel

@for (int i = 0; i < Model.Comentarios.Count; i++)
{
    var tempId = Guid.NewGuid();
    var tempIdParticipante = Model.Comentarios[i].TempIdParticipante;
    var idComentario = Model.Comentarios[i].IdComentario;
    <tr id="tr-@tempId" temp-id-participante="@tempIdParticipante" id-participante="@Model.Comentarios[i].IdParticipante">
        <td>@Model.Comentarios[i].Participante</td>
        <td>@Model.Comentarios[i].Criticidad</td>
        <td>@Model.Comentarios[i].Descripcion</td>
        @if (Model.IsEditing)
        {
            <td>
                @Html.HiddenFor(m => m.Comentarios[i].IdComentario)
                @Html.HiddenFor(m => m.Comentarios[i].TempIdParticipante, new { @id_participante = true })
                @Html.HiddenFor(m => m.Comentarios[i].Descripcion)
                @Html.HiddenFor(m => m.Comentarios[i].Criticidad)
                @Html.HiddenFor(m => m.Comentarios[i].Participante)
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="col-sm-hidden">
                            @LayoutResource.Opciones
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#custom-modal" data-ajax-success="openModal();" href="@Url.Action("AddComment", new { idReunion = Model.IdReunion, idComentario = idComentario, tempId = tempId })">
                                <i aria-hidden="true" class="fa fa-pencil">
                                </i> @LayoutResource.Editar
                            </a>
                        </li>
                        <li role="presentation">
                            <a data-ajax="true" data-ajax-method="GET" data-ajax-update="#custom-modal" data-ajax-success="openModal();" href="@Url.Action("RemoveComment", new { id = tempId })">
                                <i aria-hidden="true" class="fa fa-trash"></i>
                                Quitar
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        }
    </tr>
}