﻿@using PagedList
@using PagedList.Mvc
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute

@model IPagedList<UPC.CA.ABET.Models.Acta>

@{
    var idUsuario = Session.GetDocenteId();
}

<table id="tblResultados" class="table table-striped table-hover table-highlight table-checkable" data-info="true" data-length-change="true" data-paginate="true">
    <thead>
        <tr>
            <th>@DetailResource.Fecha</th>
            <th>@DetailResource.Sede</th>
            <th>@DetailResource.Motivo</th>
            <th>@Filtros.Area</th>
            <th>@Filtros.Estado</th>
            <th>@Filtros.Opciones</th>
        </tr>
    </thead>
    @foreach (var item in Model)
	{
		 <tr>
             <td>@item.Reunion.Fecha.ToString("dd/MM/yyyy")</td>
             <td>@item.Reunion.PreAgenda.Sede.Nombre</td>
             <td>@item.Reunion.PreAgenda.Motivo</td>
             <td>@item.Reunion.PreAgenda.UnidadAcademica.NombreEspanol</td>
             <td>
                 <label>@item.Estado</label>
             </td>
            <td>
                <div class="btn-group  display-table-cell cell-options vertical-align-top pull-right" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="col-sm-hidden">
                            Opciones
                        </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a href="@Url.Action("Detail", new { idActa = item.IdActa })">
                                <i aria-hidden="true" class="fa fa-eye"></i>
                                @ButtonsOptionsResource.Visualizar
                            </a>
                        </li>
                        @if (item.Reunion.IdDocente == idUsuario)
                        {
                            <li role="presentation">
                                <a href="@Url.Action("Detail", new { idActa = item.IdActa, isEditing = true })">
                                    <i aria-hidden="true" class="fa fa-pencil"></i>
                                    @ButtonsOptionsResource.Editar
                                </a>
                            </li>
                        }
                    </ul>
                </div>
           </td>
         </tr>
	}
</table>
<div class="row">
    <div class="col-xs-12-text-right">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>