﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteParticipantViewModel

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">
                <i class="fa fa-users contrast">&nbsp;</i>
                @RemoveParticipantResource.QuitarParticipante
            </h4>
        </div>
        @using (Ajax.BeginForm(new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "custom-modal"
        }))
        {
            @Html.HiddenFor(m => m.IdPersona)
            @Html.HiddenFor(m => m.TempId)
            <div class="modal-body">
                <p>
                    @RemoveParticipantResource.Pregunta1
                    <br />
                    @RemoveParticipantResource.Pregunta2
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @LayoutResource.Cancelar</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>@LayoutResource.Aceptar</button>
            </div>
        }


    </div>
</div>
@if (ViewBag.Quitar != null && (bool)ViewBag.Quitar == true)
{
    <script>
        closeModal();
        $('#tr-@Model.TempId,[temp-id-participante="tr-@Model.TempId"]').remove();
        ordenarIndices('tbody-participantes');
    </script>
}