﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.MeetingComitteMinuteViewModel
@{
    ViewBag.Title = string.Format("{0} {1}", Model.IsEditing ? (Model.IdActa == 0 ? DetailResource.Crear : DetailResource.Editar) : DetailResource.Visualizar, DetailResource.ActaReunion);
    ViewBag.Icon = "table";
}

@section Styles {
    <link href="@Url.Content("~/Content/vendor/summernote/summernote.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/vendor/clockpicker/clockpicker.min.css")" rel="stylesheet" />
    <style>
        a.btn {
            margin-bottom: 15px;
        }
        label.error{
            color: red;
        }
        input.error,
        select.error{
            border-color: red;
        }
    </style>
    <style>
        @@media(min-width: 992px) {
            .fix-space{
                padding-left: 35px !important;
            }
            .table{
                width: 92% !important;
            }
        }
    </style>
}

@section Breadcrumbs {
    <li>@Html.ActionLink(DetailResource.ConsultarActasReunion, "Index")</li>
}


<div class="modal fade" tabindex="-1" role="dialog" id="custom-modal">
    
</div>

@using (Html.BeginForm("Detail", "MeetingComitteMinute", FormMethod.Post, new { @id = "frm-detalle", @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.IdActa)
    @Html.HiddenFor(m => m.IdReunion)
    @Html.HiddenFor(m => m.IsEditing)
    @Html.HiddenFor(m => m.IdSede)
    @Html.HiddenFor(m => m.IdPeriodoAcademico)
    @Html.HiddenFor(m => m.FechaModificada)
    @Html.HiddenFor(m => m.Semana)
    @Html.Hidden("CantidadComentarios")
    <div class="panel">
        <div class="panel-body container-fluid">
            <div class="row row-lg">
                <div class="col-xs-12">
                    <div class="example-wrap" style="margin-bottom: 20px;">
                        <div class="nav-tabs-vertical">
                            <div class="row">
                                <ul class="nav nav-tabs col-xs-12 col-sm-3">
                                    <li class="active" role="presentation">
                                        <a data-toggle="tab" href="#tab-informacion-general" role="tab" aria-expanded="false">
                                            <i class="fa fa-info"></i> <span class="tabhidden">@DetailResource.InformacionGeneral</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a data-toggle="tab" href="#tab-objetivo" role="tab" aria-expanded="false">
                                            <i class="fa fa-info"></i> <span class="tabhidden">@DetailResource.Objetivo</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a data-toggle="tab" href="#tab-organizadores" role="tab" aria-expanded="false">
                                            <i class="fa fa-users"></i> <span class="tabhidden">@DetailResource.Organizadores</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a data-toggle="tab" href="#tab-participantes" role="tab" aria-expanded="false">
                                            <i class="fa fa-users"></i> <span class="tabhidden">@DetailResource.Participantes</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a data-toggle="tab" href="#tab-agenda" role="tab" aria-expanded="false">
                                            <i class="fa fa-tasks"></i> <span class="tabhidden">@DetailResource.Agenda</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a data-toggle="tab" href="#tab-detalle-reunion" role="tab" aria-expanded="false">
                                            <i class="fa fa-bars"></i> <span class="tabhidden">@DetailResource.DetalleReunion</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a data-toggle="tab" href="#tab-comentario" role="tab" aria-expanded="false">
                                            <i class="fa fa-comment"></i> <span class="tabhidden">@DetailResource.Comentario</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a data-toggle="tab" href="#tab-foto" role="tab" aria-expanded="false">
                                            <i class="fa fa-camera"></i> <span class="tabhidden">@DetailResource.Foto</span>
                                        </a>
                                    </li>
                                    @if (Model.IdActa > 0 && !Model.IsEditing)
                                    {
                                        <li role="presentation">
                                            <a data-toggle="tab" href="#tab-exportar" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false">
                                                <i class="fa fa-download"></i>
                                                <span class="tabhidden">Exportar</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                                <div class="tab-content fix-space padding-vertical-15 col-xs-12 col-sm-9">
                                    <div id="tab-informacion-general" class="tab-pane active" role="tabpanel">
                                        @{ Html.RenderPartial("_DetailGeneralInformation", Model); }
                                    </div>
                                    <div id="tab-objetivo" class="tab-pane" role="tabpanel">
                                        @{ Html.RenderPartial("_DetailAchievement", Model); }
                                    </div>
                                    <div id="tab-organizadores" class="tab-pane" role="tabpanel">
                                        @{ Html.RenderPartial("_DetailOrganizators", Model); }
                                    </div>
                                    <div id="tab-participantes" class="tab-pane" role="tabpanel">
                                        @{ Html.RenderPartial("_DetailParticipants", Model); }
                                    </div>
                                    <div id="tab-agenda" class="tab-pane" role="tabpanel">
                                        @{ Html.RenderPartial("_DetailSchedule", Model); }
                                    </div>
                                    <div id="tab-detalle-reunion" class="tab-pane" role="tabpanel">
                                        @{ Html.RenderPartial("_DetailMeetingDetail", Model); }
                                    </div>
                                    <div id="tab-comentario" class="tab-pane" role="tabpanel">
                                        @{ Html.RenderPartial("_DetailComment", Model); }
                                    </div>
                                    <div id="tab-foto" class="tab-pane" role="tabpanel">
                                        @{ Html.RenderPartial("_DetailPhoto", Model); }
                                    </div>
                                    @if (Model.IdActa > 0 && !Model.IsEditing)
                                    {
                                        <div id="tab-exportar" class="tab-pane" role="tabpanel">
                                            @{ Html.RenderPartial("_DetailExportar", Model); }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>@Html.ValidationMessage("CantidadComentarios")</p>
                    <p>@Html.ValidationMessageFor(m => m.Objetivo)</p>
                    <p>@Html.ValidationMessageFor(m => m.DetalleReunion)</p>
                    <p>@Html.ValidationMessageFor(m => m.Agenda)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body container-fluid text-center">
            @Html.ActionLink(@ButtonsOptionsResource.Cancelar, "Index", null, new { @class = "btn btn-default btn-md", @style = "margin: 0;" })
            @if (Model.IsEditing)
            {
                <button type="submit" class="btn btn-primary btn-md">
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                    @ButtonsOptionsResource.Guardar
                </button>
            }
        </div>
    </div>
}



@section Scripts {
    <script src="@Url.Content("~/Content/vendor/summernote/summernote.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/summernote.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/clockpicker/bootstrap-clockpicker.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/clockpicker.min.js")"></script>
    <script>
        $.validator.setDefaults({
            ignore: '.ignore'
        })

        $.validator.addMethod('commentsPerParticipant', function (element, value) {
            return $('#tbody-participantes tr').length == $('#tbody-comentarios tr').length;
        }, 'Todos los participantes externos tienen que tener comentarios ingresados');

        $(document).ready(function () {
            $('#tbody-participantes tr').each(function (i, e) {
                var trComentario = $('#tbody-comentarios [id-participante=' + e.getAttribute('id-participante') + ']');
                if (trComentario.length) {
                    var tempId = e.getAttribute('temp-id'); 
                    trComentario.attr('temp-id-participante', tempId);
                    trComentario.find('[id-participante]').val(tempId);
                }
            });

            $('#CantidadComentarios').rules('add', {
                commentsPerParticipant: true
            });
        });

        $('form:first').on('submit', function () {
            var form = $(this);
            if (!form.valid()) {
                setTimeout(function () {
                    form.data('validator').resetForm();
                }, 1000);
            }
        })

        
        $(document).on('keydown', '.input-date', function () { return false; });

        $(document).on('keydown', '.input-hour', function () { return false; });

        
        $(document).on('keydown', '.input-number', function (e) {
            // Allow: backspace, delete, tab, escape, enter
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return true;
            }

            // Allow copy, cut and don't allow paste
            var ctrlDown = e.ctrlKey || e.metaKey; // Mac support
            if (ctrlDown && e.altKey) return true;
            else if (ctrlDown && e.keyCode == 67) return true; // c
            else if (ctrlDown && e.keyCode == 86) return false; // v
            else if (ctrlDown && e.keyCode == 88) return true; // x

            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || e.altKey || e.ctrlKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $('[data-plugin=summernote]').on('summernote.keydown', function (we, e) {
            var $target = $(we.currentTarget);
            $target.val($target.code());
            $target.valid();
        })

        $('#Foto').change(function () {
            if (this.files.length) {
                var fr = new FileReader();
                fr.onload = function (e) {
                    $('#foto-reunion').removeClass('hide').attr('src', e.target.result);
                    $('#texto-sin-imagen').addClass('hide');
                }
                fr.readAsDataURL(this.files[0]);
            }
        });

        function openModal() {
            $('#custom-modal').modal('show');
        }

        function parseForm() {
            $.validator.unobtrusive.parse('form');
        }

        function closeModal() {
            $('#custom-modal').modal('hide');
        }

        function ordenarIndices(id) {
            $('#' + id + ' tr').each(function (i, e) {
                $(e).find('input').each(function (j, input) {
                    input.id = input.id.replace(/[0-9]/, i);
                    input.name = input.name.replace(/[0-9]/, i);
                });
            })
        }
    </script>
}

