﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingComitteMinute.IndexViewModel

@{
    ViewBag.Title = IndexResource.Titulo;
    ViewBag.Icon = "calendar";
}

@section Breadcrumbs {
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + Filtros.Filtro, PanelActions.Collapse)
            <div class="panel-body row">
                @using (Ajax.BeginForm(new AjaxOptions
                {
                    UpdateTargetId = "actas-container",
                    HttpMethod = "POST"
                }))
                {
                    <div class="row">
                        @Html.FormGroup(IndexResource.PeriodoAcademico, Html.DropDownListFor(m => m.IdPeriodoAcademico, Model.PeriodosAcademicos, Filtros.Todos, new { @class = "form-control", data_plugin = "select2", @style = "width: 100%" }))
                        @Html.FormGroup(IndexResource.Estado, Html.DropDownListFor(m => m.Estado, Model.Estados, Filtros.Todas, new { @class = "form-control", data_plugin = "select2", @style = "width: 100%" }))
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label class="col-sm-12 control-label">@IndexResource.Desde</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar" aria-hidden="true"></i>
                                    </span>
                                    @Html.TextBoxFor(x => x.Desde, ViewBag.Culture == ConstantHelpers.CULTURE.INGLES ? "{0:MM/dd/yyyy}" : "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label class="col-sm-12 control-label">@IndexResource.Hasta</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar" aria-hidden="true"></i>
                                    </span>
                                    @Html.TextBoxFor(x => x.Hasta, ViewBag.Culture == ConstantHelpers.CULTURE.INGLES ? "{0:MM/dd/yyyy}" : "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-dark">
                                <i class="fa fa-search"></i>
                                @ButtonsOptionsResource.Buscar
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
    <div class="panel">
        <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
            <a class="panel-title" data-toggle="collapse" href="#exampleCollapseDefaultOne"
               data-parent="#exampleAccordionDefault" aria-expanded="true"
               aria-controls="exampleCollapseDefaultOne">
                <i class="fa fa-align-justify"></i> @Filtros.Resultados
            </a>
        </div>
        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel">
            <div class="panel-body" id="actas-container">
                @{ Html.RenderPartial("_ListMinutes", Model.Actas); }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
    <script>
        $(document).on('click', '.pagination a', function () {
            if (this.href) {
                $.post(this.href, {
                    IdPeriodoAcademico: $('#IdPeriodoAcademico').val(),
                    Estado: $('#Estado').val(),
                    Desde: $('#Desde').val(),
                    Hasta: $('#Hasta').val()
                })
                .done(function (html) {
                    $('#actas-container').html(html);
                });
            }

            return false;
        })
    </script>
}
