@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Acreditation.AddEditOutcomeViewModel

@{
    ViewBag.Title = "Outcome";
    ViewBag.Icon = "user-plus";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    var hasValue = Model.IdOutcome.HasValue;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListOutcome", "Acreditation")"> Outcomes</a></li>
}

<div class="panel">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-@(hasValue ? "pencil" : "plus")"></i> @(hasValue ? LayoutResource.Editar : LayoutResource.Nuevo) @ViewBag.Title</h3>
    </div>

    <form class="form form-horizontal" method="post">
        <div class="panel-body">
            @Html.HiddenFor(x => x.IdOutcome)

            @Html.EditorFor(x => x.Nombre)
            @Html.EditorFor(x => x.NombreIngles)
            @Html.EditorFor(x => x.DescripcionEspanol)
            @Html.EditorFor(x => x.DescripcionIngles)
        </div>

        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary btn-labeled"> Aceptar <i class="fa fa-check"></i></button>
            <a class="btn btn-danger btn-labeled fa fa-ban" href="@Url.Action("ListOutcome", "Acreditation")"><i class="fa fa-times"></i> Cancelar</a>
        </div>

    </form>

</div>
