﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Acreditation.AddEditAcreditadoraPeriodoAcademicoViewModel

@{
    ViewBag.Title = "Acreditadora PeriodoAcademico";
    ViewBag.Icon = "user-plus";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    var hasValue = Model.IdAcreditadoraPreiodoAcademico.HasValue;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListAcreditadoraPeriodoAcademico", "Acreditation", new { IdAcreditadora = Model.IdAcreditadora })"> Acreditadora </a></li>
}

<div class="panel">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-@(hasValue ? "pencil" : "plus")"></i> @(hasValue ? LayoutResource.Editar : LayoutResource.Nuevo) AcreditadoraPeriodoAcademico</h3>
    </div>

    <form class="form form-horizontal" method="post">

        <div class="panel-body">
            @Html.HiddenFor(x => x.IdAcreditadoraPreiodoAcademico)
            @Html.HiddenFor(x => x.IdAcreditadora)

            <div class='form-group'>
                @Html.LabelFor(x => x.IdPeriodoAcademico, new { @class = "col-md-3 control-label" })
                <div class='col-md-9'>
                    @Html.DropDownListFor(x => x.IdPeriodoAcademico, new SelectList(Model.LstPeriodoAcademicoModalidad, "IdPeriodoAcademico", "CicloAcademico"), "[- Seleccionar -]", new { @class = "form-control", data_plugin = "select2" })
                    @Html.ValidationMessageFor(x => x.IdPeriodoAcademico)
                </div>
            </div>
            <div class="text-right">
                <a class="btn btn-default animsition-link" href="@Url.Action("ListAcreditadoraPeriodoAcademico", "Acreditation", new { IdAcreditadora = Model.IdAcreditadora })"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @LayoutResource.Aceptar </button>
            </div>
        </div>

    </form>

</div>
