﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Acreditation.AddEditComisionViewModel

@{
    ViewBag.Title = "Comision";
    ViewBag.Icon = "user-plus";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    var hasValue = Model.IdComision.HasValue;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListAcreditadoraPeriodoAcademico", "Acreditation", new { IdAcreditadora = Model.IdAcreditadora })"> Acreditadora PeriodoAcademico</a></li>
}

<div class="panel">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-@(hasValue ? "pencil" : "plus")"></i> @(hasValue ? LayoutResource.Editar : LayoutResource.Nuevo) Comision</h3>
    </div>

    <form class="form form-horizontal" method="post">

        <div class="panel-body">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt><b>Acreditadora </b></dt>
                    <dd>@Model.AcreditadoraPeriodoAcademico.Acreditadora.Nombre </dd>
                    <dt> <b>Ciclo Academico </b></dt>
                    <dd>@Model.AcreditadoraPeriodoAcademico.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico </dd>
                </dl>
                <hr />
            </div>

            @Html.HiddenFor(x => x.IdComision)
            @Html.HiddenFor(x => x.IdAcreditadoraPeriodoAcademico)

            @Html.EditorFor(x => x.Codigo)
            @Html.EditorFor(x => x.NombreEspanol)
            @Html.EditorFor(x => x.NombreIngles)

            <div class="text-right">
                <a class="btn btn-default animsition-link" href="@Url.Action("ListAcreditadoraPeriodoAcademico", "Acreditation", new { IdAcreditadora = Model.IdAcreditadora })"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @LayoutResource.Aceptar </button>
            </div>
        </div>


    </form>

</div>
