@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Acreditation.AddEditOutcomeComisionViewModel

@{
    ViewBag.Title = "OutcomeComision";
    ViewBag.Icon = "user-plus";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    var hasValue = Model.IdOutcomeComision.HasValue;
}

@section Breadcrumbs{
<li><a href="@Url.Action("ListAcreditadoraPeriodoAcademico", "Acreditation", new { IdAcreditadora = Model.IdAcreditadora })"> Acreditadora PeriodoAcademico</a></li>
}

<div class="panel">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-@(hasValue ? "pencil" : "plus")"></i> @(hasValue ? LayoutResource.Editar : LayoutResource.Nuevo) @ViewBag.Title</h3>
    </div>

    <form class="form form-horizontal" method="post">
        <div class="panel-body">
            @Html.HiddenFor(x => x.IdOutcomeComision)

            <div class='form-group'>
                @Html.LabelFor(x => x.IdOutcome, new { @class = "col-md-2 control-label" })
                <div class='col-md-9'>
                    @Html.DropDownListFor(x => x.IdOutcome, new SelectList(Model.LstOutcome, "IdOutcome", "Nombre"), "[- Seleccionar -]", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.IdOutcome)
                </div>
            </div>
            <div class='form-group'>
                @Html.LabelFor(x => x.IdComision, new { @class = "col-md-2 control-label" })
                <div class='col-md-9'>
                    @Html.DropDownListFor(x => x.IdComision, new SelectList(Model.LstComision, "IdComision", "Nombre"), "[- Seleccionar -]", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.IdComision)
                </div>
            </div>
            <div class='form-group'>
                @Html.LabelFor(x => x.IdPeriodoAcademico, new { @class = "col-md-2 control-label" })
                <div class='col-md-9'>
                    @Html.DropDownListFor(x => x.IdPeriodoAcademico, new SelectList(Model.LstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"), "[- Seleccionar -]", new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.IdPeriodoAcademico)
                </div>
            </div>
        </div>

        <div class="text-right">
            <a class="btn btn-default animsition-link" href="@Url.Action("ListAcreditadoraPeriodoAcademico", "Acreditation", new { IdAcreditadora = Model.IdAcreditadora })"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @LayoutResource.Aceptar </button>
        </div>

    </form>

</div>
