﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Acreditation.AddEditAcreditadoraViewModel

@{
    ViewBag.Title = @AcreditationResource.TituloSingle;
    ViewBag.Icon = "file-text";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    var hasValue = Model.IdAcreditadora.HasValue;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListAcreditadora", "Acreditation")"> @AcreditationResource.TituloLista</a></li>
}

<div class="panel">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-@(hasValue ? "pencil" : "plus")"></i> @(hasValue ? LayoutResource.Editar : LayoutResource.Nuevo) @ViewBag.Title</h3>
    </div>

    <form class="form form-horizontal" method="post" enctype="multipart/form-data">
        <div class="panel-body">
            @Html.HiddenFor(x => x.IdAcreditadora)

            @Html.EditorFor(x => x.Nombre)
            @Html.EditorFor(x => x.NombreIndicador)
            @Html.EditorFor(x => x.Descripcion)


            <div class="form-group">
                @Html.LabelFor(x => x.Descripcion, new { @class = "col-sm-3 control-label" })
                <div class='col-sm-9'>
                    @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Descripcion)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.RutaImagen, new { @class = "col-sm-3 control-label" })
                <div class='col-sm-9'>
                    <div class="input-group input-group-file">
                        @Html.TextBoxFor(x => x.RutaFoto, new { @class = "form-control", @readonly = "" })
                        <span class="input-group-btn">
                            <span class="btn btn-success btn-file">
                                <i class="icon wb-upload" aria-hidden="true"></i>
                                <input type="file" id="@Html.IdFor(x => x.RutaImagen)" name="@Html.NameFor(x => x.RutaImagen)" multiple="">                       
                            </span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(x => x.RutaImagen)
                    @if (!String.IsNullOrEmpty(Model.RutaFoto))
                    {
                        <img class="img-responsive" src="@Url.Content(ConstantHelpers.DEFAULT_SERVER_PATH + "/" + Model.RutaFoto)" style="max-height:300px;width: auto" />
                    }
                </div>
            </div>

        </div>

        <div class="panel-footer text-right">
            <a class="btn btn-default animsition-link" href="@Url.Action("ListAcreditadora", "Acreditation", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @LayoutResource.Aceptar </button>
        </div>

    </form>

</div>

@section Scripts{

    <script>

        $(function () {
            $('#RutaImagen').change(function () {
                var filePath = document.getElementById('RutaImagen').value;
                var fileName = filePath.split('\\').pop();
                document.getElementById('RutaFoto').value = fileName;
            });
        });

    </script>
}
