﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Acreditation.ListAcreditadoraPeriodoAcademicoViewModel
@{
    ViewBag.Title = AcreditationResource.DetalleAcreditadora;
    ViewBag.Icon = "users";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    //var cicloActivo = Model.LstPeriodoAcademico.FirstOrDefault(x => x.Estado == ConstantHelpers.ESTADO.ACTIVO).CicloAcademico;
}

@section Styles{
    <style>
        .act-more {
            display: inline-flex;
        }

            .act-more:hover {
                color: #EA8A8A;
                text-decoration: none;
            }

        .avatar {
            width: 60px;
        }
    </style>
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListAcreditadora", "Acreditation")"> @AcreditationResource.TituloLista</a></li>
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-info"></i> @AcreditationResource.Descripcion
        </h3>
    </div>
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <div class="avatar avatar-online">
                    <img src="@(!String.IsNullOrEmpty(Model.Acreditadora.RutaImagen) ? @Url.Content(ConstantHelpers.DEFAULT_SERVER_PATH + "/" + @Model.Acreditadora.RutaImagen) : "http://placehold.it/400")" alt="...">
                    <i class="avatar avatar-busy"></i>
                </div>
            </div>
            <div class="media-body">
                

                <h4 class="media-heading">
                    @Model.Acreditadora.Nombre
                </h4>

                <dl class="dl-horizontal">
                    <dt>@LayoutResource.Detalles:</dt>
                    <dd>@Model.Acreditadora.Descripcion</dd>
                    <dt>@AcreditationResource.Indicador</dt>
                    <dd>@Model.Acreditadora.NombreIndicador</dd>
                </dl>

            </div>
            <div class="media-right">
            </div>
        </div>
        <hr />

        <form class="form" method="post">
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.IdPeriodoAcademico, new { @class = "control-label" })
                @Html.DropDownListFor(x => x.IdPeriodoAcademico, new SelectList(Model.LstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"), " Todos ", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.IdPeriodoAcademico)
            </div>

            <div class="form-group col-md-6 text-right">
                <label class="control-label">&nbsp;</label><br />
                <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i> @LayoutResource.Filtrar</button>
            </div>
        </form>
    </div>
</div>

<!-- Panel Collapse -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> @LayoutResource.Listado</h3>
    </div>
    <div class="panel-body">
        <div class="text-right">
            <a class="btn btn-primary animsition-link" href="@Url.Action("AddEditAcreditadoraPeriodoAcademico", "Acreditation", new { IdAcreditadora = Model.Acreditadora.IdAcreditadora, IdsubmodalidadPeriodoAcademico=Model.IdSubModalidadPeriodoAcademico })"><i class="fa fa-plus"></i> @LayoutResource.Nuevo</a>
        </div>
        <br />
        <div class="table table-responsive">
            <table id="collaptable" class="table table-hover">
                <thead>
                    <tr>
                        <th style="min-width:30px"></th>
                        <th>Modalidad</th>
                        <th class="text-center">@AcreditationResource.Nombre</th>
                        <th>@AcreditationResource.Descripcion</th>
                        <th class="text-right" style="min-width: 9.2em">@LayoutResource.Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var acreditadoraPeriodoAcademico in Model.LstAcreditadoraPeriodoAcademico)
                    {
                        var lstComision = acreditadoraPeriodoAcademico.Comision.ToList();
                        var indice = "ap" + acreditadoraPeriodoAcademico.IdAcreditadoraPreiodoAcademico;
                        <tr data-id="@indice" data-parent="" style="background: rgba(0,0,0,.2)">
                            <td></td>
                            <td>@acreditadoraPeriodoAcademico.SubModalidadPeriodoAcademico.SubModalidad.Modalidad.NombreEspanol</td>
                            <td class="text-center">@acreditadoraPeriodoAcademico.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico</td>
                            <td>@acreditadoraPeriodoAcademico.Acreditadora.Descripcion</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline btn-dark animsition-link disabled" href="@Url.Action("AddEditAcreditadoraPeriodoAcademico", "Acreditation", new { IdAcreditadora = Model.Acreditadora.IdAcreditadora, IdAcreditadoraPeriodoAcademico = acreditadoraPeriodoAcademico.IdAcreditadoraPreiodoAcademico })"><i class="fa fa-edit"></i> @LayoutResource.Editar</a>
                                    <button type="button" class="btn btn-sm btn-outline btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-sm pull-right">
                                        <li><a class="animsition-link" href="@Url.Action("AddEditComision", "Acreditation", new { IdAcreditadora = Model.Acreditadora.IdAcreditadora, IdAcreditadoraPeriodoAcademico = acreditadoraPeriodoAcademico.IdAcreditadoraPreiodoAcademico })"><i class="fa fa-edit"></i> @LayoutResource.Nuevo OutcomeComision</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                        foreach (var comision in lstComision)
                        {
                            var lstOutcomeComision = comision.OutcomeComision.ToList();
                            var subIndice = indice + "-c" + comision.IdComision;
                            <tr data-id="@subIndice" data-parent="@indice" style="background: rgba(0,0,0,.1)">
                                <td></td>
                                <td class="text-center">@comision.Codigo</td>
                                <td>@comision.NombreEspanol</td>
                                <td class="text-right">
                                    <a class="btn btn-sm btn-outline btn-dark animsition-link" href="@Url.Action("AddEditComision", "Acreditation", new { IdComision = comision.IdComision, IdAcreditadora = Model.Acreditadora.IdAcreditadora, IdAcreditadoraPeriodoAcademico = acreditadoraPeriodoAcademico.IdAcreditadoraPreiodoAcademico })"><i class="fa fa-edit"></i> @LayoutResource.Editar</a>
                                </td>
                            </tr>
                            foreach (var outcomeComision in lstOutcomeComision)
                            {
                                var superindice = subIndice + "-o" + outcomeComision.IdOutcomeComision;
                                <tr data-id="@superindice" data-parent="@subIndice">
                                    <td></td>
                                    <td class="text-center">@outcomeComision.Outcome.Nombre</td>
                                    <td colspan="2">@outcomeComision.Outcome.DescripcionEspanol</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model.LstAcreditadoraPeriodoAcademico, page => Url.Action("ListAcreditadoraComision", new { p = page, IdAcreditadora = Model.Acreditadora.IdAcreditadora }), ConstantHelpers.TwitterBootstrapPagerAligned)
        </div>
    </div>
</div>
<!-- End Panel Collapse -->
