﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Acreditation.ListAcreditadoraViewModel

@{
    ViewBag.Title = AcreditationResource.TituloLista;
    ViewBag.Icon = "file-text";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
}

@section Breadcrumbs{
<li><a class="animsition-link" href="@Url.Action("BeforeEnrollment", "Upload", new { Area = String.Empty})"> Gestión de Datos </a></li>
}


<!-- Panel Collapse -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> @LayoutResource.Listado</h3>
    </div>
    <div class="panel-body">
        <div class="text-right">
            <a class="btn btn-primary animsition-link" href="@Url.Action("AddEditAcreditadora", "Acreditation")"><i class="fa fa-plus"></i> @LayoutResource.Nuevo</a>
        </div>
        <br />
        <div class="table table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>@AcreditationResource.Nombre</th>
                        <th>@AcreditationResource.NombreIndicador</th>
                        <th>@AcreditationResource.Descripcion</th>
                        <th class="text-right" style="min-width: 9.2em">@LayoutResource.Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var acreditadora in Model.LstAcreditadora)
                    {
                        <tr>
                            <td>@acreditadora.Nombre</td>
                            <td>@acreditadora.NombreIndicador</td>
                            <td>@acreditadora.Descripcion</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("ListAcreditadoraPeriodoAcademico", "Acreditation", new { Area = ConstantHelpers.AREAS.ADMIN, IdAcreditadora = acreditadora.IdAcreditadora })"><i class="fa fa-list"></i> @LayoutResource.Detalles</a>
                                    <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-sm pull-right">
                                        <li><a href="@Url.Action("AddEditAcreditadora", "Acreditation", new { Area = ConstantHelpers.AREAS.ADMIN, IdAcreditadora = acreditadora.IdAcreditadora })"><i class="fa fa-edit"></i> @LayoutResource.Editar </a></li>
                                        @*<li><a href="@Url.Action("DisableUsuario", "User", new { Area = ConstantHelpers.AREAS.ADMIN, IdUsuario = usuario.IdUsuario })"><i class="fa fa-@(usuario.Estado == ConstantHelpers.ESTADO.ACTIVO ? "eye-slash" : "eye") "></i> @(usuario.Estado == ConstantHelpers.ESTADO.ACTIVO ? LayoutResource.Desactivar : LayoutResource.Activar)</a></li>*@
                                    </ul>
                                </div>                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model.LstAcreditadora, page => Url.Action("ListAcreditadora", new { p = page }), ConstantHelpers.TwitterBootstrapPagerAligned)
        </div>
    </div>
</div>
<!-- End Panel Collapse -->