﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Acreditation.ListComisionViewModel

@{
    ViewBag.Title = ComisionResource.TituloLista;
    ViewBag.Icon = "list-alt";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
}

@section Breadcrumbs{
}

<!-- Panel Collapse -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> @LayoutResource.Listado</h3>
    </div>
    <div class="panel-body">
        <div class="text-right">
            <a class="btn btn-primary animsition-link" href="@Url.Action("AddEditComision", "Acreditation")"><i class="fa fa-plus"></i> @LayoutResource.Nuevo</a>
        </div>
        <br />
        <div class="table table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>@ComisionResource.Codigo</th>
                        <th>@AcreditationResource.TituloSingle</th>
                        <th>@ComisionResource.Nombre</th>
                        <th class="text-right" style="min-width: 9.2em">@LayoutResource.Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var comision in Model.LstComision)
                    {
                        <tr>
                            <td>@comision.Codigo</td>
                            <td>@comision.AcreditadoraPeriodoAcademico.Acreditadora.Nombre</td>                            
                            <td>@comision.NombreEspanol - @comision.NombreIngles</td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("AddEditComision", "Acreditation", new { IdComision = comision.IdComision })"><i class="fa fa-pencil"></i> @LayoutResource.Editar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model.LstComision, page => Url.Action("ListComision", new { p = page }), ConstantHelpers.TwitterBootstrapPagerAligned)
        </div>
    </div>
</div>
<!-- End Panel Collapse -->