﻿@using UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Report
@using UPC.CA.ABET.Helpers
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey

@model ReporteEncuestaVirtualEVDViewModel

@if (Model.ExistData.HasValue)
{
    if (!Model.ExistData.Value || Model.IdEncuestaVirtualDelegado == 0)
    {

        <input type="hidden" id="info" value="No hay información" />

    }
    else
    {
        <input type="hidden" id="info" value="Documento" />
        var queryString = string.Format("?{0}={1}&{2}={3}",
            ConstantHelpers.QueryStringParameters.LANGUAGE_CULTURE, Model.Languages.First().Key,
            ConstantHelpers.QueryStringParameters.DELEGATEDVIRTUALSURVEY_ID, Model.IdEncuestaVirtualDelegado
            );

        if (Model.IdEncuestaVirtualDelegado > 0)
        {
            <script>iframeLoad()</script>
            <iframe src="@(Url.Content("~/Areas/Report/Resources/WebPages/EVDReportStatus.aspx") + queryString)" class="col-md-12" height="1000" width="1300" frameborder="0"></iframe> }
        else
        {
            <div class="report-init-text text-center">@SurveyResources.TextoInicialReport</div> }
    }
}
else
{
    <div class="report-init-text text-center">@SurveyResources.TextoInicialReport</div>
}

