﻿
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase

@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Report.ReporteEncuestaVirtualGRAViewModel

@if (Model.ExistData.HasValue)
{
    if (!Model.ExistData.Value)
    {
        <script>
            showMessage('Reporte de encuestas', '@FieldsResource.NoDataMessage');
        </script>
        <div class="report-init-text text-center">@FieldsResource.TextInitialReport</div>
    }
    else
    {
        <table class="table table-hover table-striped dataTable display nowrap" width="100%">
            <thead>
                <tr>
                    <th>@FieldsResource.HeaderDiscoverCode</th>
                    <th>@FieldsResource.HeaderDiscoverDescription</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        Html.RenderPartial("_ExportButton");
        <script>
            initDataTable('@Url.Action("GetDataFindings")', [
                { data: 'Codigo', width: 200 },
                { data: 'Descripcion' }
            ]);
            scrollTopReportContainer();
            setTimeout(function () {
                $('#btnExportReportGroup').appendTo('.option-content');
                setExportUrls();
            }, 100);
        </script>
    }
}
else
{
    <div class="report-init-text text-center">@FieldsResource.TextInitialReport</div>
}