﻿@using UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Report
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey;


@model ReporteEncuestaVirtualEVDViewModel

@{
    ViewBag.Title = SurveyResources.InformeEncuestaVirtualDelegado;
    ViewBag.Icon = "bar-chart";
    var modalidadId = Session.GetModalidadId();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementEVD", "Survey")">@SurveyResources.EncuestaEVD</a></li>
}

<div class="row">
    <div class="panel-body row">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + SurveyResources.Filtrar, PanelActions.Collapse)
            @using (Ajax.BeginForm("InformeEncuestaVirtualEVD", new AjaxOptions
            {
                HttpMethod = "POST",
                LoadingElementId = "main-loader",
                UpdateTargetId = "report-container",
                OnBegin = "showLoading",
                OnSuccess = "changeLabel"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("OutcomeTypeName", "Encuesta")
                @Html.Hidden("ModalityId", Session.GetModalidadId())
                <div class="panel-body row">
                    <div class="row">
                        @Html.FormGroup(SurveyResources.LabelEVD, Html.DropDownListFor(m => Model.IdEncuestaVirtualDelegado, new SelectList(Model.ListEvd, "Value", "Text"), new { @class = "form-control select2-select", @required = true }))
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-default" href="@Url.Action("InformeEncuestaVirtualEVD", "Report")">  <i aria-hidden="true" class="fa fa-eraser">@SurveyResources.Limpiar</i>    </a>
                        <a class="btn btn-default" href="@Url.Action("SurveyManagementEVD", "Survey")">        <i aria-hidden="true" class="fa fa-arrow-circle-o-left">@SurveyResources.Atras</i>     </a>
                        <div class="btn-group" role="group">

                            <button class="btn btn-primary" id="btnGenerateReport" type="submit"><i aria-hidden="true" class="fa fa-search"></i> @SurveyResources.GenerarReporte</button>
                            @* @Html.PanelFooter(SurveyResources.GenerarReporte)*@



                        </div>
                    </div>



                </div>
            }
        </div>
        <div class="panel">
            @Html.PanelHeaderNoIcon(SurveyResources.Documento, PanelActions.Fullscreen)
       
            <div class="panel-body" id="report-container">
                @{Html.RenderPartial("_InformeEncuestaVirtualEVDReporte", Model);}
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="@Url.Content("~/Areas/Report/Content/js/main.js")"></script>

    <script>
         function changeLabel() {
             closeLoading();
             var info = $("#info").val();
             if (info == "No hay información") {
                 $('#Documento').text(info);
                 $('#Documento').css('text-align', 'center');
             }
             else {
                 $('#Documento').text(info);
                 $('#Documento').css('text-align','');
             }
         }

         function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }

         function closeLoading() {
                swal.close();
         }

    </script>
    $.validator.unobtrusive.parse(document);
}
