﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.SurveyManagementGRAViewModel
@{
    ViewBag.Title = LayoutResource.ReportesDeEncuestas;
    ViewBag.Icon = "graduation-cap"; Boolean esAcreditador = false;
}


<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.DirectorCarrera) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera) || Session.GetRoles().HasRole(AppRol.Acreditador))
                            {
                                @*<li class="active" role="presentation"><a data-toggle="tab" href="#registromanualTab" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false"><i class="fa fa-hand-o-up"></i> <span class="tabhidden">@OptionsResource.RegistroManual</span></a></li>
                                    <li role="presentation"><a data-toggle="tab" href="#generacionTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa-download"></i> <span class="tabhidden">@OptionsResource.Generacion</span></a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" href="#cargamasivaTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-cloud-upload"></i> <span class="tabhidden">@OptionsResource.CargaMasiva</span></a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" href="#descargaplantillaTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-file-excel-o"></i> <span class="tabhidden">@OptionsResource.DescargaPlantilla</span></a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" href="#mantenimientoTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@OptionsResource.Mantenimiento</span></a></li>*@
                                <li role="presentation" class="active"><a data-toggle="tab" href="#GraduandoTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">Graduando</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#PPPTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-envelope"></i> <span class="tabhidden">@LayoutResource.PracticasPreProfesionales</span></a></li>
                            }

                        </ul>
                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">


                            <div class="tab-pane active" id="GraduandoTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-bar-chart"></i>@UPC.CA.ABET.Presentation.Areas.Survey.Resources.Views.KeyWords.KeyWordsResource.Graduando</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.PercepcionPorOutcomes

                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.MuestraReporteDeGraduandoPercepcionPorOutcomes
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("PercepcionOutcomeGRA","Report")" class="pull-right btn btn-primary"><i class="fa fa-sign-in">@UPC.CA.ABET.Presentation.Areas.Survey.Resources.Views.KeyWords.KeyWordsResource.Reporte</i> </a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTwo" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo">
                                                                <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.PromedioporOutcomes
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo" aria-labelledby="exampleHeadingDefaultTwo" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.MuestraReporteDeGraduandoPromedioPorOutcomes
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("PercepcionPromedioPorOutcomeGraduando","Report")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @UPC.CA.ABET.Presentation.Areas.Survey.Resources.Views.KeyWords.KeyWordsResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTres" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTres" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultTres">
                                                                <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.HistoricoPorOutcomes
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTres" aria-labelledby="exampleHeadingDefaultTres" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.MuestraReporteDeGraduandoHistoricoPorOutcomes
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ReporteHistoricoOutcomesGRA","Report")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @UPC.CA.ABET.Presentation.Areas.Survey.Resources.Views.KeyWords.KeyWordsResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultCuatro" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultCuatro" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultCuatro">
                                                                <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.HistoricoEncuestasNotificadas
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultCuatro" aria-labelledby="exampleHeadingDefaultCuatro" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.MuestraReporteDeGraduandoHistoricoEncuestasNotificadas
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ReporteEncuestaVirtualGRA","Report")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @LayoutResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane" id="PPPTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-bar-chart"></i>@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.PracticasPreProfesionales</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault1" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultOne1" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefaultOne1" data-parent="#exampleAccordionDefault1" aria-expanded="true" aria-controls="exampleCollapseDefaultOne1">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.PercepcionPromedioDeResultadosDeEncuestasPPP
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne1" aria-labelledby="exampleHeadingDefaultOne1" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @*@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.MuestraReportePercepcionPromedioDeResultadosDeEncuestasPPP*@
                                                                    @AddEditFDCResource.OptionsReporteDescripcionUnoPPP
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ReportePercepcionPromedioPPP","Report")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @UPC.CA.ABET.Presentation.Areas.Survey.Resources.Views.KeyWords.KeyWordsResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTwo2" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo2" data-parent="#exampleAccordionDefault1" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo2">
                                                                <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                               @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ReporteHistoricoDeResultadosPorOutcome

                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo2" aria-labelledby="exampleHeadingDefaultTwo2" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @*@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.MuestraReporteHistoricoDeResultadosPorOutcome*@
                                                                    @AddEditFDCResource.OptionsReporteDescripcionDosPPP
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ReporteHistoricoResultadosPPP","Report")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @UPC.CA.ABET.Presentation.Areas.Survey.Resources.Views.KeyWords.KeyWordsResource.Reporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
    </script>
}

