﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Report.ReporteHistoricoOutcomesGRAViewModel
@{
    //ViewBag.Title = "Reporte Historico GRA";
    ViewBag.Icon = "bar-chart";

    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    ViewBag.Title = (language == ConstantHelpers.CULTURE.ESPANOL ? "Reporte Historico GRA" : "Historic Report GRA");
}
@section Breadcrumbs{
    <li><a href="@Url.Action("ManagementDeEncuesta", "Report")">@KeyWordsResource.EncuestaPPP</a></li>
}

<form method="post" action="@Url.Action("ReporteHistoricoOutcomesGRA", "Report")" id="IdForm">
    <div id="alert" style="display:none;">
        <div class="alert dark alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button><i class="icon wb-alert" aria-hidden="true"></i>
            Debe de escoger el campo <strong>Ciclo</strong> y <strong>Nivel</strong>
        </div>
    </div>
    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-filter"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Filtros</h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Carrera" : "*Career")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.IdCarrera, new SelectList(Model.LstCarrera, "IdCarrera", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new
                                   {
                                       @class = "form-control select2-select",
                                       @required = true,
                                       @data_update_target = "#IdComision",
                                       //@data_source_url = Url.Action("GetComisionByCarrera", "Json"),
                                       @data_filter = "IdCarrera",
                                       @data_plugin = "select2",
                                       @data_action = "desde"
                                   })
                                        @Html.ValidationMessageFor(x => x.IdCarrera)
                                    </div>

                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Idioma" : "*Language")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.idIdioma, Model.LstIdioma,(language == ConstantHelpers.CULTURE.ESPANOL ?"Seleccione": "Select")
                                        , new
                                        {
                                            @class = "form-control select2-select",
                                            @required = true
                                        })
                                        @Html.ValidationMessageFor(x => x.idIdioma)
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Desde" : "*From")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.IdDesde, new SelectList(Model.LstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                                        , new
                                        {
                                            @class = "form-control select2-select",
                                            @data_action = "hasta",
                                            @disabled = true
                                        })
                                    </div>

                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Hasta" : "To")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.IdHasta, new SelectList(Model.LstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                                        , new
                                        {
                                            @class = "form-control select2-select",
                                            @disabled = true
                                        })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Comisión" : "*Commission")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.IdComision, new SelectList(Model.LstComision, "IdComision", "Codigo"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                                        , new
                                        {
                                            @class = "form-control select2-select",
                                            @required = true,
                                            @data_action = "outcome",
                                            @data_text_member = "Codigo",
                                            @data_value_member = "IdComision",
                                            @data_plugin = "select2",
                                            @data_update_target = "#NombreOutcome",
                                            @data_source_url = Url.Action("GetOutcomeByComision", "Json"),
                                            @data_filter = "IdComision"

                                        })
                                        @Html.ValidationMessageFor(x => x.IdComision)
                                    </div>
                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Outcome" : "*Outcome")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.NombreOutcome, new SelectList(Model.LstOutcomes, "Value", "Text"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                                        , new
                                        {
                                            @class = "form-control select2-select",
                                            @data_text_member = "NombreEspanol",
                                            @data_value_member = "NombreEspanol",
                                            @required = true
                                        })
                                        @Html.ValidationMessageFor(x => x.NombreOutcome)
                                    </div>

                                </div>
                                <br />
                                <div class="pull-right">
                                    <a class="btn btn-default" href="@Url.Action("ReporteHistoricoOutcomesGRA", "Report")"><i class="fa fa-eraser"></i></a>

                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" id="exampleIconDropdown2" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-cogs"></i> Generar Reporte
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown2" role="menu">
                                            <li role="presentation" class="btn-li"><button style="width: 100%;border:none;background-color:transparent" type="submit" name="btnReport" role="menuitem" value="PDF"><i class="fa fa-file-pdf-o"></i> PDF&nbsp;&nbsp;&nbsp;&nbsp;</button></li>
                                            <li role="presentation" class="btn-li"><button style="width: 100%;border:none;background-color:transparent" type="submit" name="btnReport" role="menuitem" value="EXCEL"><i class="fa fa-file-excel-o"></i> EXCEL</button></li>
                                            <li role="presentation" class="btn-li"><button style="width: 100%;border:none;background-color:transparent" type="submit" name="btnReport" role="menuitem" value="WORD"><i class="fa fa-file-word-o"></i> WORD</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="col-md-12" id="cargando" style="display:none;position: relative;top: -75px;">
    <center>
        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
    </center>
</div>
@if (String.IsNullOrEmpty(Model.Key) == false && Model.CantSuccess.Value > 0)
{
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Reportes:</h3>
            </div>
            <div class="panel-body">
                <div class="row" style="display:none;">
                    <div class="form-group">
                        <h5 id="logro"></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="text-right">
                        <a href="@Url.Action("DescargarTodo", "Report", new { Key = Model.Key})" class="btn btn-info" data-toggle="tooltip"
                           data-placement="top" data-original-title=@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.DescargarZip><i class="fa fa-download"></i>@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.DescargarTodo</a>
                    </div>
                    <div class="example table">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th style="color:white;" class="">Nombre</th>
                                    <th style="color:white;" class=""></th>
                                </tr>
                            </thead>
                            <tbody id="files">
                                @{ var lstFile = Directory.GetFiles(Server.MapPath("~/Files/SurveyReport"));}
                                @foreach (var item in lstFile)
                                {
                                    var archivo = Path.GetFileName(item);
                                    if (archivo.Equals(Model.fileName))
                                    {
                                        <tr>
                                            <td><i class="@Html.Raw(ConstantHelpers.GetIconPorExtension(Model.Extension))"></i>&nbsp;@(archivo.Replace(Model.Key, ""))</td>
                                            <td class="text-center">
                                                @if (Model.Extension == ConstantHelpers.ENCUESTA.PDF)
                                                {
                                                <a class="btn btn-default" href="#" @Url.ModalHelperFor("_VerArchivo", "Report", new { Archivo = archivo, Nombre = archivo.Replace(Model.Key, "") }, ModalSize.Large)><i class="fa fa-eye"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Ver</a>
                                                }
                                                else
                                                {
                                            <a class="btn btn-default" href="@Url.Content("~/Files/SurveyReport/" + archivo)"><i class="fa fa-download"></i>  @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Descargar</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<a class="btn btn-default" href="@Url.Action("SurveyManagementGRA", "Survey")"><i class="fa fa-arrow-left"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Atras</a>
@section scripts {
    <script>
        $(document).ready(function(){
            @if (String.IsNullOrEmpty(Model.Key) == false && Model.CantSuccess.Value > 0)
            {
                <text>$('#filtros').click()</text>
            }

            $(document).on('change', '[data-plugin="select2"]', function (e) {
                // Valor seleccionado
                var selectedId = $(this).val();

                if (selectedId != "") {
                    // Nombre del parámetro de filtro
                    var dataFilter = $(this).attr('data-filter');

                    // Url de datos json
                    var sourceUrl = $(this).attr('data-source-url');

                    // Select a actualizar
                    var updateTarget = $(this).attr('data-update-target');

                    var postData = {};
                    postData[dataFilter] = selectedId;
                    var $updateTarget = $(updateTarget);
                    $updateTarget.attr('disabled', 'disabled')
                    $updateTarget.find('option[value!=""]').remove();

                    $.ajax({
                        type: 'POST',
                        url: sourceUrl,
                        data: postData,
                        dataType: 'json',
                        async: true,
                        success: function (data) {
                            var $updateTarget = $(updateTarget);
                            var valueMember = $updateTarget.attr('data-value-member')
                            var textMember = $updateTarget.attr('data-text-member')
                            for (i = 0; i < data.length; i++) {
                                $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                            }
                            $updateTarget.removeAttr('disabled');
                            $updateTarget.trigger('change');
                        },
                        beforeSend: function () {

                        },
                        complete: function () {

                        }
                    });
                }
            });
        })

         function showLoading() {
                swal({
                    title: '@language' == 'es-PE' ? 'Cargando...' : 'Loading...',
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true

                });
        }
        $('.btn-li').click(function () {
            console.log("valid()", $("#IdForm").valid())
            if ($("#IdForm").valid() == true) {
                showLoading();
            }
        });

        $(document).on('change', '[data-action="desde"]', function (e) {
            $('#IdDesde').removeAttr('disabled');
        });


        @*$(document).on('change', '[data-action="hasta"]', function (e) {
            var selectedId = $(this).val();
            if (selectedId != "") {
                var $this = $(this);

                var postData = {};
                postData['IdDesde'] = $('#IdDesde').val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetFiltroHasta","Json")',
                    data: postData,
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        $('#IdHasta').html('');
                        for (i = 0; i < data.length; i++) {
                            $('#IdHasta').append($('<option>').text(data[i]['CicloAcademico']).attr('value', data[i]['IdPeriodoAcademico']));
                        }
                        $('#IdHasta').removeAttr('disabled');
                        $('#IdHasta').trigger('change');
                    }
                });
            }
        });*@

        $(document).on('change', '[data-action="hasta"]', function (e) {
            $('#IdHasta').attr('disabled', 'disabled')
            $('#IdComision').attr('disabled', 'disabled')
            $('#NombreOutcome').attr('disabled', 'disabled')
            $('#IdHasta').find('option[value!=""]').remove();
            $('#IdComision').find('option[value!=""]').remove();
            $('#NombreOutcome').find('option[value!=""]').remove();
            var selectedId = $(this).val();
            if (selectedId != "") {
                let IdCarrera = $('#IdCarrera').val()
                var IdDesde = $('#IdDesde').val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetFilterComissionAndAcademicPeriod", "Json")',
                    data: { IdCarrera: IdCarrera, IdDesde: IdDesde },
                    dataType: 'json',
                    success: function (data) {
                        let hasta = data.data
                        $('#IdHasta').html('');
                        for (i = 0; i < hasta.length; i++) {
                            $('#IdHasta').append($('<option>').text(hasta[i]['CicloAcademico']).attr('value', hasta[i]['IdPeriodoAcademico']));
                        }
                        $('#IdHasta').removeAttr('disabled');
                        $('#IdHasta').trigger('change');

                        let com = data.Lstcomision
                        $('#IdComision').html('');
                        for (i = 0; i < com.length; i++) {
                            $('#IdComision').append($('<option>').text(com[i]['Codigo']).attr('value', com[i]['IdComision']));
                        }
                        $('#IdComision').removeAttr('disabled');
                        $('#IdComision').trigger('change');
                    },
                    beforeSend: function () {
                        $('#cargando').show();
                    },
                    complete: function () {
                        $('#cargando').hide();
                    }
                });

            }
        });
    </script>
}