﻿@using UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Report
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey;


@model ReporteEncuestaVirtualEVDViewModel

@{
    ViewBag.Title = SurveyResources.Reportes + " " + SurveyResources.EncuestaEVD;
    ViewBag.Icon = "bar-chart";
    var modalidadId = Session.GetModalidadId();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementEVD", "Survey")">@SurveyResources.EncuestaEVD</a></li>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + SurveyResources.Filtrar, PanelActions.Collapse)
            @using (Ajax.BeginForm("ReporteEncuestaVirtualEVD", new AjaxOptions
            {
                HttpMethod = "POST",
                LoadingElementId = "main-loader",
                UpdateTargetId = "report-container",
                OnBegin = "showLoading",
                OnSuccess = "changeLabel"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("OutcomeTypeName", "Encuesta")
                @Html.Hidden("ModalityId", Session.GetModalidadId())
                <div class="panel-body row">
                    <div class="row">
                        @Html.FormGroup(SurveyResources.LabelEVD, Html.DropDownListFor(m => Model.IdEncuestaVirtualDelegado, new SelectList(Model.ListEvd, "Value", "Text"), new { @class = "form-control select2-select", @required = true }))


                    </div>
                    <div class="pull-right">
                        <a class="btn btn-default" href="@Url.Action("ReporteEncuestaVirtualEVD", "Report")">  <i aria-hidden="true" class="fa fa-eraser">@SurveyResources.Limpiar</i>    </a>
                        <a class="btn btn-default" href="@Url.Action("SurveyManagementEVD", "Survey")">        <i aria-hidden="true" class="fa fa-arrow-circle-o-left">@SurveyResources.Atras</i>     </a>
                        <div class="btn-group" role="group">

                            <button class="btn btn-primary" id="btnGenerateReport" type="submit"><i aria-hidden="true" class="fa fa-search"></i> @SurveyResources.GenerarReporte</button>


                            @*<a class="btn btn-warning" data-toggle="modal" data-target="#modalWarning"><i class="fa fa-sticky-note"></i> @SurveyResources.CrearEncuestaEVD</a>*@
                            @*@if (Model.IdEncuestaVirtualDelegado == 0)
                                    {
                                <button class="btn btn-primary" id="btnGenerateReport" type="submit" data-toggle="modal" data-target="#modalWarning"><i aria-hidden="true" class="fa fa-search"></i> Generar Reporte</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary" id="btnGenerateReport" type="submit"><i aria-hidden="true" class="fa fa-search"></i> Generar Reporte</button>
                                }*@

                        </div>
                    </div>



                </div>
            }
        </div>
        <div class="panel">
            @Html.PanelHeaderNoIcon(SurveyResources.Documento, PanelActions.Fullscreen)
            <div class="panel-body" id="report-container">
                @{Html.RenderPartial("_ReporteEncuestaVirtualEVDReporte", Model);}
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="@Url.Content("~/Areas/Report/Content/js/main.js")"></script>
     <script>
         function changeLabel() {
             closeLoading();
             var info = $("#info").val();
             if (info == "No hay información") {
                 $('#Documento').text(info);
                 $('#Documento').css('text-align', 'center');
             }
             else {
                 $('#Documento').text(info);
                 $('#Documento').css('text-align','');
             }
         }

         function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }

         function closeLoading() {
                swal.close();
         }

     </script>

    $.validator.unobtrusive.parse(document);

}


<div class="modal" tabindex="-1" role="dialog" id="modalWarning2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Advertencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Salir">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Seleccione una Encuesta Virtual Delegado</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>