﻿@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase

@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Report.ReporteEncuestaVirtualGRAViewModel
@{
    ViewBag.Title = OptionsResource.Reportes + " " + KeyWordsResource.EncuestaGraduandoVirtual;
    ViewBag.Icon = "bar-chart";

    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementGRA", "Survey" )">@KeyWordsResource.EncuestaGraduando</a></li>
}

<form method="post" action="@Url.Action("ReporteEncuestaVirtualGRA", "Report")" id="idForm">
    <div class="row">
        <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                    <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                        <h4><i class="fa fa-filter"></i> @KeyWordsResource.Filtrar</h4>
                    </a>
                </div>
                <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                    <div class="panel-body row">
                        <div class="form-group">
                            <div class="row">
                                @Html.FormGroup(FieldsResource.LabelCycle, Html.DropDownListFor(m => Model.IdPeriodoAcademico, new SelectList(Model.LstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"), language == ConstantHelpers.CULTURE.ESPANOL ? "[-Seleccione-]" : "[-Select-]"
                                , new
                                {
                                    @class = "form-control select2-select",
                                    @required = true
                                }
                                ))

                                @Html.FormGroup(FieldsResource.LabelCareer, Html.DropDownListFor(m => Model.IdCarrera, new SelectList(Model.LstCarrera, "IdCarrera", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[-Seleccione-]" : "[-Select-]"
                                , new
                                {
                                    @class = "form-control select2-select",
                                    @required = true
                                }
                                ))

                            </div>
                            <div class="row">
                                @*<div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Idioma" : "*Language")</label></div>
                                <div class="col-md-4">*@
                                    @Html.FormGroup(language == ConstantHelpers.CULTURE.ESPANOL ? "*Idioma" : "*Language", Html.DropDownListFor(x => x.idIdioma, Model.LstIdioma,(language == ConstantHelpers.CULTURE.ESPANOL ?"Seleccione": "Select")
                                    , new
                                    {
                                        @class = "form-control select2-select",
                                        @required = true
                                    }))
                                    @Html.ValidationMessageFor(x => x.idIdioma)
                                </div>

                            </div>


                            <br />
                            <div class="pull-right">
                                <a class="btn btn-default" href="@Url.Action("ReporteEncuestaVirtualGRA", "Report")"><i class="fa fa-eraser"></i></a>

                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" id="exampleIconDropdown2" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-cogs"></i>@KeyWordsResource.GenerarReporte
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown2" role="menu">
                                        <li role="presentation" class="btn-li"><button style="width: 100%;border:none;background-color:transparent" type="submit" name="btnReport" role="menuitem" value="PDF"><i class="fa fa-file-pdf-o"></i> PDF&nbsp;&nbsp;&nbsp;&nbsp;</button></li>
                                        <li role="presentation" class="btn-li"><button style="width: 100%;border:none;background-color:transparent" type="submit" name="btnReport" role="menuitem" value="EXCEL"><i class="fa fa-file-excel-o"></i> EXCEL</button></li>
                                        <li role="presentation" class="btn-li"><button style="width: 100%;border:none;background-color:transparent" type="submit" name="btnReport" role="menuitem" value="WORD"><i class="fa fa-file-word-o"></i> WORD</button></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@if (String.IsNullOrEmpty(Model.Key) == false && Model.CantSuccess.Value > 0)
{
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart"></i>  @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Reportes:</h3>
            </div>
            <div class="panel-body">
                <div class="row" style="display:none;">
                    <div class="form-group">
                        <h5 id="logro"></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="text-right">
                        <a href="@Url.Action("DescargarTodo", "Report", new { Key = Model.Key})" class="btn btn-info" data-toggle="tooltip"
                           data-placement="top" data-original-title=@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.DescargarZip><i class="fa fa-download"></i>@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.DescargarTodo</a>
                    </div>
                    <div class="example table">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th style="color:white;" class="">Nombre</th>
                                    <th style="color:white;" class=""></th>
                                </tr>
                            </thead>
                            <tbody id="files">
                                @{ var lstFile = Directory.GetFiles(Server.MapPath("~/Files/SurveyReport"));}
                                @foreach (var item in lstFile)
                                {
                                    var archivo = Path.GetFileName(item);
                                    if (archivo.Equals(Model.fileName))
                                    {
                                        <tr>
                                            <td><i class="@Html.Raw(ConstantHelpers.GetIconPorExtension(Model.Extension))"></i>&nbsp;@(archivo.Replace(Model.Key, ""))</td>
                                            <td class="text-center">
                                                @if (Model.Extension == ConstantHelpers.ENCUESTA.PDF)
                                                {
                                                <a class="btn btn-default" href="#" @Url.ModalHelperFor("_VerArchivo", "Report", new { Archivo = archivo, Nombre = archivo.Replace(Model.Key, "") }, ModalSize.Large)><i class="fa fa-eye"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Ver</a>
                                                }
                                                else
                                                {
                                            <a class="btn btn-default" href="@Url.Content("~/Files/SurveyReport/" + archivo)"><i class="fa fa-download"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Descargar</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                    }

@section Scripts {
    <script>
        function showLoading() {
            swal({
                title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                showConfirmButton: false,
                html: true
            });
        }
        $('.btn-li').click(function () {
            if ($("#idForm").valid())
                showLoading();
            else
                return false;
        });
        $("#searchInput").keyup(function () {
            //split the current value of searchInput
            var data = this.value.toUpperCase().split(" ");
            //create a jquery object of the rows
            var jo = $("#encuestas").find("tr");
            if (this.value == "") {
                jo.show();
                return;
            }
            //hide all the rows
            jo.hide();

            //Recusively filter the jquery object to get results.
            jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.is(":contains('" + data[d] + "')")) {
                        return true;
                    }
                }
                return false;
            })
            //show the rows that match.
            .show();
        }).focus(function () {
            this.value = '';
            $(this).css({
                "color": "black"
            });
            $(this).unbind('focus');
        }).css({
            "color": "#C0C0C0"
        });

        bindChange('select', setExportUrls);

    </script>
}
