﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Report.ReportHistoricoResultadosFDCViewModel
@{
    ViewBag.Title = "Reporte Histórico de logro de fin de ciclo";
    ViewBag.Icon = "bar-chart";

    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementFDC", "Survey")">@AddEditFDCResource.KeyWordsEncuestaFDC</a></li>
}

<form method="post" action="@Url.Action("ReportHistoricoResultadosFDC", "Report")">
    <div id="alert" style="display:none;">
        <div class="alert dark alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button><i class="icon wb-alert" aria-hidden="true"></i>
            Debe de escoger el campo <strong>Ciclo</strong> y <strong>Nivel</strong>
        </div>
    </div>
    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-filter"></i> Filtros</h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2"><label class="label-survey"></label></div>
                                    <div class="col-md-4"><label class="label-survey" style="padding-left: 1px;color: red;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Ingrese nombre para buscar" : "Type a name to search")</label></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Curso" : "*Course")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.IdCurso, new SelectList(Model.lstCurso, "Value", "Text"), new
                                        {
                                            @class = "curso-select form-control",
                                            //@required = true
                                        })
                                        @*@Html.ValidationMessageFor(x => x.IdCurso)*@
                                    </div>
                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Desde" : "From")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.IdDesde, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                                        , new
                                        {
                                            @class = "form-control select2-select",
                                            @data_action = "hasta"
                                        })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Hasta" : "To")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.IdHasta, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                                        , new
                                        {
                                            @class = "form-control select2-select",
                                            @data_action = "getCursos",
                                            @disabled = true
                                        })
                                    </div>
                                </div>  
                                <br />
                                <div class="pull-right">
                                    <a class="btn btn-default" href="@Url.Action("SurveyManagementFDC", "Survey")"><i class="fa fa-arrow-left"></i> Atrás</a>
                                    @*<button type="submit" class="btn btn-primary"><i class="fa fa-cogs"></i> Generar Reporte</button>*@
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" id="exampleIconDropdown2" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-cogs"></i> Generar Reporte
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown2" role="menu">
                                            <li role="presentation" class="btn-li"><button style="width: 100%;border:none;background-color:transparent" type="submit" name="btnReport" role="menuitem" value="PDF"><i class="fa fa-file-pdf-o"></i> PDF&nbsp;&nbsp;&nbsp;&nbsp;</button></li>
                                            <li role="presentation" class="btn-li"><button style="width: 100%;border:none;background-color:transparent" type="submit" name="btnReport" role="menuitem" value="EXCEL"><i class="fa fa-file-excel-o"></i> EXCEL</button></li>
                                            <li role="presentation" class="btn-li"><button style="width: 100%;border:none;background-color:transparent" type="submit" name="btnReport" role="menuitem" value="WORD"><i class="fa fa-file-word-o"></i> WORD</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@if (String.IsNullOrEmpty(Model.Key) == false && Model.CantSuccess.Value > 0)
{
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Reportes:</h3>
            </div>
            <div class="panel-body">
                <div class="row" style="display:none;">
                    <div class="form-group">
                        <h5 id="logro"></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="text-right">
                        <a href="@Url.Action("DescargarTodo", "Report", new { Key = Model.Key})" class="btn btn-info" data-toggle="tooltip"
                           data-placement="top" data-original-title="Descarga todos los elementos en un archivo .zip"><i class="fa fa-download"></i> Descargar Todo</a>
                    </div>
                    <div class="example table">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th style="color:white;" class="">Nombre</th>
                                    <th style="color:white;" class=""></th>
                                </tr>
                            </thead>
                            <tbody id="files">
                                @{ var lstFile = Directory.GetFiles(Server.MapPath("~/Files/SurveyReport"));}
                                @foreach (var item in lstFile)
                                {
                                    var archivo = Path.GetFileName(item);
                                    if (archivo.Equals(Model.fileName))
                                    {
                                        <tr>
                                            <td><i class="@Html.Raw(ConstantHelpers.GetIconPorExtension(Model.Extension))"></i>&nbsp;@(archivo.Replace(Model.Key, ""))</td>
                                            <td class="text-center">
                                                @if (Model.Extension == ConstantHelpers.ENCUESTA.PDF)
                                                {
                                                    <a class="btn btn-default" href="#" @Url.ModalHelperFor("_VerArchivo", "Report", new { Archivo = archivo, Nombre = archivo.Replace(Model.Key, "") }, ModalSize.Large)><i class="fa fa-eye"></i> Ver</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-default" href="@Url.Content("~/Files/SurveyReport/" + archivo)"><i class="fa fa-download"></i> Descargar</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script>
        $(document).ready(function(){
            @if (String.IsNullOrEmpty(Model.Key) == false && Model.CantSuccess.Value > 0)
            {
                <text>$('#filtros').click()</text>
            }
        })
        function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }
        $('.btn-li').click(function () {
            showLoading();
        });

        $(".curso-select").select2({
            
            placeholder: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]":"[- All -]")',
            ajax: {
                url: '@Url.Action("GetCursoAjax", "Json")',
                dataType: 'json',
                type: 'POST',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data
                    };
                },
                cache: true
            }
        });

        $(document).on('change', '[data-action="hasta"]', function (e) {
            var selectedId = $(this).val();
            if (selectedId != "") {
                var $this = $(this);

                var postData = {};
                postData['IdDesde'] = $('#IdDesde').val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetFiltroHasta","Json")',
                    data: postData,
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        $('#IdHasta').html('');
                        for (i = 0; i < data.length; i++) {
                            $('#IdHasta').append($('<option>').text(data[i]['CicloAcademico']).attr('value', data[i]['IdPeriodoAcademico']));
                        }
                        $('#IdHasta').removeAttr('disabled');
                        $('#IdHasta').trigger('change');
                    }
                });
            }
        });


</script>
}