﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Email.PartialView.GetLinkGRAViewModel
@{
    ViewBag.Title = "Enlace";
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Icon = "envelope";
    ViewBag.GUID = Guid.NewGuid().ToString();
    ViewBag.IsGet = "True";
    ViewBag.Form = true;
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@Html.HiddenFor(x => x.IdAlumno)
@Html.HiddenFor(x=>x.link)

<p>@(language == ConstantHelpers.CULTURE.ESPANOL ? "Enlace de encuesta:" : "Survey link:") </p>
@if (Model.link.Any())
{
    var encuesta = Model.link;
    <div class="text-center">
        <textarea style="resize:none" rows="6" cols="75" disabled id="talink">
            @encuesta
        </textarea>
    </div>
}





