﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Email.PartialView.ListStudentNotificationsEVDViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey
@{
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor(x => x.lstDatosDelegados)
<table class="table table-hover table-striped">
    <thead>
        <tr style="background-color: #ff1901; color: white;">
            <th class="col-md-1 text-center" style="color:white;">@SurveyResources.Codigo</th>
            <th class="col-md-2 text-center" style="color:white;">@SurveyResources.Alumno</th>
            <th class="col-md-1 text-center" style="color:white;">@SurveyResources.LabelCareer</th>
            <th class="col-md-1 text-center" style="color:white;">@SurveyResources.Correo</th>
            <th class="col-md-1 text-center" style="color:white;">@SurveyResources.UltimaNotificacion</th>
            <th class="col-md-1 text-center" style="color:white;">@SurveyResources.Estado</th>

        </tr>
    </thead>
    <tbody id="tbl_alumnos">
        @if (Model.LstNotificacionAlumnosDelegados.Any())
        {
            for (int i = 0; i < Model.LstNotificacionAlumnosDelegados.Count; i++)
            {
                var oAlumno = Model.LstNotificacionAlumnosDelegados[i];
                <tr id="@oAlumno.IdAlumno">
                    <td align="center">@oAlumno.Codigo</td>
                    <td>@oAlumno.NombreCompleto</td>
                    <td>@(language == ConstantHelpers.CULTURE.ESPANOL ? oAlumno.NombreCarreraEspanol : oAlumno.NombreCarreraIngles)</td>
                    <td align="center">@oAlumno.Correo</td>
                    <td align="center">@oAlumno.FechaEnvio</td>
                    @if (!oAlumno.Estado)
                    {
                        <td align="center">@Html.Raw(ConstantHelpers.GetSpanEstado("INA", (language == ConstantHelpers.CULTURE.ESPANOL ? "SIN ENVIAR" : "NOT SEND")))</td>
                        @*<td class="text-center">
                                <button class='btn btn-icon btn-default btn-outline' type='button' onclick='eliminarAlumno("@oAlumno.IdNotificacion","@oAlumno.IdAlumno","@oAlumno.Codigo")'><i class='icon wb-trash' aria-hidden='true'></i></button>
                            </td>*@
                    }
                    else
                    {
                        <td align="center">@Html.Raw(ConstantHelpers.GetSpanEstado("ACT", (language == ConstantHelpers.CULTURE.ESPANOL ? "ENVIADO" : "SENT")))</td>

                    }
                </tr>
            }
        }
    </tbody>
</table>
<div class="text-center">
    <ul class="pagination pagination-lg pager" id="myPagerDelegados"></ul>
</div>
