﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Email.PartialView.ListStudentNotificationsGRAViewModel
@{ 
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor(x => x.lstDatos)
<table class="table table-hover table-striped">
    <thead>
        <tr style="background-color: #ff1901; color: white;">
            <th class="col-md-1 text-center" style="color:white;">@AddEditFDCResource.KeyWordsCodigo</th>
            <th class="col-md-2 text-center" style="color:white;">@AddEditFDCResource.KeyWordsAlumno</th>
            <th class="col-md-1 text-center" style="color:white;">@AddEditFDCResource.KeyWordsCarrera</th>
            <th class="col-md-1 text-center" style="color:white;">@AddEditFDCResource.KeyWordsCorreo</th>
            <th class="col-md-1 text-center" style="color:white;">@AddEditFDCResource.KeyWordsUltimoEnvio</th>     
            <th class="col-md-1 text-center" style="color:white;">@AddEditFDCResource.KeyWordsEstado</th>
            <th class="col-md-1 text-center"></th>
        </tr>
    </thead>
    <tbody id="tbl_alumnos">
        @if (Model.lstAlumnosDatos.Any())
        {
            for (int i = 0; i < Model.lstAlumnosDatos.Count; i++)
            {
                var oAlumno = Model.lstAlumnosDatos[i];
                <tr id="@oAlumno.IdAlumno">
                    <td align="center">@oAlumno.Codigo</td>
                    <td>@oAlumno.NombreCompleto</td>
                    <td>@(language == ConstantHelpers.CULTURE.ESPANOL ? oAlumno.NombreCarreraEspanol : oAlumno.NombreCarreraIngles)</td>
                    <td align="center">@oAlumno.Correo</td>                 
                    <td align="center">@oAlumno.FechaEnvio</td>
                    @if (!oAlumno.Estado)
                    {
                        <td align="center">@Html.Raw(ConstantHelpers.GetSpanEstado("INA", (language == ConstantHelpers.CULTURE.ESPANOL ? "SIN ENVIAR" : "NOT SEND")))</td>
                                    <td class="text-center">
                                        <button class='btn btn-icon btn-default btn-outline' type='button' onclick='eliminarAlumno("@oAlumno.IdNotificacion","@oAlumno.IdAlumno","@oAlumno.Codigo")'><i class='icon wb-trash' aria-hidden='true'></i></button>
                                    </td>
                    }
                    else
                    {
                        <td align="center">@Html.Raw(ConstantHelpers.GetSpanEstado("ACT", (language == ConstantHelpers.CULTURE.ESPANOL ? "ENVIADO" : "SENT")))</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a @Url.ModalHelperFor("_DeleteNotificationSurveyGRA", "Email", new { IdNotificacion = oAlumno.IdNotificacion }) role="menuitem"><i class="fa fa-trash"></i> @AddEditFDCResource.MaintenanceSurveyGRAEliminar</a></li>
                                    <li><a @Url.ModalHelperFor("_SendEmailSurveyGRA", "Email", new { IdNotificacion = oAlumno.IdNotificacion }) role="menuitem"><i class="fa fa-paper-plane"></i> @AddEditFDCResource.MaintenanceSurveyGRAReenviar</a></li>
                                    <li><a @Url.ModalHelperFor("_GetLinkGra","Email",new { IdAlumno = oAlumno.IdAlumno }) role="menuitem"><i class="fa fa-share-square"></i> Obtener Link</a></li>
                                </ul>
                            </div>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
<div class="text-center">
    <ul class="pagination pagination-lg pager" id="myPager"></ul>
</div>
