﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Email.ViewEmailNotificationViewModel
@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Title = "Reenviar Notificación";
    ViewBag.Icon = "share";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@*@Html.HiddenFor(x => x.EncuestaId)*@
<p>@(language == ConstantHelpers.CULTURE.ESPANOL ? "¿Está seguro de reenviar la notificación?" : "Are you sure to resend the notification?")</p>

@section Scripts{
    <script>
    urlModalRedirect = '@Url.Action("EmailNotification", "Email")';
    </script>

}