﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Email.SendNotificationViewModel
@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Title = "Enviar Notificaciones";
    ViewBag.Icon = "envelope";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            @Html.LabelFor(x => x.IdSeccion, new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.DropDownListFor(m => Model.IdSeccion, new SelectList(Model.lstSeccion, "IdSeccion", language == ConstantHelpers.CULTURE.ESPANOL ? "Codigo" : "Codigo"), new { @class = "form-control select2-select" })
        </div>
    </div>
</div>