﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Email.ViewEmailNotificationViewModel
@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Title = "Ver Notificación";
    ViewBag.Icon = "eye";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@Html.HiddenFor(x => x.IdEmail)
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            @Html.LabelFor(x => x.Asunto, new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Asunto, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            @Html.LabelFor(x => x.Mensaje, new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.TextAreaFor(x => x.Mensaje, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            @Html.LabelFor(x => x.Estado, new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Estado, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            @Html.LabelFor(x => x.FechaEnvio, new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.FechaEnvio, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

            var BotonSeccion = function (context) {
                var ui = $.summernote.ui;

                var button = ui.button({
                    contents: '<b><i class="fa fa-child"/> Sección</b>',
                    tooltip: 'seccion',
                    click: function () {
                        context.invoke('editor.insertText', '{PARAM_SECCION}');
                    }
                });

                return button.render();
            }

            $('#Mensaje').summernote({
                height: 100,
                focus: true,
                toolbar: [
                  ['style', ['bold', 'italic', 'underline', 'clear']],
                  ['para', ['ul', 'ol', 'paragraph']],
                  ['btnSeccion', ['seccion']]
                ],

                buttons: {
                    seccion: BotonSeccion
                }
            });
        });

        $('#Mensaje').summernote('disable');

        $('.modal-fade-in-scale-up').on('hide.bs.modal', function () {
            $('.modal-fade-in-scale-up').remove();
        })
    </script>
}