﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Email.EmailSurveyGRAViewModel
@{
    ViewBag.Title = @AddEditFDCResource.OptionsNotificaciones;
    ViewBag.Icon = "fa fa-envelope";
    ViewBag.SevenIcon = "mail-open-file";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementGRA", "Survey")">@AddEditFDCResource.KeyWordsEncuestaGraduando</a></li>
}

@Html.Content("css/font/summernote.eot")
@Html.Content("css/font/summernote.ttf")
@Html.Content("css/font/summernote.woff")

@section Styles{
    <style>
        input[type=checkbox] {
            /* All browsers except webkit*/
            transform: scale(1.5);
            /* Webkit browsers*/
            -webkit-transform: scale(1.5);
        }
    </style>
}

<form method="post" class="row" id="formNotificacion" action="@Url.Action("EmailNSurveyGRA", "Email")">
    @Html.HiddenFor(x => x.IdCarrera)
    <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
        <!--CARGA MANUAL-->
        <div class="panel">
            <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne">
                    <i class="fa fa-search" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                    @AddEditFDCResource.ButtonsOptionsSurveyBuscar @AddEditFDCResource.KeyWordsAlumno
                </a>
            </div>
            <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                <div class="panel-body">
                    <input type="hidden" id="IdAlumno">
                    <input type="hidden" id="IdCarreraAlumno">
                    <div class="panel panel-bordered">
                        <div class="row">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsAlumno</label></div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(x => x.NombreAlumno, new SelectList(Model.lstNombresAlumno, "Value", "Text"), new
                                {
                                    @class = "alumno-select form-control",
                                    name = "NombreAlumno",
                                    id = "NombreAlumno",
                                    data_plugin = "select2",
                                    data_source_url = @Url.Action("GetAlumnoById", "Json")
                                })
                            </div>
                            <div class="col-md-1"><a class="btn btn-default" id="clear"><i class="fa fa-eraser"></i></a></div>

                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCodigo</label></div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(x => x.CodigoAlumno, new SelectList(Model.lstCodigoAlumno, "Value", "Text"), new
                                {
                                    @class = "codigo-select form-control",
                                    name = "CodigoAlumno",
                                    id = "CodigoAlumno",
                                    data_plugin = "select2",
                                    data_source_url = @Url.Action("GetAlumnoById", "Json")
                                })
                            </div>
                            <div class="col-md-1"><a class="btn btn-default" id="clear"><i class="fa fa-eraser"></i></a></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCarrera</label></div>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.NombreCarrera, new { @class = "form-control", @readonly = "" })
                            </div>
                        </div>

                        <div class="pull-right">
                            <button type="button" class="btn btn-dark" onclick="agregarAlumnos()"><i class="fa fa-plus"></i> @AddEditFDCResource.ButtonsOptionsSurveyAgregar</button>
                        </div>
                    </div>
                    @Html.HiddenFor(x => x.objConfiguracionNotificacion.IdConfiguracionNotificacion)
                    @Html.HiddenFor(x => x.objConfiguracionNotificacion.NombreAsunto)
                    @Html.HiddenFor(x => x.objConfiguracionNotificacion.NombreContenido)
                    @Html.HiddenFor(x => x.objConfiguracionNotificacion.FechaFinLimite)
                </div>
            </div>
        </div>
        <!--CARGA MASIVA-->
        <div class="panel">
            <div class="panel-heading" id="exampleHeadingDefaultTwo" role="tab">
                <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo">
                    <i class="fa fa-cloud-upload" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                     @AddEditFDCResource.OptionsCargaMasiva
                </a>
            </div>
            <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo" aria-labelledby="exampleHeadingDefaultTwo" role="tabpanel" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                    <!--Aqui registro masivo-->
                    @Html.TextBoxFor(x => x.Archivo, new { type = "file", @class = "dropify" })
                    <div id="cargando" style="display:none;">
                        <center>
                            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                        </center>
                    </div>
                    <br />
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary" id="testdescargar">Descargar Plantilla</button>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <button type="button" class="btn btn-dark" id="test"><i class="fa fa-cloud-upload"></i> @AddEditFDCResource.ButtonsOptionsSurveyCargar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ALUMNOS AGREGADOS-->
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-user"></i> @AddEditFDCResource.KeyWordsAlumnos
            </h3>
        </div>
        <div class="panel-body">
            <div class="col-md-2 text-center">
                <label class="label-survey"><i class="fa fa-filter"></i> @AddEditFDCResource.KeyWordsFiltrar</label>
            </div>
            <div class="col-md-3">
                <input id="searchInput" class="form-control" style="text-transform: uppercase;"><br />
            </div>
            @{ var roles = Session.GetRoles();}
            @if (!roles.HasRole(AppRol.DirectorCarrera) && !roles.HasRole(AppRol.Administrador))
            {
                <div class="col-md-4">
                    @Html.CheckBoxFor(model => model.ValidarCarrera) <span style="font-size:small; color:red;font-weight:bold">@Html.Raw(language == ConstantHelpers.CULTURE.ESPANOL ? "Sólo validar " + Model.CarreraCoordinador.NombreEspanol : "Only validate " + Model.CarreraCoordinador.NombreIngles)</span>
                </div>
            }
            <div class="pull-right">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-dark dropdown-toggle" id="exampleIconDropdown3" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown3" role="menu">
                        <li role="presentation"><a data-toggle="modal" data-target="#myModalContenido"><i class="fa fa-wrench"></i> @AddEditFDCResource.OptionsConfiguracion</a></li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> @AddEditFDCResource.ButtonsOptionsSurveyNotificar</button>
            </div>

            <div id="list-student-notifications-partial-view">
                @Html.Action("_ListStudentNotificationsGRA", "Email")
            </div>
        </div>
    </div>
</form>

<!-- MODAL DE ASUNTO-->
<div id="myModalContenido" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sg">
        <!-- Modal content-->
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="panel-title">
                    <h4><i class="fa fa-briefcase" aria-hidden="true"></i> @AddEditFDCResource.OptionsConfiguracion</h4>
                </div>
            </div>

            <form method="post" action="@Url.Action("GuardarConfirmacionNotificacion", "Email")">
                <div class="panel-body">
                    <div class="row">
                        @Html.HiddenFor(x => x.objConfiguracionNotificacion.IdConfiguracionNotificacion)
                        <div class="col-md-2">
                            <label class="label-survey">@AddEditFDCResource.KeyWordsAsunto</label>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.objConfiguracionNotificacion.NombreAsunto, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label-survey">@AddEditFDCResource.KeyWordsContenido</label>
                        </div>
                    </div>
                    <div class="sa-body">
                        <div class="col-md-12">
                            @Html.TextAreaFor(x => x.objConfiguracionNotificacion.NombreContenido, new { @Id = "NombreContenido", @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-survey">@AddEditFDCResource.KeyWordsFechaFinDisponible</label>
                        </div>
                        <div class="col-md-7">
                            @Html.TextBoxFor(x => x.objConfiguracionNotificacion.FechaFinLimite, new { @type = "date", @class = "form-control", @Value = string.Format("{0:yyyy-MM-dd}", Model.objConfiguracionNotificacion.FechaFinLimite), @required = "required" })
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <button type="submit" class="pull-right btn btn-primary btn-block">@AddEditFDCResource.ButtonsOptionsSurveyGuardar</button>
                    </div>
                </div>
              </form>
        </div>
    </div>
</div>

<div id="errores" style="display:none;">
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title" id="errores-header"></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <ul class="list-group list-group-bordered" id="errores-body">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!--DESCARGA DE EXCEL-->
    <script>
        $(document).on('click', '#testdescargar', function () {
            $('#formNotificacion').attr('action', '@Url.Action("DownloadTemplateExcelNotificacionesGRA", "Excel")').submit();
            $('#formNotificacion').attr('action', '@Url.Action("EmailNSurveyGRA", "Email")');
        });

        $(document).on('click', '#test', function () {
            var formData = new FormData();

            formData.append('Archivo', $('#Archivo')[0].files[0]);
            formData.append('ValidarCarrera', $('#ValidarCarrera').val());
            formData.append('IdCarrera', getIdCarrera());

            $.ajax({
                url: '@Url.Action("UploadNotificacionEncuestaGRA", "Excel")',
                type: 'POST',
                async: true,
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (data) {
                    if (data.lstError.length > 0) {
                        $('#errores').show();
                        $('#errores-header').html('');
                        $('#errores-body').html('');

                        $('#errores-header').append(
                            '<i style="color:red;" class="fa fa-warning" aria-hidden="true"></i>' +
                            ' ' + data.lstError.length + ' @(language == ConstantHelpers.CULTURE.ESPANOL ? " códigos no fueron cargadas" : " rows were not uploaded")'
                            );

                        for (var i = 0 ; i < data.lstError.length ; i++) {
                            $('#errores-body').append('<li class="list-group-item">' + data.lstError[i] + '</li>');
                        }
                        swal({
                            title: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "Ocurrieron errores!" : "Errors occurred!")',
                            text: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "Registros subidos " : "Uploaded records ")' + data.CantSuccess,
                            type: 'warning',
                            confirmButtonColor: '#ff0000',
                            confirmButtonText: 'Aceptar'
                        }, function () {
                            getListStudentNotification();
                        });
                    } else {
                        swal({
                            title: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "Subida Exitosa!" : "Successful operation!")',
                            text: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "Se cargaron los datos" : "Data was uploaded")',
                            type: 'success',
                            confirmButtonColor: '#ff0000',
                            confirmButtonText: 'Aceptar'
                        }, function () {
                            getListStudentNotification();
                        });
                        $('#errores').hide();
                    }
                    $(".dropify-clear").click();
                },
                error: function(){
                    swal({
                        title: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "¡Operación Fallida!" : "Operation Failed!")',
                        text: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "Por favor, intente una vez más" : "Please try again")',
                        type: 'error',
                        confirmButtonColor: '#ff0000',
                        confirmButtonText: 'Aceptar'
                    });
                }
            });

        });
    </script>
    <!--FILTRO Y SUMMERNOTE-->
    <script>

        $("#searchInput").keyup(function () {
            var data = this.value.toUpperCase().split(" ");
            var jo = $("#tbl_alumnos").find("tr");
            if (this.value == "") {
                $('#tbl_alumnos').limpio();
                return;
            }
            jo.hide();

            jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.is(":contains('" + data[d] + "')")) {
                        return true;
                    }
                }
                return false;
            })
            .show();
        }).focus(function () {
            this.value = '';
            $(this).css({
                "color": "black"
            });
            $(this).unbind('focus');
        }).css({
            "color": "#C0C0C0"
        });


        $('#NombreContenido').summernote({
            height: 200,
            focus: true,
            toolbar: [
              ['style', ['bold', 'italic', 'underline', 'clear']],
              ['para', ['ul', 'ol', 'paragraph']]
            ],

        });
</script>
    <!--PAGINADOR JAVASCRIPT-->
    <script>
        $.fn.limpio = function () {
            var children = $('#tbl_alumnos').children();
            var pager = $('.pager');
            var page = pager.data("curr");

            var numItems = children.size();
            var numPages = Math.ceil(numItems / 7);
            if (page >= numPages && page > 0)
                page = numPages - 1;

            $('#tbl_alumnos').pageMe({ pagerSelector: '#myPager', showPrevNext: true, hidePageNumbers: false }, page);
        };

        $.fn.pageMe = function(opts, nropage){
        var $this = this,
        	defaults = {
        	    perPage: 7,
        		showPrevNext: false,
        		hidePageNumbers: false
        	},
        settings = $.extend(defaults, opts);

        var listElement = $this;
        var perPage = settings.perPage;
        var children = listElement.children();
        var pager = $('.pager');

        if (typeof settings.childSelector!="undefined") {
        	children = listElement.find(settings.childSelector);
        }

        if (typeof settings.pagerSelector!="undefined") {
        	pager = $(settings.pagerSelector);
        }

        var numItems = children.size();
        var numPages = Math.ceil(numItems/perPage);

        pager.data("curr", nropage);
        $('#myPager').empty();

        if (settings.showPrevNext){
        	$('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
        }

        var curr = 0;
        while(numPages > curr && (settings.hidePageNumbers==false)){
        	$('<li><a href="#" class="page_link">'+(curr+1)+'</a></li>').appendTo(pager);
        	curr++;
        }

        if (settings.showPrevNext){
        	$('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
        }

        pager.find('.page_link:first').addClass('active');
        pager.find('.prev_link').hide();
        if (numPages<=1) {
        	pager.find('.next_link').hide();
        }
        pager.children().eq(1).addClass("active");

        children.hide();
        goTo(nropage);

        pager.find('li .page_link').click(function(){
        	var clickedPage = $(this).html().valueOf()-1;
        	goTo(clickedPage,perPage);
        	return false;
        });
        pager.find('li .prev_link').click(function(){
        	previous();
        	return false;
        });
        pager.find('li .next_link').click(function(){
        	next();
        	return false;
        });

        function previous(){
        	var goToPage = parseInt(pager.data("curr")) - 1;
        	goTo(goToPage);
        }

        function next(){
        	goToPage = parseInt(pager.data("curr")) + 1;
        	goTo(goToPage);
        }

        function goTo(page){
        	var startAt = page * perPage,
        		endOn = startAt + perPage;

        	children.css('display','none').slice(startAt, endOn).show();

        	if (page>=1) {
        		pager.find('.prev_link').show();
        	}
        	else {
        		pager.find('.prev_link').hide();
        	}

        	if (page<(numPages-1)) {
        		pager.find('.next_link').show();
        	}
        	else {
        		pager.find('.next_link').hide();
        	}

        	pager.data("curr",page);
        	pager.children().removeClass("active");
        	pager.children().eq(page+1).addClass("active");

        }
    };
    </script>
    <!--EVENTOS-->
    <script>
        $(document).ready(function () {
            $('#tbl_alumnos').pageMe({ pagerSelector: '#myPager', showPrevNext: true }, 0);

            $(document).on('click', '#clear', function () {
                $('#NombreAlumno').select2("val", " ");
                $('#CodigoAlumno').select2("val", " ");
                $('#NombreCarrera').val("");
            });

            var dataNombreAlumno = [{ id: '@Model.IdAlumno', text: '@Model.NombreAlumno' }];
            var dataCodigoAlumno = [{ id: '@Model.IdAlumno', text: '@Model.CodigoAlumno' }];

            $(".alumno-select").select2({
                data: dataNombreAlumno
            });

            $(".codigo-select").select2({
                data: dataCodigoAlumno
            });

            $(".alumno-select").select2({
                ajax: {
                    url: '@Url.Action("FindStudentName", "Json")',
                    dataType: 'json',
                    type: 'POST',
                    delay: 250,
                    data: function (params) {
                        return {
                            content: params.term,
                            IdCarrera: getIdCarrera()
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                }
            });

            $(".codigo-select").select2({
                ajax: {
                    url: '@Url.Action("FindStudentCode", "Json")',
                    dataType: 'json',
                    type: 'POST',
                    delay: 250,
                    data: function (params) {
                        return {
                            content: params.term,
                            IdCarrera: getIdCarrera()
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                }
            });

            $("#ValidarCarrera").change(function(){
                getListStudentNotification();
            });
        });

        $(document).on('change', '[data-plugin="select2"]', function (e) {
            var selectedId = $(this).val();

            if (selectedId != "") {
                var $this = $(this);
                var sourceUrl = $this.attr('data-source-url');
                var postData = {};
                postData['IdAlumno'] = selectedId;

                $.ajax({
                    type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    dataType: 'json',
                    success: function (data) {
                        $('#IdAlumno').val(data.IdAlumno);
                        $("#select2-NombreAlumno-container").html(data.Nombre);
                        $("#select2-CodigoAlumno-container").html(data.Codigo);
                        $('#IdCarreraAlumno').val(data.IdCarrera);
                        $('#NombreCarrera').val(data.NombreCarrera);
                    }
                });
            }
        });
    </script>
    <!--MÉTODOS BÁSICOS-->
    <script>
        function agregarAlumnos() {
            var IdAlumno = $("#IdAlumno").val();
            var IdCarrera = $("#IdCarreraAlumno").val();
            var Codigo = $("#select2-CodigoAlumno-container").html();
            var Nombre = $("#select2-NombreAlumno-container").html();

            if (Codigo.trim() == "")
                return;
            if (Nombre.trim() == "")
                return;

            if ($("#" + IdAlumno).length > 0) {
                swal({
                    title: '@language' == "es-PE" ? "Ya agregó a este alumno." : "Already added to this student.",
                    type: "warning",
                    confirmButtonColor: "#ff0000"
                });
                limpiarDatos();
                return;
            }

            var postData = {};
            postData['IdAlumno'] = IdAlumno;
            postData['IdCarrera'] = IdCarrera;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveNotificationGRA", "Json")',
                data: postData,
                dataType: 'json',
                success: function () {
                    getListStudentNotification();
                    limpiarDatos();
                }
            });
        }

        function eliminarAlumno(IdNotificacion, IdAlumno, Codigo) {
            var postData = {};
            postData['IdNotificacion'] = IdNotificacion;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteNotificationGRA", "Json")',
                data: postData,
                dataType: 'json',
                success: function () {
                    getListStudentNotification();
                }
            });
        }

        function limpiarDatos() {
            $("#IdAlumno").val("");
            $("#select2-NombreAlumno-container").html("");
            $("#select2-CodigoAlumno-container").html("");
            $("#IdCarreraAlumno").val("");
            $("#NombreCarrera").val("");
        }

        function getListStudentNotification() {
            $.ajax({
                url: '@Url.Action("_ListStudentNotificationsGRA", "Email")',
                type: "GET",
                data: {
                    IdCarrera: getIdCarrera()
                },
                beforeSend: function () {
                    showLoading();
                },
                success: function (data) {
                    $("#list-student-notifications-partial-view").html(data).ready(function () {
                        closeLoading();
                        $('#tbl_alumnos').pageMe({ pagerSelector: '#myPager', showPrevNext: true }, 0);
                    })
                }
            });
        }

        function getIdCarrera(){
            var IdCarrera = null;
            if ($('#ValidarCarrera').is(':checked'))
                IdCarrera = $('#IdCarrera').val();
            return IdCarrera;
        }

        function showLoading() {
            swal({
                title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                showConfirmButton: false,
                html: true
            });
        }

        function closeLoading() {
            swal.close();
        }
    </script>
}