﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Email.EmailNotificationViewModel
@{
    ViewBag.Title = "Notificaciones";
    ViewBag.Icon = null;
    ViewBag.SevenIcon = "mail-open-file";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementFDC", "Survey")">Encuesta Fin de Ciclo</a></li>
}

@Html.Content("css/font/summernote.eot")
@Html.Content("css/font/summernote.ttf")
@Html.Content("css/font/summernote.woff")

<form method="post" class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-binoculars"></i> Filtros</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.IdCarrera, new SelectList(Model.lstCarrera, "IdCarrera",
                        language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"),
                        language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new
                        {
                            @class = "form-control select2-select",
                            @data_plugin = "select2",
                            @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]",
                            @data_source_url = Url.Action("GetComisionByCarrera", "Json"),
                            @data_update_target = "#IdComision",
                            @data_filter = "CarreraId"
                        })
                    </div>
                    <div class="col-md-2"><label class="label-survey">Sede</label></div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.IdSede, new SelectList(Model.lstSede, "IdSede", "Nombre"),
                        language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new { @class = "form-control select2-select" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(x => x.IdCiclo, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"),
                                language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new
                                {
                                    @class = "form-control select2-select",
                                    @data_plugin = "select2",
                                    @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]",
                                    @data_source_url = Url.Action("GetAcreditadoraByCiclo", "Json"),
                                    @data_update_target = "#IdAcreditadora",
                                    @data_filter = "IdPeriodoAcademico"
                                })
                    </div>
                    <div class="col-md-2"><label class="label-survey">Estado</label></div>
                    <div class="col-md-4">
                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                            <option></option>
                            <option>Enviado</option>
                            <option>Por Enviar</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div class="pull-right">
                <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i> Buscar</button>
                @*<a class="btn btn-info" href="#"><i class="fa fa-search"></i> Buscar</a>*@
            </div>
        </div>
    </div>
</form>

<div class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-history"></i> Historial
                <div class="btn-group pull-right" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="exampleIconDropdown3" data-toggle="dropdown" aria-expanded="false" style="margin-top: -10%;">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown3" role="menu">
                        @*<li role="presentation"><a style="cursor: hand;" href="#" @Url.ModalHelperFor("_SendNotification", "Email", ModalSize.Large)><i class="fa fa-envelope"></i> Enviar Notificaciones</a></li>*@
                        <li role="presentation"><a style="cursor: hand;" href="#" @Url.ModalHelperFor("_AddEditEmailNotificacion", "Email", ModalSize.Large)><i class="fa fa-wrench"></i> Configurar Notificaciones</a></li>
                    </ul>
                </div>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr style="background-color: #ff1901; color: white;">
                                <th class="col-md-1 text-center" style="color:white;">Ciclo</th>
                                <th class="col-md-2 text-center" style="color:white;">Carrera</th>
                                <th class="col-md-1 text-center" style="color:white;">Curso</th>
                                <th class="col-md-1 text-center" style="color:white;">Seccion</th>
                                <th class="col-md-2 text-center" style="color:white;">Alumno</th>
                                <th class="col-md-2 text-center" style="color:white;">Correo</th>
                                <th class="col-md-1 text-center" style="color:white;">Estado</th>
                                <th class="col-md-1 text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var email in Model.lstEmail)
                            {
                                <tr>
                                    <td>@email.AlumnoSeccion.AlumnoMatriculado.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico</td>
                                    <td>@email.AlumnoSeccion.AlumnoMatriculado.Carrera.NombreEspanol</td>
                                    <td>@email.AlumnoSeccion.Seccion.CursoPeriodoAcademico.Curso.NombreEspanol</td>
                                    <td>@email.AlumnoSeccion.Seccion.Codigo</td>
                                    <td>@email.AlumnoSeccion.AlumnoMatriculado.Alumno.Nombres &nbsp; @email.AlumnoSeccion.AlumnoMatriculado.Alumno.Apellidos</td>
                                    <td>@email.AlumnoSeccion.AlumnoMatriculado.Alumno.CorreoElectronico</td>
                                    <td class="text-center"><span class="label label-success">@ConstantHelpers.GetEstadoEmail(email.Estado)</span></td>
                                    <td class="text-center">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                @*@AddEditFDCResource.MaintenanceSurveyFDCOpciones*@
                                                Mantenimiento
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                <li role="presentation"><a href="#" @Url.ModalHelperFor("_ViewEmailNotification", "Email", new { IdEmail = email.IdEmail }, ModalSize.Large) role="menuitem"><i class="fa fa-eye"></i> Ver</a></li>
                                                @if (email.Estado == ConstantHelpers.ENCUESTA.ESTADO_NO_ENVIADO)
                                                {
                                                    <li role="presentation"><a href="#" @Url.ModalHelperFor("_ResendEmailNotification", "Email", new { IdEmail = email.IdEmail }) role="menuitem"><i class="fa fa-share"></i> Reenviar</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
