@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Career.AddEditCarreraViewModel

@{
    ViewBag.Title = CarreraResource.TituloSingle;
    ViewBag.Icon = "graduation-cap";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    var hasValue = Model.IdCarrera.HasValue;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListCarrera", "Career")"> @CarreraResource.TituloLista</a></li>
}

<div class="panel">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-@(hasValue ? "pencil" : "plus")"></i> @(hasValue ? LayoutResource.Editar : LayoutResource.Nuevo) @ViewBag.Title</h3>
    </div>

    <form class="form form-horizontal" method="post">
        <div class="panel-body">
            @Html.HiddenFor(x => x.IdCarrera)

            @Html.EditorFor(x => x.Codigo)
            @Html.EditorFor(x => x.NombreEspanol)
            @Html.EditorFor(x => x.NombreIngles)
            <div class='form-group'>
                @Html.LabelFor(x => x.IdEscuela, new { @class = "col-md-3 control-label" })
                <div class='col-md-9'>
                    @Html.DropDownListFor(x => x.IdEscuela, new SelectList(Model.LstEscuela, "IdEscuela", "Nombre"), "[- Seleccionar -]", new
                    {
                        @class = "form-control select2-select",
                        @data_plugin = "select2"
                    })
                    @Html.ValidationMessageFor(x => x.IdEscuela)
                </div>
            </div>

            <div class='form-group'>
                @Html.LabelFor(x => x.IdModalidad,"Modalidad" ,new { @class = "col-md-3 control-label" })
                <div class='col-md-9'>
                    @Html.DropDownListFor(x => x.IdModalidad, new SelectList(Model.LstModalidad, "IdModalidad", "NombreEspanol"), "[- Seleccionar -]", new
                    {
                        @class = "form-control select2-select",
                        @data_plugin = "select2"
                    })
                    @Html.ValidationMessageFor(x => x.IdModalidad)
                </div>
            </div>
        </div>

        <div class="panel-footer text-right">
            <a class="btn btn-default animsition-link" href="@Url.Action("ListCarrera", "Career")"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
            <button type="submit" class="btn btn-primary "> @LayoutResource.Aceptar <i class="fa fa-check"></i></button>
        </div>

    </form>

</div>
