﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Career.AddEditCarreraPeriodoAcademicoViewModel
@{
    ViewBag.Icon = "user-plus";
    ViewBag.Section = "";
    ViewBag.Subsection = "";
    var hasValue = Model.IdCarreraPeriodoAcademico.HasValue;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListCarrera", "Career")">Carreras</a></li>
}

<div class="panel">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-@(hasValue ? "pencil" : "plus")"></i> @(hasValue ? LayoutResource.Editar : LayoutResource.Nuevo) CarreraPeriodoAcademico</h3>
    </div>

    <form class="form form-horizontal" method="post">
        <div class="panel-body">
            @Html.HiddenFor(x => x.IdCarreraPeriodoAcademico)
            @Html.HiddenFor(x => x.IdCarrera)

            <div class='form-group'>
                @Html.LabelFor(x => x.IdPeriodoAcademico,"Periodo Académico", new { @class = "col-md-3 control-label" })
                <div class='col-md-9'>
                    @Html.DropDownListFor(x => x.IdPeriodoAcademico, new SelectList(Model.LstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"), "[- Seleccionar -]", new { @class = "form-control", data_plugin = "select2" })
                    @Html.ValidationMessageFor(x => x.IdPeriodoAcademico)
                </div>
            </div>

            <div class="col-md-12 text-right">
                <a class="btn btn-default animsition-link" href="@Url.Action("ListCarreraPeriodoAcademico", "Career", new { Area = ConstantHelpers.AREAS.ADMIN, IdCarrera = Model.IdCarrera })"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @LayoutResource.Aceptar </button>
            </div>
        </div>


    </form>

</div>
