﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Career.ListCarreraPeriodoAcademicoViewModel
@{
    ViewBag.Title = EscuelaResource.TituloLista;
    ViewBag.Icon = "university";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
}

@section Breadcrumbs{
}

<!-- Panel Collapse -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> @LayoutResource.Listado</h3>
    </div>
    <div class="panel-body">
        <div class="text-right">
            <a class="btn btn-primary animsition-link" href="@Url.Action("AddEditCarreraPeriodoAcademico", "Career", new {  IdCarrera = Model.IdCarrera})"><i class="fa fa-plus"></i> @LayoutResource.Nuevo</a>
        </div>
        <br />
        <div class="table table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Modalidad</th>
                        <th>@EscuelaResource.Codigo</th>
                        <th>@EscuelaResource.Nombre</th>
                        <th class="text-right" style="min-width: 9.2em">@LayoutResource.Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListCarreraPeriodoAcademico)
                    {
                        <tr>
                            <td>@item.SubModalidadPeriodoAcademico.SubModalidad.Modalidad.NombreEspanol</td>
                            <td>@item.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico</td>
                            <td>@( item.Carrera.NombreEspanol)</td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("AddEditCarreraPeriodoAcademico", "Career", new { IdCarreraPeriodoAcademico = item.IdCarreraPeriodoAcademico, IdCarrera = item.IdCarrera })"><i class="fa fa-pencil"></i> @LayoutResource.Editar</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            @Html.PagedListPager(Model.ListCarreraPeriodoAcademico, page => Url.Action("ListCarreraPeriodoAcademico", new { p = page }), ConstantHelpers.TwitterBootstrapPagerAligned)

            <div class="text-right">
                <a class="btn btn-default animsition-link" href="@Url.Action("ListCarrera", "Career")"><i class="fa fa-arrow-left"></i> @LayoutResource.Atras</a>
            </div>

        </div>
    </div>
</div>
<!-- End Panel Collapse -->