﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Career.ListEscuelaViewModel
@{
    ViewBag.Title = EscuelaResource.TituloLista;
    ViewBag.Icon = "university";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
}

@section Breadcrumbs{
<li><a class="animsition-link" href="@Url.Action("BeforeEnrollment", "Upload", new { Area = String.Empty})"> Gestión de Datos </a></li>
}


<!-- Panel Collapse -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> @LayoutResource.Listado</h3>
    </div>
    <div class="panel-body">
        <div class="text-right">
            <a class="btn btn-primary animsition-link" href="@Url.Action("AddEditEscuela", "Career")"><i class="fa fa-plus"></i> @LayoutResource.Nuevo</a>
        </div>
        <br />
        <div class="table table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>@EscuelaResource.Codigo</th>
                        <th>@EscuelaResource.Nombre</th>
                        <th class="text-right" style="min-width: 9.2em">@LayoutResource.Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var escuela in Model.LstEscuela)
                    {
                        <tr>
                            <td>@escuela.Codigo</td>
                            <td>@escuela.Nombre</td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("AddEditEscuela", "Career", new { IdEscuela = escuela.IdEscuela })"><i class="fa fa-pencil"></i> @LayoutResource.Editar</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            @Html.PagedListPager(Model.LstEscuela, page => Url.Action("ListEscuela", new { p = page }), ConstantHelpers.TwitterBootstrapPagerAligned)
        </div>
    </div>
</div>
<!-- End Panel Collapse -->
