﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Career.ListCarreraViewModel
@{
    ViewBag.Title = CarreraResource.TituloLista;
    ViewBag.Icon = "graduation-cap";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
}

@section Breadcrumbs{
<li><a class="animsition-link" href="@Url.Action("BeforeEnrollment", "Upload", new { Area = String.Empty})"> Gestión de Datos </a></li>
}

<!-- Panel Collapse -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> @LayoutResource.Listado</h3>
    </div>
    <div class="panel-body">
        <div class="text-right">
            <a class="btn btn-primary animsition-link" href="@Url.Action("AddEditCarrera", "Career", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-plus"></i> @LayoutResource.Nuevo</a>
        </div>
        <br />
        <div class="table table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>@CarreraResource.Codigo</th>
                        <th>@CarreraResource.Nombre</th>
                        <th>@CarreraResource.Escuela</th>
                        <th class="text-right" style="min-width: 9.2em">@LayoutResource.Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var carrera in Model.LstCarrera)
                    {
                        <tr>
                            <td>@carrera.Codigo</td>
                            <td>@carrera.NombreEspanol - @carrera.NombreIngles</td>
                            <td>@carrera.Escuela.Codigo</td>
                            <td class="text-right">

                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("AddEditCarrera", "Career", new {  Area = ConstantHelpers.AREAS.ADMIN, IdCarrera = carrera.IdCarrera })"><i class="fa fa-pencil"></i> @LayoutResource.Editar</a>
                                    <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-sm pull-right">
                                        <li><a href="@Url.Action("ListCarreraPeriodoAcademico", "Career", new { Area = ConstantHelpers.AREAS.ADMIN, IdCarrera = carrera.IdCarrera })"><i class="fa fa-calendar-o"></i> @AcademicPeriodResource.PeriodoAcademico </a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            @Html.PagedListPager(Model.LstCarrera, page => Url.Action("ListCarrera", new { p = page }), ConstantHelpers.TwitterBootstrapPagerAligned)
        </div>
    </div>
</div>
<!-- End Panel Collapse -->