﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.BulkInsert
@{
    ViewBag.Title = BulkInsertResource.DescargarStatusDeCalificacion;
    ViewBag.Icon = "file-archive-o";
}


<div class="panel">

    <div class="panel-header">
        <h5 class="panel-title"><i class="fa fa-info"></i> @BulkInsertResource.EstatusDeCalificacion</h5>
    </div>

    <div class="panel-body">
        <p>@BulkInsertResource.EscogaUnaOpcion</p>

        <a class="btn btn-dark" href="@Url.Action("DownloadReport", "BulkInsert", new { Name = "Pendientes" })"><i class="fa fa-percent"></i>&nbsp; @BulkInsertResource.PendientesTodosLosRolesMenosComite</a>
        <!--<a class="btn btn-dark" href="@Url.Action("DownloadReport", "BulkInsert", new { Name = "Listos" })"><i class="fa fa-check"></i>&nbsp; Listas para comite</a>-->
    </div>

</div>
