﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.BulkInsert.UploadExcelFilesViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Rubric

@{
	ViewBag.Title = UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.TitleIndexUpdate;
}


@section Breadcrumbs{
}

@section SecondSidebar
{
	@{Html.RenderPartial("_SecondSidebar");}
}

<h5><span class="fa fa-arrow-left"></span>&nbsp; @UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.HeaderUploadIndex</h5>
<br />

<ul>
    <li><h5>&nbsp; @UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.MessageCargarGenerales</h5></li>
    <li><h5>&nbsp; @UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.MessageInstrucciones</h5></li>
</ul>

