﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.BulkInsert.OutcomeReportViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Rubric

@{
	ViewBag.Title = UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.TituloE;
	ViewBag.Icon = "file-archive-o";
	var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
	var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Styles {
	@Html.Content("css/more-styles.css", ConstantHelpers.AREAS.RUBRIC)
}

@section Breadcrumbs {
}


@*<div class="row">

		<div class="col-md-12">
			<div class="panel">
				<div class="panel-header">
					<h5 class="panel-title"><i class="fa fa-info"></i> Estatus de calificación</h5>
				</div>
				<div class="panel-body">
					<div class="panel-footer text-right">
						<a href="@Url.Action("DownloadReport", "BulkInsert", new { Name = "Pendientes" })" id="download" class="btn btn-primary">
							<i class="fa fa-download"></i>
							@RubricResource.Descargar
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>*@
<div class="row">
	<div class="panel filters">
		@Html.PanelHeader(String.Format("<i class=\"fa fa-filter\"></i> {0}", @UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Consolidado))
        <div class="panel-body row">
            @using (Html.BeginForm("DownloadStudentGradeReport", "BulkInsert", FormMethod.Post, new { @id = "formZipReport" }))
            {
                <div class="panel-footer text-right">
                    <button type="submit" id="download" class="btn btn-primary">
                        <i class="fa fa-download"></i>
                        @UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Descargar
                    </button>
                </div>
            }
        </div>
	</div>
</div>

<div class="row">
	<div class="panel filters">
		@Html.PanelHeader(String.Format("<i class=\"fa fa-filter\"></i> {0}", @UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Evidencia))
		<div class="panel-body row">
			@using (Html.BeginForm("DownloadZipReport", "BulkInsert", FormMethod.Post))
			{
				@Html.FormGroup(UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Ciclo,
								Html.DropDownListFor(m => m.IdPeriodoAcademico, new SelectList(Model.lstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"),
								new {
									@class = "form-control",
									@data_plugin = "select2",
									@data_id = "Cb_Ciclo"
								}))
				@Html.FormGroup(UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Carrera,
								Html.DropDownListFor(m => m.IdCarrera, new SelectList(Model.lstCarrera, "IdCarrera", "NombreEspanol"),
								new
								{
									@class = "form-control",
									@data_plugin = "select2",
									@data_id = "Cb_Carrera"
								}))
				@Html.FormGroup(UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Curso,
								Html.DropDownListFor(m => m.IdCurso, new SelectList(Model.lstCurso, "IdCurso", "NombreEspanol"),
								new {
									@class = "form-control",
									@data_plugin = "select2"
								}))

				<div class="panel-footer text-right">
                    <button type="submit" id="download" class="btn btn-primary eer">
                        <i class="fa fa-download"></i>
                        @UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Descargar
                    </button>
				</div>
			}
		</div>
	</div>
</div>

@section Scripts {

	<script>

        @*$('*[data-id="Cb_Ciclo"]').change(function () {
            var comboFillCarrera = $('*[data-id="Cb_Carrera"]');
            $.ajax({
                url: '@Url.Action("GetCarreraByCiclo", "Rubric")',
                type: "POST",
                data: {
                    IdCiclo: $(this).val()
                },
                dataType: 'json',
                beforeSend: function () {
                    comboFillCarrera.attr("disabled", "disabled");
                    comboFillCarrera.empty();
                    comboFillCarrera.append('<option value="">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Cargando... </option>');
                },
                success: function (data) {
                    var Carreras = data;
                    if (Carreras.length > 0) {
                        comboFillCarrera.empty();
                        comboFillCarrera.removeAttr("disabled");
                        for (var i = 0; i < Carreras.length; i++) {
                            comboFillCarrera.append('<option value="' + Carreras[i]['IdCarrera'] + '">' + Carreras[i]['NombreEspanol'] + '</option>');
                        }
                    } else {
                        comboFillCarrera.removeAttr("disabled");
                        comboFillCarrera.empty();
                        comboFillCarrera.append('<option value="">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.NoExisteRegistros</option>');
                    }
                },
                error: function () {
                    comboFillCarrera.removeAttr("disabled");
                    comboFillCarrera.append('<option value="">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.OcurrioError</option>');
                }
            });
        });*@

        $('#download.btn.btn-primary.eer').on("click", function () {
            var result = $('#formZipReport').valid()
            if (result == false) {
                error("Se deben de completar todos los campos.")
                return false
            }

        });

	</script>

	<script>
        function error(message) {
            swal({
                title: message,
                type: 'error'
            });
        }

        function showLoading() {
            swal({
                title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                showConfirmButton: false,
                html: true
            });
        }

        function closeLoading() {
            swal.close();
        }
	</script>
}
