﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.BulkInsert
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.BulkInsert.UploadExcelFilesViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Rubric

@{
	ViewBag.Title = Model.TituloPagina;

}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/vendor/dropify/dropify.min.css")">
}

@section Breadcrumbs{
}

<style>
	#tablaEvaluadorType {
		padding: 10px;
	}
</style>
@section SecondSidebar
{
	@{Html.RenderPartial("_SecondSidebar");}
}
<div class="row">
	@if (Model.TipoCargaMasiva == BulkInsertType.EvaluatorType)
	{
		<div class="col-md-12">
			<div class="panel" id="tablaEvaluadorType">
				<div class="table-responsive">
					<table class="table table-hover" id="myTable">
						<thead>
							<tr>
								<th>
									@BulkInsertResource.Codigo
								</th>
								<th>
									@BulkInsertResource.Nombre
								</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.lstTipoEvaluadorMaestra)
							{
								<tr>
									<td>
										@Html.DisplayFor(modelItem => item.Codigo)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.Nombre)
									</td>
								</tr>
							}
						</tbody>

					</table>
				</div>
			</div>
		</div>
	}
	<div class="col-md-12">
		<div class="panel">
			@Html.PanelHeader(String.Format("<i class=\"fa fa-file-o\"></i> {0}", UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.ElegirArchivo))

			@using (Html.BeginForm("UploadExcelFiles", "BulkInsert", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				@Html.HiddenFor(x => x.TituloPagina)
				@Html.HiddenFor(x => x.Icono)
				@Html.HiddenFor(x => x.TipoCargaMasiva)

				<div class="panel-body">
					@Html.TextBoxFor(x => x.Archivo, new { type = "file", @class = "dropify" })
				</div>



				<div class="panel-footer text-right">
					<a class="btn btn-default" id="btn-download-template" href="@Url.Action("GetTemplate","BulkInsert", new { Type = Model.TipoCargaMasiva })">
						<i class="fa fa-download"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.DescargarPlantilla
					</a>

					<button type="submit" class="btn btn-primary" id="btn-upload">
						<i class="fa fa-upload"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.SubirArchivo
					</button>
				</div>
			}
		</div>
	</div>
</div>

@section Scripts {
	<script src="@Url.Content("~/Content/vendor/dropify/dropify.min.js")"></script>
	<script type="text/javascript">

        $('.dropify').dropify();

        $('#btn-upload').click(function () {
            var file = $('#Archivo').val();

            if (file == '') {
                swal("El campo Archivo es obligatorio.", "", "error");
                allowSubmit = false;
            }
            else {
                allowSubmit = true
            }           
            console.log(allowSubmit);
            console.log(file);
			return allowSubmit;
		});
	</script>
}
