﻿<%@ Page Language="C#" MasterPageFile="~/Areas/Report/Resources/WebPages/Report.Master" AutoEventWireup="true" CodeBehind="ReportSemaforoRC3.aspx.cs" Inherits="UPC.CA.ABET.Presentation.Areas.Report.Resources.WebPages.ReportSemaforoRC3" %>

<%@ Register assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" namespace="Microsoft.Reporting.WebForms" tagprefix="rsweb" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderReport" runat="server">
    <rsweb:ReportViewer ID="ReportViewer1" runat="server" Width="100%" Height="850px">
    </rsweb:ReportViewer>
</asp:Content>
