﻿@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.PreSchedule.AgendaPreScheduleCommitteViewModel
@{
    ViewBag.Title = "Agenda de Pre Agenda de comite consultivo";
    ViewBag.Icon = "calendar";

}

@section Breadcrumbs{
    <li> <a href="@Url.Action("Index", "PreScheduleCommitte", new { Area = ConstantHelpers.AREAS.MEETING })"> Pre-Agenda Comite Consultivo</a>  </li>
}

<div class="modal-dialog modal-center">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Agenda - @Model.Motivo</h4>
         </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2">Tema: </label>
                    <div class="col-sm-10 input-group input-group-file">
                        <input id="txtTema" class="form-control" type="text">
                        <span class="input-group-btn" id="agregarTema"  onclick="AgregarTema()">
                            <span class="btn btn-primary">
                                Agregar
                            </span>
                        </span>
                    </div>
                </div>
                @Html.HiddenFor(m => m.IdPreAgenda)
                <div class="form-group">
                        <table class="table table-bordered" id="agendaTable">
                            <thead>
                                <tr>
                                    <td align="center">#</td>
                                    <td align="center">Tema</td>
                                    <td align="center">Eliminar</td>
                                </tr>
                            </thead>  
                            <tbody>
                                  @if (Model.ListaTemaPreAgendaComite == null && Model.ListaTemaPreAgendaComite.Count < 1)
                                  {
                                    <tr id="item-default">
                                        <td colspan="3" align="center">
                                            No hay temas en esta PreAgenda
                                        </td>
                                    </tr>
                                  }
                                  else
                                  {
                                      for (int i = 0; i < Model.ListaTemaPreAgendaComite.Count; i++)
                                      {
                                        <tr id="item-@Model.ListaTemaPreAgendaComite[i].IdPreAgenda">
                                            <td align="center">@(i + 1)</td>
                                            <td>@Model.ListaTemaPreAgendaComite[i].Nombre</td>
                                            <td align="center">
                                                <button class="btn btn-icon btn-default btn-outline" type="button" onclick="EliminarTema(@Model.ListaTemaPreAgendaComite[i].IdTemaAgenda)"><i class="icon wb-trash" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                      }
                                  }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="regresar">Regresar</button>
            </div>
        </div>
</div>


@section Scripts{ 
    <script>
        $("#regresar").click(function(){
           location.href = '@Url.Action("Index", new { Area = ConstantHelpers.AREAS.MEETING })';
        });
    </script>
    <script>
        $('#agregarTema').click(function(){
            var tema = document.getElementById('txtTema').value;
            var intIdPreAgenda = document.getElementById('IdPreAgenda').value;
            if ( tema == null || tema.length == 0 || tema.trim() == "")
                return;
            console.log("intIdPreAgenda = " + intIdPreAgenda);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddAgendaPreScheduleCommitte", "PreScheduleCommitte", new { Area = ConstantHelpers.AREAS.MEETING })',
                dataType: 'json',
                data: { nombreTema: tema, idPreAgenda: intIdPreAgenda },
                success: function (temaPreAgenda) {
                    var rowx = document.getElementById('item-default');
                    if (rowx != null) {
                        var tablex = rowx.parentNode;
                        while (tablex && tablex.tagName != 'TABLE')
                            tablex = tablex.parentNode;
                        if (!tablex)
                            return;
                        tablex.deleteRow(rowx.rowIndex);
                    }
                    document.getElementById('txtTema').value = "";
                    var table = document.getElementById("agendaTable");
                    var row = table.insertRow();
                    row.id = "item-" + temaPreAgenda.IdTemaAgenda;
                    var cell0 = row.insertCell();
                    var cell1 = row.insertCell();
                    var cell2 = row.insertCell();
                    cell0.innerHTML = 1;
                    cell0.align = "center";
                    cell1.innerHTML = temaPreAgenda.Nombre;
                    cell2.innerHTML = "<button class='btn btn-icon btn-default btn-outline' type='button' onclick='EliminarTema(" + temaPreAgenda.IdTemaAgenda + ")'><i class='icon wb-trash' aria-hidden='true'></i></button>";
                    cell2.align = "center";

                    RenumerarCeldas();
                },
                error: function (ex) {
                    alert('Ocurrió un problema al guardar el tema. Por favor, intente más tarde.');
                }
            });
        });
          
        function RenumerarCeldas() {
            var table = document.getElementById("agendaTable");
            for (var i = 0, row; row = table.rows[i]; i++) {
                //iterate through rows
                //rows would be accessed using the "row" variable assigned in the for loop
                for (var j = 0, col; col = row.cells[j]; j++) {
                    //iterate through columns
                    //columns would be accessed using the "col" variable assigned in the for loop
                    if (i != 0 && j == 0)
                        col.innerHTML = i;;
                }
            }
        }
      
        function EliminarTema(idTemaPreAgenda) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteTemaAgenda", "PreScheduleCommitte", new { Area = ConstantHelpers.AREAS.MEETING })',
                dataType: 'json',
                data: { id: idTemaPreAgenda },
                success: function (temaPreAgenda) {
                    //document.getElementById("myTable").deleteRow(pos);
                    var row = document.getElementById('item-' + idTemaPreAgenda);
                    var table = row.parentNode;
                    while (table && table.tagName != 'TABLE')
                        table = table.parentNode;
                    if (!table)
                        return;
                    table.deleteRow(row.rowIndex);
                    RenumerarCeldas();
                },
                error: function (ex) {
                    alert('Ocurrió un problema al eliminar el tema. Por favor, intente más tarde.');
                }
            });
        }




    </script>
    
}