﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.PreScheduleCommitte
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingCommitte.ConsultPreScheduleCommitteViewModel

@{ 
    ViewBag.Title = ConsultPreScheduleCommitteResource.Titulo;
    ViewBag.Icon = "calendar";
    ViewBag.Culture = System.Threading.Thread.CurrentThread.CurrentUICulture.ToString();
    
}

@section Breadcrumbs {
}

<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + Filtros.Filtro, PanelActions.Collapse)
              <div class="panel-body">                
                    @Html.FormGroup(Filtros.Sede , Html.DropDownListFor(m => m.IdSede, Model.Sedes, Filtros.Todos, new { @class = "form-control", data_plugin = "select2" }))
                    @Html.FormGroup(Filtros.Area , Html.DropDownListFor(m => m.IdArea, Model.Areas, Filtros.Todos, new { @class = "form-control", data_plugin = "select2" }))                                    
                

                  <div class="form-group col-sm-12 col-md-6">
                         @Html.LabelFor(x => x.FechaInicio, new { @class = "col-sm-12 control-label" })

                      <div class="col-sm-12">
                         <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="icon wb-calendar" aria-hidden="true"></i>
                              </span>
                              @Html.TextBoxFor(x => x.FechaInicio, ViewBag.Culture == ConstantHelpers.CULTURE.INGLES ? "{0:MM/dd/yyyy}" : "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                          </div>
                      </div>
                  </div>

                  <div class="form-group col-sm-12 col-md-6">
                         @Html.LabelFor(x => x.FechaFin, new { @class = "col-sm-12 control-label" })
                          <div class="col-sm-12">
                              <div class="input-group">
                                  <span class="input-group-addon">
                                      <i class="icon wb-calendar" aria-hidden="true"></i>
                                  </span>
                                  @Html.TextBoxFor(x => x.FechaFin, ViewBag.Culture == ConstantHelpers.CULTURE.INGLES ? "{0:MM/dd/yyyy}" : "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                              </div>
                          </div>
                      </div>
                  
                   <div class="col-sm-12 text-right">
                      <button type="button" id="btnBuscarPreAgenda" class="btn btn-dark" ><i class="fa fa-search"></i> @ButtonsOptionsResource.Buscar</button>
                  </div>
        </div>
        </div>
    </div>
</div>

    <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
        <div class="panel">
            <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                <a class="panel-title" data-toggle="collapse" href="#exampleCollapseDefaultOne"
                   data-parent="#exampleAccordionDefault" aria-expanded="true"
                   aria-controls="exampleCollapseDefaultOne">
                    <i class="fa fa-align-justify"></i> @Filtros.Resultados
                </a>
            </div>
            <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne"
                 role="tabpanel">
                <div class="panel-body">
                    <div class="text-right">
                        <a href="@Url.Action("CreatePreScheduleCommitte", "PreScheduleCommitte", new { Area = ConstantHelpers.AREAS.MEETING })" class="btn btn-primary"><i class="fa fa-plus"></i> @ButtonsOptionsResource.Crear</a>
                    </div>
                    <div class="panel-body row">
                        <table id="tblResultados" class="table table-striped table-hover" data-info="true" data-length-change="true" data-paginate="true">
                            <thead>
                                <tr>
                                    <th width="15%">@ConsultPreScheduleCommitteResource.FechaAproximada</th>
                                    <th width="10%">@ConsultPreScheduleCommitteResource.Sede</th>                                    
                                    <th width="50%">@PreScheduleResource.Motivo</th>                                    
                                    <th width="13%" class="text-center">@ConsultPreScheduleCommitteResource.Opciones</th>
                                    <th width="12%">@ConsultPreScheduleCommitteResource.CrearReunion</th>
                                </tr>
                            </thead>
                            <tbody id="idTablaPreAgendaCC">
                            @if (Model.listaResultado != null)
                                {
                                foreach (var item in Model.listaResultado)
                                {
                                    <tr>
                                        <text><td align="center">@item.FechaReunion.Value.ToString("dd/MM/yyyy") </td></text>
                                        <td>@item.Sede.Nombre</td>
                                        <td>@item.Motivo</td>
                                        <td class="text-center">
                                            <!-- Split button -->
                                            <div class="btn-group">
                                                <a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("DetailsPreScheduleCommitte", "PreScheduleCommitte", new { IdPreAgenda = item.IdPreAgenda })"><i class="fa fa-search"></i> @ButtonsOptionsResource.Visualizar</a>
                                                <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li role="presentation"><a href="@Url.Action("CreatePreScheduleCommitte", "PreScheduleCommitte", new { IdPreAgenda = item.IdPreAgenda })" role="menuitem"><i class="fa fa-edit"></i> @ButtonsOptionsResource.Editar</a></li>
                                                    <li role="presentation"><a @Url.ModalHelperFor("_DeletePreScheduleCommitte", "PreScheduleCommitte", new { IdPreAgenda = item.IdPreAgenda }) role="menuitem"><i class="fa fa-trash"></i>&nbsp;&nbsp;@ButtonsOptionsResource.Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("AddEditMeetingCommitte", "MeetingCommitte", new { IdPreAgenda = item.IdPreAgenda })" class="btn btn-icon btn-default btn-outline">
                                                <i class="icon wb-clipboard" aria-hidden="true"></i>
                                            </a>
                                        </td>                                   
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>       
                   </div>
            </div>
        </div>
    </div>
</div>

    @section Scripts{
        <script>
         $("#btnBuscarPreAgenda").click(function () {
                console.log("ingreso!!");
                var url = '@Url.Action("ConsultPreScheduleCommitte", "PreScheduleCommitte", new { Area = ConstantHelpers.AREAS.MEETING })'
                url += '?isSearchRequest=true';
                var IdSede = $("#IdSede").val();
                var IdArea = $("#IdArea").val();
                var FechaInicio = null;
                var FechaFin = null;
                FechaInicio = document.getElementById('FechaInicio').value;
                FechaFin = document.getElementById('FechaFin').value;
                
                url = concatNotNull(url, 'IdSede', IdSede);
                ulr = concatNotNull(url, 'IdArea', IdArea);
                url = concatNotNull(url, 'FechaInicio', FechaInicio);
                url = concatNotNull(url, 'FechaFin', FechaFin);
                location.href = url;
            });
              

            function concatNotNull(cadena, texto, valor) {
                if (valor != "" && valor != null)
                    return cadena + '&' + texto + '=' + valor;
                return cadena;
            };



        </script>
    }
