﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.PreScheduleCommitte
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingCommitte.CreatePreScheduleCommitteViewModel
@{
    ViewBag.Title = DetailsPreScheduleCommitteResource.Titulo;
}

@section Breadcrumbs{
    <li> <a href="@Url.Action("Index","PreScheduleCommitte", new { Area = ConstantHelpers.AREAS.MEETING })"> @DetailsPreScheduleCommitteResource.PreAgenda</a> </li>
}
<div class="col-md-1"></div>
<div class="col-md-10">
    <div class="panel filters">
        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-check"></i> @CreatePreScheduleCommitteResource.RegistrarPreAgendaDeComiteConsultivo </h3><div class="panel-actions"><a aria-hidden="true" class="panel-action icon wb-minus" data-toggle="panel-collapse"></a></div></div>

        <div class="panel-body" style="text-align:center;">

            <div class="panel-group panel-group-continuous margin-0" id="exampleAccrodion1"
                 aria-multiselectable="true" role="tablist">
                <div class="panel">
                    <div class="panel-heading" id="exampleHeadingFirst" role="tab">
                        <a class="panel-title" data-parent="#exampleAccrodion1" data-toggle="collapse"
                           href="#exampleCollapseFirst" aria-controls="exampleCollapseFirst"
                           aria-expanded="false" style="text-align:left;">
                            <i class="md-palette"></i> @CreatePreScheduleCommitteResource.InformacionGeneral
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseFirst" aria-labelledby="exampleHeadingFirst"
                         role="tabpanel">
                        <div class="panel-body">
                            <div class="row form-horizontal">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3">
                                            @Filtros.Motivo
                                        </label>
                                        <div class="col-sm-9 col-md-9">
                                            @Html.TextBoxFor(m => m.Motivo, new Dictionary<string, object> { { "class", "maxlength-input form-control" }, { "maxlength", "150" }, { "placeholder", "" }, { "data-placement", "bottom-right-inside" }, { "data-plugin", "maxlength" }, { "disabled", "" } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3">
                                            @ConsultPreScheduleCommitteResource.Sede
                                        </label>
                                        <div class="col-sm-9 col-md-9">
                                            @Html.DropDownListFor(m => Model.IdSede, new SelectList(Model.lstSede, "IdSede", "Nombre"), new
                                       {
                                           @class = "form-control select2-select",
                                           @data_plugin = "select2",
                                           @disabled = true
                                       })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3">
                                            @LayoutResource.Fecha
                                        </label>
                                        <div class="col-sm-9 col-md-9">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                                </span>
                                                @Html.TextBoxFor(m => m.Fecha, "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker", @disabled = true })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading" id="exampleHeadingThird" role="tab">
                        <a class="panel-title collapsed" data-parent="#exampleAccrodion1" data-toggle="collapse"
                           href="#exampleCollapseThird" aria-controls="exampleCollapseThird"
                           aria-expanded="false" style="text-align:left;">
                            <i class="md-loupe"></i> @CreatePreScheduleCommitteResource.Participantes
                        </a>
                    </div>
                    <div class="panel-collapse collapse" id="exampleCollapseThird" aria-labelledby="exampleHeadingThird" role="tabpanel">
                        <div class="panel-body">
                            <!------------------>
                            <div class="pull-left"><h4>@CreatePreScheduleCommitteResource.UnidadesAcademicas</h4></div>
                            <br />
                            <!--AQUI LOS PARTICIPANTES DISPONIBLES AGREGADOS-->
                            <div class="row">

                                <table class="table table-striped table-hover table-highlight table-checkable">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; vertical-align: middle;"></th>
                                            <th style="text-align: center; vertical-align: middle;">@Filtros.Nivel</th>
                                            <th style="text-align: center; vertical-align: middle;">@CreatePreScheduleCommitteResource.Nombre</th>
                                            <th style="text-align: center; vertical-align: middle;">@CreatePreScheduleCommitteResource.UnidadAcademica</th>
                                            <th style="text-align: center; vertical-align: middle;"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="contParticipantes">
                                        @{
                                            var usuarioCreador = Model.listaParticipantesNormales.FirstOrDefault(x => x.IdParticipante == Model.IdUsuarioCreador);
                                            var lstParticipantesNormales = Model.listaParticipantesNormales.Where(x => x.IsSelected && x.IdParticipante != Model.IdUsuarioCreador);

                                            if (usuarioCreador != null)
                                            {
                                                <tr id="pagregado-@usuarioCreador.IdParticipante">
                                                    <td align="center"><i class="fa fa-user-secret" aria-hidden="true"></i></td>
                                                    <td id="nivel-@Model.IdUsuarioCreador" align="center">@usuarioCreador.Nivel</td>
                                                    <td align="center">@usuarioCreador.Nombre</td>
                                                    <td id="unidad-@Model.IdUsuarioCreador" align="left">@usuarioCreador.UnidadAcademica</td>
                                                </tr>
                                            }

                                            if (lstParticipantesNormales.Any())
                                            {
                                                lstParticipantesNormales = lstParticipantesNormales.ToList();
                                                foreach (var usuarioParticipante in lstParticipantesNormales)
                                                {
                                                    String idParticipante = usuarioParticipante.IdParticipante.ToString() + usuarioParticipante.IdUnidadAcademica.ToString();
                                                    int i = Model.listaParticipantesNormales.IndexOf(usuarioParticipante);
                                                    <tr id="pagregado-@idParticipante">
                                                        <td style="text-align: center; vertical-align: middle;"></td>
                                                        <td align="center">@usuarioParticipante.Nivel</td>
                                                        <td align="center">@usuarioParticipante.Nombre</td>
                                                        <td align="left">@usuarioParticipante.UnidadAcademica</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <!---------------------------------------->
                            <br />
                            <div class="pull-left"><h4>@CreatePreScheduleCommitteResource.Externos</h4></div>
                            <br />
                            <!--AQUI LOS PARTICIPANTES EXTERNOS AGREGADOS-->
                            <div class="row">
                                <table class="table table-striped table-hover table-highlight table-checkable">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">@CreatePreScheduleCommitteResource.Nombre</th>
                                            <th style="text-align: center;">@CreatePreScheduleCommitteResource.Cargo</th>
                                            <th style="text-align: center;">@CreatePreScheduleCommitteResource.Correo</th>
                                            <th style="text-align: center;">@CreatePreScheduleCommitteResource.Empresa</th>
                                        </tr>
                                    </thead>
                                    <tbody id="contExternos">
                                        @for (int i = 0; i < Model.listaParticipantesExternos.Count; i++)
                                        {
                                            String cadena = String.Format("{0}|{1}|{2}|{3}", Model.listaParticipantesExternos[i].Nombre, Model.listaParticipantesExternos[i].Cargo, Model.listaParticipantesExternos[i].Correo, Model.listaParticipantesExternos[i].IdEmpresa);
                                            <tr id="@Html.Raw(HttpUtility.JavaScriptStringEncode(cadena))">
                                                <td style="text-align: center;">@Html.DisplayFor(model => model.listaParticipantesExternos[i].Nombre)</td>
                                                <td style="text-align: center;">@Html.DisplayFor(model => model.listaParticipantesExternos[i].Cargo)</td>
                                                <td style="text-align: center;">@Html.DisplayFor(model => model.listaParticipantesExternos[i].Correo)</td>
                                                <td style="text-align: center;">@Html.DisplayFor(model => model.listaParticipantesExternos[i].NombreEmpresa)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!------------------>
                            <br />
                        </div>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick='fnCancelar()'>@CreatePreScheduleCommitteResource.Regresar</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick='fnEditar(@Model.IdPreAgenda)'>@ButtonsOptionsResource.Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @section Scripts{
        <script>
        function fnCancelar() {
            location.href = '@Url.Action("ConsultPreScheduleCommitte", "PreScheduleCommitte")';
        }

        function fnEditar(idPreAgenda) {
            url = '@Url.Action("CreatePreScheduleCommitte", "PreScheduleCommitte")';
            url = url + "?IdPreAgenda=" + idPreAgenda;
            location.href = url
        }
        </script>
    }
