﻿@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingCommitte.CreatePreScheduleCommitteViewModel

@{
    ViewBag.Title = "Consultar Pre-Agenda de Comite Consultivo";
}

@section Styles{
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index","PreScheduleCommitte", new { Area = ConstantHelpers.AREAS.MEETING })">Pre-Agenda</a></li>
}

<div class="panel fa-filter">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-check"></i> Datos de PreAgenda</h3><div class="panel-actions"><a aria-hidden="true" class="panel-action icon wb-minus" data-toggle="panel-collapse"></a></div>
    </div>
    <div class="panel-body">

        <div class="panel-group panel-group-continuous margin-0" id="exampleAccrodion1"
             aria-multiselectable="true" role="tablist">


            <div class="panel">
                <div class="panel-heading" id="exampleHeadingFirst" role="tab">
                    <a class="panel-title" data-parent="#exampleAccrodion1" data-toggle="collapse"
                       href="#exampleCollapseFirst" aria-controls="exampleCollapseFirst"
                       aria-expanded="false" style="text-align:left;">
                        <i class="md-palette"></i> Información General
                    </a>
                </div>
                <div class="panel-collapse collapse in" id="exampleCollapseFirst" aria-labelledby="exampleHeadingFirst"
                     role="tabpanel">
                    <div class="panel-body">
                        @Html.FormGroup("Sede:", Html.DropDownListFor(m => m.PreAgenda.IdSede, Model.Sedes, new { @class = "form-control", data_plugin = "select2", disabled = "" }))
                        @Html.FormGroup("Área:", Html.DropDownListFor(m => m.PreAgenda.IdUnidaAcademica, Model.UnidadesAcademicas, new { @class = "form-control", data_plugin = "select2", disabled = "" }))
                        <div class="form-group col-md-6">
                            @Html.LabelFor(x => x.PreAgenda.FechaReunion, new { @class = "col-sm-12 control-label" })
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar" aria-hidden="true"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.PreAgenda.FechaReunion, "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker", disabled = "" })
                                </div>
                            </div>
                        </div>
                        @Html.FormGroup("Motivo:", Html.TextAreaFor(m => m.PreAgenda.Motivo, new { @class = "form-control", disabled = "" }))
                    </div>
                </div>
            </div>

        




            <div class="panel">
                <div class="panel-heading" id="exampleHeadingSecond" role="tab">
                    <a class="panel-title collapsed" data-parent="#exampleAccrodion1" data-toggle="collapse"
                       href="#exampleCollapseSecond" aria-controls="exampleCollapseSecond"
                       aria-expanded="false" style="text-align:left;">
                        <i class="md-loupe"></i> Participantes
                    </a>
                </div>
                <div class="panel-collapse collapse" id="exampleCollapseSecond" aria-labelledby="exampleHeadingSecond" role="tabpanel">
                    <div class="panel-body">

                        <table id="tblParticipante" class="table table-striped table-bordered table-hover table-highlight table-checkable">
                            <thead>
                                <tr class="rowParticipante">
                                    <th style="text-align: center; vertical-align: middle;">Nivel</th>
                                    <th style="text-align: center; vertical-align: middle;">Nombre</th>
                                    <th style="text-align: center; vertical-align: middle;">Unidad Academica</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                var usuarioIdDocenteAsociado = SessionHelper.GetDocenteId(Session);
                                }
                                @for (var i = 0; i < Model.ParticipantesReunion.Count(); i++)
                            {

                                if (Model.ParticipantesReunion[i].Participante != null)
                                {
                                    if (Model.ParticipantesReunion[i].Participante.Docente != null)
                                    {
                            <tr id="rowParticipante">
                                <td align="center">@Model.ParticipantesReunion[i].Nivel</td>
                                <td>@Model.ParticipantesReunion[i].Participante.Docente.Nombres @Model.ParticipantesReunion[i].Participante.Docente.Apellidos</td>
                                <td align="left">
                                    @Model.ParticipantesReunion[i].UnidadAcademica
                                </td>

                            </tr>
                                    }
                                    else
                                    {

                            <tr>

                                <td align="center"></td>

                                <td>
                                    @Model.ParticipantesReunion[i].Participante.NombreCompleto
                                </td>

                                <td align="left">
                                    @Model.ParticipantesReunion[i].Participante.Cargo
                                </td>


                            </tr>
                                    }
                                }
                            }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


            <div class="text-right col-md-12">
                <a class="btn btn-outline btn-default" href="@Url.Action("Index", "PreScheduleCommitte")"><i class="fa fa-arrow-left"></i>Regresar</a>
                <a class="btn btn-primary" href="@Url.Action("Edit", new { Area = ConstantHelpers.AREAS.MEETING, id = Model.PreAgenda.IdPreAgenda })">
                    <i class="fa fa-edit"></i> @LayoutResource.Editar
                </a>
            </div>


        </div>
</div>

