﻿@model UPC.CA.ABET.Presentation.Areas.Indicator.ViewModels.MaintenanceViewModel
@{
    ViewBag.Title = "Calidad de elaboración de exámenes de recuperación";
    ViewBag.Icon = "check-square-o";
}

@section SecondSidebar
{
    @{Html.RenderPartial("_SecondSidebar");}

}

@section Breadcrumbs
{
}

@section Styles
{
}

<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i>&nbsp;@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ElegirCiclo</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group col-md-6">
                <label class="control-label" for="inputBasicLastName">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Ciclo </label>
                @Html.DropDownList("termDropDown", Model.Terms, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ElegirArea</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group col-md-6">
                <label class="control-label" for="inputBasicLastName">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Area </label>
                <select class="form-control" id="areaDropDown"></select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-check-square-o"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.MarcarSegunCorresponda</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>
        </div>
        <form id="tabla-form">
            <div class="panel-body">
                <div class="table-responsive"><table class="table table-condensed table-bordered table-hover dataTable" style="margin-top: 20px;">
                    <thead>
                        <tr>
                            <th class="text-center">
                                @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.CodigoDeCurso
                            </th>
                            <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.NombreDelCurso</th>
                            <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Area</th>
                            <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ATiempo</th>
                        </tr>

                    </thead>
                    <tbody id="contenido-tabla"></tbody>
                </table></div>
            </div>
            <div class="panel-footer text-right">
                <div id="btn-guardar" class="btn btn-primary" hidden="hidden">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Guardar</div>
            </div>
        </form>
    </div>
</div>

<div id="success-msg" class="row col-xs-12" hidden="hidden">
    <h5 class="text-success"><span class="fa fa-check-circle"></span>&nbsp;@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.SeGuardaronCambios</h5>
</div>

<input id="GetAreas" value="@Model.GetAreasUrl" hidden="hidden" />
<input id="GetCursosPeriodoAcademico" value="@Model.GetCursosPeriodoAcademicoUrl" hidden="hidden" />
<input id="GetFieldToUpdate" value="@Model.FieldToUpdate" hidden="hidden" />
<input id="FieldToUpdate" value="@Model.FieldToUpdate" hidden="hidden" />
<input id="CheckBoxName" value="silabo" hidden="hidden" />
<input id="GetGuardar" value="@Model.GetGuardarUrl" hidden="hidden" />


@section Scripts{

    <script src="@Url.Content("~/Areas/Indicator/Content/js/indicator.data.subjects.js")"></script>
    <script src="@Url.Content("~/Content/js/components/panel.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/datatables-bootstrap/dataTables.bootstrap.min.js")"></script>
}