﻿@model UPC.CA.ABET.Presentation.Areas.Indicator.ViewModels.MaintenanceViewModel
@{
    // ViewBag.Title = "Docentes contratados";
    //Profesores contratados a tiempo
    ViewBag.Title = UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDocentesContratados;

    ViewBag.Icon = "pencil";
}

@section SecondSidebar
{
    @{Html.RenderPartial("_SecondSidebar");}
}

@section Breadcrumbs{

}
<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ElegirCiclo</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>
        </div>
        @{ var IdModalidad = Session.GetModalidadId().ToString();}
        <div class="panel-body">
            <div class="form-group col-md-6">
                <label class="control-label" for="inputBasicLastName">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Ciclo </label>
                @Html.DropDownList("termDropDown", Model.Terms, new { @class = "form-control" })
            </div>

            @if (Session.GetModalidadId() == 2)
            {
                <div class="form-group col-md-6">
                    <label class="control-label" for="inputBasicLastName">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Modulo</label>
                    @Html.DropDownList("moduleDropDown", Model.Modules, new { @class = "form-control" })
                </div>
            }
              @Html.Hidden("modalidadHidden",Model.ModalidadId)
        </div>
    </div>
</div>

<div class="row" id="rowDocentes" hidden="hidden">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-edit"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.IngresarDatosRequeridos</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>
        </div>
         <div class="panel-body">
             <div id="count-row" class="row col-xs-12">
             </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label" for="inputBasicLastName">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ProfesoresContratadosTiempoCompleto </label>
                    <input id="docentesATiempo" class="form-control" type="number"  placeholder="Ingrese un número" min="0"/>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label" for="inputBasicLastName">   @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ProfesoresContratadosTiempoParcial  </label>
                    <input id="docentesADestiempo" class="form-control" type="number"  placeholder="Ingrese un número" min="0"/>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">    
            <button id="btn-guardar" type="submit" class="btn btn-primary">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Guardar</button>
        </div>
    </div>
</div>

<div id="success-msg" class="row col-xs-12" hidden="hidden">
    <h5 class="text-success"><span class="fa fa-check-circle"></span>&nbsp;@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.SeGuardaronCambios</h5>
</div>
<div id="error-msg" class="row col-xs-12" hidden="hidden">
    <h5 class="text-danger"><span class="fa fa-times-circle"></span>&nbsp;@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.DebeIngresarNumeroPositivo</h5>
</div>
<div id="digit-msg" class="row col-xs-12" hidden="hidden">
    <h5 class="text-danger"><span class="fa fa-times-circle"></span>&nbsp;@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.SoloPuedeIngresarNumeros</h5>
</div>

<input id="GetGuardarIndicador" value="@Model.GetGuardarIndicadorDocenteUrl" hidden="hidden" />
<input id="GetCargarIndicador" value="@Model.GetCargarIndicadorDocenteUrl" hidden="hidden" />

@section Scripts
{
    <script src="@Url.Content("~/Areas/Indicator/Content/js/indicator.data.professor.js")"></script>
}