﻿@using UPC.CA.ABET.Presentation.Resources.Areas.Indicator;

@{

    ViewBag.Title = IndicatorResources.TitulomantenimientoIndicador;
    ViewBag.Icon = "fa fa-bar-chart";
}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                           @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.DirectorCarrera) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera))
                           {                                          
                              <li role="presentation" class="active">
                                  <a data-toggle="tab" href="#mantenimientoVirtualTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false">
                                  <i class="fa fa-hand-o-up"></i> 
                                  <span class="tabhidden">
                                  @IndicatorResources.Mantenimiento
                                  </span>
                                  </a>
                              </li>
                              <li role="presentation" class="">
                                  <a data-toggle="tab" href="#notificacionTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false">
                                  <i class="fa fa-tasks"></i> 
                                  <span class="tabhidden">
                                  @IndicatorResources.Reportes
                                  </span>
                                  </a>
                              </li>
                           
                             }
                        </ul>

                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">
                            <div class="tab-pane active" id="mantenimientoVirtualTab" role="tabpanel">
                                <h2 class="fixtitle">
                                <i class="fa fa-hand-o-up"></i> 
                                @IndicatorResources.Mantenimiento</h2>
                                <p align="justify">
                                   @IndicatorResources.MantenimientoDescripcion
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("IndicatorDataIndex", "IndicatorIndex")"><i class="fa fa-sign-in"></i> @IndicatorResources.Ir</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="notificacionTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-tasks"></i>
                                 @IndicatorResources.Reportes
                                </h2>
                                <p align="justify">
                                   @IndicatorResources.ReportesDescripcion
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("ViewIndicatorIndex", "IndicatorIndex")"><i class="fa fa-sign-in"></i> @IndicatorResources.Ir</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>