﻿@model UPC.CA.ABET.Presentation.Areas.Indicator.ViewModels.MaintenanceViewModel
@{
    //   ViewBag.Title = "Docentes Horas Programadas";
    ViewBag.Title = UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDocentesHorasProgramadas;
    ViewBag.Icon = "pencil";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section SecondSidebar
{
    @{Html.RenderPartial("_SecondSidebar");}
}

@section Breadcrumbs
{
}

<form method="post" id="formNotificacion" action="@Url.Action("DownloadProfesorHProgramadas", "Excel")">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-cloud-upload"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.CargaMasiva</h3>
                <div class="panel-actions">
                    <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
                </div>
            </div>
            <div class="panel-body">
                <!--Aqui registro masivo-->
                @Html.TextBoxFor(x => x.Archivo, new { type = "file", @class = "dropify" })
                <div id="cargando" style="display:none;">
                    <center>
                        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                    </center>
                </div>
                <br />
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary" id="testdescargar">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.DescargarPlantilla</button>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <button type="button" class="btn btn-dark" id="test"><i class="fa fa-cloud-upload"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Cargar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <div id="errores" style="display:none;">
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="errores-header"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <ul class="list-group list-group-bordered" id="errores-body"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts
{
        <script>
            $(document).on('click', '#testdescargar', function () {
                $('#formNotificacion').submit();
                
            });
            $(document).on('click', '#test', function () {
                var formData = new FormData();

                formData.append('Archivo', $('#Archivo')[0].files[0]);

                $.ajax({
                    url: '@Url.Action("UploadHorasProfesor", "Excel")',
                    type: 'POST',
                    async: true,
                    data: formData,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    success: function (data) {
                        if (data.lstError.length > 0) {
                            $('#errores').show();
                            $('#errores-header').html('');
                            $('#errores-body').html('');

                            $('#errores-header').append(
                                '<i style="color:red;" class="fa fa-warning" aria-hidden="true"></i>' +
                                ' ' + data.lstError.length + ' @(language == ConstantHelpers.CULTURE.ESPANOL ? " códigos no fueron cargadas" : " rows were not uploaded")'
                                );

                            for (var i = 0 ; i < data.lstError.length ; i++) {
                                $('#errores-body').append('<li class="list-group-item">' + data.lstError[i] + '</li>');
                            }

                            alert("Ocurrieron errores! Registros subidos " + data.CantSuccess);

                        } else {
                            alert("Se cargaron correctamente.");
                            $('#errores').hide();
                        }
                    },
                    error: function () {
                        alert("Operación Fallida.");
                    }
                });

            });
        </script>
        <script src="@Url.Content("~/Areas/Indicator/Content/js/indicator.data.professor.js")"></script>
}
