﻿@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase*@
@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Findings
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model DeleteViewModel

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	<h4 class="modal-title">
		<i class="fa fa-binoculars contrast">&nbsp;</i>
		@(Model.LanguageCulture == "en-US" ? "Delete Finding" : "Eliminar Hallazgo")
	</h4>
</div>
@using (Ajax.BeginForm(new AjaxOptions
{
	UpdateTargetId = "custom-modal",
	HttpMethod = "POST",
	OnBegin = "$('[delete-buttons] > button').attr('disabled', true);",
	OnComplete = "$('[delete-buttons] > button').removeAttr('disabled');"
}))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => Model.Id)
	@Html.HiddenFor(m => Model.LanguageCulture)
	<div class="modal-body">
		@if (Model.LanguageCulture == "en-US")
		{
			if (Model.CanDelete)
			{
				<p>
					¿Are you sure to delete the selected finding and their improvement actions?.
					Probably the report findings might show different results.
				</p>
			}
			else
			{
				<p>
					Can't delete the finding beacause it has one improvement action in an action plan.
				</p>
			}

		}
		else
		{
			if (Model.CanDelete)
			{
				<p>
					¿Está seguro de eliminar el hallazgo seleccionado y sus acciones de mejora?.
					Probablemente los reportes de hallazgos podrían mostrar diferentes resultandos.
				</p>
			}
			else
			{
				<p>
					No se puede eliminar el hallazgo porque tiene una acción de mejora que se encuentra en un plan de Acción.
				</p>
			}

		}
	</div>
	<div class="modal-footer" delete-buttons>
		@if (Model.CanDelete)
		{
			<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @ReportResource.ButtonCancel</button>
			<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>@ReportResource.ButtonDelete</button>
		}
		else
		{
			<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"></i>@LayoutResource.Aceptar</button>
		}
	</div>
}

@if (Model.Saved.HasValue)
{
	if (Model.Saved.Value)
	{
		<script>
            closeModal();
            $('#@Model.Id').remove();
		</script>
	}
}