﻿@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Findings;
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase*@
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Findings
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Findings
@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model ImprovementActionsViewModel

@{
	var updateTargetId = string.Format("table-body-ia-{0}", Model.FindingId);
	var submitButtonId = string.Format("button-ia-{0}", Model.FindingId);
	ViewData["FindingId"] = Model.FindingId;
}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	<h4 class="modal-title">
		<i aria-hidden="true" class="fa fa-binoculars"></i>
        @FindingsResource.AccionesDeMejora
	</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="form-group col-md-4 col-xs-12">
			<div class="row">
				<label class="col-xs-12" style="font-weight:bold;">@ReportResource.LabelCode</label>
				<div class="col-xs-12">@Model.Code</div>
			</div>
		</div>
		<div class="form-group col-md-8 col-xs-12">
			<div class="row">
				<label class="col-xs-12" style="font-weight:bold;">@ReportResource.LabelFinding</label>
				<div class="col-xs-12">@Model.Description</div>
			</div>
		</div>
	</divReportResource
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>@ReportResource.LabelCode</th>
				<th>Acción de mejora</th>
				<th>@ReportResource.LabelStatus</th>
				<th>
					@using (Ajax.BeginForm("ManageImprovementAction", null, new AjaxOptions
					{
						HttpMethod = "POST",
						UpdateTargetId = updateTargetId,
						InsertionMode = InsertionMode.InsertAfter,
						OnBegin = "$('#" + submitButtonId + "').attr('disabled', true);"
					}, new { @class = "pull-right" }))
					{
						@Html.HiddenFor(m => Model.FindingId)
						@Html.Hidden("UpdateTargetId", updateTargetId)
						@Html.Hidden("SubmitButtonId", submitButtonId)
						<button type="submit" class="btn btn-dark" id="@submitButtonId">
							<i aria-hidden="true" class="fa fa-plus"></i>
							@*<span class="col-sm-hidden"> Acción de Mejora</span>*@
						</button>
					}
				</th>
			</tr>
		</thead>
		<tbody id="@updateTargetId">
			@{ Html.RenderPartial("_ListImprovementActions", Model.ImprovementActions); }
		</tbody>
	</table>
</div>
