﻿@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Findings
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model IEnumerable<ListFindingsViewModel>
@foreach (var finding in Model)
{
	<tr id="@finding.FindingId" @if (finding.FindingCriticalityLevel == 1) { @Html.Raw(" style=\" color: red;\" ") }>
		<td style="min-width: 220px;">@finding.FindingCode</td>
		<td>@finding.FindingDescription</td>
		<td>@*finding.FindingCriticalityLevel*@ @finding.FindingCriticalityLevelName</td>
		<td>
			<div class="btn-group  display-table-cell cell-options vertical-align-top pull-right" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="col-sm-hidden">
						@ReportResource.ButtonOptions
					</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li role="presentation">
						<a data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace-with" data-ajax-update="#@finding.FindingId" href="@Url.Action("Manage", new { FindingId = finding.FindingId , FindingCode = finding.FindingCode ,Description = finding.FindingDescription })">
							<i aria-hidden="true" class="fa fa-pencil"></i>
							@LayoutResource.Editar
						</a>
					</li>
					<li role="presentation">
						<a data-ajax="true" data-ajax-method="GET" data-ajax-update="#custom-modal" data-ajax-success="openModal();" href="@Url.Action("Delete", new { id = finding.FindingId })">
							<i aria-hidden="true" class="fa fa-trash"></i>
							@ReportResource.ButtonDelete
						</a>
					</li>
					@*<li role="presentation">
							<a data-ajax="true" data-ajax-method="GET" data-ajax-update="#custom-modal" data-ajax-success="openModal();" href="@Url.Action("ImprovementActions", new { id = finding.FindingId })">
								<i aria-hidden="true" class="fa fa-binoculars"></i> Acciones de mejora
							</a>
						</li>*@
				</ul>
			</div>
		</td>
	</tr>
}