﻿@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Findings;
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Findings
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Findings
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model IndexViewModel

@if (Model.Courses.Count == 0)
{
	<script>
            showMessage('@ReportResource.TitleFindings', '@ReportResource.NoDataMessage');
	</script>
	<div class="report-init-text text-center">@ReportResource.InitMessage</div>
}
else
{
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group" role="search">
				<div class="input-search">
					@Html.TextBox("Search", "", new { @type = "search", @class = "form-control", @placeholder = FindingsResource.EscribaUnCursoAqui })
					<button type="button" class="input-search-btn">
						<i class="icon wb-search" aria-hidden="true"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel-group panel-group-continuous" id="exampleAccordionContinuous" aria-multiselectable="true" role="tablist">
				@foreach (var course in Model.Courses)
				{
					var courseId = course.CourseId;
					var textClass = course.AcceptanceLevels.Any(al => al.AcceptanceLevelName.ToUpper().Equals("NECESITA MEJORA")) ? "text-danger" : string.Empty;
					<div class="panel" data-course-id="@course.CourseId" data-search="@string.Format("{0}{1}", course.CourseCode, course.CourseName)">
						<div class="panel-heading" id="heading-@courseId" role="tab">
							<a class="panel-title collapsed @textClass" data-parent="#exampleAccordionContinuous" data-toggle="collapse" href="#collapse-@courseId" aria-controls="collapse-@courseId" aria-expanded="false">
								@course.CourseCode - @course.CourseName
							</a>
						</div>
						<div class="panel-collapse collapse" id="collapse-@courseId" aria-labelledby="heading-@courseId" role="tabpanel">
							<div class="panel-body">
								@foreach (var level in course.AcceptanceLevels)
								{
									var updateTargetId = string.Format("table-body-finding-{0}{1}", course.CourseId, level.FindingAcceptanceLevelId);
									var submitButtonId = string.Format("button-finding-{0}{1}", course.CourseId, level.FindingAcceptanceLevelId);
									<div class="display-table table-full-width">
										<div class="display-table-cell cell-height">
											<span class="circle" style="background-color:@level.Color;vertical-align:middle;"></span>&nbsp;
											<span>@level.AcceptanceLevelName</span>&nbsp;
											(<span>@level.StudentQuantity</span>&nbsp; alumnos)
										</div>
									</div>
									<table class="table table-condensed">
										<thead>
											<tr>
												<th>@ReportResource.LabelCode</th>
												<th>@ReportResource.LabelFinding</th>
												<th>@ReportResource.LabelCriticality</th>
												<th>
													@using (Ajax.BeginForm("Manage", null, new AjaxOptions
													{
														HttpMethod = "POST",
														UpdateTargetId = updateTargetId,
														InsertionMode = InsertionMode.InsertAfter,
														OnBegin = "$('#" + submitButtonId + "').attr('disabled', true);"
													}, new { @class = "pull-right" }))
													{
														@Html.HiddenFor(m => Model.CampusId)
														@Html.HiddenFor(m => Model.CareerId)
														@Html.HiddenFor(m => Model.CycleId)
														@Html.HiddenFor(m => Model.InstrumentId)
														@Html.Hidden("CourseId", course.CourseId)
														@Html.Hidden("FindingAcceptanceLevelId", level.FindingAcceptanceLevelId)
														@Html.Hidden("UpdateTargetId", updateTargetId)
														@Html.Hidden("SubmitButtonId", submitButtonId)
														<button type="submit" class="btn btn-dark" id="@submitButtonId">
															<i aria-hidden="true" class="fa fa-plus"></i>
														</button>
													}
												</th>
											</tr>
										</thead>
										<tbody id="@updateTargetId">
											@{ Html.RenderPartial("_ListFindings", level.Findings); }
										</tbody>
									</table>
								}
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	<script>
		scrollToTable();
	</script>
}