﻿@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Findings
@using UPC.CA.ABET.Helpers
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model IEnumerable<ListImprovementActionViewModel>

@foreach (var improvementAction in Model)
{
	<tr id="@improvementAction.IdAccionMejora">
		<td style="min-width: 220px;">@improvementAction.Codigo</td>
		<td>@improvementAction.Descripcion</td>
		<td>@ConstantHelpers.PROFESSOR.IFC.ACCIONES_MEJORA.ESTADOS.GetEstadoAccionMejora(improvementAction.Estado)</td>
		<td>
			<div class="btn-group  display-table-cell cell-options vertical-align-top pull-right" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="col-sm-hidden">
						@ReportResource.ButtonOptions
					</span>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li role="presentation">
						<a data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace-with" data-ajax-update="#@improvementAction.IdAccionMejora" href="@Url.Action("ManageImprovementAction", new
                            {
                                FindingId = ViewData["FindingId"].ToInteger(),
                                ImprovementActionId = improvementAction.IdAccionMejora
                            })">
							<i aria-hidden="true" class="fa fa-pencil"></i> @LayoutResource.Editar
						</a>
					</li>
					@*<li role="presentation">
							<a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#custom-modal-improv" data-ajax-success="openModalSec();" href="@Url.Action("UpdateStatusImprovementAction", new
								{
									FindingId = ViewData["FindingId"].ToInteger(),
									ImprovementActionId = improvementAction.IdAccionMejora
								})">
								<i aria-hidden="true" class="fa fa-pencil"></i> @ReportResource.ButtonUpdateStatus
							</a>
						</li>*@
					<li role="presentation">
						<a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#custom-modal-improv" data-ajax-success="openModalSec();" href="@Url.Action("DeleteImprovementAction", new
                            {
                                FindingId = ViewData["FindingId"].ToInteger(),
                                ImprovementActionId = improvementAction.IdAccionMejora
                            })">
							<i aria-hidden="true" class="fa fa-trash"></i> @ReportResource.ButtonDelete
						</a>
					</li>
				</ul>

			</div>
		</td>
	</tr>
}