﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Findings
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Findings
@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model ManageViewModel

@{
	var manageRowId = string.Format("manage-row-{0}{1}", Model.CourseId, Model.AcceptanceLevelId);
	var removeAttr = string.Format("$('#{0}').removeAttr('disabled');", Model.SubmitButtonId);
	var cancelAction = string.Format("{0}$('#{1}').remove();", removeAttr, manageRowId);
	var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
	var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<tr id="@manageRowId">
	<td colspan="3">
		@using (Ajax.BeginForm("ConfirmManage", null, new AjaxOptions
		{
			HttpMethod = "POST",
			UpdateTargetId = manageRowId,
			InsertionMode = InsertionMode.ReplaceWith,
			OnBegin = "$('[finding-button]').attr('disabled', true);"
		}, new { @class = "display-table table-full-width" }))
		{
			@Html.HiddenFor(m => Model.FindingId)
			@Html.HiddenFor(m => Model.Code)
			@Html.HiddenFor(m => Model.CampusId)
			@Html.HiddenFor(m => Model.CareerId)
			@Html.HiddenFor(m => Model.CycleId)
			@Html.HiddenFor(m => Model.InstrumentId)
			@Html.HiddenFor(m => Model.CourseId)
			@Html.HiddenFor(m => Model.AcceptanceLevelId)
			@Html.HiddenFor(m => Model.UpdateTargetId)
			@Html.HiddenFor(m => Model.SubmitButtonId)
			<div class="display-table-cell cell-height">

				@Html.TextAreaFor(m => Model.Description, new { @class = "form-control", @maxlength = "300", @rows = "4" })
				@Html.ValidationMessageFor(m => Model.Description)
			</div>
			<div class="display-table-cell cell-height">
				<label class="col-sm-3 control-label">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Criticidad" : "Criticality")</label>
				@Html.DropDownListFor(x => x.IdCriticidad, new SelectList(Model.criticidadList, "IdCriticidad", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles")
				  , new
				  {
					  @class = "form-control select2-select",
					  @required = "true"

				  })
				@Html.ValidationMessageFor(x => x.IdCriticidad)


			</div>
			<div class="display-table-cell cell-options cell-options-buttons">
				<button id="btnAceptar" type="submit" class="btn btn-primary" finding-button>
					<i class="fa fa-check"></i>
					<span class="col-sm-hidden">@LayoutResource.Aceptar</span>
				</button>
				<br />
				@if (Model.FindingId == 0)
				{
					<button type="button" class="btn btn-default" name="Button" finding-button onclick="@cancelAction">
						<i class="fa fa-times"></i>
						<span class="col-sm-hidden">@ReportResource.ButtonCancel</span>
					</button>
				}
				else
				{
					<button type="submit" class="btn btn-default" name="Button" finding-button onclick="@removeAttr" value="cancel">
						<i class="fa fa-times"></i>
						<span class="col-sm-hidden">@ReportResource.ButtonCancel</span>
					</button>
				}
			</div>
		}
		@if (Model.Saved.HasValue)
		{
			if (Model.Saved.Value)
			{
				var buttonId = Guid.NewGuid().ToString();
				using (Ajax.BeginForm("ListFindings", new AjaxOptions
				{
					UpdateTargetId = Model.UpdateTargetId,
					HttpMethod = "POST",
					OnSuccess = removeAttr
				}))
				{
					@Html.HiddenFor(m => Model.CampusId)
					@Html.HiddenFor(m => Model.CareerId)
					@Html.HiddenFor(m => Model.CycleId)
					@Html.HiddenFor(m => Model.InstrumentId)
					@Html.HiddenFor(m => Model.CourseId)
					@Html.HiddenFor(m => Model.AcceptanceLevelId)
					<button type="submit" class="hide" id="@buttonId">listar</button>
				}
				<script>
                    setTimeout(function () { $('#@buttonId').click(); }, 100);
				</script>
			}
		}
	</td>
</tr>

<script>
    $('#btnAceptar').click(function () {
        console.log('.')
        window.location.reload();
    })
</script>