﻿@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Findings
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model ManageImprovementActionViewModel

@{
	var manageRowId = string.Format("manage-row-{0}", Model.FindingId);
	var removeAttr = string.Format("$('#{0}').removeAttr('disabled');", Model.SubmitButtonId);
	var cancelAction = string.Format("{0}$('#{1}').remove();", removeAttr, manageRowId);
}

<tr id="@manageRowId">
	<td colspan="4">
		@using (Ajax.BeginForm("ConfirmManageImprovementAction", null, new AjaxOptions
		{
			HttpMethod = "POST",
			UpdateTargetId = manageRowId,
			InsertionMode = InsertionMode.ReplaceWith,
			OnBegin = "$('[improvement-action-button]').attr('disabled', true);"
		}, new { @class = "display-table table-full-width" }))
		{
			@Html.HiddenFor(m => Model.FindingId)
			@Html.HiddenFor(m => Model.Code)
			@Html.HiddenFor(m => Model.ImprovementActionId)
			@Html.HiddenFor(m => Model.UpdateTargetId)
			@Html.HiddenFor(m => Model.SubmitButtonId)
			<div class="display-table-cell cell-height">
				@Html.TextAreaFor(m => Model.Description, new { @class = "form-control", @maxlength = "300", @rows = "4" })
				@Html.ValidationMessageFor(m => Model.Description)
			</div>
			<div class="display-table-cell cell-options cell-options-buttons">
				<button type="submit" class="btn btn-primary updateBtn" improvement-action-button>
					<i class="fa fa-check"></i>
					<span class="col-sm-hidden" >@LayoutResource.Aceptar</span>
				</button>
				<br />
				@if (Model.ImprovementActionId == 0)
				{
					<button type="button" class="btn btn-default" improvement-action-button onclick="@cancelAction">
						<i class="fa fa-times"></i>
						<span class="col-sm-hidden">@ReportResource.ButtonCancel</span>
					</button>
				}
				else
				{
					<button type="submit" class="btn btn-default" name="Button" improvement-action-button onclick="@removeAttr" value="cancel">
						<i class="fa fa-times"></i>
						<span class="col-sm-hidden">@ReportResource.ButtonCancel</span>
					</button>
				}
			</div>
		}
		@if (Model.Saved.HasValue)
		{
			if (Model.Saved.Value)
			{
				var buttonId = Guid.NewGuid().ToString();
				using (Ajax.BeginForm("ListImprovementActions", new AjaxOptions
				{
					UpdateTargetId = Model.UpdateTargetId,
					HttpMethod = "POST",
					OnSuccess = removeAttr
				}))
				{
					@Html.HiddenFor(m => Model.FindingId)
					<button type="submit" class="hide" id="@buttonId">listar</button>
				}
				<script>
                    setTimeout(function () { $('#@buttonId').click(); }, 100);
				</script>
			}
		}
	</td>

</tr>