﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Findings
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model UpdateStatusImprovementActionViewModel


<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	<h4 class="modal-title">
		<i class="fa fa-binoculars contrast">&nbsp;</i>
		@(Model.LanguageCulture == "en-US" ? "Update Status Improvement Action" : "Actualizar Estado Accion de Mejora")
	</h4>
</div>
@using (Ajax.BeginForm(new AjaxOptions
{
	UpdateTargetId = "custom-modal-improv",
	HttpMethod = "POST",
	OnBegin = "$('[update-status-buttons] > button').attr('disabled', true);",
	OnComplete = "$('[update-status-buttons] > button').removeAttr('disabled');"
}))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => Model.ImprovementActionId)
	@Html.HiddenFor(m => Model.FindingId)
	@Html.HiddenFor(m => Model.UpdateTargetId)
	@Html.HiddenFor(m => Model.LanguageCulture)
	<div class="modal-body">
		<div class="row">
			<div class="form-group col-xs-12">
				<label class="col-xs-12 control-label">@ReportResource.LabelStatus</label>
				<div class="col-xs-12">
					@Html.DropDownListFor(m => m.Status, Model.StatusCombo, new { @class = "form-control", @data_plugin = "select2" })
				</div>
				<div class="col-xs-12">
					@Html.ValidationMessageFor(m => m.Status)
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer" update-status-buttons>
		<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @ReportResource.ButtonCancel</button>
		<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>@ReportResource.ButtonUpdate</button>
	</div>
}


@if (Model.Saved.HasValue)
{
	if (Model.Saved.Value)
	{
		var buttonId = Guid.NewGuid().ToString();
		using (Ajax.BeginForm("ListImprovementActions", new AjaxOptions
		{
			UpdateTargetId = Model.UpdateTargetId,
			HttpMethod = "POST"
		}))
		{
			@Html.HiddenFor(m => Model.FindingId)
			<button type="submit" class="hide" id="@buttonId">listar</button>
		}
		<script>
            closeModalSec();
            setTimeout(function () { $('#@buttonId').click(); }, 100);
		</script>
	}
}
