﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Findings
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Findings
@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model IndexViewModel

@{
    ViewBag.Title = ReportResource.TitleFindings;
    ViewBag.Icon = "search";
    var select = ReportResource.OptionSelect.ToString();
}

@section Styles {
	<style>
		.panel-group .panel-title.text-danger {
			color: #f73737 !important;
		}

		.panel-group .panel-title[aria-expanded=false]:before {
			opacity: 1;
		}

		.input-search button {
			outline: none !important;
		}
	</style>
}

@section Breadcrumbs{
	<li>@UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Shared.SidebarResource.Hallazgos</li>
}

<div class="modal fade" tabindex="-1" role="dialog" id="custom-modal-improv-container" style="z-index:1750;">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="custom-modal-improv">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel filters">
			@Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ReportResource.HeaderFilter, PanelActions.Collapse)
			@using (Ajax.BeginForm("Index", new AjaxOptions
			{
				HttpMethod = "POST",
				LoadingElementId = "main-loader",
				UpdateTargetId = "table-container",
				OnSuccess = "startDoneTyping();"
			}))
			{
				@Html.HiddenFor(m => Model.OutcomeTypeName)
				<div class="panel-body row">
                    <div class="row">
                        
                        @Html.FormGroup(ReportResource.LabelCycle, Html.DropDownListFor(m => Model.CycleId, ViewBag.DropDownListCycle as SelectList, select , new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CycleId))
                        @*@Html.FormGroup(ReportResource.LabelCampus, Html.DropDownListFor(m => Model.CampusId, Model.DropDownListCampus as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CampusId))*@
                        @Html.FormGroup(ReportResource.LabelCareer, Html.DropDownListFor(m => Model.CareerId, ViewBag.DropDownListCareer as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CareerId))


                    </div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelInstrument, Html.DropDownListFor(m => Model.InstrumentId, Model.DropDownListInstrument as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.InstrumentId))
                        @Html.FormGroup(ReportResource.LabelAcceptanceLevel, Html.DropDownListFor(m => Model.AcceptanceLevelId, Model.DropDownListAcceptanceLevel as SelectList, ReportResource.OptionAll, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.AcceptanceLevelId))

                    </div>
					
					@Html.PanelFooter(ReportResource.ButtonSearch, submitButtonClass: "btn-dark")
				</div>
			}
		</div>
		<div class="panel">
			@Html.PanelHeader("<i class=\"fa fa-list\"></i> " + LayoutResource.Listado, PanelActions.Fullscreen)
			<div class="panel-body" id="table-container">
				<div class="report-init-text text-center">@ReportResource.InitMessage</div>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	<script src="@Url.Content("~/Areas/Report/Content/js/jquery.doneTyping.min.js")"></script>
	<script>
    /// <reference path="~/Areas/Report/Content/js/main.js" />

        $(function () {
            selectMenu('liReportFindings', '');
            $('#InstrumentId').change();
        });

        bindChange('#InstrumentId', function () {
            switch (this.value) {
                case '@Model.RCInstrumentId': $('#OutcomeTypeName').val('Control'); break;
                case '@Model.RVInstrumentId': $('#OutcomeTypeName').val('Verification'); break;
                    default: $('#OutcomeTypeName').val(''); break;
                }
        })

        $(document).on('click', '.collapsable-button', function () {
            var button = $(this),
                section = button.parent().find('.collapsable-section'),
                content = section.find('.row');

            if (button.hasClass('on')) {
                button.removeClass('on');
                section.css({
                    'height': content.outerHeight(true) + 'px',
                    'min-height': 0
                });
                section.height(0);
            } else {
                button.addClass('on');
                section.height(content.outerHeight(true));
                setTimeout(function () {
                    section.css({
                        'height': 'auto',
                        'min-height': content.outerHeight(true) + 'px'
                    });
                }, 300);
            }
        })

        function startDoneTyping() {
            $('#Search').doneTyping({
                delay: 200,
                success: function (val, opts) {
                    console.log(val);
                    console.log(opts);
                    var text = val.trim().toUpperCase();

                    if (text.length === 0) {
                        $('[data-search]').show();
                    } else {
                        $('[data-search]').each(function (i, e) {
                            if (e.dataset.search.indexOf(text) > -1) {
                                $(e).show();
                            } else {
                                $(e).hide();
                            }
                        });
                    }
                }
            })
        }
	</script>
}