﻿@model UPC.CA.ABET.Presentation.Areas.Upload.ViewModels.DataUpload.CareerCommissionViewModel
@using UPC.CA.ABET.Presentation.Areas.Upload.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Areas.Upload.Resources.Views.BeforeEnrollment

@{
    ViewBag.Title = CareerComissionResources.CargaTitulo;
    ViewBag.Icon = "link";
}

@section SecondSidebar
{
    @{Html.RenderPartial("_SecondSidebar");}

}

@section Breadcrumbs{
<li><a class="animsition-link" href="@Url.Action("BeforeEnrollment", "Upload", new { Area = String.Empty})"> @Shared.GestionDatos </a></li>
}


<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i>&nbsp; @Shared.ElegirModalidadyCiclo</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label" for="modalDropDown">@string.Format(Shared.Select, Shared.Modalidad)</label>
                    @Html.DropDownList("modalDropDown", Model.Modal, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label" for="inputBasicLastName">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Ciclo</label>
                    @Html.DropDownList("termDropDown", Model.Terms, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i>&nbsp; @CareerComissionResources.Asociar</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label" for="inputBasicLastName">@CareerComissionResources.PrimeraAsociacion</label>
                    <select id="careerDropDown" type="text" class="form-control" placeholder="seleccione" disabled>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label" for="inputBasicLastName">@CareerComissionResources.SegundaAsociacion</label>
                    <select id="commissionDropDown"type="text" class="form-control" placeholder="seleccione" disabled>
                    </select>
                </div>
            </div>
            <div id="success-msg" class="row col-xs-12" hidden="hidden">
                <h5 class="text-success"><span class="fa fa-check-circle"></span>&nbsp;&nbsp;@CareerComissionResources.CargaMensaje</h5>
            </div>
            <div id="failure-msg" class="row col-xs-12" hidden="hidden">
            </div>
        </div>

        <div class="panel-footer text-right">
            <button id ="btnAsociate" type="submit" class="btn btn-primary" disabled>@CareerComissionResources.BotonAsociar</button>
        </div>

    </div>

</div>

<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i>&nbsp; Carreras y comisiones asociadas</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>
        </div>

        <div class="panel-body">
            <div class="row col-xs-12">
                <table id="asociationsTable" class="table table-condensed table-bordered table-hover dataTable" hidden="hidden">
                    <thead>
                        <tr>
                            <th class="text-center">Carrera</th>
                            <th class="text-center">Comisión</th>
                            <th class="text-center">Ciclo</th>
                            <th class="text-center" style="width:20%">Eliminar asociación</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table> 
                <p id="careersCommissionsSelectMessage" class="text-center">Seleccione un ciclo</p>
                <p id="careersCommissionsEmptyMessage" class="text-center" hidden="hidden">No hay carreras y comisiones asociadas en el ciclo seleccionado</p>
                <p id="eliminationErrorMessage" class="text-center text-danger" hidden="hidden"></p>
             </div>
        </div>
    </div>
</div>

<input id="GetCareers" value="@Model.GetCareersUrl" hidden="hidden"/>
<input id="GetCommissions" value="@Model.GetCommissionsUrl" hidden="hidden"/>
<input id="GetCareersCommissions" value="@Model.GetCareersCommissionsUrl" hidden="hidden" />
<input id="AsociateCareerAndCommission" value="@Model.AsociateCareerAndCommissionUrl"  hidden="hidden"/>
<input id="DeleteCareerCommission" value="@Model.DeleteCareerAndCommissionUrl" hidden="hidden" />
<input id="getTermsListUrl" class="hidden" type="text" value="@Model.TermsListUrl" />
<input id="getTermsListUrlRegular" class="hidden" type="text" value="@Model.TermsListUrlRegular" />
@section Scripts{

    <script src="@Url.Content("~/Content/js/components/panel.min.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/upload.careercommission.js")"></script>

}
