﻿@model UPC.CA.ABET.Presentation.Areas.Upload.ViewModels.DataUpload.BaseUploadViewModel
@using UPC.CA.ABET.Presentation.Areas.Upload.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Areas.Upload.Resources.Views.BeforeEnrollment

@{
    ViewBag.Title = CurriculumResources.CargaTitulo;
}

@section Styles
{
    <link rel="stylesheet" href="@Url.Content("~/Areas/Upload/Content/css/jquery.fileupload.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Upload/Content/css/custom-styles.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Upload/Content/css/loading-animations.css")">
}

@section SecondSidebar
{
    @{Html.RenderPartial("_SecondSidebar");}
}

@section Breadcrumbs{
<li><a class="animsition-link" href="@Url.Action("BeforeEnrollment", "Upload", new { Area = String.Empty})"> @Shared.GestionDatos </a></li>
}

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <div id="success-msg" class="alert alert-success" hidden="hidden">
                <h5 class="text-success"><span class="fa fa-check-circle"></span>&nbsp;&nbsp;@Shared.MensajeCarga</h5>
            </div>
            <div id="failure-msg" class="alert alert-danger" hidden="hidden">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i>&nbsp; Descargar plantilla</h3>
                    <div class="panel-actions">
                        <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row col-md-4 col-md-offset-4">
                        <div class="form-group">
                            <label class="control-label" for="btnDownloadFilee">&nbsp;</label>
                            <button id="btnDownloadFile" class="btn btn-primary btn-block">
                                <i class="fa fa-download"></i>&nbsp;
                                Descargar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fileUploadPanel" class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-file-o"></i>&nbsp; @Shared.ElegirArchivo
                    </h3>
                    <div class="panel-actions">
                        <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row col-xs-12">
                        <span id="btn-add-file" class="btn btn-success fileinput-button">
                            <i class="fa fa-plus"></i>
                            <span>&nbsp;@Shared.AgregarArchivo</span>
                            <input id="fileupload" type="file" name="file" accept=".xls, .xlsx">
                        </span>
                        <br />
                        <br />
                        <div id="progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <br />
                        <div id="files" class="file-container"></div>
                        <br>
                        <div id="spinner" class="sk-circle" hidden="hidden">
                            <div class="sk-circle1 sk-child"></div>
                            <div class="sk-circle2 sk-child"></div>
                            <div class="sk-circle3 sk-child"></div>
                            <div class="sk-circle4 sk-child"></div>
                            <div class="sk-circle5 sk-child"></div>
                            <div class="sk-circle6 sk-child"></div>
                            <div class="sk-circle7 sk-child"></div>
                            <div class="sk-circle8 sk-child"></div>
                            <div class="sk-circle9 sk-child"></div>
                            <div class="sk-circle10 sk-child"></div>
                            <div class="sk-circle11 sk-child"></div>
                            <div class="sk-circle12 sk-child"></div>
                        </div>
                        <div id="spinner-message" hidden="hidden">
                            <center>
                                <p>@Shared.ProcesarArchivo</p>
                            </center>
                        </div>
                    </div>
                    <div id="success-msg" class="row col-xs-12" hidden="hidden">
                        <h5 class="text-success"><span class="fa fa-check-circle"></span>&nbsp;&nbsp;@Shared.MensajeCarga</h5>
                    </div>
                    <div id="failure-msg" class="row col-xs-12" hidden="hidden">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="uploadType" class="hidden" type="text" value="@Model.UploadType" />
<input id="uploadFileUrl" class="hidden" type="text" value="@Model.UploadFileUrl" />
<input id="downloadFileUrl" class="hidden" type="text" value="@Model.DownloadFileUrl" />





@section Scripts{
    <script src="@Url.Content("~/Content/js/components/panel.min.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/jquery.iframe-transport.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/jquery.fileupload.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/jquery.fileupload-process.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/jquery.fileupload-validate.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/jquery.fileDownload.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/upload.curriculum.js")"></script>
}

