﻿@model UPC.CA.ABET.Presentation.Areas.Upload.ViewModels.DataUpload.CurriculumAcademicPeriodViewModel
@using UPC.CA.ABET.Presentation.Areas.Upload.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Areas.Upload.Resources.Views.BeforeEnrollment

@{
    ViewBag.Title = @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.AsociacionDeMallaCurricularYPeriodoAcademico;
}
@section Styles
{
    <link rel="stylesheet" href="@Url.Content("~/Areas/Upload/Content/css/loading-animations.css")">
}

@section SecondSidebar
{
    @{Html.RenderPartial("_SecondSidebar");}

}

@section Breadcrumbs{
<li><a class="animsition-link" href="@Url.Action("BeforeEnrollment", "Upload", new { Area = String.Empty})"> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDatos </a></li>
}

<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i>&nbsp;@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ElegirCiclo</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>
        </div>
      

        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label" for="modalDropDown">@string.Format(Shared.Select, Shared.Modalidad)</label>
                    @Html.DropDownList("modalDropDown", Model.Modal, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label" for="inputBasicLastName">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Ciclo</label>
                    @Html.DropDownList("termDropDown", Model.Terms, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i>&nbsp;@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.MallaCurricular</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>

        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label" for="inputBasicLastName">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.MallaCurricular</label>
                    <select id="curriculumDropDown" type="text" class="form-control" placeholder="seleccione" disabled></select>
                </div>
            </div>
            <div id="success-msg" class="row col-xs-12" hidden="hidden">
                <h5 class="text-success"><span class="fa fa-check-circle"></span>&nbsp;&nbsp;@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.AsociacionDeMallaYPeriodoAcademicoExitosa</h5>
            </div>
            <div id="error-msg" class="row col-xs-12" hidden="hidden">
                <h5 class="text-error"><span class="fa fa-check-circle"></span>&nbsp;&nbsp;@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.SurgioUnErrorAlRealizarLaAsociacion</h5>
            </div>
            <div id="spinner" class="sk-circle" hidden="hidden">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
            <div id="spinner-message" hidden="hidden">
                <center>
                    <p>@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.PorFavorEspereLaAsociaciónSeEstaRealizando</p>
                </center>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button id="btnAsociate" type="submit" class="btn btn-primary" disabled>@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Asociar</button>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i>&nbsp; Mallas y periodos académicos asociados</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>
        </div>

        <div class="panel-body">
            <div class="row col-xs-12">
                <table id="asociationsTable" class="table table-condensed table-bordered table-hover dataTable" hidden="hidden">
                    <thead>
                        <tr>
                            <th class="text-center">Malla</th>
                            <th class="text-center">Carrera</th>
                            <th class="text-center">Ciclo</th>
                            <th class="text-center">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <p id="curriculumsAcademicPeriodSelectMessage" class="text-center">Seleccione un ciclo</p>
                <p id="curriculumsAcademicPeriodEmptyMessage" class="text-center" hidden="hidden">No hay mallas asociadas al ciclo seleccionado</p>
                <p id="eliminationErrorMessage" class="text-center text-danger" hidden="hidden"></p>
            </div>
        </div>
    </div>
</div>

<input id="GetCurriculums" value="@Model.GetCurriculumsUrl" hidden="hidden"/>
<input id="AsociateCurriculumAndAcademicPeriod" value="@Model.AsociateCurriculumAndAcademicPeriodUrl" hidden="hidden"/>
<input id="GetCurriculumsAcademicPeriodUrl" value="@Model.GetAsociatedCurriculumsAndAcademicPeriodUrl" hidden="hidden" />
<input id="DeleteCurriculumTermUrl" value="@Model.DeleteCurriculumTermUrl" hidden="hidden" />
<input id="getTermsListUrl" class="hidden" type="text" value="@Model.TermsListUrl" />
<input id="getTermsListUrlRegular" class="hidden" type="text" value="@Model.TermsListUrlRegular" />
@section Scripts{

    <script src="@Url.Content("~/Content/js/components/panel.min.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/upload.curriculumacademicperiod.js")"></script>

}


