﻿
@{
    ViewBag.Title = @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ModuloDeCargaDeDatos;
}

@section SecondSidebar
{
    @{Html.RenderPartial("_SecondSidebar");}

}

@section Breadcrumbs{}

<h5><span class="fa fa-arrow-left"></span>&nbsp;@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ParaContinuarElijaUnaDeLasOpcionesDeLaIzquierda</h5>