﻿@model UPC.CA.ABET.Presentation.Areas.Upload.ViewModels.BeforeEnrollment.UploadExcelFilesViewModel

@{
    ViewBag.Title = Model.TituloPagina;

}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/dropify/dropify.min.css")">
}

@section Breadcrumbs{
}

<style>
    #tablaEvaluadorType {
        padding: 10px;
    }
    #respuestaAjax {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 99;
        text-align: center;
        visibility: hidden;
    }

    #loading-image {
        position: absolute;
        top: 200px;
        z-index: 100;
    }
</style>
@section SecondSidebar
{
    @{Html.RenderPartial("_SecondSidebar");}
}
<div class="row">
    @if (Model.TipoCargaMasiva == BulkInsertType.EvaluatorType)
    {
        <div class="col-md-12">
            <div class="panel" id="tablaEvaluadorType">
                <div class="table-responsive">
                    <table class="table table-hover" id="myTable">
                        <thead>
                            <tr>
                                <th>
                                    Código
                                </th>
                                <th>
                                    Nombre
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lstTipoEvaluadorMaestra)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    }
    <div class="col-md-12">
        <div class="panel">
            @Html.PanelHeader(String.Format("<i class=\"fa fa-file-o\"></i> {0}", UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.BulkInsert.UploadFilesResource.ElegirArchivo))

            @using (Html.BeginForm("UploadExcelFiles", "BeforeEnrollment", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadform" }))
            {
                @Html.HiddenFor(x => x.TituloPagina)
                @Html.HiddenFor(x => x.Icono)
                @Html.HiddenFor(x => x.TipoCargaMasiva)

                <div class="panel-body">
                    @Html.TextBoxFor(x => x.Archivo, new { type = "file", @class = "dropify", id = "FileUpload" })
                </div>



                <div class="panel-footer text-right">
                    @*<a class="btn btn-success" id="btn-resultado" href="" style="display: none;">
                        <i class="fa fa-download"></i>&nbsp; Resultado
                    </a>*@
                    <a class="btn btn-default" id="btn-download-template" href="@Url.Action("GetTemplate","BulkInsert", new { Area = "Rubric", Type = Model.TipoCargaMasiva })">
                        <i class="fa fa-download"></i>&nbsp; Descargar plantilla
                    </a>
                    <button type="button" class="btn btn-primary" id="btn-upload">
                        <i class="fa fa-upload"></i>&nbsp; Subir Archivo
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<div id="respuestaAjax">
    <img id="loading-image" src="@Url.ContentUrl("assets/images/ajax-loader.gif","Professor")" />
</div>

@section Scripts {
    <script src="@Url.Content("~/Content/vendor/dropify/dropify.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropify').dropify();
            $('#btn-upload').click(function (e) {
                e.preventDefault()
                // Checking whether FormData is available in browser  
                if (window.FormData !== undefined) {
                    var fileUpload = $("#FileUpload").get(0);
                    var file = fileUpload.files[0];
                    // Create FormData object  
                    var formData = new FormData();
                    formData.append("FileUpload", file);
                    //console.log(formData.get('FileUpload'));
                    $.ajax({
                        beforeSend: function () {
                            $('#respuestaAjax').css('visibility', 'visible');
                        },
                        url: "@Url.Action("UploadFiles")",
                        type: "POST",
                        //dataType: 'json',
                        //cache: false,
                        contentType: false, // Not to set any content header  
                        processData: false, // Not to process data  
                        data: formData,                       
                        success: function (data) {
                            $('#respuestaAjax').css('visibility', 'hidden');
                            console.log(data)
                            if (data.estado == 'cargado') {
                                console.log("Cargado: " + data.mensaje);
                                window.location = '@Url.Action("DownloadRv")?filename=' + data.FileName;
                            } else {
                                alert('Sin Cargar: Formato incorrecto y/o el nombre de la hoja es diferente a "EVALUACIONES"');
                                console.log("Sincargar: " + data.mensaje);
                            }
                            
                        },
                        error: function (data) {
                            console.log(data.mensaje);
                        }
                    });
                } else {
                    console.log("FormData is not supported.");
                }
            });
        });
        var trySubmit = 0;
        $('#btn-upload').click(function () {
            var allowSubmit = true;

            if (trySubmit > 0) {
                trySubmit++;
                allowSubmit = false;
            }
            else {
                trySubmit++;
            }
            return allowSubmit;
        });

        
    </script>
}
