﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingCommitte
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.PreSchedule.ConsultReunionViewModel
@{
    ViewBag.Title = ConsultMeetingCommitteResource.Titulo;
    ViewBag.Icon = "clipboard";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    string CurrentCulture = cookie == null ? ConstantHelpers.CULTURE.ESPANOL : cookie.Value ?? ConstantHelpers.CULTURE.ESPANOL;
}

@section Styles{
}
@section Breadcrumbs {
}
<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> Filtro", PanelActions.Collapse)
            <div class="panel-body row">
                <div class="row">
                    @*@Html.FormGroup("Nivel:", Html.DropDownListFor(m => m.IdNivel, Model.Niveles, "Todas", new { @class = "form-control" }))*@
                    @Html.FormGroup("Semana:", Html.DropDownListFor(m => m.IdSemana, Model.Semanas, "Todas", new Dictionary<string, object> { { "class", "form-control" }, { "onchange", "fnActualizarFechas()" } }))
                    @Html.FormGroup("Sede:", Html.DropDownListFor(m => m.IdSede, Model.Sedes, "Todos", new { @class = "form-control" }))

                   
                </div>
                <div class="row">
                   
                    <div class="form-group col-sm-12 col-md-6">
                        <label class="col-sm-12 control-label">@Filtros.FechaInicio:</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                </span>
                                @Html.TextBoxFor(m => m.FechaInicio, "{0:dd/MM/yyyy}", new Dictionary<string, object> { { "class", "form-control" }, { "data-plugin", "datepicker" } })
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-6">
                        <label class="col-sm-12 control-label">@Filtros.FechaFin:</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                </span>
                                @if (Model.FechaFin.ToString() == "1/01/0001 12:00:00 a. m.")
                                {
                                    Model.FechaFin = DateTime.Now;
                                }
                                @Html.TextBoxFor(m => m.FechaFin, "{0:dd/MM/yyyy}", new Dictionary<string, object> { { "class", "form-control" }, { "data-plugin", "datepicker" } })
                            </div>
                        </div>
                    </div>


                </div>
                
                <div class="row">
                    <div class="col-sm-6" style="text-align: left">
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12" style="text-align: right;">
                            <a href="@Url.Action("ConsultPreScheduleCommitte", "PreScheduleCommitte")" class="btn" style="background-color: black; color: white;">
                                @ButtonsOptionsResource.Crear&nbsp;&nbsp;&nbsp;<i class="fa fa-plus"></i>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" id="btnBuscar" class="btn btn-primary" onclick="fnBuscar()">@ButtonsOptionsResource.Buscar&nbsp;&nbsp;<i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">

    <div class="panel">
        <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
            <a class="panel-title" data-toggle="collapse" href="#exampleCollapseDefaultOne"
               data-parent="#exampleAccordionDefault" aria-expanded="true"
               aria-controls="exampleCollapseDefaultOne">
                <i class="fa fa-align-justify"></i>@Filtros.Resultados
            </a>
        </div>
        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne"
             role="tabpanel">
            <div class="panel-body">
                <div class="panel-body row">
                    <table id="tblResultados" class="table table-striped table-hover table-highlight table-checkable" data-info="true" data-length-change="true" data-paginate="true">
                        <thead>
                            <tr>
                                <th style="text-align: center; vertical-align: middle;">@Filtros.Nivel</th>
                                <th style="text-align: center; vertical-align: middle;" width="40">@Filtros.Semana</th>
                                <th style="text-align: center; vertical-align: middle;">@ConsultMeetingCommitteResource.Fecha</th>
                                <th style="text-align: center; vertical-align: middle;">@Filtros.Sede</th>
                                <th style="text-align: center; vertical-align: middle;" width="200">@ConsultMeetingCommitteResource.UnidadAcademica</th>
                                <th style="text-align: center; vertical-align: middle;" width="240">@Filtros.Motivo</th>                       
                                <th style="text-align: center; vertical-align: middle;">@ConsultMeetingCommitteResource.ActaDeReunion</th>
                                <th style="text-align: center; vertical-align: middle;">@Filtros.Opciones</th>
                            </tr>
                        </thead>
                        @if (Model.ListaReunionResultado != null)
                        {
                            <tbody>
                                @for (int i = 0; i < Model.ListaReunionResultado.Count(); i++)
                                {
                                    <tr id="item-@Model.ListaReunionResultado[i].IdReunion">
                                        <td align="center">@Model.ListaReunionResultado[i].Nivel</td>
                                        <td align="center">@Model.ListaReunionResultado[i].Semana</td>
                                        <td align="center">
                                            @Model.ListaReunionResultado[i].Fecha.ToShortDateString()
                                        </td>
                                        <td align="center">
                                            @Model.ListaReunionResultado[i].Sede.Nombre
                                        </td>
                                        <td align="center">
                                            @Model.ListaReunionResultado[i].PreAgenda.UnidadAcademica.NombreEspanol
                                        </td>
                                        <td align="center">@Model.ListaReunionResultado[i].Motivo</td>
                                        <td align="center">
                                            <a href="@Url.Action("Detail", "MeetingComitteMinute", new { Area = ConstantHelpers.AREAS.MEETING, idReunion = Model.ListaReunionResultado[i].IdReunion, isEditing = true })" class="btn btn-icon btn-default btn-outline">
                                                <i class="icon wb-clipboard" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td align="center">
                                            <div class="btn-group">
                                                <a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("DetailsMeetingCommitte", "MeetingCommitte", new { IdReunion = Model.ListaReunionResultado[i].IdReunion })"><i class="fa fa-search"></i> @ButtonsOptionsResource.Visualizar</a>
                                                <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li role="presentation"><a href="@Url.Action("AddEditMeetingCommitte", "MeetingCommitte", new {IdPreAgenda = Model.ListaReunionResultado[i].IdPreAgenda, IdReunion = Model.ListaReunionResultado[i].IdReunion })" role="menuitem"><i class="fa fa-edit"></i> @ButtonsOptionsResource.Editar</a></li>
                                                    <li role="presentation"><a @Url.ModalHelperFor("_DeleteMeeting", "Meeting", new { idReunion = Model.ListaReunionResultado[i].IdReunion }) role="menuitem"><i class="fa fa-trash"></i>@ButtonsOptionsResource.Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        fnActualizarFechas();
         function fnActualizarFechas() {
            var Semana = $("#IdSemana").val();
            document.getElementById('FechaInicio').value = "01/03/2016";
            $.ajax({
                type: 'POST',
                url: '@Url.Action("FechasSemana", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })',
                dataType: 'json',
                data: { semana: Semana },
                success: function (data) {
                    document.getElementById('FechaInicio').value = ToJavaScriptDate(data[0]);
                    document.getElementById('FechaFin').value = ToJavaScriptDate(data[1]);
                },
                error: function (ex) {
                }
            });
        }

        function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            var fecha;
            @if (CurrentCulture == ConstantHelpers.CULTURE.ESPANOL)
            {
                <text>
            if (dt.getDate() < 9 && dt.getMonth() < 9)
                fecha = "0" + (dt.getDate() + 1) + "/" + "0" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
            else if (dt.getDate() < 9 && dt.getMonth() >= 9)
                fecha = "0" + (dt.getDate() + 1) + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
            else if (dt.getDate() >= 9 && dt.getMonth() < 9)
                fecha = (dt.getDate() + 1) + "/" + "0" + (dt.getMonth() + 1) + "/" + dt.getFullYear();
            else
                fecha = (dt.getDate() + 1) + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear();

            return fecha;
            </text>
            }
            else
            {
                <text>
            return (dt.getMonth()+1) + "/" + (dt.getDate() + 1) + "/" + dt.getFullYear();
            </text>
            }
        }
    </script>

    <script>
        function fnBuscar() {
            var url = '@Url.Action("ConsultMeetingCommitte", "MeetingCommitte", new { Area = ConstantHelpers.AREAS.MEETING })';
            url += '?isSearchRequest=true';

            var IdNivel = $("#Niveles").val();
            var IdSemana = $("#Semanas").val();
            var FechaInicio = null;
            var FechaFin = null;
            if (IdSemana == "" || IdSemana == null) {
                FechaInicio = document.getElementById('FechaInicio').value;
                FechaFin = document.getElementById('FechaFin').value;
            }
            var IdSede = $("#Sedes").val();

            url = concatNotNull(url, 'IdNivel', IdNivel);
            url = concatNotNull(url, 'IdSemana', IdSemana);
            url = concatNotNull(url, 'FechaInicio', FechaInicio);
            url = concatNotNull(url, 'FechaFin', FechaFin);
            url = concatNotNull(url, 'IdSede', IdSede);

            location.href = url;
        };

        function concatNotNull(cadena, texto, valor) {
            if (valor != "" && valor != null)
                return cadena + '&' + texto + '=' + valor;
            return cadena;
        };

        function fnHabilitarFecha() {
            var IdSemana = $("#IdSemana").val();
            if (IdSemana == "" || IdSemana == null) {
                document.getElementById("FechaInicio").disabled = false;
                document.getElementById('FechaFin').disabled = false;
            } else {
                document.getElementById('FechaInicio').disabled = true;
                document.getElementById('FechaFin').disabled = true;
            }
        }
    </script>
}