﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingCommitte
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model  UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingCommitte.AddEditMeetingCommitteViewModel
@{
    ViewBag.Title = DetailsMeetingCommitteResource.Titulo;
    ViewBag.Icon = "clipboard";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@section Styles{
    <style>
        input[type=checkbox] {
            /* All browsers except webkit*/
            transform: scale(1.5);
            /* Webkit browsers*/
            -webkit-transform: scale(1.5);
        }

        .colorError {
            border-color: red;
        }
    </style>
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "MeetingCommitte", new { Area = ConstantHelpers.AREAS.MEETING })">@AddEditMeetingCommitteResource.ReunionDeComiteConsultivo</a></li>
}

<div class="col-md-1"></div>
<div class="col-md-10">

    <div class="panel filters">
        <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-check"></i> Detalle de Reunión</h3><div class="panel-actions"><a aria-hidden="true" class="panel-action icon wb-minus" data-toggle="panel-collapse"></a></div></div>

        <div class="panel-body" style="text-align:center;">

            <div class="panel-group panel-group-continuous margin-0" id="exampleAccrodion1"
                 aria-multiselectable="true" role="tablist">
                <div class="panel">
                    <div class="panel-heading" id="exampleHeadingFirst" role="tab">
                        <a class="panel-title" data-parent="#exampleAccrodion1" data-toggle="collapse"
                           href="#exampleCollapseFirst" aria-controls="exampleCollapseFirst"
                           aria-expanded="false" style="text-align:left;">
                            <i class="md-palette"></i> @DetailResource.InformacionGeneral
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseFirst" aria-labelledby="exampleHeadingFirst"
                         role="tabpanel">
                        <div class="panel-body">
                            <div class="row">

                                <div class="form-group">
                                    <label class="col-md-2">
                                        @DetailResource.Sede
                                    </label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => Model.IdSede, new SelectList(Model.lstSede, "IdSede", "Nombre"), new
                                       {
                                           @class = "form-control select2-select",
                                           @data_plugin = "select2",
                                           @disabled = true
                                       })
                                    </div>

                                    <label class="col-md-2">
                                        @DetailResource.Lugar
                                    </label>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(m => m.Lugar, new Dictionary<string, object> { { "class", "maxlength-input form-control" }, { "maxlength", "50" }, { "placeholder", "" }, { "data-placement", "bottom-right-inside" }, { "data-plugin", "maxlength" }, { "disabled", "" } })
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2">
                                        @DetailResource.Fecha
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="icon wb-calendar" aria-hidden="true"></i>
                                            </span>
                                            @Html.TextBoxFor(m => m.Fecha, "{0:dd/MM/yyyy}", new { @class = "form-control", @data_plugin = "datepicker", @disabled = true })
                                        </div>
                                    </div>
                                    <label class="col-md-2">
                                        @DetailResource.Hora
                                    </label>
                                    <div class="col-md-4">
                                        <div class="input-daterange">
                                            <div class="input-group clockpicker">
                                                <span class="input-group-addon">
                                                    <i class="icon wb-time" aria-hidden="true"></i>
                                                </span>
                                                @Html.TextBoxFor(m => m.HoraInicio, "{0:HH:mm}", new Dictionary<string, object> { { "class", "form-control" }, { "type", "time" }, { "disabled", "" } })
                                            </div>
                                            <div class="input-group clockpicker">
                                                <span class="input-group-addon">to</span>
                                                @Html.TextBoxFor(m => m.HoraFin, "{0:HH:mm}", new Dictionary<string, object> { { "class", "form-control" }, { "type", "time" }, { "disabled", "" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-2">
                                        @DetailResource.Motivo
                                    </label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Motivo, new Dictionary<string, object> { { "class", "maxlength-input form-control" }, { "maxlength", "50" }, { "placeholder", "" }, { "data-placement", "bottom-right-inside" }, { "data-plugin", "maxlength" }, { "disabled", "" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading" id="exampleHeadingSecond" role="tab">
                        <a class="panel-title collapsed" data-parent="#exampleAccrodion1" data-toggle="collapse"
                           href="#exampleCollapseSecond" aria-controls="exampleCollapseSecond"
                           aria-expanded="false" style="text-align:left;">
                            <i class="md-place"></i> @DetailResource.Objetivo
                        </a>
                    </div>
                    <div class="panel-collapse collapse" id="exampleCollapseSecond" aria-labelledby="exampleHeadingSecond"
                         role="tabpanel">
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.Raw(Model.Objetivo)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading" id="exampleHeadingThird" role="tab">
                        <a class="panel-title collapsed" data-parent="#exampleAccrodion1" data-toggle="collapse"
                           href="#exampleCollapseThird" aria-controls="exampleCollapseThird"
                           aria-expanded="false" style="text-align:left;">
                            <i class="md-loupe"></i> @DetailResource.Participantes
                        </a>
                    </div>
                    <div class="panel-collapse collapse" id="exampleCollapseThird" aria-labelledby="exampleHeadingThird" role="tabpanel">
                        <div class="panel-body">
                            <!------------------>
                            <div class="pull-left"><h4>@AddEditMeetingCommitteResource.UnidadesAcademicas</h4></div>
                            <br />
                            <!--AQUI LOS PARTICIPANTES DISPONIBLES AGREGADOS-->
                            <div class="row">

                                <table class="table table-striped table-hover table-highlight table-checkable">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; vertical-align: middle;"></th>
                                            <th style="text-align: center; vertical-align: middle;">@AddEditMeetingCommitteResource.Nivel</th>
                                            <th style="text-align: center; vertical-align: middle;">@DetailResource.Nombre</th>
                                            <th style="text-align: center; vertical-align: middle;">@DetailResource.UnidadAcademica</th>
                                        </tr>
                                    </thead>
                                    <tbody id="contParticipantes">
                                        @{
                                            var usuarioCreador = Model.listaParticipantesNormales.FirstOrDefault(x => x.IdParticipante == Model.IdUsuarioCreador && x.IdUnidadAcademica == Model.IdUnidadAcademica);
                                            var lstParticipantesNormales = Model.listaParticipantesNormales.Where(x => x != usuarioCreador && x.IsSelected);

                                            if (usuarioCreador != null)
                                            {
                                                <tr id="pagregado-@usuarioCreador.IdParticipante">
                                                    <td align="center"><i class="fa fa-user-secret" aria-hidden="true"></i></td>
                                                    <td id="nivel-@Model.IdUsuarioCreador" align="center">@usuarioCreador.Nivel</td>
                                                    <td align="center">@usuarioCreador.Nombre</td>
                                                    <td id="unidad-@Model.IdUsuarioCreador" align="left">@usuarioCreador.UnidadAcademica</td>
                                                </tr>
                                            }

                                            if (lstParticipantesNormales.Any())
                                            {
                                                lstParticipantesNormales = lstParticipantesNormales.ToList();
                                                foreach (var usuarioParticipante in lstParticipantesNormales)
                                                {
                                                    String idParticipante = usuarioParticipante.IdParticipante.ToString() + usuarioParticipante.IdUnidadAcademica.ToString();
                                                    int i = Model.listaParticipantesNormales.IndexOf(usuarioParticipante);
                                                    <tr id="pagregado-@idParticipante">
                                                        <td style="text-align: center; vertical-align: middle;"></td>
                                                        <td align="center">@usuarioParticipante.Nivel</td>
                                                        <td align="center">@usuarioParticipante.Nombre</td>
                                                        <td align="left">@usuarioParticipante.UnidadAcademica</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!---------------------------------------->
                            <br />
                            <div class="pull-left"><h4>Externos</h4></div>
                            <br />
                            <!--AQUI LOS PARTICIPANTES EXTERNOS AGREGADOS-->
                            <div class="row">
                                <table class="table table-striped table-hover table-highlight table-checkable">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">@DetailResource.Nombre</th>
                                            <th style="text-align: center;">@DetailResource.Cargo</th>
                                            <th style="text-align: center;">@AddEditMeetingCommitteResource.Correo</th>
                                            <th style="text-align: center;">@DetailResource.Empresa</th>
                                        </tr>
                                    </thead>
                                    <tbody id="contExternos">
                                        @for (int i = 0; i < Model.listaParticipantesExternos.Count; i++)
                                        {
                                            String cadena = String.Format("{0}|{1}|{2}|{3}", Model.listaParticipantesExternos[i].Nombre, Model.listaParticipantesExternos[i].Cargo, Model.listaParticipantesExternos[i].Correo, Model.listaParticipantesExternos[i].IdEmpresa);
                                            <tr id="@Html.Raw(HttpUtility.JavaScriptStringEncode(cadena))">
                                                <td style="text-align: center;">@Html.DisplayFor(model => model.listaParticipantesExternos[i].Nombre)</td>
                                                <td style="text-align: center;">@Html.DisplayFor(model => model.listaParticipantesExternos[i].Cargo)</td>
                                                <td style="text-align: center;">@Html.DisplayFor(model => model.listaParticipantesExternos[i].Correo)</td>
                                                <td style="text-align: center;">@Html.DisplayFor(model => model.listaParticipantesExternos[i].NombreEmpresa)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!------------------>
                            <br />
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-heading" id="exampleHeadingFour" role="tab">
                        <a class="panel-title collapsed" data-parent="#exampleAccrodion1" data-toggle="collapse"
                           href="#exampleCollapseFour" aria-controls="exampleCollapseFour"
                           aria-expanded="false" style="text-align:left;">
                            <i class="md-place"></i> @DetailResource.Agenda
                        </a>
                    </div>
                    <div class="panel-collapse collapse" id="exampleCollapseFour" aria-labelledby="exampleHeadingFour"
                         role="tabpanel">
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.Raw(Model.Agenda)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.href='@Url.Action("Index", "MeetingCommitte")'">@AddEditMeetingCommitteResource.Regresar</button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("AddEditMeetingCommitte", "MeetingCommitte", new {IdPreAgenda = Model.IdPreAgenda, IdReunion = Model.IdReunion})'">@ButtonsOptionsResource.Editar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------>


