﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingCommitte
@model  UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.ReunionPreScheduleViewModel
@{
    ViewBag.Title = @DetailsResource.Titulo;
    ViewBag.Icon = "clipboard";
}

@section Styles{
    <style>
        input[type=checkbox] {
            /* All browsers except webkit*/
            transform: scale(1.5);
            /* Webkit browsers*/
            -webkit-transform: scale(1.5);
        }
    </style>
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index","Meeting", new { Area = ConstantHelpers.AREAS.MEETING })">@DetailsResource.Reunion</a></li>
}

<div class="panel filters">
    <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-check"></i> @AddEditMeetingCommitteResource.RegistrarReunion </h3><div class="panel-actions"><a aria-hidden="true" class="panel-action icon wb-minus" data-toggle="panel-collapse"></a></div></div>
    <div class="panel-body" style="text-align:center;">
        <div class="panel-group panel-group-continuous margin-0" id="exampleAccrodion1"
             aria-multiselectable="true" role="tablist">
            <div class="panel">
                <div class="panel-heading" id="exampleHeadingFirst" role="tab">
                    <a class="panel-title" data-parent="#exampleAccrodion1" data-toggle="collapse"
                       href="#exampleCollapseFirst" aria-controls="exampleCollapseFirst"
                       aria-expanded="false" style="text-align:left;">
                        <i class="md-palette"></i> @DetailResource.InformacionGeneral
                    </a>
                </div>
                <div class="panel-collapse collapse in" id="exampleCollapseFirst" aria-labelledby="exampleHeadingFirst"
                     role="tabpanel">
                    <div class="panel-body">
                        <div class="row form-horizontal">
                            @Html.HiddenFor(m => m.PreAgenda.IdPreAgenda)
                            @Html.HiddenFor(m => m.Reunion.IdReunion)
                            @Html.HiddenFor(m => m.Reunion.IdPreAgenda)
                            @Html.HiddenFor(m => m.Reunion.EsExtraordinaria)
                            <div class="col-md-6">
                                @if (!Model.Reunion.EsExtraordinaria)
                                {
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3">@Filtros.Nivel: </label>
                                        <div class="col-sm-9 col-md-9">
                                            @Html.DropDownListFor(m => m.PreAgenda.Nivel, Model.Niveles, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3">@DetailResource.UnidadAcademica:</label>
                                        <div class="col-sm-9 col-md-9">
                                            @Html.DropDownListFor(m => m.PreAgenda.IdUnidaAcademica, Model.UnidadesAcademicas, new { @class = "form-control", disabled = "" })
                                        </div>
                                    </div>
                                }
                                <div class="form-group">
                                    <label class="col-sm-3 col-md-3">
                                        @Filtros.Motivo
                                    </label>
                                    <div class="col-sm-9 col-md-9">
                                        @Html.TextBoxFor(m => m.PreAgenda.Motivo, new Dictionary<string, object> { { "class", "maxlength-input form-control" }, { "maxlength", "50" }, { "placeholder", "" }, { "data-placement", "bottom-right-inside" }, { "data-plugin", "maxlength" }, { "disabled", "" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 col-md-3">
                                        @Filtros.Sede
                                    </label>
                                    <div class="col-sm-9 col-md-9">
                                        @Html.DropDownListFor(m => m.PreAgenda.IdSede, Model.Sedes, new { @class = "form-control", disabled = "" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 col-md-3">
                                        @DetailResource.Fecha
                                    </label>
                                    <div class="col-sm-9 col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="icon wb-calendar" aria-hidden="true"></i>
                                            </span>
                                            @*<input class="form-control" type="text" data-plugin="datepicker" value="27/02/2015">*@
                                            @Html.TextBoxFor(m => m.Reunion.Fecha, "{0:dd/MM/yyyy}", new Dictionary<string, object> { { "class", "form-control" }, { "data-plugin", "datepicker" }, { "disabled", "" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 col-md-3">
                                        @DetailResource.Lugar
                                    </label>
                                    <div class="col-sm-9 col-md-9">
                                        @*<input class="maxlength-input form-control" type="text" maxlength="50" placeholder="" value="" data-placement="bottom-right-inside" data-plugin="maxlength">*@
                                        @Html.TextBoxFor(m => m.Reunion.Lugar, new Dictionary<string, object> { { "class", "maxlength-input form-control" }, { "maxlength", "50" }, { "placeholder", "" }, { "data-placement", "bottom-right-inside" }, { "data-plugin", "maxlength" }, { "disabled", "" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 col-md-3">
                                        @DetailResource.Hora
                                    </label>
                                    <div class="col-sm-9 col-md-9">
                                        <div class="input-daterange">
                                            <div class="input-group clockpicker">
                                                <span class="input-group-addon">
                                                    <i class="icon wb-time" aria-hidden="true"></i>
                                                </span>
                                                @*<input type="text" class="form-control" />*@
                                                @Html.TextBoxFor(m => m.Reunion.HoraInicio, "{0:HH:mm}", new Dictionary<string, object> { { "class", "form-control" }, { "type", "time" }, { "disabled", "" } })
                                            </div>
                                            <div class="input-group clockpicker">
                                                <span class="input-group-addon">to</span>
                                                @*<input type="text" class="form-control" />*@
                                                @Html.TextBoxFor(m => m.Reunion.HoraFin, "{0:HH:mm}", new Dictionary<string, object> { { "class", "form-control" }, { "type", "time" }, { "disabled", "" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading" id="exampleHeadingSecond" role="tab">
                    <a class="panel-title collapsed" data-parent="#exampleAccrodion1" data-toggle="collapse"
                       href="#exampleCollapseSecond" aria-controls="exampleCollapseSecond"
                       aria-expanded="false" style="text-align:left;">
                        <i class="md-place"></i> @DetailResource.Agenda
                    </a>
                </div>
                <div class="panel-collapse collapse" id="exampleCollapseSecond" aria-labelledby="exampleHeadingSecond"
                     role="tabpanel">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table class="table table-bordered" id="myTable">
                                    <thead>
                                        <tr>
                                            <td align="center">#</td>
                                            <td align="center">@DetailsResource.Temas</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (!Model.ListaTemasPreAgenda.Any())
                                        {
                                            <tr id="item-default">
                                                <td colspan="2" align="center">
                                                    @DetailsResource.NoHayTemasEnEstaPreAgenda
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            for (int i = 0; i < Model.ListaTemasPreAgenda.Count; i++)
                                            {
                                                <tr id="item-@Model.ListaTemasPreAgenda[i].IdTemaAgenda">
                                                    <td align="center">@(i + 1)</td>
                                                    <td>@Model.ListaTemasPreAgenda[i].Nombre</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading" id="exampleHeadingThird" role="tab">
                    <a class="panel-title collapsed" data-parent="#exampleAccrodion1" data-toggle="collapse"
                       href="#exampleCollapseThird" aria-controls="exampleCollapseThird"
                       aria-expanded="false" style="text-align:left;">
                        <i class="md-loupe"></i> @DetailResource.Participantes
                    </a>
                </div>
                <div class="panel-collapse collapse" id="exampleCollapseThird" aria-labelledby="exampleHeadingThird" role="tabpanel">
                    <div class="panel-body">
                        <div class="example-wrap">
                            <div class="form-group">
                                <div class="editor-field">
                                    <table id="myTable2" class="table table-striped table-bordered table-hover table-highlight table-checkable">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; vertical-align: middle;">@Filtros.Nivel</th>
                                                <th style="text-align: center; vertical-align: middle;">@DetailResource.Nombre</th>
                                                <th style="text-align: center; vertical-align: middle;">@DetailResource.UnidadAcademica</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (var i = 0; i < Model.Participantes.Count(); i++)
                                            {
                                                var participante = Model.Participantes[i];
                                                <tr>
                                                    <td align="center">@Model.Participantes[i].Nivel</td>
                                                    <td>@Html.LabelFor(model => model.Participantes[i].Name, Model.Participantes[i].Name)</td>
                                                    <td align="left">
                                                        @if (!participante.EsExterno)
                                                        {
                                                            for (int k = 0; k < participante.UnidadesAcademicas.Count; k++)
                                                            {
                                                                var unidadAcademica = participante.UnidadesAcademicas[k];
                                                                <label>@unidadAcademica.NombreEspanol</label>
                                                                <br />
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <label>@participante.Cargo</label>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="row">
                @if (Request.Params["redirectUrl"] != null)
                {
                    <div class="col-md-6 text-left">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="fnCancelar('PreScheduleCommitte')">@ButtonsOptionsResource.Cancelar</button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="fnEditar(@Model.PreAgenda.IdPreAgenda,'PreScheduleCommitte')">@ButtonsOptionsResource.Editar</button>
                    </div>
                }
                else
                {
                    <div class="col-md-6 text-left">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="fnCancelar(null)">@ButtonsOptionsResource.Cancelar</button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="fnEditar(@Model.PreAgenda.IdPreAgenda, null)">@ButtonsOptionsResource.Editar</button>
                    </div>
                }  
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function fnCancelar(redirectUrl) {
            if (redirectUrl != null)
                location.href = '@Url.Action("Index", "PreScheduleCommitte")';
            else
                location.href = '@Url.Action("Index", "MeetingCommitte")';
        }

        function fnEditar(idPreAgenda, redirectUrl) {
            url = '@Url.Action("CreateMeetingCommitte", new { Area = ConstantHelpers.AREAS.MEETING })';
            url = url + "/" + idPreAgenda;
            if (redirectUrl != null)
                url = url + "?redirectUrl=PreScheduleCommitte";
            location.href = url
        }
    </script>
}
