﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingCommitte 
@model  UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.ReunionPreScheduleViewModel
@{
    ViewBag.Title = @QuestionResource.Titulo;
    ViewBag.Icon = "clipboard";
}

@section Styles{
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index","MeetingCommitte", new { Area = ConstantHelpers.AREAS.MEETING })">@DetailsResource.Reunion</a></li>
}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="panel filters">
            <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-check"></i> @AddEditMeetingCommitteResource.RegistrarReunion</h3><div class="panel-actions"><a aria-hidden="true" class="panel-action icon wb-minus" data-toggle="panel-collapse"></a></div></div>
            <div class="panel-body" style="text-align:center;">
                <div class="row">
                    <div class="form-group col-sm-12 col-md-6">
                        <div class="col-sm-12">
                            <div class="input-group">
                                @QuestionResource.Pregunta1
                                <br />
                                <br />
                                <p>
                                    @Html.RadioButton("Reunion", 1)@QuestionResource.ReunionDePreAgenda
                                </p>
                                <p>
                                    @Html.RadioButton("Reunion", 2)@QuestionResource.ReunionExtraordinaria
                                </p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-default" href="@Url.Action("Index", "MeetingCommitte", new { Area = ConstantHelpers.AREAS.MEETING })">@ButtonsOptionsResource.Cancelar</a>
                                <button type="submit" class="btn btn-primary" data-dismiss="modal" id="idGuardarMeetingCommitte">@ButtonsOptionsResource.Crear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        $('#idGuardarMeetingCommitte').click(function () {
            var radios = document.getElementsByName('Reunion');
                for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    // do whatever you want with the checked radio
                    if (radios[i].value == 1) {
                        url = '@Url.Action("Index", "PreScheduleCommitte", new { Area = ConstantHelpers.AREAS.MEETING })';
                        url += '?isSearchRequest=true&FechaInicio=01/01/2016&FechaFin=06/07/2016';
                        location.href = url;
                    } else {
                        location.href = '@Url.Action("CreateMeetingCommitte", "MeetingCommitte", new { Area = ConstantHelpers.AREAS.MEETING })';
                    }
                    // only one radio can be logically checked, don't check the rest
                    break;
                }
            }
        });
        
    </script>
}