﻿@model UPC.CA.ABET.Presentation.ViewModels.Profile.ChangePasswordViewModel

@{
    ViewBag.Title = ProfileResource.Perfil;
    ViewBag.Icon = "user";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    ViewBag.ProfileTabActive = "category-3";
}

@section Styles{
    @Html.Content("/assets/examples/css/pages/profile.min.css")
}

@section Breadcrumbs{}

<div class="row">
    <div class="col-lg-3 col-sm-4">
        <!-- Page Widget -->
        <div class="panel">
            <div class="panel-body">
                <div class="widget text-center">
                    <div class="widget-header">
                        <div class="widget-header-content">
                            <a class="avatar avatar-lg" href="javascript:void(0)">
                                @Html.Image(!String.IsNullOrEmpty(Session.GetImagen()) ? ConstantHelpers.DEFAULT_SERVER_PATH + "/" + Session.GetImagen() : "http://placehold.it/400", Session.GetNombre())
                            </a>
                            <h4 class="profile-user">@Session.GetNombre() @Session.GetApellido()</h4>
                            <p class="profile-job">@Session.GetCodigo()</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="list-group" data-plugin="nav-tabs" role="tablist">
                    @{Html.RenderPartial("_ProfileTabs");}
                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>

    <div class="col-lg-9 col-sm-8">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body">
                <div class="tab-content">
                    <!-- Categroy 3 -->
                    <div class=" tab-pane animation-fade active" id="category-3" role="tabpanel">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-lock"></i> Cambiar Contraseña</h3>
                        </div>
                        <div class="panel-body">
                            <form method="post" class="form form-horizontal">

                                <div class="form-group">
                                    @Html.LabelFor(x => x.PasswordActual, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.PasswordFor(x => x.PasswordActual, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.PasswordActual)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.PasswordNuevo, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.PasswordFor(x => x.PasswordNuevo, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.PasswordNuevo)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.PasswordNuevoComprobar, new { @class = "col-sm-3 control-label" })
                                    <div class="col-sm-9">
                                        @Html.PasswordFor(x => x.PasswordNuevoComprobar, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.PasswordNuevoComprobar)
                                    </div>
                                </div>

                                <div class="text-right">
                                    <a class="btn btn-default animsition-link" href="@Url.Action("ViewPerfil", "Profile", new { Area = String.Empty })"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
                                    <button type="submit" class="btn btn-primary" id="validateButton2">@LayoutResource.Aceptar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Categroy 3 -->
                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>

@section Scripts{
    @Html.Content("/assets/examples/js/pages/faq.min.js")
}