﻿@model UPC.CA.ABET.Presentation.ViewModels.Profile.ViewFirmaViewModel

@{
    ViewBag.Title = ProfileResource.Perfil;
    ViewBag.Icon = "user";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    ViewBag.ProfileTabActive = "category-4";
}

@section Styles{
    @Html.Content("/assets/examples/css/pages/profile.min.css")
}

@section Breadcrumbs{}

<div class="row">
    <div class="col-lg-3 col-sm-4">
        <!-- Page Widget -->
        <div class="panel">
            <div class="panel-body">
                <div class="widget text-center">
                    <div class="widget-header">
                        <div class="widget-header-content">
                            <a class="avatar avatar-lg" href="javascript:void(0)">
                                @Html.Image(!String.IsNullOrEmpty(Session.GetImagen()) ? ConstantHelpers.DEFAULT_SERVER_PATH + "/" + Session.GetImagen() : "http://placehold.it/400", Session.GetNombre())
                            </a>
                            <h4 class="profile-user">@Session.GetNombre() @Session.GetApellido()</h4>
                            <p class="profile-job">@Session.GetCodigo()</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="list-group" data-plugin="nav-tabs" role="tablist">
                    @{Html.RenderPartial("_ProfileTabs");}
                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>

    <div class="col-lg-9 col-sm-8">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body">
                <div class="tab-content">
                    <!-- Categroy 1 -->
                    <div class=" tab-pane animation-fade active" id="category-2" role="tabpanel">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-qrcode"></i> @ProfileResource.Firma</h3>
                        </div>
                        <div class="panel-body">

                            <form method="post" class="form form-horizontal" enctype="multipart/form-data">

                                <div class="form-group text-center">
                                    <img class="img-responsive img-rounded" align="middle" src="@(!String.IsNullOrEmpty(Model.RutaImagen) ? Url.Content(ConstantHelpers.DEFAULT_SERVER_PATH + "/" + Model.RutaImagen) : "http://placehold.it/500?text=" + ProfileResource.SinImagen )" style="margin: 0 auto 10px; max-height:300px" />
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Imagen, new { @class = "col-sm-3 control-label" })
                                    <div class='col-sm-9'>
                                        <div class="input-group input-group-file">
                                            @Html.TextBoxFor(x => x.RutaImagen, new { @class = "form-control", @readonly = "" })
                                            <span class="input-group-btn">
                                                <span class="btn btn-success btn-file">
                                                    <i class="icon wb-upload" aria-hidden="true"></i>
                                                    <input type="file" name="@Html.NameFor(x => x.Imagen)" id="@Html.IdFor(x => x.Imagen)" title="Seleccionar archivo" multiple="">
                                                </span>
                                            </span>
                                        </div>
                                        <small>@UPC.CA.ABET.Presentation.Areas.Admin.Resources.Views.User.UserResource.TamanioImagenFirma </small>
                                        @Html.ValidationMessageFor(x => x.Imagen)
                                    </div>
                                </div>

                                <div class="text-right">
                                    <a class="btn btn-default animsition-link" href="@Url.Action("ViewPerfil", "Profile", new { Area = String.Empty })"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
                                    <button type="submit" class="btn btn-primary" id="validateButton2">@LayoutResource.Aceptar</button>
                                </div>
                            </form>


                        </div>
                    </div>
                    <!-- End Categroy 1 -->
                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>

@section Scripts{
    @Html.Content("/assets/examples/js/pages/faq.min.js")
}