﻿@model UPC.CA.ABET.Presentation.ViewModels.Profile.ViewPerfilViewModel

@{
    ViewBag.Title = ProfileResource.Perfil;
    ViewBag.Icon = "user";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    ViewBag.ProfileTabActive = "category-1";
}

@section Styles{
    @Html.Content("/assets/examples/css/pages/profile.min.css")
}

@section Breadcrumbs{}

<div class="row">
    <div class="col-lg-3 col-sm-4">
        <!-- Page Widget -->
        <div class="panel">
            <div class="panel-body">
                <div class="widget text-center">
                    <div class="widget-header">
                        <div class="widget-header-content">
                            <a class="avatar avatar-lg" href="javascript:void(0)">
                                @Html.Image(!String.IsNullOrEmpty(Session.GetImagen()) ? ConstantHelpers.DEFAULT_SERVER_PATH + "/" + Session.GetImagen() : "http://placehold.it/400", Session.GetNombre())
                            </a>
                            <h4 class="profile-user">@Session.GetNombre() @Session.GetApellido()</h4>
                            <p class="profile-job">@Session.GetCodigo()</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="list-group" data-plugin="nav-tabs" role="tablist">
                    @{Html.RenderPartial("_ProfileTabs");}
                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>

    <div class="col-lg-9 col-sm-8">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body">
                <div class="tab-content">
                    <!-- Categroy 1 -->
                    <div class=" tab-pane animation-fade active" id="category-1" role="tabpanel">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-info"></i> @ProfileResource.Informacion</h3>
                        </div>
                        <div class="panel-body">

                            <ul class="list-group">

                                <li class="list-group-item">
                                    <div class="media media-lg">
                                        <div class="media-left">
                                            <a class="avatar" href="javascript:void(0)">
                                                <img src="@(!String.IsNullOrEmpty(Session.GetImagen()) ? @Url.Content(ConstantHelpers.DEFAULT_SERVER_PATH + "/" + Session.GetImagen()) : "http://placehold.it/400")" alt="...">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                @Session.GetNombre() @Session.GetApellido()<br />
                                                <span>@Session.GetCodigo()</span>
                                            </h4>
                                            <small>@UPC.CA.ABET.Presentation.Areas.Admin.Resources.Views.User.UserResource.UltimoAcceso: @Model.UltimoAcceso</small>
                                            <hr />
                                            <div class="profile-brief">
                                                @ProfileResource.CantidadAcceso: @Model.CantidadAccesos
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <!-- End Categroy 1 -->
                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>

@section Scripts{
    @Html.Content("/assets/examples/js/pages/faq.min.js")
}