﻿@model UPC.CA.ABET.Presentation.Areas.Indicator.ViewModels.ReportViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.Icon = Model.Icon;
}

@section SecondSidebar
{
    @{Html.RenderPartial("_SecondSidebar");}

}

@section Breadcrumbs{

}

@section Styles {
    <link href="@Url.Content("~/Content/vendor/datatables-bootstrap/dataTables.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/vendor/datatables-fixedheader/dataTables.fixedHeader.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/vendor/datatables-responsive/dataTables.responsive.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/vendor/c3/c3.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Indicator/Content/css/loading-animations.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Indicator/Content/css/custom-styles.css")" rel="stylesheet" />
}

@{Html.RenderPartial("_Indicator");}

@section Scripts{
    <script src="@Url.Content("~/Content/js/components/panel.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/datatables-bootstrap/dataTables.bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/datatables-fixedheader/dataTables.fixedHeader.js")"></script>
    <script src="@Url.Content("~/Content/vendor/datatables-responsive/dataTables.responsive.js")"></script>
    <script src="@Url.Content("~/Content/vendor/d3/d3.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/c3/c3.min.js")"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="@Url.Content("~/Areas/Indicator/Content/js/indicator.js")"></script>
    <script src="@Url.Content("~/Areas/Indicator/Content/js/indicator.excel.export.js")"></script>
}

