﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.RegisterToken.AddSurveyGRATokenViewModel
@{
    ViewBag.Title = "Encuesta Graduando";
    ViewBag.Icon = "graduation-cap";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Comite Acreditacion UPC">
    <meta name="author" content="">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#FF0000">
    <link rel="icon" sizes="192x192" href="@Url.ContentUrl("assets/images/logo192.png")" />

    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#FF0000">

    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#FF0000">
    <link rel="apple-touch-icon" href="@Url.ContentUrl("assets/images/logo192.png")">

    <title>Sistema de Acreditación - @ViewBag.Title - UPC</title>

    <link rel="shortcut icon" href="@Url.ContentUrl("assets/images/favicon.ico")" />

    <!-- Stylesheets -->
    @Html.Content("css/bootstrap.min.css")
    @Html.Content("css/bootstrap-extend.min.css")
    @Html.Content("css/site.min.css")
    @Html.Content("css/alertify.min.css")
    <link href="@Url.Content("~/Areas/Survey/Content/css/ezdz.css")" rel="stylesheet" />
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!-- Plugins -->
    @Html.Content("vendor/animsition/animsition.min.css")
    @Html.Content("vendor/asscrollable/asScrollable.min.css")
    @Html.Content("vendor/switchery/switchery.min.css")
    @Html.Content("vendor/intro-js/introjs.min.css")
    @Html.Content("vendor/flag-icon-css/css/flag-icon.min.css")
    @Html.Content("vendor/select2/select2.min.css")
    @Html.Content("vendor/bootstrap-datepicker/bootstrap-datepicker.min.css")
    <link href="@Url.Content("~/Content/vendor/dropify/dropify.min.css")" rel="stylesheet" />
    <!-- Fonts -->
    @Html.Content("fonts/web-icons/web-icons.min.css")
    @Html.Content("fonts/font-awesome/css/font-awesome.min.css")
    @Html.Content("fonts/material-design/css/materialdesignicons.min.css")
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' />

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid-theme.min.css" />
    <link href="@Url.Content("~/Areas/Survey/Content/css/sweetalert.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/vendor/dropify/dropify.min.css")" rel="stylesheet" />
    @Html.Content("css/custom-styles.css")


    <link href="@Url.Content("~/Areas/Survey/Content/css/datepicker/bootstrap-datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Survey/Content/css/datepicker/bootstrap-datepicker3.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Survey/Content/css/summernote.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Survey/Content/css/custom-styles.css")">
    <!-- Scripts -->

    @Html.Content("vendor/jquery/jquery.min.js")
    <script type="text/javascript" language="javascript" src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    @Html.Content("vendor/breakpoints/breakpoints.min.js")
    <!--datatable-->

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <script>
        Breakpoints();
    </script>

</head>
<style>
    @@media only screen and (min-width: 0px) {
        #encuesta_horizontal_ce, #encuesta_horizontal_cg {
            display: none;
        }

        #encuesta_vertical_ce, #encuesta_vertical_cg {
            display: inline-block;
        }
    }

    @@media only screen and (min-width: 809px) {
        #encuesta_horizontal_ce, #encuesta_horizontal_cg {
            display: inline-block;
        }

        #encuesta_vertical_ce, #encuesta_vertical_cg {
            display: none;
        }
    }
</style>

<body>
    <form method="post" action="@Url.Action("AddSGRAToken","RegisterToken")">
        @Html.HiddenFor(x => x.IdAlumno)
        @Html.HiddenFor(x => x.IdCarrera)
        @Html.HiddenFor(x => x.IdSubModalidadPeriodoAcademico)
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-file-text-o"></i> &nbsp;@AddEditFDCResource.AddEditGRADatosGenerales</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">

                                <div class="col-md-2"><label class="label-survey">Escuela</label></div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => Model.Escuela, new { @class = "form-control select2-select", disabled = true })
                                </div>

                                <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditGRACarrera</label></div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => Model.IdCarrera, new SelectList(Model.lstCarrera, "IdCarrera", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), "Seleccione", new { @class = "fix-select form-control select2-select", data_plugin = "select2", disabled = true })
                                </div>


                            </div>
                            <div class="row">

                                <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditGRACiclo</label></div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => Model.IdCiclo, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), "Seleccione", new { @class = "form-control select2-select", data_plugin = "select2", disabled = true })
                                </div>



                                <div class="col-md-2"><label class="label-survey">Código</label></div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => Model.codigo, new { @class = "form-control select2-select", disabled = true })
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> &nbsp; @AddEditFDCResource.AddEditGRACompetenciasEspecificas</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div id="encuesta_vertical_ce" ">
                                @foreach (var item in Model.lstCE)
                                {
                                    <div class="pregunta">
                                        <p>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol.ToUpper() : item.NombreIngles.ToUpper())-@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</p>
                                        <ol>
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                <li class="radio-custom radio-primary">
                                                    <input type="radio" id="CE-@item.IdOutcomeEncuestaConfig" name="CE-@item.IdOutcomeEncuestaConfig" value="@i" required="required">
                                                    <label for="inputRadiosUnchecked">@i</label>
                                                </li>
                                            }
                                        </ol>
                                    </div>
                                }
                                <hr />
                            </div>
                            <div class="table-responsive" id="encuesta_horizontal_ce">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr style="background:red">
                                            <th class="col-md-1 text-center" style="color:white;">@AddEditFDCResource.AddEditGRACE</th>
                                            <th class="col-md-6 text-center" style="color:white;">@AddEditFDCResource.AddEditGRADescripcion</th>
                                            <th class="col-md-5 text-center" style="color:white;" colspan="5">@AddEditFDCResource.AddEditGRADesempeño</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var lstPerformanceCE = Model.lstPerformanceCE; }
                                        @foreach (var item in Model.lstCE)
                                        {
                                            <tr>
                                                <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol.ToUpper() : item.NombreIngles.ToUpper())</td>
                                                <td>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    <td class="text-center">
                                                        <div class="radio-custom radio-primary">
                                                            <input type="radio" id="CE-@item.IdOutcomeEncuestaConfig" name="CE-@item.IdOutcomeEncuestaConfig" value="@i" required="required">
                                                            <label for="inputRadiosUnchecked">@i</label>
                                                        </div>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> &nbsp; @AddEditFDCResource.AddEditGRACompetenciaGeneral</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div id="encuesta_vertical_cg">
                                @foreach (var item in Model.lstCG)
                                {
                                    <div class="pregunta">
                                        <p>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol.ToUpper() : item.NombreIngles.ToUpper())-@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</p>
                                        <ol>
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                <li class="radio-custom radio-primary">
                                                    <input type="radio" id="CG-@item.IdOutcomeEncuestaConfig" name="CG-@item.IdOutcomeEncuestaConfig" value="@i" required="required">
                                                    <label for="inputRadiosUnchecked">@i</label>
                                                </li>
                                            }
                                        </ol>
                                    </div>
                                }
                                <hr />
                            </div>
                            <div class="table-responsive" id="encuesta_horizontal_cg">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr style="background:red">
                                            <th class="col-md-1 text-center" style="color:white;">@AddEditFDCResource.AddEditGRACG</th>
                                            <th class="col-md-6 text-center" style="color:white;">@AddEditFDCResource.AddEditGRADescripcion</th>
                                            <th class="col-md-5 text-center" style="color:white;" colspan="5">@AddEditFDCResource.AddEditGRADesempeño</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var lstPerformanceCG = Model.lstPerformanceCG;}
                                        @foreach (var item in Model.lstCG)
                                        {
                                            <tr>
                                                <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol.ToUpper() : item.NombreIngles.ToUpper())</td>
                                                <td>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    <td class="text-center">
                                                        <div class="radio-custom radio-primary">
                                                            <input type="radio" id="CG-@item.IdOutcomeEncuestaConfig" name="CG-@item.IdOutcomeEncuestaConfig" value="@i" required="required">
                                                            <label for="inputRadiosUnchecked">@i</label>
                                                        </div>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-comments-o"></i> @AddEditFDCResource.AddEditGRAComentarios</h3>
                    </div>
                    <div class="panel-body">
                        <div id="GRA">
                            <div>
                                <div class='row'>
                                    <div class='form-group'>
                                        <div class='col-md-2'>
                                            <label class='label-survey'>Comentario</label>
                                        </div>
                                        <div class='col-md-9'>
                                            @Html.TextAreaFor(x => x.Comentario, new { @class = "form-control", @rows = '2' })
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @AddEditFDCResource.ButtonsOptionsSurveyGuardar</button>
                </div>
            </div>

        </div>
        <div class="col-md-1">

        </div>







    </form>
</body>
<!-- Core  -->
@Html.Content("vendor/wysihtml5/ysihtml5-0.3.0.min")
@Html.Content("vendor/modernizr/modernizr.min.js")
@Html.Content("vendor/bootstrap/bootstrap.min.js")
@Html.Content("vendor/animsition/animsition.min.js")
@Html.Content("vendor/asscroll/jquery-asScroll.min.js")
@Html.Content("vendor/mousewheel/jquery.mousewheel.min.js")
@Html.Content("vendor/asscrollable/jquery.asScrollable.all.min.js")
@Html.Content("vendor/ashoverscroll/jquery-asHoverScroll.min.js")
<script src="@Url.Content("~/Areas/Survey/Content/js/sorteable.js")"></script>
<!-- Plugins -->
@*@Html.Content("vendor/switchery/switchery.min.js")*@
@Html.Content("vendor/intro-js/intro.min.js")
@Html.Content("vendor/screenfull/screenfull.min.js")

<!-- Aditional Plugins -->
@Html.Content("vendor/bootstrap-datepicker/bootstrap-datepicker.min.js")
@Html.Content("vendor/wysihtml5/bootstrap3-wysihtml5.all.min.js")
<!--@Html.Content("vendor/select2/select2.min.js")-->
<script src="@Url.Content("~/Areas/Survey/Content/js/jquery.unobtrusive-ajax.js")"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<!-- Scripts -->
@Html.Content("js/core.min.js")
@Html.Content("js/site.min.js")
@Html.Content("assets/js/sections/menu.min.js")
@Html.Content("assets/js/sections/menubar.min.js")
@Html.Content("assets/js/sections/gridmenu.min.js")
@Html.Content("assets/js/sections/sidebar.min.js")
@Html.Content("js/components/asscrollable.min.js")
@Html.Content("js/components/animsition.min.js")
@Html.Content("js/components/switchery.min.js")
@Html.Content("js/components/panel.min.js")
@Html.Content("js/components/alertify-js.min.js")
@Html.Content("js/components/alertify.js")
@Html.Content("js/components/alertify.min.js")
@Html.Content("js/components/jquery.bootpag.min.js")
@Html.Content("jquery.unobtrusive-ajax.min.js", true)
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
    </script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/ezdz.js")"></script>
    <script src="@Url.Content("~/Areas/Survey/Scripts/jquery.validate.js")"></script>

    <script src="@Url.Content("~/Areas/Survey/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    @*<script src="@Url.Content("~/Areas/Survey/Content/js/bootstrap-datepicker.js")"></script>*@

    <script src="@Url.Content("~/Areas/Survey/Content/js/datepicker/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/datepicker/bootstrap-datepicker.es.min.js")"></script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/summernote.js")"></script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/summernote.min.js")"></script>
    <script>var urlRoute = '@Request.ApplicationPath';</script>
    @Html.Content("Views/Shared/modal-helper.js", true)

    <script src="@Url.Content("~/Content/vendor/dropify/dropify.min.js")"></script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/HighCharts.js")"></script>
    @*Report
        @Html.Content("js/jquery.validate.min.js")
        @Html.Content("js/jquery.unobtrusive-ajax.min.js")
        @Html.Content("js/jquery.validate.unobtrusive.min.js")
        @Html.Content("js/jquery.serialize-object.js")
        @Html.Content("js/main.js")*@
    <script>
        $(document).ready(function () {
            $('.dropify').dropify();


            $(window).load(function () {
                $('#loading').hide();
            });
            function showloading() {
                $('#loading').show();
            }
        });
    </script>
    <script>var urlRoute = '@Request.ApplicationPath';</script>
    @*Html.Content("Views/Shared/modal-helper.js", true)*@

    @*@RenderSection("Scripts", false)*@

    <script>
        (function (document, window, $) {
            'use strict';
            var site = window.Site;
            $(function () { site.run(); });
        })(document, window, jQuery);

        $('[data-plugin=datepicker]').datepicker({
            format: '@(ViewBag.Culture == ConstantHelpers.CULTURE.ESPANOL ? "dd/mm/yyyy" : "mm/dd/yyyy")',
            //endDate: "today"
        });
        $('.select2-select').select2({ placeholder: '@(ViewBag.Culture == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select")', allowClear: true });

        $(document).on('click', '#clear-all', function () {
            $('.select2-select').select2('val', ' ');
        });
    </script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/globalize.js")"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid.min.js"></script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/sweetalert.min.js")"></script>
    <script type='text/javascript' src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
    <script type='text/javascript' src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js"></script>
    @RenderSection("Scripts", false)
    <script>
        $('.field-validation-error').css('color', 'red');
    </script>
    <script>
        @if (ViewBag.Culture == ConstantHelpers.CULTURE.ESPANOL)
        {
           <text>
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || Globalize.parseDate(value, "d/M/y", "en");
        }
        </text>
        }
    </script>
    <script src="@Url.Content("~/Content/js/util.js")"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

}