﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.RegisterToken.AddSurveyEVDTokenViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey

@{
    ViewBag.Title = "Encuesta Virtual Delegado" + "  "+ Model.Codigo;
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("MantenimientoMaestroEVD", "Maintenance")"> Mantenimiento Encuesta</a></li>
}

    <form method="post" action="@Url.Action("AddSurveyEVDToken","RegisterToken")" id="surveyForm">
        <div class="row">
            <div class="panel panel-bordered">
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="col-md-2">
                            <label class="label-survey">Curso</label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => Model.IdCurso, Model.LstCurso, new { @class = "form-control", @id = "cursos" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-2">
                            <label class="label-survey">Docente</label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => Model.IdDocente, Model.LstDocente, new { @class = "form-control", @id = "docentes" })
                        </div>
                    </div>
                </div>
            </div>
        </div><br />


        @for(int i = 0; i < Model.LstPregunta.Count; i++)
        {
         @Html.HiddenFor(model => Model.LstPregunta[i].IdPregunta)
        }

        @Html.HiddenFor(x => x.IdEncuestaVirtualDelegado)
        <div class="row">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-question-circle"></i>  Preguntas</h3>
                </div>
                <div class="panel-body">
                    @{var idComentario = 0;}
                    @foreach (var pregunta in Model.LstPregunta)
                    {
                        if (pregunta.IdTipoPregunta == 1)
                        {
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2  control-label"></label>
                                    <label class="col-md-8  control-label">@pregunta.Orden. @pregunta.DescripcionEspanol</label>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>
                                    <div class="col-sm-6">
                                        @Html.TextAreaFor(x => x.LstComentarios[idComentario], new { @class = "desc form-control", @maxlength = "4000", @style = "resize:none", @rows = "4" })
                                    </div>
                                </div>
                            </div><br /><br />
                        }
                        else
                        {
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2  control-label"></label>
                                    <label class="col-md-8  control-label">@pregunta.Orden. @pregunta.DescripcionEspanol</label>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-2  control-label"></label>
                                    <div class="col-md-10">
                                        <ol>
                                            <li class="radio-custom radio-primary">
                                                @foreach (var detalleNivel in Model.LstDetalleNiveles.Where(x => x.IdPregunta == pregunta.IdPregunta))
                                                {
                                                    @Html.RadioButtonFor(x => x.LstComentarios[idComentario], detalleNivel.IdNivelSatisfaccion.ToString(), new { @required = "required" });
                                                    @Html.Label(detalleNivel.NivelSatisfaccion.DescripcionEspanol, new { @class = "labelRadio" });
                                                }
                                            </li>

                                        </ol>
                                    </div>
                                </div>
                            </div><br /><br />
                        }
                        idComentario++;
                    }
                    @Html.HiddenFor(x => x.IdEncuestaToken)
                    @Html.HiddenFor(x => x.IdTipoEncuesta)
                    @Html.HiddenFor(x => x.IdAlumno)
                    @Html.HiddenFor(x => x.IdCurso)
                    @Html.HiddenFor(x => x.IdDocente)
                    @Html.HiddenFor(x => x.IdSubModalidadPeriodoAcademico)
                    @Html.HiddenFor(x => x.IdCarrera)
                    @Html.HiddenFor(x => x.CursosCount)
                    @Html.HiddenFor(x=>x.Token)

                    <a class="btn modalButton pull-right" data-target="#modalShow" data-toggle="modal"> Guardar y continuar</a>
                </div>
            </div>
        </div>
    </form>

<div class="modal fade" id="modalError" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Advertencia</h3>
            </div>
            <div class="modal-body">
                <p>Por favor, llena todos los campos de la encuesta.</p>
            </div>
            <div class="modal-footer">
                <a class="btn modalButton pull-right" data-dismiss="modal">Cerrar</a>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="modalShow" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Confirmacion</h3>
            </div>
            <div class="modal-body">
                <p>Esta seguro de enviar esta encuesta?</p>
            </div>
            <div class="modal-footer">
                <div class="col-md-2">
                    <a class="btn btn-dark" data-dismiss="modal">Cancelar</a>
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="col-md-8">
                    <a class="btn btn-primary pull-right" data-dismiss="modal">Continuar</a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="modalNext" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Gracias!</h3>
            </div>
            <div class="modal-body">
                <p>Tus encuestas fueron enviadas satisfactoriamente. Si deseas opinar sobre otro curso y docente presiona "Nueva Encuesta", de lo contrario en "Finalizar." </p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-2">
                        <a class="btn btn-dark" href="@Url.Action("AddSurveyEVDToken", "RegisterToken", new { IdEncuestaVirtualDelegado = Model.IdEncuestaVirtualDelegado, Token = Model.Token})">Nueva Encuesta</a>
                    </div>
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-md-8">
                        <a class="btn modalButton pull-right" href="@Url.Action("FinalizeSurvey","RegisterToken", new { Token = Model.Token})">Finalizar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    a.modalButton {
        color: white;
        background-color: #ED1B24;
        border-radius: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 1em;
        padding-right: 1em;
    }

    label.labelRadio {
        width: 150px;
    }

    textarea.form-control {
        border-color: #ED1B24;
    }
</style>
@section scripts
    {
    <script type="text/javascript">
        $(window).load(function () {
            $('#loading').hide();
        });
    $(document).ready(function () {
        $('#cursos').select2({ witdth: '100%' });
        $('#docentes').select2({ witdth: '100%' });

        $('#cursos').change(function () {
            MostrarDocentes();
        });

        function MostrarDocentes() {
           
            var CursoId = $('#cursos').val();
            var AlumnoId = @Model.IdAlumno;

        

            $.ajax({
                url: '@Url.Action("GetDocentesByCurso", "Json")',
                data: { IdCurso: CursoId, IdAlumno: AlumnoId },
                dataType: "json",
                success: function (data) {
                    var json2 = JSON.stringify(data);
                 
                    $("#docentes").empty();
                    $("#docentes").append($('<option>').text("Ninguno").attr('value', 0));
                        for (i = 0; i < data.length; i++) {

                            var texto = data[i]["Text"];


                            if ($('#Cursos option:contains(' + texto + ')').length) {
                                continue;
                            }
                            $("#docentes").append($('<option>').text(texto).attr('value', data[i]["Value"]));
                    
                            $('#docentes').val(data[i]["Value"]).trigger('change');

                        }
                }, beforeSend: function () {
               
                    $("#docentes").empty();
                    $("#docentes").append($('<option>').text("Cargando...").attr('value', ""));

                    }
            });
        }

        $(".btn-primary").on("click", function (event) {
            var url = $('#surveyForm').data('url');
            $.ajax({
                url: url,
                type: "post",
                context: document.body,
                async: false,
                data: $("#surveyForm").serialize(),
                success: function (response) {
                    if (response.result == "continue")
                        $("#modalNext").modal('show');
                    if (response.result == "reload")
                        window.location.href = response.Url;
                    if (response.result == "error")
                        $("#modalError").modal('show');
                }
            });
        });
    });

    </script>
}