﻿@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "Error Register Survey";
}

<div class="page-content vertical-align-middle">
    <header>
        <h1 class="animation-slide-top"><i class="fa fa-meh-o"></i> 404 </h1>
        <p>@ErrorResource.NoEncontrado  ! ..</p>
    </header>
   
    <footer class="page-copyright">
        <p>©2016 EISC, @LayoutResource.Comite UPC</p>
    </footer>
</div>

