﻿@using UPC.CA.ABET.Presentation.Resources.Areas.Survey

@{
    ViewBag.Title = "Encuesta Finalizada";
    ViewBag.Icon = "fa fa-file-text";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<div class="panel panel-bordered">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h1 align="center" style="color:black">¡Encuesta enviada satisfactoriamente!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 align="center">Gracias por participar <i class="fa fa-smile-o"></i> </h3>
            </div>
        </div>
    </div>
</div>
<style>
    h1 {
        font-family: Georgia, serif;
    }
    h2 {
        font-family: Georgia, serif;
    }
</style>