﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.RegisterToken.ShowSurveyEVDViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey

@{
    ViewBag.Title = "Encuesta Virtual Delegado" + "  " + Model.Codigo;


    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("ConfiguracionEVD", "Configuration")"> Configuracion Encuesta Virtual Delegado</a></li>
}


<form method="post" action="@Url.Action("AddSurveyEVDToken","RegisterToken")" id="surveyForm">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="col-md-2">
                        <label class="label-survey">@SurveyResources.Curso</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => Model.IdCurso, Model.LstCurso, new { @class = "form-control", @id = "Cursos", @disabled = "disabled" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-2">
                        <label class="label-survey">@SurveyResources.Docente</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => Model.IdDocente, Model.LstDocente, new { @class = "form-control", @id = "Docentes", @disabled = "disabled" })
                    </div>
                </div>
            </div>
        </div>
    </div><br />


    @for (int i = 0; i < Model.LstPregunta.Count; i++)
    {
        @Html.HiddenFor(model => Model.LstPregunta[i].IdPregunta)
    }

    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-question-circle"></i>  @SurveyResources.Preguntas</h3>
            </div>
            <div class="panel-body">
                @{var idComentario = 0;}
                @foreach (var pregunta in Model.LstPregunta)
                {
                    if (pregunta.IdTipoPregunta == 1)
                    {
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2  control-label"></label>
                                <label class="col-md-8  control-label">@pregunta.Orden. @pregunta.DescripcionEspanol</label>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    @Html.TextAreaFor(x => x.LstComentarios[idComentario], new { @class = "desc form-control", @maxlength = "200", @style = "resize:none", @rows = "4", @disabled = "disabled" })
                                </div>
                            </div>
                        </div><br /><br />
                    }
                    else
                    {
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2  control-label"></label>
                                <label class="col-md-8  control-label">@pregunta.Orden. @pregunta.DescripcionEspanol</label>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2  control-label"></label>
                                <div class="col-md-10">
                                    <ol>
                                        <li class="radio-custom radio-primary">
                                            @foreach (var detalleNivel in Model.LstDetalleNiveles.Where(x => x.IdPregunta == pregunta.IdPregunta))
                                            {
                                                @Html.RadioButtonFor(x => x.LstComentarios[idComentario], detalleNivel.IdNivelSatisfaccion.ToString(), new { @required = "required" });
                                                @Html.Label(detalleNivel.NivelSatisfaccion.DescripcionEspanol.ToString(), new { @class = "labelRadio" });
                                             
                                            }
                                        </li>

                                    </ol>
                                </div>
                            </div>
                        </div><br /><br />
                    }
                    idComentario++;
                }

                <a class="btn btn-dark" href="@Url.Action("ConfiguracionEVD","Configuration")"> @SurveyResources.Atras</a>
            </div>
        </div>
    </div>
</form>
<style>
    a.modalButton {
        color: white;
        background-color: #ED1B24;
        border-radius: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 1em;
        padding-right: 1em;
    }

    label.labelRadio {
        width: 150px;
    }

    textarea.form-control {
        border-color: #ED1B24;
    }
</style>