﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase*@
@using UPC.CA.ABET.Presentation.Resources.Areas.Report

<div class="btn-group" role="group" id="btnExportReportGroup">
	<button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="btnExportReport" type="button">
		<i class="fa fa-file-o" aria-hidden="true"></i> @ReportResource.ButtonExportReport
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li>
			<a id="lnkPdf" href="#" role="menuitem" data-format="PDF" export-link="">
				<i class="fa fa-file-pdf-o"></i> PDF
			</a>
		</li>
		<li>
			<a id="lnkExcel" href="#" role="menuitem" data-format="EXCEL" export-link="">
				<i class="fa fa-file-excel-o"></i> Excel
			</a>
		</li>
		<li>
			<a id="lnkWord" href="#" role="menuitem" data-format="WORD" export-link="">
				<i class="fa fa-file-word-o"></i> Word
			</a>
		</li>
	</ul>
</div>