﻿
@using UPC.CA.ABET.Presentation.Areas.Admin.Resources.Views.Shared


@{
	var roles = Session.GetRoles();
}
<div>
	<ul class="site-menu">

		@if (roles.HasRole(AppRol.Docente))
		{
			<li class="site-menu-item">
				<a class="animsition-link" href="@Url.Action("Index", "Home", new { Area = ConstantHelpers.AREAS.RUBRIC })">
					<i class="site-menu-icon mdi mdi-information" aria-hidden="true"></i> <span class="site-menu-title"> @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.DashboardRubrias</span>
				</a>
			</li>
		}
		@if (roles.HasRole(AppRol.Administrador))
		{
			<li class="site-menu-category">
				<a style="color:white" href="#">@SidebarResource.Administrador</a>
			</li>
			<li class="site-menu-item has-sub @(ViewBag.Section == "Dashboard" ? "active" : String.Empty)">
				<a href="javascript:void(0)">
					<i class="site-menu-icon mdi mdi-briefcase-upload" aria-hidden="true"></i>
					<span class="site-menu-title">@SidebarResource.AdministracionGeneral</span>
					<span class="site-menu-arrow"></span>
				</a>
				<ul class="site-menu-sub">
					<li class="site-menu-item @(ViewBag.Subsection == "ADMIN" ? "active" : String.Empty)">
						<a class="animsition-link" href="@Url.Action("ListPeriodoAcademico", "AcademicPeriod", new { Area = ConstantHelpers.AREAS.ADMIN })">
							<span class="site-menu-title">@SidebarResource.PeriodoAcademico</span>
						</a>
					</li>
					<li class="site-menu-item @(ViewBag.Subsection == "SURVEY" ? "active" : String.Empty)">
						<a class="animsition-link" href="@Url.Action("ListAcreditadora", "Acreditation", new { Area = ConstantHelpers.AREAS.ADMIN })">
							<span class="site-menu-title">@SidebarResource.Acreditadora</span>
						</a>
					</li>
					<li class="site-menu-item @(ViewBag.Subsection == "INDICATOR" ? "active" : String.Empty)">
						<a class="animsition-link" href="@Url.Action("ListCarrera", "Career", new { Area = ConstantHelpers.AREAS.ADMIN })">
							<span class="site-menu-title">@SidebarResource.Carrera</span>
						</a>
					</li>

					<li class="site-menu-item @(ViewBag.Subsection == "MEETING" ? "active" : String.Empty)">
						<a class="animsition-link" href="@Url.Action("ListEscuela", "Career", new { Area = ConstantHelpers.AREAS.ADMIN })">
							<span class="site-menu-title">@SidebarResource.Escuela</span>
						</a>
					</li>
					<li class="site-menu-item @(ViewBag.Subsection == "PROFESSOR" ? "active" : String.Empty)">
						<a class="animsition-link" href="@Url.Action("ListSede", "Local", new { Area = ConstantHelpers.AREAS.ADMIN })">
							<span class="site-menu-title">@SidebarResource.Sede</span>
						</a>
					</li>
					<li class="site-menu-item @(ViewBag.Subsection == "USUARIOS" ? "active" : String.Empty)">
						<a class="animsition-link" href="@Url.Action("ListUsuario", "User", new { Area = ConstantHelpers.AREAS.ADMIN })">
							<span class="site-menu-title">@SidebarResource.Usuario</span>
						</a>
					</li>
					<li class="site-menu-item @(ViewBag.Subsection == "USUARIOS" ? "active" : String.Empty)">
						<a class="animsition-link" href="@Url.Action("ListAlumnoMatriculado", "Student", new { Area = ConstantHelpers.AREAS.ADMIN })">
							<span class="site-menu-title">@SidebarResource.Alumnos</span>
						</a>
					</li>

					<li class="site-menu-item">
						<a class="animsition-link" href="@Url.Action("Index", "BeforeEnrollment", new { Area = ConstantHelpers.AREAS.UPLOAD })">
							<span class="site-menu-title">@SidebarResource.CargaDatos</span>
						</a>
					</li>

				</ul>
			</li>
		}

		@if (roles.HasRole(AppRol.CoordinadorCarrera) || roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.Docente))
		{
			<li class="site-menu-item has-sub">
				<a href="javascript:void(0)">
					<i class="site-menu-icon mdi mdi-tooltip-edit" aria-hidden="true"></i>
					<span class="site-menu-title">@SidebarResource.AdministracionRubricas</span>
					<span class="site-menu-arrow"></span>
				</a>
				<ul class="site-menu-sub">
					@if (ExtensionsHelpers.HasRole(roles, AppRol.CoordinadorCarrera))
					{
						<li class="site-menu-item">
							<a class="animsition-link" href="@Url.Action("IndexUpload", "BulkInsert", new { Area = ConstantHelpers.AREAS.RUBRIC })">
								<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.CargarDatos</span>
							</a>
						</li>
						<li class="site-menu-item">
							<a class="animsition-link" href="@Url.Action("ListVirtualCompany", "VirtualCompany", new { Area = ConstantHelpers.AREAS.RUBRIC })">
								<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Empresas</span>
							</a>
						</li>
						<li class="site-menu-item">
							<a class="animsition-link" href="@Url.Action("ListAcademicProject", "AcademicProject", new { Area = ConstantHelpers.AREAS.RUBRIC })">
								<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Proyectos</span>
							</a>
						</li>
						<li class="site-menu-item">
							<a class="animsition-link" href="@Url.Action("ListOutcomeGoal", "OutcomeGoal", new { Area = ConstantHelpers.AREAS.RUBRIC })">
								<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.OutcomesWASC</span>
							</a>
						</li>
						<li class="site-menu-item">
							<a class="animsition-link" href="@Url.Action("downloadstudentgradereport", "BulkInsert" , new { Area=ConstantHelpers.AREAS.RUBRIC })">
								<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.ReporteNotas</span>
							</a>
						</li>
					}
					@if (ExtensionsHelpers.HasRole(roles, AppRol.Docente))
					{
						<li class="site-menu-item">
							<a class="animsition-link" href="@Url.Action("ListRubricaAlumno", "Score", new { Area = ConstantHelpers.AREAS.RUBRIC })">
								<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.RubricaAlumno</span>
							</a>
						</li>
					}
				</ul>
			</li>
			if (ExtensionsHelpers.HasRole(roles, AppRol.CoordinadorCarrera))
			{
				<li class="site-menu-item">
					<a class="animsition-link" href="@Url.Action("OutcomeReport", "BulkInsert", new { Area = ConstantHelpers.AREAS.RUBRIC })">
						<i class="site-menu-icon mdi wb-dashboard" aria-hidden="true"></i> <span class="site-menu-title"> @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.ExportacionRubricas</span>
					</a>
				</li>
				<li class="site-menu-item">
					<a class="animsition-link" href="@Url.Action("LstAllRubrics", "Score", new { Area = ConstantHelpers.AREAS.RUBRIC })">
						<i class="site-menu-icon mdi wb-dashboard" aria-hidden="true"></i> <span class="site-menu-title"> @UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.EliminarRubricasCalificadas</span>
					</a>
				</li>
			}
		}

		@if (ExtensionsHelpers.HasRole(roles, AppRol.CoordinadorCarrera))
		{
			<li class="site-menu-item">
				<a class="animsition-link" href="@Url.Action("RubricIndex", "Rubric", new { Area = ConstantHelpers.AREAS.RUBRIC })">
					<i class="site-menu-icon mdi mdi-book-open" aria-hidden="true"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.GestionRubricas</span>
				</a>
			</li>
		}
		@if (ExtensionsHelpers.HasRole(roles, AppRol.CoordinadorCarrera) && ExtensionsHelpers.HasRole(roles, AppRol.Docente) || ExtensionsHelpers.HasRole(roles, AppRol.Docente))
		{
			<li class="site-menu-item">
				<a class="animsition-link" href="@Url.Action("ScoreIndex", "Score", new { DocenteId = Session.GetDocenteId(), Area = ConstantHelpers.AREAS.RUBRIC })">
					<i class="site-menu-icon mdi mdi-square-inc" aria-hidden="true"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.EvaluarRubrica</span>
				</a>
			</li>
		}

		@if (ExtensionsHelpers.HasRole(roles, AppRol.Administrador) || ExtensionsHelpers.HasRole(roles, AppRol.Acreditador))
		{
			<li class="site-menu-item">
				<a class="animsition-link" href="@Url.Action("Index", "Report", new { Area = ConstantHelpers.AREAS.ADMIN })">
					<i class="site-menu-icon mdi mdi-square-inc" aria-hidden="true"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Admin.Resources.Views.Report.ReportResource.SideBarTitle</span>
				</a>
			</li>
		}

		@if (roles.HasRole(AppRol.CoordinadorCarrera) || roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.DirectorCarrera) || roles.HasRole(AppRol.Acreditador))
		{
			<li class="site-menu-category">
				<a style="color:white" href="@Url.Action("Index", "Home", new { Area = ConstantHelpers.AREAS.SURVEY } )">
					@UPC.CA.ABET.Presentation.Areas.Survey.Resources.Views.KeyWords.KeyWordsResource.EncuestaAcademica
				</a>
			</li>
			<li class="site-menu-item">
				<a class="animsition-link" href="@Url.Action("SurveyManagementPPP", "Survey", new { Area = ConstantHelpers.AREAS.SURVEY })">
					<i class="site-menu-icon fa fa-suitcase" aria-hidden="true"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Survey.Resources.Views.KeyWords.KeyWordsResource.PracticaPreProfesional</span>
				</a>
			</li>
			<li class="site-menu-item">
				<a class="animsition-link" href="@Url.Action("SurveyManagementFDC", "Survey", new { Area = ConstantHelpers.AREAS.SURVEY })">
					<i class="site-menu-icon fa fa-list-alt" aria-hidden="true"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Survey.Resources.Views.KeyWords.KeyWordsResource.FinCiclo</span>
				</a>
			</li>
			<li class="site-menu-item">
				<a class="animsition-link" href="@Url.Action("SurveyManagementGRA", "Survey", new { Area = ConstantHelpers.AREAS.SURVEY })">
					<i class="site-menu-icon fa fa-graduation-cap" aria-hidden="true"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Survey.Resources.Views.KeyWords.KeyWordsResource.Graduando</span>
				</a>
			</li>
		}

		@if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.DirectorCarrera) || roles.HasRole(AppRol.MiembroComite))
		{
			<li class="site-menu-category">
				<a style="color:white" href="#">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.CargaDeDatosEIndicadores</a>
			</li>
			if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.DirectorCarrera) || roles.HasRole(AppRol.MiembroComite))
			{
				<li class="site-menu-item">
					<a class="animsition-link" href="@Url.Action("IndicatorDataIndex", "IndicatorIndex", new { Area = ConstantHelpers.AREAS.INDICATOR })">
						<i class="mdi mdi-bookmark" aria-hidden="true"></i>
						<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.RegistroDeIndicadores</span>
					</a>
				</li>

			}
			<li class="site-menu-item">
				<a class="animsition-link" href="@Url.Action("ViewIndicatorIndex", "IndicatorIndex", new { Area = ConstantHelpers.AREAS.INDICATOR })">
					<i class="mdi mdi-bookmark" aria-hidden="true"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.Indicadores</span>
				</a>
			</li>
		}

		@if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.DirectorCarrera) || roles.HasRole(AppRol.MiembroComite) || roles.HasRole(AppRol.Acreditador) || roles.HasRole(AppRol.CoordinadorCarrera) || roles.HasRole(AppRol.Docente))
		{
			<li class="site-menu-category">
				<a style="color:white" href="#">@UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Shared.SidebarResource.PROFESSOR</a>
			</li>
			if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.DirectorCarrera) || roles.HasRole(AppRol.MiembroComite) || roles.HasRole(AppRol.Acreditador) || roles.HasRole(AppRol.CoordinadorCarrera))
			{
				<li class="site-menu-item">
					<a class="animsition-link" href="@Url.Action("Consult", "CareerCurriculum", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
						<i class="site-menu-icon fa fa-list-alt" aria-hidden="true"></i>
						<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Shared.SidebarResource.MallaCocos</span>
					</a>
				</li>
			}
			if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.DirectorCarrera) || roles.HasRole(AppRol.MiembroComite) || roles.HasRole(AppRol.Acreditador) || roles.HasRole(AppRol.CoordinadorCarrera) || roles.HasRole(AppRol.Docente))
			{
				<li class="site-menu-item">
					<a class="animsition-link" href="@Url.Action("Consult", "IfcManagement", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
						<i class="site-menu-icon fa fa-file-text" aria-hidden="true"></i>
						<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Shared.SidebarResource.IFC</span>
					</a>
				</li>
				<li class="site-menu-item">
					<a class="animsition-link" href="@Url.Action("Consult", "IfcDiscoveryManagement", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
						<i class="site-menu-icon fa fa-binoculars" aria-hidden="true"></i>
						<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Shared.SidebarResource.HallazgosIFC</span>
					</a>
				</li>
				<li class="site-menu-item">
					<a class="animsition-link" href="@Url.Action("Consult", "AccDiscoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
						<i class="site-menu-icon fa fa-binoculars" aria-hidden="true"></i>
						<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.HallazgosDeACC</span>
					</a>
				</li>
				<li class="site-menu-item" id="liReportFindings">
					<a class="animsition-link" href="@Url.Action("Index", "Findings", new { Area = ConstantHelpers.AREAS.REPORT })">
						<i class="site-menu-icon fa fa-binoculars" aria-hidden="true"></i>
						<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.ReportFindings</span>
					</a>
				</li>
			}
		}


		@if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.Docente) || roles.HasRole(AppRol.MiembroComite) || roles.HasRole(AppRol.Acreditador) || roles.HasRole(AppRol.CoordinadorCarrera))
		{

			<li class="site-menu-category">
				<a style="color:white" href="#">@UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Shared.SidebarResource.MEETING</a>
			</li>
			<li class="site-menu-item">
				<a href="@Url.Action("Index", "PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })">
					<i class="site-menu-icon fa fa-list-alt" aria-hidden="true" style="margin-top: 12px;"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Shared.SidebarResource.PreAgenda</span>
				</a>
			</li>

			<li class="site-menu-item">
				<a href="@Url.Action("Index", "Meeting", new {Area = ConstantHelpers.AREAS.MEETING})">
					<i class="site-menu-icon fa fa-file-text" aria-hidden="true" style="margin-top: 12px;"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Shared.SidebarResource.Reuniones</span>
				</a>
			</li>

			<li class="site-menu-item">
				<a href="@Url.Action("Index", "TeacherMeeting", new {Area = ConstantHelpers.AREAS.MEETING})">
					<i class="site-menu-icon fa fa-binoculars" aria-hidden="true" style="margin-top: 12px;"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Shared.SidebarResource.ActasReunion</span>
				</a>
			</li>


		}

		@if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.Docente) || roles.HasRole(AppRol.MiembroComite) || roles.HasRole(AppRol.Acreditador) || roles.HasRole(AppRol.CoordinadorCarrera))
		{
			<li class="site-menu-category">
				<a style="color:white" href="#">@UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Shared.SidebarResource.MEETINGCC</a>
			</li>
			<li class="site-menu-item">
				<a href="@Url.Action("Index", "PreScheduleCommitte", new { Area = ConstantHelpers.AREAS.MEETING })">
					<i class="site-menu-icon fa fa-file-text" aria-hidden="true" style="margin-top: 12px;"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Shared.SidebarResource.PreAgendaCC</span>
				</a>
			</li>
			<li class="site-menu-item">
				<a href="@Url.Action("Index", "MeetingCommitte", new { Area = ConstantHelpers.AREAS.MEETING})">
					<i class="site-menu-icon fa fa-file-text" aria-hidden="true" style="margin-top: 12px;"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.ReunionDeComiteConsultivo</span>
				</a>
			</li>
		}

		@if (roles.Contains(AppRol.Administrador) || !roles.HasRole(AppRol.EncargadoCargas) || roles.HasRole(AppRol.Acreditador))
        {
			<li class="site-menu-category">
				<a style="color:white" href="#">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.ReportsCategory</a>
			</li>
			<li class="site-menu-item has-sub" id="liControlReports">
				<a href="javascript:void(0)">
					<i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.ControlReportsMenuTitle</span>
					<span class="site-menu-arrow"></span>
				</a>
				<ul class="site-menu-sub">
					<li class="site-menu-item" id="liByHistoricCourseControlReport">
						<a class="animsition-link" href="@Url.Action("ByHistoricCourse", "Control", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.ControlReportsByHistoricCourse</span>
						</a>
					</li>
					<li class="site-menu-item" id="liByLevelControlReport">
						<a class="animsition-link" href="@Url.Action("ByLevel", "Control", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.ControlReportsByLevel</span>
						</a>
					</li>
					<li class="site-menu-item" id="liByAcceptanceLevelControlReport">
						<a class="animsition-link" href="@Url.Action("ByAcceptanceLevel", "Control", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.ControlReportsByAcceptanceLevel</span>
						</a>
					</li>
					<li class="site-menu-item" id="liByOutcomeControlReport">
						<a class="animsition-link" href="@Url.Action("ByOutcome", "Control", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.ControlReportsByOutcome</span>
						</a>
					</li>
				</ul>
			</li>
		}

		@if (roles.Contains(AppRol.Administrador) || !roles.HasRole(AppRol.EncargadoCargas))
		{
			<li class="site-menu-item has-sub" id="liFormationReports">
				<a href="javascript:void(0);">
					<i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.FormationReportsMenuTitle</span>
					<span class="site-menu-arrow"></span>
				</a>
				<ul class="site-menu-sub">
					<li class="site-menu-item" id="liByAcceptanceLevelFormationReport">
						<a class="animsition-link" href="@Url.Action("ByAcceptanceLevel", "Formation", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.FormationReportsByAcceptanceLevel</span>
						</a>
					</li>
					<li class="site-menu-item" id="liByHistoricCourseFormationReport">
						<a class="animsition-link" href="@Url.Action("ByHistoricCourse", "Formation", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.FormationReportsByHistoricCourse</span>
						</a>
					</li>
				</ul>
			</li>
		}

		@if (roles.Contains(AppRol.Administrador) || ExtensionsHelpers.HasRole(roles, AppRol.Acreditador) || !roles.HasRole(AppRol.EncargadoCargas))
        {
			<li class="site-menu-item has-sub" id="liDiscoverReports">
				<a href="javascript:void(0);">
					<i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.DiscoverReportsMenuTitle</span>
					<span class="site-menu-arrow"></span>
				</a>
				<ul class="site-menu-sub">
					<li class="site-menu-item" id="liABETDiscoverReport">
						<a class="animsition-link" href="@Url.Action("ABET", "Discover", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.DiscoverReportsABET</span>
						</a>
					</li>
					<li class="site-menu-item" id="liEISCDiscoverReport">
						<a class="animsition-link" href="@Url.Action("EISC", "Discover", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.DiscoverReportsEISC</span>
						</a>
					</li>
					<li class="site-menu-item" id="liByInstrumentDiscoverReport">
						<a class="animsition-link" href="@Url.Action("ByInstrument", "Discover", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.DiscoverReportsByInstrument</span>
						</a>
					</li>
					<li class="site-menu-item" id="liImprovementActionsDiscoverReport">
						<a class="animsition-link" href="@Url.Action("ImprovementActions", "Discover", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.DiscoverReportsImprovementActions</span>
						</a>
					</li>
				</ul>
			</li>
		}

		@if (roles.Contains(AppRol.Administrador) || !roles.HasRole(AppRol.EncargadoCargas) || ExtensionsHelpers.HasRole(roles, AppRol.Acreditador))
        {
			<li class="site-menu-item has-sub" id="liVerificationReports">
				<a href="#">
					<i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.VerificationReportsMenuTitle</span>
					<span class="site-menu-arrow"></span>
				</a>
				<ul class="site-menu-sub">
					<li class="site-menu-item" id="liConsolidateVerificationReport">
						<a class="animsition-link" href="@Url.Action("Consolidate", "Verification", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.VerificationReportsConsolidate</span>
						</a>
					</li>
					<li class="site-menu-item" id="liByCourseVerificationReport">
						<a class="animsition-link" href="@Url.Action("ByCourse", "Verification", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.VerificationReportsByCourse</span>
						</a>
					</li>
					<li class="site-menu-item" id="liByAcceptanceLevelVerificationReport">
						<a class="animsition-link" href="@Url.Action("ByAcceptanceLevel", "Verification", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.VerificationReportsByAcceptanceLevel</span>
						</a>
					</li>
					<li class="site-menu-item" id="liByHistoricOutcomeVerificationReport">
						<a class="animsition-link" href="@Url.Action("ByHistoricOutcome", "Verification", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.VerificationReportsByHistoricOutcome</span>
						</a>
					</li>
				</ul>
			</li>
		}

		@if (roles.HasRole(AppRol.Administrador) ||
						roles.HasRole(AppRol.Acreditador) ||
						roles.HasRole(AppRol.CoordinadorCarrera) ||
						roles.HasRole(AppRol.DirectorCarrera) ||
							roles.HasRole(AppRol.MiembroComite))
		{
			<li class="site-menu-item has-sub" id="liAchievementReports">
				<a href="javascript:void(0)">
					<i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
					<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.AchievementReportsMenuTitle</span>
					<span class="site-menu-arrow"></span>
				</a>
				<ul class="site-menu-sub">
					<li class="site-menu-item" id="liAchievementByCompetencesReport">
						<a class="animsition-link" href="@Url.Action("ByCompetences", "Achievement", new { Area = ConstantHelpers.AREAS.REPORT })">
							<span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.AchievementReportsByCompetences</span>
						</a>
					</li>
				</ul>
			</li>
		}

	</ul>
</div>