﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.PlanMejora;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.AssessmentPlan.AddEditAssessmentPlanViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    if (Model.IdPlanAccion!=0)
    {
        ViewBag.Title = PlanMejoraResource.EditarPlanDeAssessment;
    }
    else
    {
        ViewBag.Title = PlanMejoraResource.RegistrarPlanDeAssessment;
    }

    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "AssessmentPlan")">@PlanMejoraResource.PlanDeAssessment</a></li>
    @if (Model.IdPlanAccion != 0)
    {
        <li><a href="@Url.Action("LstReunionDelegados", "MeetingDelegate")">@PlanMejoraResource.Mantenimiento</a></li>

    }

}

<form method="post">
    @Html.HiddenFor(x=>x.IdPlanAccion)
    @Html.HiddenFor(x => x.IdPeriodoAcademico)
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @PlanMejoraResource.DatosGenerales</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                                <label class="label-survey">@PlanMejoraResource.Ciclo</label>
                                @Html.TextBoxFor(x => x.Ciclo.CicloAcademico, new { @class = "form-control", @readonly = "" })
                        </div>
                        <div class="form-group">
                            <label class="label-survey">@PlanMejoraResource.Anio</label>
                            @Html.DropDownListFor(x => x.Anio, Model.LstAnios, language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control", @required = "true" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@PlanMejoraResource.Carrera</label>
                            @Html.DropDownListFor(x => x.IdCarrera, new SelectList(Model.LstCarreras, "IdCarrera", "NombreEspanol"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control", @required = "true" })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="pull-right">
                        <a class="btn btn-default" href="@Url.Action("Index", "AssessmentPlan")" style="margin-top: 30px;"> @ButtonsOptionsResource.Cancelar </a>
                        <button type="submit" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;"> @ButtonsOptionsResource.Guardar </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
