﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.PlanMejora;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.AssessmentPlan.LstAccionesMejoraViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);


        ViewBag.Title = PlanMejoraResource.AccionesDeMejora;
    

    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs {
    <li><a href="@Url.Action("ManagementRD", "Meeting")">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Plan de Assessment" : "Assessment Plan")</a></li>
<li><a href="@Url.Action("LstPlanesAssessment", "AssessmentPlan")">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Mantenimiento" : "Management")</a></li>
}


<form method="post">
    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-filter"></i> @(language == ConstantHelpers.CULTURE.ESPANOL ? "Filtros" : "Filters") </h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@PlanMejoraResource.Curso </label>

                                        @Html.DropDownListFor(x => x.IdCurso, new SelectList(Model.LstCursos,"IdCurso", "NombreEspanol"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@PlanMejoraResource.PeriodoAcademico</label>
                                        @Html.DropDownListFor(x => x.IdPeriodoAcademico, new SelectList(Model.LstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@PlanMejoraResource.Sede</label>

                                        @Html.DropDownListFor(x => x.IdSede, new SelectList(Model.LstSedes, "IdSede", "Nombre"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@PlanMejoraResource.NivelDeAceptacion</label>
                                        @Html.DropDownListFor(x => x.IdNivelAceptacion, new SelectList(Model.LstNivelesAceptacion, "IdNivelAceptacionHallazgo", "NombreEspanol"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="pull-right">
                                    <a class="btn btn-default" href="@Url.Action("Index", "AssessmentPlan")" style="margin-top: 30px;"> @ButtonsOptionsResource.Cancelar </a>
                                    <button type="submit" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;"> @ButtonsOptionsResource.Buscar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" action="@Url.Action("RelacionarAccionesMejora", "AssessmentPlan")">

    @Html.HiddenFor(x => x.IdPeriodoAcademico)
    @Html.HiddenFor(x => x.IdCurso)
    @Html.HiddenFor(x => x.IdPlanAccion)
    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">

                        <a class="panel-title collapsed" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOne2" id="reporte">
                            <h4><i class="fa fa-tasks"></i>@(language == ConstantHelpers.CULTURE.ESPANOL ? "Acciones de Mejora" : "*Meetings"); </h4>
                        </a>
                    </div>


                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="true">


                        <div class="panel-body">

                            <div class="row">
                                <h3>&nbsp;</h3>
                                <table class="table table-hover table-striped" id="table">
                                    <thead>
                                        <tr style="background-color: #FF1901;">
                                            <th class="text-center" style="color:white;"></th>
                                            <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Carrera" : "Carreer")</th>
                                            <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Curso" : "Course")</th>
                                            <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Ciclo" : "")</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="encuestas">
                                        @for (int i = 0; i < Model.LstAccionesMejora.Count; i++)
                                        {
                                            <tr>
                                                @Html.HiddenFor(x=>x.LstAccionesMejora[i].IdAccionMejora)
                                                <td class="text-center">@Html.CheckBoxFor(x => x.Respuestas[i]) </td>
                                                <td class="text-center">@Model.LstAccionesMejora[i].Codigo</td>
                                                <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? Model.LstAccionesMejora[i].Curso.NombreEspanol.ToUpper() : Model.LstAccionesMejora[i].Curso.NombreIngles.ToUpper() )</td>
                                                <td class="text-center">@Model.LstAccionesMejora[i].PeriodoAcademico.CicloAcademico </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="pull-right">
                                    <button type="submit" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;"> @ButtonsOptionsResource.Guardar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>