﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.PlanMejora;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.AssessmentPlan.LstPlanesAssessmentViewModel
@{

    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

    ViewBag.Title = (language == ConstantHelpers.CULTURE.ESPANOL ? "*Mantenimiento" : "*Management");
}

@section Breadcrumbs{
    <li><a href="@Url.Action("Index", "AssessmentPlan")">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Plan de Assessment" : "Assessment Plan")</a></li>
}

<form method="post">
    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-filter"></i> @(language == ConstantHelpers.CULTURE.ESPANOL ? "Filtros" : "Filters") </h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@PlanMejoraResource.Constituyente</label>

                                        @Html.DropDownListFor(x => x.IdConstituyente, new SelectList(Model.LstConstituyente, "IdConstituyente", "NombreEspanol"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control", @required = "true" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@PlanMejoraResource.Instrumento</label>

                                        @Html.DropDownListFor(x => x.IdInstrumento, new SelectList(Model.LstInstrumento, "IdInstrumento", "NombreEspanol"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control" })
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@PlanMejoraResource.Curso</label>
                                        @Html.DropDownListFor(x => x.IdCurso, new SelectList(Model.LstCurso, "IdCurso", "NombreEspanol"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">Outcome</label>
                                        @Html.DropDownListFor(x => x.IdOutcome, new SelectList(Model.LstOutcome, "IdOutcome", "NombreEspanol"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="pull-right">
                                    <a class="btn btn-default" href="@Url.Action("Index", "AssessmentPlan")" style="margin-top: 30px;"> @PlanMejoraResource.GenerarReporte </a>
                                    <button type="submit" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;"> @ButtonsOptionsResource.Buscar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



<div class="row">
    <div class="panel-group">
        <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">

                    <a class="panel-title collapsed" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOne2" id="reporte">
                        <h4><i class="fa fa-tasks"></i>@(language == ConstantHelpers.CULTURE.ESPANOL ? "Acciones de Mejora" : "*Meetings"); </h4>
                    </a>
                </div>


                <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="true">


                    <div class="panel-body">

                        <div class="row">
                            <h3>&nbsp;</h3>
                            <table class="table table-hover table-striped" id="table">
                                <thead>
                                    <tr style="background-color: #FF1901;">
                                        <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Código" : "Code")</th>
                                        <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Descripción" : "Descripción")</th>
                                        
                                        <th class="text-center" style="color:white;"></th>
                                       
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="encuestas">
                                    @foreach (var item in Model.LstAccionesMejora)
                                    {
                                        <tr>
                                            <td class="text-center">@item.Codigo</td>
                                            <td class="text-center">@item.DescripcionEspanol</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

