﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.PlanMejora;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.AssessmentPlan.MonitorearPlanViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);


    ViewBag.Title = PlanMejoraResource.MonitorearPlanDeAssessment;


    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs {
    <li><a href="@Url.Action("ManagementRD", "Meeting")">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Plan de Assessment" : "Assessment Plan")</a></li>
    <li><a href="@Url.Action("LstPlanesAssessment", "AssessmentPlan")">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Mantenimiento" : "Management")</a></li>
}


<div class="row">
    <div class="panel-group">
        <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">

                    <a class="panel-title collapsed" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOne2" id="reporte">
                        <h4><i class="fa fa-tasks"></i>@(language == ConstantHelpers.CULTURE.ESPANOL ? "Acciones de Mejora" : "*Meetings"); </h4>
                    </a>
                </div>


                <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="true">


                    <div class="panel-body">

                        <div class="row">
                            <h3>&nbsp;</h3>
                            <table class="table table-hover table-striped" id="table">
                                <thead>
                                    <tr style="background-color: #FF1901;">
                                        <th class="text-center" style="color:white; width: 15%;">@PlanMejoraResource.Codigo</th>
                                        <th class="text-center" style="color:white; width: 70%;">@PlanMejoraResource.DescripcionDeLaAccionPrevia</th>
                                        <th class="text-center" style="color:white; width: 15%;">@PlanMejoraResource.Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="encuestas">
                                    @for (int i = 0; i < Model.LstAccionesMejora.Count; i++)
                                    {
                                        <tr>
                                            @Html.HiddenFor(x => x.LstAccionesMejora[i].IdAccionMejora)
                                            <td class="text-center">@Model.LstAccionesMejora[i].Codigo</td>
                                            <td class="text-center"><textarea rows="4"  class="form-control" style="max-width: 100%; resize: none;"> </textarea></td>
                                            <td class="text-center">
                                                <select class="form-control">
                                                    <option value="volvo">@PlanMejoraResource.Pendiente</option>
                                                    <option value="volvo">@PlanMejoraResource.Implementado</option>
                                                </select>
                                                 
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="pull-right">
                                <button type="submit" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;"> @ButtonsOptionsResource.Guardar </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>