﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.ImprovementPlans;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.ImprovementPlans.ManagementImprovementPlanViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
<style>
    .table th,td{
        text-align: center;
    }

    .table {
        border-radius: 5px;
        margin: 0px auto;
        float: none;
    }
</style>

<table id="tblResultados" class="table table-striped table-hover text-centered" data-info="true" data-length-change="true" data-paginate="true">
    <thead>
        <tr>
            <th>@ImprovementPlansResource.Nombre</th>
            <th>@ImprovementPlansResource.Anio</th>
            @*<th>Exportar Plan Mejora</th>
        <th>Exportar Plan Resultados</th>*@
            <th>@ProfessorResource.Estado</th>
            <th>@ImprovementPlansResource.Notificar</th>
            <th>@ImprovementPlansResource.IngresarEvidencias</th>
            <th>@ImprovementPlansResource.Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LstImprovementPlans)
        {
        <tr>
            <td>@item.Nombre.Trim()</td>
            <td>@item.Anio</td>
            @*<td class="text-center">
            <div class="btn-group">

                <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-download"></i> Comision
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var com in Model.LstCom)
                    {
                        <li><a href="@Url.Action("PrintPAM", "NeoImprovementActions", new { Area = ConstantHelpers.AREAS.PROFESSOR, idPlan = @item.IdPlanMejora , Comision = @com.comision , IdCarrera = @com.idcarrera })"><i class="fa fa-cubes"></i> @com.comision</a></li>
                    }
                </ul>
            </div>
        </td>
        <td class="text-center">
            <div class="btn-group">

                <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-download"></i> Carrera
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var car in Model.LstCar)
                    {
                        <li><a href="@Url.Action("PrintPAR", "NeoImprovementActions", new { Area = ConstantHelpers.AREAS.PROFESSOR, idPlan = @item.IdPlanMejora ,car.IdCarrera })"><i class="fa fa-cubes"></i> @car.NombreEspanol</a></li>
                    }
                </ul>
            </div>
        </td>*@


            @switch ((@item.Estado).Trim())
            {
                case "Abierto":
                    <td><input type='checkbox' data-size="small" data-onstyle="success"  texdata-toggle="toggle" data-on="ABIERTO" data-off="CERRADO" class='toggle-btn' id='@item.IdPlanMejora' checked /></td>break;
                case "Cerrado":
                    <td><input type='checkbox' data-size="small" data-onstyle="success" data-toggle="toggle" class='toggle-btn' data-on="ABIERTO" data-off="CERRADO" id='@item.IdPlanMejora' disabled /></td>break;

            }
            <td class="text-center"><a href="@Url.Action("SendPlanModal", "NeoImprovementActions",new { IdPlan = @item.IdPlanMejora })"><i class="fa fa-envelope"></i></a></td>

            @switch ((@item.Estado).Trim())
            {

                case "Abierto":
                    <td class="text-center"><a href="@Url.Action("EditImprovementPlan", "ImprovementPlans",new { IdPlanMejora = @item.IdPlanMejora })"><i class="fa fa-upload"></i> @ButtonsOptionsResource.Editar</a></td>break;
                case "Cerrado":
                    <td class="text-center"><a onclick="editPlanAM(@item.IdPlanMejora)" hidden><i class="fa fa-edit" hidden></i> @ButtonsOptionsResource.Editar</a></td>break;

            }
            <td class="text-center"><a onclick="deletePlanAM(@item.IdPlanMejora)"><i class="fa fa-trash"></i></a></td>
        </tr>
        }
    </tbody>
</table>
