﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.ImprovementPlans;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.ImprovementPlans.AddEditPlanMejoraViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var titulo = "";
    if (Model.IdPlanMejora.HasValue)
    {
        titulo = @ImprovementPlansResource.Editar;
    }
    else
    {
        titulo = @ImprovementPlansResource.Registrar;
    }
    ViewBag.Title = titulo + " " + ImprovementPlansResource.PlanDeMejora;
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}



@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "ImprovementPlans")">@ImprovementPlansResource.PlanesDeMejora</a></li>
    @if (Model.IdPlanMejora.HasValue)
    {
        <li><a href="@Url.Action("LstPlanesMejora", "ImprovementPlans")">@ImprovementPlansResource.Mantenimiento</a></li>

    }

}





<form method="post">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @ImprovementPlansResource.DatosGeneralesDelPlanDeMejora</h3>
            </div>
            <div class="panel-body">
                @Html.HiddenFor(x => x.IdPlanMejora)
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@ImprovementPlansResource.Nombre</label>
                            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @required = "true" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@ImprovementPlansResource.Anio</label>
                            @Html.TextBoxFor(x => x.Anio, new { @class = "form-control", @disabled = "true" })
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(x => x.Anio)
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@ImprovementPlansResource.Constituyente</label>

                            @Html.DropDownListFor(x => x.IdConstituyente, new SelectList(Model.LstConstituyentes, "IdConstituyente", "NombreEspanol"), "[- " + ImprovementPlansResource.Seleccione + " -]",
                           new { @class = "form-control", @id = "constituyente" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@ImprovementPlansResource.Instrumento</label>

                            @Html.DropDownListFor(x => x.IdInstrumento, new SelectList(Model.LstInstrumentos, "IdInstrumento", "NombreEspanol"), "[- " + ImprovementPlansResource.Seleccione + " -]",
                           new { @class = "form-control", @id = "instrumento" })
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@ImprovementPlansResource.Curso</label>

                            @Html.DropDownListFor(x => x.IdCurso, new SelectList(Model.LstCursos, "IdCurso", "NombreEspanol"), "[- " + ImprovementPlansResource.Seleccione + " -]",
                           new { @class = "form-control", @id = "curso" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">Outcome</label>

                            @Html.DropDownListFor(x => x.IdOutcome, new SelectList(Model.LstOutcome, "IdOutcome", "Nombre"), "[- " + ImprovementPlansResource.Seleccione + " -]",
                           new { @class = "form-control", @id = "outcome" })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-survey" style="font-weight: bold;">@ImprovementPlansResource.AccionesDeMejoraAsociadasPlanDeMejora</label>

                            @Html.DropDownListFor(x => x.AccionesMejoraId, Model.LstAccionesMejora, new { @data_plugin = "select2", @class = "form-control", @multiple = "multiple", @id = "acciones" })

                        </div>

                    </div>
                </div>



                <div class="row">
                    <div class="pull-right">

                        @if (Model.IdPlanMejora.HasValue)
                        {
                            <a class="btn btn-default" href="@Url.Action("LstPlanesMejora", "ImprovementPlans")" style="margin-top: 30px;"> @ButtonsOptionsResource.Cancelar </a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="@Url.Action("Index", "ImprovementPlans")" style="margin-top: 30px;">  @ButtonsOptionsResource.Cancelar </a>
                        }


                        <button type="submit" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;">  @ButtonsOptionsResource.Guardar </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>


@section scripts {
    
    <script src="~/Content/assets/plugins/select2/dist/js/select2.min.js" rel="stylesheet"></script>

    <script>

            $(document).ready(function () {

                $('#acciones').val('@string.Join(",", Model.AccionesMejoraId)'.split(',')).trigger('change');


                $("select[multiple] option").prop("selected", "selected");


                var ajaxacciones = null;

                ActualizarInstrumentos();
                ActualizarAcciones();

                $('#constituyente').change(function () {

                    ActualizarAcciones();
                    ActualizarInstrumentos();
                });

                $('#instrumento').change(function () {
                    ActualizarAcciones();
                });

                $('#curso').change(function () {
                    ActualizarOutcomes();
                    ActualizarAcciones();
                });

                $('#outcome').change(function () {
                    ActualizarAcciones();
                });


                function ActualizarInstrumentos() {
                    console.log("actualizar");
                    $("#instrumento").empty();
                    $("#instrumento").append("<option value=''>@(ImprovementPlansResource.Cargando)...</option>");
                    var constituyenteID = $('#constituyente').val();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetInstrumentos", "Json")',
                        data: { IdConstituyente: constituyenteID },
                        dataType: "json",
                        success: function (data) {
                            $("#instrumento").empty();
                            $("#instrumento").append("<option value=''>[- @(ImprovementPlansResource.Seleccione) -]</option>");
                            for (i = 0; i < data.length; i++) {
                                $("#instrumento").append($('<option>').text(data[i]["NombreEspanol"]).attr('value', data[i]["IdInstrumento"]));

                            }
                        }
                    });
                }


                function ActualizarOutcomes() {

                    $("#outcome").empty();
                    $("#outcome").append("<option value=''>@(ImprovementPlansResource.Cargando)...</option>");
                    var cursoID = $('#curso').val();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetOutcomesPorCurso", "Json")',
                        data: { IdCurso: cursoID },
                        dataType: "json",
                        success: function (data) {
                            $("#outcome").empty();
                            $("#outcome").append("<option value=''>[- @(ImprovementPlansResource.Seleccione) -]</option>");
                            for (i = 0; i < data.length; i++) {
                                $("#outcome").append($('<option>').text(data[i]["NombreEspanol"]).attr('value', data[i]["IdOutcome"]));

                            }
                        }
                    });
                }




        function ActualizarAcciones() {

            if ($("#constituyente").val() == '' && $("#instrumento").val() == '' && $("#curso").val() == '' && $("#outcome").val() == '')
            {  console.log('Todos los inputs son nulos');
                return;
            }


            var constituyenteID = $("#constituyente").val();
            var instrumentoID = $("#instrumento").val();
            var cursoID = $("#curso").val();
            var outcomeID = $("#outcome").val();

            if (constituyenteID == '') constituyenteID = '0';
            if (instrumentoID == '') instrumentoID = '0';
            if (cursoID == '') cursoID = '0';
            if (outcomeID == '') outcomeID = '0';

            if (ajaxacciones != null) ajaxacciones.abort();

            ajaxacciones = $.ajax({
                type: "POST",
                url: '@Url.Action("GetAccionesDeMejoraPlan", "Json")',
                data: { IdConstituyente: constituyenteID, IdInstrumento: instrumentoID, IdCurso: cursoID, IdOutcome: outcomeID },
                dataType: "json",
                success: function (data) {
                    console.log($("#acciones").val());
                    $("#acciones").find("option:not(:selected)").remove();
                   // $("#outcome").append("<option value=''>[- Seleccione -]</option>");
                    for (i = 0; i < data.length; i++) {
                        $("#acciones").append($('<option>').text(data[i]["NombreEspanol"]).attr('value', data[i]["IdAccionMejora"]));

                    }
                }
            });

        }

   });

    </script>
}