﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.ImprovementPlans;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.ImprovementPlans.EditImprovementPlanViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    ViewBag.Title = ImprovementPlansResource.IngresoDeEvidenciasParaInformeDeResultado;
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "ImprovementPlans")">@ImprovementPlansResource.AccionesDeMejora</a></li>
    <li><a href="@Url.Action("Index", "ImprovementPlans")">@ImprovementPlansResource.ListaDeAccionesDeMejora</a></li>
}
<style>
    #headhallazgos, #tablahallazgos, #headhallazgos tr, #tablahallazgos tr, #headhallazgos tr th, #tablahallazgos tr td {
        display: block;
    }

    #headhallazgos tr:after, #tablahallazgos tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    #tablahallazgos td#celda20, #headhallazgos th#celda20 {
        width: 20%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda50 {
        width: 45%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda20 {
        width: 20%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda15 {
        width: 15%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda10 {
        width: 10%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .formatWidth {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .celda5 {
        width: 5%;
        float: left;
        text-align: center;
        vertical-align: middle;
        height: 39px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .btnGuardar {
        float: right;
        margin-bottom: 15px;
        margin-right: 30px;
    }

    .marginDescription {
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .textArea {
        height: 75px !important
    }

    @@media screen and (min-width: 700px) {
	    #VentanaModal .modal-dialog  {width:80%;}
    }


</style>
<div class="row">
    @Html.HiddenFor(x => x.IdPlanMejora, new { id = "planmejoraid" })
        <div class="panel panel-bordered">
            <div class="panel-body">
                <div class="col-sm-12 col-md-3 col-lg-3"> 
                    <div class="form-group" title="Lista de periodoacademico">
                     <label class="label-survey">@ImprovementPlansResource.PeriodoAcademico:</label>
                        @Html.DropDownListFor(x => x.IdPeriodoAcademico, Model.LstPeriodoAcademico, new { @class = "form-control js-example-basic-single", @id = "periodoacademico", @Name = "IdPeriodo" })
                    </div>
                    <div Id="filtroCarrera" class="form-group" title="Lista de Carreras">
                        <label class="label-survey">@ImprovementPlansResource.Carrera:</label>
                        @Html.DropDownListFor(x => x.IdCarrera, Model.LstCarrera, new { @class = "form-control js-example-basic-multiple", @id = "carreras", @Name = "IdCarrera[]", @Multiple = "multiple" })
                    </div>
                    <div class="form-group" title="Lista de Comisiones">
                        <label class="label-survey">@ImprovementPlansResource.Comision:</label>
                        @Html.DropDownListFor(x => x.IdComision, Model.LstComision,
                        new { @class = "form-control js-example-basic-single", @id = "Comision", @Name = "Comision" })
                    </div>                 
                    <div class="form-group" title="Lista de Outcomes">
                        <label class="label-survey">Outcome:</label>
                        @Html.DropDownListFor(x => x.IdOutcome, Model.LstOutcome,
                        new { @class = "form-control js-example-basic-single", @id = "OC", @Name = "OC" })
                    </div>
                    <div class="row">
                        <div class="form-group" style="position: relative; display: block;">
                            <input type="checkbox" class="form-check-input" id="chkCritico">
                            <label class="form-check-label" for="exampleCheck1" data-toggle="tooltip" title="Solo acciones de mejora sin evidencia">@ImprovementPlansResource.SoloAccionesDeMejoraSinEvidencia</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-default" onclick="limpiarCampos()" data-dismiss="modal">@ImprovementPlansResource.Limpiar</button>
                            <button type="button" class="btn btn-primary" onclick="filtrarTabla()">@ImprovementPlansResource.Buscar</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <div class="container">
                    <h1>@ImprovementPlansResource.AccionesDeMejoraDelPlan</h1></div>
                    <div id="exTab1" class="container">
                        <ul class="nav nav-tabs responsive-tabs">
                            @for (var item = 0; item < Model.LstInstrumentos.Count; item++)
                            {
                                <li data-toggle="tooltip" title="Hallazgos de @(Model.LstInstrumentos[item].DescripcionEspanol)" class=@(item == 0? "active" : "")>
                                    <a href="#@(Model.LstInstrumentos[item].IdInstrumento)a" data-toggle="tab">@Model.LstInstrumentos[item].Acronimo</a>
                                </li>
                            }
                        </ul>
                        <div class="tab-content clearfix">
                            @for (var item = 0; item < Model.LstInstrumentos.Count; item++)
                            {
                                <div class="table-responsive tab-pane @(item == 0? "active" : "")" id="@(Model.LstInstrumentos[item].IdInstrumento)a">
                                    <table id="table@(Model.LstInstrumentos[item].Acronimo)" class="table table-striped table-bordered" cellspacing="0" style="width: 100%"></table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="modal fade" id="VentanaModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@ImprovementPlansResource.IngresoDeEvidenciaPorHallazgo</h3>
            </div>
            <div class="modal-body">
                <div id="modal-hallazgo">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary"
                        data-dismiss="modal">
                    @ImprovementPlansResource.Cerrar
                </button>
                <button id="bfCaptchaEntry" class="btn btn-primary">
                    @ButtonsOptionsResource.Guardar
                </button>
            </div>
        </div>

    </div>
</div>
@section scripts {
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js" rel="stylesheet"></script>*@
<script>
        var filtroBusqueda = new Map();
        var listadoArrays = new Map();
        var arrayTable = new Array();
        var currentTab = "IFC";
        var valorParametrosCarrera;
        var valorParametrosComision;
        var valorParametrosOutcome;
        var arrayEv = [];
        var IdCarreraValoresIniciales = $('select[name="IdCarrera[]"]').val()
        var IdComisionValoresIniciales;

        $(document).ready(function () {
            
            //$('.responsive-tabs').responsiveTabs({
            //    accordionOn: ['xs', 'sm']
            //});
            $.site.menubar.fold();
            $('.js-example-basic-single').select2();
            $('.js-example-basic-multiple').select2();

            //$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            //    $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            //});

            cargarTabla(@Model.IdPlanMejora);

            setFiltroBusqueda($('select[name="IdPeriodo"]'), "IdPeriodo")
            setFiltroBusqueda($('select[name="IdCarrera[]"]'), "IdCarrera")
            
            //setFiltroBusqueda($('select[name="EvidenciasListas"]'), "EvidenciasListas")
            //setFiltroBusqueda($('select[name="EvidenciasListas"]'), "EvidenciasListas")
            
            
            
            cargarComisiones().then(respuesta => cargarOutcomes());
            IdComisionValoresIniciales = $('select[name="Comision"]').val()
            //$.when(cargarComisiones()).then(setFiltroBusqueda($('select[name="Comision"]', "Comision")));
            filtroBusqueda.set('EvidenciasListas', 1)
            filtrarTabla()


            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                
                var valorActualCarrera = $('select[name="IdCarrera[]"]').val();
                valorParametrosPeriodoAcademico = $('select[name="IdPeriodo"]').val();
                valorParametrosComision = $('select[name="Comision"]').val();
                valorParametrosOutcome = $('select[name="OC"]').val();
                if (valorActualCarrera != null)
                    valorParametrosCarrera = valorActualCarrera;

                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust().responsive.recalc();
                currentTab = $(e.target).text()
                if (currentTab === 'GRA' || currentTab === 'PPP') {
                    console.log(currentTab);
                    $("#filtroCarrera").addClass("hidden")
                    //limpiarCampos()
                    var $item0 = $("#periodoacademico").select2();
                    $item0.val(valorParametrosPeriodoAcademico).trigger("change");
                    var $item1 = $("#carreras").select2();
                    $item1.val("").trigger("change");
                }
                else {
                    $("#filtroCarrera").removeClass("hidden")
                    var $item = $("#carreras").select2();
                    $item.val(valorParametrosCarrera).trigger("change");
                    //limpiarCampos();
                }
                filtrarTabla();
            });
        });

        $("#chkCritico").on("change", function () {

            if (this.value === "true") {
                //setFiltroBusqueda.set('EvidenciasListas', 0);
                filtroBusqueda.set('EvidenciasListas', 0)
            } else {
                filtroBusqueda.set('EvidenciasListas', 1)
                //setFiltroBusqueda.set('EvidenciasListas', 1);
            }
            //filtrarTabla()
        })

        $('select[name="IdPeriodo"]').change(function () {
            
            setFiltroBusqueda($(this), "IdPeriodo");
            cargarComisiones().then(respuesta => cargarOutcomes());
        });

        $('select[name="IdCarrera[]"]').change(function () {
            setFiltroBusqueda($(this), "IdCarrera");
            cargarComisiones().then(respuesta => cargarOutcomes());
        });

        $('select[name="Comision"]').change(function () {
            setFiltroBusqueda($(this), "Comision")
            cargarOutcomes()
        });

        $('select[name="OC"]').change(function () {
            setFiltroBusqueda($(this), "OC");
        });

        function setFiltroBusqueda(objFiltro, nombreFiltro) {
           
            var obj = objFiltro;
            var regex = "";
            var target = 0;
            if ((obj.val() != null)) {
                target = obj.val();
                if (Array.isArray(target)) {
                        target.forEach(function (value, i) {
                        switch (nombreFiltro) {
                            case 'IdPeriodo':
                                (i == 0) ? regex = regex.concat("(" + value + ")") : regex = regex.concat("|" + "(" + value + ")")
                                break;
                            case 'IdCarrera':
                                (i == 0) ? regex = regex.concat("(:" + value + ":)") : regex = regex.concat("|" + "(:" + value + ":)")
                                break;
                            case 'Comision':
                                (i == 0) ? regex = regex.concat("(:" + value + ":)") : regex = regex.concat("|" + "(:" + value + ":)")
                                break;
                            case 'OC':
                                (i == 0) ? regex = regex.concat("(:" + value + ":)") : regex = regex.concat("|" + "(:" + value + ":)")
                                break;
                            default:
                                regex = ""
                        }
                    })
                } else {
                    if (nombreFiltro == 'IdPeriodo')
                        regex = regex.concat("(" + target + ")");
                    else
                        regex = regex.concat("(:" + target + ":)");
                }
                //console.log('El nombre del filtro: ' + nombreFiltro + ' valor: ' + obj.val() + " el valor de regx es:" + regex)
            }
            else {
                console.log("es null")
            }

            if (nombreFiltro === 'Comision') {
                console.log('El nombre del filtro: ' + nombreFiltro + ' valor: ' + target + " el valor de regx es:" + regex)
            }
            
            filtroBusqueda.set(nombreFiltro, regex)
            listadoArrays.set(nombreFiltro, target)
        }

        function guardarId(id) {
            $.ajax({
                url: '@Url.Action("GuardarEstadoAM", "ImprovementPlans")',
                type: 'POST',
                data: { IdAccionMejora: id },
                dataType: "json",
                success: function (data) {
                    //console.log(data)
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Empty most of the time...
                }
            });
            return;
        }

        function cargarTabla(idPlanMejora) {
            var numColumnTable = 3;
            var dataTable = getDataTable(idPlanMejora);
            var headersTable = [
                { "title": "Id", "data": "Id" },//0
                { "title": "Código", "data": "Codigo" },//1
                { "title": "Descripción", "data": "Descripcion" },//2
                { "title": "Instrumento", "data": "Instrumento" },//3
                { "title": "OC", "data": "Outcomes" },//4
                { "title": "Para Plan", "data": "ParaPlan" },//5
                { "title": "Periodo", "data": "PeriodoAcademico" },   //6
                { "title": "IdCurso", "data": "IdCurso" },//7
                { "title": "IdCarrera", "data": "Carreras" },//8
                { "title": "IdPeriodo", "data": "IdPeriodoAcademico" },//9
                { "title": "EstadoPlanMejora", "data": "EstadoPlanMejora" },//10
                { "title": "Opciones", "data": "Id" },//11
                { "title": "Comision", "data": "Comision" },//12
                { "title": "Evidencia", "data": "Id" },//13
                { "title": "EvidenciasListas", "data": "EvidenciasListas" }//14
            ];
            var tableOptions = {
                //"drawCallback": function () {
                //    $("input[class^='toggle-btn']").each(function () {
                //        $(this).bootstrapToggle();
                //    });

                //},
                responsive: true,
                "data": dataTable,
                "columns": headersTable,
                "rowCallback": function (row, data, index) {
                    
                    if (data.EvidenciasListas == "1") {
                        $(row).css('background-color', '#F9FAC1');
                        $(row).css('color', '#616461');
                    }
                },
                "columnDefs": [
                    {

                        "targets": [0,4,5,7,8,9,10,11,12,14], "visible": false,
                    },
                    {
                        "targets": [5], "visible": true,
                        'render': function (data, type, row) {
                            switch (row['ParaPlan']) {
                                case true: return '<input type="checkbox" data-size="mini" data-onstyle="success" data-on="SI" data-off="NO"  data-toggle="toggle" class="toggle-btn" id="' + row["Id"] + '" onchange= \'guardarId("' + row["Id"] + '")\' checked />'; break;
                                case false: return '<input type="checkbox" data-size="mini" data-onstyle="success" data-on="SI" data-off="NO" data-toggle="toggle" class="toggle-btn" id="' + row["Id"] + '" onchange= \'guardarId("' + row["Id"] + '")\'  />'; break;
                                default: return '-'
                            }
                        }
                    },
                    {

                    "targets": [13], "visible": true,
                        'render': function (data, type, row) {
                            return '<button type="button" class="btn btn-link"   id = "btnEditLink" onclick= \'OpenModal("' + row["Id"] + '")\'><i class="fa fa-upload"></i></button>'
                        }
                    }
                ],
                "search": {
                    "regex": true
                }

            };

            //arrayTable[0] = $('#tableIFC').DataTable(tableOptions).columns(numColumnTable).search('IFC').draw();

            //arrayTable[1] = $('#tableARD').DataTable(tableOptions).columns(numColumnTable).search('ARD').draw();

            //arrayTable[2] = $('#tableRV').DataTable(tableOptions).columns(numColumnTable).search('RV').draw();

            //arrayTable[3] = $('#tableRC').DataTable(tableOptions).columns(numColumnTable).search('RC').draw();

            //arrayTable[4] = $('#tableGRA').DataTable(tableOptions).columns(numColumnTable).search('GRA').draw();

            //arrayTable[5] = $('#tablePPP').DataTable(tableOptions).columns(numColumnTable).search('PPP').draw();
            @for (var item = 0; item < Model.LstInstrumentos.Count; item++)
            {
                @:arrayTable[@item] = $('#table@(Model.LstInstrumentos[item].Acronimo)').DataTable(tableOptions).columns(numColumnTable).search('@(Model.LstInstrumentos[item].Acronimo)').draw();
            }
        }

        function cargarComisiones() {
            
            let promise = new Promise(function (resolve, reject) {
                if (getOptionsComisiones(listadoArrays.get('IdPeriodo'), listadoArrays.get('IdCarrera'))) {
                    resolve({ respuesta: "ok"}); //se llamara a then
                } else {
                    reject({ causa: "error" }); //se llamara a catch
                }
            });
            return promise;
        }

        function cargarOutcomes() {
            
            getOptionsOutcomes(listadoArrays.get('Comision'), listadoArrays.get('IdPeriodo'))
        }

        function filtrarTabla() {
            
            arrayTable.forEach(function (value, i) {
                var columns = arrayTable[i].settings().init().columns;
                arrayTable[i].columns().every(function (index) {
                    filtroBusqueda.forEach(function (value, key) {
                        if (columns[index].title == key) {
                            if (key == 'EvidenciasListas') {
                                if (value != 0) {
                                    value = ''
                                } else {
                                    value = 0
                                }
                            } else {
                                if (value == 0 || value == '(:0:)')
                                    value = '';
                            }
                            arrayTable[i].columns(index).search(value, true, false).draw();
                        }
                        else {
                            //console.log('Sin Data');
                        }
                    });
                });
            });
        }

    function limpiarCampos() {
           
            var $item1 = $("#periodoacademico").select2();
            $item1.val([@Model.IdPeriodoAcademico]).trigger("change");
            var $item2 = $("#carreras").select2();
            if (currentTab === 'GRA' || currentTab === 'PPP') {
                $item2.val("").trigger("change");
            } else {
                $item2.val(IdCarreraValoresIniciales).trigger("change");
            }
            var $item3 = $("#Comision").select2();
            $item3.val(IdComisionValoresIniciales).trigger("change");
            //$item3.val(["0"]).trigger("change");
            //var $item4 = $("#OC").select2();
            //$item4.val(["0"]).trigger("change");
            //filtrarTabla();
        }

        function getOptionsComisiones(arrayIdPA, arrayIdCarrera) {
            
            return $.ajax({
                url: '@Url.Action("GetAllComisionesForPeriodoAcademico", "ImprovementPlans")',
                type: 'POST',
                data: { LstIdPeriodoAcademico: arrayIdPA, LstIdCarrera: arrayIdCarrera },
                dataType: "json",
                async: false,
                success: function (data) {
                    $('#Comision').empty()
                    //$('#Comision').append('<option value="0" selected>Todos</option>');
                    $.each(data, function (i, d) {
                        if (i == 0) {
                            $('#Comision').append('<option value="' + d.Value + '" selected="selected">' + d.Text + '</option>');
                            setFiltroBusqueda($('select[name="Comision"]'), "Comision")
                        }
                        else {
                            $('#Comision').append('<option value="' + d.Value + '">' + d.Text + '</option>');
                        }                        
                    });
                    setFiltroBusqueda($('select[name="Comision"]'), "Comision")
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Empty most of the time...
                    console.log("ERROR")
                }
            });
        }

        function getOptionsOutcomes(idComision, arrayIdPA) {
            
            $.ajax({
                url: '@Url.Action("GetAllOutcomesForComision", "ImprovementPlans")',
                type: 'POST',
                data: { IdComision: idComision, LstIdPeriodoAcademico: arrayIdPA },
                dataType: "json",
                success: function (data) {
                    $('#OC').empty()
                    console.log(data)
                    if (data !== 0) {
                        $('#OC').append('<option value="0" selected>Todos</option>');
                        $.each(data, function (i, d) {
                            $('#OC').append('<option value="' + d.Value + '">' + d.Text + '</option>');
                        });
                        setFiltroBusqueda($('select[name="OC"]'), "OC")
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Empty most of the time...
                }
            });            
        }

        function getDataTable(id) {
            var result = null;
            $.ajax({
                url: '@Url.Action("GetImprovementActions", "Json")',
                type: 'GET',
                data: { IdPlanMejora: id },
                async: false,
                dataType: "json",
                success: function (data) {
                    result = data.table;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Empty most of the time...
                }
            });

            return result
        }

    function OpenModal(idAccionMejora) {
        var anio = @Model.Anio;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddNewEvidenceAM", "ImprovementActions", new { Areas = "Professor" })',
                data: { IdAccionMejora: idAccionMejora, Anio: anio, codInstrumento: currentTab, vista: "Plan" },
                success: function (data) {
                    
                    $('#modal-hallazgo').html(data);
                    
                    $('#VentanaModal').modal('show');
                    $('#VentanaModal').on('shown.bs.modal', function () { 
                        
                        $('#TablaEvidencia').DataTable({
                            scrollY: 300,
                            columns: [{ "width": "10%" }, { "width": "15%" }, { "width": "10%" }, { "width": "10%" }, { "width": "20%" }],
                            paging: false,
                            autoWidth: false,
                            responsive: true,
                            destroy: true,
                        });
                    
                    })

                }
            });
        }

    $("#bfCaptchaEntry").on("click", function () {
        
        var myMap = new Map()
        var guardar = false;
        function evidencia(id,descripcion) {
            this.Id = id;
            this.Descripcion = descripcion;
        }
        $("textarea[name^='hallazgo']").each(function() {        
            if($('#general').val().trim() === "")
            {
                if($(this).val().trim() === "")
                {
                    swal("@(ImprovementPlansResource.NoDebeExistirCamposVacios)","", "error");
                    guardar = false;
                    return false
                }else
                {
                    guardar = true;
                    arrayEv.push(new evidencia(parseInt($(this).attr('id')),$(this).val().trim()));
                }
            }else
            {
                if($(this).val().trim() === "")
                {
                    guardar = true;
                    arrayEv.push(new evidencia(parseInt($(this).attr('id')),$('#general').val().trim()));
                }else
                {
                    guardar = true;
                    arrayEv.push(new evidencia(parseInt($(this).attr('id')),$(this).val().trim()));
                }
            } 
        })

        if(guardar)
        {
            swal({
                title: "@(ImprovementPlansResource.DeseaGuardarLosCambios)",
                //text: "...!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: '@(ImprovementPlansResource.SiEstoySeguro)',
                cancelButtonText: "@(ImprovementPlansResource.Cancelar)",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function(isConfirm){
                if (isConfirm){                                  
                    AddEvidenciaPlan(arrayEv,$('#accionmejoraid').val())
                        swal("@(ImprovementPlansResource.Guardado)","", "success");             
                        $('#VentanaModal').modal('hide');
                        setTimeout(function () {
                            window.location.reload(1);
                        }, 2000);
                }else{
                    swal("@(ImprovementPlansResource.Cancelado)","", "error");                               
                }
            });
        }
    });

    function AddEvidenciaPlan(listado,id){
       
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("AddEvidenciaPlan", "ImprovementActions", new { Areas = "Professor" })',
            data: JSON.stringify({Listado: listado, IdAccionMejora : id }),
            success: function(data) {
                console.log(data.texto)
            }
        });
    }
</script>

}


