﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.ImprovementPlans;
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor

@{
    ViewBag.Title = ImprovementPlansResource.AccionesDeMejora;
    ViewBag.Icon = "graduation-cap";
    Boolean esAcreditador = false;
}

@section Breadcrumbs{

}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera))
                            {
                                <li class="active" role="presentation"><a data-toggle="tab" href="#1Tab" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false"><i class="fa fa-hand-o-up"></i> <span class="tabhidden">@ImprovementPlansResource.RegistroDeAcciones</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#2Tab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa fa-tasks"></i> <span class="tabhidden">@ImprovementPlansResource.MantenimientoDeAcciones</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#3Tab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa fa-calendar-check-o"></i><span class="tabhidden">@ImprovementPlansResource.PlanDeResultados</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#4Tab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa-envelope"></i><span class="tabhidden">@ImprovementPlansResource.NotificacionDeCorreo</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#5Tab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa fa-download"></i> <span class="tabhidden">@ImprovementPlansResource.ExportarPlanes</span></a></li>
                            }

                        </ul>
                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">
                            <div class="tab-pane @(esAcreditador == false ? "active" : "")" id="1Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i> @ImprovementPlansResource.RegistroDeAcciones</h2>
                                <p align="justify">
                                    @ImprovementPlansResource.RegistreAcionDeMejoraDefinaDescripcionYAsigneHallazgos
                                </p>

                                <p>
                                    <!--AddEditAccionMejora-->
                                    <a class="pull-right btn btn-primary" href="@Url.Action("AddEditImprovementAction", "NeoImprovementActions")"><i class="fa fa-sign-in"></i> @ImprovementPlansResource.Ir</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="2Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa fa-tasks"></i> @ImprovementPlansResource.MantenimientoDeAcciones</h2>
                                <p align="justify">
                                    @ImprovementPlansResource.PresenteFuncionalidadPermiteDarMantenimientoAccionesMejoraRegistradasEnElSistema
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("MantenimientoAccionesMejora", "ImprovementPlans")"><i class="fa fa-sign-in"></i> @ImprovementPlansResource.Ir</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="3Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa fa-calendar-check-o"></i> @ImprovementPlansResource.InformeDeResultados</h2>
                                <p align="justify">
                                    @ImprovementPlansResource.PresenteFuncionalidadPermiteAgregarEvidenciasAccionesDeMejoraIncluidoDentroPlanDeMejora
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("ManagementImprovementPlan", "ImprovementPlans")"><i class="fa fa-sign-in"></i> @ImprovementPlansResource.Ir</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="4Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-envelope"></i> @ImprovementPlansResource.NotificacionDeCorreo</h2>
                                <p align="justify">
                                    @ImprovementPlansResource.PresenteFuncionalidadPermiteEnviarPlanMejoraFiltradoCadaCoordinadorCurso
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" id="btnNotificar"><i class="fa fa-sign-in"></i> @ImprovementPlansResource.Ir</a>
                                </p>
                            </div>
                            <div id="5Tab" class="tab-pane">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-download"></i>@ProfessorResource.ExportarP</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault5" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseColapseOne2" data-parent="#exampleAccordionDefault5" aria-expanded="false" aria-controls="exampleCollapseColapseOne2">
                                                                <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @ProfessorResource.PlanMejora
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseColapseOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @ProfessorResource.PlanMejoraDescripcion
                                                                </p>
                                                                <p>
                                                                    <a @*href="@Url.Action("ImprovementPlan","ExportPlan")"*@ id="btnImprovementPlan" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @ProfessorResource.Ir</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTwo2" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseColapseTwo2" data-parent="#exampleAccordionDefault5" aria-expanded="false" aria-controls="exampleCollapseColapseTwo2">
                                                                <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @ProfessorResource.PlanDeResultado
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseColapseTwo2" aria-labelledby="exampleHeadingDefaultTwo2" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @ProfessorResource.PlanDeResultadoDescripcion
                                                                </p>
                                                                <p>
                                                                    <a @*href="@Url.Action("PlanOfResults", "ExportPlan")"*@  id="btnPlanOfResults" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @ProfessorResource.Ir</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });

        $("#btnNotificar").on("click", function () {
            

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ObtPlan", "NeoImprovementActions")',
                dataType: 'json',
                type: 'POST',
                success: function (data) {

                    if (data == 'NoExistenPlanes') {
                        if (idplan = $('#idplan').val() == null) {
                            swal({
                                title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ImprovementPlansResource.NoExisteUnPlan))',
                                text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ImprovementPlansResource.PrimeroDebeCrearPlanParaAccederAEsteModulo))',
                                icon: 'error',
                                type: 'error',
                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                confirmButtonText: '@(ButtonsOptionsResource.Aceptar)'
                            });


                        }

                    }
                    else
                    {
                        location.href = '@Url.Action("SendPlanModal", "NeoImprovementActions")';
                    }



                }});
        });

        $("#btnImprovementPlan").on("click", function () {
           

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ObtPlan", "NeoImprovementActions")',
                dataType: 'json',
                type: 'POST',
                success: function (data) {

                    if (data == 'NoExistenPlanes') {
                        if (idplan = $('#idplan').val() == null) {
                            swal({
                                title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ImprovementPlansResource.NoExisteUnPlan))',
                                text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ImprovementPlansResource.PrimeroDebeCrearPlanParaAccederAEsteModulo))',
                                icon: 'error',
                                type: 'error',
                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                confirmButtonText: '@(ButtonsOptionsResource.Aceptar)'
                            });


                        }

                    }
                    else {
                        location.href = '@Url.Action("ImprovementPlan", "ExportPlan")';
                    }



                }
            });
        });



        $("#btnPlanOfResults").on("click", function () {
            

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ObtPlan", "NeoImprovementActions")',
                dataType: 'json',
                type: 'POST',
                success: function (data) {

                    if (data == 'NoExistenPlanes') {
                        if (idplan = $('#idplan').val() == null) {
                            swal({
                                title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ImprovementPlansResource.NoExisteUnPlan))',
                                text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ImprovementPlansResource.PrimeroDebeCrearPlanParaAccederAEsteModulo))',
                                icon: 'error',
                                type: 'error',
                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                confirmButtonText: '@(ButtonsOptionsResource.Aceptar)'
                            });


                        }

                    }
                    else {
                        location.href = '@Url.Action("PlanOfResults", "ExportPlan")';
                    }



                }
            });
        });


    </script>
}