﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.ImprovementPlans;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.ImprovementPlans.ManagementImprovementPlanViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;

@{
    ViewBag.Title = ImprovementPlansResource.Listado;
    ViewBag.Icon = "calendar-check-o";
}

@*@section Styles {
        @Html.Content("vendor/datatables-bootstrap/dataTables.bootstrap.min.css")
        @Html.Content("vendor/datatables-fixedheader/dataTables.fixedHeader.min.css")
        @Html.Content("vendor/datatables-responsive/dataTables.responsive.min.css")
    }*@

@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "ImprovementPlans")">@ProfessorResource.PlanMejora</a></li>
}


<style>
    label {
        font-weight: bold;
    }
    #respuestaAjax {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 99;
        text-align: center;
        visibility: hidden;
    }

    #loading-image {
        position: absolute;
        top: 200px;
        z-index: 100;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-align-justify\"></i> " + ProfessorResource.PlanMejora, PanelActions.Collapse)
            <div class="panel-body">
                <div class="text-right">
                    <button type="button" onclick="abrirVentana()" class="btn btn-primary"><i class="fa fa-plus"></i> @LayoutResource.Nuevo</button>
                </div>
                <div id="LstPlanMejora">
                    @{ Html.RenderPartial("_LstImprovementPlans", Model); }
                </div>


            </div>
        </div>
        @*<div class="panel" id="Resultados">
            @Html.PanelHeader("<i class=\"fa fa-align-justify\"></i> " + ProfessorResource.Resultados, PanelActions.Collapse)
            <div class="panel-body">
                <div id="resultadoAM">
                    <div class="text-right">
                        <button type="button" onclick="cerrarPlanMejora()" class="btn btn-primary" id="cerrarPlan"><i class="fa fa-plus"></i> @LayoutResource.CerrarPlan</button>
                    </div>
                    <br />
                    <table id="modal-PlanAcionMejora" class="display" style="width:100%"></table>
                </div>
            </div>
        </div>*@
    </div>
</div>


<!-- Modal PAM-->
<div class="modal fade" id="VentanaModalPlanAM" role="dialog">
    <div class="modal-dialog" style="width: 30%">
        <div class="modal-content">
            <form id="formPlanAM">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                  
                    <h3 class="modal-title" id="myModalLabel" style="text-align:center;">@ImprovementPlansResource.CrearPlanDeMejora</h3>
                </div>
                <div class="modal-body" style="margin-top: 1%;">
                    <div class="form-group row">
                        <label for="example" class="col-sm-2 col-form-label">@ImprovementPlansResource.Nombre: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="@(ImprovementPlansResource.IngreseElNombreDelPlan)" data-validation="length" data-validation-length="min4">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example" class="col-sm-2 col-form-label">@ImprovementPlansResource.Anio: </label>
                        <div class="col-sm-8">
                            <div class="input-group date" data-provide="datepicker" id="datepicker">
                                <input type="text" class="form-control" name="anio" id="anio" data-validation="date" data-validation-format="yyyy">
                                <div class="input-group-addon">
                                    <span class="fa fa-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ImprovementPlansResource.Cerrar</button>
                    <button type="submit" value="Submit" class="btn btn-primary" id="btnAprobar" data-eliminar="">@ImprovementPlansResource.Crear</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="modal fade" id="VentanaModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-hallazgo">

                </div>
            </div>
        </div>

    </div>
</div>
<div id="respuestaAjax">
    <img id="loading-image" src="@Url.ContentUrl("assets/images/ajax-loader.gif","Professor")" />
</div>
     @section Scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("input[class^='toggle-btn']").each(function () {
                $(this).bootstrapToggle();
            });


            var currentYear = new Date();
            //currentYear = currentYear.getFullYear()
            $("#datepicker").datepicker({
                format: "yyyy",
                viewMode: "years",
                minViewMode: "years",
                autoclose: true,
            });

            //$('#resultadoAM').hide();
            //$('#VentanaModal').on('hidden.bs.modal', function (e) {
            //    //console.log("SE ACABA DE CERRAR!");
            //    var IdPlanMejora = $('#cerrarPlan').val();
            //    editPlanAM(IdPlanMejora);
            //});
            //desChekear();

            //$('input:checkbox').on('change', function () {
            //    if ($(this).is(':checked')) {
            //        alert('checked');
            //    } else {
            //        alert('un-checked');
            //    }
            //});
            //$("input[type=checkbox]").on('change', function () {
            //    //var ItemId = $(this).attr("Id");
            //    console.log("log");
            //});
            //$("#checkbox_13")[1].addEventListener("change", function (e) {
            //    e.preventDefault(); // Cancel the native event
            //    e.stopPropagation();// Don't bubble/capture the event
            //}, false);

            $("input[type=checkbox]").change(function (event) {
                
                var id = this.id;
                var status = !this.checked;


            swal({
                title: "@(ImprovementPlansResource.EstaSeguro)",
                text: "@(ImprovementPlansResource.UnaVezCerradoPlanDeMejoraNoPodraVolverseAbrir)",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {

                        if (status) {
                            $(this).bootstrapToggle('destroy');
                            $(this).prop('checked', !status);
                            $(this).bootstrapToggle('disable');
                            cerrarPlanMejora($(this))
                            swal("@(ImprovementPlansResource.PlanDeMejoraVigenteSeHaCerrado)", {
                                icon: "success",
                            });
                        } else {
                            $(this).bootstrapToggle('destroy');
                            $(this).prop('checked', !status);
                            $(this).bootstrapToggle();
                            swal("@(ImprovementPlansResource.NoSeRealizoLaAccion)");
                        }
                    } else {
                        $(this).bootstrapToggle('destroy');
                        $(this).prop('checked', status);
                        $(this).bootstrapToggle();
                        swal("@(ImprovementPlansResource.Cancelado)");
                    }
                });
            });

        })



            //$("input[name='check']").click(function () {
            //    console.log("log");
            //});

            //$(".chcktbl1").click(function () {
            //    console.log("log");
            //});



        $.validate({
            lang:'es'
        });
        $('#formPlanAM').submit(function (evt) {
            evt.preventDefault();
            var $form = $(this);
            if ($form.isValid()) {
                //console.log('OK');
                CrearPlanMejora();
            }
        });
        //function cambiarEstado(IdPlanMejora) {

        //    var selector = 'checkbox_' + IdPlanMejora;
        //    console.log(selector)
        //    if ($('#' + selector).prop('checked')) {
        //        $('#checkbox_13').prop('checked', true).change()
        //    } else {
        //        console.log('N')
        //        //$(selector).bootstrapToggle('off')
        //    }




        //    //swal({
        //    //    title: "Esta Seguro?",
        //    //    text: "Una vez cerrado el Plan de Mejora no podrá volverse a abrir!",
        //    //    icon: "warning",
        //    //    buttons: true,
        //    //    dangerMode: true,
        //    //})
        //    //    .then((willDelete) => {
        //    //        if (willDelete) {
        //    //            swal("El Plan de Mejora Vigente Se ha cerrado!", {
        //    //                icon: "success",
        //    //            });

        //    //            //cerrarPlanMejora($(this))
        //    //        } else {
        //    //            //$('#cerrarPlan').attr('disabled', false);

        //    //            swal("Cancelado!");
        //    //        }
        //    //    });
        //}
        function cerrarPlanMejora(thisObj) {
            
            var IdPlanMejora = thisObj.attr('id');
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("CerrarPlanMejora", "ImprovementPlans")',
                                //traditional: true,
                                data: {
                                    IdPlanMejora: IdPlanMejora
                                },
                                dataType: "json",
                                success: function (data) {
                                    console.log("Guardado" + data.success);
                                },
                                error: function (data) {
                                    console.log("Error" + data.success)
                                }
                            });
                            location.reload();
            }
            function abrirVentana() {
                $('#VentanaModalPlanAM').modal("show");
            }
            function CrearPlanMejora() {
                
                var anio = $('input[name="anio"]').val()
                var nombre = $('input[name="nombre"]').val();
                $.ajax({
                    beforeSend: function () {
                        $('#respuestaAjax').css('visibility', 'visible');
                    },
                    type: "POST",
                    url: '@Url.Action("CrearPlanMejora", "ImprovementPlans")',
                    //traditional: true,
                    data: {
                        Anio: anio, Nombre: nombre
                    },
                    dataType: "json",
                    success: function (data) {
                        $('#respuestaAjax').css('visibility', 'hidden');
                        switch (data.estado) {
                            case 0://Insertado
                                console.log(data.estado);
                                $('#LstPlanMejora').empty();
                                $('#VentanaModalPlanAM').modal('hide');
                                $('#LstPlanMejora').html(data.message);
                                window.location.reload();
                                break;
                            case 1://No es consecutivo
                                console.log(data.estado);
                                swal({
                                    icon: 'warning',
                                    title: '@(ImprovementPlansResource.FueraDeRango)',
                                    text: '@(ImprovementPlansResource.SeleccionaAnioConsecutivoRespectoUltimoPlan)',
                                })
                                break;
                            case 2://Planes abiertos
                                swal({
                                    icon: 'warning',
                                    title: '@(ImprovementPlansResource.PlanExistente)',
                                    text: '@(ImprovementPlansResource.HayPlanesDeMejoraSinCerrar)',
                                })
                                break;
                            case 3://Fuera de rango
                                swal({
                                    icon: 'warning',
                                    title: '@(ImprovementPlansResource.PlanesSinCerrar)',
                                    text: '@(ImprovementPlansResource.SeleccionaAnioConsecutivoRespectoUltimoPlan)',
                                })
                                break;
                            default:
                                console.log(data.estado);
                        }
                        //console.log(data);
                    },
                    error: function (data) {
                        console.log("Error")
                    },

                });
            }
            function editPlanAM(id){
                $.ajax({
                    type: "POST",
                    async: true,
                    url: '@Url.Action("GetImprovementActionsByPlan", "Json")',
                    data: {
                        IdPlanMejora: id
                    },
                    dataType: "json",
                    success: function (data) {
                        console.log(data.status);
                        if (data.status.trim() == 'Abierto') {
                            //cerrarPlan
                            $('#resultadoAM').show();
                            $('#cerrarPlan').attr('value', id);
                            //console.log('ok');
                            $('#modal-PlanAcionMejora').DataTable({
                                drawCallback: function () {
                                    console.log('Mapeando eventos...');
                                    desChekear();
                                },
                                "pagingType": "full_numbers",
                                "iDisplayLength": 20,
                                "data": data.table,
                                "columnDefs": [
                                    {
                                        "targets": [0], "visible": true,
                                        'render': function (data, type, row) {
                                            //console.log(row['Estado']);
                                            switch (row['Estado']) {
                                                case 'PENDI': return '<input type="checkbox" checked id='+row["Id"]+'>'; break;
                                                case 'IMPLE': return '<input type="checkbox" checked  disabled="true" id=' + row["Id"] +'>'; break;
                                                case 'NORLZ': return '<input type="checkbox" id=' + row["Id"] +'>'; break;
                                                default: return 'N/A';
                                            }
                                        }
                                    },
                                    { "width": "200px", "targets": [1]},
                                    {
                                        "targets": [4], "visible": true,
                                        'render': function (data, type, row) {
                                            //console.log(row['Estado']);
                                            switch (row['Estado']) {
                                                case 'PENDI': return '<button type="button" onclick="OpenModal(\'' + row["Id"] + '\')" class="btn btn-danger">' + '@(ImprovementPlansResource.Pendiente)' + '</button>'; break;
                                                case 'IMPLE': return '<button type="button" onclick="OpenModal(\'' + row["Id"] + '\')" class="btn btn-success" disabled="true" >' + '@(ImprovementPlansResource.Implementado)' + '</button>'; break;
                                                case 'NORLZ': return '<button type="button" class="btn btn-default">' + '@(ImprovementPlansResource.NoRealizado)' + '</button>'; break;
                                                default: return 'N/A';
                                            }
                                        }
                                    },
                                    { "className": "dt-center", "targets": [3, 4] },

                                ],
                                "columns": [
                                    { "title": "Id", "data": "Id" },
                                    { "title": "Código", "data": "Codigo" },
                                    { "title": "Descripción", "data": "Descripcion" },
                                    { "title": "Instrumento", "data": "Instrumento" },
                                    { "title": "Estado", "data": "Estado" },
                                    { "title": "Plan", "data": "Plan" }

                                ],
                                "bDestroy": true
                            });

                            $('#Resultados')[0].scrollIntoView();


                            //cerrarPlan
                        } else {
                            $('#resultadoAM').hide();
                        }
                    },
                    error: function (data) {
                        //console.log('error');
                        $('#resultados').html('@(ImprovementPlansResource.OcurrioUnErrorInesperado): ' + ex);
                    }
                });
            };

            function OpenModal(idAccionMejora) {//Sino esta ha sido checkeado no deberia abrirse la ventana modal
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddEvidenciaModal", "IfcManagement")',
                    data: { IdAccionMejora: idAccionMejora, vista: "Plan" },
                    success: function (data) {
                        
                        $('#modal-hallazgo').html(data);
                        $('#VentanaModal').modal('show');
                    }
                });
            }

        function deletePlanAM(IdPlanMejora) {
            
            var bool = false;
            return $.ajax({
                            type: "POST",
                            url: '@Url.Action("DeleteImprovementPlan", "ImprovementPlans")',
                            //traditional: true,
                            data: {
                                IdPlanMejora: IdPlanMejora
                            },
                            dataType: "json",
                            success: function (data) {
                                console.log(data);
                                if (data) {
                                    console.log("Eliminado");
                                    bool = true;
                                    location.reload();
                                } else {
                                    console.log("Ninguna Accion");
                                    bool = false;
                                }
                            },
                            error: function (data) {
                                console.log("Error" + data.status)
                                bool = false;
                            },
                            complete: function () {
                                return bool;
                            }
                        });
        }

        @*function changeStatus(IdAccionMejora, Status) {
          
            var bool = false;
            return $.ajax({
                            type: "POST",
                            url: '@Url.Action("ChangeStatus", "Json")',
                            //traditional: true,
                            data: {
                                IdAccionMejora: IdAccionMejora, Estado: Status
                            },
                            dataType: "json",
                            success: function (data) {
                                //console.log("Cambiado" + data.success);
                                if (data.success) {
                                    //var IdPlanMejora = $('#cerrarPlan').val();
                                    //editPlanAM(IdPlanMejora);
                                    console.log("YES");
                                    bool = true;
                                } else {
                                    console.log("NO");
                                    bool = false;
                                }
                            },
                            error: function (data) {
                                console.log("Error" + data.success)
                                bool = false;
                            },
                            complete: function () {
                                return bool;
                            }
                        });
        }*@



        //function desChekear() {
            
            //$("input[type=checkbox]").on('change', function () {
            //    var IdAccionMejora = parseInt($(this).attr("Id"));
            //    if (this.checked) {
            //        if (changeStatus(IdAccionMejora, "PENDI")) {
            //            //console.log("PENDI");
            //            $(this).parents('tr').find('button').text('Pendiente')
            //            $(this).parents('tr').find('button').removeClass("btn-default")
            //            $(this).parents('tr').find('button').addClass('btn-danger')
            //            $(this).parents('tr').find('button').bind("click", function () {
            //                OpenModal(IdAccionMejora);
            //            });
            //        }
            //    } else {
            //        if (changeStatus(IdAccionMejora, "NORLZ")) {
            //            //console.log("NORLZ");
            //            $(this).parents('tr').find('button').text('No Realizado')
            //            $(this).parents('tr').find('button').removeClass("btn-danger")
            //            $(this).parents('tr').find('button').addClass('btn-default')
            //            $(this).parents('tr').find('button').prop("onclick", null).off('click')
            //        }
            //    }
            //});

        //}

    </script>

}