﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.ImprovementPlans;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.ImprovementPlans.MantenimientoAccionesMejoraViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    ViewBag.Title = ImprovementPlansResource.MantenimientoDeAccionesDeMejora;
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "ImprovementPlans")">@ImprovementPlansResource.AccionesDeMejora</a></li>
    <li><a href="@Url.Action("MantenimientoAccionesMejora", "ImprovementPlans")">@ImprovementPlansResource.ListaDeAccionesDeMejora</a></li>
}
<style>
    #headhallazgos, #tablahallazgos, #headhallazgos tr, #tablahallazgos tr, #headhallazgos tr th, #tablahallazgos tr td {
        display: block;
    }

        #headhallazgos tr:after, #tablahallazgos tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        #tablahallazgos td#celda20, #headhallazgos th#celda20 {
            width: 20%;
            float: left;
            text-align: center;
            vertical-align: middle;
        }

    .celda50 {
        width: 45%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda20 {
        width: 20%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda15 {
        width: 15%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda10 {
        width: 10%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .formatWidth {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .celda5 {
        width: 5%;
        float: left;
        text-align: center;
        vertical-align: middle;
        height: 39px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .btnGuardar {
        float: right;
        margin-bottom: 15px;
        margin-right: 30px;
    }

    .marginDescription {
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .textArea {
        height: 75px !important
    }
</style>
<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-body">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <div class="form-group" title="Lista de periodoacademico">
                    <label class="label-survey">@ImprovementPlansResource.PeriodoAcademico:</label>
                    @Html.DropDownListFor(x => x.IdPeriodoAcademico, Model.LstPeriodoAcademico, new { @class = "form-control js-example-basic-single", @id = "periodoacademico", @Name = "IdPeriodo" })
                </div>
                <div id="filtroCarrera" class="form-group" title="Lista de Carreras">
                    <label class="label-survey">@ImprovementPlansResource.Carrera:</label>
                    @Html.DropDownListFor(x => x.IdCarrera, Model.LstCarrera, new { @class = "form-control js-example-basic-multiple", @id = "carreras", @Name = "IdCarrera[]", @Multiple = "multiple" })
                </div>
                <div class="form-group" title="Lista de Comisiones">
                    <label class="label-survey">@ImprovementPlansResource.Comision:</label>
                    @Html.DropDownListFor(x => x.IdComision, Model.LstComision,
                    new { @class = "form-control js-example-basic-single", @id = "Comision", @Name = "Comision" })
                </div>
                <div class="form-group" title="Lista de Outcomes">
                    <label class="label-survey">Outcome:</label>
                    @Html.DropDownListFor(x => x.IdOutcome, Model.LstOutcome,
                    new { @class = "form-control js-example-basic-single", @id = "OC", @Name = "OC" })
                </div>
                @*<div class="form-group" title="Lista de Outcomes">
                    <label class="label-survey"> Hallazgos No Relacionados</label>
                    @Html.CheckBoxFor(x => x.NoRelacionado,
                    new { @id = "NR", @Name = "NR" })
                </div>*@
                <div class="form-group" title="Lista de Outcomes">
                    <label class="label-survey"> Hallazgos Críticos</label>
                    @Html.CheckBoxFor(x => x.EsCritico,
                    new { @id = "CR", @Name = "CR" })
                </div>
                <div class="row">
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-default" onclick="limpiarCampos()" data-dismiss="modal">@ImprovementPlansResource.Limpiar</button>
                        <button type="button" class="btn btn-primary" onclick="filtrarTabla()">@ImprovementPlansResource.Buscar</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <div class="container">
                    <div id="exTab1" class="container">
                        <ul class="nav nav-tabs responsive-tabs">
                            @for (var item = 0; item < Model.LstInstrumentos.Count; item++)
                            {
                                string descripcion= Model.LstInstrumentos[item].DescripcionEspanol;
                                if (language==ConstantHelpers.CULTURE.ESPANOL)
                                {
                                    descripcion = Model.LstInstrumentos[item].DescripcionEspanol;
                                }else if (language == ConstantHelpers.CULTURE.INGLES)
                                {
                                    descripcion = Model.LstInstrumentos[item].DescripcionIngles;
                                }

                                <li>
                                <li data-toggle="tooltip" title="@NeoImprovementActionsResource.HallazgosDe @(descripcion)" class=@(item == 0? "active" : "")>
                                    <a href="#@(Model.LstInstrumentos[item].IdInstrumento)a" data-toggle="tab">@Model.LstInstrumentos[item].Acronimo</a>
                                </li>
                                </li>
                            }
                        </ul>

                        <div class="tab-content clearfix">
                            @for (var item = 0; item < Model.LstInstrumentos.Count; item++)
                            {
                                <div class="table-responsive tab-pane @(item == 0? "active" : "")" id="@(Model.LstInstrumentos[item].IdInstrumento)a">
                                    <table id="table@(Model.LstInstrumentos[item].Acronimo)" class="table table-striped table-bordered" cellspacing="0" style="width: 100%"></table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="VentanaModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="modal-hallazgo">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="VentanaModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h3 class="modal-title">Ingreso de Evidencia por Hallazgo</h3>*@
                </div>
                <div class="modal-body">
                    <div id="modal-hallazgo">
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button class="btn btn-secondary"
                            data-dismiss="modal">
                        Cerrar
                    </button>
                    <button id="bfCaptchaEntry" class="btn btn-primary">
                        Guardar
                    </button>*@
                </div>
            </div>

        </div>
    </div>
    @section scripts {
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js" rel="stylesheet"></script>*@
    <script>

        var tableOptions;
        var filtroBusqueda = new Map();
        var listadoArrays = new Map();
        var arrayTable = new Array();
        var currentTab;
        var IdCarreraValoresIniciales = $('select[name="IdCarrera[]"]').val()
        var IdComisionValoresIniciales;
        $(document).ready(function () {
            $.site.menubar.fold();
            //$('.responsive-tabs').responsiveTabs({
            //    accordionOn: ['xs', 'sm']
            //});
            $('.js-example-basic-single').select2();
            $('.js-example-basic-multiple').select2();
            cargarTabla(0);


            setFiltroBusqueda($('select[name="IdPeriodo"]'), "IdPeriodo");
            setFiltroBusqueda($('select[name="IdCarrera[]"]'), "IdCarrera");
            cargarComisiones().then(respuesta => cargarOutcomes());
            IdComisionValoresIniciales = $('select[name="Comision"]').val()


            filtrarTabla()

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                
                var valorActualCarrera = $('select[name="IdCarrera[]"]').val();
                valorParametrosPeriodoAcademico = $('select[name="IdPeriodo"]').val();
                valorParametrosComision = $('select[name="Comision"]').val();
                valorParametrosOutcome = $('select[name="OC"]').val();
                if (valorActualCarrera != null)
                    valorParametrosCarrera = valorActualCarrera;

                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust().responsive.recalc();
                currentTab = $(e.target).text()
                //console.log(currentTab);
                if (currentTab === 'GRA' || currentTab === 'PPP') {
                    $("#filtroCarrera").addClass("hidden")
                    //limpiarCampos()
                    var $item0 = $("#periodoacademico").select2();
                    $item0.val(valorParametrosPeriodoAcademico).trigger("change");
                    var $item1 = $("#carreras").select2();
                    $item1.val("").trigger("change");
                }
                else {
                    $("#filtroCarrera").removeClass("hidden")
                    var $item = $("#carreras").select2();
                    $item.val(valorParametrosCarrera).trigger("change");
                    //limpiarCampos();
                }
                filtrarTabla();
            });
        });

        $('select[name="IdPeriodo"]').change(function () {
            setFiltroBusqueda($(this), "IdPeriodo");
            cargarComisiones().then(respuesta => cargarOutcomes());
        });

        $('select[name="IdCarrera[]"]').change(function () {
            setFiltroBusqueda($(this), "IdCarrera");
            cargarComisiones().then(respuesta => cargarOutcomes());
        });

        $('select[name="Comision"]').change(function () {
            setFiltroBusqueda($(this), "Comision")
            cargarOutcomes()
        });

        $('select[name="OC"]').change(function () {
            setFiltroBusqueda($(this), "OC");
        });
        //$("#NR").change(function () {
        //     setFiltroBusqueda($(this), "NoRelacionado")
        //})
        $("#CR").change(function () {
             setFiltroBusqueda($(this), "Criticidad")
        })

        function setFiltroBusqueda(objFiltro, nombreFiltro) {
           
            var obj = objFiltro;
            var regex = "";
            var target = 0;
            if ((obj.val() != null)) {
                target = obj.val();
                if (Array.isArray(target)) {
                    target.forEach(function (value, i) {
                        switch (nombreFiltro) {
                            case 'IdPeriodo':
                                (i == 0) ? regex = regex.concat("(" + value + ")") : regex = regex.concat("|" + "(" + value + ")")
                                break;
                            case 'IdCarrera':
                                (i == 0) ? regex = regex.concat("(:" + value + ":)") : regex = regex.concat("|" + "(:" + value + ":)")
                                break;
                            case 'Comision':
                                (i == 0) ? regex = regex.concat("(:" + value + ":)") : regex = regex.concat("|" + "(:" + value + ":)")
                                break;
                            case 'OC':
                                (i == 0) ? regex = regex.concat("(:" + value + ":)") : regex = regex.concat("|" + "(:" + value + ":)")
                                break;
                            default:
                                regex = ""
                        }
                    })
                } else {
                    if (nombreFiltro == 'IdPeriodo' || nombreFiltro == 'Criticidad' || nombreFiltro == 'NoRelacionado')
                        regex = regex.concat("(" + target + ")");
                    else
                        regex = regex.concat("(:" + target + ":)");
                }
                //console.log('El nombre del filtro: ' + nombreFiltro + ' valor: ' + obj.val() + " el valor de regx es:" + regex)
            }
            else {
                console.log("es null")
            }

            //if (nombreFiltro === 'Comision') {
            //    console.log('El nombre del filtro: ' + nombreFiltro + ' valor: ' + target + " el valor de regx es:" + regex)
            //}

            filtroBusqueda.set(nombreFiltro, regex)
            listadoArrays.set(nombreFiltro, target)
        }

        function guardarId(id) {
            //console.log(document.getElementById(id).value)
            //console.log(id);
            $.ajax({
                url: '@Url.Action("GuardarEstadoAM", "ImprovementPlans")',
                type: 'POST',
                data: { IdAccionMejora: id },
                dataType: "json",
                success: function (data) {
                    //console.log(data)
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Empty most of the time...
                }
            });
            return;
        }

        function cargarTabla(idPlanMejora) {

            var numColumnTable = 3;
            
            var dataTable = getDataTable(idPlanMejora);
            var headersTable = [
                { "title": "Id", "data": "Id" },//0
                { "title": "Código", "data": "Codigo" },//1
                { "title": "Descripción", "data": "Descripcion" },//2
                { "title": "Instrumento", "data": "Instrumento" },//3
                { "title": "OC", "data": "Outcomes" },//4
                { "title": "Para Plan", "data": "Estado" },//5
                { "title": "Periodo", "data": "PeriodoAcademico" },   //6
                { "title": "IdCurso", "data": "Id" },//7
                { "title": "IdCarrera", "data": "Carreras" },//8
                { "title": "IdPeriodo", "data": "IdPeriodoAcademico" },//9
                { "title": "Acción", "data": "Id"},//10
                { "title": "Comision", "data": "Comision" },//11
                { "title": "Evidencia", "data": "Id" },//12
                { "title": "Criticidad", "data":"Criticidad"}//13
            ];
            var cdnLanguage = "";
            if ("@language" == "es-PE") {
                cdnLanguage = "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json";
            }
           
            tableOptions = {
                //"drawCallback": function () {
                //    $("input[class^='toggle-btn']").each(function () {
                //        $(this).bootstrapToggle();
                //    });

                //},
                //responsive: true,
                "data": dataTable,
                "columns": headersTable,
                //"rowCallback": function (row, data, index) {
                    
                    //if (data.EvidenciasListas == "1") {
                    //    $(row).css('background-color', '#F9FAC1');
                    //    $(row).css('color', '#616461');
                    //}
                    //if (data.EvidenciasListas == "0") {
                    //    $(row).css('background-color', '#F8E0E6');
                    //}
                //}

                //,
                "language": {
                    "url": cdnLanguage
                },
                "columnDefs": [
                    {
                        "targets": [0,4,5,7,8,9,11,12,13], "visible": false,
                    },
                    {
                        "targets": [10], "visible": true,
                        'render': function (data, type, row)
                            {
                            if(row["Instrumento"] == "IFC") {
                                @*var acciones = '<div style = "display:inline-flex">'
                                                      + '<a class="btn btn-secundary" role="button" href="@Url.Action("ReturntoeditIFC", "ImprovementActions")'
                                                      + '?IdAccionMejora=' + row["Id"] + '">'
                                                      + '<i aria-hidden="true" class="fa fa-edit"></i>'
                                                      + '</a>'
                                                     + '</div>'*@


                                var acciones = '<div style = "display:inline-flex">'
                                                      + '<a class="btn btn-secundary" role="button" onclick="returnifc('+row["Id"]+')">'
                                                      + '<i aria-hidden="true" class="fa fa-edit"></i>'
                                                      + '</a>'
                                                     + '</div>'

                                return acciones
                            }
                            else {
                                var acciones = '<div style = "display:inline-flex">'
                                                       + '<a class="btn btn-secundary" role="button" href="@Url.Action("AddEditNewAccionMejora", "ImprovementActions")'
                                                       + '?IdAccionMejora=' + row["Id"] + '">'
                                                       + '<i aria-hidden="true" class="fa fa-edit"></i>'
                                                       + '</a>'
                                                       + '<a class="btn btn-secundary" role="button" href="@Url.Action("DeleteImprovementAction", "NeoImprovementActions")'
                                                       + '?IdAccionMejora=' + row["Id"] + '">'
                                                       + '<i aria-hidden="true" class="fa fa-trash"></i>'
                                                       + '</a></div>'
                                return acciones

                            }

                        }
                    }
                ],
                "search": {
                    "regex": true
                }

            };

            //arrayTable[0] = $('#tableIFC').DataTable(tableOptions).columns(numColumnTable).search('IFC').draw();

            //arrayTable[1] = $('#tableARD').DataTable(tableOptions).columns(numColumnTable).search('ARD').draw();

            //arrayTable[2] = $('#tableRV').DataTable(tableOptions).columns(numColumnTable).search('RV').draw();

            //arrayTable[3] = $('#tableRC').DataTable(tableOptions).columns(numColumnTable).search('RC').draw();

            //arrayTable[4] = $('#tableGRA').DataTable(tableOptions).columns(numColumnTable).search('GRA').draw();

            //arrayTable[5] = $('#tablePPP').DataTable(tableOptions).columns(numColumnTable).search('PPP').draw();

            @for (var item = 0; item < Model.LstInstrumentos.Count; item++)
            {
                @:arrayTable[@item] = $('#table@(Model.LstInstrumentos[item].Acronimo)').DataTable(tableOptions).columns(numColumnTable).search('@(Model.LstInstrumentos[item].Acronimo)').draw();
            }

        }

        //VALIDAR SI NO LE PERTENECE AL DOCENTE ENTONCES MOSTRAR ALERTA
        function returnifc(accionMejoraId)
        {
            $.ajax({
                url:'@Url.Action("ReturntoeditIFC", "ImprovementActions")',
                type: 'POST',
                data: { IdAccionMejora: accionMejoraId },
                datatype: "json",
                success: function (response) {
                    if (response == "nopertenece" || response == "error") {
                        swal("@(ImprovementPlansResource.NoSePuedeEditar)", "@(ImprovementPlansResource.NoSePuedeEditarEsteIFCPorqueNoPertenece)", "info")
                    }
                    else
                    {
                        window.location.href = '@Url.Action("Edit", "IfcManagement")' + '?Id='+response+''
                    }
                },
                error: function () {
                    alert('@(ImprovementPlansResource.EntroAlError)');
                }
            });
        }

        function getOptionsComisiones(arrayIdPA, arrayIdCarrera) {
            
            return $.ajax({
                url: '@Url.Action("GetAllComisionesForPeriodoAcademico", "ImprovementPlans")',
                type: 'POST',
                data: { LstIdPeriodoAcademico: arrayIdPA, LstIdCarrera: arrayIdCarrera },
                dataType: "json",
                async: false,
                success: function (data) {
                    $('#Comision').empty()
                    //$('#Comision').append('<option value="0" selected>Todos</option>');
                    $.each(data, function (i, d) {
                        if (i == 0) {
                            $('#Comision').append('<option value="' + d.Value + '" selected="selected">' + d.Text + '</option>');
                            setFiltroBusqueda($('select[name="Comision"]'), "Comision")
                        }
                        else {
                            $('#Comision').append('<option value="' + d.Value + '">' + d.Text + '</option>');
                        }
                    });
                    setFiltroBusqueda($('select[name="Comision"]'), "Comision")
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Empty most of the time...
                    console.log("ERROR")
                }
            });
        }



        function cargarComisiones() {
            
            let promise = new Promise(function (resolve, reject) {
                if (getOptionsComisiones(listadoArrays.get('IdPeriodo'), listadoArrays.get('IdCarrera'))) {
                    resolve({ respuesta: "ok" }); //se llamara a then
                } else {
                    reject({ causa: "error" }); //se llamara a catch
                }
            });
            return promise;
        }

        function cargarOutcomes() {
            
            getOptionsOutcomes(listadoArrays.get('Comision'), listadoArrays.get('IdPeriodo'))
        }

        function filtrarTabla() {
            
            arrayTable.forEach(function (value, i) {
                var columns = arrayTable[i].settings().init().columns;
                arrayTable[i].columns().every(function (index) {
                    filtroBusqueda.forEach(function (value, key) {
                        if (columns[index].title === key) {
                            if (value == 0 || value == '(:0:)')
                                value = '';
                            arrayTable[i].columns(index).search(value, true, false).draw();
                        }
                        else {
                            //console.log('Sin Data');
                        }
                    });
                });
            });
        }

        function limpiarCampos() {
            
            var $item1 = $("#periodoacademico").select2();
            $item1.val([@Model.IdPeriodoAcademico]).trigger("change");
            var $item2 = $("#carreras").select2();
            if (currentTab === 'GRA' || currentTab === 'PPP') {
                $item2.val("").trigger("change");
            } else {
                $item2.val(IdCarreraValoresIniciales).trigger("change");
            }
            var $item3 = $("#Comision").select2();
            $item3.val(IdComisionValoresIniciales).trigger("change");
            //$item3.val(["0"]).trigger("change");
            //var $item4 = $("#OC").select2();
            //$item4.val(["0"]).trigger("change");
            //filtrarTabla();
        }


        function getOptionsOutcomes(idComision, arrayIdPA) {
            
            $.ajax({
                url: '@Url.Action("GetAllOutcomesForComision", "ImprovementPlans")',
                type: 'POST',
                data: { IdComision: idComision, LstIdPeriodoAcademico: arrayIdPA },
                dataType: "json",
                success: function (data) {
                    $('#OC').empty()
                    //console.log(data)
                    if (data !== 0) {
                        $('#OC').append('<option value="0" selected>@(ImprovementPlansResource.Todos)</option>');
                        $.each(data, function (i, d) {
                            $('#OC').append('<option value="' + d.Value + '">' + d.Text + '</option>');
                        });
                        setFiltroBusqueda($('select[name="OC"]'), "OC")
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Empty most of the time...
                }
            });
        }

        function getDataTable(id) {
            var result = null;
            $.ajax({
                url: '@Url.Action("GetImprovementActions", "Json")',
                type: 'GET',
                data: { IdPlanMejora: id },
                async: false,
                dataType: "json",
                success: function (data) {
                    result = data.table;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Empty most of the time...
                }
            });
            return result
        }

        function OpenModal(idAccionMejora) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddEvidenciaModal", "IfcManagement")',
                data: { IdAccionMejora: idAccionMejora, vista: "Plan" },
                success: function (data) {
                    
                    $('#modal-hallazgo').html(data);
                    $('#VentanaModal').modal('show');
                }
            });
        }
    </script>

    }
