﻿
@using UPC.CA.ABET.Presentation.Resources.Views.Shared

<div class="modal fade modal-fade-in-scale-up in" id="modal-message" aria-hidden="true" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-bar-chart contrast">&nbsp;</i>
                    <span id="modal-title"></span>
                </h4>
            </div>
            <div class="modal-body text-center">
                <i class="fa fa-3x fa-exclamation-triangle" aria-hidden="true"></i>
                <br />
                <p id="modal-body"></p>
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-check"></i>
                    @LayoutResource.Aceptar
                </button>
            </div>
        </div>
    </div>
</div>
