﻿<div class="page-aside">
    <div class="page-aside-switch">
        <i class="icon wb-chevron-left" aria-hidden="true"></i>
        <i class="icon wb-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="page-aside-inner" data-plugin="pageAsideScroll">
        <div data-role="container">
            <div data-role="content">
                <section class="page-aside-section">
                    @*
                    <h5 class="page-aside-title">General</h5>
                    <div class="list-group">

                        <a class="list-group-item" href="@Url.Action("UploadExcelFiles", "BulkInsert", new { Area = ConstantHelpers.AREAS.RUBRIC, type = BulkInsertType.EvaluatorTypeMaster })">
                            <i class="fa fa-table" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Roles
                        </a>
                    </div>
                         *@
                    <h5 class="page-aside-title">@SidebarResource.InicioCiclo</h5>
                    <div class="list-group">
                        <a class="list-group-item" href="@Url.Action("UploadExcelFiles", "BulkInsert", new { Area = ConstantHelpers.AREAS.RUBRIC, type = BulkInsertType.CoursesToEvaluation })">
                            <i class="fa fa-table" aria-hidden="true"></i>&nbsp; 1.@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Cursos
                        </a>
                        <a class="list-group-item" href="@Url.Action("UploadExcelFiles", "BulkInsert", new { Area = ConstantHelpers.AREAS.RUBRIC, type = BulkInsertType.EvaluatorType })">
                            <i class="fa fa-user-secret" aria-hidden="true"></i>&nbsp; 2.@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Rol  <!-- @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.RolesEvaluadores-->
                        </a>
                        <a class="list-group-item" href="@Url.Action("UploadExcelFiles", "BulkInsert", new { Area = ConstantHelpers.AREAS.RUBRIC, type = BulkInsertType.EvaluationType })">
                            <i class="fa fa-table" aria-hidden="true"></i>&nbsp; 3.@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.TipoEvaluacion
                        </a>
                        <!--
                        <a class="list-group-item" href="@Url.Action("IndexManual", "AddManual", "Agregar evaluadores manualmente")">
                            <i class="fa fa-user-secret" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.RolesEvaluadores
                        </a>-->
                            @**@
                        <a class="list-group-item" href="@Url.Action("UploadExcelFiles", "BulkInsert", new { Area = ConstantHelpers.AREAS.RUBRIC, type = BulkInsertType.Evaluation })">
                            <i class="fa fa-book" aria-hidden="true"></i>&nbsp; 4.@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Evaluaciones
                        </a>
                        @*<a class="list-group-item" href="@Url.Action("UploadExcelFiles", "BulkInsert", new { Area = ConstantHelpers.AREAS.RUBRIC, type = BulkInsertType.OutcomeGoalCommission })">
                            <i class="fa fa-book" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.OutcomesWASC
                        </a>*@
                        <a class="list-group-item" href="@Url.Action("UploadExcelFiles", "BulkInsert", new { Area = ConstantHelpers.AREAS.RUBRIC, type = BulkInsertType.VirtualCompany })">
                            <i class="fa fa-building" aria-hidden="true"></i>&nbsp; 5.@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Empresas
                        </a>
                        <a class="list-group-item" href="@Url.Action("UploadExcelFiles", "BulkInsert" , new { Area=ConstantHelpers.AREAS.RUBRIC, type=BulkInsertType.GrupoComite })">
                            <i class="fa fa-building" aria-hidden="true"></i>&nbsp; 6.@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.GrupoComite
                        </a>
                        <a class="list-group-item" href="@Url.Action("UploadExcelFiles", "BulkInsert", new { Area = ConstantHelpers.AREAS.RUBRIC, type = BulkInsertType.AcademicProject })">
                            <i class="fa fa-mortar-board" aria-hidden="true"></i>&nbsp; 7.@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Proyectos
                        </a>
                        @*<a class="list-group-item" href="@Url.Action("UploadExcelFiles", "BulkInsert", new { Area = ConstantHelpers.AREAS.RUBRIC, type = BulkInsertType.RubricToEvaluation })">
                            <i class="fa fa-mortar-board" aria-hidden="true"></i>&nbsp; 8.TEST
                        </a>*@
                        <!--
                        <a class="list-group-item" href="@Url.Action("UploadExcelFiles", "BulkInsert", new { Area = ConstantHelpers.AREAS.RUBRIC, type = BulkInsertType.Evaluator })">
                            <i class="fa fa-users" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Evaluadores
                        </a> -->
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
