﻿@{
    ViewBag.Culture = System.Threading.Thread.CurrentThread.CurrentUICulture.ToString();
    var icon = (ViewBag.Culture == ConstantHelpers.CULTURE.ESPANOL ? ViewBag.Culture.Split('-')[1] : ViewBag.Culture.Split('-')[1]).ToLower();
}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="@ViewBag.Culture">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Comite Acreditacion UPC">
    <meta name="author" content="">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#FF0000">
    <link rel="icon" sizes="192x192" href="@Url.ContentUrl("assets/images/logo192.png")" />

    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#FF0000">
    
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#FF0000">
    <link rel="apple-touch-icon" href="@Url.ContentUrl("assets/images/logo192.png")">

    <title>Sistema de Acreditación - @ViewBag.Title - UPC</title>

    <link rel="shortcut icon" href="@Url.ContentUrl("assets/images/favicon.ico")" />

    
    <!-- Stylesheets -->
    @Html.Content("css/bootstrap.min.css")
    @Html.Content("css/bootstrap-extend.min.css")
    @Html.Content("css/site.min.css")
    <link href="@Url.Content("~/Areas/Survey/Content/css/ezdz.css")" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <!-- Plugins -->
    @Html.Content("vendor/animsition/animsition.min.css")
    @Html.Content("vendor/asscrollable/asScrollable.min.css")
    @Html.Content("vendor/switchery/switchery.min.css")
    @Html.Content("vendor/intro-js/introjs.min.css")
    @Html.Content("vendor/flag-icon-css/css/flag-icon.min.css")
    @Html.Content("vendor/select2/select2.min.css")
    <!-- Fonts -->
    @Html.Content("fonts/web-icons/web-icons.min.css")
    @Html.Content("fonts/font-awesome/css/font-awesome.min.css")
    @Html.Content("fonts/material-design/css/materialdesignicons.min.css")
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' />

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid-theme.min.css" />
    <link href="@Url.Content("~/Areas/Survey/Content/css/sweetalert.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/vendor/dropify/dropify.min.css")" rel="stylesheet" />
    @Html.Content("css/custom-styles.css")

    @RenderSection("Styles", false)

    <link href="@Url.Content("~/Areas/Survey/Content/css/datepicker/bootstrap-datepicker.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Survey/Content/css/datepicker/bootstrap-datepicker3.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Survey/Content/css/summernote.css")" rel="stylesheet" />
    <!-- Scripts -->
    @Html.Content("vendor/modernizr/modernizr.min.js")
    @Html.Content("vendor/breakpoints/breakpoints.min.js")
    <link rel="stylesheet" href="@Url.Content("~/Areas/Survey/Content/css/custom-styles.css")">
    <script>
        Breakpoints();
    </script>

</head>

<body class="page-aside-fixed">
    @Html.Partial("_ModalMessage")
    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided" data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
                <i class="icon wb-more-horizontal" aria-hidden="true"></i>
            </button>
            <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
                <a class="animsition-link" href="@Url.Action("Dashboard", "Home", new { Area = String.Empty })">
                    <img class="navbar-brand-logo" src="@Url.ContentUrl("assets/images/logo.svg")" title="UPC - SA">
                </a>
                <span class="navbar-brand-text"> UPC - SA</span>
            </div>
        </div>

        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="hidden-float" id="toggleMenubar">
                        <a data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                    <li class="hidden-xs" id="toggleFullscreen">
                        <a class="icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                            <span class="sr-only">Toggle fullscreen</span>
                        </a>
                    </li>
                    @*<li class="">
                        <a href="#">@LayoutResource.CicloAcademico: @Session.GetPeriodoAcademico()</a>
                    </li>*@
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-animation="scale-up" aria-expanded="false" role="button">
                            <span class="fa fa-ban"></span>&nbsp; @Session.GetNombreModalidad() <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            @foreach (var item in UPC.CA.ABET.Presentation.Helper.CacheHelperImp.GetListModalidades())
                            {
                                <li role="presentation">
                                    <a class="animsition-link" href="@Url.Action("ChangeModality", "Home", new { Area = String.Empty, ModalidadId = item.Value })" role="menuitem">
                                        <span class="fa fa-circle @(Session.GetModalidadId().ToSafeString() == item.Value ? "text-success" : String.Empty)"></span> @item.Text
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-animation="scale-up" aria-expanded="false" role="button">
                            <span class="fa fa-university"></span>&nbsp; @Session.GetNombreEscuela() <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">

                            @foreach (var item in UPC.CA.ABET.Presentation.Helper.CacheHelperImp.GetLstEscuelas())
                            {
                                <li role="presentation">
                                    <a class="animsition-link" href="@Url.Action("ChangeEscuela", "Home", new { Area = String.Empty, EscuelaId = item.Value })" role="menuitem">
                                        <span class="fa fa-circle @(Session.GetEscuelaId().ToSafeString() == item.Value ? "text-success" : String.Empty)"></span> @item.Text
                                    </a>
                                </li>
                            }


                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-animation="scale-up" aria-expanded="false" role="button">
                            <span class="flag-icon flag-icon-@icon"></span>&nbsp; @LayoutResource.Idioma <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a class="animsition-link" href="@Url.Action("ChangeIdioma", "Home", new { Area = String.Empty, Idioma = ConstantHelpers.CULTURE.INGLES })" role="menuitem">
                                    <span class="flag-icon flag-icon-us"></span> @LayoutResource.Ingles
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="animsition-link" href="@Url.Action("ChangeIdioma", "Home", new { Area = String.Empty, Idioma = ConstantHelpers.CULTURE.ESPANOL })" role="menuitem">
                                    <span class="flag-icon flag-icon-pe"></span> @LayoutResource.Espanol
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="scale-up" role="button">
                            <span class="avatar avatar-online">
                                <img src="@(!String.IsNullOrEmpty(Session.GetImagen()) ? @Url.Content(ConstantHelpers.DEFAULT_SERVER_PATH + "/" + Session.GetImagen()) : "http://placehold.it/400")" alt="...">
                            </span>&nbsp; @Session.GetNombre() <small> @Session.GetCodigo()</small><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a class="animsition-link" href="@Url.Action("ViewPerfil", "Profile", new { Area = String.Empty })" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> @LayoutResource.Perfil</a>
                            </li>
                            @if (Session.GetUsuarioSecundarioId() != 0)
                            {
                                <li role="presentation">
                                    <a class="animsition-link" href="@Url.Action("ChangeUsuario", "Home", new { Area = String.Empty })" role="menuitem"><i class="fa fa-exchange" aria-hidden="true"></i>&nbsp; @Session.GetCodigoSecundario().ToUpper()</a>
                                </li>
                            }
                            @*<li role="presentation">
                                <a href="#" role="menuitem"><i class="icon wb-settings" aria-hidden="true"></i> @LayoutResource.Opciones</a>
                                </li>*@
                            <li class="divider" role="presentation"></li>
                            <li role="presentation">
                                <a class="animsition-link" href="@Url.Action("Logout", "Home", new { Area = String.Empty})" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> @LayoutResource.Salir</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
        </div>
    </nav>

    <div class="site-menubar">
        <div class="site-menubar-body" style="height: 100% !important;">
            <div>
                @{Html.RenderPartial("_Sidebar");}
            </div>
        </div>
    </div>

    <!-- Page -->
    <div class="page animsition">
        @if (IsSectionDefined("SecondSidebar"))
        {
            @RenderSection("SecondSidebar", false)
        }
        <div class="page-main">
            @if (IsSectionDefined("Breadcrumbs"))
            {
                <ol class="breadcrumb">
                    <li><a class="animsition-link" href="@Url.Action("Dashboard", "Home", new { Area = String.Empty})"><i class="fa fa-home"></i> @LayoutResource.Home</a></li>
                    @RenderSection("Breadcrumbs", false)
                    <li class="active">@ViewBag.Title</li>
                </ol>
            }
            @if (@ViewBag.Title != null)
            {
                <div class="page-header">
                    <h1 class="page-title"><i class="fa fa-@ViewBag.Icon"></i> @ViewBag.Title</h1>

                </div>
            }
            @if (TempData["FlashMessage"] != null)
            {
                <div class="card-body card-padding">
                    @Html.AlertDark((MessageType)TempData["MessageType"], TempData["FlashMessage"].ToSafeString())
                </div>
            }

            <div class="page-content">
                @RenderBody()
            </div>
        </div>

    </div>

    <footer class="site-footer">
        <div class="site-footer-legal">© 2016 <a href="#">@LayoutResource.Comite</a></div>
        <div class="site-footer-right">
            <i class="red-600 wb wb-power"></i> <a href="http://www.upc.edu.pe"> UPC </a>
        </div>
    </footer>

    <div class="row-fluid" id="default-modal-container">
        <div class="hide" id="default-modal-loading">
            <div class="modal-body" style="color: #465bd4">
                <div style="background: url(@Url.ContentUrl("/assets/images/loading.svg")) no-repeat;height:44px;width:44px;margin: 10px auto 0;"></div>
                <h4 style="text-align:center">Cargando</h4>
            </div>
        </div>
        <div class="hide" id="default-modal-loading-error">
            <div class="modal-body">
                <h3 style="margin: 22px 0;"><i class="fa fa-warning text-danger"></i> Ha ocurrido un error</h3>
            </div>
        </div>
    </div>

    <!-- End Page -->
    <!-- Core  -->
    @Html.Content("vendor/wysihtml5/ysihtml5-0.3.0.min")
    @Html.Content("vendor/jquery/jquery.min.js")
    @Html.Content("vendor/bootstrap/bootstrap.min.js")
    @Html.Content("vendor/animsition/animsition.min.js")
    @Html.Content("vendor/asscroll/jquery-asScroll.min.js")
    @Html.Content("vendor/mousewheel/jquery.mousewheel.min.js")
    @Html.Content("vendor/asscrollable/jquery.asScrollable.all.min.js")
    @Html.Content("vendor/ashoverscroll/jquery-asHoverScroll.min.js")
    <script src="@Url.Content("~/Areas/Survey/Content/js/sorteable.js")"></script>
    <!-- Plugins -->
    @Html.Content("vendor/switchery/switchery.min.js")
    @Html.Content("vendor/intro-js/intro.min.js")
    @Html.Content("vendor/screenfull/screenfull.min.js")

    <!-- Aditional Plugins -->
    @Html.Content("vendor/bootstrap-datepicker/bootstrap-datepicker.min.js")
    @Html.Content("vendor/wysihtml5/bootstrap3-wysihtml5.all.min.js")
    <!--@Html.Content("vendor/select2/select2.min.js")-->
    <script src="@Url.Content("~/Areas/Survey/Content/js/jquery.unobtrusive-ajax.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <!-- Scripts -->
    @Html.Content("js/core.min.js")
    @Html.Content("js/site.min.js")

    @Html.Content("assets/js/sections/menu.min.js")
    @Html.Content("assets/js/sections/menubar.min.js")
    @Html.Content("assets/js/sections/gridmenu.min.js")
    @Html.Content("assets/js/sections/sidebar.min.js")

    @Html.Content("js/components/asscrollable.min.js")
    @Html.Content("js/components/animsition.min.js")
    @Html.Content("js/components/switchery.min.js")
    @Html.Content("js/components/panel.min.js")

    <script src="@Url.Content("~/Areas/Survey/Content/js/ezdz.js")"></script>
    <script src="@Url.Content("~/Areas/Survey/Scripts/jquery.validate.js")"></script>

    <script src="@Url.Content("~/Areas/Survey/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    @*<script src="@Url.Content("~/Areas/Survey/Content/js/bootstrap-datepicker.js")"></script>*@
    
    <script src="@Url.Content("~/Areas/Survey/Content/js/datepicker/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/datepicker/bootstrap-datepicker.es.min.js")"></script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/summernote.js")"></script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/summernote.min.js")"></script>
    <script>var urlRoute = '@Request.ApplicationPath';</script>
    @Html.Content("Views/Shared/modal-helper.js", true)
    <script src="@Url.Content("~/Content/vendor/dropify/dropify.min.js")"></script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/HighCharts.js")"></script>

    <!-- Report -->
    @Html.Content("js/jquery.validate.min.js")
    @Html.Content("js/jquery.unobtrusive-ajax.min.js")
    @Html.Content("js/jquery.validate.unobtrusive.min.js")
    @Html.Content("js/jquery.serialize-object.js")
    @Html.Content("js/main.js")


    <script>
        $(document).ready(function () {
            $('.dropify').dropify();
        });

        $(window).load(function () {
            $('#loading').hide();
        });
        function showloading()
        {
            $('#loading').show();
        }
        (function (document, window, $) {
            'use strict';
            var site = window.Site;
            $(function () { site.run(); });
        })(document, window, jQuery);

        $('[data-plugin=datepicker]').datepicker({
            format: '@(ViewBag.Culture == ConstantHelpers.CULTURE.ESPANOL ? "dd/mm/yyyy" : "mm/dd/yyyy")',
            endDate: "today"
        });
        $('.select2-select').select2({ placeholder: '@(ViewBag.Culture == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select")', allowClear: true });

        $(document).on('click', '#clear-all', function () {
            $('.select2-select').select2('val', ' ');
        });
    </script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/globalize.js")"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid.min.js"></script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/sweetalert.min.js")"></script>
    <script type='text/javascript' src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
    <script type='text/javascript' src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js"></script>
    @RenderSection("Scripts", false)
    <script>
        $('.field-validation-error').css('color', 'red');
    </script>

    <script>
        @if (ViewBag.Culture == ConstantHelpers.CULTURE.ESPANOL)
        {
           <text>
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || Globalize.parseDate(value, "d/M/y", "en");
        }
        </text>
        }
    </script>
    
    </body>
</html>