﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Report.ReportResultadosFDCViewModel
@{    
    ViewBag.Icon = "bar-chart";

    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    if (language == "es-PE")
    {
        ViewBag.Title = "Reporte de logro de fin de ciclo";
    }
    else
    {
        ViewBag.Title = "End of Cycle Achievement Report";
    }
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementFDC", "Survey")">@AddEditFDCResource.KeyWordsEncuestaFDC</a></li>
}

<form method="post" action="@Url.Action("ReportResultadosFDC", "Report")">
    @Html.HiddenFor(x => x.IdTipoEncuesta)
    <div id="alert" style="display:none;">
        <div class="alert dark alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button><i class="icon wb-alert" aria-hidden="true"></i>
            Debe de escoger el campo <strong>Ciclo</strong> y <strong>Nivel</strong>
        </div>
    </div>
    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-filter"></i>@(language == ConstantHelpers.CULTURE.ESPANOL ? "Filtros" : "Filters")</h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2"><label class="label-survey">*@AddEditFDCResource.AddEditFDCCiclo</label></div>
                                    <div class="col-md-4">
                                        @*@Html.DropDownListFor(m => Model.IdCiclo, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select"*@
                                        @Html.DropDownListFor(m => m.IdCiclo , new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select"
                                        , new
                                        {
                                            @class = "form-control select2-select",
                                            @data_plugin = "select2",
                                            @data_filter = "cicloId",
                                            @data_text_member = "CicloAcademico",
                                            @data_value_member = "IdPeriodoAcademico",
                                            @data_update_target = "#IdCurso",
                                            @data_source_url = Url.Action("GetCursoByCiclo", "Json"),
                                            required = true
                                        })
                                        @Html.ValidationMessageFor(x => x.IdCiclo)
                                    </div>

                                    @*NO*@
                                    @*<div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditFDCCurso</label></div>
                                    <div class="col-md-4">

                                        @Html.DropDownListFor(m => Model.IdCurso, new SelectList(Model.lstCurso, "IdCurso",
                                            language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), "Seleccione",
                                            new
                                            {
                                                @class = "form-control select2-select",
                                                data_plugin = "select2",
                                                //data_action = "logro",
                                                data_filter = "cursoId",
                                                @data_text_member = "NombreEspanol",
                                                @data_value_member = "IdCurso",
                                                @data_update_target = "#IdSeccion",
                                                @data_source_url = Url.Action("GetSeccionByCursoFDC", "Json")

                                            })
                                    </div>*@
                                    @*SI*@
                                    <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditFDCCarrera</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m =>m.IdCarrera, new SelectList(Model.lstCarrera,"IdCarrera", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new {
                                       @class = "form-control select2-select",
                                       @required = true,
                                       @data_filter = "IdCarrera",
                                       @data_plugin = "select2",
                                       @id = "idcarrera"
                                   })
                                    </div>

                                </div>
                            </div>
                            @*<div class="form-group">
                                <div class="row"> 
                                    
                                    <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditFDCSeccion</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => Model.IdSeccion, new SelectList(Model.lstSeccion, "IdSeccion", "Codigo"), language == ConstantHelpers.CULTURE.ESPANOL ? "Todos" : "All", new
                                   {
                                       @class = "form-control select2-select",
                                       @data_text_member = "Codigo",
                                       @data_value_member = "IdSeccion",
                                       @disabled = true
                                   })
                                    </div>
                                </div>
                            </div>*@

                            @*dash*@
                            <div class="form-group">
                                <div class="row">
                                    @*NO*@
                                    @*<div class="form-group">
                                        <div class="row">

                                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditFDCSeccion</label></div>
                                            <div class="col-md-4">
                                                @Html.DropDownListFor(m => Model.IdSeccion, new SelectList(Model.lstSeccion, "IdSeccion", "Codigo"), language == ConstantHelpers.CULTURE.ESPANOL ? "Todos" : "All", new
                                           {
                                               @class = "form-control select2-select",
                                               @data_text_member = "Codigo",
                                               @data_value_member = "IdSeccion",
                                               @disabled = true
                                           })
                                            </div>
                                        </div>
                                    </div>*@

                                    @*SI*@
                                    <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditFDCSede</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m =>m.IdSede, new SelectList(Model.lstSede,"IdSede", "Nombre"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new {
                                       @class = "form-control select2-select",
                                       @required = true,
                                       @data_text_member = "Codigo",
                                       @data_value_member = "IdSede",
                                       @id = "idsede"
                                   })
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="pull-left">
                                <a style="display:none;" href="#" id="sw" class="consolidado btn btn-info" url-action="@Url.Action("ReportResultadosFDCporCarrera", "Report",new { Codigo = "SW"})"><i class="fa fa-keyboard-o"></i> Software</a>
                                <a style="display:none;" href="#" id="si" class="consolidado btn btn-warning" url-action="@Url.Action("ReportResultadosFDCporCarrera", "Report",new { Codigo = "SI"})"><i class="fa fa-desktop"></i> Sistemas</a>
                                <a style="display:none;" href="#" id="cc" class="consolidado btn btn-success" url-action="@Url.Action("ReportResultadosFDCporCarrera", "Report",new { Codigo = "CC"})"><i class="fa fa-cubes"></i> Ciencias Comp.</a>
                                <i id="report-loading" style="display:none;" class="fa fa-cog fa-spin fa-2x fa-fw"></i>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-default" href="@Url.Action("ReportResultadosFDC", "Report")"><i class="fa fa-eraser"></i></a>
                                @*<button type="submit" class="btn btn-primary"><i class="fa fa-cogs"></i> Generar Reporte</button>*@
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-cogs"></i> @(language == ConstantHelpers.CULTURE.ESPANOL ? "Generar" : "Generate")
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown2" role="menu">
                                        <li role="presentation" class="btn-li"><button style="width: 100%;border:none;background-color:transparent" type="submit" name="btnReport" role="menuitem" value="PDF"><i class="fa fa-file-pdf-o"></i> PDF&nbsp;&nbsp;&nbsp;&nbsp;</button></li>
                                        <li role="presentation" class="btn-li"><button style="width: 100%;border:none;background-color:transparent" type="submit" name="btnReport" role="menuitem" value="EXCEL"><i class="fa fa-file-excel-o"></i> EXCEL</button></li>
                                        <li role="presentation" class="btn-li"><button style="width: 100%;border:none;background-color:transparent" type="submit" name="btnReport" role="menuitem" value="WORD"><i class="fa fa-file-word-o"></i> WORD</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
@if (String.IsNullOrEmpty(Model.Key) == false && Model.CantSuccess.Value > 0)
{
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart"></i> Reportes:</h3>
            </div>
            <div class="panel-body">
                <div class="row" style="display:none;">
                    <div class="form-group">
                        <h5 id="logro"></h5>
                    </div>
                </div>

                <div class="row">
                    <div class="text-right">
                        <a href="@Url.Action("DescargarTodo", "Report", new { Key = Model.Key})" class="btn btn-info" data-toggle="tooltip"
                           data-placement="top" data-original-title="Descarga todos los elementos en un archivo .zip"><i class="fa fa-download"></i> Descargar Todo</a>
                    </div>
                    <div class="example table">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th style="color:white;" class="">Nombre</th>
                                    <th style="color:white;" class=""></th>
                                </tr>
                            </thead>
                            <tbody id="files">
                                @{ var lstFile = Directory.GetFiles(Server.MapPath("~/Files/SurveyReport"));}
                                @foreach (var item in lstFile)
                                {
                                    var archivo = Path.GetFileName(item);
                                    if (archivo.Equals(Model.fileName))
                                    {
                                        <tr>
                                            <td><i class="@Html.Raw(ConstantHelpers.GetIconPorExtension(Model.Extension))"></i>&nbsp;@(archivo.Replace(Model.Key, ""))</td>
                                            <td class="text-center">
                                                @if (Model.Extension == ConstantHelpers.ENCUESTA.PDF)
                                                {
                                                    <a class="btn btn-default" href="#" @Url.ModalHelperFor("_VerArchivo", "Report", new { Archivo = archivo, Nombre = archivo.Replace(Model.Key, "") }, ModalSize.Large)><i class="fa fa-eye"></i> Ver</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-default" href="@Url.Content("~/Files/SurveyReport/" + archivo)"><i class="fa fa-download"></i> Descargar</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                    }
<a class="btn btn-default" href="@Url.Action("SurveyManagementFDC", "Survey")"><i class="fa fa-arrow-left"></i> @(language == ConstantHelpers.CULTURE.ESPANOL ? "Atrás" : "Back")</a>
@section scripts {
    <script>

        $('#idcarrera').change(function () {
            console.log($('#idcarrera').val());
        })

        function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }
        $('.btn-li').click(function () {
            showLoading();
        });

        $(document).ready(function () {
            @if (String.IsNullOrEmpty(Model.Key) == false && Model.CantSuccess.Value > 0)
            {
                <text>$('#filtros').click()</text>
            }
            $('#IdCiclo').on('change', function () {
                $sw = $('#sw').removeAttr('style');
                $si = $('#si').removeAttr('style');
                $cc = $('#cc').removeAttr('style');

                var value = $(this).val();

                $sw.attr('href', $('#sw').attr('url-action') + '&IdPeriodoAcademico=' + value);
                $si.attr('href', $('#si').attr('url-action') + '&IdPeriodoAcademico=' + value);
                $cc.attr('href', $('#cc').attr('url-action') + '&IdPeriodoAcademico=' + value);
            });
        });
        $(document).on('change', '[data-plugin="select2"]', function (e) {
            // Valor seleccionado
            var selectedId = $(this).val();

            if (selectedId != "") {
                // Nombre del parámetro de filtro
                var dataFilter = $(this).attr('data-filter');

                // Url de datos json
                var sourceUrl = $(this).attr('data-source-url');

                // Select a actualizar
                var updateTarget = $(this).attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
                postData['IdPeriodoAcademico'] = $('#IdCiclo').val();
                var $updateTarget = $(updateTarget);
                $updateTarget.attr('disabled', 'disabled')
                $updateTarget.find('option[value!=""]').remove();

                $.ajax({
                    type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        var $updateTarget = $(updateTarget);
                        var valueMember = $updateTarget.attr('data-value-member')
                        var textMember = $updateTarget.attr('data-text-member')
                        for (i = 0; i < data.length; i++) {
                            $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                        }
                        $updateTarget.removeAttr('disabled');
                        $updateTarget.trigger('change');
                    },
                    complete: function () {

                    }
                });
            }
        });
    </script>
}