﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.Score.PartialView.ListScoreViewModel

<div class="table-responsive">
    <table id="tbl_rubricas" class="table table-striped table-hover dataTable">
        <thead class="hiddenHeader">
            <tr>
                <th>@ScoreResource.Nombre</th>
                <th>@ScoreResource.Puntaje</th>
                <th>@ScoreResource.Evaluacion</th>
                <th>@ScoreResource.Descripcion</th>
                <th>@ScoreResource.Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nivelDesempeño in Model.LstNivelDesempenio)
            {
                <tr>
                    <td><span class="hiddenTexto">@ScoreResource.Nombre:</span> <h4><span class="label" style="background-color: @nivelDesempeño.Color">@nivelDesempeño.Nombre</span></h4></td>
                    <td><span class="hiddenTexto">@ScoreResource.Puntaje:</span> @(!nivelDesempeño.TipoEvaluacion.Equals("StudentOutcome") ? String.Format("[{0} - {1}]", nivelDesempeño.PuntajeMenor, nivelDesempeño.PuntajeMayor) : nivelDesempeño.PuntajeMayor.Value.ToString())</td>
                    <td><span class="hiddenTexto">@ScoreResource.Evaluacion:</span> @nivelDesempeño.TipoEvaluacion</td>
                    <td><span class="hiddenTexto">@ScoreResource.Descripcion:</span> @nivelDesempeño.Descripcion</td>
                    <td>
                        <span class="hiddenTexto">Opciones: </span>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a onclick='cargarNivel(@nivelDesempeño.IdNivelDesempenio)' role="menuitem"><i class="fa fa-pencil"></i> @ButtonResource.Editar</a></li>
                                <li><a onclick="eliminarNivel(@nivelDesempeño.IdNivelDesempenio)" role="menuitem"><i class="fa fa-trash"></i> @ButtonResource.Eliminar</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>