﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.Score.PartialView.ListAcademicTypeProjectPartialViewModel
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score.PartialView
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared

<div class="panel-body row">
    <div class="table-responsive">
        <table class="table table-condensed table-hover dataTable">
            <thead>
                <tr>
                    <th class="text-center">@RubricManagmentResource.Curso</th>
                    <th class="text-center">@_ListAcademicTypeProjectPartialResource.Nombre</th>
                    <th class="text-center">@_ListAcademicTypeProjectPartialResource.Proyecto</th>
                    <th class="text-center">@_ListAcademicTypeProjectPartialResource.Empresa</th>
                    <th class="text-center">@ScoreResource.Evaluador</th>
                    <th class="text-center">@_ListAcademicTypeProjectPartialResource.FechaEvaluacion</th>
                    <th class="text-center">@_ListAcademicTypeProjectPartialResource.Evaluacion</th>
                </tr>
            </thead>

            @{
                foreach (var rubrica in Model.ListRubricaCalificada)
                {
                    <tr>
                        <td class="text-center">
                            @rubrica.AlumnoSeccion.Seccion.CursoPeriodoAcademico.Curso.NombreEspanol
                        </td>
                        <td class="text-center">
                            @rubrica.AlumnoSeccion.AlumnoMatriculado.Alumno.Nombres @rubrica.AlumnoSeccion.AlumnoMatriculado.Alumno.Apellidos
                        </td>
                        <td class="text-center">
                            @rubrica.AlumnoSeccion.ProyectoAcademico.Codigo
                        </td>
                        <td class="text-center">
                            @rubrica.AlumnoSeccion.ProyectoAcademico.EmpresaVirtual.Nombre
                        </td>
                        <td class="text-center">
                            @rubrica.Evaluador.Docente.Nombres
                        </td>
                        <td class="text-center">
                            @rubrica.FechaCalifiacion.ToShortDateString()
                        </td>
                        <td class="text-center">

                            <a href="@(Url.Action("ViewRubricQualify", "Score" , new { IdRubricaCalificada=  rubrica.IdRubricaCalificada, AlumnoSeccionId = rubrica.IdAlumnoSeccion, nombreEvaluacion = rubrica.Rubrica.Evaluacion.TipoEvaluacion.Tipo }))" class="btn btn-outline btn-primary btn-xs">
                                @rubrica.Rubrica.Evaluacion.TipoEvaluacion.Tipo
                            </a>
                          
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>