﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.Score.PartialView.ListAcademicProjectPartialViewModel
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score.PartialView
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared


<div class="panel-body row">
    <div class="table-responsive">
        <table id="tbl_proyectos" class="table table-striped table-hover dataTable">
            <thead class="hiddenHeader">
                <tr>
                    <th>@_ListAcademicProjectResource.Acronimo</th>
                    <th>@_ListAcademicProjectResource.Nombre</th>
                    <th>@_ListAcademicProjectResource.Descripcion</th>
                    <th class="text-center">@_ListAcademicProjectResource.Rol</th>
                    <th class="text-center">@_ListAcademicProjectResource.Empresa</th>
                    <th class="text-center">@ScoreResource.Curso</th>
                    <th class="text-center" style="min-width: 104px;">@_ListAcademicProjectResource.Evaluacion</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var evaluador in Model.ListEvaluador)
                    {
                        var TipoEvaluador = evaluador.TipoEvaluador.TipoEvaluadorMaestra.Codigo;
                        <tr>
                            <td>
                                <span class="hiddenTexto">@_ListAcademicProjectResource.Acronimo:</span> @evaluador.ProyectoAcademico.Codigo.ToUpper()
                            </td>
                            <td>
                                <span class="hiddenTexto">@_ListAcademicProjectResource.Nombre:</span> @evaluador.ProyectoAcademico.Nombre.ToUpper()
                            </td>
                            <td>
                                <span class="hiddenTexto">@_ListAcademicProjectResource.Descripcion:</span> @evaluador.ProyectoAcademico.Descripcion
                            </td>
                            <td>
                                <span class="hiddenTexto">@_ListAcademicProjectResource.Rol:</span> @evaluador.TipoEvaluador.TipoEvaluadorMaestra.Nombre
                            </td>
                            <td>
                                <span class="hiddenTexto">@_ListAcademicProjectResource.Empresa:</span> @evaluador.ProyectoAcademico.EmpresaVirtual.Nombre
                            </td>
                            <td>
                                <span class="hiddenTexto">Curso</span> @evaluador.ProyectoAcademico.Curso.NombreEspanol
                            </td>
                            <td>
                                <span class="hiddenTexto">@_ListAcademicProjectResource.Evaluacion:</span>
                                @foreach (var item in evaluador.ProyectoAcademico.EvaluacionProyecto)
                                {
                                    if (item.TipoEvaluacion.Tipo.Equals("PA") && !TipoEvaluador.Equals("GER"))
                                    {
                                        continue;
                                    }
                                    if (TipoEvaluador.Equals("COM") || (TipoEvaluador.Equals("GER") && item.TipoEvaluacion.Tipo.Equals("PA")))
                                    {
                                        <a href="@(Url.Action("RubricRate", "Score", new { IdProyectoAcademico = evaluador.IdProyectoAcademico, IdTipoEvaluacion = item.IdTipoEvaluacion, IdEvaluador = evaluador.IdEvaluador }))" class="btn btn-outline btn-@(Model.ProyectoCalificado(evaluador.ProyectoAcademico, evaluador, item.IdTipoEvaluacion)? "success": "primary") btn-xs">
                                            @item.TipoEvaluacion.Tipo
                                        </a>
                                    }
                                    else
                                    {
                                        <a @Url.ModalHelperFor("_QualitativeQualifyPartialView", "Score", new { IdProyectoAcademico = evaluador.IdProyectoAcademico, IdEvaluador = evaluador.IdEvaluador, TipoEvaluador = evaluador.TipoEvaluador.TipoEvaluadorMaestra.Codigo, IdTipoEvaluacion = item.IdTipoEvaluacion }, ModalSize.Large) class="btn btn-outline btn-@(Model.ProyectoCalificado(evaluador.ProyectoAcademico, evaluador, item.IdTipoEvaluacion)? "success": "primary") btn-xs">
                                            @item.TipoEvaluacion.Tipo
                                        </a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>