﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score
@model IPagedList<UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricQualifyDetail>

@section Styles{
    <link href="~/Content/vendor/webui-popover/webui-popover.min.css" rel="stylesheet" />
}

<div id="topPaged">
    @Html.PagedListPager(Model, page => Url.Action("_LstRubricQualifyDetail", new { page = page, CampoBuscar = TempData["CampoBuscar"] }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { UpdateTargetId = "tableRubric", OnComplete = "onCompleteLoadLst" }))
</div>
<table class="table table-hovered">

    <thead>
        <tr>
            <th style="width:10%">@ScoreResource.CodigoDelProyecto</th>
            <th style="width:35%">@ScoreResource.NombreDelProyecto</th>
            <th style="width:12%">@ScoreResource.SustentacionAnteElComite</th>
            <th style="width:5%">@ScoreResource.Evaluacion</th>
            <th style="width:13%">@ScoreResource.Alumnos</th>
            <th>@ScoreResource.Opciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var rubricaCalificada in Model)
        {
            <tr>
                <td>@rubricaCalificada.CodigoProyecto</td>
                <td>@rubricaCalificada.NombreProyecto</td>
                <td class="text-center">@(rubricaCalificada.SePermiteSustentacion ? ScoreResource.SePermite : ScoreResource.NoSePermite )</td>
                <td class="text-center">@rubricaCalificada.TipoEvaluacion</td>
                @*data-content="Holi" data-trigger="hover" data-toggle="popover" data-original-title="Hover" tabindex="0" data-placement="left"
                    @contact.Remove(contact.Length - 2)*@
                <td>
                    @foreach (var alumno in rubricaCalificada.LstAlumnos)
                    {
                        <p data-content="@alumno.Nombre" data-trigger="hover" data-toggle="popover" data-original-title="Nombre" tabindex="0" data-placement="left">@alumno.Codigo</p>
                    }
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                            @ScoreResource.Opciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu">
                            <li role="presentation">
                                <a data-url="@Url.Action("DeleteGradesProject", "Score", new { Area = ConstantHelpers.AREAS.RUBRIC})"
                                   data-proyecto="@rubricaCalificada.ProyectoID"
                                   data-evaluacion="@rubricaCalificada.TipoEvaluacion"
                                   data-codigo-proyecto="@rubricaCalificada.CodigoProyecto"
                                   onclick="deleteGrades(this)">@ScoreResource.EliminarNotas </a>
                            </li>
                            <li role="presentation">
                                <a href="@Url.Action("DownloadEvaluatorOutcomeReportGet", "BulkInsert", new { ProyectoId = rubricaCalificada.ProyectoID, EvaluacionId = rubricaCalificada.IdTipoEvaluacion })" role="menuitem">@ScoreResource.DescargarComentarios</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>

@Html.PagedListPager(Model, page => Url.Action("_LstRubricQualifyDetail", new { page = page, CampoBuscar = TempData["CampoBuscar"] }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { UpdateTargetId = "tableRubric", OnComplete = "onCompleteLoadLst" }))
