﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.Score.PartialView.QualitativeQualifyViewModel
@{
    ViewBag.Title =  ScoreResource.CalificacionCualitativa;
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Icon = "book";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor(x => x.IdEvaluador)
<div class="container">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            @{var cont = 1; }
            @foreach (var alumno in Model.alumnosProyecto)
            {
                <li role="presentation" class='@(cont == 1 ? "active": "")'>
                    <a href="#@alumno.IdAlumnoSeccion" aria-controls="@alumno.IdAlumnoSeccion" role="tab" data-toggle="tab">@alumno.Nombres</a>
                </li>
                cont++;
            }
        </ul>

        <div class="tab-content">
            @Model.MessageError
            @for (int i = 0; i < Model.alumnosProyecto.Count; i++)
            {
                @Html.HiddenFor(x => x.alumnosProyecto[i].IdRubrica)
                @Html.HiddenFor(x => x.alumnosProyecto[i].IdAlumnoSeccion)
                @Html.HiddenFor(x => x.alumnosProyecto[i].Nombres)
                <div role="tabpanel" class="tab-pane @(i == 0 ? "active" : "")" id="@Model.alumnosProyecto[i].IdAlumnoSeccion">
                    <div class="container">
                        <br />
                        @Html.TextAreaFor(x => x.alumnosProyecto[i].Observacion, new { @class = "form-control", @rows = "5" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>