﻿@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Semaphore
@using UPC.CA.ABET.Helpers
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model BySemaphoreReportVerificationViewModel

@if (Model.ExistData.HasValue)
{
    if (!Model.ExistData.Value || Model.CycleId == 0)
    {
        <script>
            showMessage('@ReportResource.TitleOutcome', '@ReportResource.NoDataMessage');
        </script>
        <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
    }
    else
    {
        var queryString = string.Format("?{0}={1}&{2}={3}&{4}={5}&{6}={7}&{8}={9}&{10}={11}&{12}={13}&{14}={15}",
           ConstantHelpers.QueryStringParameters.LANGUAGE_CULTURE, Model.LanguageCulture,
           ConstantHelpers.QueryStringParameters.SUBMODALIDADID, Model.IdSubModalidad,
           ConstantHelpers.QueryStringParameters.CYCLE_ID, Model.CycleId.HasValue ? Model.CycleId.Value : 0,
           ConstantHelpers.QueryStringParameters.MODULO_ID, Model.ModuleId.HasValue ? Model.ModuleId.Value : 0,
           ConstantHelpers.QueryStringParameters.CAREER_ID, Model.CareerId,
           ConstantHelpers.QueryStringParameters.ACCREDITATION_TYPE_ID, Model.AccreditationTypeId,
           ConstantHelpers.QueryStringParameters.COMMISSION_ID, Model.CommissionId,
           ConstantHelpers.QueryStringParameters.STUDENT_OUTCOME_ID, Model.StudentOutcomeId.HasValue ? Model.StudentOutcomeId.Value : 0
           );

        if (Model.AccreditationTypeId > 0)
        {
            <script>iframeLoad()</script>
            <iframe src="@(Url.Content("~/Areas/Report/Resources/WebPages/ReportSemaforoRV.aspx") + queryString)"></iframe>

        }
        else
        {
            <div class="report-init-text text-center">@ReportResource.TextInitialReport</div> }
    }
}
else
{
    <div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
}