﻿@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Semaphore
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Semaphore
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model ByCourseRVViewModel

@{
    ViewBag.Title = SempahoreResource.ReporteSemaforoRVCurso;
    ViewBag.Icon = "bar-chart";
    var modalidadId = Session.GetModalidadId();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs{
    <li><a href="javascript:history.go(-1)">@SempahoreResource.ReporteSemaforo</a></li>
}
@section Styles {
    <link href="@Url.Content("~/Areas/Report/Content/css/sweetalert.css")" rel="stylesheet" type="text/css" />
}
<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ReportResource.HeaderFilter, PanelActions.Collapse)
            @using (Ajax.BeginForm("ByCourseRV", new AjaxOptions
            {
                HttpMethod = "POST",
                LoadingElementId = "main-loader",
                UpdateTargetId = "report-container",
                OnBegin = "showLoading",
                OnSuccess = "closeLoading"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("ModalityId", Session.GetModalidadId())
                @Html.Hidden("LanguageCulture", language)
                @Html.Hidden("Semaphore", "Yes")
                <div class="panel-body row">
                    <div class="row">
                        @Html.FormGroup(ReportResource.LabelCycle, Html.DropDownListFor(m => Model.CycleId, Model.DropDownListCyclesFromForModality as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CycleId))
                        @Html.FormGroup(ReportResource.LabelCareer, Html.DropDownListFor(m => Model.CareerId, ViewBag.DropDownListCareer as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CareerId))


                    </div>
                    <div class="row">
                        @Html.FormGroup(ReportResource.LabelAccreditationType, Html.DropDownListFor(m => Model.AccreditationTypeId, Model.DropDownListAccreditationType as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.AccreditationTypeId))
                    @Html.FormGroup(ReportResource.LabelCommission, Html.DropDownListFor(m => Model.CommissionId, Model.DropDownListCommission as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CommissionId))

                    </div>
                    <div class="row">
                         @Html.FormGroup(ReportResource.LabelStudentOutcome, Html.DropDownListFor(m => Model.StudentOutcomeId, Model.DropDownListStudentOutcome as SelectList, new { @class = "form-control", @data_plugin = "select2" }), ValidateMessage: Html.ValidationMessageFor(m => Model.StudentOutcomeId))
                        @if (modalidadId == 2)
                        {
                            @Html.FormGroup(ReportResource.LabelModule, Html.DropDownListFor(m => Model.ModuleId, Model.DropDownListModules as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.ModuleId))
                        }
                    </div>
                    <div class="row">
                        @Html.FormGroup(ReportResource.LabelCourse, Html.DropDownListFor(m => Model.CourseId, Model.DropDownListCourse as SelectList, new { @class = "form-control", @data_plugin = "select2" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CourseId))
                    </div>
                    @Html.PanelFooter(ReportResource.ButtonGenerateReport, ReportResource.ButtonResetReport)
                </div>
            }
        </div>
        <div class="panel">
            @Html.PanelHeaderIcon("<i class=\"fa fa-file-text\"></i> ", ReportResource.HeaderDocument, PanelActions.Fullscreen)
            <div class="panel-body" id="report-container">
                @{Html.RenderPartial("_ByCourseRV", Model);}
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/sweetalert.min.js")"></script>
    <script>

         function showLoading() {
                swal({
                    title: '@language' == 'es-PE' ? 'Cargando...' : 'Loading...',
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true

                });
            }

         function closeLoading() {
                swal.close();
         }

        $(function () {
            selectMenu('liVerificationReports', 'liByCourseVerificationReport');
            setTimeout(scrollSidebarTo, 700, 'liByCourseVerificationReport');

            $('#btnResetReport').resetCombos(['LanguageCulture', 'CycleId', 'CareerId']);
        });

        bindChange('#CycleId', function () { getCampus().then(getAccreditationTypes).then(getCommissionsByCareer).then(getStudentOutcomes).then(getModulesForCycleForModality).then(getSpecificControlCourses); });
        bindChange('#AccreditationTypeId', function () { getCommissionsByCareer().then(getStudentOutcomes).then(getSpecificControlCourses) });
        bindChange('#CareerId', function () { getCommissionsByCareer().then(getStudentOutcomes).then(getSpecificControlCourses) });
        bindChange('#CommissionId', function () { getStudentOutcomes().then(getSpecificControlCourses) });
        bindChange('#StudentOutcomeId', getSpecificControlCourses);

        function getSpecificControlCourses(data) {
            var _data = getData();
            _data.CycleToId = _data.CycleId;
            setFirstValueWithCallback(_data, 'StudentOutcomeId', data, function (firstValue, array) {
                return array.length > 1 ? 0 : firstValue;
            });
            return loadCombo('#CourseId', reportCombosUrls.getVerificationCourses, _data, @* '@ReportResource.OptionAll',*@true);
        }

    </script>
}