﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Excel.DownloadTemplateSurveyFDCViewModel
@{
    ViewBag.Title = AddEditFDCResource.DownloadTemplateSurveyFDCTitulo;
    ViewBag.Icon = "file-excel-o";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs
{
    <li><a href="@Url.Action("SurveyManagementFDC", "Survey")">@AddEditFDCResource.KeyWordsEncuestaFDC</a></li>
}
<div id="target"></div>
<div class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> @AddEditFDCResource.DownloadTemplateSurveyFDCFiltros</h3>
        </div>
        <div class="panel-body">
            <form method="post" action="@Url.Action("DownloadTemplateExcel", "Excel")">
                @Html.HiddenFor(x => x.Tipo)
                <div class="">
                    <div class="row">
                        <div class="">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.DownloadTemplateSurveyFDCCarrera</label></div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => Model.carreraId, new SelectList(Model.lstCarrera, "IdCarrera", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), @AddEditFDCResource.DownloadTemplateSurveyFDCSeleccione, new
                           {
                               @class = "form-control select2-select",
                               @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Selecet -]",
                               @data_source_url = Url.Action("GetCicloByCarrera", "Json"),
                               @data_update_target = "#cicloId",
                               @data_filter = "carreraId",
                               @data_text_member = "NombreEspanol",
                               @data_value_member = "IdCarrera"@*, @disabled = true*@ 
                           })
                                @Html.ValidationMessageFor(x => x.carreraId)
                            </div>
                        </div>
                        <div class="">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.DownloadTemplateSurveyFDCCiclo1</label></div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => Model.cicloId, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), @AddEditFDCResource.DownloadTemplateSurveyFDCSeleccione, new
                           {
                               @class = "form-control select2-select"@*, @data_plugin = "select2"*@,
                               @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]",
                               @data_text_member = "CicloAcademico",
                               @data_value_member = "IdPeriodoAcademico"@*, @disabled = true*@,
                               @style = "display:inline-block;"
                           })
                                @Html.ValidationMessageFor(x => x.cicloId)
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="example example-buttons">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary" href="#"><i class="fa fa-file-excel-o"></i> @AddEditFDCResource.DownloadTemplateSurveyFDCDescargarPlantilla</button>
                    </div>
                    @*<div class="pull-right">
                        <a class="btn btn-default animsition-link"  href="#" id="clear"><i class="fa fa-eraser"></i> @DownloadTemplateSurveyFDCResource.LimpiarFiltros</a>
                    </div>*@
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
        $('#clear').click(function () {
            $('#acreditadoraId').select2("val", "");
            $('#carreraId').select2("val", "");
            $('#cicloId').select2("val", "");
        });

        $(document).on('change', '[data-plugin="select2"]', function (e) {
            // Valor seleccionado
            var selectedId = $(this).val();

            if (selectedId != "") {
                // Nombre del parámetro de filtro
                var dataFilter = $(this).attr('data-filter');

                // Url de datos json
                var sourceUrl = $(this).attr('data-source-url');

                // Select a actualizar
                var updateTarget = $(this).attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
                var $updateTarget = $(updateTarget);
                $updateTarget.attr('disabled', 'disabled')
                $updateTarget.find('option[value!=""]').remove();

                $.ajax({
                    type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        var $updateTarget = $(updateTarget);
                        var valueMember = $updateTarget.attr('data-value-member')
                        var textMember = $updateTarget.attr('data-text-member')
                        for (i = 0; i < data.length; i++) {
                            $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                        }
                        $updateTarget.removeAttr('disabled');
                        $updateTarget.trigger('change');
                    },
                    beforeSend: function () {

                    },
                    complete: function () {

                    }
                });
            }
        });
    </script>
}


