﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Excel.UploadFDCViewModel
@{
    ViewBag.Title = AddEditFDCResource.OptionsCargaMasiva + " " + AddEditFDCResource.KeyWordsEncuestaFDC;
    ViewBag.Icon = "cloud-upload";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs
{
    <li><a href="@Url.Action("SurveyManagementFDC", "Survey")">@AddEditFDCResource.KeyWordsEncuestaFDC</a></li>
}
@*<form method="post" enctype="multipart/form-data" onsubmit="showloading()">*@
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-o"></i>@(language == ConstantHelpers.CULTURE.ESPANOL ? " Seleccione un archivo" : " Select file")</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-1"><label class="label-survey">@AddEditFDCResource.AddEditFDCCiclo</label></div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(m => Model.CicloId, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                            , new
                            {
                                @class = "form-control select2-select",
                                required = true
                            })
                                @Html.ValidationMessageFor(x => x.CicloId)
                            </div>
                            <div class="col-md-12" style="padding-top:15px">
                                @Html.TextBoxFor(x => x.Archivo, new { type = "file", @class = "dropify" })
                            </div>
                            <div class="col-md-12" id="cargando" style="display:none;">
                                <center>
                                    <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("SurveyManagementFDC", "Survey")"><i class="fa fa-arrow-left"></i> @AddEditFDCResource.ButtonsOptionsSurveyAtras</a>
            <button @*type="submit"*@ class="btn btn-primary" id="test"><i class="fa fa-cloud-upload"></i> @AddEditFDCResource.ButtonsOptionsSurveyCargar</button>
        </div>
    </div>
</div>
@*</form>*@
<div id="errores" style="display:none;">
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title" id="errores-header"></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <ul class="list-group list-group-bordered" id="errores-body">
                                    @*@foreach (var item in Model.LstError)
                                        {
                                            <li class="list-group-item">@item</li>
                                        }*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).on('click', '#test', function () {
            var formData = new FormData();

            formData.append('Archivo', $('#Archivo')[0].files[0]);
            formData.append('CicloId', $('#CicloId').val());

            $.ajax({
                url: '@Url.Action("UploadFDC", "Excel")',
                type: 'POST',
                async: true,
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (data) {
                    if (data.Error == false) {
                        if (data.lstError.length > 0) {
                            $('#errores').show();
                            $('#errores-header').html('');
                            $('#errores-body').html('');

                            $('#errores-header').append(
                                '<i style="color:red;" class="fa fa-warning" aria-hidden="true"></i>' +
                                ' ' + data.lstError.length + ' @(language == ConstantHelpers.CULTURE.ESPANOL ? " filas no fueron cargadas" : " rows were not uploaded")'
                                );
                            for (var i = 0 ; i < data.lstError.length ; i++) {
                                $('#errores-body').append('<li class="list-group-item">' + data.lstError[i] + '</li>');
                            }
                            swal({
                                title: '¡Ocurrieron Errores!',
                                text: 'Se cargaron ' + data.CantSuccess + ' registros',
                                type: 'warning',
                                confirmButtonColor: '#2196f3',
                                confirmButtonText: 'Aceptar'
                            });
                        }
                        else {
                            swal({
                                title: '¡Operación Exitosa!',
                                text: 'Se cargaron todos los registros',
                                type: 'success',
                                confirmButtonColor: '#2196f3',
                                confirmButtonText: 'Aceptar'
                            });
                        }
                    }
                    else {
                        swal({
                            title: '¡Operación Fallida!',
                            text: 'Por favor intente una vez más',
                            type: 'error',
                            confirmButtonColor: '#2196f3',
                            confirmButtonText: 'Aceptar'
                        });
                    }
                },
                beforeSend: function () {
                    $('#cargando').show();
                },
                complete: function () {
                    $('#cargando').hide();
                }
            });
        });

        //$('#Archivo').ezdz();
        $(document).on('change', '[data-plugin="select2"]', function (e) {
            // Valor seleccionado
            var selectedId = $(this).val();

            if (selectedId != "") {
                // Nombre del parámetro de filtro
                var dataFilter = $(this).attr('data-filter');

                // Url de datos json
                var sourceUrl = $(this).attr('data-source-url');

                // Select a actualizar
                var updateTarget = $(this).attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
                var $updateTarget = $(updateTarget);
                $updateTarget.attr('disabled', 'disabled')
                $updateTarget.find('option[value!=""]').remove();

                $.ajax({
                    type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        var $updateTarget = $(updateTarget);
                        var valueMember = $updateTarget.attr('data-value-member')
                        var textMember = $updateTarget.attr('data-text-member')
                        for (i = 0; i < data.length; i++) {
                            $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                        }
                        $updateTarget.removeAttr('disabled');
                        $updateTarget.trigger('change');
                    },
                    beforeSend: function () {

                    },
                    complete: function () {

                    }
                });
            }
        });
    </script>
}

