﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.NeoImprovementActions;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.NeoImprovementActions.EditHallazgoAmViewModel
@{
    Layout = null;
    ViewBag.Title = NeoImprovementActionsResource.EditarHallazgo;
    ViewBag.Icon = "navicon";
    ViewBag.GUID = Guid.NewGuid();
}
@section Styles{
    <style>
    </style>
}
<div id="modalAddHallazgo-@ViewBag.GUID">

    @Html.HiddenFor(x=>x.idhallazgo)

    <div class="modal-header" id="modalAddHallazgoHead-@ViewBag.GUID">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><i class="fa fa-@ViewBag.Icon contrast">&nbsp;</i> @ViewBag.Title </h4>  
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>@NeoImprovementActionsResource.DescripcionDelHallazgo</label>

            <textarea id="taDescripcionHallazgo-@ViewBag.GUID" class="form-control" placeholder="@(NeoImprovementActionsResource.IngreseLaDescripcionAqui)"> @(Model.descripcionHallazgo)</textarea>
            <br />
            <label>@NeoImprovementActionsResource.SeleccioneElNivelDeCriticidadDelHallazgo</label>
            <textarea id="CodHallazgo" style="visibility:hidden">@(Model.CodHallazgo)</textarea>
            <br />
            
            @foreach (var crit in Model.Criticidades)
            {
                if (crit.NombreEspanol != Model.criticidad)
                {
                    <input type="radio" name="radio_criticidad" id="criticidad1" value="@(crit.NombreEspanol)"> @crit.NombreEspanol<br>
                }
                else
                {
                    <input type="radio" name="radio_criticidad" checked="checked" id="criticidad1" value="@(crit.NombreEspanol)"> @crit.NombreEspanol<br>
                }
            }
            <!--
            <select class="form-control" id="lstCriticidad-@ViewBag.GUID"></select>
                -->

            <br />
            <label style="display:none">@NeoImprovementActionsResource.SeleccioneLasSedesALasqueAplicaElHallazgo </label>
            <div class="checkbox" style="display:none">
                <label>
                    <input checked disabled type="checkbox" id="cboxTodas-@ViewBag.GUID" value="todas" >
                    @NeoImprovementActionsResource.Todas
                </label>
            </div>
            <select multiple class="form-control" id="lstSedes-@ViewBag.GUID" style="display:none"></select>
        </div>


       
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ><i class="fa fa-times"></i>@NeoImprovementActionsResource.Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="aceptar()"><i class="fa fa-check"></i> @NeoImprovementActionsResource.Aceptar</button>
    </div>

</div>

<script id="scriptAddHallazgo-@ViewBag.GUID">
    function aceptar() {
        // check descripción
        if ($("#taDescripcionHallazgo-@ViewBag.GUID").val().length == 0) {
            alert("@(NeoImprovementActionsResource.DebeIngresarUnaDescripcionParaPoderContinuar)");
            return;
        }
        // añadir hallazgos
       
            addHallazgo($("#taDescripcionHallazgo-@ViewBag.GUID").val(), $("input[name=radio_criticidad]:checked").val(),$('#Posicion').val());       
        
    }

    function addHallazgo(descripcion, criticidad,pos) {
        var CodHallazgo = $('#CodHallazgo').val();
        var Hallazgoid = $('#idhallazgo').val();


        $.ajax({
            type: "POST",
            url: '@Url.Action("updateHallazgo", "NeoImprovementActions" , new { isEdit = true })',
            data: { Hallazgoid: Hallazgoid, CodHallazgo: CodHallazgo, descripcion: descripcion, criticidad: criticidad },
            success: function (data) {
                $.LoadingOverlay("show");
                window.location='@Url.Action("AddEditImprovementAction", "NeoImprovementActions")';
               // alertify.message('Los datos Fueron Actualizados');
               
            }
        });

    }
  
</script>
