﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.NeoImprovementActions;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.NeoImprovementActions.LstAccionesParaPlanViewModel
@{
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
<table class="table table-hover table-striped" id="table">
    <thead>
        <tr style="background-color: #FF1901;">
            <th class="text-center" style="color:white;"></th>
            <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Código" : "Code")</th>
            <th class="text-center" style="width: 65%;color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Descripción" : "Description")</th>
            <!--<th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Estado" : "State")</th>-->
            <!--<th style="color:white;">Mostrar en el Plan</th>-->
            <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Opciones" : "Options")</th>

        </tr>
    </thead>
    <tbody id="encuestas">
        @Html.HiddenFor(x => x.Anio)
        @Html.HiddenFor(x => x.IdCarrera)
        @Html.HiddenFor(x => x.IdComision)
        @Html.HiddenFor(x => x.IdConstituyente)
        @Html.HiddenFor(x => x.IdInstrumento)
        @Html.HiddenFor(x => x.IdCurso)
        @Html.HiddenFor(x => x.IdOutcome)
        @*foreach (var item in Model.LstAccionMejora)*@
        @for (int i = 0; i < Model.LstAccionMejora.Count; i++)
        {
        <tr>
            @*@Html.HiddenFor(x => x.LstAccionMejora[i].IdAccionMejora)*@

            @{
                if (Model.CheckBoxSeleccionado != null)
                {
                    if (Model.CheckBoxSeleccionado.Contains(Model.LstAccionMejora[i].IdAccionMejora))
                    {
                        //Html.CheckBoxFor(x => x.LstAccionMejora[i].ParaPlan, new { @checked = "checked" });
                        <td class="text-center"><input type="checkbox" name="IdAm" id="@Model.LstAccionMejora[i].IdAccionMejora" checked></td>
                    }
                    else
                    {
                        <td class="text-center"><input type="checkbox" name="IdAm" id="@Model.LstAccionMejora[i].IdAccionMejora"></td>
                    }
                }
                else
                {
                    <td class="text-center"><input type="checkbox" name="IdAm" id="@Model.LstAccionMejora[i].IdAccionMejora"></td>
                }

            }
            <td class="text-center">@Model.LstAccionMejora[i].Codigo</td>
            <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? Model.LstAccionMejora[i].DescripcionEspanol : Model.LstAccionMejora[i].DescripcionIngles)</td>
            <!--<td class="text-center">@Html.CheckBoxFor(x => x.LstAccionMejora[i].ParaPlan)</td>-->
            <td class="text-center" style="cursor:pointer">
                @*<a target="_blank" href="@Url.Action("AddEditImprovementAction", "NeoImprovementActions", new { IdAccionMejora = Model.LstAccionMejora[i].IdAccionMejora })">Editar</a>*@
                <a name="btnSeeMoreLink">
                    <i aria-hidden="true" class="fa fa-plus"></i>
                    @NeoImprovementActionsResource.VerMas
                    @Html.Hidden(Model.LstAccionMejora[i].IdAccionMejora.ToString(), Model.LstAccionMejora[i].IdAccionMejora)

                </a>

            </td>
        </tr>
        }
    </tbody>
</table>

@*<script src="/Content/vendor/jquery/jquery.min.js" type="text/javascript"></script>*@
<script type="text/javascript">
    $(document).ready(function () { 
        var ArrayChecked = localStorage.getItem('ArrayAlmacenado');
        if (ArrayChecked != null && ArrayChecked.length > 0) {
            ArrayChecked = localStorage.getItem('ArrayAlmacenado');
        } else {
            ArrayChecked = [];
        }

        $("a[name = 'btnSeeMoreLink']").on('click', function (ev) {
            
            var id = ev.toElement.children[1].name;
            $.ajax({
                type: "GET",
                url: '@Url.Action("_SeeMoreHallazgo", "NeoImprovementActions")',
                data: { IdAccionMejora: id },
                success: function (data) {
                    $('#modal-hallazgo').html(data);
                    $('#VentanaModal').modal('show');
                }
            });
        });

        $("input[type=checkbox]").on('change', function () {
            var ItemId = $(this).attr("Id");
            if (this.checked) {
                console.log($(this).attr("Id") + " - " + "AGREGADO");//Evitar Duplicados
                ArrayChecked.push(parseInt(ItemId));
            } else {
                console.log($(this).attr("Id") + " - " + "BORRADO");
                var index = ArrayChecked.indexOf(parseInt(ItemId));
                if (index > -1) {
                    ArrayChecked.splice(index, 1);
                }
            }
            localStorage.clear();
            localStorage.setItem('ArrayAlmacenado', JSON.stringify(ArrayChecked));
        });

    });

    //function AccionMejora(id, descripcion, pantalla, color) {
    //    this.Marca = marca;
    //    this.Peso = peso;
    //    this.Pantalla = pantalla;
    //    this.Color = color;
    //}




</script>