﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.NeoImprovementActions;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.NeoImprovementActions.EditHallazgoAmViewModel
@{
    Layout = null;
    ViewBag.Title = NeoImprovementActionsResource.VisualizarHallazgo;
    ViewBag.Icon = "navicon";
    ViewBag.GUID = Guid.NewGuid();
}
@section Styles{
    <style>
    </style>
}
<div id="modalAddHallazgo-@ViewBag.GUID">

    <div class="modal-header" id="modalAddHallazgoHead-@ViewBag.GUID">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="deleteMarkup()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><i class="fa fa-@ViewBag.Icon contrast">&nbsp;</i> @ViewBag.Title </h4>
        <input class="hiddenCriticidad" type="hidden" name="posicion" id="Posicion" value="@Model.pos" />
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>@NeoImprovementActionsResource.DescripcionDelHallazgo</label>

            <textarea id="taDescripcionHallazgo-@ViewBag.GUID" class="form-control" placeholder="@(NeoImprovementActionsResource.IngreseLaDescripcionAqui)" readonly> @(Model.descripcionHallazgo)</textarea>
            <br />
            <label>@NeoImprovementActionsResource.SeleccioneElNivelDeCriticidadDelHallazgo</label>
            <textarea id="IdHallazgo22" style="visibility:hidden">@(Model.idhallazgo)</textarea>
            <br />

            @foreach (var crit in Model.Criticidades)
            {
                if (crit.NombreEspanol != Model.criticidad)
                {
                    <input type="radio" name="radio_criticidad" id="criticidad1" value="@(crit.NombreEspanol)" disabled> @crit.NombreEspanol<br>
                }
                else
                {
                    <input type="radio" name="radio_criticidad" checked="checked" id="criticidad1" value="@(crit.NombreEspanol)" disabled> @crit.NombreEspanol<br>
                }
            }
            <!--
            <select class="form-control" id="lstCriticidad-@ViewBag.GUID"></select>
                -->

            <br />
            <label style="display:none">@NeoImprovementActionsResource.SeleccioneLasSedesALasqueAplicaElHallazgo</label>
            <div class="checkbox" style="display:none">
                <label>
                    <input checked disabled type="checkbox" id="cboxTodas-@ViewBag.GUID" value="todas">
                    @NeoImprovementActionsResource.Todas
                </label>
            </div>
            <select multiple class="form-control" id="lstSedes-@ViewBag.GUID" style="display:none"></select>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteMarkup()"><i class="fa fa-times"></i>@NeoImprovementActionsResource.Cerrar</button>
        @*<button type="button" class="btn btn-primary" onclick="aceptar()"><i class="fa fa-check"></i> Aceptar</button>*@
    </div>

</div>

<script id="scriptAddHallazgo-@ViewBag.GUID">
    $("select").mousedown(function (e) {
        e.preventDefault();

        var select = this;
        var scroll = select.scrollTop;

        e.target.selected = !e.target.selected;

        setTimeout(function () { select.scrollTop = scroll; }, 0);

        $(select).focus();
    }).mousemove(function (e) { e.preventDefault() });




    if ($('#cboxTodas-@ViewBag.GUID').is(":checked")) {
        $("#lstSedes-@ViewBag.GUID").prop("disabled", true);
        $("#lstSedes-@ViewBag.GUID").val([]).prop("selected", false);
    }

    $('#cboxTodas-@ViewBag.GUID').change(function () {
        if ($(this).is(":checked")) {
            $("#lstSedes-@ViewBag.GUID").prop("disabled", true);
            $("#lstSedes-@ViewBag.GUID").val([]).prop("selected", false);
        } else {
            $("#lstSedes-@ViewBag.GUID").prop("disabled", false);
        }
    });

    function deleteMarkup() {
        $('.modal.in').modal('hide');
        $("#scriptAddHallazgo-@ViewBag.GUID").remove();
        $("#modalAddHallazgo-@ViewBag.GUID").remove();
    }

    function aceptar() {
        // check descripción
        if ($("#taDescripcionHallazgo-@ViewBag.GUID").val().length == 0) {
            alert("@(NeoImprovementActionsResource.DebeIngresarUnaDescripcionParaPoderContinuar)");
            return;
        }

        // check sedes
        var checkedAtLeastOneSede = false;
        $('#lstSedes-@ViewBag.GUID > option:selected').each(function () {
            checkedAtLeastOneSede = true;
        });

        if (!$("#cboxTodas-@ViewBag.GUID").is(":checked") && !checkedAtLeastOneSede) {
            alert("@(NeoImprovementActionsResource.DebeSeleccionarAlMenosUnaSedeParaPoderContinuar)");
            return;
        }

        // añadir hallazgos
        if ($("#cboxTodas-@ViewBag.GUID").is(":checked")) {
            addHallazgo($("#taDescripcionHallazgo-@ViewBag.GUID").val(), $("input[name=radio_criticidad]:checked").val(),$('#Posicion').val() );
        } else {
            addHallazgo2($('#lstSedes-@ViewBag.GUID > option:selected'), $("#taDescripcionHallazgo-@ViewBag.GUID").val(), $("input[name=radio_criticidad]:checked").val());
            @*$('#lstSedes-@ViewBag.GUID > option:selected').each(function () {
                addHallazgo($(this).val(), $("#taDescripcionHallazgo-@ViewBag.GUID").val());
            });*@
        }

        deleteMarkup();
    }

    function addHallazgo(descripcion, criticidad,pos) {

        var idHallazgo = $('#IdHallazgo22').val();


        $.ajax({
            type: "POST",
            url: '@Url.Action("updateHallazgo", "NeoImprovementActions")',
            data: { IdHallazgo: idHallazgo, descripcion: descripcion, criticidad: criticidad },
            success: function (data) {
                $.LoadingOverlay("show");
                window.location='@Url.Action("LstAccionesMejora", "NeoImprovementActions")';
               // alertify.message('Los datos Fueron Actualizados');

            }
        });

    }


    function addHallazgo2(sede, descripcion, criticidad) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("updateHallazgo", "NeoImprovementActions")',
            data: { IdHallazgo: codigo, descripcion: descripcion, criticidad: criticidad },
            success: function (data) {
                window.location='@Url.Action("AddEditImprovementAction", "NeoImprovementActions")';
              //  alertify.message('Los datos Fueron Actualizados');
            }
        });
    }
</script>
