﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.NeoImprovementActions;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.NeoImprovementActions.AddEditImprovementActionViewModel
@{
    Layout = null;
    ViewBag.Title = NeoImprovementActionsResource.VerMas;
    ViewBag.Icon = "navicon";
    ViewBag.GUID = Guid.NewGuid();
}

<div id="modalAddHallazgo-@ViewBag.GUID">
    <div class="modal-header" id="modalAddHallazgoHead-@ViewBag.GUID">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="deleteMarkup()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><i class="fa fa-@ViewBag.Icon contrast">&nbsp;</i> @ViewBag.Title </h4>       
    </div>

    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>@NeoImprovementActionsResource.Descripcion</label>
                        <table>
                            <tr>
                                <td><span id="spanModelDescription"> @Model.Descripcion</span>
                                @Html.TextAreaFor(x => x.Descripcion, new { @id = "descripcionAccionMejora", @class = "form-control", @required = "true", @style = "resize:none;display:none;" }) </td>
                                <td class="text-center" id="editHallazgo" style="padding-left:15px;"><a onclick="editDescription.call(this)"><i aria-hidden="true" class="fa fa-pencil"></i></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-bordered">
                    <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
                        <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @NeoImprovementActionsResource.ListaDeHallazgos</h3>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="panel-body">

                            <div class="row">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr style="background-color: #FF1901;">                                           
                                            <th class="text-center " width="10%" style="color:white;">Outcome</th>
                                            <th class="text-center " width="20%" style="color:white;">@NeoImprovementActionsResource.Curso</th>
                                            <th class="text-center " width="40%" style="color:white;">@NeoImprovementActionsResource.Descripcion</th>
                                            <th class="text-center " width="10%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.HiddenFor(x=> x.IdAccionMejora)

                                        @foreach (var item in Model.hallazgosRelacionados)
                                        {
                                            <tr class="text-center " @if (item.IdCriticidad == 1) { @Html.Raw(" style=\" color: red;\" ")}>
                                                <td class="text-center ">@item.Comision.Codigo - @item.Outcome.Nombre</td>
                                                <td class="text-center ">
                                                    @if (item.IdCurso.HasValue)
                                                    {@item.Curso.NombreEspanol;
                                                    }
                                                </td>
                                                <td class="text-center">                                                     
                                                    @Html.TextAreaFor(model => model.hallazgosRelacionados.Where(x => x.IdHallazgo == item.IdHallazgo).FirstOrDefault().DescripcionEspanol, new {@id="EditDescription" , @style= "display: none;" }) 
                                                    <span id="spanDescription">@item.DescripcionEspanol</span></td>
                                                <td class="text-center" id="editHallazgo" ><a onclick="editHallazgo.call(this)"><i aria-hidden="true" class="fa fa-pencil"></i></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteMarkup()"><i class="fa fa-times"></i> @NeoImprovementActionsResource.Cerrar</button>
        <button type="button" class="btn btn-primary" id="btnAceptar" onclick="aceptar()" value="Aceptar"><i class="fa fa-check"></i>@NeoImprovementActionsResource.Aceptar</button>

    </div>
</div>


<script id="scriptAddHallazgo-@ViewBag.GUID">

     function deleteMarkup() {
        $('.modal.in').modal('hide');
        $("#scriptAddHallazgo-@ViewBag.GUID").remove();
        $("#modalAddHallazgo-@ViewBag.GUID").remove();
    }

     function aceptar() {
        
             var descripcionAccionMejora = $('#descripcionAccionMejora').val();             
             var body = [];
             for (var i = 0; i < $('textarea#EditDescription').length; i++) {
                 body.push($('textarea#EditDescription')[i].value)
             }
             var idAccionMejora = $('#IdAccionMejora').val();

             $.ajax({
                type: "POST",
                url: '@Url.Action("_SeeMoreHallazgo", "NeoImprovementActions")',
                data: { descriptionAccionMejora: descripcionAccionMejora, idAccionMejora: idAccionMejora, body: body },
                success: function () {
                    $.LoadingOverlay("show");
                    window.location = '@Url.Action("LstAccionesParaPlan", "NeoImprovementActions")';
                }
             });
             
        deleteMarkup();
     }
     $(document).ready(function () {
         $('tbody tr td div.form-group').css("display", "none")
         $('tbody tr td div.form-group label.col-sm-3.control-label').css("display", "none")        
     })
     function editHallazgo(ev) {
        
         $(this).parent().prev().find("span#spanDescription").css("display", "none");
         $(this).parent().prev().find("textarea#EditDescription").css("display", "")
         $(this).parent().prev().find("textarea#EditDescription").css("width", "100%")
         $(this).parent().prev().find("textarea#EditDescription").css("height", "70px")

     }     
     function editDescription(ev) {
         $(this).parent().prev().find("span#spanModelDescription").css("display", "none");
         $(this).parent().prev().find("textarea#descripcionAccionMejora").css("display", "block"); 
         $(this).parent().prev().find("textarea#descripcionAccionMejora").css("width", "590px")
         $(this).parent().prev().find("textarea#descripcionAccionMejora").css("height", "70px")
     }
</script>


