﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.NeoImprovementActions;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.NeoImprovementActions.AccionesMejoraViewModel
@{
    Layout = null;
    ViewBag.Title = NeoImprovementActionsResource.AccionesDeMejora;
    ViewBag.Icon = "navicon";
    ViewBag.GUID = Guid.NewGuid();
}
@section Styles{
    <style>
    </style>
}
<div id="modalAddHallazgo-@ViewBag.GUID">
    <div class="modal-header" id="modalAddHallazgoHead-@ViewBag.GUID">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h2 class="modal-title" align="center"> @ViewBag.Title </h2>
        <input class="hiddenCriticidad" type="hidden" name="posicion" id="Posicion" value="" />
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div>
                <h3 class="modal-title">@NeoImprovementActionsResource.DescripcionDelHallazgo</h3>
            </div>
            <div>
              <h5><label>@Model.descripcionHallazgo</label> </h5>
            </div>
            <div> 
                <h3 class="modal-title">@NeoImprovementActionsResource.AccionesDeMejora</h3>
            </div>
            <div>
                &nbsp;
            </div>
            <div>
                <table class="table table-hover table-striped" id="TableDoc">
                    <thead>
                        <tr style="background-color: #ff1901; color: white;">

                            <th class="col-md-1 text-center" style="color:white;">@NeoImprovementActionsResource.CodigoAccionMejora</th>
                            <th class="col-md-1 text-center" style="color:white;">@NeoImprovementActionsResource.DescripcionAccionMejora</th>

                        </tr>
                    </thead>
                    <tbody id="tbl_alumnos">

                        @if (Model.Amejora.Any())
                        {
                            for (int i = 0; i < Model.Amejora.Count; i++)
                            {
                                var Amejora = Model.Amejora[i];
                                <tr>
                                    <td align="center">@Amejora.Codigo-@Amejora.Identificador</td>
                                    <td align="center">@Amejora.DescripcionEspanol</td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>

            </div>
           
        </div>



    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteMarkup()"><i class="fa fa-times"></i>@NeoImprovementActionsResource.Cerrar</button>
   </div>

</div>