﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.NeoImprovementActions;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.NeoImprovementActions.AddEditImprovementActionViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);

    if (Model.IdAccionMejora == 0 || Model.IdAccionMejora.HasValue == false)
    {
        ViewBag.Title = AddEditImprovementActionResource.RegisterPageTitle;
    }
    else
    {
        ViewBag.Title = AddEditImprovementActionResource.UpdatePageTitle;
    }


    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


<link href="~/Content/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.css" rel="stylesheet" />

@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "ImprovementPlans")">@AddEditImprovementActionResource.BreadcrumbsLevel2</a></li>
}
<style>
    /*#tableMain {
        width: 100%;
    }*/

    #headhallazgos, #tablahallazgos, #headhallazgos tr, #tablahallazgos tr, #headhallazgos tr th, #tablahallazgos tr td {
        display: block;
    }

    #headhallazgos tr:after, #tablahallazgos tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    #tablahallazgos td#celda20, #headhallazgos th#celda20 {
        width: 20%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda50 {
        width: 45%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda20 {
        width: 20%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda15 {
        width: 15%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda10 {
        width: 10%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .formatWidth {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .celda5 {
        width: 5%;
        float: left;
        text-align: center;
        vertical-align: middle;
        height: 39px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .btnGuardar {
        float: right;
        margin-bottom: 15px;
        margin-right: 30px;
    }

    .marginDescription {
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .textArea {
        height: 75px !important;
    }

    strong, b {
        font-weight: bold;
    }

    #loading {
        display: none;
        background-color: #ffffff !important;
    }

    #loading p {
        color: black;
    }

    .load {
        padding: 250px;
    }

    h4 {
        display: inline;
    }
    .a + .b {
  margin-top: 1em;
}
</style>
<div class="row">

    <form method="post">
        <div class="panel panel-bordered">
            <h5 class="panel-title"><i class="fa fa-edit" aria-hidden="false"></i> @NeoImprovementActionsResource.RegistroDeAccionDeMejora</h5>
            <div class="row marginDescription">
                <div>
                    <h4>@AddEditImprovementActionResource.ImprovementActionCode</h4> <h4 id="Codigo">-</h4>
                </div>
                <div>
                    <h4>@AddEditImprovementActionResource.ImprovementActionDescription</h4>
                </div>
                <div role="tabpanel" class="a">
                    <!--Nav Tabs-->
                    <ul id="nested-tabs" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">@AddEditImprovementActionResource.Spanish</a></li>
                        <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab" id="TapIngles">@AddEditImprovementActionResource.English</a></li>
                    </ul>
                    <!--Tab Panels -->
                    <div id="panels" class="tab-content">

                        <!-- Tab 1 Panel -->
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            @Html.TextAreaFor(x => x.ComentarioEspanol, new { @class = "form-control ComentaryHeight textArea", @required = "true", @id = "ComentarioEspañol" })
                        </div><!-- tabpanel Close -->
                        <!-- Tab 2 Panel -->
                        <div role="tabpanel" class="tab-pane ComentaryHeight" id="tab2">
                            @Html.TextAreaFor(x => x.ComentarioIngles, new { @class = "form-control ComentaryHeight textArea", @required = "true", @id = "ComentarioIngles" })
                        </div><!-- tabpanel Close -->

                    </div><!-- panels close -->
                </div><!--tabpanel close-->                            
                <div class="b">
                    <div class="form-group" style="position: relative; display: block;" id="chekprimos" >
                        <input type="checkbox" class="form-check-input" id="chkPrimos" checked>
                        <label class="form-check-label" for="exampleCheck1" data-toggle="tooltip" title="@(NeoImprovementActionsResource.RelacionaAutomaticamenteAccionCreadaConHallazgosPrimos)">@NeoImprovementActionsResource.RelacionConHallazgosPrimos </label>
                    </div>
                </div>
                <div >
                    <div class="col btnGuardar">
                        <button id="btnGenerar" type="button" class="btn btn-primary">@AddEditImprovementActionResource.Save</button>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="panel panel-bordered">
            <h2 class="panel-title">
                <i class="fa fa-file-text-o" aria-hidden="false"></i> @AddEditImprovementActionResource.FindingsList
            </h2>
            <div class="panel-body">
                @Html.HiddenFor(x => x.IdAccionMejora)
                @Html.HiddenFor(x => x.lstChecks)
                @Html.HiddenFor(x => x.IdSubModalidadPeriodoAcademico)
                @Html.HiddenFor(x => x.Anio)
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="row">
                        <div class="form-group" data-toggle="tooltip" title="@(NeoImprovementActionsResource.ListaPeriodosActivosEnElAnio)">
                            @Html.LabelFor(x => x.IdPeriodoAcademico, AddEditImprovementActionResource.AcademicPeriod, new { @class = "label-survey" })
                            @Html.DropDownListFor(x => x.IdPeriodoAcademico, Model.LstPeriodoAcademico, new { @class = "form-control", @id = "PeriodoAcademico", @Name = "IdPeriodo", @Style = "width: 100%", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" Id="filtroArea" data-toggle="tooltip" title="@(NeoImprovementActionsResource.ListaAreaDeLaEscuela)">
                            @Html.LabelFor(x => x.IdArea, AddEditImprovementActionResource.Area, new { @class = "label-survey" })
                            @Html.DropDownListFor(x => x.IdArea, Model.LstArea, new { @class = "form-control js-example-basic-multiple", @id = "Area", @Name = "Area[]", @Multiple = "multiple", @Style = "width: 100%" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" data-toggle="tooltip" title="@(NeoImprovementActionsResource.ComisionesPertenecienteDeLaEscuela)">
                            @Html.LabelFor(x => x.IdComision, AddEditImprovementActionResource.Comission, new { @class = "label-survey" })
                            @Html.DropDownListFor(x => x.IdComision, Model.LstComision, new { @class = "form-control", @id = "comision", @Name = "COM", @Style = "width: 100%" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" data-toggle="tooltip" title="@(NeoImprovementActionsResource.ListaOutcomesPertenecientesAUnaComision)">
                            @Html.LabelFor(x => x.IdOutcome, AddEditImprovementActionResource.Outcome, new { @class = "label-survey" })
                            @if(Model.LstOutcome.First().Text== "[- Todos -]")
                            {
                                Model.LstOutcome.First().Text = "[- " + LayoutResource.Todos + " -]";
                            }
                            @Html.DropDownListFor(x => x.IdOutcome, Model.LstOutcome, new { @class = "form-control", @id = "outcome", @Name = "OC", @Style = "width: 100%" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" style="position: relative; display: block;">
                            <input type="checkbox" class="form-check-input" id="chkAM" checked>
                            <label class="form-check-label" for="exampleCheck1" data-toggle="tooltip" title="@(NeoImprovementActionsResource.SeVisualizaraSoloHallazgosNoRelacionadosAUnPlan)" >@AddEditImprovementActionResource.NoRelatedFindingsOnly</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" style="position: relative; display: block;">
                            <input type="checkbox" class="form-check-input" id="chkCritico">
                            <label class="form-check-label" for="exampleCheck1" data-toggle="tooltip" title="@(NeoImprovementActionsResource.SoloHallazgosTipoCritico)">@AddEditImprovementActionResource.CriticalFindings</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-default" id="btnLimpiar" data-dismiss="modal">@AddEditImprovementActionResource.Clear</button>
                            <button type="button" class="btn btn-primary" onclick="filtrarTabla()">@AddEditImprovementActionResource.Search</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <div class="container">
                        <h2>@AddEditImprovementActionResource.AvailableFindingsToBeAssociated</h2>
                        <h4>@AddEditImprovementActionResource.SelectedFindingsCount</h4><h4 id="NumSele">0</h4>
                        <label class="form-check-label" id="CodigoPas" hidden>-</label>
                        <ul class="nav nav-pills" style="margin-bottom: 20px">
                            @for (var item = 0; item < Model.LstInstrumentos.Count; item++)
                            {
                                string descripcion = Model.LstInstrumentos[item].DescripcionEspanol;
                                
                                if (language == ConstantHelpers.CULTURE.ESPANOL)
                                {
                                    descripcion = Model.LstInstrumentos[item].DescripcionEspanol;
                                }
                                else if (language == ConstantHelpers.CULTURE.INGLES)
                                {
                                    descripcion = Model.LstInstrumentos[item].DescripcionIngles;
                                }

                                <li data-toggle="tooltip" title="@(NeoImprovementActionsResource.HallazgosDe) @(descripcion)")>
                                    <a href="#@(Model.LstInstrumentos[item].IdInstrumento)" data-toggle="tab">@Model.LstInstrumentos[item].Acronimo</a>
                                </li>
                            }
                        </ul>
                        <div class="tab-content clearfix">
                            @for (var item = 0; item < Model.LstInstrumentos.Count; item++)
                            {
                                <div class="table-responsive tab-pane" id="@(Model.LstInstrumentos[item].IdInstrumento)">
                                    <table id="table@(Model.LstInstrumentos[item].Acronimo)" class="table table-striped table-bordered" cellspacing="0" style="width: 100%"></table>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <input type="hidden" name="check" value="0">
    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="VentanaModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-hallazgo">

                </div>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="VentanaModalAcccionMejora" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-AccionMejora">

                </div>
            </div>
        </div>

    </div>
</div>


<div class="container text-center load" id="loading">
    <img src="@Url.Content("~/Areas/Professor/Content/assets/images/ajax-loader.gif")" width="100">
    @*<img src="@Url.Content("https://zippy.gfycat.com/SkinnySeveralAsianlion.gif")" width="100">*@
    <p>@NeoImprovementActionsResource.Cargando...</p>
</div>
@section scripts {
    <script src="~/Content/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    @Html.Content("js/registraracciones.js", ConstantHelpers.AREAS.PROFESSOR)
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js" rel="stylesheet"></script>*@
    <script>
        var IdAreasValoresIniciales = $('select[name="Area[]"]').val()
        console.log(IdAreasValoresIniciales)
        var comisionInicial = $('select[name="COM"]').val()
        var instrumento = 1;
        var ArrayChecked = new Array();
        var arrayTable = new Array();
        $(document).ready(function () {
              
            $.site.menubar.fold();
            $('.js-example-basic-multiple').select2();
            $("ul.nav-pills li a").each(function(){
                
                var tabName = null
                if (performance.navigation.type == 1){
                    tabName = window.localStorage.getItem('tabName');
                }else{
                    window.localStorage.removeItem('tabName')
                    window.localStorage.removeItem('AlmComision')
                    window.localStorage.removeItem('AlmOutm')
                    window.localStorage.removeItem('AlmAreas')
                }
                    
                if(tabName === null)
                {
                    if($(this).text() === 'IFC')
                    {
                        $(this).parent().addClass("active")
                        $("#table"+$(this).text()+"_wrapper").parent().addClass("active")
                        $('#chkPrimos').prop('checked', false)
                        $("#chekprimos").addClass("hidden")
                        //console.log("#table"+$(this).text()+"_wrapper")
                    }
                }else
                {
                    if($(this).text() === tabName)
                    {
                        $(this).parent().addClass("active")
                        $("#table"+$(this).text()+"_wrapper").parent().addClass("active")
                        //console.log("#table"+$(this).text()+"_wrapper")
                    }
                    if(tabName !== 'ARD')
                    {
                        $('#chkPrimos').prop('checked', true)
                        if(tabName === 'GRA' || tabName === 'PPP')
                        {
                            $("#filtroArea").addClass("hidden")
                        }
                    }else
                    {
                        $('#chkPrimos').prop('checked', false)
                        $("#chekprimos").addClass("hidden")
                    }
                }
            })
            $("ul.nav-pills li a").on('shown.bs.tab', function (e) {
                
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust().responsive.recalc();
                var target = $(e.target).text() // activated tab
                window.localStorage.removeItem('tabName')
                window.localStorage.setItem('tabName', target);
                if (target === 'GRA' || target === 'PPP'|| target === 'RC'|| target === 'RV') {
                    
                    $('#chkPrimos').prop('checked', true)
                    $("#chekprimos").removeClass("hidden")
                }else{
                   
                    $('#chkPrimos').prop('checked', false)
                    $("#chekprimos").addClass("hidden")
                }
                if (target === 'GRA' || target === 'PPP') {
                    $("#filtroArea").addClass("hidden")
                    limpiarCampos(IdAreasValoresIniciales,@Model.IdPeriodoAcademico)
                   var $item = $("#Area").select2();
                   $item.val("").trigger("change");
                   filtrarTabla()
                }
                else {
                    $("#filtroArea").removeClass("hidden")
                    limpiarCampos(IdAreasValoresIniciales,@Model.IdPeriodoAcademico)
                }
            });
            var ajaxhallazgos = null;
            var pagina = 1;
            var tienecurso = 2;
            
        });//FIN READY
        var ModalidadId = @Session.GetModalidadId();
        
        if(localStorage.getItem('Modalidad') == null)
        {
            window.localStorage.setItem('Modalidad',ModalidadId);
        }else
        {
            if(localStorage.getItem('Modalidad') != ModalidadId)
            {   
                window.localStorage.setItem('Modalidad',ModalidadId)
                window.localStorage.removeItem('tabName')
                window.localStorage.removeItem('AlmComision')
                window.localStorage.removeItem('AlmOutm')
                window.localStorage.removeItem('AlmAreas')
            }

        }
        CargarTabla('@Url.Action("GetImprovementAction", "Json")',@Session.GetModalidadId())
        var mapBusqueda = new Map();
        mapBusqueda.set('IdPeriodo', $('select[name="IdPeriodo"]').children()[0].value);
        mapBusqueda.set('Comisión', $('select[name="COM"]').children()[0].value);
        mapBusqueda.set('SinAm', 0);
        var AlmAreasload = JSON.parse(localStorage.getItem("AlmAreas"))
        var AlmComisionload =localStorage.getItem("AlmComision");
        if(AlmAreasload !== null && AlmComisionload !== null)
        {
            
            var $item2 = $("#Area").select2();
            $item2.val(AlmAreasload).trigger("change");
            var combo = document.getElementById('comision')
            var cantidad = combo.length;
            for (i = 0; i < cantidad; i++) {
                if(combo[i].value== AlmComisionload) {
                    combo[i].selected = true;
                }
            }
        /*var AlmOutmload =localStorage.getItem("AlmOutm");
        var out = document.getElementById('outcome')
        var cant = out.length;
        for (i = 0; i < cant; i++) {
            if(out[i].value== AlmOutmload) {
                out[i].selected = true;
            }
        }*/
        filtrarMultiople();
        mapBusqueda.set('Comisión',AlmComisionload);
        /* mapBusqueda.set('Outcome', AlmOutmload);*/
        }
        filtrarTabla();
        $('select[name="IdPeriodo"]').change(function () {
            var mySelect = $(this);
            if (mySelect.val() != null) {
                mapBusqueda.set('IdPeriodo', mySelect.val());
            } else
                mapBusqueda.set('IdPeriodo', "ninguno");
            $.ajax({
                url: '@Url.Action("GetComision", "Json")',
                type: 'GET',
                data: { PeriodoAca: mySelect.val()},
                async: false,
                dataType: "json",
                success: function (result) {
                    $('#comision').empty();
                    $.each(result, function (i, r) {
                        $('#comision').append('<option value="' + r.Value + '">' + r.Text + '</option>');
                    });
                }
            });
            var mySelectCOM = $('select[name="COM"]').val();
            //console.log(mySelect.val())
            $.ajax({
                url: '@Url.Action("GetOutcome", "Json")',
                type: 'GET',
                data: { Com: mySelectCOM , PeriodoAca: mySelect.val()},
                async: false,
                dataType: "json",
                success: function (result) {
                    $('#outcome').empty()
                    $('#outcome').append('<option value="0" selected>@Filtros.Todos</option>');
                    $.each(result, function (i, r) {
                        $('#outcome').append('<option value="' + r.Value + '">' + r.Text + '</option>');
                    });
                }
            });
           mapBusqueda.set('Comisión', mySelectCOM);
           mapBusqueda.set('Outcome', "");
        });
        $('select[name="Area[]"]').change(function () {
            var mySelect = $(this);
            if (mySelect.val() != null) {
                if (mySelect.val().length > 1) {
                    var regex = "";
                    var array = mySelect.val();
                    //console.log(array);
                    array.forEach(function (value, i) {
                        //console.log(value)
                        if (i == 0)
                            regex = regex.concat("(?=.*" + value + ")");
                        else
                            regex = regex.concat("|" + "(?=.*" + value + ")");
                    })
                    //console.log("El valor de regx es:" + regex)
                    mapBusqueda.set('Área', regex)
                }
                else {
                    mapBusqueda.set('Área', mySelect.val());
                }
            } else
                mapBusqueda.set('Área', "");
        });
        $('select[name="COM"]').change(function () {
            var mySelect = $(this);
            mapBusqueda.set('Comisión', mySelect.val());
            var mySelectPa = $('select[name="IdPeriodo"]').val();
            mapBusqueda.set('Outcome', "");
            //console.log(mySelect.val())
            $.ajax({
                url: '@Url.Action("GetOutcome", "Json")',
                type: 'GET',
                data: { Com: mySelect.val(), PeriodoAca: mySelectPa},
                async: false,
                dataType: "json",
                success: function (result) {
                    $('#outcome').empty()
                    $('#outcome').append('<option value="0" selected>@Filtros.Todos</option>');
                    $.each(result, function (i, r) {
                        $('#outcome').append('<option value="' + r.Value + '">' + r.Text + '</option>');
                    });
                }
            });
        });
        $('select[name="OC"]').change(function () {
            var mySelect = $(this);
            if (mySelect.val() !== '0')
                mapBusqueda.set('Outcome', mySelect.val());
            else
                mapBusqueda.set('Outcome', '');
        });
        $("#chkAM").on("change", function () {

            if (this.value === "true") {
                mapBusqueda.set('SinAm', 0);

            } else {
                mapBusqueda.set('SinAm', '');
            }
        })
        $("#chkCritico").on("change", function () {
            if (this.value === "true") {
                mapBusqueda.set('IdCriticidad', 1);

            } else {
                mapBusqueda.set('IdCriticidad', '');
            }
        })
        function ActualizarTraduccion() {
            var comentario = $('#ComentarioEspañol').val();
            //console.log(comentario)
            $.ajax({
                //  type: "POST",
                url: '@Url.Action("TraduccionActualizar", "Json")',
                data: { textoatraducir: comentario },
                dataType: "json",
                success: function (data) {
                    $('#ComentarioIngles').show();
                    $('#ComentarioIngles').val(data["Text"]);
                    $("#btnGenerar").css("pointer-events", "visible");
                    $("#btnGenerar").disabled = true;
                },
                beforeSend: function (xhr, opts) {
                    if (comentario === "") {
                        xhr.abort();
                    }
                    $('#ComentarioIngles').val('@AddEditImprovementActionResource.Translating');
                    $("#btnGenerar").css("pointer-events", "none");
                    $("#btnGenerar").disabled = false;
                }
            });
        }
        function AddRecord(idHallazgo) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("_EditHallazgo", "NeoImprovementActions")',
                data: {idHallazgo: idHallazgo },
                success: function (data) {
                    $('#modal-hallazgo').html(data);
                    $('#VentanaModal').modal('show');
                }
            });
        }
        function ViewDetalAM(hallazgoID) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AccionesMejora", "NeoImprovementActions")',
                data: { idHallazgo: hallazgoID },
                success: function (data) {
                    $('#modal-AccionMejora').html(data);
                    $('#VentanaModalAcccionMejora').modal('show');
                }
            });
        }
        $("#btnLimpiar").on("click", function (){
           
            var $item1 = document.getElementById('PeriodoAcademico');
            document.getElementById('PeriodoAcademico').options[0].selected = true;
            var $item2 = $("#Area").select2();
            $item2.val(IdAreasValoresIniciales).trigger("change");
            var item3 = document.getElementById('outcome');
            item3.value = 0;
            document.getElementById('comision').options[0].selected = true;
            $('#chkAM').prop('checked', true)
            $('#chkCritico').prop('checked', false)
            ////console.log("segundo", document.getElementById('chkAM'))
            //console.log(ArrayChecked);
            QuitChecks(ArrayChecked);
            ArrayChecked = [];
            //console.log( $("#Codigo").val())
            $("#Codigo").html('-')
            $("#NumSele").text('0');
            mapBusqueda.set('Outcome', '');
            mapBusqueda.set('Comisión', comisionInicial);
            mapBusqueda.set('IdPeriodo', @Model.IdPeriodoAcademico);
            mapBusqueda.set('Área', '');
            mapBusqueda.set('AccionMejora', '');
            mapBusqueda.set('IdCriticidad', '');
            filtrarTabla();
        });
        $('#DescripcionEdit').on('change', function () {
            // //console.log($('#DescripcionEdit').val());
            $('#Descripcion').val($('#DescripcionEdit').val());
        });
        $(document).on('change', 'input[type="checkbox"]', function (e) {
            var ItemId = $(this).attr("id");
            if(ItemId !== "chkAM")
            {
                if(ItemId !== "chkCritico")
                {
                    if(ItemId !== "chkPrimos")
                    {
                        if (this.checked) {
                            
                            ArrayChecked.push(ItemId);
                            var a = ArrayChecked.join(',');
                           
                            $.ajax({
                                url: '@Url.Action("codigo", "NeoImprovementActions")',
                                type: 'POST',
                                data: { check: a },
                                async: true,
                                success: function (data) {
                                    $("#Codigo").text(data);
                                    $("#CodigoPas").text(data);
                                }
                            });
                            $("#NumSele").text(ArrayChecked.length);
                        } else {
                            ////console.log($(this).attr("id") + " - " + "BORRADO");
                            var index = ArrayChecked.indexOf($(this).attr("id"));
                            if (index > -1) {
                                ArrayChecked.splice(index, 1);
                            }
                            var a = ArrayChecked.join(',');
                            
                            $.ajax({
                                url: '@Url.Action("codigo", "NeoImprovementActions")',
                                type: 'POST',
                                data: { check: a },
                                async: true,
                                success: function (data) {

                                    $("#Codigo").text(data);
                                    $("#CodigoPas").text(data);
                                }
                            });
                            $("#NumSele").text(ArrayChecked.length);
                        }
                    }
                    ////console.log(ArrayChecked);
                }
            }
        });
        $("#btnGenerar").on("click", function () {
        
            var a = ArrayChecked.join(',')
            var DescripcionEspanol = $("#ComentarioEspañol").val();
            var DescripcionIngles = $("#ComentarioIngles").val();
            var codigo = $("#CodigoPas").text();
            var primos = "";
            if( $('#chkPrimos').prop('checked') ) {
                primos = "true";
            }else{
                primos = "false";
            }
            var AlmAreas = [];
            AlmAreas = $('select[name="Area[]"]').val();
            var AlmComision =  $('select[name="COM"]').val();
            var AlmOutm =  $('select[name="OC"]').val();
            localStorage.setItem("AlmComision",AlmComision);
            localStorage.setItem("AlmOutm",AlmOutm);
            localStorage.setItem("AlmAreas",JSON.stringify(AlmAreas));
            //console.log("Valor a Guardar ",AlmOutm);
            //console.log("Valor a Guardar ",AlmComision);
            //console.log("Valor a Guardar ",JSON.stringify(AlmAreas));
            if(DescripcionEspanol!="" || DescripcionIngles!=""){
                $.ajax({
                    url: '@Url.Action("AddEditImprovementAction", "NeoImprovementActions")',
                    type: 'POST',
                    data: { Codigo: codigo,check : a, ComentarioEspanol: DescripcionEspanol, ComentarioIngles: DescripcionIngles, PrimoStatus: primos},
                    success: function (data) {
                        if(data == "True")
                        {
                            /*document.getElementById('ComentarioEspañol').value='';
                            document.getElementById('ComentarioIngles').value='';
                            Limpiartodo();*/
                            swal({
                                title: 'Exitoso',
                                text: '@AddEditImprovementActionResource.Success',
                                type: 'success',
                                //confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                            });
                            sleep(2000);
                            window.location.reload(true);
                        }else if( data == "Error")
                        {
                            AddEditImprovementActionResource.ErrorSavingDataJSC
                            swal({
                                title: 'Error',
                                text: '@AddEditImprovementActionResource.ErrorSavingDataJSC',
                                type: 'error',
                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                            });
                        }else if(data == "SeleccionarHall"){
                            swal({
                                title: 'Error',
                                text: '@AddEditImprovementActionResource.YouMustSelectAFinding',
                                type: 'error',
                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                            });
                        }
                    },beforeSend: function () {
                        $('#loading').show();
                    },
                    complete: function () {
                        $('#loading').hide();
                    }
                })
            }
            else{
                swal({
                    title: 'Error',
                    text: '@AddEditImprovementActionResource.NoTextoJS',
                    type: 'error',
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                });
            }
        })
    </script>

}
