﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.NeoImprovementActions;
@{
    ViewBag.Title = NeoImprovementActionsResource.AccionesDeMejora;
    ViewBag.Icon = "graduation-cap";
    var EscuelaId = Session.GetEscuelaId();
}

@section Breadcrumbs {
}

<div class="content">
    <div class="row">
        <div class="col-md-6">
            <a href="@Url.Action("AddEditImprovementAction","NeoImprovementActions")" role="button">
                <div class="panel" style="text-align: center;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header">
                                <h2><i class="fa fa-hand-o-up"></i> </h2>
                                <h3 class="title">@NeoImprovementActionsResource.RegistroManual</h3>
                                <p class="category" style="height:40px;">@NeoImprovementActionsResource.RegistreAccionDeMejoraDefinaDescripcionAsigneHallazgos</p>
                            </div>
                            <div class="content">
                                <div style="text-align: center;">
                                    <i class="pe-7s-pen" style="font-size: 45px; text-align: center; line-height: 85px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6">
            <a href="@Url.Action("LstAccionesMejora","NeoImprovementActions")" role="button">
                <div class="panel" style="text-align: center;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header">
                                <h2><i class="fa fa-tasks"></i> </h2>
                                <h3 class="title">@NeoImprovementActionsResource.Mantenimiento</h3>
                                <p class="category" style="height:40px;">@NeoImprovementActionsResource.PresenteFuncionalidadPermiteDarMantenimientoDeAccionesDeMejora</p>
                            </div>
                            <div class="content">
                                <div style="text-align: center;">
                                    <i class="pe-7s-pen" style="font-size: 45px; text-align: center; line-height: 85px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

       


       <div class="col-md-6">
           <a role="button">
               <div class="panel" style="text-align: center;">
                   <div class="row">
                       <div class="col-md-12">
                           <button type="button" class="btn btn-primary" id="btnNotificar"><i class="fa fa-paper-plane"></i>@NeoImprovementActionsResource.Notificar</button>
                       </div>
                   </div>
               </div>
               </a>
       </div>

        </div>
    @if (EscuelaId == 1)
    {
        <div class="row">
            <div class="col-md-6">
                <a href="@Url.Action("LstAccionesParaPlan","NeoImprovementActions")" role="button">
                    <div class="panel" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="header">
                                    <h2><i class="fa fa-download"></i> </h2>
                                    <h3 class="title">@NeoImprovementActionsResource.PlanesDeMejora</h3>
                                    <p class="category" style="height:40px;">@NeoImprovementActionsResource.GenerePlanesDeMejoraPorCarreraYComision</p>
                                </div>
                                <div class="content">
                                    <div style="text-align: center;">
                                        <i class="pe-7s-pen" style="font-size: 45px; text-align: center; line-height: 85px;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>



        </div>
    }

</div>


@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
            
        });


        function EnviarEmail() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SendEmail", "NeoImprovementActions")',
                dataType: 'json',
                type: 'POST',
                success: function (data) {

                    alert(data);

                }
            });
        }


        $("#btnNotificar").on("click", function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ObtPlan", "NeoImprovementActions")',
                dataType: 'json',
                type: 'POST',
                success: function (data) {

                    if (data == 'ExistenPlanes') {
                        alert(data);

                    }

                    else
                        alert(data);

                }
            });







            if (idplan = $('#idplan').val() == null) {
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode("ASD"))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode("ASD"))',
                    icon: 'error',
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: 'Aceptar'
                });
                @*alert("@ProfessorResource.DebeIngresarApreciacionDelegado");*@

                return false;

            }
        });


    </script>
}

