﻿@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.NeoImprovementActions.AddEditImprovementActionViewModel

@if (Model.LstHallazgos.Count > Model.cantidadAsaltear)
{

        for (int i = 0; i < Model.LstHallazgos.Count; i++)
        {
            if (Model.LstHallazgos[i].IdHallazgo == 0)
            {
                continue;
            }

            @Html.HiddenFor(x=>x.LstHallazgos[i].IdHallazgo)

            <tr @if (Model.LstHallazgos[i].IdCriticidad == 1)
            { @Html.Raw(" style=\" color: red;\" ")      }>
                <td width="10%" class="text-center"> @Model.LstHallazgos[i].Criticidad.NombreEspanol</td>
                <td width="15%" class="text-center">@Model.LstHallazgos[i].NivelAceptacionHallazgo.NombreEspanol</td>
                <td width="10%" class="text-center">@Model.LstHallazgos[i].Comision.Codigo - @Model.LstHallazgos[i].Outcome.Nombre</td>
                <td width="15%" class="text-center">@Model.LstHallazgos[i].Curso.NombreEspanol</td>

            <td width="40%" class="text-center">@Model.LstHallazgos[i].DescripcionEspanol</td>

            <td width="10%" class="text-center"> @Html.CheckBoxFor(x => x.LstMarcados[i], new { Name = "check", Value=Model.LstHallazgos[i].IdHallazgo })</td>
        </tr>
        }

}