﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.NeoImprovementActions;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.NeoImprovementActions.LstAccionesParaPlanViewModel
@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

    ViewBag.Title = (language == ConstantHelpers.CULTURE.ESPANOL ? "*Plan de Mejora" : "*Improvement Plan");
}
<style type="text/css">
    th.dt-center, td.dt-center {
        text-align: center;
    }
</style>
@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "NeoImprovementActions")">@NeoImprovementActionsResource.AccionesDeMejora</a></li>
}
<form method="post">
    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-filter"></i> @(language == ConstantHelpers.CULTURE.ESPANOL ? "Filtros" : "Filters") </h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-survey">@NeoImprovementActionsResource.Anio</label>

                                        @Html.DropDownListFor(x => x.Anio, new SelectList(Model.LstAnios), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control", @id = "anio" })

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-survey">@NeoImprovementActionsResource.Carrera</label>

                                        @Html.DropDownListFor(x => x.IdCarrera, new SelectList(Model.LstCarrera, "IdCarrera", "NombreEspanol"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control", @id = "carrera", @required = "true" })

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-survey">@NeoImprovementActionsResource.Comision</label>

                                        @Html.DropDownListFor(x => x.IdComision, new SelectList(Model.LstComision, "IdComision", "Codigo"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control", @id = "comision", @required = "true" })

                                    </div>
                                </div>
                            </div>


                            @*/////////////////////////////////////////////////////////////////////////////Nuevo////////////////////////////////////////////////////////////////////////////////*@


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-survey">@NeoImprovementActionsResource.Constituyente</label>

                                        @Html.DropDownListFor(x => x.IdConstituyente, new SelectList(Model.LstConstituyentes, "IdConstituyente", "NombreEspanol"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control", @id = "constituyente" })

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-survey">@NeoImprovementActionsResource.Instrumento</label>

                                        @Html.DropDownListFor(x => x.IdInstrumento, new SelectList(Model.LstInstrumentos, "IdInstrumento", "NombreEspanol"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control", @id = "instrumento" })

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-survey">@NeoImprovementActionsResource.Curso</label>

                                        @Html.DropDownListFor(x => x.IdCurso, new SelectList(Model.LstCursos.OrderBy(x => x.NombreEspanol), "IdCurso", "NombreEspanol"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control", @id = "curso" })

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-survey">Outcome</label>

                                        @Html.DropDownListFor(x => x.IdOutcome, Model.LstOutcomes, language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new { @class = "form-control", @id = "outcome" })

                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="pull-right">
                                
                                        <a class="btn btn-warning" id="BtnGenerar" href="@Url.Action("PrintPlanDeMejora", "NeoImprovementActions", new {Anio = Model.Anio, IdCarrera = Model.IdCarrera, IdComision = Model.IdComision })"><i class="fa fa-file-pdf-o"></i> @NeoImprovementActionsResource.GenerarPlanDeMejora</a>
                                   
                                  

                                    <a class="btn btn-default" href="@Url.Action("LstAccionesParaPlan", "NeoImprovementActions")"><i class="fa fa-eraser"></i></a>
                                    <button type="button" id="btnGenerar" class="btn btn-primary" onclick="ListarAccionesDeMejora()">  @NeoImprovementActionsResource.Buscar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>




<div class="row">
    <div class="panel-group">
        <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">

                    <a class="panel-title collapsed" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOne2" id="reporte">
                        <h4><i class="fa fa-tasks"></i>@(language == ConstantHelpers.CULTURE.ESPANOL ? "Acciones de Mejora" : "Action Plan")</h4>
                    </a>
                </div>

                <form method="post" action="@Url.Action("ActualizarParaPlan")">
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="true">


                        <div class="panel-body">

                            <div class="row">
                                <h3>&nbsp;</h3>
                                <div id="_LstPlanAM">
                                    @{ Html.RenderPartial("_LstAccionesParaPlan", Model); }
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" id="btnGenerarPlanAM" class="btn btn-primary pull-right" onclick="GenerarPlanAM()"> @NeoImprovementActionsResource.GenerarPlanDeMejora</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="VentanaModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width:116%">
            <div class="modal-body" style="margin-top: 9%;">
                <div id="modal-hallazgo">

                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal PAM-->
<div class="modal fade" id="VentanaModalPlanAM" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width:116%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@NeoImprovementActionsResource.GenerarPlanDeMejora</h4>
            </div>
            <div class="modal-body" style="margin-top: 9%;">
                <table id="modal-PlanAcionMejora" class="display" style="width:100%">

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@NeoImprovementActionsResource.Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarPlanDeMejora()" id="btnAprobar" data-eliminar="">@NeoImprovementActionsResource.Aprobar</button>
            </div>
        </div>

    </div>
</div>

@section scripts {
    
    <script type="text/javascript">
        $(document).ready(function () {
            localStorage.clear();

            $('#btnGenerarPlanAM').hide()
            $('#carrera').change(function () {
                ActualizarComisiones();
                ActualizarCurso();
            });


            $('#constituyente').change(function () {
                ActualizarInstrumento();
            });

            $('#curso').change(function () {
                ActualizarOutcome();
            })
            function ActualizarComisiones() {
               // console.log("actualizar");
                $("#comision").empty();
                $("#comision").append("<option value=''>@(NeoImprovementActionsResource.Cargando)...</option>");
                var carreraID = $('#carrera').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetComisionPorCarrera", "Json")',
                    data: { IdCarrera: carreraID },
                    dataType: "json",
                    success: function (data) {
                        $("#comision").empty();
                        $("#comision").append("<option value=''>[- @(NeoImprovementActionsResource.Seleccione) -]</option>");
                        for (i = 0; i < data.length; i++) {
                            if (data[i]["Codigo"] == "WASC")
                                continue;
                            $("#comision").append($('<option>').text(data[i]["Codigo"]).attr('value', data[i]["IdComision"]));
                        }
                    }
                });

            }
            var Listado = [];
        })

        function GenerarPlanAM() {
            $('#modal-PlanAcionMejora').empty();
            var ArrayFinal = localStorage.getItem('ArrayAlmacenado');
            if (ArrayFinal != null && ArrayFinal.length > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetAccionesMejora", "Json")',
                data: { function_param: JSON.parse(ArrayFinal)},
                dataType: "json",
                //traditional: true,
                success: function (data) {
                    $('#modal-PlanAcionMejora').DataTable({
                        "pagingType": "full_numbers",
                        "iDisplayLength": 5,
                        "data": data,
                        "columnDefs": [
                            { "targets": [0], "visible": false },
                            { "className": "dt-center", "targets": [3, 4] }
                        ],
                        "columns": [
                            { "title": "Id", "data": "Id" },
                            { "title": "Código", "data": "Codigo" },
                            { "title": "Descripción", "data": "Descripcion" },
                            { "title": "Instrumento", "data": "Instrumento" },
                            { "title": "Constituyente", "data": "Constituyente" }
                        ],
                        "bDestroy": true
                    });
                    ComprobarSeleccionAM(data)
                }
            });
        }
            }

        function ActualizarCurso() {
            $('#curso').empty();
            $('#curso').append("<option value=''>@(NeoImprovementActionsResource.Cargando)...</option>");
            var carreraID = $('#carrera').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCursoPorCarrera", "Json")',
                data: { IdCarrera: carreraID },
                dataType: "json",
                success: function (data) {
                    $("#curso").empty();
                    $("#curso").append("<option value=''>[- @(NeoImprovementActionsResource.Seleccione) -]</option>");
                    for (i = 0; i < data.length; i++) {
                        $("#curso").append($('<option>').text(data[i]["NombreEspanol"]).attr('value', data[i]["IdCurso"]));
                    }
                }
            });

        }
        function ActualizarInstrumento() {
             $('#instrumento').empty();
            $('#instrumento').append("<option value=''>@(NeoImprovementActionsResource.Cargando)...</option>");
            var carreraID = $('#carrera').val();
            var constituyenteID = $('#constituyente').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetInsturmentoConstituyente", "Json")',
                data: { IdConstituyente: constituyenteID ,IdCarrera: carreraID },
                dataType: "json",
                success: function (data) {
                    $("#instrumento").empty();
                    $("#instrumento").append("<option value=''>[- @(NeoImprovementActionsResource.Seleccione) -]</option>");
                    for (i = 0; i < data.length; i++) {
                        $("#instrumento").append($('<option>').text(data[i]["Acronimo"]).attr('value', data[i]["IdInstrumento"]));
                    }
                }
            });
        }
        function ActualizarOutcome() {
             $('#outcome').empty();
             $('#outcome').append("<option value=''>@(NeoImprovementActionsResource.Cargando)...</option>");
            var carreraID = $('#carrera').val();
            var cursoID = $('#curso').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetOutcomeCurso", "Json")',
                data: { IdCurso: cursoID ,IdCarrera: carreraID },
                dataType: "json",
                success: function (data) {
                    $("#outcome").empty();
                    $("#outcome").append("<option value=''>[- @(NeoImprovementActionsResource.Seleccione) -]</option>");
                    for (i = 0; i < data.length; i++) {
                        $("#outcome").append($('<option>').text(data[i]["Nombre"]).attr('value', data[i]["Nombre"]));
                    }
                }
            });
        }



        function ListarAccionesDeMejora() {
            var Anio = $('#anio').val();
            var carreraID = $('#carrera').val();
            var comisionID = $('#comision').val();
            var IdConstituyente = $('#constituyente').val();
            var IdInstrumento = $('#instrumento').val();
            var IdCurso = $('#curso').val();
            var IdOutcome = $('#outcome').val();
            var ArrayFinal = {};
            ArrayFinal = localStorage.getItem('ArrayAlmacenado');
            var seleccionados = null;
            if (ArrayFinal != null) {
                seleccionados = JSON.parse(ArrayFinal);
            } else {
                seleccionados = JSON.stringify(ArrayFinal);
            }
            $.ajax({

                type: "POST",
                url: '@Url.Action("_LstAccionesParaPlan", "NeoImprovementActions")',
                data: {
                    Anio: Anio, IdCarrera: carreraID, IdComision: comisionID,
                    IdConstituyente: IdConstituyente, IdInstrumento: IdInstrumento, IdCurso: IdCurso, IdOutcome: IdOutcome,
                    function_param: seleccionados
                },
                dataType: "html",
                success: function (data) {
                    $('#_LstPlanAM').html(data);
                    $('#btnGenerarPlanAM').show();
                },
                error: function (data) {
                    $('#_LstPlanAM').html('@(NeoImprovementActionsResource.OcurrioUnErrorInesperado): ' + ex);
                }
            });
        }
        function CrearPlanMejora() {
            var Anio = 2017;
            var ArrayFinal = localStorage.getItem('ArrayAlmacenado');
            $.ajax({

                type: "POST",
                url: '@Url.Action("GuardarPlanAccionMejora", "Json")',
                //traditional: true,
                data: {
                    Anio: Anio, function_param: JSON.parse(ArrayFinal)
                },
                dataType: "json",
                success: function (data) {
                    console.log("Guardado")
                },
                error: function (data) {
                    console.log("Error")
                }
            });
        }
        function ComprobarSeleccionAM(value) {
            var obj = value;
            var contador = obj.length
            if (contador > 0) {
                if ($('#VentanaModalPlanAM').is(':visible'))
                    console.log('Esta abierto!');
                else
                    $('#VentanaModalPlanAM').modal("show");
            } 
            else
                console.log('Seleccionas AM...');
        }

        function EliminarAM(Id) {
            $('#'+Id).attr('checked', false);
            var index = ArrayChecked.indexOf(Id.toString());
            if (index > -1) {
                ArrayChecked.splice(index, 1);
            }
            localStorage.clear();
            localStorage.setItem('ArrayAlmacenado', JSON.stringify(ArrayChecked));
            GenerarPlanAM()
        }
    </script>

}