﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.NeoImprovementActions;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.NeoImprovementActions.LstAccionesMejoraViewModel
@{

    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

    ViewBag.Title = (language == ConstantHelpers.CULTURE.ESPANOL ? "*Mantenimiento" : "*Management");
  
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "ImprovementPlans")">@NeoImprovementActionsResource.AccionesDeMejora</a></li>

}

<form method="post">

    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-filter"></i> @(language == ConstantHelpers.CULTURE.ESPANOL ? "Filtros" : "Filters") </h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@NeoImprovementActionsResource.Constituyente:</label>

                                        @Html.DropDownListFor(x => x.IdConstituyente, new SelectList(Model.LstConstituyente, "IdConstituyente", "NombreEspanol"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new { @class = "form-control", @id = "constituyente" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@NeoImprovementActionsResource.Instrumento:</label>

                                        @Html.DropDownListFor(x => x.IdInstrumento, new SelectList(Model.LstInstrumento, "IdInstrumento", "Acronimo"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new { @class = "form-control", @id = "instrumento" })
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@NeoImprovementActionsResource.Curso:</label>
                                        @Html.DropDownListFor(x => x.IdCurso,Model.LstCursos, new { @class = "form-control", @id = "curso" })
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">Outcome:</label>
                                        @Html.DropDownListFor(x => x.Outcomenombre, Model.LstOutcome, new { @class = "form-control", @id = "outcome" })
                                    </div>
                                </div>*@
                            </div>
                            <div class="row">
                                <div class="pull-right">
                                    <!--<a class="btn btn-warning" id="BtnGenerar"  href="@Url.Action("PrintPlanDeMejora", "Discoveries", new {IdConstituyente = Model.IdConstituyente, IdInstrumento = Model.IdInstrumento, IdCurso = Model.IdCurso, IdOutcome = Model.IdOutcome })" ><i class="fa fa-file-pdf-o"></i> Generar Plan de Mejora</a>-->
                                    <a class="btn btn-default" href="@Url.Action("LstAccionesMejora", "NeoImprovementActions")"><i class="fa fa-eraser"></i></a>
                                    <button type="submit" id="btnGenerar" class="btn btn-primary"> @NeoImprovementActionsResource.Buscar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>




<div class="row">
    <div class="panel-group">
        <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">

                    <a class="panel-title collapsed" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOne2" id="reporte">
                        <h4><i class="fa fa-tasks"></i>@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Acciones de Mejora" : "Action Plan") </h4>
                    </a>
                </div>


                <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="true">


                    <div class="panel-body">

                        <div class="row">
                            <h3>&nbsp;</h3>
                            <table class="table table-hover table-striped" id="table">
                                <thead>
                                    <tr style="background-color: #FF1901;">                                       
                                        <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Código" : "Code")</th>
                                        <th class="text-center" style="width: 65%;color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Descripción" : "Description")</th>
                                        <!--<th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Estado" : "State")</th>-->
                                        <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Opciones" : "Options")</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="encuestas">
                                    @foreach (var item in Model.LstAccionMejora)
                                    {
                                        <tr>
                                            <td class="text-center">@item.Codigo</td>
                                            <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>
                                            <!--<td>@ConstantHelpers.PROFESSOR.IFC.ACCIONES_MEJORA.ESTADOS.GetEstadoAccionMejora(@item.Estado)</td>-->
                                            <td>
                                                <div class="btn-group  display-table-cell cell-options vertical-align-top pull-right" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        <span class="col-sm-hidden">
                                                            @NeoImprovementActionsResource.Opciones
                                                        </span>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                    <li role="presentation">
                                                        <a href="@Url.Action("AddEditNewAccionMejora", "ImprovementActions" , new { IdAccionMejora=item.IdAccionMejora })">
                                                            <i aria-hidden="true" class="fa fa-pencil"></i>
                                                           @NeoImprovementActionsResource.Editar
                                                        </a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="@Url.Action("DeleteImprovementAction", "NeoImprovementActions", new { IdAccionMejora = item.IdAccionMejora})">
                                                            <i aria-hidden="true" class="fa fa-trash"></i>
                                                            @NeoImprovementActionsResource.Eliminar
                                                        </a>
                                                    </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @Html.PagedListPager(Model.LstAccionMejora, page => Url.Action("LstAccionesMejora", new { numeroPagina = page, IdConstituyente = Model.IdConstituyente, IdInstrumento = Model.IdInstrumento, IdCurso = Model.IdCurso, IdOutcome = Model.IdOutcome }), ConstantHelpers.TwitterBootstrapPagerAligned)


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="VentanaModal" role="dialog" style="margin-top:4%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-hallazgo">

                </div>
            </div>
        </div>

    </div>
</div>
@section scripts {
    <script>

    $(document).ready(function () {
        //HabilitarCursoOutcome();
        $('#constituyente').change(function () {
            ActualizarInstrumentos();
        });
        
        $('#curso').change(function () {
            ActualizarOutcomes();
        });

        $('#instrumento').change(function () {
            HabilitarCursoOutcome();
        });


        function ActualizarInstrumentos() {
            $("#curso").prop("disabled", false);
            console.log("actualizar");
            $("#instrumento").empty();
            $("#instrumento").append("<option value=''>@(NeoImprovementActionsResource.Cargando)...</option>");
            var constituyenteID = $('#constituyente').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetInstrumentos", "Json")',
                data: { IdConstituyente: constituyenteID },
                dataType: "json",
                success: function (data) {
                    $("#instrumento").empty();
                    $("#instrumento").append("<option value=''>[- @(NeoImprovementActionsResource.Seleccione) -]</option>");
                    for (i = 0; i < data.length; i++) {
                        $("#instrumento").append($('<option>').text(data[i]["NombreEspanol"]).attr('value', data[i]["IdInstrumento"]));

                    }
                }
            });
        }

        function ActualizarOutcomes() {
            $("#outcome").prop("disabled", false);
            $("#outcome").empty();
            $("#outcome").append("<option value=''>@(NeoImprovementActionsResource.Cargando)...</option>");
            var cursoID = $('#curso').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetOutcomesPorCurso", "Json")',
                data: { IdCurso: cursoID },
                dataType: "json",
                success: function (data) {
                    $("#outcome").empty();
                    $("#outcome").append("<option value=''>[- @(NeoImprovementActionsResource.Seleccione) -]</option>");
                    for (i = 0; i < data.length; i++) {
                        $("#outcome").append($('<option>').text(data[i]["NombreEspanol"]).attr('value', data[i]["Nombre"]));

                    }
                }
            });
        }

        function HabilitarCursoOutcome() {
            var instrumentoID = $("#instrumento").val();

            if (instrumentoID == '') instrumentoID = '0';


            $.ajax({
                type: "GET",
                url: '@Url.Action("HabilitarCursoOutcomeJSON", "NeoImprovementActions")',

                data: { IdInstrumento: instrumentoID },


                success: function (data) {
                    tienecurso = data;
                    if (data == 1) {
                        console.log("tiene curso");
                        $('#outcome').val('').trigger('change');
                        $("#outcome").prop("disabled", true);
                        $("#curso").prop("disabled", false);

                    }
                    else
                        if (data == 0) {
                            console.log("no tiene curso");
                            $("#outcome").prop("disabled", false);


                            $('#curso').val('').trigger('change');
                            $("#curso").prop("disabled", true);
                        }
                        else {
                            $("#curso").prop("disabled", false);

                            $("#outcome").prop("disabled", false);

                        }

                    //ActualizarHallazgos();

                }

            });

        }

        });

    @*$('a#btnEditLink').on('click', function (ev){

        var id = ev.toElement.children[1].name
        $.ajax({
            type: "POST",
            url: '@Url.Action("_EditHallazgo", "NeoImprovementActions")',
            data: { IdHallazgo: id },
            success: function (data) {
                    $('#modal-hallazgo').html(data);
                    $('#VentanaModal').modal('show');
            }
        });
    })
    $('a#btnSeeLink').on('click', function (ev){

        var id = ev.toElement.children[1].name
        $.ajax({
            type: "POST",
            url: '@Url.Action("_SeeHallazgo", "NeoImprovementActions")',
            data: { IdAccionMejora: id },
            success: function (data) {
                    $('#modal-hallazgo').html(data);
                    $('#VentanaModal').modal('show');
            }
        });
    })*@

    </script>

}