﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.NeoImprovementActions;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.NeoImprovementActions.SendPlanModalViewModel
@{
    ViewBag.Title = NeoImprovementActionsResource.EnvioPlanDeAccionFiltrado;
    ViewBag.Icon = "fa fa-envelope";
    ViewBag.SevenIcon = "mail-open-file";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Styles {
    @Html.Content("css/bootstrap-wysihtml5.css", ConstantHelpers.AREAS.PROFESSOR)
    @Html.Content("css/sweetalert.css", ConstantHelpers.AREAS.SURVEY)
    <style>
        .panel-body ul li {
            padding-bottom: 10px;
            padding-right: 10px;
        }

        #loading {
            display: none;
            background-color: #ffffff !important;
        }

            #loading p {
                color: black;
            }

        .load {
            padding: 250px;
        }+/

        .alertify-notifier .ajs-message.ajs-error{
    color: #fff;
    background: rgba(217, 92, 92, 0,95);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0,5);
}
    </style>

}



@Html.HiddenFor(x => x.IdSubModalidadPeriodoAcad, new {@class ="form-control",@id = "IdSubModalidadPeriodoAcad" })

<div class="panel panel-bordered">
    <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
        <h3 class="panel-title"><i class="fa fa-envelope-o" aria-hidden="false"></i> @NeoImprovementActionsResource.NotificacionPorPlan: </h3>
    </div>

   
    <div class="panel-body" id="collapseExample">
        <div class="col-md-3">
            <div class="form-group">
                @Html.DropDownListFor(x => x.IdPlan, Model.PlanList, new { @class = "form-control", @id = "idplan" })
            </div>
        </div>

        <div class="pull-right">
            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="SendMail()"><i class="fa fa-paper-plane"></i>@NeoImprovementActionsResource.Notificar</button>
            </div>
        </div>


    </div>

</div>

<div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-user"></i> @NeoImprovementActionsResource.Docentes
            </h3>
        </div>

        <div class="panel-body">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="label-survey">@NeoImprovementActionsResource.Carrera</label>
                    @Html.DropDownListFor(x => x.IdCarrera, Model.LstCarrera, new { @class = "form-control", @id = "idcurso" })
                </div>
            </div>

            <div class="pull-right">
                <div class="form-group">
                    
                </div>
            </div>
            <div id="list-student-notifications-partial-view">
                
                <table class="table table-hover table-striped" id="TableDoc">
                    <thead>
                        <tr style="background-color: #ff1901; color: white;">

                            <th class="col-md-1 text-center" style="color:white;"> <input type="checkbox" id="checkAll" checked> @NeoImprovementActionsResource.Enviar </th>
                            <th class="col-md-1 text-center" style="color:white;">@NeoImprovementActionsResource.Area</th>
                            <th class="col-md-1 text-center" style="color:white;">@NeoImprovementActionsResource.Curso</th>
                            <th class="col-md-2 text-center" style="color:white;">@NeoImprovementActionsResource.Docente</th>
                            <th class="col-md-1 text-center" style="color:white;">@NeoImprovementActionsResource.Codigo</th>
                            <th class="col-md-1 text-center" style="color:white;">@NeoImprovementActionsResource.Correo</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_alumnos">

                        @if (Model.lstCoordinador.Any())
                        {
                            for (int i = 0; i < Model.lstCoordinador.Count; i++)
                            {
                                var oDocente = Model.lstCoordinador[i];
                                <tr id="@oDocente.Idcurso">
                                    <td align="center" hidden>@oDocente.Idcurso</td>
                                    <td align="center"> <input type="checkbox" checked name="Check"></td>
                                    <td align="center">@oDocente.Carrera</td>
                                    <td align="center" hidden>@oDocente.CodCurso</td>
                                    <td align="center">@oDocente.Curso</td>
                                    <td align="center">@oDocente.Coordinador</td>
                                    <td align="center">@oDocente.CodCoor</td>
                                    <td align="center">@oDocente.Correo</td>
                                </tr>
                            }
                            
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    <ul class="pagination pagination-lg pager" id="myPager"></ul>
                </div>
            </div>
        </div>
    </div>


    <div id="myModalContenido" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sg">
            <!-- Modal content-->
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="panel-title">
                        <h4><i class="fa fa-briefcase" aria-hidden="true"></i> OptionsConfiguracion</h4>
                    </div>
                </div>

                <form method="post" action="@Url.Action("GuardarConfirmacionNotificacion", "Email")">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-2">
                                <label class="label-survey">@NeoImprovementActionsResource.Asunto</label>
                            </div>
                            <div class="col-md-9">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label-survey">@NeoImprovementActionsResource.Contenido</label>
                            </div>
                        </div>
                        <div class="sa-body">
                            <div class="col-md-12">

                            </div>
                        </div>

                        <br />
                        <div class="col-md-12">
                            <button type="submit" class="pull-right btn btn-primary btn-block">@NeoImprovementActionsResource.Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="container text-center load" id="loading">
        @*<img src="@Url.Content("~/Areas/Professor/Content/assets/images/ajax-loader.gif")" width="100">*@
        <img src="@Url.Content("https://zippy.gfycat.com/SkinnySeveralAsianlion.gif")" width="100">
        <p>@NeoImprovementActionsResource.Enviado...</p>
    </div>



    @section Scripts{
        @Html.Content("js/components/asspinner.min.js")
        @Html.Content("js/components/clockpicker.min.js")
        @Html.Content("js/components/jt-timepicker.min.js")
        @Html.Content("js/components/multi-select.min.js")
        @Html.Content("js/components/icheck.min.js")

        @Html.Content("js/jquery.contextmenu.r2.js", ConstantHelpers.AREAS.PROFESSOR)
        @Html.Content("js/wysihtml5-0.3.0.js", ConstantHelpers.AREAS.PROFESSOR)
        @*@Html.Content("js/bootstrap-wysihtml5.js", ConstantHelpers.AREAS.PROFESSOR)*@
        @Html.Content("js/sweetalert.min.js", ConstantHelpers.AREAS.SURVEY)
        @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@

        <script>


            $("#checkAll").click(function () {
                $('#tbl_alumnos input:checkbox').not(this).prop('checked', this.checked);
            });

            $(document).ready(function () {

                if( idplan = $('#idplan').val() == null)
                {
                    swal({
                        title: '@Html.Raw(HttpUtility.JavaScriptStringEncode("ASD"))',
                        text: '@Html.Raw(HttpUtility.JavaScriptStringEncode("ASD"))',
                        icon: 'error',
                        confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                        confirmButtonText: '@(NeoImprovementActionsResource.Aceptar)'
                    });
                    @*alert("@ProfessorResource.DebeIngresarApreciacionDelegado");*@

                return false;
                }
            });




            function SendMail() {

                var IdPeridoAcademico = $('#IdSubModalidadPeriodoAcad').val();
                var IdCarrera = $('#idcurso').val();
                var cantList = $("#tbl_alumnos tr").length;
                var tbals = $("#tbl_alumnos");
                var idplan = $('#idplan').val();

                var stulist = new Array();

                // get all of the values except the header
                $("#TableDoc tr:not(:first)").each(function () {
                    var tds = $(this).find("td");
                    //you could use the Find method to find the texbox or the dropdownlist and get the value.
                    if ($(tds[1]).find('input').is(':checked') == true) {
                        ;
                        var SStudent = { Idcurso: $(tds[0]).html(), Carrera: $(tds[2]).html(), CodCurso: $(tds[3]).html(), Curso: $(tds[4]).html(), Coordinador: $(tds[5]).html(), CodCoor: $(tds[6]).html(), Correo: $(tds[7]).html() }

                        stulist.push(SStudent);
                    }
                });
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SendMailCoord", "NeoImprovementActions")',
                    data: { lstDoc: JSON.stringify(stulist), IdSubModalidadPeridoAcademico: IdPeridoAcademico, IdCarrera: IdCarrera, IdPlan: idplan },
                    dataType: "json",
                    success: function (data) {
                        $('#loading').hide();
                        if (data == "Enviado!")
                        { alertify.success(data); }
                        else
                            alertify.error(data);

                    },
                    beforeSend: function () {
                        $('#loading').show();
                    }

                });
            }

            $('#idcurso').change(function () {

                var IdPeridoAcademico = $('#IdSubModalidadPeriodoAcad').val();;
                var IdCarrera = $('#idcurso').val();
                var Idplan = $('#idplan').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ActTabla", "NeoImprovementActions")',
                    data: { IdPeridoAcademico: IdPeridoAcademico, IdCarrera: IdCarrera, IdPlan: Idplan},
                    dataType: "json",
                    success: function (data) {
                        $("#tbl_alumnos").empty();
                        if (data.length != 0) {
                            for (i = 0; i < data.length; i++) {

                                var idCourse = '<td align="center" hidden>' + data[i].Idcurso + '</td>'
                                var checked = '<td align="center"><input type="checkbox" checked name="Check"> </td>';
                                var carrera = '<td align="center">' + data[i].Carrera + '</td>';
                                var CodCur = '<td align="center" hidden>' + data[i].CodCurso + '</td>';
                                var Curso = '<td align="center">' + data[i].Curso + '</td>';
                                var Coordinador = '<td align="center">' + data[i].Coordinador + '</td>';
                                var CodCoor = '<td align="center">' + data[i].CodCoor + '</td>';
                                var Correo = '<td align="center">' + data[i].Correo + '</td>';
                                $("#tbl_alumnos").append('<tr>' + idCourse + checked + carrera + CodCur + Curso + Coordinador + CodCoor + Correo + '</tr>');

                            }
                        }

                    },
                    beforeSend: function () {
                    }

                });
            });


        </script>
    }
