﻿@model UPC.CA.ABET.Models.CursosEvaluarRubrica
@using UPC.CA.ABET.Presentation.Resources.Areas.Rubric

@{
	ViewBag.Title = /*UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.CursosEvaluarRubricas.*/UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.TituloC;
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.IdCurso, @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.Curso, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("IdCurso", null, htmlAttributes: new { @class = "form-control select2-curso", @data_plugin = "select2" })

			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Crear" class="btn btn-success" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink(@*@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.*@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Regresar, "Index", null, new { @class = "btn btn-dark" })
</div>

<script>
	$(document).ready(function () {

		$('.select2-curso').select2({

			minimumInputLength: 2
		});

		$('*[data-plugin="select2"]').select2();
	});

</script>