﻿@model UPC.CA.ABET.Models.CursosEvaluarRubrica
@using UPC.CA.ABET.Presentation.Resources.Areas.Rubric

@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.EliminarTE;
}

<div>
	<hr />
	<dl class="dl-horizontal">
        <dt>
            @UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Codigo
        </dt>

		<dd>
			@Html.DisplayFor(model => model.Curso.Codigo)
		</dd>

        <dt>
            @UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Nombre
        </dt>

		<dd>
			@Html.DisplayFor(model => model.Curso.NombreEspanol)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Eliminar" class="btn btn-success" /> |
        @Html.ActionLink(UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Regresar, "Index", null, new { @class = "btn btn-dark" })

    </div>
	}
</div>
