﻿@model UPC.CA.ABET.Models.CursosEvaluarRubrica
@using UPC.CA.ABET.Presentation.Resources.Areas.Rubric

@{
	ViewBag.Title = /*UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluadorMaestra.*/RubricResource.DetalleTE;
}

<h2>Details</h2>

<div>
	<h4>CursosEvaluarRubrica</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Curso.Codigo)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Curso.Codigo)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Escuela.Codigo)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Escuela.Codigo)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink(@*@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.*@RubricResource.Editar, "Edit", new { /* id = Model.PrimaryKey */ }) |
	@Html.ActionLink(@*@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.*@RubricResource.Regresar, "Index")
</p>
