﻿@model UPC.CA.ABET.Models.CursosEvaluarRubrica
@using UPC.CA.ABET.Presentation.Resources.Areas.Rubric


@{
	ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.CursosEvaluarRubricas.CursosEvaluarRubricasResource.TituloEdit;
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.IdCurso)
		@Html.HiddenFor(model => model.IdEscuela)
		@Html.HiddenFor(model => model.IdPeriodoAcademico)

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Guardar" class="btn btn-success" />
			</div>
		</div>
	</div>
}
<div>
	@Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Regresar, "Index", null, new { @class = "btn btn-dark" })
</div>
