﻿@model IEnumerable<UPC.CA.ABET.Models.CursosEvaluarRubrica>

@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.CursosEvaluarRubricas.CursosEvaluarRubricasResource.TituloIndex;
}

<div class="containerdt">
    <p>
        @Html.ActionLink(UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.CursosEvaluarRubricas.CursosEvaluarRubricasResource.NuevoR, "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-hover" id="myTable">
        <thead>
            <tr>
                <th>
                    @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.CursosEvaluarRubricas.CursosEvaluarRubricasResource.cod
                </th>
                <th>
                    @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.CursosEvaluarRubricas.CursosEvaluarRubricasResource.nom
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Curso.NombreEspanol)
                    </td>
                    <td>
                        <!--@Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Editar, "Edit", new {  /*idCurso=item.IdCurso*/ }, new { @class = "btn btn-default" }) |-->
                        <!-- @Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluadorMaestra.RolesEvaluadoresResource.Detalle, "Details", "Details", new { /* id=item.PrimaryKey */ }) | -->
                        @Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Eliminar, "Delete", new { idCurso = item.IdCurso  }, new { @class = "btn btn-dark" })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>