﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.OrganizationChart;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.OrganizationChart.CreateOrganigramaViewModel
@{
    ViewBag.Title = OrganizationChartResource.AgregarEditarUnidadAcademica;
    ViewBag.Icon = "plus";
}
@section Breadcrumbs {
    <li><a href="@Url.Action("Organigrama", "OrganizationChart")">@OrganizationChartResource.Organigrama</a></li>
}
@section Scripts{
    <script>
        function llenarNombre()
        {
            if ($('#IdCarreraPeriodoAcademico').val() == "") {
                $('#Titulo').val("");
            }
            else{
                $('#Titulo').val($('#IdCarreraPeriodoAcademico option:selected').text());
            }
        }
        function llenarNombre2() {
            if ($('#IdCursoPeriodoAcademico').val() == "") {
                $('#Titulo').val("");
            }
            else {
                $('#Titulo').val($('#IdCursoPeriodoAcademico option:selected').text());
            }
        }

        $(function () {


            $('#DocenteId').select2({
                ajax: {
                    url: '@Url.Action("GetDocentes", "Json", new { Area = ConstantHelpers.AREAS.PROFESSOR })',
                    dataType: 'json',
                    type: 'POST',
                    delay: 250,
                    data: function (params) {
                        return {
                            cadenaBuscar: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                minimumInputLength: 3
            });

            $('#DocenteId').on('change', function () {
                var value = $(this).val();
                var url = $(this).data('source-url');
                var model = {}
                model['DocenteId'] = value;
                $.ajax({
                    url: url,
                    dataType: 'json',
                    type: 'GET',
                    data: model,
                    success: function (data) {
                        $('#Codigo').val(data.Codigo.trim());
                        $('#Nombres').val(data.Nombres.trim());
                        $('#Apellidos').val(data.Apellidos.trim());
                    }
                })
            });

        });

    </script>
}
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.HiddenFor(x => x.ParentId)
    @Html.HiddenFor(x => x.Nivel)
    @Html.HiddenFor(x => x.PeriodoAcademicoId)
    @Html.HiddenFor(x => x.UnidadAcademicaId)
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="panel">
                @Html.PanelHeader("<i class=\"fa fa-edit\"></i> " + OrganizationChartResource.InformacionDeOrganigrama, PanelActions.Collapse)
                <div class="panel-body">
                    @{
                        if (Model.Nivel == 1)
                        {
                            <div class="row">
                                @Html.FormGroup(OrganizationChartResource.Carrera + ":", Html.DropDownListFor(x => x.IdCarreraPeriodoAcademico, new SelectList(Model.ListaCarreraPeriodoAcademico, "Value", "Text"), CareerCurriculumResource.SeleccionaCarrera, new { @class = "form-control", @data_plugin = "select2", onchange = "llenarNombre()" }))
                                @Html.FormGroup(OrganizationChartResource.Sede + ":", Html.ListBoxFor(x => x.ListaSedesElegidas, new MultiSelectList(Model.ListaSede, "Value", "Text"), new { @class = "form-control", @data_plugin = "select2", Multiple = "multiple" }))
                            </div>
                            <div class="row">
                                @Html.FormGroup(OrganizationChartResource.NombreUnidadAcademica + ":", Html.TextBoxFor(x => x.Titulo, new { @class = "form-control" }))
                                <div class='form-group col-md-6'>
                                    @Html.LabelFor(x => x.DocenteId, new { @class = "col-md-3 control-label" })
                                    <div class='col-md-12'>
                                        @Html.DropDownListFor(x => x.DocenteId, new SelectList(Model.ListaDocente, "Value", "Text"), String.Empty, new { @class = "form-control", data_plugin = "select2", data_source_url = @Url.Action("GetDocente", "Json", new { Area = ConstantHelpers.AREAS.PROFESSOR }) })
                                        @Html.ValidationMessageFor(x => x.DocenteId)
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.Nivel == 2)
                        {
                            <div class="row">
                                @Html.FormGroup(OrganizationChartResource.NombreUnidadAcademica + ":", Html.TextBoxFor(x => x.Titulo, new { @class = "form-control" }))
                                @Html.FormGroup(OrganizationChartResource.Sede + ":", Html.ListBoxFor(x => x.ListaSedesElegidas, new MultiSelectList(Model.ListaSede, "Value", "Text"), new { @class = "form-control", @data_plugin = "select2", Multiple = "multiple" }))
                            </div>
                            <div class="row">
                                <div class='form-group col-md-6'>
                                    @Html.LabelFor(x => x.DocenteId, new { @class = "col-md-3 control-label" })
                                    <div class='col-md-12'>
                                        @Html.DropDownListFor(x => x.DocenteId, new SelectList(Model.ListaDocente, "Value", "Text"), String.Empty, new { @class = "form-control", data_plugin = "select2", data_source_url = @Url.Action("GetDocente", "Json", new { Area = ConstantHelpers.AREAS.PROFESSOR }) })
                                        @Html.ValidationMessageFor(x => x.DocenteId)
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.Nivel == 3)
                        {
                            <div class="row">
                                @Html.FormGroup(OrganizationChartResource.Curso + ":", Html.DropDownListFor(x => x.IdCursoPeriodoAcademico, new SelectList(Model.ListaCursosPeriodoAcademico, "Value", "Text"), Filtros.Seleccionar, new { @class = "form-control", @data_plugin = "select2", onchange = "llenarNombre2()" }))
                                @Html.FormGroup(OrganizationChartResource.Sede + ":", Html.ListBoxFor(x => x.ListaSedesElegidas, new MultiSelectList(Model.ListaSede, "Value", "Text"), new { @class = "form-control", @data_plugin = "select2", Multiple = "multiple" }))
                            </div>
                            <div class="row">
                                @Html.FormGroup(OrganizationChartResource.NombreUnidadAcademica + ":", Html.TextBoxFor(x => x.Titulo, new { @class = "form-control" }))
                                <div class='form-group col-md-6'>
                                    @Html.LabelFor(x => x.DocenteId, new { @class = "col-md-3 control-label" })
                                    <div class='col-md-12'>
                                        @Html.DropDownListFor(x => x.DocenteId, new SelectList(Model.ListaDocente, "Value", "Text"), String.Empty, new { @class = "form-control", data_plugin = "select2", data_source_url = @Url.Action("GetDocente", "Json", new { Area = ConstantHelpers.AREAS.PROFESSOR }) })
                                        @Html.ValidationMessageFor(x => x.DocenteId)
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @{

                        if (Model.Nivel == 0)
                        {
                            <div class="text-right">

                                <a href="@Url.Action("Organigrama", "OrganizationChart", new { Area = ConstantHelpers.AREAS.PROFESSOR })" class="btn" style="background-color: black; color: white;" onclick="return confirm('@(OrganizationChartResource.EstaSeguroQueDeseaCancelarLaOperacion)')">
                                    @*   <a href="" class="btn" style="background-color: black; color: white;" onclick="return confirm('¿Está seguro que desea cancelar la operación?')">*@
                                    @ButtonsOptionsResource.Cancelar&nbsp;&nbsp;<i class="fa fa-close"></i>
                                </a>
                                
                                <input value="Guardar" class="btn btn-primary" />
                            </div>
                        }
                        else
                        {
                            <div class="text-right">
                                <a href="@Url.Action("Organigrama", "OrganizationChart", new { Area = ConstantHelpers.AREAS.PROFESSOR })" class="btn" style="background-color: black; color: white;" onclick="return confirm('@(OrganizationChartResource.EstaSeguroQueDeseaCancelarLaOperacion)')">
                                    @*   <a href="" class="btn" style="background-color: black; color: white;" onclick="return confirm('¿Está seguro que desea cancelar la operación?')">*@
                                    @ButtonsOptionsResource.Cancelar&nbsp;&nbsp;<i class="fa fa-close"></i>
                                </a>
                                <input type="submit" value="@(ButtonsOptionsResource.Guardar)" class="btn btn-primary" />
                                @*  <input value="Guardar" class="btn btn-primary" />*@
                            </div>
                        }

                    }


                </div>
            </div>
        </div>
    </div>
}
