﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.OrganizationChart;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.OrganizationChart.OrganigramaViewModel
@using UPC.CA.ABET.Presentation.Areas.Upload.Resources.Views.Shared
@{
    ViewBag.Title = OrganizationChartResource.Organigrama;
    ViewBag.Icon = "fa fa-sitemap";
    Int32 Nivel = 0;
    String Titulo = OrganizationChartResource.Organigrama;

}
@section Breadcrumbs {
    <li><a href="@Url.Action("Management","OrganizationChart")">@Titulo</a></li>
}




@section Scripts{
    @Html.Content("css/getorgchart.css", ConstantHelpers.AREAS.PROFESSOR))
    @Html.Content("js/getorgchart.js", ConstantHelpers.AREAS.PROFESSOR))
    <script>
        var idPeriodoAcademico =  '@(Model.IdPeriodoAcademico.ToSafeString())';
        @*//var idModalidad = '@(Model.IdModalidad.ToSafeString())'//*@
        //deshabilitarDependientesDeModalidad();
        $(window).on('load', function () {

            var idselected = $("input[name='idselected']").val();

            $('#IdPeriodoAcademico').val(idselected);
            $('#IdPeriodoAcademico').trigger('chosen:uppdated');


            //console.log('Modalidad:' + idModalidad + " Periodo:" + idPeriodoAcademico);
            //seleccionarOpcionesSinDependencias();
        });

        function seleccionarOpcionesSinDependencias() {
            seleccionarOpcion('IdModalidad', idModalidad);//
        }

        function seleccionarOpcion(dropdownId, value) {
            $('#' + dropdownId + ' option[value="' + value + '"]').prop('selected', true);
            $('#' + dropdownId).trigger("change");
        }

        $('#IdModalidad').change(function () {
            deshabilitarDependientesDeModalidad();
            if (!esValorPorDefecto(this.value)) {
                obtenerCiclosxModalidad();
            }
        });

        function esValorPorDefecto(value) {
            return value == '';
        }
        function deshabilitarDependientesDeModalidad() {
            deshabilitarComponente('IdPeriodoAcademico');

        }
        function deshabilitarComponente(id) {
            var dropdown = $('#' + id);
            dropdown.prop('disabled', true);
            dropdown[0].selectedIndex = 0;
        }
        function obtenerCiclosxModalidad() {
            var model = {
                'ModalidadId': $('#IdModalidad').val()
            };
            $.ajax({
                url: '@Url.Action("GetCiclosxModalidad", "OrganizationChart")',
                type: 'GET',
                data: model,
                success: function (d) {//
                    cargarDropdown('IdPeriodoAcademico', d, '@(OrganizationChartResource.Todas)');
                    seleccionarOpcion('IdPeriodoAcademico', idPeriodoAcademico);
                }
            });
        }
        function cargarDropdown(idDropdown, data, texto) {
            var dropdown = $('#' + idDropdown);
            dropdown.empty();
            agregarOpcionDefecto(dropdown, texto);
            $(data).each(function () {
                $('<option />', {
                    val: this.Value,
                    text: this.Text
                }).appendTo(dropdown);
            });
            habilitarComponente(dropdown);
        }
        function agregarOpcionDefecto(dropdown, texto) {
            $('<option />', { val: '', text: texto   }).appendTo(dropdown);
        }
        function habilitarComponenteConId(id) {
            var componente = $('#' + id);
            habilitarComponente(componente);
        }

        function habilitarComponente(componente) {
            componente.prop('disabled', false);
        }

        var listOrganigrama = [
               @foreach (var item in Model.LstItemOrganigrama)
               {

                   if (item.IdUnicdadAcademicaPadre == null)
                   {
                <text>
               { id : @item.IdUnidadAcademica, parentId: null, Docente : "@item.NombreDocentes @item.ApellDocentes", UnidadAcademica : "@item.NombreUnidadAcademica" },
           </text>
                   }
                   else
                   {
                       if (item.Nivel > Nivel)
                       {
                           Nivel = item.Nivel;
                       }
                <text>
        { id : @item.IdUnidadAcademica, parentId: @item.IdUnicdadAcademicaPadre, Docente : "@item.NombreDocentes @item.ApellDocentes", UnidadAcademica : "@item.NombreUnidadAcademica" },
        </text>
                   }

               }
        ]

        var orgchart = new getOrgChart(document.getElementById("people"), {
            color: "darkred",
            enablePrint: true,
            primaryColumns: ["Docente","UnidadAcademica"],
            dataSource: listOrganigrama,
            customize:{
              @foreach (var item in Model.LstItemOrganigrama)
              {
                  if (item.Nivel == Nivel)
                  {
                      <text>

                "@item.IdUnidadAcademica" : {enableEdit:true},
        </text>
                  }
              }
            }
        });


    </script>

    <script>

        $(document).on('click','[data-btn-action=edit]', function (e) {

            e.preventDefault();
            var $this = $(this);
            var valor = $this.data('btn-id');
            var periodoAcademico = $( "#IdPeriodoAcademico option:selected" ).val();
            jQuery(location).attr('href', '@Url.Action("AgregarOrganigrama", "OrganizationChart")?ParentNivel='+ valor+'&PeriodoAcademicoId=' + periodoAcademico +'&UnidadAcademicaId='+ valor);
        });

        $(document).on('click','[data-btn-action=add]', function (e) {
            e.preventDefault();
            var $this = $(this);
            var valor = $this.data('btn-id');
            var periodoAcademico = $( "#IdPeriodoAcademico option:selected" ).val();
            jQuery(location).attr('href', '@Url.Action("AgregarOrganigrama", "OrganizationChart")?ParentNivel='+ valor+'&PeriodoAcademicoId=' + periodoAcademico);
           });

        $(document).on('click','[data-btn-action=del]', function (e) {
            e.preventDefault();
            var $this = $(this);
            var valor = $this.data('btn-id');
            var periodoAcademico = $("#IdPeriodoAcademico option:selected").val();
            $("#PeriodoAcademicoId").val(valor);
            jQuery(location).attr('href', '@Url.Action("DeleteOrganigrama", "OrganizationChart")?UnidadAcademicaId='+ valor );
        });

    </script>
}
<form action="@Url.Action("Organigrama", "OrganizationChart")">
    <input type="hidden" name="idselected" value="@ViewBag.Paselected" />
    <div class="panel filters">
        <div class="panel-body row">
            <div class="row">
                @*@Html.FormGroup("Modalidad:", Html.DropDownListFor(x => x.IdModalidad, new SelectList(Model.LstModulo, "Value", "Text"),CareerCurriculumResource.FiltroTodos,
                    new { @class = "form-control" }))*@
                @*@Html.FormGroup("Periodo Académico:", Html.DropDownList("PeriodoAcademico", Model.LstPeriodoAcademico, new { @class = "form-control" }))*@
                @Html.FormGroup(OrganizationChartResource.PeriodoAcademico + ":", Html.DropDownListFor(x => x.IdPeriodoAcademico, new SelectList(Model.LstPeriodoAcademico, "Value", "Text"), new { @class = "form-control" }))
                <div class="form-group col-sm-12 col-md-12">
                    <input type="submit" value=Seleccionar class="btn btn-primary pull-right" id="Seleccionar" />
                </div>
            </div>
            <div id="people"></div>
        </div>

    </div>
</form>



<form name="delete" action="@Url.Action("DeleteOrganigrama", "OrganizationChart")" method="post">
    <input name="PeriodoAcademicoId" id="PeriodoAcademicoId" type="number" style="visibility:hidden" />
    <input type="button" id="mybutton" style="visibility:hidden">
</form>




<script>

    @{if (ViewBag.Estado != null)
        {
        <text>
    alert("@ViewBag.Estado");
    </text>
            }
        }

</script>
