﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.CargaMasivaViewModel
@{
    ViewBag.Title = "Carga Masiva Encuesta " + ConstantHelpers.GetTipoEncuesta(Model.Tipo);
    ViewBag.SevenIcon = "upload";
}

@section Breadcrumbs
{
    <li><a href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })">Encuesta&nbsp;@ConstantHelpers.GetTipoEncuesta(Model.Tipo)</a></li>
}
@if (Model.Tipo == ConstantHelpers.ENCUESTA.PPP) { 
<div class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-upload"></i> Carga Masiva</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                    <div class="col-md-4">
                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                            <option></option>
                            <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                            <option>INGENIERÍA DE SOFTWARE</option>
                            <option>INGENIERÍA ELECTRÓNICA</option>
                        </select>
                    </div>
                    <div class="col-md-2"><label class="label-survey">Sede</label></div>
                    <div class="col-md-4">
                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                            <option></option>
                            <option>Monterrico</option>
                            <option>San Isidro</option>
                            <option>Villa</option>
                            <option>San Miguel</option>
                        </select>
                    </div>
                </div>
            </div><br />
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                    <div class="col-md-4">
                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                            <option></option>
                            <option>2016-01</option>
                            <option>2015-02</option>
                            <option>2015-01</option>
                        </select>
                    </div>
                    <div class="col-md-2"><label class="label-survey">Archivo</label></div>
                    <div class="col-md-4">
                        <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple />
                        <label for="file-5">
                            <center><i class="fa fa-upload btn btn-floating btn-primary" aria-hidden="true" style="padding-top: 12%;font-size: 20px;"></i></center><br />
                            <span>Seleccione un archivo&hellip;</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
else
{

    if (Model.Tipo == ConstantHelpers.ENCUESTA.PPP)
    {
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-upload"></i> Carga Masiva</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Acreditadora</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>ABET</option>
                                </select>
                            </div>
                            <div class="col-md-2"><label class="label-survey">Sede</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Monterrico</option>
                                    <option>San Isidro</option>
                                    <option>Villa</option>
                                    <option>San Miguel</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>2016-01</option>
                                    <option>2015-02</option>
                                    <option>2015-01</option>
                                </select>
                            </div>
                            <div class="col-md-2"><label class="label-survey">Curso</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>PROGRAMACIÓN 1</option>
                                    <option>PROGRAMACIÓN 2</option>
                                    <option>BASE DE DATOS</option>
                                    <option>ALGORITMOS AVANZADOS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Sección</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>SX21</option>
                                    <option>CX81</option>
                                    <option>WE33</option>
                                </select>
                            </div>
                            <div class="col-md-2"><label class="label-survey">Archivo</label></div>
                            <div class="col-md-4">
                                <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple />
                                <label for="file-5">
                                    <center><i class="fa fa-upload btn btn-floating btn-primary" aria-hidden="true" style="padding-top: 12%;font-size: 20px;"></i></center><br />
                                    <span>Seleccione un archivo&hellip;</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-upload"></i> Carga Masiva</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                                    <option>INGENIERÍA DE SOFTWARE</option>
                                    <option>INGENIERÍA ELECTRÓNICA</option>
                                </select>
                            </div>
                            <div class="col-md-2"><label class="label-survey">Sede</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Monterrico</option>
                                    <option>San Isidro</option>
                                    <option>Villa</option>
                                    <option>San Miguel</option>
                                </select>
                            </div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>2016-01</option>
                                    <option>2015-02</option>
                                    <option>2015-01</option>
                                </select>
                            </div>
                            <div class="col-md-2"><label class="label-survey">Archivo</label></div>
                            <div class="col-md-4">
                                <input type="file" name="file-5[]" id="file-5" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple />
                                <label for="file-5">
                                    <center><i class="fa fa-upload btn btn-floating btn-primary" aria-hidden="true" style="padding-top: 12%;font-size: 20px;"></i></center><br />
                                    <span>Seleccione un archivo&hellip;</span>
                                </label>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
<div class="pull-right">
    <a class="btn btn-default animsition-link"  href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })"><i class="fa fa-arrow-left"></i> Atrás</a>
    <a class="btn btn-primary animsition-link" href="#"><i class="fa fa-save"></i> Guardar</a>
</div>