﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.ConfiguracionEncuestaViewModel
@{
    ViewBag.Title = "Configuracion Encuesta " + ConstantHelpers.GetTipoEncuesta(Model.Tipo);
    ViewBag.Icon = null;
    ViewBag.SevenIcon = "tools";
}

@section Breadcrumbs{
    <li><a href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })">Encuesta&nbsp;@ConstantHelpers.GetTipoEncuesta(Model.Tipo)</a></li>
}

<div class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-binoculars"></i> @AddEditFDCResource.ConfiguradorEncuestaFDCFiltros</h3>
        </div>
        <div class="panel-body">
            @if (Model.Tipo == ConstantHelpers.ENCUESTA.PPP)
            {
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.ConfiguradorEncuestaFDCAcreditadora</label></div>
                        <div class="col-md-4">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>ABET</option>
                            </select>
                        </div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.ConfiguradorEncuestaFDCComision</label></div>
                        <div class="col-md-4">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>Comisión 1</option>
                            </select>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.ConfiguradorEncuestaFDCCiclo</label></div>
                    <div class="col-md-4">
                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                            <option></option>
                            <option>2016-01</option>
                            <option>2015-02</option>
                            <option>2015-01</option>
                        </select>
                    </div>
                    <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.ConfiguradorEncuestaFDCCarrera</label></div>
                    <div class="col-md-4">
                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                            <option></option>
                            <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                            <option>INGENIERÍA DE SOFTWARE</option>
                            <option>INGENIERÍA ELECTRÓNICA</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> Niveles de aceptación Studen Outcome</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="example-wrap">
                    <div class="nav-tabs-horizontal">
                        <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                            <li class="active" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                            <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                            <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                            <li class="dropdown" role="presentation" style="display: none;">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                    <span class="caret"></span>Menu
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                    <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                    <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="tab-content padding-top-20">
                            <div class="tab-pane active" id="exampleTabsOne" role="tabpanel">
                                <br />
                                <center>
                                    <b>[ 1&nbsp;&nbsp;</b> <input id="ex1" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                </center>
                            </div>
                            <div class="tab-pane" id="exampleTabsTwo" role="tabpanel">
                                <br />
                                <center>
                                <b>[ 1&nbsp;&nbsp;</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                </center>
                            </div>
                            <div class="tab-pane" id="exampleTabsThree" role="tabpanel">
                                <br />
                                <center>
                                <b>[ 1&nbsp;&nbsp;</b> <input id="ex3" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-edit"></i> Edite la descripción de los Student Outcomes que será mostrado en las encuestas</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th style="vertical-align:middle;color:white;" class="col-md-2 text-center">S.O.</th>
                                <th style="vertical-align:middle;color:white;" class="col-md-4 text-center">@AddEditFDCResource.ConfiguradorEncuestaFDCDescripcion</th>
                                <th style="vertical-align:middle;color:white;" class="col-md-2 text-center">@AddEditFDCResource.ConfiguradorEncuestaFDCValor</th>
                                <th style="vertical-align:middle;color:white;" class="col-md-2 text-center">Color</th>
                                <th style="vertical-align:middle;color:white;" class="col-md-2 text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">A</td>
                                <td><textarea class="form-control" cols="20" id="Ciclo" name="Ciclo" rows="2">An ability to apply knowledge of mathematics, science and engineering</textarea></td>
                                <td class="text-center"><input class="form-control" /></td>
                                <td class="text-center"><span class="label label-success">@AddEditFDCResource.ConfiguradorEncuestaFDCActivo</span></td>
                                <td class="text-center"><a class="btn btn-default animsition-link" ><i class="fa fa-trash"></i> @AddEditFDCResource.ConfiguradorEncuestaFDCEliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Tipo == ConstantHelpers.ENCUESTA.GRADUANDO)
{
    <div class="col-md-12">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> Niveles de aceptación Competencias Generales</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="example-wrap">
                        <div class="nav-tabs-horizontal">
                            <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                                <li class="active" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">@AddEditFDCResource.ConfiguradorEncuestaFDCNivel 1</a></li>
                                <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">@AddEditFDCResource.ConfiguradorEncuestaFDCNivel 2</a></li>
                                <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">@AddEditFDCResource.ConfiguradorEncuestaFDCNivel 3</a></li>
                                <li class="dropdown" role="presentation" style="display: none;">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                        <span class="caret"></span>Menu
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">@AddEditFDCResource.ConfiguradorEncuestaFDCNivel 1</a></li>
                                        <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">@AddEditFDCResource.ConfiguradorEncuestaFDCNivel 2</a></li>
                                        <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">@AddEditFDCResource.ConfiguradorEncuestaFDCNivel 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="tab-content padding-top-20">
                                <div class="tab-pane active" id="exampleTabsOne" role="tabpanel">
                                    <br />
                                    <center>
                                        <b>[ 1&nbsp;&nbsp;</b> <input id="ex4" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                    </center>
                                </div>
                                <div class="tab-pane" id="exampleTabsTwo" role="tabpanel">
                                    <br />
                                    <center>
                                        <b>[ 1&nbsp;&nbsp;</b> <input id="ex5" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                    </center>
                                </div>
                                <div class="tab-pane" id="exampleTabsThree" role="tabpanel">
                                    <br />
                                    <center>
                                        <b>[ 1&nbsp;&nbsp;</b> <input id="ex6" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title">Edite la descripción de las Competencias Generales que será mostrado en las encuestas:</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th style="vertical-align:middle;color:white;" class="col-md-2 text-center">C.G.</th>
                                <th style="vertical-align:middle;color:white;" class="col-md-4 text-center">@AddEditFDCResource.ConfiguradorEncuestaFDCDescripcion</th>
                                <th style="vertical-align:middle;color:white;" class="col-md-2 text-center">@AddEditFDCResource.ConfiguradorEncuestaFDCValor</th>
                                <th style="vertical-align:middle;color:white;" class="col-md-2 text-center">Color</th>
                                <th style="vertical-align:middle;color:white;" class="col-md-2 text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">CG1</td>
                                <td><textarea class="form-control" cols="20" id="Ciclo" name="Ciclo" rows="2">An ability to apply knowledge of mathematics, science and engineering</textarea></td>
                                <td class="text-center"><input class="form-control" /></td>
                                <td class="text-center"><span class="label label-success">@AddEditFDCResource.ConfiguradorEncuestaFDCActivo</span></td>
                                <td class="text-center"><a class="btn btn-default animsition-link" ><i class="fa fa-trash"></i> @AddEditFDCResource.ConfiguradorEncuestaFDCEliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}

<div class="pull-right">
    <a class="btn btn-default animsition-link"  href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })"><i class="fa fa-arrow-left"></i>@AddEditFDCResource.ConfiguradorEncuestaFDCAtras</a>
    <a class="btn btn-primary animsition-link" href="#"><i class="icon pe-graph2"></i> @AddEditFDCResource.ConfiguradorEncuestaFDCGuardar</a>
</div>

@section Scripts{
    <script>        
        $("#ex1").slider({});
        $("#ex2").slider({});
        $("#ex3").slider({});
        $("#ex4").slider({});
        $("#ex5").slider({});
        $("#ex6").slider({});
    </script>
}