﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.SeccionCursoViewModel
@{
    ViewBag.Title = "Consulta Seccion";
}

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> @AddEditFDCResource.MaintenanceSurveyFDCResultados:</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="">
                        <div class="col-md-2 text-center">
                            <label class="label-survey"><i class="fa fa-filter"></i> @AddEditFDCResource.KeyWordsFiltrar </label>
                        </div>
                        <div class="col-md-4">
                            <input id="searchInput" class="form-control" style="text-transform: uppercase;"><br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr style="background-color: #FF1901;">
                            <th class="text-center" style="color:white;">CICLO</th>
                            <th class="text-center" style="color:white;">SECCIÓN</th>
                            <th class="text-center" style="color:white;">CURSO</th>
                            <th class="text-center" style="color:white;">NOMBRE CURSO</th>
                            <th class="text-center" style="color:white;">SEDE</th>
                        </tr>
                    </thead>
                    <tbody id="encuestas">
                        @foreach (var item in Model.lstData)
                        {
                            <tr>
                                <td class="text-center">@(item.IdPeriodoAcademico == 1 ? "201501" : item.IdPeriodoAcademico == 2 ? "201502" : item.IdPeriodoAcademico == 3 ? "201601" : "201701")</td>
                                <td class="text-center">@item.CodigoSeccion.Trim().ToUpper()</td>
                                <td class="text-center">@item.CodigoCurso.ToUpper()</td>
                                <td class="text-center">@item.NombreEsCurso.Replace(" ","-").ToUpper()</td>
                                <td class="text-center">@item.CodigoSede.ToUpper()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $("#searchInput").keyup(function () {
            //split the current value of searchInput
            var data = this.value.toUpperCase().split(" ");
            //create a jquery object of the rows
            var jo = $("#encuestas").find("tr");
            if (this.value == "") {
                jo.show();
                return;
            }
            //hide all the rows
            jo.hide();

            //Recusively filter the jquery object to get results.
            jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.is(":contains('" + data[d] + "')")) {
                        return true;
                    }
                }
                return false;
            })
            //show the rows that match.
            .show();
        }).focus(function () {
            this.value = '';
            $(this).css({
                "color": "black"
            });
            $(this).unbind('focus');
        }).css({
            "color": "#C0C0C0"
        });

        
    </script>
}