﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.HallazgoEncuestaViewModel
@{
    ViewBag.Title = AddEditFDCResource.RegisterFindSurveyTitulo;
    ViewBag.Icon = "fa fa-list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementPPP", "Survey", new { Tipo = Model.Tipo })">@AddEditFDCResource.KeyWordsEncuestaPPP &nbsp;@ConstantHelpers.GetTipoEncuesta(Model.Tipo)</a></li>
    <li><a href="@Url.Action("MantenimientoEncuestaPPP", "Maintenance", new { Tipo = Model.Tipo })">@AddEditFDCResource.MaintenanceSurveyPPPTitulo&nbsp;@ConstantHelpers.GetTipoEncuesta(Model.Tipo)</a></li>
}
<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @AddEditFDCResource.RegisterFindSurveyDatosGenerales</h3>
        </div>
        <div class="panel-body">
            @if (Model.Tipo == ConstantHelpers.ENCUESTA.PPP)
            {
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCiclo1</label></div>
                        <div class="col-md-4">@Html.TextBoxFor(x => x.Ciclo, new { @class = "form-control" })</div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCarrera</label></div>
                        @if (language == ConstantHelpers.CULTURE.ESPANOL)
                        {
                            <div class="col-md-4">@Html.TextBoxFor(x => x.Carrera.NombreEspanol, new { @class = "form-control" })</div>
                        }
                        else
                        {
                            <div class="col-md-4">@Html.TextBoxFor(x => x.Carrera.NombreIngles, new { @class = "form-control" })</div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">Código de Alumno</label></div>
                        <div class="col-md-4">@Html.TextBoxFor(x => x.Alumno.Codigo, new { @class = "form-control" })</div>
                        <div class="col-md-2"><label class="label-survey">Alumno</label></div>
                        <div class="col-md-4">@Html.TextBoxFor(x => x.Alumno.Nombres, new { @class = "form-control" })</div>
                    </div>
                </div>
            }
            else
            {
                if (Model.Tipo == ConstantHelpers.ENCUESTA.FDC)
                {
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCurso</label></div>
                            <div class="col-md-4">@Html.TextBoxFor(x => x.Ciclo, new { @class = "form-control" })</div>
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCarrera</label></div>
                            @if (language == ConstantHelpers.CULTURE.ESPANOL)
                            {
                                <div class="col-md-4">@Html.TextBoxFor(x => x.Carrera.NombreEspanol, new { @class = "form-control" })</div>
                            }
                            else
                            {
                                <div class="col-md-4">@Html.TextBoxFor(x => x.Carrera.NombreIngles, new { @class = "form-control" })</div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsSeccion</label></div>
                            <div class="col-md-4">@Html.TextBoxFor(x => x.Ciclo, new { @class = "form-control" })</div>
                            <div class="col-md-2"><label class="label-survey">Estado</label></div>
                            @if (language == ConstantHelpers.CULTURE.ESPANOL)
                            {
                                <div class="col-md-4">@Html.TextBoxFor(x => x.Carrera.NombreEspanol, new { @class = "form-control" })</div>
                            }
                            else
                            {
                                <div class="col-md-4">@Html.TextBoxFor(x => x.Carrera.NombreIngles, new { @class = "form-control" })</div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsPromedio</label></div>
                            <div class="col-md-4">@Html.TextBoxFor(x => x.Ciclo, new { @class = "form-control" })</div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCiclo</label></div>
                            <div class="col-md-4">@Html.TextBoxFor(x => x.Ciclo, new { @class = "form-control" })</div>
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCarrera</label></div>
                            @if (language == ConstantHelpers.CULTURE.ESPANOL)
                            {
                                <div class="col-md-4">@Html.TextBoxFor(x => x.Carrera.NombreEspanol, new { @class = "form-control" })</div>
                            }
                            else
                            {
                                <div class="col-md-4">@Html.TextBoxFor(x => x.Carrera.NombreIngles, new { @class = "form-control" })</div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list-alt" aria-hidden="true"></i> @AddEditFDCResource.KeyWordsHallazgos</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.RegisterFindSurveyCriterios</label></div>
                    <div class="col-md-4">
                        <select class="form-control" id="Criterio" name="Criterio" onchange="MostrarCriterio()">
                            <option value="0">[- @AddEditFDCResource.KeyWordsTodos -]</option>
                            <option value="1">@AddEditFDCResource.KeyWordsCarrera</option>
                            <option value="2">@AddEditFDCResource.KeyWordsCurso</option>
                        </select>
                    </div>
                    <div id="CriterioCurso" style="display:none;">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCurso</label></div>
                        <div class="col-md-4">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>PROGRAMACIÓN 1</option>
                                <option>PROGRAMACIÓN 2</option>
                                <option>BASE DE DATOS</option>
                                <option>ALGORITMOS AVANZADOS</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div id="SedeCurso" style="display:none;">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsSede</label></div>
                        <div class="col-md-4">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>MONTERRICO</option>
                                <option>SAN ISIDRO</option>
                                <option>SAN MIGUEL</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group">
                    @Html.TextAreaFor(x => x.Curso, new { @class = "form-control", @rows = "5" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="pull-right">
                    <a class="btn btn-info" href="#"><i class="fa fa-plus"></i> @AddEditFDCResource.ButtonsOptionsSurveyAgregar</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-1 text-center" style="color:white;">Nro.</th>
                                <th class="col-md-2 text-center" style="color:white;">@AddEditFDCResource.RegisterFindSurveyCriterios</th>
                                <th class="col-md-3 text-center" style="color:white;">@AddEditFDCResource.KeyWordsDescripcion</th>
                                <th class="col-md-4 text-center" style="color:white;">@AddEditFDCResource.KeyWordsHallazgo</th>
                                <th class="col-md-2 text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1.</td>
                                <td>Carrera</td>
                                <td>Ingeniería de Sistemas de Información</td>
                                <td>Niveles bajos </td>
                                <td class="text-center"><a href="#" class="btn btn-default"><i class="fa fa-trash"></i> @AddEditFDCResource.ButtonsOptionsSurveyEliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
<div class="pull-right">
        <a class="btn btn-default" href="@Url.Action("MantenimientoEncuestaPPP", "Maintenance", new { Tipo = Model.Tipo })"><i class="fa fa-arrow-left"></i> @AddEditFDCResource.ButtonsOptionsSurveyAtras</a>
        <a class="btn btn-primary" href="#"><i class="fa fa-save"></i> @AddEditFDCResource.ButtonsOptionsSurveyGuardar</a>
        @*<button type="submit" class="btn btn-primary" href="#"><i class="fa fa-save"></i> @ButtonsOptionsSurveyResource.Guardar</button>*@
    </div>
</div>

@section Scripts{
    <script>
        function MostrarCriterio() {
            var element = $('#Criterio');
            var value = element.val();
            if (value == 2) {
                $('#CriterioCurso').show();
                $('#SedeCurso').show();
            }
            else {
                $('#CriterioCurso').hide();
                $('#SedeCurso').hide();
            }
        }
    </script>
}