﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.MantenimientoEncuestaViewModel
@{
    ViewBag.Title = "Mantenimiento Encuesta " + ConstantHelpers.GetTipoEncuesta(Model.Tipo);
    ViewBag.Icon = null;
    ViewBag.SevenIcon = "portfolio";
}

@section Breadcrumbs
{
    <li><a href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })">Encuesta&nbsp;@ConstantHelpers.GetTipoEncuesta(Model.Tipo)</a></li>
}
<div class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-binoculars"></i> Filtros</h3>
        </div>
        <div class="panel-body">
            @switch (Model.Tipo)
            {
                case ConstantHelpers.ENCUESTA.PPP:
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Acreditadora</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>ABET</option>
                                </select>
                            </div>

                            <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                                    <option>INGENIERÍA DE SOFTWARE</option>
                                    <option>INGENIERÍA ELECTRÓNICA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Comisión</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Comisión 1</option>
                                    <option>Comisión 2</option>
                                </select>
                            </div>
                            <div class="col-md-2"><label class="label-survey">Sede</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Monterrico</option>
                                    <option>San Isidro</option>
                                    <option>Villa</option>
                                    <option>San Miguel</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>2016-01</option>
                                    <option>2015-02</option>
                                    <option>2015-01</option>
                                </select>
                            </div>

                            <div class="col-md-2"><label class="label-survey">Nro. Práctica</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>SEGUNDA</option>
                                    <option>PRIMERA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    break;
                case ConstantHelpers.ENCUESTA.FDC:
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Acreditadora</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>ABET</option>
                                </select>
                            </div>

                            <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                                    <option>INGENIERÍA DE SOFTWARE</option>
                                    <option>INGENIERÍA ELECTRÓNICA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Comisión</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Comisión 1</option>
                                    <option>Comisión 2</option>
                                </select>
                            </div>

                            <div class="col-md-2"><label class="label-survey">Sede</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Monterrico</option>
                                    <option>San Isidro</option>
                                    <option>Villa</option>
                                    <option>San Miguel</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>2016-01</option>
                                    <option>2015-02</option>
                                    <option>2015-01</option>
                                </select>
                            </div>

                            <div class="col-md-2"><label class="label-survey">Curso</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>PROGRAMACIÓN 1</option>
                                    <option>PROGRAMACIÓN 2</option>
                                    <option>BASE DE DATOS</option>
                                    <option>ALGORITMOS AVANZADOS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Sección</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>SX31</option>
                                    <option>WX27</option>
                                    <option>HU35</option>
                                    <option>ES32</option>
                                </select>
                            </div>

                            <div class="col-md-2"><label class="label-survey">Estado</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>POR ENTREGAR</option>
                                    <option>ENTREGADO</option>
                                    <option>DEVUELTO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    break;
                case ConstantHelpers.ENCUESTA.GRA:
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                                    <option>INGENIERÍA DE SOFTWARE</option>
                                    <option>INGENIERÍA ELECTRÓNICA</option>
                                </select>
                            </div>

                            <div class="col-md-2"><label class="label-survey">Comisión</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Comisión 1</option>
                                    <option>Comisión 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Sede</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Monterrico</option>
                                    <option>San Isidro</option>
                                    <option>Villa</option>
                                    <option>San Miguel</option>
                                </select>
                            </div>

                            <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>2016-01</option>
                                    <option>2015-02</option>
                                    <option>2015-01</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    break;
            }

            <br />
            <div class="pull-right">
                <a class="btn btn-dark" href="#"><i class="fa fa-search"></i> Buscar</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> Resultados:</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                @if (Model.Tipo == ConstantHelpers.ENCUESTA.PPP)
                {
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">Código Encuesta</label></div>
                        <div class="col-md-2">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>0123</option>
                            </select>
                        </div>

                        <div class="col-md-2"><label class="label-survey">Código Alumno</label></div>
                        <div class="col-md-2">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>201211535</option>
                            </select>
                        </div>
                        <div class="col-md-2"><label class="label-survey">Alumno</label></div>
                        <div class="col-md-2">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>Carlos Mere Manchego</option>
                            </select>
                        </div>
                    </div>
                }
                else
                {
                    if (Model.Tipo == ConstantHelpers.ENCUESTA.PPP)
                    {
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Curso</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>PROGRAMACIÓN 1</option>
                                    <option>PROGRAMACIÓN 2</option>
                                    <option>BASE DE DATOS</option>
                                    <option>ALGORITMOS AVANZADOS</option>
                                </select>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                @if (Model.Tipo == ConstantHelpers.ENCUESTA.PPP)
                                {
                                    <th>Código Encuesta</th>
                                    <th>Código Alumno</th>
                                    <th>Alumno</th>
                                    <th>Carrera</th>
                                    <th>Ciclo</th>
                                    <th>Sede</th>
                                    <th>Nro.Práctica</th>
                                    <th>Empresa</th>
                                    <th></th>
                                }
                                else
                                {
                                    if (Model.Tipo == ConstantHelpers.ENCUESTA.PPP)
                                    {
                                        <th>Carrera</th>
                                        <th>Curso</th>
                                        <th>Sección</th>
                                        <th>Ciclo</th>
                                        <th>Sede</th>
                                        <th style="color:white;" class="col-md-3">Estado</th>
                                        <th>Promedio</th>
                                        <th></th>
                                    }
                                    else
                                    {
                                        <th>Ciclo</th>
                                        <th>Sede</th>
                                        <th style="color:white;" class="col-md-7">Carrera</th>
                                        <th>Total</th>
                                        <th></th>
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @if (Model.Tipo == ConstantHelpers.ENCUESTA.PPP)
                                {
                                    <td>0123</td>
                                    <td>201211535</td>
                                    <td>Carlos Mere Manchego</td>
                                    <td>SW</td>
                                    <td>201211</td>
                                    <td>Monterrico</td>
                                    <td>Primera</td>
                                    <td>DMSAC</td>
                                    <td class="text-center">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                Opciones
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                <li role="presentation"><a href="@Url.Action("HallazgoEncuesta", "Survey", new { Tipo = Model.Tipo , EncuestaId = 1})" role="menuitem"><i class="fa fa-sticky-note"></i> Hallazgo</a></li>
                                                <li role="presentation"><a href="@Url.Action("RegistrarEncuesta", "Survey", new { Tipo = Model.Tipo , EncuestaId = 1})" role="menuitem"><i class="fa fa-edit"></i> Editar</a></li>
                                                <li role="presentation"><a data-target="#exampleFormModal" href="#" data-toggle="modal" role="menuitem"><i class="fa fa-trash"></i> Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    if (Model.Tipo == ConstantHelpers.ENCUESTA.PPP)
                                    {
                                        <td>SW</td>
                                        <td>AX</td>
                                        <td>201211</td>
                                        <td>Monterrico</td>
                                        <td>SW31</td>
                                        <td><span class="label label-success">Entregado</span></td>
                                        <td>10.00</td>
                                        <td class="text-center">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                    Opciones
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                    <li role="presentation"><a href="@Url.Action("HallazgoEncuesta", "Survey", new { Tipo = Model.Tipo , EncuestaId = 1})" role="menuitem"><i class="fa fa-sticky-note"></i> Hallazgo</a></li>
                                                    <li role="presentation"><a data-target="#exampleNiftyFadeScale" data-toggle="modal" role="menuitem"><i class="fa fa-tag"></i> Estado</a></li>
                                                    <li role="presentation"><a data-target=".example-modal-sm" role="menuitem"><i class="fa fa-trash"></i> Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>201201</td>
                                        <td>Monterrico</td>
                                        <td>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</td>
                                        <td>14</td>
                                        <td class="text-center">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                    Opciones
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                    <li role="presentation"><a href="@Url.Action("HallazgoEncuesta", "Survey", new { Tipo = Model.Tipo , EncuestaId = 1})" role="menuitem"><i class="fa fa-sticky-note"></i> Hallazgo</a></li>
                                                    <li role="presentation"><a data-target=".example-modal-sm" role="menuitem"><i class="fa fa-trash"></i> Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    }
                                }
                            </tr>
                            <tr><td colspan="7" style="visibility:hidden">&nbsp;</td></tr>
                            <tr><td colspan="7" style="visibility:hidden">&nbsp;</td></tr>
                            <tr><td colspan="7" style="visibility:hidden">&nbsp;</td></tr>
                            <tr><td colspan="7" style="visibility:hidden">&nbsp;</td></tr>
                            <tr><td colspan="7" style="visibility:hidden">&nbsp;</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-fade-in-scale-up" id="exampleNiftyFadeScale" aria-hidden="true"
     aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-tag"></i> Estado - Encuesta @ConstantHelpers.GetTipoEncuesta(Model.Tipo)</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr style="background-color: #F1F4F5;">
                                    <th class="col-md-2">Carrera</th>
                                    <th class="col-md-1">Curso</th>
                                    <th class="col-md-2">Sección</th>
                                    <th class="col-md-3">Estado</th>
                                    <th class="col-md-2">Promedio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SW</td>
                                    <td>AX</td>
                                    <td>SW31</td>
                                    <td><span class="label label-success">Entregado</span></td>
                                    <td>10.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <h5 class="modal-title">Asignar Estado</h5>
                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                    <option></option>
                    <option>POR ENTREGAR</option>
                    <option>ENTREGADO</option>
                    <option>DEVUELTO</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default margin-0" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleFormModal" aria-hidden="false" aria-labelledby="exampleFormModalLabel" role="dialog" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="exampleFormModalLabel"><i class="fa fa-warning"></i> Advertencia</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>¿Está seguro de <strong>eliminar</strong> esta encuesta?</h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default margin-0" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                <a href="@Url.Action("EliminarEncuesta", "Survey", new { Tipo = Model.Tipo})" class="btn btn-primary"><i class="fa fa-trash"></i> Eliminar</a>
            </div>
        </form>
    </div>
</div>