﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.SurveyManagementPPPViewModel
@{
    ViewBag.Title = AddEditFDCResource.KeyWordsEncuestaPPP;
    ViewBag.Icon = "suitcase";
    Boolean esAcreditador = false;
}

@section Breadcrumbs{

}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera))
                            {
                                <li class="active" role="presentation"><a data-toggle="tab" href="#registromanualTab" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false"><i class="fa fa-hand-o-up"></i> <span class="tabhidden">@AddEditFDCResource.OptionsRegistroManual</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#generacionTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa-download"></i> <span class="tabhidden">@AddEditFDCResource.OptionsGeneracion</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#cargamasivaTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-cloud-upload"></i> <span class="tabhidden">@AddEditFDCResource.OptionsCargaMasiva</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#descargaplantillaTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-file-excel-o"></i> <span class="tabhidden">@AddEditFDCResource.OptionsDescargaPlantilla</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#mantenimientoTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@AddEditFDCResource.OptionsMantenimiento</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#reportesTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-bar-chart"></i> <span class="tabhidden">@AddEditFDCResource.OptionsReportes</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#configuracionTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-wrench"></i> <span class="tabhidden">@AddEditFDCResource.OptionsConfiguracion</span></a></li>
                            }
                            else
                            {
                                esAcreditador = true;
                                <li class="active" role="presentation"><a data-toggle="tab" href="#reportesTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-bar-chart"></i> <span class="tabhidden">@AddEditFDCResource.OptionsReportes</span></a></li>
                            }
                        </ul>
                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">
                            <div class="tab-pane @(esAcreditador == false ? "active" : "")" id="registromanualTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i> @AddEditFDCResource.OptionsRegistroManualTitulo @AddEditFDCResource.KeyWordsEncuestaPPP</h2>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsRegistroManualDescripcionUno
                                </p>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsRegistroManualDescripcionDos
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" @Url.ModalHelperFor("_SelectPeriodo", "Register", new { TipoEncuestaNombre = ConstantHelpers.ENCUESTA.PPP })><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyRegistrar</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="generacionTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-download"></i> @AddEditFDCResource.OptionsGeneracionTitulo @AddEditFDCResource.KeyWordsEncuestaPPP</h2>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsGeneracionDescripcion
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("GenerateSurveyPPP","Generate")"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyGenerar</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="cargamasivaTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-cloud-upload"></i> @AddEditFDCResource.OptionsCargaMasivaTitulo @AddEditFDCResource.KeyWordsEncuestaPPP</h2>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsCargaMasivaDescripcion
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("UploadPPP", "Excel", new { Area = ConstantHelpers.AREAS.SURVEY })"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyCargar</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="descargaplantillaTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-file-excel-o"></i> @AddEditFDCResource.OptionsDescargaPlantillaTitulo @AddEditFDCResource.KeyWordsEncuestaPPP</h2>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsDescargaPlantillaDescripcion
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("DownloadTemplateSurveyPPP", "Excel", new { Area = ConstantHelpers.AREAS.SURVEY })"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyDescargar</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="mantenimientoTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-tasks"></i> @AddEditFDCResource.OptionsMantenimientoTitulo @AddEditFDCResource.KeyWordsEncuestaPPP</h2>

                                <p align="justify">
                                    @AddEditFDCResource.OptionsMantenimientoDescripcionUnoPPP
                                </p>
                                <p align="justify">
                                    <strong style="color:#37474f;"><i class="fa fa-check-circle" style="color:red"></i> <u>@AddEditFDCResource.OptionsMantenimientoDescripcionOpcionUno</u></strong> @AddEditFDCResource.OptionsMantenimientoDescripcionDos<br />
                                    <strong style="color:#37474f;"><i class="fa fa-check-circle" style="color:red"></i> <u>@AddEditFDCResource.OptionsMantenimientoDescripcionOpcionDos</u></strong> @AddEditFDCResource.OptionsMantenimientoDescripcionTres<br />
                                    <strong style="color:#37474f;"><i class="fa fa-check-circle" style="color:red"></i> <u>@AddEditFDCResource.OptionsMantenimientoDescripcionOpcionTresPPP</u>:</strong> @AddEditFDCResource.OptionsMantenimientoDescripcionCuatroPPP
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("MantenimientoEncuestaPPP", "Maintenance", new { Area = ConstantHelpers.AREAS.SURVEY })"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyResultados</a>
                                </p>
                            </div>
                            <div class="tab-pane @(esAcreditador == true ? "active" : "")" id="reportesTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-bar-chart"></i>@AddEditFDCResource.OptionsReportes</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @AddEditFDCResource.OptionsReportesDescripcionTabUnoPPP
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @AddEditFDCResource.OptionsReporteDescripcionUnoPPP
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ReportePercepcionPromedioPPP","Report")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyReporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTwo" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo">
                                                                <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @AddEditFDCResource.OptionsReportesDescripcionTabDosPPP
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo" aria-labelledby="exampleHeadingDefaultTwo" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @AddEditFDCResource.OptionsReporteDescripcionDosPPP
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ReporteHistoricoResultadosPPP","Report")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyReporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="configuracionTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-wrench"></i> @AddEditFDCResource.OptionsConfiguracionTitulo @AddEditFDCResource.KeyWordsEncuestaPPP</h2>
                                <h3>Student Outcomes</h3>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsConfiguracionDescripcionDosPPP
                                </p>
                                <p>
                                    <a href="@Url.Action("NewConfigurationPPP","Configuration")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyConfigurar</a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
    </script>
}