﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.NotificacionesEncuestaViewModel
@{
    ViewBag.Title = "Notificaciones";
    ViewBag.Icon = null;
    ViewBag.SevenIcon = "mail-open-file";
}
@section Breadcrumbs{
    <li><a href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = ConstantHelpers.ENCUESTA.PPP })">Encuesta Fin de Ciclo</a></li>
}

<div class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-binoculars"></i> Filtros</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                    <div class="col-md-4">
                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                            <option></option>
                            <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                            <option>INGENIERÍA DE SOFTWARE</option>
                            <option>INGENIERÍA ELECTRÓNICA</option>
                        </select>
                    </div>
                    <div class="col-md-2"><label class="label-survey">Sede</label></div>
                    <div class="col-md-4">
                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                            <option></option>
                            <option>Monterrico</option>
                            <option>San Isidro</option>
                            <option>Villa</option>
                            <option>San Miguel</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                    <div class="col-md-4">
                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                            <option></option>
                            <option>2016-01</option>
                            <option>2015-02</option>
                            <option>2015-01</option>
                        </select>
                    </div>
                    <div class="col-md-2"><label class="label-survey">Estado</label></div>
                    <div class="col-md-4">
                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                            <option></option>
                            <option>Enviado</option>
                            <option>Por Enviar</option>
                        </select>
                    </div>                   
                </div>
            </div>
            <br />
            <div class="pull-right">
                <a class="btn btn-info" href="#"><i class="fa fa-search"></i> Buscar</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-history"></i> Historial
                <div class="btn-group pull-right" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" id="exampleIconDropdown3" data-toggle="dropdown" aria-expanded="false" style="margin-top: -10%;">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown3" role="menu">
                        <li role="presentation"><a href="#" role="menuitem"><i class="fa fa-envelope"></i> Enviar Notificaciones</a></li>
                        <li role="presentation"><a data-target="#exampleNiftyFadeScale" data-toggle="modal" role="menuitem"><i class="fa fa-wrench"></i> Configurar Notificaciones</a></li>
                    </ul>
                </div>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-1 text-center" style="color:white;">Ciclo</th>
                                <th class="col-md-2 text-center" style="color:white;">Carrera</th>
                                <th class="col-md-1 text-center" style="color:white;">Curso</th>
                                <th class="col-md-1 text-center" style="color:white;">Seccion</th>
                                <th class="col-md-2 text-center" style="color:white;">Alumno</th>
                                <th class="col-md-2 text-center" style="color:white;">Correo</th>
                                <th class="col-md-1 text-center" style="color:white;">Estado</th>
                                <th class="col-md-1 text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">201401</td>
                                <td>INGENIERIA DE SISTEMAS DE INFORMACIÓN</td>
                                <td>IMPLEMENTACIÓN DE BASE DE DATOS	</td>
                                <td class="text-center">SI92</td>
                                <td>ROMERO GARCIA, KEVIN JORDY</td>
                                <td>u201010330@upc.edu.pe</td>
                                <td class="text-center"><span class="label label-success">Enviado</span></td>
                                <td><a class="btn btn-default animsition-link" ><i class="fa fa-envelope"></i> Reenviar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

