﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.RegistrarEncuestaViewModel
@{
    ViewBag.Title = (Model.EncuestaId != null ? "Editar" : "Registrar") + " Encuesta " + ConstantHelpers.GetTipoEncuesta(Model.Tipo);
    ViewBag.Icon = null;
    ViewBag.SevenIcon = "pen";
    ViewBag.SubSection = ConstantHelpers.GetTipoEncuesta(Model.Tipo);
}

@section Breadcrumbs
{
    <li><a href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })">Encuesta&nbsp;@ConstantHelpers.GetTipoEncuesta(Model.Tipo)</a></li>
}

@if (Model.Tipo == ConstantHelpers.ENCUESTA.PPP)
{
    <div>
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> &nbsp; Datos generales del alumno</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Código de Alumno</label></div>
                            <div class="col-md-4">@Html.TextBoxFor(x => x.CodigoAlumno, new { @class = "form-control", @list = "alumnos" })</div>
                            <datalist id="alumnos">
                                <option value="u201210675">
                                <option value="u201510675">
                            </datalist>
                            <div class="col-md-2"><label class="label-survey">Nombre de Alumno</label></div>
                            <div class="col-md-4">@Html.TextBoxFor(x => x.NombreAlumno, new { @class = "form-control", @disabled = "" })</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                                    <option>INGENIERÍA DE SOFTWARE</option>
                                    <option>INGENIERÍA ELECTRÓNICA</option>
                                </select>
                            </div>

                            <div class="col-md-2"><label class="label-survey">Sede</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Monterrico</option>
                                    <option>San Isidro</option>
                                    <option>Villa</option>
                                    <option>San Miguel</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>2016-01</option>
                                    <option>2015-02</option>
                                    <option>2015-01</option>
                                </select>
                            </div>

                            <div class="col-md-2"><label class="label-survey">Nro. de Práctica</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Segunda</option>
                                    <option>Primera</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Inicio</label></div>
                            <div class="col-md-4">
                                <div class="input-group input-group-icon">
                                    <input type="email" class="form-control" data-plugin="datepicker">
                                    <span class="input-group-addon">
                                        <span class="icon wb-calendar" aria-hidden="true"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2"><label class="label-survey">Fin</label></div>
                            <div class="col-md-4">
                                <div class="input-group input-group-icon">
                                    <input type="email" class="form-control">
                                    <span class="input-group-addon">
                                        <span class="icon wb-calendar" aria-hidden="true"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Código Encuesta</label></div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.CodigoAlumno, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-building"></i> &nbsp; Datos generales de la empresa o institución</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Razón Social</label></div>
                            <div class="col-md-4">@Html.TextBoxFor(x => x.RazonSocial, new { @class = "form-control", @list = "rucs" })</div>
                            <datalist id="rucs">
                                <option value="UPC">
                                <option value="UPN">
                            </datalist>
                            <div class="col-md-2"><label class="label-survey">RUC</label></div>
                            <div class="col-md-4">@Html.TextBoxFor(x => x.RUC, new { @class = "form-control", @disabled = "" })</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Jefe directo</label></div>
                            <div class="col-md-4">@Html.TextBoxFor(x => x.JefeDirecto, new { @class = "form-control" })</div>
                            <div class="col-md-2"><label class="label-survey">Email de Jefe directo</label></div>
                            <div class="col-md-4">@Html.TextBoxFor(x => x.TelefonoJefeDirecto, new { @class = "form-control" })</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Tlf. de Jefe directo</label></div>
                            <div class="col-md-4">@Html.TextBoxFor(x => x.EmailJefeDirecto, new { @class = "form-control" })</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Comentarios</label></div>
                            <div class="col-md-10">@Html.TextAreaFor(x => x.JefeDirecto, new { @class = "form-control", @rows = "5" })</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i> &nbsp; Resultados de evaluación:</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-md-1 text-center" style="color:white;">S.O.</th>
                                        <th class="col-md-7 text-center" style="color:white;">Descripción</th>
                                        <th class="col-md-4 text-center" style="color:white;" colspan="3">Desempeño</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">A.</td>
                                        <td>Toma decisiones en base a un análisis matemático o de ingeniería en la solución de problemas relacionados a su profesión.</td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosChecked" name="inputRadios" checked="">
                                                <label for="inputRadiosChecked">N/A</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked" name="inputRadios">
                                                <label for="inputRadiosUnchecked">1</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked" name="inputRadios">
                                                <label for="inputRadiosUnchecked">2</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">B.</td>
                                        <td>Construye sus ideas y propone acciones a seguir a través del análisis de datos e interpretación de resultados.</td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosChecked1" name="inputRadios1" checked="">
                                                <label for="inputRadiosChecked1">N/A</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked1" name="inputRadios1">
                                                <label for="inputRadiosUnchecked1">1</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked1" name="inputRadios1">
                                                <label for="inputRadiosUnchecked1">2</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">C.</td>
                                        <td>Diseña soluciones efectivas ante necesidades identificadas según las características y o limitaciones del entorno en el cual se desempeña.</td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosChecked2" name="inputRadios2" checked="">
                                                <label for="inputRadiosChecked2">N/A</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked2" name="inputRadios2">
                                                <label for="inputRadiosUnchecked2">1</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked2" name="inputRadios2">
                                                <label for="inputRadiosUnchecked2">2</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <a class="btn btn-default animsition-link"  href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })"><i class="fa fa-arrow-left"></i> Atrás</a>
            <a class="btn btn-primary animsition-link" href="#"><i class="fa fa-save"></i> Guardar</a>
        </div>
    </div>
}
else
{
    if (Model.Tipo == ConstantHelpers.ENCUESTA.FDC)
    {
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-o"></i> Información General</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                                    <option>INGENIERÍA DE SOFTWARE</option>
                                    <option>INGENIERÍA ELECTRÓNICA</option>
                                </select>
                            </div>
                            <div class="col-md-2"><label class="label-survey">Sede</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Monterrico</option>
                                    <option>San Isidro</option>
                                    <option>Villa</option>
                                    <option>San Miguel</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>2016-01</option>
                                    <option>2015-02</option>
                                    <option>2015-01</option>
                                </select>
                            </div>
                            <div class="col-md-2"><label class="label-survey">Curso</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>PROGRAMACIÓN 1</option>
                                    <option>PROGRAMACIÓN 2</option>
                                    <option>BASE DE DATOS</option>
                                    <option>ALGORITMOS AVANZADOS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Sección</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>SX31</option>
                                    <option>WX27</option>
                                    <option>HU35</option>
                                    <option>ES32</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i> Resultados</h3>
                </div>
                
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <td class="col-md-6 text-center" style="color:white;">Alternativas</td>
                                            <td class="col-md-6 text-center" style="color:white;">Cantidad Respuestas</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td><input class="form-control" type="number" /></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">2</td>
                                            <td><input class="form-control" type="number" /></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">3</td>
                                            <td><input class="form-control" type="number" /></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">4</td>
                                            <td><input class="form-control" type="number" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Puntaje</label></div>
                            <div class="col-md-4"><input class="form-control" /></div>
                            <div class="col-md-2"><label class="label-survey">Resultado Obtenido</label></div>
                            <div class="col-md-4"><input class="form-control" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-comments-o"></i> Comentarios</h3>
                </div>
                <div class="panel-body">
                    <div id="FDC">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-1"><label class="label-survey">Id</label></div>
                                <div class="col-md-2">@Html.TextBoxFor(x => x.JefeDirecto, new { @class = "form-control" })</div>
                                <div class="col-md-2"><label class="label-survey">Comentarios</label></div>
                                <div class="col-md-7">@Html.TextAreaFor(x => x.JefeDirecto, new { @class = "form-control" })</div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="pull-right">
                            <a class="btn btn-success" href="#" id="comentarios"><i class="fa fa-plus"></i> Comentario</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="pull-right">
            <a class="btn btn-default animsition-link"  href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })"><i class="fa fa-arrow-left"></i> Atrás</a>
            <a class="btn btn-primary animsition-link" href="#"><i class="fa fa-save"></i> Guardar</a>
        </div>
    }
    else
    {
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-o"></i> Información General</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                                    <option>INGENIERÍA DE SOFTWARE</option>
                                    <option>INGENIERÍA ELECTRÓNICA</option>
                                </select>
                            </div>
                            <div class="col-md-2"><label class="label-survey">Sede</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Monterrico</option>
                                    <option>San Isidro</option>
                                    <option>Villa</option>
                                    <option>San Miguel</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>2016-01</option>
                                    <option>2015-02</option>
                                    <option>2015-01</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i> Resultados Student Outcomes:</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th style="vertical-align:middle;color:white;" class="col-md-1 text-center" rowspan="2">S.O.</th>
                                        <th style="vertical-align:middle;color:white;" class="col-md-7 text-center" rowspan="2">Resultados</th>
                                        <th style="vertical-align:middle;color:white;" class="col-md-4 text-center" colspan="5">Preparación</th>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:middle;color:white;">1</td>
                                        <td style="vertical-align:middle;color:white;">2</td>
                                        <td style="vertical-align:middle;color:white;">3</td>
                                        <td style="vertical-align:middle;color:white;">4</td>
                                        <td style="vertical-align:middle;color:white;">5</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">A.</td>
                                        <td>Toma decisiones en base a un análisis matemático o de ingeniería en la solución de problemas relacionados a su profesión.</td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosChecked1" name="inputRadios1" checked="">
                                                <label for="inputRadiosChecked1">1</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked1" name="inputRadios1">
                                                <label for="inputRadiosUnchecked1">2</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked1" name="inputRadios1">
                                                <label for="inputRadiosUnchecked1">3</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked1" name="inputRadios1">
                                                <label for="inputRadiosUnchecked1">4</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked1" name="inputRadios1">
                                                <label for="inputRadiosUnchecked1">5</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">B.</td>
                                        <td>Construye sus ideas y propone acciones a seguir a través del análisis de datos e interpretación de resultados.</td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosChecked2" name="inputRadios2" checked="">
                                                <label for="inputRadiosChecked2">1</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked2" name="inputRadios2">
                                                <label for="inputRadiosUnchecked2">2</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked2" name="inputRadios2">
                                                <label for="inputRadiosUnchecked2">3</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked2" name="inputRadios2">
                                                <label for="inputRadiosUnchecked2">4</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked2" name="inputRadios2">
                                                <label for="inputRadiosUnchecked2">5</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">C.</td>
                                        <td>Diseña soluciones efectivas ante necesidades identificadas según las características y o limitaciones del entorno en el cual se desempeña.</td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosChecked3" name="inputRadios3" checked="">
                                                <label for="inputRadiosChecked3">1</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked3" name="inputRadios3">
                                                <label for="inputRadiosUnchecked3">2</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked3" name="inputRadios3">
                                                <label for="inputRadiosUnchecked3">3</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked3" name="inputRadios3">
                                                <label for="inputRadiosUnchecked3">4</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked3" name="inputRadios3">
                                                <label for="inputRadiosUnchecked3">5</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Comentarios</label></div>
                            <div class="col-md-10">@Html.TextAreaFor(x => x.JefeDirecto, new { @class = "form-control", @rows = "5" })</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pull-right">
                            <a class="btn btn-success" href="#" id=""><i class="fa fa-plus"></i> Comentario</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i> Resultados Competencias Generales:</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th style="color:white;vertical-align:middle;" class="col-md-1 text-center" rowspan="2">C.G.</th>
                                        <th style="color:white;vertical-align:middle;" class="col-md-7 text-center" rowspan="2">Competencias Generales</th>
                                        <th style="color:white;vertical-align:middle;" class="col-md-4 text-center" colspan="5">Preparación</th>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:middle;color:white;">1</td>
                                        <td style="vertical-align:middle;color:white;">2</td>
                                        <td style="vertical-align:middle;color:white;">3</td>
                                        <td style="vertical-align:middle;color:white;">4</td>
                                        <td style="vertical-align:middle;color:white;">5</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">CG1</td>
                                        <td>Ciudadanía.</td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosChecked4" name="inputRadios4" checked="">
                                                <label for="inputRadiosChecked4">1</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked4" name="inputRadios4">
                                                <label for="inputRadiosUnchecked4">2</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked4" name="inputRadios4">
                                                <label for="inputRadiosUnchecked4">3</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked4" name="inputRadios4">
                                                <label for="inputRadiosUnchecked4">4</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked4" name="inputRadios4">
                                                <label for="inputRadiosUnchecked4">5</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">CG2</td>
                                        <td>Comunicación.</td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosChecked5" name="inputRadios5" checked="">
                                                <label for="inputRadiosChecked5">1</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked5" name="inputRadios5">
                                                <label for="inputRadiosUnchecked5">2</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked5" name="inputRadios5">
                                                <label for="inputRadiosUnchecked5">3</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked5" name="inputRadios5">
                                                <label for="inputRadiosUnchecked5">4</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked5" name="inputRadios5">
                                                <label for="inputRadiosUnchecked5">5</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">CG3</td>
                                        <td>Creatividad.</td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosChecked6" name="inputRadios6" checked="">
                                                <label for="inputRadiosChecked6">1</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked6" name="inputRadios6">
                                                <label for="inputRadiosUnchecked6">2</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked6" name="inputRadios6">
                                                <label for="inputRadiosUnchecked6">3</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked6" name="inputRadios6">
                                                <label for="inputRadiosUnchecked6">4</label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputRadiosUnchecked6" name="inputRadios6">
                                                <label for="inputRadiosUnchecked6">5</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Comentarios</label></div>
                            <div class="col-md-10">@Html.TextAreaFor(x => x.JefeDirecto, new { @class = "form-control", @rows = "5" })</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pull-right">
                            <a class="btn btn-success" href="#" id=""><i class="fa fa-plus"></i> Comentario</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <a class="btn btn-default animsition-link"  href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })"><i class="fa fa-arrow-left"></i> Atrás</a>
            <a class="btn btn-primary animsition-link" href="#"><i class="fa fa-save"></i> Guardar</a>
        </div>
    }
}
@section Scripts{
    <script>
        $('#comentarios').click(function () {
            $('#FDC').append("<div class=" + "row" + "><div class=" + "form-group" + "><div class=" + "col-md-1" + "><label class=" + "label-survey" + ">Id</label></div>" + "<div class=" + "col-md-2" + '><input class="' + 'form-control" ' + "id=" + "JefeDirecto" + "name=" + "JefeDirecto" + "type=" + "text" + "value=" + "></div><div class=" + "col-md-2" + "><label class=" + "label-survey" + ">Comentarios</label></div><div class=" + "col-md-7" + "><textarea class=" + '"form-control" ' + "cols=" + "20" + "id=" + "JefeDirecto" + "name=" + "JefeDirecto" + "rows=" + "5" + "></textarea></div></div></div>");
        });
    </script>
    <script>
        $(document).on('change', '#CodigoAlumno', function () {
            var nombreAlumno = '';
            switch ($('#CodigoAlumno').val()) {
                case 'u201210675': nombreAlumno = 'Renzo Villavisencio';
                    break;
                case 'u201510675': nombreAlumno = 'Renzo Bruggmann';
                    break;
            }
            $('#NombreAlumno').val(nombreAlumno);
        });
        $(document).on('change', '#RazonSocial', function () {
            var rucEmpresa = '';
            switch ($('#RazonSocial').val()) {
                case 'UPC': rucEmpresa = '121513155';
                    break;
                case 'UPN': rucEmpresa = '981513155';
                    break;
            }
            $('#RUC').val(rucEmpresa);
        });
    </script>
}