﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.ReporteEncuestaViewModel
@{
    ViewBag.Title = "Reporte Encuesta " + ConstantHelpers.GetTipoEncuesta(Model.Tipo);
    ViewBag.Icon = null;
    ViewBag.SevenIcon = "graph2";
}

 @section Breadcrumbs{
     <li><a href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })">Encuesta&nbsp;@ConstantHelpers.GetTipoEncuesta(Model.Tipo)</a></li>
 }
@if(Model.Reporte == ConstantHelpers.ENCUESTA.PERCEPCION_PROMEDIO)
{ 
    <div class="col-md-12">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-binoculars"></i> Filtros</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">Acreditadora</label></div>
                        <div class="col-md-4">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>ABET</option>
                            </select>
                        </div>
                        <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                        <div class="col-md-4">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                                <option>INGENIERÍA DE SOFTWARE</option>
                                <option>INGENIERÍA ELECTRÓNICA</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">Comisión</label></div>
                        <div class="col-md-4">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>Comisión 1</option>
                                <option>Comisión 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2"><label class="label-survey">Sede</label></div>
                    <div class="col-md-4">
                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                            <option></option>
                            <option>Monterrico</option>
                            <option>San Isidro</option>
                            <option>Villa</option>
                            <option>San Miguel</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                        <div class="col-md-4">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>2016-01</option>
                                <option>2015-02</option>
                                <option>2015-01</option>
                            </select>
                        </div>
                        <div class="col-md-2"><label class="label-survey">Nro. PPP</label></div>
                        <div class="col-md-4">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>Segunda</option>
                                <option>Primera</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">Idioma</label></div>
                        <div class="col-md-4">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>Inglés</option>
                                <option>Español</option>
                            </select>
                        </div>
                        <div class="col-md-2"><label class="label-survey">Nivel Aceptación</label></div>
                        <div class="col-md-4">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>Nivel 1</option>
                                <option>Nivel 2</option>
                                <option>Nivel 3</option>
                            </select>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="example-wrap">
                        <div class="nav-tabs-horizontal">
                            <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                                <li class="active" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                <li class="dropdown" role="presentation" style="display: none;">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                        <span class="caret"></span>Menu
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                        <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                        <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="tab-content padding-top-20">
                                <div class="tab-pane active" id="exampleTabsOne" role="tabpanel">
                                    <br />
                                    <center>
                                        <b>[ 1&nbsp;&nbsp;</b> <input id="ex1" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                    </center>
                                </div>
                                <div class="tab-pane" id="exampleTabsTwo" role="tabpanel">
                                    <br />
                                    <center>
                                        <b>[ 1&nbsp;&nbsp;</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                    </center>
                                </div>
                                <div class="tab-pane" id="exampleTabsThree" role="tabpanel">
                                    <br />
                                    <center>
                                        <b>[ 1&nbsp;&nbsp;</b> <input id="ex3" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="pull-right">
                    <a class="btn btn-default animsition-link"  href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })"><i class="fa fa-arrow-left"></i> Atrás</a>
                    <a class="btn btn-primary animsition-link" href="#"><i class="fa fa-cogs"></i> Generar Reporte</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    if (Model.Reporte == ConstantHelpers.ENCUESTA.HISTORICO_PPP_SO)
    {
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-binoculars"></i> Filtros</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Acreditadora</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>ABET</option>
                                </select>
                            </div>
                            <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                                    <option>INGENIERÍA DE SOFTWARE</option>
                                    <option>INGENIERÍA ELECTRÓNICA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Comisión</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Comisión 1</option>
                                    <option>Comisión 2</option>
                                </select>
                            </div>
                            <div class="col-md-2"><label class="label-survey">Sede</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Monterrico</option>
                                    <option>San Isidro</option>
                                    <option>Villa</option>
                                    <option>San Miguel</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                        <div class="col-md-4">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>2016-01</option>
                                <option>2015-02</option>
                                <option>2015-01</option>
                            </select>
                        </div>
                        <div class="col-md-2"><label class="label-survey">Nro. PPP</label></div>
                        <div class="col-md-4">
                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                <option></option>
                                <option>Segunda</option>
                                <option>Primera</option>
                            </select>
                        </div>


                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Outcome</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>S.O.</option>
                                    <option>C.G.</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Desde</label></div>
                            <div class="col-md-4">
                                <div class="input-group input-group-icon">
                                    <input type="email" class="form-control" data-plugin="datepicker">
                                    <span class="input-group-addon">
                                        <span class="icon wb-calendar" aria-hidden="true"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2"><label class="label-survey">Hasta</label></div>
                            <div class="col-md-4">
                                <div class="input-group input-group-icon">
                                    <input type="email" class="form-control" data-plugin="datepicker">
                                    <span class="input-group-addon">
                                        <span class="icon wb-calendar" aria-hidden="true"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="col-md-2"><label class="label-survey">Idioma</label></div>
                                <div class="col-md-4">
                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                        <option></option>
                                        <option>Inglés</option>
                                        <option>Español</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-2"><label class="label-survey">Nivel de Aceptación</label></div>
                            <div class="col-md-4">
                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                    <option></option>
                                    <option>Nivel 1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="example-wrap">
                            <div class="nav-tabs-horizontal">
                                <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                                    <li class="active" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                    <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                    <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                    <li class="dropdown" role="presentation" style="display: none;">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                            <span class="caret"></span>Menu
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                            <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                            <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="tab-content padding-top-20">
                                    <div class="tab-pane active" id="exampleTabsOne" role="tabpanel">
                                        <br />
                                        <center>
                                            <b>[ 1&nbsp;&nbsp;</b> <input id="ex1" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                        </center>
                                    </div>
                                    <div class="tab-pane" id="exampleTabsTwo" role="tabpanel">
                                        <br />
                                        <center>
                                            <b>[ 1&nbsp;&nbsp;</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                        </center>
                                    </div>
                                    <div class="tab-pane" id="exampleTabsThree" role="tabpanel">
                                        <br />
                                        <center>
                                            <b>[ 1&nbsp;&nbsp;</b> <input id="ex3" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="pull-right">
                        <a class="btn btn-default animsition-link"  href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })"><i class="fa fa-arrow-left"></i> Atrás</a>
                        <a class="btn btn-primary animsition-link" href="#"><i class="fa fa-cogs"></i> Generar Reporte</a>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        if (Model.Reporte == ConstantHelpers.ENCUESTA.RESULTADO_ENCUESTA)
        {
            <div class="col-md-12">
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-binoculars"></i> Filtros</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                                <div class="col-md-4">
                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                        <option></option>
                                        <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                                        <option>INGENIERÍA DE SOFTWARE</option>
                                        <option>INGENIERÍA ELECTRÓNICA</option>
                                    </select>
                                </div>
                                <div class="col-md-2"><label class="label-survey">Sede</label></div>
                                <div class="col-md-4">
                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                        <option></option>
                                        <option>Monterrico</option>
                                        <option>San Isidro</option>
                                        <option>Villa</option>
                                        <option>San Miguel</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                                <div class="col-md-4">
                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                        <option></option>
                                        <option>2016-01</option>
                                        <option>2015-02</option>
                                        <option>2015-01</option>
                                    </select>
                                </div>
                                <div class="col-md-2"><label class="label-survey">Curso</label></div>
                                <div class="col-md-4">
                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                        <option></option>
                                        <option>PROGRAMACIÓN 1</option>
                                        <option>PROGRAMACIÓN 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2"><label class="label-survey">Sección</label></div>
                                <div class="col-md-4">
                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                        <option></option>
                                        <option>XA13</option>
                                        <option>AS45</option>
                                        <option>SW32</option>
                                        <option>CX81</option>
                                    </select>
                                </div>
                                <div class="col-md-2"><label class="label-survey">Idioma</label></div>
                                <div class="col-md-4">
                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                        <option></option>
                                        <option>Inglés</option>
                                        <option>Español</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2"><label class="label-survey">Nivel de Aceptación</label></div>
                                <div class="col-md-4">
                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                        <option></option>
                                        <option>1</option>
                                    </select>
                                </div>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="example-wrap">
                                <div class="nav-tabs-horizontal">
                                    <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                                        <li class="active" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                        <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                        <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                        <li class="dropdown" role="presentation" style="display: none;">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                                <span class="caret"></span>Menu
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li class="" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                                <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                                <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="tab-content padding-top-20">
                                        <div class="tab-pane active" id="exampleTabsOne" role="tabpanel">
                                            <br />
                                            <center>
                                                <b>[ 1&nbsp;&nbsp;</b> <input id="ex1" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                            </center>
                                        </div>
                                        <div class="tab-pane" id="exampleTabsTwo" role="tabpanel">
                                            <br />
                                            <center>
                                                <b>[ 1&nbsp;&nbsp;</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                            </center>
                                        </div>
                                        <div class="tab-pane" id="exampleTabsThree" role="tabpanel">
                                            <br />
                                            <center>
                                                <b>[ 1&nbsp;&nbsp;</b> <input id="ex3" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="pull-right">
                            <a class="btn btn-default animsition-link"  href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })"><i class="fa fa-arrow-left"></i> Atrás</a>
                            <a class="btn btn-primary animsition-link" href="#"><i class="fa fa-cogs"></i> Generar Reporte</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            if (Model.Reporte == ConstantHelpers.ENCUESTA.HISTORICO_RESULTADO_ENCUESTA)
            {
                <div class="col-md-12">
                    <div class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-binoculars"></i> Filtros</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2"><label class="label-survey">Sede</label></div>
                                    <div class="col-md-4">
                                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                            <option></option>
                                            <option>Monterrico</option>
                                            <option>San Isidro</option>
                                            <option>Villa</option>
                                            <option>San Miguel</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2"><label class="label-survey">Curso</label></div>
                                    <div class="col-md-4">
                                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                            <option></option>
                                            <option>PROGRAMACIÓN 1</option>
                                            <option>PROGRAMACIÓN 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2"><label class="label-survey">Desde</label></div>
                                    <div class="col-md-4">
                                        <div class="input-group input-group-icon">
                                            <input type="email" class="form-control" data-plugin="datepicker">
                                            <span class="input-group-addon">
                                                <span class="icon wb-calendar" aria-hidden="true"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-2"><label class="label-survey">Hasta</label></div>
                                    <div class="col-md-4">
                                        <div class="input-group input-group-icon">
                                            <input type="email" class="form-control" data-plugin="datepicker">
                                            <span class="input-group-addon">
                                                <span class="icon wb-calendar" aria-hidden="true"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2"><label class="label-survey">Idioma</label></div>
                                    <div class="col-md-4">
                                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                            <option></option>
                                            <option>Inglés</option>
                                            <option>Español</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2"><label class="label-survey">Nivel de Aceptación</label></div>
                                    <div class="col-md-4">
                                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                            <option></option>
                                            <option>1</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="example-wrap">
                                    <div class="nav-tabs-horizontal">
                                        <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                                            <li class="active" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                            <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                            <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                            <li class="dropdown" role="presentation" style="display: none;">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                                    <span class="caret"></span>Menu
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li class="" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                                    <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                                    <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="tab-content padding-top-20">
                                            <div class="tab-pane active" id="exampleTabsOne" role="tabpanel">
                                                <br />
                                                <center>
                                                    <b>[ 1&nbsp;&nbsp;</b> <input id="ex1" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                                </center>
                                            </div>
                                            <div class="tab-pane" id="exampleTabsTwo" role="tabpanel">
                                                <br />
                                                <center>
                                                    <b>[ 1&nbsp;&nbsp;</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                                </center>
                                            </div>
                                            <div class="tab-pane" id="exampleTabsThree" role="tabpanel">
                                                <br />
                                                <center>
                                                    <b>[ 1&nbsp;&nbsp;</b> <input id="ex3" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <br />
                            <div class="pull-right">
                                <a class="btn btn-default animsition-link"  href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })"><i class="fa fa-arrow-left"></i> Atrás</a>
                                <a class="btn btn-primary animsition-link" href="#"><i class="fa fa-cogs"></i> Generar Reporte</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                if (Model.Reporte == ConstantHelpers.ENCUESTA.PERCEPCION_CG)
                {
                    <div class="col-md-12">
                        <div class="panel panel-bordered">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-binoculars"></i> Filtros</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2"><label class="label-survey">Acreditadora</label></div>
                                        <div class="col-md-4">
                                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                <option></option>
                                                <option>ABET</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                                        <div class="col-md-4">
                                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                <option></option>
                                                <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                                                <option>INGENIERÍA DE SOFTWARE</option>
                                                <option>INGENIERÍA ELECTRÓNICA</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        
                                        <div class="col-md-2"><label class="label-survey">Comisión</label></div>
                                        <div class="col-md-4">
                                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                <option></option>
                                                <option>Comisión 1</option>
                                                <option>Comisión 2</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2"><label class="label-survey">Sede</label></div>
                                        <div class="col-md-4">
                                            <div class="col-md-4">
                                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                    <option></option>
                                                    <option>Monterrico</option>
                                                    <option>San Isidro</option>
                                                    <option>Villa</option>
                                                    <option>San Miguel</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                                        <div class="col-md-4">
                                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                <option></option>
                                                <option>2016-01</option>
                                                <option>2015-02</option>
                                                <option>2015-01</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2"><label class="label-survey">Idioma</label></div>
                                        <div class="col-md-4">
                                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                <option></option>
                                                <option>Inglés</option>
                                                <option>Español</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2"><label class="label-survey">Nivel de Aceptación</label></div>
                                        <div class="col-md-4">
                                            <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                <option></option>
                                                <option>1</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="example-wrap">
                                        <div class="nav-tabs-horizontal">
                                            <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                                                <li class="active" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                                <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                                <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                                <li class="dropdown" role="presentation" style="display: none;">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                                        <span class="caret"></span>Menu
                                                    </a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li class="" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                                        <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                                        <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="tab-content padding-top-20">
                                                <div class="tab-pane active" id="exampleTabsOne" role="tabpanel">
                                                    <br />
                                                    <center>
                                                        <b>[ 1&nbsp;&nbsp;</b> <input id="ex1" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                                    </center>
                                                </div>
                                                <div class="tab-pane" id="exampleTabsTwo" role="tabpanel">
                                                    <br />
                                                    <center>
                                                        <b>[ 1&nbsp;&nbsp;</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                                    </center>
                                                </div>
                                                <div class="tab-pane" id="exampleTabsThree" role="tabpanel">
                                                    <br />
                                                    <center>
                                                        <b>[ 1&nbsp;&nbsp;</b> <input id="ex3" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="pull-right">
                                    <a class="btn btn-default animsition-link"  href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })"><i class="fa fa-arrow-left"></i> Atrás</a>
                                    <a class="btn btn-primary animsition-link" href="#"><i class="fa fa-cogs"></i> Generar Reporte</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    if (Model.Reporte == ConstantHelpers.ENCUESTA.PERCEPCION_SO)
                    {
                        <div class="col-md-12">
                            <div class="panel panel-bordered">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-binoculars"></i> Filtros</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-2"><label class="label-survey">Acreditadora</label></div>
                                            <div class="col-md-4">
                                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                    <option></option>
                                                    <option>ABET</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2"><label class="label-survey">Comisión</label></div>
                                            <div class="col-md-4">
                                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                    <option></option>
                                                    <option>Comisión 1</option>
                                                    <option>Comisión 2</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                                            <div class="col-md-4">
                                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                    <option></option>
                                                    <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                                                    <option>INGENIERÍA DE SOFTWARE</option>
                                                    <option>INGENIERÍA ELECTRÓNICA</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2"><label class="label-survey">Sede</label></div>
                                            <div class="col-md-4">
                                                <div class="col-md-4">
                                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                        <option></option>
                                                        <option>Monterrico</option>
                                                        <option>San Isidro</option>
                                                        <option>Villa</option>
                                                        <option>San Miguel</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                                            <div class="col-md-4">
                                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                    <option></option>
                                                    <option>2016-01</option>
                                                    <option>2015-02</option>
                                                    <option>2015-01</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2"><label class="label-survey">Idioma</label></div>
                                            <div class="col-md-4">
                                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                    <option></option>
                                                    <option>Inglés</option>
                                                    <option>Español</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-2"><label class="label-survey">Nivel de Aceptación</label></div>
                                            <div class="col-md-4">
                                                <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                    <option></option>
                                                    <option>1</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div><br />
                                    <div class="row">
                                        <div class="example-wrap">
                                            <div class="nav-tabs-horizontal">
                                                <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                                                    <li class="active" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                                    <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                                    <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                                    <li class="dropdown" role="presentation" style="display: none;">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                                            <span class="caret"></span>Menu
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li class="" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                                            <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                                            <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                                <div class="tab-content padding-top-20">
                                                    <div class="tab-pane active" id="exampleTabsOne" role="tabpanel">
                                                        <br />
                                                        <center>
                                                            <b>[ 1&nbsp;&nbsp;</b> <input id="ex1" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                                        </center>
                                                    </div>
                                                    <div class="tab-pane" id="exampleTabsTwo" role="tabpanel">
                                                        <br />
                                                        <center>
                                                            <b>[ 1&nbsp;&nbsp;</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                                        </center>
                                                    </div>
                                                    <div class="tab-pane" id="exampleTabsThree" role="tabpanel">
                                                        <br />
                                                        <center>
                                                            <b>[ 1&nbsp;&nbsp;</b> <input id="ex3" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="pull-right">
                                        <a class="btn btn-default animsition-link"  href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })"><i class="fa fa-arrow-left"></i> Atrás</a>
                                        <a class="btn btn-primary animsition-link" href="#"><i class="fa fa-cogs"></i> Generar Reporte</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (Model.Reporte == ConstantHelpers.ENCUESTA.PROMEDIO_CG)
                        {
                            <div class="col-md-12">
                                <div class="panel panel-bordered">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-binoculars"></i> Filtros</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-2"><label class="label-survey">Carrera</label></div>
                                                <div class="col-md-4">
                                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                        <option></option>
                                                        <option>INGENIERÍA DE SISTEMAS DE INFORMACIÓN</option>
                                                        <option>INGENIERÍA DE SOFTWARE</option>
                                                        <option>INGENIERÍA ELECTRÓNICA</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2"><label class="label-survey">Comisión</label></div>
                                                <div class="col-md-4">
                                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                        <option></option>
                                                        <option>Comisión 1</option>
                                                        <option>Comisión 2</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-2"><label class="label-survey">Sede</label></div>
                                                <div class="col-md-4">
                                                    <div class="col-md-4">
                                                        <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                            <option></option>
                                                            <option>Monterrico</option>
                                                            <option>San Isidro</option>
                                                            <option>Villa</option>
                                                            <option>San Miguel</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"><label class="label-survey">Ciclo</label></div>
                                                <div class="col-md-4">
                                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                        <option></option>
                                                        <option>2016-01</option>
                                                        <option>2015-02</option>
                                                        <option>2015-01</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-2"><label class="label-survey">Outcome</label></div>
                                                <div class="col-md-4">
                                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                        <option></option>
                                                        <option>S.O.</option>
                                                        <option>C.G.</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-2"><label class="label-survey">Idioma</label></div>
                                                <div class="col-md-4">
                                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                        <option></option>
                                                        <option>Inglés</option>
                                                        <option>Español</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2"><label class="label-survey">Nivel de Aceptación</label></div>
                                                <div class="col-md-4">
                                                    <select class="form-control" data-plugin="select2" data-placeholder="[- Todos -]" data-allow-clear="true">
                                                        <option></option>
                                                        <option>Nivel 1</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-2"><label class="label-survey">Desde</label></div>
                                                <div class="col-md-4">
                                                    <div class="input-group input-group-icon">
                                                        <input type="email" class="form-control" data-plugin="datepicker">
                                                        <span class="input-group-addon">
                                                            <span class="icon wb-calendar" aria-hidden="true"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"><label class="label-survey">Hasta</label></div>
                                                <div class="col-md-4">
                                                    <div class="input-group input-group-icon">
                                                        <input type="email" class="form-control" data-plugin="datepicker">
                                                        <span class="input-group-addon">
                                                            <span class="icon wb-calendar" aria-hidden="true"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <br />
                                        <div class="row">
                                            <div class="example-wrap">
                                                <div class="nav-tabs-horizontal">
                                                    <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                                                        <li class="active" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                                        <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                                        <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                                        <li class="dropdown" role="presentation" style="display: none;">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                                                <span class="caret"></span>Menu
                                                            </a>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li class="" role="presentation"><a data-toggle="tab" href="#exampleTabsOne" aria-controls="exampleTabsOne" role="tab">Nivel 1</a></li>
                                                                <li role="presentation"><a data-toggle="tab" href="#exampleTabsTwo" aria-controls="exampleTabsTwo" role="tab">Nivel 2</a></li>
                                                                <li role="presentation"><a data-toggle="tab" href="#exampleTabsThree" aria-controls="exampleTabsThree" role="tab">Nivel 3</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content padding-top-20">
                                                        <div class="tab-pane active" id="exampleTabsOne" role="tabpanel">
                                                            <br />
                                                            <center>
                                                                <b>[ 1&nbsp;&nbsp;</b> <input id="ex1" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                                            </center>
                                                        </div>
                                                        <div class="tab-pane" id="exampleTabsTwo" role="tabpanel">
                                                            <br />
                                                            <center>
                                                                <b>[ 1&nbsp;&nbsp;</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                                            </center>
                                                        </div>
                                                        <div class="tab-pane" id="exampleTabsThree" role="tabpanel">
                                                            <br />
                                                            <center>
                                                                <b>[ 1&nbsp;&nbsp;</b> <input id="ex3" type="text" class="span2" value="" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="[1,20]" /> <b>&nbsp;100 ]</b>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="pull-right">
                                            <a class="btn btn-default animsition-link"  href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })"><i class="fa fa-arrow-left"></i> Atrás</a>
                                            <a class="btn btn-primary animsition-link" href="#"><i class="fa fa-cogs"></i> Generar Reporte</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        }
    }
}
@section Scripts{
    <script>
        $("#ex1").slider({});
        $("#ex2").slider({});
        $("#ex3").slider({});
    </script>
}