﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.SurveyManagementEVDViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey


@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Resources.Areas.Survey.SurveyResources.EVDTitle;
    ViewBag.Icon = "graduation-cap"; Boolean esAcreditador = false;
}
@section Breadcrumbs{
}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.DirectorCarrera) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera) || Session.GetRoles().HasRole(AppRol.Acreditador))
                            {
                                <li role="presentation" class="active"><a data-toggle="tab" href="#configuracionTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-wrench"></i> <span class="tabhidden">@SurveyResources.Configuracion</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#notificacionTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-envelope"></i> <span class="tabhidden">@SurveyResources.Notificaciones</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#registrarHallazgosEVDTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-pencil-square"></i><span class="tabhidden">@SurveyResources.HallazgoEVD</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#reportesTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-bar-chart"></i> <span class="tabhidden">@SurveyResources.OptionsReportes</span></a></li>
                            }
                            else
                            {
                                <li role="presentation" class="active"><a data-toggle="tab" href="#reportesTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-bar-chart"></i> <span class="tabhidden">@SurveyResources.OptionsReportes</span></a></li>
                            }

                        </ul>

                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">

                            <div class="tab-pane active" id="configuracionTab" role="tabpanel">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-bar-chart"></i>@SurveyResources.Configuracion</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">

                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultOneConfig" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefaultOneConfig" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOneConfig">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @SurveyResources.Configuracion_Delegado
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOneConfig" aria-labelledby="exampleHeadingDefaultOneConfig" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @SurveyResources.TabConfiguracionDelegado

                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ConfiguracionDelegado", "Configuration", new { Area = ConstantHelpers.AREAS.SURVEY})" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @SurveyResources.Configurar</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTwoConfig" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwoConfig" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultTwoConfig">
                                                                <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @SurveyResources.Configuracion_Invitado
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTwoConfig" aria-labelledby="exampleHeadingDefaultTwoConfig" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @SurveyResources.TabConfiguracionInvitado

                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ConfiguracionInvitado","Configuration", new { Area = ConstantHelpers.AREAS.SURVEY})" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @SurveyResources.Configurar</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultThreeConfig" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultThreeConfig" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultThreeConfig">
                                                                <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @SurveyResources.ConfigPlantillaEncuesta
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultThreeConfig" aria-labelledby="exampleHeadingDefaultThreeConfig" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @SurveyResources.OptionPlantillaEVD
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ConfiguracionPlantillaEncuesta","Configuration", new { Area = ConstantHelpers.AREAS.SURVEY})" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @SurveyResources.Configurar</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultFourConfig" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultFourConfig" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultFourConfig">
                                                                <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @SurveyResources.ConfiguracionEVD
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultFourConfig" aria-labelledby="exampleHeadingDefaultFourConfig" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                @SurveyResources.OptioPeriodoModuloEVD
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ConfiguracionEVD","Configuration", new { Area = ConstantHelpers.AREAS.SURVEY})" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i>  @SurveyResources.Configurar</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane" id="notificacionTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-envelope"></i> @SurveyResources.NotificacionEVDTitulo</h2>
                                <p align="justify">
                                    @SurveyResources.NotificacionEVDDescripcion
                                </p>
                                <p>
                                    <a href="@Url.Action("EmailSurveyEVD", "Email")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @SurveyResources.Registrar</a>
                                </p>
                            </div>

                            <div class="tab-pane" id="registrarHallazgosEVDTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-wrench"></i> @SurveyResources.AgregarHallazgoTitulo</h2>
                                <h3>@SurveyResources.Hallazgo</h3>
                                <p align="justify">
                                    @SurveyResources.OptionGenerarHallazgo
                                </p>
                                <a class="pull-right btn btn-primary" href="@Url.Action("AddEditHallazgoEVD", "Register", new { Area = ConstantHelpers.AREAS.SURVEY})"><i class="fa fa-sign-in"></i> @SurveyResources.Registrar</a>
                                </p>
                            </div>




                            <div class="tab-pane @(esAcreditador == true ? "active" : "")" id="reportesTab" role="tabpanel">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-bar-chart"></i>@SurveyResources.OptionsReportes</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">


                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultOneReport" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefaultOneReport" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOneReport">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @SurveyResources.OptionsReporteDescripcionUno
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOneReport" aria-labelledby="exampleHeadingDefaultOneReport" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @SurveyResources.OptionsReporteDescripcionUno

                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ReporteEncuestaVirtualEVD", "Report")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @SurveyResources.ButtonsOptionsSurveyReporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTwoReport" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwoReport" data-parent="#exampleAccordionDefault2" aria-expanded="false" aria-controls="exampleCollapseDefaultTwoReport">
                                                                <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @SurveyResources.OptionsReporteDescripcionDos
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTwoReport" aria-labelledby="exampleHeadingDefaultTwoReport" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @SurveyResources.OptionsReporteDescripcionDos

                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("InformeEncuestaVirtualEVD","Report")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @SurveyResources.ButtonsOptionsSurveyReporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    @*<div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultThreeReport" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultThreeReport" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultThreeReport">
                                                                <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                               Reporte Semáforo
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultThreeReport" aria-labelledby="exampleHeadingDefaultThreeReport" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    Esta opción permite generar el reporte semáforo.
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ReporteSemáforo","Report", new { Area = ConstantHelpers.AREAS.SURVEY})" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @SurveyResources.ButtonsOptionsSurveyReporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>*@






                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
    </script>
}