﻿
@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.SurveyManagementIRDViewModel
@{
    ViewBag.Title = "Informe de Reunión de Delegados";
    ViewBag.Icon = "suitcase";
    Boolean esAcreditador = false;
}

@section Breadcrumbs {

}




<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.DirectorCarrera) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera) || Session.GetRoles().HasRole(AppRol.Acreditador))
                            {
                                <li role="presentation" class=""><a data-toggle="tab" href="#mantenimientoVirtualTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-hand-o-up"></i> <span class="tabhidden">Consultar</span></a></li>
                                if (!Session.GetRoles().HasRole(AppRol.Acreditador) || Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.DirectorCarrera) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera))
                                {
                                    <li role="presentation" class=""><a data-toggle="tab" href="#generarHallazgosTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-exchange"></i> <span class="tabhidden">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.OptionsHallazgos</span></a></li>
                                }
                            }


                        </ul>
                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">
                            <div class="tab-pane @(esAcreditador == false ? "active" : "")" id="mantenimientoVirtualTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i> Consultar Informe de Reunión de Delegados</h2>
                                <p align="justify">
                                    La presente funcionalidad permite realizar una consulta de Informe de Reunión de Delegados
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("LstHallazgosIRD", "Register")"><i class="fa fa-sign-in"></i> Consultar</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="generarHallazgosTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-exchange"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.OptionsHallazgos</h2>
                                <p align="justify">
                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.OptionsMantenimientoHallazgosDescription
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("Discoveries", "Discoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR, InstrumentoId = ConstantHelpers.INSTRUMENTOS.ARD, ResultadoId = 1 })">
                                        <i class="fa fa-sticky-note"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Acceder
                                    </a>
                                </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
    </script>
}

