﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.SurveyManagementGRAViewModel
@{
    ViewBag.Title = AddEditFDCResource.KeyWordsEncuestaGraduando;
    ViewBag.Icon = "graduation-cap";
    Boolean esAcreditador = false;
}

@section Breadcrumbs{
}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.DirectorCarrera) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera) || Session.GetRoles().HasRole(AppRol.Acreditador))
                            {
                                if (!Session.GetRoles().HasRole(AppRol.Acreditador) || Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.DirectorCarrera) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera)) {
                                    <li role="presentation" class="active"><a data-toggle="tab" href="#mantenimientoVirtualTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@AddEditFDCResource.OptionsMantenimientoVirtual</span></a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" href="#notificacionTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-envelope"></i> <span class="tabhidden">@AddEditFDCResource.OptionsNotificaciones</span></a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" href="#configuracionTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-wrench"></i> <span class="tabhidden">@AddEditFDCResource.OptionsConfiguracion</span></a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" href="#reportesTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-bar-chart"></i> <span class="tabhidden">@AddEditFDCResource.OptionsReportes</span></a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" href="#generarHallazgosTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-exchange"></i> <span class="tabhidden">@AddEditGRAResource.OptionsHallazgos</span></a></li>
                                }
                                else
                                {
                                    esAcreditador = true;
                                    <li role = "presentation" class="active"><a data-toggle="tab" href="#reportesTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-bar-chart"></i> <span class="tabhidden">@AddEditFDCResource.OptionsReportes</span></a></li>
                                }
                            }

                        </ul>
                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">
                            <div class="tab-pane" id="registromanualTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i> @AddEditFDCResource.OptionsRegistroManualTitulo @AddEditFDCResource.KeyWordsEncuestaGraduando</h2>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsRegistroManualDescripcionUno
                                </p>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsRegistroManualDescripcionDos
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" @Url.ModalHelperFor("_SelectPeriodo", "Register", new { TipoEncuestaNombre = ConstantHelpers.ENCUESTA.GRA })><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyRegistrar</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="generacionTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-download"></i> @AddEditFDCResource.OptionsGeneracionTitulo @AddEditFDCResource.KeyWordsEncuestaGraduando</h2>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsGeneracionDescripcion
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("GenerateSurveyGRA","Generate")"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyGenerar</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="cargamasivaTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-cloud-upload"></i> @AddEditFDCResource.OptionsCargaMasivaTitulo @AddEditFDCResource.KeyWordsEncuestaGraduando</h2>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsCargaMasivaDescripcion
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("UploadGRA", "Excel", new { Area = ConstantHelpers.AREAS.SURVEY})"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyCargar</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="descargaplantillaTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-file-excel-o"></i> @AddEditFDCResource.OptionsDescargaPlantillaTitulo @AddEditFDCResource.KeyWordsEncuestaGraduando</h2>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsDescargaPlantillaDescripcion
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("DownloadTemplateSurveyGRA", "Excel", new { Area = ConstantHelpers.AREAS.SURVEY })"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyDescargar</a>
                                </p>
                            </div>
                            <div class="tab-pane @(esAcreditador == false ? "active" : "")" id="mantenimientoTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-tasks"></i> @AddEditFDCResource.OptionsMantenimientoTitulo @AddEditFDCResource.KeyWordsEncuestaGraduando</h2>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsMantenimientoDescripcionUno
                                </p>
                                <p align="justify">
                                    <strong style="color:#37474f;"><i class="fa fa-check-circle" style="color:red"></i> <u>@AddEditFDCResource.OptionsMantenimientoDescripcionOpcionUno</u></strong>@AddEditFDCResource.OptionsReporteDescripcionDos<br />
                                    <strong style="color:#37474f;"><i class="fa fa-check-circle" style="color:red"></i> <u>@AddEditFDCResource.OptionsMantenimientoDescripcionOpcionDos</u></strong> @AddEditFDCResource.OptionsMantenimientoDescripcionTres<br />
                                </p>
                                <a class="pull-right btn btn-primary" href="@Url.Action("MantenimientoEncuestaGRA", "Maintenance", new { Area = ConstantHelpers.AREAS.SURVEY})"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyResultados</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="mantenimientoVirtualTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-tasks"></i> @AddEditFDCResource.OptionsMantenimientoTitulo @AddEditFDCResource.KeyWordsEncuestaGraduandoVirtual</h2>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsMantenimientoDescripcionUnoVirtual
                                </p>
                                <p align="justify">
                                    <strong style="color:#37474f;"><i class="fa fa-check-circle" style="color:red"></i> <u>@AddEditFDCResource.OptionsMantenimientoDescripcionOpcionUno</u></strong>@AddEditFDCResource.OptionsReporteDescripcionDos<br />
                                    <strong style="color:#37474f;"><i class="fa fa-check-circle" style="color:red"></i> <u>@AddEditFDCResource.OptionsMantenimientoDescripcionOpcionDos</u></strong> @AddEditFDCResource.OptionsMantenimientoDescripcionTres<br />
                                </p>
                                <a class="pull-right btn btn-primary" href="@Url.Action("MantenimientoEncuestaVirtualGRA", "Maintenance", new { Area = ConstantHelpers.AREAS.SURVEY})"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyResultados</a>
                                </p>
                            </div>
                            <div class="tab-pane @(esAcreditador == true ? "active" : "")" id="reportesTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="example-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-bar-chart"></i>@AddEditFDCResource.OptionsReportes</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @AddEditFDCResource.OptionsReportesDescripcionTabUno
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @*@AddEditFDCResource.OptionsReporteDescripcionUno*@
                                                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.MuestraReporteDeGraduandoPercepcionPorOutcomes
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("PercepcionOutcomeGRA","Report")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyReporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTwo" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo">
                                                                <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @AddEditFDCResource.OptionsReportesDescripcionTabDos
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo" aria-labelledby="exampleHeadingDefaultTwo" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @*@AddEditFDCResource.OptionsReporteDescripcionDos*@
                                                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.MuestraReporteDeGraduandoPromedioPorOutcomes
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("PercepcionPromedioPorOutcomeGraduando","Report")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyReporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTres" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTres" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultTres">
                                                                <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @AddEditFDCResource.OptionsReportesDescripcionTabTres
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTres" aria-labelledby="exampleHeadingDefaultTres" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @*@AddEditFDCResource.OptionsReporteDescripcionTres*@
                                                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.MuestraReporteDeGraduandoHistoricoPorOutcomes
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ReporteHistoricoOutcomesGRA","Report")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyReporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultCuatro" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultCuatro" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultCuatro">
                                                                <i class="icon pe-graph2" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                @AddEditFDCResource.OptionsReportesDescripcionTabCuatro
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultCuatro" aria-labelledby="exampleHeadingDefaultCuatro" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @*@AddEditFDCResource.OptionsReporteDescripcionCuatro*@
                                                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.MuestraReporteDeGraduandoHistoricoEncuestasNotificadas
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ReporteEncuestaVirtualGRA","Report")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyReporte</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="generarHallazgosTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="example-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-exchange"></i> @AddEditGRAResource.OptionsHallazgos</h2>
                                            <div class="example">
                                                <div class="panel-group" id="findingsAccordion" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="findingsHeadAccordionOne" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#findingsCollapseAccordionOne" data-parent="#findingsAccordion" aria-expanded="true" aria-controls="findingsCollapseAccordionOne">
                                                                @AddEditGRAResource.OptionsMantenimientoHallazgosGRATitle
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="findingsCollapseAccordionOne" aria-labelledby="findingsHeadAccordionOne" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @AddEditGRAResource.OptionsMantenimientoHallazgosGRADescription
                                                                </p>
                                                                <p>
                                                                    <a class="pull-right btn btn-primary" href="@Url.Action("Discoveries", "Discoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR, InstrumentoId = ConstantHelpers.INSTRUMENTOS.GRA, ResultadoId = 1 })">
                                                                        <i class="fa fa-sticky-note"></i> @AddEditGRAResource.OptionsMantenimientoHallazgosGRAButtonText
                                                                    </a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="findingsHeadAccordionTwo" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#findingsCollapseAccordionTwo" data-parent="#findingsAccordion" aria-expanded="false" aria-controls="findingsCollapseAccordionTwo">
                                                                @AddEditGRAResource.OptionsGenerarHallazgosAutomaticosGRATitle
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="findingsCollapseAccordionTwo" aria-labelledby="findingsHeadAccordionTwo" role="tabpanel" aria-expanded="false">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @AddEditGRAResource.OptionsGenerarHallazgosAutomaticosGRADescription
                                                                </p>
                                                                <p>
                                                                    <button class="pull-right btn btn-primary" id="generarHallazgosAutomaticos"><i class="fa fa-gears"></i> @AddEditGRAResource.OptionsGenerarHallazgosAutomaticosGRAButtonText</button>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- HU1 -->
                            <div class="tab-pane" id="notificacionTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-envelope"></i> @AddEditFDCResource.OptionsNotificaciones @AddEditFDCResource.KeyWordsEncuestaGraduando</h2>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsNotificacionesDescripcionGRA
                                </p>
                                <p>
                                    <a href="@Url.Action("EmailSurveyGRA", "Email")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyRegistrar</a>
                                </p>
                            </div>
                            <!--     -->

                            <div class="tab-pane" id="configuracionTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-wrench"></i> @AddEditFDCResource.OptionsConfiguracionTitulo @AddEditFDCResource.KeyWordsEncuestaGraduando</h2>
                                <h3>@AddEditFDCResource.OptionsConfiguracionDescripcionUno</h3>
                                <p align="justify">
                                    @AddEditFDCResource.OptionsConfiguracionDescripcionDos
                                </p>
                                <p>
                                    <a href="@Url.Action("ConfigurationGRA", "Configuration")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @AddEditFDCResource.ButtonsOptionsSurveyConfigurar</a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });

        $(document).ready(function () {
            $('#generarHallazgosAutomaticos').click(function () {
                $.ajax({
                    url: '@Url.Action("ConfirmAutomaticFindingsCreation", "Survey")',
                    dataType: "json",
                    success: function (data) {
                        swal({
                            title: data.title,
                            text: data.text,
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#FF0000',
                            confirmButtonText: '@ButtonsOptionsSurveyResource.Aceptar',
                            cancelButtonText: '@ButtonsOptionsSurveyResource.Cancelar'
                        }, function (accept) {
                            if (accept) {
                                window.location = '@Url.Action("CreateAutomaticFindingsGRA")';
                            }
                        });
                    }
                });
            });
        });
    </script>
}

