﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.IfcDiscoveryManagment
@using UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.DiscoveriesManagement
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@model AddHallazgoViewModel

@{
    Layout = null;
    //  ViewBag.Title = "Agregar Hallazgo";
    ViewBag.Title = ProfessorResource.AgregarHallazgo;
    ViewBag.Icon = "navicon";
    ViewBag.GUID = Guid.NewGuid();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Styles{
    <style>
       
    </style>
}
    <div id="modalAddHallazgo-@ViewBag.GUID">

        <div class="modal-header" id="modalAddHallazgoHead-@ViewBag.GUID">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="deleteMarkup()"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title"><i class="fa fa-@ViewBag.Icon contrast">&nbsp;</i> @ViewBag.Title </h4>
        </div>
        <div class="modal-body">
            <div class="form-group">








                <!----
    <label>Descripción del Hallazgo</label>
    <textarea id="taDescripcionHallazgoEspañol-@ViewBag.GUID" class="form-control" placeholder="Ingrese la descripción aquí"></textarea>
    -->

                <div class="row">
                    <div class="content col-md-12">
                        <div class="form-group">
                            <label>@ProfessorResource.HallazgoDescripcionLabel </label>
                            <div role="tabpanel">

                                <!--Nav Tabs-->
                                <ul id="nested-tabs" class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">@LayoutResource.Espanol</a></li>
                                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">@LayoutResource.Ingles</a></li>
                                </ul>

                                <!--Tab Panels -->
                                <div id="panels" class="tab-content">

                                    <!-- Tab 1 Panel -->
                                    <div role="tabpanel" class="tab-pane active" id="tab1">
                                        <textarea id="taDescripcionHallazgoEspañol-@ViewBag.GUID" class="form-control" placeholder="@(IfcDiscoveryManagementResource.IngresarDescripcionAqui)"></textarea>
                                    </div><!-- tabpanel Close -->
                                    <!-- Tab 2 Panel -->
                                    <div role="tabpanel" class="tab-pane" id="tab2">
                                        <textarea id="taDescripcionHallazgoIngles-@ViewBag.GUID" class="form-control" placeholder="@(IfcDiscoveryManagementResource.Descripcion)"></textarea>
                                    </div><!-- tabpanel Close -->


                                </div><!-- panels close -->

                            </div><!--tabpanel close-->
                        </div>
                    </div>

                </div>

                @if (Model.ListOutcomes.Count() > 1)
                {
                    <div class="col-md-12" style="padding-bottom: 20px;">
                        <label class="label-control">@Html.Raw(ProfessorResource.HallazgoOutcome)</label>
                        <div class="row">
                            <div class="col-md-9" style="padding-bottom: 5px;">
                                @Html.DropDownListFor(model => model.HallazgoIdOutcome, Model.ListOutcomes, new { @class = "form-control", id = "idOutcome" })
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary" id="insertOutcome"><i class="fa fa-plus"></i> @ProfessorResource.AgregarOutcome</button>
                            </div>
                        </div>
                        <label style="font-size: 12px;">@IfcDiscoveryManagementResource.OutcomesAgregados:</label>
                    </div>

                    <div id="display">
                    </div>
                } else
                {
                    @Html.DropDownListFor(model => model.HallazgoIdOutcome, Model.ListOutcomes, new { @class = "form-control hidden", id = "idOutcome"})
                }

                <br />
                <label>@ProfessorResource.HallazgoCriticidadLabel</label>
                <br />



                @foreach (var crit in Model.Criticidades)
                {
                    <!--   <input type="radio" name="radio_criticidad" checked id="criticidad" value="@(crit.NombreEspanol)"> @crit.NombreEspanol<br> -->

                    <input type="radio" name="radio_criticidad" checked id="criticidad" value="@(crit.NombreEspanol)"> @(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? crit.NombreEspanol : crit.NombreIngles) <br>
                }
                <!--
    <select class="form-control" id="lstCriticidad-@ViewBag.GUID"></select>
        -->

                <br />
                <!--         RML0001
    <label>Seleccione las sedes a las que aplica el hallazgo</label>
    <div class="checkbox">
        <label>
            <input checked disabled type="checkbox" id="cboxTodas-@ViewBag.GUID" value="todas">
            Todas
        </label>
    </div>

    <select multiple class="form-control" id="lstSedes-@ViewBag.GUID"></select>
                                                                                                                                                                                                                    RML0001    -->
                <label hidden>@IfcDiscoveryManagementResource.SeleccioneSedesAplicaHallazgo</label>
                <div class="checkbox" hidden>
                    <label hidden>
                        <input checked disabled type="checkbox" id="cboxTodas-@ViewBag.GUID" value="todas" hidden>
                        @IfcDiscoveryManagementResource.Todas
                    </label>
                </div>

                <!--
    <select multiple class="form-control" id="lstSedes-@ViewBag.GUID" hidden></select>                                                                                                                                   RML0001

    -->


            </div>
            <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample1" aria-controls="collapseExample">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i>@ProfessorResource.HallazgoObjetivoDelCursoLabel</h3>
            </div>
            <div class="collapse" id="collapseExample1">
            <!--    <small>@Model.cursoMallaCurricular.LogroFinCicloEspanol</small> -->
                <small>@(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? Model.cursoMallaCurricular.LogroFinCicloEspanol : Model.cursoMallaCurricular.LogroFinCicloIngles )</small>
            </div>

            <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample2" aria-controls="collapseExample">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i> Outcomes</h3>
            </div>
            <div class="collapse" id="collapseExample2">
                @foreach (var outcome in Model.lstOutcomes)
        {
            <br />
          <!--  <small>@outcome.DescripcionEspanol</small> -->
              <small>@(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? outcome.DescripcionEspanol : outcome.DescripcionIngles )</small>
            <br />
        }
            </div>
        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteMarkup()"><i class="fa fa-times"></i> @IfcDiscoveryManagementResource.Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="aceptar()"><i class="fa fa-check"></i> @ButtonsOptionsResource.Aceptar</button>

 


        </div>



    </div>

<script id="scriptAddHallazgo-@ViewBag.GUID">
    /*$("select").mousedown(function (e) {
        e.preventDefault();

        var select = this;
        var scroll = select.scrollTop;

        e.target.selected = !e.target.selected;

        setTimeout(function () { select.scrollTop = scroll; }, 0);

        $(select).focus();
        e.run();
    }).mousemove(function (e) { e.preventDefault() });*/

    var concat_descrip = ""
    var concat_outcomes = ""
    var test = 0
    var outcomes_array = [];
    var descriptions_array = [];
    var temporal_s = ""

    $("#insertOutcome").click(function () {
        if (outcomes_array.indexOf($('#idOutcome > option:selected').val()) < 0) {
            outcomes_array.push($('#idOutcome > option:selected').val());
            descriptions_array.push($('#idOutcome > option:selected').text());
            test = test + 1;
        }
        showButton();
    });

    function deleteOutcome(i) {
        outcomes_array.splice(i, 1)
        descriptions_array.splice(i, 1)
        test -= 1
        showButton();
    }

    function showButton() {
        document.getElementById("display")
        chips = ""
        for (var i = 0; i < test; i++) {
            chips += '<button class="btn btn-default" onclick="deleteOutcome(' + i + ')" name="test_data" style="margin-bottom: 8px;" value="' + i + '" id="' + i + '">' + descriptions_array[i] + '<i class="fa fa-times"></i></button>'; 
        }
        document.getElementById("display").innerHTML = chips;
    }



    for (var i = 0; i < sedes.length; i++) {
        $('#lstSedes-@ViewBag.GUID').append($('<option>', {
            value: sedes[i].codigo,
            text: sedes[i].nombre
        }));
    }


    if ($('#cboxTodas-@ViewBag.GUID').is(":checked")) {
        $("#lstSedes-@ViewBag.GUID").prop("disabled", true);
        $("#lstSedes-@ViewBag.GUID").val([]).prop("selected", false);
    }

    $('#cboxTodas-@ViewBag.GUID').change(function () {
        if ($(this).is(":checked")) {
            $("#lstSedes-@ViewBag.GUID").prop("disabled", true);
            $("#lstSedes-@ViewBag.GUID").val([]).prop("selected", false);
        } else {
            $("#lstSedes-@ViewBag.GUID").prop("disabled", false);
        }
    });

    function deleteMarkup() {
        $('.modal.in').modal('hide');
        $("#scriptAddHallazgo-@ViewBag.GUID").remove();
        $("#modalAddHallazgo-@ViewBag.GUID").remove();
    }

    function aceptar() {

        //Solo un Outcome
        if ($('#idOutcome option').length == 1) {
            concat_descrip = $('#idOutcome > option:selected').text();
            concat_outcomes = $('#idOutcome > option:selected').val();
            outcomes_array.push($('#idOutcome > option:selected').val());
        } else {
            //create description
            descriptions_array.forEach(function (item, i) {
                if (i == 0)
                    concat_descrip += item;
                else
                    concat_descrip += "<br/>" + item;
            });

            //create outcomes
            outcomes_array.forEach(function (item, i) {
                if (i == 0)
                    concat_outcomes += item;
                else
                    concat_outcomes += "|" + item;
            });
        }

        // check descripción
        if ($("#taDescripcionHallazgoEspañol-@ViewBag.GUID").val().length == 0) {
            alert("@(IfcDiscoveryManagementResource.AlertaDebeIngresarDescripcionParaContinuar)");
            return;
        }

        // check Outcome
        if (outcomes_array.length == 0) {
            alert("@(IfcDiscoveryManagementResource.AlertaDebeIngresarOutcomeParaContinuar)");
            return;
        }

        // check descripción length
        
            var description = $("#taDescripcionHallazgoEspañol-@ViewBag.GUID").val();
            var temporalStrings = [];
            var tempSplittedDescription = "";

            for (let index = 0; index < description.length; index++) {
                const element = description[index];

                if (element == ' ') {
                    temporalStrings.push(tempSplittedDescription);
                    tempSplittedDescription = new String();
                } else {
                    tempSplittedDescription += element;
                }
                if (index == description.length - 1) {
                    temporalStrings.push(tempSplittedDescription);
                }
            }

            for (var i = 0; i < temporalStrings.length; i++) {
                if (temporalStrings[i].length > 30) {
                    alert("@(IfcDiscoveryManagementResource.LaPalabra) ' " +  temporalStrings[i] + " ' @(IfcDiscoveryManagementResource.NoPuedeSerIngresadaContieneMas30Caracteres)");
                    return;
                }
            }

        // check sedes
        var checkedAtLeastOneSede = false;
        $('#lstSedes-@ViewBag.GUID > option:selected').each(function () {
            checkedAtLeastOneSede = true;
        });

 //       if (!$("#cboxTodas-@ViewBag.GUID").is(":checked") && !checkedAtLeastOneSede) {
 //           alert("Debe seleccionar al menos una sede para poder continuar.");                                                                                                                                         // RML0001
 //           return;                                                                                                                                                                                                    // RML0001
 //       }

        // añadir hallazgos
        if ($("#cboxTodas-@ViewBag.GUID").is(":checked")) {
            addHallazgo(sedes, $("#taDescripcionHallazgoEspañol-@ViewBag.GUID").val(), $("input[name=radio_criticidad]:checked").val(), concat_descrip, concat_outcomes);
        } else {
            addHallazgo2($('#lstSedes-@ViewBag.GUID > option:selected'), $("#taDescripcionHallazgoEspañol-@ViewBag.GUID").val(), $("input[name=radio_criticidad]:checked").val(), concat_descrip, concat_outcomes);
            @*$('#lstSedes-@ViewBag.GUID > option:selected').each(function () {
                addHallazgo($(this).val(), $("#taDescripcionHallazgo-@ViewBag.GUID").val());
            });*@
        }

        deleteMarkup();
    }


    //Traduccion
    $('#taDescripcionHallazgoEspañol-@ViewBag.GUID').change(function () {
        $('#taDescripcionHallazgoIngles-@ViewBag.GUID').val("");
        ActualizarTraduccion();
    });
    function ActualizarTraduccion() {

        $.ajax({
            //  type: "POST",
            url: '@Url.Action("TraduccionActualizar", "Json")',
            data: { textoatraducir: $('#taDescripcionHallazgoEspañol-@ViewBag.GUID').val() },
            dataType: "json",
            success: function (data) {

                $('#taDescripcionHallazgoIngles-@ViewBag.GUID').val(data["Text"]);

            },
            beforeSend: function () {
                $('#taDescripcionHallazgoIngles').val("Traduciendo....");

            }
        });
    }



    function addHallazgo(sede, descripcion, criticidad, outcome, idoutcome) {
        
        var rowCount = $('.rowHallazgo').length;
        var numeroTemp = rowCount + 1;
        var number = globalHallazgo++;
        var codigo = 'HIFC-' + codigoCurso + '-F-TEMP' + ("000" + number).slice(-3);
        var cadena = '';

        for (var i = 0; i < sede.length; i++) {
            var numberHallazgo = internalGlobalHallazgo++;
            cadena += '<input type="hidden" class="hiddenCodigoHallazgo" name="Hallazgos[' + numberHallazgo + '].Codigo" value="' + codigo + '"/>' +
            '<input class="hiddenDescripcionHallazgo" type="hidden" name="Hallazgos[' + numberHallazgo + '].Descripcion" value="' + descripcion + '"/>';
            //cadena += '<input class="hiddenOutcome" type="hidden" name="Hallazgos[' + numberHallazgo + '].Outcome" value="' + outcome + '"/>';
            //ESTO ES NUEVO
            cadena += '<input class="hiddenidOutcome" type="hidden" name="Hallazgos[' + numberHallazgo + '].idOutcome" value="' + idoutcome + '"/>';
            //-----------------------------
            cadena += '<input class="hiddenSede" type="hidden" name="Hallazgos[' + numberHallazgo + '].Sede" value="' + sede[i].codigo + '"/>' +
                '<input class="hiddenCriticidadHallazgo" type="hidden" name="Hallazgos[' + numberHallazgo + '].Criticidad" value="' + criticidad + '"/>';
        }
        $("#tblHallazgos").append('<tr class="rowHallazgo"> ' +
            '<td style="text-align: center; vertical-align: middle; width: 20%;">' +
                '<label class="codigoHallazgo" for="Hallazgos[' + rowCount + '].Codigo">' + codigo + '</label>' +
            '</td>' +
            '<td style="text-align: justify; vertical-align: middle; width: 40%;">' +
                '<label class="descripcionHallazgo" for="Hallazgos[' + rowCount + '].Descripcion">' + descripcion + '</label>' +
            '</td>' +
            '<td style="text-align: justify; vertical-align: middle; width: 40%;">' +
                '<label class="outcome" for="Hallazgos[' + rowCount + '].Outcome">' + outcome + '</label>' +
            '</td>' +
         '<td style="text-align: center; vertical-align: middle; width: 50%;">' +
                '<label class="criticidadHallazgo" for="Hallazgos[' + rowCount + '].Criticidad">' + criticidad + '</label>' +
            '</td>' +
            '<td style="text-align: center; vertical-align: middle; width: 15%;">' +
            '<a href="javascript:void(0);" class="remRowHallazgo">@(ButtonsOptionsResource.Eliminar)</a>'
            + cadena +
            '</td>' +
            '</tr>');
    }

    // $('#lstSedes-@ViewBag.GUID > option:selected')
    function addHallazgo2(sede, descripcion, criticidad, outcome) {
        var rowCount = $('.rowHallazgo').length;
        var numeroTemp = rowCount + 1;
        var number = globalHallazgo++;
        //     var codigo = codigoCurso + '-' + periodoAcademico + "-F-TEMP" + ("000" + number).slice(-3);
        var codigo = codigoCurso + '-' + "-F-TEMP" + ("000" + number).slice(-3);
        var cadena = '';

        sede.each(function () {
            var numberHallazgo = internalGlobalHallazgo++;
            cadena += '<input type="hidden" class="hiddenCodigoHallazgo" name="Hallazgos[' + numberHallazgo + '].Codigo" value="' + codigo + '"/>' +
            '<input class="hiddenDescripcionHallazgo" type="hidden" name="Hallazgos[' + numberHallazgo + '].Descripcion" value="' + descripcion + '"/>';
            + '<input class="hiddenOutcome" type="hidden" name="Hallazgos[' + numberHallazgo + '].Outcome" value="' + outcome + '"/>';
            //ESTO ES NUEVO
            cadena += '<input class="hiddenidOutcome" type="hidden" name="Hallazgos[' + numberHallazgo + '].idOutcome" value="' + idoutcome + '"/>';
            //----------------------------
            cadena += '<input class="hiddenSede" type="hidden" name="Hallazgos[' + numberHallazgo + '].Sede" value="' + $(this).val() + '"/>' +
                '<input class="hiddenCriticidadHallazgo" type="hidden" name="Hallazgos[' + numberHallazgo + '].Criticidad" value="' + criticidad + '"/>';
        });

        $("#tblHallazgos").append(
            '<tr class="rowHallazgo"> ' +
            '<td style="text-align: center; vertical-align: middle; width: 20%;">' +
                '<label class="codigoHallazgo" for="Hallazgos[' + rowCount + '].Codigo">' + codigo + '</label>' +
            '</td>' +
            '<td style="text-align: justify; vertical-align: middle; width: 50%;">' +
                '<label class="descripcionHallazgo" for="Hallazgos[' + rowCount + '].Descripcion">' + descripcion + '</label>' +
            '</td>' + 

            '<td style="text-align: justify; vertical-align: middle; width: 15%;">' +
                '<label class="outcome" for="Hallazgos[' + rowCount + '].Outcome">' + outcome + '</label>' +
            '</td>' +

            '<td style="text-align: justify; vertical-align: middle; width: 50%;">' +
                '<label class="criticidadHallazgo" for="Hallazgos[' + rowCount + '].Criticidad">' + criticidad + '</label>' +
            '</td>' +

            '<td style="text-align: center; vertical-align: middle; width: 15%;">' +
            '<a href="javascript:void(0);" class="remRowHallazgo">@(ButtonsOptionsResource.Eliminar)</a>'
            + cadena +
            '</td>' +
            '</tr>');
    }
</script>
