﻿@using UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.DiscoveriesManagement
@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.IfcDiscoveryManagment
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@model AddHallazgoViewModel
@{
    Layout = null;
  //  ViewBag.Title = "Agregar Acción de Mejora";
    ViewBag.Title = ProfessorResource.AccionesMejora;
    ViewBag.Icon = "navicon";
    ViewBag.GUID = Guid.NewGuid();
}
@section Styles{
    <style>

    </style>
}


<div id="modalAddAccion-@ViewBag.GUID">
    <div class="modal-header" id="modalAddAccionHead-@ViewBag.GUID">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="deleteMarkup()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><i class="fa fa-@ViewBag.Icon contrast">&nbsp;</i> @ViewBag.Title </h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>@ProfessorResource.AccionMejoraLabel</label>
            <select class="form-control" id="lstHallazgos-@ViewBag.GUID"></select>
            <textarea style="resize: none; height: 100px;" id="taHallazgo-@ViewBag.GUID" class="form-control" readonly disabled="disabled"></textarea>
            <br />
            
            <!---
            <textarea style="resize: none; height: 100px;" id="taDescripcionAccionMejoraEspañol-@ViewBag.GUID" class="form-control" placeholder="Ingrese la descripción aquí"></textarea>
            -->
            <div class="row">
                <div class="content col-md-12">
                    <div class="form-group">
                        <label>@ProfessorResource.AccionMejoraDescripcionLabel</label>
                        <div role="tabpanel">

                            <!--Nav Tabs-->
                            <ul id="nested-tabs" class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">@LayoutResource.Espanol</a></li>
                                <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">@LayoutResource.Ingles</a></li>
                            </ul>

                            <!--Tab Panels -->
                            <div id="panels" class="tab-content">
                                <!-- Tab 1 Panel -->
                                <div role="tabpanel" class="tab-pane active" id="tab1">
                                    <textarea id="taDescripcionAccionMejoraEspañol-@ViewBag.GUID" class="form-control" placeholder='@(IfcDiscoveryManagementResource.IngresarDescripcionAqui)'></textarea>
                                </div><!-- tabpanel Close -->
                                <!-- Tab 2 Panel -->
                                <div role="tabpanel" class="tab-pane" id="tab2">
                                    <textarea id="taDescripcionAccionMejoraIngles-@ViewBag.GUID" class="form-control" placeholder='@(IfcDiscoveryManagementResource.Descripcion)'></textarea>
                                </div><!-- tabpanel Close -->
                            </div><!-- panels close -->
                        </div><!--tabpanel close-->
                    </div>
                </div>
            </div>
           
            <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample1" aria-controls="collapseExample">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i>@ProfessorResource.HallazgoObjetivoDelCursoLabel</h3>
            </div>
            <div class="collapse" id="collapseExample1">
              <!--  <small>@Model.cursoMallaCurricular.LogroFinCicloEspanol</small> -->
              <small>@(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? Model.cursoMallaCurricular.LogroFinCicloEspanol : Model.cursoMallaCurricular.LogroFinCicloIngles )</small>
            </div>

            <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample2" aria-controls="collapseExample">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i> Outcomes</h3>
            </div>
            <div class="collapse" id="collapseExample2">
                @foreach (var outcome in Model.lstOutcomes)
        {
            <br />
         <!--   <small>@outcome.DescripcionEspanol</small> -->
            <small>@(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? outcome.DescripcionEspanol : outcome.DescripcionIngles )</small>
            <br />
}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteMarkup()"><i class="fa fa-times"></i>@IfcDiscoveryManagementResource.Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="aceptar()"><i class="fa fa-check"></i>@ButtonsOptionsResource.Aceptar</button>
        </div>

    </div>
        <script id="scriptAddAccion-@ViewBag.GUID">
    $(document).ready(function () {
        var firstOption = true;
        var valueFirstOption;
        $('.codigoHallazgo').each(function (index) {
            $('#lstHallazgos-@ViewBag.GUID').append($('<option>', {
                value: $(this).text(),
                text: $(this).text()
            }));
            if (firstOption) {
                firstOption = false;
                var tempRow = $(this).closest("tr");
                valueFirstOption = tempRow.find("td > label.descripcionHallazgo").text();
            }
        });
        $("#taHallazgo-@ViewBag.GUID").val(valueFirstOption);

        $("#lstHallazgos-@ViewBag.GUID").on("change", function () {
            var selectedValue = $(this).val();
            $(".codigoHallazgo")
                .each(function () {
                    if ($(this).closest("tr").find("td > label.codigoHallazgo").text() == selectedValue) {
                        $("#taHallazgo-@ViewBag.GUID").val($(this).closest("tr").find("td > label.descripcionHallazgo").text());
                      //  $("#taHallazgo-@ViewBag.GUID").val("hola");
                    }
                });
        });
    });

            //Traduccion
            $('#taDescripcionAccionMejoraEspañol-@ViewBag.GUID').change(function () {
                $('#taDescripcionAccionMejoraIngles-@ViewBag.GUID').val("");
                ActualizarTraduccion();
            });
            function ActualizarTraduccion() {

                $.ajax({
                    //  type: "POST",
                    url: '@Url.Action("TraduccionActualizar", "Json")',
                    data: { textoatraducir: $('#taDescripcionAccionMejoraEspañol-@ViewBag.GUID').val() },
                    dataType: "json",
                    success: function (data) {

                        $('#taDescripcionAccionMejoraIngles-@ViewBag.GUID').val(data["Text"]);

                    },
                    beforeSend: function () {
                    },
                });
            }



    function deleteMarkup() {
        $('.modal.in').modal('hide');
        $("#scriptAddAccion-@ViewBag.GUID").remove();
        $("#modalAddAccion-@ViewBag.GUID").remove();
    }

    function aceptar() {
        // check descripción
        if ($("#taDescripcionAccionMejoraEspañol-@ViewBag.GUID").val().length == 0) {
            alert('@(IfcDiscoveryManagementResource.AlertaDebeIngresarDescripcionParaContinuar)');
            return;
        }

        // check descripción length
        var description = $("#taDescripcionAccionMejoraEspañol-@ViewBag.GUID").val();
        var temporalStrings = [];
        var tempSplittedDescription = "";

        for (let index = 0; index < description.length; index++) {
            const element = description[index];

            if (element == ' ') {
                temporalStrings.push(tempSplittedDescription);
                tempSplittedDescription = new String();
            } else {
                tempSplittedDescription += element;
            }
            if (index == description.length - 1) {
                temporalStrings.push(tempSplittedDescription);
            }
        }

        for (var i = 0; i < temporalStrings.length; i++) {
            if (temporalStrings[i].length > 30) {
                alert("@(IfcDiscoveryManagementResource.LaPalabra) ' " + temporalStrings[i] + " ' @(IfcDiscoveryManagementResource.NoPuedeSerIngresadaContieneMas30Caracteres)");
                return;
            }
        }

        // check hallazgo
        var checkedAtLeastOneHallazgo = false;
        $('#lstHallazgos-@ViewBag.GUID > option:selected').each(function () {
            checkedAtLeastOneHallazgo = true;
        });

        if (!checkedAtLeastOneHallazgo) {
            alert("@(IfcDiscoveryManagementResource.AlertaDebeSeleccionarHallazgoParaContinuar)");
            return;
        }

        // añadir accion
        $('#lstHallazgos-@ViewBag.GUID > option:selected').each(function () {
            addAccion($(this).val(), $("#taDescripcionAccionMejoraEspañol-@ViewBag.GUID").val());
        });

        deleteMarkup();
    }

    function addAccion(hallazgo, descripcion) {
        var rowCount = $('.rowAccion').length;
        var numeroTemp = rowCount + 1;
        var number = globalAccion++;
        var codigo = "AIFC-" + codigoCurso + "-A-TEMP" + ("000" + number).slice(-3);
        $("#tblAcciones").append('<tr class="rowAccion"> ' +
            '<td style="text-align: center; vertical-align: middle;"> ' +
                '<label class="codigoAccion" for="AccionesPropuestas[' + rowCount + '].Codigo">' + codigo + '</label>' +
            '</td>' +
            '<td style="text-align: justify; vertical-align: middle;">' +
                '<label class="descripcionAccion" for="AccionesPropuestas[' + rowCount + '].Descripcion">' + descripcion + '</label>' +
            '</td>' +
            '<td style="text-align: center; vertical-align: middle;">' +
            '<label class="codigoHallazgoAccion" for="AccionesPropuestas[' + rowCount + '].CodigoHallazgo">' + hallazgo + '</label>' +
            '</td>' +
            '<td style="text-align: center; vertical-align: middle;"><a href="javascript:void(0);" class="remRowAccion">@(ButtonsOptionsResource.Eliminar)</a></td>' +
            '<input type="hidden" class="hiddenCodigoAccion" name="AccionesPropuestas[' + rowCount + '].Codigo" value="' + codigo + '"/>' +
            '<input class="hiddenDescripcionAccion" type="hidden" name="AccionesPropuestas[' + rowCount + '].Descripcion" value="' + descripcion + '"/>' +
            '<input class="hiddenCodigoHallazgoAccion" type="hidden" name="AccionesPropuestas[' + rowCount + '].CodigoHallazgo" value="' + hallazgo + '"/></tr>');
    }
        </script>
