﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.IfcDiscoveryManagment;
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.AccDiscoveries._EditAccViewModel
@{ 
    Layout = null;
    //  ViewBag.Title = "Agregar Acción de Mejora";
    ViewBag.Title = IfcDiscoveryManagementResource.AccionMejora+" "+ Model.codigo;
    ViewBag.Icon = "navicon";
    ViewBag.GUID = Guid.NewGuid();
}

<div id="modaleditaccion-@ViewBag.GUID">
    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "formsubmit" }))
    {
        @Html.HiddenFor(m=>m.accionmejoraid, new { @id = "accionmejoraid"})
        <div class="modal-header" id="modaleditaccionHead-@ViewBag.GUID">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="deleteMarkup()"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title"><i class="fa fa-@ViewBag.Icon contrast">&nbsp;</i> @ViewBag.Title </h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>@ProfessorResource.Hallazgo</label>
                @*<select class="form-control" id="lstHallazgos-@ViewBag.GUID"></select>
                <textarea style="resize: none; height: 100px;" id="taHallazgo-@ViewBag.GUID" class="form-control" readonly></textarea>*@
                <div role="tabpanel">
                    @for (int i = 0; i < Model.lsthallazgos.Count(); i++)
                    {
                        <ul id="nested-tabs" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab-@i" aria-controls="tab1" role="tab" data-toggle="tab">@Model.lsthallazgos[i].Codigo-@Model.lsthallazgos[i].Identificador</a></li>
                        </ul>
                        <div id="panels" class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab-@i">
                                <textarea id="descripcion-@i" class="form-control" rows="5" style="resize:both;" placeholder="Ingrese la descripción aquí" disabled="disabled">@Model.lsthallazgos[i].DescripcionEspanol</textarea>
                            </div>
                        </div>
                    }
                </div>
                <br />

                <!---
            <textarea style="resize: none; height: 100px;" id="taDescripcionAccionMejoraEspañol-@ViewBag.GUID" class="form-control" placeholder="Ingrese la descripción aquí"></textarea>
            -->
                <div class="row">
                    <div class="content col-md-12">
                        <div class="form-group">
                            <label>@ProfessorResource.AccionMejoraDescripcionLabel</label>
                            <div role="tabpanel">

                                <!--Nav Tabs-->
                                <ul id="nested-tabs" class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab1-@Model.codigo" aria-controls="tab1" role="tab" data-toggle="tab">@LayoutResource.Espanol</a></li>
                                    <li role="presentation"><a href="#tab2-@Model.codigo" aria-controls="tab2" role="tab" data-toggle="tab">@LayoutResource.Ingles</a></li>
                                </ul>

                                <!--Tab Panels -->
                                <div id="panels" class="tab-content">
                                    <!-- Tab 1 Panel -->
                                    <div role="tabpanel" class="tab-pane active" id="tab1-@Model.codigo">
                                    @Html.TextAreaFor(m=>m.descripcionespanol, new { @id= "tabdespanol", @class = "form-control" , @rows = "5", @style= "resize:both;" })    
                                    @*<textarea id="tabdespanol" class="form-control" placeholder="Ingrese la descripción aquí" rows="5" style="resize:both;">@Model.descripcionespanol</textarea>*@
                                    </div><!-- tabpanel Close -->
                                    <!-- Tab 2 Panel -->
                                    <div role="tabpanel" class="tab-pane" id="tab2-@Model.codigo">
                                        @*<textarea id="tabdingles" class="form-control" placeholder="Description" style="resize:both;" rows="5">@Model.descripcioningles</textarea>*@
                                        @Html.TextAreaFor(m => m.descripcioningles, new { @id = "tabingles", @class = "form-control", @rows = "5", @style = "resize:both;" })                                       
                                    </div><!-- tabpanel Close -->
                                </div><!-- panels close -->
                            </div><!--tabpanel close-->
                        </div>
                    </div>
                </div>

                <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample1" aria-controls="collapseExample">
                    <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i>@ProfessorResource.HallazgoObjetivoDelCursoLabel</h3>
                </div>
                <div class="collapse" id="collapseExample1">
                    <!--  <small>@Model.cursomallacurricular.LogroFinCicloEspanol</small> -->
                    <small>@(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? Model.cursomallacurricular.LogroFinCicloEspanol : Model.cursomallacurricular.LogroFinCicloIngles )</small>
                </div>

                <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample2" aria-controls="collapseExample">
                    <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i> Outcomes</h3>
                </div>
                <div class="collapse" id="collapseExample2">
                    @foreach (var outcome in Model.lstoutcome)
                    {
                        <br />
         <!--   <small>@outcome.DescripcionEspanol</small> -->
                        <small>@(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? outcome.DescripcionEspanol : outcome.DescripcionIngles )</small>
                        <br />
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteMarkup()"><i class="fa fa-times"></i> @IfcDiscoveryManagementResource.Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="aceptar()"><i class="fa fa-check"></i> @ButtonsOptionsResource.Aceptar</button>
            </div>

        </div>

    }
</div>

<script id="scriptAddAccion-@ViewBag.GUID">

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    function deleteMarkup() {
        $('.modal.in').modal('hide');
        $("#scriptAddAccion-@ViewBag.GUID").remove();
        $("#modaleditaccion-@ViewBag.GUID").remove();
    }

    $('#tabdespanol').change(function () {
        $('#tabingles').val("");
        ActualizarTraduccion();

    });
    function ActualizarTraduccion() {

        $.ajax({
            //  type: "POST",
            url: '@Url.Action("TraduccionActualizar", "Json")',
            data: { textoatraducir: $('#tabdespanol').val() },
            dataType: "json",
            success: function (data) {

                $('#tabingles').val(data["Text"]);

            },
            beforeSend: function () {
                $('#tabingles').val("Traduciendo....")

            }
        });
    }


    function aceptar() {


        if ($("#tabdespanol").val().trim().length == 0) {

            swal({
                position: 'top-end',
                type: 'error',
                title: '@(IfcDiscoveryManagementResource.NoIngresoNingunaDescripcion)',
                showConfirmButton: false,
                timer: 1000
            });
            return false;
        }
        if ($("#tabingles").val().trim().length == 0) {

            swal({
                position: 'top-end',
                type: 'error',
                title: '@(IfcDiscoveryManagementResource.NoIngresoNingunaDescripcion)',
                showConfirmButton: false,
                timer: 1000
            });
            return false;
        }


            swal({
                title: '@(IfcDiscoveryManagementResource.PreguntaEstarSeguroEditarAccionDeMejora)',
                text: "@(IfcDiscoveryManagementResource.AdvertenciaRecordarAccionMejoraIraPlanDeMejora)",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '@(IfcDiscoveryManagementResource.SiEditalo)',
                closeOnConfirm: false
            }, function () {
                    var Data = $("#formsubmit").serialize();

                    $.ajax({

                        type: 'POST',
                        url: '@Url.Action("_EditAccionMejora", "IfcDiscoveryManagement")',
                        data: Data,
                        success: function (response) {
                            switch (response) {
                                case "trueedit":
                                    swal({
                                        position: 'top-end',
                                        timer: 1000,
                                        type: 'success',
                                        title: '@(IfcDiscoveryManagementResource.AccionDeMejoraEditadaExitosamente)',
                                        showConfirmButton: false,
                                    });
                                    setTimeout(function () {
                                        window.location.reload(1);
                                    }, 1000);
                                    break;
                                case "nodescripcion":
                                    swal({
                                        position: 'top-end',
                                        type: 'error',
                                        title: '@(IfcDiscoveryManagementResource.NoIngresoNingunaDescripcion)',
                                        showConfirmButton: false,
                                        timer: 1000
                                    })
                                    break;
                                case "error":
                                    swal({
                                        position: 'top-end',
                                        type: 'error',
                                        title: '@(IfcDiscoveryManagementResource.SucedioUnError)',
                                        showConfirmButton: false,
                                        timer: 1000
                                    })
                                    setTimeout(function () {
                                        window.location.reload(1);
                                    }, 1000);
                                    break;
                                case "fullspace":
                                    swal({
                                        position: 'top-end',
                                        type: 'error',
                                        title: '@(IfcDiscoveryManagementResource.NoSePermiteIngresoSoloEspacio)',
                                        showConfirmButton: false,
                                        timer: 1000
                                    })

                                    break;
                            }

                        },
                        error: function (response) {
                        },
                        complete: function (response) {

                        }
                    });


            })
        }






</script>