﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.IfcDiscoveryManagment
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.IfcManagement.EditHallazgoViewModel
@{
    Layout = null;
    ViewBag.Title = IfcDiscoveryManagementResource.EditarHallazgo;
    ViewBag.Icon = "navicon";
    ViewBag.GUID = Guid.NewGuid();
}
@section Styles{
    <style>
    </style>
}
<div id="modalAddHallazgo-@ViewBag.GUID">

    <div class="modal-header" id="modalAddHallazgoHead-@ViewBag.GUID">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="deleteMarkup()"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title"><i class="fa fa-@ViewBag.Icon contrast">&nbsp;</i> @ViewBag.Title </h4>
       <input class="hiddenCriticidad" type="hidden" name="posicion" id="Posicion" value="@Model.pos" />
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>@IfcDiscoveryManagementResource.DescripcionDelHallazgo</label>

            <textarea id="taDescripcionHallazgo-@ViewBag.GUID" class="form-control" placeholder="@(IfcDiscoveryManagementResource.IngresarDescripcionAqui)"> @(Model.descripcionHallazgo)</textarea>
            <br />
            <label>@IfcDiscoveryManagementResource.SeleccioneNivelCriticidadHallazgo</label>
            <br />

            @foreach (var crit in Model.Criticidades)
            {
                if (crit.NombreEspanol != Model.criticidad)
                { 
                <input type="radio" name="radio_criticidad"  id="criticidad1" value="@(crit.NombreEspanol)"> @crit.NombreEspanol<br>
                }
                else
                {
                    <input type="radio" name="radio_criticidad" checked="checked" id="criticidad1" value="@(crit.NombreEspanol)"> @crit.NombreEspanol<br>
                }
            }
            <!--
            <select class="form-control" id="lstCriticidad-@ViewBag.GUID"></select>
                -->

            <br />
            <label>@IfcDiscoveryManagementResource.SeleccioneSedesAplicaHallazgo</label>
            <div class="checkbox">
                <label>
                    <input checked disabled type="checkbox" id="cboxTodas-@ViewBag.GUID" value="todas">
                    @IfcDiscoveryManagementResource.Todas
                </label>
            </div>
            <select multiple class="form-control" id="lstSedes-@ViewBag.GUID"></select>
        </div>
        <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample1" aria-controls="collapseExample">
            <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i> @IfcDiscoveryManagementResource.ObjetivosDelCurso</h3>
        </div>
        <div class="collapse" id="collapseExample1">
            <small>@Model.cursoMallaCurricular.LogroFinCicloEspanol</small>
        </div>

        <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample2" aria-controls="collapseExample">
            <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i> Outcomes</h3>
        </div>
        <div class="collapse" id="collapseExample2">
            @foreach (var outcome in Model.lstOutcomes)
            {
                <br />
                <small>@outcome.DescripcionEspanol</small>
                <br />
            }
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteMarkup()"><i class="fa fa-times"></i> @IfcDiscoveryManagementResource.Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="aceptar()"><i class="fa fa-check"></i> @ButtonsOptionsResource.Aceptar</button>




    </div>



</div>

<script id="scriptAddHallazgo-@ViewBag.GUID">
    $("select").mousedown(function (e) {
        e.preventDefault();

        var select = this;
        var scroll = select.scrollTop;

        e.target.selected = !e.target.selected;

        setTimeout(function () { select.scrollTop = scroll; }, 0);

        $(select).focus();
    }).mousemove(function (e) { e.preventDefault() });

    for (var i = 0; i < sedes.length; i++) {
        $('#lstSedes-@ViewBag.GUID').append($('<option>', {
            value: sedes[i].codigo,
            text: sedes[i].nombre
        }));
    }


    if ($('#cboxTodas-@ViewBag.GUID').is(":checked")) {
        $("#lstSedes-@ViewBag.GUID").prop("disabled", true);
        $("#lstSedes-@ViewBag.GUID").val([]).prop("selected", false);
    }

    $('#cboxTodas-@ViewBag.GUID').change(function () {
        if ($(this).is(":checked")) {
            $("#lstSedes-@ViewBag.GUID").prop("disabled", true);
            $("#lstSedes-@ViewBag.GUID").val([]).prop("selected", false);
        } else {
            $("#lstSedes-@ViewBag.GUID").prop("disabled", false);
        }
    });

    function deleteMarkup() {
        $('.modal.in').modal('hide');
        $("#scriptAddHallazgo-@ViewBag.GUID").remove();
        $("#modalAddHallazgo-@ViewBag.GUID").remove();
    }

    function aceptar() {
        // check descripción
        if ($("#taDescripcionHallazgo-@ViewBag.GUID").val().length == 0) {
            alert("@(IfcDiscoveryManagementResource.AlertaDebeIngresarDescripcionParaContinuar)");
            return;
        }

        // check sedes
        var checkedAtLeastOneSede = false;
        $('#lstSedes-@ViewBag.GUID > option:selected').each(function () {
            checkedAtLeastOneSede = true;
        });

        if (!$("#cboxTodas-@ViewBag.GUID").is(":checked") && !checkedAtLeastOneSede) {
            alert("@(IfcDiscoveryManagementResource.AlertaDebeSeleccionarAlMenosUnaSedeParaContinuar)");
            return;
        }

        // añadir hallazgos
        if ($("#cboxTodas-@ViewBag.GUID").is(":checked")) {
            addHallazgo(sedes, $("#taDescripcionHallazgo-@ViewBag.GUID").val(), $("input[name=radio_criticidad]:checked").val(),$('#Posicion').val() );
        } else {
            addHallazgo2($('#lstSedes-@ViewBag.GUID > option:selected'), $("#taDescripcionHallazgo-@ViewBag.GUID").val(), $("input[name=radio_criticidad]:checked").val());
            @*$('#lstSedes-@ViewBag.GUID > option:selected').each(function () {
                addHallazgo($(this).val(), $("#taDescripcionHallazgo-@ViewBag.GUID").val());
            });*@
        }

        deleteMarkup();
    }

    function addHallazgo(sede, descripcion, criticidad,pos) {
        var rowCount = pos;
        var numeroTemp = rowCount + 1;
        var number = globalHallazgo++;
        var codigo = 'IFC-' + codigoCurso + '-' + periodoAcademico + '-F-' + ("000" + numeroTemp).slice(-3);
        var cadena = '';
        alert(pos)
        for (var i = 0; i < sede.length; i++)
        {
            var numberHallazgo = internalGlobalHallazgo++;
            cadena += '<input type="hidden" class="hiddenCodigoHallazgo" name="Hallazgos[' + numberHallazgo + '].Codigo" value="' + codigo + '"/>' +
            '<input class="hiddenDescripcionHallazgo" type="hidden" name="Hallazgos[' + numberHallazgo + '].Descripcion" value="' + descripcion + '"/>';
            cadena += '<input class="hiddenSede" type="hidden" name="Hallazgos[' + numberHallazgo + '].Sede" value="' + sede[i].codigo + '"/>' +
                '<input class="hiddenCriticidadHallazgo" type="hidden" name="Hallazgos[' + numberHallazgo + '].Criticidad" value="' + criticidad + '"/>';
        }
        $("#tblHallazgos").splice(pos,1,'<tr class="rowHallazgo"> ' +
            '<td style="text-align: center; vertical-align: middle;"> '+
                '<label class="codigoHallazgo" for="Hallazgos[' + rowCount + '].Codigo">' + codigo + '</label>' +
            '</td>'+
            '<td style="text-align: justify; vertical-align: middle;">' +
                '<label class="descripcionHallazgo" for="Hallazgos[' + rowCount + '].Descripcion">' + descripcion + '</label>'+
            '</td>' +
         '<td style="text-align: justify; vertical-align: middle;">' +
                '<label class="criticidadHallazgo" for="Hallazgos[' + rowCount + '].Criticidad">' + criticidad + '</label>' +
            '</td>' +
            '<td style="text-align: center; vertical-align: middle;">'+
            '<a href="javascript:void(0);" class="remRowHallazgo">@(ButtonsOptionsResource.Eliminar)</a>'
            + cadena +
            '</td>'+
            '</tr>');
    }


    function addHallazgo2(sede, descripcion, criticidad) {
        var rowCount = $('.rowHallazgo').length;
        var numeroTemp = rowCount + 1;
        var number = globalHallazgo++;
        var codigo = codigoCurso + '-' + periodoAcademico + "-F-TEMP" + ("000" + number).slice(-3);
        var cadena = '';
        
        sede.each(function () {
            var numberHallazgo = internalGlobalHallazgo++;
            cadena += '<input type="hidden" class="hiddenCodigoHallazgo" name="Hallazgos[' + numberHallazgo + '].Codigo" value="' + codigo + '"/>' +
            '<input class="hiddenDescripcionHallazgo" type="hidden" name="Hallazgos[' + numberHallazgo + '].Descripcion" value="' + descripcion + '"/>';
            cadena += '<input class="hiddenSede" type="hidden" name="Hallazgos[' + numberHallazgo + '].Sede" value="' + $(this).val() + '"/>'+
                '<input class="hiddenCriticidadHallazgo" type="hidden" name="Hallazgos[' + numberHallazgo + '].Criticidad" value="' + criticidad + '"/>';
        });

        $("#tblHallazgos").append(
            '<tr class="rowHallazgo"> ' +
            '<td style="text-align: center; vertical-align: middle;"> ' +
                '<label class="codigoHallazgo" for="Hallazgos[' + rowCount + '].Codigo">' + codigo + '</label>' +
            '</td>' +
            '<td style="text-align: center; vertical-align: middle;">' +
                '<label class="descripcionHallazgo" for="Hallazgos[' + rowCount + '].Descripcion">' + descripcion + '</label>' +
            '</td>' +

            '<td style="text-align: center; vertical-align: middle;">' +
                '<label class="criticidadHallazgo" for="Hallazgos[' + rowCount + '].Criticidad">' + criticidad + '</label>' +
            '</td>' +

            '<td style="text-align: center; vertical-align: middle;">' +
            '<a href="javascript:void(0);" class="remRowHallazgo">@(ButtonsOptionsResource.Eliminar)</a>'
            + cadena +
            '</td>' +
            '</tr>');
    }
</script>

