﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.IfcDiscoveryManagment;
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.DiscoveriesManagement._EditIFCHallazgoViewModel
@{
    Layout = null;
    //  ViewBag.Title = "Agregar Hallazgo";
    ViewBag.Title = ProfessorResource.Hallazgo;
    ViewBag.Icon = "navicon";
    ViewBag.GUID = Guid.NewGuid();
}


    <div id="modalAddHallazgo-@ViewBag.GUID">
        @using (Html.BeginForm("_EditIFCHallazgo", "IfcDiscoveryManagement", FormMethod.Post, new { @id = "formsubmit" }))
        {
            @Html.HiddenFor(m => m.idhallazgo, new { @id = "idhallazgo" })
            <div class="modal-header" id="modalAddHallazgoHead-@ViewBag.GUID">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="deleteMarkup()"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title"><i class="fa fa-@ViewBag.Icon contrast">&nbsp;</i> @ViewBag.Title </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <div class="row">
                        <div class="content col-md-12">
                            <div class="form-group">
                                <label>@ProfessorResource.HallazgoDescripcionLabel </label>
                                <div role="tabpanel">

                                    <!--Nav Tabs-->
                                    <ul id="nested-tabs" class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#tab1-@Model.codigo" aria-controls="tab1" role="tab" data-toggle="tab">@LayoutResource.Espanol</a></li>
                                        <li role="presentation"><a href="#tab2-@Model.codigo" aria-controls="tab2" role="tab" data-toggle="tab">@LayoutResource.Ingles</a></li>
                                    </ul>

                                    <!--Tab Panels -->
                                    <div id="panels" class="tab-content">

                                        <!-- Tab 1 Panel -->
                                        <div role="tabpanel" class="tab-pane active" id="tab1-@Model.codigo">
                                            @*  <textarea id="taDescripcionHallazgoEspañol-@ViewBag.GUID" class="form-control" placeholder="Ingrese la descripción aquí"></textarea> *@
                                            @Html.TextAreaFor(m => m.descripcionespanol, new { @id = "tabdespanol", @class = "form-control", @rows = "5", @style = "resize:both;" })

                                        </div><!-- tabpanel Close -->
                                        <!-- Tab 2 Panel -->
                                        <div role="tabpanel" class="tab-pane" id="tab2-@Model.codigo">
                                            @* <textarea id="taDescripcionHallazgoIngles-@ViewBag.GUID" class="form-control" placeholder="Description"></textarea> *@
                                            @Html.TextAreaFor(m => m.descripcioningles, new { @id = "tabingles", @class = "form-control", @rows = "5", @style = "resize:both;" })
                                        </div><!-- tabpanel Close -->


                                    </div><!-- panels close -->

                                </div><!--tabpanel close-->
                            </div>
                        </div>

                    </div>


                    <br />
                    <label>@ProfessorResource.HallazgoCriticidadLabel</label>
                    <br />

                    @foreach (var crit in Model.Criticidades)
                    {
                        @* <input type="radio" name="radio_criticidad" checked id="criticidad" value="@(crit.NombreEspanol)"> @(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? crit.NombreEspanol : crit.NombreIngles) <br> *@
                        @*<input type="radio" name="radio_criticidad" checked id="criticidad" value="@(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? Model.criticidad.NombreEspanol : Model.criticidad.NombreEspanol)"> @(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? crit.NombreEspanol : crit.NombreIngles) <br>*@

                    if (crit.NombreEspanol != Model.nombrecriticidad)
                    {
                        <input type="radio" name="radio_criticidad" id="criticidad1" value="@(crit.NombreEspanol)"> @crit.NombreEspanol<br>
                    }
                    else
                    {
                        <input type="radio" name="radio_criticidad" checked="checked" id="criticidad1" value="@(crit.NombreEspanol)"> @crit.NombreEspanol<br>
                        }
                    }

                    <br />


                </div>
                <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample1" aria-controls="collapseExample">
                    <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i>@ProfessorResource.HallazgoObjetivoDelCursoLabel</h3>
                </div>
                <div class="collapse" id="collapseExample1">
                    <small>@(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? Model.cursoMallaCurricular.LogroFinCicloEspanol : Model.cursoMallaCurricular.LogroFinCicloIngles )</small>
                </div>

                <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample2" aria-controls="collapseExample">
                    <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i> Outcomes</h3>
                </div>
                <div class="collapse" id="collapseExample2">
                    @foreach (var outcome in Model.lstOutcomes)
                    {
                        <br />
                        <small>@(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? outcome.DescripcionEspanol : outcome.DescripcionIngles )</small>
                        <br />
                    }
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="deleteMarkup()"><i class="fa fa-times"></i> @IfcDiscoveryManagementResource.Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="aceptar()"><i class="fa fa-check"></i> @ButtonsOptionsResource.Aceptar</button>

            </div>


        }
    </div>



<script id="scriptAddHallazgo-@ViewBag.GUID">

    function deleteMarkup() {
       $('.modal.in').modal('hide');
       $("#scriptAddHallazgo-@ViewBag.GUID").remove();
       $("#modalAddHallazgo-@ViewBag.GUID").remove();
   }



    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    $('#tabdespanol').change(function () {
        $('#tabingles').val("");
        ActualizarTraduccion();

    });
    function ActualizarTraduccion() {

        $.ajax({
            //  type: "POST",
            url: '@Url.Action("TraduccionActualizar", "Json")',
            data: { textoatraducir: $('#tabdespanol').val() },
            dataType: "json",
            success: function (data) {

                $('#tabingles').val(data["Text"]);

            },
            beforeSend: function () {
                $('#tabingles').val("Traduciendo....")

            }
        });
    }


    function aceptar() {


        if ($("#tabdespanol").val().trim().length == 0) {

            swal({
                position: 'top-end',
                type: 'error',
                title: '@(IfcDiscoveryManagementResource.NoIngresoNingunaDescripcion)',
                showConfirmButton: false,
                timer: 1000
            });
            return false;
        }
        if ($("#tabingles").val().trim().length == 0) {

            swal({
                position: 'top-end',
                type: 'error',
                title: '@(IfcDiscoveryManagementResource.NoIngresoNingunaDescripcion)',
                showConfirmButton: false,
                timer: 1000
            });
            return false;
        }

        swal({
            title: '@(IfcDiscoveryManagementResource.PreguntaEstarSeguroEditarHallazgo)',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '@(IfcDiscoveryManagementResource.SiEditalo)',
            closeOnConfirm: false
        }, function () {
            var namecriticidad = $("input[name=radio_criticidad]:checked").val();

            var Data = $("#formsubmit").serialize();
            Data = Data + '&nombrecriticidad=' + namecriticidad;

            

            $.ajax({

                type: 'POST',
                url: '@Url.Action("_EditIFCHallazgo", "IfcDiscoveryManagement")',
                data: Data,
                success: function (response) {
                    
                    switch (response) {
                        case "trueedit":
                            swal({
                                position: 'top-end',
                                timer: 1000,
                                type: 'success',
                                title: '@(IfcDiscoveryManagementResource.HallazgoEditadoExitosamente)',
                                showConfirmButton: false,
                            });
                            setTimeout(function () {
                                window.location.reload(1);
                            }, 1000);
                            break;
                        case "nodescripcion":
                            swal({
                                position: 'top-end',
                                type: 'error',
                                title: '@(IfcDiscoveryManagementResource.NoIngresoNingunaDescripcion)',
                                showConfirmButton: false,
                                timer: 1000
                            })
                            break;
                        case "error":
                            swal({
                                position: 'top-end',
                                type: 'error',
                                title: '@(IfcDiscoveryManagementResource.SucedioUnError)',
                                showConfirmButton: false,
                                timer: 1000
                            })
                            setTimeout(function () {
                                window.location.reload(1);
                            }, 1000);
                            break;
                        case "fullspace":
                            swal({
                                position: 'top-end',
                                type: 'error',
                                title: '@(IfcDiscoveryManagementResource.NoSePermiteIngresoSoloEspacio)',
                                showConfirmButton: false,
                                timer: 1000
                            })

                            break;
                    }

                },
                error: function (response) {
                },
                complete: function (response) {

                }
            });
        })
    }







</script>

