﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.IfcDiscoveryManagment
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.IfcManagement.ConsultHallazgoIfcViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;

@{
	ViewBag.Title = IfcDiscoveryManagementResource.VistaConsultTitulo;
	ViewBag.Icon = "search";
}

@section Breadcrumbs {
}

<div class="row">
	<div class="col-md-12">
		<div class="panel filters">
			@Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + IfcDiscoveryManagementResource.Filtro, PanelActions.Collapse)
			<div class="panel-body row">
				<div class="row">
					@Html.FormGroup(IfcDiscoveryManagementResource.PeriodoAcademico + ":", Html.DropDownListFor(m => m.IdPeriodoAcademico, Model.AvailablePeriodoAcademicos, IfcDiscoveryManagementResource.Todos , new { @class = "form-control" }))
					@Html.FormGroup(IfcDiscoveryManagementResource.Area + ":", Html.DropDownListFor(m => m.IdAreaUnidadAcademica, Model.AvailableAreas, IfcDiscoveryManagementResource.Todas, new { @class = "form-control" }))
				</div>
				<div class="row">
					@Html.FormGroup(IfcDiscoveryManagementResource.Subarea + ":", Html.DropDownListFor(m => m.IdSubareaUnidadAcademica, Model.AvailableSubareas, IfcDiscoveryManagementResource.Todas, new { @class = "form-control" }))
					@Html.FormGroup(IfcDiscoveryManagementResource.Curso + ":", Html.DropDownListFor(m => m.IdCursoUnidadAcademica, Model.AvailableCursos, IfcDiscoveryManagementResource.Todos, new { @class = "form-control" }))
				</div>
				<div class="row">
					@Html.FormGroup(IfcDiscoveryManagementResource.Sede + ":", Html.DropDownListFor(m => m.IdSede, Model.AvailableSedes, IfcDiscoveryManagementResource.Todas, new { @class = "form-control" }))
					@Html.FormGroup(IfcDiscoveryManagementResource.NivelDeAceptacion + ":", Html.DropDownListFor(m => m.CodigoNivelAceptacion, Model.AvailableNivelesAceptacion, IfcDiscoveryManagementResource.Todos, new { @class = "form-control" }))
				</div>
				<div class="col-sm-12 text-right">
					<button type="button" id="btnBuscar" class="btn btn-dark">@ButtonsOptionsResource.Buscar&nbsp;&nbsp;<i class="fa fa-search"></i></button>
				</div>
			</div>
		</div>

		<div class="panel">
			@Html.PanelHeader("<i class=\"fa fa-align-justify\"></i> " + IfcDiscoveryManagementResource.Resultados, PanelActions.Collapse)
			<div class="panel-body row">
				<table id="tblResultados" class="table table-striped table-hover" data-info="true" data-length-change="true" data-paginate="true">
					<thead>
						<tr>
							<th>@IfcDiscoveryManagementResource.Codigo</th>
							<th>@IfcDiscoveryManagementResource.PeriodoAcademico</th>
							<th>@IfcDiscoveryManagementResource.Sede </th>
							<th>@IfcDiscoveryManagementResource.Descripcion</th>
							<th>@IfcDiscoveryManagementResource.NivelDeAceptacion</th>
							<th class="text-right">@IfcDiscoveryManagementResource.Opciones</th>
						</tr>
					</thead>
					<tbody id="SOPPP">
						@{var i = 0;}
						@foreach (var item in Model.Resultados)
						{
							++i;
							<tr id="tdResultado-@i">
								<td>@item.Codigo</td>
								<td>@item.PeriodoAcademico</td>
								<td>@item.Sede</td>
								<td>@item.Descripcion</td>
								<td>@item.NivelAceptacion</td>
								<td class="text-right">
									<!-- Split button -->
									<div class="btn-group">
										<a class="btn btn-sm btn-outline btn-default" href="@Url.Action("view", "IfcDiscoveryManagement" , new { Area=ConstantHelpers.AREAS.PROFESSOR,Id = item.IdHallazgo })"><i class="fa fa-search"></i>&nbsp;@ButtonsOptionsResource.Visualizar</a>
										<button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="caret"></span>
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu">
											<li><a class="animsition-link" href='@Url.Action("Edit", "IfcDiscoveryManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR, Id = item.IdHallazgo})'><i class="fa fa-edit"></i>&nbsp;@ButtonsOptionsResource.Editar</a></li>
											<li><a class="animsition-link" href='@Url.Action("Delete", "IfcDiscoveryManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR, Id = item.IdHallazgo})'><i class="fa fa-trash"></i>&nbsp;@ButtonsOptionsResource.Eliminar</a></li>
										</ul>
									</div>
								</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
@section Scripts{
	<script src="@Url.Content(" ~/Content/vendor/jquery/jquery.min.js")"></script>
	<script src="@Url.Content(" ~/Content/vendor/jt-timepicker/jquery.timepicker.min.js")"></script>
	<script src="@Url.Content(" ~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
	<script src="@Url.Content(" ~/Content/vendor/bootstrap-select/bootstrap-select.min.js")"></script>
	<script src="@Url.Content(" ~/Content/vendor/modernizr/modernizr.min.js")"></script>
	<script>

        $(document)
            .ready(function () {
                $("#btnBuscar")
                    .click(function () {
                        var url = '@Url.Action("Consult", "IfcDiscoveryManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})';
                        var idAreaUnidadAcademica = $("#IdAreaUnidadAcademica").val();
                        var idSubareaUnidadAcademica = $("#IdSubareaUnidadAcademica").val();
                        var idCursoUnidadAcademica = $("#IdCursoUnidadAcademica").val();
                        var idSede = $("#IdSede").val();
                        var codigoNivelAceptacion = $("#CodigoNivelAceptacion").val();
                        var idPeriodoAcademico = $("#IdPeriodoAcademico").val();

                        url += '?isSearchRequest=true';

                        if (codigoNivelAceptacion != "" && codigoNivelAceptacion != null) url += '&codigoNivelAceptacion=' + codigoNivelAceptacion;
                        if (idAreaUnidadAcademica != "" && idAreaUnidadAcademica != null) url += '&idAreaUnidadAcademica=' + idAreaUnidadAcademica;
                        if (idSubareaUnidadAcademica != "" && idSubareaUnidadAcademica != null) url += '&idSubareaUnidadAcademica=' + idSubareaUnidadAcademica;
                        if (idCursoUnidadAcademica != "" && idCursoUnidadAcademica != null) url += '&idCursoUnidadAcademica=' + idCursoUnidadAcademica;
                        if (idSede > 0) url += '&idSede=' + idSede;
                        if (idPeriodoAcademico > 0) url += '&idPeriodoAcademico=' + idPeriodoAcademico;

                        location.href = url;
                    });

                function cargarSubareasForPeriodoAcademico(hasValue, idPeriodoAcademicoVal) {
                    $("#IdSubareaUnidadAcademica").empty();
                    $("#IdSubareaUnidadAcademica").prop("disabled", true);
                    $("#IdSubareaUnidadAcademica").append('<option value="">@ProfessorResource.CargandoSubareas</option>');
                    if (hasValue === false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllSubareas", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: {},
                            success: function (subareas) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">@ProfessorResource.Todas</option>');
                                $.each(subareas,
                                    function (i, subarea) {
                                        $("#IdSubareaUnidadAcademica")
                                            .append('<option value="' +
                                                subarea.Value +
                                                '">' +
                                                subarea.Text +
                                                '</option>');

                                    });

                                $("#IdSubareaUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdSubareaUnidadAcademica").prop("disabled", true);

                                alert('@ProfessorResource.ErrorCargarSubareas');
                            }
                        });
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllSubareasForPeriodoAcademico", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { idPeriodoAcademico: idPeriodoAcademicoVal },
                            success: function (subareas) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">@ProfessorResource.Todas</option>');
                                $.each(subareas,
                                    function (i, subarea) {
                                        $("#IdSubareaUnidadAcademica")
                                            .append('<option value="' +
                                                subarea.Value +
                                                '">' +
                                                subarea.Text +
                                                '</option>');

                                    });

                                $("#IdSubareaUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdSubareaUnidadAcademica").prop("disabled", true);

                                alert('@ProfessorResource.ErrorCargarSubareas');
                            }
                        });
                    }
                }

                function cargarAreasForPeriodoAcademico(hasValue, idPeriodoAcademicoVal) {
                    $("#IdAreaUnidadAcademica").empty();
                    $("#IdAreaUnidadAcademica").prop("disabled", true);
                    $("#IdAreaUnidadAcademica").append('<option value="">@ProfessorResource.CargandoAreas</option>');
                    if (hasValue === false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllAreas", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: {},
                            success: function (areas) {
                                $("#IdAreaUnidadAcademica").empty();
                                $("#IdAreaUnidadAcademica").append('<option value="">@ProfessorResource.Todas</option>');
                                $.each(areas,
                                    function (i, area) {
                                        $("#IdAreaUnidadAcademica")
                                            .append('<option value="' +
                                                area.Value +
                                                '">' +
                                                area.Text +
                                                '</option>');

                                    });

                                $("#IdAreaUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdAreaUnidadAcademica").empty();
                                $("#IdAreaUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdAreaUnidadAcademica").prop("disabled", true);

                                alert('@ProfessorResource.ErrorCargarAreas');
                            }
                        });
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllAreasForPeriodoAcademico", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { idPeriodoAcademico: idPeriodoAcademicoVal },
                            success: function (areas) {
                                $("#IdAreaUnidadAcademica").empty();
                                $("#IdAreaUnidadAcademica").append('<option value="">@ProfessorResource.Todas</option>');
                                $.each(areas,
                                    function (i, area) {
                                        $("#IdAreaUnidadAcademica")
                                            .append('<option value="' +
                                                area.Value +
                                                '">' +
                                                area.Text +
                                                '</option>');

                                    });

                                $("#IdAreaUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdAreaUnidadAcademica").empty();
                                $("#IdAreaUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdAreaUnidadAcademica").prop("disabled", true);

                                alert('@ProfessorResource.ErrorCargarAreas');
                            }
                        });
                    }
                }

                function cargarCursosForPeriodoAcademico(hasValue, idPeriodoAcademicoVal) {
                    $("#IdCursoUnidadAcademica").empty();
                    $("#IdCursoUnidadAcademica").prop("disabled", true);
                    $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.CargandoCursos</option>');
                    if (hasValue === false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllCursos", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: {},
                            success: function (cursos) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.Todos</option>');
                                $.each(cursos,
                                    function (i, curso) {
                                        $("#IdCursoUnidadAcademica")
                                            .append('<option value="' +
                                                curso.Value +
                                                '">' +
                                                curso.Text +
                                                '</option>');

                                    });

                                $("#IdCursoUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdCursoUnidadAcademica").prop("disabled", true);

                                alert('@ProfessorResource.ErrorCargarCursos');
                            }
                        });
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllCursosForPeriodoAcademico", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { idPeriodoAcademico: idPeriodoAcademicoVal },
                            success: function (cursos) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.Todos</option>');
                                $.each(cursos,
                                    function (i, curso) {
                                        $("#IdCursoUnidadAcademica")
                                            .append('<option value="' +
                                                curso.Value +
                                                '">' +
                                                curso.Text +
                                                '</option>');

                                    });

                                $("#IdCursoUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdCursoUnidadAcademica").prop("disabled", true);

                                alert('@ProfessorResource.ErrorCargarCursos');
                            }
                        });
                    }
                }

                function cargarCursosForArea(hasValue, idAreaUa) {
                    $("#IdCursoUnidadAcademica").empty();
                    $("#IdCursoUnidadAcademica").prop("disabled", true);
                    $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.CargandoCursos</option>');
                    if (hasValue === false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllCursos", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: {},
                            success: function (cursos) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.Todos</option>');
                                $.each(cursos,
                                    function (i, curso) {
                                        $("#IdCursoUnidadAcademica")
                                            .append('<option value="' +
                                                curso.Value +
                                                '">' +
                                                curso.Text +
                                                '</option>');

                                    });

                                $("#IdCursoUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdCursoUnidadAcademica").prop("disabled", true);

                                alert('@ProfessorResource.ErrorCargarCursos');
                            }
                        });
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllCursosForArea", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { idAreaUnidadAcademica: idAreaUa },
                            success: function (cursos) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.Todos</option>');
                                $.each(cursos,
                                    function (i, curso) {
                                        $("#IdCursoUnidadAcademica")
                                            .append('<option value="' +
                                                curso.Value +
                                                '">' +
                                                curso.Text +
                                                '</option>');

                                    });

                                $("#IdCursoUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdCursoUnidadAcademica").prop("disabled", true);

                                alert('@ProfessorResource.ErrorCargarCursos');
                            }
                        });
                    }
                }

                function cargarCursosForSubarea(hasValue, idSubareaUa) {
                    $("#IdCursoUnidadAcademica").empty();
                    $("#IdCursoUnidadAcademica").prop("disabled", true);
                    $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.CargandoCursos</option>');
                    if (hasValue === false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllCursos", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: {},
                            success: function (cursos) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.Todos</option>');
                                $.each(cursos,
                                    function (i, curso) {
                                        $("#IdCursoUnidadAcademica")
                                            .append('<option value="' +
                                                curso.Value +
                                                '">' +
                                                curso.Text +
                                                '</option>');

                                    });

                                $("#IdCursoUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdCursoUnidadAcademica").prop("disabled", true);

                                alert('@ProfessorResource.ErrorCargarCursos');
                            }
                        });
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllCursosForSubarea", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { idSubareaUnidadAcademica: idSubareaUa },
                            success: function (cursos) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.Todos</option>');
                                $.each(cursos,
                                    function (i, curso) {
                                        $("#IdCursoUnidadAcademica")
                                            .append('<option value="' +
                                                curso.Value +
                                                '">' +
                                                curso.Text +
                                                '</option>');

                                    });

                                $("#IdCursoUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdCursoUnidadAcademica").prop("disabled", true);

                                alert('@ProfessorResource.ErrorCargarCursos');
                            }
                        });
                    }
                }

                function cargarSubareasForArea(hasValue, idAreaUa) {
                    $("#IdSubareaUnidadAcademica").empty();
                    $("#IdSubareaUnidadAcademica").prop("disabled", true);
                    $("#IdSubareaUnidadAcademica").append('<option value="">@ProfessorResource.CargandoSubareas</option>');
                    if (hasValue === false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllSubareas", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: {},
                            success: function (subareas) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">@ProfessorResource.Todas</option>');
                                $.each(subareas,
                                    function (i, subarea) {
                                        $("#IdSubareaUnidadAcademica")
                                            .append('<option value="' +
                                                subarea.Value +
                                                '">' +
                                                subarea.Text +
                                                '</option>');

                                    });

                                $("#IdSubareaUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdSubareaUnidadAcademica").prop("disabled", true);

                                alert('@ProfessorResource.ErrorCargarSubareas');
                            }
                        });
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllSubareasForArea", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { idAreaUnidadAcademica: idAreaUa },
                            success: function (subareas) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">@ProfessorResource.Todas</option>');
                                $.each(subareas,
                                    function (i, subarea) {
                                        $("#IdSubareaUnidadAcademica")
                                            .append('<option value="' +
                                                subarea.Value +
                                                '">' +
                                                subarea.Text +
                                                '</option>');

                                    });

                                $("#IdSubareaUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdSubareaUnidadAcademica").prop("disabled", true);

                                alert('@ProfessorResource.ErrorCargarSubareas');
                            }
                        });
                    }
                }

                $("#IdPeriodoAcademico").change(function () {
                    if (!$("#IdPeriodoAcademico").val()) {
                        cargarCursosForPeriodoAcademico(false, 0);
                        cargarSubareasForPeriodoAcademico(false, 0);
                        cargarAreasForPeriodoAcademico(false, 0);
                    } else {
                        cargarCursosForPeriodoAcademico(true, $("#IdPeriodoAcademico").val());
                        cargarSubareasForPeriodoAcademico(true, $("#IdPeriodoAcademico").val());
                        cargarAreasForPeriodoAcademico(true, $("#IdPeriodoAcademico").val());
                    }
                    return false;
                });

                $("#IdAreaUnidadAcademica").change(function () {
                    if (!$("#IdAreaUnidadAcademica").val()) {
                        cargarCursosForArea(false, 0);
                        cargarSubareasForArea(false, 0);
                    } else {
                        cargarCursosForArea(true, $("#IdAreaUnidadAcademica").val());
                        cargarSubareasForArea(true, $("#IdAreaUnidadAcademica").val());
                    }
                    return false;
                });

                $("#IdSubareaUnidadAcademica").change(function () {
                    if (!$("#IdSubareaUnidadAcademica").val()) {
                        if (!$("#IdAreaUnidadAcademica").val()) {
                            cargarCursosForArea(false, 0);
                        } else {
                            cargarCursosForArea(true, $("#IdAreaUnidadAcademica").val());
                        }
                    } else {
                        cargarCursosForSubarea(true, $("#IdSubareaUnidadAcademica").val());
                    }
                    return false;
                });
            });
	</script>
}
