﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.IfcDiscoveryManagment
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.IfcManagement.EditHallazgoIfcViewModel

@{
    ViewBag.Title = IfcDiscoveryManagementResource.ConfirmarEliminaciónDeHallazgoDe+" "+@Model.NombreInstrumento;
    ViewBag.Icon = "table";
}

@section Styles {
    <link href="@Url.Content(" ~/Content/vendor/datatables-bootstrap/dataTables.bootstrap.min09a2.css")" rel="stylesheet" />
    <link href="@Url.Content(" ~/Content/vendor/datatables-fixedheader/dataTables.fixedHeader.min09a2.css")" rel="stylesheet" />
    <link href="@Url.Content(" ~/Content/vendor/datatables-responsive/dataTables.responsive.min09a2.css")" rel="stylesheet" />
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Discoveries", "Discoveries", new { InstrumentoId = Model.InstrumentoId, ResultadoId = 1})"> @IfcDiscoveryManagementResource.ConsultarHallazgosDe @Model.NombreInstrumento</a></li>
}


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IdHallazgo)
    @Html.HiddenFor(m => m.InstrumentoId)
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="panel">
                @Html.PanelHeader("<i class=\"fa fa-close\"></i> " + IfcDiscoveryManagementResource.InformacionGeneral, PanelActions.Collapse)
                <div class="panel-body" style="text-align: center;">
                    <div class="row" style="text-align: center;">
                        <p style="font-weight: bold;">@IfcDiscoveryManagementResource.Codigo</p>
                        <p>@Model.Codigo</p>
                        <br/>
                        <p style="font-weight: bold;">@IfcDiscoveryManagementResource.PeriodoAcademico</p>
                        <p>@Model.PeriodoAcademico</p>
                        <br/>
                        <p style="font-weight: bold;">@IfcDiscoveryManagementResource.NivelDeAceptacion</p>
                        <p>@Model.NivelAceptacion</p>
                        <br/>
                        <p style="font-weight: bold;">@IfcDiscoveryManagementResource.Descripcion</p>
                        <p>@Model.Descripcion</p>
                        <br/>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="col-md-6" style="text-align: center">
                            <a href="@Url.Action("ViewDiscovery", "Discoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR , id= Model.IdHallazgo})" class="btn" style="background-color: black; color: white;" onclick="return confirm('@(IfcDiscoveryManagementResource.ConfirmarCanelarOperacion)')">
                                @ButtonsOptionsResource.Cancelar&nbsp;&nbsp;<i class="fa fa-close"></i>
                            </a>
                        </div>
                        <div class="col-md-6" style="text-align: center"><input type="submit" value="@ButtonsOptionsResource.Eliminar" class="btn btn-danger"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                @Html.PanelHeader("<i class=\"fa fa-close\"></i> " + IfcDiscoveryManagementResource.AccionesDeMejoraAsociadasAEliminar, PanelActions.Collapse)
                <div class="panel-body" style="text-align: center;">
                    @if (Model.AccionesMejora.Count == 0)
                    {
                        <p>@IfcDiscoveryManagementResource.NoHayAccionesdeMejoraEnHallazgo</p>
                    }
                    else
                    {
                        <table class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                            <thead>
                                <tr>
                                    <th style="text-align: center; width: 30%;">@IfcDiscoveryManagementResource.Codigo</th>
                                    <th style="text-align: center; width: 60%;">@IfcDiscoveryManagementResource.Descripcion</th>
                                    <th style="text-align: center; width: 10%;">@IfcDiscoveryManagementResource.Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.AccionesMejora.Count(); i++)
                                {
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle; width: 30%;">
                                            @Model.AccionesMejora.ElementAt(i).Codigo
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; width: 60%;">
                                            @Model.AccionesMejora.ElementAt(i).DescripcionEspanol
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; width: 10%;">
                                            @ConstantHelpers.PROFESSOR.IFC.ACCIONES_MEJORA.ESTADOS.GetEstadoAccionMejora(Model.AccionesMejora.ElementAt(i).Estado)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
}


@section Scripts{

    <script src="@Url.Content(" ~/Content/vendor/bootstrap-select/bootstrap-select.min.js")"></script>
    <script src="@Url.Content(" ~/Content/vendor/modernizr/modernizr.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/asspinner/jquery-asSpinner.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/clockpicker/bootstrap-clockpicker.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/jt-timepicker/jquery.timepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/multi-select/jquery.multi-select.js")"></script>
    <script src="@Url.Content("~/Content/vendor/icheck/icheck.min.js")"></script>

    <script src="@Url.Content("~/Content/js/components/asspinner.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/clockpicker.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/jt-timepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/multi-select.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/examples/js/forms/advanced.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/icheck.min.js")"></script>
    <script src="@Url.Content("~/Areas/Professor/Content/js/jquery.contextmenu.r2.js")"></script>
}


