﻿@using UPC.CA.ABET.Presentation.Areas.Upload.Resources.Views.Shared

@{
    ViewBag.Title = @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.CargaDeEvaluaciones;
}

@section Styles
{
    <link rel="stylesheet" href="@Url.Content("~/Areas/Upload/Content/css/jquery.fileupload.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Upload/Content/css/custom-styles.css")">
    <link rel="stylesheet" href="@Url.Content("~/Areas/Upload/Content/css/loading-animations.css")">
}

@section SecondSidebar
{
    @{Html.RenderPartial("_SecondSidebar");}
}

@section Breadcrumbs{
<li><a class="animsition-link" href="@Url.Action("BeforeEnrollment", "Upload", new { Area = String.Empty})"> @Shared.GestionDatos </a></li>
}

@{Html.RenderPartial("_Upload");}

@section Scripts{
    <script src="@Url.Content("~/Content/js/components/panel.min.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/jquery.iframe-transport.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/jquery.fileupload.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/jquery.fileupload-process.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/jquery.fileupload-validate.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/jquery.fileDownload.js")"></script>
    <script src="@Url.Content("~/Areas/Upload/Content/js/Newupload.js")"></script>
}

