﻿@model int

@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    ViewBag.Title = language == ConstantHelpers.CULTURE.ESPANOL ? "Eliminar Cargo" : "Delete Position";
    ViewBag.Icon = "trash";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
}


@Html.AntiForgeryToken()
<p>@(language == ConstantHelpers.CULTURE.ESPANOL ? "¿Está seguro de eliminar este registro?" : "¿Are you sure to delete this record?")</p>

@section Scripts{
    <script>
        urlModalRedirect = '@Url.Action("Index")';
        setTimeout(function () {
            $('#@ViewBag.GUID form').attr('action', '@Url.Action("ConfirmDelete", new { id = Model })');
        }, 500);
    </script>
}