﻿@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    ViewBag.Title = language == ConstantHelpers.CULTURE.ESPANOL ? "Copiar Cargos" : "Copy Positions";
    ViewBag.Icon = "trash";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
}

<p>@(language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione el ciclo que desee copiar los cargos" : "Select the cycle you want to copy charges")</p>
@Html.DropDownList("CycleToId", ViewBag.DropDownListCycle as SelectList, new { @class = "form-control" })

@Html.AntiForgeryToken()
@Html.Hidden("CycleFromId", (int)ViewBag.CycleFromId)



@section Scripts{
    <script>
        urlModalRedirect = '@Url.Action("Index")';
        setTimeout(function () {
            $('#@ViewBag.GUID form').attr('action', '@Url.Action("ConfirmDuplicate")');
            $('#CycleToId').select2({
                minimumResultsForSearch: Infinity
            });
        }, 200);
    </script>
}

<style>
    .select2-dropdown {
        z-index: 2000 !important;
    }
</style>