﻿@using UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Report
@using UPC.CA.ABET.Presentation.Areas.Admin.Resources.Views.Report

@model List<ListReportViewModel>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>@ReportResource.TableHeaderCycle</th>
                <th>@ReportResource.TableHeaderCharge</th>
                <th>@ReportResource.TableHeaderCode</th>
                <th>@ReportResource.TableHeaderName</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PeriodoAcademico</td>
                    <td>@item.Cargo</td>
                    <td>@item.Codigo</td>
                    <td>@(string.Format("{0} {1}", item.Nombres, item.Apellidos))</td>
                    <td class="text-right">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="true">
                                Opciones
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                <li role="presentation"><a href="@Url.Action("Manage", "Report", new { Area = ConstantHelpers.AREAS.ADMIN, id = item.IdCargo })"><i class="fa fa-pencil"></i> @LayoutResource.Editar </a></li>
                                <li role="presentation"><a href="javascript:void(0);" @Url.ModalHelperFor("Delete", "Report", new { Area = ConstantHelpers.AREAS.ADMIN, id = item.IdCargo })><i class="fa fa-trash"></i> Eliminar</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

            @if (Model.Count == 0)
            {
                <tr>
                    <td colspan="5" class="text-center">@ReportResource.EmptyRowsMessage</td>
                </tr>
            }
        </tbody>
    </table>
</div>