﻿@using UPC.CA.ABET.Presentation.Areas.Admin.Resources.Views.Report
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Achievement
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Report

@model IndexViewModel


@{
    Layout = ConstantHelpers.LAYOUT.DEFAULT_LAYOUT_PATH;
    ViewBag.Title = ReportResource.PageTitle;
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + FieldsResource.HeaderFilter, PanelActions.Collapse)
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel-body" style="padding-top: 0;">
                    <div class="col-sm-12">
                        @Html.FormGroup(FieldsResource.LabelCycle, Html.DropDownListFor(m => Model.CycleId, ViewBag.DropDownListCycle as SelectList, FieldsResource.OptionAll, new { @class = "form-control", @data_plugin = "select2" }))
                    </div>
                    <input type="submit" value="Buscar" id="btnBuscar" style="display: none;" />

                </div>
            }
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> @LayoutResource.Listado</h3>
            </div>
            <div class="panel-body">
                <div class="text-right">
                    @if (!Model.Records.Any() && Model.CycleId > 0)
                    {
                        <a href="javascript:void(0);" @Url.ModalHelperFor("Duplicate", "Report", new { Area = ConstantHelpers.AREAS.ADMIN }) class="btn btn-dark">
                            <i class="fa fa-files-o" aria-hidden="true"></i> @ReportResource.OptionCopy
                        </a>
                    }
                    <a class="btn btn-primary animsition-link" href="@Url.Action("Manage", "Report")">
                        <i class="fa fa-plus"></i> @LayoutResource.Nuevo
                    </a>
                </div>
                <br />
                @Html.Partial("_ListReport", Model.Records)
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
    <script>
        $(function () {
            setTimeout(function () {
                $('[data-plugin="select2"]').select2();
            }, 100);

            $('#CycleId').on('change', function () {
                $('#btnBuscar').click();
            })
        });
    </script>
}
