﻿@using UPC.CA.ABET.Presentation.Areas.Admin.Resources.Views.Report
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Achievement
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Report

@model ManageReportViewModel

@{
    Layout = ConstantHelpers.LAYOUT.DEFAULT_LAYOUT_PATH;
    ViewBag.Title = ReportResource.PageTitle;
}

<div class="panel">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-@(Model.IdCargo != 0 ? "pencil" : "plus")"></i> @(Model.IdCargo != 0 ? LayoutResource.Editar : LayoutResource.Nuevo) Cargo</h3>
    </div>
    
    @using (Html.BeginForm("Manage", "Report", FormMethod.Post, new { @class="form form-horizontal" }))
    { 
        @Html.AntiForgeryToken()
        
        <div class="panel-body">
            @Html.HiddenFor(x => x.IdCargo)

            <div class='form-group'>
                <label class="col-md-3 control-label">Ciclo</label>                
                <div class='col-md-9'>
                    @Html.DropDownListFor(x => x.IdPeriodoAcademico, ViewBag.DropDownListCycle as SelectList, String.Empty, new { @class = "form-control", data_plugin = "select2" })
                    @Html.ValidationMessageFor(x => x.IdPeriodoAcademico)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Cargo</label>                
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.Cargo, new { @class = "form-control", @maxlength = "200" })
                    @Html.ValidationMessageFor(x => x.Cargo)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">C&oacute;digo</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.Codigo, new { @class = "form-control", @maxlength="20" })
                    @Html.ValidationMessageFor(x => x.Codigo)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Nombres</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.Nombres, new { @class = "form-control", @maxlength = "80" })
                    @Html.ValidationMessageFor(x => x.Nombres)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Apellidos</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.Apellidos, new { @class = "form-control", @maxlength = "80" })
                    @Html.ValidationMessageFor(x => x.Apellidos)
                </div>
            </div>
        </div>

        <div class="panel-footer text-right">
            <a class="btn btn-default animsition-link" href="@Url.Action("Index", "Report", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @LayoutResource.Aceptar </button>
        </div>
    }

</div>

@section Scripts{
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script>
        $(function () {
            setTimeout(function () {
                $('[data-plugin="select2"]').select2();
            }, 100);
        });
    </script>
}
