﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration._AddPPPOutcomeViewModel
@{
    ViewBag.Title = Model.IdOutcomeEncuestaPPPConfig.HasValue ? "Editar " : "Nuevas " + Model.TipoOutcomeNombre.ToLower();

    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Icon = "tasks";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor(x => x.CicloId)
@Html.HiddenFor(x => x.IdOutcomeEncuestaPPPConfig)
@Html.HiddenFor(x => x.IdTipoOutcome)
@Html.HiddenFor(x => x.TipoOutcomeNombre)
@Html.HiddenFor(x => x.EscuelaId)



<div class="form-horizontal">
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Orden</label>
                <div class="col-sm-2">
                    @Html.TextBoxFor(x => x.Orden, new { @class = "desc form-control" })
                    @Html.ValidationMessageFor(x => x.Orden)
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Nombre Español</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.NombreEs, new { @class = "desc form-control", @maxlength = "200", @rows = "2", @style = " resize: vertical;" })
                    @Html.ValidationMessageFor(x => x.NombreEs)
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Nombre Inglés</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.NombreIn, new { @class = "desc form-control", @maxlength = "200", @rows = "2", @style = " resize: vertical;" })
                    @Html.ValidationMessageFor(x => x.NombreIn)
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Descripción Español</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.DescripcionEs, new { @class = "desc form-control", @maxlength = "270", @rows = "5", @style = " resize: vertical;" })
                    @Html.ValidationMessageFor(x => x.DescripcionEs)
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Descripción Inglés</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.DescripcionIn, new { @class = "desc form-control", @maxlength = "270", @rows="5", @style = " resize: vertical;" })
                    @Html.ValidationMessageFor(x => x.DescripcionIn)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">¿Este outcome es para una carrera ajena a esta escuela?</label>
                <div class="col-sm-9">
                    @Html.CheckBoxFor(x => x.OtraCarrera)
                    @Html.ValidationMessageFor(x => x.OtraCarrera)
                </div>
            </div>
        </div>
        <div id="select_comisiones">
            <div class="row">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Carrera</label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(x => x.IdCarrera, new SelectList(Model.LstCarrera, "IdCarrera", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), "Todos",
                        new
                        {

                            @class = "form-control select2-select",
                            @data_update_target = "#IdComision",
                            @data_source_url = Url.Action("GetComisionByCarreraPPPOutcome", "Json"),
                            @data_filter = "IdCarrera",
                            @data_plugin = "select2",
                            //@onchange = "showLoading();",

                        })
                        @Html.ValidationMessageFor(x => x.IdCarrera)
                        @Html.HiddenFor(x => x.IdCarrera)
                    </div>
                </div>
            </div>
            <div id="LstComisiones">
                @for (int j = 0; j < Model.LstComisiones.Count; j++)
                {
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Outcome relacionado @Model.LstComisiones[j].comision.Codigo</label>
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.LstOutcomesSeleccionados[j], Model.LstComisiones[j].LstOutcomes, "[- Seleccione -]"
                      , new
                      {
                          @class = "form-control select2-select"

                      })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- <div class="row">
             <div class="form-group">
                 <label class="col-sm-3 control-label">Outcome relacionado 1</label>
                 <div class="col-md-9">
                     @Html.DropDownListFor(x => x.OutcomeHallazgo1, new SelectList(Model.LstCustomOutcomes, "Value", "Text"), "[- Seleccione -]"
                   , new
                   {
                       @class = "form-control select2-select"

                   })
                 </div>
             </div>
         </div>


         <div class="row">
             <div class="form-group">
                 <label class="col-sm-3 control-label">Outcome relacionado 2</label>
                 <div class="col-md-9">
                     @Html.DropDownListFor(x => x.OutcomeHallazgo2, new SelectList(Model.LstCustomOutcomes, "Value", "Text"), "[- Seleccione -]"
                   , new
                   {
                       @class = "form-control select2-select"

                   })
                 </div>
             </div>
         </div>


         <div class="row">
             <div class="form-group">
                 <label class="col-sm-3 control-label">Outcome relacionado 3</label>
                 <div class="col-md-9">
                     @Html.DropDownListFor(x => x.OutcomeHallazgo3, new SelectList(Model.LstCustomOutcomes, "Value", "Text"), "[- Seleccione -]"
                   , new
                   {
                       @class = "form-control select2-select"

                   })
                 </div>
             </div>
         </div>
            -->


        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">¿Es visible en la encuesta?</label>
                <div class="col-sm-9">

                    @Html.CheckBoxFor(x => x.EsVisible)
                    @Html.ValidationMessageFor(x => x.EsVisible)

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
         function showLoading() {
                swal({
                    title: '@language' == 'es-PE' ? 'Cargando...' : 'Loading...',
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true

                });
            }

         function closeLoading() {
                swal.close();
         }
        urlModalRedirect = '@Url.Action("NewSurveyPPP" + Model.TipoEncuestaNombre + "Configuration", "Configuration", new { CicloId = Model.CicloId })';
        $(document).ready(function () {
            $(document).on('keydown', '.desc', function () {
                                if (event.keyCode == 13) return false;
                            });
                            if ($("#OtraCarrera").is(':checked'))
                $("#select_comisiones").hide();
            else
                $("#select_comisiones").show();

            $("#OtraCarrera").change(function () {
                $("#select_comisiones").toggle();
                            });
            $(document).on('change', '[data-plugin="select2"]', function (e) {
                                // Valor seleccionado
                                var selectedId = $(this).val();

                                // Nombre del parámetro de filtro
                                var dataFilter = $(this).attr('data-filter');
                                // Url de datos json
                                var sourceUrl = $(this).attr('data-source-url');

                                // Select a actualizar
                                var updateTarget = $(this).attr('data-update-target');

                                var postData = {};

                                postData[dataFilter] = selectedId;
                                postData['IdPeriodoAcademico'] = '@Model.CicloId';
                                postData['EscuelaId'] = '@Model.EscuelaId';
                                postData['IdOutcomeEncuestaPPPConfig'] = '@Model.IdOutcomeEncuestaPPPConfig';
                                postData['IdTipoOutcome'] = '@Model.IdTipoOutcome';
                                var $updateTarget = $(updateTarget);
                $updateTarget.attr('disabled', 'disabled')
                $updateTarget.find('option[value!=""]').remove();

                $.ajax({
                                type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    //dataType: 'json',
                    dataType: 'html',
                    async: false,
                    success: function (data) {
                        //var $updateTarget = $(updateTarget);
                        //var valueMember = $updateTarget.attr('data-value-member')
                        //var textMember = $updateTarget.attr('data-text-member')
                        $("#LstComisiones").html(data);
                                        //for (i = 0; i < data.length; i++) {
                                        //    $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                                        //}
                                        //$updateTarget.removeAttr('disabled');
                                        //$updateTarget.trigger('change');
                                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                                        console.error("The error was: " + xhr.responseText);
                                    },
                    beforeSend: function () {
                        $(window).load(function () {
                            $('#loading').show();
                        });
                    },
                    complete: function () {
                        $(window).load(function () {
                            $('#loading').hide();
                        });
                    }
                });
            });

            @*$("#IdCarrera").on("change", function () {
                // actualizar #IdComision
                // route Url.Action("GetComisionByCarreraPPPOutcome", "Json")
                // filter IdCarrera
                var IdCarrera = $("#IdCarrera").val();
                var IdOutcomeEncuestaPPPConfig = $("#IdOutcomeEncuestaPPPConfig").val();
                var IdTipoOutcome = $("#IdTipoOutcome").val();
                var EscuelaId = $("#EscuelaId").val();
                var IdPeriodoAcademico = $("#CicloId").val();
               
                console.log("IdCarrera =>", IdCarrera)
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetComisionByCarreraPPPOutcome", "Json")',
                    data: { IdCarrera: IdCarrera, IdTipoOutcome: IdTipoOutcome, IdOutcomeEncuestaPPPConfig: IdOutcomeEncuestaPPPConfig, IdPeriodoAcademico: IdPeriodoAcademico,  EscuelaId: EscuelaId  },
                    dataType: 'json',
                    success: function (model) {
                        //$('#IdHasta').html('');
                        //for (i = 0; i < hasta.length; i++) {
                        //    $('#IdHasta').append($('<option>').text(hasta[i]['CicloAcademico']).attr('value', hasta[i]['IdPeriodoAcademico']));
                        //}
                        //$('#IdHasta').removeAttr('disabled');
                        //$('#IdHasta').trigger('change');

                        let com = data.LstComisiones
                        $('#LstComisiones').html('');
                        for (i = 0; i < com.length; i++) {
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Outcome relacionado @Model.LstComisiones[j].comision.Codigo</label>
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(model => model.LstOutcomesSeleccionados[j], Model.LstComisiones[j].LstOutcomes, "[- Seleccione -]"
                                        , new
                                        {
                                            @class = "form-control select2-select"

                                        })
                                    </div>
                                </div>
                            </div>

                            $('#IdComision').append($('<option>').text(com[i]['Codigo']).attr('value', com[i]['IdComision']));
                        }
                        $('#IdComision').removeAttr('disabled');
                        $('#IdComision').trigger('change');
                    },
                    beforeSend: function () {
                        showLoading();
                    },
                    complete: function () {
                        closeLoading();
                    }
                });

 
            })*@

            @*$('#IdComision').val('@Model.IdComision').trigger('change').attr('disabled', 'disabled');*@
            $('.modal-fade-in-scale-up').on('hide.bs.modal', function () {
                $('.modal-fade-in-scale-up').remove();
            })
        });
    </script>

}


