﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration._AddOutcomeViewModel
@{
	ViewBag.Title = Model.IdOutcomeEncuestaConfig.HasValue ? "Editar " : "Nuevas " + Model.TipoOutcomeNombre.ToLower();

	Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
	ViewBag.Icon = "tasks";
	ViewBag.Form = true;
	ViewBag.GUID = Guid.NewGuid().ToString();
	var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
	var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor(x => x.SubModalidadPeriodoAcademicoId)
@Html.HiddenFor(x => x.IdOutcomeEncuestaConfig)
@Html.HiddenFor(x => x.IdTipoOutcome)
@Html.HiddenFor(x => x.TipoEncuestaId)
@Html.HiddenFor(x => x.IdComision)

<div class="form-horizontal">
	<div class="col-sm-12">
		<div class="row">
			<div class="form-group">
				<label class="col-sm-3 control-label">Orden</label>
				<div class="col-sm-2">
					@Html.TextBoxFor(x => x.Orden, new { @class = "desc form-control" })
					@Html.ValidationMessageFor(x => x.Orden)
				</div>
			</div>
		</div><br />
		<div class="row">
			<div class="form-group">
				<label class="col-sm-3 control-label">Nombre Español</label>
				<div class="col-sm-9">
					@Html.TextAreaFor(x => x.NombreEs, new { @class = "desc form-control", @maxlength = "200" })
					@Html.ValidationMessageFor(x => x.NombreEs)
				</div>
			</div>
		</div><br />
		<div class="row">
			<div class="form-group">
				<label class="col-sm-3 control-label">Nombre Inglés</label>
				<div class="col-sm-9">
					@Html.TextAreaFor(x => x.NombreIn, new { @class = "desc form-control", @maxlength = "200" })
					@Html.ValidationMessageFor(x => x.NombreIn)
				</div>
			</div>
		</div><br />
		<div class="row">
			<div class="form-group">
				<label class="col-sm-3 control-label">Descripción Español</label>
				<div class="col-sm-9">
					@Html.TextAreaFor(x => x.DescripcionEs, new { @class = "desc form-control", @maxlength = "250" })
					@Html.ValidationMessageFor(x => x.DescripcionEs)
				</div>
			</div>
		</div><br />
		<div class="row">
			<div class="form-group">
				<label class="col-sm-3 control-label">Descripción Inglés</label>
				<div class="col-sm-9">
					@Html.TextAreaFor(x => x.DescripcionIn, new { @class = "desc form-control", @maxlength = "250" })
					@Html.ValidationMessageFor(x => x.DescripcionIn)
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-sm-3 control-label">Carrera</label>
				<div class="col-sm-9">
					@Html.DropDownListFor(x => x.IdCarrera, new SelectList(Model.LstCarrera, "IdCarrera", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), "[-Seleccione-]", new
				   {
					   @class = "form-control select2-select",
					   @data_update_target = "#IdComision",
					   @data_source_url = Url.Action("GetComisionByCarrera", "Json"),
					   @data_filter = "IdCarrera",
					   @data_plugin = "select2",
					   @disabled = true
				   })
					@Html.ValidationMessageFor(x => x.IdCarrera)
					@Html.HiddenFor(x => x.IdCarrera)
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-sm-3 control-label">Comisión</label>
				<div class="col-sm-9">
					@Html.DropDownListFor(x => x.IdComision, new SelectList(Model.LstComision, "IdComision", "Codigo"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new
				   {
					   @class = "form-control select2-select",
					   @required = true,
					   @data_text_member = "Codigo",
					   @data_value_member = "IdComision"
				   })
					@Html.ValidationMessageFor(x => x.IdComision)
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-sm-3 control-label">¿Es visible en la encuesta?</label>
				<div class="col-sm-9">

					@Html.CheckBoxFor(x => x.EsVisible)
					@Html.ValidationMessageFor(x => x.EsVisible)

				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script>
        urlModalRedirect = '@Url.Action("Survey" + Model.TipoEncuestaNombre + "Configuration", "Configuration", new { SubModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId })';
        $(document).ready(function () {
            $(document).on('keydown', '.desc', function () {
                if (event.keyCode == 13) return false;
            });

            $(document).on('change', '[data-plugin="select2"]', function (e) {
                // Valor seleccionado
                var selectedId = $(this).val();

                if (selectedId != "") {
                    // Nombre del parámetro de filtro
                    var dataFilter = $(this).attr('data-filter');

                    // Url de datos json
                    var sourceUrl = $(this).attr('data-source-url');

                    // Select a actualizar
                    var updateTarget = $(this).attr('data-update-target');

                    var postData = {};
                    postData[dataFilter] = selectedId;
                    postData['IdPeriodoAcademico'] = '@Model.SubModalidadPeriodoAcademicoId';
                    postData['IdOutcomeEncuestaPPPConfig'] = '@Model.IdOutcomeEncuestaConfig';
                    postData['IdTipoOutcome'] = '@Model.IdTipoOutcome';
                    postData['IdComision'] = '@Model.IdComision';
                    var $updateTarget = $(updateTarget);
                    $updateTarget.attr('disabled', 'disabled')
                    $updateTarget.find('option[value!=""]').remove();

                    $.ajax({
                        type: 'POST',
                        url: sourceUrl,
                        data: postData,
                        dataType: 'json',
                        async: false,
                        success: function (data) {
                            var $updateTarget = $(updateTarget);
                            var valueMember = $updateTarget.attr('data-value-member')
                            var textMember = $updateTarget.attr('data-text-member')
                            for (i = 0; i < data.length; i++) {
                                $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                            }
                            $updateTarget.removeAttr('disabled');
                            $updateTarget.trigger('change');
                        },
                        beforeSend: function () {

                        },
                        complete: function () {

                        }
                    });
                }
            });
            $('#IdCarrera').val('@Model.IdCarrera').trigger('change');
            $('#IdComision').val('@Model.IdComision').trigger('change').attr('disabled', 'disabled');
            $('.modal-fade-in-scale-up').on('hide.bs.modal', function () {
                $('.modal-fade-in-scale-up').remove();
            })
        });
	</script>

}