﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration._AttachOutcomeViewModel
@{
    ViewBag.Title = "Vincular a Outcomes";
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Icon = "random";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    var i = 0;
}


@Html.HiddenFor(x => x.SubModalidadPeriodoAcademicoId)
@Html.HiddenFor(x => x.IdOutcomeEncuestaConfig)
@Html.HiddenFor(x => x.TipoEncuestaNombre)

<div class="col-lg-12">
    <div class="example-wrap">
        <div class="nav-tabs-horizontal">
            <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                @foreach (var item in Model.LstComision)
                {
                    <li class="@(i==0? "active":"")" role="presentation"><a data-toggle="tab" href="#@item.Codigo-@item.IdComision-@ViewBag.GUID" aria-controls="@item.Codigo-@item.IdComision" role="tab">@(item.Codigo)</a></li>
                    i++;
                }
                @{i = 0;}
            </ul>
            <div class="tab-content padding-top-20">
                @foreach (var item in Model.LstComision)
                {
                    <div class="tab-pane @(i==0? "active":"")" id="@item.Codigo-@item.IdComision-@ViewBag.GUID" role="tabpanel">
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var outcome in Model.LstOutcome.Where(x => x.Comision == item))
                                {
                                    <tr>
                                        <td>@(language == ConstantHelpers.CULTURE.ESPANOL ? outcome.Outcome.Nombre : outcome.Outcome.NombreIngles)</td>
                                        <td>@(language == ConstantHelpers.CULTURE.ESPANOL ? outcome.Outcome.DescripcionEspanol : outcome.Outcome.DescripcionIngles)</td>
                                        <td>
                                            <div class="checkbox-custom checkbox-primary">
                                                <input type="checkbox" id="inputUnchecked" name="@outcome.IdOutcome" @(Model.LstVinculos.Contains(outcome.IdOutcome) ? "checked" : "")>
                                                <label for="inputUnchecked"></label>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    i++;
                }
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
    urlModalRedirect = '@Url.Action("Survey" + Model.TipoEncuestaNombre + "Configuration", "Configuration", new { CicloId = Model.SubModalidadPeriodoAcademicoId })';
    </script>

}

