﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration._EditarNivelesAceptacionPPPViewModel
@{
    ViewBag.Title = "Configurar Niveles de Aceptación";
    ViewBag.Icon = "sliders";
    ViewBag.Form = true;
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

    int pasar = 0;
}


<div class="panel panel-bordered">

    <div class="panel-body">

        @for (int i = 0; i < Model.LstNivelAceptacion.Count; i++)
        {


            @Html.HiddenFor(m => m.LstNivelAceptacion[i].IdNivelAceptacionEncuesta)
            <div class="row">
                <!--<div class="col-md-2">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.LstNivelAceptacion[i].ValorMinimo, new { type = "number", step = "0.01",@class = "form-control", @id ="_"+pasar, disabled="true"})
                    </div>
                </div>-->
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.DisplayFor(m => m.LstNivelAceptacion[i].NombreEspanol)
                    </div>
                </div>
                <div class="col-md-2" style="background:@Model.LstNivelAceptacion[i].Color">
                    &nbsp;
                </div>
                @{pasar = pasar + 1;
                }
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.LstNivelAceptacion[i].ValorMaximo, new { type="number", step="0.01",@class = "form-control", onkeyup = "myFunction(this.value,_" + pasar + ")", mouseup = "myFunction(this.value,_"+pasar+")" })
                    </div>
                </div>
            </div>




        }
    </div>

</div>


@section scripts {
<script>
    function myFunction(valor, pasar)
    {
       

        var objetivo = document.getElementById(pasar);
      
        if(objetivo != null)
        {
            alert("valorMinimo" + pasar+": "+objetivo.value);
            objetivo.value = valor;


        }
    }

 </script>
}