﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration._EditarNivelesAceptacionViewModel
@{
    ViewBag.Title = "Configurar Niveles de Aceptación";
    ViewBag.Icon = "sliders";
    ViewBag.Form = true;
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor(x => x.IdPeriodoAcademico)
@Html.HiddenFor(x => x.IdTipoEncuesta)
<div class="col-md-12">
    <table>
        @for(int i = 0; i < Model.LstNiveles.Count; i++)
        {
            var item = Model.LstNiveles[i];
            <tr>
                @Html.HiddenFor( x => x.LstNiveles[i].IdNivelAceptacionEncuesta)
                <td class="col-md-3"><strong>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol : item.NombreIngles)</strong></td>
                <td class="col-md-3">[ @Html.TextBoxFor( x => x.LstNiveles[i].ValorMinimo)</td>
                <td class="col-md-3"><div style="background:@item.Color">&nbsp;</div></td>
                <td class="col-md-3">@Html.TextBoxFor(x => x.LstNiveles[i].ValorMaximo) @(i == Model.LstNiveles.Count - 1 ? " ]" : " >")</td>
            </tr>           
        }
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
@section Scripts{
    <script>
        urlModalRedirect = '@Url.Action("Configuration" + Model.TipoEncuestaNombre , "Configuration", new { CicloId = Model.IdPeriodoAcademico })';
    </script>

}