﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration.ConfiguracionInvitadoViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey
@{
    ViewBag.Title = @SurveyResources.Configuracion_Invitado;
    ViewBag.Icon = "sticky-note";
    ViewBag.SevenIcon = "mail-open-file";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementEVD", "Survey")">@SurveyResources.EncuestaEVD</a></li>
}

@Html.Content("css/font/summernote.eot")
@Html.Content("css/font/summernote.ttf")
@Html.Content("css/font/summernote.woff")

@section Styles{

    <style>
        @@media screen and (max-width: 550px) {

            .table tr td {
                display: block;
                clear: both;
                width: 95%;
            }

            .table tr:nth-child(even) {
                background: #e7f1ff !important;
            }

            .table tr {
                border-top: 5px solid;
            }

            .hiddenTexto {
                font-weight: bold !important;
                display: inline-block !important;
            }

            .hiddenHeader {
                display: none !important;
            }
        }

        .hiddenTexto {
            display: none;
        }

        .select2-container {
            width: 100% !important;
            padding: 0;
            z-index: 10000;
        }

        .select2-container--open {
            z-index: 10000;
        }
    </style>

}

<div class="col-md-6">
</div>



<form method="post" action="@Url.Action("ConfiguracionInvitado", "Configuration")">
    <div class="row">
        <div class="panel panel-bordered">
            <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i> Filtar </h3>
            </div>
            <div class="collapse in" id="collapseExample">
                <div class="panel-body">
                    <div class="form-group">
                        @Html.DropDownListFor(m => Model.IdModulo, Model.LstModulo, new { @class = "form-control", @id = "Modulo" })
                    </div>
                    <div class="pull-right">
                        <div class="col-md-12">
                            <button class="btn btn-dark"><i class="fa fa-search"></i> @SurveyResources.LabelBuscar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="panel panel-bordered">
            <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i> @SurveyResources.AlumnosInvitados</h3>
            </div>
            <div class="collapse in" id="collapseExample">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRegisterForm" id="registerForm">@SurveyResources.LabelRegistroAlumnoInvitado</button>
                            </div>
                            <div class="col-md-7"></div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary" data-target="#button" id="GenerarAlumnosInvitados">@SurveyResources.LabelGenerarAlumnoInvitado</button>
                            </div>
                            <div class="col-md-1">
                                <input type="number" class="form-control" id="MuestraNumero" min="3" max="100" />
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="tbl_proyectos" class="table table-striped table-bordered" style="width:100%">
                            <thead class="hiddenHeader">
                                <tr>
                                    @*<th>Nro</th>*@
                                    <th>@SurveyResources.Codigo</th>
                                    <th>@SurveyResources.NombresApellidos</th>
                                    <th>@SurveyResources.LabelCareer</th>
                                    <th>@SurveyResources.Correo</th>
                                    <th>@SurveyResources.Nivel</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@{int il = 1; }*@
                                @foreach (var item in Model.ListaAlumnosInvitados)
                                {
                                    <tr>
                                        @*<td>
                                                <span class="hiddenTexto">Nro:</span>@il
                                            </td>*@

                                        <td>
                                            <span class="hiddenTexto">Código:</span> @item.codigo
                                        </td>

                                        <td>
                                            <span class="hiddenTexto">Nombres y apellidos:</span>
                                            @item.nombres
                                            @item.apellido
                                        </td>
                                        <td>
                                            <span class="hiddenTexto">Carrera:</span> @item.carrera
                                        </td>
                                        <td>
                                            <span class="hiddenTexto">Correo:</span> @item.correo
                                        </td>
                                        <td>
                                            <span class="hiddenTexto">Nivel:</span> @item.Tipo_NombreEspanol
                                        </td>
                                    </tr>
                                    //il++;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>





<div class="modal fade" id="modalRegisterForm" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title w-100 font-weight-bold">@SurveyResources.LabelRegistroAlumnoInvitado</h4>

            </div>
            <div class="modal-body mx-3">

                <div class="row">
                    <div class="col-md-2">
                        <label data-error="wrong" data-success="right" for="orangeForm-name">@SurveyResources.Codigo</label>
                    </div>
                    <div class="col-md-6">
                        <select id="mdCodigo"></select>
                    </div>
                </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-name">@SurveyResources.Nombres</label>
                    <input type="text" id="mdName" class="form-control validate">

                </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-name">@SurveyResources.Apellidos</label>
                    <input type="text" id="mdApellido" class="form-control validate">

                </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-email">@SurveyResources.LabelCareer</label>
                    <input type="email" id="mdCarrera" class="form-control validate">
                </div>
                <div class="md-form mb-5">
                    <label data-error="wrong" data-success="right" for="orangeForm-email">@SurveyResources.Correo</label>
                    <input type="email" id="mdCorreo" class="form-control validate">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cl" class="btn btn-secondary" data-dismiss="modal">@SurveyResources.Cerrar</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAccept"> Siguiente</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalAccept" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Confirmacion</h3>
            </div>
            <div class="modal-body">
                <label id="messageModal">¿Está seguro que desea guardar el Alumno Invitado?</label>
            </div>
            <div class="modal-footer">
                <div class="col-md-2">
                    <button type="button" id="cl" class="btn btn-secondary" data-dismiss="modal">@SurveyResources.Cerrar</button>
                </div>
                <label class="col-sm-2 control-label"></label>
                <div class="col-md-8">
                    <button type="button" id="saveNewAlum" class="btn btn-primary pull-right">@SurveyResources.Registrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/js/components/select2.min.js" rel="stylesheet"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>

    <script type="text/javascript">
            $(document).ready(function () {
                $('#tbl_proyectos').dataTable();
                $('#tb2_proyectos').dataTable();

                $('#MuestraNumero').on("change",function () {
                    var n = $('#MuestraNumero').val();
                    if (n < 3)
                        $('#MuestraNumero').val(3);
                    if (n > 100)
                        $('#MuestraNumero').val(100);
                });

                $('#GenerarAlumnosInvitados').on("click", function () {
                    var moduloId = $('#Modulo').val();
                    var muestra = $('#MuestraNumero').val();
                    $.ajax({
                        url: '@Url.Action("GenerarAlumnoInvitado", "Configuration")',
                        type: "post",
                        data: {
                            moduloId: moduloId, muestra: muestra
                        }, beforeSend: function () {
                            $.LoadingOverlay("show");

                        },
                        success: function () {
                            window.location = '@Url.Action("ConfiguracionInvitado", "Configuration")';

                        }
                    })
                });

           
                
                $('#cl').on("click", function () {
              
                    $('#mdCarrera').val(null);
                    $('#mdName').val(null);
                    $('#mdApellido').val(null);
                    $('#mdCorreo').val(null);
                });



                $('#mdCodigo').select2({ witdth: '100%', dropdownParent: $("#modalRegisterForm")});

                $('#registerForm').on("click", function () {
                    MostrarCodigos();
                });

            function MostrarCodigos() {
                $.ajax({
                    url: '@Url.Action("GetEPEStudentsCode", "Json")',
                    dataType: "json",
                    success: function (data) {
                        $("#mdCodigo").empty();
                        $("#mdCodigo").append($('<option>').text("").attr('value', ""));
                        for (i = 0; i < data.length; i++) {
                            var texto = data[i]["Text"];
                            $("#mdCodigo").append($('<option>').text(texto).attr('value', data[i]["Value"]));
                        }
                        $('#mdCodigo').select2({ placeholder: "Escribe el código del Alumno" });
                    }, beforeSend: function () {
                        $("#mdCodigo").empty();
                        $("#mdCodigo").append($('<option>').text("Cargando...").attr('value', ""));
                    },
             });
            }

                $('#mdCodigo').on("change", function () {
                    var AlumnoId = $('#mdCodigo').val();
                $.ajax({
                    url: '@Url.Action("GetStudentInformation", "Json")',
                    data: { IdAlumno: AlumnoId },
                    dataType: "json",
                    success: function (data) {
                        $('#mdCarrera').val(data[0]["Carrera"]);
                        $('#mdName').val(data[0]["Nombres"]);
                        $('#mdApellido').val(data[0]["Apellidos"]);
                        $('#mdCorreo').val(data[0]["Correo"]);
                    }
             });
                });

                $("#saveNewAlum").on("click", function () {
                    var textCodigo = $('#mdCodigo').select2('data')
                    var codigo = textCodigo[0].text;
                    var carrera = $('#mdCarrera').val();
                    var nombres = $('#mdName').val();
                    var apellido = $('#mdApellido').val();
                    var correo = $('#mdCorreo').val();
                    var moduloId = $('#Modulo').val();
                    alertify.set('notifier', 'position', 'top-center');
                    if (codigo.length > 0 && carrera.length > 0 && nombres.length > 0 && apellido.length > 0 && correo.length > 0) {
                        $.ajax({
                            url: '@Url.Action("NewAlumnReg", "Json")',
                            type: "post",
                            data: {
                                nombres: nombres,
                                apellidos: apellido,
                                correo: correo,
                                carrera: carrera,
                                codigo: codigo,
                                moduloId: moduloId
                            },
                            dataType: "json",
                            success: function (data) {
                                $('#mdCodigo').val("");
                                $('#mdCarrera').val("");
                                $('#mdName').val("");
                                $('#mdApellido').val("");
                                $('#mdCorreo').val("");
                                $('#defaultCheck1').prop('checked', true);
                                $('#alumnoInvitado').prop("disabled", false);
                                $('#alumno').prop("disabled", true);
                                $("#modalRegisterForm").modal("hide");

                                if (data.result == "Success") {
                                    $('#messageModal').modal("hide");
                                    window.location='@Url.Action("ConfiguracionInvitado", "Configuration")';
                                }
                                if (data.result == "Error") {
                                    alertify.error("Ocurrio un Error");
                                }
                                if (data.result == "Warning") {

                                    alertify.error("El codigo ya Existe");
                                }
                            }

                        });
                    }
                    else {
                        $("#modalRegisterForm").modal("hide");
                        alertify.warning("Debe llenar todos los campos")
                    }

                });


            });




            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }




            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }



            function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }

            function closeLoading() {
                swal.close();
            }
    </script>
<script>
    jQuery(document).ready(function(){

        jQuery('#modalRegisterForm').on('hidden.bs.modal', function (e) {
	    jQuery(this).removeData('bs.modal');
	
	})

    })
</script>
}

