﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration.ConfiguracionEVDViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey

@{
    ViewBag.Title = SurveyResources.ConfiguracionEVD;
    ViewBag.Icon = "list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementEVD", "Survey")">@SurveyResources.LabelEVD</a></li>
}
<form method="get" action="@Url.Action("ConfiguracionEVD", "Configuration")">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-binoculars"></i> @SurveyResources.Filtrar</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">@SurveyResources.PeriodoAcademico</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdPeriodoAcademico, Model.LstPeriodoAcademico, new { @class = "form-control", @id = "PeriodoAcademico" })
                        </div>
                        <div class="col-md-2"><label class="label-survey">@SurveyResources.Modulos</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdModulo, Model.LstModulo, new { @class = "form-control", @id = "Modulo" })
                        </div>
                    </div>
                </div>

                <br />
                <div class="pull-right">
                    <div class="col-md-4">
                        <a id="clear-all" class="btn btn-default"><i class="fa fa-eraser"></i> </a>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-dark"><i class="fa fa-search"></i> @SurveyResources.LabelBuscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> @SurveyResources.Resultados</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="">
                        <div class="col-md-2 text-center">
                            <label class="label-survey"><i class="fa fa-filter"></i> @SurveyResources.Filtrar</label>
                        </div>
                        <div class="col-md-4">
                            <input id="searchInput" class="form-control" style="text-transform: uppercase;"><br />
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                     
                                @if (Model.LstModuloValido.Count != 0)
                                {
                                    <a class="btn btn-warning" href="@Url.Action("AddEVR", "Register")"><i class="fa fa-sticky-note"></i> @SurveyResources.CrearEncuestaEVD</a>
                                }
                                else
                                {
                                    <a class="btn btn-warning" data-toggle="modal" data-target="#modalWarning"><i class="fa fa-sticky-note"></i> @SurveyResources.CrearEncuestaEVD</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr style="background-color: #FF1901;">
                            <th class="text-center" style="color:white;">@SurveyResources.PeriodoAcademico</th>
                            <th class="text-center" style="color:white;">@SurveyResources.Modulo</th>
                            <th class="text-center" style="color:white;">@SurveyResources.Codigo</th>
                            <th class="text-center" style="color:white;">@SurveyResources.Fecha</th>
                            <th class="text-center" style="color:white;">@SurveyResources.Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="encuestas">
                        @foreach (var item in Model.LstEncuestasEVD)
                        {
                        <tr>
                            <td class="text-center"> @item.SubModalidadPeriodoAcademicoModulo.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico</td>
                            <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.SubModalidadPeriodoAcademicoModulo.Modulo.NombreEspanol.ToUpper() : item.SubModalidadPeriodoAcademicoModulo.Modulo.NombreIngles.ToUpper())</td>
                            <td class="text-center">@item.Codigo</td>
                            <td class="text-center">@item.FechaCreacion</td>


                            @switch (item.Estado)
                            {
                                case "ACT":
                                    {
                                        <td class="text-center">@Html.Raw(ConstantHelpers.GetSpanEstado("ACT", (language == ConstantHelpers.CULTURE.ESPANOL ? "ACTIVO" : "ACTIVE")))</td>

                                    }
                                    break;
                                case "INA":
                                    {
                                        <td class="text-center">@Html.Raw(ConstantHelpers.GetSpanEstado("INA", (language == ConstantHelpers.CULTURE.ESPANOL ? "INACTIVO" : "INACTIVE")))</td>

                                    }
                                    break;
                                case "FIN":
                                    {
                                        <td class="text-center">@Html.Raw(ConstantHelpers.GetSpanEstado("INA", (language == ConstantHelpers.CULTURE.ESPANOL ? "FINALIZADO" : "FINALIZED")))</td>

                                    }
                                    break;
                                case "PRC":
                                    {
                                        <td class="text-center">@Html.Raw(ConstantHelpers.GetSpanEstado("INA", (language == ConstantHelpers.CULTURE.ESPANOL ? "EN PROCESO" : "IN PROCESS")))</td>
                                    }
                                break;


                            }
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                        @SurveyResources.Opciones
                                        <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                        <li role="presentation">
                                            <a href="@Url.Action("showSurvey", "RegisterToken",new { IdEncuestaVirtualDelegado = @item.IdEncuestaVirtualDelegado})"><i class="fa fa-video-camera"></i> @SurveyResources.VerEncuesta</a>
                                        </li>

                                        @if (item.Estado != "FIN")
                                        {
                                            <li role="presentation">
                                                <a href="@Url.Action("ActivarEVD", "Maintenance",new { IdEncuestaVirtualDelegado = @item.IdEncuestaVirtualDelegado})"><i class="fa fa-arrow-circle-o-up"></i> @SurveyResources.Activar </a>
                                            </li>
                                            <li role="presentation">
                                                <a href="@Url.Action("AgregarDelegadosEncuestaEVD", "Maintenance",new { IdEncuestaVirtualDelegado = @item.IdEncuestaVirtualDelegado})"><i class="fa fa-plus"></i> @SurveyResources.AgregarDelegados</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="@Url.Action("FinalizarEVD", "Maintenance",new { IdEncuestaVirtualDelegado = @item.IdEncuestaVirtualDelegado})"><i class="fa fa-arrow-circle-down"></i> @SurveyResources.Finalizar</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.PagedListPager(Model.LstEncuestasEVD, page => Url.Action("ConfiguracionEVD", new { numeroPagina = page }), ConstantHelpers.TwitterBootstrapPagerAligned)
        </div>
    </div>
</div>

<div class="modal fade" id="modalWarning" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@SurveyResources.Advertencia</h4>
            </div>
            <div class="modal-body">
                <p>@SurveyResources.AlertaEncuestaMaximo</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@SurveyResources.Cerrar</button>
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
                                });
        $("#searchInput").keyup(function () {
                                    //split the current value of searchInput
                                    var data = this.value.toUpperCase().split(" ");
                                    //create a jquery object of the rows
                                    var jo = $("#encuestas").find("tr");
                                    if (this.value == "") {
                                        jo.show();
                                        return;
                                    }
                                    //hide all the rows
                                    jo.hide();

                                    //Recusively filter the jquery object to get results.
                                    jo.filter(function (i, v) {
                                        var $t = $(this);
                                        for (var d = 0; d < data.length; ++d) {
                                            if ($t.is(":contains('" + data[d] + "')")) {
                                            return true;
                                        }
                                    }
                                    return false;
                                })
            //show the rows that match.
            .show();
                            }).focus(function () {
                                this.value = '';
            $(this).css({
                                    "color": "black"
            });
            $(this).unbind('focus');
        }).css({
            "color": "#C0C0C0"
        });

        $(document).ready(function () {
            $('#PeriodoAcademico').select2({ witdth: '100%' });
            $('#Modulo').select2({ witdth: '100%' });

            $('#PeriodoAcademico').change(function () {
                MostrarModulos();
            });


            function MostrarModulos() {

                var PeriodoAcademicoId = $('#PeriodoAcademico').val();

                $.ajax({
                    url: '@Url.Action("GetModuloByCiclo","Json")',
                    data: { IdPeriodoAcademico: PeriodoAcademicoId },
                    dataType: "json",
                    success: function (data) {
                        $("#Modulo").empty();

                        for (i = 0; i < data.length; i++) {

                            var texto = data[i]["Text"];

                            if ($('#Modulo option:contains(' + texto + ')').length) {
                                continue;
                            }
                            $("#Modulo").append($('<option>').text(texto).attr('value', data[i]["Value"]));
                            $('#Modulo').val(data[i]["Value"]).trigger('change');
                        }
                    }, beforeSend: function () {
                        $("#Modulo").empty();
                        $("#Modulo").append($('<option>').text("Cargando...").attr('value', ""));

                    },
                });
            }

        });
    </script>
}
