﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration.ConfigurationGRAViewModel
@{
    ViewBag.Title = "Configuración Graduando";
    ViewBag.Icon = "wrench";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    var i = 1;
}

@section Breadcrumbs{
<li><a href="@Url.Action("SurveyManagementGRA", "Survey")">@AddEditFDCResource.KeyWordsEncuestaGraduando</a></li>
}

<div class="alert dark alert-icon alert-success alert-dismissible" role="alert" id="message" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <i class="icon wb-check" aria-hidden="true"></i> Los datos se guardaron correctamente.
</div>

<div class="row">
    <form method="post">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-hourglass-half"></i> @AddEditFDCResource.AddEditGRACiclo</h3>
            </div>
            <div class="panel-body">
                <div class="row">

                    @*<div class="col-md-1"><label class="label-survey">Modalidad</label></div>*@
                    @*<div class="col-md-2">
                        @Html.DropDownListFor(m => Model.IdModalidad, new SelectList(Model.LstModalidad, "IdModalidad", "NombreEspanol"), @AddEditFDCResource.DownloadTemplateSurveyGRASeleccione, new
                   {
                       @class = "form-control select2-select",

                       @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]",
                       
                       
                   })
                    </div>*@



                    <div class="col-md-1"><label class="label-survey">@AddEditFDCResource.DownloadTemplateSurveyGRACiclo</label></div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(m => Model.SubModalidadPeriodoAcademicoId, new SelectList(Model.LstSubModalidadPeriodoAcademico, "Value", "Text"), @AddEditFDCResource.DownloadTemplateSurveyGRASeleccione, new
                   {
                       @class = "form-control select2-select",

                       @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]",
                   
                   })
                    </div>

                   

                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> @AddEditFDCResource.ButtonsOptionsSurveyBuscar</button>
                    </div>
                    @if(Model.LstConfig.Count == 0)
                    {
                    <div class="col-md-4">
                        <a href="@Url.Action("ReplicarConfiguracionGRA", "Configuration", new { IdPeriodoAcademico = Model.SubModalidadPeriodoAcademicoId})" class="btn btn-warning"><i class="fa fa-check"></i> Replicar Configuración Anterior</a>
                    </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-sliders"></i> Niveles de Aceptación</h3>
        </div>
        <div class="panel-body">
            @for (int j = 0; j < Model.LstNivelAceptacion.Count; j++)
            {
                var item = Model.LstNivelAceptacion[j];
                <div class="row">
                    <div class="col-md-2">
                        <strong>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol : item.NombreIngles)</strong>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-1">
                        [ @item.ValorMinimo
                    </div>
                    <div class="col-md-2" style="background:@item.Color">
                        &nbsp;
                    </div>
                    <div class="col-md-1">
                        @item.ValorMaximo @(j == Model.LstNivelAceptacion.Count - 1 ? " ]" : " >")
                    </div>
                </div><br />
            }

            <div class="row">
                @*<div class="pull-right">
                    <a @Url.ModalHelperFor("_EditarNivelesAceptacion", "Configuration", new { IdPeriodoAcademico = Model.CicloId, IdTipoEncuesta = Model.IdTipoEncuesta }, ModalSize.Large) class="btn btn-success"><i class="fa fa-wrench"></i> Configurar</a>
                </div>*@
            </div>
        </div>
    </div>
</div>
<div class="row" style="background:white;">
    <div class="nav-tabs-horizontal">
        <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
            @foreach (var item in Model.LstCarrera)
            {
                <li class="@( i == 1 ? "active":"")" role="presentation"><a data-toggle="tab" href="#@item.Codigo" aria-controls="@item.Codigo" role="tab">@item.Codigo</a></li>
                i++;
            }
            <li class="dropdown" role="presentation" style="display: none;">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <span class="caret"></span>Menu
                </a>
                <ul class="dropdown-menu" role="menu">
                    @foreach (var item in Model.LstCarrera)
                    {
                        i = 1;
                        <li role="presentation"><a data-toggle="tab" href="#@item.Codigo" aria-controls="@item.Codigo" role="tab">@item.Codigo</a></li>
                    }
                </ul>
            </li>
        </ul>
        <div class="tab-content padding-top-20">
            @foreach (var item in Model.LstCarrera)
            {
                <div class="tab-pane @(i == 1 ? "active" : "")" id="@item.Codigo" role="tabpanel">

                    <div class="col-md-12">
                        <div class="row">
                            <div>
                                <div class="panel panel-bordered">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-list-alt"></i> Competencias Específicas</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group">
                                                <table class="table table-hover table-striped" id="table">
                                                    <thead>
                                                        <tr>
                                                            <td class="col-md-3">Nombre</td>
                                                            <td class="col-md-9">Descripción</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var outcome in Model.LstConfig.Where(x => x.TipoOutcomeEncuesta.NombreEspanol == ConstantHelpers.ENCUESTA.COMPETENCIA_ESPECIFICA && x.IdCarrera == item.IdCarrera))
                                                        {
                                                            <tr>
                                                                <td><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>@outcome.NombreEspanol</strong></td>
                                                                <td>@outcome.DescripcionEspanol</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="pull-right">
                                                <a href="@Url.Action("SurveyGRAConfiguration", "Configuration", new { subModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId})" class="btn btn-success"><i class="fa fa-wrench"></i> Configurar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div>
                                <div class="panel panel-bordered">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-list-alt"></i> Competencias Generales</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group">
                                                <table class="table table-hover table-striped" id="table">
                                                    <thead>
                                                        <tr>
                                                            <td class="col-md-3">Nombre</td>
                                                            <td class="col-md-9">Descripción</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var outcome in Model.LstConfig.Where(x => x.TipoOutcomeEncuesta.NombreEspanol == ConstantHelpers.ENCUESTA.COMPETENCIA_GENERAL && x.IdCarrera == item.IdCarrera))
                                                        {
                                                            <tr>
                                                                <td><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>@outcome.NombreEspanol</strong></td>
                                                                <td>@outcome.DescripcionEspanol</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="pull-right">
                                                <a href="@Url.Action("SurveyGRAConfiguration", "Configuration", new { SubModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId})" class="btn btn-success"><i class="fa fa-wrench"></i> Configurar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                i++;
            }
        </div>
    </div>
</div>









@section Scripts{
    <script>

        @*function ComboModalidad() {
            $.when
            $('#SubModalidadPeriodoAcademicoId').on('change', function () {
                $.ajax({
                    url: '@Url.Action("GetCycleByModalidad", "Json")',
                    type: 'POST',
                    data: {
                        ModalityId: $('#IdModalidad').val()
                    },
                    success: function (data) {
                        $("#SubModalidadPeriodoAcademicoId").empty();
                        $.each(data, function (key, value) {
                            $("#SubModalidadPeriodoAcademicoId")
                                .append($("<option></option>")
                                    .attr("value", value.key).text(value.value));
                        });
                    }
                });

            });
        }*@
       
        ////$(document).ready(function () {            
        ////    ComboModalidad();       
        ////});
    </script>
}