﻿-@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration.ConfiguracionPlantillaEncuestaViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey
@{
    ViewBag.Title = SurveyResources.ConfiguracionPlantillaEncuesta;
    ViewBag.Icon = "list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementEVD", "Survey")">@SurveyResources.EncuestaEVD</a></li>
}
<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i>@SurveyResources.ConfiguracionPlantillaEncuesta</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="">
                        <div class="col-md-2 text-center">
                            <label class="label-survey"><i class="fa fa-filter"></i> @SurveyResources.Filtrar </label>
                        </div>
                        <div class="col-md-4">
                            <input id="searchInput" class="form-control" style="text-transform: uppercase;"><br />
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <a class="btn btn-warning" href="@Url.Action("NivelesSatisfaccion","Register")"><i class="fa fa-wrench"></i> @SurveyResources.NivelSatisfaccion</a>                              
                                <a class="btn btn-warning" href="@Url.Action("AddEditPlantillaEncuesta", "Register")"><i class="fa fa-sticky-note"></i> @SurveyResources.CrearPlantilla</a>                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr style="background-color: #FF1901;">
                            <th class="text-center" style="color:white;" width=50%>@SurveyResources.Nombre</th>
                            <th class="text-center" style="color:white;" width=20%>@SurveyResources.FechaCreacion</th>
                            <th class="text-center" style="color:white;" width=10%>@SurveyResources.CantidadPreguntas </th>

                            <th width=20%></th>
                        </tr>
                    </thead>
                    <tbody id="encuestas">
                        @foreach (var item in Model.LstPlantillaEncuesta)
                        {
                            <tr>
                                <td class="text-center"  width=50%>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol.ToUpper() : item.NombreIngles.ToUpper())</td>
                                <td class="text-center"  width=20%>@item.FechaCreacion</td>
                                <td class="text-center"  width=10%>@item.Pregunta.Count()</td>
                              
                                <td class="text-center" width=20%>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                            @SurveyResources.Opciones
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                            <li role="presentation">
                                                <a href="@Url.Action("AddEditPlantillaEncuesta", "Register", new { IdPlantillaEncuesta = @item.IdPlantillaEncuesta})" role="menuitem"><i class="fa fa-tasks"></i>@SurveyResources.EditarPlantilla</a>
                                                <a href="@Url.Action("ConfiguracionPreguntasPlantillaEncuesta", "Configuration", new { IdPlantillaEncuesta = @item.IdPlantillaEncuesta})" role="menuitem"><i class="fa fa-archive"></i>@SurveyResources.MantenimientoPreguntas</a>
                                                <a href="@Url.Action("EliminarPlantillaEncuesta", "Configuration", new { IdPlantillaEncuesta = @item.IdPlantillaEncuesta})" role="menuitem"><i class="fa fa-trash"></i>@SurveyResources.Eliminar</a>
                                            </li>
                                                               
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.PagedListPager(Model.LstPlantillaEncuesta, page => Url.Action("ConfiguracionPlantillaEncuesta", new { numeroPagina = page }), ConstantHelpers.TwitterBootstrapPagerAligned)
        </div>
    </div>
</div>