﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration.ConfigurationPPPViewModel
@{
    ViewBag.Title = "Configuración Prácticas Pre Profesionales";
    ViewBag.Icon = "wrench";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    var i = 1;
}

@section Breadcrumbs{
}

<div class="alert dark alert-icon alert-success alert-dismissible" role="alert" id="message" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <i class="icon wb-check" aria-hidden="true"></i> Los datos se guardaron correctamente.
</div>

<div class="row">
    <form method="post">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-hourglass-half"></i> Ciclo Académico</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1"><label class="label-survey">@AddEditFDCResource.DownloadTemplateSurveyGRACiclo1</label></div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(m => Model.CicloId, new SelectList(Model.LstCiclo, "IdPeriodoAcademico", "CicloAcademico"), @AddEditFDCResource.DownloadTemplateSurveyGRASeleccione, new
                   {
                       @class = "form-control select2-select",

                       @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]",
                       @data_update_target = "#carreraId",
                       @data_filter = "cicloId"
                   })
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> @AddEditFDCResource.ButtonsOptionsSurveyBuscar</button>
                    </div>
                    @if (Model.LstConfig.Count == 0)
                    {
                        <div class="col-md-4">
                            <a href="@Url.Action("ReplicarConfiguracionPPP", "Configuration", new { IdPeriodoAcademico = Model.CicloId})" class="btn btn-warning"><i class="fa fa-check"></i> Replicar Configuración Anterior</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-sliders"></i> Niveles de Aceptación</h3>
        </div>
        <div class="panel-body">
            @for(int j = 0; j < Model.LstNivelAceptacion.Count; j++)
            {
                var item = Model.LstNivelAceptacion[j];
                <div class="row">
                    <div class="col-md-2">
                        <strong>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol : item.NombreIngles)</strong>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-1">
                        [ @item.ValorMinimo
                    </div>
                    <div class="col-md-2" style="background:@item.Color">
                        &nbsp;
                    </div>
                    <div class="col-md-1">
                        @item.ValorMaximo @(j == Model.LstNivelAceptacion.Count - 1 ? " ]" : " >")
                    </div>
                </div><br />
            }
            
            <div class="row">
                @*<div class="pull-right">
                    <a @Url.ModalHelperFor("_EditarNivelesAceptacion", "Configuration", new { IdPeriodoAcademico = Model.CicloId, IdTipoEncuesta = Model.IdTipoEncuesta },ModalSize.Large) class="btn btn-success"><i class="fa fa-wrench"></i> Configurar</a>
                </div>*@
            </div>
        </div>
    </div>
</div>
<div class="row" style="background:white;">
    <div class="nav-tabs-horizontal">
        <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
            @foreach (var item in Model.LstCarrera)
            {
                <li class="@( i == 1 ? "active":"")" role="presentation"><a data-toggle="tab" href="#@item.Codigo" aria-controls="@item.Codigo" role="tab">@item.Codigo</a></li>
                i++;
            }
            <li class="dropdown" role="presentation" style="display: none;">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <span class="caret"></span>Menu
                </a>
                <ul class="dropdown-menu" role="menu">
                    @foreach (var item in Model.LstCarrera)
                    {
                        i = 1;
                        <li role="presentation"><a data-toggle="tab" href="#@item.Codigo" aria-controls="@item.Codigo" role="tab">@item.Codigo</a></li>
                    }
                </ul>
            </li>
        </ul>
        <div class="tab-content padding-top-20">
            @foreach (var item in Model.LstCarrera)
            {
                <div class="tab-pane @(i == 1 ? "active" : "")" id="@item.Codigo" role="tabpanel">

                    <div class="col-md-12">
                        <div class="row">
                            <div>
                                <div class="panel panel-bordered">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-list-alt"></i> Competencias Específicas</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group">
                                                <table class="table table-hover table-striped" id="table">
                                                    <thead>
                                                        <tr>
                                                            <td class="col-md-3">Nombre</td>
                                                            <td class="col-md-9">Descripción</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var outcome in Model.LstConfig.Where(x => x.TipoOutcomeEncuesta.NombreEspanol == ConstantHelpers.ENCUESTA.COMPETENCIA_ESPECIFICA && x.IdCarrera == item.IdCarrera))
                                                        {
                                                            <tr>
                                                                <td><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>@outcome.NombreEspanol</strong></td>
                                                                <td>@outcome.DescripcionEspanol</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="pull-right">
                                                <a href="@Url.Action("SurveyPPPConfiguration", "Configuration", new { CicloId = Model.CicloId})" class="btn btn-success"><i class="fa fa-wrench"></i> Configurar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div>
                                <div class="panel panel-bordered">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-list-alt"></i> Competencias Generales</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group">
                                                <table class="table table-hover table-striped" id="table">
                                                    <thead>
                                                        <tr>
                                                            <td class="col-md-3">Nombre</td>
                                                            <td class="col-md-9">Descripción</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var outcome in Model.LstConfig.Where(x => x.TipoOutcomeEncuesta.NombreEspanol == ConstantHelpers.ENCUESTA.COMPETENCIA_GENERAL && x.IdCarrera == item.IdCarrera))
                                                        {
                                                            <tr>
                                                                <td><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>@outcome.NombreEspanol</strong></td>
                                                                <td>@outcome.DescripcionEspanol</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="pull-right">
                                                <a href="@Url.Action("SurveyPPPConfiguration", "Configuration", new { CicloId = Model.CicloId})" class="btn btn-success"><i class="fa fa-wrench"></i> Configurar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                i++;
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
        $(document).ready(function () {
            @*$('.sortable').sortable();

            $('#cespecifico').click(function () {

                var model = {}; var array = [];

                $('.especifico').each(function () {
                    array.push($(this).val());
                });

                model['lstOrden'] = array;
                model['TipoEncuesta'] = '@ConstantHelpers.ENCUESTA.PPP';
                model['TipoOutcome'] = '@ConstantHelpers.ENCUESTA.COMPETENCIA_ESPECIFICA';
                $.ajax({
                    url: '@Url.Action("ReordenarOutcomes", "Json")',
                    type: 'POST',
                    data: model,
                    success: function (data) {
                        if (data) {
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                            $('#message').show().fadeOut(6000);
                        }
                    }
                });
            });

            $('#cgeneral').click(function () {
                var model = {}; var array = [];

                $('.general').each(function () {
                    array.push($(this).val());
                });

                model['lstOrden'] = array;
                model['TipoEncuesta'] = '@ConstantHelpers.ENCUESTA.PPP';
                model['TipoOutcome'] = '@ConstantHelpers.ENCUESTA.COMPETENCIA_GENERAL';
                $.ajax({
                    url: '@Url.Action("ReordenarOutcomes", "Json")',
                    type: 'POST',
                    data: model,
                    success: function (data) {
                        if (data) {
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                            $('#message').show().fadeOut(6000);
                        }
                    }
                });
            });

            var html_ce = $('#ce').html();
            var html_cg = $('#cg').html();

            $(document).on('click', '#reordence', function () {
                $('#ce').html('').html(html_ce);
                $('.sortable').sortable();
            });
            $(document).on('click', '#reordencg', function () {
                $('#cg').html('').html(html_cg);
                $('.sortable').sortable();
            });*@
        });
    </script>
}