﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration.ConfiguracionDelegadoViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey
@{
    ViewBag.Title = @SurveyResources.Configuracion_Delegado;
    ViewBag.Icon = "sticky-note";
    ViewBag.SevenIcon = "mail-open-file";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementEVD", "Survey")">@SurveyResources.EncuestaEVD</a></li>
}

@Html.Content("css/font/summernote.eot")
@Html.Content("css/font/summernote.ttf")
@Html.Content("css/font/summernote.woff")

@section Styles{

    <style>
        @@media screen and (max-width: 550px) {

            .table tr td {
                display: block;
                clear: both;
                width: 95%;
            }

            .table tr:nth-child(even) {
                background: #e7f1ff !important;
            }

            .table tr {
                border-top: 5px solid;
            }

            .hiddenTexto {
                font-weight: bold !important;
                display: inline-block !important;
            }

            .hiddenHeader {
                display: none !important;
            }
        }

        .hiddenTexto {
            display: none;
        }
    </style>

}

<div class="col-md-6">
</div>



<form method="post" action="@Url.Action("ConfiguracionDelegado", "Configuration")">
    <div class="row">
        <div class="panel panel-bordered">
            <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i> @SurveyResources.Filtrar </h3>
            </div>
            <div class="collapse in" id="collapseExample">
                <div class="panel-body">
                    <div class="form-group">
                        @Html.DropDownListFor(m => Model.IdModulo, Model.LstModulo, new { @class = "form-control", @id = "Modulo" })
                     </div>
                    <div class="pull-right">
                        <div class="col-md-12">
                            <button class="btn btn-dark"><i class="fa fa-search"></i> @SurveyResources.LabelBuscar</button>
                        </div>
                    </div>
                        
                    </div>
               
            </div>
           
        </div>
    </div>
                <div class="row">
                <div class="panel panel-bordered">
                    <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
                        <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i> @SurveyResources.TituloAlumnoDelegado</h3>
                    </div>
                    <div class="collapse in" id="collapseExample">
                        <div class="panel-body">
                            <table id="tbl_proyectos" class="table table-striped table-bordered" style="width:100%">
                                <thead class="hiddenHeader">
                                    <tr>
                                        @*<th>Nro</th>*@
                                        <th>@SurveyResources.CodigoAlumno</th>
                                        <th>@SurveyResources.NombreAlumno</th>
                                        <th>@SurveyResources.CodigoSeccion</th>
                                        <th>@SurveyResources.CodigoCurso</th>
                                        <th>@SurveyResources.NombreCurso</th>
                                        <th>@SurveyResources.CodigoDocente</th>
                                        <th>@SurveyResources.NombreDocente</th>
                                        <th>@SurveyResources.LabelModule</th>
                                        <th>@SurveyResources.Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@{int il = 1; }*@
                                    @foreach (var item in Model.ListaAlumnos)
                                    {
                                        <tr>
                                            @*<td>
                                                <span class="hiddenTexto">Nro:</span>@il
                                            </td>*@
                                            <td>
                                                <span class="hiddenTexto">Código Alumno:</span> @item.Codigo_Alumno
                                            </td>
                                            <td>
                                                <span class="hiddenTexto">Nombre Alumno:</span> @item.Nombre_Alumno
                                            </td>
                                            <td>
                                                <span class="hiddenTexto">Código Sección:</span> @item.Codigo_Seccion
                                            </td>
                                            <td>
                                                <span class="hiddenTexto">Código Curso:</span> @item.Codigo_Curso
                                            </td>
                                            <td>
                                                <span class="hiddenTexto">Nombre Curso:</span> @item.Nombre_Curso
                                            </td>
                                            <td>
                                                <span class="hiddenTexto">Codigo Docente:</span> @item.Codigo_Docente
                                            </td>
                                            <td>
                                                <span class="hiddenTexto">Nombre Docente:</span> @item.Nombre_Docente
                                            </td>
                                            <td>
                                                <span class="hiddenTexto">Módulo:</span> @item.Modulo
                                            </td>
                                            <td>
                                                <a class="btn btn-primary" @Url.ModalHelperFor("EditarDelegado", "Configuration", new { CodigoAlumno = item.Codigo_Alumno, ModuloId = item.Modulo_Id})> @SurveyResources.Editar</a>
                                            </td>
                                        </tr>
                                        //il++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbl_proyectos').dataTable();
            $('#tb2_proyectos').dataTable();
        });

            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }




            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            $("#saveNewAlum").click(function () {
                var codigo = $('#mdCodigo').val();
                var carrera = $('#mdCarrera').val();
                var nombres = $('#mdName').val();
                var apellido = $('#mdApellido').val();
                var correo = $('#mdCorreo').val();
                alertify.set('notifier', 'position', 'top-center');
                if (codigo.length > 0 && carrera.length > 0 && nombres.length > 0 && apellido.length > 0 && correo.length > 0) {
                    $.ajax({
                        url: '@Url.Action("NewAlumnReg", "Json")',
                        data: { codigo: codigo, carrera: carrera, nombres: nombres, apellidos: apellido, correo: correo },
                        dataType: "json",
                        success: function (data) {

                            if (data == "Success") {

                                alertify.success("El Alumno Se registro correctamente" );
                            }
                            if (data == "Error") {

                                alertify.error("Ocurrio un Error" );
                            }
                            if (data == "Warning") {

                                alertify.error("El codigo ya Existe");
                            }
                            $('#mdCodigo').val("");
                            $('#mdCarrera').val("");
                            $('#mdName').val("");
                            $('#mdApellido').val("");
                            $('#mdCorreo').val("");
                            $('#defaultCheck1').prop('checked', true);
                            $('#alumnoInvitado').prop("disabled", false);
                            $('#alumno').prop("disabled", true);
                            $("#modalRegisterForm").modal("hide");
                            //selectItemByValue($('#alumnoInvitado'), codigo);
                            //$('#alumnoInvitado').selectedIndex = "3";
                            //alert(listaAlumnosInvitados.selectedIndex);

                            $.ajax({

                                url: '@Url.Action("getTheLastAlumn", "Json")',
                                data: {},
                                dataType: "json",
                                success: function (data) {




                                        $("#tb2_proyectos").append(`<tr>` +
                                                                  `<td>${data["Text"]}</td>` +
                                                                  `<td>${data["Value"]}</td>` +
                                                                    `</tr>`);

                                },
                                beforeSend: function () {
                                    $("#docente").empty();
                                    $("#docente").append($('<option>').text("Cargando...").attr('value', ""));

                                },
                            });
                            }

                    });

                }
                else {
                    $("#modalRegisterForm").modal("hide");

                    alertify.warning("Debe llenar todos los campos")
                }



            });

            function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }

            function closeLoading() {
                swal.close();
            }
    </script>
}

