﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration.ConfigurationFDCViewModel
@{
    ViewBag.Title = "Configuración Fin de Ciclo";
    ViewBag.Icon = "wrench";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    var i = 1;
}
<div class="row">
    <form method="post">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-hourglass-half"></i> Ciclo Académico</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1"><label class="label-survey">@AddEditFDCResource.DownloadTemplateSurveyGRACiclo1</label></div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(m => Model.CicloId, new SelectList(Model.LstCiclo, "IdPeriodoAcademico", "CicloAcademico"), @AddEditFDCResource.DownloadTemplateSurveyGRASeleccione, new
                   {
                       @class = "form-control select2-select",

                       @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]",
                       @data_update_target = "#carreraId",
                       @data_filter = "cicloId"
                   })
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> @AddEditFDCResource.ButtonsOptionsSurveyBuscar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-sliders"></i> Niveles de Aceptación</h3>
        </div>
        <div class="panel-body">
            @if (Model.LstNivelAceptacion.Count > 0)
            {
                for (int j = 0; j < Model.LstNivelAceptacion.Count; j++)
                {
                    var item = Model.LstNivelAceptacion[j];
                    <div class="row">
                        <div class="col-md-2">
                            <strong>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol : item.NombreIngles)</strong>
                        </div>
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-1">
                            [ @item.ValorMinimo
                        </div>
                        <div class="col-md-2" style="background:@item.Color">
                            &nbsp;
                        </div>
                        <div class="col-md-1">
                            @item.ValorMaximo @(j == Model.LstNivelAceptacion.Count - 1 ? " ]" : " >")
                        </div>
                    </div><br />
                }

                <div class="row">
                    @*<div class="pull-right">
                        <a @Url.ModalHelperFor("_EditarNivelesAceptacion", "Configuration", new { IdPeriodoAcademico = Model.CicloId, IdTipoEncuesta = Model.IdTipoEncuesta }, ModalSize.Large) class="btn btn-success"><i class="fa fa-wrench"></i> Configurar</a>
                    </div>*@
                </div>
            }
            else
            {
                <div class="col-md-4">
                    <a href="@Url.Action("ReplicarConfiguracionFDC", "Configuration", new { IdPeriodoAcademico = Model.CicloId})" class="btn btn-warning"><i class="fa fa-check"></i> Replicar Configuración Anterior</a>
                </div>
            }

        </div>
    </div>
</div>

