﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration.EditarDelegadoViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey;
@{
    ViewBag.Title = SurveyResources.EditarDelegado;
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Icon = "edit";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<div class="form-horizontal">
    @Html.HiddenFor(x => x.CodigoActualDelegado)
    @Html.HiddenFor(x => x.IdSeccion)

    <div class="col-sm-12">
        <div class="row">
            <div class="row">
                <label class="col-sm-6" style="font-weight:bold; font-size:20px">@SurveyResources.InformacionCurso</label>
            </div><br />
            <div class="row">
                <label class="col-sm-3" style="font-weight:bold">@SurveyResources.CodigoSeccion</label>
                <label class="col-sm-2">@Model.delegadoActual.Codigo_Seccion</label>
            </div><br />
            <div class="row">
                <label class="col-sm-3" style="font-weight:bold">@SurveyResources.CodigoCurso</label>
                <label class="col-sm-2">@Model.delegadoActual.Codigo_Curso</label>
                <label class="col-sm-3" style="font-weight:bold">@SurveyResources.NombreCurso</label>
                <label class="col-sm-4">@Model.delegadoActual.Nombre_Curso</label>
            </div>
        </div><br />
        <div class="row">
            <div class="row">
                <label class="col-sm-3" style="font-weight:bold">@SurveyResources.CodigoDocente</label>
                <label class="col-sm-2">@Model.delegadoActual.Codigo_Docente</label>
                <label class="col-sm-3" style="font-weight:bold">@SurveyResources.NombreDocente</label>
                <label class="col-sm-4">@Model.delegadoActual.Nombre_Docente</label>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="row">
                <label class="col-sm-6" style="font-weight:bold; font-size:20px">@SurveyResources.DelegadoActual</label>
            </div><br />
            <div class="row">
                <label class="col-sm-3" style="font-weight:bold">@SurveyResources.CodigoDelegado</label>
                <label class="col-sm-6">@Model.delegadoActual.Codigo_Alumno</label>
            </div><br />
            <div class="row">
                <label class="col-sm-3" style="font-weight:bold">@SurveyResources.NombreDelegado</label>
                <label class="col-sm-6">@Model.delegadoActual.Nombre_Alumno</label>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="row">
                <label class="col-sm-6" style="font-weight:bold; font-size:20px">@SurveyResources.NuevoDelegado</label>
            </div><br />
            <div class="row">
                <label class="col-sm-2" style="font-weight:bold">@SurveyResources.Alumno</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(x => x.CodigoNuevoDelegado, Model.LstAlumnos, new { @class = "form-control" })
                </div>
            </div>
        </div> <br />
    </div>
</div>

<script>
    window.onunload = window.opener.location.reload(true);
</script>

