﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration.NewConfigurationPPPViewModel
@{
    ViewBag.Title = "Configuración Prácticas Pre Profesionales";
    ViewBag.Icon = "wrench";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    var i = 1;

    String BreadCrumbString = "Encuestas Prácticas Pre-Profesionales";
}

@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementPPP","Survey")">@BreadCrumbString</a></li>
}


<div class="row">
    <form method="post">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-hourglass-half"></i> Ciclo Académico</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1"><label class="label-survey">@AddEditFDCResource.DownloadTemplateSurveyGRACiclo</label></div>
                    <div class="col-md-2">
                        @Html.DropDownListFor(m => Model.CicloId, new SelectList(Model.LstCiclo, "IdPeriodoAcademico", "CicloAcademico"), @AddEditFDCResource.DownloadTemplateSurveyGRASeleccione, new
                   {
                       @class = "form-control select2-select",

                       @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]",
                       @data_update_target = "#carreraId",
                       @data_filter = "cicloId"
                   })
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> @AddEditFDCResource.ButtonsOptionsSurveyBuscar</button>
                    </div>
                    @if (Model.LstConfig.Count == 0)
                    {
                        <div class="col-md-4">
                            <a href="@Url.Action("ReplicarNewConfiguracionPPP", "Configuration", new { IdPeriodoAcademico = Model.CicloId})" class="btn btn-warning"><i class="fa fa-check"></i> Replicar Configuración Anterior</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-sliders"></i> Niveles de Aceptación</h3>
        </div>
        <div class="panel-body">
            @for (int j = 0; j < Model.LstNivelAceptacion.Count; j++)
            {
                var item = Model.LstNivelAceptacion[j];
                <div class="row">
                    <div class="col-md-2">
                        <strong>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol : item.NombreIngles)</strong>
                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-1">
                        [ @item.ValorMinimo
                    </div>
                    <div class="col-md-2" style="background:@item.Color">
                        &nbsp;
                    </div>
                    <div class="col-md-1">
                        @item.ValorMaximo @(j == Model.LstNivelAceptacion.Count - 1 ? " ]" : " >")
                    </div>
                </div><br />
            }
            <div class="row">
                <div class="col-md-2">
                    <a class="btn btn-primary" @Url.ModalHelperFor("_EditarNivelesAceptacionPPP", "Configuration", new { IdPeriodoAcademico = Model.CicloId }, ModalSize.Large)><i class="fa fa-pencil"></i> @AddEditFDCResource.ButtonsOptionsSurveyEditar</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" style="background:white;">
    <div class="nav-tabs-horizontal">
        <div class="tab-content padding-top-20">

            <div class="tab-panel" role="tabpanel">

                <div class="col-md-12">
                    <div class="row">
                        <div>
                            <div class="panel panel-bordered">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-list-alt"></i> Competencias Específicas</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <table class="table table-hover table-striped" id="table">
                                                <thead>
                                                    <tr>
                                                        <td class="col-md-3">Nombre</td>
                                                        <td class="col-md-9">Descripción</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var outcome in Model.LstConfig.Where(x => x.TipoOutcomeEncuesta.NombreEspanol == ConstantHelpers.ENCUESTA.COMPETENCIA_ESPECIFICA && x.IdEscuela == Model.IdEscuela))
                                                    {
                                                        <tr>
                                                            <td><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>@outcome.NombreEspanol</strong></td>
                                                            <td>@outcome.DescripcionEspanol</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="pull-right">
                                            <a href="@Url.Action("NewSurveyPPPConfiguration", "Configuration", new { CicloId = Model.CicloId})" class="btn btn-success"><i class="fa fa-wrench"></i> Configurar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div>
                            <div class="panel panel-bordered">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-list-alt"></i> Competencias Generales</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <table class="table table-hover table-striped" id="table">
                                                <thead>
                                                    <tr>
                                                        <td class="col-md-3">Nombre</td>
                                                        <td class="col-md-9">Descripción</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var outcome in Model.LstConfig.Where(x => x.TipoOutcomeEncuesta.NombreEspanol == ConstantHelpers.ENCUESTA.COMPETENCIA_GENERAL && x.IdEscuela == Model.IdEscuela))
                                                    {
                                                        <tr>
                                                            <td><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>@outcome.NombreEspanol</strong></td>
                                                            <td>@outcome.DescripcionEspanol</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="pull-right">
                                            <a href="@Url.Action("NewSurveyPPPConfiguration", "Configuration", new { CicloId = Model.CicloId})" class="btn btn-success"><i class="fa fa-wrench"></i> Configurar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>