﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration.NewSurveyPPPConfigurationViewModel
@{
    ViewBag.Title = "Configurar Encuesta Práctica Pre Profesional - Periodo " + Model.Periodo;
    ViewBag.Icon = "wrench";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    var i = 1;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("NewConfigurationPPP", "Configuration")">Configuración Encuesta PPP</a></li>
}


<div class="row" style="background:white;">
    <div class="nav-tabs-horizontal">

        <div class="tab-content padding-top-20">


            <div class="col-md-12">
                <div class="row">
                    <div>
                        <div class="panel panel-bordered">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-list-alt"></i> Competencias Específicas</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <table class="table table-hover table-striped" id="table">
                                            <thead>
                                                <tr>
                                                    <td class="col-md-1">Orden</td>
                                                    <td class="col-md-1">Nombre</td>
                                                    <td class="col-md-1">Carrera</td>
                                                    <td class="col-md-6">Descripción</td>
                                                    <td class="col-md-2"></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var outcome in Model.LstConfig.Where(x => x.TipoOutcomeEncuesta.NombreEspanol == ConstantHelpers.ENCUESTA.COMPETENCIA_ESPECIFICA))
                                                {
                                                    <tr>
                                                        <td>@outcome.Orden</td>
                                                        <td><strong><i class="fa fa-eye@(!outcome.EsVisible.Value ? "-slash":"")"></i> @outcome.NombreEspanol</strong></td>
                                                        <td>
                                                            @if (outcome.Carrera != null)
                                                        {
                                                            @outcome.Carrera.NombreEspanol
                                                            }
                                                            else
                                                            {
                                                                if (outcome.OtraCarrera)
                                                                {
                                                                    @Html.Raw("Otro")
                                                                }
                                                                else
                                                                {
                                                                    @Html.Raw("Todos")
                                                                }
                                                            }
                                                    </td>
                                                    <td>@outcome.DescripcionEspanol</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a class="btn btn-default" @Url.ModalHelperFor("_AddPPPOutcome", "Configuration", new { IdOutcomeEncuestaPPPConfig = outcome.IdOutcomeEncuestaPPPConfig, SubModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId ,CicloId = Model.CicloId, TipoEncuestaId = Model.TipoEncuesta, TipoOutcome = ConstantHelpers.ENCUESTA.COMPETENCIA_ESPECIFICA })><i class="fa fa-edit"></i> Editar</a>
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <span class="caret"></span>
                                                                <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                @*<li><a @Url.ModalHelperFor("_AttachOutcome", "Configuration", new { IdOutcomeEncuestaPPPConfig = outcome.IdOutcomeEncuestaConfig, CicloId = Model.CicloId, TipoEncuestaNombre = ConstantHelpers.ENCUESTA.PPP })><i class="fa fa-random"></i> Vincular</a></li>
                                                                    <li role="separator" class="divider"></li>*@
                                                                <li><a href="@Url.Action("DeleteOutcomePPPConfig", "Configuration", new { IdOutcomeEncuestaPPPConfig = outcome.IdOutcomeEncuestaPPPConfig, CicloId = Model.CicloId, SubModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId})"><i class="fa fa-trash"></i> Borrar</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="pull-right">
                                        <a class="btn btn-primary" @Url.ModalHelperFor("_AddPPPOutcome", "Configuration", new { SubModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId, CicloId = Model.CicloId, TipoOutcome = ConstantHelpers.ENCUESTA.COMPETENCIA_ESPECIFICA }, ModalSize.Large)><i class="fa fa-plus"></i> Agregar Outcome</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div>
                        <div class="panel panel-bordered">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-list-alt"></i> Competencias Generales</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <table class="table table-hover table-striped" id="table">
                                            <thead>
                                                <tr>
                                                    <td class="col-md-1">Orden</td>
                                                    <td class="col-md-2">Nombre</td>
                                                    <td class="col-md-1">Carrera</td>
                                                    <td class="col-md-6">Descripción</td>
                                                    <td class="col-md-2"></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var outcome in Model.LstConfig.Where(x => x.TipoOutcomeEncuesta.NombreEspanol == ConstantHelpers.ENCUESTA.COMPETENCIA_GENERAL))
                                                {
                                                    <tr>
                                                        <td>@outcome.Orden</td>
                                                        <td><strong><i class="fa fa-eye@(!outcome.EsVisible.Value ? "-slash":"")"></i> @outcome.NombreEspanol</strong></td>
                                                        <td>@if (outcome.Carrera != null)
                                                        {
                                                            @outcome.Carrera.NombreEspanol
                                                        }
                                                        else
                                                        {
                                                            if (outcome.OtraCarrera)
                                                            {
                                                                @Html.Raw("Otro")
                                                            }
                                                            else
                                                            {
                                                                @Html.Raw("Todos")
                                                            }

                                                        }</td>
                                                        <td>@outcome.DescripcionEspanol</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <a class="btn btn-default" @Url.ModalHelperFor("_AddPPPOutcome", "Configuration", new { IdOutcomeEncuestaPPPConfig = outcome.IdOutcomeEncuestaPPPConfig, CicloId = Model.CicloId, TipoEncuestaId = Model.TipoEncuesta, TipoOutcome = ConstantHelpers.ENCUESTA.COMPETENCIA_GENERAL }, ModalSize.Large)><i class="fa fa-edit"></i> Editar</a>
                                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span class="caret"></span>
                                                                    <span class="sr-only">Toggle Dropdown</span>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    @*<!--<li><a @Url.ModalHelperFor("_AttachOutcome", "Configuration", new { IdOutcomeEncuestaConfig = outcome.IdOutcomeEncuestaPPPConfig, CicloId = Model.CicloId, TipoEncuestaNombre = ConstantHelpers.ENCUESTA.PPP })><i class="fa fa-random"></i> Vincular</a></li>-->*@
                                                                    <li role="separator" class="divider"></li>
                                                                    <li><a href="@Url.Action("DeleteOutcomePPPConfig", "Configuration", new { IdOutcomeEncuestaPPPConfig = outcome.IdOutcomeEncuestaPPPConfig, CicloId = Model.CicloId})"><i class="fa fa-trash"></i> Borrar</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary" @Url.ModalHelperFor("_AddPPPOutcome", "Configuration", new { CicloId = Model.CicloId, TipoEncuestaId = Model.TipoEncuesta, TipoOutcome = ConstantHelpers.ENCUESTA.COMPETENCIA_GENERAL })><i class="fa fa-plus"></i> Agregar Outcome</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>


