﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration.SurveyGRAConfigurationViewModel
@{
    ViewBag.Title = "Configurar Encuesta Graduando - Periodo " + Model.Periodo;
    ViewBag.Icon = "wrench";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    var i = 1;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("ConfigurationGRA", "Configuration")">Configuración Encuesta Graduando</a></li>
}

<div class="row" style="background:white;">
    <div class="nav-tabs-horizontal">
        <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
            @foreach (var item in Model.LstCarrera)
            {
                <li class="@( i == 1 ? "active":"")" role="presentation"><a data-toggle="tab" href="#@item.Codigo" aria-controls="@item.Codigo" role="tab">@item.Codigo</a></li>
                i++;
            }
            <li class="dropdown" role="presentation" style="display: none;">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <span class="caret"></span>Menu
                </a>
                <ul class="dropdown-menu" role="menu">
                    @foreach (var item in Model.LstCarrera)
                    {
                        i = 1;
                        <li role="presentation"><a data-toggle="tab" href="#@item.Codigo" aria-controls="@item.Codigo" role="tab">@item.Codigo</a></li>
                    }
                </ul>
            </li>
        </ul>
        <div class="tab-content padding-top-20">
            @foreach (var item in Model.LstCarrera)
            {
                <div class="tab-pane @(i == 1 ? "active" : "")" id="@item.Codigo" role="tabpanel">

                    <div class="col-md-12">
                        <div class="row">
                            <div>
                                <div class="panel panel-bordered">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-list-alt"></i> Competencias Específicas</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group">
                                                <table class="table table-hover table-striped" id="table">
                                                    <thead>
                                                        <tr>
                                                            <td class="col-md-1">Orden</td>
                                                            <td class="col-md-1">Nombre</td>
                                                            <td class="col-md-1">Comision</td>
                                                            <td class="col-md-6">Descripción</td>
                                                            <td class="col-md-2"></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var outcome in Model.LstConfig.Where(x => x.TipoOutcomeEncuesta.NombreEspanol == ConstantHelpers.ENCUESTA.COMPETENCIA_ESPECIFICA && x.IdCarrera == item.IdCarrera))
                                                        {
                                                            <tr>
                                                                <td>@outcome.Orden</td>
                                                                <td><strong><i class="fa fa-eye@(!outcome.EsVisible.Value ? "-slash":"")"></i> @outcome.NombreEspanol</strong></td>
                                                                <td><span class="@ConstantHelpers.GetColorPorCodigoComision(outcome.Comision.Codigo)">@outcome.Comision.Codigo</span></td>
                                                                <td>@outcome.DescripcionEspanol</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <a class="btn btn-default" @Url.ModalHelperFor("_AddOutcome", "Configuration", new { IdOutcomeEncuestaConfig = outcome.IdOutcomeEncuestaConfig, SubModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId, TipoEncuestaId = Model.TipoEncuesta, TipoOutcome = ConstantHelpers.ENCUESTA.COMPETENCIA_ESPECIFICA })><i class="fa fa-edit"></i> Editar</a>
                                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <span class="caret"></span>
                                                                            <span class="sr-only">Toggle Dropdown</span>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                            @*<li><a @Url.ModalHelperFor("_AttachOutcome", "Configuration", new { IdOutcomeEncuestaConfig = outcome.IdOutcomeEncuestaConfig, CicloId = Model.CicloId, TipoEncuestaNombre = ConstantHelpers.ENCUESTA.GRA })><i class="fa fa-random"></i> Vincular</a></li>
                                                                            <li role="separator" class="divider"></li>*@
                                                                            <li><a href="@Url.Action("DeleteOutcomeConfig", "Configuration", new { IdOutcomeEncuestaConfig = outcome.IdOutcomeEncuestaConfig, SubModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId, TipoEncuestaNombre = ConstantHelpers.ENCUESTA.GRA})"><i class="fa fa-trash"></i> Borrar</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary" @Url.ModalHelperFor("_AddOutcome", "Configuration", new { SubModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId, TipoEncuestaId = Model.TipoEncuesta, TipoOutcome = ConstantHelpers.ENCUESTA.COMPETENCIA_ESPECIFICA, CarreraId = item.IdCarrera },ModalSize.Large)><i class="fa fa-plus"></i> Agregar Outcome</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div>
                                <div class="panel panel-bordered">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-list-alt"></i> Competencias Generales</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="form-group">
                                                <table class="table table-hover table-striped" id="table">
                                                    <thead>
                                                        <tr>
                                                            <td class="col-md-1">Orden</td>
                                                            <td class="col-md-2">Nombre</td>
                                                            <td class="col-md-1">Comisión</td>
                                                            <td class="col-md-6">Descripción</td>
                                                            <td class="col-md-2"></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var outcome in Model.LstConfig.Where(x => x.TipoOutcomeEncuesta.NombreEspanol == ConstantHelpers.ENCUESTA.COMPETENCIA_GENERAL && x.IdCarrera == item.IdCarrera))
                                                        {
                                                            <tr>
                                                                <td>@outcome.Orden</td>
                                                                <td><strong><i class="fa fa-eye@(!outcome.EsVisible.Value ? "-slash":"")"></i> @outcome.NombreEspanol</strong></td>
                                                                <td><span class="@ConstantHelpers.GetColorPorCodigoComision(outcome.Comision.Codigo)">@outcome.Comision.Codigo</span></td>
                                                                <td>@outcome.DescripcionEspanol</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <a class="btn btn-default" @Url.ModalHelperFor("_AddOutcome", "Configuration", new { IdOutcomeEncuestaConfig = outcome.IdOutcomeEncuestaConfig, SubModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId, TipoEncuestaId = Model.TipoEncuesta, TipoOutcome = ConstantHelpers.ENCUESTA.COMPETENCIA_ESPECIFICA },ModalSize.Large)><i class="fa fa-edit"></i> Editar</a>
                                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <span class="caret"></span>
                                                                            <span class="sr-only">Toggle Dropdown</span>
                                                                        </button>
                                                                        <ul class="dropdown-menu">
                                                                            <li><a @Url.ModalHelperFor("_AttachOutcome", "Configuration", new { IdOutcomeEncuestaConfig = outcome.IdOutcomeEncuestaConfig, SubModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId, TipoEncuestaNombre = ConstantHelpers.ENCUESTA.GRA })><i class="fa fa-random"></i> Vincular</a></li>
                                                                            <li role="separator" class="divider"></li>
                                                                            <li><a href="@Url.Action("DeleteOutcomeConfig", "Configuration", new { IdOutcomeEncuestaConfig = outcome.IdOutcomeEncuestaConfig, subModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId, TipoEncuestaNombre = ConstantHelpers.ENCUESTA.GRA})"><i class="fa fa-trash"></i> Borrar</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary" @Url.ModalHelperFor("_AddOutcome", "Configuration", new { subModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId, TipoEncuestaId = Model.TipoEncuesta, TipoOutcome = ConstantHelpers.ENCUESTA.COMPETENCIA_GENERAL, CarreraId = item.IdCarrera })><i class="fa fa-plus"></i> Agregar Outcome</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                i++;
            }
        </div>
    </div>
</div>




<div class="row">
    <div class="pull-right">
        <a href="@Url.Action("ConfigurationGRA", "Configuration")" class="btn btn-default"><i class="fa fa-arrow-left"></i> Atrás</a>
    </div>
</div>
