﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Discoveries
@using UPC.CA.ABET.Presentation.Resources.Views.Shared  
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.AddEditPlanAccionViewModel
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span> </button>
            <h4 class="modal-title">
                <i class="fa fa-calendar contrast">&nbsp;</i>
                @LayoutResource.Agregar @DiscoveriesResource.PlanDeAccion
            </h4>
        </div>
        @using (Ajax.BeginForm(new AjaxOptions
        {
            UpdateTargetId = "custom-modal",
            //InsertionMode = InsertionMode.InsertAfter,
            OnSuccess = "closeModal();",
            HttpMethod = "POST"
            
        }))
        {
            <div class="modal-body">
                <div class="row">
                    @Html.FormGroup(DiscoveriesResource.Anio + ":", Html.DropDownListFor(m => m.Anio, Model.AvailableAnios, "[--"+DiscoveriesResource.Seleccione+"--]", new { @class = "form-control", required = "required" }))                
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @LayoutResource.Cancelar</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>@LayoutResource.Aceptar</button>
            </div>
        }
    </div>
</div>

@if (ViewBag.Guardo != null)
{
    if ((bool)ViewBag.Guardo == true)
    {
    <script>

        $('#btnBuscar').click();
    </script>
    }
    else
    {
    @*si se cae haz algo :V aqui*@
        <script>
            alert("No se crear los planes de Accion. Llame al adminsitrador.");
        </script>
    }

}
