﻿@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.DiscoveriesViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@{
	Layout = null;
}

<form action="@Url.Action("Discoveries","Discoveries")">
	@Html.HiddenFor(X => X.InstrumentoId)
	@Html.HiddenFor(x => x.ResultadoId)
	<div class="panel filters">
		<input name="esModelFiltroParaAccionMejora" type="checkbox" hidden="hidden" value="False" id="c" />
		@Html.PanelHeader("<i class=\"fa fa-filter\"></i>" + ProfessorResource.Filtro, PanelActions.Collapse)
		<div class="panel-body row">
			<div class="row">
				@Html.FormGroup(ProfessorResource.PeriodoAcademico + ":", Html.DropDownListFor(m => m.IdPeriodoAcademico, Model.AvailablePeriodoAcademicos, ProfessorResource.Todos, new { @class = "form-control", id = "Ciclo" }))
				@Html.FormGroup(ProfessorResource.Area + ":", Html.DropDownListFor(m => m.IdAreaUnidadAcademica, Model.AvailableAreas, ProfessorResource.Todas, new { @class = "form-control", id = "Area" }))
			</div>
			<div class="row">
				@Html.FormGroup(ProfessorResource.Subarea + ":", Html.DropDownListFor(m => m.IdSubareaUnidadAcademica, Model.AvailableSubareas, ProfessorResource.Todas, new { @class = "form-control", id = "SubArea" }))
				@Html.FormGroup(ProfessorResource.Curso + ":", Html.DropDownListFor(m => m.IdCursoUnidadAcademica, Model.AvailableCursos, ProfessorResource.Todos, new { @class = "form-control", id = "Curso" }))
			</div>
			<div class="col-sm-12 text-right">
				<!-- <button type="submit" id="btnAgregarAccionMejora" class="btn btn-dark" onclick="activarEsFiltro()">@LayoutResource.Nuevo&nbsp;Acción mejora&nbsp;&nbsp;<i class="fa fa-plus"></i></button>-->
				<button type="submit" id="btnBuscar" class="btn btn-dark">@LayoutResource.Buscar&nbsp;&nbsp;<i class="fa fa-search"></i></button>
			</div>
		</div>
	</div>
</form>
@{
	string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>

    function activarEsFiltro() {
        var c = document.getElementById("c");
        c.checked = true;
        c.value = true;
    }

    $(function () {

        var idPeriodoAcademico =  '@(Model.IdPeriodoAcademico.ToSafeString())';
        var idAreaUnidadAcademica = '@(Model.IdAreaUnidadAcademica.ToSafeString())';
        var idSubAreaUnidadAcademica = '@(Model.IdSubareaUnidadAcademica.ToSafeString())';
        var idCursoUnidadAcademica = '@(Model.IdCursoUnidadAcademica.ToSafeString())';


        deshabilitarDependientesDeModalidad();

        $(window).on('load', function() {
            seleccionarOpcionesSinDependencias();
        });

        function seleccionarOpcionesSinDependencias() {
            seleccionarOpcion('Modalidad', idPeriodoAcademico);
        }

        function seleccionarOpcion(dropdownId, value) {
            $('#' + dropdownId + ' option[value="' + value + '"]').prop('selected', true);
            $('#' + dropdownId).trigger("change");
        }
        $('#Modalidad').change(function () {
            deshabilitarDependientesDeModalidad();
            if (!esValorPorDefecto(this.value)) {
                obtenerCiclosxModalidad();
            }
        });


        $('#Ciclo').change(function () {
            deshabilitarDependientesDeCiclo();
            if (!esValorPorDefecto(this.value)) {
                obtenerAreas();
            }
        });

        $('#Area').change(function () {
            deshabilitarDependientesDeArea();
            if (!esValorPorDefecto(this.value)) {
                obtenerSubAreas();
            }
        });

        $('#SubArea').change(function () {
            deshabilitarDependientesDeSubArea();
            if (!esValorPorDefecto(this.value)) {
                obtenerCursos();
            }
        });

        function esValorPorDefecto(value) {
            return value == '';
        }

        function deshabilitarDependientesDeModalidad() {
           
            deshabilitarComponente('Area');
            deshabilitarComponente('SubArea');
            deshabilitarComponente('Curso');
        }

        function deshabilitarDependientesDeCiclo() {
            deshabilitarComponente('Area');
            deshabilitarComponente('SubArea');
            deshabilitarComponente('Curso');
        }

        function deshabilitarDependientesDeArea() {
            deshabilitarComponente('SubArea');
            deshabilitarComponente('Curso');
        }

        function deshabilitarDependientesDeSubArea() {
            deshabilitarComponente('Curso');
        }

        function deshabilitarComponente(id) {
            var dropdown = $('#' + id);
            dropdown.prop('disabled', true);
            dropdown[0].selectedIndex = 0;
        }
        function obtenerCiclos() {
            var model = {
                'PeriodoAcademicoId': $('#Ciclo').val()
            };
            $.ajax({
                url: '@Url.Action("GetArea", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Area', data, 'Todas');
                    seleccionarOpcion('Area', idAreaUnidadAcademica);
                }
            });
        }

        function obtenerCiclosxModalidad() {
            var model = {
                'ModalidadId': $('#Modalidad').val()
            };
            $.ajax({
                url: '@Url.Action("GetCiclosxModalidad", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Ciclo', data, 'Todas');
                    seleccionarOpcion('Ciclo', idPeriodoAcademico);
                }
            });
        }


        function obtenerAreas() {
            var model = {
                'PeriodoAcademicoId': $('#Ciclo').val()
            };
            $.ajax({
                url: '@Url.Action("GetArea", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Area', data, 'Todas');
                    seleccionarOpcion('Area', idAreaUnidadAcademica);
                }
            });
        }

        function obtenerSubAreas() {
            var model = {
                'PeriodoAcademicoId': $('#Ciclo').val(),
                'AreaUnidadAcademicaId': $('#Area').val()
            };
            $.ajax({
                url: '@Url.Action("GetSubArea", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('SubArea', data, 'Todas');
                    seleccionarOpcion('SubArea', idSubAreaUnidadAcademica);
                }
            });
        }

        function obtenerCursos() {
            var model = {
                'PeriodoAcademicoId' : $('#Ciclo').val(),
                'AreaUnidadAcademicaId' : $('#Area').val(),
                'SubAreaUnidadAcademicaId': $('#SubArea').val()
            };
            $.ajax({
                url: '@Url.Action("GetCursoUnidadAcademica", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Curso', data, 'Todos');
                    seleccionarOpcion('Curso', idCursoUnidadAcademica);
                }
            });
        }

        function cargarDropdown(idDropdown, data, texto) {
            var dropdown = $('#' + idDropdown);
            dropdown.empty();
            agregarOpcionDefecto(dropdown, texto);
            $(data).each(function () {
                $('<option />', {
                    val: this.Value,
                    text: this.Text
                }).appendTo(dropdown);
            });
            habilitarComponente(dropdown);
        }

        function agregarOpcionDefecto(dropdown, texto) {
            $('<option />', {
                val: '',
                text: texto
            }).appendTo(dropdown);
        }

        function habilitarComponenteConId(id) {
            var componente = $('#' + id);
            habilitarComponente(componente);
        }

        function habilitarComponente(componente) {
            componente.prop('disabled', false);
        }
    });
</script>