﻿@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.DiscoveriesViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@{
	Layout = null;
}

<form action="@Url.Action("Discoveries","Discoveries")">
	@Html.HiddenFor(X => X.InstrumentoId)
	@Html.HiddenFor(x => x.ResultadoId)
	<input name="esModelFiltroParaAccionMejora" type="checkbox" hidden="hidden" value="False" id="c" />

	<div class="panel filters">
		@Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ProfessorResource.Filtro, PanelActions.Collapse)
		<div class="panel-body row">
			<div class="row">
				@Html.FormGroup(ProfessorResource.PeriodoAcademico + ":", Html.DropDownListFor(m => m.IdPeriodoAcademico, Model.AvailablePeriodoAcademicos, ProfessorResource.Todos, new { @class = "form-control", id = "Ciclo" }))
				@Html.FormGroup(ProfessorResource.Carrera + ":", Html.DropDownListFor(m => m.IdCarrera, Model.AvailableCarreras, ProfessorResource.Todas, new { @class = "form-control", id = "Carrera" }))
			</div>

			<div class="col-sm-12 text-right">
				<!--  <button type="submit" id="btnAgregarAccionMejora" class="btn btn-dark" onclick="activarEsFiltro()">@LayoutResource.Nuevo&nbsp;Acción mejora&nbsp;&nbsp;<i class="fa fa-plus"></i></button>
					-->
				<button type="submit" id="btnBuscar" class="btn btn-dark">@LayoutResource.Buscar&nbsp;&nbsp;<i class="fa fa-search"></i></button>
			</div>
		</div>
	</div>
</form>
@Html.Partial("_FilterScripts")
