﻿@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.DiscoveriesViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@{
	Layout = null;
}

<form action="@Url.Action("Discoveries","Discoveries")">
	@Html.HiddenFor(X => X.InstrumentoId)
	@Html.HiddenFor(x => x.ResultadoId)
	<input name="esModelFiltroParaAccionMejora" type="checkbox" hidden="hidden" value="False" id="c" />

	<div class="panel filters">
		@Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ProfessorResource.Filtro, PanelActions.Collapse)
		<div class="panel-body row">

			<div class="row">
				@Html.FormGroup(ProfessorResource.PeriodoAcademico + ":", Html.DropDownListFor(m => m.IdPeriodoAcademico, Model.AvailablePeriodoAcademicos, ProfessorResource.Todos, new { @class = "form-control", id = "Ciclo" }))
				@Html.FormGroup(ProfessorResource.Curso + ":", Html.DropDownListFor(m => m.IdCurso, Model.AvailableCursosCursos, ProfessorResource.Todos, new { @class = "form-control", id = "Curso" }))
			</div>
			<div class="row">
				@Html.FormGroup(ProfessorResource.Outcome + ":", Html.DropDownListFor(m => m.IdOutcome, Model.AvailableOutcome, ProfessorResource.Todos, new { @class = "form-control", id = "Outcome" }))
				@Html.FormGroup(ProfessorResource.Sede + ":", Html.DropDownListFor(m => m.IdSede, Model.AvailableSedes, ProfessorResource.Todas, new { @class = "form-control", id = "Sede" }))
			</div>
			<div class="row">
				@Html.FormGroup(ProfessorResource.Nivel + ":", Html.DropDownListFor(m => m.IdNivelAceptacionHallazgo, Model.AvailableNivelesAceptacion, ProfessorResource.Todos, new { @class = "form-control", id = "Nivel" }))
				@Html.FormGroup(ProfessorResource.Criticidad + ":", Html.DropDownListFor(m => m.IdCriticidad, Model.AvailableCriticidad, ProfessorResource.Todos, new { @class = "form-control", id = "Criticidad" }))
			</div>
			<div class="col-sm-12 text-right">
				<!--<button type="submit" id="btnAgregarAccionMejora" class="btn btn-dark" onclick="activarEsFiltro()">@LayoutResource.Nuevo&nbsp;Acción mejora&nbsp;&nbsp;<i class="fa fa-plus"></i></button>
					-->
				<button type="submit" id="btnBuscar" class="btn btn-dark">@LayoutResource.Buscar&nbsp;&nbsp;<i class="fa fa-search"></i></button>
			</div>
		</div>
	</div>
</form>
@{
	string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>

    function activarEsFiltro() {
        var c = document.getElementById("c");
        c.checked = true;
        c.value = true;
    }



    $(function () {

        var idPeriodoAcademico = '@(Model.IdPeriodoAcademico.ToSafeString())';
        var idCursoUnidadAcademica = '@(Model.IdCursoUnidadAcademica.ToSafeString())';

        deshabilitarDependientesDeModalidad();

        $(window).on('load', function () {
            seleccionarOpcionesSinDependencias();



        });

        function seleccionarOpcionesSinDependencias() {
            seleccionarOpcion('Ciclo', idPeriodoAcademico);
        }

        function seleccionarOpcion(dropdownId, value) {
            $('#' + dropdownId + ' option[value="' + value + '"]').prop('selected', true);
            $('#' + dropdownId).trigger("change");
        }
        $('#Modalidad').change(function () {
            deshabilitarDependientesDeModalidad();
            if (!esValorPorDefecto(this.value)) {
                obtenerCiclosxModalidad();
            }
        });
        $('#Ciclo').change(function () {
            deshabilitarDependientesDeCiclo();
            if (!esValorPorDefecto(this.value)) {
                obtenerCursos();
            }
        });

        $('#Curso').change(function () {
            deshabilitarDependientesDeCurso();
            if (!esValorPorDefecto(this.value)) {
                obtenerOutcomes();
            }
        });



        function esValorPorDefecto(value) {
            return value == '';
        }

        function deshabilitarDependientesDeModalidad() {

            deshabilitarComponente('Curso');
            deshabilitarComponente('Outcome');

        }

        function deshabilitarDependientesDeCiclo() {

            deshabilitarComponente('Curso');
            //deshabilitarComponente('Sede');
            deshabilitarComponente('Outcome');
            // deshabilitarComponente('Nivel');
        }

        function deshabilitarOutcome() {

            deshabilitarComponente('Curso');
            //deshabilitarComponente('Sede');
            deshabilitarComponente('Outcome');
            // deshabilitarComponente('Nivel');
        }


        function deshabilitarDependientesDeCurso() {
            deshabilitarComponente('Outcome');
        }

        function deshabilitarDependientesDeSubArea() {
            deshabilitarComponente('Curso');
        }

        function deshabilitarComponente(id) {
            var dropdown = $('#' + id);
            dropdown.prop('disabled', true);
            dropdown[0].selectedIndex = 0;
        }

        function obtenerCiclosxModalidad() {
            var model = {
                'ModalidadId': $('#Modalidad').val()
            };
            $.ajax({
                url: '@Url.Action("GetCiclosxModalidad", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Ciclo', data, 'Todas');
                    seleccionarOpcion('Ciclo', idPeriodoAcademico);
                }
            });
        }
        function obtenerCursos() {
            var model = {
                'PeriodoAcademicoId': $('#Ciclo').val(),
            };
            $.ajax({
                url: '@Url.Action("GetCursosConOutcomePorCiclo", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Curso', data, 'Todos');
                    seleccionarOpcion('Curso', idCursoUnidadAcademica);

                    @if (Model.IdCurso.HasValue)
                    {
                        @:seleccionarOpcion('Curso', @Model.IdCurso);
                                        }
                    else
                    {
                        @:seleccionarOpcion('Curso', idCursoUnidadAcademica);
                                        }
                }
            });
        }

        function obtenerOutcomes() {
            var model = {
                'PeriodoAcademicoId': $('#Ciclo').val(),
                'CursoId': $('#Curso').val()
            };
            $.ajax({
                url: '@Url.Action("GetOutcomePorCurso", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Outcome', data, 'Todos');
                   // seleccionarOpcion('Outcome', idCursoUnidadAcademica);

                    @if (Model.IdOutcome.HasValue)
                    {
                        @:seleccionarOpcion('Outcome', @Model.IdOutcome);
                    }
                    else
                    {
                        @:seleccionarOpcion('Outcome', idCursoUnidadAcademica);
                    }
                }
            });
        }


        function cargarDropdown(idDropdown, data, texto) {
            var dropdown = $('#' + idDropdown);
            dropdown.empty();
            agregarOpcionDefecto(dropdown, texto);
            $(data).each(function () {
                $('<option />', {
                    val: this.Value,
                    text: this.Text
                }).appendTo(dropdown);
            });
            habilitarComponente(dropdown);
        }

        function agregarOpcionDefecto(dropdown, texto) {
            $('<option />', {
                val: '',
                text: texto
            }).appendTo(dropdown);
        }

        function habilitarComponenteConId(id) {
            var componente = $('#' + id);
            habilitarComponente(componente);
        }

        function habilitarComponente(componente) {
            componente.prop('disabled', false);
        }
    });
</script>