﻿@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.DiscoveriesViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@{
	Layout = null;
}

<form action="@Url.Action("Discoveries","Discoveries")">
	@Html.HiddenFor(X => X.InstrumentoId)
	@Html.HiddenFor(x => x.ResultadoId)
	<input name="esModelFiltroParaAccionMejora" type="checkbox" hidden="hidden" value="False" id="c" />

	<div class="panel filters">

		@Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ProfessorResource.Filtro, PanelActions.Collapse)
		<div class="panel-body row">
			<div class="row">
				@Html.FormGroup(ProfessorResource.PeriodoAcademico + ":", Html.DropDownListFor(m => m.IdPeriodoAcademico, Model.AvailablePeriodoAcademicos, ProfessorResource.Todos, new { @class = "form-control", id = "Ciclo" }))
				@Html.FormGroup(ProfessorResource.Carrera + ":", Html.DropDownListFor(m => m.IdCarrera, Model.AvailableCarreras, ProfessorResource.Todas, new { @class = "form-control", id = "Carrera" }))
			</div>
			<div class="row">
				@Html.FormGroup(ProfessorResource.Comision + ":", Html.DropDownListFor(m => m.IdComision, Model.AvailableComision, ProfessorResource.Todas, new { @class = "form-control", id = "Comision" }))
				@Html.FormGroup(ProfessorResource.Outcome + ":", Html.DropDownListFor(m => m.IdOutcome, Model.AvailableOutcome, ProfessorResource.Todos, new { @class = "form-control", id = "Outcome" }))
			</div>
			<div class="row">
				@*@Html.FormGroup(ProfessorResource.Sede + ":", Html.DropDownListFor(m => m.IdSede, Model.AvailableSedes, ProfessorResource.Todas, new { @class = "form-control", id = "Sede" }))*@
				@Html.FormGroup(ProfessorResource.Nivel + ":", Html.DropDownListFor(m => m.IdNivelAceptacionHallazgo, Model.AvailableNivelesAceptacion, ProfessorResource.Todos, new { @class = "form-control", id = "Nivel" }))
                @Html.FormGroup(ProfessorResource.Criticidad + ":", Html.DropDownListFor(m => m.IdCriticidad, Model.AvailableCriticidad, ProfessorResource.Todos, new { @class = "form-control", id = "Criticidad" }))
			</div>

			<div class="col-sm-12 text-right">
				<!--<button type="submit" id="btnAgregarAccionMejora" class="btn btn-dark" onclick="activarEsFiltro()">@LayoutResource.Nuevo&nbsp;Acción mejora&nbsp;&nbsp;<i class="fa fa-plus"></i></button>
				-->
				<button type="submit" id="btnBuscar" class="btn btn-dark">@LayoutResource.Buscar&nbsp;&nbsp;<i class="fa fa-search"></i></button>
			</div>
		</div>

	</div>
</form>

@Html.Partial("_FilterScripts")
<script>
    //$("#Comision").prop("disabled", true);
    //$("#Outcome").prop("disabled", true);


    @if (Model.IdCarrera.HasValue)
    {
        @:$('#Carrera').val(@Model.IdCarrera).trigger('change');
    }
    @if(Model.IdComision.HasValue)
    {
        @:$('#Comision').val(@Model.IdComision).trigger('change');
    }
    @if (Model.IdOutcome.HasValue)
    {
        @:$('#Outcome').val(@Model.IdOutcome).trigger('change');
    }
    @if(Model.IdSede.HasValue)
    {
        @:$('#Sede').val(@Model.IdSede).trigger('change');
    }
    @if(Model.IdNivelAceptacionHallazgo.HasValue)
    {
        @:$('#Nivel').val(@Model.IdPeriodoAcademico).trigger('change');
    }
</script>
