﻿@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.DiscoveriesViewModel
@{
    Layout = null;
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>

    function activarEsFiltro() {
        var c = document.getElementById("c");
        c.checked = true;
        c.value = true;
    }

    @{
     string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/";
    }

    $(function () {

        $.fn.exists = function () {
            return this.length !== 0;
        }

        var idPeriodoAcademico = '@(Model.IdPeriodoAcademico.ToSafeString())';
        var idCarrera = '@(Model.IdCarrera.ToSafeString())';
        var idComision = '@(Model.IdComision.ToSafeString())';
        var idOutcome = '@(Model.IdOutcome.ToSafeString())';
        var idSede = '@(Model.IdSede.ToSafeString())';
        var idNivel = '@(Model.IdNivelAceptacionHallazgo.ToSafeString())';

        deshabilitarDependientesDeModalidad();

        $(window).on('load', function () {
            seleccionarOpcionesSinDependencias();
        });

        function seleccionarOpcionesSinDependencias() {
            seleccionarOpcion('Ciclo', idPeriodoAcademico);
            seleccionarOpcion('Sede', idSede);
            seleccionarOpcion('Nivel', idNivel);
        }

        function seleccionarOpcion(dropdownId, value) {
            $('#' + dropdownId + ' option[value="' + value + '"]').prop('selected', true);
            $('#' + dropdownId).trigger("change");
        }
        $('#Modalidad').change(function () {
            deshabilitarDependientesDeModalidad();
            if (!esValorPorDefecto(this.value)) {
                obtenerCiclosxModalidad();
            }
        });


        $('#Ciclo').change(function () {
            deshabilitarDependientesDeCiclo();
            if (!esValorPorDefecto(this.value)) {
                obtenerCarreras();
            }
        });

        $('#Carrera').change(function () {
            deshabilitarDependientesDeCarrera();
            if (!esValorPorDefecto(this.value)) {
                obtenerComisiones();
            }
        });

        $('#Comision').change(function () {
            deshabilitarDependientesDeComision();
            if (!esValorPorDefecto(this.value)) {
                obtenerOutcomes();
            }
        });

        function esValorPorDefecto(value) {
            return value == '';
        }
        function deshabilitarDependientesDeModalidad() {
    
            deshabilitarComponente('Comision');
            deshabilitarComponente('Carrera');
            deshabilitarComponente('Outcome');

        }
        function deshabilitarDependientesDeCiclo() {
            deshabilitarComponente('Carrera');
            deshabilitarComponente('Comision');
            deshabilitarComponente('Outcome');
        }

        function deshabilitarDependientesDeCarrera() {
            deshabilitarComponente('Comision');
            deshabilitarComponente('Outcome');
        }

        function deshabilitarDependientesDeComision() {
            deshabilitarComponente('Outcome');
        }

        function deshabilitarComponente(id) {
            var dropdown = $('#' + id);
            if (dropdown.exists()) {
                dropdown.prop('disabled', true);
                dropdown[0].selectedIndex = 0;
            }
        }

        function habilitarComponenteConId(id) {
            var componente = $('#' + id);
            habilitarComponente(componente);
        }

        function habilitarComponente(componente) {
            if (componente.exists()) {
                componente.prop('disabled', false);
            }
        }
        function obtenerCiclosxModalidad() {
            var model = {
                'ModalidadId': $('#Modalidad').val()
            };
            $.ajax({
                url: '@Url.Action("GetCiclosxModalidad", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Ciclo', data, 'Todas');
                    seleccionarOpcion('Ciclo', idPeriodoAcademico);
                }
            });
        }
        function obtenerCarreras() {
            var model = {
                'CicloId' : $('#Ciclo').val()
            };
            $.ajax({
                url: '@Url.Action("GetCarreras", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Carrera', data, 'Todas');
                    seleccionarOpcion('Carrera', idCarrera);
                }
            });
        }

        function obtenerComisiones() {
            var model = {
                'PeriodoAcademicoId': $('#Ciclo').val(),
                'CarreraId': $('#Carrera').val()
            };
            $.ajax({
                url: '@Url.Action("GetComision", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Comision', data, 'Todas');
                    seleccionarOpcion('Comision', idComision);
                }
            });
        }

        function obtenerOutcomes() {
            var model = {
                'PeriodoAcademicoId': $('#Ciclo').val(),
                'ComisionId': $('#Comision').val()
            };
            $.ajax({
                url: '@Url.Action("GetOutcomes", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Outcome', data, 'Todos');
                    seleccionarOpcion('Outcome', idOutcome);
                }
            });
        }

        function cargarDropdown(idDropdown, data, texto) {
            var dropdown = $('#' + idDropdown);
            dropdown.empty();
            agregarOpcionDefecto(dropdown, texto);
            $(data).each(function () {
                $('<option />', {
                    val: this.Value,
                    text: this.Text
                }).appendTo(dropdown);
            });

            habilitarComponente(dropdown);
        }

        function agregarOpcionDefecto(dropdown, texto) {
            $('<option />', {
                val: '',
                text: texto
            }).appendTo(dropdown);
        }
    });
</script>
