﻿@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.DiscoveriesViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@{
	Layout = null;
}

<form action="@Url.Action("Discoveries","Discoveries")">
	@Html.HiddenFor(X => X.InstrumentoId)
	@Html.HiddenFor(x => x.ResultadoId)
	<input name="esModelFiltroParaAccionMejora" type="checkbox" hidden="hidden" value="False" id="c" />

	<div class="panel filters">
		@Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ProfessorResource.Filtro, PanelActions.Collapse)
		<div class="panel-body row">

			<div class="row">
				@Html.FormGroup(ProfessorResource.PeriodoAcademico + ":", Html.DropDownListFor(m => m.IdPeriodoAcademico, Model.AvailablePeriodoAcademicos, ProfessorResource.Todos, new { @class = "form-control", id = "Ciclo" }))
				@Html.FormGroup(ProfessorResource.Carrera + ":", Html.DropDownListFor(m => m.IdCarrera, Model.AvailableCarreras, ProfessorResource.Todas, new { @class = "form-control", id = "Carrera" }))
			</div>
			<div class="row">
				@Html.FormGroup(ProfessorResource.Curso + ":", Html.DropDownListFor(m => m.IdCurso, Model.AvailableCursosCursos, ProfessorResource.Todos, new { @class = "form-control", id = "Curso" }))
				@Html.FormGroup(ProfessorResource.Sede + ":", Html.DropDownListFor(m => m.IdSede, Model.AvailableSedes, ProfessorResource.Todas, new { @class = "form-control", id = "Sede" }))
			</div>
			<div class="row">
				@Html.FormGroup(ProfessorResource.Comision + ":", Html.DropDownListFor(m => m.IdComision, Model.AvailableComision, ProfessorResource.Todos, new { @class = "form-control", id = "Comision" }))
				@Html.FormGroup(ProfessorResource.Outcome + ":", Html.DropDownListFor(m => m.IdOutcome, Model.AvailableOutcome, ProfessorResource.Todos, new { @class = "form-control", id = "Outcome" }))
			</div>
			<div class="row">
				@Html.FormGroup(ProfessorResource.Nivel + ":", Html.DropDownListFor(m => m.IdNivelAceptacionHallazgo, Model.AvailableNivelesAceptacion, ProfessorResource.Todos, new { @class = "form-control", id = "Nivel" }))
				@Html.FormGroup(ProfessorResource.Criticidad + ":", Html.DropDownListFor(m => m.IdCriticidad, Model.AvailableCriticidad, ProfessorResource.Todos, new { @class = "form-control", id = "Criticidad" }))
			</div>
			<div class="col-sm-12 text-right">
				<!-- <button type="submit" id="btnAgregarAccionMejora" class="btn btn-dark" onclick="activarEsFiltro()">@LayoutResource.Nuevo&nbsp;Acción mejora&nbsp;&nbsp;<i class="fa fa-plus"></i></button>
					-->
				<button type="submit" id="btnBuscar" class="btn btn-dark">@LayoutResource.Buscar&nbsp;&nbsp;<i class="fa fa-search"></i></button>
			</div>
		</div>
	</div>
</form>
@{
	string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>

    function activarEsFiltro() {
        var c = document.getElementById("c");
        c.checked = true;
        c.value = true;
    }

    $(function () {

        $.fn.exists = function () {
            return this.length !== 0;
        }

        var idPeriodoAcademico = '@(Model.IdPeriodoAcademico.ToSafeString())';
        var idCarrera = '@(Model.IdCarrera.ToSafeString())';
        var idCurso = '@(Model.IdCurso.ToSafeString())';
        var idComision = '@(Model.IdComision.ToSafeString())';
        var idOutcome = '@(Model.IdOutcome.ToSafeString())';
        var idSede = '@(Model.IdSede.ToSafeString())';
        var idNivel = '@(Model.IdNivelAceptacionHallazgo.ToSafeString())';

        deshabilitarDependientesDeModalidad();

        $(window).on('load', function () {
            seleccionarOpcionesSinDependencias();
        });

        function seleccionarOpcionesSinDependencias() {
            seleccionarOpcion('Ciclo', idPeriodoAcademico);
            seleccionarOpcion('Sede', idSede);
            seleccionarOpcion('Nivel', idNivel);
        }

        function seleccionarOpcion(dropdownId, value) {
            $('#' + dropdownId + ' option[value="' + value + '"]').prop('selected', true);
            $('#' + dropdownId).trigger("change");
        }
        $('#Modalidad').change(function () {
            deshabilitarDependientesDeModalidad();
            if (!esValorPorDefecto(this.value)) {
                obtenerCiclosxModalidad();
            }
        });
        $('#Ciclo').change(function () {
            deshabilitarDependientesDeCiclo();
            if (!esValorPorDefecto(this.value)) {
                obtenerCarreras();
            }
        });

        $('#Carrera').change(function () {
            deshabilitarDependientesDeCarrera();
            if (!esValorPorDefecto(this.value)) {
                obtenerCursos();
                obtenerComisiones();
            }
        });

        $('#Comision').change(function () {
            deshabilitarDependientesDeComision();
            if (!esValorPorDefecto(this.value)) {
                obtenerOutcomes();
            }
        });

        function esValorPorDefecto(value) {
            return value == '';
        }


        function deshabilitarDependientesDeModalidad() {

            deshabilitarComponente('Carrera');
            deshabilitarComponente('Comision');
            deshabilitarComponente('Outcome');
            deshabilitarComponente('Curso');

        }
        function deshabilitarDependientesDeCiclo() {
            deshabilitarComponente('Carrera');
            deshabilitarComponente('Comision');
            deshabilitarComponente('Outcome');
            deshabilitarComponente('Curso');
        }

        function deshabilitarDependientesDeCarrera() {
            deshabilitarComponente('Comision');
            deshabilitarComponente('Outcome');
            deshabilitarComponente('Curso');
        }

        function deshabilitarDependientesDeComision() {
            deshabilitarComponente('Outcome');
        }

        function deshabilitarComponente(id) {
            var dropdown = $('#' + id);
            if (dropdown.exists()) {
                dropdown.prop('disabled', true);
                dropdown[0].selectedIndex = 0;
            }
        }

        function habilitarComponenteConId(id) {
            var componente = $('#' + id);
            habilitarComponente(componente);
        }

        function habilitarComponente(componente) {
            if (componente.exists()) {
                componente.prop('disabled', false);
            }
        }
        function obtenerCiclosxModalidad() {
            var model = {
                'ModalidadId': $('#Modalidad').val()
            };
            $.ajax({
                url: '@Url.Action("GetCiclosxModalidad", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Ciclo', data, 'Todas');
                    seleccionarOpcion('Ciclo', idPeriodoAcademico);
                }
            });
        }
        function obtenerCarreras() {
            var model = {
                'CicloId': $('#Ciclo').val()
            };
            $.ajax({
                url: '@Url.Action("GetCarreras", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Carrera', data, 'Todas');
                    seleccionarOpcion('Carrera', idCarrera);
                }
            });
        }

        function obtenerComisiones() {
            var model = {
                'PeriodoAcademicoId': $('#Ciclo').val(),
                'CarreraId': $('#Carrera').val()
            };
            $.ajax({
                url: '@Url.Action("GetComision", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Comision', data, 'Todas');
                    seleccionarOpcion('Comision', idComision);
                }
            });
        }

        function obtenerOutcomes() {
            var model = {
                'PeriodoAcademicoId': $('#Ciclo').val(),
                'ComisionId': $('#Comision').val()
            };
            $.ajax({
                url: '@Url.Action("GetOutcomes", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Outcome', data, 'Todos');
                    seleccionarOpcion('Outcome', idOutcome);
                }
            });
        }

        function obtenerCursos() {
            var model = {
                'PeriodoAcademicoId': $('#Ciclo').val(),
                'CarreraId': $('#Carrera').val()
            };
            $.ajax({
                url: '@Url.Action("GetCursos", "Discoveries")',
                type: 'GET',
                data: model,
                success: function (data) {
                    cargarDropdown('Curso', data, 'Todos');
                    seleccionarOpcion('Curso', idCurso);
                }
            });
        }

        function cargarDropdown(idDropdown, data, texto) {
            var dropdown = $('#' + idDropdown);
            dropdown.empty();
            agregarOpcionDefecto(dropdown, texto);
            $(data).each(function () {
                $('<option />', {
                    val: this.Value,
                    text: this.Text
                }).appendTo(dropdown);
            });

            habilitarComponente(dropdown);
        }

        function agregarOpcionDefecto(dropdown, texto) {
            $('<option />', {
                val: '',
                text: texto
            }).appendTo(dropdown);
        }
    });
</script>

