﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Discoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.DiscoveriesViewModel
@using ProfessorConstantHelpers = UPC.CA.ABET.Presentation.Areas.Professor.Helpers.ProfessorConstantHelpers;
@{
    Layout = null;
}

@Html.PanelHeader("<i class=\"fa fa-align-justify\"></i> " + DiscoveriesResource.Resultados, PanelActions.Collapse)
<div class="panel-body row">
    @if ((new List<int> { ConstantHelpers.INSTRUMENTOS.GRA, ConstantHelpers.INSTRUMENTOS.PPP }).Contains(Model.InstrumentoId))
    {
        <div>
            <a class="pull-right btn btn-primary" href="@Url.Action(ProfessorConstantHelpers.GetActionForCreateNewFinding(Model.InstrumentoId), "Register", new { Area = ConstantHelpers.AREAS.SURVEY })">
                <i class="fa fa-sticky-note"></i> @ButtonsOptionsResource.RegistrarHallazgo
            </a>
        </div>
    }
    <table id="tblResultados" class="table table-striped table-hover" data-info="true" data-length-change="true" data-paginate="true">
        <thead>
            <tr>
                <th width="18%">@Filtros.Criticidad</th>
                <th width="18%">@Filtros.Codigo</th>
                <th width="10%">@Filtros.PeriodoAcademico</th>
                <th width="48%">@Filtros.Descripcion</th>
                <th width="12%">@DiscoveriesResource.NivelDeAceptacion</th>
                <th width="12%" class="text-right">@DiscoveriesResource.Opciones</th>
            </tr>
        </thead>

        <tbody id="SOPPP">
            @{var i = 0;}
            @foreach (var item in Model.LstHallazgos)
            {
                ++i;
                <tr id="tdResultado-@i" @if (item.IdCriticidad == 1) { @Html.Raw(" style=\" color: red;\" ") }>
                    <td>@item.Criticidad.NombreEspanol</td>
                    <td>@item.Codigo</td>
                    <td>@item.SubModalidadPeriodoAcademicoModulo.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico</td>
                    <td>@item.DescripcionEspanol</td>
                    <td>@item.NivelAceptacionHallazgo.NombreEspanol</td>
                    <td class="text-right">
                        <!-- Split button -->
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline btn-default" href="@Url.Action("ViewDiscovery", "Discoveries" , new { Area=ConstantHelpers.AREAS.PROFESSOR,id = item.IdHallazgo })"><i class="fa fa-search"></i>&nbsp;@DiscoveriesResource.Ver</a>
                            <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="animsition-link" href='@Url.Action("Edit", "IfcDiscoveryManagement", new { Area = ConstantHelpers.AREAS.PROFESSOR, Id = item.IdHallazgo })'><i class="fa fa-edit"></i>&nbsp;@ButtonsOptionsResource.Editar</a></li>
                                <li><a class="animsition-link" href='@Url.Action("Delete", "IfcDiscoveryManagement", new { Area = ConstantHelpers.AREAS.PROFESSOR, Id = item.IdHallazgo })'><i class="fa fa-trash"></i>&nbsp;@ButtonsOptionsResource.Eliminar</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>