﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase*@
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;
@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Discoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.DiscoveriesViewModel

@{
	Layout = null;
}

@Html.PanelHeader("<i class=\"fa fa-align-justify\"></i> Resultados", PanelActions.Collapse)
<div class="panel-body row">
	<table id="tblResultados" class="table table-striped table-hover" data-info="true" data-length-change="true" data-paginate="true">
		<thead>
			<tr>
				<th width="18%">@DiscoveriesResource.Codigo</th>
				<th width="58%">@DiscoveriesResource.Descripcion</th>
				<th width="12%">@DiscoveriesResource.Estado</th>
				<th width="12%">@DiscoveriesResource.Opciones</th>
			</tr>
		</thead>
		<tbody id="SOPPP">
			@{var i = 0;}
			@foreach (var item in Model.LstAccionMejora)
			{
				++i;
				<tr id="tdResultado-@i">
					<td>@item.Codigo</td>
					<td>@item.DescripcionEspanol</td>
					<td>@ConstantHelpers.PROFESSOR.IFC.ACCIONES_MEJORA.ESTADOS.GetEstadoAccionMejora(@item.Estado)</td>
					<td>
						<div class="btn-group  display-table-cell cell-options vertical-align-top pull-right" role="group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span class="col-sm-hidden">
									@ReportResource.ButtonOptions
								</span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation">
									<a href="@Url.Action("AddEditAccionMejora", "Discoveries", new { AccionMejoraId = item.IdAccionMejora, InstrumentoIdEditar = Model.InstrumentoId })">
										<i aria-hidden="true" class="fa fa-pencil"></i>
										@LayoutResource.Editar
									</a>
								</li>
								<li role="presentation">
									<a data-ajax="true" data-ajax-method="GET" data-ajax-update="#custom-modal" data-ajax-success="openModal();" href="@Url.Action("EliminarAccionMejora", "Discoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR, AccionMejoraId = item.IdAccionMejora, InstrumentoId = Model.InstrumentoId })">
										<i aria-hidden="true" class="fa fa-trash"></i>
										@ReportResource.ButtonDelete
									</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			}

		</tbody>
	</table>
</div>


<script>
	function confirmar(e, url) {
		if (confirm(@DiscoveriesResource.ConfirmEliminarAccionMejora)) {
			e.href = url;
		}
		else {
			e.preventDefault();
			e.stopPropagation();
		}
	}
</script>