﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Discoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.LstPlanAccionViewModel

@{
    var i = 0;
}


@foreach (var item in Model.LstPlanAccion)
{
    ++i;
    <tr id="tdResultado-@i">
        <td>@i</td>
        <td>@item.Anio</td>
        <td>@item.Carrera.NombreEspanol</td>
        <td>@(item.Estado == "ACT" ? @DiscoveriesResource.Abierto : @DiscoveriesResource.Cerrado)</td>
        <td class="text-right">
            <!-- Split button -->
            <div class="btn-group">
                <a class="btn btn-sm btn-outline btn-default" href='@Url.Action("DetallePlanAccion", "Discoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR, PlanAccionId = item.IdPlanAccion  , Agregar=false, Cerrado = item.Estado != "ACT"})'><i class="fa fa-eye"></i>&nbsp;@DiscoveriesResource.Ver</a>
                @if (item.Estado == "ACT")
                {
                    <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="animsition-link" href='@Url.Action("DetallePlanAccion", "Discoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR, PlanAccionId = item.IdPlanAccion, Agregar = true })'><i class="fa fa-plus"></i>&nbsp;@DiscoveriesResource.AccionesMejora</a></li>
                        <li><a class="animsition-link" href='' onclick='confirmar(this,"@(Url.Action("EliminarPlanAccion", "Discoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR, PlanAccionId = item.IdPlanAccion }))")'><i class="fa fa-trash"></i>&nbsp;@ButtonsOptionsResource.Eliminar</a></li>
                        <li><a class="animsition-link" href='@Url.Action("CerrarPlanAccion", "Discoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR, PlanAccionId = item.IdPlanAccion })'><i class="fa fa-arrow-right"></i>&nbsp;@DiscoveriesResource.Cerrar</a></li>
                    </ul>
                }
            </div>
        </td>
    </tr>
}