﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Discoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.AddEditPlanAccionViewModel
@{
    ViewBag.Title = DiscoveriesResource.VistaAddEditPlanAccionTitulo;
}

@section Breadcrumbs {
    <li><a href="@Url.Action("LstPlanAccion","Discoveries")">@DiscoveriesResource.VistaLstPlanAccionTitulo</a></li>
}

<form action="@Url.Action("AddEditPlanAccion","Discoveries")" method="post">
    @Html.HiddenFor(X => X.PlanAccionId)
    <div class="panel filters">
        @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + DiscoveriesResource.PlanDeAccion, PanelActions.Collapse)
        <div class="panel-body row">
            <div class="row">
                @Html.FormGroup(DiscoveriesResource.Anio + ":", Html.DropDownListFor(m => m.Anio, Model.AvailableAnios, "[--" + DiscoveriesResource.Seleccione +"--]", new { @class = "form-control", required = "required" }))
                @Html.FormGroup(DiscoveriesResource.Carrera + ":", Html.DropDownListFor(m => m.CarreraId, Model.AvailableCarreras, DiscoveriesResource.Todas , new { @class = "form-control", required = "required" }))
            </div>

       
            <div class="col-sm-12 text-right">
                <button type="submit" id="btnBuscar" class="btn btn-dark">@(!Model.PlanAccionId.HasValue ? LayoutResource.Agregar : ButtonsOptionsResource.Editar)&nbsp;&nbsp;<i class="fa fa-save"></i></button>
            </div>
        </div>
    </div>
</form>