﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Discoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.AddEditAccionMejoraViewModel
@{
    ViewBag.Title = DiscoveriesResource.VistaAddEditAccionMejoraTitulo;
    ViewBag.Icon = "table";
}

<div class="col-md-12 col-lg-12 col-sm-12">
    <form action="@Url.Action("AddEditAccionMejora","Discoveries")" method="post">
        <div class="panel">
            @Html.PanelHeader("<i class=\"fa fa-search\"></i> " + DiscoveriesResource.InformacionGeneral, PanelActions.Collapse)
            <div class="panel-body">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Codigo, new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-9 col-lg-9 col-md-9">
                            @{
                                Boolean autoGenerado = Model.Codigo !=null;
                            }
                            @Html.TextBoxFor(X => X.Codigo, new { @class = "form-control", @readonly = !String.IsNullOrEmpty(Model.Codigo) ? "readonly" : "" })
                            @if(autoGenerado)
                            {
                                <i>@DiscoveriesResource.CodigoGeneraraAutomaticamente</i>
                            }
                            </div>
                    </div>
                  
                    <br />                    
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6" hidden="hidden">
                    @Html.EditorFor(X => X.Estado)

                    @Html.HiddenFor(X => X.AccionMejoraId)
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12" >
                    <div class="form-group">
                        
                            @Html.LabelFor(x => x.Descripcion, new { @class = "col-sm-3 control-label" })
                            
                            <div class="col-sm-12 col-lg-12 col-md-12">
                                @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control form-group" })
                                @Html.ValidationMessageFor(x => x.Descripcion)
                            </div>
                        
                    </div>
                </div>

                <div class="col-md-12 col-lg-12 col-sm-12" > @*@(!String.IsNullOrEmpty(Model.Codigo) ? "hidden='hidden'" : "")*@
                    <div class="col-sm-3">
                        <label class="control-label">@DiscoveriesResource.HallazgosAsociados</label>
                    </div>
                    <div class="col-md-9 text-right">
                        @{
                            var lstHallazgos = Model.LstHallazgos.Select(h => new SelectListItem
                            {
                                Text = h.Codigo + " : " + h.DescripcionEspanol,
                                Value = h.IdHallazgo.ToString()
                            });
                        }
                        @Html.DropDownListFor(m => m.HallazgoId, lstHallazgos, new { @data_plugin = "select2", @class = "form-control", @multiple = "multiple" })
                        @*<select class="form-control" multiple="multiple" id="selectRequisitos" name="HallazgoId" data_plugin="select2">
                            @foreach (var hallazgo in Model.LstHallazgos)
                            {
                                <option value="@hallazgo.IdHallazgo" @(Model.HallazgoId.Any(X => X == hallazgo.IdHallazgo) ? "selected='selected'" : "")>
                                    @hallazgo.Codigo : @hallazgo.DescripcionEspanol
                                </option>
                            }
                        </select>*@
                        @Html.ValidationMessageFor(m => m.HallazgoId)
                    </div>
                </div>

                @Html.HiddenFor(m=>m.InstrumentoId)
                @Html.HiddenFor(m=>m.ResultadoId)
                @Html.HiddenFor(m=>m.HallazgoIdSeleccionado)
               
                <div class="col-md-12 text-right">
                    <br />
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>Aceptar</button>
                        @if(autoGenerado && Model.HallazgoIdSeleccionado.HasValue)
                        {
                            <a class="btn btn-dark" href="@Url.Action("ViewDiscovery", "Discoveries", new { id = Model.HallazgoIdSeleccionado.Value })"><i class="fa fa-times"></i>@ButtonsOptionsResource.Cancelar</a>
                        }
                        else { 
                            <a class="btn btn-dark" href="@Url.Action("Discoveries","Discoveries",new { InstrumentoId = Model.InstrumentoId ,ResultadoId=Model.ResultadoId })"><i class="fa fa-times"></i>@ButtonsOptionsResource.Cancelar</a>
                        }
                    </div>
                </div>
               
            </div>
        </div>

    </form>
</div>

@section Scripts{
    <script src="~/Content/assets/plugins/select2/dist/js/select2.min.js" rel="stylesheet"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
    <script type="text/javascript">
        $('#selectRequisitos').select2(

            );

        $('#HallazgoId').val('@string.Join(",", Model.HallazgoId)'.split(',')).trigger('change');
    </script>
}

