﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Discoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.AddEditNewPlanAccionViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var titulo = "";
    if (Model.IdPlanAccion.HasValue)
    {
        titulo = LayoutResource.Editar;
    }
    else
    {
        titulo = LayoutResource.Registrar;
    }
    ViewBag.Title = titulo + " " + DiscoveriesResource.PlanDeAccion;
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs {
    <li><a href="@Url.Action("ManagementMenuAccionesMejora", "Discoveries")">@DiscoveriesResource.PlanDeAccion</a></li>
    @if (Model.IdPlanAccion != 0)
    {
        <li><a href="@Url.Action("LstReunionDelegados", "Discoveries")">@LayoutResource.Mantenimiento</a></li>

    }
    <li>@titulo</li>
}



<form method="post">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i>@DiscoveriesResource.DatosGenerales</h3>
            </div>
            <div class="panel-body">
                @Html.HiddenFor(x=>x.IdPlanAccion)
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label-survey">@DiscoveriesResource.Descripcion</label>
                                @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <label>@DiscoveriesResource.VistaManagementHallazgoTitulo</label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@DiscoveriesResource.Constituyente</label>

                            @Html.DropDownListFor(x => x.IdConstituyente, new SelectList(Model.LstConstituyente, "IdConstituyente", "NombreEspanol"), "[- " + DiscoveriesResource.Seleccione + "-]" , new { @class = "form-control", @required = "true" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">>@DiscoveriesResource.Instrumento</label>

                            @Html.DropDownListFor(x => x.IdInstrumento, new SelectList(Model.LstInstrumento, "IdInstrumento", "NombreEspanol"), "[- " + DiscoveriesResource.Seleccione + "-]", new { @class = "form-control" })
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@Filtros.Curso</label>
                            @Html.DropDownListFor(x => x.IdCurso, new SelectList(Model.LstCurso, "IdCurso", "NombreEspanol"), "[- " + DiscoveriesResource.Seleccione + "-]", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">Outcome</label>
                            @Html.DropDownListFor(x => x.IdOutcome, new SelectList(Model.LstOutcome, "IdOutcome", "NombreEspanol"), "[- " + DiscoveriesResource.Seleccione + "-]", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-survey">@DiscoveriesResource.DescripciónDeHallazgos</label>
                            @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h3>&nbsp;</h3>
                    <table class="table table-hover table-striped" id="table">
                        <thead>
                            <tr style="background-color: #FF1901;">
                                <th class="text-center" style="color:white;">@Filtros.Criticidad</th>
                                <th class="text-center" style="color:white;">@DiscoveriesResource.NivelDeAceptacion</th>
                                <th class="text-center" style="color:white;">@Filtros.Curso</th>
                                <th class="text-center" style="color:white;">@DiscoveriesResource.Acreditadora</th>
                                <th class="text-center" style="color:white;">@DiscoveriesResource.Comision</th>
                                <th class="text-center" style="color:white;">Outcome</th>

                                <th class="text-center" style="color:white;">@Filtros.Sede</th>
                                <th class="text-center" style="color:white;">@Filtros.Descripcion</th>
                                <th  class="text-center" style="color:white;">@DiscoveriesResource.Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody id="encuestas">
                            @foreach (var item in Model.LstHallazgo)
                            {

                                <tr @if (item.IdCriticidad == 1) { @Html.Raw(" style=\" color: red;\" ")    }>
                                    <td class="text-center">@item.Criticidad.NombreEspanol</td>
                                    <td class="text-center"><span class="badge badge-danger" style="color:@(item.NivelAceptacionHallazgo.Color);background-color:@(item.NivelAceptacionHallazgo.Color);">6</span> @(language == ConstantHelpers.CULTURE.ESPANOL ? item.NivelAceptacionHallazgo.NombreEspanol : item.NivelAceptacionHallazgo.NombreIngles)</td>
                                    <td class="text-center">@if (item.IdCurso.HasValue) {  @(language == ConstantHelpers.CULTURE.ESPANOL ? item.Curso.NombreEspanol.ToUpper() : item.Curso.NombreIngles.ToUpper()); } </td>
                                    <td class="text-center">ABET </td>
                                    <td class="text-center">@item.Comision.Codigo</td>

                                    <td class="text-center">@item.Outcome.Nombre</td>
                                    <td class="text-center">@if (item.IdSede.HasValue) {@item.Sede.Nombre;  }</td>

                                    <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>

                                    <td class="text-center">
                                                        <input type="checkbox" />
                                   </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                    <div class="row">
                        <div class="pull-right">
                            <button type="submit" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;">  @ButtonsOptionsResource.Guardar </button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</form>
