﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Discoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.DetallePlanAccionViewModel
@{
    ViewBag.Title = DiscoveriesResource.DetallePlanAccion;
    ViewBag.Icon = "table";
}

@section Breadcrumbs {
    <li><a href="@Url.Action("LstPlanAccion", "Discoveries")">@DiscoveriesResource.ConsultarPlanDeAccion</a></li>
}

@if (!Model.Cerrado)
{
<form action="@Url.Action("DetallePlanAccion", "Discoveries")">

    @Html.HiddenFor(X => X.PlanAccionId)
    @Html.HiddenFor(X => X.Agregar)
    <div class="panel filters">
        @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + DiscoveriesResource.Filtro, PanelActions.Collapse)
        <div class="panel-body row">
            <div class="row">
                @Html.FormGroup(Filtros.Ciclo + ":", Html.DropDownListFor(m => m.PeriodoAcademicoId, Model.AvailablePeriodoAcademico, DiscoveriesResource.Todos, new { @class = "form-control" }))
                @Html.FormGroup(DiscoveriesResource.Instrumento + ":", Html.DropDownListFor(m => m.InstrumentoId, Model.AvailableIntrumento, DiscoveriesResource.Todos, new { @class = "form-control" }))
            </div>
            <div class="row">
                
                @Html.FormGroup(DiscoveriesResource.NivelDeAceptacion + ":", Html.DropDownListFor(m => m.NivelAceptacionId, Model.AvailableNivelAceptacion,DiscoveriesResource.Todas, new { @class = "form-control" }))
            </div>


            <div class="col-sm-12 text-right">
                <button type="submit" id="btnBuscar" class="btn btn-dark">@ButtonsOptionsResource.Buscar&nbsp;&nbsp;<i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</form>
}
<div class="panel filters">
    @Html.PanelHeader("<i class=\"fa fa-align-justify\"></i> " + DiscoveriesResource.Resultados, PanelActions.Collapse)
    <div class="panel-body row">

        @if (!Model.Cerrado)
        {
        <a class="btn btn-dark" id="select_all"><i class="fa fa-slideshare"></i>&nbsp;@DiscoveriesResource.Seleccionar @DiscoveriesResource.Todas</a>
        }

        <form action="@Url.Action("DetallePlanAccion", "Discoveries")" method="post">
            @Html.HiddenFor(X => X.PlanAccionId)
            @Html.HiddenFor(X => X.Agregar)

            <table id="tblResultados" class="table table-striped table-hover" data-info="true" data-length-change="true" data-paginate="true">
                <thead>
                    <tr>
                        @if (!Model.Cerrado)
                        {
                            <th width="5%"></th>
                        }
                        <th width="15%">@Filtros.Codigo</th>
                        <th width="40%">@Filtros.Descripcion</th>
                        <th width="40%">@Filtros.Hallazgo</th>
                        @if (Model.Cerrado)
                        {
                            <th width="5%">@LayoutResource.Resultado</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @{var i = 0;}
                    @foreach (var item in Model.AccionesPlan)
                    {
                        ++i;
                        var numeroHallazgos = Math.Max(1, Model.Hallazgos[item.IdAccionMejora].Count);


                        <tr id="tdResultado-@i">
                            @if (!Model.Cerrado)
                            {
                                <td rowspan="@(numeroHallazgos)"><input type="checkbox" name="accionEscogida@(item.IdAccionMejora)" /></td>
                            }
                            <td rowspan="@(numeroHallazgos)">@item.Codigo</td>
                            <td rowspan="@(numeroHallazgos)">@item.DescripcionEspanol</td>
                            @if (numeroHallazgos != 0)
                            {
                                <td>@Model.Hallazgos[item.IdAccionMejora][0].DescripcionEspanol</td>
                                if (Model.Cerrado)
                                {
                                    <td>
                                        <button type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#myModal" onclick="ActualizarDatosModal(@item.IdAccionMejora)">@LayoutResource.Resultado</button>
                                    </td>
                                }
                            }
                            else
                            {
                                <td></td>
                                if (Model.Cerrado)
                                {
                                    <td></td>
                                }
                            }
                        </tr>
                        for (int k = 1; k < numeroHallazgos; k++)
                        {
                            <tr>
                                <td>@Model.Hallazgos[item.IdAccionMejora][k].DescripcionEspanol</td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
            @if (!Model.Cerrado)
            {
                if (Model.Agregar)
                {
                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;@DiscoveriesResource.AgregarAccionesSeleccionadas</button>
                }
                else
                {
                <button type="submit" class="btn btn-dark"><i class="fa fa-minus"></i>&nbsp;@DiscoveriesResource.EliminarAccionesSeleccionadas</button>
                }
            }
            else
            {
                <a class="btn btn-primary pull-right" href="@Url.Action("PrintPlanAccion", "Discoveries", new { PlanAccionId = Model.PlanAccionId })"><i class="fa fa-print"></i>&nbsp;@DiscoveriesResource.ImprimirPlanDeAccion</a>
            }

        </form>
    </div>

</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <form id="frm_resultado_accion_mejora" action="@Url.Action("EditarResultadoAccionMejora","Discoveries")" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-plus"></i>&nbsp;&nbsp; @DiscoveriesResource.ResultadoAccionDeMejora</h4>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(m=>m.PlanAccionId)
                    @Html.HiddenFor(m=>m.Agregar)
                    <input type="hidden" value="" id="idAccionMejora" name="idAccionMejora" />
                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-2 control-label">@LayoutResource.Resultado</label>
                            <div class="col-md-12">
                                <textarea name="resultado" class="form-control" id="Resultado"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-md-3 control-label">@DiscoveriesResource.ArchivoAdjunto</label>
                            <div class="col-md-12" id="conjuntoArchivos">
                                @Html.TextBox("Archivos", "", new { @type = "file" })                                
                               <small>@DiscoveriesResource.TamanioMaximo3MB</small>                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th width="80%">@DiscoveriesResource.Archivo</th>
                                            <th width="20%">@DiscoveriesResource.Descargar</th>
                                        </tr>
                                    </thead>
                                    <tbody id="archivosActuales"></tbody>
                                </table>
                            </div> 
                        </div>                       
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-default" onclick="Agregar()"><span class="fa fa-plus"></span>@DiscoveriesResource.Archivo</div>
                    <button type="submit" class="btn btn-default"><span class="fa fa-check"></span>@ButtonsOptionsResource.Aceptar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-times"></span>@ButtonsOptionsResource.Cancelar</button>
                </div>
            </div>


        </form>

    </div>
</div>
@section Scripts{

    @{
        string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/";
    }

    <script>
        $('#select_all').click(function () {
            $(':checkbox').prop('checked', true);
        });

      

        $('#frm_resultado_accion_mejora').on('submit', function () {

            
            var files = $('#conjuntoArchivos input')[0].files;
            if (files && files.length > 0) {
                if ((files[0].size / 1024 / 1024) > 3) {
                    alert('@(DiscoveriesResource.AlertaDocumentoSuperar3mb)');
                    return false;
                }
            }
            return true;
        });

    </script>
    <script>
        function ActualizarDatosModal(idAccionMejora) {
            var a = document.getElementById("idAccionMejora");
            a.value = idAccionMejora.toString();
            var b = document.getElementById("conjuntoArchivos");
            b.innerHTML = '<input type="file" name="Archivos" id="Archivos" /> <small>Tamaño máximo 3MB</small> ';
            var c = document.getElementById("Resultado");

            $.get("@(baseUrl)/Professor/Discoveries/DatosResultadoAccionMejora?AccionMejoraId=" + idAccionMejora.toString(), function (data) {
                c.value = data.r;
                c.text = data.r;
                c.text += data.lista;
                var d = document.getElementById("archivosActuales");
                d.innerHTML = "";

                var len = data.lista.length;
                for(var i =0;i<len;i++)
                {
                    var fila = document.createElement("tr");
                    var nombre = document.createElement("td");
                    nombre.innerHTML = data.lista[i].nombre;
                    var ruta = document.createElement("td");
                    ruta.innerHTML = "<a class='btn' href='" + "/Professor/Discoveries/DescargarEvidencia?nombre="+data.lista[i].nombre+"&ruta=" +data.lista[i].ruta + "'><i class='fa fa-download'></i></a>"

                    fila.appendChild(nombre);
                    fila.appendChild(ruta);
                    d.appendChild(fila);
                }

                $('#Archivos').rules('add', { tamanio_archivo: true });
            });
        }

    </script>
    <script>
        function Agregar() {
            var unArchivoMas = '<input type="file" name="Archivos" /> <small>@(DiscoveriesResource.TamanioMaximo3MB)</small>';
            $("#conjuntoArchivos").append(unArchivoMas);
        }
    </script>
}