﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Discoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.DiscoveriesViewModel
@{
    if (Model.InstrumentoId != 0)
    {
        ViewBag.Title = DiscoveriesResource.Consultar + " "+(Model.ResultadoId == 1 ? DiscoveriesResource.VistaManagementHallazgoTitulo : DiscoveriesResource.VistaManagmentAccionesMejoraTitulo) + " " + DiscoveriesResource.De + " " + Model.NombreInstrumento;
    }
    else
    {
        ViewBag.Title = @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ConsolidadoDeHallazgos;
    }

    ViewBag.Icon = "fa fa-binoculars";
}

@section Breadcrumbs {
}

<div class="modal fade" tabindex="-1" role="dialog" id="custom-modal-container">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="custom-modal">
        </div>
    </div>
</div>

<div class="row">

    <div class="">
        @{
            String nombreVistaFiltros = ConstantHelpers.PROFESSOR.FILTROS.GetFiltroByInstrumentoId(Model.InstrumentoId);
            Html.RenderPartial(nombreVistaFiltros, Model);
        }
    </div>
       
    <div class="panel">
        @{
            String nombreVistaResultados = ConstantHelpers.PROFESSOR.FILTROS.GetVistaResultadoById(Model.ResultadoId);
            Html.RenderPartial(nombreVistaResultados, Model);
        }
       
    </div>

</div>


@section Scripts {
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
    <script>
        function openModal() {
            $('#custom-modal-container').modal('show');
        }
        function closeModal() {
            $('#custom-modal-container').modal('hide');
        }
    </script>
}