﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Discoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.LstPlanAccionViewModel
@{
    ViewBag.Title = DiscoveriesResource.VistaLstPlanAccionTitulo;
    ViewBag.Icon = "table";
}

<div class="modal fade" tabindex="-1" role="dialog" id="custom-modal">

</div>


    <div class="alert alert-danger" id="errorMessage" style="display:none">
        <div>ViewBag.Message</div>
    </div>

@*ESTO SERA AJAX*@
@using (Ajax.BeginForm("LstPlanAccion", new AjaxOptions
{
    UpdateTargetId = "SOPPP",
    HttpMethod = "POST"
}))
{
    <div class="panel filters">
        @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + DiscoveriesResource.Filtro, PanelActions.Collapse)
        <div class="panel-body row">
            <div class="row">
                @Html.FormGroup(DiscoveriesResource.Anio + ":", Html.DropDownListFor(m => m.Anio, Model.AvailableAnios, DiscoveriesResource.Todos, new { @class = "form-control"}))
                @Html.FormGroup(DiscoveriesResource.Carrera + ":", Html.DropDownListFor(m => m.CarreraId, Model.AvailableCarreras, DiscoveriesResource.Todas, new { @class = "form-control" }))
            </div>
            <div class="col-sm-12 text-right">
                <button type="button" id="btnBuscar" class="btn btn-dark">@ButtonsOptionsResource.Buscar&nbsp;&nbsp;<i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
}
@*<form action="@Url.Action("LstPlanAccion","Discoveries")">

    <div class="panel filters">
        @Html.PanelHeader("<i class=\"fa fa-filter\"></i> Filtro", PanelActions.Collapse)
        <div class="panel-body row">
            <div class="row">
                @Html.FormGroup("Año:", Html.DropDownListFor(m => m.Anio, Model.AvailableAnios, "Todos", new { @class = "form-control"}))
                @Html.FormGroup("Carrera:", Html.DropDownListFor(m => m.CarreraId, Model.AvailableCarreras, "Todas", new { @class = "form-control" }))
            </div>
            <div class="col-sm-12 text-right">
                <button type="submit" id="btnBuscar" class="btn btn-dark">Buscar&nbsp;&nbsp;<i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</form>*@
<div class="panel filters">
    @Html.PanelHeader("<i class=\"fa fa-align-justify\"></i> " + DiscoveriesResource.Resultados, PanelActions.Collapse)
    <div class="panel-body row">
        <a id="AgregarPlan" class="btn btn-primary pull-right" href="@Url.Action("AddActionPlan","Discoveries")" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#custom-modal" data-ajax-success="openModal();">
            <i class="fa fa-plus"></i>
            &nbsp;@LayoutResource.Agregar
        </a>
        <table id="tblResultados-plan-accion" class="table table-striped table-hover" data-info="true" data-length-change="true" data-paginate="true">
            <thead>
                <tr>
                    <th>@DiscoveriesResource.Codigo</th>
                    <th>@DiscoveriesResource.Anio</th>
                    <th>@DiscoveriesResource.Carrera</th>
                    <th>@DiscoveriesResource.Estado</th>
                    <th class="text-right">@DiscoveriesResource.Opciones</th>
                </tr>
            </thead>
            <tbody id="SOPPP">
                @{ Html.RenderPartial("_TablaLstPlanAccion", Model); }
            </tbody>
        </table>
        

    </div>

</div>

@section Scripts{
    
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
    <script>
        function confirmar(e, url)
        {
            if (confirm('@DiscoveriesResource.ConfirmEliminarPlanDeAccion')) {
                e.href = url;
            }
            else
            {
                e.preventDefault();
                e.stopPropagation();
            }
        }

        function openModal() {
            $('#custom-modal').modal('show');
        }     

        function closeModal() {
            $('#custom-modal').modal('hide');
        }

        function ordenarIndices(id) {
            $('#' + id + ' tr').each(function (i, e) {
                $(e).find('input').each(function (j, input) {
                    input.id = input.id.replace(/[0-9]/, i);
                    input.name = input.name.replace(/[0-9]/, i);
                });
            })
        }

        $('#btnBuscar').click(function () {
            $('#errorMessage').css('display','block');
        });

    </script>
   
}