﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Discoveries
@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Survey.SurveyManagementPPPViewModel
@{
    ViewBag.Title = DiscoveriesResource.VistaManagmentAccionesMejoraTitulo;
    ViewBag.Icon = "suitcase";
    Boolean esAcreditador = false;
}

@section Breadcrumbs{

}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera))
                            {
                                <li class="active" role="presentation"><a data-toggle="tab" href="#1Tab" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false"><i class="fa fa-hand-o-up"></i> <span class="tabhidden">@DiscoveriesResource.InformeDeFinDeCiclo</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#2Tab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa-download"></i> <span class="tabhidden">@DiscoveriesResource.ActaDeReunionDeComiteConsultivo</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#3Tab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-cloud-upload"></i> <span class="tabhidden">@DiscoveriesResource.EncuestaDePracticasPreProfesionales</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#4Tab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-file-excel-o"></i> <span class="tabhidden">@DiscoveriesResource.EncuestaGraduando</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#5Tab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@DiscoveriesResource.EncuestaLogroFinDeCiclo</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#6Tab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-bar-chart"></i> <span class="tabhidden">@DiscoveriesResource.InformeReunionDeDeDelegados</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#7Tab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-wrench"></i> <span class="tabhidden">@DiscoveriesResource.ReporteDeControl</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#8Tab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-wrench"></i> <span class="tabhidden">@DiscoveriesResource.ReporteDeVerificacion</span></a></li>
                            }

                        </ul>
                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">
                            <div class="tab-pane @(esAcreditador == false ? "active" : "")" id="1Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i> @DiscoveriesResource.InformeDeFinDeCiclo</h2>
                                <p align="justify">
                                    @DiscoveriesResource.VistaManagmentAccionesMejoraTitulo @DiscoveriesResource.InformeDeFinDeCiclo
                                </p>

                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("Discoveries", "Discoveries", new { InstrumentoId = 1, ResultadoId = 2 })"><i class="fa fa-sign-in"></i> @DiscoveriesResource.Ir</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="2Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-download"></i> @DiscoveriesResource.ActaDeReunionDeComiteConsultivo</h2>
                                <p align="justify">
                                    @DiscoveriesResource.VistaManagmentAccionesMejoraTitulo @DiscoveriesResource.ActaDeReunionDeComiteConsultivo
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("Discoveries", "Discoveries", new { InstrumentoId = 2, ResultadoId = 2 })"><i class="fa fa-sign-in"></i> @DiscoveriesResource.Ir</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="3Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-download"></i> @DiscoveriesResource.EncuestaDePracticasPreProfesionales</h2>
                                <p align="justify">
                                    @DiscoveriesResource.VistaManagmentAccionesMejoraTitulo @DiscoveriesResource.EncuestaDePracticasPreProfesionales
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("Discoveries", "Discoveries", new { InstrumentoId = 3, ResultadoId = 2 })"><i class="fa fa-sign-in"></i> @DiscoveriesResource.Ir</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="4Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-file-excel-o"></i> @DiscoveriesResource.EncuestaGraduando</h2>
                                <p align="justify">
                                    @DiscoveriesResource.VistaManagmentAccionesMejoraTitulo @DiscoveriesResource.EncuestaGraduando
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("Discoveries", "Discoveries", new { InstrumentoId = 4, ResultadoId = 2 })"><i class="fa fa-sign-in"></i> @DiscoveriesResource.Ir</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="5Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-file-excel-o"></i> @DiscoveriesResource.EncuestaLogroFinDeCiclo</h2>
                                <p align="justify">
                                    @DiscoveriesResource.VistaManagmentAccionesMejoraTitulo @DiscoveriesResource.EncuestaLogroFinDeCiclo
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("Discoveries", "Discoveries", new { InstrumentoId = 5, ResultadoId = 2 })"><i class="fa fa-sign-in"></i> @DiscoveriesResource.Ir</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="6Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-file-excel-o"></i> @DiscoveriesResource.InformeReunionDeDeDelegados</h2>
                                <p align="justify">
                                    @DiscoveriesResource.VistaManagmentAccionesMejoraTitulo @DiscoveriesResource.InformeReunionDeDeDelegados
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("Discoveries", "Discoveries", new { InstrumentoId = 8, ResultadoId = 2 })"><i class="fa fa-sign-in"></i> @DiscoveriesResource.Ir</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="7Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-file-excel-o"></i> @DiscoveriesResource.ReporteDeControl</h2>
                                <p align="justify">
                                    @DiscoveriesResource.VistaManagmentAccionesMejoraTitulo @DiscoveriesResource.ReporteDeControl
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("ConsultControlReport", "ImprovementActions", new { Area = ConstantHelpers.AREAS.REPORT })"><i class="fa fa-sign-in"></i> @DiscoveriesResource.Ir</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="8Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-file-excel-o"></i> @DiscoveriesResource.ReporteDeVerificacion</h2>
                                <p align="justify">
                                    @DiscoveriesResource.VistaManagmentAccionesMejoraTitulo @DiscoveriesResource.ReporteDeVerificacion
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("ConsultVerificationReport", "ImprovementActions", new { Area = ConstantHelpers.AREAS.REPORT })"><i class="fa fa-sign-in"></i> @DiscoveriesResource.Ir</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
    </script>
}