﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Discoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.PrintPlanAccionViewModel
@{
    ViewBag.Title = DiscoveriesResource.VistaPrintPlanAccionTitulo;
    ViewBag.Icon = "fa fa-download";
}

@section Styles{
<style type="text/css">
    ul, li {
        list-style-type: none;
    }

    li {
        padding-left: 0;
        margin-left: 0;
    }

    li button {
        margin-right: 2em;
    }
    </style>
}

<form action="@Url.Action("PrintPlanAccion","Discoveries")" method="post">
    @Html.HiddenFor(m => m.PlanAccionId)
    <input name="esModelPDF" type="checkbox" hidden="hidden" value="False" id="c" />
    <div class="panel filters">
        @Html.PanelHeader("<i class=\"fa fa-download\"></i> " + DiscoveriesResource.PlanDeAccion, PanelActions.Collapse)
        <div class="panel-body row">
            <div class="row">
                @Html.FormGroup(DiscoveriesResource.Anio + ":", Html.LabelFor(m => m.Anio, Model.Anio))
                @Html.FormGroup(DiscoveriesResource.Carrera + ":", Html.LabelFor(m => m.Carrera, Model.Carrera))
                @Html.FormGroup(DiscoveriesResource.Comision + ":", Html.DropDownListFor(m => m.ComisionId, Model.AvailableComisiones, "[--" + DiscoveriesResource.Seleccione + "--]", new { @class = "form-control", required = "required" }))
                @Html.HiddenFor(m=>m.ComisionId)
            </div>
            <div class="col-sm-12 text-right">                
                <button type="submit" id="btnExportarPdf" onclick="activarExportarPDF()" class="btn btn-default">@DiscoveriesResource.ExportarPDF&nbsp;&nbsp;<i class="fa fa-file-pdf-o"></i></button>
                <button type="submit" id="btnExportarRtf" class="btn btn-dark">@DiscoveriesResource.ExportarWord&nbsp;&nbsp;<i class="fa fa-file-word-o"></i></button>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        function activarExportarPDF() {
            var c = document.getElementById("c");
            c.checked = true;
            c.value = true;
        }
    </script>
}

