﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Discoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.Discoveries.ViewDiscoveryViewModel
@{
    ViewBag.Title = DiscoveriesResource.VistaManagementHallazgoTitulo;
    ViewBag.Icon = "table";
}


@section Breadcrumbs {     
    <li><a href="@Url.Action("Discoveries", "Discoveries", new { InstrumentoId = Model.InstrumentoId, ResultadoId = Model.ResultadoId})">@DiscoveriesResource.ConsultarHallazgosDe @Model.NombreInstrumento</a></li>
}

@* falta que los Breadcrumbs retorne a la vista de discoveries con el idIstrumento y su idResultado  *@
<div class="row">

    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="panel">
            @Html.PanelHeader("<i class=\"fa fa-search\"></i> " + DiscoveriesResource.InformacionGeneral, PanelActions.Collapse)
            <div class="panel-body">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <dl>
                        <dt style="font-weight: bold;">@(DiscoveriesResource.Codigo):</dt>
                        <dd>@Model.Discovery.Codigo</dd>
                        <br />
                        <dt style="font-weight: bold;">@(DiscoveriesResource.PeriodoAcademico):</dt>
    
                        <dd>@Model.Discovery.SubModalidadPeriodoAcademicoModulo.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico</dd>
                    </dl>

                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">

                    <dl>
                      
                        <dt style="font-weight: bold;">@(DiscoveriesResource.Descripcion):</dt>
                        <dd>@Model.Discovery.DescripcionEspanol</dd>
                    </dl>

                </div>

                <div class="row" style="text-align: center;">
                    <div class="col-md-12 text-right">
                        <a href="@Url.Action("Delete", "IfcDiscoveryManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR, Id = Model.Discovery.IdHallazgo})" class="btn btn-dark"><i class="fa fa-times"></i> @ButtonsOptionsResource.Eliminar</a>
                        <a href="@Url.Action("Edit", "IfcDiscoveryManagement", new { Area = ConstantHelpers.AREAS.PROFESSOR, Id = Model.Discovery.IdHallazgo })" class="btn btn-primary"><i class="fa fa-edit"></i> @ButtonsOptionsResource.Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="panel">
            @Html.PanelHeader("<i class=\"fa fa-search\"></i> " + @DiscoveriesResource.AccionesDeMejoraAsociadas, PanelActions.Collapse)
            <div class="panel-body" style="text-align: center;">
                @if (Model.LstAccionMejora.Count == 0)
                {
                    <p>@DiscoveriesResource.NoAccionesDeMejoraAsociadasRegistradasHallazgo</p>
                }
                else
                {
                    <table class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                        <thead>
                            <tr>
                                <th style="text-align: center; width: 30%;">@DiscoveriesResource.Codigo</th>
                                <th style="text-align: center; width: 50%;">@DiscoveriesResource.Descripcion</th>
                                <th style="text-align: center; width: 10%;">@DiscoveriesResource.Estado</th>
                                <th style="text-align: center; width: 10%;">@DiscoveriesResource.Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.LstAccionMejora.Count(); i++)
                            {
                                <tr>
                                    <td style="text-align: center; vertical-align: middle; width: 30%;">
                                        @Model.LstAccionMejora.ElementAt(i).Codigo
                                    </td>
                                    <td style="text-align: center; vertical-align: middle; width: 60%;">
                                        @Model.LstAccionMejora.ElementAt(i).DescripcionEspanol
                                    </td>
                                    <td style="text-align: center; vertical-align: middle; width: 10%;">
                                        @ConstantHelpers.PROFESSOR.IFC.ACCIONES_MEJORA.ESTADOS.GetEstadoAccionMejora(Model.LstAccionMejora.ElementAt(i).Estado)
                                    </td>
                                    <td style="text-align: center; vertical-align: middle; width: 10%;">
                                        <a class="btn btn-dark" href="@Url.Action("AddEditAccionMejora", "Discoveries", new { AccionMejoraId = Model.LstAccionMejora[i].IdAccionMejora, Area = ConstantHelpers.AREAS.PROFESSOR, HallazgoId = Model.Discovery.IdHallazgo })"><i class="fa fa-pencil"></i>&nbsp;@ButtonsOptionsResource.Editar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }


               <!-- <a href="@Url.Action("AddEditNewAccionMejora", "Discoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR, HallazgoId  = Model.Discovery.IdHallazgo})" class="btn btn-dark pull-right"><i class="fa fa-plus"></i> Agregar Accion Mejora</a>-->

            </div>
        </div>

    </div>

</div>





