﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Maintenance._AsignarEstadoViewModel
@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Title = "Asignar Estado";
    ViewBag.Icon = "cube";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor( x => x.IdEncuesta)
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            <label>@AddEditFDCResource.KeyWordsEstado</label>
        </div>
        <div class="col-md-10">
            @Html.DropDownListFor(m => Model.IdEstado, new SelectList(Model.lstEstado, "IdEstado", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), new { @class = "form-control select2-select" })
        </div>
    </div>
</div>
@section Scripts{
    <script>
    urlModalRedirect = '@Url.Action("MantenimientoEncuestaFDC", "Maintenance")';
    </script>
}