﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Maintenance._ConfirmacionDeleteEncuestaViewModel
@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Title = ButtonsOptionsSurveyResource.Eliminar + " " + AddEditFDCResource.KeyWordsEncuestaAcademica;
    ViewBag.Icon = "trash";
    ViewBag.Form = true;
    ViewBag.IsGet = "True";
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor(x => x.EncuestaId)
@Html.HiddenFor(x => x.Cantidad)
<p>@(language == ConstantHelpers.CULTURE.ESPANOL ? "¿Está seguro de eliminar esta encuesta?" : "Are you sure to delete this survey?")</p>

@section Scripts{
    <script>
    
    </script>

}