﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Maintenance._ConfirmacionDeleteHallazgoViewModel
@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Title = AddEditFDCResource.ButtonsOptionsSurveyEliminar + " " + AddEditFDCResource.KeyWordsHallazgo;
    ViewBag.Icon = "trash";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor(x => x.IdHallazgo)
@Html.HiddenFor(x => x.Codigo)


<div class="row">
    <div class="form-group">

        <div class="col-sm-9">
            <strong>@(language == ConstantHelpers.CULTURE.ESPANOL ? "Código" : "Code"): @Model.Codigo</strong>
        </div>
    </div>
</div><br />


<p>@(language == ConstantHelpers.CULTURE.ESPANOL ? "¿Está seguro de eliminar este hallazgo?" : "Are you sure to delete this finding?")</p>

@section Scripts{
    <script>
        @{

        }
     
    </script>

}
