﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Maintenance._ConfirmacionDeleteEncuestaGRAViewModel
@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Title = AddEditFDCResource.ButtonsOptionsSurveyEliminar + " " + AddEditFDCResource.KeyWordsEncuestaGraduando;
    ViewBag.Icon = "trash";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<p>@(language==ConstantHelpers.CULTURE.ESPANOL?"¿Está seguro de eliminar este grupo de encuesta?": "Are you sure to delete this group survey?")</p>

@section Scripts{
    <script>
    urlModalRedirect = '@Url.Action("MantenimientoEncuestaGRA", "Maintenance")';
    </script>

}