﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Maintenance._ConfirmacionDeleteHallazgoViewModel
@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Title = ButtonsOptionsSurveyResource.Eliminar + " " + AddEditFDCResource.KeyWordsHallazgo;
    ViewBag.Icon = "trash";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor(x => x.CodigoHallazgo)
@Html.HiddenFor(x => x.IdEncuesta)
<p>@(language==ConstantHelpers.CULTURE.ESPANOL?"¿Está seguro de eliminar este hallazgo?": "Are you sure to delete this finding?")</p>

@section Scripts{
    <script>
        @{ 
            
        }
        urlModalRedirect = '@Url.Action("AddEditFindSurvey" + Model.Tipo, "Register", new { IdEncuesta = Model.IdEncuesta })';
    </script>

}
