﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Maintenance.DetalleEncuestaVirtualGRAViewModel
@{
    ViewBag.Title = AddEditFDCResource.MaintenanceSurveyGRATituloDetalle;
    ViewBag.Icon = "list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementGRA", "Survey")">@AddEditFDCResource.KeyWordsEncuestaGraduando</a></li>
    <li><a href="@Url.Action("MantenimientoEncuestaVirtualGRA", "Maintenance")"> @AddEditFDCResource.MaintenanceSurveyGRATitulo</a></li>
}
<div class="row mensaje_reenvio">
    
</div>
<div class="well">
    <div class="row">
        <div class="col-md-12">
            <h4>  @AddEditFDCResource.KeyWordsCarrera : @Model.Carrera</h4>
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-12">
            <h4>@KeyWordsResource.Sede : @Model.Sede</h4>
        </div>
    </div>*@
    <div class="row">
        <div class="col-md-12">
            <h4>@AddEditFDCResource.KeyWordsCiclo : @Model.Ciclo</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> @AddEditFDCResource.MaintenanceSurveyGRAResultados:</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="">
                        <div class="col-md-1 text-center">
                            <label class="label-survey"><i class="fa fa-filter"></i> @AddEditFDCResource.KeyWordsFiltrar </label>
                        </div>
                        <div class="col-md-4">
                            <input id="searchInput" class="form-control" style="text-transform: uppercase;"><br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr style="background-color: #FF1901;">
                            <th class="text-center" style="color:white;">ID</th>
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsCarrera</th>
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsCiclo1</th>
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsComentario</th>
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsFechaFinDisponible</th>
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsStatus</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="encuestas">
                        @foreach (var item in Model.lstEncuesta)
                        {
                            <tr id="@item.IdEncuestaToken">
                                <td class="text-center">@if (@item.Id != null) {@Html.Raw(@item.Id)}</td>
                                <td style="display:none;" class="calumno">@item.IdAlumno</td>
                                <td style="display:none;" class="ccarrera">@item.IdCarrera</td>
                                <td style="display:none;" class="cciclo">@item.IdPeriodoAcademico</td>
                                <td class="text-center">@Model.Carrera</td>
                                <td class="text-center">@Model.Ciclo</td>
                                <td class="text-center">@item.Comentario</td>
                                <td class="text-center fechafin">@if (@item.FechaFin == null) {@Html.Raw("")}
                                                        else { @Html.Raw(string.Format("{0:dd/MM/yyyy}", @item.FechaFin)) }</td>
                                <td align="center">@if (item.Status){ @Html.Raw(ConstantHelpers.GetSpanEstado("ACT", AddEditFDCResource.MaintenanceSurveyGRAStatusDetalleSi)) }
                                                    else{ @Html.Raw(ConstantHelpers.GetSpanEstado("INA", @AddEditFDCResource.MaintenanceSurveyGRAStatusDetalleNo)) }
                                </td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                            @AddEditFDCResource.MaintenanceSurveyGRAOpciones
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">

                                            @if (@item.Id != null) { 
                                                <li role="presentation"><a href="@Url.Action("AddEditFindSurveyGRA", "Register", new { IdEncuesta = @item.Id, CarreraId=@item.IdCarrera,CicloId=@item.IdPeriodoAcademico, opcion_rastro=1} )" role="menuitem"><i class="fa fa-sticky-note"></i> @AddEditFDCResource.KeyWordsHallazgo</a></li>
                                                <li role="presentation"><a href="@Url.Action("AddEditSurveyVirtualGRA", "Register", new { EncuestaId = @item.Id, CarreraId = @item.IdCarrera, CicloId = @item.IdPeriodoAcademico })" role="menuitem"><i class="fa fa-edit"></i> @AddEditFDCResource.KeyWordsVerDetalle</a></li>
                                            }
                                            <!--<li role="presentation"><a class="delete" href="#" @Url.ModalHelperFor("_ConfirmacionDeleteEncuesta", "Maintenance", new { EncuestaId = item.Id, Cantidad = Model.Cantidad}) role="menuitem"><i class="fa fa-trash"></i> @AddEditFDCResource.MaintenanceSurveyGRAEliminar</a></li>-->
                                            <li role="presentation"><a class="delete reenviar" data-id="@item.IdEncuestaToken" data-toggle="modal" data-target="#myModalContenido" role="menuitem"><i class="fa fa-paper-plane"></i> @AddEditFDCResource.MaintenanceSurveyGRAReenviar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- MODAL DE ASUNTO-->
    <div id="myModalContenido" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close cerrarmodal" data-dismiss="modal">&times;</button>
                    <div class="panel-title">
                        <h4><i class="fa fa-briefcase" aria-hidden="true"></i> @AddEditFDCResource.MaintenanceSurveyGRATituloConfiguracionNotificacion</h4>
                    </div>
                </div>
                <form method="post" id="frm-reenviar" class="row" action="javascript:void(0);">
                    <div class="modal-body" style="padding-top:0;">
                        <div class="row">
                            <div class="col-md-2">
                                <h2 class="panel-title">@AddEditFDCResource.MaintenanceSurveyGRAAsunto</h2>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(x => x.TituloCorreo, new { @id = "TituloCorreo", @class = "form-control", @required = "required" })
                            </div>
                        </div>
                        <div class="">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@AddEditFDCResource.MaintenanceSurveyGRAMensaje</h3>
                                </div>
                                <div class="panel-body">
                                    @Html.TextAreaFor(x => x.CuerpoCorreo, new { @id = "CuerpoCorreo", @class = "form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@AddEditFDCResource.MaintenanceSurveyGRAFechaFinDisponible</h3>
                                </div>
                                <div class="panel-body">    
                                    @Html.TextBoxFor(x => x.NuevaFechaFin, new { @id = "NuevaFechaFin", @type = "date", @class = "form-control", @Value = Model.NuevaFechaFin.ToString("dd/mm/yyyy"), @required = "required" })
                                </div>
                            </div>
                        </div>
                        @Html.TextBoxFor(x => x.objEncuestaToken.IdEncuestaToken, new { @id = "IdEncuestaToken", style = "display: none;" })                   
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="pull-right btn btn-primary btn-block">@AddEditFDCResource.MaintenanceSurveyGRAReenviar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!------------------>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
        
       

        $(document).on("click", ".reenviar", function () {

            $("#TituloCorreo").val("");
            $("#CuerpoCorreo").val("");
            $("#NuevaFechaFin").val("");

            /*ASIGNAMOS EL ID*/
            var IdEncuesta = $(this).data('id');
            $("#IdEncuestaToken").val(IdEncuesta);
            console.log("IdEncuestaToken="+ IdEncuesta);
        });

        $("#frm-reenviar").submit(function () {

            var form = $(this);


            var data = form.serialize();

            console.log("data:" + data);


            var fecha = $("#NuevaFechaFin").val();
            var titulo = $("#TituloCorreo").val();
            var asunto = $("#CuerpoCorreo").val();

            console.log("fecha=" + fecha);
            if(fecha==null || fecha==""  || titulo==null || titulo=="" || asunto==null || asunto=="")
            {
                form.validate()
                return ;
            }
            
            if (form.validate()) {
                    
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EmailNSurveyGRAReenviar","Email")',
                    data: data,
                    dataType: 'json',
                    async: false,
                    success: function (mensaje) {
                            
                        $(".cerrarmodal").click();
                        console.log("mensaje" + mensaje);
                        var arreglo = mensaje.split("+");
                        console.log(arreglo);

                        if (arreglo[0] == "success") {
                            var identificador = "#" + $("#IdEncuestaToken").val() + "> .fechafin";
                            console.log("identificador=" + identificador);

                            var fechar = $("#NuevaFechaFin").val().split('-');
                            $(identificador).html(fechar[2] + "/" + fechar[1]+"/"+ fechar[0]);
                        }
                        

                        $(".mensaje_reenvio").html(
                                         '<div class="card-body card-padding">'+
                                                '<div class="alert alert-dismissible dark alert-'+arreglo[0]+'" role="alert">'+                                                
                                                '<button aria-label="Close" class="close" data-dismiss="alert" type="button">'+
                                                '<span aria-hidden="true"></span></button>'+
                                                 arreglo[1]+'</div>'+
                                            '</div>');

                            
                    },
                    beforeSend: function () {
                        
                    },
                    complete: function () {

                    }
                });
                
            }

        });
        
        $("#searchInput").keyup(function () {
            //split the current value of searchInput
            var data = this.value.toUpperCase().split(" ");
            //create a jquery object of the rows
            var jo = $("#encuestas").find("tr");
            if (this.value == "") {
                jo.show();
                return;
            }
            //hide all the rows
            jo.hide();

            //Recusively filter the jquery object to get results.
            jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.is(":contains('" + data[d] + "')")) {
                        return true;
                    }
                }
                return false;
            })
            //show the rows that match.
            .show();
        }).focus(function () {
            this.value = '';
            $(this).css({
                "color": "black"
            });
            $(this).unbind('focus');
        }).css({
            "color": "#C0C0C0"
        });
    </script>
}