﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Maintenance.DetalleEncuestaGRAViewModel
@{
    ViewBag.Title = AddEditFDCResource.MaintenanceSurveyGRATituloDetalle;
    ViewBag.Icon = "list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementGRA", "Survey")">@AddEditFDCResource.KeyWordsEncuestaGraduando</a></li>
    <li><a href="@Url.Action("MantenimientoEncuestaGRA", "Maintenance")"> @AddEditFDCResource.MaintenanceSurveyGRATitulo</a></li>
}
<div class="well">
    <div class="row">
        <div class="col-md-12">
            <h4>  @AddEditFDCResource.KeyWordsCarrera : @Model.Carrera</h4>
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-12">
            <h4>@KeyWordsResource.Sede : @Model.Sede</h4>
        </div>
    </div>*@
    <div class="row">
        <div class="col-md-12">
            <h4>@AddEditFDCResource.KeyWordsCiclo : @Model.Ciclo</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> @AddEditFDCResource.MaintenanceSurveyGRAResultados:</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="">
                        <div class="col-md-1 text-center">
                            <label class="label-survey"><i class="fa fa-filter"></i> @AddEditFDCResource.KeyWordsFiltrar </label>
                        </div>
                        <div class="col-md-4">
                            <input id="searchInput" class="form-control" style="text-transform: uppercase;"><br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr style="background-color: #FF1901;">
                            <th class="text-center" style="color:white;">ID</th>
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsCarrera</th>
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsCiclo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="encuestas">
                        @foreach (var item in Model.lstEncuesta)
                        {
                            <tr>
                                <td class="text-center">@item.IdEncuesta</td>
                                <td class="text-center">@Model.Carrera</td>
                                <td class="text-center">@Model.Ciclo</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                            @AddEditFDCResource.MaintenanceSurveyGRAOpciones
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                            <li role="presentation"><a href="@Url.Action("AddEditFindSurveyGRA", "Register", new { IdEncuesta = item.IdEncuesta } )" role="menuitem"><i class="fa fa-sticky-note"></i> @AddEditFDCResource.KeyWordsHallazgo</a></li>
                                            <li role="presentation"><a href="@Url.Action("AddEditSurveyGRA", "Register", new { EncuestaId = item.IdEncuesta, SubmodalidadperiodoacademicoId = item.IdSubModalidadPeriodoAcademico })" role="menuitem"><i class="fa fa-edit"></i> @AddEditFDCResource.MaintenanceSurveyGRAEditar</a></li>

                                            <li role="presentation"><a class="delete" href="#" @Url.ModalHelperFor("_ConfirmacionDeleteEncuesta", "Maintenance", new { EncuestaId = item.IdEncuesta , Cantidad = Model.Cantidad}) role="menuitem"><i class="fa fa-trash"></i> @AddEditFDCResource.MaintenanceSurveyGRAEliminar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
        $("#searchInput").keyup(function () {
            //split the current value of searchInput
            var data = this.value.toUpperCase().split(" ");
            //create a jquery object of the rows
            var jo = $("#encuestas").find("tr");
            if (this.value == "") {
                jo.show();
                return;
            }
            //hide all the rows
            jo.hide();

            //Recusively filter the jquery object to get results.
            jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.is(":contains('" + data[d] + "')")) {
                        return true;
                    }
                }
                return false;
            })
            //show the rows that match.
            .show();
        }).focus(function () {
            this.value = '';
            $(this).css({
                "color": "black"
            });
            $(this).unbind('focus');
        }).css({
            "color": "#C0C0C0"
        });
    </script>
}