﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Maintenance.MantenimientoEncuestaEVDViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey

@{
    ViewBag.Title = SurveyResources.TituloMantenimientoEVD;
    ViewBag.Icon = "list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementEVD", "Survey")">@AddEditFDCResource.KeyWordsEncuestaGraduando</a></li>
}
<form method="get" action="@Url.Action("MantenimientoEncuestaEVD","Maintenance")">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-binoculars"></i> @AddEditFDCResource.KeyWordsFiltrar</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">@SurveyResources.PeriodoAcademico</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdPeriodoAcademico, Model.LstPeriodoAcademico, new { @class = "form-control", @id = "PeriodoAcademico" })
                        </div>
                        <div class="col-md-2"><label class="label-survey">@SurveyResources.Modulos</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdModulo, Model.LstModulo, new { @class = "form-control", @id = "Modulo" })
                        </div>
                    </div>
                </div>

                <br />
                <div class="pull-right">
                    <div class="col-md-4">
                        <a id="clear-all" class="btn btn-default"><i class="fa fa-eraser"></i> </a>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-dark"><i class="fa fa-search"></i> @AddEditFDCResource.ButtonsOptionsSurveyBuscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> @AddEditFDCResource.MaintenanceSurveyGRAResultados:</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="">
                        <div class="col-md-2 text-center">
                            <label class="label-survey"><i class="fa fa-filter"></i> @AddEditFDCResource.KeyWordsFiltrar </label>
                        </div>
                        <div class="col-md-4">
                            <input id="searchInput" class="form-control" style="text-transform: uppercase;"><br />
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr style="background-color: #FF1901;">
                            <th class="text-center" style="color:white;">@SurveyResources.PeriodoAcademico</th>
                            <th class="text-center" style="color:white;">@SurveyResources.Modulo</th>
                            <th class="text-center" style="color:white;">@SurveyResources.Codigo</th>
                            <th class="text-center" style="color:white;">Total</th>
 
                            <th class="text-center" style="color:white;">Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="encuestas">
                        @foreach (var item in Model.LstEncuestasEVD)
                        {
                            <tr>
                                <td class="text-center"> @item.CicloAcademico</td>
                                <td class="text-center">@( language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol.ToUpper() : item.NombreIngles.ToUpper())</td>
                                <td class="text-center">@item.Codigo</td>
                                <td class="text-center">@item.CantidadTotalDelegados</td>
                                <td class="text-center">@item.Estado</td>                             
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                            @AddEditFDCResource.MaintenanceSurveyGRAOpciones
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                            <li role="presentation"><a href="@Url.Action("DetalleEncuestaEVD", "Maintenance", new { IdEncuestaVirtualDelegado = @item.IdEncuestaVirtualDelegado, CicloAcademico = @item.CicloAcademico
                                                                        ,Cantidad = @item.CantidadTotalDelegados, IdModulo = @item.IdModulo})" role="menuitem"><i class="fa fa-tasks"></i> @AddEditFDCResource.MaintenanceSurveyGRADetalle</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.PagedListPager(Model.LstEncuestasEVD, page => Url.Action("MantenimientoEncuestaEVD", new { numeroPagina = page }), ConstantHelpers.TwitterBootstrapPagerAligned)
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
        $("#searchInput").keyup(function () {
            //split the current value of searchInput
            var data = this.value.toUpperCase().split(" ");
            //create a jquery object of the rows
            var jo = $("#encuestas").find("tr");
            if (this.value == "") {
                jo.show();
                return;
            }
            //hide all the rows
            jo.hide();

            //Recusively filter the jquery object to get results.
            jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.is(":contains('" + data[d] + "')")) {
                        return true;
                    }
                }
                return false;
            })
            //show the rows that match.
            .show();
        }).focus(function () {
            this.value = '';
            $(this).css({
                "color": "black"
            });
            $(this).unbind('focus');
        }).css({
            "color": "#C0C0C0"
        });

       $(document).ready(function () {
            $('#PeriodoAcademico').select2({ witdth: '100%' });
            $('#Modulo').select2({ witdth: '100%' });

            $('#PeriodoAcademico').change(function () {
                MostrarModulos();
            });


            function MostrarModulos() {

                var PeriodoAcademicoId = $('#PeriodoAcademico').val();

                $.ajax({
                    url: '@Url.Action("GetModuloByCiclo","Json")',
                    data: { IdPeriodoAcademico: PeriodoAcademicoId },
                    dataType: "json",
                    success: function (data) {
                        $("#Modulo").empty();

                        for (i = 0; i < data.length; i++) {

                            var texto = data[i]["Text"];

                            if ($('#Modulo option:contains(' + texto + ')').length) {
                                continue;
                            }
                            $("#Modulo").append($('<option>').text(texto).attr('value', data[i]["Value"]));
                            $('#Modulo').val(data[i]["Value"]).trigger('change');
                        }
                    }, beforeSend: function () {
                        $("#Modulo").empty();
                        $("#Modulo").append($('<option>').text("Cargando...").attr('value', ""));
                      
                    },
                });
            }

        });   
    </script>
}
