﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Maintenance.MantenimientoEncuestaFDCViewModel
@{
    ViewBag.Title = AddEditFDCResource.MaintenanceSurveyFDCTitulo;
    ViewBag.Icon = "list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementFDC", "Survey")">@AddEditFDCResource.KeyWordsEncuestaFDC</a></li>
}

<form method="get" action="@Url.Action("MantenimientoEncuestaFDC","Maintenance")">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-binoculars"></i> @AddEditFDCResource.KeyWordsFiltrar</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCiclo</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdCiclo, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"),
                                         language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                                         {
                                             @class = "form-control select2-select",
                                             @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                                             @data_plugin = "select2",
                                             @data_source_url = Url.Action("GetCursoBySedePeriodo", "Json"),
                                             @data_update_target = "#IdCurso",
                                             @data_filter = "IdPeriodoAcademico"

                                         })
                        </div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsSede</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdSede, new SelectList(Model.lstSede, "IdSede", "Nombre"),
                                         language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new { @class = "form-control select2-select" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">

                        <div class="col-md-2"><label class="label-survey"> @AddEditFDCResource.KeyWordsCurso</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdCurso, new SelectList(Model.lstCurso, "IdCurso", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                       {
                           @class = "form-control select2-select",
                           @data_plugin = "select2",
                           @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                           @data_source_url = Url.Action("GetSeccionByCurso", "Json"),
                           @data_update_target = "#IdSeccion",
                           @data_value_member = "id",
                           @data_text_member = "text",
                           @data_filter = "cursoId",
                           disabled = true
                       })
                        </div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsSeccion</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdSeccion, new SelectList(Model.lstSeccion, "IdSeccion", "Codigo"), language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                       {
                           @class = "form-control select2-select",
                           @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                           @data_value_member = "IdSeccion",
                           @data_text_member = "Codigo",
                           disabled = true
                       })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">

                        <div class="col-md-2"><label class="label-survey"> @AddEditFDCResource.KeyWordsEstado</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdEstado, new SelectList(Model.lstEstado, "IdEstado", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new { @class = "form-control select2-select" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="pull-right">
                    <div class="col-md-4">
                        <a id="clear-all" class="btn btn-default"><i class="fa fa-eraser"></i> </a>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-dark"><i class="fa fa-search"></i> @AddEditFDCResource.ButtonsOptionsSurveyBuscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> @AddEditFDCResource.MaintenanceSurveyFDCResultados:</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="">
                        <div class="col-md-2 text-center">
                            <label class="label-survey"><i class="fa fa-filter"></i> @AddEditFDCResource.KeyWordsFiltrar </label>
                        </div>
                        <div class="col-md-4">
                            <input id="searchInput" class="form-control" style="text-transform: uppercase;"><br />
                        </div>
                        <a class="pull-right btn btn-warning" href="@Url.Action("ListFindOutcomeSurveyFDC", "Register", new { TipoEncuesta = ConstantHelpers.ENCUESTA.FDC, IdPeriodoAcademico = Session.GetPeriodoAcademicoId() })"><i class="fa fa-sign-in"></i> Hallazgos Outcomes</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr style="background-color: #FF1901;">
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsCiclo</th>
                            <th class="text-center" style="color:white;">Código Curso</th>
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsCurso</th>
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsSede</th>
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsSeccion</th>
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsPromedio</th>
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsEstado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="encuestas">
                        @foreach (var item in Model.lstEncuestas)
                        {
                            <tr>
                                <td class="text-center">@item.PeriodoAcademico.CicloAcademico</td>
                                <td class="text-center">@item.Curso.Codigo</td>
                                <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.Curso.NombreEspanol.ToUpper() : item.Curso.NombreIngles.ToUpper())</td>
                                <td class="text-center">@item.Sede.Codigo.ToUpper()</td>
                                <td class="text-center">@item.Seccion.Codigo.ToUpper()</td>
                                <td class="text-center">@item.PuntajeTotal</td>
                                <td class="text-center">@Html.Raw(ConstantHelpers.GetSpanEstadoFDC(item.EstadoEncuesta.Acronimo, (language == ConstantHelpers.CULTURE.ESPANOL ? item.EstadoEncuesta.NombreEspanol : item.EstadoEncuesta.NombreIngles)))</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                            @AddEditFDCResource.MaintenanceSurveyFDCOpciones
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                            <li role="presentation"><a href="@Url.Action("AddEditFindSurveyFDC", "Register", new { IdEncuesta = item.IdEncuesta, IdPeriodoAcademico = item.IdPeriodoAcademico } )" role="menuitem"><i class="fa fa-sticky-note"></i> @AddEditFDCResource.KeyWordsHallazgo</a></li>
                                            <li role="presentation"><a href="@Url.Action("AddEditSurveyFDC", "Register", new { EncuestaId = item.IdEncuesta})" role="menuitem"><i class="fa fa-edit"></i> @AddEditFDCResource.MaintenanceSurveyFDCEditar</a></li>
                                            <li role="presentation"><a @Url.ModalHelperFor("_AsignarEstado", "Maintenance", new { EncuestaId = item.IdEncuesta }) role="menuitem"><i class="fa fa-cube"></i> @AddEditFDCResource.MaintenanceSurveyFDCEstado</a></li>
                                            <li role="presentation"><a class="delete" href="#" @Url.ModalHelperFor("_ConfirmacionDeleteEncuesta", "Maintenance", new { EncuestaId = item.IdEncuesta }) role="menuitem"><i class="fa fa-trash"></i> @AddEditFDCResource.MaintenanceSurveyFDCEliminar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.PagedListPager(Model.lstEncuestas, page => Url.Action("MantenimientoEncuestaFDC", new
       {
           numeroPagina = page,
           IdCiclo = Model.IdCiclo,
           IdAcreditadora = Model.IdAcreditadora,
           IdCarrera = Model.IdCarrera,
           IdComision = Model.IdComision,
           IdSede = Model.IdSede,
           IdSeccion = Model.IdSeccion,
           IdEstado = Model.IdEstado,
           IdCurso = Model.IdCurso
       }), ConstantHelpers.TwitterBootstrapPagerAligned)
        </div>
    </div>
</div>

@section Scripts{

    <script>
        //$(window).load(function () {
        //    $('#loading').hide();
        //});
        //$(document).on('change', '[data-plugin="select2"]', function (e) {
        //     Valor seleccionado
        //    var selectedId = $(this).val();

        //    if (selectedId != "") {
        //         Nombre del parámetro de filtro
        //        var dataFilter = $(this).attr('data-filter');

        //         Url de datos json
        //        var sourceUrl = $(this).attr('data-source-url');

        //         Select a actualizar
        //        var updateTarget = $(this).attr('data-update-target');

        //        var postData = {};
        //        postData[dataFilter] = selectedId;
        //        var $updateTarget = $(updateTarget);
        //        $updateTarget.attr('disabled', 'disabled')
        //        $updateTarget.find('option[value!=""]').remove();

        //        $.ajax({
        //            type: 'POST',
        //            url: sourceUrl,
        //            data: postData,
        //            dataType: 'json',
        //            async: false,
        //            success: function (data) {
        //                var $updateTarget = $(updateTarget);
        //                var valueMember = $updateTarget.attr('data-value-member')
        //                var textMember = $updateTarget.attr('data-text-member')
        //                for (i = 0; i < data.length; i++) {
        //                    $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
        //                }
        //                $updateTarget.removeAttr('disabled');
        //                $updateTarget.trigger('change');
        //            },
        //            beforeSend: function () {

        //            },
        //            complete: function () {

        //            }
        //        });
        //    }
        //});
        $("#searchInput").keyup(function () {
            //split the current value of searchInput
            var data = this.value.toUpperCase().split(" ");
            //create a jquery object of the rows
            var jo = $("#encuestas").find("tr");
            if (this.value == "") {
                jo.show();
                return;
            }
            //hide all the rows
            jo.hide();

            //Recusively filter the jquery object to get results.
            jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.is(":contains('" + data[d] + "')")) {
                        return true;
                    }
                }
                return false;
            })
            //show the rows that match.
            .show();
        }).focus(function () {
            this.value = '';
            $(this).css({
                "color": "black"
            });
            $(this).unbind('focus');
        }).css({
            "color": "#C0C0C0"
        });

        $(document).on('change', '[data-plugin="select2"]', function (e) {
            // Valor seleccionado
            var selectedId = $(this).val();

            if (selectedId != "") {
                // Nombre del parámetro de filtro
                var dataFilter = $(this).attr('data-filter');

                // Url de datos json
                var sourceUrl = $(this).attr('data-source-url');

                // Select a actualizar
                var updateTarget = $(this).attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
                postData['IdAcreditadora'] = $('#IdAcreditadora').val();
                postData['IdPeriodoAcademico'] = $('#IdCiclo').val();
                var $updateTarget = $(updateTarget);
                $updateTarget.attr('disabled', 'disabled')
                $updateTarget.find('option[value!=""]').remove();

                $.ajax({
                    type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        var $updateTarget = $(updateTarget);
                        var valueMember = $updateTarget.attr('data-value-member')
                        var textMember = $updateTarget.attr('data-text-member')
                        for (i = 0; i < data.length; i++) {
                            $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                        }
                        $updateTarget.removeAttr('disabled');
                        $updateTarget.trigger('change');
                    },
                    beforeSend: function () {

                    },
                    complete: function () {

                    }
                });
            }
        });
        @if (Model.IdCiclo.HasValue)
        {
            @:$('#IdCiclo').val(@Model.IdCiclo).trigger('change');
        }
        @if (Model.IdSede.HasValue)
        {
            @:$('#IdSede').val(@Model.IdSede).trigger('change');
        }
        @if (Model.IdCurso.HasValue)
        {
            @:$('#IdCurso').val(@Model.IdCurso).trigger('change');
        }
        @if (Model.IdSeccion.HasValue)
        {
            @:$('#IdSeccion').val(@Model.IdSeccion).trigger('change');
        }
        @if (Model.IdEstado.HasValue)
        {
            @:$('#IdEstado').val(@Model.IdEstado).trigger('change');
        }
    </script>
}