﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Maintenance.MantenimientoEncuestaVirtualGRAViewModel
@{
    ViewBag.Title = AddEditFDCResource.MaintenanceSurveyGRATitulo;
    ViewBag.Icon = "list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementGRA", "Survey")">@AddEditFDCResource.KeyWordsEncuestaGraduando</a></li>
}
<form method="get" action="@Url.Action("MantenimientoEncuestaVirtualGRA","Maintenance")">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-binoculars"></i> @AddEditFDCResource.KeyWordsFiltrar</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCiclo</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdCiclo, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), 
                            language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new {
                                @class = "form-control select2-select",
                                @data_plugin = "select2",
                                @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                                @data_source_url = Url.Action("GetCarreraByCiclo", "Json"),
                                @data_update_target = "#IdCarrera",
                                @data_filter = "cicloId"
                            })
                        </div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCarrera</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdCarrera, new SelectList(Model.lstCarrera, "IdCarrera", 
                           language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"),
                                    language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                                    {
                               @class = "form-control select2-select",
                               @data_plugin = "select2",
                               @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                               @data_value_member = "IdCarrera",
                               @data_text_member = "NombreEspanol",
                               @data_filter = "CarreraId"
                           })
                        </div>
                    </div>
                </div>

                <br />
                <div class="pull-right">
                    <div class="col-md-4">
                        <a id="clear-all" class="btn btn-default"><i class="fa fa-eraser"></i> </a>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-dark"><i class="fa fa-search"></i> @AddEditFDCResource.ButtonsOptionsSurveyBuscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> @AddEditFDCResource.MaintenanceSurveyGRAResultados:</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="">
                        <div class="col-md-2 text-center">
                            <label class="label-survey"><i class="fa fa-filter"></i> @AddEditFDCResource.KeyWordsFiltrar </label>
                        </div>
                        <div class="col-md-4">
                            <input id="searchInput" class="form-control" style="text-transform: uppercase;"><br />
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">                                                      <!--Para opcion_rastro=1 indicarle que debe volver a este mantenimiento virtual-->
                                <a class="btn btn-warning" href="@Url.Action("LstHallazgosGRA","Register",new { opcion_rastro = 1})"><i class="fa fa-sticky-note"></i> @AddEditFDCResource.KeyWordsRegistrarHallazgo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr style="background-color: #FF1901;">
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsCarrera</th>
                            <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsCiclo</th>
                            <th class="text-center" style="color:white;">@AddEditFDCResource.MaintenanceSurveyGRATotal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="encuestas">
                        @foreach (var item in Model.lstEncuestas)
                        {
                            <tr>
                                <td class="text-center">@( language == ConstantHelpers.CULTURE.ESPANOL ? item.CarreraEspanol.ToUpper() : item.CarreraIngles.ToUpper())</td>
                                <td class="text-center">@item.PeriodoAcademico</td>
                                <td class="text-center">@item.Cantidad</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                            @AddEditFDCResource.MaintenanceSurveyGRAOpciones
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                            <li role="presentation"><a href="@Url.Action("DetalleEncuestaVirtualGRA", "Maintenance", new { Carrera = item.IdCarrera , Ciclo = item.IdSubModalidadPeriodoAcademico })" role="menuitem"><i class="fa fa-tasks"></i> @AddEditFDCResource.MaintenanceSurveyGRADetalle</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.PagedListPager(Model.lstEncuestas, page => Url.Action("MantenimientoEncuestaVirtualGRA", new { numeroPagina = page }), ConstantHelpers.TwitterBootstrapPagerAligned)
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
        $("#searchInput").keyup(function () {
            //split the current value of searchInput
            var data = this.value.toUpperCase().split(" ");
            //create a jquery object of the rows
            var jo = $("#encuestas").find("tr");
            if (this.value == "") {
                jo.show();
                return;
            }
            //hide all the rows
            jo.hide();

            //Recusively filter the jquery object to get results.
            jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.is(":contains('" + data[d] + "')")) {
                        return true;
                    }
                }
                return false;
            })
            //show the rows that match.
            .show();
        }).focus(function () {
            this.value = '';
            $(this).css({
                "color": "black"
            });
            $(this).unbind('focus');
        }).css({
            "color": "#C0C0C0"
        });

        $(document).on('change', '[data-plugin="select2"]', function (e) {
            // Valor seleccionado
            var selectedId = $(this).val();

            if (selectedId != "") {
                // Nombre del parámetro de filtro
                var dataFilter = $(this).attr('data-filter');

                // Url de datos json
                var sourceUrl = $(this).attr('data-source-url');

                // Select a actualizar
                var updateTarget = $(this).attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
                postData['IdPeriodoAcademico'] = $('#IdCiclo').val();
                var $updateTarget = $(updateTarget);
                $updateTarget.find('option[value!=""]').remove();

                $.ajax({
                    type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        var $updateTarget = $(updateTarget);
                        var valueMember = $updateTarget.attr('data-value-member')
                        var textMember = $updateTarget.attr('data-text-member')
                        for (i = 0; i < data.length; i++) {
                            $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                        }
                        //$updateTarget.trigger('change');
                    }
                });
            }
        });
    </script>
}
