﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Maintenance.MantenimientoEncuestaPPPViewModel
@{
    ViewBag.Title = AddEditFDCResource.MaintenanceSurveyPPPTitulo;
    ViewBag.Icon = "check-square-o";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementPPP", "Survey")">@AddEditFDCResource.KeyWordsEncuestaPPP</a></li>
}

    <form method="get" action="@Url.Action("MantenimientoEncuestaPPP","Maintenance")" >
        <div class="row">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> @AddEditFDCResource.KeyWordsFiltrar</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCiclo</label></div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(x => x.IdCiclo, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), 
                                language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new {
                                    @class = "form-control select2-select",
                                    @data_plugin = "select2",
                                    @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                                    @data_source_url = Url.Action("GetAcreditadoraByCiclo", "Json"),
                                    @data_update_target = "#IdAcreditadora",
                                    @data_filter = "IdPeriodoAcademico"
                                })
                            </div>
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCarrera</label></div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(x => x.IdCarrera, new SelectList(Model.lstCarrera, "IdCarrera",
                               language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"),
                                        language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                               {
                                   @class = "form-control select2-select",
                                   @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                                   @data_source_url = Url.Action("GetComisionByCarrera", "Json"),
                                   @data_update_target = "#IdComision",
                                   @data_filter = "CarreraId"
                               })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsSede</label></div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(x => x.IdSede, new SelectList(Model.lstSede, "IdSede", "Nombre"),
                                         language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new { @class = "form-control select2-select" })
                            </div>
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPNroPractica</label></div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(x => x.NroPractica, new SelectList(Model.lstNroPractica, "Value", "Text"),
                                         language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new { @class = "form-control select2-select" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="text-right">
                        <div class="col-md-12">
                            <a id="clear-all" class="btn btn-default"><i class="fa fa-eraser"></i> </a>
                            <button class="btn btn-dark"><i class="fa fa-search"></i> @AddEditFDCResource.ButtonsOptionsSurveyBuscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> @AddEditFDCResource.MaintenanceSurveyPPPResultados:</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                        <div class="form-group">
                            <div class="">
                                <div class="col-md-2 text-center">
                                    <label class="label-survey"><i class="fa fa-filter"></i> @AddEditFDCResource.KeyWordsFiltrar </label>
                                </div>
                                <div class="col-md-10">
                                    <input id="searchInput" class="form-control" style="text-transform: uppercase;"><br />
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <table class="table table-hover table-striped" id="table">
                        <thead>
                            <tr style="background-color: #FF1901;">
                                <th class="text-center" style="color:white;">@AddEditFDCResource.MaintenanceSurveyPPPCodigoEncuesta</th>
                                <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsCodigoAlumno</th>
                                <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsAlumno</th>
                                <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsCarrera</th>
                                <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsCiclo</th>
                                <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsSede</th>
                                <th class="text-center" style="color:white;">@AddEditFDCResource.MaintenanceSurveyPPPNroPractica</th>
                                <th class="text-center" style="color:white;">@AddEditFDCResource.MaintenanceSurveyPPPEmpresa</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="encuestas">
                            @foreach (var item in Model.LstEncuestas)
							{
                                <tr>
                                    <td class="text-center">@item.IdEncuesta</td>
                                    <td class="text-center">@item.CodigoAlumno</td>
                                    <td class="text-center">@(item.Alumno == null ? "-" : item.Alumno.Nombres.ToUpper() + ' ' + item.Alumno.Apellidos.ToUpper())</td>
                                    <td class="text-center">@(item.Alumno == null ? "-" : language == ConstantHelpers.CULTURE.ESPANOL ? item.Carrera.NombreEspanol.ToUpper() : item.Carrera.NombreIngles.ToUpper())</td>
                                    <td class="text-center">@(item.SubModalidadPeriodoAcademico == null ? "-" :item.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico)</td>
                                    <td class="text-center">@(item.Sede == null ? "-" : item.Sede.Codigo)</td>
                                    <td class="text-center">@(item.NumeroPractica == null ? "-" : item.NumeroPractica.numero.ToString())</td>
                                    <td class="text-center">@(item.RazonSocial == null ? "-": item.RazonSocial.ToUpper())</td>
                                    <td class="text-center">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                @AddEditFDCResource.MaintenanceSurveyPPPOpciones
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                <li role="presentation"><a href="@Url.Action("AddEditFindSurveyPPP", "Register", new { IdEncuesta = item.IdEncuesta, CicloId=item.SubModalidadPeriodoAcademico.IdPeriodoAcademico } )" role="menuitem"><i class="fa fa-sticky-note"></i> @AddEditFDCResource.KeyWordsHallazgo</a></li>
                                                <li role="presentation"><a href="@Url.Action("AddEditSurveyPPP", "Register", new { EncuestaId = @item.IdEncuesta, CicloId=@item.SubModalidadPeriodoAcademico.IdPeriodoAcademico  })" role="menuitem"><i class="fa fa-edit"></i> @AddEditFDCResource.MaintenanceSurveyPPPEditar</a></li>
                                                <li role="presentation"><a class="delete" href="#" @Url.ModalHelperFor("_ConfirmacionDeleteEncuesta", "Maintenance", new { EncuestaId = item.IdEncuesta }) role="menuitem"><i class="fa fa-trash"></i> @AddEditFDCResource.MaintenanceSurveyPPPEliminar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @Html.PagedListPager(Model.LstEncuestas, page => Url.Action("MantenimientoEncuestaPPP", new { numeroPagina = page, IdCiclo = Model.IdCiclo, IdAcreditadora = Model.IdAcreditadora, IdCarrera = Model.IdCarrera, IdComision = Model.IdComision, IdSede = Model.IdSede, NroPractica = Model.NroPractica }), ConstantHelpers.TwitterBootstrapPagerAligned)
            </div>
        </div>
    </div>


    @section Scripts{
        <script>
            $(window).load(function () {
                $('#loading').hide();
            });
            $("#searchInput").keyup(function () {
                //split the current value of searchInput
                var data = this.value.toUpperCase().split(" ");
                //create a jquery object of the rows
                var jo = $("#encuestas").find("tr");
                if (this.value == "") {
                    jo.show();
                    return;
                }
                //hide all the rows
                jo.hide();

                //Recusively filter the jquery object to get results.
                jo.filter(function (i, v) {
                    var $t = $(this);
                    for (var d = 0; d < data.length; ++d) {
                        if ($t.is(":contains('" + data[d] + "')")) {
                            return true;
                        }
                    }
                    return false;
                })
                //show the rows that match.
                .show();
            }).focus(function () {
                this.value = '';
                $(this).css({
                    "color": "black"
                });
                $(this).unbind('focus');
            }).css({
                "color": "#C0C0C0"
            });

            $(document).on('change', '[data-plugin="select2"]', function (e) {
                // Valor seleccionado
                var selectedId = $(this).val();

                if (selectedId != "") {
                    // Nombre del parámetro de filtro
                    var dataFilter = $(this).attr('data-filter');

                    // Url de datos json
                    var sourceUrl = $(this).attr('data-source-url');

                    // Select a actualizar
                    var updateTarget = $(this).attr('data-update-target');

                    var postData = {};
                    postData[dataFilter] = selectedId;
                    postData['IdAcreditadora'] = $('#IdAcreditadora').val();
                    postData['IdPeriodoAcademico'] = $('#IdCiclo').val();
                    var $updateTarget = $(updateTarget);
                    $updateTarget.attr('disabled', 'disabled')
                    $updateTarget.find('option[value!=""]').remove();

                    $.ajax({
                        type: 'POST',
                        url: sourceUrl,
                        data: postData,
                        dataType: 'json',
                        async: false,
                        success: function (data) {
                            var $updateTarget = $(updateTarget);
                            var valueMember = $updateTarget.attr('data-value-member')
                            var textMember = $updateTarget.attr('data-text-member')
                            for (i = 0; i < data.length; i++) {
                                $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                            }
                            $updateTarget.removeAttr('disabled');
                            $updateTarget.trigger('change');
                        },
                        beforeSend: function () {

                        },
                        complete: function () {

                        }
                    });
                }
            });
        </script>
    }
