﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse.DowloadRubricViewModel
@{
    ViewBag.Title = Html.Raw(RubricCourseResource.BulkDownloadRubric);
    ViewBag.Icon = "bars";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Styles{
    <style>
        .panel-body {
            padding-top: 0px !important;
        }
        
        .checkbox-custom {
            padding-right: 20px;
            padding-top: 10px;
        }
    </style>    

}

<div class="row">
    <div class="panel filters">
        
        <div class="row">
            <div class="col-md-4">
                <h3 class="panel-title"><i class="fa fa-filter"></i> @Html.Raw(RubricCourseResource.DownloadRubric)</h3>
            </div>
            <div class="col-md-8" style="text-align:right">
                <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" id="checkCapstone" />
                    <label>Curso Capstone</label>
                </div>
            </div>
            
        </div>
        
        <div class="panel-body row">
            <br>
            <form id="formId">
                <div class="row" id="DescargaCursoCapstone">

                    <div class="col-md-2"><label class="label-survey" id="label_cursoCapstone">@Html.Raw(RubricCourseResource.Course)</label></div>
                    <div class="col-md-4" id="cursoCapstone">
                        @Html.DropDownListFor(m => Model.idCurso, new SelectList(Model.lstCursoCapstone, "IdCurso",
                     language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"),
                     language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                     {
                         @class = "form-control",
                         @data_plugin = "select2",
                         @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                         @required = true

                     })
                    </div>


                </div>

                <div class="row" id="DescargaCurso">

                    <div class="col-md-2"><label class="label-survey" id="label_curso">@Html.Raw(RubricCourseResource.Course)</label></div>
                    <div class="col-md-4" id="curso">
                        @Html.DropDownListFor(m => Model.idCurso, new SelectList(Model.lstCurso, "IdCurso",
                     language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"),
                     language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                     {
                         @class = "form-control",
                         @data_plugin = "select2",
                         @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                         @data_update_target = "#idSeccion",
                         @required = true
                     })
                    </div>

                    <div class="col-md-2"><label class="label-survey" id="label_Seccion">@Html.Raw(RubricCourseResource.Section)</label></div>
                    <div class="col-md-4" id="seccion">
                        @Html.DropDownListFor(m => Model.idSeccion, new SelectList(Model.lstSection, "IdSeccion", "Codigo"),
                     language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                     {
                         @data_text_member = "Codigo",
                         @data_value_member = "IdSeccion",
                         @class = "form-control",
                         @data_plugin = "select2",
                         @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                         @data_update_target = "#download",
                         @required = true,
                         @disabled = true
                     })
                    </div>
                </div>
                <div class="row" id="TypeName">
                    <div class="col-md-2"><label class="label-survey" id="label_RubricTypeName">@RubricCourseResource.RubricTypeName</label></div>
                    <div class="col-md-4" id="RubricTypeName">
                        @Html.DropDownListFor(m => Model.tipoRubrica, new SelectList(Model.lstTipoRubrica, "Value", "Label"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                      , new
                      {
                          @class = "form-control select2-select",
                          required = true

                           })
                        @Html.ValidationMessageFor(x => x.tipoRubrica)
                    </div>
                </div>
                <br>


                <div class="panel-footer text-right">
                    <a id="downloadCurso" class="btn btn-primary eer" disabled>
                        <i class="fa fa-download"></i>
                        @Html.Raw(RubricCourseResource.Download)
                    </a>
                </div>

                <div class="panel-footer text-right" id="clase_dowloadCurso_Capstone" hidden>
                    <a id="downloadCurso_Capstone" class="btn btn-primary eer">
                        <i class="fa fa-download"></i>
                        @Html.Raw(RubricCourseResource.Download)
                    </a>
                </div>
            </form>








        </div>
            </div>
</div>



@section Scripts{
    <script>
        function error(message) {
                swal({
                    title: message,
                    type: 'error'
                });
            }

            function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }

            function closeLoading() {
                swal.close();
            }

            function showSwal() {
                var texto = '@language' == "es-PE" ? "Debe llenar los campos" : "you must fill the fields";
                swal({
                    title: "",
                    text: texto,
                    type: "warning",
                    showCancelButton: false,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Ok",
                    closeOnConfirm: true
                });
        }

        $('#downloadCurso_Capstone').on('click', function () {
            var form = $('#formId');
            var idCurso = $('#idCurso').val();
            if (form.valid()) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DownloadZipRubric", "RubricCourse")',
                    cache: false,
                    data: { idCurso: idCurso, idSection: 0, tipoRubrica:0 },
                    beforeSend: function () {
                        showLoading();
                    },
                    success: function (response) {
                        var url = '@Url.Action("Download", "RubricCourse")';
                        window.location = url+'?fileGuid=' + response.FileGuid
                            + '&filename=' + response.FileName;
                    },
                    error: function (data) {
                        error('error');
                    },
                    complete: function () {
                        closeLoading();
                    }
                });
            }
            else {
                showSwal();
            }
        });

        $('#downloadCurso').on('click', function () {
            var form = $('#formId');
            var idCurso = $('#idCurso').val();
            var idSection = $('#idSeccion').val();
            var tipoRubrica = $('#tipoRubrica').val();
            if (form.valid()) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DownloadZipRubric", "RubricCourse")',
                    cache: false,
                    data: { idCurso: idCurso, idSection: idSection, tipoRubrica: tipoRubrica },
                    beforeSend: function () {
                        showLoading();
                    },
                    success: function (response) {
                        var url = '@Url.Action("Download", "RubricCourse")';
                        window.location = url+'?fileGuid=' + response.FileGuid
                            + '&filename=' + response.FileName;
                    },
                    error: function (data) {
                        error('error');
                    },
                    complete: function () {
                        closeLoading();
                    }
                });
            }
            else {
                showSwal();
            }
        });


        $("#DescargaCursoCapstone").hide();
        $('[data-plugin="select2"]').change(function () {
            var updateTarget = $(this).attr('data-update-target');
            if (updateTarget === '#idSeccion') {
                $(updateTarget).attr('disabled', 'disabled')
                $(updateTarget).find('option[value!=""]').remove();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSectionByCourse", "RubricCourse")',
                    data: {
                        idCurso: $(this).val()
                    },
                    dataType: 'json',
                    async: true,
                    error: function () {
                        //error(@Html.Raw(RubricCourseResource.SectionLoadingFailure));
                    },
                    success: function (data) {

                        var valueMember = $(updateTarget).attr('data-value-member');
                        var textMember = $(updateTarget).attr('data-text-member');
                        for (i = 0; i < data.length; i++) {
                            $(updateTarget).append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                        }
                        $(updateTarget).removeAttr('disabled');
                        $('#idSeccion').removeAttr('disabled');
                        $(updateTarget).trigger('change');
                        $("#download").attr('disabled', 'disabled');

                    }
                });
            }
            else {
                    $(updateTarget).removeAttr('disabled');
            }
        });

    $('#download.btn.btn-primary.eer').on("click", function () {
            var result = $('#formZipReport').valid()
            console.log(result);
            if (result == false) {
                error("Se deben de completar todos los campos.")
                return false
            }

        });

        $("#checkCapstone").on('change', function () {
            var checked = $(this)[0].checked;
            console.log(checked);
            if (checked) {
                /*$("#seccion").hide();
                $("#RubricTypeName").hide();
                $("#label_RubricTypeName").hide();
                $("#label_Seccion").hide();
                $("#downloadCurso").hide();
                $("#clase_dowloadCurso_Capstone").show();
                $("#clase_Capstone").show();*/
                $("#DescargaCurso").hide();
                $("#TypeName").hide();
                $("#downloadCurso").hide();
                $("#clase_dowloadCurso_Capstone").show();
                $("#DescargaCursoCapstone").show();

            } else {

                /*$("#seccion").show();
                $("#RubricTypeName").show();
                $("#label_RubricTypeName").show();
                $("#label_Seccion").show();
                $("#downloadCurso").show();
                $("#clase_dowloadCurso_Capstone").hide();
                $("#clase_Capstone").hide();*/
                $("#DescargaCurso").show();
                $("#TypeName").show();
                $("#downloadCurso").show();
                $("#clase_dowloadCurso_Capstone").hide();
                $("#DescargaCursoCapstone").hide();
            }


        })


    </script>

}

