﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse.ConfigurationRubricViewModel
@{
    ViewBag.Title = Html.Raw(RubricCourseResource.RubricSetting);
    ViewBag.Icon = "cog";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@section Styles {
    <style>
        #add {
            margin-bottom: 10px;
            margin-left: 17px;
        }
     

        #header {
            background-color: #FF1901;
            color: white;
        }

        .table {
            width: 100% !important;
        }

            .table td {
                border: 1px solid;
            }

        .dato_puntaje {
            width: 100% !important;
        }

        input {
            border: none;
        }
        .dato_criterio::selection {
            color: white;
            background-color: white;
            text-shadow: 2px 2px 1px #fff;
        }

        .dato_porcentaje::selection {
            color: white;
            background-color: white;
            text-shadow: 2px 2px 1px #fff;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }

        .dato_porcentaje::placeholder {
            color: white;
        }

        .dato_porcentaje {
            width: 100%;
            height: 15px;
            text-align: center;
            background-color: #ff1901;
            color: white;
            border: 1px solid white;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: 4px;
            padding: 15px 5px 15px 5px;
        }

        .dato_criterio::placeholder {
            color: white;
        }

        .dato_criterio {
            width: 100%;
            height: 15px;
            text-align: center;
            background-color: #ff1901;
            color: white;
            border: 1px solid white;
            border-radius: 5px;
            margin: 2px 0px;
            padding: 15px 5px 15px 5px;
        }
        
        .pregunta_matriz {
            width: 10%;
        }

        .pregunta_rubric {
            width: 20%;
        }

        .criterios {
            width: 7%;
            height: auto;
        }
    </style>
}
<div class="panel filters">
    <input name="esModelFiltroParaAccionMejora" type="checkbox" hidden="hidden" value="False" id="c">
    <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-list"></i> Seleccione Curso y tipo de Rúbrica</h3><div class="panel-actions"><a aria-hidden="true" class="panel-action icon wb-minus" data-toggle="panel-collapse"></a></div></div>
    <div class="panel-body row">
        <div class="row">
            <div class="form-group col-xs-1">
                <label class="label-survey">@RubricCourseResource.Course :</label>
            </div>
            <div class="form-group col-xs-3">
                @Html.DropDownListFor(x => x.idCurso, new SelectList(Model.LstCurso, "Value", "Text"),
                language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                new {
                    @class = "form-control",
                    @id="idCurso",
                    @data_plugin = "select2"
                })
            </div>
            <div class="form-group col-xs-2" style="width: 12.666667%!important;">
                <label class="label-survey">@RubricCourseResource.RubricTypeName :</label>
            </div>
            <div class="form-group col-xs-3">
                @Html.DropDownListFor(m => Model.tipoRubrica, new SelectList(Model.lstTipoRubrica, "Value", "Label"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
              , new
              {
                  @class = "form-control select2-select",
                  required = true

                   })
                @Html.ValidationMessageFor(x => x.tipoRubrica)
            </div>
        </div>
    </div>
</div>

<div class="panel filters">
    <input name="esModelFiltroParaAccionMejora" type="checkbox" hidden="hidden" value="False" id="c">
    <div class="panel-heading">
        <h3 class="panel-title Title_header" style="font-size:23px;"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Agregar Criterios</h3>
        <input id="add" type="button" value="Agregar nuevo criterio" class="btn btn-primary btn add">
        <div class="table panel-body row">
            <table id="rubricTable" class="table">
                <tbody>
                    <tr id="header">
                        <td id="pregunta" class="pregunta_matriz">Preguntas / Criterios Calif.</td>
                        <td align="center" class="criterios"><input id="btnCriterio1" class="dato_criterio" type="text" placeholder="Criterio 1" style="background-color: #ff1901;color: white;">  <br> <input id="btnPorcentaje1" class="dato_porcentaje" type="number" placeholder="Click para asignar peso" min="0" max="100" style="background-color: #ff1901;color: white;"></td>
                        <td align="center" class="criterios"><input id="btnCriterio2" class="dato_criterio" type="text" placeholder="Critero 2" style="background-color: #ff1901;color: white;"><br> <input id="btnPorcentaje2" class="dato_porcentaje" type="number" placeholder="Click para asignar peso" min="0" max="100" style="background-color: #ff1901;color: white;"> </td>
                        <td align="center" class="criterios"><input id="btnCriterio3" class="dato_criterio" type="text" placeholder="Criterio 3" style="background-color: #ff1901;color: white;"> <br> <input id="btnPorcentaje3" class="dato_porcentaje" type="number" placeholder="Click para asignar peso" min="0" max="100" style="background-color: #ff1901;color: white;"></td>
                        <td align="center" style="width:8%; display:none;" class="hideElement">Puntaje</td>
                    </tr>
                    <!--<tr id="point">
                <td id="idTd0" class="dato_comentario0" contenteditable="true">Ingrese el pregunta de la rúbrica</td>
                <td id="idTd1" class="dato_comentario1" contenteditable="true">ingrese descripción de criterio</td>
                <td id="idTd2" class="dato_comentario2" contenteditable="true">ingrese descripción de criterio</td>
                <td id="idTd3" class="dato_comentario3" contenteditable="true">"ingrese descripción de criterio"</td>
                <td id="idTd4"><input class="dato_puntaje text-center" pattern="^(\d*\.)?\d+$" placeholder="ingrese puntaje" /></td>
            </tr>-->

                </tbody>
            </table>

            <div class="row">
                <div class="col-xs-6">
                    <button id="btnSaveCriterios" type="button" class="btn btn-primary" onclick="saveMatriz()">
                        Guardar Criterios
                    </button>
                </div>               
            </div>
            <div class="row">               
                <div class="col-xs-6">
                    <button id="btnSave" type="submit" class="btn btn-primary" onclick="saveMatriz()" style="display:none;">
                        Guardar configuración de rúbrica
                    </button>
                </div>
                <div class="col-xs-6 text-right hideElement" style="display:none;">
                    <i class="fa fa-calculator"> <input id="totalPuntaje" class="text-center" disabled="disabled" value="0" /></i>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var cursoId = 0
        var pesoMax = 0;
        var idRubricControl = 0;
        var lstIdRubricControlAcceptanceLevel = {};
        var arrayPesosNivelAceptacion = new Array;
        $(document).on("click", ".add", function () {
            var numCol = $('table#rubricTable tr#header td').length;
            var x = 0;
            $('#rubricTable').find('tr').each(function () {

                if (x == 0) {
                    console.log("Estoy");
                    $(this).find('td').eq(numCol - 2).after('<td align="center" class="criterios"> <input id="btnCriterio' + (numCol - 1) + '" class="dato_criterio" type="text" placeholder="Criterio' + (numCol - 1) + '"  style="background-color: #ff1901;color: white;"> <br> <input id="btnPorcentaje' + (numCol - 1) +'" class="dato_porcentaje" type="number" min="0" max="100" placeholder="Click para asignar peso" style="background-color: #ff1901;color: white;"></td>');
                    x = x + 1;
                } else {
                    $(this).find('td').eq(numCol - 2).after('<td class="dato_comentario' + (numCol-1) + '" contenteditable="true">"ingrese descripción de criterio"</td>');
                }

            });
        });


        $(document).on("click", ".addrow", function () {
            $("#rubricTable tr:last").after("<tr></tr>");
            $("#rubricTable tr:nth-child(1) td").each(function (i, e) {
                var numCol = $('table#rubricTable tr#header td').length;
                var numRow = $('table#rubricTable tr').length;
                if (i === numCol - 1) {
                    $("#rubricTable tr:last").append(`<td id="idTd4"><input class="dato_puntaje text-center" placeholder="ingrese puntaje"/>`);
                }
                else {
                    $("#rubricTable tr:last").append(`<td  class="dato_comentario${numRow -2}" contenteditable="true"></td>`);
                }
            });
        });


        $(document).on("keypress", ".dato_puntaje", function (e) {
            if (e.which === 0) e.data;
            if (e.which !== 8 && e.which !== 0 && e.which !== 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }

            if (e.which === 46 && $(this).val().indexOf('.') >= 0){
                return false;
            }
        });

        $(document).on("blur", "input.dato_puntaje", function () {
            var num = parseFloat($(this).val());
            var cleanNum = num.toFixed(2);
            $(this).val(cleanNum);
            if (num / cleanNum < 1) {
                callSwalAlert("Se redondeó a dos decimales ");
            }
        });

        $(document).on("change", ".dato_puntaje", function (e) {

            var total = 0;
            $(".dato_puntaje").each(function () {
                if (isNaN(parseFloat($(this).val()))){
                    total += 0;

                } else {
                    let value = $(this).val();
                    if (value.startsWith('.') || value.endsWith('.')) {
                        callSwal('El puntaje no puede empezar ni terminar en "."');
                    } else {
                        //aqui la validacion del .. y la cantidad de decimales
                        //value.match(reg);
                        //console.log(value);
                    }
                    total += parseFloat($(this).val());
                }
            });

            if (total <= (20 )) {
                if ($(this).val() === "" || $(this).val() == 0 ) {
                    callSwalAlert('Ingrese un valor mayor a 0');
                    $(this).css("color", "red");
                    $(this).val("0");
                } else {
                    $("#totalPuntaje").val(total.toFixed(2));
                    $(this).css("color", "#8e7676");
                }

            } else {
                $(this).css("color", "red");
                callSwal(`El puntaje máximo es $`);
            }
        });

        function saveMatriz() {    

            var rubricType = $("#tipoRubrica").val();
            if (rubricType == "") {
                callSwal('Debe seleccionar el tipo de rúbrica en la parte superior.');
                return false;
            }
            var idCourse = $('[data-plugin="select2"]').val();
            this.arrayPesosNivelAceptacion = new Array;
            if (idCourse == "") {
                callSwal('Debe Seleccionar un curso en la parte superior.');
                return false;
            }

            var trnum = $('table#rubricTable tbody tr#header td').length;
            var recalculo = trnum - 1;
            
            var porcentajeUtil = new Array();

            for (var i = 1; i < recalculo; i++) {
                var arrayCriterios = new Array();
                eval("var criterio_" + i + "= $('#btnCriterio" + i + "').val();");
                eval("var porcentaje_" + i + "= $('#btnPorcentaje" + i + "').val();");

                if (eval("criterio_" + i) === '') {
                    callSwal('Ingrese los criterios');
                    return false;
                }
                if (eval("porcentaje_" + i) > 100 || eval("porcentaje_" + i) < 0) {
                    callSwal('Los pesos deben estar entre 0 y 100');
                    return false;
                }
                if (eval("porcentaje_" + i) === '') {
                    callSwal('Ingrese un peso a los criterios');
                    return false;
                }

                if (eval("porcentaje_" + i) == null || isNaN(eval("porcentaje_" + i))) {
                    callSwal('El peso de los criterios tienen que ser numericos.');
                    return false;
                }

                arrayCriterios.push(eval("criterio_" + i));
                arrayCriterios.push(eval("porcentaje_" + i));
                this.pesoMax = pesoMax < parseFloat(eval("porcentaje_" + i)) ? parseFloat(eval("porcentaje_" + i)) : pesoMax;
                porcentajeUtil.push(parseInt(eval("porcentaje_" + i)));

                eval("var columna" + i + "= arrayCriterios.slice();");
                arrayPesosNivelAceptacion.push(eval("columna" + i));
            }

            let unico = [...new Set(porcentajeUtil)];
            if (unico.length != porcentajeUtil.length) {
                callSwal('No pueden haber pesos repetidos');
                return false;
            }
            
            let type = "saveAcceptanceLevel";
            let maxNumber = Math.max(...porcentajeUtil);
            this.cursoId = idCourse;
            if (maxNumber < 100) {
                confirmationSwall(maxNumber * 0.2, maxNumber, arrayPesosNivelAceptacion, idCourse , type, "");
                return false;
            }

            updateView();

         }

        function viewsArrayInput() {
            var numRow = $('table#rubricTable tr').length;

            var arrayRows = new Array;
            for (var i = 0; i < numRow; i++) {

                var arrayInput = new Array();
                var inputsValue = document.getElementsByClassName('dato_comentario' + i), namesValues = [].map.call(inputsValue, function (dataInput) {
                    arrayInput.push(dataInput.textContent);
                });

                for (var j = 0; j < arrayInput.length; j++) {
                    if (arrayInput[j] === "" || arrayInput[j] === null || arrayInput[j] === undefined) {
                        callSwal('No puede dejar ninguna pregunta o criterion vacío.');
                        return false;
                    }
                }
                eval("var row" + i + "= arrayInput.slice();");
                arrayRows.push(eval("row" + i));

            }

            var arrayPuntajeAux = new Array;

            var inputPoint = document.getElementsByClassName('dato_puntaje'), nameValues = [].map.call(inputPoint, function (data) {
                arrayPuntajeAux.push(data.value);
            });

            eval("var puntaje = arrayPuntajeAux.slice();");
            var arrayPuntaje = eval("puntaje");
            for (var index = 0; index < arrayPuntaje.length; index++) {
                if (arrayPuntaje[index] === "" || arrayPuntaje[index] === null || arrayPuntaje[index] === undefined) {
                    callSwal('No puede dejar ningún puntaje vacío.');
                    return false;
                }

                if (arrayPuntaje[index] === "0.00" || arrayPuntaje[index] === 'NaN' || arrayPuntaje[index] === "") {
                    callSwal('Existe un valor inválido. Verifique los puntajes');
                    return false;
                } else {
                    if (arrayPuntaje[index] > (20)) {
                        callSwal(`Ningún puntaje, ni la suma de ellos puede ser mayor a $20)}`);
                        return false;
                    }

                }


            }

            for (var k = 0; k < arrayRows.length; k++) {
                arrayRows[k].push(arrayPuntaje[k]);
            }
            let maxNumber = $("#totalPuntaje").val();
            if (maxNumber < (20)) {            
                confirmationSwall(maxNumber * 0.2, maxNumber, arrayRows, 0, "");
                return false;
            } else {
                let message = "changeMessage";
                confirmationSwall(maxNumber * 0.2, maxNumber, arrayRows, 0, "", message);
            }



        }

        function showLoading() {
            swal({
                title: '@language' === "es-PE" ? "Cargando..." : "Loading...",
                text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                showConfirmButton: false,
                html: true
            });
        }

        function closeLoading() {
            swal.close();
        }

        function callSwalAlert(message) {
            swal({
                type: "warning",
                title: 'Alerta',
                text: message,
                showConfirmButton: true,
                showCancelButton: false,
                html: true
            });
        }

        function callSwal(message) {
            swal({
                type: "error",
                title: 'Alerta',
                text: message,
                showConfirmButton: true,
                showCancelButton: false,
                html: true
            });
         }

        function callSwalSuccess(title,message) {
        swal({
            type: "success",
            title: title,
            text: message,
            showConfirmButton: true,
            showCancelButton: false,
            html: true
        });
    }

        function confirmationSwall(number, max, arr, idCourse, type, message) {
            if (type === "saveAcceptanceLevel") {
                swal({
                    title: "¿Está seguro de continuar?",
                    text: `Se calculará la nota sobre ${number} calculado al multiplicar 20 * ${max}%`,
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Aceptar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function (isConfirm) {
                    if (isConfirm)
                        updateView();
                        //callAjax(arr, idCourse, type);
                });
            } else {
                message = message == "changeMessage" ? "" : `La nota máxima de la rúrbica sera ${max}` ;
                swal({
                    title: "¿Está seguro de continuar?",
                    text: message,
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Aceptar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                }, function (isConfirm) {
                    if (isConfirm)
                        callAjax(arr, idCourse);
                });
            }
        }
        function updateView() {
            showLoading();
            $(".Title_header").html('<i class="fa fa-plus-square-o" aria-hidden="true"></i> Agregar Preguntas');
            $(".hideElement").show();
            $("#add").removeClass("add");
            $("#add").addClass("addrow");
            $("#add").attr("value", "Agrega nueva pregunta");
            $("#pregunta").removeClass("pregunta_matriz");
            $("#pregunta").addClass("pregunta_rubric");
            $(".dato_criterio").prop('disabled', true);
            $(".dato_criterio").css('border-radius', '0px');
            $(".dato_criterio").css('margin', '0px');
            $(".dato_criterio").css('padding', '0px');
            $(".dato_criterio").css('border', 'red');           
            $(".dato_porcentaje").prop('disabled', true);
            $(".dato_porcentaje").css('border-radius', '0px');
            $(".dato_porcentaje").css('margin', '0px');
            $(".dato_porcentaje").css('padding', '0px');
            $(".dato_porcentaje").css('border', 'red');   
            $("#btnSave").attr("onclick", "viewsArrayInput()");
            $("#btnSaveCriterios").hide();
            $("#btnSave").show();       
            closeLoading();
            setTimeout(function () {
                callSwalSuccess("Cabeceras guardadas exitosamente", "Agregue las preguntas, criterios y sus respectivos puntajes");
            }, 300);
        }

        function callAjax(array, idCourse) {
            cursoId = $('[data-plugin="select2"]').val();
            var rubricType = $("#tipoRubrica").val();
            $.ajax({
                url: '@Url.Action("SaveCriteria", "RubricCourse")',
                type: 'POST',
                dataType: 'json',
                data: { dataSettingRubric: arrayPesosNivelAceptacion, idCourse: cursoId, rubricType : rubricType },
                beforeSend: function () {
                    showLoading();
                },
                success: function (response) {
                    //$(".hideElement").show();
                    lstIdRubricControlAcceptanceLevel = response.lstIdRubricControlAcceptanceLevel;
                    idRubricControl = response.idRubricControl;
                    pesoMax = response.pesoMax;
                    //$("#add").removeClass("add");
                    //$("#add").addClass("addrow");
                    //$("#add").attr("value", "Agrega nueva pregunta");
                    //$("#pregunta").removeClass("pregunta_matriz");
                    //$("#pregunta").addClass("pregunta_rubric");
                    //$(".dato_criterio").prop('disabled', true);
                    //$(".dato_porcentaje").prop('disabled', true);
                    //$("#btnSave").attr("onclick", "viewsArrayInput()");
                    //closeLoading();
                    $.ajax({
                        url: '@Url.Action("ConfigurationRubric","RubricCourse")',
                        type: 'POST',
                        data: { dataSettingRubric: array, idRubricControl: idRubricControl, lstIdRubricControlAcceptanceLevel: lstIdRubricControlAcceptanceLevel },
                        beforeSend: function () {
                        showLoading();
                        },
                        success: function (response) {
                        window.location.href = "@Url.Action("RubricCourseIndex","RubricCourse", new { status = true })";
                        //closeLoading();
                        },
                        error: function () {
                        alert("error");
                        }
                    });



                },
                error: function () {
                    callSwal("error");
                }
                //,
                //complete: function (data) {
                //    if (data.status == 200) {
                //        setTimeout(function () {
                //            callSwalSuccess("Cabeceras guardadas exitosamente", "Agregue las preguntas, criterios y sus respectivos puntajes");
                //        }, 300);
                //    }
                //}
            });
          
        }
    </script>
}
