﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse.RubricCapstoneEvaluationViewModel
@{
    ViewBag.Title = Html.Raw(RubricCourseResource.CreateEvaluateRubricCapstone);
    ViewBag.Icon = "bars";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-info"></i> @Html.Raw(RubricCourseResource.GeneralInformation)</h3>
        </div>
        @Html.HiddenFor(x => x.idRubricaControl)
        @Html.HiddenFor(x => x.idProyectoAcademico)
        @Html.HiddenFor(x => x.idCurso)
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3"><label class="label-survey">@Html.Raw(RubricCourseResource.ProjectName): </label></div>
                <div class="col-md-9">
                    <label class="form-control">@Model.nombreProyecto</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"><label class="label-survey">@Html.Raw(RubricCourseResource.Code)</label></div>
                <div class="col-md-6"><label class="label-survey">@Html.Raw(RubricCourseResource.Student)</label></div>
                <div class="col-md-3"><label class="label-survey">@Html.Raw(RubricCourseResource.Score)</label></div>
            </div>
            @for (var i = 0; i < Model.lstAlumno.Count(); i++)
            {
                <div class="row">

                    <div class="col-md-3">
                        <label class="form-control"> @Model.lstAlumno[i].Codigo </label>
                    </div>
                    <div class="col-md-6">
                        <label class="form-control"> @(@Model.lstAlumno[i].Nombres + " " + @Model.lstAlumno[i].Apellidos)</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" value="0" id="nota-@i" class="form-control" style="background-color: white;" readonly/>
                    </div>
                </div>
            }
                <div class="row">
                    <div class="col-md-3"><label class="label-survey">@Html.Raw(RubricCourseResource.Observation)</label></div>
                    <div class="col-md-9"> @Html.TextAreaFor(x => x.observaciones, new { @class = "form-control ComentaryHeight", @required = "true", @id = "observaciones" })</div>
                </div>
        </div>
        <div class="table panel-body row">
            <table class="table" id="table_Evaluar" style="border: 1px solid #e4eaec">
                <tbody>
                    <tr style="border: 1px solid #e4eaec">
                        <td style="width:24%;background-color:red;color:white">PREGUNTA/PUNTAJE</td>
                        @foreach (var rcna in Model.lstRCNivelAceptacion)
                        {
                            <td class="text-center" style="background-color:red;color:white">@rcna</td>
                        }
                        <td class="text-center" style="background-color:red;color:white;width:8%">Nota</td>
                    </tr>
                    @for (int i = 0; i < Model.lstRCPregunta.Count(); i++)
                    {
                        <tr>
                            <td style="border: 1px solid #e4eaec">@Model.lstRCPregunta[i].preguntaEspanol</td>
                            @for (int j = 0; j < Model.lstRCCapstone.Count(); j++)
                            {
                                if (Model.lstRCPregunta[i].idRubricaControlPregunta == Model.lstRCCapstone[j].idRubricaControlPregunta)
                                {
                                    <td class="text-justify" id="@Model.lstRCCapstone[j].idRubricaControlCriterioCapstone" style="border: 1px solid #e4eaec">
                                        @Model.lstRCCapstone[j].descripcionEspanol<br>
                                    </td>
                                }
                            }
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            @for (int j = 0; j < Model.lstRCCapstone.Count(); j++)
                            {
                                if (Model.lstRCPregunta[i].idRubricaControlPregunta == Model.lstRCCapstone[j].idRubricaControlPregunta)
                                {
                            <td class="text-center" style="border: 1px solid #e4eaec">
                                <label>
                                    <span>[</span>
                                    @if (Model.lstRCCapstone[j].maximo == Model.lstRCCapstone[j].minimo)
                                    {
                                        <span>@Model.lstRCCapstone[j].minimo</span>
                                    }
                                    else
                                    {
                                        <span>   @Model.lstRCCapstone[j].minimo -</span> @Model.lstRCCapstone[j].maximo
                                    }

                                    <span>] puntos</span>
                                </label>
                            </td>
                                }
                                         }
                        </tr>                     
                        for (int ind = 0; ind < Model.lstAlumno.Count(); ind++)
                        {   
                            <tr>
                                @*<td style="border: 1px solid #e4eaec">Alumno @(ind+1)</td>*@
                                <td style="border: 1px solid #e4eaec"> @(@Model.lstAlumno[ind].Nombres + " " + @Model.lstAlumno[ind].Apellidos)</td>
                                @for (int j = 0; j < Model.lstRCCapstone.Count(); j++)
                                {
                                    if (Model.lstRCPregunta[i].idRubricaControlPregunta == Model.lstRCCapstone[j].idRubricaControlPregunta)
                                    {
                                        <td class="text-justify" id="@Model.lstRCCapstone[j].idRubricaControlCriterioCapstone" style="border: 1px solid #e4eaec">
                                            <div class="form-check text-center">
                                                @*<input class="form-check-input" type="radio" name="exampleRadios-@i-@(ind+1)" id="@Model.lstRCCapstone[j].idRubricaControlCriterioCapstone" value="option1">
                                                <label class="form-check-label @Model.lstRCCapstone[j].idRubricaControlCriterioCapstone" for="@Model.lstRCCapstone[j].idRubricaControlCriterioCapstone">
                                                    @for (int k = 0; k < Model.lstRCNivelAceptacion.Count(); k++)
                                                    {
                                                      <label>[ @Model.lstRCCapstone[j].maximo - @Model.lstRCCapstone[j].minimo  ]</label>
                                                    } 
                                                </label>*@
                                                @*<input id="@i-@ind" data-id="@Model.lstRCCapstone[j].idRubricaControlCriterioCapstone" data-min="@Model.lstRCCapstone[j].minimo" data-max="@Model.lstRCCapstone[j].maximo" type="text" class="form-control dato_puntaje"  placeholder="ingrese puntaje"/>*@
                                            </div>
                                        </td>
                                    }
                                }
                                <td class="text-center" style="border: 1px solid #e4eaec">
                                    <input id="puntaje@(ind+1)" data-idPregunta="@Model.lstRCPregunta[i].idRubricaControlPregunta" data-id="@i-@ind" data-min="0.00" data-max="@Model.lstRCPregunta[i].puntajeMaximo" type="text" class="form-control dato_puntaje puntaje@(ind+1)" placeholder="nota" />
                                </td>

                            </tr>
                        }                       
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-body row">
            <div class="pull-left">
                <input type="button" class="btn btn-default" value="Atras" onclick="backToEvaluation()" />
            </div>
            <div class=" pull-right">
                <input type="button" class="btn btn-primary" value="Guardar Evaluación" onclick="GuardarEvaluacion()" />
            </div>
        </div>

    </div>
</div>

@section Scripts{

<script>

        $(document).on("keypress", ".dato_puntaje", function (e) {
            if (e.which === 0) e.data;
            if (e.which !== 8 && e.which !== 0 && e.which !== 46 && (e.which < 48 || e.which > 57)) {
                return false;
            }

            if (e.which === 46 && $(this).val().indexOf('.') >= 0) {
                return false;
            }
        });

        $(document).on("blur", "input.dato_puntaje", function (e) {           
            if ($(this).val() == "") {
                return false
            }
            var num = parseFloat($(this).val());
            var cleanNum = num.toFixed(2);
            $(this).val(cleanNum);
            if (num / cleanNum < 1) {
                callSwalAlert("Se redondeó a dos decimales ");
            }
        });

        $(document).on("change", ".dato_puntaje", function (e) {          
            debugger
            var rowPoint = $(this).attr("data-id")
            let defaultValue = $(this).val();
            var max = $(this).attr("data-max");
            var min = $(this).attr("data-min");
           
            max = parseFloat(max);
            min = parseFloat(min);
            //$(`#${rowPoint}.dato_puntaje`).each(function (e) {                
            //    $(this).val("")                
            //})
            //$(this).val(defaultValue)
            if (defaultValue > max ) {
                $(this).val(max)  
                defaultValue = max
            }
            if (defaultValue < min || isNaN(parseFloat($(this).val()))) {
                $(this).val(min)  
                defaultValue = min
            }
            if (defaultValue != "") {
                defaultValue = parseFloat(defaultValue).toFixed(2);
                max = parseFloat(max).toFixed(2);
                min = parseFloat(min).toFixed(2);
            }

            //$(`#puntaje-${rowPoint}`).val(defaultValue);
            //$(`#puntaje-${rowPoint}`).html(defaultValue);
            if (rowPoint.split("-")[1] == 0) {
                var total = 0;
                $(".puntaje1").each(function () {
                    if (isNaN(parseFloat($(this).val()))) {
                        total += 0;

                    } else {
                        total += parseFloat($(this).val());
                    }
                });
                $("#nota-0").val(total.toFixed(2));
            } else {               
                var total2 = 0;
                $(".puntaje2").each(function () {
                    if (isNaN(parseFloat($(this).val()))) {
                        total2 += 0;

                    } else {
                        total2 += parseFloat($(this).val());
                    }
                });
                $("#nota-1").val(total2.toFixed(2));
            }           
        });        


        function GuardarEvaluacion() {          
            var valid = false;
            $(".puntaje1").each(function () {     
                console.log(this)
                if (isNaN(parseFloat($(this).val())) || $(this).val() == "") {
                    callSwal("Seleccione todo los puntajes por pregunta.");
                    valid = true;
                    return false;
                }
            });
            $(".puntaje2").each(function () {
                if (isNaN(parseFloat($(this).val())) || $(this).val() == "") {
                    callSwal("Seleccione todo los puntajes por pregunta.");
                    valid = true;
                    return false;
                }
            });
            if (valid) {
                return false;
            }
            
            var arrayData = new Array;
            var arrayData2 = new Array;                        
            
            var ArrayInputs = document.querySelectorAll('input.dato_puntaje');

            if (@Model.lstAlumno.Count() == 1) {
                for (var i = 0; i < ArrayInputs.length; i++) {

                var dataAlumno1 = new Array;
                let id = ArrayInputs[i].dataset.idpregunta;
                let puntaje = ArrayInputs[i].value;                
                dataAlumno1.push(id, puntaje);
                arrayData.push(dataAlumno1);
                }
            } else {
                 for (var i = 0; i < ArrayInputs.length; i++) {

                var dataAlumno1 = new Array;
                let id = ArrayInputs[i].dataset.idpregunta;
                let puntaje = ArrayInputs[i].value;
                i += 1;
                dataAlumno1.push(id, puntaje);
                arrayData.push(dataAlumno1);
            }
           
            if (@Model.lstAlumno.Count() > 1) {
                for (var j = 1; j < ArrayInputs.length; j++) {
                    var dataAlumno2 = new Array;                    
                    let id = ArrayInputs[j].dataset.idpregunta;
                    let puntaje = ArrayInputs[j].value;
                    j += 1;
                    dataAlumno2.push(id, puntaje);
                    arrayData2.push(dataAlumno2);
                }                
            }     
            }

                 
            confirmationSwall(arrayData, arrayData2);

        }


        function backToEvaluation() {
            var url = "@Url.Action("EvaluateRubricCapstone", "RubricCourse")";
            window.location.href = url;
        }

        function callSwal(message) {
            swal({
                type: "error",
                title: 'Alerta',
                text: message,
                showConfirmButton: true,
                showCancelButton: false,
                html: true
            });
        }

    function confirmationSwall(arr,arr2) {        
            swal({
                title: "¿Está seguro de grabar los datos?",
                /*text: "Una vez guardado no podrá editarlo.",*/
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            }, function (isConfirm) {
                if (isConfirm) {
                    callAjax(arr, arr2);
                }
            });
        }

        function callAjax(array, array2) {

            var idRubricaControl = $("#idRubricaControl").val();
            var idProyectoAcademico = $("#idProyectoAcademico").val();         
            var idCurso = $("#idCurso").val();           
            var observation = $("#observaciones").val();
            $.ajax({
                 url: '@Url.Action("CreateRubricCapstoneEvaluation", "RubricCourse")',
                type: 'POST',
                data: { arrayData: array, arrayData2: array2, idRubricaControl: idRubricaControl, idProyectoAcademico: idProyectoAcademico, idCurso: idCurso, observation: observation },
                 beforeSend: function () {
                    showLoading();
                 },
                success: function (response) {
                    var url = "@Url.Action("EvaluateRubricCapstone", "RubricCourse", new { add =true })";                    
                    window.location.href = url;
                    //closeLoading();
                  },
                 error: function () {
                    alert("error");
                 }
             });
    }


     function showLoading() {
        swal({
            title: '@language' === "es-PE" ? "Cargando..." : "Loading...",
            text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
            showConfirmButton: false,
            html: true
        });
    }



</script>
}