﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse.RubricControlEvaluationViewModel
@{
    ViewBag.Title = Html.Raw(RubricCourseResource.Evaluation);
    ViewBag.Icon = "bars";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-info"></i> @Html.Raw(RubricCourseResource.GeneralInformation)</h3>
        </div>
        @Html.HiddenFor(x => x.idRubricaControl)
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2"><label class="label-survey">@Html.Raw(RubricCourseResource.Student):</label></div>
                <div class="col-md-4">
                    @Html.HiddenFor(x => x.idAlumno)
                    @Html.TextBoxFor(model => model.nombreAlumno, new { @class = "form-control", @type = "text", @disabled = true })
                </div>

                <div class="col-md-2"><label class="label-survey">@Html.Raw(RubricCourseResource.Code):</label></div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.codigoAlumno, new { @class = "form-control", @type = "text", @disabled = true })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"><label class="label-survey">@Html.Raw(RubricCourseResource.Teacher):</label></div>
                <div class="col-md-4">
                    @Html.HiddenFor(x => x.idDocenteCalificador)
                    @Html.TextBoxFor(model => model.nombreDocente, new { @class = "form-control", @type = "text", @disabled = true })
                </div>

                <div class="col-md-2"><label class="label-survey">@Html.Raw(RubricCourseResource.Course):</label></div>
                <div class="col-md-4">
                    @Html.HiddenFor(model => model.idCurso)
                    @Html.TextBoxFor(model => model.nombreCurso, new { @class = "form-control", @type = "text", @disabled = true })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2"><label class="label-survey">@Html.Raw(RubricCourseResource.RubricTypeName):</label></div>
                <div class="col-md-4">
                    @Html.HiddenFor(model => model.idRubricType)
                    @Html.TextBoxFor(model => model.rubricTypeName, new { @class = "form-control", @type = "text", @disabled = true })
                </div>

                <div class="col-md-2"><label class="label-survey">@Html.Raw(RubricCourseResource.Section):</label></div>
                <div class="col-md-4">
                    @Html.HiddenFor(model => model.idSeccion)
                    @Html.TextBoxFor(model => model.nombreSeccion, new { @class = "form-control", @type = "text", @disabled = true })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><label class="label-survey">@Html.Raw(RubricCourseResource.MaxScore):</label></div>
                <div class="col-md-4">
                    <input type="text" value="0" id="nota" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="table panel-body row">
            <table class="table" id="table_Evaluar">
                <tbody>
                    <tr>
                        <td style="width:24%">PREGUNTA/PUNTAJE</td>
                        @foreach (var alm in Model.lstRCNivelAceptacion)
                        {
                            <td id="@alm.peso" class="text-center" style="background-color:red;color:white">@alm.descripcionEspanol</td>
                        }
                        <td class="text-center" style="background-color:red;color:white;width:8%">Nota</td>
                    </tr>
                    @for (int i = 0; i < Model.lstRCPregunta.Count(); i++)
                    {
                        <tr>
                            <td>@Model.lstRCPregunta[i].preguntaEspanol</td>
                            @for (int j = 0; j < Model.lstRCCriterio.Count(); j++)
                            {
                                if (Model.lstRCPregunta[i].idRubricaControlPregunta == Model.lstRCCriterio[j].idRubricaControlPregunta)
                                {
                                    <td class="text-justify" id="@Model.lstRCCriterio[j].idRubricaControlCriterio">
                                        @Model.lstRCCriterio[j].descripcionEspanol<br>
                                        <hr style="height:2px;background-color:red;margin:10px 0px" />
                                        <div class="form-check text-center">
                                            <input class="form-check-input" type="radio" name="exampleRadios-@i" id="@Model.lstRCCriterio[j].idRubricaControlCriterio" value="option1">
                                            <label class="form-check-label @Model.lstRCCriterio[j].idRubricaControlCriterio" for="@Model.lstRCCriterio[j].idRubricaControlCriterio">
                                                @for (int k = 0; k < Model.lstRCNivelAceptacion.Count(); k++)
                                                {
                                                    if (Model.lstRCNivelAceptacion[k].idRubricaControlNivelAceptacion == Model.lstRCCriterio[j].idRubricaControlNivelAceptacion)
                                                    {
                                                        @Decimal.Round((Model.lstRCNivelAceptacion[k].peso / 100 * Model.lstRCPregunta[i].puntajeMaximo), 2)
                                                    }
                                                } pts.
                                            </label>
                                        </div>
                                    </td>
                                }
                            }
                            <td id="puntaje-@i" class="text-center puntaje">0.00</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-body row">
            <div class="pull-left">
                <input type="button" class="btn btn-default" value="Atras" onclick="backToEvaluation()" />
            </div>
            <div class=" pull-right">
                <input type="button" class="btn btn-primary" value="Guardar Evaluación" onclick="GuardarEvaluacion()" />
            </div>
        </div>
    </div>
</div>

@section Scripts{

<script>

        $(document).on("click", ".form-check-input", function (e) {
            var rowPoint = $(this).prop("name").split("-")[1];
            var id = e.target.id;
            var point = $(`label.form-check-label.${id}`)[0].outerText.slice(0, length - 4);
            $(`#puntaje-${rowPoint}`).val(point);
            $(`#puntaje-${rowPoint}`).html(point);
            var total = 0;
            $(".puntaje").each(function () {
                if (isNaN(parseFloat($(this).val()))) {
                    total += 0;

                } else {
                    total += parseFloat($(this).val());
                }
            });
            $("#nota").val(total.toFixed(2));
        });


        function GuardarEvaluacion() {
            var valid = false;
            $(".puntaje").each(function () {
                if (isNaN(parseFloat($(this).val())) || $(this).val() == "" ) {
                    callSwal("Seleccione todo los puntajes por pregunta.");
                    valid = true;
                    return false;
                }
            });
            if (valid) {
                return false;
            }

            let numSi = $('.form-check-input:checked').length;
            console.log(numSi);
            var trnum = $('table#table_Evaluar tbody tr').length;
            console.log(trnum);
            if (numSi != (trnum - 1)) {
                seleccionPregunta();
            } else {
                var arrayData = new Array;
                var ArrayRadios = document.querySelectorAll('input[type="radio"]:checked');
                for (var i = 0; i < ArrayRadios.length; i++) {
                var arrayAux = new Array;
                var id = ArrayRadios[i].id;
                var puntaje = ArrayRadios[i].nextElementSibling.outerText.slice(0, length - 4);
                arrayAux.push(id, puntaje);
                arrayData.push(arrayAux);
                }
                confirmationSwall(arrayData);
            }
        }

    function seleccionPregunta() {
        swal({
            title: "Debe evaluar todas las preguntas",
            text: "No ha marcado una o varias preguntas.",
            type: "warning",
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Aceptar",
            showLoaderOnConfirm: true
        });
    }

    function backToEvaluation() {
        var idSeccion = $("#idSeccion").val();
        var idCurso = $("#idCurso").val();
        var rubricType = $("#idRubricType").val();
        var url = "@Url.Action("EvaluateRubric", "RubricCourse", new {add = false, idCourse="valCourse", idSection="valSection", rubricType= "valRubricType" })";
        url = url.replace("valCourse", idCurso).replace("valSection", idSeccion).replace("valRubricType", rubricType).replace("&amp;", "&").replace("&amp;", "&").replace("&amp;", "&");                    
            window.location.href = url;
        }   

        function callSwal(message) {
            swal({
                type: "error",
                title: 'Alerta',
                text: message,
                showConfirmButton: true,
                showCancelButton: false,
                html: true
            });
        }

        function confirmationSwall(arr) {
            swal({
                title: "¿Está seguro de grabar los datos?",
                text: "Una vez guardado no podrá editarlo.",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                showLoaderOnConfirm: true
            }, function (isConfirm) {
                if (isConfirm)
                    callAjax(arr);
            });
        }

        function callAjax(array) {
            var idRubricaControl = $("#idRubricaControl").val();
            var idAlumno = $("#idAlumno").val();
            var idDocenteCalificador = $("#idDocenteCalificador").val();
            var idSeccion = $("#idSeccion").val();
            var idCurso = $("#idCurso").val();
            var rubricType = $("#idRubricType").val();
            $.ajax({
                 url: '@Url.Action("CreateRubricControlEvaluation", "RubricCourse")',
                 type: 'POST',
                data: { arrayData: array, idRubricaControl: idRubricaControl, idAlumno: idAlumno, idDocenteCalificador: idDocenteCalificador, idSeccion: idSeccion, idCurso: idCurso, rubricType: rubricType},
                 beforeSend: function () {
                    showLoading();
                 },
                success: function (response) {                   

                    var url = "@Url.Action("EvaluateRubric", "RubricCourse", new {add = false, idCourse="valCourse", idSection="valSection", rubricType= "valRubricType" })";
                    url = url.replace("valCourse", idCurso).replace("valSection", idSeccion).replace("valRubricType", rubricType).replace("&amp;", "&").replace("&amp;", "&").replace("&amp;", "&");                    
                    window.location.href = url;
                    //closeLoading();
                  },
                 error: function () {
                    alert("error");
                 }
             });
    }


     function showLoading() {
        swal({
            title: '@language' === "es-PE" ? "Cargando..." : "Loading...",
            text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
            showConfirmButton: false,
            html: true
        });
    }

   
    
</script>
}
