﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse.DowloadRubricViewModel
@{
    ViewBag.Title = Html.Raw(RubricCourseResource.BulkDownloadRubric);
    ViewBag.Icon = "bars";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<div class="row">
    <div class="panel filters">
        <h3 class="panel-title"><i class="fa fa-filter"></i> @Html.Raw(RubricCourseResource.DownloadNote)</h3>
        <div class="panel-body row">

            <form id="formId">
                <div class="row">

                    <div class="col-md-2"><label class="label-survey" id="label_curso">@Html.Raw(RubricCourseResource.Course)</label></div>
                    <div class="col-md-4" id="curso">
                        @Html.DropDownListFor(m => Model.idCurso, new SelectList(Model.lstCursoCapstone, "IdCurso",
                        language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"),
                        language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                        {
                            @class = "form-control",
                            @data_plugin = "select2",
                            @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                            @data_update_target = "#idSeccion",
                            @required = true
                        })
                    </div>


                </div>

                <br>


                <div class="panel-footer text-right">
                    <a id="downloadCurso" class="btn btn-primary eer">
                        <i class="fa fa-download"></i>
                        @Html.Raw(RubricCourseResource.Download)
                    </a>
                </div>


            </form>


        </div>
    </div>
</div>
@section Scripts {

    <script>
            function error(message) {
                swal({
                    title: message,
                    type: 'error'
                });
            }

            function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }

            function closeLoading() {
                swal.close();
            }

            function showSwal() {
                var texto = '@language' == "es-PE" ? "Debe seleccionar un curso" : "you must select a course";
                swal({
                    title: "",
                    text: texto,
                    type: "warning",
                    showCancelButton: false,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Ok",
                    closeOnConfirm: true
                });
        }

        $('#downloadCurso').on('click', function () {
            var form = $('#formId');
            var idCurso = $('#idCurso').val();
            if (form.valid()) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DownloadExcelSeccion", "RubricCourse")',
                    cache: false,
                    data: { idCurso : idCurso },
                    beforeSend: function () {
                        showLoading();
                    },
                    success: function (response) {
                        var url = '@Url.Action("Download", "RubricCourse")';
                        window.location = url+'?fileGuid=' + response.FileGuid
                            + '&filename=' + response.FileName;
                    },
                    error: function (data) {
                        error('error');
                    },
                    complete: function () {
                        closeLoading();
                    }
                });
            }
            else {
                showSwal();
            }
        });



    </script>
}