﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse.RubricControlViewModel
@{
    ViewBag.Title = Html.Raw(RubricCourseResource.EditRubric);
    ViewBag.Icon = "bars";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<form method="post">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-info"></i> @Html.Raw(RubricCourseResource.GeneralInformation)</h3>
            </div>
            @Html.HiddenFor(x => x.idRubricaControl)
            <div class="table panel-body row">
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="width:24%">PREGUNTA/PUNTAJE</td>
                            @foreach (var rcNivelAceptacion in Model.lstRCNivelAceptacion)
                            {
                                <td id="@rcNivelAceptacion.peso" class="text-center" style="background-color:red;color:white">@rcNivelAceptacion.descripcionEspanol</td>
                            }
                            <td class="text-center" style="background-color:red;color:white;width:8%">Nota</td>
                        </tr>
                        @for (int i = 0; i < Model.lstRCPregunta.Count(); i++)
                        {
                            <tr>
                                <td>
                                    @Html.TextAreaFor(x => x.lstRCPregunta[i].preguntaEspanol, new { @class = "form-control dato", required = "" })<br>
                                </td>
                                @for (int j = 0; j < Model.lstRCCriterio.Count(); j++)
                                {
                                    if (Model.lstRCPregunta[i].idRubricaControlPregunta == Model.lstRCCriterio[j].idRubricaControlPregunta)
                                    {
                                        <td class="text-justify">
                                            @Html.TextAreaFor(x => x.lstRCCriterio[j].descripcionEspanol, new { @class = "form-control dato", required = "" })<br>
                                        </td>
                                    }
                                }
                                <td  class="text-center ">
                                    @Html.TextBoxFor(x => x.lstRCPregunta[i].puntajeMaximo, new { @class = "form-control dato_puntaje", required = "" })<br>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="panel-body row">
                <div class=" pull-right">
                    <button id="btnEdit" type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    <script>
        $(document).on("change", false, function (e) {
            var total = 0;
            $(".dato_puntaje").each(function () {
                if (isNaN(parseFloat($(this).val()))) {
                    total += 0;
                } else {
                    let value = $(this).val();
                    if (value.startsWith('.') || value.endsWith('.')) {
                        callSwal('El puntaje no puede empezar ni terminar en "."');
                    }
                    total += parseFloat($(this).val());
                }
            });               
            if (total != 20) {
                $("#btnEdit").prop("disabled", true);
            }
            else {
                $(".dato").each(function () {
                    if ($(this).val() === "") {
                        callSwal('Campos Vacios');
                        $(this).css("color", "red");
                    } else {
                        $(this).css("color", "#8e7676");
                        $("#btnEdit").prop("disabled", false);
                        $("#btnEdit").on("click", function () {
                            swal({
                                title: '@language' === "es-PE" ? "Cargando..." : "Loading...",
                                text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                                showConfirmButton: false,
                                html: true
                            });
                        });
                    }
                });
            }
        });

        $(document).on("change", ".dato_puntaje", function (e) {
            var total = 0;
            $(".dato_puntaje").each(function () {
                if (isNaN(parseFloat($(this).val()))) {
                    total += 0;
                } else {
                    let value = $(this).val();
                    if (value.startsWith('.') || value.endsWith('.')) {
                        callSwal('El puntaje no puede empezar ni terminar en "."');
                    }
                    total += parseFloat($(this).val());
                }
            });

            if (total > 20) {
                callSwal('El puntaje máximo es 20.');
                $(this).css("color", "red");
            }

            if (total <= 20) {
                if ($(this).val() === "" || $(this).val() == 0) {
                    callSwal('Ingrese un valor mayor a 0');
                    $(this).css("color", "red");
                    $(this).val("0");
                } else {
                    if (total < 20) {
                        callSwal('El puntaje total debe ser 20.');
                        $(this).css("color", "red");
                    }
                    else {
                        $(this).css("color", "#8e7676");
                        $("#btnEdit").prop("disabled", false);
                    }
                }

            } else {
                $(this).css("color", "red");
                callSwal('El puntaje máximo es 20.');
            }
        });

        $(document).on("change", ".dato", function (e) {
            $(".dato").each(function () {
                if ($(this).val() === "") {
                    callSwal('Campos Vacios');
                    $(this).css("color", "red");
                } else {
                    $(this).css("color", "#8e7676");
                    $("#btnEdit").prop("disabled", false);
                }
            });
        });

        function callSwal(message) {
            swal({
                type: "error",
                title: 'Alerta',
                text: message,
                showConfirmButton: true,
                showCancelButton: false,
                html: true

            },
                function (isConfirm) {
                        if (isConfirm) {
                            $("#btnEdit").prop("disabled", true);
                        }
                }
            );
        }

    </script>
}