﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse.EvaluateRubricCapstoneViewModel
@{
    //ViewBag.Title = Html.Raw(RubricCourseResource.MaintenanceRubrics);
    ViewBag.Icon = "book";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Styles {
    <style>
        @@media screen and (max-width: 550px) {

            .table tr td {
                display: block;
                clear: both;
                width: 95%;
            }

            .table tr:nth-child(even) {
                background: #e7f1ff !important;
            }

            .table tr {
                border-top: 5px solid;
            }

            .hiddenTexto {
                font-weight: bold !important;
                display: inline-block !important;
            }

            .hiddenHeader {
                display: none !important;
            }
        }

        .hiddenTexto {
            display: none;
        }
    </style>
}

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> @RubricCourseResource.ProjectList</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div id="list-rubric-partial-view" style="padding:15px;">
                    <div class="table">
                        <table id="tbl_proyectos" class="table table-striped table-hover dataTable">
                            <thead class="hiddenHeader">
                                <tr>
                                    <th style="display:none;">Alumnos</th>
                                    <th>  @RubricCourseResource.AcademicProject</th>
                                    <th>  @RubricCourseResource.Course</th>
                                    @*<th class="col-md-4">@Html.Raw(RubricCourseResource.Date)</th>
                                        <th>@Html.Raw(RubricCourseResource.Evaluation)</th>*@
                                    <th>@Html.Raw(RubricCourseResource.Options)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.proyectos.Count(); i++)
                                {

                                    <tr>
                                        <td style="display:none;">
                                        @Model.proyectos[i].Alumnos
                                        </td>
                                        <td style="width:70%;"><span class="hiddenTexto"></span> @Model.proyectos[i].Nombre</td>
                                        <td><span class="hiddenTexto"></span> @(language == ConstantHelpers.CULTURE.ESPANOL ? @Model.proyectos[i].CursoNombreEspanol : @Model.proyectos[i].CursoNombreIngles) </td>

                                        <td style="text-align:center;">
                                            @if (Model.isQualified[i])
                                            {
                                                @*<label>Evaluado</label>*@

                                                @*@Url.Action("", "RubricCourse", new { IdCurso = Model.proyectos[i].IdCurso, IdProyectoAcademico = Model.proyectos[i].IdProyectoAcademico })*@
                                                if (Model.proyectos[i].Edit)
                                                {
                                                    <a style="width:70%;" class="btn btn-default" href="@Url.Action("EditRubricCapstoneEvaluation", "RubricCourse", new { IdCurso = Model.proyectos[i].IdCurso,IdProyectoAcademico= Model.proyectos[i].IdProyectoAcademico})"><i class="fa fa-check-square-o"></i>&nbsp;@RubricCourseResource.EditRubric</a>
                                                }
                                                else
                                                {
                                                    <a style="width:70%;" class="btn btn-default" href="@Url.Action("EditRubricCapstoneEvaluation", "RubricCourse", new { IdCurso = Model.proyectos[i].IdCurso,IdProyectoAcademico= Model.proyectos[i].IdProyectoAcademico})"><i class="fa fa-check-square-o"></i>&nbsp;@RubricCourseResource.DetailRubricControl</a>
                                                }

                                            }
                                            else
                                            {
                                                if (Model.proyectos[i].Register)
                                                {
                                                    <a style="width:80%;" class="btn btn-default" href="@Url.Action("CreateRubricCapstoneEvaluation", "RubricCourse", new { IdCurso = Model.proyectos[i].IdCurso,IdProyectoAcademico= Model.proyectos[i].IdProyectoAcademico})"><i class="fa fa-check-square-o"></i>@RubricCourseResource.Evalute</a>
                                                }
                                                else
                                                {
                                                    <a style="width:80%;" disabled class="btn btn-default" href="#"><i class="fa fa-check-square-o"></i>@RubricCourseResource.Evalute</a>
                                                }

                                            }

                                        </td>
                                        @*<td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle"
                                                            data-toggle="dropdown">
                                                        @RubricCourseResource.Options <span class="caret"></span>
                                                    </button>

                                                    <ul class="dropdown-menu" role="menu">
                                                        @if (Model.lstBooleanos[i] == true)
                                                        {
                                                            <li><a class="btn btn-default" disabled><i class="fa fa-check-square-o"></i> @RubricCourseResource.EditRubric </a></li>
                                                            <li><a class="btn btn-default " disabled id="@Model.lstRubric[i].idRubricaControl"><i class="fa fa-check-square-o"></i> @RubricCourseResource.Delete </a></li>
                                                        }
                                                        else
                                                        {

                                                            <li><a class="btn btn-default" href="@Url.Action("EditRubricControlEvaluation", "RubricCourse", new { idRubric = Model.lstRubric[i].idRubricaControl })"><i class="fa fa-check-square-o"></i>@RubricCourseResource.EditRubric</a></li>
                                                            <li><a class="btn btn-default delete-button" id="@Model.lstRubric[i].idRubricaControl"><i class="fa fa-check-square-o"></i> @RubricCourseResource.Delete </a></li>
                                                        }

                                                    </ul>
                                                </div>
                                            </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        $(document).ready(function () {
            $('#tbl_proyectos').dataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtro de _MAX_ registros)",
                    "search": "Buscar:",
                       "paginate": {
                           "previous": "Anterior",
                           "next":"Siguiente"
                        }
                }
            });
        });


    </script>
    
}
