﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse.RubricCourseViewModel
@{
    ViewBag.Title = Html.Raw(RubricCourseResource.EvaluateRubric);
    ViewBag.Icon = "list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Styles {
    <style>
        @@media screen and (max-width: 550px) {

            .table tr td {
                display: block;
                clear: both;
                width: 95%;
            }

            .table tr:nth-child(even) {
                background: #e7f1ff !important;
            }

            .table tr {
                border-top: 5px solid;
            }

            .hiddenTexto {
                font-weight: bold !important;
                display: inline-block !important;
            }

            .hiddenHeader {
                display: none !important;
            }
        }

        .hiddenTexto {
            display: none;
        }
    </style>
}

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-hand-o-down"></i> @Html.Raw(RubricCourseResource.Select)</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2"><label class="label-survey">@Html.Raw(RubricCourseResource.Course)</label></div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => Model.idCurso, new SelectList(Model.lstCurso, "IdCurso",
                    language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"),
                    language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                    {
                        @class = "form-control",
                        @data_plugin = "select2",
                        @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                        @data_update_target = "#idSeccion",
                        @required = true
                    })
                </div>

                <div class="col-md-2"><label class="label-survey">@Html.Raw(RubricCourseResource.Section)</label></div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => Model.idSeccion, new SelectList(Model.lstSection, "IdSeccion", "Codigo"),
                    language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                    {
                        @data_text_member = "Codigo",
                        @data_value_member = "IdSeccion",
                        @class = "form-control",
                        @data_plugin = "select2",
                        @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                        @data_update_target = "#searchButton",
                        @required = true,
                        @disabled = true
                    })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><label class="label-survey">@Html.Raw(RubricCourseResource.RubricTypeName)</label></div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => Model.tipoRubrica, new SelectList(Model.lstTipoRubrica, "Value", "Label"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                  , new
                  {
                      @class = "form-control select2-select",
                      required = true

                       })
                    @Html.ValidationMessageFor(x => x.tipoRubrica)
                </div>
            </div>
            @*@Html.HiddenFor(x => x.Saved)*@
            <br />
            <div class="row pull-right">
                <div class="col-md-2">
                    <button class="btn btn-dark" onclick="showTable($('#idSeccion').val(), $('#idCurso').val(),$('#tipoRubrica').val())" id="searchButton" disabled><i class="fa fa-search"></i>  @Html.Raw(RubricCourseResource.Search)</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> @RubricCourseResource.StudentList</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="pull-right">
                    <a class="btn btn-primary" @Url.ModalHelperFor("ManageStudent", "RubricCourse", new { TipoEncuestaNombre = RubricCourseResource.AddStudent })>
                        <i class="fa fa-plus"></i> @RubricCourseResource.AddStudent
                    </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div id="list-rubric-partial-view">
                    @Html.Action("_StudentListRubricPartialView", "RubricCourse", new { IdSection = Model.idSeccion, IdCourse = Model.idCurso , rubricType = Model.tipoRubrica })
                </div>
            </div>
        </div>
    </div>
</div>

 @section Scripts{

     <script>

         $(document).ready(function () {
             $('#tbl_rubricas').dataTable();
         });


     </script>
     <script>

         $(document).on("click", ".evaluate", function (e) {                 
             showLoading();
         });

     </script>
    <script>

        function showTable(seccion, curso, rubricType) {            
            if (rubricType == "") {
                error('Alerta','Debe seleccionar el tipo de rúbrica.');
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("_StudentListRubricPartialView", "RubricCourse")',
                data: { IdSection: seccion, IdCourse: curso, rubricType: rubricType},
                beforeSend: function () {
                    showLoading();
                },
                success: function (data) {
                    $("#list-rubric-partial-view").html(data).ready();
                    $('#tbl_rubricas').dataTable();
                    closeLoading();
                }
              });
        }


        $('[data-plugin="select2"]').change(function () {
            var updateTarget = $(this).attr('data-update-target');
            if (updateTarget === '#idSeccion') {
                $(updateTarget).attr('disabled', 'disabled')
                $(updateTarget).find('option[value!=""]').remove();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSectionByCourse", "RubricCourse")',
                    data: {
                        idCurso: $(this).val()
                    },
                    dataType: 'json',
                    async: true,
                    error: function () {                        
                        error("Su rúbrica no ha sido configurada"," Solicite esta configuración al coordinador del curso.");
                    },
                    success: function (data) {                                    
                        var valueMember = $(updateTarget).attr('data-value-member');
                        var textMember = $(updateTarget).attr('data-text-member');
                        for (i = 0; i < data.length; i++) {
                            $(updateTarget).append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                        }
                        $(updateTarget).removeAttr('disabled');
                        $('#idSeccion').removeAttr('disabled');
                        $(updateTarget).trigger('change');
                        $("#searchButton").attr('disabled', 'disabled');

                    }
                });
            }
            else {
                    $(updateTarget).removeAttr('disabled');
            }
        });

    </script>



    <script>        
        function error(tittle, message) {
            swal({
                title: tittle,
                text: message,
                type: 'error'
            });
        }

        function showLoading() {
            swal({
                title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                showConfirmButton: false,
                html: true
            });
        }

        function closeLoading() {
            swal.close();
        }
    </script>
}