﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse.RubricCourseViewModel
@{
    ViewBag.Title = Html.Raw(RubricCourseResource.MaintenanceRubrics);
    ViewBag.Icon = "book";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Styles {
    <style>
        @@media screen and (max-width: 550px) {

            .table tr td {
                display: block;
                clear: both;
                width: 95%;
            }

            .table tr:nth-child(even) {
                background: #e7f1ff !important;
            }

            .table tr {
                border-top: 5px solid;
            }

            .hiddenTexto {
                font-weight: bold !important;
                display: inline-block !important;
            }

            .hiddenHeader {
                display: none !important;
            }
        }

        .hiddenTexto {
            display: none;
        }
    </style>
}
@*
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-binoculars"></i> @Html.Raw(RubricCourseResource.Search)</h3>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-2"><label class="label-survey">@Html.Raw(RubricCourseResource.Course)</label></div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => Model.idCurso, new SelectList(Model.lstCurso, "IdCurso",
                        language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"),
                        language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                        {
                            @class = "form-control",
                            @data_plugin = "select2",
                            @data_update_target = "#idSeccion",
                            @required = true,
                            @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select"
                        })
                    </div>

                    <div class="col-md-2"><label class="label-survey">@Html.Raw(RubricCourseResource.Section)</label></div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => Model.idSeccion, new SelectList(Model.lstSection, "IdSeccion", "Codigo"),
                        language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                        {
                            @data_text_member = "Codigo",
                            @data_value_member = "IdSeccion",
                            @class = "form-control",
                            @data_plugin = "select2",
                            @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                            @data_update_target = "#searchButton",
                            @required = true,
                            @disabled = true
                        })
                    </div>

                </div>

                <br />
                <div class="row pull-right">
                    <div class="col-md-2">
                        <button class="btn btn-dark" id="searchButton" onclick="showTableRubric()" disabled><i class="fa fa-search"></i>  @Html.Raw(RubricCourseResource.Search)</button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@


<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> @RubricCourseResource.RubricList</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div id="list-rubric-partial-view">
                    @Html.Action("_MaintenanceListRubricPartialView", "RubricCourse")
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>

        $(document).ready(function () {
            $('#tbl_rubricas').dataTable();
        });


    </script>

    <script>

         function showTableRubric() {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("_StudentListRubricPartialView", "RubricCourse")',
                beforeSend: function () {
                    showLoading();
                },
                success: function () {
                    $("#list-rubric-partial-view").html(data).ready();
                    $('#tbl_rubricas').dataTable();
                    closeLoading();
                }
              });
        }



    </script>

   

    <script>



        $(".delete-button").on("click", function () {
            var idRubrica = $(this).prop("id");
                swal({
                    title:'@language' == "es-PE" ? "¿Esta Seguro que deseas eliminar este curso?..." : "Are you sure you want to delete this course?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: '@language' == "es-PE" ? "ACEPTAR" : "ACCEPT",
                    cancelButtonText: '@language' == "es-PE" ? "CANCELAR" : "CANCEL",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            console.log('Primero llego aca', idRubrica)
                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("RubricChangeEstate", "RubricCourse" )',
                                    data: { idRubricControl: idRubrica },
                                    success: function () {
                                        console.log('LLego aca')
                                        swal("Deleted!", "Se elimino correctamente.", "success");
                                        window.location.reload()
                                                }
                                        });
                           
                                }
                    }
                );
        })

    </script>
}