﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Notification
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse.NotificationRubricViewModel
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Rubric
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared
@{
    ViewBag.Title = "Notificar evaluadores";
    ViewBag.Icon = "fa fa-book";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<style>

    /*.table tr td {
        display: block;
        clear: both;
        width: 95%;
    }

    .table tr:nth-child(even) {
        background: #e7f1ff !important;
    }

    .table tr {
        border-top: 5px solid;
    }

    .hiddenTexto {
        font-weight: bold !important;
        display: inline-block !important;
    }

    .hiddenHeader {
        display: none !important;
    }

    }

    .hiddenTexto {
        display: none;
    }*/

    .example {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    #divFiltrar {
        margin-top: 20px;
        padding-left: 30px;
    }

        #divFiltrar button {
            width: 80%;
        }

    .note-editable b {
        font-weight: 800;
    }
</style>


@Html.Content("css/font/summernote.eot")
@Html.Content("css/font/summernote.ttf")
@Html.Content("css/font/summernote.woff")



<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-filter"></i> Filtro</h3>
        <div class="panel-actions">
            <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="form-group">
                @Html.FormGroup(ListAcademicProjectResource.Curso, Html.DropDownListFor(m => m.IdCurso, new SelectList(Model.LstCurso, "IdCurso", "NombreEspanol"), OptionResource.Todos, new { @class = "form-control" }))
                <div class="form-group col-xs-12 col-md-6" id="divFiltrar">
                    <button type="button" id="btnFiltrar" class="btn btn-primary btn-large">&nbsp; &nbsp; @LayoutResource.Filtrar &nbsp; &nbsp; </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    @Html.PanelHeader(String.Format("<i class=\"fa fa-plus-circle\"></i> {0}", "Lista de docentes"))
    <div class="panel-body">
        <br />
        <div class="row">
            <div id="list-notification-teach-partial-view"></div>
        </div>
    </div>
</div>

<!-- MODAL DE ASUNTO-->
<div id="myModalContenido" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sg">
        <!-- Modal content-->
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <button type="button" style="padding-right: 10px;
    padding-top: 10px;" class="close" data-dismiss="modal">
                    &times;
                </button>
                <div class="panel-title">
                    <h4><i class="fa fa-briefcase" aria-hidden="true"></i> @NotificationResource.ConfiguracionMensaje</h4>
                </div>
            </div>

            <form method="post" action="@Url.Action("GuardarConfiguracionNotificacionEvaluadores", "RubricCourse")">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label-survey">@NotificationResource.Asunto</label>
                        </div>
                        <div class="col-md-9">
                            @Html.TextBoxFor(x => x.asunto, new { @Id = "asunto", @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label-survey">@NotificationResource.Mensaje</label>
                        </div>
                    </div>
                    <div class="sa-body">
                        <div class="col-md-12">
                            @Html.TextAreaFor(x => x.mensaje, new { @Id = "mensaje", @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <br />
                        <button type="button" id="btnGuardarMensaje" class="pull-right btn btn-primary btn-block">@ButtonResource.Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script>
            function error(message) {
                swal({
                    title: message,
                    type: 'error'
                });
            }

            function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }

            function closeLoading() {
                swal.close();
            }
    </script>


    <script>

        $(function () {

            $(document).ready(function () {

                function getValueString(value) {

                    if (value == null)
                        return "";
                    else
                        return value;
                }
                function obtenerIdEmpresa() {
                    var valor = $("#IdEmpresa").val();

                    return valor;
                }
                function obtenerIdCurso() {
                    var valor = $("#IdCurso").val();

                    return getValueString(valor);
                }
                function obtenerEstado() {
                    var estado = $("#Estado").val();

                    return estado;
                }
                function obtenerCodigoRol() {

                    var valor = $("#CodigoRol").val();

                    return valor;
                }
                function obtenerEvaluadores() {
                    
                    var curso = $("#IdCurso").val();
                    curso = curso == "" ? 0 : curso;
                
                    $.ajax({
                        url: '@Url.Action("LstNotificationTeach", "RubricCourse")',
                        type: "GET",
                        data: { idCurso : curso },
                        beforeSend: function () {

                            showLoading();
                        },
                        success: function (data) {
                            $("#list-notification-teach-partial-view").html(data);                  
                        },
                        complete: function () {
                            closeLoading();
                        },
                        error: function () {
                        }
                    });
                }

                obtenerEvaluadores();

                $("#btnFiltrar").click(function () {
                    obtenerEvaluadores();
                });

                function getValue(name)
                {
                    return $("#" + name).val();
                }

                $("#btnGuardarMensaje").click(function () {

                    var data = JSON.stringify({
                        'mensaje': $("#mensaje").val(),
                        'asunto': $("#asunto").val()
                    });
                    console.log('mensaje:');
                    console.log($("#asunto").val());
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GuardarConfiguracionNotificacionEvaluadores", "RubricCourse")',
                        data: data,
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        beforeSend: function () {
                            showLoading();
                        },
                        error: function () {
                            error("@(RubricResource.FalloEnvioDeDatos)");
                        },
                        complete: function () {
                            closeLoading();
                            $('#myModalContenido').modal('toggle');
                        }
                    });

                });


                $('#mensaje').summernote({
                    height: 200,
                    focus: true,
                    toolbar: [
                      ['font', ['bold','italic', 'underline', 'clear']],
                      ['para', ['ul', 'ol', 'paragraph']]
                    ],

                });



            });

        });
    </script>
}