﻿
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared
@{
    var roles = Session.GetRoles();
    ViewBag.Title = Html.Raw(RubricCourseResource.RubricByCourse);
    ViewBag.Icon = "book";
    bool isCoordinador = (bool)ViewBag.boolCoordinador;
    bool isEvaluadorCapstone = (bool)ViewBag.boolEvaluadorCapstone;
    bool isDocent = (bool)ViewBag.boolDocent;
}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="nav-tabs-vertical">
                    <ul class="nav nav-tabs margin-right-25 col-md-2" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                        @if (isCoordinador && isDocent)
                        {
                            <li role="presentation" class="active"><a data-toggle="tab" href="#evaluateTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-list-alt"></i> <span class="tabhidden">@Html.Raw(RubricCourseResource.EvaluateRubric)</span></a></li>
                            if (isEvaluadorCapstone)
                            {
                                <li role="presentation"><a data-toggle="tab" href="#evaluateTabCapstone" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-list-alt"></i> <span class="tabhidden">@Html.Raw(RubricCourseResource.EvaluateRubricCapstone)</span></a></li>
                            }
                            <li role="presentation"><a data-toggle="tab" href="#bulkUploadTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-cloud-upload"></i> <span class="tabhidden">@Html.Raw(RubricCourseResource.BulkUploadRubric)</span></a></li>
                            <li role="presentation"><a data-toggle="tab" href="#maintanceTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-book"></i> <span class="tabhidden">@Html.Raw(RubricCourseResource.MaintenanceRubrics)</span></a></li>
                            <li role="presentation"><a data-toggle="tab" href="#settingRubricTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-cog"></i> <span class="tabhidden">@Html.Raw(RubricCourseResource.RubricSetting)</span></a></li>
                            <li role="presentation"><a data-toggle="tab" href="#bulkDownloadTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-cloud-download"></i> <span class="tabhidden">@Html.Raw(RubricCourseResource.BulkDownloadRubric)</span></a></li>
                        }
                        else
                        {
                            if (isDocent)
                            {
                                <li role="presentation" class="active"><a data-toggle="tab" href="#evaluateTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-list-alt"></i> <span class="tabhidden">@Html.Raw(RubricCourseResource.EvaluateRubric)</span></a></li>
                                if (isEvaluadorCapstone)
                                {
                                    <li role="presentation"><a data-toggle="tab" href="#evaluateTabCapstone" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-list-alt"></i> <span class="tabhidden">@Html.Raw(RubricCourseResource.EvaluateRubricCapstone)</span></a></li>
                                }
                            }
                            if (roles.HasRole(AppRol.Administrador) && !isDocent)
                            {
                                <li role="presentation" class="active"><a data-toggle="tab" href="#bulkDownloadTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-cloud-download"></i> <span class="tabhidden">@Html.Raw(RubricCourseResource.BulkDownloadRubric)</span></a></li>
                            }
                            else
                            {
                                <li role="presentation"><a data-toggle="tab" href="#bulkDownloadTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-cloud-download"></i> <span class="tabhidden">@Html.Raw(RubricCourseResource.BulkDownloadRubric)</span></a></li>
                            }
                        }
                        @if (roles.HasRole(AppRol.Administrador))
                        {
                            <li role="presentation"><a data-toggle="tab" href="#capstoneRubricFinalProcess" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-flag-checkered"></i> <span class="tabhidden">@Html.Raw(RubricCourseResource.CapstoneRubricFinalProcess)</span></a></li>
                        }

                    </ul>

                    <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">
                        @if (isDocent)
                        {
                            <div class="tab-pane active" id="evaluateTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-list-alt"></i> @RubricCourseResource.EvaluateRubric</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault1" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefault1" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefault1" data-parent="#exampleAccordionDefault1" aria-expanded="true" aria-controls="exampleCollapseDefault1">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                Evaluar rubrica
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefault1" aria-labelledby="exampleHeadingDefault1" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @RubricCourseResource.EvaluateRubricDescription
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("EvaluateRubric", "RubricCourse")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @Html.Raw(RubricCourseResource.See)</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="evaluateTabCapstone" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-list-alt"></i> @RubricCourseResource.EvaluateRubricCapstone</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault1" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefault1" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefault1" data-parent="#exampleAccordionDefault1" aria-expanded="true" aria-controls="exampleCollapseDefault1">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                Evaluar rubrica Capstone
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefault1" aria-labelledby="exampleHeadingDefault1" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @RubricCourseResource.EvaluateRubricDescription
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("EvaluateRubricCapstone", "RubricCourse")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @Html.Raw(RubricCourseResource.See)</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="bulkUploadTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-list-alt"></i> @RubricCourseResource.BulkUploadRubric</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault1" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefault1" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefault1" data-parent="#exampleAccordionDefault1" aria-expanded="true" aria-controls="exampleCollapseDefault1">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                Carga de rúbricas
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefault1" aria-labelledby="exampleHeadingDefault1" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @RubricCourseResource.BulkUploadRubricDescription
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("UploadRubricTemplate", "RubricCourse")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @Html.Raw(RubricCourseResource.See)</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="maintanceTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-book"></i> @RubricCourseResource.MaintenanceRubrics</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefault2" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefault2" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefault2">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                Mantenimiento
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefault2" aria-labelledby="exampleHeadingDefault2" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @RubricCourseResource.MaintenanceRubricDescription
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("MaintenanceRubric", "RubricCourse")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @Html.Raw(RubricCourseResource.See)</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="settingRubricTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-cog"></i> @RubricCourseResource.RubricSetting</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault3" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefault3" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefault3" data-parent="#exampleAccordionDefault3" aria-expanded="true" aria-controls="exampleCollapseDefault3">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                Configuracion
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefault3" aria-labelledby="exampleHeadingDefault3" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @RubricCourseResource.RubricSettingDescription
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("ConfigurationRubric", "RubricCourse")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @Html.Raw(RubricCourseResource.See)</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefaultTwo2" role="tab">
                                                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo2" data-parent="#exampleAccordionDefault3" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo2">
                                                                <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                Notificar
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo2" aria-labelledby="exampleHeadingDefaultTwo2" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    Aqui puedes enviar una notificiacion a los profesores
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("NotificationRubric", "RubricCourse")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @Html.Raw(RubricCourseResource.See)</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="bulkDownloadTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="examle-wrap">
                                            <h2 class="fixtitle"><i class="fa fa-cog"></i> @RubricCourseResource.BulkDownloadRubric</h2>
                                            <div class="example">
                                                <div class="panel-group" id="exampleAccordionDefault4" aria-multiselectable="true" role="tablist">
                                                    <div class="panel">
                                                        <div class="panel-heading" id="exampleHeadingDefault4" role="tab">
                                                            <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefault4" data-parent="#exampleAccordionDefault4" aria-expanded="true" aria-controls="exampleCollapseDefault3">
                                                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                Descarga Masiva
                                                            </a>
                                                        </div>
                                                        <div class="panel-collapse collapse in" id="exampleCollapseDefault4" aria-labelledby="exampleHeadingDefault3" role="tabpanel" aria-expanded="true">
                                                            <div class="panel-body">
                                                                <p align="justify">
                                                                    @RubricCourseResource.BulkDownloadRubricDescription
                                                                </p>
                                                                <p>
                                                                    <a href="@Url.Action("BulkDownloadRubric", "RubricCourse")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @Html.Raw(RubricCourseResource.See)</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @if (isEvaluadorCapstone || roles.HasRole(AppRol.Administrador))
                                                    {
                                                        <div class="panel">
                                                            <div class="panel-heading" id="exampleHeadingDefaultTwo5" role="tab">
                                                                <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo5" data-parent="#exampleAccordionDefault4" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo2">
                                                                    <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                    Descarga por Curso
                                                                </a>
                                                            </div>
                                                            <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo5" aria-labelledby="exampleHeadingDefaultTwo5" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <p align="justify">
                                                                        Aquí puedes descargar todas las notas por curso.
                                                                    </p>
                                                                    <p>
                                                                        <a href="@Url.Action("DownloadSeccionbyCourse", "RubricCourse")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @Html.Raw(RubricCourseResource.See)</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            if (roles.HasRole(AppRol.Administrador))
                            {
                                <div class="tab-pane" id="capstoneRubricFinalProcess" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="examle-wrap">
                                                <h2 class="fixtitle"><i class="fa fa-flag-checkered"></i> @RubricCourseResource.CapstoneRubricFinalProcess</h2>
                                                <div class="example">
                                                    <div class="panel-group" id="exampleAccordionDefault7" aria-multiselectable="true" role="tablist">
                                                        <div class="panel">
                                                            <div class="panel-heading" id="exampleHeadingDefault7" role="tab">
                                                                <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefault7" data-parent="#exampleAccordionDefault7" aria-expanded="true" aria-controls="exampleCollapseDefault7">
                                                                    <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                    @Html.Raw(RubricCourseResource.EndProcess) Capstone
                                                                </a>
                                                            </div>
                                                            <div class="panel-collapse collapse in" id="exampleCollapseDefault7" aria-labelledby="exampleHeadingDefault7" role="tabpanel" aria-expanded="true">
                                                                <div class="panel-body">
                                                                    <p align="justify">
                                                                        @RubricCourseResource.CapstoneRubricFinalProcessDescription
                                                                    </p>
                                                                    <p>
                                                                        <a href="@Url.Action("CapstoneRubricFinalProcess","RubricCourse")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @Html.Raw(RubricCourseResource.EndProcess)</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            if (roles.HasRole(AppRol.Administrador))
                            {
                                <div class="tab-pane active" id="bulkDownloadTab" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="examle-wrap">
                                                <h2 class="fixtitle"><i class="fa fa-cog"></i> @RubricCourseResource.BulkDownloadRubric</h2>
                                                <div class="example">
                                                    <div class="panel-group" id="exampleAccordionDefault4" aria-multiselectable="true" role="tablist">
                                                        <div class="panel">
                                                            <div class="panel-heading" id="exampleHeadingDefault4" role="tab">
                                                                <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefault4" data-parent="#exampleAccordionDefault4" aria-expanded="true" aria-controls="exampleCollapseDefault3">
                                                                    <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                    Descarga Masiva
                                                                </a>
                                                            </div>
                                                            <div class="panel-collapse collapse in" id="exampleCollapseDefault4" aria-labelledby="exampleHeadingDefault3" role="tabpanel" aria-expanded="true">
                                                                <div class="panel-body">
                                                                    <p align="justify">
                                                                        @RubricCourseResource.BulkDownloadRubricDescription
                                                                    </p>
                                                                    <p>
                                                                        <a href="@Url.Action("BulkDownloadRubric","RubricCourse")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @Html.Raw(RubricCourseResource.See)</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @if (isEvaluadorCapstone || roles.HasRole(AppRol.Administrador))
                                                        {
                                                            <div class="panel">
                                                                <div class="panel-heading" id="exampleHeadingDefaultTwo5" role="tab">
                                                                    <a class="panel-title-survey collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo5" data-parent="#exampleAccordionDefault4" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo2">
                                                                        <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                        Descarga por Curso
                                                                    </a>
                                                                </div>
                                                                <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo5" aria-labelledby="exampleHeadingDefaultTwo5" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                                    <div class="panel-body">
                                                                        <p align="justify">
                                                                            Aquí puedes descargar todas las notas por curso.
                                                                        </p>
                                                                        <p>
                                                                            <a href="@Url.Action("DownloadSeccionbyCourse","RubricCourse")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @Html.Raw(RubricCourseResource.See)</a>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="capstoneRubricFinalProcess" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="examle-wrap">
                                                <h2 class="fixtitle"><i class="fa fa-flag-checkered"></i> @RubricCourseResource.CapstoneRubricFinalProcess</h2>
                                                <div class="example">
                                                    <div class="panel-group" id="exampleAccordionDefault7" aria-multiselectable="true" role="tablist">
                                                        <div class="panel">
                                                            <div class="panel-heading" id="exampleHeadingDefault7" role="tab">
                                                                <a class="panel-title-survey" data-toggle="collapse" href="#exampleCollapseDefault7" data-parent="#exampleAccordionDefault7" aria-expanded="true" aria-controls="exampleCollapseDefault7">
                                                                    <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                                                    @Html.Raw(RubricCourseResource.EndProcess) Capstone
                                                                </a>
                                                            </div>
                                                            <div class="panel-collapse collapse in" id="exampleCollapseDefault7" aria-labelledby="exampleHeadingDefault7" role="tabpanel" aria-expanded="true">
                                                                <div class="panel-body">
                                                                    <p align="justify">
                                                                        @RubricCourseResource.CapstoneRubricFinalProcessDescription
                                                                    </p>
                                                                    <p>
                                                                        <a href="@Url.Action("CapstoneRubricFinalProcess","RubricCourse")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @Html.Raw(RubricCourseResource.EndProcess)</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
