﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricCourse.UploadRubricViewModel
@{
    ViewBag.Icon = "cloud-upload";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


<form id="IdForm">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cloud-download"></i> @Html.Raw(RubricCourseResource.UploadRubricTemplate)</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-1"><label class="label-survey">@RubricCourseResource.CycleAcademic</label></div>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(m => Model.CicloId, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                                    , new
                                    {
                                        @class = "form-control select2-select",
                                        required = true

                                         })
                                    @Html.ValidationMessageFor(x => x.CicloId)
                                </div>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(m => Model.tipoRubrica, new SelectList(Model.lstTipoRubrica, "Value", "Label"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                                  , new
                                  {
                                      @class = "form-control select2-select",
                                      required = true

                                       })
                                    @Html.ValidationMessageFor(x => x.tipoRubrica)
                                </div>
                                <div class="col-md-2">
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="checkCapstone"/>
                                        <label>Curso Capstone</label>
                                    </div>
                                </div>
                                <div class="col-md-3" style="text-align:right">
                                    <a id="descargarPlantillaExcel" class="btn btn-primary" href="@Url.Content("~/Areas/Rubric/Resources/Files/Templates/Carga_Rubrica_Control.xlsx")" target="_blank"><i class="fa fa-file-excel-o"></i> Descargar Plantilla</a>
                                    <a id="descargarPlantillaExcelCapstone" style="display:none;" class="btn btn-primary" href="@Url.Content("~/Areas/Rubric/Resources/Files/Templates/Carga_Rubrica_Control_Capstone.xlsx")" target="_blank"><i class="fa fa-file-excel-o"></i> Descargar Plantilla Capstone</a>
                                </div>
                                <div class="col-md-12" style="padding-top:15px">
                                    @Html.TextBoxFor(x => x.Archivo, new { type = "file", @class = "dropify", required = true })
                                    @Html.ValidationMessageFor(x => x.Archivo)
                                </div>
                                <div class="col-md-12" id="cargando" style="display:none;">
                                    <center>
                                        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="urlUploadRubric" value="@Url.Action("UploadRubricControl", "RubricCourse")"/>
            <div class="col-md-12">
                <div class="pull-right">
                    @*<a class="btn btn-default" href="@Url.Action("SurveyManagementPPP", "Survey")"><i class="fa fa-arrow-left"></i> @AddEditFDCResource.ButtonsOptionsSurveyAtras</a>*@
                    <button type="button" class="btn btn-primary" id="test"><i class="fa fa-cloud-upload"></i> @RubricCourseResource.UploadRubric</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{

    <script>

        $("#checkCapstone").on('change', function () {
            var checked = $(this)[0].checked;
            console.log(checked);
            if (checked) {
                $("#descargarPlantillaExcelCapstone").show();
                $("#descargarPlantillaExcel").hide();
                $("#tipoRubrica").hide();
                $("#urlUploadRubric").val('@Url.Action("UploadRubricControlCapstone", "RubricCourse")');
            } else {
                $("#descargarPlantillaExcelCapstone").hide();
                $("#descargarPlantillaExcel").show();
                $("#tipoRubrica").show();
                $("#urlUploadRubric").val('@Url.Action("UploadRubricControl", "RubricCourse")');

            }
        })

        $(document).on('change', '#Archivo', function () {
            var Archivo = $("#Archivo").val()
            var type = Archivo.substr(Archivo.length - 4)
            if (type == "xlsx")
                return true
            else {
                swal({
                    title: '¡Operación Fallida!',
                    text: 'Solo se aceptan archivos excel',
                    type: 'error',
                    confirmButtonColor: '#2196f3',
                    confirmButtonText: 'Aceptar'
                });
                //$("#Archivo").val('');

            }
        })
        $(document).on('click', '#test', function () {
            var Archivo = $("#Archivo").val()

            if ($("#IdForm").valid() == false || Archivo == null || Archivo =="") {
                return false;
            }

            var formData = new FormData();

            formData.append('Archivo', $('#Archivo')[0].files[0]);
            formData.append('CicloId', $('#CicloId').val());
            formData.append('CarreraId', $('#CarreraId').val());
            formData.append('tipoRubrica', $('#tipoRubrica').val());

            $.ajax({
                url: $("#urlUploadRubric").val(),
                type: 'POST',
                async: true,
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (data) {
                    $('#cargando').hide();

                    if (data.code == 1) {
                        swal({
                            title: '¡Éxito!',
                            text: data.message,
                            type: 'success',
                            timer:2000,
                            confirmButtonColor: '#2196f3',
                            confirmButtonText: 'Aceptar'
                        });
                    window.location.href = "@Url.Action("RubricCourseIndex","RubricCourse", new { status = true })";
                    } 
                    else if (data.code == 3 || data.code == 2) {
                        swal({
                            title: '¡Operación Fallida!',
                            text: data.message,
                            type: 'warning',                            
                            confirmButtonColor: '#2196f3',
                            confirmButtonText: 'Aceptar',
                            allowOutsideClick:false
                        });                    
                    }  else if (data.code == 4 ) {
                        swal({
                            title: 'Rúbricas ya registradas',
                            text: data.message,
                            type: 'warning',                            
                            confirmButtonColor: '#2196f3',
                            confirmButtonText: 'Aceptar',
                            allowOutsideClick:false
                        });                    
                    }
                    else if (data.code == 0) {
                         swal({
                            title: 'Hubo un error en el sistema',
                            text: data.message,
                             type: 'error',
                            timer:1800
                            //confirmButtonColor: '#2196f3',
                            //confirmButtonText: 'Aceptar'
                        });
                    }
                },
                beforeSend: function () {
                    $('#cargando').show();
                },
                complete: function () {
                    //$('#cargando').hide();

                },
                error: function () {
                     $('#cargando').hide();
                       swal({
                            title: 'Hubo un error en el sistema',
                            text: 'Intentelo nuevamente más tarde',
                            type: 'error',
                            timer:1500
                            //confirmButtonColor: '#2196f3',
                            //confirmButtonText: 'Aceptar'
                        });
                }


            });
        });

        $(document).on('change', '[data-plugin="select2"]', function (e) {
            // Valor seleccionado
            var selectedId = $(this).val();

            if (selectedId != "") {
                // Nombre del parámetro de filtro
                var dataFilter = $(this).attr('data-filter');

                // Url de datos json
                var sourceUrl = $(this).attr('data-source-url');

                // Select a actualizar
                var updateTarget = $(this).attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
                var $updateTarget = $(updateTarget);
                $updateTarget.attr('disabled', 'disabled')
                $updateTarget.find('option[value!=""]').remove();

                $.ajax({
                    type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        var $updateTarget = $(updateTarget);
                        var valueMember = $updateTarget.attr('data-value-member')
                        var textMember = $updateTarget.attr('data-text-member')
                        for (i = 0; i < data.length; i++) {
                            $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                        }
                        $updateTarget.removeAttr('disabled');
                        $updateTarget.trigger('change');
                    },
                    beforeSend: function () {

                    },
                    complete: function () {

                    }
                });
            }
        });
    </script>
}