﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate 
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.NeoMeetingDelegate._ConfirmacionDeleteARDViewModel
@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;

    ViewBag.Icon = "trash";
    ViewBag.Form = true;
    ViewBag.IsGet = "True";
    ViewBag.GUID = Guid.NewGuid().ToString();
    ViewBag.Title = _ConfirmacionDeleteARDResource.Titulo;
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@Html.HiddenFor(x => x.IdReunionDelegado)


<div class="row">
    <div class="form-group">

        <div class="col-sm-9">
            <strong>@(_ConfirmacionDeleteARDResource.Sede): @Model.rd.Sede.Codigo</strong>
        </div>
        <div class="col-sm-9">
            <strong>@(_ConfirmacionDeleteARDResource.Codigo): @Model.rd.Comentario</strong>
        </div>

    </div>
</div><br />


<p>@(_ConfirmacionDeleteARDResource.Confirmacion)</p>

@section Scripts{
    <script>
        @{

        }

    </script>

}
