﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.NeoMeetingDelegate.AddCommentViewModel
@{
    ViewBag.Icon = "Comment";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);

    ViewBag.Title = AddCommentResource.Titulo;


    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "NeoMeetingDelegate")">@IndexResource.Titulo</a></li>
    <li><a href="@Url.Action("LstReunionDelegados", "NeoMeetingDelegate")">@LstReunionDelegadosResource.Titulo</a></li>
    @*<li><a href="@Url.Action("AddStudent", "NeoMeetingDelegate",new {IdReunionDelegado = Model.IdReunionDelegado })">Asistencia</a></li>*@
}



<script type="text/javascript">

    function checkSubmit() {     
        document.getElementById("submitdata").disabled = true;
        showLoading();
       return true;
    }
    function checkSubmita() {
        document.getElementById("submitdata").disabled = false;
        showLoading();
        return true;
    }


</script>



<div class="row">
    <div class="panel panel-bordered">
        <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
            <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i>@AddStudentResource.DatosGeneralesdelaReunion</h3>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.Ciclo</label>
                            @Html.TextBoxFor(x => x.CicloAcademico, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.FechaDeReunion</label>
                            @Html.EditorFor(x => x.Fecha, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.Sede</label>
                            @Html.TextBoxFor(x => x.SedeNombre, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>



@using (Html.BeginForm("AddComment", "NeoMeetingDelegate", FormMethod.Post, new { @id = "formsubmit" }))
{ 
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-body">
                @Html.HiddenFor(x => x.IdReunionDelegado, new { @id = "IdReunionDelegado" })
                @Html.HiddenFor(x => x.IdPeriodoAcademico, new { @id = "IdPeriodoAcademico" })
                @Html.HiddenFor(x => x.IdSede)

                <div class="row">


                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-survey">@AddCommentResource.NombreAlumnoInvitado</label>

                            @Html.DropDownListFor(x => x.IdAlumnoInvitado, Model.LstAlumoInvitado, new { @class = "form-control", @id = "alumnoInvitado", @disabled = "disabled" })

                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            @AddCommentResource.AlumnoInvitado
                        </label>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-survey">@AddStudentResource.CodigodeAlumno</label>

                            @Html.DropDownListFor(x => x.IdAlumno, Model.LstAlumno, new { @class = "form-control", @id = "alumno" })
                            @Html.ValidationMessageFor(x => x.IdAlumno)

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.Curso</label>

                            @Html.DropDownListFor(x => x.IdCurso, Model.LstCurso, new { @class = "form-control", @id = "curso" })
                            @Html.ValidationMessageFor(x => x.IdCurso)

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@AddCommentResource.Docentes</label>
                            @Html.DropDownListFor(x => x.IdSeccion, Model.LstDocentes, new { @class = "form-control", @id = "docente" })
                            @Html.ValidationMessageFor(x => x.IdSeccion)
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="content col-md-12">
                        <div class="form-group">
                            <label>@AddCommentResource.Titulo</label>
                            <div role="tabpanel">

                                <!--Nav Tabs-->
                                <ul id="nested-tabs" class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Español</a></li>
                                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Ingles</a></li>
                                </ul>

                                <!--Tab Panels -->
                                <div id="panels" class="tab-content">

                                    <!-- Tab 1 Panel -->
                                    <div role="tabpanel" class="tab-pane active" id="tab1">
                                        @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control", @required = "true", @id = "hallazgoEspañol"})
                                        @Html.ValidationMessageFor(x => x.DescripcionEspanol)
                                    </div><!-- tabpanel Close -->
                                    <!-- Tab 2 Panel -->
                                    <div role="tabpanel" class="tab-pane" id="tab2">
                                        @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control", @required = "true", @id = "hallazgoIngles" })
                                        @Html.ValidationMessageFor(x => x.DescripcionIngles)
                                    </div><!-- tabpanel Close -->


                                </div><!-- panels close -->

                            </div><!--tabpanel close-->
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" id="submitdata" onclick="btnsubmit()">@AddCommentResource.AgregarComentario</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<div class="row">
    <div class="panel panel-bordered">
        <div style="cursor: pointer;" class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file-text-o"></i>@AddCommentResource.Titulo</h3>
        </div>
        <div>
            <div class="panel-body">

                <div class="row">
                    <table class="table table-hover table-striped" id="table">
                        <thead>
                            <tr style="background-color: #FF1901;">
                                @*<th class="text-center" style="color:white;">Criticidad</th>
                                    <th class="text-center" style="color:white;">Nivel de Aceptación</th>
                                    <th class="text-center" style="color:white;">Comisión</th>
                                    <th class="text-center" style="color:white;">Outcome</th>*@
                                <th class="text-center" style="color:white;">@LstReunionDelegadosResource.Curso</th>
                                <th class="text-center" style="color:white;">@AddCommentResource.Seccion</th>
                                <th class="text-center" style="color:white;">@AddCommentResource.Docente</th>
                                <th class="text-center" style="color:white;">@AddCommentResource.Descripcion</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstHallazgo)
                            {

                                <tr>
                                    @*<td class="text-center">@item.Criticidad.NombreEspanol</td>
                                        <td class="text-center">@item.NivelAceptacionHallazgo.NombreEspanol</td
                                        <td class="text-center">@item.Comision.Codigo</td>
                                        <td class="text-center">@item.Outcome.Nombre</td>*@
                                    <td class="text-center">@item.Curso.NombreEspanol</td>
                                    <td class="text-center">
                                        @if (item.IdSeccion.HasValue)
                                        {
                                            @item.Seccion.Codigo
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (item.IdDocente.HasValue)
                                        {
                                            @(item.Docente.Nombres + " " + item.Docente.Apellidos)
                                        }
                                    </td>
                                    <td class="text-center">@item.DescripcionEspanol</td>

                                    <td class="text-center"> <a href="@Url.Action("DeleteComent", "NeoMeetingDelegate",new {idComentarioDe = item.IdComentarioDelegado ,IdReunionDelegado = item.IdReunionDelegado})">  @ButtonsOptionsResource.Eliminar </a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-body">
            <div class="row">
                <a class="btn btn-default" href="@Url.Action("CallTheRoll","NeoMeetingDelegate", new { IdReunionDelegado = Model.IdReunionDelegado })">  @AddCommentResource.VolveraAsistencia</a>

                <a class="btn btn-success pull-right" href="@Url.Action("Index","NeoMeetingDelegate", new { IdReunionDelegado = Model.IdReunionDelegado })"> @AddCommentResource.Continuar </a>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script src="~/Content/js/components/select2.min.js" rel="stylesheet"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>

    <script>

        function btnsubmit() {
            var Data = $("#formsubmit").serialize();

            var HallazgosEspanol= $('#hallazgoEspañol').val();

            if (HallazgosEspanol !== "") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddComment", "NeoMeetingDelegate")',
                    data: Data,
                    datatype: 'JSON',
                    success: function (response) {

                        if (response == "truecreate") {
                            swal({
                                position: 'top-end',
                                type: 'success',
                                title: '@(AddCommentResource.ComentarioAgregadoSatisfactoriamente)',
                                showConfirmButton: false,
                                timer: 1000
                            })


                            window.location.reload();
                        }
                        else {
                            swal({
                                position: 'top-end',
                                type: 'error',
                                title: '@(AddCommentResource.SucediounError)',
                                showConfirmButton: false,
                                timer: 2000
                            })
                        }

                    },
                    error: function (msg) {
                        alert(msg.responseText);
                    },
                    complete: function (data) {
                        checkSubmita();
                    }
                });
            }
            else {
            swal({
                position: 'top-end',
                type: 'error',
                title: '@(AddCommentResource.IngreseunComentario)',
                showConfirmButton: false,
                timer: 2000
            })

            }
        }

       $(document).ready(function () {
            $('#alumno').select2({ width: '100%' });
            $('#curso').select2({ width: '100%' });
            $('#docente').select2({ width: '100%' });
            $('#alumnoInvitado').select2({ width: '100%' });

            $('#alumno').change(function () {
                MostrarCursosSeccion();
           });



            $('#alumnoInvitado').change(function () {
                MostrarCursosSeccion();
            });
            $("#defaultCheck1").click(function () {

                if ($('#defaultCheck1').prop('checked')) {
                    $('#alumnoInvitado').prop("disabled", false);
                    $('#alumno').prop('selectedIndex', 0);
                    $('#alumno').prop("disabled", true);
                    var periodoAcademicoID = $('#IdPeriodoAcademico').val();
                    var Sdee = $('#IdSede').val();
                    $.ajax({
                        //  type: "POST",
                        url: '@Url.Action("RefreshAlumn", "Json")',
                        data: { IdPeriodoAcademico: periodoAcademicoID, IdSede: Sdee },
                        dataType: "json",
                        success: function (data) {

                            $("#alumno").empty();
                            for (i = 0; i < data.length; i++) {
                                $("#alumno").append($('<option>').text(data[i]["Text"]).attr('Value', data[i]["Value"]));
                            }
                            MostrarCursosSeccion()
                        },
                        beforeSend: function () {
                            $("#alumno").empty();
                            $("#alumno").append($('<option>').text("@(AddCommentResource.Cargando)").attr('value', ""));
                        },
                    });
                }
                else
                {
                    $('#alumnoInvitado').prop('selectedIndex', 0);
                    $('#alumnoInvitado').prop("disabled", true);

                    $('#alumno').prop("disabled", false);
                        $.ajax({
                        //  type: "POST",
                        url: '@Url.Action("RefreshAlumninvt", "Json")',
                        data: {  },
                        dataType: "json",
                        success: function (data) {

                            $("#alumnoInvitado").empty();
                            for (i = 0; i < data.length; i++) {
                                $("#alumnoInvitado").append($('<option>').text(data[i]["Text"]).attr('Value', data[i]["Value"]));
                            }

                        },
                        beforeSend: function () {
                            $("#alumnoInvitado").empty();
                            $("#alumnoInvitado").append($('<option>').text("@(AddCommentResource.Cargando)").attr('value', ""));
                        },
                    });

                }
            });

            /*function selectItemByValue(elmnt, value) {

                for (var i = 0; i < elmnt.options.length; i++) {
                    if (elmnt.options[i].codigo == value)
                        elmnt.SelectedIndex = i.toString();
                }
            }  */

            //Traduccion
            //***************

            $('#curso').change(function () {
                MostrarDocentesCursos();
            });

            $('#hallazgoEspañol').change(function () {
                $('#hallazgoIngles').val("");
                ActualizarTraduccion();
           });





            function ActualizarTraduccion()
            {

                $.ajax({
                    //  type: "POST",
                    url: '@Url.Action("TraduccionActualizar", "Json")',
                    data: { textoatraducir: $('#hallazgoEspañol').val()},
                    dataType: "json",
                    success: function (data) {
                        $('#hallazgoIngles').show();
                        $('#hallazgoIngles').val(data["Text"]);
                        $("#btnGenerar").css("pointer-events", "visible");


                    },
                    beforeSend: function () {
                        $('#hallazgoIngles').val("Traduciendo....")
                        $("#btnGenerar").css("pointer-events", "none");
                    }

                });
            }

            function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }

            function closeLoading() {
                swal.close();
            }

            function MostrarCursosSeccion() {
                // console.log("actualizar");
                
                var alumnoID = $('#alumno').val();

                if (alumnoID === "" || alumnoID === null)
                {
                    alumnoID = 0;
                }



                var periodoAcademicoID = $('#IdPeriodoAcademico').val();
                var IdSede = $('#IdSede').val();
                $.ajax({
                  //  type: "POST",
                    url: '@Url.Action("GetCursosXAlumno", "Json")',
                    data: { IdAlumno: alumnoID, IdPeriodoAcademico: periodoAcademicoID, IdSede: IdSede },
                    dataType: "json",
                    success: function (data) {
                        $("#curso").empty();

                        for (i = 0; i < data.length; i++) {
                            $("#curso").append($('<option>').text(data[i]["Text"]).attr('value', data[i]["Value"]));
                        }
                        MostrarDocentesCursos()

                    },
                    beforeSend: function () {
                        $("#curso").empty();
                        $("#curso").append($('<option>').text("Cargando...").attr('value', ""));

                    },
                });
            }


            function MostrarDocentesCursos() {
                var cursoID = $('#curso').val();
                if (cursoID == "" || cursoID === null) {
                    //$('#descripciones').html('');
                    //return;
                    cursoID = 0;
                }
                var alumnoID = $('#alumno').val();
                if (alumnoID == "" || alumnoID === null) {
                    //$('#descripciones').html('');
                    //  return;
                    alumnoID = 0;
                }
                var periodoAcademicoID = $('#IdPeriodoAcademico').val();

                var codigoseccion = $("#curso :selected").text();
                codigoseccion = codigoseccion.substring(codigoseccion.lastIndexOf("[") + 1, codigoseccion.lastIndexOf("]"));

                console.log("codigo: " + codigoseccion);

                $.ajax({
                    //type: "POST",
                    url: '@Url.Action("GetDocentesXCurso", "Json")',
                    data: { IdAlumno: alumnoID, IdCurso: cursoID, IdPeriodoAcademico: periodoAcademicoID },
                    dataType: "json",
                    success: function (data) {
                        $("#docente").empty();

                        for (i = 0; i < data.length; i++) {

                            var texto = data[i]["Text"];

                            if ($('#docente option:contains(' + texto + ')').length) {
                                continue;
                            }

                            $("#docente").append($('<option>').text(texto).attr('value', data[i]["Value"]));
                            var codigosecciondocente = texto.substring(texto.lastIndexOf("[") + 1, texto.lastIndexOf("]"));
                            if (codigoseccion == codigosecciondocente)
                            {
                                console.log("el profesor del alumno es: " + texto);
                                $('#docente').val(data[i]["Value"]).trigger('change');
                            }

                          //  $('#outcome').val(data[i]["Value"]).trigger('change');
                        }
                    },
                    beforeSend: function () {
                        $("#docente").empty();
                        $("#docente").append($('<option>').text("@(AddCommentResource.Cargando)").attr('value', ""));
                        //$("#btnGenerar").attr("disabled", "true");
                    },
                });
            }
            $('#seccion').change(function () {
                //ActualizarDescripciones();
            });

            function ActualizarDescripciones() {
                var seccionID = $('#seccion').val();

                if (seccionID == "" || seccionID === null)
                {
                    $('#descripciones').html('');
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ListarDescripcionPorCurso", "NeoMeetingDelegate")',
                    data: '{idSeccion: ' + seccionID + ', idPeriodoAcademico: @Model.IdPeriodoAcademico }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        // $('#descripciones').html(response);
                        $('#descripciones').html('');
                    },
                    beforeSend: function () {
                        $('#descripciones').html('<div class="col-md-12"><div class="form-group"><label>@(AddCommentResource.Cargando)</label></div></div>');

                    },

                });
            }



        });

    </script>


}


