﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.NeoMeetingDelegate.AddEditMeetingDelegateViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    if (Model.IdReunionDelegado.HasValue)
    {
        ViewBag.Title = AddEditMeetingDelegateResource.Titulo1;
    }
    else
    {
        ViewBag.Title = AddEditMeetingDelegateResource.Titulo2;
    }

    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "NeoMeetingDelegate")">@AddEditMeetingDelegateResource.ActaDeReunionDeDelegados</a></li>

}

<form method="post">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @AddEditMeetingDelegateResource.DatosGenerales</h3>
            </div>
            <div class="panel-body">
                @Html.HiddenFor(x => x.IdCiclo)
                @Html.HiddenFor(x => x.IdEscuela)
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.Sede</label>

                            @Html.DropDownListFor(x => x.IdSede, Model.LstSede , new { @class = "form-control", @required = "true", @id="idsede" })
                        
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.FechaDeReunion</label>
                              @Html.DropDownListFor(x => x.IdReunionDelegado, Model.ListFecha, new { @class = "form-control", @id = "dropFecha" })
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-12">

                        @if (Model.IdReunionDelegado.HasValue)
                        {
                            
                        }
                        else
                        {
                            <a class="btn btn-default" href="@Url.Action("Index", "NeoMeetingDelegate")"> @ButtonsOptionsResource.Cancelar </a>
                        }

                        <button type="submit" id="btnGenerar" class="btn btn-primary pull-right">  @AddEditMeetingDelegateResource.GuardaryContinuar </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>

<script>
    $(document).ready(function () {

        $("#idsede").val("0");
        $('#dropFecha').val("0");

        $('#idsede').change(function () {
            var idsede = $("#idsede").val();


            MostrarCursosSeccion();
            if ($("#idsede").val() !== 0)
            {
                $('#btnGenerar').attr("disabled", false);
                $('#dropFecha').attr("disabled", false);
            }

            if ($("#idsede").val() == 0)
            {
                $('#btnGenerar').attr("disabled", true);
                $('#dropFecha').attr("disabled", true);
            }
        });
        if ($("#idsede").val() == 0)
        {
            $('#btnGenerar').attr("disabled", true);
            $('#dropFecha').attr("disabled", true);
        }

        function MostrarCursosSeccion() {
            var idsede = $("#idsede").val();
            

            $.ajax({
                //  type: "POST",
                url: '@Url.Action("ListarReuniones", "NeoMeetingDelegate")',
                data: { Sede: idsede },
                dataType: "json",
                success: function (data) {
                    $('#dropFecha').empty();
                    for (i = 0; i < data.length; i++) {
                        var date = data[i]["Text"]
                        var aux = date.split(" ", 3)

                        var setDate = aux[1] + "-" + setMonth(aux[0]) + "-" + aux[2]
                        $("#dropFecha").append($('<option>').text(setDate).attr('value', data[i]["Value"]));
                    }
                    $("#btnGenerar").css("pointer-events", "visible");

                },
                beforeSend: function () {
                    $('#hallazgoIngles').val("Traduciendo....")
                    $("#btnGenerar").css("pointer-events", "none");
                }

            });
        }
        function setMonth(val) {
            switch (val) {
                case 'Jan':
                    return '01'
                    break;
                case 'Feb':
                    return '02'
                    break;
                case 'Mar':
                    return '03'
                    break;
                case 'Apr':
                    return '04'
                    break;
                case 'May':
                    return '05'
                    break;
                case 'Jun':
                    return '06'
                    break;
                case 'Jul':
                    return '07'
                    break;
                case 'Aug':
                    return '08'
                    break;
                case 'Sep':
                    return '09'
                    break;
                case 'Oct':
                    return '10'
                    break;
                case 'Nov':
                    return '11'
                    break;
                default:
                    return '12'
                    break;
            }
        }


    });
</script>
}