﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.NeoMeetingDelegate.AddEditEvidenceViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);

    ViewBag.Title = AddEvidenceResource.Titulo;


    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "NeoMeetingDelegate")">@IndexResource.Titulo</a></li>
    <li><a href="@Url.Action("LstReunionDelegados", "NeoMeetingDelegate")">@LstReunionDelegadosResource.Titulo</a></li>
    @*<li><a href="@Url.Action("AddStudent", "NeoMeetingDelegate",new {IdReunionDelegado = Model.IdReunionDelegado })">Asistencia</a></li>*@
    <li><a href="@Url.Action("AddFinding", "NeoMeetingDelegate",new {IdReunionDelegado = Model.IdReunionDelegado })">@AddFindingResource.Hallazgos</a></li>
}
<script type="text/javascript">

    function checkSubmit() {
        document.getElementById("btnGenerar").disabled = true;
        return true;
    }

</script>


<div class="row">
    <div class="panel panel-bordered">
        <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
            <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i>@AddStudentResource.DatosGeneralesdelaReunion</h3>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.Ciclo</label>
                            @Html.TextBoxFor(x => x.CicloAcademico, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.FechaDeReunion</label>
                            @Html.EditorFor(x => x.Fecha, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.Sede</label>
                            @Html.TextBoxFor(x => x.SedeNombre, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.Identificador</label>
                            @Html.TextBoxFor(x => x.Identificador, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-hover table-striped" id="table">
                        <thead>
                            <tr style="background-color: #FF1901;">
                                <th style="color:white;text-align: center; width: 15%;">@AddEvidenceResource.Orden</th>
                                <th style="color:white;text-align: center; width: 60%;">@AddEvidenceResource.Imagen</th>
                                <th style="color:white;text-align: center; width: 25%;">@LstReunionDelegadosResource.Opciones</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.LstEvidencias.Count(); i++)
                            {
                                <tr>
                                    <td style="text-align: center; vertical-align: middle; width: 15%;">
                                        @Model.LstEvidencias[i].Orden
                                    </td>
                                    <td style="text-align: center; vertical-align: middle; width: 60%;">
                                        <a target="_blank" href="@Url.Content("~/"+Model.LstEvidencias[i].ubicacion)"> <img src="@Url.Content("~/"+Model.LstEvidencias[i].ubicacion)" style="height:150px;" />    </a>
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("EditEvidence", "NeoMeetingDelegate",new {IdReunionDelegado = @Model.LstEvidencias[i].IdReunionDelegado, IdEvidencia  = @Model.LstEvidencias[i].IdEvidencia })"> @ButtonsOptionsResource.Editar</a> | <a href="@Url.Action("DeleteEvidence", "NeoMeetingDelegate",new {IdReunionDelegado = @Model.LstEvidencias[i].IdReunionDelegado, IdEvidencia  = @Model.LstEvidencias[i].IdEvidencia})"> @ButtonsOptionsResource.Eliminar </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<form method="post" enctype="multipart/form-data"  action="@Url.Action("AddEditEvidence","NeoMeetingDelegate")" onsubmit="return checkSubmit();">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-body">
                @Html.HiddenFor(x => x.IdReunionDelegado)
                @Html.HiddenFor(x => x.IdPeriodoAcademico, new { @id = "IdPeriodoAcademico" })
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>@AddEvidenceResource.Orden</label>

                            @Html.TextBoxFor(x => x.Orden, new { @class = "form-control", @type = "number", @required = "true", disabled = "disabled" })
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>@AddEvidenceResource.Imagen</label>

                            @Html.TextBoxFor(x => x.file, new { @type = "file", @accept = "image/*", @required = "true", @id = "imageCharge" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" id="btnGenerar" class="btn btn-primary"> @AddEvidenceResource.AgregarEvidencia</button>


                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-body">
            <div class="row">
                <a class="btn btn-default" href="@Url.Action("AddFinding","NeoMeetingDelegate", new { IdReunionDelegado = Model.IdReunionDelegado })">  @AddEvidenceResource.VolveraHallazgos</a>

                <a class="btn btn-success pull-right" href="@Url.Action("PrintReunionDelegado","NeoMeetingDelegate", new { IdReunionDelegado = Model.IdReunionDelegado })"> @AddEvidenceResource.GenerarReporte</a>
            </div>
        </div>
    </div>
</div>

<script>

    $("#btnGenerar").on("click", function () {
        var image = $("#imageCharge").val();
        if (image == null || image == "") {
             alertify.set('notifier', 'position', 'top-center');
             alertify.warning('@UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate.AddEvidenceResource.ValidacionEvidencia')
            return false
        }
    })
   
</script>