﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.NeoMeetingDelegate.AddEVRViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Meeting;

@{
    ViewBag.Icon = "sticky-note";

    ViewBag.Title = MeetingResource.TituloCrearEVR;
}


@section Breadcrumbs {
   <li><a href="@Url.Action("Index", "NeoMeetingDelegate")">@IndexResource.Titulo</a></li>
}

<form method="post">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @Html.Label(MeetingResource.DatosGenerales)</h3>
            </div>
            <div class="panel-body">                   
                <div class="row">                 
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@Html.Label(MeetingResource.PeriodoAcademico)</label>
                            @Html.TextBoxFor(x => x.Ciclo, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@Html.Label(MeetingResource.Sede)</label>

                          
                            @Html.DropDownListFor(x=>x.IdModulo, new SelectList(Model.LstModulo,"IdModulo","NombreEspanol"),new { @class = "form-control", @required = "true" })

                        </div>
                    </div>
                </div>


                <div class="row">
          
                            <a class="btn btn-default" href="@Url.Action("Index", "NeoMeetingDelegate")"> @ButtonsOptionsResource.Cancelar </a>
                       
                        <button type="submit" id="btnGenerar" class="btn btn-primary pull-right"> @AddEditMeetingDelegateResource.GuardaryContinuar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{
    <script src="~/Content/assets/plugins/select2/dist/js/select2.min.js" rel="stylesheet"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>

}
