﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.NeoMeetingDelegate.AddEditFindingViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);

    ViewBag.Title = AddFindingResource.Titulo;


    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "NeoMeetingDelegate")">@IndexResource.Titulo</a></li>
    <li><a href="@Url.Action("LstReunionDelegados", "NeoMeetingDelegate")">@LstReunionDelegadosResource.Titulo</a></li>
    @*<li><a href="@Url.Action("AddStudent", "NeoMeetingDelegate",new {IdReunionDelegado = Model.IdReunionDelegado })">Asistencia</a></li>*@
}
<style>
    #tableMain {
        width: 100%;
    }

    #headhallazgos, #tablaComentarios, #headhallazgos tr, #tablaComentarios tr, #headhallazgos tr th, #tablaComentarios tr td {
        display: block;
    }

        #headhallazgos tr:after, #tablaComentarios tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        #headhallazgos th {
            height: 60px;
        }

    #tablaComentarios {
        height: 250px;
        overflow-y: auto;
    }

    #headhallazgos {
        /* fallback */
    }
    /* #tablaComentarios td#celda20, #headhallazgos th#celda20 {
              width:20%;
            float: left;
            text-align:center;
            vertical-align:middle;
        }*/

    .celda50 {
        width: 50%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda20 {
        width: 20%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda15 {
        width: 15%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda10 {
        width: 10%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda5 {
        width: 5%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    button.modalButton {
        color: white;
        background-color: #ED1B24;
        border-style: hidden;
        border-radius: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 1em;
        padding-right: 1em;
    }
</style>

<script type="text/javascript">

    function checkSubmit() {
        document.getElementById("btnGenerar").disabled = true;
        return true;
    }

</script>

<div1 class="row">
    <div class="panel panel-bordered">
        <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
            <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i>@AddStudentResource.DatosGeneralesdelaReunion</h3>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.Ciclo</label>
                            @Html.TextBoxFor(x => x.CicloAcademico, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.FechaDeReunion</label>
                            @Html.EditorFor(x => x.Fecha, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.Sede</label>
                            @Html.TextBoxFor(x => x.SedeNombre, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.Identificador</label>
                            @Html.TextBoxFor(x => x.Identificador, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div1>


@using (Html.BeginForm("AddFinding", "NeoMeetingDelegate", FormMethod.Post, new { @id = "formsubmit" }))
{
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading" data-target="#collapseComentarios" aria-controls="collapseExample">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i> @AddFindingResource.ListaDeComentarios</h3>
            </div>
            <div class="panel-body">
                @Html.HiddenFor(x => x.IdReunionDelegado, new { @id = "IdReunionDelegado" })
                @Html.HiddenFor(x => x.IdPeriodoAcademico, new { @id = "IdPeriodoAcademico" })
                @Html.HiddenFor(x => x.IdSede)

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">

                            <label class="label-survey">@(AddFindingResource.Area):</label>
                            @Html.DropDownListFor(x => x.IdArea, Model.LstArea, new { @class = "form-control", @id = "area" })

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.Curso</label>
                            @Html.DropDownListFor(x => x.IdCurso, Model.LstCurso, new { @class = "form-control", @id = "curso" })
                        </div>
                    </div>
                </div>
                <div class="content">
                    <table class="table table-striped" id="tableMain">
                        <thead id="headhallazgos">
                            <tr style="background-color:#99a4ab;">
                                <th class="text-center celda5" style="color:white;"></th>
                                <th class="text-center celda10" style="color:white;">@(AddFindingResource.Alumno)</th>
                                <th class="text-center celda20" style="color:white;">@LstReunionDelegadosResource.Curso</th>
                                <th class="text-center celda50" style="color:white;">@(AddFindingResource.Comentario)</th>
                            </tr>
                        </thead>
                        <tbody id="tablaComentarios"></tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="content col-md-12">
                        <div class="form-group">
                            <label>@AddFindingResource.Descripcion</label>
                            <div role="tabpanel">
                                <!--Nav Tabs-->
                                <ul id="nested-tabs" class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"> Español</a></li>
                                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Ingles</a></li>
                                </ul>                             
                                <div id="panels" class="tab-content">                                
                                    <div role="tabpanel" class="tab-pane active" id="tab1">
                                        @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control", @required = "true", @id = "hallazgoEspañol" })
                                        @Html.ValidationMessageFor(x => x.DescripcionEspanol, "Debes ingresar un comentario.")
                                    </div>                                 
                                    <div role="tabpanel" class="tab-pane" id="tab2">
                                        @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control", @required = "true", @id = "hallazgoIngles" })
                                        @Html.ValidationMessageFor(x => x.DescripcionIngles, "You must add a comment.")
                                    </div>
                                </div><!-- panels close -->

                            </div><!--tabpanel close-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" id="submitdata" onclick="btnsubmit()">@AddFindingResource.AgregarHallazgo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="panel panel-bordered">
        <div style="cursor: pointer;" class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file-text-o"></i>@AddFindingResource.Hallazgos</h3>
        </div>
        <div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-hover table-striped" id="table">
                        <thead>
                            <tr style="background-color: #FF1901;">
                                <th class="text-center" style="color:white;">@LstReunionDelegadosResource.Codigo</th>
                                <th class="text-center" style="color:white;">@LstReunionDelegadosResource.Curso</th>
                                <th class="text-center" style="color:white;">@AddFindingResource.Descripcion</th>
                                <th class="text-center" style="color:white;">@AddFindingResource.Comentario</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstHallazgo)
                            {
                                <tr>
                                    <td class="text-center"> @item.Codigo - @item.Identificador</td>
                                    <td class="text-center"> @item.Curso.NombreEspanol </td>                                
                                    <td class="text-center"> @item.DescripcionEspanol </td>                                                                                          
                                    <td class="text-center"> <button type="button" class="modalButton"><i class="fa fa-search"></i></button> </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("DeleteFinding", "NeoMeetingDelegate",new {IdHallazgo  = item.IdHallazgo, IdReunionDelegado = item.ComentarioHallazgo.First().IdComentarioDelegado})">  @ButtonsOptionsResource.Eliminar </a>
                                    </td>
                                    <td class="idHallazgo" style="display:none">@item.IdHallazgo</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>             
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-body">
            <div class="row">
                <a class="btn btn-success pull-right" href="@Url.Action("AddEvidence","NeoMeetingDelegate", new { IdReunionDelegado = Model.IdReunionDelegado })">  @AddFindingResource.ContinuaraEvidencias</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalComentarios" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">@AddCommentResource.Titulo</h3>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 20%">@SurveyResources.CodigoComentario</th>
                            <th class="text-center" style="width: 20%">@SurveyResources.Alumno</th>
                            <th class="text-center" style="width: 60%">@SurveyResources.Descripcion</th>
                        </tr>
                    </thead>
                    <tbody id="bodyComentarios"></tbody>
                </table>
            </div>
        </div>

    </div>
</div>





<script src="~/Content/js/components/select2.min.js" rel="stylesheet"></script>
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>

<script>

    function btnsubmit() {
        document.getElementById("submitdata").disabled = true;

        var Data = $("#formsubmit").serialize();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddFinding", "NeoMeetingDelegate")',
            data: Data,
            datatype: 'JSON',
            success: function (response) {
             
                if (response == "truecreate") {
                    swal({
                        position: 'top-end',
                        type: 'success',
                        title: '@(AddFindingResource.HallazgoAgregadoSatisfactoriamente)',
                        showConfirmButton: false,
                        timer: 1000
                    })
                                     
                    setTimeout(function () {
                        window.location.reload(1);
                    }, 1000);
                }
                else {
                    swal({
                        position: 'top-end',
                        type: 'error',
                        title: '@(AddFindingResource.SucedioUnError)',
                        showConfirmButton: false,
                        timer: 2000
                    })

                    document.getElementById("submitdata").disabled = false;
                }

            },
            error: function (msg) {
                document.getElementById("submitdata").disabled = false;
                alert(msg.responseText);
            },
            complete: function (data) {
                checkSubmita();
            }
        });
    }



    $(document).ready(function () {
       

        document.getElementById("submitdata").disabled = false;

        var tableComentarios = $('#bodyComentarios');

        $(".modalButton").click(function () {
            var idHallazgo = $(this).closest("tr").find(".idHallazgo").text();
            $.ajax({
                url: '@Url.Action("GetComentariosHallazgo", "Json")',
                data: { HallazgoId: idHallazgo },
                dataType: "json",
                success: function (data) {
                    tableComentarios.empty();
                    if (data.length > 0) {
                        for (i = 0; i < data.length; i++) {
                            var row = $('<tr></tr>');
                            row.append($('<td class="text-center"></td>').text(data[i]["CodComentario"]));
                            row.append($('<td class="text-center"></td>').text(data[i]["Alumno"]));

                            row.append($('<td class="text-center"></td>').text(data[i]["Comentario"]));


                            tableComentarios.append(row);
                        }
                    }
                    $('#modalComentarios').modal('show');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus); alert("Error: " + errorThrown);
                }
            });
        });




            var ajaxComentarios = null;

            $('#alumno').select2({ width: '100%' });
            $('#curso').select2({ width: '100%' });
            $('#docente').select2({ width: '100%' });
            $('#alumnoInvitado').select2({ width: '100%' });

            ActualizarComentarios();

            $('#alumno').change(function () {
                MostrarCursosSeccion();
            });

            $('#alumnoInvitado').change(function () {
                MostrarCursosSeccion();
            });

            $("#defaultCheck1").click(function () {



                if ($('#defaultCheck1').prop('checked')) {
                    $('#alumnoInvitado').prop("disabled", false);
                    $('#alumno').prop('selectedIndex', 0);
                    $('#alumno').prop("disabled", true);
                    var periodoAcademicoID = $('#IdPeriodoAcademico').val();
                    var Sdee = $('#IdSede').val();
                    $.ajax({
                        //  type: "POST",
                        url: '@Url.Action("RefreshAlumn", "Json")',
                        data: { IdPeriodoAcademico: periodoAcademicoID, IdSede: Sdee },
                        dataType: "json",
                        success: function (data) {

                            $("#alumno").empty();
                            for (i = 0; i < data.length; i++) {
                                $("#alumno").append($('<option>').text(data[i]["Text"]).attr('Value', data[i]["Value"]));
                            }
                            MostrarCursosSeccion()



                        },
                        beforeSend: function () {
                            $("#alumno").empty();
                            $("#alumno").append($('<option>').text("@(AddCommentResource.Cargando)").attr('value', ""));
                        },
                    });






                }
                else
                {
                    $('#alumnoInvitado').prop('selectedIndex', 0);
                    $('#alumnoInvitado').prop("disabled", true);

                    $('#alumno').prop("disabled", false);


                        $.ajax({
                        //  type: "POST",
                        url: '@Url.Action("RefreshAlumninvt", "Json")',
                        data: {  },
                        dataType: "json",
                        success: function (data) {

                            $("#alumnoInvitado").empty();
                            for (i = 0; i < data.length; i++) {
                                $("#alumnoInvitado").append($('<option>').text(data[i]["Text"]).attr('Value', data[i]["Value"]));
                            }

                        },
                        beforeSend: function () {
                            $("#alumnoInvitado").empty();
                            $("#alumnoInvitado").append($('<option>').text("@(AddCommentResource.Cargando)").attr('value', ""));
                        },
                    });

                }
            });

            /*function selectItemByValue(elmnt, value) {

                for (var i = 0; i < elmnt.options.length; i++) {
                    if (elmnt.options[i].codigo == value)
                        elmnt.SelectedIndex = i.toString();
                }
            }  */








            //Traduccion



            //***************

            $('#curso').change(function () {
                ActualizarComentarios()
            });

            $('#hallazgoEspañol').change(function () {
                $('#hallazgoIngles').val("");
                ActualizarTraduccion();
            });

            $("#area").on("change", function () {
                ActualizarCursos();
            });
            function ActualizarTraduccion()
            {

                $.ajax({
                    //  type: "POST",
                    url: '@Url.Action("TraduccionActualizar", "Json")',
                    data: { textoatraducir: $('#hallazgoEspañol').val()},
                    dataType: "json",
                    success: function (data) {
                        $('#hallazgoIngles').show();
                        $('#hallazgoIngles').val(data["Text"]);
                        $("#btnGenerar").css("pointer-events", "visible");


                    },
                    beforeSend: function () {
                        $('#hallazgoIngles').val("Traduciendo....")
                        $("#btnGenerar").css("pointer-events", "none");
                    }

                });
            }

            function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }

            function closeLoading() {
                swal.close();
            }

            function MostrarCursosSeccion() {
               // console.log("actualizar");

                var alumnoID = $('#alumno').val();

                if (alumnoID == "" || alumnoID === null)
                {
                    alumnoID = 0;
                }



                var periodoAcademicoID = $('#IdPeriodoAcademico').val();
                var IdSede = $('#IdSede').val();
                $.ajax({
                  //  type: "POST",
                    url: '@Url.Action("GetCursosXAlumno", "Json")',
                    data: { IdAlumno: alumnoID, IdPeriodoAcademico: periodoAcademicoID, IdSede: IdSede },
                    dataType: "json",
                    success: function (data) {
                        $("#curso").empty();

                        for (i = 0; i < data.length; i++) {
                            $("#curso").append($('<option>').text(data[i]["Text"]).attr('value', data[i]["Value"]));
                        }
                        MostrarDocentesCursos()

                    },
                    beforeSend: function () {
                        $("#curso").empty();
                        $("#curso").append($('<option>').text("@(AddCommentResource.Cargando)").attr('value', ""));

                    },
                });
            }


            function MostrarDocentesCursos() {
                var cursoID = $('#curso').val();
                if (cursoID == "" || cursoID === null) {
                    //$('#descripciones').html('');
                    //return;
                    cursoID = 0;
                }
                var alumnoID = $('#alumno').val();
                if (alumnoID == "" || alumnoID === null) {
                    //$('#descripciones').html('');
                    //  return;
                    alumnoID = 0;
                }
                var periodoAcademicoID = $('#IdPeriodoAcademico').val();

                var codigoseccion = $("#curso :selected").text();
                codigoseccion = codigoseccion.substring(codigoseccion.lastIndexOf("[") + 1, codigoseccion.lastIndexOf("]"));

                console.log("codigo: " + codigoseccion);

                $.ajax({
                    //type: "POST",
                    url: '@Url.Action("GetDocentesXCurso", "Json")',
                    data: { IdAlumno: alumnoID, IdCurso: cursoID, IdPeriodoAcademico: periodoAcademicoID },
                    dataType: "json",
                    success: function (data) {
                        $("#docente").empty();

                        for (i = 0; i < data.length; i++) {

                            var texto = data[i]["Text"];

                            if ($('#docente option:contains(' + texto + ')').length) {
                                continue;
                            }

                            $("#docente").append($('<option>').text(texto).attr('value', data[i]["Value"]));
                            var codigosecciondocente = texto.substring(texto.lastIndexOf("[") + 1, texto.lastIndexOf("]"));
                            if (codigoseccion == codigosecciondocente)
                            {
                                console.log("el profesor del alumno es: " + texto);
                                $('#docente').val(data[i]["Value"]).trigger('change');
                            }

                          //  $('#outcome').val(data[i]["Value"]).trigger('change');
                        }
                    },
                    beforeSend: function () {
                        $("#docente").empty();
                        $("#docente").append($('<option>').text("@(AddCommentResource.Cargando)").attr('value', ""));
                        //$("#btnGenerar").attr("disabled", "true");
                    },
                });
            }
            $('#seccion').change(function () {
                //ActualizarDescripciones();
            });

            function ActualizarDescripciones() {
                var seccionID = $('#seccion').val();

                if (seccionID == "" || seccionID === null)
                {
                    $('#descripciones').html('');
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ListarDescripcionPorCurso", "NeoMeetingDelegate")',
                    data: '{idSeccion: ' + seccionID + ', idPeriodoAcademico: @Model.IdPeriodoAcademico }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        // $('#descripciones').html(response);
                        $('#descripciones').html('');
                    },
                    beforeSend: function () {
                        $('#descripciones').html('<div class="col-md-12"><div class="form-group"><label>Cargando...</label></div></div>');

                    },

                });
            }
            function ActualizarCursos() {
                var areaID = $("#area").val();
                var reunionID = $('#IdReunionDelegado').val();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ListarCursosPorArea", "NeoMeetingDelegate")',
                    data: { IdArea: areaID, IdReunion: reunionID },
                    success: function (data) {
                        $('#curso').empty()
                        console.log("ENTRO")
                        if (data !== 0) {
                            $('#curso').append('<option value="0" selected>@(AddFindingResource.SeleccioneUnCurso)</option>');
                            $.each(data, function (i, d) {
                                $('#curso').append('<option value="' + d.Value + '">' + d.Text + '</option>');
                            });
                        }
                    },
                });
            }


            function ActualizarComentarios() {

                var cursoID = $("#curso").val();
                var reunionID = $('#IdReunionDelegado').val();

                if (cursoID == '') cursoID = '0';

                if (ajaxComentarios != null) ajaxComentarios.abort();

                ajaxComentarios = $.ajax({
                    type: "GET",
                    url: '@Url.Action("ListarComentarioPorBusquedaJSON", "NeoMeetingDelegate")',
                    data: { IdCurso: cursoID, IdReunion: reunionID },
                    success: function (data) {
                        
                        $('#tablaComentarios tr').each(function () {
                            if ($(this).find('td:last input').is(':checked')) {
                            }
                            else {
                                $(this).remove();
                            }
                        });
                        if (data.length != 0)
                            {
                                for (i = 0; i < data.length; i++) {

                                    var yaexiste = 0;


                                        var color = "";

                                        //  var td_nivelaceptacion = '<td  >' + data[i].NiveldeAceptacion + '</td>';
                                        //  var td_instrumento = '<td  >' + data[i].Instrumento + '</td>';
                                        var td_checkbox = '<td class="text-center celda5"> <input type="checkbox" name="check" value="' + data[i].idcomentario + '" ></td>';
                                        var td_alumno = '<td class="text-center celda10"  >' + data[i].alumno + '</td>';
                                        var td_curso = '<td class="text-center celda20"  >' + data[i].curso + '</td>';
                                        var td_comentario = '<td class="text-center celda50"  >' + data[i].comentario + '</td>';
                                        $("#tablaComentarios").append('<tr  ' + color + ' >' + td_checkbox + td_alumno + td_curso + td_comentario +  '</tr>');

                                }
                        }
                        else
                        {
                            var color = "";

                            //  var td_nivelaceptacion = '<td  >' + data[i].NiveldeAceptacion + '</td>';
                            //  var td_instrumento = '<td  >' + data[i].Instrumento + '</td>';
                            var td_5 = '<td class="text-center celda5"  >' + "   " + '</td>';
                            var td_10 = '<td class="text-center celda10"  >' + "   " + '</td>';
                            var td_20 = '<td class="text-center celda20"  >' + "    " + '</td>';
                            var td_50 = '<td class="text-center" style=" font-weight: bold;   font-size:25px ; color:#FF0000"  >' + "Primero Seleccionar Un Curso" + '</td>';
                            $("#tablaComentarios").append('<tr  ' + color + ' >' + td_50 + '</tr>');


                        }
                        $("#btnEditLink").click(function (e) {
                        });
                    },
                    beforeSend: function () {
                        // if(pagina<2)
                        $.LoadingOverlay("show");
                    },
                        complete: function () {
                        $.LoadingOverlay("hide");
                    }
                });
            }
    });

</script>






