﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate 
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.NeoMeetingDelegate.AddStudentViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);

    ViewBag.Title = AddStudentResource.Titulo;


    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@section Breadcrumbs {
<li><a href="@Url.Action("Index", "NeoMeetingDelegate")">@IndexResource.Titulo</a></li>
    <li><a href="@Url.Action("LstReunionDelegados", "NeoMeetingDelegate")">@LstReunionDelegadosResource.Titulo</a></li>
}


<div class="row">
    <div class="panel panel-bordered">
        <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
            <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i>@AddStudentResource.DatosGeneralesdelaReunion</h3>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.Ciclo</label>
                            @Html.TextBoxFor(x => x.CicloAcademico, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.FechaDeReunion</label>
                            @Html.EditorFor(x => x.Fecha, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.Sede</label>
                            @Html.TextBoxFor(x => x.SedeNombre, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <table class="table table-hover table-striped" id="table">
                        <thead>
                            <tr style="background-color: #FF1901;">
                                <th class="text-center" style="color:white;">@LstReunionDelegadosResource.Codigo</th>
                                <th class="text-center" style="color:white;">@AddStudentResource.Nombre</th>
                                <th class="text-center" style="color:white;">@AddStudentResource.Delegado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstAlumnoAsistencia)
                            {

                                <tr>
                                    <td class="text-center">@item.AlumnoCodigo</td>
                                    <td class="text-center">@item.NombreCompleto</td>
                                    <td class="text-center">@item.Delegado</td>
                                    <td class="text-center"> <a href="@Url.Action("RemoveStudent", "NeoMeetingDelegate",new {IdReunionDelegadoAlumno = item.IdReunionDelegadoAlumno, IdReunionDelegado = Model.IdReunionDelegado })"> @ButtonsOptionsResource.Eliminar </a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<form method="post">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-body">
                @Html.HiddenFor(x => x.IdReunionDelegado)
                @Html.HiddenFor(x => x.IdPeriodoAcademico, new { @id = "IdPeriodoAcademico" })
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-survey">@AddStudentResource.CodigodeAlumno</label>

                            @Html.DropDownListFor(x => x.IdAlumno, Model.LstAlumno, new { @class = "form-control", @id = "alumno", @required = "true" })

                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <p id="datos"></p>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" id="btnGenerar" class="btn btn-primary"> @AddStudentResource.AgregarAlumno</button>

                     
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-body">
            <div class="row">
                <a class="btn btn-success pull-right" href="@Url.Action("AddFinding","NeoMeetingDelegate", new { IdReunionDelegado = Model.IdReunionDelegado })">@AddStudentResource.ContinuaraHallazgos</a>
            </div>
        </div>
    </div>
</div>


                @section Scripts{
                    <script src="~/Content/assets/plugins/select2/dist/js/select2.min.js" rel="stylesheet"></script>
                    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
                    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
                    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>

                    <script>

        $(document).ready(function () {
            $('#alumno').select2({ width: '100%' });


            MostrarDatosAlumno();


            $('#alumno').change(function () {
                MostrarDatosAlumno();
            });


            function MostrarDatosAlumno() {
                console.log("actualizar");

                var alumnoID = $('#alumno').val();
                var periodoAcademicoID = $('#IdPeriodoAcademico').val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetDatosAlumno", "Json")',
                    data: { IdAlumno: alumnoID, IdPeriodoAcademico: periodoAcademicoID },
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $('#datos').html(data["NombreCompleto"] +"<br/>CARRRERA: "+ data["Carrera"] +"<br/>" + data["Delegado"]);
                    },
                    beforeSend: function () {
                        $('#datos').html("Cargando...");
                    }
                });
            }

        });

                    </script>


                }
