﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.NeoMeetingDelegate.CallTheRollViewModel

@{
    ViewBag.Title = CallTheRollResource.Titulo;
    ViewBag.IsGet = true;
    ViewBag.Icon = "sticky-note";

    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs
{

}

@section Styles{

    <style>
        @@media screen and (max-width: 550px) {

            .table tr td {
                display: block;
                clear: both;
                width: 95%;
            }

            .table tr:nth-child(even) {
                background: #e7f1ff !important;
            }

            .table tr {
                border-top: 5px solid;
            }

            .hiddenTexto {
                font-weight: bold !important;
                display: inline-block !important;
            }

            .hiddenHeader {
                display: none !important;
            }
        }

        .hiddenTexto {
            display: none;
        }
    </style>

}

<div class="col-md-6">
</div>



    <form method="post">
        <div class="row">
            <div class="panel panel-bordered">
                    <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
                        <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i> @CallTheRollResource.AlumnosDelegados</h3>
                    </div>
                    <div class="collapse in" id="collapseExample">
                        <div class="panel-body">
                            <table id="tbl_proyectos" class="table table-striped table-bordered" style="width:100%">
                                <thead class="hiddenHeader">
                                    <tr>
                                        <th>@CallTheRollResource.Codigo</th>
                                        <th>@CallTheRollResource.NombresyApellidos</th>
                                        <th>@CallTheRollResource.EstaPresente</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < Model.Checkboxes.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <span class="hiddenTexto">Codigo:</span> @Html.DisplayFor(model => Model.Checkboxes[i].Codigo)
                                            </td>
                                            <td>
                                                <span class="hiddenTexto">Nombres y apellidos:</span> @Html.DisplayFor(model => Model.Checkboxes[i].Text)
                                            </td>
                                            <td data-order="0">
                                                <span class="hiddenTexto">@CallTheRollResource.EstaPresente:</span>
                                                @Html.HiddenFor(m => Model.Checkboxes[i].Value)
                                                @Html.HiddenFor(m => Model.Checkboxes[i].Text)
                                                @Html.HiddenFor(m => Model.Checkboxes[i].Codigo)
                                                @Html.CheckBoxFor(m => Model.Checkboxes[i].Checked, new { id = Model.Checkboxes[i].Value })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </form>

    <div class="row">
        <div class="panel panel-bordered">
            <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample1" aria-controls="collapseExample">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i> @CallTheRollResource.AlumnosInvitados</h3>
            </div>
            <div class="collapse" id="collapseExample1">
                <div class="panel-body">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRegisterForm">@CallTheRollResource.RegistroDeAlumnoInvitado</button>
                    </div>
                    <div class="table-responsive">
                        <table id="tb2_proyectos" class="table table-striped table-hover dataTable">
                            <thead class="hiddenHeader">
                                <tr>
                                    <th>@CallTheRollResource.Codigo</th>
                                    <th>@CallTheRollResource.NombresyApellidos</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.ListaAlumnosInvitados.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <span class="hiddenTexto">@(CallTheRollResource.Codigo):</span> @Html.DisplayFor(model => Model.ListaAlumnosInvitados[i].codigo)
                                        </td>

                                        <td>
                                            <span class="hiddenTexto">@(CallTheRollResource.NombresyApellidos):</span> @Html.DisplayFor(model => Model.ListaAlumnosInvitados[i].nombres) @Html.DisplayFor(model => Model.ListaAlumnosInvitados[i].apellido)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-body">
                <div class="row">
                    <a class="btn btn-default" href="@Url.Action("AddEditMeetingDelegate","NeoMeetingDelegate")">  @CallTheRollResource.VolveraRegistroDeARD</a>
                    <button type="button" id="btnGenerar" class="btn btn-primary pull-right" onclick="GuardarAsistencia()">  @AddEditMeetingDelegateResource.GuardaryContinuar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title w-100 font-weight-bold">@CallTheRollResource.RegistroDeAlumnoInvitado</h4>

                </div>
                <div class="modal-body mx-3">

                    <div class="row">
                        <div class="col-md-4">
                            <label data-error="wrong" data-success="right" for="orangeForm-name">@CallTheRollResource.Codigo</label>
                            <input type="text" id="mdCodigo" class="form-control validate">
                        </div>

                        <div class="col-md-6 ml-auto">
                            <label data-error="wrong" data-success="right" for="orangeForm-email">@CallTheRollResource.Carrera</label>
                            <input type="email" id="mdCarrera" class="form-control validate">

                        </div>
                    </div>

                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="orangeForm-name">@CallTheRollResource.Nombres</label>
                        <input type="text" id="mdName" class="form-control validate">

                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="orangeForm-name">@CallTheRollResource.Apellidos </label>
                        <input type="text" id="mdApellido" class="form-control validate">

                    </div>


                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="orangeForm-email">@CallTheRollResource.Correo</label>
                        <input type="email" id="mdCorreo" class="form-control validate">

                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" id="cl" class="btn btn-secondary" data-dismiss="modal">@CallTheRollResource.Cerrar</button>
                    <button type="button" id="saveNewAlum" class="btn btn-primary">@CallTheRollResource.Registrar</button>
                </div>
            </div>
        </div>
    </div>





    @section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            
            $.fn.dataTable.ext.order['dom-checkbox'] = function  ( settings, col )
            {
                return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
                    return $('input', td).prop('checked') ? '1' : '0';
                } );
            }

            $('#tbl_proyectos').DataTable();                 


            $('#tb2_proyectos').dataTable();



        });


        var ArrayChecked = [];

        @foreach (var d in Model.LstIdAlumno)
        {
            @:ArrayChecked.push("@d");
        }
        $("#tbl_proyectos input[type=checkbox]").on('change', function () {
            
            $(this).closest('td').attr('data-order', this.checked ? 1 : 0);

            var ItemId = $(this).attr("id");
            if (this.checked) {
                console.log($(this).attr("id") + " - "+ "AGREGADO");//Evitar Duplicados
                ArrayChecked.push(ItemId);
            } else {
                console.log($(this).attr("id") + " - " + "BORRADO");
                var index = ArrayChecked.indexOf($(this).attr("id"));
                if (index > -1) {
                    ArrayChecked.splice(index, 1);
                }
            }

            // Store row reference so we can reset its data
            var $tr = $(this).closest('tr');
    
            // Force resorting
            var dataTable = $('#tbl_proyectos').DataTable();
            dataTable
                .row($tr)
                .invalidate()
                .order([ 2, 'desc' ])
                .draw();

        });


        function GuardarAsistencia() {
            
            if (ArrayChecked.length != 0) {
                var LstPresentes = JSON.stringify(ArrayChecked);
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("CallTheRoll", "NeoMeetingDelegate")',
                    dataType: "json",
                    data: { IdReunionDelegado: @Model.IdReunionDelegado, LstAsistencia: LstPresentes },
                    success: function (data) {
                        
                        if ('@ViewBag.IsGet' == 'True') {
                            window.location.href = data;
                        }
                        else {
                            if (urlModalRedirect != '') {
                                window.location.href = urlModalRedirect;
                            }
                        }
                        return true;
                    },
                    error: function (error) {
                        return false;
                    },
                })
            }
            else{
                alertify.warning("Debe Tomar Asitencia");
            }
            
        }







            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }




            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            function validateEmail(email) {
                var re = /\S+@@\S+\.\S+/;
                return re.test(email);
            }


            $("#saveNewAlum").click(function () {
                var codigo = $('#mdCodigo').val();
                var carrera = $('#mdCarrera').val();
                var nombres = $('#mdName').val();
                var apellido = $('#mdApellido').val();
                var correo = $('#mdCorreo').val();
                var IdReunionDelegado 
                if (!validateEmail(correo)) {
                    alertify.set('notifier', 'position', 'top-center');
                    alertify.warning('@UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate.CallTheRollResource.FormatoEmail')
                    return false
                }
                alertify.set('notifier', 'position', 'top-center');
                if (codigo.length > 0 && carrera.length > 0 && nombres.length > 0 && apellido.length > 0 && correo.length > 0) {
                    $.ajax({
                        url: '@Url.Action("NewAlumnReg", "Json")',
                        data: {
                            codigo: codigo, carrera: carrera, nombres: nombres, apellidos: apellido, correo: correo, idReunionDelegado: @Model.IdReunionDelegado
                        },
                        dataType: "json",
                        success: function (data) {

                            if (data == "Success") {

                                alertify.success("El Alumno Se registro correctamente" );
                            }
                            if (data == "Error") {

                                alertify.error("Ocurrio un Error" );
                            }
                            if (data == "Warning") {

                                alertify.error("El codigo ya Existe");
                            }
                            $('#mdCodigo').val("");
                            $('#mdCarrera').val("");
                            $('#mdName').val("");
                            $('#mdApellido').val("");
                            $('#mdCorreo').val("");
                            $('#defaultCheck1').prop('checked', true);
                            $('#alumnoInvitado').prop("disabled", false);
                            $('#alumno').prop("disabled", true);
                            $("#modalRegisterForm").modal("hide");
                            //selectItemByValue($('#alumnoInvitado'), codigo);
                            //$('#alumnoInvitado').selectedIndex = "3";
                            //alert(listaAlumnosInvitados.selectedIndex);

                            $.ajax({

                                url: '@Url.Action("getTheLastAlumn", "Json")',
                                data: {},
                                dataType: "json",
                                success: function (data) {




                                        $("#tb2_proyectos").append(`<tr>` +
                                                                  `<td>${data["Text"]}</td>` +
                                                                  `<td>${data["Value"]}</td>` +
                                                                    `</tr>`);

                                },
                                beforeSend: function () {
                                    $("#docente").empty();
                                    $("#docente").append($('<option>').text("Cargando...").attr('value', ""));

                                },
                            });
                            }

                    });

                }
                else {
                    $("#modalRegisterForm").modal("hide");

                    alertify.warning("Debe llenar todos los campos")
                }



            });

            function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }

            function closeLoading() {
                swal.close();
            }
    </script>
    }

