﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.NeoMeetingDelegate.AddEditEvidenceViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);


        ViewBag.Title = EditEvidenciaResource.Titulo;
   

    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "NeoMeetingDelegate")">@IndexResource.Titulo</a></li>
    <li><a href="@Url.Action("LstReunionDelegados", "NeoMeetingDelegate")">@LstReunionDelegadosResource.Titulo</a></li>
    @*<li><a href="@Url.Action("AddStudent", "NeoMeetingDelegate",new {IdReunionDelegado = Model.IdReunionDelegado })">Asistencia</a></li>*@
    <li><a href="@Url.Action("AddFinding", "NeoMeetingDelegate",new {IdReunionDelegado = Model.IdReunionDelegado })">@AddFindingResource.Hallazgos</a></li>
    <li><a href="@Url.Action("AddEvidence", "NeoMeetingDelegate",new {IdReunionDelegado = Model.IdReunionDelegado })">@AddEvidenceResource.Titulo</a></li>
}


<form method="post" enctype="multipart/form-data" action="@Url.Action("AddEditEvidence","NeoMeetingDelegate")">
    @Html.HiddenFor(x => x.IdReunionDelegado)
    @Html.HiddenFor(x => x.IdEvidencia)
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@AddEvidenceResource.Orden</label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Orden, new { @class = "form-control", @type = "number", @required = "true" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@AddEvidenceResource.Imagen</label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.file, new { @type = "file", @accept = "image/*" })
                    </div>
                </div>
                <div class="row">
                    <div class="pull-right">


                        <a class="btn btn-default" style="margin-top: 30px;"  href="@Url.Action("AddEvidence", "NeoMeetingDelegate",new {IdReunionDelegado = Model.IdReunionDelegado })"> @ButtonsOptionsResource.Cancelar</a>

                        <button type="submit" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;"> @ButtonsOptionsResource.Guardar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>