﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.NeoMeetingDelegate.AddEditFindingViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);


        ViewBag.Title = EditFindingResource.Titulo;


    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "NeoMeetingDelegate")">@IndexResource.Titulo</a></li>
    <li><a href="@Url.Action("LstReunionDelegados", "NeoMeetingDelegate")">@LstReunionDelegadosResource.Titulo</a></li>
    @*<li><a href="@Url.Action("AddStudent", "NeoMeetingDelegate",new {IdReunionDelegado = Model.IdReunionDelegado })">Asistencia</a></li>*@
<li><a href="@Url.Action("AddFinding", "NeoMeetingDelegate",new {IdReunionDelegado = Model.IdReunionDelegado })">@AddFindingResource.Hallazgos</a></li>
}



<form method="post">
    @Html.HiddenFor(x => x.IdHallazgo)
    @Html.HiddenFor(x => x.IdReunionDelegado)
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@EditFindingResource.Constituyente</label>
                    </div>
                    <div class="col-md-10">
                        <strong>@Model.hallazgo.Constituyente.NombreEspanol</strong>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@EditFindingResource.Instrumento</label>
                    </div>
                    <div class="col-md-10">
                        <strong>@Model.hallazgo.Instrumento.Acronimo</strong>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@(LstReunionDelegadosResource.Ciclo)</label>
                    </div>
                    <div class="col-md-10">
                        <strong>@() @Model.hallazgo.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico</strong>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@LstReunionDelegadosResource.Sede</label>
                    </div>
                    <div class="col-md-10">
                        <strong>@Model.hallazgo.Sede.Nombre</strong>
                    </div>
                </div>


                @*<div class="row form-group">
                    <div class="col-md-2">
                        <label>@(language == ConstantHelpers.CULTURE.ESPANOL ? "Nivel Aceptación" : "Level of Acceptance")</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.IdNivelAceptacionHallazgo, new SelectList(Model.LstnivelesAceptacion, "IdNivelAceptacionHallazgo", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                  , new
                  {
                      @class = "form-control select2-select",
                      @required = "true"

                  })
                    </div>
                </div>*@


                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@EditFindingResource.NivelCriticidad</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.IdCriticidad, new SelectList(Model.LstCriticidad, "IdCriticidad", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), LstReunionDelegadosResource.Seleccione
                  , new
                  {
                      @class = "form-control select2-select",
                      @required = "true"
                  })
                    </div>
                </div>
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label>@Filtros.Carrera</label>
                        </div>
                        <div class="col-md-10">
                            <strong>@Model.hallazgo.Carrera.NombreEspanol</strong>
                        </div>
                    </div>

                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@LstReunionDelegadosResource.Curso</label>
                    </div>
                    <div class="col-md-10">
                        <strong>@Model.hallazgo.Curso.NombreEspanol</strong>
                    </div>
                </div>

                    @*<div class="row form-group">
                        <div class="col-md-2">
                            <label>@(language == ConstantHelpers.CULTURE.ESPANOL ? "Comisión" : "Commission")</label>
                        </div>
                        <div class="col-md-10">
                            <strong>@Model.hallazgo.Comision.Codigo</strong>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <label>@(language == ConstantHelpers.CULTURE.ESPANOL ? "Outcome" : "Outcome")</label>
                        </div>
                        <div class="col-md-10">
                            <strong>@Model.hallazgo.Outcome.Nombre</strong>
                        </div>
                    </div>*@


                    <div class="row form-group">
                        <div class="col-md-2">
                            <label>@AddFindingResource.Descripcion</label>
                        </div>
                        <div class="col-md-10">
                            @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control" })
                        </div>
                    </div>


                <div class="row">
                    <div class="pull-right">


                        <a class="btn btn-default" style="margin-top: 30px;" href="@Url.Action("AddFinding", "NeoMeetingDelegate",new { IdReunionDelegado = @Model.IdReunionDelegado })"> @ButtonsOptionsResource.Cancelar </a>

                        <button type="submit" id="btnGenerar" class="btn btn-primary pull-right" style="margin-top: 30px;"> @ButtonsOptionsResource.Guardar </button>
                    </div>
                </div>



            </div>
        </div>
    </div>


</form>
