﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.NeoMeetingDelegate.ExportExcelCarreraCursoViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@section SecondSidebar
{
    @{Html.RenderPartial("_SecondSidebar");}

}
@{
    ViewBag.Icon = "sticky-note";
    ViewBag.Title = ExportExcelCarreraCursoResource.Titulo;
}

<form method="post">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @AddEditMeetingDelegateResource.DatosGenerales</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@(Filtros.Carrera):</label>
                            @Html.DropDownListFor(x => x.IdCarrera, Model.LstCarrera, new { @class = "form-control", @id = "IdCarrera" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@(Filtros.PeriodoAcademico):</label>
                            @Html.DropDownListFor(x => x.IdPeriodo, Model.LstPeriodoAcademico, new { @class = "form-control", @id = "IdPeriodo" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@(Filtros.Area):</label>
                            @Html.DropDownListFor(x => x.IdArea, Model.LstArea, new { @class = "form-control", @id = "IdArea" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">Sub @(Filtros.Area):</label>
                            @Html.DropDownListFor(x => x.IdSubArea, Model.LstSubArea, new { @class = "form-control", @id = "IdSubArea" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" id="btnGenerar" class="btn btn-primary pull-right"> @ButtonsOptionsResource.Exportar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
@Html.Content("vendor/jquery/jquery.min.js")
<script>

    $(document).ready(function () {
        
        //$("#IdSubArea").prop("disabled", true);
        function cargarAreasByCarrera(hasValue, idCarrera) {
                    
                    $("#IdArea").empty();
                    //$("#IdSubArea").prop("disabled", true);
                    $("#IdArea").append('<option value="">@ProfessorResource.CargandoAreas</option>');
                    if (hasValue === false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllAreas", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: {},
                            success: function (areas) {
                                $("#IdArea").empty();
                                $("#IdArea").append('<option value="0">@ProfessorResource.Todos</option>');
                                $.each(areas,
                                    function (i, area) {
                                        $("#IdArea")
                                            .append('<option value="' +
                                                area.Value +
                                                '">' +
                                                area.Text +
                                                '</option>');

                                    });

                                //$("#IdSubArea").prop("disabled", false);
                            },
                            error: function (ex) {
                                
                                $("#IdArea").empty();
                                $("#IdArea").append('<option value="">Error</option>');
                                //$("#IdSubArea").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aprobar'
                                });

                            }
                        });
                    } else {
                        var idPeriodoAcademico = $("#IdPeriodo").val();
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllAreasByCarrera", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { idCarrera: idCarrera, idPeriodoAcademico: idPeriodoAcademico },
                            success: function (areas) {
                                
                                $("#IdArea").empty();
                                $("#IdArea").append('<option value="0">@ProfessorResource.Todos</option>');
                                $.each(areas,
                                    function (i, area) {
                                        $("#IdArea")
                                            .append('<option value="' +
                                                area.Value +
                                                '">' +
                                                area.Text +
                                                '</option>');

                                    });

                                //$("#IdSubArea").prop("disabled", false);
                            },
                            error: function (ex) {
                                
                                $("#IdArea").empty();
                                $("#IdArea").append('<option value="">Error</option>');

                                console.log("exception", ex)
                                //$("#IdSubArea").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorMessageNoDataArea))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.NoSeEncontraronResultados))',
                                    type: 'warning',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aprobar'
                                });
                            }
                        });
                    }
        }
        function cargarSubareasForArea(hasValue, idAreaUa) {
                    
                    $("#IdSubArea").empty();
                    //$("#IdSubArea").prop("disabled", true);
                    $("#IdSubArea").append('<option value="">@ProfessorResource.CargandoSubareas</option>');
                    if (hasValue === false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllSubareas", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: {},
                            success: function (subareas) {
                                $("#IdSubArea").empty();
                                $("#IdSubArea").append('<option value="0">@ProfessorResource.Todos</option>');
                                $.each(subareas,
                                    function (i, subarea) {
                                        $("#IdSubArea")
                                            .append('<option value="' +
                                                subarea.Value +
                                                '">' +
                                                subarea.Text +
                                                '</option>');

                                    });

                                //$("#IdSubArea").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdSubArea").empty();
                                $("#IdSubArea").append('<option value="">Error</option>');
                                //$("#IdSubArea").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aprobar'
                                });

                            }
                        });
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllSubareasForAreaInt", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { idAreaUnidadAcademica: idAreaUa },
                            success: function (subareas) {
                                
                                $("#IdSubArea").empty();
                                $("#IdSubArea").append('<option value="0">@ProfessorResource.Todos</option>');
                                $.each(subareas,
                                    function (i, subarea) {
                                        $("#IdSubArea")
                                            .append('<option value="' +
                                                subarea.Value +
                                                '">' +
                                                subarea.Text +
                                                '</option>');

                                    });

                                //$("#IdSubArea").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdSubArea").empty();
                                $("#IdSubArea").append('<option value="">Error</option>');
                                //$("#IdSubArea").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aprobar'
                                });
                            }
                        });
                    }
        }

        $("#IdPeriodo").change(function () {
            console.log($("#IdPeriodo").val())
            if ($("#IdPeriodo").val() == 0) {
                cargarAreasByCarrera(false, 0);
            } else {
                cargarAreasByCarrera(true, $("#IdCarrera").val());
            }
            return false;
        });
        $("#IdCarrera").change(function () {
            console.log($("#IdCarrera").val())
            if ($("#IdCarrera").val() == 0) {
                cargarAreasByCarrera(false, 0);
            } else {
                cargarAreasByCarrera(true, $("#IdCarrera").val());
            }
            return false;
        });
        $("#IdArea").change(function () {
            console.log($("#IdArea").val())
            if ($("#IdArea").val() == 0) {
                cargarSubareasForArea(false, 0);
            } else {        
                cargarSubareasForArea(true, $("#IdArea").val());
            }
            return false;
        });


});
</script>