﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate
@using UPC.CA.ABET.Presentation.Resources.Areas.Meeting;

@{
    ViewBag.Title = IndexResource.Titulo;
    ViewBag.Icon = "graduation-cap";
}

@section Breadcrumbs {
}

@if (@Session.GetModalidadId() == 1)
{
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera) || Session.GetRoles().HasRole(AppRol.Docente) || Session.GetRoles().HasRole(AppRol.Acreditador))
                            {
                                if (Session.GetRoles().HasRole(AppRol.Administrador) || !Session.GetRoles().HasRole(AppRol.Acreditador))
                                {
                                    <li class="active" role="presentation"><a data-toggle="tab" href="#1Tab" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false"><i class="fa fa-hand-o-up"></i> <span class="tabhidden">@IndexResource.Presentacion1</span></a></li>
                                    <li role="presentation"><a data-toggle="tab" href="#2Tab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa fa-tasks"></i> <span class="tabhidden">@IndexResource.Presentacion2</span></a></li>
                                    <li role="presentation"><a data-toggle="tab" href="#3Tab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa-keyboard-o"></i> <span class="tabhidden">@IndexResource.Presentacion3</span></a></li>
                                    <li role="presentation"><a data-toggle="tab" href="#4Tab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa fa-download"></i> <span class="tabhidden">@IndexResource.Presentacion4</span></a></li>
                                }
                                else {
                                    <li class="active" role="presentation"><a data-toggle="tab" href="#4Tab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa fa-download"></i> <span class="tabhidden">@IndexResource.Presentacion4</span></a></li>
                                }



                            }

                        </ul>
                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">

                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || !Session.GetRoles().HasRole(AppRol.Acreditador))
                            {
                                <div class="tab-pane active" id="1Tab" role="tabpanel">
                                    <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i>@IndexResource.Presentacion1</h2>
                                    <p align="justify">
                                        @IndexResource.Instruccion1
                                    </p>

                                    <p>
                                        <!--AddEditAccionMejora-->
                                        <a class="pull-right btn btn-primary" href="@Url.Action("AddReuCommentDelegate", "NeoMeetingDelegate")"><i class="fa fa-sign-in"></i> @IndexResource.Ir</a>
                                    </p>
                                </div>
                                <div class="tab-pane" id="2Tab" role="tabpanel">
                                    <h2 class="fixtitle"><i class="fa fa-tasks"></i> @IndexResource.Presentacion2</h2>
                                    <p align="justify">
                                        @IndexResource.Instruccion2
                                    </p>
                                    <p>
                                        <a class="pull-right btn btn-primary" href="@Url.Action("AddEditMeetingDelegate", "NeoMeetingDelegate")"><i class="fa fa-sign-in"></i> @IndexResource.Ir</a>
                                    </p>
                                </div>
                                <div class="tab-pane" id="3Tab" role="tabpanel">
                                    <h2 class="fixtitle"><i class="fa fa-keyboard-o"></i> @IndexResource.Presentacion3</h2>
                                    <p align="justify">
                                        @IndexResource.Instruccion3
                                    </p>
                                    <p>
                                        <a class="pull-right btn btn-primary" href="@Url.Action("LstReunionDelegados", "NeoMeetingDelegate")"><i class="fa fa-sign-in"></i> @IndexResource.Ir</a>
                                    </p>
                                </div>
                                <div class="tab-pane" id="4Tab" role="tabpanel">
                                    <h2 class="fixtitle"><i class="fa fa fa-download"></i> @IndexResource.Presentacion4</h2>
                                    <p align="justify">
                                        @IndexResource.Instruccion4
                                    </p>
                                    <p>
                                        <a class="pull-right btn btn-primary" href="@Url.Action("IndexReporte", "NeoMeetingDelegate")"><i class="fa fa-sign-in"></i> @IndexResource.Ir</a>
                                    </p>
                                </div>
                            }
                            else
                            {
                                <div class="tab-pane active" id="4Tab" role="tabpanel">
                                    <h2 class="fixtitle"><i class="fa fa fa-download"></i> @IndexResource.Presentacion4</h2>
                                    <p align="justify">
                                        @IndexResource.Instruccion4
                                    </p>
                                    <p>
                                        <a class="pull-right btn btn-primary" href="@Url.Action("IndexReporte", "NeoMeetingDelegate")"><i class="fa fa-sign-in"></i> @IndexResource.Ir</a>
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
} 

@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
    </script>
}

