﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.NeoMeetingDelegate.AddEditFindingViewModel


@{
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@Html.HiddenFor(x => x.IdCarrera)

@if (Model.LstOutcome.Count == 0)
{
    <div class="col-md-12">
        <div class="form-group">
            <label>@ListarDescripcionPorCursoResource.Alerta</label>
        </div>
    </div>

}
else
{ 

        for (int i = 0; i < Model.LstOutcome.Count; i++)
        {
            @Html.HiddenFor(x => x.LstOutcome[i].IdComision)
            @Html.HiddenFor(x => x.LstOutcome[i].IdOutcome)

            <div class="col-md-12">
                <div class="form-group">
                    <label>Descripción del hallazgo (@Model.LstOutcome[i].Outcome.Nombre): </label>
                    @Html.TextAreaFor(x => x.LstOutcomeDescripcion[i], new { @class = "form-control" })
                </div>
            </div>



    }

}

