﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate 
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.NeoMeetingDelegate.LstReunionDelegadosViewModel
@{

    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

    ViewBag.Title = LstReunionDelegadosResource.Titulo;
}

@section Breadcrumbs{
<li><a href="@Url.Action("Index", "NeoMeetingDelegate")">@LstReunionDelegadosResource.ActasDeReunionDeDelegados</a></li>
}

<form method="post">
    @Html.HiddenFor(x=>x.IdPeriodoAcademico)
    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-filter"></i> @LstReunionDelegadosResource.Filtros</h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-survey">@LstReunionDelegadosResource.Ciclo</label>
                                        @Html.TextBoxFor(x => x.Ciclo.CicloAcademico, new { @class = "form-control", @readonly = "" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-survey">@LstReunionDelegadosResource.FechaDeReunion</label>
                                        @Html.EditorFor(x => x.Fecha, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-survey">@LstReunionDelegadosResource.Sede</label>
                                        @Html.DropDownListFor(x => x.IdSede, new SelectList(Model.LstSede, "IdSede", "Nombre"), @LstReunionDelegadosResource.Seleccione, new { @class = "form-control" })
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="pull-right">
                                    <a class="btn btn-default" style="margin-top: 30px;" href="@Url.Action("LstReunionDelegados", "NeoMeetingDelegate")"><i class="fa fa-eraser"></i></a>
                                    <button type="submit" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;">  @ButtonsOptionsResource.Buscar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>




<div class="row">
    <div class="panel-group">
        <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">

                    <a class="panel-title collapsed" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOne2" id="reporte">
                        <h4><i class="fa fa-tasks"></i>@LstReunionDelegadosResource.Reuniones</h4>
                    </a>
                </div>


                <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="true">


                    <div class="panel-body">

                        <div class="row">
                            <h3>&nbsp;</h3>
                            <table class="table table-hover table-striped" id="table">
                                <thead>
                                    <tr style="background-color: #FF1901;">
                                        <th class="text-center" style="color:white;">@LstReunionDelegadosResource.Fecha</th>
                                        <th class="text-center" style="color:white;">@LstReunionDelegadosResource.Codigo</th>
                                       <!--<th class="text-center" style="color:white;">@LstReunionDelegadosResource.Curso</th>--> 
                                        <th class="text-center" style="color:white;">@LstReunionDelegadosResource.Sede</th>
                                        <th class="text-center" style="color:white;">@LstReunionDelegadosResource.Identificador</th>
                                        <th class="text-center" style="color:white;">@LstReunionDelegadosResource.CreadoPor</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="encuestas">
                                    @foreach (var item in Model.LstReunion)
                                    {
                                        <tr>
                                            <td class="text-center">@item.Fecha.Value.ToShortDateString()</td>
                                            <td class="text-center">@item.Comentario</td>
                                            <!--<td class="text-center"> </td>-->
                                            <td class="text-center">@item.Sede.Nombre</td>
                                            <td class="text-center">@if(item.Identificador.HasValue) { @item.Identificador}</td>
                                            <td class="text-center">@if (item.IdUsuario.HasValue)
                                            { @item.Usuario.Nombres @Html.Raw(" ") @item.Usuario.Apellidos }</td>
                                            <td class="text-center">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                        @LstReunionDelegadosResource.Opciones
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                        @*<li role="presentation"><a href="@Url.Action("AddStudent", "NeoMeetingDelegate", new { IdReunionDelegado = @item.IdReunionDelegado })" role="menuitem"><i class="fa fa-edit"></i> Asistencia</a></li>*@
                                                        <li role="presentation"><a href="@Url.Action("AddFinding", "NeoMeetingDelegate", new { IdReunionDelegado = @item.IdReunionDelegado })" role="menuitem"><i class="fa fa-edit"></i> @LstReunionDelegadosResource.Hallazgos</a></li>
                                                        <li role="presentation"><a href="@Url.Action("AddEvidence", "NeoMeetingDelegate", new { IdReunionDelegado = @item.IdReunionDelegado })" role="menuitem"><i class="fa fa-edit"></i> @LstReunionDelegadosResource.Evidencias</a></li>
                                                        <li role="presentation"><a href="@Url.Action("PrintReunionDelegado", "NeoMeetingDelegate", new { IdReunionDelegado = @item.IdReunionDelegado })" role="menuitem"><i class="fa fa-download"></i> @LstReunionDelegadosResource.GenerarReporte</a></li>
                                                        <li class="divider"></li>
                                                        <li role="presentation"><a href="#" class="delete" @Url.ModalHelperFor("_ConfirmacionDeleteARD", "NeoMeetingDelegate", new { IdReunionDelegado = @item.IdReunionDelegado }) role="menuitem"><i class="fa fa-trash"></i> @ButtonsOptionsResource.Eliminar</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @Html.PagedListPager(Model.LstReunion, page => Url.Action("LstReunionDelegados", new { NumeroPagina = page, IdPeriodoAcademico = Model.IdPeriodoAcademico, IdSede = Model.IdSede}), ConstantHelpers.TwitterBootstrapPagerAligned)


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

