﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.NeoMeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.NeoMeetingDelegate.ObtLstAlmnAstViewModel

@section SecondSidebar
{
    @{Html.RenderPartial("_SecondSidebar");}
}
@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    if (Model.IdReunionDelegado.HasValue)
    {
        ViewBag.Title = ObtLstAlmnAstResource.Titulo1;
    }
    else
    {
        ViewBag.Title = ObtLstAlmnAstResource.Titulo2;
    }

    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<form method="post">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i>@AddEditMeetingDelegateResource.DatosGenerales</h3>
            </div>
            <div class="panel-body">
                @Html.HiddenFor(x => x.IdCiclo)
                @Html.HiddenFor(x => x.IdEscuela)
                <div class="row">
                    <!--<div class="col-md-4">
                        <div class="form-group">
                            <label class="label-survey">Ciclo</label>
                            @Html.TextBoxFor(x => x.Ciclo.CicloAcademico, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.FechaDeReunion</label>
                            @Html.DropDownListFor(x => x.Fecha, new SelectList(Model.LstFecha), new { @class = "form-control", @required = "true" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@LstReunionDelegadosResource.Sede</label>

                            @Html.DropDownListFor(x => x.IdSede, new SelectList(Model.LstSede, "IdSede", "Nombre"), new { @class = "form-control", @required = "true" })

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">

                        @if (Model.IdReunionDelegado.HasValue)
                        {

                        }
                        else
                        {
                            <a class="btn btn-default" href="@Url.Action("Index", "NeoMeetingDelegate")">  @ButtonsOptionsResource.Cancelar </a>
                        }

                        <button type="submit" id="btnGenerar" class="btn btn-primary pull-right">  @ObtLstAlmnAstResource.ExportarListaDeAsistencia</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{
    <script src="~/Content/assets/plugins/select2/dist/js/select2.min.js" rel="stylesheet"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>

}
