﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.AccDiscoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.AccDiscoveries.ConsultAccDiscoveriesViewModel
@{
    ViewBag.Title = @AccDiscoveriesResource.VistaConsultTitulo;
    ViewBag.Icon = "search";
}

@section Breadcrumbs {
}

<div class="panel">
    <div class="panel-filters">
        @Html.PanelHeader("<i class=\"fa fa-filter\"></i> "+ @AccDiscoveriesResource.Filtro, PanelActions.Collapse)
        <div class="panel-body row">
            <div class="row">
                @Html.FormGroup(@AccDiscoveriesResource.PeriodoAcademico, Html.DropDownListFor(m => m.IdPeriodoAcademico, Model.AvailablePeriodoAcademicos, AccDiscoveriesResource.Todas, new { @class = "form-control" }))
                @Html.FormGroup(@AccDiscoveriesResource.Carrera, Html.DropDownListFor(m => m.IdCarrera, Model.AvailableCarreras, AccDiscoveriesResource.Todas, new { @class = "form-control" }))
            </div>
            <div class="row">
                @Html.FormGroup(AccDiscoveriesResource.Sede, Html.DropDownListFor(m => m.IdSede, Model.AvailableSedes, AccDiscoveriesResource.Todas, new { @class = "form-control" }))
                @Html.FormGroup(AccDiscoveriesResource.NivelDeAceptacion, Html.DropDownListFor(m => m.CodigoNivelAceptacion, Model.AvailableNivelAceptacion, AccDiscoveriesResource.Todas, new { @class = "form-control" }))
            </div>

            <div class="text-right">
                <button type="button" id="btnBuscar" class="btn btn-dark">@ButtonsOptionsResource.Buscar  <i class="fa fa-search"></i></button>
            </div>

        </div>
    </div>
</div>
<div class="panel">
    @Html.PanelHeader("<i class=\"fa fa-align-justify\"></i> "+AccDiscoveriesResource.Resultados, PanelActions.Collapse)
    <div class="panel-body row">
        <table id="tblResultados" class="table table-striped table-hover" data-info="true" data-length-change="true" data-paginate="true">
            <thead>
                <tr>
                    <th>@AccDiscoveriesResource.Codigo</th>
                    <th>@AccDiscoveriesResource.PeriodoAcademico</th>
                    <th>@AccDiscoveriesResource.Sede </th>
                    <th>@AccDiscoveriesResource.Descripcion</th>
                    <th>@AccDiscoveriesResource.NivelDeAceptacion</th>
                    <th class="text-right">@AccDiscoveriesResource.Opciones</th>
                </tr>
            </thead>
            @if (Model.Resultados != null)
            {
            <tbody id="id">
                @for (int i = 0; i < Model.Resultados.Count(); i++)
                {
                <tr id="tdResultado-@i">
                    <td>@Model.Resultados[i].Codigo</td>
                    <td>@Model.Resultados[i].PeriodoAcademico</td>
                    <td>@Model.Resultados[i].Sede</td>
                    <td>@Model.Resultados[i].Descripcion</td>
                    <td>@Model.Resultados[i].NivelAceptacion</td>
                    <td class="text-right">
                        <!-- Split button -->
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline btn-default" href="@Url.Action(" view", "AccDiscoveries" , new {area=ConstantHelpers.AREAS.PROFESSOR, id=Model.Resultados[i].IdHallazgo})"><i class="fa fa-search"></i> @AccDiscoveriesResource.Visualizar</a>
                            <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href='@Url.Action("Edit", "AccDiscoveries", new {Area = ConstantHelpers.AREAS.PROFESSOR, Id = Model.Resultados[i].IdHallazgo})'><i class="fa fa-edit"></i> @AccDiscoveriesResource.Editar</a></li>
                                <li><a href='@Url.Action("Delete", "AccDiscoveries", new {Area = ConstantHelpers.AREAS.PROFESSOR, Id = Model.Resultados[i].IdHallazgo})'><i class="fa fa-trash"></i> @AccDiscoveriesResource.Eliminar</a></li>
                            </ul>
                        </div>

                    </td>
                </tr>
                }
            </tbody>

            }
        </table>
    </div>
</div>


@section Scripts{
<script src="@Url.Content(" ~ />Content/vendor/jquery/jquery.min.js")"></script>
<script src="@Url.Content(" ~ />Content/vendor/jt-timepicker/jquery.timepicker.min.js")"></script>
<script src="@Url.Content(" ~ />Content/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
<script src="@Url.Content(" ~ />Content/vendor/bootstrap-select/bootstrap-select.min.js")"></script>
<script src="@Url.Content(" ~ />Content/vendor/modernizr/modernizr.min.js")"></script>

<script>
        $(document).ready(function () {
            $("#btnBuscar").click(function () {
                var url = '@Url.Action("Consult","AccDiscoveries")';
                var idSede = $("#IdSede").val();
                var idPeridoAcademico = $("#IdPeriodoAcademico").val();
                var codigoNivelAceptacion = $("#CodigoNivelAceptacion").val();

                url += '?isSearchRequest=true';

                if (codigoNivelAceptacion != "" && codigoNivelAceptacion != null) url += '&codigoNivelAceptacion=' + codigoNivelAceptacion;
                if (idSede > 0) url += '$idSede=' + idSede;
                if (idPeridoAcademico > 0) url += '$idPeriodoAcademico=' + idPeridoAcademico;
                location.href = url;

            })
        });
</script>

}