﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.AccDiscoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.AccDiscoveries.EditHallazgoAccViewModel

@{
    ViewBag.Title = AccDiscoveriesResource.VistaDeleteTitulo;
    ViewBag.Icon = "table";
}

@section Styles {
    <link href="@Url.Content(" ~/Content/vendor/datatables-bootstrap/dataTables.bootstrap.min09a2.css")" rel="stylesheet" />
    <link href="@Url.Content(" ~/Content/vendor/datatables-fixedheader/dataTables.fixedHeader.min09a2.css")" rel="stylesheet" />
    <link href="@Url.Content(" ~/Content/vendor/datatables-responsive/dataTables.responsive.min09a2.css")" rel="stylesheet" />
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Consult","AccDiscoveries")">@AccDiscoveriesResource.Breadcrumb2</a></li>
}


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IdHallazgo)
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="panel">
                @Html.PanelHeader("<i class=\"fa fa-close\"></i> "+ @AccDiscoveriesResource.InformacionGeneral, PanelActions.Collapse)
                <div class="panel-body" style="text-align: center;">
                    <div class="row" style="text-align: center;">
                        <p style="font-weight: bold;">@AccDiscoveriesResource.Codigo</p>
                        <p>@Model.Codigo</p>
                        <br />
                        <p style="font-weight: bold;">@AccDiscoveriesResource.PeriodoAcademico</p>
                        <p>@Model.PeriodoAcademico</p>
                        <br />
                        <p style="font-weight: bold;">@AccDiscoveriesResource.Sede</p>
                        <p>@Model.Sede</p>
                        <br />
                        <p style="font-weight: bold;">@AccDiscoveriesResource.NivelDeAceptacion</p>
                        <p>@Model.NivelAceptacion</p>
                        <br />
                        <p style="font-weight: bold;">@AccDiscoveriesResource.Descripcion</p>
                        <p>@Model.Descripcion</p>
                        <br />
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="col-md-6" style="text-align: center">
                            <a href="@Url.Action("Consult", "AccDiscoveries", new {Area = ConstantHelpers.AREAS.PROFESSOR})" class="btn" style="background-color: black; color: white;">
                                @AccDiscoveriesResource.Cancelar&nbsp;&nbsp;<i class="fa fa-close"></i>
                            </a>
                        </div>
                        <div class="col-md-6" style="text-align: center">
                            <input type="submit" value=@AccDiscoveriesResource.Eliminar class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                @Html.PanelHeader("<i class=\"fa fa-close\"></i> "+ @AccDiscoveriesResource.AccionesDeMejoraAsociadasAEliminar, PanelActions.Collapse)
                <div class="panel-body" style="text-align: center;">
                    @if (Model.AccionesMejora.Count == 0)
                    {
                        <p>@AccDiscoveriesResource.AccionesDeMejoraMensaje</p>
                    }
                    else
                    {
                        <table class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                            <thead>
                                <tr>
                                    <th style="text-align: center; width: 30%;">@AccDiscoveriesResource.Codigo</th>
                                    <th style="text-align: center; width: 60%;">@AccDiscoveriesResource.Descripcion</th>
                                    <th style="text-align: center; width: 10%;">@AccDiscoveriesResource.Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.AccionesMejora.Count(); i++)
                                {
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle; width: 30%;">
                                            @Model.AccionesMejora.ElementAt(i).Codigo
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; width: 60%;">
                                            @Model.AccionesMejora.ElementAt(i).DescripcionEspanol
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; width: 10%;">
                                            @Model.AccionesMejora.ElementAt(i).Estado
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
}


@section Scripts{

    <script src="@Url.Content(" ~/Content/vendor/bootstrap-select/bootstrap-select.min.js")"></script>
    <script src="@Url.Content(" ~/Content/vendor/modernizr/modernizr.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/asspinner/jquery-asSpinner.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/clockpicker/bootstrap-clockpicker.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/jt-timepicker/jquery.timepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/multi-select/jquery.multi-select.js")"></script>
    <script src="@Url.Content("~/Content/vendor/icheck/icheck.min.js")"></script>

    <script src="@Url.Content("~/Content/js/components/asspinner.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/clockpicker.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/jt-timepicker.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/multi-select.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/examples/js/forms/advanced.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/icheck.min.js")"></script>
    <script src="@Url.Content("~/Areas/Professor/Content/js/jquery.contextmenu.r2.js")"></script>
}


