﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.AccDiscoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.AccDiscoveries.EditHallazgoAccViewModel


@{
    ViewBag.Title = @AccDiscoveriesResource.VistaEditarTitulo;
    ViewBag.Icon = "table";
}

@section Styles{
    <link href="@Url.Content("~/Content/vendor/datatables-bootstrap/dataTables.bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/vendor/datatables-fixedheader/dataTables.fixedHeader.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/vendor/datatables-responsive/dataTables.responsive.min.css")" rel="stylesheet" />
}


@section Breadcrumbs{
    <li><a href="@Url.Action("Consult","AccDiscoveries")">@AccDiscoveriesResource.Breadcrumb1</a></li>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IdHallazgo)
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="panel">
                @Html.PanelHeader("<i class=\"fa fa-edit\"></i> "+ @AccDiscoveriesResource.InformacionGeneral, PanelActions.Collapse)
                <div class="panel-body">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        
                            <dl>
                                <dt style="font-weight: bold">@(AccDiscoveriesResource.Codigo):</dt>
                                <dd>@Model.Codigo</dd>
                                <br />
                                <dt style="font-weight: bold">@(AccDiscoveriesResource.Sede):</dt>
                                <dd>@Model.Sede</dd>
                                <br />
                                <dt style="font-weight: bold">@(AccDiscoveriesResource.NivelDeAceptacion):</dt>
                                <dd>@Html.DropDownListFor(m => m.NivelAceptacion, Model.AvailableNivelesAceptacion, @AccDiscoveriesResource.Seleccionar, new { @class = "form-control" })</dd>                                
                            </dl>
                        
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        
                            <dl>
                                <dt style="font-weight: bold">@(AccDiscoveriesResource.PeriodoAcademico):</dt>
                                <dd>@Model.PeriodoAcademico</dd>
                                <br />
                                <dt style="font-weight: bold">@(AccDiscoveriesResource.Descripcion):</dt>
                                <dd>@Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", @placeholder = @AccDiscoveriesResource.IngresarDescripcionAqui, @style = "margin-bottom: 30px;" })</dd>
                            </dl>
                        
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6"><br /><br /><br /><br /></div>
                    <div class="text-right">
                        <a href="@Url.Action("Consult", "AccDiscoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR })" class="btn" style="background-color: black; color: white;" onclick="return confirm('@(AccDiscoveriesResource.ConfirmCancelar)')">
                            @AccDiscoveriesResource.Cancelar&nbsp;&nbsp;<i class="fa fa-close"></i>
                        </a>
                        <input type="submit" value=@AccDiscoveriesResource.Guardar class="btn btn-primary" />
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
}