﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.AccDiscoveries
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.AccDiscoveries.EditHallazgoAccViewModel

@{
    ViewBag.Title = AccDiscoveriesResource.VistaViewTitulo;
    ViewBag.Icon = "table";
}

@section Styles {
    <link href="@Url.Content(" ~/Content/vendor/datatables-bootstrap/dataTables.bootstrap.min09a2.css")" rel="stylesheet" />
    <link href="@Url.Content(" ~/Content/vendor/datatables-fixedheader/dataTables.fixedHeader.min09a2.css")" rel="stylesheet" />
    <link href="@Url.Content(" ~/Content/vendor/datatables-responsive/dataTables.responsive.min09a2.css")" rel="stylesheet" />
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Consult","AccDiscoveries")">@AccDiscoveriesResource.Breadcrumb1</a></li>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IdHallazgo)

    <div class="row">        
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="panel">
                @Html.PanelHeader("<i class=\"fa fa-search\"></i> "+ @AccDiscoveriesResource.InformacionGeneral, PanelActions.Collapse)
                <div class="panel-body">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        
                            <dl>
                                <dt style="font-weight: bold;">@(AccDiscoveriesResource.Codigo):</dt>
                                <dd>@Model.Codigo</dd>
                                <br />
                                <dt style="font-weight: bold;">@(AccDiscoveriesResource.Sede):</dt>
                                <dd>@Model.Sede</dd>
                                <br />
                                <dt style="font-weight: bold;">@(AccDiscoveriesResource.NivelDeAceptacion):</dt>
                                <dd>@Model.NivelAceptacion</dd>

                            </dl>
                        
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        
                            <dl>
                                <dt style="font-weight: bold;">@(AccDiscoveriesResource.PeriodoAcademico):</dt>
                                <dd>@Model.PeriodoAcademico</dd>
                                <br />
                                <dt style="font-weight: bold;">@(AccDiscoveriesResource.Descripcion):</dt>
                                <dd>@Model.Descripcion</dd>
                            </dl>
                        
                    </div>
                    <div class="col-md-12 text-right">
                        <a href="@Url.Action("Delete", "AccDiscoveries", new {Area = ConstantHelpers.AREAS.PROFESSOR, Id = Model.IdHallazgo})" class="btn" style="background-color: black; color: white;">
                            @(AccDiscoveriesResource.Eliminar)&nbsp;&nbsp;<i class="fa fa-close"></i>
                        </a>
                        <a href="@Url.Action("Edit", "AccDiscoveries", new {Area = ConstantHelpers.AREAS.PROFESSOR, Id = Model.IdHallazgo})" class="btn btn-primary">&nbsp;&nbsp;&nbsp;@(AccDiscoveriesResource.Editar)&nbsp;&nbsp;<i class="fa fa-edit"></i>&nbsp;</a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="panel">
                @Html.PanelHeader("<i class=\"fa fa-search\"></i> "+ @AccDiscoveriesResource.AccionesDeMejoraAsociadas, PanelActions.Collapse)
                <div class="panel-body" style="text-align: center;">
                    @if (Model.AccionesMejora.Count == 0)
                    {
                        <p>@AccDiscoveriesResource.AccionesDeMejoraMensaje</p>
                    }
                    else
                    {
                        <table class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                            <thead>
                                <tr>
                                    <th style="text-align: center; width: 30%;">@AccDiscoveriesResource.Codigo</th>
                                    <th style="text-align: center; width: 60%;">@AccDiscoveriesResource.Descripcion</th>
                                    <th style="text-align: center; width: 10%;">@AccDiscoveriesResource.Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.AccionesMejora.Count(); i++)
                                {
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle; width: 30%;">
                                            @Model.AccionesMejora.ElementAt(i).Codigo
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; width: 60%;">
                                            @Model.AccionesMejora.ElementAt(i).DescripcionEspanol
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; width: 10%;">
                                            @Model.AccionesMejora.ElementAt(i).Estado
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
}


