﻿@model Boolean?

<div class="form-group">
    @Html.LabelFor(x => x, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        <div class="input-group">
            <div class="checkbox-custom checkbox-primary">
                <input type='checkbox' name="@Html.NameForModel()" id="@Html.NameFor(x => x)" value="@Model.Value" @(Model.HasValue && Model.Value ? "checked='checked'" : "")>
                <label for="@Html.NameFor(x=>x)">@Html.Raw(ViewData.ContainsKey("Texto") ? ViewData["Texto"] : "&nbsp;")</label>
            </div>
        </div>
        @Html.ValidationMessageFor(x => x)
    </div>
</div>