﻿@model DateTime?

<div class="form-group">
    @Html.LabelFor(x => x, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="icon wb-calendar" aria-hidden="true"></i>
            </span>
            @Html.TextBoxFor(x => x, System.Threading.Thread.CurrentThread.CurrentUICulture.ToSafeString() == ConstantHelpers.CULTURE.INGLES ? "{0:MM/dd/yyyy}" : "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
        </div>
        @Html.ValidationMessageFor(x => x)
    </div>
</div>