﻿@model Decimal?

<div class="form-group">
    @Html.LabelFor(x => x, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(x => x, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x)
    </div>
</div>