﻿@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.CareerCurriculum.ConsultCareerCurriculumViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;

@{
    ViewBag.Title = ProfessorResource.ConsultarMallaCocos;
    ViewBag.Icon = "search";
}

@section Styles {
    @Html.Content("vendor/datatables-bootstrap/dataTables.bootstrap.min.css")
    @Html.Content("vendor/datatables-fixedheader/dataTables.fixedHeader.min.css")
    @Html.Content("vendor/datatables-responsive/dataTables.responsive.min.css")
}

@section Breadcrumbs {
<li><a href="@Url.Action("Management", "CareerCurriculum")">@ProfessorResource.TituloLista</a></li>
}

<div class="row">
    <div class="col-md-12">

        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + @ProfessorResource.Filtro, PanelActions.Collapse)
            <div class="panel-body">
                
                <div class="row">
                    @if (Model.Modal.First().Text == "--Seleccione--")
                    {
                        Model.Modal.First().Text = ProfessorResource.Seleccionar;
                    }
                    @Html.FormGroup(ProfessorResource.FiltroCiclo, Html.DropDownList("IdSubModalidadPeriodoAcademico", Model.Modal, new { @class = "form-control", @data_plugin = "select2" }))
                    @Html.FormGroup(ProfessorResource.FiltroAcreditacion, Html.DropDownListFor(m => m.IdAcreditadora, Model.ListAcreditadoras, ProfessorResource.FiltroTodas, new { @class = "form-control"}))
                </div>
                <div class="row">                    
                    @Html.FormGroup(ProfessorResource.FiltroCarrera, Html.DropDownListFor(m => m.IdCarrera, Model.AvailableCarreras, ProfessorResource.FiltroTodas,new { @class = "form-control" }))
                    @Html.FormGroup(ProfessorResource.FiltroComision, Html.DropDownListFor(m => m.CodigoComision, Model.AvailableComisiones, ProfessorResource.FiltroTodas, new { @class = "form-control" }))
                </div>                
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button type="button" id="btnBuscar" class="btn btn-dark"><i class="fa fa-search"></i> @LayoutResource.Buscar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel" >
            @Html.PanelHeader("<i class=\"fa fa-align-justify\"></i> " + ProfessorResource.Resultados, PanelActions.Collapse)
            <div class="panel-body">
                <div class="text-right">
                    <a href="@Url.Action("Create", "CareerCurriculum", new {Area = ConstantHelpers.AREAS.PROFESSOR})" class="btn btn-primary"><i class="fa fa-plus"></i> @LayoutResource.Nuevo</a>
                </div>
                <table id="tblResultados" class="table table-striped table-hover" data-info="true" data-length-change="true" data-paginate="true">
                    <thead>
                        <tr>
                            <th>@ProfessorResource.Descripcion</th>
                            <th>@ProfessorResource.Ciclo</th>
                            <th>@ProfessorResource.Carrera</th>
                            <th class="text-right" style="min-width:14%">@ProfessorResource.Opciones</th>
                        </tr>
                    </thead>
                        <tbody id="SOPPP">
                            @{var i = 0;}
                            @foreach (var item in Model.Resultados)
                            {
                                ++i;
                                <tr id="tdResultado-@i">
                                    <td>@item.Descripcion</td>
                                    <td>@item.Ciclo</td>
                                    <td>@item.Carrera</td>
                                    <td class="text-right">
                                        <!-- Split button -->
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("View", "CareerCurriculum", new { Area = ConstantHelpers.AREAS.PROFESSOR, Id = item.IdMallaCocos })"><i class="fa fa-search"></i> @ButtonsOptionsResource.Visualizar</a>
                                            <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="animsition-link" href="@Url.Action("Edit", "CareerCurriculum", new { Area = ConstantHelpers.AREAS.PROFESSOR, Id = item.IdMallaCocos })"><i class="fa fa-edit"></i> @ButtonsOptionsResource.Editar</a></li>                                                
                                                <li><a class="animsition-link" href="@Url.Action("EditCalificado", "CareerCurriculum", new { Area = ConstantHelpers.AREAS.PROFESSOR, Id = item.IdMallaCocos })"><i class="fa fa-cubes"></i> @ButtonsOptionsResource.Asignar</a></li>
                                                <li><a onclick="deleteMallaCocos(@item.IdMallaCocos, @i)" href="#"><i class="fa fa-trash"></i>&nbsp;@ButtonsOptionsResource.Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
    function deleteMallaCocos(idMallaCocos, index) {
        var answer = confirm('@ProfessorResource.MensajeConfirmacion');
        if (answer == false) return;
        var targetUrl = '@Url.Action("Delete", "CareerCurriculum", new {Area = ConstantHelpers.AREAS.PROFESSOR})' +
            '/' +
            idMallaCocos;
        $.ajax({
            url: targetUrl,
            type: 'POST'
        })
            .done(function (data, status) {
                $('#tdResultado-' + index).fadeOut(300, function () { $('#tdResultado-' + index).remove(); });
                $('.page-content')
                    .before('<div class="card-body card-padding"><div class="alert alert-dismissible dark alert-success" role="alert"><i class="fa fa-times"></i>&nbsp;<button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>@ProfessorResource.MensajeEliminacionCorrecta</div></div>')
                    .fadeIn(300, function () { });
            })
            .fail(function (data, status) {
                $('.page-content')
                    .before('<div class="card-body card-padding"><div class="alert alert-dismissible dark alert-danger" role="alert"><i class="fa fa-times"></i>&nbsp;<button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>@ProfessorResource.MensajeEliminacionIncorrecta</div></div>')
                    .fadeIn(300, function () { });
            });
    }

        $(document)
            .ready(function () {
                $("#btnBuscar").click(function () {                    
                    var url = '@Url.Action("Consult", "CareerCurriculum", new {Area = ConstantHelpers.AREAS.PROFESSOR})';
                    var CodigoComision = $('#CodigoComision').val();
                    var IdCarrera = $('#IdCarrera').val();  
                    var IdSubModalidadPeriodoAcademico = $('#IdSubModalidadPeriodoAcademico').val();
                    var IdAcreditadora = $('#IdAcreditadora').val();

                    url += '?isSearchRequest=true';

                    if ((CodigoComision != "" && CodigoComision != null) ||
                        IdCarrera > 0 ||
                        IdSubModalidadPeriodoAcademico > 0 ||
                        IdAcreditadora > 0) {
                        if (CodigoComision != "" && CodigoComision != null
                        ) url += '&codigoComision=' + $('#CodigoComision').val();
                        if (IdCarrera > 0) url += '&IdCarrera=' + $('#IdCarrera').val();
                        if (IdSubModalidadPeriodoAcademico > 0
                        ) url += '&IdSubModalidadPeriodoAcademico=' + $('#IdSubModalidadPeriodoAcademico').val();
                        if (IdAcreditadora > 0) url += '&IdAcreditadora=' + IdAcreditadora;
                    }

                    location.href = url;
                });

                //crear las funciones que usaran los Change

                function cargarPeriodosForModalidad(hasValue, idModalidad) {
                    var $periodo = $('#IdSubModalidadPeriodoAcademico');
                    console.log("hola")
                    $periodo.empty();
                    $periodo.prop("disabled", true);
                    $periodo.append('<option value="">- @(CareerCurriculumResource.CargandoPeriodos) -</option>');
                    if (hasValue === false) {
                        alert('@(CareerCurriculumResource.SeleccioneUnaModalidad)');
                        return;
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllPeriodosAcademicosForModalidad", "Json", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { IdModalidad: idModalidad },
                            success: function (data) {
                                console.log(data)
                                $periodo.empty();
                                $.each(data, function (i, periodo) {
                                    $periodo.append('<option value="' + periodo.Value + '">' + periodo.Text + '</option>');
                                });
                                $periodo.prop("disabled", false);
                            },
                            error: function (ex) {
                                console.log(ex);
                            $periodo.empty();
                            $periodo.append('<option value="">Error</option>');
                            $periodo.prop("disabled", true);
                            @*alert('@Html.Raw(ProfessorResource.ErrorCargaAcreditadoras)');*@
                        }
                    });
                }
            }
            function cargarAcreditadorasForPeriodoAcademico(hasValue, IdSubModalidadPeriodoAcademico) {
                var $acreditadora = $("#IdAcreditadora");
                $acreditadora.empty();
                $acreditadora.prop("disabled", true);
                $acreditadora.append('<option value="">- @(CareerCurriculumResource.CargandoAcreditadoras) -</option>');
                if (hasValue === false) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllAcreditadoras", "Json", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: {},
                        success: function (data) {
                            $acreditadora.empty();
                            $("#IdAcreditadora").append('<option value="">@ProfessorResource.Todas</option>');
                            $.each(data, function (i, acreditadora) {
                                $acreditadora.append('<option value="' + acreditadora.Value + '">' + acreditadora.Text + '</option>');
                                });
                            $acreditadora.prop("disabled", false);
                        },
                        error: function (ex) {
                            $acreditadora.empty();
                            $acreditadora.append('<option value="">Error</option>');
                            $acreditadora.prop("disabled", true);
                            alert('@Html.Raw(ProfessorResource.ErrorCargaAcreditadoras)');
                        }
                    });
                } else {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllAcreditadorasForPeriodoAcademico", "Json", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: { IdPeriodoAcademico: IdSubModalidadPeriodoAcademico },
                        success: function (data) {
                            $acreditadora.empty();
                            $acreditadora.append('<option value="">@ProfessorResource.Todas</option>');
                            $.each(data, function (i, acreditadora) {
                                $acreditadora.append('<option value="' + acreditadora.Value + '">' + acreditadora.Text + '</option>');
                            });
                            $acreditadora.prop("disabled", false);
                        },
                        error: function (ex) {
                            $acreditadora.empty();
                            $acreditadora.append('<option value="">Error</option>');
                            $acreditadora.prop("disabled", true);
                            alert('@Html.Raw(ProfessorResource.ErrorCargaAcreditadoras)');
                        }
                    });
                }
            }

            function cargarCarrerasForPeriodoAcademico(hasValue, IdSubModalidadPeriodoAcademico) {
                var $carrera = $("#IdCarrera");
                $carrera.children().remove();
                $carrera.prop("disabled", true);
                $carrera.append('<option value="">- @(CareerCurriculumResource.CargandoCarreras) -</option>');
                if (hasValue === false) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllCarreras", "Json", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: {},
                        success: function (data) {
                            $carrera.empty();
                            $carrera.append('<option value="">@ProfessorResource.Todas</option>');
                            $.each(data, function (i, carrera) {
                                $carrera.append('<option value="' + carrera.Value + '">' + carrera.Text + '</option>');
                            });
                            $carrera.prop("disabled", false);
                        },
                        error: function (ex) {
                            $carrera.empty();
                            $carrera.append('<option value="">Error</option>');
                            $carrera.prop("disabled", true);
                            alert('@Html.Raw(ProfessorResource.ErrorCargaCarreras)');
                        }
                    });
                } else {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllCarrerasForPeriodoAcademico", "Json", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: {IdPeriodoAcademico: IdSubModalidadPeriodoAcademico},
                        success: function (data) {
                            $carrera.empty();
                            $carrera.append('<option value="">@ProfessorResource.Todas</option>');
                            $.each(data, function (i, carrera) {
                                $carrera.append('<option value="' + carrera.Value + '">' + carrera.Text + '</option>');
                            });
                            $carrera.prop("disabled", false);
                        },
                        error: function (ex) {
                            $carrera.empty();
                            $carrera.append('<option value="">Error</option>');
                            $carrera.prop("disabled", true);
                            alert('@Html.Raw(ProfessorResource.ErrorCargaCarreras)');
                        }
                    });
                }
            }

            function cargarComisionesForPeriodoAcademico(hasValue, IdSubModalidadPeriodoAcademico) {
                var $comision = $("#CodigoComision");
                $comision.empty();
                $comision.prop("disabled", true);
                $comision.append('<option value="">- @(CareerCurriculumResource.CargandoComisiones) -</option>');
                if (hasValue === false) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllComisiones", "Json", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: {},
                        success: function (data) {
                            $comision.empty();
                            $comision.append('<option value="">@ProfessorResource.Todos</option>');
                            $.each(data, function (i, comision) {
                                $comision.append('<option value="' + comision.Value + '">' + comision.Text + '</option>');
                            });
                            $comision.prop("disabled", false);
                        },
                        error: function (ex) {
                            $comision.empty();
                            $comision.append('<option value="">Error</option>');
                            $comision.prop("disabled", true);
                            alert('@Html.Raw(ProfessorResource.ErrorCargaComisiones)');
                        }
                    });
                } else {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllComisionesForPeriodoAcademico", "Json", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: {IdPeriodoAcademico:IdSubModalidadPeriodoAcademico},
                        success: function (data) {
                            $comision.empty();
                            $comision.append('<option value="">@ProfessorResource.Todos</option>');
                            $.each(data, function (i, comision) {
                                $comision.append('<option value="' + comision.Value + '">' + comision.Text + '</option>');
                            });
                            $comision.prop("disabled", false);
                        },
                        error: function (ex) {
                            $comision.empty();
                            $comision.append('<option value="">Error</option>');
                            $comision.prop("disabled", true);
                            alert('@Html.Raw(ProfessorResource.ErrorCargaComisiones)');
                        }
                    });
                }
            }

            function cargarCarrerasForAcreditadoraForPeriodoAcademico(hasValue,IdSubModalidadPeriodoAcademico, idAcreditadora){
                var $carrera = $("#IdCarrera");
                $carrera.empty();
                $carrera.prop("disabled", true);
                $carrera.append('<option value="">- @(CareerCurriculumResource.CargandoCarreras)-</option>');
                if (hasValue === false) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllCarrerasForAcreditadora", "Json", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: {IdAcreditadora:idAcreditadora},
                        success: function (data) {
                            $carrera.empty();
                            $carrera.append('<option value="">@ProfessorResource.Todas</option>');
                            $.each(data, function (i, carrera) {
                                $carrera.append('<option value="' + carrera.Value + '">' + carrera.Text + '</option>');
                            });
                            $carrera.prop("disabled", false);
                        },
                        error: function (ex) {
                            $carrera.empty();
                            $carrera.append('<option value="">Error</option>');
                            $carrera.prop("disabled", true);
                            alert('@Html.Raw(ProfessorResource.ErrorCargaCarreras)');
                        }
                    });
                } else {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllCarrerasForAcreditadoraForPeriodoAcademico", "Json", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: {
                            IdAcreditadora: idAcreditadora,
                            IdPeriodoAcademico: IdSubModalidadPeriodoAcademico
                        },
                        success: function (data) {
                            $carrera.empty();
                            $carrera.append('<option value="">@ProfessorResource.Todas</option>');
                            $.each(data, function (i, carrera) {
                                $carrera.append('<option value="' + carrera.Value + '">' + carrera.Text + '</option>');
                            });
                            $carrera.prop("disabled", false);
                        },
                        error: function (ex) {
                            $carrera.empty();
                            $carrera.append('<option value="">Error</option>');
                            $carrera.prop("disabled", true);
                            alert('@Html.Raw(ProfessorResource.ErrorCargaCarreras)');
                        }
                    });
                }
            }            

            function cargarComisionesForAcreditadoraForPeriodoAcademico(hasValue, IdSubModalidadPeriodoAcademico, idAcreditadora){
                var $comision = $("#CodigoComision");
                $comision.children().remove();
                $comision.prop("disabled", true);
                $comision.append('<option value="">- @(CareerCurriculumResource.CargandoComisiones) -</option>');
                if (hasValue === false) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllComisionesForAcreditadora", "Json", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: {IdAcreditadora:idAcreditadora},
                        success: function (data) {
                            $comision.empty();
                            $comision.append('<option value="">@ProfessorResource.Todos</option>');
                            $.each(data, function (i, comision) {
                                $comision.append('<option value="' + comision.Value + '">' + comision.Text + '</option>');
                            });
                            $comision.prop("disabled", false);
                        },
                        error: function (ex) {
                            $comision.empty();
                            $comision.append('<option value="">Error</option>');
                            $comision.prop("disabled", true);
                            alert('@Html.Raw(ProfessorResource.ErrorCargaComisiones)');
                        }
                    });
                } else { 
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllComisionesForAcreditadoraForPeriodoAcademico", "Json", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: {
                            IdAcreditadora: idAcreditadora,
                            IdPeriodoAcademico: IdSubModalidadPeriodoAcademico
                        },
                        success: function (data) {
                            $comision.empty();
                            $comision.append('<option value="">@ProfessorResource.Todos</option>');
                            $.each(data, function (i, comision) {
                                $comision.append('<option value="' + comision.Value + '">' + comision.Text + '</option>');
                            });
                            $comision.prop("disabled", false);
                        },
                        error: function (ex) {
                            $comision.empty();
                            $comision.append('<option value="">Error</option>');
                            $comision.prop("disabled", true);
                            alert('@Html.Raw(ProfessorResource.ErrorCargaComisiones)');
                        }
                    });
                }
            }

                function cargarComisionesForCarreraForPeriodoAcademico(hasValue, IdSubModalidadPeriodoAcademico, idCarrera)
            {
                var $comision = $("#CodigoComision");
                $comision.children().remove();
                $comision.prop("disabled", true);
                $comision.append('<option value="">- @(CareerCurriculumResource.CargandoComisiones) -</option>');
                if(hasValue===false){
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllComisionesForCarrera", "Json", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: { IdCarrera: idCarrera },
                        success: function (data) {
                            $comision.empty();
                            $comision.append('<option value="">@ProfessorResource.Todos</option>');
                            $.each(data, function (i, comision) {
                                $comision.append('<option value="' + comision.Value + '">' + comision.Text + '</option>');
                            });
                            $comision.prop("disabled", false);
                        },
                        error: function (ex) {
                            $comision.empty();
                            $comision.append('<option value="">Error</option>');
                            $comision.prop("disabled", true);
                            alert('@Html.Raw(ProfessorResource.ErrorCargaComisiones)');
                        }
                    });
                } else {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllComisionesForCarreraForPeriodoAcademico", "Json", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: {
                           
                        
                            IdCarrera: idCarrera,
                            IdPeriodoAcademico: IdSubModalidadPeriodoAcademico
                        },
                        success: function (data) {
                            $comision.empty();
                            $comision.append('<option value="">@ProfessorResource.Todos</option>');
                            $.each(data, function (i, comision) {
                                $comision.append('<option value="' + comision.Value + '">' + comision.Text + '</option>');
                            });
                            $comision.prop("disabled", false);
                        },
                        error: function (ex) {
                            $comision.empty();
                            $comision.append('<option value="">Error</option>');
                            $comision.prop("disabled", true);
                            alert('@Html.Raw(ProfessorResource.ErrorCargaComisiones)');
                        }
                    });
                }
            }
            //Los Change
            $('#IdModalidad').on('change', function () {
                if (!$("#IdModalidad").val()) {
                    cargarPeriodosForModalidad(false, 0);
                } else {
                    cargarPeriodosForModalidad(true, $("#IdModalidad").val());
                }
                return false;
            });
            
            $("#IdSubModalidadPeriodoAcademico").on('change',function () {
                if (!$("#IdSubModalidadPeriodoAcademico").val()) {
                    cargarAcreditadorasForPeriodoAcademico(false, 0);
                    cargarCarrerasForPeriodoAcademico(false, 0);
                    cargarComisionesForPeriodoAcademico(false, 0);
                } else {
                    cargarAcreditadorasForPeriodoAcademico(true, $("#IdSubModalidadPeriodoAcademico").val());
                    cargarCarrerasForPeriodoAcademico(true, $("#IdSubModalidadPeriodoAcademico").val());
                    cargarComisionesForPeriodoAcademico(true, $("#IdSubModalidadPeriodoAcademico").val());
                }
                return false;
            });

            $("#IdAcreditadora").on('change', function () {
                if (!$("#IdAcreditadora").val()) {
                    if (!$("#IdSubModalidadPeriodoAcademico").val()) {
                        cargarAcreditadorasForPeriodoAcademico(false, 0);
                        cargarCarrerasForPeriodoAcademico(false, 0);
                        cargarComisionesForPeriodoAcademico(false, 0);
                    } else {
                        cargarAcreditadorasForPeriodoAcademico(true, $("#IdSubModalidadPeriodoAcademico").val());
                        cargarCarrerasForPeriodoAcademico(true, $("#IdSubModalidadPeriodoAcademico").val());
                        cargarComisionesForPeriodoAcademico(true, $("#IdSubModalidadPeriodoAcademico").val());
                    }
                } else {
                    if (!$("#IdSubModalidadPeriodoAcademico").val()) {
                        cargarCarrerasForAcreditadoraForPeriodoAcademico(false, 0, $("#IdAcreditadora").val());
                        cargarComisionesForAcreditadoraForPeriodoAcademico(false, 0, $("#IdAcreditadora").val());
                    } else {
                        cargarCarrerasForAcreditadoraForPeriodoAcademico(true, $("#IdSubModalidadPeriodoAcademico").val(), $("#IdAcreditadora").val());
                        cargarComisionesForAcreditadoraForPeriodoAcademico(true, $("#IdSubModalidadPeriodoAcademico").val(), $("#IdAcreditadora").val());
                    }
                }
                return false;
            });

            $("#IdCarrera").on('change', function () {
                if (!$("#IdCarrera").val()) {
                    if (!$("#IdAcreditadora").val()) {
                        if (!$("#IdSubModalidadPeriodoAcademico").val()) {
                            cargarCarrerasForPeriodoAcademico(false, 0);
                            cargarComisionesForPeriodoAcademico(false, 0);
                        } else {
                            cargarCarrerasForPeriodoAcademico(true, $("#IdSubModalidadPeriodoAcademico").val());
                            cargarComisionesForPeriodoAcademico(true, $("#IdSubModalidadPeriodoAcademico").val());
                        }
                    } else {
                        if (!$("#IdSubModalidadPeriodoAcademico").val()) {
                            cargarCarrerasForAcreditadoraForPeriodoAcademico(false, 0, $("#IdAcreditadora").val());
                            cargarComisionesForAcreditadoraForPeriodoAcademico(false, 0, $("#IdAcreditadora").val());
                        } else {
                            cargarCarrerasForAcreditadoraForPeriodoAcademico(true, $("#IdSubModalidadPeriodoAcademico").val(), $("#IdAcreditadora").val());
                            cargarComisionesForAcreditadoraForPeriodoAcademico(true, $("#IdSubModalidadPeriodoAcademico").val(), $("#IdAcreditadora").val());
                        }
                    }
                } else {
                    if (!$("#IdSubModalidadPeriodoAcademico").val()) {
                        cargarComisionesForCarreraForPeriodoAcademico(false, 0, $("#IdCarrera").val());
                    } else {
                        cargarComisionesForCarreraForPeriodoAcademico(true, $("#IdSubModalidadPeriodoAcademico").val(), $("#IdCarrera").val());
                    }

                }
            });

        });
    </script>

}
