﻿@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.CareerCurriculum.CreateCareerCurriculumViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;

@{
	ViewBag.Title = ProfessorResource.EditarMallaCocos;
	ViewBag.Icon = "table";
}

@section Styles{
	@Html.Content("vendor/datatables-bootstrap/dataTables.bootstrap.min.css")
	@Html.Content("vendor/datatables-fixedheader/dataTables.fixedHeader.min.css")
	@Html.Content("vendor/datatables-responsive/dataTables.responsive.min.css")

	<style type="text/css">
		.cocos-detalle:hover {
			background-color: #FFD6D6;
		}

		.esformacion-detalle:hover {
			background-color: #FFD6D6;
		}

		#btnGuardarDivFloating {
			width: 120px;
			height: 56px;
			bottom: 20px;
			right: 20px;
			position: fixed;
			z-index: 9998;
		}

		#btnGuardar {
			width: 110px;
			height: 46px;
			z-index: 9999;
		}
	</style>

}
@section Breadcrumbs {
	<li><a href="@Url.Action("Consult","CareerCurriculum")">@ProfessorResource.ConsultarMallaCocos</a></li>
}

@using (Html.BeginForm())
{
	<div id="btnGuardarDivFloating" style="display: none;">
		<button type="submit" class="btn btn-primary" id="btnGuardar">@ProfessorResource.Guardar</button>
	</div>

	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.Titulo)
	@Html.HiddenFor(m => m.IdMallaCocos)
	@Html.HiddenFor(m => m.IdMallaCurricular)
	@Html.HiddenFor(m => m.IdComision)
	@Html.HiddenFor(m => m.IdCarrera)
	@Html.HiddenFor(m => m.IdPeriodoAcademico)

	<div class="row">
		<div class="col-md-6">
			<div class="panel">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="fa fa-align-left"></i>&nbsp;&nbsp;@Model.Titulo</h4>
				</div>
				<div class="panel-body" style="text-align: center;">
					@Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", @placeholder = ProfessorResource.PlaceHolderDescripcion, @style = "margin-bottom: 30px;" })

					<input type="submit" value=@ProfessorResource.Guardar class="btn btn-danger" />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="@Url.Action("Consult", "CareerCurriculum", new { Area = ConstantHelpers.AREAS.PROFESSOR })" class="btn" style="background-color: black; color: white;" onclick="return confirm('@ProfessorResource.MensajeCancelar')">
						@ProfessorResource.Cancelar&nbsp;&nbsp;<i class="fa fa-close"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel-group" id="accordionLeyenda" aria-multiselectable="true"
				 role="tablist">
				<div class="panel">
					<div class="panel-heading" id="headingLeyenda" role="tab">
						<a class="panel-title"
						   data-parent="#accordionLeyenda">
							<i class="fa fa-info"></i>&nbsp;&nbsp;@ProfessorResource.Leyenda
						</a>
					</div>
					<div class="panel-collapse collapse in" id="pnlLeyenda" aria-labelledby="headingLeyenda"
						 role="tabpanel">
						<div class="panel-body">
							<div class="row row-lg">
								<table class="table table-striped" data-info="true" data-length-change="true" data-paginate="true">
									<tbody id="cocos">
										<tr>
											<td style="text-align: center; vertical-align: middle;">
												<img src="@Url.Content("~/Areas/Professor/Content/assets/images/" + @Model.IconoFormacion)" style="width: 18px; height: 18px;" />
											</td>
											<td style="text-align: center; vertical-align: middle;">
												@ProfessorResource.TipoFormacion
											</td>
										</tr>
										@for (int i = 0; Model.TipoOutcomeCursos != null && i < Model.TipoOutcomeCursos.Count(); i++)
										{
											<tr>
												<td style="text-align: center; vertical-align: middle;">
													<img src="@Url.Content("~/Areas/Professor/Content/assets/images/" + @Model.TipoOutcomeCursos[i].Icono)" style="width: 18px; height: 18px;" />
												</td>
												<td style="text-align: center; vertical-align: middle;">
													@Model.TipoOutcomeCursos[i].Nombre
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel-group" id="accordionInstrucciones" aria-multiselectable="true"
				 role="tablist">
				<div class="panel">
					<div class="panel-heading" id="headingInstrucciones" role="tab">
						<a class="panel-title" data-toggle="collapse" href="#pnInstrucciones"
						   data-parent="#exampleAccordionDefault" aria-expanded="false"
						   aria-controls="exampleCollapseDefaultOne">
							<i class="fa fa-check-square"></i>&nbsp;&nbsp;@ProfessorResource.Instrucciones
						</a>
					</div>
					<div class="panel-collapse collapse in" id="pnInstrucciones" aria-labelledby="headingInstrucciones"
						 role="tabpanel">
						<div class="panel-body">
							<ul>
								<li>
									@ProfessorResource.Instruccion1
								</li>
								<li>
									@ProfessorResource.Instruccion2
								</li>
								<li>
									@ProfessorResource.Instruccion3
								</li>
								<li>
									@ProfessorResource.Instruccion4
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			@for (int i = 0; i < Model.Niveles.Count; i++)
			{
				string currentCollapseId = "collapseForNivel" + Model.Niveles[i].Numero;
				string titulo = Model.Niveles[i].EsNivelDeElectivos ? Model.Niveles[i].Numero : ProfessorResource.Nivel + " " + Model.Niveles[i].Numero;
				<div class="panel-group" id="accordion-@currentCollapseId" aria-multiselectable="true"
					 role="tablist">
					<div class="panel">
						<div class="panel-heading" id="heading-@currentCollapseId" role="tab">
							<a class="panel-title" data-toggle="collapse" href="#@currentCollapseId"
							   data-parent="#accordion-@currentCollapseId" aria-expanded="true"
							   aria-controls="exampleCollapseDefaultOne">
								<i class="fa fa-cube"></i>&nbsp;&nbsp; @titulo
							</a>
						</div>
						<div class="panel-collapse collapse in" id="@currentCollapseId" aria-labelledby="heading-@currentCollapseId"
							 role="tabpanel">
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped table-hover" data-info="true" data-length-change="true" data-paginate="true">
										<thead>
											<tr>
												<th style="border-left-color: white; border-top-color: white; border-right-color: white; text-align: center; vertical-align: middle;"></th>
												<th style="border-left-color: white; border-top-color: white; border-right-color: white; text-align: center; vertical-align: middle;"></th>
												<th style="border-left-color: white; border-top-color: white; text-align: center; vertical-align: middle;"></th>
												<th colspan="@Model.AvailableOutcomes.Count()" style="text-align: center;">Student Outcome</th>
											</tr>
											<tr>
												<th style="text-align: center; vertical-align: middle;">@ProfessorResource.Codigo</th>
												<th style="text-align: center; vertical-align: middle; width: 40%;">@ProfessorResource.Curso</th>
												<th style="text-align: center; vertical-align: middle;">CF</th>
												@for (int j = 0; j < Model.Niveles[i].Outcomes.Count; j++)
												{
													<th style="text-align: center; vertical-align: middle;">@Model.Niveles[i].Outcomes[j].Nombre</th>
												}
											</tr>
										</thead>
										<tbody id="cocos">
											@for (int j = 0; j < Model.Niveles[i].CursoMallaCurriculares.Count; j++)
											{
												string idForEsFormacion = i + "-" + j;
												string idForEsFormacionParam = "'" + idForEsFormacion + "'";
												@Html.HiddenFor(m => m.Niveles[i].CursoMallaCurriculares[j].IdCursoMallaCurricular)
												<tr>
													<td style="text-align: center; vertical-align: middle;">
														@Model.Niveles[i].CursoMallaCurriculares[j].CursoMallaCurricular.Curso.Codigo
													</td>

													<td style="text-align: center; vertical-align: middle;">
														@(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? Model.Niveles[i].CursoMallaCurriculares[j].CursoMallaCurricular.Curso.NombreEspanol : Model.Niveles[i].CursoMallaCurriculares[j].CursoMallaCurricular.Curso.NombreIngles)
													</td>

													@Html.HiddenFor(m => m.Niveles[i].CursoMallaCurriculares[j].EsFormacion)
													<td class="esformacion-detalle" style="text-align: center; vertical-align: middle;" onclick="rotateImageFormacion(@idForEsFormacionParam)">
														@{
															string imgFormacion = String.Empty;
															switch (Model.Niveles[i].CursoMallaCurriculares[j].EsFormacion)
															{
																case false:
																	imgFormacion = @Model.IconoBlank;
																	break;
																case true:
																	imgFormacion = @Model.IconoFormacion;
																	break;
															}
														}
														<img style="width: 18px; height: 18px;" id="@idForEsFormacion" src="@Url.Content("~/Areas/Professor/Content/assets/images/" + @imgFormacion)" />
													</td>

													@for (int k = 0; k < Model.Niveles[i].CursoMallaCurriculares[j].Outcomes.Count; k++)
													{
														string idForCocos = i + "-" + j + "-" + k;
														@Html.HiddenFor(m => m.Niveles[i].CursoMallaCurriculares[j].Outcomes[k].IdOutcome)
														@Html.HiddenFor(m => m.Niveles[i].CursoMallaCurriculares[j].Outcomes[k].IdTipoOutcomeCurso)
														@Html.HiddenFor(m => m.Niveles[i].CursoMallaCurriculares[j].Outcomes[k].OriginalValue)
														<td class="cocos-detalle" id="td-@idForCocos" style="text-align: center; vertical-align: middle;">
															<img style="width: 18px; height: 18px;" id="@idForCocos" src="@Url.Content("~/Areas/Professor/Content/assets/images/" + @Model.Niveles[i].CursoMallaCurriculares[j].Outcomes[k].Icono)" />
														</td>
													}
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>

	<div class="contextMenu" id="contextMenuCocos">
		<ul>
			@for (int i = 0; Model.TipoOutcomeCursos != null && i < Model.TipoOutcomeCursos.Count(); i++)
			{
				<li id="li-@Model.TipoOutcomeCursos[i].IdTipoOutcomeCurso"><img src="@Url.Content("~/Areas/Professor/Content/assets/images/" + @Model.TipoOutcomeCursos[i].Icono)" style="width:18px;height:18px;" /></li>
			}
			<li id="li-Blank"><img src="@Url.Content("~/Areas/Professor/Content/assets/images/" + @Model.IconoBorrar)" style="width:18px;height:18px;" /></li>
		</ul>
	</div>
}


@section Scripts{


	@Html.Content("vendor/asspinner/jquery-asSpinner.min.js")
	@Html.Content("vendor/clockpicker/bootstrap-clockpicker.min.js")
	@Html.Content("vendor/jt-timepicker/jquery.timepicker.min.js")
	@Html.Content("vendor/bootstrap-datepicker/bootstrap-datepicker.min.js")
	@Html.Content("vendor/multi-select/jquery.multi-select.js")
	@Html.Content("vendor/icheck/icheck.min.js")
	@Html.Content("js/components/asspinner.min.js")
	@Html.Content("js/components/bootstrap-datepicker.min.js")
	@Html.Content("js/components/clockpicker.min.js")
	@Html.Content("js/components/jt-timepicker.min.js")
	@Html.Content("js/components/multi-select.min.js")
	@Html.Content("js/components/icheck.min.js")
	@Html.Content("js/jquery.contextmenu.r2.js", ConstantHelpers.AREAS.PROFESSOR)


	<script>
		$('#public-methods').multiSelect();
		$('#select-all').click(function () {
			$('#public-methods').multiSelect('select_all');
			return false;
		});
		$('#deselect-all').click(function () {
			$('#public-methods').multiSelect('deselect_all');
			return false;
		});

	</script>

	<script>
		$('.clockpicker').clockpicker();
	</script>

	<script type="text/javascript">
        $(document).scroll(function () {
            var y = $(this).scrollTop();
            if (y > 380) {
                $('#btnGuardarDivFloating').fadeIn();
            } else {
                $('#btnGuardarDivFloating').fadeOut();
            }
        });

        $(document).ready(function () {
            $("#btnGenerar").click(function () {
                var url = '@Url.Action("Create", "CareerCurriculum", new { Area = ConstantHelpers.AREAS.PROFESSOR })';
                var IdComision = $('#IdComision').val();
                var IdCarrera = $('#IdCarrera').val();
                var IdPeriodoAcademico = $('#IdPeriodoAcademico').val();

                url += '?';

                if (IdComision > 0 || IdCarrera > 0 || IdPeriodoAcademico > 0) {
                    if (IdComision > 0) url += '&IdComision=' + $('#IdComision').val();
                    if (IdCarrera > 0) url += '&IdCarrera=' + $('#IdCarrera').val();
                    if (IdPeriodoAcademico > 0) url += '&IdPeriodoAcademico=' + $('#IdPeriodoAcademico').val();
                }

                location.href = url;
            });

            $("#IdComision").change(function () {
                $("#IdCarrera").empty();
                if (!$("#IdComision").val()) {
                    $("#IdCarrera").append('<option>@(CareerCurriculumResource.SeleccionaComision)</option>');
                    $("#IdCarrera").prop("disabled", true);
                    $("#IdPeriodoAcademico").empty();
                    $("#IdPeriodoAcademico").append('<option>@(CareerCurriculumResource.SeleccionaCarrera)</option>');
                    $("#IdPeriodoAcademico").prop("disabled", true);
                    $("#btnGenerar").prop("disabled", true);
                    return;
                }
                $("#IdCarrera").prop("disabled", false);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCarrerasInComision", "Json", new { Area = ConstantHelpers.AREAS.PROFESSOR })',
                    dataType: 'json',
                    data: { IdComision: $("#IdComision").val() },
                    success: function (carreras) {
                        $("#IdCarrera").append('<option value="">- @(CareerCurriculumResource.Seleccionar) -</option>');
                        $.each(carreras, function (i, carrera) {
                            $("#IdCarrera").append('<option value="' + carrera.Value + '">' +
                                    carrera.Text + '</option>');

                        });
                    },
                    error: function (ex) {
                        alert('@(MessagesCareerCurriculumResource.ErrorCargaCarreras)');
                    }
                });
                return false;
            });

            $("#IdCarrera").change(function () {
                $("#IdPeriodoAcademico").empty();
                if (!$("#IdCarrera").val()) {
                    $("#IdPeriodoAcademico").append('<option value="">@(CareerCurriculumResource.SeleccionaCiclo)</option>');
                    $("#IdPeriodoAcademico").prop("disabled", true);
                    $("#btnGenerar").prop("disabled", true);
                    return;
                }
                $("#IdPeriodoAcademico").prop("disabled", false);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetPeriodoAcademicosInComisionAndCarrera", "Json", new { Area = ConstantHelpers.AREAS.PROFESSOR })',
                    dataType: 'json',
                    data: { IdComision: $("#IdComision").val(), IdCarrera: $("#IdCarrera").val() },
                    success: function (ciclos) {
                        $("#IdPeriodoAcademico").append('<option value="">- @(CareerCurriculumResource.Seleccionar) -</option>');
                        $.each(ciclos, function (i, ciclo) {
                            $("#IdPeriodoAcademico").append('<option value="' + ciclo.Value + '">' +
                                    ciclo.Text + '</option>');

                        });
                    },
                    error: function (ex) {
                        alert('@MessagesCareerCurriculumResource.ErrorCargaCiclos');
                    }
                });
                return false;
            });

            $("#IdPeriodoAcademico").change(function () {
                if (!$("#IdPeriodoAcademico").val()) {
                    $("#btnGenerar").prop("disabled", true);
                    return;
                }
                $("#btnGenerar").prop("disabled", false);
            });
        });
	</script>
	@if (Model.TipoOutcomeCursos != null)
	{
		<script>
            function rotateImageFormacion(id) {
                var idJQ = "#" + id;

                var values = id.split("-");
                var i = values[0];
                var j = values[1];

                var formElement = "Niveles_" + i + "__CursoMallaCurriculares_" + j + "__EsFormacion";
                var formElementJQ = "#" + formElement;

                var currentValue = $(formElementJQ).val();

                if (currentValue == "False") {
                    $(formElementJQ).val("True");
                    $(idJQ).attr("src", "@Url.Content("~/Areas/Professor/Content/assets/images/" + @Model.IconoFormacion)");
                } else if (currentValue == "True") {
                    $(formElementJQ).val("False");
                    $(idJQ).attr("src", "@Url.Content("~/Areas/Professor/Content/assets/images/" + @Model.IconoBlank)");
                }
            }

            $('.cocos-detalle').contextMenu('contextMenuCocos', {
                bindings: {
                    @for (int i = 0; Model.TipoOutcomeCursos != null && i < Model.TipoOutcomeCursos.Count(); i++)
                    {
                        string idName = "li-" + Model.TipoOutcomeCursos[i].IdTipoOutcomeCurso;

                        <text>
                    '@idName': function (t) {
                        var id = t.id;

                        var values = id.split("-");
                        var i = values[1];
                        var j = values[2];
                        var k = values[3];

                        var formElement = "Niveles_" + i + "__CursoMallaCurriculares_" + j + "__Outcomes_" + k + "__IdTipoOutcomeCurso";
                        var formElementJQ = "#" + formElement;

                        var imgId = i + "-" + j + "-" + k;
                        var imgIdJQ = '#' + imgId;

                        $(formElementJQ).val(@Model.TipoOutcomeCursos[i].IdTipoOutcomeCurso);
                        $(imgIdJQ).attr("src", "@Url.Content("~/Areas/Professor/Content/assets/images/" + @Model.TipoOutcomeCursos[i].Icono)");
                    },
                    </text>
                    }

                    'li-Blank': function (t) {
                        var id = t.id;

                        var values = id.split("-");
                        var i = values[1];
                        var j = values[2];
                        var k = values[3];

                        var formElement = "Niveles_" + i + "__CursoMallaCurriculares_" + j + "__Outcomes_" + k + "__IdTipoOutcomeCurso";
                        var formElementJQ = "#" + formElement;

                        var imgId = i + "-" + j + "-" + k;
                        var imgIdJQ = '#' + imgId;

                        $(formElementJQ).val(0);
                        $(imgIdJQ).attr("src", "@Url.Content("~/Areas/Professor/Content/assets/images/" + @Model.IconoBlank)");
                    }
                }
            });
		</script>
	}
}