﻿@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.CareerCurriculum.ViewCareerCurriculumViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;

@{
	ViewBag.Title = ProfessorResource.VisualizarMallaCocos;
	ViewBag.Icon = "table";
}

@section Styles {

}

@section Breadcrumbs {
	<li><a href="@Url.Action("Consult", "CareerCurriculum")">@ProfessorResource.ConsultarMallaCocos</a></li>
}

<div class="row">
	<div class="col-md-6">
		<div class="panel">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="fa fa-align-left"></i> @Model.Titulo</h4>
			</div>
			<div class="panel-body">
				@Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", @placeholder = "Ingresar descripción aquí", @disabled = "disabled" })

				<hr />
				<div class="text-right">
					<a class="btn btn-primary animsition-link" href="@Url.Action("Edit", "CareerCurriculum", new { Area = ConstantHelpers.AREAS.PROFESSOR, Id = Model.IdMallaCocos })"><i class="fa fa-edit"></i> @ProfessorResource.Editar</a>
					<div class="btn-group">
						<a class="btn btn-dark" href="#"><i class="fa fa-download"></i> @ProfessorResource.Exportar</a>
						<button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu">
							<li role="presentation"><a href="@Url.Action("GetMallaCocosPdf", "CareerCurriculum", new { Area = ConstantHelpers.AREAS.PROFESSOR, Id = Model.IdMallaCocos })" role="menuitem"><i class="fa fa-file-pdf-o"></i> PDF</a></li>
							<li role="presentation"><a href="@Url.Action("GetMallaCocosRtf", "CareerCurriculum", new { Area = ConstantHelpers.AREAS.PROFESSOR, Id = Model.IdMallaCocos })" role="menuitem"><i class="fa fa-file-o"></i> RTF</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel-group" id="accordionLeyenda" aria-multiselectable="true"
			 role="tablist">
			<div class="panel">
				<div class="panel-heading" id="headingLeyenda" role="tab">
					<a class="panel-title" data-parent="#accordionLeyenda">
						<i class="fa fa-info"></i>&nbsp;&nbsp;@ProfessorResource.Leyenda
					</a>
				</div>
				<div class="panel-collapse collapse in" id="pnlLeyenda" aria-labelledby="headingLeyenda"
					 role="tabpanel">
					<div class="panel-body">
						<div class="row row-lg">
							<table class="table table-striped" data-info="true" data-length-change="true" data-paginate="true">
								<tbody id="cocos" class="text-center">
									<tr>
										<td>
											<img src="@Url.Content("~/Areas/Professor/Content/assets/images/" + @Model.IconoFormacion)" style="width:18px;height:18px;" />
										</td>
										<td>
											@ProfessorResource.TipoFormacion
										</td>
									</tr>
									@for (int i = 0; Model.TipoOutcomeCursos != null && i < Model.TipoOutcomeCursos.Count(); i++)
									{
										<tr>
											<td>
												<img src="@Url.Content("~/Areas/Professor/Content/assets/images/" + @Model.TipoOutcomeCursos[i].Icono)" style="width:18px;height:18px;" />
											</td>
											<td>
												@Model.TipoOutcomeCursos[i].Nombre
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@for (int i = 0; i < Model.Niveles.Count; i++)
		{
			string currentCollapseId = "collapseForNivel" + Model.Niveles[i].Numero.Split().ElementAt(0);
			string titulo = Model.Niveles[i].EsNivelDeElectivos ? Model.Niveles[i].Numero : ProfessorResource.Nivel + " " + Model.Niveles[i].Numero;
			<div class="panel-group" id="accordion-@currentCollapseId" aria-multiselectable="true"
				 role="tablist">
				<div class="panel">
					<div class="panel-heading" id="heading-@currentCollapseId" role="tab">
						<a class="panel-title" data-toggle="collapse" href="#@currentCollapseId"
						   data-parent="#accordion-@currentCollapseId" aria-expanded="true"
						   aria-controls="exampleCollapseDefaultOne">
							<i class="fa fa-cube"></i>&nbsp;&nbsp;@titulo
						</a>
					</div>
					<div class="panel-collapse collapse in" id="@currentCollapseId" aria-labelledby="heading-@currentCollapseId"
						 role="tabpanel">
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped table-hover table-bordered">
									<thead>
										<tr>
											<th style="border-left-color: transparent; border-top-color: transparent; border-right-color: transparent"></th>
											<th style="border-left-color: transparent; border-top-color: transparent; border-right-color: transparent"></th>
											<th style="border-left-color: transparent; border-top-color: transparent"></th>
											<th class="text-center" colspan="@Model.CantidadOutcomes">Student Outcome</th>
										</tr>
										<tr>
											<th>Malla</th>
											<th>@ProfessorResource.Codigo</th>
											<th style=" width:40%">@ProfessorResource.Curso</th>
											<th class="text-center">CF</th>
											@for (int j = 0; j < Model.Niveles[i].Outcomes.Count; j++)
											{
												<td class="text-center">@Model.Niveles[i].Outcomes[j].Nombre</td>
											}
										</tr>
									</thead>
									<tbody id="cocos">
										@for (int j = 0; j < Model.Niveles[i].CursoMallaCurriculares.Count; j++)
										{
											<tr>
												<td>@Model.Niveles[i].CursoMallaCurriculares[j].CursoMallaCurricular.NombreMalla </td>
												<td>
													@Model.Niveles[i].CursoMallaCurriculares[j].CursoMallaCurricular.Curso.Codigo
												</td>
												<td>
													@(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? Model.Niveles[i].CursoMallaCurriculares[j].CursoMallaCurricular.Curso.NombreEspanol : Model.Niveles[i].CursoMallaCurriculares[j].CursoMallaCurricular.Curso.NombreIngles)
												</td>
												<td class="text-center">
													@{var imgFormacion = String.Empty;}
													@switch (Model.Niveles[i].CursoMallaCurriculares[j].EsFormacion)
													{
														case false: imgFormacion = @Model.IconoBlank; break;
														case true: imgFormacion = @Model.IconoFormacion; break;
													}
													<img src="@Url.Content("~/Areas/Professor/Content/assets/images/" + @imgFormacion)" style="width:18px;height:18px;" />
												</td>
												@for (int k = 0; k < Model.Niveles[i].CursoMallaCurriculares[j].Outcomes.Count; k++)
												{
													string imgForCocos = String.Empty;
													switch (Model.Niveles[i].CursoMallaCurriculares[j].Outcomes[k].IdTipoOutcomeCurso)
													{
														case 0: imgForCocos = @Model.IconoBlank; break;
														default: imgForCocos = Model.Niveles[i].CursoMallaCurriculares[j].Outcomes[k].Icono; break;
													}
													<td class="text-center">
														<img src="@Url.Content("~/Areas/Professor/Content/assets/images/" + @imgForCocos)"
															 @*data-toggle="tooltip" data-original-title="@Model.Niveles[i].CursoMallaCurriculares[j].Outcomes[k].OriginalValue"*@
															 style="width:18px;height:18px;" />
													</td>
												}
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>


@section Scripts{

	@Html.Content("vendor/clockpicker/bootstrap-clockpicker.min.js")
	@Html.Content("vendor/multi-select/jquery.multi-select.js")
	@Html.Content("js/components/clockpicker.min.js")
	@Html.Content("js/components/multi-select.min.js")

	<script>

		$('#public-methods').multiSelect();
		$('#select-all').click(function () {
			$('#public-methods').multiSelect('select_all');
			return false;
		});
		$('#deselect-all').click(function () {
			$('#public-methods').multiSelect('deselect_all');
			return false;
		});

	</script>

	<script>
		$('.clockpicker').clockpicker();
	</script>
}