﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingDelegate._AddEditHallazgoRDViewModel
@{

    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Icon = "tasks";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    ViewBag.IsGet = "True";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;


    ViewBag.Title = _AddEditHallazgoRDResource.Titulo;
}

@Html.HiddenFor(x => x.IdCarrera)
@Html.HiddenFor(x => x.IdCurso)
@Html.HiddenFor(x => x.IdPeriodoAcademico)
@Html.HiddenFor(x => x.IdReunionDelegado)
@Html.HiddenFor(x => x.IdSede)
@Html.HiddenFor(x => x.IdAcreditadora)
@Html.HiddenFor(x => x.IdHallazgo)

<div class="form-horizontal">
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@_AddEditHallazgoRDResource.Carrera</label>
                <div class="col-sm-9">
                    <strong>@Model.NombreCarrera</strong>
                </div>
            </div>
        </div><br />


        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@ConsultarRDResource.Curso</label>
                <div class="col-sm-9">
                    <strong>@Model.NombreCurso</strong>
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@ConsultarRDResource.Acreditadora</label>
                <div class="col-sm-9">
                    <strong>@Model.NombreAcreditadora</strong>
                </div>
            </div>
        </div><br />




        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@ConsultarRDResource.Sede</label>
                <div class="col-sm-9">
                    <strong>@Model.NombreSede</strong>
                </div>
            </div>
        </div><br />


        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Outcome</label>
                <div class="col-md-9">
                    @Html.DropDownListFor(x => x.IdOutcome, new SelectList(Model.LstCustomOutcomes, "Value", "Text"), AddEditMeetingDelegateResource.Seleccione
                  , new
                  {
                      @class = "form-control select2-select",
                      @required = "true"

                  })
                    @Html.ValidationMessageFor(x => x.IdOutcome)
                </div>
            </div>
        </div><br />


        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@ConsultarRDResource.NivelAceptacion</label>
                <div class="col-md-9">
                    @Html.DropDownListFor(x => x.IdNivelAceptacionHallazgo, new SelectList(Model.LstNivelAceptacion, "IdNivelAceptacionHallazgo", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), AddEditMeetingDelegateResource.Seleccione
                  , new
                  {
                      @class = "form-control select2-select",
                      @required = "true"

                  })
                    @Html.ValidationMessageFor(x => x.IdNivelAceptacionHallazgo)
                </div>
            </div>
        </div><br />


        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label"> @ConsultarRDResource.Criticidad</label>
                <div class="col-md-9">
                    @Html.DropDownListFor(x => x.IdCriticidad, new SelectList(Model.LstCriticidad, "IdCriticidad", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), AddEditMeetingDelegateResource.Seleccione
                  , new
                  {
                      @class = "form-control select2-select",
                      @required = "true"

                  })
                    @Html.ValidationMessageFor(x => x.IdCriticidad)
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Descripción Español</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DescripcionEspanol)
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">English Description </label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DescripcionIngles)
                </div>
            </div>
        </div>
    </div>
</div>

