﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingDelegate.AgregarEditarHallazgoViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);

    if (Model.IdHallazgo.HasValue == false)
    {

        ViewBag.Title = _AgregarEditarHallazgoResource.Titulo1;
    }
    else
    {
        ViewBag.Title = _AgregarEditarHallazgoResource.Titulo2;
    }

    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

    }

<form method="post">
    @Html.HiddenFor(x => x.IdHallazgo)
    @Html.HiddenFor(x=>x.IdReunionDelegado)
    @Html.HiddenFor(x => x.IdConstituyente)
    @Html.HiddenFor(x => x.IdSede)
    @Html.HiddenFor(x => x.IdPeriodoAcademico)
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@_AgregarEditarHallazgoResource.Constituyente</label>
                    </div>
                    <div class="col-md-10">
                        <strong>@Model.constituyenteinstrumento.Constituyente.NombreEspanol</strong>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@_AgregarEditarHallazgoResource.Instrumento</label>
                    </div>
                    <div class="col-md-10">
                        <strong>@Model.constituyenteinstrumento.Instrumento.Acronimo</strong>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@_AgregarEditarHallazgoResource.Ciclo</label>
                    </div>
                    <div class="col-md-10">
                        <strong>@Model.reunion.PeriodoAcademico.CicloAcademico</strong>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@_AgregarEditarHallazgoResource.Sede</label>
                    </div>
                    <div class="col-md-10">
                        <strong>@Model.reunion.Sede.Nombre</strong>
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@ConsultarRDResource.NivelAceptacion</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.IdNivelAceptacionHallazgo, new SelectList(Model.LstNivelAceptacion, "IdNivelAceptacionHallazgo", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), AddEditMeetingDelegateResource.Seleccione
                  , new
                  {
                      @class = "form-control select2-select",
                      @required = "true"

                  })
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@_AgregarEditarHallazgoResource.NivelCriticidad</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.IdCriticidad, new SelectList(Model.LstCriticidad, "IdCriticidad", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                  , new
                  {
                      @class = "form-control select2-select",
                      @required = "true"
                  })
                    </div>
                </div>

                @if(Model.IdHallazgo.HasValue==false)
                { 
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@ConsultarRDResource.Curso</label>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.IdCurso, new SelectList(Model.LstCursos, "IdCurso", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles")
                  , new
                  {
                      @class = "form-control select2-select",
                      @required = "true",
                      @id = "curso"
                  })
                    </div>
                </div>


                <div id="descripciones">

                            <div class="row form-group">
                                <div class="col-md-2">
                                    
                                </div>
                                <div class="col-md-10">
                                    @_AgregarEditarHallazgoResource.Cargando
                                </div>
                            </div>
                </div>
                }
                else
                {
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label>@_AddEditHallazgoRDResource.Carrera</label>
                        </div>
                        <div class="col-md-10">
                            <strong>@Model.hallazgo.Carrera.NombreEspanol</strong>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <label>@ConsultarRDResource.Comision</label>
                        </div>
                        <div class="col-md-10">
                            <strong>@Model.hallazgo.Comision.Codigo</strong>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <label>Outcome</label>
                        </div>
                        <div class="col-md-10">
                            <strong>@Model.hallazgo.Outcome.Nombre</strong>
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-md-2">
                            <label>@ConsultarRDResource.Descripcion</label>
                        </div>
                        <div class="col-md-10">
                            @Html.TextAreaFor(x => x.descripcionEspanol, new { @class = "form-control" })
                        </div>
                    </div>

                }

                <div class="row">
                    <div class="pull-right">


                            <a class="btn btn-default" style="margin-top: 30px;" href="@Url.Action("ConsultarRD", "MeetingDelegate",new { IdReunionDelegado = @Model.IdReunionDelegado })" > @ButtonsOptionsResource.Cancelar </a>

                        <button type="submit" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;">  @ButtonsOptionsResource.Guardar </button>
                    </div>
                </div>



            </div>
        </div>
    </div>


</form>




@if (Model.IdHallazgo.HasValue == false)
{

    @section scripts {
        <script>

            $(document).ready(function () {


                ActualizarDescripciones();

                $('#curso').change(function () {
                    ActualizarDescripciones();
                });

                function ActualizarDescripciones() {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ListarDescripcionPorCarrera", "MeetingDelegate")',
                        data: '{idCurso: ' + $('#curso').val() + ', idReunionDelegado: @Model.IdReunionDelegado }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "html",
                        success: function (response) {
                            $('#descripciones').html(response);
                            $('#btnGenerar').attr("disabled", false);
                        },
                        beforeSend: function () {
                            $('#descripciones').html('<div class="row form-group"><div class="col-md-2"></div><div class="col-md-10">Cargando...</div></div>');
                            $('#btnGenerar').attr("disabled", true);
                        },

                    });
                }




            });




        </script>
    }
}