﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingDelegate._ConfirmacionDeleteHallazgoRDViewModel
@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;

    ViewBag.Icon = "trash";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    ViewBag.Title =  _ConfirmacionDeleteHallazgoRDResource.Titulo;
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@Html.HiddenFor(x => x.HallazgoId)
@Html.HiddenFor(x => x.IdPeriodoAcademico)
@Html.HiddenFor(x => x.IdCurso)
@Html.HiddenFor(x => x.IdSede)

<div class="row">
    <div class="form-group">

        <div class="col-sm-9">
            <strong>@(ConsultarRDResource.Curso): @Model.NombreCurso</strong>
        </div>

        <div class="col-sm-9">
            <strong>@(ConsultarRDResource.NivelAceptacion): @Model.NombreNivelAceptacion</strong>
        </div>
        <div class="col-sm-9">
            <strong>@(ConsultarRDResource.Codigo): @Model.Codigo</strong>
        </div>

    </div>
</div><br />


<p>@(_ConfirmacionDeleteHallazgoRDResource.Advertencia)</p>

@section Scripts{
    <script>
        @{

        }

    </script>

}
