﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingDelegate._ConfirmacionDeleteReunionDelegadoViewModel
@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;

    ViewBag.Icon = "trash";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    ViewBag.Title = _ConfirmacionDeleteReunionDelegadoResource.Titulo;
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@Html.HiddenFor(x => x.IdReunionDelegado)


<div class="row">
    <div class="form-group">
     
    
        <div class="col-sm-9">
            <strong>@(_ConfirmacionDeleteReunionDelegadoResource.Cursos):</strong>
            @for(int i = 0; i<Model.lstNombreCursos.Count(); i++)
            {
                Model.lstNombreCursos[i].ToString();
            }            
            
        </div> 

        <div class="col-sm-9">
            <strong>@(ConsultarRDResource.Sede): @Model.rd.Sede.Codigo</strong>
        </div>
        <div class="col-sm-9">
            <strong>@(ConsultarRDResource.Codigo): @Model.rd.Comentario</strong>
        </div>

    </div>
</div><br />


<p>@(_ConfirmacionDeleteReunionDelegadoResource.Advertencia)</p>

@section Scripts{
    <script>
        @{

        }

    </script>

}
