﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingDelegate.LstParticipantesReunionDelegadoViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    ViewBag.Title = _LstParticipantesReunionDelegadoResource.Titulo;

    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    ViewBag.IsGet = "True";
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

}
<div class="form-horizontal">

        <div class="row">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @_LstParticipantesReunionDelegadoResource.Listadedelegados</h3>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <h5>@_LstParticipantesReunionDelegadoResource.Instruccion1</h5>
                        <table class="table table-hover table-striped" id="table">
                            <thead>
                                <tr style="background-color: #FF1901;">
                                    <th class="text-center" style="color:white;">@ConsultarRDResource.Curso</th>
                                    <th class="text-center" style="color:white;">@ConsultarRDResource.Seccion</th>
                                    <th class="text-center" style="color:white;">@_LstParticipantesReunionDelegadoResource.NombreDelDelegado</th>
                                    <th class="text-center" style="color:white;">@_LstParticipantesReunionDelegadoResource.Asistencia</th>

                                </tr>
                            </thead>
                            <tbody id="encuestas">
                                @Html.HiddenFor(x => x.IdReunionDelegado)
                                @for (int i = 0; i < Model.LstDelegados.Count; i++)
                                {
                                    <tr>
                                        <td class="text-center">@Model.LstDelegados[i].Seccion.CursoPeriodoAcademico.Curso.NombreEspanol</td>
                                        <td class="text-center">@Model.LstDelegados[i].Seccion.Codigo</td>
                                        <td class="text-center">@Model.LstDelegados[i].AlumnoMatriculado.Alumno.Nombres @Model.LstDelegados[i].AlumnoMatriculado.Alumno.Apellidos </td>
                                        
                                        <td class="text-center">@Html.CheckBoxFor(x => x.LstDelegadosAsistentes[i]) </td>
                                        @Html.HiddenFor(x => x.LstIdAlumnoSeccion[i])
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    
</div>