﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingDelegate.AddEditMeetingDelegateViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    if (Model.IdReunionDelegado.HasValue)
    {
        ViewBag.Title = AddEditMeetingDelegateResource.Titulo1;
    }
    else
    {
        ViewBag.Title = AddEditMeetingDelegateResource.Titulo2;
    }

    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@section Breadcrumbs {
    <li><a href="@Url.Action("ManagementRD", "Meeting")">@AddEditMeetingDelegateResource.ActaDeReunionDeDelegados</a></li>
<li><a href="@Url.Action("LstReunionDelegados", "MeetingDelegate")">@AddEditMeetingDelegateResource.Mantenimiento</a></li>
    @if (Model.IdReunionDelegado.HasValue)
    {
        
        <li><a href="@Url.Action("ConsultarRD", "MeetingDelegate", new { IdReunionDelegado = Model.IdReunionDelegado })">@AddEditMeetingDelegateResource.Consultar</a></li>
    }

}

<form method="post">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @AddEditMeetingDelegateResource.DatosGenerales</h3>
            </div>
            <div class="panel-body">
                @Html.HiddenFor(x => x.IdCiclo)
                @Html.HiddenFor(x => x.IdEscuela)
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@AddEditMeetingDelegateResource.Ciclo</label>
                            @Html.TextBoxFor(x => x.Ciclo.CicloAcademico, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@AddEditMeetingDelegateResource.Sede</label>

                            @Html.DropDownListFor(x => x.IdSede, new SelectList(Model.LstSede, "IdSede", "Nombre"), @AddEditMeetingDelegateResource.Seleccione, new { @class = "form-control", @required = "true" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@AddEditMeetingDelegateResource.FechaDeReunion</label>
                            @Html.EditorFor(x => x.Fecha, new { htmlAttributes = new { @class = "form-control", @required = "true" } })


                            @*Html.EditorFor(x => x.Fecha, new { htmlAttributes = new { @class = "form-control", @required = "true" , @min= Model.Ciclo.CicloAcademico.Substring(0,4)+"-01-01", @max= Model.Ciclo.CicloAcademico.Substring(0, 4) + "-12-31" } })*@
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@AddEditMeetingDelegateResource.CursosAsociados</label>
                            @{
                                var lstCursos = Model.LstCurso.Select(c => new SelectListItem
                                {
                                    Text = c.Codigo + " : " + c.NombreEspanol,
                                    Value = c.IdCurso.ToString()
                                });
                            }
                            @Html.DropDownListFor(m => m.LstIdCursos, lstCursos, new { @data_plugin = "select2", @class = "form-control", @multiple = "multiple", @id = "cursos", @required = "true" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="pull-right">

                        @if (Model.IdReunionDelegado.HasValue)
                        {
                            <a class="btn btn-default" href="@Url.Action("ConsultarRD", "MeetingDelegate", new { IdReunionDelegado = Model.IdReunionDelegado })" style="margin-top: 30px;"> @ButtonsOptionsResource.Cancelar</a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="@Url.Action("ManagementRD", "Meeting")" style="margin-top: 30px;">  Cancelar </a>
                        }

                        <button type="submit"  id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;" data-toggle="tooltip" data-placement="top" title="Elige al menos un curso.">  @ButtonsOptionsResource.Guardar </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{
    <script src="~/Content/assets/plugins/select2/dist/js/select2.min.js" rel="stylesheet"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>


    <script type="text/javascript">

        $('#cursos').val('@string.Join(",", Model.LstIdCursos)'.split(',')).trigger('change');

        $("#cursos").change(function () {

            if ($("#cursos :selected").length == 0)
            {

                $('#btnGenerar').attr("data-original-title", @AddEditMeetingDelegateResource.Mensaje);
            }
            else
            {
                $('#btnGenerar').attr("data-original-title", "");
            }
           
        });
        //$("select[multiple] option").prop("selected", "selected");
    </script>
}
