﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingDelegate.AgregarEditarImagenViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);

    if (Model.IdEvidencia.HasValue == false)
    {

        ViewBag.Title = AgregarEditarImagenResource.Titulo1;
    }
    else
    {
        ViewBag.Title = AgregarEditarImagenResource.Titulo2;
    }

    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

}
@section Breadcrumbs {
    <li><a href="@Url.Action("ManagementRD", "Meeting")">@ConsultarRDResource.ActaDeReunionDeDelegados</a></li>
<li><a href="@Url.Action("ConsultarRD", "MeetingDelegate", new { IdReunionDelegado = Model.IdReunionDelegado } )">@AddEditMeetingDelegateResource.Consultar</a></li>

}



<form method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x=>x.IdReunionDelegado)
    @Html.HiddenFor(x=>x.IdEvidencia)
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@AgregarEditarImagenResource.Orden</label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Orden, new { @class = "form-control", @type = "number", @required = "true" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>@AgregarEditarImagenResource.Imagen</label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.file, new { @type = "file" ,@accept= "image/*", @required = "true" })
                    </div>
                </div>
                <div class="row">
                    <div class="pull-right">


                        <a class="btn btn-default" style="margin-top: 30px;" href="@Url.Action("ConsultarRD", "MeetingDelegate",new { IdReunionDelegado = @Model.IdReunionDelegado })"> @ButtonsOptionsResource.Cancelar </a>

                        <button type="submit" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;">  @ButtonsOptionsResource.Guardar </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
 </form>