﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingDelegate.ConsultarRDViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);

    ViewBag.Title = ConsultarRDResource.Titulo;

    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@section Breadcrumbs {
    <li><a href="@Url.Action("ManagementRD", "Meeting")">@ConsultarRDResource.ActaDeReunionDeDelegados</a></li>


}

<div class="row">
    <div class="panel">
        <div class="panel-heading" style="text-align: center;">
            <h2 class="panel-title">@ConsultarRDResource.DatosGenerales</h2>
        </div>
        <div class="panel-body" style="text-align: center;">
            <div class="row" style="text-align: center;">
                <p style="font-weight: bold;">@ConsultarRDResource.Codigo</p>
                <p>@Model.reunionDelegado.Comentario</p>
                <p style="font-weight: bold;">@ConsultarRDResource.CicloAcademico</p>
                <p>@Model.reunionDelegado.PeriodoAcademico.CicloAcademico</p>
            </div>
            <div class="row" style="text-align: center;">
                <p style="font-weight: bold;">@ConsultarRDResource.Sede</p>
                <p>@Model.reunionDelegado.Sede.Nombre</p>
                <p style="font-weight: bold;">@ConsultarRDResource.Fecha</p>
                <p>@Model.reunionDelegado.Fecha.Value.ToString("dd/MM/yyyy")</p>
                <p style="font-weight: bold;">@ConsultarRDResource.Cursos</p>
                @for (int i = 0; i < Model.LstCurso.Count; i++)
                {
                    <p>
                        @Model.LstCurso[i].NombreEspanol
                    </p>
                }

            </div>
        </div>

        <div class="panel-footer">

            <a class="btn btn-primary" href="@Url.Action("AddEditMeetingDelegate", "MeetingDelegate", new { IdReunionDelegado = Model.IdReunionDelegado })"><i class="fa fa-edit"></i> @ConsultarRDResource.Editar</a>

            <a href="@Url.Action("PrintReunionDelegado", "MeetingDelegate", new { IdReunionDelegado = Model.IdReunionDelegado })" class="btn btn-default" id="exampleGroupDrop1">
                @ConsultarRDResource.Exportar
                &nbsp;&nbsp;<i class="fa fa-download">&nbsp;</i>
            </a>
        </div>
    </div>
</div>


        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">@ConsultarRDResource.IHallazgos</h4>
                </div>
                <div class="panel-body" style="text-align: center;">


                    <table class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                        <thead>
                            <tr style="background-color: #FF1901;">
                                <th class="text-center" style="color:white;">@ConsultarRDResource.Criticidad</th>
                                <th class="text-center" style="color:white;">@ConsultarRDResource.NivelAceptacion</th>
                                <th class="text-center" style="color:white;">@ConsultarRDResource.Codigo</th>
                                <th class="text-center" style="color:white;">@ConsultarRDResource.Curso</th>
                                <th class="text-center" style="color:white;">@ConsultarRDResource.Acreditadora</th>
                                <th class="text-center" style="color:white;">@ConsultarRDResource.Comision</th>
                                <th class="text-center" style="color:white;">@ConsultarRDResource.Outcome</th>

                                <!--  <th class="text-center" style="color:white;">@ConsultarRDResource.Sede</th>-->
                                <th class="text-center" style="color:white;">@ConsultarRDResource.Descripcion</th>
                            <th></th>
  

                            </tr>
                        </thead>
                        <tbody id="encuestas">
                            @foreach (var item in Model.LstHallazgos)
                            {

                                <tr @if (item.IdCriticidad == 1) { @Html.Raw(" style=\" color: red;\" ")     }>
                                    <td class="text-center">@item.Criticidad.NombreEspanol</td>
                                    <td class="text-center"><span class="badge badge-danger" style="color:@(item.NivelAceptacionHallazgo.Color);background-color:@(item.NivelAceptacionHallazgo.Color);">6</span> @(language == ConstantHelpers.CULTURE.ESPANOL ? item.NivelAceptacionHallazgo.NombreEspanol : item.NivelAceptacionHallazgo.NombreIngles)</td>
                                    <td class="text-center">@item.Codigo</td>
                                    <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.Curso.NombreEspanol.ToUpper() : item.Curso.NombreIngles.ToUpper()) </td>
                                    <td class="text-center">@item.Acreditadora.Nombre </td>
                                    <td class="text-center">@item.Comision.Codigo</td>

                                    <td class="text-center">@item.Outcome.Nombre</td>
                                    <!--  <td class="text-center">@item.Sede.Nombre</td>-->

                                    <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>


                                    <td class="text-center">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                @ConsultarRDResource.Opciones
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                <li role="presentation"><a href="@Url.Action("_AgregarEditarHallazgo", "MeetingDelegate", new { IdReunionDelegado= @Model.IdReunionDelegado , IdHallazgo = @item.IdHallazgo })" role="menuitem"><i class="fa fa-edit"></i> @ButtonsOptionsResource.Editar</a></li>
                                                <li role="presentation"><a class="delete" @Url.ModalHelperFor("_ConfirmacionDeleteHallazgoRD", "MeetingDelegate", new { IdHallazgo = item.IdHallazgo }) role="menuitem"><i class="fa fa-trash"></i> @ButtonsOptionsResource.Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
                <div class="panel-footer">
                    <a class="btn btn-primary" href="@Url.Action("_AgregarEditarHallazgo", "MeetingDelegate", new { IdReunionDelegado = Model.reunionDelegado.IdReunionDelegado})" role="menuitem">
                        @ConsultarRDResource.AgregarHallazgo
                    </a>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">@ConsultarRDResource.IIDelegadosParticipantes</h4>
                </div>
                <div class="panel-body" style="text-align: center;">


                    <table class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                        <thead>
                            <tr>
                                <th style="text-align: center; width: 30%;">@ConsultarRDResource.Curso</th>
                                <th style="text-align: center; width: 30%;">@ConsultarRDResource.Seccion</th>
                                <th style="text-align: center; width: 60%;">@ConsultarRDResource.NombreDelDelegado</th>
                                <th style="text-align: center; width: 60%;">@ConsultarRDResource.Asistencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.LstAlumnosSeccion.Count(); i++)
                            {
                                <tr>
                                    <td style="text-align: center; vertical-align: middle; width: 15%;">
                                        @Model.LstAlumnosSeccion[i].Seccion.CursoPeriodoAcademico.Curso.NombreEspanol
                                    </td>
                                    <td style="text-align: center; vertical-align: middle; width: 15%;">
                                        @Model.LstAlumnosSeccion[i].Seccion.Codigo
                                    </td>
                                    <td style="text-align: center; vertical-align: middle; width: 60%;">
                                        @{
                                            var alumno = Model.LstAlumnosSeccion[i].AlumnoMatriculado.Alumno; }
                                        @alumno.Nombres @alumno.Apellidos

                                    </td>
                                    <td style="text-align: center; vertical-align: middle; width: 10%;">
                                        @Html.CheckBoxFor(x => x.LstAsistencia[i], new { @disabled = "disabled" })
                                    </td>
                                </tr>
                                            }

                        </tbody>
                    </table>

                </div>
                <div class="panel-footer">
                    <a class="btn btn-primary" @Url.ModalHelperFor("_LstParticipantesReunionDelegado", "MeetingDelegate", new { IdReunionDelegado = Model.reunionDelegado.IdReunionDelegado }, ModalSize.Large) role="menuitem">
                        @ConsultarRDResource.Administrar
                    </a>
                </div>
            </div>
        </div>

<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">@ConsultarRDResource.IIIEvidencia </h4>
        </div>
        <div class="panel-body" style="text-align: center;">
            <table class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                <thead>
                    <tr>
                        <th style="text-align: center; width: 15%;">@ConsultarRDResource.Orden</th>
                        <th style="text-align: center; width: 60%;">@ConsultarRDResource.Imagen</th>
                        <th style="text-align: center; width: 25%;">@ConsultarRDResource.Opciones</th>
                    </tr>
                </thead>
                <tbody>
                @for (int i = 0; i < Model.LstEvidencias.Count(); i++)
                {
                    <tr>
                        <td style="text-align: center; vertical-align: middle; width: 15%;">
                            @Model.LstEvidencias[i].Orden
                        </td>
                        <td style="text-align: center; vertical-align: middle; width: 60%;">
                            <a target="_blank" href="@Url.Content("~/"+Model.LstEvidencias[i].ubicacion)"> <img src="@Url.Content("~/"+Model.LstEvidencias[i].ubicacion)" style="height:150px;" />    </a>
                        </td>
                        <td style="text-align: center; vertical-align: middle; width: 25%;">

                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    @ConsultarRDResource.Opciones
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                    <li role="presentation"><a href="@Url.Action("AgregarEditarImagen", "MeetingDelegate", new {IdReunionDelegado=Model.IdReunionDelegado ,IdEvidencia= Model.LstEvidencias[i].IdEvidencia })" role="menuitem"><i class="fa fa-edit"></i> @ButtonsOptionsResource.Editar</a></li>
                                    <li role="presentation"><a href="@Url.Action("EliminarImagen", "MeetingDelegate", new {IdReunionDelegado=Model.IdReunionDelegado ,IdEvidencia= Model.LstEvidencias[i].IdEvidencia })"  role="menuitem"><i class="fa fa-trash"></i> @ButtonsOptionsResource.Eliminar</a></li>
                                </ul>
                            </div>
                        </td>
                     </tr>   
                }

    </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <a class="btn btn-primary" href="@Url.Action("AgregarEditarImagen", "MeetingDelegate", new { IdReunionDelegado = Model.reunionDelegado.IdReunionDelegado})" role="menuitem">
                @ConsultarRDResource.AgregarImagen
            </a>
        </div>

    </div>
</div>

