﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingDelegate.AgregarEditarHallazgoViewModel


@{
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@for (int i = 0; i < Model.LstOutcome.Count; i++)
{
    @Html.HiddenFor(x=>x.LstOutcome[i].IdComision)
    @Html.HiddenFor(x => x.LstOutcome[i].IdOutcome)
    <div class="row form-group">
        <div class="col-md-2">
            <label>@AgregarEditarImagenResource.DescripcionHallazgo (@Model.LstOutcome[i].Outcome.Nombre): </label>
        </div>
        <div class="col-md-10">
                @Html.TextAreaFor(x => x.LstOutcomeDescripcion[i], new { @class = "form-control" })
        </div>
    </div>
    
}
