﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingDelegate.LstHallazgosReunionDelegadoViewModel

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    ViewBag.Title = LstHallazgosReunionDelegadoResource.Titulo;

    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@section Breadcrumbs {
    <li><a href="@Url.Action("ManagementRD", "Meeting")">@LstHallazgosReunionDelegadoResource.ReunionDeDelegados</a></li>
        <li><a href="@Url.Action("LstReunionDelegados", "MeetingDelegate")">@AddEditMeetingDelegateResource.Mantenimiento</a></li>

}

    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @LstHallazgosReunionDelegadoResource.DatosGeneralesReunionDelegados</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@AddEditMeetingDelegateResource.Ciclo</label>
                            @Html.TextBoxFor(x => x.rd.PeriodoAcademico.CicloAcademico, new { @class = "form-control", @readonly = "" })
                        </div>
                        <div class="form-group">
                            <label class="label-survey">@ConsultarRDResource.Sede</label>
                            @Html.TextBoxFor(x => x.rd.Sede.Nombre, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@ConsultarRDResource.Curso</label>
                                @Html.TextBoxFor(x => x.rd.Curso.NombreEspanol, new { @class = "form-control", @readonly = "" })

                        </div>
                        <div class="form-group">
                            <label class="label-survey">@AddEditMeetingDelegateResource.FechaDeReunion</label>
                            @Html.EditorFor(x => x.Fecha, new { htmlAttributes = new { @class = "form-control", @required = "true", @readonly = "" } })
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @LstHallazgosReunionDelegadoResource.Titulo</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="pull-right">
                    <a class="btn btn-warning" @Url.ModalHelperFor("_AddEditHallazgoRD", "MeetingDelegate", new { IdReunionDelegado = Model.IdReunionDelegado, IdHallazgo = 0 }, ModalSize.Large)><i class="fa fa-plus"></i> @LstHallazgosReunionDelegadoResource.RegistrarHallazgo</a>
                    <p id="registraralerta" style="color: red;"></p>

                </div>
                <h3>&nbsp;</h3>
                <table class="table table-hover table-striped" id="table">
                    <thead>
                        <tr style="background-color: #FF1901;">
                            <th class="text-center" style="color:white;">@ConsultarRDResource.Criticidad </th>
                            <th class="text-center" style="color:white;">@ConsultarRDResource.NivelAceptacion</th>
                            <th class="text-center" style="color:white;">@ConsultarRDResource.Codigo</th>
                            <th class="text-center" style="color:white;">@ConsultarRDResource.Curso</th>
                            <th class="text-center" style="color:white;">@ConsultarRDResource.Acreditadora</th>
                            <th class="text-center" style="color:white;">@ConsultarRDResource.Comision</th>
                            <th class="text-center" style="color:white;">Outcome</th>

                            <th class="text-center" style="color:white;">@ConsultarRDResource.Sede</th>
                            <th class="text-center" style="color:white;">@ConsultarRDResource.Descripcion</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="encuestas">
                        @foreach (var item in Model.LstHallazgos)
                        {
                            <tr @if (item.IdCriticidad == 1) { @Html.Raw(" style=\" color: red;\" ")    }>
                                <td class="text-center">@item.Criticidad.NombreEspanol</td>
                                <td class="text-center"><span class="badge badge-danger" style="color:@(item.NivelAceptacionHallazgo.Color);background-color:@(item.NivelAceptacionHallazgo.Color);">6</span> @(language == ConstantHelpers.CULTURE.ESPANOL ? item.NivelAceptacionHallazgo.NombreEspanol : item.NivelAceptacionHallazgo.NombreIngles)</td>
                                <td class="text-center">@item.Codigo</td>
                                <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.Curso.NombreEspanol.ToUpper() : item.Curso.NombreIngles.ToUpper()) </td>
                                <td class="text-center">@item.Acreditadora.Nombre </td>
                                <td class="text-center">@item.Comision.Codigo</td>

                                <td class="text-center">@item.Outcome.Nombre</td>
                                <td class="text-center">@item.Sede.Nombre</td>

                                <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>

                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                            Opciones
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                            <li role="presentation"><a @Url.ModalHelperFor("_AddEditHallazgoRD", "MeetingDelegate", new { IdReunionDelegado = Model.IdReunionDelegado, IdHallazgo = item.IdHallazgo }, ModalSize.Large) role="menuitem"><i class="fa fa-edit"></i> Editar</a></li>
                                            <li role="presentation"><a class="delete" @Url.ModalHelperFor("_ConfirmacionDeleteHallazgoRD", "MeetingDelegate", new { IdHallazgo = item.IdHallazgo }, ModalSize.Large) role="menuitem"><i class="fa fa-trash"></i> Eliminar</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
         </div>
    </div>
</div>