﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingDelegate
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.MeetingDelegate.LstReunionDelegadosViewModel
@{

    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

    ViewBag.Title = LstReunionDelegadosResource.Titulo;
}

@section Breadcrumbs{
<li><a href="@Url.Action("ManagementRD", "Meeting")">@LstReunionDelegadosResource.ActasDeReunionDeDelegados</a></li>
}

<form method="post">
    @Html.HiddenFor(x=>x.IdPeriodoAcademico)
    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-filter"></i> @LstReunionDelegadosResource.Filtros </h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@AddEditMeetingDelegateResource.Ciclo</label>
                                        @Html.TextBoxFor(x => x.Ciclo.CicloAcademico, new { @class = "form-control", @readonly = "" })
                                    </div>
                                    <div class="form-group">
                                        <label class="label-survey">@AddEditMeetingDelegateResource.Sede</label>

                                        @Html.DropDownListFor(x => x.IdSede, new SelectList(Model.LstSede, "IdSede", "Nombre"), AddEditMeetingDelegateResource.Seleccione, new { @class = "form-control"})
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@ConsultarRDResource.Curso</label>
                                        @Html.DropDownListFor(x => x.IdCurso, new SelectList(Model.LstCurso, "IdCurso", (language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles")), AddEditMeetingDelegateResource.Seleccione, new { @class = "form-control"})
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="pull-right">
                                    <a class="btn btn-default" style="margin-top: 30px;" href="@Url.Action("LstReunionDelegados", "MeetingDelegate")"><i class="fa fa-eraser"></i></a>
                                    <button type="submit" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;">  @LstReunionDelegadosResource.Buscar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>




<div class="row">
    <div class="panel-group">
        <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">

                    <a class="panel-title collapsed" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOne2" id="reporte">
                        <h4><i class="fa fa-tasks"></i>@LstReunionDelegadosResource.Reuniones; </h4>
                    </a>
                </div>


                <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="true">


                    <div class="panel-body">

                        <div class="row">
                            <h3>&nbsp;</h3>
                            <table class="table table-hover table-striped" id="table">
                                <thead>
                                    <tr style="background-color: #FF1901;">
                                        <th class="text-center" style="color:white;">@ConsultarRDResource.Fecha</th>
                                        <th class="text-center" style="color:white;">@ConsultarRDResource.Codigo</th>
                                       <!--<th class="text-center" style="color:white;">@ConsultarRDResource.Curso</th>--> 
                                        <th class="text-center" style="color:white;">@ConsultarRDResource.Sede</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="encuestas">
                                    @foreach (var item in Model.LstReunion)
                                    {
                                        <tr>
                                            <td class="text-center">@item.Fecha.Value.ToShortDateString()</td>
                                            <td class="text-center">@item.Comentario</td>
                                            <!--<td class="text-center"> </td>-->
                                            <td class="text-center">@item.Sede.Nombre</td>
                                            <td class="text-center">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                        Opciones
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                        <li role="presentation"><a href="@Url.Action("ConsultarRD", "MeetingDelegate", new { IdReunionDelegado = @item.IdReunionDelegado })" role="menuitem"><i class="fa fa-edit"></i> @AddEditMeetingDelegateResource.Consultar</a></li>
                                                        <!--<li role="presentation"><a href="@Url.Action("AddEditMeetingDelegate", "MeetingDelegate", new { IdReunionDelegado = @item.IdReunionDelegado })" role="menuitem"><i class="fa fa-edit"></i> Editar</a></li>
                                                        <li role="presentation"><a href="@Url.Action("LstHallazgosReunionDelegado", "MeetingDelegate", new { IdReunionDelegado = @item.IdReunionDelegado })" role="menuitem"><i class="fa fa-edit"></i> Hallazgos</a></li>
                                                        <li role="presentation"><a href="@Url.Action("LstParticipantesReunionDelegado", "MeetingDelegate", new { IdReunionDelegado = @item.IdReunionDelegado })" role="menuitem"><i class="fa fa-edit"></i> Participantes</a></li>-->
                                                        <li role="presentation"><a class="delete" @Url.ModalHelperFor("_ConfirmacionDeleteReunionDelegado", "MeetingDelegate", new { IdReunionDelegado = @item.IdReunionDelegado }) role="menuitem"><i class="fa fa-trash"></i> @ButtonsOptionsResource.Eliminar</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @Html.PagedListPager(Model.LstReunion, page => Url.Action("LstHallazgosIRD", new { numeroPagina = page, IdCiclo = Model.IdPeriodoAcademico, IdCurso = Model.IdCurso}), ConstantHelpers.TwitterBootstrapPagerAligned)


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

