﻿@model UPC.CA.ABET.Presentation.Areas.Upload.ViewModels.Common.UploadMaintenanceViewModel
@{
    ViewBag.Title = @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDeCargas;
}

@section SecondSidebar
{
    @{Html.RenderPartial("_SecondSidebar");}

}

@section Breadcrumbs{
    <li><a class="animsition-link" href="@Url.Action("BeforeEnrollment", "Upload", new { Area = String.Empty})"> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDatos </a></li>
}


@if (Model.Message.Content != null)
{
    <div class="row">
        <div class="alert @(@Model.Message.Success ? "alert-success" : "alert-danger") alert-block">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">@(@Model.Message.Success ? "Éxito" : "Error")</h4>
            @Model.Message.Content
        </div>
    </div>
}

<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i>&nbsp;@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ListaDeCargasRealizadas</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>
        </div>

        <div class="panel-body">
            <div class="row col-md-12">
                <table id="asociationsTable" class="table table-condensed table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Tipo</th>
                            <th class="text-center">Modalidad</th>
                            <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Fecha</th>
                            <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Usuario</th>
                            <th class="text-center" style="width:15%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var upload in Model.Uploads)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => upload.Type)
                                </td>
                                <td>
                                   @Html.DisplayFor(modelItem=>upload.Modalidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => upload.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => upload.User)
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-sm"
                                       href="@Url.Action("Delete", "Maintenance", new { Id = upload.Id })"
                                       onclick="return confirm('¿Desea realmente eliminar la carga?');">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
