﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.TeacherMeeting;
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.ReunionesDetalleViewModel
@{
    ViewBag.Icon = "sticky-note";
    ViewBag.Form = true;
    ViewBag.Title = TeacherMeetingResource.ReuniondeProfesores;
}
<div class="row">
    <div class="col-md-12">
        <div class="panel-body row" style="max-height:60vh; overflow-y:auto; padding-top:0">
            <div class="row">
                <div class="form-group col-sm-12 col-md-12">
                    <div class="col-sm-4 control-label" style="color:black ; font-weight: bold;">
                       @TeacherMeetingResource.NombreDeLaReunion:
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <span>@Model.NombreReunion</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12 col-md-12">
                    <div class="col-sm-4 control-label" style="color:black ; font-weight: bold;">
                        @TeacherMeetingResource.AreaEncargada:                        
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <span>@Model.AreaEncargada</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12 col-md-12">
                    <div class="col-sm-4 control-label" style="color:black ; font-weight: bold;">
                        @TeacherMeetingResource.Semana:
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <span>@Model.Semana</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12 col-md-12">
                    <div class="col-sm-4 control-label" style="color:black ; font-weight: bold;">
                        @TeacherMeetingResource.Nivel:
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <span>@Model.Nivel</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12 col-md-12">
                    <div class="col-sm-4 control-label" style="color:black ; font-weight: bold;">
                        @TeacherMeetingResource.Lugar:
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <span>@Model.Lugar</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12 col-md-12">
                    <div class="col-sm-4 control-label" style="color:black ; font-weight: bold;">
                        @TeacherMeetingResource.Inicio:
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <span>@Model.Inicio</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12 col-md-12">
                    <div class="col-sm-4 control-label" style="color:black ; font-weight: bold;">
                        @TeacherMeetingResource.Fin:
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <span>@Model.Fin</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12 col-md-12">
                    <div class="col-sm-4 control-label" style="color:black ; font-weight: bold;">
                        @TeacherMeetingResource.Participantes:
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <ul style="padding:0;">
                            @foreach (var item in Model.lstProfesoresParticipantes)
                            {
                                <li>@item.Text</li>
                            }
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $("#area").children().removeClass("col-md-6");
    $("#area").children().addClass("col-md-12");
</script>
