﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="panel">
    <div class="panel-body">
        <div class="brand">
            <img class="brand-img" src="@Url.ContentUrl("assets/images/logo-sa.svg")" alt="...">
        </div>
        <br />
        <hr />
        <h5>@LayoutResource.Version</h5>
        <p> 
            @typeof(UPC.CA.ABET.Presentation.MvcApplication).Assembly.GetName().Version
            @typeof(UPC.CA.ABET.Presentation.MvcApplication).Assembly.GetName().ProcessorArchitecture
        </p>
        <hr />
        <a href="@Url.Action("Dashboard", "Home", new { Area = String.Empty })" class="btn btn-default btn-block btn-lg margin-top-40">@LayoutResource.Home <i class="fa fa-home"></i></a>
    </div>
</div>