﻿@model UPC.CA.ABET.Presentation.ViewModels.Home.EvidenciaIFCViewModel

@{
    Layout = null;
}
<style>
    body {
        background-image: url("../Content/img/trama.png");
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Comite Acreditacion UPC">
    <meta name="author" content="">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#FF0000">
    <link rel="icon" sizes="192x192" href="@Url.ContentUrl("assets/images/logo192.png")" />

    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#FF0000">

    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#FF0000">
    <link rel="apple-touch-icon" href="@Url.ContentUrl("assets/images/logo192.png")">

    <title>Sistema de Acreditación - UPC</title>

    <link rel="shortcut icon" href="@Url.ContentUrl("assets/images/favicon.ico")" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />


    <title>EvidenciaDocenteIFC</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">          
            <div class="col-sm">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-header">
                        Indicaciones
                    </div>
                    <div class="card-body">
                        <p class="card-text text-sm-left" >1. Buscar su código de docente.</p>
                        <p class="card-text text-sm-left">2. Ingresar las evidencias pertenecientes a su persona.</p>
                    </div>

                </div>
            </div>          
                <div class="col-sm">   
                    <br /><br />       
                    <div class="card text-center">
                        <div class="card-header">
                            Docente
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">                        
                                @Html.DropDownListFor(x => x.docenteid, Model.listdocente, new { @id = "docenteid",@class= "custom-select" })
                            </div>
                         
                            <div> 
                                <button type="button" class="btn btn-primary" onclick="FiltrarTabla();">Buscar</button>                   
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-sm"></div>
          </div>
        <br /><br />
            <div  id="cardevidencias">          
                    <div class="card text-center">
                        <div class="card-header">
                            Listado de Hallazgos y Acciones de Mejora
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="tablaevidenciaid">
                                    <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Curso</th>
                                            <th scope="col">Código</th>
                                            <th scope="col">Hallazgo</th>
                                            <th scope="col">Código</th>
                                            <th scope="col">Acción de Mejora</th>
                                            <th scope="col">Evidencia</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            </div>
                    </div>           
            </div>
        </div>
           
</body>
</html> 


<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script>

    var Datatable;
    var acmid;
    var descripcionevidencia;
    var respuestaajax;

   

    $(document).ready(function () {


        $("#docenteid").select2({
            theme: "bootstrap",
            placeholder: {
                value: '-1',
                text: 'Ingrese su código de docente...'
            },
            minimumInputLength: 3,
            allowClear: true
        });
       

        Datatable = $('#tablaevidenciaid').DataTable({
            "ajax": {
                "method": "GET",
                "url": "@Url.Action("ObtenerHallazgoAccionMejoraTodo", "Home")",
                "datatype": "JSON"
            },
            "responsive": true,
            "columns": [
                { "data": "docenteid" },
                { "data": "nombrecurso" },
                { "data": "codigohallazgo" },
                { "data": "hallazgodescripcion" },
                { "data": "codigoaccionmejora" },
                { "data": "accionmejoradescripcion" },
                {
                    "data": "accionmejoraid",
                    "render": function (data) {                                 
                        return "</button> <button class='btn btn-primary btn-sm' onclick=AgregarEvidencia(" + data + ") >Evidencia</button> ";       
                }
                },
                {
                    "data": "evidenciadescripcion"
                }
            ],
            "columnDefs":[
                {
                    "targets": [0,7],
                    "visible": false,
                    "width": "0%"
                },
                {
                    "targets": [1,2,4,6],
                    "width": "10%"
                },
                 {
                     "targets": [3, 5],
                     "width": "30%"
                 }
            ],
            "rowCallback": function (row, data, index) {
          
                if (data.evidenciadescripcion != null) {
                    $(row).css('background-color', '#F2F5A9');
                    $(row).css('color', '#1C1C1C');
                }
            },
            "language": {
                loadingRecords: "Cargando...",
                lengthMenu: "Mostrar _MENU_ registros por página",
                processing: "Procesando...",
                search: "Filtrar:",
                zeroRecords: "No se ha encontrado nada  atraves de ese filtrado.",
                paginate: {
                    first: "Primera",
                    last: "Última",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            }

        });

    });

    function FiltrarTabla()
    {
       
        var docente = $("#docenteid").val();
        var table = $('#tablaevidenciaid').DataTable();
        table.columns(0).search(docente).draw();
    }

    function AgregarEvidencia(accionmejoraid)
    {
        acmid = accionmejoraid;

        $.ajax({
            url: '@Url.Action("GetEvidencia", "Home")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                accionmejoraid: acmid
            }),
            success: function (respuesta) {
                if (respuesta === "NULL") {
                    document.getElementById("descripcionevidenciaid").value = "";
                    $('#modalevidenceid').modal('show');

                }
                else {

                    swal({
                        title: "¿Está seguro?",
                        text: "Esta acción de mejora cuenta con una evidencia, si esta seguro de editarla presionar el botón OK.",
                        icon: "info",
                        buttons: true,
                        dangerMode: true,
                                        })
                    .then((editar) => {
                        if (editar) {
                            document.getElementById("descripcionevidenciaid").value = respuesta;
                            $('#modalevidenceid').modal('show');

                        }
                    });                
                }
            }
            
        });
    }

    function GuardarEvidencia()
    {
        descripcionevidencia = $("#descripcionevidenciaid").val();

        if (descripcionevidencia == "")
        {
            swal("¡Debe ingresar una descripción!", "", "error");
            return false;
        }

        $.ajax({
            url: '@Url.Action("AgregarEvidencia", "Home")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                accionmejoraid: acmid,
                descripcionevidencia: descripcionevidencia
            }),
            success: function (respuesta) {
                if (respuesta == "True")
                {
                    swal("¡Se registró la evidencia!", "", "success");
                    Datatable.ajax.reload();
                }
                if (respuesta == "Error")
                {
                    swal("¡Sucedió un error!", "", "error");
                   
                }

                $('#modalevidenceid').modal('hide');
            },
            error: function (exception) {
                swal("¡Sucedió un error!", "", "Error");
            }
        });


    }


</script>

<div class="modal fade" id="modalevidenceid" tabindex="-1" role="dialog" aria-labelledby="addevidenceid" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Descripción Evidencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>                    
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Descripción:</label>
                        <textarea class="form-control" id="descripcionevidenciaid" style="margin-top: 0px; margin-bottom: 0px; height: 293px;"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarEvidencia()" >Guardar</button>
            </div>
        </div>
    </div>
</div>