﻿@model UPC.CA.ABET.Presentation.ViewModels.Home.LoginViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}

<div class="panel">
    <div class="panel-body">
        <div class="brand">
            <img class="brand-img" src="@Url.ContentUrl("assets/images/logo-sa.svg")" alt="...">
        </div>
        <form method="post">
            @if (TempData["FlashMessage"] != null)
            {
                @Html.AlertLight((MessageType)TempData["MessageType"], TempData["FlashMessage"].ToString())
            }
            <div class="form-group form-material floating">
                @Html.TextBoxFor(x => x.Usuario, new { @Class = "form-control" })
                @Html.LabelFor(x => x.Usuario, new { @Class = "floating-label" })
                @Html.ValidationMessageFor(x => x.Usuario)
            </div>
            <div class="form-group form-material floating">
                @Html.PasswordFor(x => x.Password, new { @Class = "form-control" })
                @Html.LabelFor(x => x.Password, new { @Class = "floating-label" })

                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <button type="submit" class="btn btn-dark btn-block btn-lg margin-top-40">@LoginResource.Ingresar <i class="fa fa-sign-in"></i></button>
        </form>
    </div>
</div>