﻿@model UPC.CA.ABET.Models.TipoEvaluacion

@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluacion.TipoEvaluacionResource.TituloC;
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluacion.TipoEvaluacionResource.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
                @Html.TextBoxFor(model => model.Tipo, new {  @class = "form-control" , @required="required", @onkeypress="validOnlyText(event)" })               
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@ButtonResource.Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Regresar, "Index" , null, new {@class="btn btn-dark" })
</div>
