﻿@model UPC.CA.ABET.Models.TipoEvaluacion

@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluadorMaestra.RolesEvaluadoresResource.EliminarTE;
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluacion.TipoEvaluacionResource.Tipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@ButtonResource.Eliminar" class="btn btn-success" /> |
            @Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Regresar, "Index",null, new { @class="btn btn-dark"})
        </div>
    }
</div>
