﻿@model UPC.CA.ABET.Models.TipoEvaluacion

@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluacion.TipoEvaluacionResource.DetalleTipoEvaluacion;
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodoAcademico.CicloAcademico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodoAcademico.CicloAcademico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(ButtonResource.Editar, "Edit", new { id = Model.IdTipoEvaluacion },new {@class="btn btn-success" }) |
    @Html.ActionLink(UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluacion.TipoEvaluacionResource.Atras, "Index" , null, new { @class="btn btn-dark"})
</p>
