﻿@model IEnumerable<UPC.CA.ABET.Models.TipoEvaluacion>


@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluacion.TipoEvaluacionResource.TituloIndex;
}

<div class="containerdt">
    <p>

        @Html.ActionLink(UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.CursosEvaluarRubricas.CursosEvaluarRubricasResource.NuevoR, "Create",null,new { @class="btn btn-primary"})
        
    </p>
    <div class="table-responsive">
        <table class="table table-hover" id="myTable">
            <thead>
                <tr>
                    <th>
                        @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluacion.TipoEvaluacionResource.Tipo
                    </th>
                    <!--
                    <th>
                        @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluacion.TipoEvaluacionResource.Ciclo
                    </th>-->
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <!--
                        <td>
                            @Html.DisplayFor(modelItem => item.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico)
                        </td>-->
                        <td>
                           <!-- @Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Editar, "Edit", new { id = item.IdTipoEvaluacion } , new { @class="btn btn-default"}) |-->
                            
                            @Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Eliminar, "Delete", new { id = item.IdTipoEvaluacion }, new { @class = "btn btn-dark" })
                        </td>
                    </tr>
                }

                </tbody>

</table>
    </div>
</div>

