﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Discover*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Discover
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model AbetViewModel

@if (Model.ExistData.HasValue)
{
	if (!Model.ExistData.Value)
	{
		<script>
            showMessage('@ReportResource.TitleAbet', '@ReportResource.NoDataMessage');
		</script>
		<div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
	}
	else
	{
		<table class="table table-hover table-striped dataTable display nowrap" width="100%">
			<thead>
				<tr>
					<th>@ReportResource.HeaderDiscoverCode</th>
					<th>@ReportResource.HeaderDiscoverDescription</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		Html.RenderPartial("_ExportButton");
		<script>
            initDataTable('@Url.Action("GetDataFindings")', [
                { data: 'Codigo', width: 200 },
                { data: 'Descripcion' }
            ]);
            scrollTopReportContainer();
            setTimeout(function () {
                $('#btnExportReportGroup').appendTo('.option-content');
                setExportUrls();
            }, 100);
		</script>
	}
}
else
{
	<div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
}