﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Discover
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Discover
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model AbetViewModel

@{
	ViewBag.Title = ReportResource.TitleAbet;
	ViewBag.Icon = "bar-chart";
}

@section Styles{
	@Html.Content("vendor/datatables-bootstrap/dataTables.bootstrap.min.css")
	@Html.Content("vendor/datatables-fixedheader/dataTables.fixedHeader.min.css")
	@Html.Content("vendor/datatables-responsive/dataTables.responsive.min.css")
}

@section Breadcrumbs{
	<li><a href="">@ReportResource.DiscoverReportsMenuTitle</a></li>
}

<div class="row">
	<div class="col-sm-12">
		<div class="panel filters">
			@Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ReportResource.HeaderFilter, PanelActions.Collapse)
			@using (Ajax.BeginForm("ABET", new AjaxOptions
			{
				HttpMethod = "POST",
				LoadingElementId = "main-loader",
				UpdateTargetId = "report-container"
			}))
			{
				@Html.AntiForgeryToken()
				@Html.Hidden("OutcomeTypeName", "Discover")
				@Html.Hidden("Reporte", "ABET")
				@Html.Hidden("InstrumentId", 0)
				<div class="panel-body row">
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCycle, Html.DropDownListFor(m => Model.CycleId, ViewBag.DropDownListCycle as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CycleId))
						@Html.FormGroup(ReportResource.LabelCampus, Html.DropDownListFor(m => Model.CampusId, Model.DropDownListCampus as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CampusId))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelAccreditationType, Html.DropDownListFor(m => Model.AccreditationTypeId, Model.DropDownListAccreditationType as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.AccreditationTypeId))
						@Html.FormGroup(ReportResource.LabelConstituent, Html.DropDownListFor(m => Model.ConstituentId, Model.DropDownListConstituent as SelectList, ReportResource.OptionAll, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.ConstituentId))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCareer, Html.DropDownListFor(m => Model.CareerId, ViewBag.DropDownListCareer as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CareerId))
						@Html.FormGroup(ReportResource.LabelStudentOutcome, Html.DropDownListFor(m => Model.StudentOutcomeId, Model.DropDownListStudentOutcome as SelectList, Model.DropDownListStudentOutcome.Count() > 1 ? ReportResource.OptionAll : null, new { @class = "form-control", @data_plugin = "select2" }), ValidateMessage: Html.ValidationMessageFor(m => Model.StudentOutcomeId))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCommission, Html.DropDownListFor(m => Model.CommissionId, Model.DropDownListCommission as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CommissionId))
						@Html.FormGroup(ReportResource.LabelCourse, Html.DropDownListFor(m => Model.CourseId, Model.DropDownListCourse as SelectList, Model.DropDownListCourse.Count() > 1 ? ReportResource.OptionAll : null, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CourseId))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelAcceptanceLevel, Html.DropDownListFor(m => Model.AcceptanceLevelId, Model.DropDownListAcceptanceLevel as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.AcceptanceLevelId))
						@Html.FormGroup(ReportResource.LabelLanguage, Html.DropDownListFor(m => Model.LanguageCulture, ViewBag.DropDownListLanguage as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.LanguageCulture))
					</div>
					<div class="row">
						@*Html.FormGroup(ReportResource.LabelCriticality, Html.DropDownListFor(m => Model.CriticalityId, Model.DropDownListCriticality as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CriticalityId))*@

						@Html.FormGroup(ReportResource.LabelCriticality, Html.DropDownListFor(m => Model.CriticalityId, Model.DropDownListCriticality as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CriticalityId))


					</div>
					@Html.PanelFooter(ReportResource.ButtonGenerateReport, ReportResource.ButtonResetReport)
				</div>
			}
		</div>
		<div class="panel">
			@Html.PanelHeader("<i class=\"fa fa-file-text\"></i> " + ReportResource.HeaderDocument, PanelActions.Fullscreen)
			<div class="panel-body" id="report-container" data-web-page-url="@Url.Content("~/Areas/Report/Resources/WebPages/DiscoverReportABET.aspx")">
				@{Html.RenderPartial("_ABETReport", Model);}
			</div>
		</div>
	</div>
</div>

<input type="hidden" id="constituent-profesor" data-id="@Model.ConstituentProfesorId" data-message="@ReportResource.ConstituentProfesorCourseComboMessage" />
<input type="hidden" id="constituent-graduates" data-id="@Model.ConstituentGraduatesId" data-message="@ReportResource.ConstituentGraduatesCourseComboMessage" />
<input type="hidden" id="option-all" value="@ReportResource.OptionAll" />


@section Scripts {
	@Html.Content("vendor/datatables/jquery.dataTables.min.js")
	@Html.Content("vendor/datatables-bootstrap/dataTables.bootstrap.min.js")
	@Html.Content("vendor/datatables-fixedheader/dataTables.fixedHeader.js")
	@Html.Content("vendor/datatables-responsive/dataTables.responsive.js")

	<script>
    /// <reference path="~/Areas/Report/Content/js/main.js" />

        $(function () {
            selectMenu('liDiscoverReports', 'liABETDiscoverReport');
            setTimeout(scrollSidebarTo, 700, 'liABETDiscoverReport');
            validateAllCycles('@ReportResource.OptionAll');

            $('#btnResetReport').resetCombos(['CycleId', 'CareerId', 'ConstituentId', 'AcceptanceLevelld', 'LanguageCulture']);
            setExportUrls();
            $('#ConstituentId').trigger('change');
        });

        bindChange('#CycleId', function () { getCampus().then(getAccreditationTypes).then(getCommissionsByCareer).then(getOutcomes).then(getDiscoverCourses); });
        bindChange('#AccreditationTypeId', function () { getCommissionsByCareer().then(getOutcomes).then(getDiscoverCourses); });
        bindChange('#CareerId', function () { getCommissionsByCareer().then(getOutcomes).then(getDiscoverCourses); });
        bindChange('#CommissionId', function () { getOutcomes().then(getDiscoverCourses); });
        bindChange('#ConstituentId', getDiscoverCourses);
        bindChange('#CampusId', getDiscoverCourses);
        bindChange('#StudentOutcomeId', getDiscoverCourses);
        bindChange('select', setExportUrls);


        function getOutcomes(data) {
            return getStudentOutcomeByCommission(data, '@ReportResource.OptionAll');
        }
	</script>
}