﻿/*html:after {
    content: "Release Build R01.05";
    position: fixed;
    bottom: 30px;
    right: 20px;
}*/

/*body:after {
    content: "Sistema de Acreditación";
    position: fixed;
    bottom: 45px;
    right: 20px;
}*/

*::-moz-selection {
    background: #FF1901;
    color: white;
}

*::selection {
    background: #FF1901;
    color: white;
}

.cocos-detalle::selection {
    background: none;
    color: red;
}

.card-body > .alert.alert-dismissible {
    border-radius: 0 !important;
}

span.field-validation-error {
    color: #f96868;
}

input.input-validation-error {
    border-color: #f96868;
}

.list-group.bg-inherit, a.list-group-item {
    margin-bottom: 5px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > thead > tr > td {
    vertical-align: middle;
}

.radio-custom label::before {
    border: 1px solid grey;
}


.brand {
    padding: 5px 50px;
}

@media only screen and (max-width : 320px) {
    .brand {
        padding: 0 !important;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .brand {
        padding: 15px 10px 0 !important;
    }
}

.site-menu{
    margin-bottom: 40px !important;
}