.loader-spin {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #FF1901; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.body-style {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
}

.app-theme-white.app-container {
    background: #f1f4f6
}

.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0
}

.app-main {
    flex: 1;
    z-index: 8;
    position: relative
}
    .app-main .app-main__outer {
        flex: 1;
        flex-direction: column;
        display: flex;
        z-index: 12
    }

    .app-main .app-main__inner {
        padding: 30px 30px 0;
        flex: 1
    }

@media (max-width: 767.98px) {
    .app-main .app-main__inner {
        padding: 15px 15px 0
    }
}

.bg-necesita-mejora {
    /* background-image: linear-gradient(-20deg, #FF0000 0%, #FF0000 100%) !important; */
    border: 4px #FF0000 solid !important;
}

.bg-esperado {
    /* background-image: linear-gradient(-20deg, #FFFF00 0%, #FFFF00 100%) !important */
    border: 4px #FFFF00 solid !important;
}

.bg-sobresaliente {
    /* background-image: linear-gradient(-20deg, #00BB2B 0%, #00BB2B 100%) !important */
    border: 4px #00BB2B solid !important;
}

.bg-sw {
    background-color: #b6dde8 !important
}

.bg-si {
    background-color: #00b050 !important
}

.bg-cc {
    background-color: #3f3f3f !important
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(26, 54, 126, 0.125);
    border-radius: .25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #fff;
    border-bottom: 1px solid;
}

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
    }

    .card-header + .list-group .list-group-item:first-child {
        border-top: 0
    }

@media (min-width: 576px) {
    .card-group > .card:first-child .card-img-top,
    .card-group > .card:first-child .card-header {
        border-top-right-radius: 0
    }

    .card-group > .card:last-child .card-img-top,
    .card-group > .card:last-child .card-header {
        border-top-left-radius: 0
    }

    .card-group > .card:only-child .card-img-top,
    .card-group > .card:only-child .card-header {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem
    }

    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
        border-radius: 0
    }
}

.accordion .card:not(:first-of-type) .card-header:first-child {
    border-radius: 0
}

.accordion .card .card-header {
    margin-bottom: -1px
}

.card.text-dark.text-white .card-footer,
.card.text-dark.text-white .card-header,
.card.text-white .card-footer,
.card.text-white .card-header {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.9)
}

.card.text-dark.text-white .card-footer,
.card.text-dark.text-white .card-header {
    color: rgba(0, 0, 0, 0.9)
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #fff;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125)
}

.card-header,
.card-title {
    text-transform: uppercase;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
    font-size: .88rem
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .625rem;
    height: 3.5rem
}

    .card-header.no-border {
        border: 0;
        padding: 0;
        height: auto
    }

    .card-header .menu-header-subtitle {
        display: block
    }

    .card-header.card-header-tab .nav {
        width: auto;
        margin-left: auto
    }

    .card-header.card-header-tab .card-header-title {
        display: flex;
        align-items: center;
        white-space: nowrap
    }

    .card-header .header-icon {
        font-size: 1.65rem;
        margin-right: .625rem
    }

    .card-header > .nav {
        margin-left: -.625rem;
        height: 100%;
        width: 100%
    }

        .card-header > .nav .nav-item {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center
        }

        .card-header > .nav .nav-link {
            text-transform: none;
            width: 100%;
            display: block;
            color: #495057
        }

            .card-header > .nav .nav-link::before {
                content: '';
                border-radius: 15px;
                background: #3f6ad8;
                transition: all .2s;
                height: 4px;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -2px;
                opacity: 0
            }

            .card-header > .nav .nav-link:hover {
                color: #3f6ad8
            }

            .card-header > .nav .nav-link.active {
                color: #3f6ad8
            }

                .card-header > .nav .nav-link.active::before {
                    opacity: 1
                }


.accordion-wrapper > .card > .card-header .btn:active,
.accordion-wrapper > .card > .card-header .btn:focus,
.accordion-wrapper > .card > .card-header .btn:hover {
    text-decoration: none
}

.accordion-wrapper > .card > .card-header .form-heading p {
    margin: 0
}


@media (max-width: 991.98px) {
    .card-header.responsive-center {
        display: block;
        text-align: center;
        height: auto;
        padding: 1.5rem
    }

        .card-header.responsive-center .nav,
        .card-header.responsive-center .btn-actions-pane-right {
            margin: .75rem 0 0
        }

            .card-header.responsive-center .nav .d-inline-block.ml-2,
            .card-header.responsive-center .btn-actions-pane-right .d-inline-block.ml-2 {
                width: 100% !important;
                text-align: left;
                margin: 0 !important
            }
}


@media (max-width: 767.98px) {
    body .card-header {
        height: auto;
        display: block;
        padding: .75rem 1.5rem;
        text-align: center
    }

        body .card-header .btn-actions-pane-right {
            padding: .75rem 0 0
        }

        body .card-header .actions-icon-btn {
            padding: 0
        }

    .card-header.card-header-tab .card-header-title {
        display: inline-flex !important;
        line-height: 1
    }

    .card-header.card-header-tab > .nav {
        margin: .75rem 0 -.75rem;
        display: table !important;
        width: 100%
    }

        .card-header.card-header-tab > .nav .nav-item {
            display: table-cell
        }
}

.card-body {
    flex: 1 1 auto;
    padding: 20px;
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card.mb-3 {
    margin-bottom: 30px !important
}

.fixed-header .app-main {
    padding-top: 60px
}

.fixed-sidebar .app-main .app-main__outer {
    z-index: 9;
    /*padding-left: 280px*/
}

.fixed-footer .app-main .app-main__outer {
    padding-bottom: 60px
}

@media (max-width: 991.98px) {
    .app-main .app-main__outer {
        padding-left: 0 !important
    }
}

.closed-sidebar.fixed-sidebar .app-main__outer {
    padding-left: 80px
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important
}

.mb-2,
.my-2 {
    margin-bottom: .5rem !important
}

.mt-2,
.my-2 {
    margin-top: .5rem !important
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

    .table-responsive-md > .table-bordered {
       border: 0
    }
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

        .table-responsive-sm > .table-bordered {
            border: 0
        }
}

*,
*::before,
*::after {
    box-sizing: border-box
}

.body-style {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
}

/* list group */
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0
}

.list-group-flush:first-child .list-group-item:first-child {
    border-top: 0
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0
}

.p-0 {
    padding: 0 !important
}

.progress-div {
    display: flex;
    height: 16px;
    overflow: hidden;
    font-size: 12px !important;
    background-color: #e9ecef;
    border-radius: .25rem
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #3f6ad8;
    transition: width 0.6s ease
}

.text-graduandos {
    color: red;
    font-weight: bold;
    font-size: 16px;
    display: block
}

.text-sw {
    color: #b6dde8 !important
}

.text-si {
    color: #00b050 !important;
}

.text-cc {
    color: #3f3f3f !important;
}

.text-danger {
    color: red !important
}

.text-graduandos-2 {
    font-weight: bold;
    font-size: 24px;
    display: block
}

.widget-content {
    padding: 16px;
    flex-direction: row;
    align-items: center
}

    .widget-content .widget-content-wrapper {
        display: flex;
        flex: 1;
        position: relative;
        align-items: center
    }

    .widget-content .widget-content-left .widget-heading {
        opacity: 10;
        font-weight: bold;
        font-size: 14px;
    }

    .widget-content .widget-content-center {
        margin: auto;
        text-align: center;
        width: 80%
    }

        .widget-content .widget-content-center .widget-heading {
            opacity: 10;
            font-weight: bold;
        }

    .widget-content .widget-content-left .widget-subheading {
        opacity: 0.7;
        font-weight: bold;
        font-size: 12px;
    }

    .widget-content .widget-content-right {
        margin-left: auto;
    }

    .widget-content .widget-content-outer {
        display: flex;
        flex: 1;
        flex-direction: column
    }

    .widget-content .widget-numbers {
        font-weight: bold;
        font-size: 27px;
        display: block;
    }

    .widget-content .widget-progress-wrapper {
        margin-top: 1rem
    }

        .widget-content .widget-progress-wrapper .progress-sub-label {
            margin-top: .33333rem;
            opacity: 1;
            display: flex;
            align-content: center;
            align-items: center
        }

            .widget-content .widget-progress-wrapper .progress-sub-label .sub-label-right {
                margin-left: auto
            }


@media (max-width: 500px) {
    .card .padding-card-chart {
        padding: 5px !important;
    }
}

.card .padding-card-chart {
    padding: 20px;
}