.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #FF1901;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s
}

.sk-chase-dot:nth-child(2) {
    animation-delay: -1.0s
}

.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s
}

.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s
}

.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s
}

.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s
}

.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s
}

.sk-chase-dot:nth-child(2):before {
    animation-delay: -1.0s
}

.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s
}

.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s
}

.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s
}

.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes sk-chase-dot {
    80%, 100% {
        transform: rotate(360deg)
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4)
    }
    100%, 0% {
        transform: scale(1)
    }
}

#spinners .three-bounce {
    text-align: center;
    font-size: 10px;
    position: relative;
    top: -26px;
    width: 80px;
    margin-right: 30px
}

.three-bounce>div {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #aca9a9c0;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
    animation: bouncedelay 1.4s infinite ease-in-out both
}

.three-bounce .one {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s
}

.three-bounce .two {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s
}

.three-bounce .three {
    -webkit-animation-delay: -0.08s;
    animation-delay: -0.08s
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1)
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}