﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.AddManual
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.AddManualViewModel

@{
    ViewBag.Title = AddManualResource.CargarRolesDeEvaluadorManual;
}

@section Styles {
    @Html.Content("css/table-styles.css", ConstantHelpers.AREAS.RUBRIC)
}

@section Breadcrumbs{
}

@section SecondSidebar
{
    @{Html.RenderPartial("_SecondSidebar");}
}

@{
    String ciclo = Model.NombreCicloActual;
}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="form-group">
            <div class="form-group">
                    <div class="row">
                        <div class="col-md-10"><h2>@AddManualResource.EvaluadoresParaEsteCiclo @ciclo</h2></div>
                        <div style="text-align: right;"><a data-toggle="modal" data-target="#myModalEvaluadores" class=" pull-right btn btn-primary"><i class="fa fa-sign-in"></i>&nbsp; @ButtonResource.Agregar</a></div>
                    </div>
            </div>
            
        </div>
        
        <div class="panel-heading">

        </div>


        <table class="redTable">
            <thead>
                <tr>
                    <th>@AddManualResource.Codigo</th>
                    <th>@AddManualResource.Nombre</th>
                    <th>@AddManualResource.Peso</th>
                    <th>@AddManualResource.TipoCurso</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var eval in Model.RolesCiclo)
                {
                    <tr>
                        <td>@eval.Codigo</td>
                        <td>@eval.Nombre</td>
                        <td>@eval.Peso</td>
                        <td>@eval.TipoCurso</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<!-- MODAL -->

<div id="myModalEvaluadores" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sg">
        <!-- Modal content-->
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="panel-title">
                    <h4><i class="fa fa-briefcase" aria-hidden="true"></i>@AddManualResource.RolesDeEvaluadoresExistentes</h4>
                </div>
            </div>


            <form method="post" action="@Url.Action("AgregarRolCiclo", "AddManual")">

                <div class="panel-body">
                    <br />

                    <table class="redTable">
                        <thead>
                            <tr>
                                <th> </th>
                                <th>@AddManualResource.Codigo</th>
                                <th>@AddManualResource.Nombre</th>
                                <th>@AddManualResource.Peso</th>
                                <th>@AddManualResource.TipoCurso</th>
                            </tr>
                        </thead>

                        <tbody>

                            @for (int i = 0; i < Model.TiposEval.Count(); i++)
                            {
                                @Html.HiddenFor(model => model.TiposEval[i].IdEvaluador)
                                <tr>
                                    <td>@Html.CheckBoxFor(model => model.TiposEval[i].IsSelected)</td>
                                    <td>@Model.TiposEval[i].Codigo</td>
                                    <td>@Model.TiposEval[i].Nombre</td>
                                    <td>@Model.TiposEval[i].Peso</td>
                                    <td>
                                        @Html.DropDownListFor(model => model.TiposEval[i].TipoCurso, new List<SelectListItem>{
                                               new SelectListItem() {Text = "TP1", Value="TP1"},
                                               new SelectListItem() {Text = "TP2", Value="TP2"}
                                        })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                    <br />


                    <button type="submit" class="pull-right btn btn-primary btn-block">@AddManualResource.AgregarALaListaDeRolesParaEsteCiclo</button>

                    <div style="text-align: center">
                        <a data-toggle="modal" data-target="#myModalRoles" class=" pull-right btn btn-primary"><i class="fa fa-sign-in"></i>&nbsp; @AddManualResource.CrearUnoNuevo</a>
                    </div>

                </div>

            </form>


        </div>

  
    </div>
</div>


<!-- MODAL 2-->

<div id="myModalRoles" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sg">
        <!-- Modal content-->
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="panel-title">
                    <h4><i class="fa fa-briefcase" aria-hidden="true"></i>@AddManualResource.NuevoRol</h4>
                </div>
            </div>

            <form method="post" action="@Url.Action("AgregarNuevoRol", "AddManual")">
                <div class="panel-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4"><h4>@AddManualResource.Nombre:</h4></div>
                            @Html.TextBoxFor(model => model.Rol)
                        </div>
                        <div class="row">
                            <div class="col-md-4"><h4>@AddManualResource.Codigo:</h4></div>
                            @Html.TextBoxFor(model => model.Cod)
                        </div>
                    </div>
                    <button type="submit" class="pull-right btn btn-primary btn-block">@ButtonResource.Crear</button>
                </div>
            </form>

        </div>
    </div>
</div>
