﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.TipoEvaluadorViewModel

@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.TituloC;
}

@using (Html.BeginForm()) 
{
    
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.tipoEvaluador.idTipoEvaluadorMaestra, UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.TipoEvaluador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.tipoEvaluador.idTipoEvaluadorMaestra, new SelectList(Model.lstCodigoRoles, "IdTipoEvaluador", "Nombre"), htmlAttributes: new { @class = "form-control" })                
            </div>
        </div>


        
        <div class="form-group">
            @Html.LabelFor(model => model.tipoEvaluador.Peso, UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.TipoCalificacion, htmlAttributes: new { @class = "control-label col-md-2" }) 
            <div class="col-md-10">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="tipoEvaluador.Peso" id="option1" value="0" autocomplete="off" checked> @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.CalificacionCualitativa
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="tipoEvaluador.Peso" id="option2" value="1" autocomplete="off"> @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.CalificacionCuantitativa
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.codCurso, UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.Curso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownListFor(model => model.codCurso, new SelectList(Model.lstCursosEvaluar, "Codigo", "NombreEspanol"), htmlAttributes: new { @class = "form-control" })                                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@ButtonResource.Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Regresar, "Index",null, new { @class="btn btn-dark"})
</div>
