﻿@model UPC.CA.ABET.Models.TipoEvaluador

@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluadorMaestra.RolesEvaluadoresResource.EliminarTE;
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEvaluadorMaestra.Codigo)
        </dd>

        <dt>
            @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.EVALUA_RÚBRICA
        </dt>

        <dd>
            @{
                if (Model.Peso == 1)
                {

                    <span class="label label-success">&nbsp;&nbsp;&nbsp;&nbsp; @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.SI &nbsp;&nbsp;&nbsp;&nbsp; </span>
                }
                else
                {
                    <span class="label label-default">&nbsp;&nbsp;&nbsp;&nbsp; @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.NO &nbsp;&nbsp;&nbsp;&nbsp;</span>
                }
            }
        </dd>

        <dt>
            @Html.DisplayName(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEvaluadorMaestra.Nombre)
        </dd>

        <dt>
            @Html.DisplayName(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.Curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.NombreEspanol)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@ButtonResource.Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Regresar, "Index",null,new {@class="btn btn-dark" })
        </div>
    }
</div>
