﻿@model UPC.CA.ABET.Models.TipoEvaluador

@{
    ViewBag.Title = @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.Detalle;
}

<div>
    <h4>@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.TipoEvaluador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCurso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCurso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodoAcademico.CicloAcademico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodoAcademico.CicloAcademico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEvaluadorMaestra.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEvaluadorMaestra.Codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.Editar, "Edit", new { id = Model.IdTipoEvaluador }) |
    @Html.ActionLink(UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.VolverALaLista, "Index")
</p>
