﻿@model IEnumerable<UPC.CA.ABET.Models.TipoEvaluador>

@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.TituloIndex;
}


<div class="containerdt">
    <p>
        @Html.ActionLink(UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.CursosEvaluarRubricas.CursosEvaluarRubricasResource.NuevoR, "Create",null,new { @class="btn btn-primary"})
    </p>
    <div class="table-responsive">
        <table class="table table-hover" id="myTable">
            <thead>
                <tr>
                    <th>
                        @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.ROL
                    </th>
                    <th>
                        @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.Nombre
                    </th>
                    <th>
                        @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.EVALUA_RÚBRICA
                    </th>
                    <th>
                        @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.NOMBRE_CURSO
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoEvaluadorMaestra.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoEvaluadorMaestra.Nombre)
                        </td>
                        <td>
                            @{
                                if (item.Peso == 1)
                                {

                                    <span class="label label-success" >&nbsp;&nbsp;&nbsp;&nbsp; @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.SI &nbsp;&nbsp;&nbsp;&nbsp; </span>
                                }
                                else
                                {
                                    <span class="label label-default">&nbsp;&nbsp;&nbsp;&nbsp; @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.NO &nbsp;&nbsp;&nbsp;&nbsp;</span>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curso.NombreEspanol)
                           
                        </td>
                        <td>
                            <!--@Html.ActionLink(UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Editar, "Edit", new { id = item.IdTipoEvaluador }, new { @class = "btn btn-default" }) |-->
                            <!-- @Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluadorMaestra.RolesEvaluadoresResource.Detalle, "Details", new { id = item.IdTipoEvaluador }, new { @class = "btn btn-success" }) |-->
                            @Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Eliminar, "Delete", new { id = item.IdTipoEvaluador }, new { @class = "btn btn-dark" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>