@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Student.EditAlumnoSeccionViewModel

@{
    ViewBag.Title = "AlumnoSeccion";
    ViewBag.Icon = "user-plus";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    var hasValue = Model.IdAlumnoSeccion.HasValue;	
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListAlumnoSeccion", "Student")">Alumnos</a></li>
}

<div class="panel">
		
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-@(hasValue ? "pencil" : "plus")"></i> @(hasValue ? LayoutResource.Editar : LayoutResource.Nuevo) AlumnoSeccion</h3>
	</div>
		
	<form class="form form-horizontal" method="post">
		<div class="panel-body">
				@Html.HiddenFor(x=>x.IdAlumnoSeccion)
			
				<div class='form-group'>
					@Html.LabelFor(x=>x.IdAlumnoMatriculado, new { @class="col-md-3 control-label"})
					<div class='col-md-9'>
						@Html.DropDownListFor(x => x.IdAlumnoMatriculado, new SelectList(Model.LstAlumnoMatriculado,"IdAlumnoMatriculado","@_DEF_Nombre"),"[- Seleccionar -]", new { @class="form-control"})
						@Html.ValidationMessageFor(x => x.IdAlumnoMatriculado)
					</div>
				</div>
				<div class='form-group'>
					@Html.LabelFor(x=>x.IdSeccion, new { @class="col-md-3 control-label"})
					<div class='col-md-9'>
						@Html.DropDownListFor(x => x.IdSeccion, new SelectList(Model.LstSeccion,"IdSeccion","Codigo"),"[- Seleccionar -]", new { @class="form-control"})
						@Html.ValidationMessageFor(x => x.IdSeccion)
					</div>
				</div>
				@Html.EditorFor(x=>x.EsDelegado)
				<div class='form-group'>
					@Html.LabelFor(x=>x.IdProyectoAcademico, new { @class="col-md-3 control-label"})
					<div class='col-md-9'>
						@Html.DropDownListFor(x => x.IdProyectoAcademico, new SelectList(Model.LstProyectoAcademico,"IdProyectoAcademico","@_DEF_Nombre"),"[- Seleccionar -]", new { @class="form-control"})
						@Html.ValidationMessageFor(x => x.IdProyectoAcademico)
					</div>
				</div>
				@Html.EditorFor(x=>x.Nota)
		</div>
		
		<div class="col-md-12 text-right">
            <a class="btn btn-default animsition-link" href="@Url.Action("ListAlumnoSeccion", "Student", new { Area = String.Empty })"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @LayoutResource.Aceptar </button>
		</div>
		
	</form>
	
</div>
