@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Student.EditAlumnoMatriculadoViewModel

@{
    ViewBag.Title = "AlumnoMatriculado";
    ViewBag.Icon = "user-plus";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    var hasValue = Model.IdAlumnoMatriculado.HasValue;	
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListAlumnoMatriculado", "Student")"></a></li>
}

<div class="panel">
		
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-@(hasValue ? "pencil" : "plus")"></i> @(hasValue ? LayoutResource.Editar : LayoutResource.Nuevo)</h3>
	</div>
		
	<form class="form form-horizontal" method="post">
		<div class="panel-body">
				@Html.HiddenFor(x=>x.IdAlumnoMatriculado)
			
				<div class='form-group'>
					@Html.LabelFor(x=>x.IdAlumno, new { @class="col-md-3 control-label"})
					<div class='col-md-9'>
						@Html.DropDownListFor(x => x.IdAlumno, new SelectList(Model.LstAlumno,"IdAlumno","@_DEF_Nombre"),"[- Seleccionar -]", new { @class="form-control"})
						@Html.ValidationMessageFor(x => x.IdAlumno)
					</div>
				</div>
				<div class='form-group'>
					@Html.LabelFor(x=>x.IdPeriodoAcademico, new { @class="col-md-3 control-label"})
					<div class='col-md-9'>
						@Html.DropDownListFor(x => x.IdPeriodoAcademico, new SelectList(Model.LstPeriodoAcademico,"IdPeriodoAcademico","@_DEF_Nombre"),"[- Seleccionar -]", new { @class="form-control"})
						@Html.ValidationMessageFor(x => x.IdPeriodoAcademico)
					</div>
				</div>
				<div class='form-group'>
					@Html.LabelFor(x=>x.IdSede, new { @class="col-md-3 control-label"})
					<div class='col-md-9'>
						@Html.DropDownListFor(x => x.IdSede, new SelectList(Model.LstSede,"IdSede","@_DEF_Nombre"),"[- Seleccionar -]", new { @class="form-control"})
						@Html.ValidationMessageFor(x => x.IdSede)
					</div>
				</div>
				<div class='form-group'>
					@Html.LabelFor(x=>x.IdCarrera, new { @class="col-md-3 control-label"})
					<div class='col-md-9'>
						@Html.DropDownListFor(x => x.IdCarrera, new SelectList(Model.LstCarrera,"IdCarrera","@_DEF_Nombre"),"[- Seleccionar -]", new { @class="form-control"})
						@Html.ValidationMessageFor(x => x.IdCarrera)
					</div>
				</div>
				@Html.EditorFor(x=>x.EstadoMatricula)
		</div>
		
		<div class="col-md-12 text-right">
            <a class="btn btn-default animsition-link" href="@Url.Action("ListAlumnoMatriculado", "Student", new { Area = String.Empty })"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @LayoutResource.Aceptar </button>
		</div>
		
	</form>
	
</div>
