﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Student.ListAlumnoMatriculadoViewModel
@{
    ViewBag.Title = @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.AlumnosMatriculados;
    ViewBag.Icon = "users";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    var HasValues = Model.LstAlumnoMatriculado.Count() > 0;
}

@section Breadcrumbs{
<li><a class="animsition-link" href="@Url.Action("BeforeEnrollment", "Upload", new { Area = String.Empty})"> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDatos </a></li>
}

<!-- Example Panel Collapse -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-filter"></i> @LayoutResource.Filtro</h3>
        <div class="panel-actions">
            <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
        </div>
    </div>
    <div class="panel-body">
        <form class="form" method="post">

           

            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.PeriodoAcademicoId, new { @class = "control-label" })

                @Html.DropDownListFor(x => x.PeriodoAcademicoId, new SelectList(Model.LstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"), " Todos ", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.PeriodoAcademicoId)

            </div>


            <div class="form-group">
                @Html.LabelFor(x => x.CadenaBuscar, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(x => x.CadenaBuscar, new { @class = "form-control" })
                    <span class="input-group-btn"><button type="submit" class="btn btn-dark">&nbsp;<i class="fa fa-search" aria-hidden="true"></i>&nbsp;@LayoutResource.Buscar</button></span>
                </div>
                @Html.ValidationMessageFor(x => x.CadenaBuscar)

            </div>
        </form>
    </div>
</div>
<!-- End Example Panel Collapse -->
<!-- Panel Collapse -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> @LayoutResource.Listado</h3>
    </div>
    <div class="panel-body">
        <div class="text-right">
            <a class="btn btn-primary animsition-link" href="@Url.Action("AddEditAlumno", "Student", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-plus"></i> @LayoutResource.Nuevo</a>
        </div>
        <br />
        <div class="table table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>@UserResource.Codigo</th>
                        <th>@UserResource.Nombres</th>
                        <th>@UserResource.Apellidos</th>
                        <th>@AcademicPeriodResource.CicloAcademico</th>
                        <th class="text-center">@UserResource.Estado</th>
                        <th class="text-right" style="min-width: 9.2em">@LayoutResource.Opciones</th>
                    </tr>
                </thead>
                @{ var PeriodoAcademicoId = 1;}
                <tbody>
                 
                    @foreach (var alumno in Model.LstAlumnoMatriculado)
                    {
                        <tr>
                            <td>@alumno.Alumno.Codigo</td>
                            <td>@alumno.Alumno.Nombres</td>
                            <td>@alumno.Alumno.Apellidos</td>
                            <td>@alumno.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico</td>
                            <td class="text-center"><span class="label @(alumno.EstadoMatricula == ConstantHelpers.ESTADO_MATRICULA.MATRICULADO ? "label-success" : "label-danger")">@(alumno.EstadoMatricula == ConstantHelpers.ESTADO_MATRICULA.MATRICULADO ? StudentResource.Matriculado : StudentResource.Retirado)</span></td>
                            <td class="text-right">

                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("AddEditAlumno", "Student", new { Area = ConstantHelpers.AREAS.ADMIN, IdAlumno = alumno.IdAlumno })"><i class="fa fa-pencil"></i> @LayoutResource.Editar</a>
                                    <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-sm pull-right">
                                        <li><a href="@Url.Action("UnsubscribeAlumnoMatriculado", "Student", new { Area = ConstantHelpers.AREAS.ADMIN, IdAlumnoMatriculado = alumno.IdAlumnoMatriculado })"><i class="fa fa-@(alumno.EstadoMatricula == ConstantHelpers.ESTADO_MATRICULA.MATRICULADO ? "eye-slash" : "eye") "></i> @(alumno.EstadoMatricula == ConstantHelpers.ESTADO_MATRICULA.MATRICULADO ? LayoutResource.Desactivar : LayoutResource.Activar)</a></li>
                                    </ul>
                                </div>

                            </td>
                        </tr>
                        PeriodoAcademicoId = alumno.SubModalidadPeriodoAcademico.IdPeriodoAcademico;
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model.LstAlumnoMatriculado, page => Url.Action("ListAlumnoMatriculado", new { p = page, PeriodoAcademicoId  = PeriodoAcademicoId}), ConstantHelpers.TwitterBootstrapPagerAligned)
        </div>
    </div>
</div>
<!-- End Panel Collapse -->

@section Scripts{
    <script>

        $(function () {
            $('#PeriodoAcademicoId').select2();
        });
    </script>
    }