﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.AcademicProject
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.AcademicProject.AddEditAcademicProjectViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Rubric

@{
	ViewBag.Title = Model.TituloPagina;
	ViewBag.Icon = "book";
}

@section Styles {
	@Html.Content("css/more-styles.css", ConstantHelpers.AREAS.RUBRIC)
	@Html.Content("vendor/alertify-js/alertify.min.css")
}

@section Breadcrumbs {
	<li><a href="@Url.Action("ListAcademicProject", "AcademicProject")">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Titulo</a></li>
}

<style>
	.panel-body {
		padding: 0px !important;
	}
</style>

<div class="row">
	<div class="col-md-12">
		<div class="panel" style="padding-bottom:30px;">
			@Html.PanelHeader(String.Format("<i class=\"fa fa-{0}\"></i> {1}", Model.Icono, Model.TituloPagina))

			@using (Html.BeginForm("AddEditAcademicProject", "AcademicProject", FormMethod.Post))
			{
				@Html.HiddenFor(x => x.ProyectoAcademicoId)
				@Html.HiddenFor(x => x.TituloPagina)
				@Html.HiddenFor(x => x.Icono)

				<div class="panel-body row">
					@Html.FormGroup(UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Curso, Html.DropDownListFor(m => m.Curso, new SelectList(Model.LstCurso, "Codigo", "NombreCompleto"), UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Todos, new { @class = "form-control select2-curso", @data_plugin = "select2" }))
                    @Html.FormGroup(UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Empresa, Html.DropDownListFor(m => m.EmpresaVirtualId, new SelectList(Model.ListEmpresaVirtual, "IdEmpresa", "Nombre"), UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Todos, new { @class = "form-control", @data_plugin = "select2" }))
				</div>

				<div class="panel-body row">
					@Html.EditorFor(x => x.Codigo, "CustomString")
					@Html.EditorFor(x => x.Nombre, "CustomString")
				</div>

				<div class="panel-body row">
					@Html.EditorFor(x => x.Descripcion, "CustomTextArea")
				</div>

				<button type="submit" id="hidden-submit" style="display: none;"></button>
			}
		</div>
		<div class="panel">
			<div class="row" id="titleAlumnos">
				@Html.PanelHeader(String.Format("<i class=\"fa fa-plus-circle\"></i> {0}", UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.AgregarAlumnos))
			</div>
			<div class="row" style="display:none;" id="titleAlumnos2">
				@Html.PanelHeader(String.Format("<i class=\"fa fa-group\"></i> {0}", "Alumnos"))
			</div>
			<div class="panel-body row" id="panelAlumnos">
				<div class="col-md-12">
					<div class="col-md-10">
						<div class="form-group col-sm-12 col-md-6">
							@Html.LabelFor(x => Model.Curso, new { @class = "col-sm-12 control-label" })
							<div class="col-sm-12">
								@Html.DropDownListFor(x => Model.Curso, new SelectList(Model.LstCurso, "Codigo", "NombreCompleto"), UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Todos, new { @class = "form-control", data_plugin = "select2", @id = "CursoAlumnoAgregar" })
								@Html.ValidationMessageFor(x => x)
							</div>
						</div>
						<div class="form-group col-sm-12 col-md-6">
							@Html.LabelFor(x => Model.CodigoAlumno, new { @class = "col-sm-12 control-label" })
							<div class="col-sm-12">
								@Html.DropDownListFor(x => Model.CodigoAlumno, new SelectList(Model.LstALumno, "Codigo", "Nombres"), String.Empty, new { @class = "form-control select2-alumno" })
								@Html.ValidationMessageFor(x => x)
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<br />
						<div class="panel-footer text-right">
							<a class="btn btn-default animsition-link" id="btn-agregar">
								<i class="fa fa-plus-circle"></i>
								@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Agregar
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div id="list-student-partial-view"></div>
			</div>
		</div>
		<div class="panel">

			@Html.PanelHeader(String.Format("<i class=\"fa fa-group\"></i> {0}", UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.AgregarEvaluadores))

			<div class="panel-body row">
				<div class="col-md-12">
					<div class="col-md-10">
						@Html.FormGroup(UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.LabelEvaluador, Html.DropDownListFor(m => m.CodigoEvaluador, new SelectList(Model.LstDocente, "IdDocente", "Nombres"), UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Todos, new { @class = "form-control select2-docente" }))
                        @Html.FormGroup(UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Rol, Html.DropDownListFor(m => m.RolId, new SelectList(Model.ListRoles, "IdTipoEvaluador", "nombre"), AcademicProjectResource.Seleccionar, new { @class = "form-control" }))
					</div>
					<div class="col-md-2">
						<br />
						<div class="panel-footer text-right">
							<a class="btn btn-default animsition-link" href="#" id="btn-agregar-docente">
								<i class="fa fa-plus-circle"></i>
								@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Agregar
							</a>&nbsp;
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div id="list-evaluator-partial-view"></div>
			</div>
			<div class="panel-footer text-right">
				<a class="btn btn-default animsition-link" href="@Url.Action("ListAcademicProject", "AcademicProject")">
					<i class="fa fa-arrow-left"></i>
					@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Cancelar
				</a>
				<a class="btn btn-primary animsition-link" id="btn-crear">
					<i class="fa fa-save"></i>
					@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Guardar
				</a>
			</div>
		</div>
	</div>
</div>

<div class="alertify" id="mensaje-cantidad" style="display: none;">
	<div class="dialog">
		<div>
			<p class="msg text-center">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.AlumnoCantidad</p>
			<button class="ok btn btn-primary" onclick="ocultarMensajeCantidad();">
				@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Aceptar
			</button>
		</div>
	</div>
</div>

<div class="alertify" id="mensaje-selecionar-curso" style="display: none;">
	<div class="dialog">
		<div>
			<p class="msg text-center">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Rubric.RubricResource.DebeSeleccionarCursoParaAgregarAlumno</p>
			<button class="ok btn btn-primary" onclick="Ocultarmensajeselecionarcurso();">
				@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Aceptar
			</button>
		</div>
	</div>
</div>

@section Scripts {


	<script>

        $(function () {

            $('.select2-curso').change(function () {

                var value = this.value;
                console.log(value);
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetRolesPorCurso", "AcademicProject", new { Area = ConstantHelpers.AREAS.RUBRIC })',
                        data: {Curso:value},
                        dataType: "json",
                        success: function(data)
                        {
                                $("#RolId").html('');
                                $.each(data, function (){
                                    $("#RolId").append($("<option     />").val(this.IdTipoEvaluador).text(this.Nombre));
                                });
                            },
                        failure: function () {
                            console.log('failure');
                            }
                        });

              });

            $('.select2-alumno').select2({

                ajax: {
                    url: '@Url.Action("GetStudents", "AcademicProject", new { Area = ConstantHelpers.AREAS.RUBRIC })',
                    dataType: 'json',
                    type: 'POST',
                    delay: 250,
                    data: function (params) {
                        return {
                            CadenaBuscar: params.term,
                            Curso: obtenerCursoAlumnoAgregar()
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                minimumInputLength: 3
            });

            $('.select2-docente').select2({

                ajax: {
                    url: '@Url.Action("GetDocentes", "AcademicProject", new { Area = ConstantHelpers.AREAS.RUBRIC })',
                    dataType: 'json',
                    type: 'POST',
                    delay: 250,
                    data: function (params) {
                        return {
                            CadenaBuscar: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                minimumInputLength: 3
            });
        });
	</script>
	<script type="text/javascript">
        var trySubmit = 0;
        $('#hidden-submit').click(function () {
            var allowSubmit = true;

            if (trySubmit > 0) {
                trySubmit++;
                allowSubmit = false;
            }
            else {
                trySubmit++;
            }
            return allowSubmit;
        });

        $(document).ready(function () {
            obtenerAlumnosSelecionados();
            obtenerEvaluadoresSelecionados();
            $('*[data-plugin="select2"]').select2();
        });

        $('#btn-agregar').click(function () {

            var curso = obtenerCursoAlumnoAgregar();
            if (curso == "") {
                $('#mensaje-selecionar-curso').show();
                return false;
            }

            agregarAlumno();
            return false;
        });

        $('#btn-agregar-docente').click(function () {

            agregarDocente();
            $('#RolId option:eq(0)').attr('selected', 'selected');

           // $('#CodigoEvaluador').val("");
           // $('#RolId').val(0);

            return false;
        });

        $('#btn-crear').click(function () {
            var cantidadAlumnos = $('#table-students tr').length - 1;
            @*var cantidadDocentes = $('#table-evaluators tr').length - 1;
            var cantidadRoles =  @(Model.ListRoles.Count);*@

            console.log("cantidadAlumnos");
            console.log(cantidadAlumnos);

            if (cantidadAlumnos >= 1 @*&& cantidadDocentes >= cantidadRoles*@) {
                console.log("INGRESO");
                $('#hidden-submit').click();
            } else {
                $('#mensaje-cantidad').show();
            }
            return false;
        });

        function obtenerCursoAlumnoAgregar(){
            var $cursoAlumno = $('#CursoAlumnoAgregar');
            return $cursoAlumno.val();
        }

        function ocultarMensajeAlerta() {
            $('#mensaje-alerta').hide();
        }

        function ocultarMensajeAlertaDocente() {
            $('#mensaje-alerta-docente').hide();
        }

        function ocultarMensajeCantidad() {
            $('#mensaje-selecionar-curso').hide();
        }

        function ocultarMensajeCurso() {
            $('#mensaje-selecionar-curso').hide();
        }

        function Ocultarmensajeselecionarcurso() {
            $('#mensaje-selecionar-curso').hide();
        }

        function obtenerAlumnosSelecionados() {
            $.ajax({
                url: '@Url.Action("_ListStudentPartialView", "AcademicProject")',
                type: "GET",
                success: function (data) {
                    $("#list-student-partial-view").html(data);

                    var rowCount = $("#list-student-partial-view tbody tr").length;

                    if (rowCount >= 2) {
                        $("#panelAlumnos").hide();
                        $("#titleAlumnos2").show();
                        $("#titleAlumnos").hide();
                    }
                    else {

                        $("#panelAlumnos").show();
                        $("#titleAlumnos2").hide();
                        $("#titleAlumnos").show();
                    }

                },
                error: function () {
                }
            });
        }

        function obtenerEvaluadoresSelecionados() {
            $.ajax({
                url: '@Url.Action("_ListEvaluatorPartialView", "AcademicProject")',
                type: "GET",
                success: function (data) {
                    $("#list-evaluator-partial-view").html(data);
                },
                error: function () {
                }
            });
        }

        function agregarAlumno() {
            $.ajax({
                url: '@Url.Action("AddStudent", "AcademicProject")',
                type: "GET",
                data: {
                    ProyectoAcademicoId: $('#ProyectoAcademicoId').val(),
                    CodigoAlumno: $('#CodigoAlumno').val(),
                    Curso: obtenerCursoAlumnoAgregar()
                },
                success: function (data) {
                    $("#list-student-partial-view").html(data);
                    $('#CodigoAlumno').val("");

                    var rowCount = $("#list-student-partial-view tbody tr").length;

                    if (rowCount >= 2) {
                        $("#panelAlumnos").hide();
                        $("#titleAlumnos2").show();
                        $("#titleAlumnos").hide();
                    }
                    else {

                        $("#panelAlumnos").show();
                        $("#titleAlumnos2").hide();
                        $("#titleAlumnos").show();
                    }
                },
                error: function () {
                }
            });
        }
        //alert($('#CodigoEvaluador').val());
        function agregarDocente() {
            $.ajax({
                url: '@Url.Action("AddDocente", "AcademicProject")',
                type: "GET",
                data: {
                    ProyectoAcademicoId: $('#ProyectoAcademicoId').val(),
                    CodigoDocente: $('#CodigoEvaluador').val(),
                    RolEvaluador: $("#RolId").val()
                },
                success: function (data) {
                    $("#list-evaluator-partial-view").html(data);
                    $('#CodigoEvaluador').empty
                },
                error: function () {
                }
            });

        }

        function validarAlumno(alumnoId, estaRetirado) {
            var esCantidadPermitida = true;

            if ($('#ProyectoAcademicoId').val()) {
                var cantidadAlumnos = $('#table-students tr').length - 1;
                if (cantidadAlumnos === 1) {
                    esCantidadPermitida = false;
                }
                if (esCantidadPermitida) {
                    if (estaRetirado) {
                        esCantidadPermitida = false;
                    }
                }
            }

            if (esCantidadPermitida) {
                quitarAlumno(alumnoId);
            }
        }

        function quitarAlumno(alumnoId) {
            $.ajax({
                url: '@Url.Action("RemoveStudent", "AcademicProject")',
                type: "GET",
                data: {
                    AlumnoId: alumnoId
                },
                success: function (data) {
                    $("#list-student-partial-view").html(data);

                    var rowCount = $("#list-student-partial-view tbody tr").length;

                    if (rowCount >= 2) {
                        $("#panelAlumnos").hide();
                        $("#titleAlumnos2").show();
                        $("#titleAlumnos").hide();
                    }
                    else {

                        $("#panelAlumnos").show();
                        $("#titleAlumnos2").hide();
                        $("#titleAlumnos").show();
                    }
                },
                error: function () {
                }
            });
        }

        function obtenerProyectoAcademico() {
            var proyectoAcademicoId = $('#ProyectoAcademicoId').val();
            if (!proyectoAcademicoId) {
                proyectoAcademicoId = "0";
            }
            return proyectoAcademicoId;
        }

        function quitarDocente(docenteId, tipoEvaluadorId) {
            $.ajax({
                url: '@Url.Action("RemoveDocente", "AcademicProject")',
                type: "GET",
                data: {
                    ProyectoId: obtenerProyectoAcademico(),
                    DocenteId: docenteId,
                    TipoEvaluadorId: tipoEvaluadorId
                },
                success: function (data) {
                    $("#list-evaluator-partial-view").html(data);
                },
                error: function () {
                }
            });
        }

	</script>
}
