﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.AcademicProject
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.AcademicProject.ListAcademicProjectViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Rubric

@{
	ViewBag.Title = UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Titulo;
	ViewBag.Icon = "book";
	var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
	var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Styles {
	@Html.Content("css/more-styles.css", ConstantHelpers.AREAS.RUBRIC)
}

@section Breadcrumbs {
}


<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-filter"></i> @LayoutResource.Filtro</h3>
		<div class="panel-actions">
			<a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
		</div>
	</div>
	<div class="panel-body">
		<div class="col-md-12">
			<div class="form-group">
				@Html.FormGroup(UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Empresa, Html.DropDownListFor(m => m.EmpresaId, new SelectList(Model.ListEmpresaVirtual, "IdEmpresa", "Nombre"), UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Todos, new { @class = "form-control", @onchange = "changeProyectoAcademico()" }))
				@Html.FormGroup(UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Curso, Html.DropDownListFor(m => m.Curso, new SelectList(Model.LstCurso, "Codigo", "NombreCompleto"), UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Todos, new { @class = "form-control", @onchange = "changeProyectoAcademico()" }))
				@Html.FormGroup(AcademicProjectResource.Alumno, Html.DropDownListFor(m => m.CodigoAlumno, new SelectList(Model.LstAlumnos, "Codigo", "Nombres"), UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Todos, new { @class = "form-control select2-alumnos", @data_plugin = "select2", @onchange = "changeProyectoAcademico()" }))
			</div>
		</div>
	</div>
</div>

<div class="panel">
	@Html.PanelHeader(String.Format("<i class=\"fa fa-plus-circle\"></i> {0}", UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.CrearProyecto))
	<div class="panel-body">
		<div class="panel-footer text-right">
			<a class="btn btn-primary animsition-link" id="btn-crear" href="@(Url.Action("AddEditAcademicProject", "AcademicProject"))">
				<i class="fa fa-plus"></i>
				@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.CrearProyecto
			</a>
		</div>
		<br />
		<div id="list-academic-project-partial-view"></div>
	</div>
</div>
@*<div class="row">
		<div class="col-md-12">
			<div class="portlet">
				<div class="panel filters">
					@Html.PanelHeader(String.Format("<i class=\"fa fa-plus-circle\"></i> {0}", RubricResource.CrearProyecto))
					<div class="panel-body row">
						@Html.FormGroup(RubricResource.Empresa, Html.DropDownListFor(m => m.EmpresaId, new SelectList(Model.ListEmpresaVirtual, "IdEmpresa", "Nombre"), RubricResource.Todos, new { @class = "form-control", @onchange = "changeProyectoAcademico()" }))
					</div>
				</div>
				<div class="panel filters">
					@Html.PanelHeader(String.Format("<i class=\"fa fa-list\"></i> {0}", RubricResource.Proyectos))




				</div>
			</div>
		</div>
	</div>*@

@section Scripts {

	<script>
            function error(message) {
                swal({
                    title: message,
                    type: 'error'
                });
            }

            function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }

            function closeLoading() {
                swal.close();
            }
	</script>

	<script type="text/javascript">

        $(document).ready(function () {
            obtenerProyectosPorEmpresa();
            $('select').select2();

            $('.select2-alumnos').select2({

                ajax: {
                    url: '@Url.Action("GetStudents", "Score", new { Area = ConstantHelpers.AREAS.RUBRIC })',
                    dataType: 'json',
                    type: 'POST',
                    delay: 250,
                    data: function (params) {
                        return {
                            CadenaBuscar: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                allowClear: true,
                placeholder: 'Todos',
                minimumInputLength: 3
            });

        });

        function changeProyectoAcademico() {
            obtenerProyectosPorEmpresa();
        }

        function obtenerEmpresaVirtual() {
            var empresaId = $('#EmpresaId').val();
            if (!empresaId) {
                empresaId = "0";
            }
            return empresaId;
        }

        function obtenerCodigoAlumno() {
            var CodigoAlumno = $('#CodigoAlumno').val();
            if (!CodigoAlumno) {
                CodigoAlumno = "0";
            }
            return CodigoAlumno;
        }

        function obtenerTipoCurso() {
            var tipoCurso = $('#Curso').val();
            return tipoCurso;
        }

        function obtenerProyectosPorEmpresa() {
            $.ajax({
                url: '@Url.Action("_ListAcademicProjectPartialView", "AcademicProject")',
                type: "GET",
                data: {
                    EmpresaVirtualId: obtenerEmpresaVirtual(),
                    TipoCurso: obtenerTipoCurso(),
                    CodigoAlumno: obtenerCodigoAlumno()
                },
                beforeSend: function(){

                    showLoading();
                },
                success: function (data) {
                    $("#list-academic-project-partial-view").html(data);

                },
                complete:function(){
                    closeLoading();
                },
                error: function () {
                }
            });
        }

        $('#list-academic-project-partial-view').on('click', '#partial-pager a', function () {
            var link = this.href;
            if (link) {
                $.ajax({
                    url: link,
                    type: 'GET',
                    beforeSend:function(){
                        showLoading();
                    },
                    success: function (data) {
                        $('#list-academic-project-partial-view').html(data);
                    },
                    complete:function(){
                        closeLoading();
                    },
                    error: function () {
                    }
                });
            }
            return false;
        });

	</script>
}
