﻿@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    var error = Session["ExMessage"];
    var inner = Session["ExInnerMessage"];
    var trace = Session["ExTrace"];
    var source = Session["ExSource"];
    var targetSite = Session["ExTargetSite"];
    var url = Session["ExUrlReferer"];
    var statusCode = Session["ExStatusCode"] ?? 500;
    ViewBag.Title = statusCode;
}

<div class="page-content vertical-align-middle">
    <header>
        <h1 class="animation-slide-top"><i class="fa fa-frown-o"></i> @statusCode</h1>
        <p>@ErrorResource.ErrorInterno !</p>
    </header>

    <div class="col-sm-12">
        @if (Session.IsLoggedIn())
        {
            <p class="text-info">@(url == null ? String.Empty : "URL: " + url) <br /> Usuario: @Session.GetCodigo()</p>
        }

        <p class="text-danger">@(error == null ? String.Empty : error)</p>
        <p class="text-warning">@(inner == null ? String.Empty : inner)</p>
        <a class="btn btn-sm btn-warning" data-toggle="collapse" href="#stack-trace" aria-expanded="true" aria-controls="stack-trace" style="margin-bottom:10px">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> @ErrorResource.VerDetalles
        </a>
        <div class="collapse" id="stack-trace" aria-expanded="true">
            <div class="well">
                <p>@(trace == null ? String.Empty : trace)</p>
                <p>@(source == null ? String.Empty : source)</p>
                <p>@(targetSite == null ? String.Empty : targetSite)</p>
            </div>
        </div>
    </div>

    @*<p class="error-advise">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>*@
    <a class="btn btn-primary btn-round" href="@Url.Action("Dashboard", "Home", new { Area = String.Empty })">@ErrorResource.Regresar <i class="fa fa-home"></i></a>

    <footer class="page-copyright">
        <p>©2016 EISC, @LayoutResource.Comite UPC</p>
    </footer>
</div>