﻿@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "404";
}

<div class="page-content vertical-align-middle">
    <header>
        <h1 class="animation-slide-top"><i class="fa fa-meh-o"></i> 404 </h1>
        <p>@ErrorResource.NoEncontrado !</p>
    </header>
    @*<p class="error-advise">Parece estar tratando de encontrar su CAMINO A CASA</p>*@
    <a class="btn btn-primary btn-round" href="@Url.Action("Dashboard", "Home", new { Area = String.Empty })"> @ErrorResource.Regresar <i class="fa fa-home"></i></a>

    <footer class="page-copyright">
        <p>©2016 EISC, @LayoutResource.Comite UPC</p>
    </footer>
</div>
