﻿@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Formation
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Formation*@
@using UPC.CA.ABET.Helpers
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model ByAcceptanceLevelViewModel

@if (Model.ExistData.HasValue)
{
    if (!Model.ExistData.Value || Model.CycleId == 0)
    {
		<script>
            showMessage('@ReportResource.TitleFormation', '@ReportResource.NoDataMessage');
		</script>
		<div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
	}
	else
	{
		var queryString = string.Format("?{0}={1}&{2}={3}&{4}={5}&{6}={7}&{8}={9}&{10}={11}&{12}={13}",
			ConstantHelpers.QueryStringParameters.CAREER_ID, Model.CareerId,
			ConstantHelpers.QueryStringParameters.CAMPUS_ID, Model.CampusId,
			ConstantHelpers.QueryStringParameters.CYCLE_ID, Model.CycleId,
			ConstantHelpers.QueryStringParameters.ACCEPTANCE_LEVEL_ID, Model.AcceptanceLevelId ?? 0,
			ConstantHelpers.QueryStringParameters.LANGUAGE_CULTURE, Model.LanguageCulture,
			ConstantHelpers.QueryStringParameters.SUBMODALIDAD_ID, '0',
			ConstantHelpers.QueryStringParameters.MODULO_ID, Model.ModuleId.HasValue ? Model.ModuleId.Value : 0);


		if (Model.CareerId > 0)
		{
			<script>iframeLoad()</script>
			<iframe src="@(Url.Content("~/Areas/Report/Resources/WebPages/FormationReportByAcceptanceLevel.aspx") + queryString)"></iframe>
		}
		else
		{
			<div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
		}
	}
}
else
{
	<div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
}