﻿@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Formation
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Formation*@
@using UPC.CA.ABET.Helpers
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model ByHistoricCourseViewModel

@if (Model.ExistData.HasValue)
{
    if (!Model.ExistData.Value || Model.CycleFromId == 0 || Model.CycleToId == 0)
    {
		<script>
            showMessage('@ReportResource.TitleFormationHistoric', '@ReportResource.NoDataMessage');
		</script>
		<div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
	}
	else
	{
		var queryString = string.Format("?{0}={1}&{2}={3}&{4}={5}&{6}={7}&{8}={9}&{10}={11}&{12}={13}&{14}={15}",
			ConstantHelpers.QueryStringParameters.CAREER_ID, Model.CareerId,
			ConstantHelpers.QueryStringParameters.CAMPUS_ID, Model.CampusId,
			ConstantHelpers.QueryStringParameters.COURSE_ID, Model.CourseId,
			ConstantHelpers.QueryStringParameters.CYCLE_FROM_ID, Model.CycleFromId,
			ConstantHelpers.QueryStringParameters.CYCLE_TO_ID, Model.CycleToId,
			ConstantHelpers.QueryStringParameters.LANGUAGE_CULTURE, Model.LanguageCulture,
			ConstantHelpers.QueryStringParameters.SUBMODALIDAD_ID, '0',
			ConstantHelpers.QueryStringParameters.MODULO_ID, Model.ModuleId.HasValue ? Model.ModuleId.Value : 0);


		if (Model.CareerId > 0)
		{
			<script>iframeLoad()</script>
			<iframe src="@(Url.Content("~/Areas/Report/Resources/WebPages/FormationReportByHistoricCourse.aspx") + queryString)"></iframe>
		}
		else
		{
			<div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
		}
	}
}
else
{
	<div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
}