﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Formation
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Formation
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model ByAcceptanceLevelViewModel
@{
	ViewBag.Title = ReportResource.TitleFormation;
	ViewBag.Icon = "bar-chart";
}

@section Breadcrumbs{
	<li><a href="javascript:history.go(-1)">@ReportResource.FormationReportsMenuTitle</a></li>
}

<div class="row">
	<div class="col-md-12">
		<div class="panel filters">
			@Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ReportResource.HeaderFilter, PanelActions.Collapse)
			@using (Ajax.BeginForm("ByAcceptanceLevel", new AjaxOptions
			{
				HttpMethod = "POST",
				LoadingElementId = "main-loader",
				UpdateTargetId = "report-container"
			}))
			{
				@Html.AntiForgeryToken()
				@Html.Hidden("ModalityId", Session.GetModalidadId())
				<div class="panel-body row">
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCycle, Html.DropDownListFor(m => Model.CycleId, Model.DropDownListCyclesFromForModality as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CycleId))
						@Html.FormGroup(ReportResource.LabelAcceptanceLevel, Html.DropDownListFor(m => Model.AcceptanceLevelId, Model.DropDownListAcceptanceLevel as SelectList, ReportResource.OptionAll, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.AcceptanceLevelId))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCampus, Html.DropDownListFor(m => Model.CampusId, Model.DropDownListCampus as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CampusId))
						@Html.FormGroup(ReportResource.LabelLanguage, Html.DropDownListFor(m => Model.LanguageCulture, ViewBag.DropDownListLanguage as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.LanguageCulture))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCareer, Html.DropDownListFor(m => Model.CareerId, ViewBag.DropDownListCareer as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CareerId))
						@Html.FormGroup(ReportResource.LabelModule, Html.DropDownListFor(m => Model.ModuleId, Model.DropDownListModules as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.ModuleId))
					</div>
					@Html.PanelFooter(ReportResource.ButtonGenerateReport, ReportResource.ButtonResetReport)
				</div>
			}
		</div>
		<div class="panel">
			@Html.PanelHeader("<i class=\"fa fa-file-text\"></i> " + ReportResource.HeaderDocument, PanelActions.Fullscreen)
			<div class="panel-body" id="report-container">
				@{Html.RenderPartial("_ByAcceptanceLevelReport", Model);}
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
        /// <reference path="~/Areas/Report/Content/js/main.js" />

        $(function () {
            selectMenu('liFormationReports', 'liByAcceptanceLevelFormationReport');
            setTimeout(scrollSidebarTo, 700, 'liByAcceptanceLevelFormationReport');
            validateAllCycles('@ReportResource.OptionAll');

            $('#btnResetReport').resetCombos(['CycleId', 'CareerId', 'AcceptanceLevelld', 'LanguageCulture']);
        });

        bindChange('#CycleId', function () { getCampus().then(getCareers).then(getModulesForCycleForModality) });
	</script>
}