﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Formation
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Formation
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model ByHistoricCourseViewModel

@{
	ViewBag.Title = ReportResource.TitleFormationHistoric;
	ViewBag.Icon = "bar-chart";
}

@section Breadcrumbs{
	<li><a href="javascript:history.go(-1)">@ReportResource.FormationReportsMenuTitle</a></li>
}

<div class="row">
	<div class="col-md-12">
		<div class="panel filters">
			@Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ReportResource.HeaderFilter, PanelActions.Collapse)
			@using (Ajax.BeginForm("ByHistoricCourse", new AjaxOptions
			{
				HttpMethod = "POST",
				LoadingElementId = "main-loader",
				UpdateTargetId = "report-container"
			}))
			{
				@Html.AntiForgeryToken()
				@Html.Hidden("ModalityId", Session.GetModalidadId())
				<div class="panel-body row">
					<div class="row">
						@Html.FormGroup(ReportResource.LabelFrom, Html.DropDownListFor(m => Model.CycleFromId, Model.DropDownListCyclesFromForModality as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CycleFromId))
						@Html.FormGroup(ReportResource.LabelCareer, Html.DropDownListFor(m => Model.CareerId, ViewBag.DropDownListCareer as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CareerId))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelTo, Html.DropDownListFor(m => Model.CycleToId, Model.DropDownListCyclesToForModality as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CycleToId))

						@Html.FormGroup(ReportResource.LabelCourse, Html.DropDownListFor(m => Model.CourseId, Model.DropDownListCourse as SelectList, new { @class = "form-control", @data_plugin = "select2" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CourseId))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCampus, Html.DropDownListFor(m => Model.CampusId, Model.DropDownListCampus as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CampusId))
						@Html.FormGroup(ReportResource.LabelLanguage, Html.DropDownListFor(m => Model.LanguageCulture, ViewBag.DropDownListLanguage as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.LanguageCulture))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelModule, Html.DropDownListFor(m => Model.ModuleId, Model.DropDownListModules as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.ModuleId))
					</div>
					@Html.PanelFooter(ReportResource.ButtonGenerateReport, ReportResource.ButtonResetReport)
				</div>
			}
		</div>
		<div class="panel">
			@Html.PanelHeader("<i class=\"fa fa-file-text\"></i> " + ReportResource.HeaderDocument, PanelActions.Fullscreen)
			<div class="panel-body" id="report-container">
				@{Html.RenderPartial("_ByHistoricCourseReport", Model);}
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
        /// <reference path="~/Areas/Report/Content/js/main.js" />
        $.validator.addMethod('Comparison', function (value, element) {
            var cycleFrom = $('#CycleFromId').find(':selected'),
                cycleTo = $('#CycleToId').find(':selected');

            if (!isNaN(cycleFrom.text()) && !isNaN(cycleTo.text())) {
                return parseInt(cycleFrom.text()) <= parseInt(cycleTo.text());
            }

            return true;
        }, '@ReportResource.RequiredMessageComparisonCycles');

        $(function () {
            selectMenu('liFormationReports', 'liByHistoricCourseFormationReport');
            setTimeout(scrollSidebarTo, 700, 'liByHistoricCourseFormationReport');

            $.validator.unobtrusive.parse('form');

            $('#CycleToId').rules('add', 'Comparison');

            $('#btnResetReport').resetCombos(['CycleFromId', 'CycleToId', 'LanguageCulture']);
        });

        bindChange('#CycleFromId', function () { getCyclesToForModality().then(getModulesBetweenCyclesForModality).then(getCampusBetweenCycles).then(getCareers).then(getFormationCourses); });
        bindChange('#CycleToId', function () { getModulesBetweenCyclesForModality().then(getCampusBetweenCycles).then(getCareers).then(getFormationCourses) });
        bindChange('#CareerId', getFormationCourses)
        bindChange('#CampusId', getFormationCourses);
	</script>
}