﻿@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Semaphore
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;
@using UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.ExportPlan
@using UPC.CA.ABET.Helpers
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;

@model ImprovementPlanViewModel


@if (Model.Idtipocorte == 1)
{
   if (Model.HasValue == true)
    {
        var queryString = string.Format("?{0}={1}&{2}={3}&{4}={5}&{6}={7}&{8}={9}&{10}={11}&{12}={13}&{14}={15}"
                           , ConstantHelpers.QueryStringParameters.LENGUAJEID, Model.Lenguaje
                             , ConstantHelpers.QueryStringParameters.CODIGOCOMISION, Model.Comision
                             , ConstantHelpers.QueryStringParameters.CARRERA_ID, Model.IdCarrera
                             , ConstantHelpers.QueryStringParameters.ANIO, Model.Anio
                             , ConstantHelpers.QueryStringParameters.MODALIDAD_ID, Model.IdModalidad
                             , ConstantHelpers.QueryStringParameters.COSTITUYENTE_ID, Model.IdCostituyente
                             , ConstantHelpers.QueryStringParameters.INSTRUMENTO_ID, Model.IdInstrumento
                             , ConstantHelpers.QueryStringParameters.PLANMEJORA_ID, Model.planid
                             );

        <script src="@Url.Content("~/Areas/Professor/Content/js/main.js")"></script>
        <script>iframeLoad()</script>
        <iframe src="@(Url.Content("~/Areas/Report/Resources/WebPages/ReportPlanMejora.aspx") + queryString)" style="width:100%;height:900px;"></iframe>

    }
}
@if (Model.Idtipocorte == 0)
{
    if (Model.HasValue == true)
    {
        var queryString = string.Format("?{0}={1}&{2}={3}&{4}={5}&{6}={7}&{8}={9}&{10}={11}&{12}={13}&{14}={15}"
                     , ConstantHelpers.QueryStringParameters.LENGUAJEID, Model.Lenguaje
                       , ConstantHelpers.QueryStringParameters.CODIGOCOMISION, Model.Comision
                       , ConstantHelpers.QueryStringParameters.CARRERA_ID, Model.IdCarrera
                       , ConstantHelpers.QueryStringParameters.ANIO, Model.Anio
                       , ConstantHelpers.QueryStringParameters.MODALIDAD_ID, Model.IdModalidad
                       , ConstantHelpers.QueryStringParameters.COSTITUYENTE_ID, Model.IdCostituyente
                       , ConstantHelpers.QueryStringParameters.INSTRUMENTO_ID, Model.IdInstrumento
                       , ConstantHelpers.QueryStringParameters.PLANMEJORA_ID, Model.planid
                       );
        <script src="@Url.Content("~/Areas/Professor/Content/js/main.js")"></script>
        <script>iframeLoad()</script>
        <iframe src="@(Url.Content("~/Areas/Report/Resources/WebPages/ReportPlanMejora2.aspx") + queryString)" style="width:100%;height:900px;"></iframe>

    }
}



