﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.ExportPlan
@using UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.ExportPlan
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;

@model PlanOfResultsViewModel

@{
    ViewBag.Title = ProfessorResource.PlanDeResultado;
    ViewBag.Icon = "book";
    var modalidadId = Session.GetModalidadId();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs{
    <li><a href="">@ProfessorResource.PlanDeResultado</a></li>
}
@section Styles {
    <link href="@Url.Content("~/Areas/Report/Content/css/sweetalert.css")" rel="stylesheet" type="text/css" />
}
<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ExportPlanResource.Filtros, PanelActions.Collapse)

            @using (Ajax.BeginForm("PlanOfResults", new AjaxOptions
            {
                HttpMethod = "POST",
                LoadingElementId = "main-loader",
                UpdateTargetId = "report-container",
                //OnBegin = "showLoading",
                //OnSuccess = "closeLoading"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Lenguaje)
                @Html.HiddenFor(x=>x.IdModalidad)
                @Html.HiddenFor(x => x.Anio, new { id="anioplanmejora"})
                <div class="panel-body row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">Año</label>
                            @Html.DropDownListFor(x => x.planid, Model.LstAnio, new { @class = "form-control", @required = "true", @id = "IdAnio" })
                        </div>
                    </div>
             


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">Carrera</label>
                            @Html.DropDownListFor(x => x.IdCarrera, Model.LstCarrera, new { @class = "form-control", @required = "true", @id = "IdCarrera" })
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">Comisión</label>
                            @Html.DropDownListFor(x => x.Comision, Model.LstComision, new { @class = "form-control", @required = "true", @id = "IdComision" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">Instrumento</label>
                            @Html.DropDownListFor(x => x.IdInstrumento, Model.LstInstrumento, new { @class = "form-control", @required = "true", @id = "IdInstrumento" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">Constituyente</label>
                            @Html.DropDownListFor(x => x.IdCostituyente, Model.LstConstituyente, new { @class = "form-control", @required = "true", @id = "IdConstituyente" })
                        </div>
                    </div>

                    @Html.PanelFooter(ProfessorResource.Generar, ProfessorResource.Reset)
                </div>

            }
        </div>
        <div class="panel">
            @Html.PanelHeaderIcon("<i class=\"fa fa-file-text\"></i> ", ProfessorResource.Document, PanelActions.Fullscreen)
            <div class="panel-body" id="report-container">
                @{Html.RenderPartial("_PlanOfResults", Model);}
            </div>
        </div>
    </div>
</div>
@section Scripts {
  <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
<script src="@Url.Content("~/Areas/Report/Content/js/sweetalert.min.js")"></script>
    <script>

         function showLoading() {
                swal({
                    title: '@language' == 'es-PE' ? 'Cargando...' : 'Loading...',
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true

                });
         }

        $("#Lenguaje").val('@language');

        function closeLoading() {
            swal.close();
        }
        

        $("#IdModalidad").val('@modalidadId');

        $('#IdAnio').change(function () {
            
            var planid = $('#IdAnio').val();
            MostrarCarreraSeccion();

            $.ajax({
                url: '@Url.Action("Anio", "ExportPlan")',
                data: { planid: planid },
                dataType: "json",
                success: function (respuesta) {
                    document.getElementById('anioplanmejora').value = respuesta;
            
                },
                beforeSend: function () {
                   
                }

            });


        });
        $('#IdCarrera').change(function () {
            MostraComisionSeccion();
            MostrarInstrumento()
            //MostrarConstituyente()
        });
        $('#IdInstrumento').change(function () {
            MostrarConstituyente()
        });

        function MostrarCarreraSeccion() {
            var IdModalidad = $("#IdModalidad").val();

            $.ajax({
                //  type: "POST",
                url: '@Url.Action("IdModalidad", "ExportPlan")',
                data: { IdModalidad: IdModalidad },
                dataType: "json",
                success: function (data) {
                    $('#IdCarrera').empty();
                    for (i = 0; i < data.length; i++) {
                        $("#IdCarrera").append($('<option>').text(data[i]["Text"]).attr('value', data[i]["Value"]));
                    }
                    $("#btnGenerar").css("pointer-events", "visible");

                },
                beforeSend: function () {
                    $("#btnGenerar").css("pointer-events", "none");
                }

            });
        }
        function MostraComisionSeccion() {

            var IdModalidad = $("#IdModalidad").val();
            var IdCarrera = $("#IdCarrera").val();
            var Anio = $("#IdAnio").val();
            $.ajax({

                url: '@Url.Action("IdCarrera", "ExportPlan")',
                data: { anio: Anio, modalidad: IdModalidad, carrera: IdCarrera },
                dataType: "json",
                success: function (data) {
                    $('#IdComision').empty();
                    for (i = 0; i < data.length; i++) {
                        $("#IdComision").append($('<option>').text(data[i]["Text"]).attr('value', data[i]["Value"]));
                    }
                    $("#btnGenerar").css("pointer-events", "visible");

                },
                beforeSend: function () {
                    $("#btnGenerar").css("pointer-events", "none");
                }

            });

        }
        function MostrarInstrumento() {
            var IdModalidad = $("#IdModalidad").val();
            var IdCarrera = $("#IdCarrera").val();
            var Anio = $("#IdAnio").val();

            $.ajax({

                url: '@Url.Action("IdInstrumento", "ExportPlan")',
                data: { anio: Anio, modalidad: IdModalidad, carrera: IdCarrera },
                dataType: "json",
                success: function (data) {
                    $('#IdInstrumento').empty();
                    for (i = 0; i < data.length; i++) {
                        $("#IdInstrumento").append($('<option>').text(data[i]["Text"]).attr('value', data[i]["Value"]));
                    }
                    $("#btnGenerar").css("pointer-events", "visible");

                },
                beforeSend: function () {
                    $("#btnGenerar").css("pointer-events", "none");
                }

            });
        }

        function MostrarConstituyente() {
            var IdModalidad = $("#IdModalidad").val();
            var IdCarrera = $("#IdCarrera").val();
            var Anio = $("#IdAnio").val();
            var IdInstrumento = $("#IdInstrumento").val();
            $.ajax({

                url: '@Url.Action("IdConstituyente", "ExportPlan")',
                data: { anio: Anio, modalidad: IdModalidad, carrera: IdCarrera, instrumento: IdInstrumento },
                dataType: "json",
                success: function (data) {
                    $('#IdConstituyente').empty();
                    for (i = 0; i < data.length; i++) {
                        $("#IdConstituyente").append($('<option>').text(data[i]["Text"]).attr('value', data[i]["Value"]));
                    }
                    $("#btnGenerar").css("pointer-events", "visible");

                },
                beforeSend: function () {
                    $("#btnGenerar").css("pointer-events", "none");
                }

            });
        }

    </script>
}



