﻿@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Achievement
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase*@
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Achievement*@
@using UPC.CA.ABET.Helpers
@using System.Globalization
@using System.Web.Script.Serialization
@using System.Threading
@using UPC.CA.ABET.Presentation.Resources.Areas.Report

@model ByCompetencesViewModel

<style>
	.matrix {
		width: 100%;
	}

		.matrix * {
			color: #000;
		}

		.matrix th {
			text-align: center;
			font-weight: 700;
			border: 2px solid #000;
		}

		.matrix td {
			font-size: 11px;
			border: 2px solid #000;
			border-top-width: 0;
		}

		.matrix th, .matrix td {
			border-right-width: 0;
		}

			.matrix th:last-child, .matrix td[rowspan]:last-child {
				border-right-width: 2px;
			}

		.matrix .competencia {
			width: 20%;
		}

		.matrix td.competencia, .matrix td[rowspan], .matrix td[rowspan] p {
			height: 54px;
			overflow-y: hidden;
		}

		.matrix .curso {
			width: 20%;
		}

		.matrix .punto {
			width: 11.5%;
		}
</style>

<table cellpadding="0" cellspacing="0" class="matrix">
	<thead>
		<tr>
			<th class="text-center competencia">@ReportResource.LabelSpecificCompetence</th>
			<th class="text-center">@ReportResource.LabelAxisCourse</th>
			<th class="text-center">@ReportResource.LabelGrade</th>
			<th class="text-center punto">@ReportResource.LabelReachedGrade</th>
			<th class="text-center">@ReportResource.LabelLevel</th>
			<th class="text-center punto">@ReportResource.LabelReachedLevel</th>
			<th class="text-center punto">@ReportResource.LabelMaximunGrade</th>
			<th class="text-center punto">@ReportResource.LabelMaximunLevel</th>
			<th class="text-center punto">@ReportResource.LabelPercentage</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.SpecificCompetences)
		{
			var rowSpan = item.Courses.Count > 3 ? item.Courses.Count : 3;
			var firstCourse = item.Courses.FirstOrDefault();
			var description = item.Outcome + ". " + item.Description;
			<tr>
				<td rowspan="@rowSpan">
					<p>
						@(description.Length > 86 ? description.Substring(0, 86) + "..." : description)
					</p>
				</td>
				<td class="text-center">
					@if (firstCourse != null)
					{
						@: @firstCourse.Name
					}
				</td>
				<td class="text-center">
					@if (firstCourse != null)
					{
						@: @firstCourse.Grade
					}
				</td>
				<td rowspan="@rowSpan" class="text-center">@item.ReachedGrade</td>
				<td class="text-center">
					@if (firstCourse != null)
					{
						@: @firstCourse.Level
					}
				</td>
				<td rowspan="@rowSpan" class="text-center">@item.ReachedLevel</td>
				<td rowspan="@rowSpan" class="text-center">@item.MaximunGrade</td>
				<td rowspan="@rowSpan" class="text-center">@item.MaximunLevel</td>
				<td rowspan="@rowSpan" class="text-center">@((item.ReachedGrade / item.MaximunGrade).ToString("P0", CultureInfo.InvariantCulture))</td>
			</tr>
			for (int i = 1; i < rowSpan; i++)
			{
				<tr>
					<td class="text-center">@Html.Raw(i < item.Courses.Count ? item.Courses[i].Name : "&nbsp;")</td>
					<td class="text-center">@Html.Raw(i < item.Courses.Count ? item.Courses[i].Grade.ToString() : "&nbsp;")</td>
					<td class="text-center">@Html.Raw(i < item.Courses.Count ? item.Courses[i].Level.ToString() : "&nbsp;")</td>
				</tr>
			}
		}
	</tbody>

</table>

<table cellpadding="0" cellspacing="0" class="matrix" style="margin-top: 40px;">
	<thead>
		<tr>
			<th class="text-center competencia">@ReportResource.LabelGeneralCompetence</th>
			<th class="text-center">@ReportResource.LabelAxisCourse</th>
			<th class="text-center">@ReportResource.LabelGrade</th>
			<th class="text-center punto">@ReportResource.LabelReachedGrade</th>
			<th class="text-center">@ReportResource.LabelLevel</th>
			<th class="text-center punto">@ReportResource.LabelReachedLevel</th>
			<th class="text-center punto">@ReportResource.LabelMaximunGrade</th>
			<th class="text-center punto">@ReportResource.LabelMaximunLevel</th>
			<th class="text-center punto">@ReportResource.LabelPercentage</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.GeneralCompetences)
		{
			var rowSpan = item.Courses.Count > 3 ? item.Courses.Count : 3;
			var firstCourse = item.Courses.FirstOrDefault();
			<tr>
				<td rowspan="@rowSpan">
					<p>
						@(item.Description.Length > 86 ? item.Description.Substring(0, 86) + "..." : item.Description)
					</p>
				</td>
				<td class="text-center">
					@if (firstCourse != null)
					{
						@: @firstCourse.Name
					}
				</td>
				<td class="text-center">
					@if (firstCourse != null)
					{
						@: @firstCourse.Grade
					}
				</td>
				<td rowspan="@rowSpan" class="text-center">@item.ReachedGrade</td>
				<td class="text-center">
					@if (firstCourse != null)
					{
						@: @firstCourse.Level
					}
				</td>
				<td rowspan="@rowSpan" class="text-center">@item.ReachedLevel</td>
				<td rowspan="@rowSpan" class="text-center">@item.MaximunGrade</td>
				<td rowspan="@rowSpan" class="text-center">@item.MaximunLevel</td>
				<td rowspan="@rowSpan" class="text-center">@((item.ReachedGrade / item.MaximunGrade).ToString("P0", CultureInfo.InvariantCulture))</td>
			</tr>
			for (int i = 1; i < rowSpan; i++)
			{
				<tr>
					<td>@Html.Raw(i < item.Courses.Count ? item.Courses[i].Name : "&nbsp;")</td>
					<td>@Html.Raw(i < item.Courses.Count ? item.Courses[i].Grade.ToString() : "&nbsp;")</td>
					<td>@Html.Raw(i < item.Courses.Count ? item.Courses[i].Level.ToString() : "&nbsp;")</td>
				</tr>
			}
		}
	</tbody>

</table>