﻿@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Achievement
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase*@
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Achievement*@
@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@using UPC.CA.ABET.Helpers
@using System.Globalization
@using System.Web.Script.Serialization
@using System.Threading
@using UPC.CA.ABET.Presentation.Resources.Areas.Report

@model ByCompetencesViewModel

@functions {
	public IHtmlString ValidText(string text)
	{
		return string.IsNullOrWhiteSpace(text) ? new HtmlString("") : Html.Raw(text);
	}
}
@*@ReportResource @ReportResource*@
@if (Model.ExistData.HasValue)
{
    if (!string.IsNullOrWhiteSpace(Model.Message) || Model.CycleId == 0 || Model.CampusId == 0)
    {
		<script>
            showMessage('@ReportResource.TitleCompetences', '@Model.Message');
		</script>
		<div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
	}
	else
	{
		if (Model.StudentId > 0)
		{
			var currentUICulture = Thread.CurrentThread.CurrentUICulture;
			Thread.CurrentThread.CurrentUICulture = new CultureInfo(Model.LanguageCulture);
			var qualifiedRubricId = (Model.RubricApproveds
				.OrderByDescending(ra => ra.Cycle)
				.Where(ra => ra.EvaluationType == ConstantHelpers.RUBRICFILETYPE.EvaluationType.TF)
				.FirstOrDefault() ?? new RubricApproved()).QualifiedRubricId;

			<div class="report-container text-right" style="padding-bottom: 10px">

				<a href="javascript:void(0);" id="btnEditComment" class="btn btn-primary">
					<i aria-hidden="true" class="fa fa-pencil"></i>
					@LayoutResource.Editar comentario
				</a>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-primary dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="true">
						Exportar
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
						<li role="presentation"><a href="javascript:void(0);" id="btnPdfReport"><i class="fa fa-file-pdf-o"></i> PDF </a></li>
						<li role="presentation"><a href="javascript:void(0);" id="btnExcelReport"><i class="fa fa-file-excel-o"></i> EXCEL </a></li>
					</ul>
				</div>
			</div>
			<div class="report-container" id="competences-report">
				<table>
					<tr>
						<td class="borde-report-container">
							<table class="bold">
								<tr>
									<td class="fondo-negro text-center main-title">
										@ReportResource.TitleCompetences
									</td>
								</tr>
								<tr>
									<td class="cuadro-alumno">
										<div class="block">
											<div style="float:left;width: 45%;" class="etiqueta-descripcion">
												<label>@ReportResource.LabelCode:</label>
												<label>@ValidText(Model.Student.Code)</label>
											</div>
											<div style="float:left;width: 55%;" class="etiqueta-descripcion">
												<label>@ReportResource.LabelName:</label>
												<label id="studentFullName" class="text-uppercase">@ValidText(Model.Student.FullName)</label>
											</div>
											<div style="float:left;width: 75%;" class="etiqueta-descripcion">
												<label>@ReportResource.LabelCareer:</label>
												<label>@ValidText(Model.Student.Career)</label>
											</div>
											<div style="float:left;width: 25%;" class="etiqueta-descripcion">
												<label>@ReportResource.LabelExit:</label>
												<label>@ValidText(string.IsNullOrWhiteSpace(Model.Student.ExitCycle) ? "&nbsp;" : Model.Student.ExitCycle)</label>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td class="fondo-negro text-center subtitulo">
										@ReportResource.SubtitleGeneralSkills
									</td>
								</tr>
								<tr>
									<td>
										<div class="competencias generales">
											<table>
												<tr>
													<td class="tabla">
														<table>
															<thead>
																<tr>
																	<th>@ReportResource.HeaderGeneralCompetences</th>
																	<th>@ReportResource.HeaderAchievement</th>
																</tr>
															</thead>
															<tbody>
																@if (Model.GeneralCompetences != null)
																{
																	foreach (var item in Model.GeneralCompetences)
																	{
																		<tr>
																			<td>@ValidText(item.Outcome)</td>
																			<td class="text-center bg-plomo">
																				@if (!string.IsNullOrWhiteSpace(item.Color))
																				{
																					<span class="ico" style="background-color:@item.Color"></span>
																				}
																			</td>
																		</tr>
																	}
																}
															</tbody>
														</table>
													</td>
													<td class="grafico">
														<canvas id="canvasGeneralCompetences" width="100%" height="50"></canvas>
													</td>
												</tr>
											</table>
										</div>
									</td>
								</tr>
								<tr>
									<td class="fondo-negro text-center subtitulo">
										@ReportResource.SubtitleSpecificSkills
									</td>
								</tr>
								<tr>
									<td>
										<div class="competencias especificas">
											<table>
												<tr>
													<td class="tabla">
														<table>
															<thead>
																<tr>
																	<th>@ReportResource.HeaderSpecificCompetences</th>
																	<th>@ReportResource.HeaderAchievement</th>
																</tr>
															</thead>
															<tbody>
																@if (Model.SpecificCompetences != null)
																{
																	foreach (var item in Model.SpecificCompetences)
																	{
																		<tr>
																			<td>
																				@ValidText(item.RomanNumber + ". " + item.Outcome + ". " + item.Description)
																			</td>
																			<td class="text-center bg-plomo">
																				@if (!string.IsNullOrWhiteSpace(item.Color))
																				{
																					<span class="ico" style="background-color:@item.Color"></span>
																				}
																			</td>
																		</tr>
																	}
																}

															</tbody>
														</table>
													</td>
													<td class="grafico">
														<canvas id="canvasSpecificCompetences" width="100%" height="70"></canvas>
													</td>
												</tr>
											</table>
										</div>
									</td>
								</tr>
								<tr>
									<td class="fondo-negro text-center" style="height:8px;"></td>
								</tr>
								<tr>
									<td style="padding: 10px 30px;">
										<table class="niveles-logros">
											<tr>
												<td rowspan="2" class="text-center" style="width:100px;">
													@ReportResource.LabelAchievementLevels
												</td>
												@foreach (var item in Model.Levels)
												{
													<td class="text-center font-400">@ValidText(item.Name)</td>
												}
											</tr>
											<tr>
												@foreach (var item in Model.Levels)
												{
													<td class="text-center font-400 bg-plomo">
														<span class="ico" style="background-color:@item.Color"></span>
													</td>
												}
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td class="fondo-negro text-center subtitulo">
										@ReportResource.SubtitleAppreciativeSummary
									</td>
								</tr>
								<tr>
									<td class="resumen-apreciativo">
										<p id="report-comment">
											@ValidText(Model.AppreciativeSummary)
										</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<div class="firmas">
								@if (Model.Firms.Any())
								{
									var countFirms = Model.Firms.Count;
									var widthPercent = 100 / countFirms;

									foreach (var item in Model.Firms)
									{
										<table style="width: @(widthPercent)%;">
											<tr>
												<td>
													@*<img src="@item.UrlFirm" class="imagen-firma @(string.IsNullOrWhiteSpace(item.UrlFirm) ? "not-visible" : string.Empty)" />*@
													&nbsp;
												</td>
											</tr>
											<tr>
												<td class="text-center">
													<span class="border-superior">
														@ValidText(item.FullName)
													</span>
												</td>
											</tr>
											<tr>
												<td class="text-center">@ValidText(string.IsNullOrWhiteSpace(item.JobPosition) ? "&nbsp;" : item.JobPosition)</td>
											</tr>
										</table>
									}
								}
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div id="matriz-container" style="background-color: #fff !important;width:1020px;">
				@Html.Partial("_ByCompetencesMatrix", Model)
			</div>
			<script>
                setTimeout(scrollTopReportContainer, 500);

                $('#linkEditComment').attr('data-source-url', '@Url.Action("EditComment", "Achievement", new { QualifiedRubricId = qualifiedRubricId })');

                $('.report-container table').map(function (i, table) {
                    table.setAttribute('cellspacing', 0);
                    table.setAttribute('cellpadding', 0);
                })

                var dataGeneralCompetences = {
                    labels: JSON.parse('@Html.Raw(new JavaScriptSerializer().Serialize(Model.GeneralCompetences.Select(x => x.Outcome).ToList()))'),
                    datasets: [
                        {
                            label: '@Html.Raw(ReportResource.LegendReachedLevel)',
                            backgroundColor: "transparent",
                            borderColor: "blue",
                            pointBackgroundColor: "blue",
                            pointBorderColor: "transparent",
                            pointHoverBackgroundColor: "transparent",
                            pointHoverBorderColor: "blue",
                            data: JSON.parse('@Html.Raw(new JavaScriptSerializer().Serialize(Model.GeneralCompetences.Select(x => x.ReachedLevel).ToList()))')
                        },
                        {
                            label: '@Html.Raw(ReportResource.LegendMaximunLevel)',
                            backgroundColor: "transparent",
                            borderColor: "rgba(179,181,198,1)",
                            pointBackgroundColor: "rgba(179,181,198,1)",
                            pointBorderColor: "transparent",
                            pointHoverBackgroundColor: "transparent",
                            pointHoverBorderColor: "rgba(179,181,198,1)",
                            data: JSON.parse('@Html.Raw(new JavaScriptSerializer().Serialize(Model.GeneralCompetences.Select(x => x.MaximunLevel).ToList()))')
                        }
                    ]
                }

                @{
                    var specificCompetencesDescriptions = new List<string>();
                    Model.SpecificCompetences.ForEach(x =>
                    {
                        var text = x.Outcome + ". " + x.Description;
                        specificCompetencesDescriptions.Add(text.Length > 15 ? text.Substring(0, 15) + "..." : text);
                    });
                }

                var dataSpecificCompetences = {
                    labels: JSON.parse('@Html.Raw(new JavaScriptSerializer().Serialize(specificCompetencesDescriptions))'),
                    datasets: [
                        {
                            label: '@Html.Raw(ReportResource.LegendReachedLevel)',
                            backgroundColor: "transparent",
                            borderColor: "blue",
                            pointBackgroundColor: "blue",
                            pointBorderColor: "transparent",
                            pointHoverBackgroundColor: "transparent",
                            pointHoverBorderColor: "blue",
                            data: JSON.parse('@Html.Raw(new JavaScriptSerializer().Serialize(Model.SpecificCompetences.Select(x => x.ReachedLevel).ToList()))')
                        },
                        {
                            label: '@Html.Raw(ReportResource.LegendMaximunLevel)',
                            backgroundColor: "transparent",
                            borderColor: "rgba(179,181,198,1)",
                            pointBackgroundColor: "rgba(179,181,198,1)",
                            pointBorderColor: "transparent",
                            pointHoverBackgroundColor: "transparent",
                            pointHoverBorderColor: "rgba(179,181,198,1)",
                            data: JSON.parse('@Html.Raw(new JavaScriptSerializer().Serialize(Model.SpecificCompetences.Select(x => x.MaximunLevel).ToList()))')
                        }
                    ]
                }

                Chart.defaults.global.legend.position = 'bottom';

                $(document).ready(function () {
                    chartGeneralCompetences = new Chart(document.getElementById('canvasGeneralCompetences'), {
                        type: 'radar',
                        data: dataGeneralCompetences,
                        options: {
                            scale: {
                                reverse: false,
                                ticks: {
                                    beginAtZero: true
                                }
                            },
                            legend: {
                                labels: {
                                    fontSize: 10,
                                    boxWidth: 20
                                }
                            }
                        }
                    });

                    chartSpecificCompetences = new Chart(document.getElementById('canvasSpecificCompetences'), {
                        type: 'radar',
                        data: dataSpecificCompetences,
                        options: {
                            scale: {
                                reverse: false,
                                ticks: {
                                    beginAtZero: true
                                }
                            },
                            legend: {
                                labels: {
                                    fontSize: 10,
                                    boxWidth: 20
                                }
                            }
                        }
                    });

                    getMatrixReport();
                });
			</script>

			Thread.CurrentThread.CurrentUICulture = currentUICulture;
		}
		else
		{
			<div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
		}
	}
}
else
{
	<div class="report-init-text text-center">@ReportResource.TextInitialReport</div>
}