﻿@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Achievement;
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Achievement
@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Achievement*@
@using UPC.CA.ABET.Presentation.Resources.Areas.Report

@model EditCommentViewModel

<div class="modal-comment-container">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">
            <i class="fa fa-pencil contrast">&nbsp;</i> @AchievementResource.EditarComentario
        </h4>
    </div>
    @using (Ajax.BeginForm("EditComment", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "modal-comment",
        InsertionMode = InsertionMode.ReplaceWith
    }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => Model.QualifiedRubricId)
        <div class="modal-body">
            <p>@ReportResource.LabelEditComment</p>
            @Html.TextAreaFor(m => Model.Comment, new { @class = "form-control", @rows = 4, @maxlength = 1000 })
            @Html.ValidationMessageFor(m => Model.Comment)
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="btnClose" data-edit="true"><i class="fa fa-times"></i> @AchievementResource.Cerrar</button>
            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @AchievementResource.Aceptar</button>
        </div>
    }
</div>


@if (Model.Saved)
{
    <script>
        $('#report-comment').html($('#Comment').text());
        $('#btnClose').click();
    </script>   
}

<script>
    $('.modal-comment-container').parent().attr('id', 'modal-comment');
    $.validator.unobtrusive.parse('form');
</script>