﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Achievement
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Resources.Areas.Report
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Achievement

@model ByCompetencesViewModel

@{
	ViewBag.Title = ReportResource.TitleCompetences;
	ViewBag.Icon = "bar-chart";
}

@section Styles{
	<style>
		.student-selection > * {
			display: block;
		}

		.student-selection > label {
			margin: 0;
			padding: 0;
			font-size: 12px;
		}

		.student-selection > small {
			font-style: italic;
		}

		.student-selected > small {
			font-style: italic;
			font-size: 11px;
		}

		.student-selected > span {
			margin: 0;
			padding: 0;
			font-size: 12px;
		}
	</style>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600' rel='stylesheet' type='text/css'>
	<link href="@Url.Content("~/Areas/Report/Content/css/bycompetencesreport.css")" rel="stylesheet" />
}

@section Breadcrumbs{
	<li><a href="javascript:history.go(-1)">@ReportResource.AchievementReportsMenuTitle</a></li>
}

<div class="row">
	<div class="col-xs-12">
		<div class="panel filters">
			@Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ReportResource.HeaderFilter, PanelActions.Collapse)
			@using (Ajax.BeginForm("ByCompetences", new AjaxOptions
			{
				HttpMethod = "POST",
				LoadingElementId = "main-loader",
				UpdateTargetId = "report-container"
			}))
			{
				@Html.AntiForgeryToken()
				@Html.Hidden("ModalityId", Session.GetModalidadId())
				<div class="panel-body row">
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCycle, Html.DropDownListFor(m => Model.CycleId, Model.DropDownListCyclesFromForModality as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CycleId))
						@Html.FormGroup(ReportResource.LabelCampus, Html.DropDownListFor(m => Model.CampusId, Model.DropDownListCampus as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CampusId))
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelCareer, Html.DropDownListFor(m => Model.CareerId, Model.DropDownListCareer as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CareerId))
						<div class="form-group col-sm-12 col-md-6">
							<label class="col-sm-12 control-label">@ReportResource.LabelGraduate</label>
							<div class="col-sm-12">
								<select class="form-control" data-val="true" data-val-required="@ReportResource.RequiredMessageGraduate" id="@Html.IdFor(m => Model.StudentId)" name="@Html.NameFor(m => Model.StudentId)" tabindex="-1" aria-hidden="true">
									<option value="">@ReportResource.OptionSelect</option>
									@foreach (var item in Model.Students)
									{
										<option value="@item.IdAlumno" data-id="@item.IdAlumno" data-first-name="@item.Nombres" data-last-name="@item.Apellidos" data-code="@item.Codigo">
											@item.Nombres @item.Apellidos
										</option>
									}
								</select>
							</div>
							<div class="col-sm-12">
								@Html.ValidationMessageFor(m => Model.StudentId)
							</div>
						</div>
					</div>
					<div class="row">
						@Html.FormGroup(ReportResource.LabelLanguage, Html.DropDownListFor(m => Model.LanguageCulture, ViewBag.DropDownListLanguage as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.LanguageCulture))
						@*@Html.FormGroup(ReportResource.LabelModule, Html.DropDownListFor(m => Model.ModuleId, Model.DropDownListModules as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.ModuleId))*@
					</div>
					@Html.PanelFooter(ReportResource.ButtonGenerateReport, ReportResource.ButtonResetReport)
				</div>
			}
		</div>
		<div class="panel">
			@Html.PanelHeader("<i class=\"fa fa-file-text\"></i> " + ReportResource.HeaderDocument, PanelActions.Fullscreen)
			<div class="panel-body" id="report-container">
				@{Html.RenderPartial("_ByCompetencesReport", Model);}
			</div>
		</div>
	</div>
</div>

<a href="javascript:void(0);" @Url.ModalHelperFor("EditComment", "Achievement", new { QualifiedRubricId = 0 }) class="btn btn-primary" id="linkEditComment" style="display:none;">
</a>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.bundle.min.js" type="text/javascript"></script>
	<script src="@Url.Content("~/Areas/Report/Content/js/jspdf.debug.js" )"></script>
	<script src="@Url.Content("~/Areas/Report/Content/js/bycompetences.js")"></script>
	<script>
        /// <reference path="~/Areas/Report/Content/js/main.js" />

        $(function () {
            selectMenu('liAchievementReports', 'liAchievementByCompetencesReport');
            setTimeout(scrollSidebarTo, 700, 'liAchievementByCompetencesReport');

            $('#btnResetReport').resetCombos(['CycleId', 'CampusId', 'StudentId', 'LanguageCulture'], ['StudentId']);

            //initStudentCombo();
        });
       
        $(document).on('click', '#btnExcelReport', function (e) {
            //$('#main-loader').fadeIn();
            var params = $('form').serialize();
            params = '?' + params.substring(params.indexOf('&') + 1, 1000);

            document.location = '@Url.Action("ExportByCompetences")' + params;
        });

        $(document).on('click', '#btnEditComment', function () {
            $('#linkEditComment').click();
        })

        $(document).on('click', '#btnClose', function () {
            setTimeout(function () {
                $('.modal.fade.modal-fade-in-scale-up').remove();
                $('.modal-backdrop.fade.in').remove();
            }, 500);
        })
        //$(document).on('change', '#ModalityId', function () {
        //    var ModalityId = $(this).val();
        //    var cycles = $('#CycleId');
        //    cycles.attr('disabled', true);
        //    var params = {
        //        ModalityId: ModalityId
        //    }
        //    $.getJSON(reportCombosUrls.getCyclesFromForModality, params)
        //        .done(function (data) {
        //            cycles.html('');
        //            $.each(data, function (i, e) {
        //                cycles.append('<option value="' + e.Value + '">' + e.TextContent + '</option>');
        //            });
        //            cycles.attr('disabled', false);
        //            return data;
        //        });
        //});
        bindChange('#CycleId', loadStudents);
        bindChange('#CycleId', getModulesForCycleForModality);
        //$(document).on('change', '#CycleId', loadStudents);
        $(document).on('change', '#CampusId', loadStudents);
        $(document).on('change', '#CareerId', loadStudents);


        function loadStudents() {
            var data = {
                CycleID: function () {
                    return $('#CycleId').val();
                },
                CareerID: function () {
                    return $('#CareerId').val();
                },
                CampusID: function () {
                    return $('#CampusId').val();
                }
            },

            combo = $('#StudentId');

            combo.attr('disabled', true);
            $.getJSON('@Url.Action("GetExitStudents", "ReportBase", new { area = "" })', data)
                .done(function (data) {

                    $('#select2-StudentId-results').empty();
                    combo.html('<option value="">@ReportResource.OptionSelect</option>');
                    if (data.length == 0) {
                        combo.append('<option value="123456789">@ReportResource.noResults</option>');
                        initStudentCombo(false);
                    } else {

                        $.map(data, function (e, i) {
                            console.log(data);
                            combo.append('<option value="' + e.id + '" data-id="' + e.id + '" data-first-name="' + e.Nombres + '" data-last-name="' + e.Apellidos + '" data-code="' + e.Codigo + '">' + e.Nombres + '</option>');
                        });
                        initStudentCombo();

                    }
                })
                .done(function () { combo.removeAttr('disabled');
                });
        }

        function initStudentCombo(data = true) {
            if (!data) {
                $('#StudentId').select2({
                    templateResult: function (item) {
                        var option = item.element;
                        return  item.text
                    },
                    templateSelection: function (item) {
                        var option = item.element
                        return  option.textContent 
                    }
                });
            } else {
                $('#StudentId').select2({
                templateResult: function (item) {
                    var option = item.element;
                    return !item.id ? item.text : $('<div class="student-selection">' +
                                '<label>' + option.dataset.lastName + ', ' + option.dataset.firstName + '</label>' +
                                '<small>Código: ' + option.dataset.code + '</small>' +
                            '</div>');
                },
                templateSelection: function (item) {
                    var option = item.element
                    return !option.dataset.id ? option.textContent : $('<div class="student-selected">'
                            + '<span>' + option.dataset.lastName + ', ' + option.dataset.firstName + '</span>'
                            + '&nbsp;&nbsp;<small>(Código:' + option.dataset.code + ')</small>' +
                        '</div>');
                }
            });
            }
            
        }

        $('#StudentId').on("change", function () {
            var id = $('#StudentId').val();
            if (id == "123456789") {
                $("#btnGenerateReport").attr('disabled', true);
            } else {
                $("#btnGenerateReport").removeAttr('disabled');
            }            
        })
	</script>
}
