﻿@model String

<div class="form-group col-sm-12 col-md-6">
    @Html.LabelFor(x => x, new { @class = "col-sm-12 control-label" })
    <div class="col-sm-12">
        @Html.TextAreaFor(x => x, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x)
    </div>
</div>
