@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Local.AddEditSedeViewModel

@{
    ViewBag.Title = SedeResource.TituloSingle;
    ViewBag.Icon = "building  ";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    var hasValue = Model.IdSede.HasValue;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListSede", "Local")"> @SedeResource.TituloLista</a></li>
}

<div class="panel">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-@(hasValue ? "pencil" : "plus")"></i> @(hasValue ? LayoutResource.Editar : LayoutResource.Nuevo) @ViewBag.Title</h3>
    </div>

    <form class="form form-horizontal" method="post">
        <div class="panel-body">
            @Html.HiddenFor(x => x.IdSede)

            @Html.EditorFor(x => x.Codigo)
            @Html.EditorFor(x => x.Nombre)
        </div>

        <div class="panel-footer text-right">
            <a class="btn btn-default animsition-link" href="@Url.Action("ListSede", "Local")"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
            <button type="submit" class="btn btn-primary "> @LayoutResource.Aceptar <i class="fa fa-check"></i></button>
        </div>

    </form>

</div>
