﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register._AddEditHallazgoGRAViewModel
@{
    ViewBag.Title = (Model.HallazgoId.HasValue ? "Editar " : "Nuevo ") + "Hallazgo";
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Icon = "tasks";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    ViewBag.IsGet = "True";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor(x => x.IdComision)
@Html.HiddenFor(x => x.IdCarrera)
@Html.HiddenFor(x => x.HallazgoId)
@Html.HiddenFor(x => x.IdPeriodoAcademico)
@Html.HiddenFor(x => x.IdNivelAceptacionHallazgo)
@Html.HiddenFor(x => x.IdNumeroPractica)
<div class="form-horizontal">
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Carrera</label>
                <div class="col-sm-9"><strong>@Model.NombreCarrera</strong></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Comisión</label>
                <div class="col-sm-9"><strong>@Model.NombreComision</strong></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Outcome</label>
                <div class="col-sm-9">
                    @Html.DropDownListFor(x => x.IdOutcomeEncuestaConfig, new SelectList(Model.LstOutcome, "IdOutcomeEncuestaConfig", "NombreEspanol"), "[-" + AddEditFDCResource.DownloadTemplateSurveyGRASeleccione + "-]", new
               {
                   @class = "form-control select2-select",
                   @required = true
               })
                    @Html.ValidationMessageFor(x => x.IdOutcomeEncuestaConfig)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Criticidad</label>
                <div class="col-sm-9">
                    @Html.DropDownListFor(x => x.IdCriticidad, new SelectList(Model.LstCriticidad, "IdCriticidad", "NombreEspanol"), "[-" + @AddEditFDCResource.DownloadTemplateSurveyGRASeleccione + "-]", new
               {
                   @class = "form-control select2-select",
                   @required = true
               })
                    @Html.ValidationMessageFor(x => x.IdCriticidad)
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Descripción Español</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DescripcionEspanol)
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Descripción Inglés</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DescripcionIngles)
                </div>
            </div>
        </div>
    </div>
</div>

