﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register._AddEditHallazgoIRDViewModel
@{

    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Icon = "tasks";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    ViewBag.IsGet = "True";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;


    ViewBag.Title = (language == ConstantHelpers.CULTURE.ESPANOL ? "Nuevo Hallazgo" : "New Finding");
}

@Html.HiddenFor(x => x.IdCarrera)
@Html.HiddenFor(x => x.IdCurso)
@Html.HiddenFor(x => x.IdPeriodoAcademico)
@Html.HiddenFor(x => x.IdComision)
@Html.HiddenFor(x => x.IdOutcome)
@Html.HiddenFor(x => x.IdSede)
@Html.HiddenFor(x => x.IdAcreditadora)

<div class="form-horizontal">
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Carrera" : "Career")</label>
                <div class="col-sm-9">
                    <strong>@Model.NombreCarrera</strong>
                </div>
            </div>
        </div><br />


        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Curso" : "Course")</label>
                <div class="col-sm-9">
                    <strong>@Model.NombreCurso</strong>
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Acreditadora" : "Accrediting")</label>
                <div class="col-sm-9">
                    <strong>@Model.NombreAcreditadora</strong>
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Comisión" : "Commission")</label>
                <div class="col-sm-9">
                    <strong>@Model.NombreComision</strong>
                </div>
            </div>
        </div><br />


        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Outcome</label>
                <div class="col-sm-9">
                    <strong>@Model.NombreOutcome</strong>
                </div>
            </div>
        </div><br />



        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Sede" : "Campus")</label>
                <div class="col-sm-9">
                    <strong>@Model.NombreSede</strong>
                </div>
            </div>
        </div><br />


        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Nivel Aceptación" : "Level of Acceptance")</label>
                <div class="col-md-9">
                    @Html.DropDownListFor(x => x.IdNivelAceptacionHallazgo, new SelectList(Model.LstNivelAceptacion, "IdNivelAceptacionHallazgo", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                  , new
                  {
                      @class = "form-control select2-select",
                      @required = "true"

                  })
                    @Html.ValidationMessageFor(x => x.IdNivelAceptacionHallazgo)
                </div>
            </div>
        </div><br />


        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Criticidad" : "Criticality")</label>
                <div class="col-md-9">
                    @Html.DropDownListFor(x => x.IdCriticidad, new SelectList(Model.LstCriticidad, "IdCriticidad", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                  , new
                  {
                      @class = "form-control select2-select",
                      @required = "true"

                  })
                    @Html.ValidationMessageFor(x => x.IdCriticidad)
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Descripción Español</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DescripcionEspanol)
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">English Description </label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.DescripcionIngles)
                </div>
            </div>
        </div>
    </div>
</div>

