﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register._SelectPeriodoViewModel
@{
    ViewBag.Title = "Selección de Periodo";

    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Icon = "history";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    ViewBag.IsGet = "True";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<div class="row">
    <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.DownloadTemplateSurveyGRACarrera</label></div>
    <div class="col-md-10">
        @Html.DropDownListFor(m => Model.CarreraId, new SelectList(Model.LstCarrera, "IdCarrera", language == ConstantHelpers.CULTURE.ESPANOL ?  "NombreEspanol" : "NombreIngles"),"[-"+ @AddEditFDCResource.DownloadTemplateSurveyGRASeleccione +"-]", new
   {
       @class = "form-control select2-select",
       @required = true
   })
    </div>
</div>

<div class="row">
    <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.DownloadTemplateSurveyGRACiclo</label></div>
    <div class="col-md-10">
        @Html.DropDownListFor(m => Model.CicloId, new SelectList(Model.LstPeriodo, "IdPeriodoAcademico", "CicloAcademico"), "[-" + @AddEditFDCResource.DownloadTemplateSurveyGRASeleccione + "-]", new
   {
       @class = "form-control select2-select",
       @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]",
       @required = true
   })
    </div>
</div>

@section Scripts{
    <script>
        
    </script>   
}

