﻿<style>
    .alert-primary {
        color: #3e3e3e !important;
    }
</style>
@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.AddEditSurveyPPPViewModel
@{
    ViewBag.Title = (Model.EncuestaId != null ? AddEditFDCResource.AddEditPPPEditar : AddEditFDCResource.AddEditPPPRegistrar) + " " + AddEditFDCResource.KeyWordsEncuestaPPP;
    ViewBag.Icon = "suitcase";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    var orden = 0;
}
@section Breadcrumbs{
    @if (!Model.EncuestaId.HasValue)
    {
        <li><a href="@Url.Action("SurveyManagementPPP", "Survey")">@AddEditFDCResource.KeyWordsEncuestaPPP</a></li>
    }
    else
    {
        <li><a href="@Url.Action("MantenimientoEncuestaPPP", "Maintenance")">@AddEditFDCResource.KeyWordsEncuestaPPP</a></li>
    }
}
<form method="post" action="@Url.Action("AddEditSurveyPPP", "Register")" id="formaddeditppp">
    @Html.HiddenFor(x => x.EncuestaId)
    @Html.HiddenFor(x => x.IdCarrera)
    @Html.HiddenFor(x => x.IdSede)
    @Html.HiddenFor(x => x.IdCiclo)
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-user"></i> &nbsp;@AddEditFDCResource.AddEditPPPDatosGeneralesAlumno</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div id="cargando" style="display:none"><i class="fa fa-spinner fa-spin fa-lg fa-fw"></i> Cargando</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPCodigoAlumno</label></div>
                        <div class="col-md-3">
                            @Html.DropDownListFor(x => x.CodigoAlumno, new SelectList(Model.lstCodigoAlumno, "Value", "Text"), new
                       {
                           @class = "alumno-select form-control",
                           name = "CodigoAlumno",
                           id = "CodigoAlumno",
                           data_update_target = "#NombreAlumno",
                           data_filter = "Codigo",
                           data_plugin = "select2",
                           data_alumno = "alumno",
                           data_source_url = @Url.Action("GetAlumnoByCodigo", "Json")
                       })
                        </div>
                        <div class="col-md-1"><a class="btn btn-default" id="clear"><i class="fa fa-eraser"></i></a></div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPNombreAlumno</label></div>
                        <div class="col-md-4">@Html.TextBoxFor(x => x.NombreAlumno, new { @class = "form-control", @readonly = "" })</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPCarrera</label></div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.NombreCarrera, new { @class = "form-control", @readonly = "" })
                        </div>

                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsSede</label></div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.NombreSede, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPCiclo1</label></div>
                        <div class="col-md-4">
                            @*Html.DropDownListFor(x => x.IdCiclo, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), " ", new { @class = "form-control select2-select" })*@
                        </div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPNroPractica</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.NroPractica, new SelectList(Model.lstNroPractica, "IdNumeroPractica", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), AddEditFDCResource.AddEditPPPSeleccione, new { @class = "form-control select2-select" })
                            @Html.ValidationMessageFor(x => x.NroPractica)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row input-daterange" style="width:auto">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPInicio</label></div>
                        <div class="col-md-4">
                            <div class="input-group" style="width: 100%">
                                <span class="input-group-addon"> <i class="icon wb-calendar" aria-hidden="true"></i> </span>
                                @Html.TextBoxFor(x => x.FechaInicio, Model.FechaInicio != null ? Model.FechaInicio.Value.ToString(language == ConstantHelpers.CULTURE.ESPANOL ? "dd/MM/yyyy" : "MM/dd/yyyy") : "", new { @class = "form-control", @required = "" })
                            </div>
                        </div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPFin</label></div>
                        <div class="col-md-4">
                            <div class="input-group" style="width: 100%">
                                <span class="input-group-addon"> <i class="icon wb-calendar" aria-hidden="true"></i> </span>
                                @Html.TextBoxFor(x => x.FechaFin, Model.FechaFin != null ? Model.FechaFin.Value.ToString(language == ConstantHelpers.CULTURE.ESPANOL ? "dd/MM/yyyy" : "MM/dd/yyyy") : "", new { @class = "form-control", @required = "" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label-survey">@AddEditFDCResource.AddEditPPPCodigoEncuesta</label>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.CodigoEncuesta, new { @class = "form-control number", maxlength = "8" })
                        </div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPTotalHoras</label></div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.TotalHoras, new { @class = "number form-control", maxlength = "3", minlength = "1", placeholder = "", @required = "" })
                            @*@Html.ValidationMessageFor(x => x.TotalHoras)*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-building"></i> &nbsp;@AddEditFDCResource.AddEditPPPDatosGeneralesEmpresa</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPRazonSocial</label></div>
                        <div class="col-md-4">
                            <select class="razonsocial-select form-control"
                                    name="RazonSocial"
                                    id="RazonSocial"
                                    data-update-target="#RUC"
                                    data-filter="RazonSocial"
                                    data-plugin="select2"
                                    data-source-url="@Url.Action("GetRucByRazonSocial", "Json")"></select>
                        </div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPRUC</label></div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.RUC, new { @class = "form-control number", maxlength = "11" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPJefeDirecto</label></div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.JefeDirecto, new { @class = "form-control", @required = "" })
                            @Html.ValidationMessageFor(x => x.JefeDirecto)
                        </div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPCargoJefe</label></div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.CargoJefe, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.CargoJefe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPEmailJefe</label></div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.EmailJefeDirecto, new { @class = "form-control", @required = "", type = "email" })
                            @Html.ValidationMessageFor(x => x.EmailJefeDirecto)
                        </div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPTlfJefe</label></div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.TelefonoJefeDirecto, new { @class = "number form-control", @maxlength = 10})
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditPPPComentarios</label></div>
                        <div class="col-md-10">@Html.TextAreaFor(x => x.Comentario, new { @class = "form-control", @rows = "5" })</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> &nbsp; @AddEditFDCResource.AddEditPPPCompetenciasEspecificas</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="alert alert-alt alert-primary alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <a style="color: #3e3e3e !important;"></a>@AddEditFDCResource.AddEditPPPInfoEvaluacion <br />
                        <a style="font-weight: bold;">@AddEditFDCResource.AddEditPPPInfoEvaluacionInstrucciones</a> @AddEditFDCResource.AddEditPPPInfoEvaluacionInstruccionesDos <br />
                        <a style="font-weight: bold;" class="alert-link">@AddEditFDCResource.AddEditPPPInfoEvaluacionValorCero</a> <br />
                        <a style="font-weight: bold;" class="alert-link">@AddEditFDCResource.AddEditPPPInfoEvaluacionValorUno</a> <br />
                        <a style="font-weight: bold;" class="alert-link">@AddEditFDCResource.AddEditPPPInfoEvaluacionValorDos</a> <br />
                        <a style="font-weight: bold;" class="alert-link">@AddEditFDCResource.AddEditPPPInfoEvaluacionValorTres</a> <br />
                        <a style="font-weight: bold;" class="alert-link">@AddEditFDCResource.AddEditPPPInfoEvaluacionValorCuatro</a> <br />

                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="" name="" value="" disabled checked style="cursor:default;">
                                                <label for="inputRadiosUnchecked" style="font-weight: bold; cursor:default;">0: <a>@AddEditFDCResource.AddEditPPPIncipiente</a></label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="" name="" value="" disabled checked style="cursor:default;">
                                                <label for="inputRadiosUnchecked" style="font-weight: bold; cursor:default;">1: <a>@AddEditFDCResource.AddEditPPPEnProceso</a></label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="" name="" value="" disabled checked style="cursor:default;">
                                                <label for="inputRadiosUnchecked" style="font-weight: bold; cursor:default;">2: <a>@AddEditFDCResource.AddEditPPPDominio</a></label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="" name="" value="" disabled checked style="cursor:default;">
                                                <label for="inputRadiosUnchecked" style="font-weight: bold; cursor:default;">3: <a>@AddEditFDCResource.AddEditPPPFortaleza</a></label>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="" name="" value="" disabled checked style="cursor:default;">
                                                <label for="inputRadiosUnchecked" style="font-weight: bold; cursor:default;">4: <a>@AddEditFDCResource.AddEditPPPNoAplica</a></label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr style="background:red;">
                                    <th class="col-md-1 text-center" style="color:white;"></th>
                                    <th class="col-md-1 text-center" style="color:white;">@AddEditFDCResource.AddEditPPPCE</th>
                                    <th class="col-md-5 text-center" style="color:white;">@AddEditFDCResource.AddEditPPPDescripcion</th>
                                    <th class="col-md-5 text-center" style="color:white;" colspan="5">@AddEditFDCResource.AddEditPPPDesempeño</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var lstPerformanceCE = Model.lstPerformanceCE; Int32 Puntaje = -1;}
                                @foreach (var item in Model.lstCE)
                                {
                                    orden++;
                                    
                                        <tr>
                                            <td>@orden</td>
                                            <td class="text-center">
                                                @if (item.NombreEspanol != null)
                                                {
                                                    @item.NombreEspanol
                                                }
                                            </td>
                                            <td>
                                            @if (item.IdCarrera.HasValue)
                                            {
                                               <label><b>Solo para la carrera de @item.Carrera.NombreEspanol  </b> </label> <br/>

                                            }
                                            else if (item.OtraCarrera)
                                            {
                                                <b> Solo para la carrera de OTRA ESCUELA   </b> <br />

                                            }


                                            @(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>

                                            @for (int i = 0; i < 4; i++)
                                            {
                                                if (Model.EncuestaId.HasValue && Model.lstPerformanceCE.Count > 0)
                                                {
                                                    Puntaje = Convert.ToInt32(lstPerformanceCE.FirstOrDefault(x => x.IdOutcomeEncuestaPPPConfig == item.IdOutcomeEncuestaPPPConfig).PuntajeOutcome.Value);
                                                }
                                                if (Puntaje == i)
                                                {
                                                    <td class="text-center">
                                                        <div class="radio-custom radio-primary">
                                                            <input type="radio" id="CE-@item.IdOutcomeEncuestaPPPConfig" name="CE-@item.IdOutcomeEncuestaPPPConfig" value="@i" checked>
                                                            <label for="@("inputRadiosUnchecked")">@i</label>
                                                        </div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="text-center">
                                                        <div class="radio-custom radio-primary">
                                                            <input type="radio" id="CE-@item.IdOutcomeEncuestaPPPConfig" name="CE-@item.IdOutcomeEncuestaPPPConfig" value="@i">
                                                            <label for="@("inputRadiosUnchecked")">@i</label>
                                                        </div>
                                                    </td>
                                                }
                                            }
                                            @if (Puntaje == -1)
                                            {
                                                <td class="text-center">
                                                    <div class="radio-custom radio-primary">
                                                        <input type="radio" id="CE-@item.IdOutcomeEncuestaPPPConfig" name="CE-@item.IdOutcomeEncuestaPPPConfig" value="-1" checked>
                                                        <label for="@("inputRadiosUnchecked")">N/A</label>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center">
                                                    <div class="radio-custom radio-primary">
                                                        <input type="radio" id="CE-@item.IdOutcomeEncuestaPPPConfig" name="CE-@item.IdOutcomeEncuestaPPPConfig" value="-1">
                                                        <label for="@("inputRadiosUnchecked")">N/A</label>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> &nbsp; @AddEditPPPResource.CompetenciaGeneral</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr style="background:red;">
                                    <th class="col-md-1 text-center" style="color:white;"></th>
                                    <th class="col-md-1 text-center" style="color:white;">@AddEditFDCResource.AddEditPPPCG</th>
                                    <th class="col-md-4 text-center" style="color:white;">@AddEditFDCResource.AddEditPPPDescripcion</th>
                                    <th class="col-md-5 text-center" style="color:white;" colspan="5">@AddEditFDCResource.AddEditPPPDesempeño</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var lstPerformanceCG = Model.lstPerformanceCG;}
                                @foreach (var item in Model.lstCG)
                                {
                                    orden++;
                                    Puntaje = -1;
                                    <tr>
                                        <td class="text-center">@orden</td>
                                        <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol.ToUpper() : item.NombreIngles.ToUpper())</td>
                                        <td>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>
                                        @for (int i = 0; i < 4; i++)
                                        {
                                            if (Model.EncuestaId.HasValue && Model.lstPerformanceCG.Count > 0)
                                            {
                                                Puntaje = Convert.ToInt32(lstPerformanceCG.FirstOrDefault(x => x.IdOutcomeEncuestaPPPConfig == item.IdOutcomeEncuestaPPPConfig).PuntajeOutcome.Value);
                                            }
                                            if (Puntaje == i)
                                            {
                                                <td class="text-center">
                                                    <div class="radio-custom radio-primary">
                                                        <input type="radio" id="CG-@item.IdOutcomeEncuestaPPPConfig" name="CG-@item.IdOutcomeEncuestaPPPConfig" value="@i" checked>
                                                        <label for="inputRadiosUnchecked">@i</label>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center">
                                                    <div class="radio-custom radio-primary">
                                                        <input type="radio" id="CG-@item.IdOutcomeEncuestaPPPConfig" name="CG-@item.IdOutcomeEncuestaPPPConfig" value="@i">
                                                        <label for="inputRadiosUnchecked">@i</label>
                                                    </div>
                                                </td>
                                            }
                                        }
                                        @if (Puntaje == -1)
                                        {
                                            <td class="text-center">
                                                <div class="radio-custom radio-primary">
                                                    <input type="radio" id="CG-@item.IdOutcomeEncuestaPPPConfig" name="CG-@item.IdOutcomeEncuestaPPPConfig" value="-1" checked>
                                                    <label for="@("inputRadiosUnchecked")">N/A</label>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-center">
                                                <div class="radio-custom radio-primary">
                                                    <input type="radio" id="CG-@item.IdOutcomeEncuestaPPPConfig" name="CG-@item.IdOutcomeEncuestaPPPConfig" value="-1">
                                                    <label for="@("inputRadiosUnchecked")">N/A</label>
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> &nbsp; @AddEditPPPResource.PreguntasAdicionales</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr style="background:red;">
                                    <th class="col-md-1 text-center" style="color:white;"></th>
                                    <th class="col-md-7 text-center" style="color:white;">@AddEditFDCResource.AddEditPPPDescripcion</th>
                                    <th class="col-md-4 text-center" style="color:white;" colspan="3">@AddEditFDCResource.AddEditPPPDesempeño</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var lstPerformancePA = Model.lstPerformancePA;}
                                @foreach (var item in Model.lstPreguntaAdicional)
                                {
                                    orden++;
                                    if (Model.EncuestaId.HasValue && Model.lstPerformancePA.Count > 0)
                                    {
                                        Puntaje = Convert.ToInt32(lstPerformancePA.FirstOrDefault(x => x.IdPreguntaAdicional == item.IdPreguntaAdicional).PuntajeOutcome.Value);
                                    }
                                    <tr>
                                        <td class="text-center">@orden</td>
                                        <td>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.PreguntaEspanol : item.PreguntaIngles)</td>
                                        <td class="">
                                            <select class="form-control select2-select" name="PA-@item.IdPreguntaAdicional" placeholder="Seleccione" required>
                                                <option value="" disabled selected>Seleccione</option>
                                                @foreach (var puntaje in item.PuntajePreguntaAdicional.ToList())
                                                {
                                                    if (Puntaje == puntaje.valor)
                                                    {
                                                        <option value="@puntaje.valor" selected>@(language == ConstantHelpers.CULTURE.ESPANOL ? puntaje.NombreEspanol : puntaje.NombreIngles)</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@puntaje.valor">@(language == ConstantHelpers.CULTURE.ESPANOL ? puntaje.NombreEspanol : puntaje.NombreIngles)</option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="pull-right">
            @if (Model.EncuestaId.HasValue)
            {
                <a class="btn btn-default animsition-link" href="@Url.Action("MantenimientoEncuestaPPP", "Maintenance")"><i class="fa fa-arrow-left"></i> @AddEditFDCResource.ButtonsOptionsSurveyAtras</a>
            }
            else
            {
                <a class="btn btn-default animsition-link" href="@Url.Action("SurveyManagementPPP", "Survey")"><i class="fa fa-arrow-left"></i> @AddEditFDCResource.ButtonsOptionsSurveyAtras</a>
            }
            <button type="submit" class="btn btn-primary" ><i class="fa fa-save"></i> @AddEditFDCResource.ButtonsOptionsSurveyGuardar</button>
        </div>
    </div>
</form>
@section Scripts{

    <script>

        $(window).load(function () {
            $('#loading').hide();
        });

        $(document).ready(function () {

            $(document).on('click', '#clear', function () {
                $('#CodigoAlumno').select2("val", " ")
            });
            //$('#IdCiclo').change();
            $(".number").keydown(function (e) {
                // Backspace, tab, enter, end, home, left, right
                // We don't support the del key in Opera because del == . == 46.
                var controlKeys = [8, 9, 13, 35, 36, 37, 39];
                // IE doesn't support indexOf
                var isControlKey = controlKeys.join(",").match(new RegExp(event.which));
                

                if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 96 && e.keyCode <= 105) || isControlKey) {
                    return;
                } else {
                    event.preventDefault();
                }
            });

            $('.input-daterange').datepicker({
                format: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "dd/mm/yyyy" : "mm/dd/yyyy")',
                clearBtn: true,
                language: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "es":"en")',
                endDate: "today"
            });

            var data = [{ id: '@Model.CodigoAlumno', text: '@Model.CodigoAlumno' }];

            $(".alumno-select").select2({
                data: data
            })
            $(".alumno-select").select2({
                ajax: {
                    url: '@Url.Action("GetAlumno", "Json")',
                    dataType: 'json',
                    type: 'POST',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term,
                            IdCarrera: '@Model.IdCarrera'
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                }
            });

            data = [{ id: '@Html.Raw(Model.RazonSocial)', text: '@Html.Raw(Model.RazonSocial)' }];
            $(".razonsocial-select").select2({
                data: data
            })
            $(".razonsocial-select").select2({
                ajax: {
                    url: '@Url.Action("GetRazonSocial", "Json")',
                    dataType: 'json',
                    type: 'POST',
                    delay: 250,
                    tags: true,
                    data: function (params) {
                        return {
                            q: params.term
                        };
                    },
                    processResults: function (data, params) {
                        if (params.term != "") {
                            data.push({
                                id: params.term,
                                text: params.term
                            });
                        }
                        return {
                            results: data
                        };
                    }
                }
            });

        });

        $(document).on('change', '[data-plugin="select2"]', function (e) {
            // Valor seleccionado
            var selectedId = $(this).val();

            if (selectedId != "") {

                var $this = $(this);
                // Nombre del parámetro de filtro
                var dataFilter = $this.attr('data-filter');
                // Caso especial para esta vista
                var dataAlumno = $this.attr('data-alumno');
                // Url de datos json
                var sourceUrl = $this.attr('data-source-url');

                // Select a actualizar
                var updateTarget = $this.attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
                var $updateTarget = $(updateTarget);

                $.ajax({
                    type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        var $updateTarget = $(updateTarget);
                        if (dataAlumno == "alumno") {
                            $updateTarget.val(data.Nombre);
                            //$('#IdCarrera').val(data.CarreraId);
                            $('#IdSede').val(data.SedeId);
                            //$('#IdCiclo').val(data.CicloId);
                            //alert(data.CicloId);
                            $('#NombreCarrera').val(data.NombreCarrera);
                            $('#NombreSede').val(data.NombreSede);
                           // $('#NombreCiclo').val(data.NombreCiclo);
                        }
                        else {
                            if (data != null && data != " ") {
                                $updateTarget.val(data);
                                $updateTarget.text(data);
                            }
                            else {
                                $updateTarget.val('');
                            }
                        }
                    },
                    beforeSend: function () {
                        $('#cargando').show();
                    },
                    complete: function () {
                        $('#cargando').hide();
                    }
                });
            }
        });
    </script>
}