﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.AddEditFindSurveyPPPViewModel
@{
    ViewBag.Title = AddEditFDCResource.RegisterFindSurveyTituloPPP;
    ViewBag.Icon = "fa fa-list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    var orden = 0;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementPPP", "Survey")">@AddEditFDCResource.KeyWordsEncuestaPPP</a></li>
    <li><a href="@Url.Action("MantenimientoEncuestaPPP", "Maintenance")">@AddEditFDCResource.MaintenanceSurveyPPPTitulo</a></li>
}

<form method="post" action="@Url.Action("AddEditFSurveyPPP", "Register")">
    @Html.HiddenFor(x => x.IdEncuesta)
    @Html.HiddenFor(x => x.IdHallazgo)
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @AddEditFDCResource.RegisterFindSurveyDatosGenerales</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCiclo</label></div>
                        <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico, new { @class = "form-control", @readonly = "" })</div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCarrera</label></div>
                        @if (language == ConstantHelpers.CULTURE.ESPANOL)
                        {
                            <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.Carrera.NombreEspanol, new { @class = "form-control", @readonly = "" })</div>
                        }
                        else
                        {
                            <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.Carrera.NombreIngles, new { @class = "form-control", @readonly = "" })</div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCodigoAlumno</label></div>
                        <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.CodigoAlumno, new { @class = "form-control", @readonly = "" })</div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsAlumno</label></div>
                        <div class="col-md-4">@Html.TextBoxFor(x => Model.NombreAlumno, new { @class = "form-control", @readonly = "" })</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsSede</label></div>
                        <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.Sede.Nombre, new { @class = "form-control", @readonly = "" })</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                    <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultOne">
                        <h4><i class="fa fa-tasks"></i> @AddEditFDCResource.ButtonsOptionsSurveyResultados</h4>
                    </a>
                </div>
                <div class="panel-collapse collapse" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                    <div class="panel">
                        <div class="panel-heading" id="subPanelOne" role="tab">
                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#CollapsesubPanelOne" aria-expanded="false" aria-controls="CollapsesubPanelOne">
                                <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                @if (Model.Encuesta.TipoEncuesta.Acronimo == ConstantHelpers.ENCUESTA.PPP)
                                {
                                    @AddEditFDCResource.AddEditPPPCompetenciasEspecificas
                                }
                                else
                                {
                                    @AddEditFDCResource.AddEditGRACompetenciasEspecificas
                                }
                            </a>
                        </div>
                        <div class="panel-collapse collapse" id="CollapsesubPanelOne" aria-labelledby="subPanelOne" role="tabpanel" aria-expanded="false">
                            <div class="panel-body">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1 text-center"></th>
                                            <th class="col-md-1 text-center"></th>
                                            <th class="col-md-5 text-center"></th>
                                            <th class="col-md-5 text-center" colspan="5"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var lstPerformanceCE = Model.lstPerformancePPP_CE; int Puntaje = -1;}
                                        @foreach (var item in Model.lstPPP_CE)
                                        {
                                            orden++;
                                            <tr>
                                                <td>@orden</td>
                                                <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol.ToUpper() : item.NombreIngles.ToUpper()) </td>
                                                <td>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>
                                                @for (int i = 0; i < 4; i++)
                                                {
                                                    Puntaje = Convert.ToInt32(lstPerformanceCE.FirstOrDefault(x => x.IdOutcomeEncuestaPPPConfig == item.IdOutcomeEncuestaPPPConfig).PuntajeOutcome.Value);
                                                    if (Puntaje == i)
                                                    {
                                                        <td class="text-center">
                                                            <div class="radio-custom radio-primary">
                                                                <input type="radio" id="CE-@item.IdOutcomeEncuestaPPPConfig" name="CE-@item.IdOutcomeEncuestaPPPConfig" value="@i" checked>
                                                                <label for="@("inputRadiosUnchecked")">@i</label>
                                                            </div>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-center">
                                                            <div class="radio-custom radio-primary">
                                                                <input type="radio" id="CE-@item.IdOutcomeEncuestaPPPConfig" name="CE-@item.IdOutcomeEncuestaPPPConfig" value="@i" disabled>
                                                                <label for="@("inputRadiosUnchecked")">@i</label>
                                                            </div>
                                                        </td>
                                                    }
                                                }
                                                @if (Puntaje == -1)
                                                {
                                                    <td class="text-center">
                                                        <div class="radio-custom radio-primary">
                                                            <input type="radio" id="CE-@item.IdOutcomeEncuestaPPPConfig" name="CE-@item.IdOutcomeEncuestaPPPConfig" value="-1" checked>
                                                            <label for="@("inputRadiosUnchecked")">N/A</label>
                                                        </div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="text-center">
                                                        <div class="radio-custom radio-primary">
                                                            <input type="radio" id="CE-@item.IdOutcomeEncuestaPPPConfig" name="CE-@item.IdOutcomeEncuestaPPPConfig" value="-1" disabled>
                                                            <label for="@("inputRadiosUnchecked")">N/A</label>
                                                        </div>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading" id="subPanelTwo" role="tab">
                            <a class="panel-title-survey collapsed" data-toggle="collapse" href="#CollapsesubPanelTwo" aria-expanded="false" aria-controls="CollapsesubPanelTwo">
                                <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                @AddEditFDCResource.AddEditPPPCompetenciaGeneral
                            </a>
                        </div>
                        <div class="panel-collapse collapse" id="CollapsesubPanelTwo" aria-labelledby="subPanelTwo" role="tabpanel" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1 text-center"></th>
                                            <th class="col-md-1 text-center"></th>
                                            <th class="col-md-4 text-center"></th>
                                            <th class="col-md-5 text-center" colspan="5"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var lstPerformanceCG = Model.lstPerformancePPP_CG; Puntaje = -1;}
                                        @foreach (var item in Model.lstPPP_CG)
                                        {
                                            orden++;
                                            Puntaje = -1;
                                            <tr>
                                                <td class="text-center">@orden</td>
                                                <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol.ToUpper() : item.NombreIngles.ToUpper())</td>
                                                <td>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>
                                                @for (int i = 0; i < 4; i++)
                                                {
                                                    Puntaje = Convert.ToInt32(lstPerformanceCG.FirstOrDefault(x => x.IdOutcomeEncuestaPPPConfig == item.IdOutcomeEncuestaPPPConfig).PuntajeOutcome.Value);
                                                    if (Puntaje == i)
                                                    {
                                                        <td class="text-center">
                                                            <div class="radio-custom radio-primary">
                                                                <input type="radio" id="CG-@item.IdOutcomeEncuestaPPPConfig" name="CG-@item.IdOutcomeEncuestaPPPConfig" value="@i" checked>
                                                                <label for="inputRadiosUnchecked">@i</label>
                                                            </div>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="text-center">
                                                            <div class="radio-custom radio-primary">
                                                                <input type="radio" id="CG-@item.IdOutcomeEncuestaPPPConfig" name="CG-@item.IdOutcomeEncuestaPPPConfig" value="@i" disabled>
                                                                <label for="inputRadiosUnchecked">@i</label>
                                                            </div>
                                                        </td>
                                                    }
                                                }
                                                @if (Puntaje == -1)
                                                {
                                                    <td class="text-center">
                                                        <div class="radio-custom radio-primary">
                                                            <input type="radio" id="CG-@item.IdOutcomeEncuestaPPPConfig" name="CG-@item.IdOutcomeEncuestaPPPConfig" value="-1" checked>
                                                            <label for="@("inputRadiosUnchecked")">N/A</label>
                                                        </div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="text-center">
                                                        <div class="radio-custom radio-primary">
                                                            <input type="radio" id="CG-@item.IdOutcomeEncuestaPPPConfig" name="CG-@item.IdOutcomeEncuestaPPPConfig" value="-1" disabled>
                                                            <label for="@("inputRadiosUnchecked")">N/A</label>
                                                        </div>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultTwo" role="tab">
                    <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo">
                        <h4><i class="fa fa-comments-o"></i> @AddEditFDCResource.RegisterFindSurveyComentarios</h4>
                    </a>
                </div>
                <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo" aria-labelledby="exampleHeadingDefaultTwo" role="tabpanel" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        @if (Model.Encuesta.Comentario != null)
                        {
                            <br />
                            <div class='row'>
                                <div class='form-group'>
                                    <div class='col-md-1'>
                                        <label class='label-survey'>@AddEditFDCResource.KeyWordsComentario</label>
                                    </div>
                                    <div class='col-md-11'>
                                        <textarea class='form-control' readonly="" rows='5'>@Html.Raw(Model.Encuesta.Comentario)</textarea>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class='row'>
                                <h4><span class="label label-default">@(language == ConstantHelpers.CULTURE.ESPANOL ? "No presenta comentarios" : "No comments")</span></h4>
                            </div>
                        }
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list-alt" aria-hidden="true"></i> @AddEditFDCResource.KeyWordsHallazgos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">Outcome</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdOutcome, new SelectList(Model.lstPPP_CEHallazgo, "IdOutcomeEncuestaPPPConfig", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccionar -]" : "[- Select -]", new
                       {
                           @class = "form-control select2-select",
                           @data_plugin = "select2",
                           @onChange = "MostrarValor(this.selectedIndex); "
                       })
                            @Html.ValidationMessageFor(x => x.IdOutcome)
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.RegisterFindSurveyNivelAceptacion</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdNivelAceptacion, new SelectList(Model.lstNivelAceptacion, "IdNivelAceptacionHallazgo", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                    , new
                    {
                        @class = "form-control ",
                        //@class = "form-control select2-select",
                        // @data_plugin = "select2",
                        @id = "aceptacionlist",
                        @disabled = true
                    })
                            @Html.ValidationMessageFor(x => x.IdNivelAceptacion)

                            @Html.HiddenFor(m => m.IdNivelAceptacion, new { @id = "InputNivelAceptacion" })

                        </div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsSede</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdSede, new SelectList(Model.lstSede, "IdSede", "Nombre"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new
                       {
                           @class = "form-control select2-select",
                           @data_plugin = "select2"
                       })
                        </div>

                    </div>
                </div>
                <br />
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#prueba1" data-toggle="tab">@AddEditFDCResource.RegisterFindSurveyEspañol</a></li>
                        <li><a href="#prueba2" data-toggle="tab">@AddEditFDCResource.RegisterFindSurveyIngles</a></li>
                    </ul>
                    <section class="tab-content">
                        <article class="tab-pane active" id="prueba1">
                            @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control", @rows = "5" })
                        </article>
                        <article class="tab-pane" id="prueba2">
                            @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control", @rows = "5" })
                        </article>
                    </section>
                </div>

                <br />
                <div class="row">
                    <div class="pull-right">
                        @if (Model.IdHallazgo.HasValue)
                        {
                            <a class="btn btn-default" href="@Url.Action("AddEditFindSurveyPPP", "Register", new { IdEncuesta = Model.IdEncuesta })"><i class="fa fa-times"></i> @AddEditFDCResource.ButtonsOptionsSurveyCancelar</a>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @AddEditFDCResource.ButtonsOptionsSurveyGuardar</button>
                        }
                        else
                        {
                            <button type="submit" id="btnAgregar" class="btn btn-info"><i class="fa fa-plus"></i> @AddEditFDCResource.ButtonsOptionsSurveyAgregar</button>
                        }
                    </div>
                </div>
                <br />

                @if (Model.lstHallazgos.Count > 0)
                {
                    <div class="row">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr style="background-color: #FF1901;">
                                    <th class="text-center" style="color:white;">Nro.</th>
                                    <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsHallazgo</th>
                                    <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Criticidad" : "Criticality")</th>
                                    
                                    <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsDescripcion</th>
                                    <th class="text-center" style="color:white;">@AddEditFDCResource.RegisterFindSurveyNivelAceptacion</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    Int32 indice = 1;
                                    foreach (var item in Model.lstHallazgos)
                                    {
                                        <tr @if (item.IdCriticidad == 1) { @Html.Raw(" style=\" color: red;\" ")    }>
                                            <td class="text-center">@indice</td>
                                            <td class="text-center">@item.Codigo</td>
                                            <td class="text-center">@item.Criticidad.NombreEspanol</td>
                                            <td>
                                                @if (language == ConstantHelpers.CULTURE.ESPANOL || item.DescripcionIngles == null)
                                                {
                                                    @item.DescripcionEspanol
                                                }
                                                else
                                                {
                                                    @item.DescripcionIngles
                                                }
                                            </td>
                                            <td class="text-center">
                                                @if (language == ConstantHelpers.CULTURE.ESPANOL)
                                                {
                                                    @item.NivelAceptacionHallazgo.NombreEspanol
                                                }
                                                else
                                                {
                                                    @item.NivelAceptacionHallazgo.NombreIngles
                                                }
                                            </td>
                                            <td class="text-center">
                                                @if (item.Generado == ConstantHelpers.HALLAZGO.NORMAL)
                                                {
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                            @AddEditFDCResource.ButtonsOptionsSurveyOpciones
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                            <li role="presentation"><a href="@Url.Action("AddEditFindSurveyPPP", "Register", new { IdEncuesta = item.IdEncuesta, IdHallazgo = item.IdHallazgo })" role="menuitem"><i class="fa fa-cube"></i> @AddEditFDCResource.ButtonsOptionsSurveyEditar</a></li>
                                                            <li role="presentation"><a class="delete" @Url.ModalHelperFor("_ConfirmacionDeleteHallazgo", "Maintenance", new { IdEncuesta = item.IdEncuesta, CodigoHallazgo = item.Codigo }) role="menuitem"><i class="fa fa-trash"></i> @AddEditFDCResource.ButtonsOptionsSurveyEliminar</a></li>
                                                        </ul>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h4><span class="label label-danger">@item.Generado</span></h4>
                                                }
                                            </td>
                                        </tr>
                                        indice++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                                    }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("MantenimientoEncuestaPPP", "Maintenance")"><i class="fa fa-arrow-left"></i> @AddEditFDCResource.ButtonsOptionsSurveyAtras</a>
        </div>
    </div>

</form>

@section Scripts{
    <script>

        var aceptacionArray = [];

    @foreach (var item in Model.lstPPP_CE)
        {
            @:aceptacionArray.push("@Convert.ToInt32(lstPerformanceCE.FirstOrDefault(x => x.IdOutcomeEncuestaPPPConfig == item.IdOutcomeEncuestaPPPConfig).PuntajeOutcome.Value)");


    }




            $(window).load(function () {
                $('#loading').hide();
            });

            function MostrarValor(id) {

                var e = document.getElementById("aceptacionlist");

                var hiddenInput = document.getElementById("InputNivelAceptacion");

                document.getElementById("btnAgregar").disabled = false;

                console.log(id + " - " + aceptacionArray[id - 1]);

                if (aceptacionArray[id - 1] == 3)
                {
                    e.selectedIndex = 3;
                    hiddenInput.value = 3;
                    //document.getElementById("btnAgregar").disabled=true;
                }
                else
                    if (aceptacionArray[id - 1] == 2 || aceptacionArray[id - 1] == 1 )
                    {
                        e.selectedIndex = 2;
                        hiddenInput.value = 2;
                    }

                else
                {
                    e.selectedIndex = 1;
                    hiddenInput.value = 1;

                }


            }

    </script>
}