﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.AddEditHallazgoEVDViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);

    if (Model.IdHallazgo == 0 || Model.IdHallazgo.HasValue == false)
    {
        ViewBag.Title = SurveyResources.RegistrarHallazgo;
    }
    else
    {
        ViewBag.Title = SurveyResources.EditarHallazgo;
    }

    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs {
    <li><a href="@Url.Action("SurveyManagementEVD", "Survey")">@SurveyResources.TituloHallazgoEVD</a></li>
}
<style>
    #tableMain {
        width: 100%;
    }

    #headhallazgos, #tablaComentarios, #headhallazgos tr, #tablaComentarios tr, #headhallazgos tr th, #tablaComentarios tr td {
        display: block;
    }

        #headhallazgos tr:after, #tablaComentarios tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        #headhallazgos th {
            height: 60px;
        }

    #tablaComentarios {
        height: 250px;
        overflow-y: auto;
    }

    #headhallazgos {
        /* fallback */
    }
    /* #tablaComentarios td#celda20, #headhallazgos th#celda20 {
              width:20%;
            float: left;
            text-align:center;
            vertical-align:middle;
        }*/

    .celda50 {
        width: 50%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda20 {
        width: 20%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda15 {
        width: 15%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda10 {
        width: 10%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda5 {
        width: 5%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }
    button.modalButton {
        color: white;
        background-color: #ED1B24;
        border-style: hidden;
        border-radius: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 1em;
        padding-right: 1em;
    }
</style>


<form method="post">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading" data-target="#collapseComentarios" aria-controls="collapseExample">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="false"></i> @SurveyResources.ListaComentarios</h3>
            </div>
            <div class="panel-body">
                @Html.HiddenFor(x => x.IdComentario)
                @Html.HiddenFor(x => x.IdPeriodoAcademico)
                @Html.HiddenFor(x => x.IdModulo)
                @Html.HiddenFor(x => x.IdPregunta)

                <div class="row">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">@SurveyResources.PeriodoAcademico</label></div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => Model.IdPeriodoAcademico, Model.LstPeriodoAcademico, "", new { @class = "form-control", @id = "periodoacademico" })
                            </div>

                            <div class="col-md-2"><label class="label-survey">@SurveyResources.Modulos</label></div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => Model.IdModulo, Model.LstModulo, "", new { @class = "form-control", @id = "modulo", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">@SurveyResources.Preguntas</label></div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(x => x.IdPregunta, Model.LstPregunta, "", new { @class = "form-control", @id = "pregunta", @disabled = "disabled" })
                            </div>
                            <div class="col-md-2"><label class="label-survey">@SurveyResources.Cursos</label></div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => Model.IdCurso, Model.LstCursos, "", new { @class = "form-control", @id = "curso", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">@SurveyResources.Docentes</label></div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => Model.IdDocente, Model.LstDocentes, "", new { @class = "form-control", @id = "docente", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>


                <div class="content">
                    <table class="table table-striped" id="tableMain">
                        <thead id="headhallazgos">
                            <tr style="background-color:#99a4ab;">
                                <th class="text-center celda5" style="color:white;"></th>
                                <th class="text-center celda10" style="color:white;">@SurveyResources.Docente</th>
                                <th class="text-center celda20" style="color:white;">@SurveyResources.Curso</th>
                                <th class="text-center celda50" style="color:white;">@SurveyResources.Comentario</th>
                            </tr>
                        </thead>
                        <tbody id="tablaComentarios"></tbody>
                    </table>

                </div>

                <div class="row">
                    <div class="content col-md-12">
                        <div class="form-group">
                            <label>@SurveyResources.NuevoHallazgo</label>
                            <div role="tabpanel">

                                <!--Nav Tabs-->
                                <ul id="nested-tabs" class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">@SurveyResources.Español</a></li>
                                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">@SurveyResources.Ingles</a></li>
                                </ul>

                                <!--Tab Panels -->
                                <div id="panels" class="tab-content">

                                    <!-- Tab 1 Panel -->
                                    <div role="tabpanel" class="tab-pane active" id="tab1">
                                        @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control", @required = "true", @id = "hallazgoEspañol" ,@placeholder= "Ingrese la descripción del nuevo hallazgo..." })
                                        @Html.ValidationMessageFor(x=>x.DescripcionEspanol)
                                    </div><!-- tabpanel Close -->
                                    <!-- Tab 2 Panel -->
                                    <div role="tabpanel" class="tab-pane" id="tab2">
                                        @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control", @required = "true", @id = "hallazgoIngles" ,@placeholder= "Enter the description of the new find..."})
                                        @Html.ValidationMessageFor(x => x.DescripcionIngles)
                                    </div><!-- tabpanel Close -->


                                </div><!-- panels close -->

                            </div><!--tabpanel close-->
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" id="btnGenerar" class="btn btn-primary">  @SurveyResources.AgregarHallazgo </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


<div class="row">
    <div class="panel panel-bordered">
        <div style="cursor: pointer;" class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-file-text-o"></i> @SurveyResources.Hallazgos</h3>
        </div>
        <div>
            <div class="panel-body">

                <div class="row">
                    <table class="table table-hover table-striped" id="table">
                        <thead>
                            <tr style="background-color: #FF1901;">

                                <th class="text-center" style="color:white;">@SurveyResources.Codigo</th>
                                <th class="text-center" style="color:white;">@SurveyResources.Curso</th>
                                @*<th class="text-center" style="color:white;">@SurveyResources.Docente</th>*@
                                <th class="text-center" style="color:white;">@SurveyResources.Descripcion</th>
                                <th></th>
                                <th class="text-center" style="color:white;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstHallazgo)
                            {

                            <tr @if (item.IdCriticidad == 1) { @Html.Raw(" style=\" color: red;\" ") }>

                                <td class="text-center">@item.Codigo-@item.Identificador</td>
                                <td class="text-center">@item.Curso.Codigo-@item.Curso.NombreEspanol </td>
                                @*@if (item.ComentarioHallazgo.FirstOrDefault().ComentarioDelegado.IdDocente.HasValue)
                                {
                                    <td class="text-center"> @(item.ComentarioHallazgo.FirstOrDefault().ComentarioDelegado.Docente.Codigo + "-" + item.ComentarioHallazgo.FirstOrDefault().ComentarioDelegado.Docente.Nombres + " " + item.ComentarioHallazgo.FirstOrDefault().ComentarioDelegado.Docente.Apellidos) </td>
                                }
                                else
                                {
                                    <td class="text-center">@SurveyResources.Ninguno </td>

                                }*@
                                <td class="text-center">@item.DescripcionEspanol</td>
                                <td class="text-center"><button type="button" class="modalButton"><i class="fa fa-search"></i></button></td>
            
                                <td class="text-center"><a @Url.ModalHelperFor("EditHallazgoRD", "Register",new { IdHallazgo = item.IdHallazgo },ModalSize.Large)>Editar</a> | <a href="@Url.Action("DeleteFinding", "Register",new {IdHallazgo  = item.IdHallazgo})">  @SurveyResources.Eliminar </a></td>
                                <td class="idHallazgo" style="display:none">@item.IdHallazgo</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @Html.PagedListPager(Model.LstHallazgo, page => Url.Action("AddEditHallazgoEVD", new { numeroPaginaHallazgo = page }), ConstantHelpers.TwitterBootstrapPagerAligned)
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalComentarios" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">@SurveyResources.Comentarios</h3>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 20%">@SurveyResources.CodigoComentario</th>
                            <th class="text-center" style="width: 20%">@SurveyResources.Alumno</th>
                            <th class="text-center" style="width: 60%">@SurveyResources.Descripcion</th>
                        </tr>
                    </thead>
                    <tbody id="bodyComentarios">

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/Content/js/components/select2.min.js" rel="stylesheet"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>

    <script>

        $(document).on('invalid-form.validate', 'form', function () {
            var button = $(this).find('button[type="submit"]');
            setTimeout(function () {
                button.removeAttr('disabled');
            }, 1);
        });
        $(document).on('submit', 'form', function () {
            var button = $(this).find('button[type="submit"]');
            setTimeout(function () {
                button.attr('disabled', 'disabled');
            }, 0);
        });

        $(document).ready(function () {

        var ajaxComentarios = null;
        var tableComentarios = $('#bodyComentarios');

        $(".modalButton").click(function () {
            var idHallazgo = $(this).closest("tr").find(".idHallazgo").text();
                    $.ajax({
                    url: '@Url.Action("GetComentariosHallazgo", "Json")',
                    data: { HallazgoId: idHallazgo },
                    dataType: "json",
                    success: function (data) {
                        tableComentarios.empty();
                        if (data.length > 0) {
                            for (i = 0; i < data.length; i++) {
                                var row = $('<tr></tr>');
                                row.append($('<td class="text-center"></td>').text(data[i]["CodComentario"]));
                                    row.append($('<td class="text-center"></td>').text(data[i]["Alumno"]));
                                
                                row.append($('<td class="text-center"></td>').text(data[i]["Comentario"]));

                             
                                tableComentarios.append(row);
                            }
                        }
                        $('#modalComentarios').modal('show');                    
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Status: " + textStatus); alert("Error: " + errorThrown);
                    }    
                });
            });   


         $('#periodoacademico').select2({ witdth: '100%', placeholder: "Selecciona Periodo Academico" });
         $('#modulo').select2({ witdth: '100%'});
         $('#pregunta').select2({ witdth: '100%' });
         $('#curso').select2({ witdth: '100%' });
         $('#docente').select2({ witdth: '100%' });

         ActualizarComentarios();

         $('#periodoacademico').change(function () {
         
             $('#pregunta').prop("disabled", true);
             $("#pregunta").empty();
             $('#pregunta').select2({ placeholder: "" });

             $('#curso').prop("disabled", true);
             $("#curso").empty();
             $('#curso').select2({ placeholder: "" });

             $('#docente').prop("disabled", true);
             $("#docente").empty();
             $('#docente').select2({ placeholder: "" });

             $('#modulo').prop("disabled", false);
             MostrarModulos();
             ActualizarComentarios();
         });

         $('#modulo').change(function () {
             $('#curso').prop("disabled", true);
             $("#curso").empty();
             $('#curso').select2({ placeholder: "" });

             $('#docente').prop("disabled", true);
             $("#docente").empty();
             $('#docente').select2({ placeholder: "" });

             $('#pregunta').prop("disabled", false);
             MostrarPreguntas();
             ActualizarComentarios();
         });

         $('#pregunta').change(function () {
             $('#docente').prop("disabled", true);
             $("#docente").empty();
             $('#docente').select2({ placeholder: "" });
             ActualizarComentarios()
             $('#curso').prop("disabled", false);
             MostrarCursos();
             ActualizarComentarios();
         });

         $('#curso').change(function () {
             $('#docente').prop("disabled", false);
             MostrarDocentes();
             ActualizarComentarios();
            });

         $('#docente').change(function () {               
                ActualizarComentarios();
            });

               $('#hallazgoEspañol').change(function () {
                $('#hallazgoIngles').val("");
                ActualizarTraduccion();
            });
            function ActualizarTraduccion()
            {

                $.ajax({
                    //  type: "POST",
                    url: '@Url.Action("TraduccionActualizar", "Json")',
                    data: { textoatraducir: $('#hallazgoEspañol').val()},
                    dataType: "json",
                    success: function (data) {
                        $('#hallazgoIngles').show();
                        $('#hallazgoIngles').val(data["Text"]);
                        $("#btnGenerar").css("pointer-events", "visible");


                    },
                    beforeSend: function () {
                        $('#hallazgoIngles').val("Traduciendo....")
                        $("#btnGenerar").css("pointer-events", "none");
                    }

                });
            }

            function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }

            function closeLoading() {
                swal.close();
            }

         function MostrarModulos() {

                var PeriodoAcademicoId = $('#periodoacademico').val();

                $.ajax({
                    url: '@Url.Action("GetModuloByCiclo","Json")',
                    data: { IdPeriodoAcademico: PeriodoAcademicoId },
                    dataType: "json",
                    success: function (data) {
                        $("#modulo").empty();
                        $("#modulo").append($('<option>').text("").attr('value', ""));
                        for (i = 0; i < data.length; i++) {
                            var texto = data[i]["Text"];

                            if ($('#modulo option:contains(' + texto + ')').length) {
                                continue;
                            }
                            $("#modulo").append($('<option>').text(texto).attr('value', data[i]["Value"]));
                        }
                        $('#modulo').select2({ placeholder: "Selecciona Modulo" });
                    }, beforeSend: function () {
                        $("#modulo").empty();
                        $("#modulo").append($('<option>').text("Cargando...").attr('value', ""));
                    },
             });
         }

         function MostrarPreguntas() {

                var ModuloId = $('#modulo').val();

                $.ajax({
                    url: '@Url.Action("GetQuestionByModule", "Json")',
                    data: { IdModulo: ModuloId },
                    dataType: "json",
                    success: function (data) {

                        var json = JSON.stringify(data);

                        $("#pregunta").empty();
                        $("#pregunta").append($('<option>').text("").attr('value', ""));
                        $("#pregunta").append($('<option>').text("TODOS").attr('value', 0));

                        for (i = 0; i < data.length; i++) {

                            var texto = data[i]["Text"];


                            $("#pregunta").append($('<option>').text(texto).attr('value', data[i]["Value"]));
                        }
                        $('#pregunta').select2({ placeholder: "Selecciona Pregunta" });
                    }, beforeSend: function () {
                        $("#pregunta").empty();
                        $("#pregunta").append($('<option>').text("Cargando...").attr('value', ""));

                    },
                });
         }

         function MostrarCursos() {

             var PreguntaId = $('#pregunta').val();
             var ModuloId = $('#modulo').val();
                $.ajax({
                    url: '@Url.Action("GetCursosByModulo", "Json")',
                    data: { IdPregunta: PreguntaId, IdModulo: ModuloId },
                    dataType: "json",
                    success: function (data) {

                        var json = JSON.stringify(data);

                        $("#curso").empty();
                        $("#curso").append($('<option>').text("").attr('value', ""));
                        $("#curso").append($('<option>').text("TODOS").attr('value', 0));

                        for (i = 0; i < data.length; i++) {

                            var texto = data[i]["Text"];


                            $("#curso").append($('<option>').text(texto).attr('value', data[i]["Value"]));
                        }
                        $('#curso').select2({ placeholder: "Selecciona Curso" });
                    }, beforeSend: function () {
                        $("#curso").empty();
                        $("#curso").append($('<option>').text("Cargando...").attr('value', ""));

                    },
             });
         }

            function MostrarDocentes() {

                var CursoId = $('#curso').val();
                var ModuloId = $('#modulo').val();

                $.ajax({
                    url: '@Url.Action("GetDocenteByCursoModulo", "Json")',
                    data: { IdModulo: ModuloId, IdCurso: CursoId },
                    dataType: "json",
                    success: function (data) {

                        var json = JSON.stringify(data);

                        $("#docente").empty();
                        $("#docente").append($('<option>').text("").attr('value', ""));
                        $("#docente").append($('<option>').text("TODOS").attr('value', 0));

                        for (i = 0; i < data.length; i++) {

                            var texto = data[i]["Text"];


                            $("#docente").append($('<option>').text(texto).attr('value', data[i]["Value"]));
                        }
                        $('#docente').select2({ placeholder: "Selecciona Docente" });
                    }, beforeSend: function () {
                        $("#docente").empty();
                        $("#docente").append($('<option>').text("Cargando...").attr('value', ""));

                    },
             });
         }

          function ActualizarComentarios() {



              var PeriodoAcademicoId = $("#periodoacademico").val();
              var ModuloId = $('#modulo').val();
              var PreguntaId = $('#pregunta').val();
              var DocenteId = $('#docente').val();
              var CursoId = $('#curso').val();

              if (PeriodoAcademicoId == '') PeriodoAcademicoId = '0';
              if (ModuloId == '') ModuloId = '0';
              if (PreguntaId == '') PreguntaId = '0';
              if (DocenteId == '') DocenteId = '0';     
              if (CursoId == '') CursoId = '0';

                if (ajaxComentarios != null) ajaxComentarios.abort();

              ajaxComentarios = $.ajax({

       
                    type: "GET",
                    url: '@Url.Action("ListarComentariosJSON", "Register")',

                    data: { IdPeriodoAcademico: PeriodoAcademicoId, IdModulo: ModuloId, IdPregunta: PreguntaId, IdDocente: DocenteId, IdCurso: CursoId},


                    success: function (data) {

                  
                        $('#tablaComentarios tr').each(function () {
                            if ($(this).find('td:last input').is(':checked')) {
                            }
                            else {
                                $(this).remove();
                            }

                        });
                        if (data.length != 0)
                         {
                                for (i = 0; i < data.length; i++) {

                                    var yaexiste = 0;


                                        var color = "";
                                    var td_checkbox = '<td class="text-center celda5"> <input type="checkbox" name="check" value="' + data[i].IdComentarioDelegado + '" ></td>';
                                    var td_docente = '<td class="text-center celda10"  >' + data[i].Docente + '</td>';
                                    var td_curso = '<td class="text-center celda20"  >' + data[i].Curso + '</td>';
                                    var td_comentario = '<td class="text-center celda50"  >' + data[i].Comentario + '</td>';
                                    $("#tablaComentarios").append('<tr  ' + color + ' >' + td_checkbox + td_docente + td_curso + td_comentario +  '</tr>');

                                }
                        }
                        else
                        {
                            var color = "";

                        }


                        $("#btnEditLink").click(function (e) {

                        });



                    },
                    beforeSend: function () {
                        // if(pagina<2)


                        $.LoadingOverlay("show");
                    },
                    complete: function () {


                        $.LoadingOverlay("hide");

                    }




                });

            }
   });

    </script>
}