﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.AddEditFindSurveyFDCViewModel
@{
    ViewBag.Title = AddEditFDCResource.RegisterFindSurveyTituloFDC;
    ViewBag.Icon = "fa fa-list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementFDC", "Survey")">@AddEditFDCResource.KeyWordsEncuestaFDC</a></li>
    <li><a href="@Url.Action("MantenimientoEncuestaFDC", "Maintenance")">@AddEditFDCResource.MaintenanceSurveyFDCTitulo</a></li>
}

<form method="post" action="@Url.Action("AddEditFSurveyFDC", "Register")">
    @Html.HiddenFor(x => x.IdEncuesta) 
    @Html.HiddenFor(x => x.CodigoHallazgo)
    @Html.HiddenFor(x => x.IdPeriodoAcademico)
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @AddEditFDCResource.RegisterFindSurveyDatosGenerales</h3>
            </div>
            <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCurso</label></div>
                            @if (language == ConstantHelpers.CULTURE.ESPANOL)
                            {
                                <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.Curso.NombreEspanol, new { @class = "form-control", @readonly = "" })</div>
                            }
                            else
                            {
                                <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.Curso.NombreIngles, new { @class = "form-control", @readonly = "" })</div>
                            }

                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsSede</label></div>
                            <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.Sede.Nombre, new { @class = "form-control", @readonly = "" })</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsSeccion</label></div>
                            <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.Seccion.Codigo, new { @class = "form-control", @readonly = "" })</div>
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsPromedio</label></div>
                            <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.PuntajeTotal, new { @class = "form-control", @readonly = "" })</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsEstado</label></div>
                            <div class="col-md-4">@Html.Raw(ConstantHelpers.GetSpanEstadoFDC(Model.Encuesta.EstadoEncuesta.Acronimo, (language == ConstantHelpers.CULTURE.ESPANOL ? Model.Encuesta.EstadoEncuesta.NombreEspanol : Model.Encuesta.EstadoEncuesta.NombreIngles)))</div>
                        </div>
                    </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne">
                            <h4><i class="fa fa-tasks"></i> @AddEditFDCResource.ButtonsOptionsSurveyResultados</h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            @if (Model.lstResultadoFDC.Count > 0)
                            {
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="text-center" colspan="11">
                                                <h3>
                                                    @if (language == ConstantHelpers.CULTURE.ESPANOL)
                                                    {
                                                        @Model.Logro.LogroFinCicloEspanol;
                                                    }
                                                    else
                                                    {
                                                        @Model.Logro.LogroFinCicloIngles;
                                                    }
                                                </h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-2 text-center" style="background-color: #FF1901;color:white;"><strong><i class="fa fa-dot-circle-o" aria-hidden="true"></i> @AddEditFDCResource.AddEditFDCPuntaje</strong></td>
                                            @for (int i = 1; i <= ConstantHelpers.ENCUESTA.ESCALA_FDC; i++)
                                            {
                                                <td class="col-md-1 text-center">
                                                    @if (i < ConstantHelpers.ENCUESTA.ESCALA_FDC)
                                                    {
                                                        <div class="btn btn-icon btn-warning btn-round" style="background:white;color:#37474f;border-color:red">@("0" + i)</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="btn btn-icon btn-warning btn-round" style="background:white;color:#37474f;border-color:red">@i</div>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                        <tr>
                                            <td class="col-md-2 text-center" style="background-color: #FF1901;color:white;"><strong><i class="fa fa-hashtag" aria-hidden="true"></i> @AddEditFDCResource.AddEditFDCRespuesta</strong></td>
                                            @for (int i = 0; i < ConstantHelpers.ENCUESTA.ESCALA_FDC; i++)
                                            {
                                                <td class="col-md-1">
                                                    <input name="lstPuntaje" id="lstPuntaje" readonly="" class="puntaje form-control" maxlength="2" min="0" value="@(Model.lstResultadoFDC == null ? "0" : Model.lstResultadoFDC[i].CantidadRespuesta.ToSafeString())" />
                                                </td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultTwo" role="tab">
                    <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo">
                        <h4><i class="fa fa-comments-o"></i> @AddEditFDCResource.RegisterFindSurveyComentarios</h4>
                    </a>
                </div>
                <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo" aria-labelledby="exampleHeadingDefaultTwo" role="tabpanel" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        @if (Model.lstComentario.Count > 0)
                        {
                            foreach (var item in Model.lstComentario)
                            {
                                <div class='row'>
                                    <div class='form-group'>
                                        <div class='col-md-1'>
                                            <label class='label-survey'>@AddEditFDCResource.KeyWordsCodigo</label>
                                        </div>
                                        <div class='col-md-2'>
                                            <input class='form-control number' readonly="" id='lstIdEncuesta' name='lstIdEncuesta' type='text' value="@item.CodigoEncuesta">
                                        </div>
                                        <div class='col-md-1'>
                                            <label class='label-survey'>@AddEditFDCResource.KeyWordsComentario</label>
                                        </div>
                                        <div class='col-md-5'>
                                            <textarea class='form-control' readonly="" id='lstComentarios' name='lstComentarios' rows='2'>@Html.Raw(item.Comentario)</textarea>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            }
                        }
                        else
                        {
                            <div class='row'>
                                <h4><span class="label label-default">@(language == ConstantHelpers.CULTURE.ESPANOL ? "No presenta comentarios" : "No comments")</span></h4>
                            </div>
                        }
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list-alt" aria-hidden="true"></i> @AddEditFDCResource.KeyWordsHallazgos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.RegisterFindSurveyCriterios</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdCriterio, new SelectList(Model.lstCriterios, "IdCriterioHallazgoEncuesta", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[ Seleccione ]" : "[ Select ]", new
                       {
                           @class = "form-control select2-select",
                           @data_plugin = "select2",
                           @onChange = "MostrarCriterio()"
                       })
                            @Html.ValidationMessageFor( x => x.IdCriterio)
                        </div>
    
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.RegisterFindSurveyNivelAceptacion</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdNivelAceptacion, new SelectList(Model.LstNivelAceptacion, "IdNivelAceptacionHallazgo", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                            , new
                            {
                                @class = "form-control select2-select",
                                @data_plugin = "select2"
                            })
                            @Html.ValidationMessageFor(x => x.IdNivelAceptacion)
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsSede</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdSede, new SelectList(Model.lstSede, "IdSede", "Nombre"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new
                       {
                           @class = "form-control select2-select",
                           @disabled = true
                       })
                        </div>
    
                       <div id="CriterioCurso">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCurso</label></div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => Model.IdCurso, new SelectList(Model.lstCurso, "IdCurso", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new
                           {
                               @class = "form-control select2-select",
                               @data_plugin = "select2"
                           })
                                @Html.ValidationMessageFor(x => x.IdCurso)
                            </div>
                        </div>
    
                        <div id="CriterioCarrera">
                            <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCarrera</label></div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => Model.IdCarrera, new SelectList(Model.lstCarrera, "IdCarrera", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new
                           {
                               @class = "form-control select2-select",
                               @data_plugin = "select2"
                           })
                                @Html.ValidationMessageFor(x => x.IdCarrera)
                            </div>
                        </div>
    
                    </div>
                </div>
    
                <br />
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#prueba1" data-toggle="tab">@AddEditFDCResource.RegisterFindSurveyEspañol</a></li>
                        <li><a href="#prueba2" data-toggle="tab">@AddEditFDCResource.RegisterFindSurveyIngles</a></li>
                    </ul>
                    <section class="tab-content">
                        <article class="tab-pane active" id="prueba1">
                            @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control", @rows = "5" })
                        </article>
                        <article class="tab-pane" id="prueba2">
                            @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control", @rows = "5" })
                        </article>
                    </section>
                </div>
    
                <br />
                <div class="row">
                    <div class="pull-right">
                        @if (!String.IsNullOrEmpty(Model.CodigoHallazgo))
                        {
                            <a class="btn btn-default" href="@Url.Action("AddEditFindSurveyFDC", "Register", new { IdEncuesta = Model.IdEncuesta })"><i class="fa fa-times"></i> @AddEditFDCResource.ButtonsOptionsSurveyCancelar</a>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @AddEditFDCResource.ButtonsOptionsSurveyGuardar</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-info"><i class="fa fa-plus"></i> @AddEditFDCResource.ButtonsOptionsSurveyAgregar</button>
                        }
                    </div>
                </div>
                <br />

                @if (Model.lstHallazgos.Count > 0)
                {
                    <div class="row">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr style="background-color: #FF1901;">
                                    <th class="text-center" style="color:white;">Nro.</th>
                                    <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsHallazgo</th>
                                    <th class="text-center" style="color:white;">@AddEditFDCResource.RegisterFindSurveyCriterios</th>
                                    <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsDescripcion</th>
                                    <th class="text-center" style="color:white;">@AddEditFDCResource.RegisterFindSurveyNivelAceptacion</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    Int32 indice = 1;
                                    foreach (var item in Model.lstHallazgos)
                                    {
                                        <tr>
                                            <td class="text-center">@indice</td>
                                            <td class="text-center">@item.Codigo</td>
                                            <td class="text-center">
                                                @if (language == ConstantHelpers.CULTURE.ESPANOL)
                                                {
                                                    @(item.CriterioEspanol)
                                                }
                                                else
                                                {
                                                    @(item.CriterioIngles)
                                                }
                                            </td>
                                            <td>
                                                @if (language == ConstantHelpers.CULTURE.ESPANOL || item.DescripcionIngles == null)
                                                {
                                                    @item.DescripcionEspanol
                                                }
                                                else
                                                {
                                                    @item.DescripcionIngles
                                                }
                                            </td>
                                            <td class="text-center">
                                                @if (language == ConstantHelpers.CULTURE.ESPANOL)
                                                {
                                                    @item.NivelEspanol
                                                }
                                                else
                                                {
                                                    @item.NivelIngles
                                                }
                                            </td>
                                            <td class="text-center">
                                                @if (item.Generado == ConstantHelpers.HALLAZGO.NORMAL)
                                                {
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                            @AddEditFDCResource.ButtonsOptionsSurveyOpciones
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                            <li role="presentation"><a href="@Url.Action("AddEditFindSurveyFDC", "Register", new { IdEncuesta = item.IdEncuesta, CodigoHallazgo = item.Codigo })" role="menuitem"><i class="fa fa-cube"></i> @AddEditFDCResource.ButtonsOptionsSurveyEditar</a></li>
                                                            <li role="presentation"><a class="delete" href="#" @Url.ModalHelperFor("_ConfirmacionDeleteHallazgo", "Maintenance", new { IdEncuesta = item.IdEncuesta, CodigoHallazgo = item.Codigo }) role="menuitem"><i class="fa fa-trash"></i> @AddEditFDCResource.ButtonsOptionsSurveyEliminar</a></li>
                                                        </ul>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <h4><span class="label label-danger">@item.Generado</span></h4>
                                                }
                                            </td>
                                        </tr>
                                        indice++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="pull-right">
            <a class="btn btn-default" href="@Url.Action("MantenimientoEncuestaFDC", "Maintenance")"><i class="fa fa-arrow-left"></i> @AddEditFDCResource.ButtonsOptionsSurveyAtras</a>
        </div>
    </div>

</form>

@section Scripts{
    <script>
            $(window).load(function () {
                $('#loading').hide();
                MostrarCriterio();
            });

            function MostrarCriterio() {
                var element = $('#IdCriterio');
                var value = element.val();
                    if (value == 1) {
                    $("#CriterioCurso").show();
                    $("#CriterioCarrera").hide();
                }
                else if (value == 2) {
                    $("#CriterioCarrera").show();
                    $("#CriterioCurso").hide();
                }
                else {
                    $("#CriterioCurso").hide();
                    $("#CriterioCarrera").hide();
                }
            }
    </script>
}
