﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.AddEditNivelSViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey;
@{
    ViewBag.Title = Model.IdNivelSatisfaccion.HasValue ? SurveyResources.EditarNivel : SurveyResources.NuevoNivel;
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Icon = "tasks";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor(x => x.IdNivelSatisfaccion)

<div class="form-horizontal">
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@SurveyResources.DescripcionEspañol</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "desc form-control", @maxlength = "200", @id = "descripcionespanol" })
                    @Html.ValidationMessageFor(x => x.DescripcionEspanol)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="tradButton pull-right" id="traducir" type="button" onclick="ActualizarTraduccion()"> @SurveyResources.Traducir</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@SurveyResources.DescripcionIngles</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "desc form-control", @maxlength = "200", @id = "descripcioningles" })
                    @Html.ValidationMessageFor(x => x.DescripcionIngles)
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="form-group">
                <label for="GenerarHallazgo" class="col-sm-3 control-label">@SurveyResources.GenerarHallazgo</label>
                <div class="col-sm-9">
                    @Html.CheckBoxFor(x => x.GenerarHallazgo, new { @class = "control-label", @id = "GenerarHallazgo" })
                    @Html.ValidationMessageFor(x => x.GenerarHallazgo)
                </div>
            </div>
        </div><br />
    </div>
</div>
<style>
    button.tradButton {
        color: white;
        background-color: #ED1B24;
        border-style: hidden;
        border-radius: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 1em;
        padding-right: 1em;
    }
</style>

<script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>

<script>
 window.onunload = window.opener.location.reload(true);

    $(document).ready(function () {

        $('#descripcionespanol').change(function () {
            $('#descripcioningles').val("");
            ActualizarTraduccion();
        });

    });

        function clear() {
            document.getElementById("descripcioningles").val("");
        }
        function ActualizarTraduccion() {

            $.ajax({
                url: '@Url.Action("TraduccionActualizar", "Json")',
                data: { textoatraducir: $('#descripcionespanol').val() },
                dataType: "json",
                success: function (data) {
                    $('#descripcioningles').show();
                    $('#descripcioningles').val(data["Text"]);
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#descripcioningles').val(data["No hay texto a traducir."]);
                },
                beforeSend: function () {
                    $('#descripcioningles').val("Traduciendo....")
                }

            });
        }

</script>
