﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.AddEditFindHallazgoIRDViewModel
@{
    ViewBag.Title = AddEditFDCResource.RegisterFindSurveyTituloIRD;
    ViewBag.Icon = "fa fa-list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

}

@section Breadcrumbs{
    <li><a href="@Url.Action("LstHallazgosIRD", "Register", new { Search = false, Area = ConstantHelpers.AREAS.SURVEY }) ">@AddEditFDCResource.KeyWordsInformeDelegados</a></li>
}

<form method="post" action="@Url.Action("AddEditFindHallazgoIRD","Register")">

    @Html.HiddenFor(x => x.HallazgoId);
    @Html.HiddenFor(x => x.IdPeriodoAcademico);
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list-alt" aria-hidden="true"></i> @AddEditFDCResource.KeyWordsHallazgos</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Periodo" : "*Period")</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.IdPeriodoAcademico, new SelectList(Model.LstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                              , new
                              {
                                  @class = "form-control select2-select",
                                  @data_plugin = "select2",
                                  @data_update_target = "#IdNivelAceptacionEncuesta",
                                  @data_filter = "IdPeriodoAcademico",
                                  @disabled = true
                                  // @data_source_url = Url.Action("GetNivelesPPPByPeriodo", "Json"),
                                  //@required = true
                              })
                            @Html.ValidationMessageFor(x => x.IdPeriodoAcademico)
                        </div>


                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCurso</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdCurso, new SelectList(Model.LstCurso, "IdCurso", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new
                       {
                           @class = "form-control select2-select",
                           @required = true,
                           @data_source_url = Url.Action("GetOutcomeByCurso", "Json"),
                           @data_update_target = "#IdOutcome",
                           @data_filter = "IdCurso",
                           @id = "selectCurso",
                           @data_plugin = "select2Curso"
                       })
                            @Html.ValidationMessageFor(x => x.IdCurso)
                        </div>

                    </div>


                </div>



                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">Outcome</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdOutcome, new SelectList(Model.LstOutcome, "IdOutcome", "Nombre"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccionar -]" : "[- Select -]", new
                       {
                           @class = "form-control select2-select",
                           @required = true,
                           @data_text_member = (language == ConstantHelpers.CULTURE.ESPANOL ? "Nombre" : "NombreIngles"),
                           @data_value_member = "IdOutcome",
                           @data_plugin = "select2outcome",
                           @data_update_target = "#IdNivelAceptacionHallazgo"
                       })
                            @Html.ValidationMessageFor(x => x.IdOutcome)
                        </div>

                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsSede</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdSede, new SelectList(Model.LstSede, "IdSede", "Nombre"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new
                       {
                           @class = "form-control select2-select",
                           @required = true,
                           @data_text_member = "Nombre",
                           @data_value_member = "IdSede"
                           //@data_plugin = "select2outcome",
                           // @data_update_target = "#IdNivelAceptacionHallazgo",
                           // @disabled = true
                       })
                        </div>


                    </div>
                </div>



                <div class="row">
                    <div class="form-group">

                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.RegisterFindSurveyNivelAceptacion</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdNivelAceptacionHallazgo, new SelectList(Model.LstNivelAceptacion, "IdNivelAceptacionHallazgo", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                                , new
                                {
                                    @class = "form-control select2-select",
                                    @required = true,
                                    @data_text_member = "NombreEspanol",
                                    @data_value_member = "IdNivelAceptacionHallazgo",

                                    @data_plugin = "select2NivelAceptacionHallazgo"
                                    // @disabled = true
                                })
                            @Html.ValidationMessageFor(x => x.IdNivelAceptacionHallazgo)
                        </div>


                    </div>

                    <div class="form-group">

                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.RegisterFindSurveyCriticidad</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdCriticidad, new SelectList(Model.LstCriticidad, "IdCriticidad", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                                , new
                                {
                                    @class = "form-control select2-select",
                                    @required = true,
                                    @data_text_member = "NombreEspanol",
                                    @data_value_member = "IdCriticidad",

                                    @data_plugin = "IdCriticidad"
                                    // @disabled = true
                                })
                            @Html.ValidationMessageFor(x => x.IdCriticidad)
                        </div>


                    </div>
                </div>




                <br />
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#prueba1" data-toggle="tab">@AddEditFDCResource.RegisterFindSurveyEspañol</a></li>
                        <li><a href="#prueba2" data-toggle="tab">@AddEditFDCResource.RegisterFindSurveyIngles</a></li>
                    </ul>
                    <section class="tab-content">
                        <article class="tab-pane active" id="prueba1">
                            @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control", @rows = "5" })
                        </article>
                        <article class="tab-pane" id="prueba2">
                            @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control", @rows = "5" })
                        </article>
                    </section>
                </div>

                <br />
                <div class="row">
                    <div class="pull-right">


                        <a class="btn btn-default" href="@Url.Action("LstHallazgosIRD", "Register", new { Area = ConstantHelpers.AREAS.SURVEY, IdPeriodoAcademico = Model.IdPeriodoAcademico, IdCurso = Model.IdCurso, IdOutcome = Model.IdOutcome, IdSede = Model.IdSede, Search = true  })"><i class="fa fa-times"></i> @AddEditFDCResource.ButtonsOptionsSurveyCancelar</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @AddEditFDCResource.ButtonsOptionsSurveyGuardar</button>

                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>

</form>




@section scripts {
    <script>

      //  console.log(busqueda);

        //$('.btn-li').click(function () {
        //    showloading();
        //});

        $(document).on('change', '[data-plugin="select2Curso"]', function (e) {

            // Valor seleccionado
            var selectedId = $(this).val();




            if (selectedId != "") {
                // document.getElementById("BtnGenerar").disabled = false;


                // Nombre del parámetro de filtro
                var dataFilter = $(this).attr('data-filter');

                // Url de datos json
                var sourceUrl = $(this).attr('data-source-url');

                // Select a actualizar
                var updateTarget = $(this).attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
                // postData['IdCurso'] = $('#IdCurso').val();
                var $updateTarget = $(updateTarget);
                $updateTarget.removeAttr('disabled');


                $.ajax({
                    type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        //console.log(data);
                        var $updateTarget = $(updateTarget);
                        var valueMember = $updateTarget.attr('data-value-member')
                        var textMember = $updateTarget.attr('data-text-member')
                        console.log(valueMember + " " + textMember + " " + data.length);
                        //console.log();
                        $updateTarget.empty();

                        for (i = 0; i < data.length; i++) {
                            // $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                            $updateTarget.append($("<option></option>").attr("value", data[i][valueMember]).text(data[i][textMember]));
                        }





                        for (i = 0; i < data.length; i++) {
                            // $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                            console.log($updateTarget.attr('data-plugin') + " " + textMember + " " + data[i][valueMember]);
                        }
                        $updateTarget.removeAttr('disabled');
                        $updateTarget.trigger('change');
                    },
                    beforeSend: function () {
                        $.LoadingOverlay("show");
                    },
                    complete: function () {
                        $.LoadingOverlay("hide");
                    }
                });

            }
            else
            {
                document.getElementById("BtnGenerar").removeAttribute("href")
                //.getElementById("").disabled = true;
                //document.getElementById("BtnGenerar").disabled = true;


            }
        });

        $(document).on('change', '[data-plugin="select2acreditadora"]', function (e) {

            // Valor seleccionado
            var selectedId = $(this).val();


            if (selectedId != "") {
                // Nombre del parámetro de filtro
                var dataFilter = $(this).attr('data-filter');

                // Url de datos json
                var sourceUrl = $(this).attr('data-source-url');

                // Select a actualizar
                var updateTarget = $(this).attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
                postData['IdPeriodoAcademico'] = $('#IdPeriodoAcademico').val();
                var $updateTarget = $(updateTarget);
                $updateTarget.removeAttr('disabled');

                $.ajax({
                    type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        //console.log(data);
                        var $updateTarget = $(updateTarget);
                        var valueMember = $updateTarget.attr('data-value-member')
                        var textMember = $updateTarget.attr('data-text-member')
                        console.log(valueMember + " " + textMember + " "+data.length);
                        //console.log();
                        $updateTarget.empty();

                      /*  $.each(data, function (key, value) {
                            $updateTarget.append($("<option></option>")
                               .attr("value", data[i][valueMember]).text(data[i][textMember]));*/

                            for (i = 0; i < data.length; i++) {
                                // $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                                $updateTarget.append($("<option></option>").attr("value", data[i][valueMember]).text(data[i][textMember]));
                            }





                        for (i = 0; i < data.length; i++) {
                           // $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                            console.log($updateTarget.attr('data-plugin') + " " + textMember + " " + data[i][valueMember]);
                        }
                        $updateTarget.removeAttr('disabled');
                        $updateTarget.trigger('change');
                    },
                    beforeSend: function () {

                    },
                    complete: function () {

                    }
                });
            }
        });
        $(document).on('change', '[data-plugin="select2outcome"]', function (e) {

            // Valor seleccionado
            var selectedId = $(this).val();


            if (selectedId != "") {
                // Nombre del parámetro de filtro
                var dataFilter = $(this).attr('data-filter');

                // Url de datos json
                var sourceUrl = $(this).attr('data-source-url');

                // Select a actualizar
                var updateTarget = $(this).attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
                postData['IdPeriodoAcademico'] = $('#IdPeriodoAcademico').val();
                var $updateTarget = $(updateTarget);
                $updateTarget.removeAttr('disabled');


            }
        });

        $(document).on('change', '[data-plugin="select2comision"]', function (e) {

            // Valor seleccionado
            var selectedId = $(this).val();


            if (selectedId != "") {
                // Nombre del parámetro de filtro
                var dataFilter = $(this).attr('data-filter');

                // Url de datos json
                var sourceUrl = $(this).attr('data-source-url');

                // Select a actualizar
                var updateTarget = $(this).attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
                postData['IdPeriodoAcademico'] = $('#IdPeriodoAcademico').val();
                var $updateTarget = $(updateTarget);
                $updateTarget.attr('disabled', 'disabled')
                $updateTarget.find('option[value!=""]').remove();

                //console.log(postData);

                $.ajax({
                    type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        //console.log(data);
                        var $updateTarget = $(updateTarget);
                        var valueMember = $updateTarget.attr('data-value-member')
                        var textMember = $updateTarget.attr('data-text-member')
                        console.log(valueMember);
                        console.log(textMember);
                        for (i = 0; i < data.length; i++) {
                            $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));

                        }
                        $updateTarget.removeAttr('disabled');
                        $updateTarget.trigger('change');
                    },
                    beforeSend: function () {

                    },
                    complete: function () {

                    }
                });
            }
        });
    </script>
}
