﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.AddEditSurveyGRAViewModel
@{
    ViewBag.Title = (Model.EncuestaId != null ? AddEditFDCResource.AddEditGRAEditar : AddEditFDCResource.AddEditGRARegistrar) + " " + AddEditFDCResource.KeyWordsEncuestaGraduando;
    ViewBag.Icon = "graduation-cap";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs
{
    @if (Model.EncuestaId.HasValue)
    {
        <li><a href="@Url.Action("SurveyManagementGRA", "Survey")">@AddEditFDCResource.KeyWordsEncuestaGraduando</a></li>
    }
    else
    {
        <li><a href="@Url.Action("MantenimientoEncuestaGRA", "Maintenance")">@AddEditFDCResource.KeyWordsEncuestaGraduando</a></li>
    }
}
<form method="post" action="@Url.Action("AddEditGRA","Register")">
    @Html.HiddenFor(x => x.EncuestaId)
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o"></i> &nbsp;@AddEditFDCResource.AddEditGRADatosGenerales</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditGRACarrera</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdCarrera, new SelectList(Model.lstCarrera, "IdCarrera", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), "Seleccione", new { @class = "form-control select2-select", data_plugin = "select2" })
                        </div>

                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditGRACiclo</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => m.IdCiclo, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), "Seleccione", new { @class = "form-control select2-select", data_plugin = "select2" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> &nbsp; @AddEditFDCResource.AddEditGRACompetenciasEspecificas</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr style="background:red">
                                    <th class="col-md-1 text-center" style="color:white;">@AddEditFDCResource.AddEditGRACE</th>
                                    <th class="col-md-6 text-center" style="color:white;">@AddEditFDCResource.AddEditGRADescripcion</th>
                                    <th class="col-md-5 text-center" style="color:white;" colspan="5">@AddEditFDCResource.AddEditGRADesempeño</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var lstPerformanceCE = Model.lstPerformanceCE; Int32 Puntaje = -1;}
                                @foreach (var item in Model.lstCE)
                                {
                                    if (Model.EncuestaId.HasValue)
                                    {
                                        int? IdOutcomeEncuestaConfig  = item.IdOutcomeEncuestaConfig;
                                        var Result = lstPerformanceCE.FirstOrDefault(x => x.IdOutcomeEncuestaConfig == IdOutcomeEncuestaConfig);
                                        if (Result != null)
                                        {
                                            Puntaje = Convert.ToInt32(Result.PuntajeOutcome.Value);
                                        }
                                        else
                                        {
                                            Puntaje = 0;
                                        }
                                    }
                                    <tr>
                                        <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol.ToUpper() : item.NombreIngles.ToUpper())</td>
                                        <td>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (Puntaje == i)
                                            {
                                                <td class="text-center">
                                                    <div class="radio-custom radio-primary">
                                                        <input type="radio" id="CE-@item.IdOutcomeEncuestaConfig" name="CE-@item.IdOutcomeEncuestaConfig" value="@i" checked>
                                                        <label for="inputRadiosUnchecked">@i</label>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center">
                                                    <div class="radio-custom radio-primary">
                                                        <input type="radio" id="CE-@item.IdOutcomeEncuestaConfig" name="CE-@item.IdOutcomeEncuestaConfig" value="@i">
                                                        <label for="inputRadiosUnchecked">@i</label>
                                                    </div>
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> &nbsp; @AddEditFDCResource.AddEditGRACompetenciaGeneral</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr style="background:red">
                                    <th class="col-md-1 text-center" style="color:white;">@AddEditFDCResource.AddEditGRACG</th>
                                    <th class="col-md-6 text-center" style="color:white;">@AddEditFDCResource.AddEditGRADescripcion</th>
                                    <th class="col-md-5 text-center" style="color:white;" colspan="5">@AddEditFDCResource.AddEditGRADesempeño</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var lstPerformanceCG = Model.lstPerformanceCG;}
                                @foreach (var item in Model.lstCG)
                                {
                                    <tr>
                                        <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol.ToUpper() : item.NombreIngles.ToUpper())</td>
                                        <td>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (Model.EncuestaId.HasValue)
                                            {
                                                int? IdOutcomeEncuestaConfig = item.IdOutcomeEncuestaConfig;
                                                var Result = lstPerformanceCG.FirstOrDefault(x => x.IdOutcomeEncuestaConfig == IdOutcomeEncuestaConfig);
                                                if (Result != null)
                                                {
                                                    Puntaje = Convert.ToInt32(Result.PuntajeOutcome.Value);
                                                }
                                                else
                                                {
                                                    Puntaje = 0;
                                                }
                                            }
                                            if (Puntaje == i)
                                            {
                                                <td class="text-center">
                                                    <div class="radio-custom radio-primary">
                                                        <input type="radio" id="CG-@item.IdOutcomeEncuestaConfig" name="CG-@item.IdOutcomeEncuestaConfig" value="@i" checked>
                                                        <label for="inputRadiosUnchecked">@i</label>
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center">
                                                    <div class="radio-custom radio-primary">
                                                        <input type="radio" id="CG-@item.IdOutcomeEncuestaConfig" name="CG-@item.IdOutcomeEncuestaConfig" value="@i">
                                                        <label for="inputRadiosUnchecked">@i</label>
                                                    </div>
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-comments-o"></i> @AddEditFDCResource.AddEditGRAComentarios</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="pull-left">
                                @*<a class="btn btn-success" id="comentarios"><i class="fa fa-plus"></i> Comentario</a>*@
                            </div>
                        </div>
                    </div>
                </div><br />
                <div id="GRA">
                    <div>
                        <div class='row'>
                            <div class='form-group'>
                                <div class='col-md-2'>
                                    <label class='label-survey'>Comentario</label>
                                </div>
                                <div class='col-md-9'>
                                    @Html.TextAreaFor(x => x.Comentario, new { @class = "form-control", @rows = '2' })
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <a class="btn btn-default animsition-link"  href="@Url.Action("SurveyManagementGRA", "Survey")"><i class="fa fa-arrow-left"></i> @AddEditFDCResource.ButtonsOptionsSurveyAtras</a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @AddEditFDCResource.ButtonsOptionsSurveyGuardar</button>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
        $('#comentarios').click(function () {
            //$('#FDC').append("<div class='row'><div class='form-group'><div class='col-md-1'><label class='label-survey'>Id</label></div><div class='col-md-2'><input class='form-control' id='lstIdEncuesta' name='lstIdEncuesta' type='text'></div><div class='col-md-2'><label class='label-survey'>Comentarios</label></div><div class='col-md-7'><textarea class='form-control' cols='20' id='lstComentarios' name='lstComentarios' rows='5'></textarea></div></div></div><br/>");
            var template = "<div>" + "<div class='row'>" +
                                "<div class='form-group'>" +
                                    "<div class='col-md-2'>" +
                                        "<label class='label-survey'>@AddEditFDCResource.AddEditGRAComentario</label>" +
                                    "</div>" +
                                    "<div class='col-md-9'>" +
                                        "<textarea class='form-control' id='lstComentarios' name='lstComentarios' rows='2'></textarea>" +
                                    "</div>" +
                                    "<div class='col-md-1'>" +
                                        "<a class='delete btn btn-default'><i class='fa fa-trash'></i> Eliminar</a>" +
                                    "</div>" +
                                "</div>" +
                            "</div>" +
                            "<br/>" + "</div>";
            $('#GRA').append(template);
        });

        $(document).on('click', '.delete', function () {
            $(this).parent().parent().parent().parent().remove();
        });

    </script>
}