﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.AddEditFindOutcomeSurveyFDCViewModel
@{
    ViewBag.Title = AddEditFDCResource.RegisterFindSurveyTituloFDC;
    ViewBag.Icon = "fa fa-list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
<form method="post">
    @Html.HiddenFor(x => x.NombreCarrera)
    @Html.HiddenFor(x => x.NombreOutcome)
    @Html.HiddenFor(x => x.IdNivelAceptacionHallazgo)
    @Html.HiddenFor(x => x.IdOutcome)
    @Html.HiddenFor(x => x.IdCarrera)
    @Html.HiddenFor(x => x.IdHallazgo)
    @Html.HiddenFor(x => x.IdPeriodoAcademico)
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @AddEditFDCResource.RegisterFindSurveyDatosGenerales</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    @if (!String.IsNullOrEmpty(Model.Codigo))
                    {
                        <div class="form-group">
                            <div class="col-md-2"><label class="label-survey">Código</label></div>
                            <div class="col-md-10">@Html.TextBoxFor(x => x.Codigo, new { @class = "form-control", @disabled = "disabled" })</div>
                        </div>
                    }
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"><label class="label-survey">Descripción Español</label></div>
                        <div class="col-md-10">@Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control" })</div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group" style="padding-bottom: 48px !important;">
                        <div class="col-md-2"><label class="label-survey">Descripción Inglés</label></div>
                        <div class="col-md-10">@Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control" })</div>
                    </div>
                </div>
                <div class="row">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @AddEditFDCResource.ButtonsOptionsSurveyGuardar</button>
                    </div>&nbsp;
                    <div class="pull-right">
                        <a class="btn btn-default" href="@Url.Action("ListFindOutcomeSurveyFDC", "Register", new { TipoEncuesta = ConstantHelpers.ENCUESTA.FDC, IdPeriodoAcademico = Model.IdPeriodoAcademico })"><i class="fa fa-arrow-left"></i> @AddEditFDCResource.ButtonsOptionsSurveyAtras</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>