﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.AddEditSurveyFDCViewModel
@{
    ViewBag.Title = (Model.EncuestaId != null ? AddEditFDCResource.AddEditFDCEditar : AddEditFDCResource.AddEditFDCRegistrar) + " " + AddEditFDCResource.KeyWordsEncuestaFDC;
    ViewBag.Icon = "list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs
{
    @if (Model.EncuestaId.HasValue)
    {
        <li><a href="@Url.Action("SurveyManagementFDC", "Survey")">@AddEditFDCResource.KeyWordsEncuestaFDC</a></li>
    }
    else
    {
        <li><a href="@Url.Action("MantenimientoEncuestaFDC", "Maintenance")">@AddEditFDCResource.KeyWordsEncuestaFDC</a></li>
    }
}
<form method="post" action="@Url.Action("AddEditSurveyFDC", "Register")">
    @Html.HiddenFor(x => x.EncuestaId)
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o"></i> @AddEditFDCResource.AddEditFDCInformacionGeneral</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditFDCCiclo</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdPeriodoAcademico, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                            , new
                            {
                                @class = "form-control select2-select",
                                @data_plugin = "select2",
                                @data_source_url = Url.Action("GetCursoBySedePeriodo", "Json"),
                                @data_update_target = "#IdCurso",
                                @data_filter = "IdPeriodoAcademico"
                            })
                            @Html.ValidationMessageFor(x => x.IdPeriodoAcademico)
                        </div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsSede</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdSede, new SelectList(Model.lstSede, "IdSede", "Nombre"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                            , new { @class = "form-control select2-select"
                            })
                            @Html.ValidationMessageFor(x => x.IdSede)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditFDCCurso</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdCurso, new SelectList(Model.lstCurso, "IdCurso",
                            language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), "Seleccione",
                            new { @class = "form-control select2-select",
                                data_plugin = "select2",
                                data_filter = "cursoId",
                                @data_text_member = "text",
                                @data_value_member = "id",
                                //disabled = "",
                                @data_update_target = "#IdSeccion",
                                @data_source_url = Url.Action("GetSeccionByCursoFDC", "Json"),
                                @readonly = "readonly"

                            })
                            @Html.ValidationMessageFor(x => x.IdCurso)
                        </div>
                        <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.AddEditFDCSeccion</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(m => Model.IdSeccion, new SelectList(Model.lstSeccion, "IdSeccion", "Codigo"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new
                       {
                           @class = "form-control select2-select",
                           @data_text_member = "Codigo",
                           @data_value_member = "IdSeccion",
                           @readonly = "readonly"
                       })
                            @Html.ValidationMessageFor(x => x.IdSeccion)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tasks"></i> @AddEditFDCResource.AddEditFDCResultados</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    <tr>
                                        <td class="text-center" colspan="11"><h3 id="logro"></h3></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-2 text-center" style="background-color: #FF1901;color:white;"><strong><i class="fa fa-dot-circle-o" aria-hidden="true"></i> @AddEditFDCResource.AddEditFDCPuntaje</strong></td>
                                        @for (int i = 1; i <= ConstantHelpers.ENCUESTA.ESCALA_FDC; i++)
                                        {
                                            <td class="col-md-1 text-center">
                                                @if (i < ConstantHelpers.ENCUESTA.ESCALA_FDC)
                                                {
                                                    <div class="btn btn-icon btn-warning btn-round" style="background:white;color:#37474f;border-color:red">@("0" + i)</div>
                                                }
                                                else
                                                {
                                                    <div class="btn btn-icon btn-warning btn-round" style="background:white;color:#37474f;border-color:red">@i</div>
                                                }
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td class="col-md-2 text-center" style="background-color: #FF1901;color:white;"><strong><i class="fa fa-hashtag" aria-hidden="true"></i> @AddEditFDCResource.AddEditFDCRespuesta</strong></td>
                                        @for (int i = 0; i < ConstantHelpers.ENCUESTA.ESCALA_FDC; i++)
                                        {
                                            <td class="col-md-1">
                                                <input name="lstPuntaje" id="lstPuntaje" class="puntaje form-control" maxlength="2" min="0" value="@(Model.lstResultado == null ? "0": Model.lstResultado[i].CantidadRespuesta.ToSafeString())" />
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-comments-o"></i> @AddEditFDCResource.AddEditFDCComentarios</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <a class="btn btn-success" id="comentarios"><i class="fa fa-plus"></i> @AddEditFDCResource.AddEditFDCComentario</a>
                            </div>
                        </div>
                    </div>
                </div><br />
                <div id="FDC">
                    @if (Model.EncuestaId.HasValue)
                    {
                        foreach (var item in Model.lstComentario)
                        {
                            <div>
                                <div class='row'>
                                    <div class='form-group'>
                                        <div class='col-md-1'>
                                            <label class='label-survey'>Código</label>
                                        </div>
                                        <div class='col-md-2'>
                                            <input class='form-control number' id='lstIdEncuesta' name='lstIdEncuesta' type='text' value="@item.CodigoEncuesta">
                                        </div>
                                        <div class='col-md-2'>
                                            <label class='label-survey'>Comentario</label>
                                        </div>
                                        <div class='col-md-5'>
                                            <textarea class='form-control' id='lstComentarios' name='lstComentarios' rows='2' required>@Html.Raw(item.Comentario)</textarea>
                                        </div>
                                        <div class='col-md-1'>
                                            <a class='delete btn btn-default'><i class='fa fa-trash'></i> Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <a class="btn btn-default animsition-link"  href="@Url.Action("SurveyManagementFDC", "Survey")"><i class="fa fa-arrow-left"></i> @AddEditFDCResource.ButtonsOptionsSurveyAtras</a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @AddEditFDCResource.ButtonsOptionsSurveyGuardar</button>
        </div>
    </div>
</form>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
        $(document).ready(function () {
            $(document).on("keydown", ".number", function (e) {
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });

            $('#comentarios').click(function () {
                //$('#FDC').append("<div class='row'><div class='form-group'><div class='col-md-1'><label class='label-survey'>Id</label></div><div class='col-md-2'><input class='form-control' id='lstIdEncuesta' name='lstIdEncuesta' type='text'></div><div class='col-md-2'><label class='label-survey'>Comentarios</label></div><div class='col-md-7'><textarea class='form-control' cols='20' id='lstComentarios' name='lstComentarios' rows='5'></textarea></div></div></div><br/>");
                var template = "<div>" + "<div class='row'>" +
                                            "<div class='form-group'>" +
                                                "<div class='col-md-1'>" +
                                                    "<label class='label-survey'>@AddEditFDCResource.AddEditFDCCodigo</label>" +
                                                "</div>" +
                                                "<div class='col-md-2'>" +
                                                    "<input maxlength='6' class='form-control number' id='lstIdEncuesta' name='lstIdEncuesta' type='text'>" +
                                                "</div>" +
                                                "<div class='col-md-2'>" +
                                                    "<label class='label-survey'>@AddEditFDCResource.AddEditFDCComentario</label>" +
                                                "</div>" +
                                                "<div class='col-md-5'>" +
                                                    "<textarea required class='form-control' id='lstComentarios' name='lstComentarios' rows='2'></textarea>" +
                                                "</div>" +
                                                "<div class='col-md-1'>" +
                                                    "<a class='delete btn btn-default'><i class='fa fa-trash'></i> @AddEditFDCResource.ButtonsOptionsSurveyEliminar</a>" +
                                                "</div>" +
                                            "</div>" +
                                        "</div>" +
                                        "<br/>" + "</div>";
                $('#FDC').append(template);
            });

            $(document).on('click', '.delete', function () {
                $(this).parent().parent().parent().parent().remove();
            });

            $(".puntaje").keydown(function (e) {
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    (e.keyCode >= 35 && e.keyCode <= 40)) {
                    return;
                }
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            $(document).on('change', '[data-plugin="select2"]', function (e) {
                // Valor seleccionado
                var selectedId = $(this).val();

                if (selectedId != "") {
                    // Nombre del parámetro de filtro
                    var dataFilter = $(this).attr('data-filter');

                    // Url de datos json
                    var sourceUrl = $(this).attr('data-source-url');

                    // Select a actualizar
                    var updateTarget = $(this).attr('data-update-target');

                    var postData = {};
                    postData[dataFilter] = selectedId;
                    postData['IdCarrera'] = $('#IdCarrera').val();
                    postData['IdSede'] = $('#IdSede').val();
                    postData['IdPeriodoAcademico'] = $('#IdPeriodoAcademico').val();
                    
                    var $updateTarget = $(updateTarget);
                    $updateTarget.attr('disabled', 'disabled')
                    $updateTarget.find('option[value!=""]').remove();

                    $.ajax({
                        type: 'POST',
                        url: sourceUrl,
                        data: postData,
                        dataType: 'json',
                        async: true,
                        success: function (data) {
                            var $updateTarget = $(updateTarget);
                            var valueMember = $updateTarget.attr('data-value-member')
                            var textMember = $updateTarget.attr('data-text-member')
                            for (i = 0; i < data.length; i++) {
                                $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                            }
                            $updateTarget.removeAttr('disabled');
                            $updateTarget.trigger('change');
                        },
                        beforeSend: function () {

                        },
                        complete: function () {

                        }
                    });
                }
            });
            
        });
    </script>
}