﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.AddEditFindSurveyGRAViewModel
@{
    ViewBag.Title = AddEditFDCResource.RegisterFindSurveyTituloGRA;
    ViewBag.Icon = "fa fa-list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    var orden = 0;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementGRA", "Survey")">@AddEditFDCResource.KeyWordsEncuestaGraduando</a></li>
    @if (Model.opcion_rastro == 1)
    {
        <li><a href="@Url.Action("DetalleEncuestaVirtualGRA", "Maintenance", new { Carrera = Model.CarreraId_rastro , Ciclo = Model.CicloId_rastro })"> @AddEditFDCResource.MaintenanceSurveyGRADetalle @AddEditFDCResource.OptionsMantenimientoTitulo @AddEditFDCResource.KeyWordsEncuestaGraduandoVirtual</a></li>
    }
    else
    {
        <li><a href="@Url.Action("MantenimientoEncuestaGRA", "Maintenance")">@AddEditFDCResource.MaintenanceSurveyGRATitulo</a></li>
    }
}

        <form method="post" action="@Url.Action("AddEditFSurveyGRA", "Register")">
            @Html.HiddenFor(x => x.IdEncuesta)
            @Html.HiddenFor(x => x.CodigoHallazgo)
            @Html.HiddenFor(x => x.IdHallazgo)
            @Html.HiddenFor(x => x.IdSede)
            @Html.HiddenFor(x => x.IdCarrera)
            @Html.HiddenFor(x => x.IdCurso)
            @Html.HiddenFor(x => x.IdHallazgo)
            <div class="row">
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @AddEditFDCResource.RegisterFindSurveyDatosGenerales</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCodigo</label></div>
                                <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.IdEncuesta, new { @class = "form-control", @readonly = "" })</div>
                                <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCiclo</label></div>
                                <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.SubModalidadPeriodoAcademico.PeriodoAcademico.CicloAcademico, new { @class = "form-control", @readonly = "" })</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCarrera</label></div>
                                @if (language == ConstantHelpers.CULTURE.ESPANOL)
                        {
                            <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.Carrera.NombreEspanol, new { @class = "form-control", @readonly = "" })</div>
                }
                else
                {
                    <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.Carrera.NombreIngles, new { @class = "form-control", @readonly = "" })</div>
        }
                                <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsSede</label></div>
                                <div class="col-md-4">@Html.TextBoxFor(x => x.Encuesta.Sede.Nombre, new { @class = "form-control", @readonly = "" })</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                    <div class="panel panel-bordered">
                        <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                            <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="false" aria-controls="exampleCollapseDefaultOne">
                                <h4><i class="fa fa-tasks"></i> @AddEditFDCResource.ButtonsOptionsSurveyResultados</h4>
                            </a>
                        </div>
                        <div class="panel-collapse collapse" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                            <div class="panel">
                                <div class="panel-heading" id="subPanelOne" role="tab">
                                    <a class="panel-title-survey collapsed" data-toggle="collapse" href="#CollapsesubPanelOne" aria-expanded="false" aria-controls="CollapsesubPanelOne">
                                        <i class="icon pe-graph1" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                        @if (Model.Encuesta.TipoEncuesta.Acronimo == ConstantHelpers.ENCUESTA.PPP)
                                {
                                    @AddEditFDCResource.AddEditPPPCompetenciasEspecificas
                        }
                        else
                        {
                            @AddEditFDCResource.AddEditGRACompetenciasEspecificas
                }
                                    </a>
                                </div>
                                <div class="panel-collapse collapse" id="CollapsesubPanelOne" aria-labelledby="subPanelOne" role="tabpanel" aria-expanded="false">
                                    <div class="panel-body">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-1 text-center"></th>
                                                    <th class="col-md-6 text-center"></th>
                                                    <th class="col-md-5 text-center" colspan="5"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ var lstPerformanceCE = Model.lstPerformanceCE; int Puntaje = -1;}
                                                @foreach (var item in Model.lstCE)
                                        {
                                            Puntaje = Convert.ToInt32(lstPerformanceCE.FirstOrDefault(x => x.IdOutcomeEncuestaConfig == item.IdOutcomeEncuestaConfig).PuntajeOutcome.Value);
                                            <tr>
                                                <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol.ToUpper() : item.NombreIngles.ToUpper())</td>
                                                <td>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>
                                                @for (int i = 1; i <= 5; i++)
                                        {
                                            if (Puntaje == i)
                                            {
                                                <td class="text-center">
                                                    <div class="radio-custom radio-primary">
                                                        <input type="radio" id="CE-@item.IdOutcomeEncuestaConfig" name="CE-@item.IdOutcomeEncuestaConfig" value="@i" checked>
                                                        <label for="inputRadiosUnchecked">@i</label>
                                                    </div>
                                                </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="CE-@item.IdOutcomeEncuestaConfig" name="CE-@item.IdOutcomeEncuestaConfig" value="@i" disabled>
                                                <label for="inputRadiosUnchecked">@i</label>
                                            </div>
                                        </td>
                            }
                        }
                                            </tr>
                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading" id="subPanelTwo" role="tab">
                                    <a class="panel-title-survey collapsed" data-toggle="collapse" href="#CollapsesubPanelTwo" aria-expanded="false" aria-controls="CollapsesubPanelTwo">
                                        <i class="icon pe-graph3" aria-hidden="true" style="font-size: 20px;vertical-align: sub; font-weight: bold;"></i>
                                        @AddEditFDCResource.AddEditPPPCompetenciaGeneral
                                    </a>
                                </div>
                                <div class="panel-collapse collapse" id="CollapsesubPanelTwo" aria-labelledby="subPanelTwo" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="col-md-1 text-center"></th>
                                                    <th class="col-md-6 text-center"></th>
                                                    <th class="col-md-5 text-center" colspan="5"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ var lstPerformanceCG = Model.lstPerformanceCG;}
                                                @foreach (var item in Model.lstCG)
                                        {
                                            <tr>
                                                <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.NombreEspanol.ToUpper() : item.NombreIngles.ToUpper())</td>
                                                <td>@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>
                                                @for (int i = 1; i <= 5; i++)
                                        {
                                            Puntaje = Convert.ToInt32(lstPerformanceCG.FirstOrDefault(x => x.IdOutcomeEncuestaConfig == item.IdOutcomeEncuestaConfig).PuntajeOutcome.Value);
                                            if (Puntaje == i)
                                            {
                                                <td class="text-center">
                                                    <div class="radio-custom radio-primary">
                                                        <input type="radio" id="CG-@item.IdOutcomeEncuestaConfig" name="CG-@item.IdOutcomeEncuestaConfig" value="@i" checked>
                                                        <label for="inputRadiosUnchecked">@i</label>
                                                    </div>
                                                </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="CG-@item.IdOutcomeEncuestaConfig" name="CG-@item.IdOutcomeEncuestaConfig" value="@i" disabled>
                                                <label for="inputRadiosUnchecked">@i</label>
                                            </div>
                                        </td>
                            }
                        }
                                            </tr>
                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                    <div class="panel panel-bordered">
                        <div class="panel-heading" id="exampleHeadingDefaultTwo" role="tab">
                            <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultTwo" aria-expanded="false" aria-controls="exampleCollapseDefaultTwo">
                                <h4><i class="fa fa-comments-o"></i> @AddEditFDCResource.RegisterFindSurveyComentarios</h4>
                            </a>
                        </div>
                        <div class="panel-collapse collapse" id="exampleCollapseDefaultTwo" aria-labelledby="exampleHeadingDefaultTwo" role="tabpanel" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                @if (Model.Encuesta.Comentario != null)
                        {
                            <br />
                            <div class='row'>
                                <div class='form-group'>
                                    <div class='col-md-1'>
                                        <label class='label-survey'>@AddEditFDCResource.KeyWordsComentario</label>
                                    </div>
                                    <div class='col-md-5'>
                                        <textarea class='form-control' readonly="" rows='2'>@Html.Raw(Model.Encuesta.Comentario)</textarea>
                                    </div>
                                </div>
                            </div>
                }
                else
                {
                    <div class='row'>
                        <h4><span class="label label-default">@(language == ConstantHelpers.CULTURE.ESPANOL ? "No presenta comentarios" : "No comments")</span></h4>
                    </div>
        }
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-bordered">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list-alt" aria-hidden="true"></i> @AddEditFDCResource.KeyWordsHallazgos</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2"><label class="label-survey">Outcome</label></div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => Model.IdOutcome, new SelectList(Model.Lstoutcomes, "IdOutcomeEncuestaConfig", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccionar -]" : "[- Select -]", new
                {
                    @class = "form-control select2-select",
                    @data_plugin = "select2",
                    @onChange = "MostrarCriterio()"
                })
                                    @Html.ValidationMessageFor(x => x.IdOutcome)
                                </div>
                                <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.RegisterFindSurveyCriterios</label></div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => Model.IdCriterio, new SelectList(Model.lstCriterios, "IdCriterioHallazgoEncuesta", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new
                {
                    @class = "form-control select2-select",
                    @data_plugin = "select2",
                    @onChange = "MostrarCriterio()"
                })
                                    @Html.ValidationMessageFor(x => x.IdCriterio)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.RegisterFindSurveyNivelAceptacion</label></div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => Model.IdNivelAceptacion, new SelectList(Model.lstNivelAceptacion, "IdNivelAceptacionHallazgo", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
, new
{
@class = "form-control select2-select",
@data_plugin = "select2"
})
                                    @Html.ValidationMessageFor(x => x.IdNivelAceptacion)
                                </div>
                                <div id="CriterioCurso">
                                    <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCurso</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => Model.IdCurso, new SelectList(Model.lstCurso, "IdCurso", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new
                    {
                        @class = "form-control select2-select",
                        @data_plugin = "select2"
                    })
                                        @Html.ValidationMessageFor(x => x.IdCurso)
                                    </div>
                                </div>

                                <div id="CriterioCarrera">
                                    <div class="col-md-2"><label class="label-survey">@AddEditFDCResource.KeyWordsCarrera</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => Model.IdCarrera, new SelectList(Model.lstCarrera, "IdCarrera", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new
                    {
                        @class = "form-control select2-select",
                        @data_plugin = "select2"
                    })
                                        @Html.ValidationMessageFor(x => x.IdCarrera)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="Criticidad">
                                <div class="col-md-2"><label class="label-survey">Criticidad</label></div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => Model.IdCriticidad, new SelectList(Model.lstCritidad, "IdCriticidad", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new
                {
                    @class = "form-control select2-select",
                    @data_plugin = "select2"
                })
                                    @Html.ValidationMessageFor(x => x.IdCriticidad)
                                </div>
                            </div>
                            </div>


                            <br />
                            <div class="row">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#prueba1" data-toggle="tab">@AddEditFDCResource.RegisterFindSurveyEspañol</a></li>
                                    <li><a href="#prueba2" data-toggle="tab">@AddEditFDCResource.RegisterFindSurveyIngles</a></li>
                                </ul>
                                <section class="tab-content">
                                    <article class="tab-pane active" id="prueba1">
                                        @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "form-control", @rows = "5" })
                                    </article>
                                    <article class="tab-pane" id="prueba2">
                                        @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "form-control", @rows = "5" })
                                    </article>
                                </section>
                            </div>

                            <br />
                            <div class="row">
                                <div class="pull-right">
                                    @if (Model.IdHallazgo.HasValue)
                {
                    <a class="btn btn-default" href="@Url.Action("AddEditFindSurveyGRA", "Register", new { IdEncuesta = Model.IdEncuesta })"><i class="fa fa-times"></i> @AddEditFDCResource.ButtonsOptionsSurveyCancelar</a>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @AddEditFDCResource.ButtonsOptionsSurveyGuardar</button>
}
else
{
                    <button type="submit" class="btn btn-info"><i class="fa fa-plus"></i> @AddEditFDCResource.ButtonsOptionsSurveyAgregar</button>
}
                                </div>
                            </div>
                            <br />

                            @if (Model.lstHallazgos.Count > 0)
        {
                    <div class="row">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr style="background-color: #FF1901;">
                                    <th class="text-center" style="color:white;">Nro.</th>
                                    <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsHallazgo</th>
                                    <th class="text-center" style="color:white;">@AddEditFDCResource.RegisterFindSurveyCriterios</th>
                                    <th class="text-center" style="color:white;">@AddEditFDCResource.KeyWordsDescripcion</th>
                                    <th class="text-center" style="color:white;">@AddEditFDCResource.RegisterFindSurveyNivelAceptacion</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                Int32 indice = 1;
                foreach (var item in Model.lstHallazgos)
                {
                    <tr>
                        <td class="text-center">@indice</td>
                        <td class="text-center">@item.Codigo</td>
                        <td class="text-center">
                            @if (language == ConstantHelpers.CULTURE.ESPANOL)
        {
                    @item.CriterioHallazgoEncuesta.NombreEspanol
}
else
{
                    @item.CriterioHallazgoEncuesta.NombreIngles
}
                        </td>
                        <td>
                            @if (language == ConstantHelpers.CULTURE.ESPANOL || item.DescripcionIngles == null)
        {
                    @item.DescripcionEspanol
}
else
{
                    @item.DescripcionIngles
}
                        </td>
                        <td class="text-center">
                            @if (language == ConstantHelpers.CULTURE.ESPANOL)
        {
                    @item.NivelAceptacionHallazgo.NombreEspanol
}
else
{
                    @item.NivelAceptacionHallazgo.NombreIngles
}
                        </td>
                        <td class="text-center">
                            @if (item.Generado == ConstantHelpers.HALLAZGO.NORMAL)
        {
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                            @AddEditFDCResource.ButtonsOptionsSurveyOpciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                            <li role="presentation"><a href="@Url.Action("AddEditFindSurveyGRA", "Register", new { IdEncuesta = item.IdEncuesta, IdHallazgo = item.IdHallazgo })" role="menuitem"><i class="fa fa-cube"></i> @AddEditFDCResource.ButtonsOptionsSurveyEditar</a></li>
                            <li role="presentation"><a class="delete" href="#" @Url.ModalHelperFor("_ConfirmacionDeleteHallazgo", "Maintenance", new { IdEncuesta = item.IdEncuesta, CodigoHallazgo = item.Codigo }) role="menuitem"><i class="fa fa-trash"></i> @AddEditFDCResource.ButtonsOptionsSurveyEliminar</a></li>
                        </ul>
                    </div>
}
else
{
                    <h4><span class="label label-danger">@item.Generado</span></h4>
}
                        </td>
                    </tr>
indice++;
}
                                }
                            </tbody>
                        </table>
                    </div>
}
                        </div>
                    </div>
            </div>

            <div class="row">
                <div class="pull-right">
                    @if (Model.opcion_rastro == 1)
            {
                <a class="btn btn-default" href="@Url.Action("DetalleEncuestaVirtualGRA", "Maintenance", new { Carrera = Model.CarreraId_rastro , Ciclo = Model.CicloId_rastro })"><i class="fa fa-arrow-left"></i> @AddEditFDCResource.ButtonsOptionsSurveyAtras</a>
    }
    else
    {
        <a class="btn btn-default" href="@Url.Action("MantenimientoEncuestaGRA", "Maintenance")"><i class="fa fa-arrow-left"></i> @AddEditFDCResource.ButtonsOptionsSurveyAtras</a>
}

                </div>
            </div>
        </form>

@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
            MostrarCriterio();
        });

        function MostrarCriterio() {
            var element = $('#IdCriterio');
            var value = element.val();
            if (value == 1) {
                $("#CriterioCurso").show();
                $("#CriterioCarrera").hide();
            }
            else if (value == 2) {
                $("#CriterioCarrera").show();
                $("#CriterioCurso").hide();
            }
            else {
                $("#CriterioCurso").hide();
                $("#CriterioCarrera").hide();
            }
        }
    </script>
}