﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.AddEditPlantillaEncuestaViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey

@{
    ViewBag.Title = SurveyResources.PlantillaEncuesta;
    ViewBag.Icon = "graduation-cap";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
    var hasValue = Model.PlantillaEncuestaId.HasValue;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ConfiguracionPlantillaEncuesta", "Configuration")"> @SurveyResources.ConfiguracionPlantillaEncuesta</a></li>
}

<div class="panel">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-@(hasValue ? "pencil" : "plus")"></i> @(hasValue ? SurveyResources.EditarPlantillaEncuesta : SurveyResources.NuevaPlantillaEncuesta)</h3>
    </div>

    <form class="form form-horizontal" method="post">
        <div class="panel-body">
            @Html.HiddenFor(x => x.PlantillaEncuestaId)
            @Html.EditorFor(x => x.NombreEspanol)

        </div>

        <div class="panel-footer text-right">
            <a class="btn btn-default animsition-link" href="@Url.Action("ConfiguracionPlantillaEncuesta", "Configuration")"><i class="fa fa-times"></i> @SurveyResources.Cancelar</a>
            <button type="submit" class="btn btn-primary "> @SurveyResources.Aceptar <i class="fa fa-check"></i></button>
        </div>

    </form>

</div>

