﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.AddEVRViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey

@{
    ViewBag.Icon = "sticky-note";

    ViewBag.Title = SurveyResources.TituloCrearEVR;
}


@section Breadcrumbs {
    <li><a href="@Url.Action("MantenimientoMaestroEVD", "Maintenance")">@Html.Label(SurveyResources.EVDTitle)</a></li>
}


    <form method="post">
        @Html.HiddenFor(x => x.IdEscuela)
        <div class="row">
            <div class="panel panel-bordered">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @Html.Label(SurveyResources.DatosGenerales)</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-survey">@Html.Label(SurveyResources.PeriodoAcademico)</label>
                                @Html.TextBoxFor(x => x.Ciclo, new { @class = "form-control", @readonly = "" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-survey">@Html.Label(SurveyResources.Modulos)</label>
                                @Html.DropDownListFor(x => x.IdModulo, new SelectList(Model.LstModulo, "IdModulo", "NombreEspanol"), new { @class = "form-control", @required = "true" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-survey">Carrera</label>
                                @Html.DropDownListFor(x => x.IdCarrera, new SelectList(Model.LstCarrera, "IdCarrera", "NombreEspanol"), new { @class = "form-control", @required = "true" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="label-survey">@Html.Label(SurveyResources.PlantillaEncuesta)</label>
                                @Html.DropDownListFor(x => x.IdPlantillaEncuesta, new SelectList(Model.LstPlantillaEncuesta, "IdPlantillaEncuesta", "NombreEspanol"), new { @class = "form-control", @required = "true" })
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <a class="btn btn-default" href="@Url.Action("ConfiguracionEVD", "Configuration")">  Cancelar </a>
                        @if (Model.LstModulo.Count != 0)
                        {
                            <button type="submit" id="btnGenerar" class="btn btn-primary pull-right">  @SurveyResources.GuardarContinuar </button>
                        }
                        else
                        {
                            <button type="button" id="btnPopUp" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modalWarning">  @SurveyResources.GuardarContinuar </button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalWarning" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@SurveyResources.Advertencia</h4>
                    </div>
                    <div class="modal-body">
                        <p>@SurveyResources.AlertaEncuestaMaximo</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@SurveyResources.Cerrar</button>
                    </div>
                </div>

            </div>
        </div>
    </form>

@section Scripts{
    <script src="~/Content/assets/plugins/select2/dist/js/select2.min.js" rel="stylesheet"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
}
