﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.AddQuestionViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey;
@{
    ViewBag.Title = SurveyResources.NuevaPregunta;
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Icon = "tasks";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor(x => x.IdPlantillaEncuesta)
@Html.HiddenFor(x => x.IdPregunta)

<div class="form-horizontal">
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@SurveyResources.PreguntaEspañol</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.DescripcionEspanol, new { @class = "desc form-control", @maxlength = "200", @id = "preguntaespanol" })
                    @Html.ValidationMessageFor(x => x.DescripcionEspanol)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="tradButton pull-right" id="traducir" type="button" onclick="ActualizarTraduccion()"> @SurveyResources.Traducir</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@SurveyResources.PreguntaIngles</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.DescripcionIngles, new { @class = "desc form-control", @maxlength = "2000", @id = "preguntaingles" })
                
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@SurveyResources.TipoPregunta</label>
                <div class="col-sm-9">
                    <div class="col-sm-3">
                        @Html.RadioButtonFor(x => x.IdTipoPregunta, "1", new { id = "TipoComentario", onclick = "showButtonConfig()", @checked = "checked" })
                        <label for="TipoComentario">@SurveyResources.Comentario</label>
                    </div>
                    <div class="col-sm-3">
                        @Html.RadioButtonFor(x => x.IdTipoPregunta, "2", new { id = "TipoEscala", onclick = "showButtonConfig()" })
                        <label for="TipoEscala">@SurveyResources.Escala</label>
                    </div>
                    <div class="col-sm-3">
                        @{ var style = (Model.IdTipoPregunta == 2 ? "display:block" : "display:none");}
                        <button type="submit" id="Config" style="@style" class="btn btn-primary" @Url.ModalHelperFor("ConfigQuestionLevel", "Register", new { IdPregunta = Model.IdPregunta }, ModalSize.Large)><i class="fa fa-cog"></i> @SurveyResources.Configurar</button>
                    </div>

                </div>

            </div>

        </div><br />

    </div>
</div>
<style>
    button.tradButton {
        color: white;
        background-color: #ED1B24;
        border-style: hidden;
        border-radius: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 1em;
        padding-right: 1em;
    }
</style>
<script>
    window.onunload = window.opener.location.reload(true);

    function showButtonConfig() {
        if (document.getElementById('TipoEscala').checked) {
            document.getElementById('Config').style.display = 'block'
        }
        if (document.getElementById('TipoComentario').checked) {
            document.getElementById('Config').style.display = 'none'
        }
    }
    function ActualizarTraduccion() {

            $.ajax({
                url: '@Url.Action("TraduccionActualizar", "Json")',
                data: { textoatraducir: $('#preguntaespanol').val() },
                dataType: "json",
                success: function (data) {
                    $('#preguntaingles').show();
                    $('#preguntaingles').val(data["Text"]);
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#preguntaingles').val(data["No hay texto a traducir."]);
                },
                beforeSend: function () {
                    $('#preguntaingles').val("Traduciendo....")
                }

            });
        }
</script>

