﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.ConfigQuestionLevelViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey;
@{
    ViewBag.Title = SurveyResources.Niveles;
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Icon = "cog";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
<input type="hidden" name="@Html.NameFor(x => Model.maxNivel)" id="maxNivel" value="@Model.maxNivel" />
<div class="form-horizontal">
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-5">
                    <table class="table table-striped" id="Niveles">
                        <tr>
                            <th>@SurveyResources.Nivel</th>
                            <th>@SurveyResources.Descripcion</th>
                        </tr>
                        @Html.HiddenFor(x => x.IdPregunta)
                        <tr id="1">
                            <td>1</td>
                            <td>
                                @Html.DropDownListFor(x => x.Nivel1, new SelectList(Model.LstNiveles, "IdNivelSatisfaccion", "DescripcionEspanol"), new { @class = "form-control", @required = "true" })
                            </td>
                        </tr>
                        <tr id="2">
                            <td>2</td>
                            <td>
                                @Html.DropDownListFor(x => x.Nivel2, new SelectList(Model.LstNiveles, "IdNivelSatisfaccion", "DescripcionEspanol"), new { @class = "form-control", @required = "true", id = "nivelesSeleccionados[1]" })
                            </td>
                        </tr>
                        @{ var style3 = (Model.maxNivel >= 3 ? "" : "display:none");}
                        <tr id="3" style=@style3>
                            <td>3</td>
                            <td>
                                @Html.DropDownListFor(x => x.Nivel3, new SelectList(Model.LstNiveles, "IdNivelSatisfaccion", "DescripcionEspanol"), new { @class = "form-control", @required = "true" })
                            </td>
                        </tr>
                        @{ var style4 = (Model.maxNivel >= 4 ? "" : "display:none");}
                        <tr id="4" style=@style4>
                            <td>4</td>
                            <td>
                                @Html.DropDownListFor(x => x.Nivel4, new SelectList(Model.LstNiveles, "IdNivelSatisfaccion", "DescripcionEspanol"), new { @class = "form-control", @required = "true" })
                            </td>
                        </tr>
                        @{ var style5 = (Model.maxNivel >= 5 ? "" : "display:none"); }
                        <tr id="5" style=@style5>
                            <td>5</td>
                            <td>
                                @Html.DropDownListFor(x => x.Nivel5, new SelectList(Model.LstNiveles, "IdNivelSatisfaccion", "DescripcionEspanol"), new { @class = "form-control", @required = "true" })
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-1">
                <button type="button" class="button" onclick="DeleteRow()"><i class="fa fa-minus"></i></button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="button" onclick="AddRow()"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
</div>
<script>
    var max = @Model.maxNivel;

    function AddRow() {
        if (max < 5) {
            max = max + 1;
            document.getElementById(max).style.display = ''
            document.getElementById("maxNivel").value = max;
        }
    }
    function DeleteRow() {
        if (max > 2) {
            document.getElementById(max).style.display = 'none'
            max = max - 1;
            document.getElementById("maxNivel").value = max;
        }
    }
</script>
<style>
    .button {
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        padding: 8px 15px;
        border: none;
    }
</style>
