﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.DelegatedVirtualSurveyConfigurationViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey;

@{
    ViewBag.Icon = "fa fa-wrench";

    ViewBag.Title = SurveyResources.TituloConfiguracionEncuestaDelegado;
}


@section Breadcrumbs {
    <li><a href="@Url.Action("SurveyManagementEVD", "Survey")">@Html.Label(SurveyResources.EVDTitle)</a></li>
}


<div class="row" style="background:white;">
    <div class="nav-tabs-horizontal">
        <div class="tab-content padding-top-20">
            <div class="col-md-12">
                <div class="row">
                    <div>
                        <div class="panel panel-bordered">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-list-alt"></i> Preguntas </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <table class="table table-hover table-striped" id="table">
                                            <thead>
                                                <tr>
                                                    <td class="col-md-1">Orden</td>

                                                    <td class="col-md-6">Descripción</td>
                                                    <td class="col-md-2">Tipo Pregunta</td>
                                                    <td class="col-md-2"></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var pregunta in Model.LstPregunta)
                                                {
                                                   
                                                    <tr>
                                                        <td>@pregunta.Orden</td>

                                                        <td>@pregunta.DescripcionEspanol</td>
                                                        <td>@pregunta.TipoPregunta.DescripcionEspanol</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <!--a class="btn btn-default" @*@Url.ModalHelperFor("_AddOutcome", "Configuration", new { IdOutcomeEncuestaConfig = outcome.IdOutcomeEncuestaConfig, SubModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId, TipoEncuestaId = Model.TipoEncuesta, TipoOutcome = ConstantHelpers.ENCUESTA.COMPETENCIA_ESPECIFICA })*@><i class="fa fa-edit"></i> Editar</a>
                                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                                                                <a class="btn btn-default" @Url.ModalHelperFor("EditQuestion", "Register", new { IdPregunta = pregunta.IdPregunta }, ModalSize.Large) ><i class="fa fa-edit"></i> Editar</a>
                                                                <a class="btn btn-default" href="@Url.Action("DeleteQuestion", "Register", new{IdPregunta = pregunta.IdPregunta})" ><i class="fa fa-trash"></i> Eliminar</a>
                                                                <ul class="dropdown-menu">
                                                                    @*<li><a @Url.ModalHelperFor("_AttachOutcome", "Configuration", new { IdOutcomeEncuestaConfig = outcome.IdOutcomeEncuestaConfig, CicloId = Model.CicloId, TipoEncuestaNombre = ConstantHelpers.ENCUESTA.GRA })><i class="fa fa-random"></i> Vincular</a></li>
                                                                        <li role="separator" class="divider"></li>*@
                                                                    @*<li><a href="@Url.Action("DeleteOutcomeConfig", "Configuration", new { IdOutcomeEncuestaConfig = outcome.IdOutcomeEncuestaConfig, SubModalidadPeriodoAcademicoId = Model.SubModalidadPeriodoAcademicoId, TipoEncuestaNombre = ConstantHelpers.ENCUESTA.GRA})"><i class="fa fa-trash"></i> Borrar</a></li>*@
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                 
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary" @Url.ModalHelperFor("AddQuestion", "Register", new { IdEncuestaVirtualDelegado = Model.IdEncuestaVirtualDelegado }, ModalSize.Large)><i class="fa fa-plus"></i> @SurveyResources.AgregarPregunta</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="pull-right">
        <a href="@Url.Action("AddEVR", "Register")" class="btn btn-default"><i class="fa fa-arrow-left"></i> @SurveyResources.Atras</a>
    </div>
</div>
