﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.EditHallazgoRDViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey;
@{
    ViewBag.Title = "Editar Hallazgo";
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Icon = "tasks";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor(x=>x.HallazgoId)
<div class="form-horizontal">
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">Código</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.Codigo, new { @class = "desc form-control", @maxlength = "2000", @id = "descripcionespanol" , @readonly = "readonly" })
                    @Html.ValidationMessageFor(x => x.Codigo)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-sm-3 control-label">@SurveyResources.Descripcion</label>
                <div class="col-sm-9">
                    @Html.TextAreaFor(x => x.DescripcionHallazgo, new { @class = "desc form-control", @maxlength = "2000", @id = "descripcionespanol" })
                    @Html.ValidationMessageFor(x => x.DescripcionHallazgo)
                </div>
            </div>
        </div><br />
      
    </div>
</div>
<style>
    button.tradButton {
        color: white;
        background-color: #ED1B24;
        border-style: hidden;
        border-radius: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 1em;
        padding-right: 1em;
    }
</style>

<script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>

<script>
 window.onunload = window.opener.location.reload(true);      

</script>
