﻿<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.ListFindOutcomeSurveyFDCViewModel
@{
    ViewBag.Title = "Listado de Outcomes relacionados a los cursos";
    ViewBag.Icon = "list-alt";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    var i = 1;
    var nivelAceptacionLabel = "";
}

@section Breadcrumbs{
    <li><a href="@Url.Action("MantenimientoEncuestaFDC", "Maintenance")">Mantenimiento Encuestas Fin de Ciclo</a></li>
}

@if (Model.lstOutcomesHallazgos.Count() == 0)
{
    <div class="card-body card-padding">
        <div class="alert alert-dismissible dark alert-warning" role="alert"><i class="icon wb-alert"></i>&nbsp;<button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>No existen outcomes para registrar hallazgos.</div>
    </div>
}
<div class="row" style="background:white;">
    <form method="post" class="col-md-12">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-binoculars"></i> Filtros</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div>
                        <div class="col-md-1"><label class="label-survey">Ciclo</label></div>
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.IdCiclo, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"),
                    language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new { @class = "form-control select2-select" })
                        </div>
                    </div>
                    <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i> Buscar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<br />

@if (Model.lstOutcomesHallazgos.Count() > 0)
{
    <div class="row" style="background:white;">
        <div class="nav-tabs-horizontal">
            <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                @foreach (var item in Model.LstCarrera)
                {
                    <li class="@( i == 1 ? "active":"")" role="presentation"><a data-toggle="tab" href="#@item.Codigo" aria-controls="@item.Codigo" role="tab">@item.Codigo</a></li>
                    i++;
                }
                <li class="dropdown" role="presentation" style="display: none;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <span class="caret"></span>Menu
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var item in Model.LstCarrera)
                        {
                            i = 1;
                            <li role="presentation"><a data-toggle="tab" href="#@item.Codigo" aria-controls="@item.Codigo" role="tab">@item.Codigo</a></li>
                        }
                    </ul>
                </li>
            </ul>
            <div class="tab-content padding-top-20">
                @foreach (var item in Model.LstCarrera)
                {
                    <div class="tab-pane @(i == 1 ? "active" : "")" id="@item.Codigo" role="tabpanel">
                        <div class="col-md-12">
                            <div class="row">
                                <div>
                                    <div class="panel panel-bordered">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><i class="fa fa-list-alt"></i> Outcomes</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="form-group">
                                                    @*@Html.HiddenFor(x => x.IdPeriodoAcademico)*@
                                                    <table class="table table-hover table-striped" id="table">
                                                        <thead>
                                                            <tr>
                                                                <td class="col-md-1">Nombre</td>
                                                                <td class="col-md-6">Descripción</td>
                                                                <td class="col-md-1">Promedio</td>
                                                                <td class="col-md-2">Nivel de Aceptación</td>
                                                                <td class="col-md-2">Opciones</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var outcome in Model.lstOutcomesHallazgos.Where(x => x.IdCarrera == item.IdCarrera))
                                                            {
                                                                var u = 1;
                                                                <tr>
                                                                    <td><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>@outcome.Nombre</strong></td>
                                                                    <td>@outcome.DescripcionEspanol</td>
                                                                    <td>@outcome.Promedio.Value.ToString("F3")</td>
                                                                    @if (outcome.NivelAceptacion.ToUpper().Contains(ConstantHelpers.PROFESSOR.ACTAS.HALLAZGOS.NIVELES_DE_ACEPTACION.NECESITA_MEJORA.TEXTO.ToUpper()))
                                                                    {
                                                                        nivelAceptacionLabel = "danger";
                                                                    }
                                                                    else
                                                                    {
                                                                        if (outcome.NivelAceptacion.ToUpper().Contains(ConstantHelpers.PROFESSOR.ACTAS.HALLAZGOS.NIVELES_DE_ACEPTACION.ESPERADO.TEXTO.ToUpper()))
                                                                        {
                                                                            nivelAceptacionLabel = "warning";
                                                                        }
                                                                        else
                                                                        {
                                                                            if (outcome.NivelAceptacion.ToUpper().Contains(ConstantHelpers.PROFESSOR.ACTAS.HALLAZGOS.NIVELES_DE_ACEPTACION.SOBRESALIENTE.TEXTO.ToUpper()))
                                                                            {
                                                                                nivelAceptacionLabel = "success";
                                                                            }
                                                                        }
                                                                    }
                                                                    <td class=""><span class="label label-@nivelAceptacionLabel">@outcome.NivelAceptacion</span></td>
                                                                    @{Int32 hallazgoEncontrado = 0; }
                                                                    @foreach (var hallazgo in Model.lstHallazgosEncontrados)
                                                                    {   
                                                                        if (hallazgo.IdOutcome == outcome.IdOutcome && hallazgo.IdCarrera == outcome.IdCarrera && hallazgo.IdPeriodoAcademico == Model.IdCiclo && u == 1)
                                                                        {
                                                                            <td>
                                                                                <a class="btn btn-primary" href="@Url.Action("AddEditFindOutcomeSurveyFDC", "Register", new { IdOutcome = outcome.IdOutcome, IdCarrera = outcome.IdCarrera, NivelAceptacion = outcome.NivelAceptacion, IdPeriodoAcademico = hallazgo.IdPeriodoAcademico, IdHallazgo = hallazgo.IdHallazgo })"><i class="fa fa-sign-in"></i> Ver Hallazgo</a>
                                                                                <a class="btn btn-default" href="@Url.Action("DeleteFindOutcomeSurveyFDC", "Register", new { IdHallazgo = hallazgo.IdHallazgo })"><i class="fa fa-trash"></i> Eliminar</a>
                                                                            </td>

                                                                            hallazgoEncontrado++;
                                                                            u++;
                                                                        }
                                                                    }
                                                                    @if (hallazgoEncontrado == 0)
                                                                    {
                                                                        <td><a id="btn-registrar-hallazgo" class="hallazgo btn btn-primary" href="@Url.Action("AddEditFindOutcomeSurveyFDC", "Register", new { IdOutcome = outcome.IdOutcome, IdCarrera = outcome.IdCarrera, NivelAceptacion = outcome.NivelAceptacion, IdPeriodoAcademico = Model.IdCiclo})"><i class="fa fa-sign-in"></i> Registrar Hallazgo</a></td>
                                                                    }
                                                                </tr>
                                                                }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    i++;
                }
            </div>
        </div>
    </div>
    }

@*<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        $('.hallazgo').each(function () {
            var urlbtn = $(this).attr('href');
            $(this).attr('href', urlbtn + '&IdPeriodoAcademico=' + '@Model.IdCiclo');
        });


        $("#IdPeriodoAcademico").val($("#IdCiclo").val());

        $("#IdCiclo").change(function () {
            var value = $("#IdCiclo").val();
            $("#IdPeriodoAcademico").val(value);

            
            
        });
    });
</script>*@