﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.LstHallazgosGRAViewModel
@{
    ViewBag.Title = "Hallazgos Graduando";
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementGRA", "Survey")">@AddEditFDCResource.KeyWordsEncuestaGraduando</a></li>
    @if (Model.opcion_rastro == 1) { 
    <li><a href="@Url.Action("MantenimientoEncuestaVirtualGRA","Maintenance")">@OptionsResource.MantenimientoTitulo @AddEditFDCResource.KeyWordsEncuestaGraduandoVirtual</a></li>}
    else { 
     <li><a href="@Url.Action("MantenimientoEncuestaGRA","Maintenance")">@OptionsResource.MantenimientoTitulo @AddEditFDCResource.KeyWordsEncuestaGraduando</a></li>
    }
}

<form method="post" id="hallazgosGRA">
    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-filter"></i> @(language == ConstantHelpers.CULTURE.ESPANOL ? "Filtros" : "Filters") </h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Periodo" : "*Period")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.IdPeriodoAcademico, new SelectList(Model.LstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                                        , new
                                        {
                                            @class = "form-control select2-select",
                                            @data_plugin = "select2",
                                            @data_update_target = "#IdNivelAceptacionEncuesta",
                                            @data_filter = "IdPeriodoAcademico",
                                            @data_source_url = Url.Action("GetNivelesGRAByPeriodo", "Json"),
                                            @required = true
                                        })
                                        @Html.ValidationMessageFor(x => x.IdPeriodoAcademico)
                                    </div>
                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Carrera" : "*Career")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.IdCarrera, new SelectList(Model.LstCarrera, "IdCarrera", "NombreEspanol"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]", new
                                   {
                                       @class = "form-control select2-select",
                                       @required = true,
                                       @data_update_target = "#IdComision",
                                       @data_source_url = Url.Action("GetComisionByCarrera", "Json"),
                                       @data_filter = "IdCarrera",
                                       @data_plugin = "select2",
        
                                   })
                                        @Html.ValidationMessageFor(x => x.IdCarrera)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Comisión" : "*Commission")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.IdComision, new SelectList(Model.LstComision, "IdComision", "Codigo"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                                        , new
                                        {
                                            @class = "form-control select2-select",
                                            @required = true,
                                            @data_text_member = "Codigo",
                                            @data_value_member = "IdComision",
                                            @disabled = "disabled"
                                        })
                                        @Html.ValidationMessageFor(x => x.IdComision)
                                    </div>
                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Nivel Aceptación" : "*Level of Acceptance")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.IdNivelAceptacionEncuesta, new SelectList(Model.LstNivelAceptacion, "IdNivelAceptacionEncuesta", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
                                        , new
                                        {
                                            @class = "form-control select2-select",
                                            @required = true,
                                            @data_text_member = "NombreEspanol",
                                            @data_value_member = "IdNivelAceptacionEncuesta"
                                        })
                                        @Html.ValidationMessageFor(x => x.IdNivelAceptacionEncuesta)
                                    </div>
                                </div>
                                <br />
                                <div class="pull-right">
                                    <a class="btn btn-default" href="@Url.Action("LstHallazgosGRA","Register")"><i class="fa fa-eraser"></i></a>
                                    <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i> @(language == ConstantHelpers.CULTURE.ESPANOL ? "Buscar" : "Search")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row" style="display:none" id="verReporte">
    <div class="panel-group">
        <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">
                    <a class="panel-title collapsed" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOne2" id="reporte">
                        <h4><i class="fa fa-tasks"></i> Outcomes</h4>
                    </a>
                </div>
                <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="true">
                    <div class="panel-body">
                        @if (Model.DicPuntajePromedioOutome.Count > 0)
                        {
                            <div class="text-center">
                                @if (String.IsNullOrEmpty(Model.NombreNivel) == false)
                                {
                                    <h2 style="color:@Model.NivelColor">Nivel Aceptación: @Model.NombreNivel [@Model.NivelMinimo - @Model.NivelMaximo @(Model.NivelColor == "Green" ? "]" : ">")</h2>
                                }
                            </div>
                            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <a class="btn btn-warning" @Url.ModalHelperFor("_AddEditHallazgoGRA", "Register",new { IdPeriodoAcademico = Model.IdPeriodoAcademico, IdCarrera = Model.IdCarrera, IdNivelAceptacionHallazgo = Model.IdNivelAceptacionEncuesta, IdComision = Model.IdComision, IdNumeroPractica = Model.IdNumeroPractica },ModalSize.Large)><i class="fa fa-plus"></i> Registrar Hallazgo</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="text-center">
                                <h2>No existen outcomes para el nivel de aceptación: <div style="color:@Model.NivelColor">@Model.NombreNivel [@Model.NivelMinimo - @Model.NivelMaximo @(Model.NivelColor == "Green" ? "]" : ">")</div></h2>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="display:@(Model.LstHallazgos.Count > 0 ? "display":"none")">
    <div class="panel-group">
        <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">
                    <a class="panel-title collapsed" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOne2" id="reporte">
                        <h4><i class="fa fa-bar-chart"></i> Hallazgos</h4>
                    </a>
                </div>
                <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="true">
                    <div class="panel-body">
                        <table class="table table-hover table-striped" id="table">
                            <thead>
                                <tr style="background-color: #FF1901;">
                                    <th class="text-center" style="color:white;">Nivel Aceptación</th>
                                    <th class="text-center" style="color:white;">Criticidad</th>
                                    <th class="text-center" style="color:white;">Código</th>
                                    <th class="text-center" style="color:white;">Outcome</th>
                                    <th class="text-center" style="color:white;">Comisión</th>
                                    <th class="text-center" style="color:white;">Descripción</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="encuestas">
                                @foreach (var item in Model.LstHallazgos)
                                {
                                    <tr @if (item.IdCriticidad == 1) { @Html.Raw(" style=\" color: red;\" ")   }>
                                        <td class="text-center"><span class="badge badge-danger" style="color:@(item.NivelAceptacionHallazgo.Color);background-color:@(item.NivelAceptacionHallazgo.Color);">6</span> @(language == ConstantHelpers.CULTURE.ESPANOL ? item.NivelAceptacionHallazgo.NombreEspanol : item.NivelAceptacionHallazgo.NombreIngles)</td>
                                        <td class="text-center">@item.Criticidad.NombreEspanol</td>
                                        <td class="text-center">@item.Codigo</td>
                                        <td class="text-center">@item.OutcomeComision.Outcome.Nombre</td>
                                        <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.OutcomeComision.Comision.NombreEspanol.ToUpper() : item.OutcomeComision.Comision.NombreIngles.ToUpper())</td>
                                        <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>
                                        <td class="text-center">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                    @AddEditFDCResource.ButtonsOptionsSurveyOpciones
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                    <li role="presentation"><a @Url.ModalHelperFor("_AddEditHallazgoGRA", "Register", new {HallazgoId = item.IdHallazgo, IdPeriodoAcademico = Model.IdPeriodoAcademico, IdCarrera = Model.IdCarrera, IdNivelAceptacionHallazgo = Model.IdNivelAceptacionEncuesta, IdComision = Model.IdComision, IdCriticidad = item.IdCriticidad, IdNumeroPractica = Model.IdNumeroPractica }, ModalSize.Large) role="menuitem"><i class="fa fa-edit"></i> @AddEditFDCResource.ButtonsOptionsSurveyEditar</a></li>
                                                    <li role="presentation"><a class="delete" @Url.ModalHelperFor("_ConfirmacionDeleteHallazgoGRA", "Register", new { HallazgoId = item.IdHallazgo , IdNivelAceptacionHallazgo = Model.IdNivelAceptacionEncuesta }) role="menuitem"><i class="fa fa-trash"></i> @AddEditFDCResource.ButtonsOptionsSurveyEliminar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            @if (!Model.Search)
            { 
                @:$('#IdPeriodoAcademico').val('').trigger('change')
            }
            $('#IdPeriodoAcademico').on('change', function () {
                    $('#IdCarrera').val('').trigger('change')
                    $('#IdComision').val('').trigger('change').attr('disabled', 'disabled');
                });
            @if (Model.Search) {
                 <text>
            $('#IdComision').removeAttr('disabled');
            $(function () {
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Puntaje Promedio de Outcomes'
                    },
                    xAxis: {
                        categories: [
                            @for(var i = 0; i < Model.LstOutcome.Count; i++)
                             {
                                if(i != Model.LstOutcome.Count - 1)
                                {
                                     @:'@Model.LstOutcome[i]',
                                }
                                else
                                {
                                     @:'@Model.LstOutcome[i]'
                                }
                            }
                        ],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Puntaje Promedio'
                        },
                        pointFormat: '.2f'
                    },
                    tooltip: {
                        headerFormat: '<span style=""><b>Outcome {point.key}</b></span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [                    
                        {
                        name: 'OUTCOMES',
                        data: [
                            @foreach (var item in Model.LstOutcome)
                            {
                                @Model.DicPuntajePromedioOutome[item]
                                @:,
                            }
                        ]
                        }]
            });
            });
            $('#verReporte').show();
        </text>
             }



        $(document).on('change', '[data-plugin="select2"]', function (e) {
            // Valor seleccionado
            var selectedId = $(this).val();

            if (selectedId != "") {
                // Nombre del parámetro de filtro
                var dataFilter = $(this).attr('data-filter');

                // Url de datos json
                var sourceUrl = $(this).attr('data-source-url');

                // Select a actualizar
                var updateTarget = $(this).attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
                postData['IdPeriodoAcademico'] = $('#IdPeriodoAcademico').val();
                var $updateTarget = $(updateTarget);
                $updateTarget.attr('disabled', 'disabled')
                $updateTarget.find('option[value!=""]').remove();

                $.ajax({
                    type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        var $updateTarget = $(updateTarget);
                        var valueMember = $updateTarget.attr('data-value-member')
                        var textMember = $updateTarget.attr('data-text-member')
                        for (i = 0; i < data.length; i++) {
                            $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                        }
                        $updateTarget.removeAttr('disabled');
                        $updateTarget.trigger('change');
                    },
                    beforeSend: function () {

                    },
                    complete: function () {

                    }
                });
            }
        });
        });
    </script>
}