﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.LstHallazgosIRDViewModel
@{

    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

    ViewBag.Title = (language == ConstantHelpers.CULTURE.ESPANOL ? "*Hallazgos Informe de reunión de delegados" : "*Delegates Meeting Report");

    String BreadCrumbString = "Informe de Reunion de Delegados";
}

@section Breadcrumbs{
    <li><a href="@Url.Action("SurveyManagementIRD","Survey")">@BreadCrumbString</a></li>
}


<script>

    function alertaCursoGenerar() {

        if (document.getElementById("selectCurso").value)
            document.getElementById("cursoalerta").innerHTML = "";
        else {
           $('.field-validation-error').each(function () {
                $(this).html("");
            })
            document.getElementById("cursoalerta").innerHTML = "@(language == ConstantHelpers.CULTURE.ESPANOL ? "Es requerido este campo" : "This field is required")";


        }


    }

    function alertaCursoOcultar() {

            document.getElementById("cursoalerta").innerHTML = "";


    }


    function alertaRegistrarSinBusqueda() {

        document.getElementById("registraralerta").innerHTML = "@(language == ConstantHelpers.CULTURE.ESPANOL ? "Tienes que hacer una busqueda primero" : "Do a search first")";


    }


</script>

<form method="post" id="hallazgosPPP" onsubmit="alertaCursoOcultar()">
    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-filter"></i> @(language == ConstantHelpers.CULTURE.ESPANOL ? "Filtros" : "Filters") </h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Periodo" : "*Period")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.IdPeriodoAcademico, new SelectList(Model.LstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
      , new
      {
          @class = "form-control select2-select",
          @data_plugin = "select2",
          @data_update_target = "#IdNivelAceptacionEncuesta",
          @data_filter = "IdPeriodoAcademico",
          @disabled = true
          // @data_source_url = Url.Action("GetNivelesPPPByPeriodo", "Json"),
          //@required = true
      })
                                        @Html.ValidationMessageFor(x => x.IdPeriodoAcademico)
                                    </div>

                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Curso" : "*Course")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.IdCurso, new SelectList(Model.LstCurso, "IdCurso", (language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles")), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
     , new
     {
         @class = "form-control select2-select",
         @required = true,
         // @data_text_member = "Codigo",
         // @data_value_member = "IdComision",
         // @disabled = "disabled"
         @data_source_url = Url.Action("GetOutcomeByCurso", "Json"),
         @data_update_target = "#IdOutcome",
         @data_filter = "IdCurso",
         @id = "selectCurso",
         @data_plugin = "select2Curso"
     })
                                        @Html.ValidationMessageFor(x => x.IdCurso)
                                        <p id="cursoalerta" style="color: red;"></p>
                                    </div>


                                </div>


                                <div class="row">


                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Outcome" : "*Outcome")</label></div>
                                    <div class="col-md-4">


                                        @Html.DropDownListFor(x => x.IdOutcome, new SelectList(Model.LstOutcome, "IdOutcome", (language == ConstantHelpers.CULTURE.ESPANOL ? "Nombre" : "NombreIngles")), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
, new
{
    @class = "form-control select2-select",
    @required = true,
    @data_text_member = (language == ConstantHelpers.CULTURE.ESPANOL ? "Nombre" : "NombreIngles"),
    @data_value_member = "IdOutcome",
    @data_plugin = "select2outcome",
    @data_update_target = "#IdNivelAceptacionHallazgo",
    @disabled = true

})
                                        @Html.ValidationMessageFor(x => x.IdOutcome)
                                    </div>

                                    <div class="col-md-2"><label class="label-survey">@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Sede" : "*Campus")</label></div>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(x => x.IdSede, new SelectList(Model.LstSede, "IdSede", "Nombre"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Seleccione -]" : "[- Select -]"
     , new
     {
         @class = "form-control select2-select",
         @required = true,
         @data_text_member = "Nombre",
         @data_value_member = "IdSede"
         //@data_plugin = "select2outcome",
         // @data_update_target = "#IdNivelAceptacionHallazgo",
         // @disabled = true

     })
                                        @Html.ValidationMessageFor(x => x.IdSede)
                                    </div>
                                </div>




                                <br />
                                <div class="pull-right">
                                    <a class="btn btn-warning" id="BtnGenerar" onclick="alertaCursoGenerar()"><i class="fa fa-file-pdf-o"></i> @(language == ConstantHelpers.CULTURE.ESPANOL ? "Generar Informe por Outcome" : "Generate Outcome report")</a>
                                    <a class="btn btn-default" href="@Url.Action("LstHallazgosIRD", "Register")"><i class="fa fa-eraser"></i></a>
                                    <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i> @(language == ConstantHelpers.CULTURE.ESPANOL ? "Buscar" : "Search")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="row">
    <div class="panel-group">
        <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">

                    <a class="panel-title collapsed" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOne2" id="reporte">
                        <h4><i class="fa fa-tasks"></i>@(language == ConstantHelpers.CULTURE.ESPANOL ? "Hallazgos" : "*Findings"); </h4>
                    </a>
                </div>


                <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="true">


                    <div class="panel-body">

                        <div class="row">
                            <div class="pull-right">
                                <a style="display:@(Model.Search.HasValue==false ? Html.Raw("none") : Html.Raw("visible")  )" class="btn btn-warning" @Url.ModalHelperFor("_AddEditHallazgoIRD", "Register", new { IdPeriodoAcademico = Model.IdPeriodoAcademico, IdCurso = Model.IdCurso, IdOutcome = Model.IdOutcome, IdSede = Model.IdSede }, ModalSize.Large)><i class="fa fa-plus"></i> @(language == ConstantHelpers.CULTURE.ESPANOL ? "Registrar Hallazgo" : "Register New Finding")</a>

                                <a style="display:@(Model.Search.HasValue==false ? Html.Raw("visible") : Html.Raw("none")  )" onclick="alertaRegistrarSinBusqueda()" class="btn btn-warning"><i class="fa fa-plus"></i> @(language == ConstantHelpers.CULTURE.ESPANOL ? "Registrar Hallazgo" : "Register New Finding")</a>
                                <p id="registraralerta" style="color: red;"></p>

                            </div>
                            <h3>&nbsp;</h3>
                            <table class="table table-hover table-striped" id="table">
                                <thead>
                                    <tr style="background-color: #FF1901;">
                                        <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Criticidad" : "Criticality")</th>
                                        <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Nivel Aceptación" : "Level of Acceptance")</th>
                                        <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Código" : "Code")</th>
                                        <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Curso" : "Course")</th>
                                        <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Acreditadora" : "Accrediting")</th>
                                        <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Comisión" : "Commission")</th>
                                        <th class="text-center" style="color:white;">Outcome</th>

                                        <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Sede" : "Campus")</th>
                                        <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Descripción" : "Description")</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="encuestas">
                                    @foreach (var item in Model.LstHallazgo)
                                    {

                                        <tr @if (item.IdCriticidad == 1) { @Html.Raw(" style=\" color: red;\" ")   }>
                                            <td class="text-center">@item.Criticidad.NombreEspanol</td>
                                            <td class="text-center"><span class="badge badge-danger" style="color:@(item.NivelAceptacionHallazgo.Color);background-color:@(item.NivelAceptacionHallazgo.Color);">6</span> @(language == ConstantHelpers.CULTURE.ESPANOL ? item.NivelAceptacionHallazgo.NombreEspanol : item.NivelAceptacionHallazgo.NombreIngles)</td>
                                            <td class="text-center">@item.Codigo</td>
                                            <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.Curso.NombreEspanol.ToUpper() : item.Curso.NombreIngles.ToUpper()) </td>
                                            <td class="text-center">@item.Acreditadora.Nombre </td>
                                            <td class="text-center">@item.Comision.Codigo</td>

                                            <td class="text-center">@item.Outcome.Nombre</td>
                                            <td class="text-center">@item.Sede.Nombre</td>

                                            <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>

                                            <td class="text-center">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                        @AddEditFDCResource.MaintenanceSurveyPPPOpciones
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                        <li role="presentation"><a href="@Url.Action("AddEditFindHallazgoIRD", "Register", new { IdHallazgo = @item.IdHallazgo })" role="menuitem"><i class="fa fa-edit"></i> @AddEditFDCResource.MaintenanceSurveyPPPEditar</a></li>
                                                        <li role="presentation"><a class="delete" href="#" @Url.ModalHelperFor("_ConfirmacionDeleteHallazgoIRD", "Register", new { HallazgoID = item.IdHallazgo }) role="menuitem"><i class="fa fa-trash"></i> @AddEditFDCResource.MaintenanceSurveyPPPEliminar</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @Html.PagedListPager(Model.LstHallazgo, page => Url.Action("LstHallazgosIRD", new { numeroPagina = page, IdCiclo = Model.IdPeriodoAcademico, IdAcreditadora = Model.IdAcreditadora, IdCurso = Model.IdCurso, IdComision = Model.IdComision }), ConstantHelpers.TwitterBootstrapPagerAligned)


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>











@section scripts {
    <script>

        // var busqueda=0;

      //  data-toggle="modal" data-target="#myModal"

        if ('@Model.Search' == 'True')
        {
            $('#IdComision').removeAttr('disabled');
            $('#IdOutcome').removeAttr('disabled');
            $('#IdAcreditadora').removeAttr('disabled');
            // busqueda = 1;
            document.getElementById("BtnGenerar").href = "@Url.Action("PrintPlanAccion", "Register")" + "?CursoID=" + (document.getElementById("selectCurso").value);
        }




        $(document).on('change', '[data-plugin="select2Curso"]', function (e) {

            // Valor seleccionado
            var selectedId = $(this).val();




            if (selectedId != "") {
               // document.getElementById("BtnGenerar").disabled = false;

                document.getElementById("BtnGenerar").href = "@Url.Action("PrintPlanAccion", "Register")" + "?CursoID=" + selectedId;

                // Nombre del parámetro de filtro
                var dataFilter = $(this).attr('data-filter');

                // Url de datos json
                var sourceUrl = $(this).attr('data-source-url');

                // Select a actualizar
                var updateTarget = $(this).attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
               // postData['IdCurso'] = $('#IdCurso').val();
                var $updateTarget = $(updateTarget);
                $updateTarget.removeAttr('disabled');


                $.ajax({
                    type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        //console.log(data);
                        var $updateTarget = $(updateTarget);
                        var valueMember = $updateTarget.attr('data-value-member')
                        var textMember = $updateTarget.attr('data-text-member')
                        console.log(valueMember + " " + textMember + " " + data.length);
                        //console.log();
                        $updateTarget.empty();

                        for (i = 0; i < data.length; i++) {
                            // $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                            $updateTarget.append($("<option></option>").attr("value", data[i][valueMember]).text(data[i][textMember]));
                        }





                        for (i = 0; i < data.length; i++) {
                            // $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                            console.log($updateTarget.attr('data-plugin') + " " + textMember + " " + data[i][valueMember]);
                        }
                        $updateTarget.removeAttr('disabled');
                        $updateTarget.trigger('change');
                    },
                    beforeSend: function () {
                         $.LoadingOverlay("show");
                    },
                    complete: function () {
                        $.LoadingOverlay("hide");
                    }
                });

            }
            else
            {
                document.getElementById("BtnGenerar").removeAttribute("href")
                //.getElementById("").disabled = true;
                //document.getElementById("BtnGenerar").disabled = true;


            }
        });


        $(document).on('change', '[data-plugin="select2outcome"]', function (e) {

            // Valor seleccionado
            var selectedId = $(this).val();


            if (selectedId != "") {
                // Nombre del parámetro de filtro
                var dataFilter = $(this).attr('data-filter');

                // Url de datos json
                var sourceUrl = $(this).attr('data-source-url');

                // Select a actualizar
                var updateTarget = $(this).attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
                postData['IdPeriodoAcademico'] = $('#IdPeriodoAcademico').val();
                var $updateTarget = $(updateTarget);
                $updateTarget.removeAttr('disabled');


            }
        });

    </script>
}
