﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Register.NivelesSatisfaccionViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Survey;

@{
    ViewBag.Icon = "fa fa-tasks";
    ViewBag.Title = @SurveyResources.NivelesSatisfaccion;
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


<!--@section Breadcrumbs {
    <li><a href="@Url.Action("ConfiguracionPlantillaEncuesta", "Configuration")">@Html.Label(SurveyResources.EVDTitle)</a></li>
 } --> 

<div class="row" style="background:white;">
    <div class="nav-tabs-horizontal">
        <div class="tab-content padding-top-20">
            <div class="col-md-12">
                <div class="row">
                    <div>
                        <div class="panel panel-bordered">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-list-alt"></i> @SurveyResources.Niveles </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <table class="table table-hover table-striped" id="table">
                                            <thead>
                                                <tr>
                                                    <td class="col-md-1">@SurveyResources.Orden</td>
                                                    <td class="col-md-4">@SurveyResources.DescripcionEspañol</td>
                                                    <td class="col-md-4">@SurveyResources.DescripcionIngles</td>
                                                    <td class="col-md-1">@SurveyResources.HallazgoAutomatico</td>
                                                    <td class="col-md-2"></td>
                                                </tr>
                                            </thead>
                                            @{ var i = 1;}
                                            <tbody>
                                                @foreach (List<String> nivel in Model.lstNiveles)
                                                {
                                                <tr>
                                                    <td>@i</td>
                                                    <td>@nivel[1]</td>
                                                    <td>@nivel[2]</td>

                                                    @if (nivel[3] == "False")
                                                    {
                                                        <td>@SurveyResources.No</td>
                                                    }
                                                    else

                                                    {
                                                        <td>@SurveyResources.Si</td>
                                                    }

                                                    <td>
                                                        <div class="btn-group">
                                                            <a class="btn btn-default" @Url.ModalHelperFor("AddEditNivelS", "Register", new { IdNivelSatisfaccion = Convert.ToInt32(nivel[0]) }, ModalSize.Large)><i class="fa fa-edit"></i> @SurveyResources.Editar</a>
                                                            @if (nivel[4] == "N")
                                                            {
                                                                <a class="btn btn-default disabled"><i class="fa fa-trash"></i> Eliminar</a>
                                                            }
                                                            else
                                                            {
                                                                <a class="btn btn-default" href="@Url.Action("DeleteNivelS", "Register", new{ IdNivelSatisfaccion = Convert.ToInt32(nivel[0])})"><i class="fa fa-trash"></i> @SurveyResources.Eliminar</a>
                                                            }
                                                        </div>
                                                    </td>
                                                </tr>
                                                    i++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary" @Url.ModalHelperFor("AddEditNivelS", "Register", ModalSize.Large)><i class="fa fa-plus"></i> @SurveyResources.Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
    </div>
</div>

<div class="row">
    <div class="pull-right">
        <a href="@Url.Action("ConfiguracionPlantillaEncuesta", "Configuration")" class="btn btn-default"><i class="fa fa-arrow-left"></i> @SurveyResources.Atras</a>
    </div>
</div>
