﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Meeting
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.EmployerVM
@{
    //Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Icon = "sticky-note";
    ViewBag.Form = true;
    ViewBag.IsGet = "True";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    ViewBag.Title = _AddEditEmployerResource.Titulo;
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

}
@using (Html.BeginForm("AddViewEmployer", "Meeting", FormMethod.Get,new { enctype = "multipart/form-data" }))
{
<div class="form-horizontal">
        <div class="row">

            <div class="panel-body">
                @Html.HiddenFor(x => x.idACC)
                @Html.HiddenFor(x => x.userACC)
                @Html.HiddenFor(x => x.FechaACC)
                <div class="">
                    <label class="col-md-4">@_AddEditEmployerResource.Nombres </label>
                    <label class="col-md-4">@_AddEditEmployerResource.Apellidos </label>
                    <label class="col-md-4">@_AddEditEmployerResource.DNI </label>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @required = "true", @id = "nombreEmployer", @placeholder = "Nombre" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.Apellido, new { @class = "form-control", @required = "true", @id = "apellidoEmployer", @placeholder = "Apellido" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.DNI, new { @class = "form-control", @required = "true", @id = "dniEmployer", @placeholder = "DNI" })
                    </div>
                </div>
                @*<div class="form-group">
                   
                </div>*@
            </div>
        </div>
        <div class="row">
            <div class="panel-body">
                <div class="">
                    <label class="col-md-4 ">@DetailResource.Cargo</label>
                    <label class="col-md-4 ">@DetailResource.Empresa</label>
                    <label class="col-md-4 ">@_AddEditEmployerResource.Telefono</label>                   
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.Cargo, new { @class = "form-control", @required = "true", @id = "cargoEmployer", @placeholder = "Cargo" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.Empresa, new { @class = "form-control", @required = "true", @id = "empresaEmployer", @placeholder = "Empresa" })
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control", @id = "telefonoEmployer", @placeholder = "Teléfono", @type = "number", @min = "0" })
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="panel-body">
                <div class="">
                    <label class="col-md-4">@_AddEditEmployerResource.RUC</label>
                    <label class="col-md-8 ">@_AddEditEmployerResource.NdeEmpleados</label>                    
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.RUC, new { @class = "form-control", @id = "rucEmployer", @placeholder = "RUC" })
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(x => x.N_Empleados, (List<SelectListItem>)ViewBag.Employers, _AddEditEmployerResource.SeleccioneNumeroDeEmpleados, new { @class = "form-control", @required = "true", @id = "NEmpleadosEmployer" })
                    </div>
                </div>


            </div>
        </div>
    <input type="submit" name="btnAceptar" id="btnAceptar" value="@_AddEditEmployerResource.Aceptar" />
   </div>
}
<script>
    //$("#btnAceptar").on("click", function () {

    //})

</script>