﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Meeting

@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting._AssignStateViewModel
@{ 
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Title = _AssignStateResource.Titulo;
    ViewBag.Icon = "bell";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    ViewBag.Culture = System.Threading.Thread.CurrentThread.CurrentUICulture.ToString();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@Html.HiddenFor(x => x.IdReunion)
<div class="row">
    <div class="form-group">
        <label class="col-sm-3 col-md-3">
            @DetailResource.Fecha
        </label>
        <div class="col-sm-9 col-md-9">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="icon wb-calendar" aria-hidden="true"></i>
                </span>
                @Html.TextBoxFor(m => m.FechaProgramacion, new { @class = "form-control", type="date" })
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="form-group">
        <label class="col-sm-3 col-md-3">
            @DetailResource.Hora
        </label>
        <div class="col-sm-9 col-md-9">
            <div class="input-daterange">
                <div class="input-group clockpicker">
                    <span class="input-group-addon">
                        <i class="icon wb-time" aria-hidden="true"></i>
                    </span>
                    @Html.TextBoxFor(m => m.HoraInicio, "{0:HH:mm}", new Dictionary<string, object> { { "class", "form-control" }, { "type", "time" } })
                </div>
                <div class="input-group clockpicker">
                    <span class="input-group-addon">to</span>
                    @Html.TextBoxFor(m => m.HoraFin, "{0:HH:mm}", new Dictionary<string, object> { { "class", "form-control" }, { "type", "time" } })
                </div>
            </div>
        </div>
    </div>
</div>