﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Meeting
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingCommitte

@model  UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.AddEditMeetingPreScheduleViewModel
@{
    ViewBag.Title = AddEditMeetingPreScheduleResource.Titulo;
    ViewBag.Icon = "clipboard";
    ViewBag.Culture = System.Threading.Thread.CurrentThread.CurrentUICulture.ToString();
}


@section Styles{
    <link href="@Url.Content("~/Content/vendor/clockpicker/clockpicker.min.css")" rel="stylesheet" />
    <style>
        input[type=checkbox] {
            /* All browsers except webkit*/
            transform: scale(1.5);
            /* Webkit browsers*/
            -webkit-transform: scale(1.5);
        }

        .colorError {
            border-color: red;
        }
    </style>
}

@section Breadcrumbs {
    <li><a href="@Url.Action("IndexPreSchedule", "Meeting", new { Area = ConstantHelpers.AREAS.MEETING })">@AddEditMeetingPreScheduleResource.ConsultarReunionesDePreAgenda</a></li>
}

<form method="post" action="@Url.Action("AddEditMPreSchedule", "Meeting")">
    @Html.HiddenFor(x => x.IdReunion)
    @Html.HiddenFor(x => x.IdPreAgenda)
    @Html.HiddenFor(x => x.lstTemas)
    @Html.HiddenFor(x => x.Editar)
    @Html.HiddenFor(x => x.lstExternos)
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="panel filters">
            <div class="panel-heading"><h3 class="panel-title"><i class="fa fa-check"></i> @AddEditMeetingPreScheduleResource.Titulo</h3><div class="panel-actions"><a aria-hidden="true" class="panel-action icon wb-minus" data-toggle="panel-collapse"></a></div></div>

            <div class="panel-body" style="text-align:center;">

                <div class="panel-group panel-group-continuous margin-0" id="exampleAccrodion1"
                     aria-multiselectable="true" role="tablist">
                    <!--INFORMACION GENERAL-->
                    <div class="panel">
                        <div class="panel-heading" id="exampleHeadingFirst" role="tab">
                            <a class="panel-title" data-parent="#exampleAccrodion1" data-toggle="collapse"
                               href="#exampleCollapseFirst" aria-controls="exampleCollapseFirst"
                               aria-expanded="false" style="text-align:left;">
                                <i class="md-palette"></i> @DetailResource.InformacionGeneral
                            </a>
                        </div>
                        <div class="panel-collapse collapse in" id="exampleCollapseFirst" aria-labelledby="exampleHeadingFirst"
                             role="tabpanel">
                            <div class="panel-body">
                                <div class="row form-horizontal">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 col-md-3">
                                                @DetailResource.Motivo
                                            </label>
                                            <div class="col-sm-9 col-md-9">
                                                @Html.TextBoxFor(m => m.Motivo, new Dictionary<string, object> { { "class", "maxlength-input form-control" }, { "maxlength", "50" }, { "placeholder", "" }, { "data-placement", "bottom-right-inside" }, { "data-plugin", "maxlength" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 col-md-3">
                                               @DetailResource.Sede
                                            </label>
                                            <div class="col-sm-9 col-md-9">
                                                @Html.DropDownListFor(m => Model.IdSede, new SelectList(Model.lstSede, "IdSede", "Nombre"), new
                                           {
                                               @class = "form-control select2-select",
                                               @data_plugin = "select2"
                                           })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 col-md-3">
                                                @AddEditMeetingPreScheduleResource.Frecuencia
                                            </label>
                                            <div class="col-sm-9 col-md-9">
                                                @Html.DropDownListFor(m => m.Frecuencia, new List<SelectListItem>()
                                                   {
                                                    new SelectListItem { Text=AddEditMeetingPreScheduleResource.NINGUNA, Value = "0"},
                                                    new SelectListItem { Text=AddEditMeetingPreScheduleResource.SEMANAL, Value = "7"},
                                                    new SelectListItem { Text=AddEditMeetingPreScheduleResource.QUINCENAL, Value = "15"},
                                                    new SelectListItem { Text=AddEditMeetingPreScheduleResource.MENSUAL, Value = "30"}
                                                   }
                                                   , new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-3 col-md-3">
                                                @DetailResource.Fecha
                                            </label>
                                            <div class="col-sm-9 col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="icon wb-calendar" aria-hidden="true"></i>
                                                    </span>
                                                    @Html.TextBoxFor(m => m.Fecha, "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 col-md-3">
                                                @DetailResource.Lugar
                                            </label>
                                            <div class="col-sm-9 col-md-9">
                                                @Html.TextBoxFor(m => m.Lugar, new Dictionary<string, object> { { "class", "maxlength-input form-control" }, { "maxlength", "50" }, { "placeholder", "" }, { "data-placement", "bottom-right-inside" }, { "data-plugin", "maxlength" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 col-md-3">
                                                @DetailResource.Hora
                                            </label>
                                            <div class="col-sm-9 col-md-9">
                                                <div class="input-daterange">
                                                    <div class="input-group clockpicker">
                                                        <span class="input-group-addon">
                                                            <i class="icon wb-time" aria-hidden="true"></i>
                                                        </span>
                                                        @Html.TextBoxFor(m => m.HoraInicio, "{0:HH:mm}", new { @class = "form-control input-hour", @data_plugin = "clockpicker", @data_autoclose = true })
                                                    </div>
                                                    <div class="input-group clockpicker">
                                                        <span class="input-group-addon">to</span>
                                                        @Html.TextBoxFor(m => m.HoraFin, "{0:HH:mm}", new { @class = "form-control input-hour", @data_plugin = "clockpicker", @data_autoclose = true })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------------------------->
                    <!--PANEL DE TEMAS-->
                    <div class="panel">
                        <div class="panel-heading" id="exampleHeadingSecond" role="tab">
                            <a class="panel-title collapsed" data-parent="#exampleAccrodion1" data-toggle="collapse"
                               href="#exampleCollapseSecond" aria-controls="exampleCollapseSecond"
                               aria-expanded="false" style="text-align:left;">
                                <i class="md-place"></i> @DetailsResource.Temas
                            </a>
                        </div>
                        <div class="panel-collapse collapse" id="exampleCollapseSecond" aria-labelledby="exampleHeadingSecond"
                             role="tabpanel">
                            <div class="panel-body">
                                <div class="row">
                                    <label class="col-sm-1">Tema: </label>
                                    <div class="col-sm-10 input-group input-group-file">
                                        <input id="txtTema" class="form-control" type="text">
                                        <span class="input-group-btn" onclick="agregarTema()">
                                            <span class="btn btn-primary">
                                                @AddEditMeetingCommitteResource.Agregar
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <br />
                                <div class="row text-right">
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                                <br />
                                <div class="row">
                                    <table id="myTable" class="table table-hover table-responsive" style="table-layout:fixed;">
                                        <thead>
                                            <tr>
                                                <td align="center">N°</td>
                                                <td align="center">@DetailsResource.Temas</td>
                                                <td align="center">@ButtonsOptionsResource.Eliminar</td>
                                            </tr>
                                        </thead>
                                        <tbody id="contTemas">
                                            @if (Model.listaTemas.Any())
                                            {
                                                for (int i = 0; i < Model.listaTemas.Count; i++)
                                                {
                                                    <tr id="@Model.listaTemas[i]">
                                                        <td align="center">@(i + 1)</td>
                                                        <td class="col-sm-10" style="word-wrap:break-word;">@Model.listaTemas[i]</td>
                                                        <td align="center">
                                                            <button class="btn btn-icon btn-default btn-outline" type="button" onclick='eliminarTema("@Model.listaTemas[i]")'><i class="icon wb-trash" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-------------------------->
                    <!--PANEL DE PARTICIPANTES-->
                    <div class="panel">
                        <div class="panel-heading" id="exampleHeadingThird" role="tab">
                            <a class="panel-title collapsed" data-parent="#exampleAccrodion1" data-toggle="collapse"
                               href="#exampleCollapseThird" aria-controls="exampleCollapseThird"
                               aria-expanded="false" style="text-align:left;">
                                <i class="md-loupe"></i> @DetailResource.Participantes
                            </a>
                        </div>
                        <div class="panel-collapse collapse" id="exampleCollapseThird" aria-labelledby="exampleHeadingThird" role="tabpanel">
                            <div class="panel-body">
                                <!------------------>
                                <div class="pull-left"><h4>@AddEditMeetingCommitteResource.UnidadesAcademicas</h4></div>
                                <div class="row text-right">
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal2"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                                <br />
                                <!--AQUI LOS PARTICIPANTES DISPONIBLES AGREGADOS-->
                                <div class="row">
                                    <table class="table table-striped table-hover table-highlight table-checkable">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; vertical-align: middle;"></th>
                                                <th style="text-align: center; vertical-align: middle;">@Filtros.Nivel</th>
                                                <th style="text-align: center; vertical-align: middle;">@DetailResource.Nombre</th>
                                                <th style="text-align: center; vertical-align: middle;">@DetailResource.UnidadAcademica</th>
                                                <th style="text-align: center; vertical-align: middle;"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="contParticipantes">
                                            @{
                                                var usuarioCreador = Model.listaParticipantesNormales.FirstOrDefault(x => x.IdParticipante == Model.IdUsuarioCreador && x.IdUnidadAcademica == Model.IdUnidadAcademica);
                                                var lstParticipantesNormales = Model.listaParticipantesNormales.Where(x => x != usuarioCreador && x.IsSelected);

                                                if (usuarioCreador != null)
                                                {
                                                    <tr id="pagregado-@usuarioCreador.IdParticipante">
                                                        <td align="center"><i class="fa fa-user-secret" aria-hidden="true"></i></td>
                                                        <td id="nivel-@Model.IdUsuarioCreador" align="center">@usuarioCreador.Nivel</td>
                                                        <td align="center">@usuarioCreador.Nombre</td>
                                                        <td id="unidad-@Model.IdUsuarioCreador" align="left">@usuarioCreador.UnidadAcademica</td>
                                                        <td align="center">
                                                            <button class='btn btn-icon btn-default btn-outline' type='button' disabled><i class='icon wb-trash' aria-hidden='true'></i></button>
                                                        </td>
                                                    </tr>
                                                }
                                                
                                                if (lstParticipantesNormales.Any())
                                                {
                                                    lstParticipantesNormales = lstParticipantesNormales.ToList();
                                                    foreach (var usuarioParticipante in lstParticipantesNormales)
                                                    {
                                                        String idParticipante = usuarioParticipante.IdParticipante.ToString() + usuarioParticipante.IdUnidadAcademica.ToString();
                                                        int i = Model.listaParticipantesNormales.IndexOf(usuarioParticipante);
                                                        <tr id="pagregado-@idParticipante">
                                                            <td style="text-align: center; vertical-align: middle;"></td>
                                                            <td align="center">@usuarioParticipante.Nivel</td>
                                                            <td align="center">@usuarioParticipante.Nombre</td>
                                                            <td align="left">@usuarioParticipante.UnidadAcademica</td>
                                                            <td align="center">
                                                                <button class='btn btn-icon btn-default btn-outline' type='button' onclick='eliminarParticipante(@i.ToString(), @idParticipante)'><i class='icon wb-trash' aria-hidden='true'></i></button>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!---------------------------------------->
                                <br />
                                <div class="pull-left"><h4>@AddEditMeetingCommitteResource.Externos</h4></div>
                                <div class="row pull-right">
                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal3"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </div>
                                <br />
                                <!--AQUI LOS PARTICIPANTES EXTERNOS AGREGADOS-->
                                <div class="row">
                                    <table class="table table-striped table-hover table-highlight table-checkable">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">@DetailResource.Nombre</th>
                                                <th style="text-align: center;">@DetailResource.Cargo</th>
                                                <th style="text-align: center;">@AddEditMeetingCommitteResource.Correo</th>
                                                <th style="text-align: center;">@DetailResource.Empresa</th>
                                                <th style="text-align: center;"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="contExternos">
                                            @for (int i = 0; i < Model.listaParticipantesExternos.Count; i++)
                                            {
                                                String cadena = String.Format("{0}|{1}|{2}|{3}", Model.listaParticipantesExternos[i].Nombre, Model.listaParticipantesExternos[i].Cargo, Model.listaParticipantesExternos[i].Correo, Model.listaParticipantesExternos[i].IdEmpresa);
                                                <tr id="@Html.Raw(HttpUtility.JavaScriptStringEncode(cadena))">
                                                    <td style="text-align: center;">@Html.DisplayFor(model => model.listaParticipantesExternos[i].Nombre)</td>
                                                    <td style="text-align: center;">@Html.DisplayFor(model => model.listaParticipantesExternos[i].Cargo)</td>
                                                    <td style="text-align: center;">@Html.DisplayFor(model => model.listaParticipantesExternos[i].Correo)</td>
                                                    <td style="text-align: center;">@Html.DisplayFor(model => model.listaParticipantesExternos[i].NombreEmpresa)</td>
                                                    <td style="text-align: center;"><button class='btn btn-icon btn-default btn-outline' type='button' onclick='eliminarExterno("@Html.Raw(HttpUtility.JavaScriptStringEncode(cadena))")'><i class='icon wb-trash' aria-hidden='true'></i></button></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!------------------>
                                <br />
                            </div>
                        </div>
                    </div>
                    <!-------------------------->
                </div>
                <br />
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="fnCancelar()">@AddEditMeetingCommitteResource.Regresar</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="submit" class="btn btn-primary" data-dismiss="modal">@ButtonsOptionsResource.Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MODAL DE TEMAS DE LA PREAGENDA-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> @AddEditMeetingPreScheduleResource.TemasDePreAgenda</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-hover table-highlight table-checkable">
                        <thead>
                            <tr>
                                <th style="text-align: center; vertical-align: middle;">N°</th>
                                <th style="text-align: center; vertical-align: middle;">@AddEditMeetingPreScheduleResource.Tema</th>
                                <th style="text-align: center; vertical-align: middle;"></th>
                            </tr>
                        </thead>
                        <tbody id="contTemasPreAgenda">
                            @if (!Model.listaTemasPreAgenda.Any())
                            {
                                <tr id="item-default">
                                    <td colspan="3" align="center">
                                        @AddEditMeetingPreScheduleResource.NoExistenTemasDePreAgenda
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.listaTemasPreAgenda.Count; i++)
                                {
                                    var idTemaPreAgenda = Model.listaTemasPreAgenda[i].DescripcionTemaPreAgenda.Replace(" ", "");
                                    <tr>
                                        <td align="center">@(i + 1)</td>
                                        <td align="center">@Model.listaTemasPreAgenda[i].DescripcionTemaPreAgenda</td>
                                        <td align="center">
                                            @if (Model.lstTemas.Contains(Model.listaTemasPreAgenda[i].DescripcionTemaPreAgenda))
                                            {
                                                <input id="chcktemaPreAgenda-@idTemaPreAgenda" type="checkbox" onclick='agregarTemaDePreAgenda("#chcktemaPreAgenda-@idTemaPreAgenda","@Model.listaTemasPreAgenda[i].DescripcionTemaPreAgenda")' checked>
                                            }
                                            else
                                            {
                                                <input id="chcktemaPreAgenda-@idTemaPreAgenda" type="checkbox" onclick='agregarTemaDePreAgenda("#chcktemaPreAgenda-@idTemaPreAgenda","@Model.listaTemasPreAgenda[i].DescripcionTemaPreAgenda")'>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!------------------>
    <!-- MODAL DE PARTICIPANTES NORMALES -->
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@AddEditMeetingCommitteResource.ParticipantesDisponibles</h4>
                </div>
                <div class="modal-body">
                    <!--------FILTRAR PARTICIPANTES-------->
                    <div class="row">
                        <div class="form-group">
                            <div class="">
                                <div class="col-md-2 text-center">
                                    <label class="label-survey"><i class="fa fa-filter"></i> @AddEditMeetingCommitteResource.Filtrar</label>
                                </div>
                                <div class="col-md-4">
                                    <input id="searchInput" class="form-control" style="text-transform: uppercase;"><br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover table-highlight table-checkable">
                        <thead>
                            <tr>
                                <th style="text-align: center; vertical-align: middle;">@Filtros.Nivel</th>
                                <th style="text-align: center; vertical-align: middle;">@DetailResource.Nombre</th>
                                <th style="text-align: center; vertical-align: middle;">@DetailResource.UnidadAcademica</th>
                                <th style="text-align: center; vertical-align: middle;">@AddEditMeetingCommitteResource.Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody id="participantes">
                            @for (int i = 0; i < Model.listaParticipantesNormales.Count(); i++)
                            {
                                String idParticipante = Model.listaParticipantesNormales[i].IdParticipante.ToString() + Model.listaParticipantesNormales[i].IdUnidadAcademica.ToString();
                                @Html.HiddenFor(model => model.listaParticipantesNormales[i].IdParticipante)
                                @Html.HiddenFor(model => model.listaParticipantesNormales[i].Nombre)
                                @Html.HiddenFor(model => model.listaParticipantesNormales[i].Nivel)
                                @Html.HiddenFor(model => model.listaParticipantesNormales[i].IdUnidadAcademicaResponsable)
                                @Html.HiddenFor(model => model.listaParticipantesNormales[i].IdUnidadAcademica)
                                @Html.HiddenFor(model => model.listaParticipantesNormales[i].UnidadAcademica)
                                if (Model.IdUsuarioCreador != Model.listaParticipantesNormales[i].IdParticipante || Model.IdUnidadAcademica != Model.listaParticipantesNormales[i].IdUnidadAcademica)
                                {
                                    <tr id="participante-@idParticipante">
                                        <td id="p-nivel-@idParticipante" align="center">@Html.DisplayFor(model => model.listaParticipantesNormales[i].Nivel)</td>
                                        <td id="p-nombre-@idParticipante" align="center">@Html.DisplayFor(model => model.listaParticipantesNormales[i].Nombre)</td>
                                        <td id="p-unidad-academica-@idParticipante" align="left">@Html.DisplayFor(model => model.listaParticipantesNormales[i].UnidadAcademica)</td>
                                        <td align="center">@Html.CheckBoxFor(model => model.listaParticipantesNormales[i].IsSelected, new { @onclick = "agregarParticipante(" + i + "," + idParticipante + ")" })</td>
                                    </tr>
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.listaParticipantesNormales[i].IsSelected)
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!------------------>
    <!-- MODAL DE PARTICIPANTES EXTERNOS -->
    <div id="myModal3" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="panel-title">
                        <h4><i class="fa fa-list-alt" aria-hidden="true"></i> @AddEditMeetingCommitteResource.ParticipantesExternos</h4>
                    </div>
                </div>
                <div class="modal-body" style="padding-top:0;">
                    <div class="panel-body" style="padding-top:0;">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2">
                                    @DetailResource.Nombre:
                                </label>
                                <div class="col-md-4">
                                    <input id="txtNombre" class="form-control" type="text">
                                </div>

                                <label class="col-md-2">
                                    @DetailResource.Cargo:
                                </label>
                                <div class="col-md-4">
                                    <input id="txtCargo" class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2">
                                    @AddEditMeetingPreScheduleResource.Email:
                                </label>
                                <div class="col-md-4">
                                    <input id="txtEmail" class="form-control" type="email">
                                </div>

                                <label class="col-md-2">
                                    @DetailResource.Empresa:
                                </label>
                                <div class="col-md-4">
                                    <select id="txtEmpresa" class="form-control">
                                        <option></option>
                                        @for (int i = 0; i < Model.Empresas.Count; i++)
                                        {
                                            var empresa = Model.Empresas[i];
                                            <option id="empresa-@empresa.IdEmpresa" value="@empresa.IdEmpresa">@empresa.RazonSocial</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row pull-right">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal4"><i class="fa fa-eye" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-primary" onclick="agregarExterno()">@AddEditMeetingCommitteResource.Agregar</button>
                        </div>

                    </div>

                    <div class="panel-group">
                        <div class="panel-heading" id="exampleHeadingEmp" style="background-color:#e2dfdf;">
                            <a class="panel-title" data-toggle="collapse" href="#exampleCollapseEmp" aria-controls="exampleCollapseEmp" aria-expanded="false" style="text-align:left;">
                                <h4><i class="fa fa-briefcase"></i> @AddEditMeetingCommitteResource.RegistrarEmpresa</h4>
                            </a>
                        </div>

                        <div class="panel-collapse collapse" id="exampleCollapseEmp" aria-labelledby="exampleHeadingEmp" role="tabpanel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2">
                                            @AddEditMeetingCommitteResource.RazonSocial:
                                        </label>
                                        <div class="col-md-4">
                                            <input id="txtRazonSocial" class="form-control" type="text">
                                        </div>

                                        <label class="col-md-2">
                                            RUC:
                                        </label>
                                        <div class="col-md-4">
                                            <input id="txtRUC" class="form-control" type="text" maxlength="11">
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-md-2">
                                            @AddEditMeetingCommitteResource.EmailContacto:
                                        </label>
                                        <div class="col-md-4">
                                            <input id="txtEmailContacto" class="form-control" type="email">
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="row pull-right">
                                    <button type="button" class="btn btn-primary" id="btnCrearEmpresa">@ButtonsOptionsResource.Guardar</button>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!------------------>
    <!-- MODAL DE EMPRESAS-->
    <div id="myModal4" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="panel-title">
                        <h4><i class="fa fa-briefcase" aria-hidden="true"></i> @AddEditMeetingCommitteResource.Empresas</h4>
                    </div>
                </div>
                <div class="modal-body" style="padding-top:0;">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table id="myTable" class="table table-hover table-responsive" style="table-layout:fixed;">
                                    <thead>
                                        <tr>
                                            <td align="center">@DetailResource.Empresa</td>
                                            <td align="center">@ButtonsOptionsResource.Eliminar</td>
                                        </tr>
                                    </thead>
                                    <tbody id="contEmpresas">
                                        @if (Model.Empresas.Any())
                                        {
                                            for (int i = 0; i < Model.Empresas.Count; i++)
                                            {
                                                <tr id="rowempresa-@Model.Empresas[i].IdEmpresa">
                                                    <td align="center" style="word-wrap:break-word;">@Model.Empresas[i].RazonSocial</td>
                                                    <td align="center">
                                                        <button class="btn btn-icon btn-default btn-outline" type="button" onclick='eliminarEmpresa(@Model.Empresas[i].IdEmpresa)'><i class="icon wb-trash" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!------------------>
</form>
@section Scripts{
    <script src="@Url.Content("~/Content/vendor/clockpicker/bootstrap-clockpicker.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/clockpicker.min.js")"></script>

    <script>
        $('#btnCrearEmpresa').click(function () {
            var txtRazonSocial = document.getElementById('txtRazonSocial').value;
            var txtRUC = document.getElementById('txtRUC').value;
            var txtEmail = document.getElementById('txtEmailContacto').value;

            if (!validateField(txtRazonSocial)) {
                document.getElementById("txtRazonSocial").className = "form-control colorError";
                return;
            }
            if (!validateField(txtRUC) || txtRUC.length < 11) {
                document.getElementById("txtRUC").className = "form-control colorError";
                return;
            }
            if (!validateEmail(txtEmail)) {
                document.getElementById("txtEmailContacto").className = "form-control colorError";
                return;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("CrearEmpresa", "Meeting", new { Area = ConstantHelpers.AREAS.MEETING })',
                dataType: 'json',
                data: {
                    razon: txtRazonSocial,
                    ruc: txtRUC,
                    email: txtEmail
                },
                success: function (data) {
                    if(data.flag)
                        alert('Este RUC ya está registrado.')
                    else
                    {
                        document.getElementById('txtRazonSocial').className = "form-control";
                        document.getElementById('txtRUC').className = "form-control";
                        document.getElementById("txtEmailContacto").className = "form-control";
                        document.getElementById('txtRazonSocial').value = "";
                        document.getElementById('txtRUC').value = "";
                        document.getElementById("txtEmailContacto").value = "";
                    }
                    //Clear
                    $('#txtEmpresa')
                            .find('option')
                            .remove()
                            .end();
                    //Add new elements
                    $('#txtEmpresa')
                            .append($("<option></option>")
                            .attr("value", "")
                            .text(""));
                    $.each(data.lista, function (index, val) {
                        $('#txtEmpresa')
                            .append($("<option></option>")
                            .attr("id", "empresa-" + val.Value)
                            .attr("value", val.Value)
                            .text(val.Text));
                    });

                    var rowCount = $('#contEmpresas tr').length;
                    var table = document.getElementById("contEmpresas");
                    var row = table.insertRow();
                    row.id = "rowempresa-" + data.idEmp;
                    var cell1 = row.insertCell();
                    var cell2 = row.insertCell();
                    cell1.align = "center";
                    cell2.align = "center";
                    cell1.innerHTML = txtRazonSocial;
                    cell2.innerHTML = "<button class='btn btn-icon btn-default btn-outline' type='button' onclick='eliminarEmpresa(" + data.idEmp + ")'><i class='icon wb-trash' aria-hidden='true'></i></button>";

                },
                error: function (ex) {
                    alert('Ocurrió un problema al guardar el tema. Por favor, intente más tarde.');
                    console.log(ex.message);
                }
            });
        })

        function eliminarEmpresa(idEmpresa)
        {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteEmpresa", "Meeting", new { Area = ConstantHelpers.AREAS.MEETING })',
                dataType: 'json',
                data: {
                    id: idEmpresa
                },
                success: function (data) {
                    //Clear
                    $('#txtEmpresa')
                            .find('option')
                            .remove()
                            .end();
                    //Add new elements
                    $('#txtEmpresa')
                            .append($("<option></option>")
                            .attr("value", "")
                            .text(""));
                    $.each(data, function (index, val) {
                        $('#txtEmpresa')
                            .append($("<option></option>")
                            .attr("id", "empresa-" + val.Value)
                            .attr("value", val.Value)
                            .text(val.Text));
                    });

                    var elem = document.getElementById("rowempresa-" + idEmpresa);
                    elem.parentElement.removeChild(elem);
                },
                error: function (ex) {
                    alert('Ocurrió un problema al guardar el tema. Por favor, intente más tarde.');
                    console.log(ex.message);
                }
            });
        }
</script>

    <script>
        $("#searchInput").keyup(function () {
            var data = this.value.toUpperCase().split(" ");
            var jo = $("#participantes").find("tr");
            if (this.value == "") {
                jo.show();
                return;
            }
            jo.hide();

            jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.is(":contains('" + data[d] + "')")) {
                        return true;
                    }
                }
                return false;
            })
            .show();
        }).focus(function () {
            this.value = '';
            $(this).css({
                "color": "black"
            });
            $(this).unbind('focus');
        }).css({
            "color": "#C0C0C0"
        });
    </script>

    <script>
        function fnCancelar() {
            location.href = '@Url.Action("MeetingsAssociated", "Meeting", new { IdPreAgenda = Model.IdPreAgenda })';
        }

        function agregarTemaDePreAgenda(chckTemaPreaAgenda,tema)
        {
            if ($(chckTemaPreaAgenda).is(':checked')) {
                var rowCount = $('#contTemas tr').length;
                var table = document.getElementById("contTemas");
                var row = table.insertRow();
                row.id = tema;
                var cell0 = row.insertCell();
                var cell1 = row.insertCell();
                var cell2 = row.insertCell();
                cell0.innerHTML = rowCount + 1;
                cell0.align = "center";
                cell1.innerHTML = tema;
                cell1.className = "col-sm-10";
                cell1.style.wordWrap = "break-word";
                cell2.innerHTML = "<button class='btn btn-icon btn-default btn-outline' type='button' onclick='eliminarTema(\"" + tema + "\")'><i class='icon wb-trash' aria-hidden='true'></i></button>";
                cell2.align = "center";

                var input = document.getElementById("lstTemas");
                input.value += "*" + tema;
                if (input.value[0] == "*")
                    input.value = input.value.replace('*', '');
            }
            else if (!$(chckTemaPreaAgenda).is(':checked')) {
                eliminarTema(tema);
            }
        }

        function agregarTema() {
            var tema = document.getElementById('txtTema').value;
            if (tema == null || tema.length == 0 || tema.trim() == "")
                return;
            var rowx = document.getElementById('item-default');
            if (rowx != null) {
                var tablex = rowx.parentNode;
                while (tablex && tablex.tagName != 'TABLE')
                    tablex = tablex.parentNode;
                if (!tablex)
                    return;
                tablex.deleteRow(rowx.rowIndex);
            }
            var rowCount = $('#contTemas tr').length;
            document.getElementById('txtTema').value = "";
            var table = document.getElementById("contTemas");
            var row = table.insertRow();
            row.id = tema;
            var cell0 = row.insertCell();
            var cell1 = row.insertCell();
            var cell2 = row.insertCell();
            cell0.innerHTML = rowCount + 1;
            cell0.align = "center";
            cell1.innerHTML = tema;
            cell1.className = "col-sm-10";
            cell1.style.wordWrap = "break-word";
            cell2.innerHTML = "<button class='btn btn-icon btn-default btn-outline' type='button' onclick='eliminarTema(\"" + tema + "\")'><i class='icon wb-trash' aria-hidden='true'></i></button>";
            cell2.align = "center";

            var input = document.getElementById("lstTemas");
            input.value += "*" + tema;
            if (input.value[0] == "*")
                input.value = input.value.replace('*', '');
        }

        function eliminarTema(tema) {
            var elem = document.getElementById(tema);
            document.getElementById("lstTemas").value = document.getElementById("lstTemas").value.replace(tema + "*", "");
            document.getElementById("lstTemas").value = document.getElementById("lstTemas").value.replace("*" + tema, "");
            document.getElementById("lstTemas").value = document.getElementById("lstTemas").value.replace(tema, "");
            elem.parentElement.removeChild(elem);
            renumerarCeldas();
            var test = document.getElementById("lstTemas").value;
            var num = tema.split(" ");
            for (i = 0; i < num.length; i++)
            {
                tema = tema.replace(" ", "");
            }
            var chkbx = "#chcktemaPreAgenda-" + tema;
            if ($(chkbx).is(':checked')) {
                $(chkbx).prop("checked", false);
            }
        }

        function agregarParticipante(pos, idParticipante) {
            if ($("#listaParticipantesNormales_" + pos + "__IsSelected").is(':checked')) {
                var table = document.getElementById("contParticipantes");
                var row = table.insertRow();
                row.id = "pagregado-" + idParticipante;
                var cell0 = row.insertCell();
                var cell1 = row.insertCell();
                var cell2 = row.insertCell();
                var cell3 = row.insertCell();
                var cell4 = row.insertCell();
                cell1.innerHTML = document.getElementById("p-nivel-" + idParticipante).innerHTML;
                cell1.align = "center";
                cell2.innerHTML = document.getElementById("p-nombre-" + idParticipante).innerHTML;
                cell2.align = "center";
                cell3.innerHTML = document.getElementById("p-unidad-academica-" + idParticipante).innerHTML;
                cell3.align = "left";
                cell4.innerHTML = "<button class='btn btn-icon btn-default btn-outline' type='button' onclick='eliminarParticipante(" + pos + "," + idParticipante + ")'><i class='icon wb-trash' aria-hidden='true'></i></button>";
                cell4.align = "center";
            }
            else if (!$(this).is(':checked')) {
                eliminarParticipante(pos, idParticipante);
            }
        }

        function eliminarParticipante(pos, idParticipante) {
            var elem = document.getElementById("pagregado-" + idParticipante);
            elem.parentElement.removeChild(elem);
            $("#listaParticipantesNormales_" + pos + "__IsSelected").attr('checked', false);
        }

        function agregarExterno() {
            var lstExterno = document.getElementById('lstExternos').value;
            var Nombre = document.getElementById('txtNombre').value;
            var Cargo = document.getElementById('txtCargo').value;
            var Email = document.getElementById('txtEmail').value;
            var Empresa = document.getElementById('txtEmpresa').value;
            var EmpresaId = "empresa-".concat(Empresa);
            var NombreEmpresa = document.getElementById(EmpresaId).innerHTML;
            if (Empresa == "")
                Empresa = 0;

            if (lstExterno.includes(Nombre) && lstExterno.includes(Empresa)) {
                document.getElementById("txtNombre").className = "form-control colorError";
                document.getElementById("txtEmpresa").className = "form-control colorError";
                return;
            }

            if (!validateField(Nombre)) {
                document.getElementById("txtNombre").className = "form-control colorError";
                return;
            }
            if (!validateField(Cargo)) {
                document.getElementById("txtCargo").className = "form-control colorError";
                return;
            }
            if (!validateEmail(Email)) {
                document.getElementById("txtEmail").className = "form-control colorError";
                return
            }

            document.getElementById('txtNombre').className = "form-control";
            document.getElementById('txtCargo').className = "form-control";
            document.getElementById("txtEmail").className = "form-control";

            document.getElementById('txtNombre').value = "";
            document.getElementById('txtCargo').value = "";
            document.getElementById('txtEmail').value = "";
            document.getElementById('txtEmpresa').value = "";
            var rowCount = $('#contExternos tr').length;
            var table = document.getElementById("contExternos");
            var row = table.insertRow();
            row.id = Nombre + "|" + Cargo + "|" + Email + "|" + Empresa;
            var cell1 = row.insertCell();
            var cell2 = row.insertCell();
            var cell3 = row.insertCell();
            var cell4 = row.insertCell();
            var cell5 = row.insertCell();
            cell1.innerHTML = Nombre;
            cell1.align = "center";
            cell2.innerHTML = Cargo;
            cell2.align = "center";
            cell3.innerHTML = Email;
            cell3.align = "center";
            cell4.innerHTML = NombreEmpresa;
            cell4.align = "center";
            cell5.innerHTML = "<button class='btn btn-icon btn-default btn-outline' type='button' onclick='eliminarExterno(\"" + row.id + "\")'><i class='icon wb-trash' aria-hidden='true'></i></button>";
            cell5.align = "center";

            var input = document.getElementById("lstExternos");
            input.value += "*" + row.id;
            if (input.value[0] == "*")
                input.value = input.value.replace('*', '');
        }

        function eliminarExterno(externo) {
            var elem = document.getElementById(externo);
            document.getElementById("lstExternos").value = document.getElementById("lstExternos").value.replace(externo + "*", "");
            document.getElementById("lstExternos").value = document.getElementById("lstExternos").value.replace("*" + externo, "");
            document.getElementById("lstExternos").value = document.getElementById("lstExternos").value.replace(externo, "");
            elem.parentElement.removeChild(elem);
        }

        function renumerarCeldas() {
            var table = document.getElementById("myTable");
            for (var i = 0, row; row = table.rows[i]; i++) {
                //iterate through rows
                //rows would be accessed using the "row" variable assigned in the for loop
                for (var j = 0, col; col = row.cells[j]; j++) {
                    //iterate through columns
                    //columns would be accessed using the "col" variable assigned in the for loop
                    if (i != 0 && j == 0)
                        col.innerHTML = i;;
                }
            }
        }

        function validateEmail(x) {
            var atpos = x.indexOf('@@');
            var dotpos = x.lastIndexOf(".");
            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
                return false;
            }
            return true;
        }

        function validateField(field) {
            if (field == "" || field.length == 0 || field == null || field.trim() == "") {
                return false;
            }
            return true;
        }

    </script>
}
