﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Meeting
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.EmployerVM
@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    ViewBag.Title = AddViewEmployerResource.Titulo;
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs {
    <li><a href="@Url.Action("ManagementACC", "Meeting")"> @AddViewEmployerResource.ActaReunionComiteConsultivo</a></li>
}
<style>
    #tableMain {
        width: 100%;
    }

    #headhallazgos, #tablaComentarios, #headhallazgos tr, #tablaComentarios tr, #headhallazgos tr th, #tablaComentarios tr td {
        display: block;
    }

        #headhallazgos tr:after, #tablaComentarios tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        #headhallazgos th {
            height: 60px;
        }

    #tablaComentarios {
        height: 250px;
        overflow-y: auto;
    }

    .celda50 {
        width: 50%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda20 {
        width: 20%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda15 {
        width: 15%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda10 {
        width: 10%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .celda5 {
        width: 5%;
        float: left;
        text-align: center;
        vertical-align: middle;
    }

    .ComentaryHeight {
        height: 125px !important;
    }

    .btnPosition {
        padding-bottom: 29px;
        text-align: right;
        padding-right: 45px;
    }
</style>


<form class="form form-horizontal" method="post">
    <div class="row">
        <div class="panel-group" aria-multiselectable="true" role="tablist">
            <div class="panel-body">
                <div class="panel panel-bordered">
                    <div class="panel-heading" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-bars"></i> @AddViewEmployerResource.DetalleDeLaReunion</h4>
                        </a>
                    </div>
                    @Html.HiddenFor(x => x.idACC)
                    @Html.HiddenFor(x => x.FechaACC)
                    @Html.HiddenFor(x => x.userACC)
                    @Html.HiddenFor(x => x.Empresa)
                    @Html.HiddenFor(x => x.DNI)
                    @Html.HiddenFor(x => x.N_Empleados)
                    @Html.HiddenFor(x => x.Telefono)


                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="form-group">
                                <a class="btn btn-primary" @*@Url.ModalHelperFor("_AddEditEmployer", "Meeting", ModalSize.Large)*@ id="addEditEmployer">
                                    <i class="fa fa-plus"></i>@AddViewEmployerResource.AgregarEmpleador
                                </a>

                            </div>
                            <br />
                            <div class="panel-heading">
                                <h4>@AddViewEmployerResource.Comentario</h4>
                                <div role="tabpanel">
                                    <!--Nav Tabs-->
                                    <ul id="nested-tabs" class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">@AddViewEmployerResource.Espaniol</a></li>
                                        <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">@AddViewEmployerResource.Ingles</a></li>
                                    </ul>
                                    <!--Tab Panels -->
                                    <div id="panels" class="tab-content">

                                        <!-- Tab 1 Panel -->
                                        <div role="tabpanel" class="tab-pane active " id="tab1">
                                            @Html.TextAreaFor(x => x.ComentarioEspanol, new { @class = "form-control ComentaryHeight", @required = "true", @id = "ComentarioEspañol" })
                                        </div><!-- tabpanel Close -->
                                        <!-- Tab 2 Panel -->
                                        <div role="tabpanel" class="tab-pane ComentaryHeight" id="tab2">
                                            @Html.TextAreaFor(x => x.ComentarioIngles, new { @class = "form-control ComentaryHeight", @required = "true", @id = "ComentarioIngles" })
                                        </div><!-- tabpanel Close -->


                                    </div><!-- panels close -->
                                </div><!--tabpanel close-->
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12 btnPosition">
                                    <button type="submit" id="btnGenerar" class="btn btn-primary "> @AddViewEmployerResource.AgregarComentario</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="panel-group">
        <div class="panel-group">

            <div class="panel panel-bordered">
                <div class="panel-heading" role="tab">
                    <h4>Listado de Comentarios</h4>
                </div>
                <div class="panel-body">
                    <h3>&nbsp;</h3>
                    <table class="table table-hover table-striped" id="table">
                        <thead>
                            <tr style="background-color: #FF1901;">
                                <th class="text-center" style="color:white;">@AddViewEmployerResource.Nombre</th>
                                <th class="text-center" style="color:white;">@AddViewEmployerResource.Empresa</th>
                                <th class="text-center" style="color:white;">@AddViewEmployerResource.Comentarios</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="encuestas">
                            @if (Model.lstACCxEmpleador != null)
                            {
                                foreach (var item in Model.lstACCxEmpleador)
                                {

                                    <tr @*if (item.IdCriticidad == 1) { @Html.Raw(" style=\" color: red;\" ") }*@>
                                        <td class="text-center">@item.Empleador.Nombre</td>

                                        <td class="text-center">@item.Empleador.Empresa</td>
                                        <td class="text-center">@item.Hallazgo.DescripcionEspanol</td>

                                        @*
                                            <td class="text-center"><span class="badge badge-danger" style="color:@(item.NivelAceptacionHallazgo.Color);background-color:@(item.NivelAceptacionHallazgo.Color);">6</span> @(language == ConstantHelpers.CULTURE.ESPANOL ? item.NivelAceptacionHallazgo.NombreEspanol : item.NivelAceptacionHallazgo.NombreIngles)</td>
                                            <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.Curso.NombreEspanol.ToUpper() : item.Curso.NombreIngles.ToUpper()) </td>
                                            <td class="text-center">@item. </td>
                                            <td class="text-center">@item.Comision.Codigo</td>

                                            <td class="text-center">@item.Outcome.Nombre</td>
                                            <td class="text-center">@item.Sede.Nombre</td>

                                            <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>

                                            <td class="text-center">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                        @AddEditFDCResource.MaintenanceSurveyPPPOpciones
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                        <li role="presentation"><a href="@Url.Action("AddEditFindHallazgoIRD", "Register", new { IdHallazgo = @item.IdHallazgo })" role="menuitem"><i class="fa fa-edit"></i> @AddEditFDCResource.MaintenanceSurveyPPPEditar</a></li>
                                                        <li role="presentation"><a class="delete" href="#" @Url.ModalHelperFor("_ConfirmacionDeleteHallazgoIRD", "Register", new { HallazgoID = item.IdHallazgo }) role="menuitem"><i class="fa fa-trash"></i> @AddEditFDCResource.MaintenanceSurveyPPPEliminar</a></li>
                                                    </ul>
                                                </div>
                                            </td>*@
                                    </tr>
                                }
                            }

                        </tbody>


                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="VentanaModal" role="dialog" style="margin-top:4%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-hallazgo">

                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="@Url.Content("~/Content/js/components/select2.min.js")" rel="stylesheet"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
    <script>
        $("#addEditEmployer").on("click", function () {
            
            var id = $("#idACC").val();
            var fecha = $("#FechaACC").val();
            var user = $("#userACC").val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("_AddEditEmployer", "Meeting")',
                data: { idACC: id, FechaACC :fecha, userACC:user },
                success: function (data) {
                        $('#modal-hallazgo').html(data);
                        $('#VentanaModal').modal('show');
                }
            });
        })
        @*@if (Model.Nombre != null) {
         @Html.Value(Model.Nombre)
        }*@
        $('#ComentarioEspañol').change(function () {
            $('#ComentarioIngles').val("");
                        ActualizarTraduccion();
                    });

                function ActualizarTraduccion()
                {

            $.ajax({
                        //  type: "POST",
                        url: '@Url.Action("TraduccionActualizar", "Json")',
                data: { textoatraducir: $('#ComentarioEspañol').val()},
                dataType: "json",
                success: function (data) {
                    $('#ComentarioIngles').show();
                    $('#ComentarioIngles').val(data["Text"]);
                    $("#btnGenerar").css("pointer-events", "visible");


                        },
                beforeSend: function () {
                    $('#ComentarioIngles').val("Traduciendo....")
                    $("#btnGenerar").css("pointer-events", "none");
                        }

                    });
            }
    </script>


}
