﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Meeting

@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.CreateACCVM

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    ViewBag.Title = CreateResource.Titulo;
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs {
    <li><a href="@Url.Action("ManagementACC", "Meeting")">@CreateResource.ActaDeReunionDeComiteConsultivo</a></li>
}
<form method="post">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @CreateResource.DatosGenerales</h3>
            </div>
            <div class="panel-body">
                @Html.HiddenFor(x => x.IdCiclo)
                @Html.HiddenFor(x => x.IdEscuela)
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@Filtros.Sede</label>
                            @Html.DropDownListFor(x => x.idSede, (List<SelectListItem>)ViewBag.Sede, CreateResource.Seleccione, new { @class = "form-control", @required = "true", @id = "idsede" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@LayoutResource.Fecha</label>
                            <div class="input-daterange">
                                @Html.TextBoxFor(x => x.Fecha, "", new { @class = "form-control", @required = "" })
                            </div>
                        </div>
                    </div>


                </div>


                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-default" href="@Url.Action("ManagementACC", "Meeting")">@ButtonsOptionsResource.Cancelar</a>
                        <button type="submit" id="btnGenerar" class="btn btn-primary pull-right">  @CreateResource.GuardarYcontinuar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{


    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/datepicker/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/Areas/Survey/Content/js/datepicker/bootstrap-datepicker.es.min.js")"></script>

    <script>
    $(document).ready(function () {
        $("div.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top").css("z-index","1500")

        var date = new Date().toLocaleDateString();
         $('.input-daterange').datepicker({
                format: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "dd/mm/yyyy" : "mm/dd/yyyy")',
                clearBtn: true,
                language: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "es":"en")',
                minDate: date
            });


    });
    </script>
}