﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Meeting
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.EditACCxEmployerVM

@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    ViewBag.Title = EditACCResource.Titulo;
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}


@section Breadcrumbs {
    <li><a href="@Url.Action("ManagementACC", "Meeting")"> @EditACCResource.ActaDeComiteConsultivo</a></li>
    <li><a href="@Url.Action("LstActaComiteConsultivo", "Meeting")">@EditACCResource.ListaActasCómiteConsultivo</a></li>
}




<div class="row">
    <div class="panel panel-bordered">
        <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
            <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @EditACCResource.HallazgosAsociadosAcciónMejora</h3>
        </div>
        <div class="collapse in" id="collapseExample">
            <div class="panel-body">
                <div class="row">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr style="background-color: #FF1901;">
                                <th class="text-center " width="10%" style="color:white;">@EditACCResource.Empleador</th>
                                <!--<th class="text-center " style="color:white;">Nivel de Aceptación</th>-->
                                <th class="text-center " width="10%" style="color:white;">@DetailResource.Empresa</th>
                                <th class="text-center " style="color:white;">@Filtros.Descripcion</th>
                                <th class="text-center " width="10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.LstAccXEmployer)
                            {
                                <tr class="text-center">
                                    <td class="text-center ">@item.Empleado</td>
                                    <td class="text-center ">@item.Empresa</td>                                   
                                    <td class="text-center ">@item.Descripcion</td>
                                    <td class="text-center ">  <a href="@Url.Action("RemoveFinding", "Meeting",new {IdAcc  = item.IdACC, IdEmployer = item.idEmpleador , IdHallazgo = item.idHallazgo})"> @EditACCResource.Quitar</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>