﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Meeting
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.ACCVM
@{

    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

    ViewBag.Title = LstActaComiteConsultivoResource.Titulo;
}
@section Breadcrumbs {
    <li><a href="@Url.Action("ManagementACC", "Meeting")">@LstActaComiteConsultivoResource.ActaDeComiteConsultivo</a></li>
}

<div class="row">
    <div class="panel-group">
        <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">

                    <a class="panel-title collapsed" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOne2" id="reporte">
                        <h4><i class="fa fa-tasks"></i>@LstActaComiteConsultivoResource.ActaDeComiteConsultivo</h4>
                    </a>
                </div>
                <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="true">
                    <div class="panel-body">
                        <div class="row">
                            <h3>&nbsp;</h3>
                            <table class="table table-hover table-striped" id="table">
                                <thead>
                                    <tr style="background-color: #FF1901;">
                                        <th class="text-center" style="color:white;">@DetailResource.Fecha</th>
                                        <th class="text-center" style="color:white;">@Filtros.Codigo</th>
                                        <th class="text-center" style="color:white;">@DetailResource.Sede</th>
                                        <th class="text-center" style="color:white;">@LstActaComiteConsultivoResource.CreadoPor</th>
                                        <th class="text-center" style="width:126px;color:white;">@Filtros.Opciones</th>
                                        
                                    </tr>
                                </thead>
                                <tbody id="encuestas">
                                    @foreach (var item in Model.LstACC)
                                    {
                                    <tr>
                                        <td class="text-center">@item.Fecha</td>
                                        <td class="text-center">@item.Codigo</td>
                                        <td class="text-center">@item.Sede</td>
                                        <td class="text-center">@item.Usuario</td>
                                        <td>
                                            <div class="btn-group  display-table-cell cell-options vertical-align-top pull-right" role="group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <span class="col-sm-hidden">
                                                        @Filtros.Opciones
                                                    </span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">                                                    
                                                    <li role="presentation">
                                                        <a href="@Url.Action("EditACC", "Meeting", new {  IdACC = item.IdACC})">
                                                            <i aria-hidden="true" class="fa fa-pencil"></i>
                                                            @ButtonsOptionsResource.Editar
                                                        </a>
                                                    </li>                                                    
                                                    <li role="presentation">
                                                        <a href="@Url.Action("DeleteACC", "Meeting", new { IdACC = item.IdACC})">
                                                            <i aria-hidden="true" class="fa fa-trash"></i>
                                                            @ButtonsOptionsResource.Eliminar
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @Html.PagedListPager(Model.LstACC, page => Url.Action("LstActaComiteConsultivo", new { numeroPagina = page }), ConstantHelpers.TwitterBootstrapPagerAligned)

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>