﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Meeting

@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.ConsultMeetingPreScheduleViewModel
@{
    ViewBag.Title = MaintenanceMeetingPreScheduleResource.Titulo;
    ViewBag.Icon = "clipboard";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    string CurrentCulture = cookie == null ? ConstantHelpers.CULTURE.ESPANOL : cookie.Value ?? ConstantHelpers.CULTURE.ESPANOL;
}
@section Breadcrumbs {
}
<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + Filtros.Filtro, PanelActions.Collapse)
            <div class="panel-body row">
                <form>
                    <div class="row">
                        <div class="col-sm-6" style="text-align: left">
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12" style="text-align: right;">
                                <a class="btn btn-primary" style="background-color: red; color: white;" id="btnCrear">
                                    @ButtonsOptionsResource.Crear&nbsp;&nbsp;&nbsp;<i class="fa fa-plus"></i>
                                </a>
                                &nbsp;&nbsp;&nbsp;&nbsp;

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">

    <div class="panel">
        <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
            <a class="panel-title" data-toggle="collapse" href="#exampleCollapseDefaultOne"
               data-parent="#exampleAccordionDefault" aria-expanded="true"
               aria-controls="exampleCollapseDefaultOne">
                <i class="fa fa-align-justify"></i> @Filtros.Resultados
            </a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="VentanaModal" role="dialog" style="margin-top:4%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-hallazgo">

                </div>
            </div>
        </div>

    </div>
</div>
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
<script src="@Url.Content("~/Areas/Survey/Content/js/datepicker/bootstrap-datepicker.min.js")"></script>
<script src="@Url.Content("~/Areas/Survey/Content/js/datepicker/bootstrap-datepicker.es.min.js")"></script>
<script>
    $("#btnCrear").on("click", function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("CreateReunionDocente", "PreSchedule")',
            success: function (data) {
                $('#modal-hallazgo').html(data);
                $('#VentanaModal').modal('show');
            }
        });
    });    

</script>