﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Meeting

@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.ConsultMeetingExtraordinaryViewModel
@{
    ViewBag.Title = @MaintenanceMeetingExtraordinaryResource.Titulo;
    ViewBag.Icon = "clipboard";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    string CurrentCulture = cookie == null ? ConstantHelpers.CULTURE.ESPANOL : cookie.Value ?? ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs {
}

<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + Filtros.Filtro , PanelActions.Collapse)
            <div class="panel-body row">
                <form>
                    <div class="row">
                        @Html.FormGroup(@Filtros.Nivel + ":", Html.DropDownListFor(m => m.IdNivel, Model.Niveles, @Filtros.Todas, new { @class = "form-control" }))
                        @Html.FormGroup(@Filtros.Semana + ":", Html.DropDownListFor(m => m.IdSemana, Model.Semanas, @Filtros.Todas, new { @class = "form-control" }))
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label class="col-sm-12 control-label"> @Filtros.FechaInicio:</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar" aria-hidden="true"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.FechaInicio, "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-12 col-md-6">
                            <label class="col-sm-12 control-label"> @Filtros.FechaFin:</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar" aria-hidden="true"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.FechaFin, "{0:dd/MM/yyyy}", new { @class = "form-control", data_plugin = "datepicker" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @Html.FormGroup(Filtros.Sede + ":", Html.DropDownListFor(m => m.IdSede, Model.Sedes, Filtros.Todos, new { @class = "form-control" }))
                    </div>
                    <div class="row">
                        <div class="col-sm-6" style="text-align: left">
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12" style="text-align: right;">
                                <a href="@Url.Action("AddEditMeetingExtraordinary", "Meeting")" class="btn" style="background-color: black; color: white;">
                                    @ButtonsOptionsResource.Crear&nbsp;&nbsp;&nbsp;<i class="fa fa-plus"></i>
                                </a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit" id="btnBuscar" class="btn btn-primary">@ButtonsOptionsResource.Buscar&nbsp;&nbsp;<i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">

    <div class="panel">
        <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
            <a class="panel-title" data-toggle="collapse" href="#exampleCollapseDefaultOne"
               data-parent="#exampleAccordionDefault" aria-expanded="true"
               aria-controls="exampleCollapseDefaultOne">
                <i class="fa fa-align-justify"></i> @Filtros.Resultados
            </a>
        </div>
        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne"
             role="tabpanel">
            <div class="panel-body">
                <div class="panel-body row">
                    <table id="tblResultados" class="table table-striped table-hover table-highlight table-checkable" data-info="true" data-length-change="true" data-paginate="true">
                        <thead>
                            <tr>
                                <th style="text-align: center; vertical-align: middle;">@Filtros.Nivel</th>
                                <th style="text-align: center; vertical-align: middle;">@Filtros.Semana</th>
                                <th style="text-align: center; vertical-align: middle;">@DetailResource.Fecha</th>
                                <th style="text-align: center; vertical-align: middle;">@Filtros.Sede</th>
                                <th style="text-align: center; vertical-align: middle;">@Filtros.Motivo</th>
                                <th style="text-align: center; vertical-align: middle;">@Filtros.Estado</th>
                                <th style="text-align: center; vertical-align: middle;">@Filtros.Opciones</th>
                            </tr>
                        </thead>
                        @if (Model.ListaReunionResultado != null)
                        {
                            <tbody>
                                @for (int i = 0; i < Model.ListaReunionResultado.Count(); i++)
                                {
                                    <tr id="item-@Model.ListaReunionResultado[i].IdReunion">
                                        <td align="center">@Model.ListaReunionResultado[i].Nivel</td>
                                        <td align="center">@Model.ListaReunionResultado[i].Semana</td>
                                        <td align="center">
                                            @Model.ListaReunionResultado[i].Fecha.ToShortDateString()
                                        </td>
                                        <td align="center">
                                            @Model.ListaReunionResultado[i].Sede.Nombre
                                        </td>
                                        <td align="center">@Model.ListaReunionResultado[i].Motivo</td>
                                        <td align="center">
                                            @{
                                                switch (Model.ListaReunionResultado[i].IdEstadoReunion)
                                                {
                                                    case 1:
                                                        <h4><span class='label label-success'>@Model.ListaReunionResultado[i].Estado</span></h4>
                                                        break;
                                                    case 2:
                                                        <h4><span class='label label-warning'>@Model.ListaReunionResultado[i].Estado</span></h4>
                                                        break;
                                                    case 3:
                                                        <h4><span class='label label-danger'>@Model.ListaReunionResultado[i].Estado</span></h4>
                                                        break;
                                                }
                                            }
                                        </td>
                                        <td align="center">
                                            <div class="btn-group" role="group">
                                                <a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("DetailsMeetingExtraordinary", "Meeting", new { IdReunion = Model.ListaReunionResultado[i].IdReunion })"><i class="fa fa-search"></i> @ButtonsOptionsResource.Visualizar</a>
                                                <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li role="presentation">
                                                        <a href="@Url.Action("AddEditMeetingExtraordinary", "Meeting", new { IdReunion = Model.ListaReunionResultado[i].IdReunion })">
                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;@ButtonsOptionsResource.Editar
                                                        </a>
                                                    </li>
                                                    <li role="presentation"><a @Url.ModalHelperFor("_DeleteMeeting", "Meeting", new { idReunion = Model.ListaReunionResultado[i].IdReunion }) role="menuitem"><i class="fa fa-trash"></i>&nbsp;&nbsp;@ButtonsOptionsResource.Eliminar</a></li>
                                                    <li role="presentation"><a @Url.ModalHelperFor("_AssignState", "Meeting", new { idReunion = Model.ListaReunionResultado[i].IdReunion }) role="menuitem"><i class="fa fa-bell"></i>&nbsp;&nbsp;@MaintenanceMeetingExtraordinaryResource.Reprogramar</a></li>
                                                    <li role="presentation"><a @Url.ModalHelperFor("_CancelState", "Meeting", new { idReunion = Model.ListaReunionResultado[i].IdReunion }) role="menuitem"><i class="fa fa-bell-slash"></i>&nbsp;&nbsp;@ButtonsOptionsResource.Cancelar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
                @if (Model.ListaReunionResultado != null)
                {
                    @Html.PagedListPager(Model.ListaReunionResultado, page => Url.Action("X", new { p = page }), ConstantHelpers.TwitterBootstrapPagerAligned)
                }
            </div>
        </div>
    </div>
</div>