﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Meeting
@{
    ViewBag.Title = @ManagementRDResource.Titulo;
    ViewBag.Icon = "graduation-cap"; Boolean esAcreditador = false;
}

@section Breadcrumbs {
}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.DirectorCarrera) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera))
                            {
                                @*<li class="active" role="presentation"><a data-toggle="tab" href="#registromanualTab" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false"><i class="fa fa-hand-o-up"></i> <span class="tabhidden">@OptionsResource.RegistroManual</span></a></li>
                                    <li role="presentation"><a data-toggle="tab" href="#generacionTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa-download"></i> <span class="tabhidden">@OptionsResource.Generacion</span></a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" href="#cargamasivaTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-cloud-upload"></i> <span class="tabhidden">@OptionsResource.CargaMasiva</span></a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" href="#descargaplantillaTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-file-excel-o"></i> <span class="tabhidden">@OptionsResource.DescargaPlantilla</span></a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" href="#mantenimientoTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@OptionsResource.Mantenimiento</span></a></li>*@
                                <li role="presentation" class="active"><a data-toggle="tab" href="#mantenimientoVirtualTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-hand-o-up"></i> <span class="tabhidden">@TabsResource.Mantenimiento</span></a></li>
                                <!--<li role="presentation" class=""><a data-toggle="tab" href="#hallazgosTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-hand-o-up"></i> <span class="tabhidden">Hallazgos</span></a></li>-->
                                <li role="presentation" class=""><a data-toggle="tab" href="#notificacionTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@TabsResource.Registrar</span></a></li>
                            }


                        </ul>
                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">
                            <div class="tab-pane active" id="mantenimientoVirtualTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i> @ManagementRDResource.MantenimientoActasDeReunionesDeDelegados</h2>
                                <p align="justify">
                                    @ManagementRDResource.ExplicacionFuncionalidad1
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("LstReunionDelegados", "MeetingDelegate")"><i class="fa fa-sign-in"></i> @TabsResource.Mantenimiento</a>
                                </p>
                            </div>
                           <!--  <div class="tab-pane" id="hallazgosTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i> Hallazgos Reuniones de Delegados</h2>
                                <p align="justify">
                                    La presente funcionalidad permite gestionar los hallazgos en Renuniones de Delegados
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("LstHallazgosIRD", "Register",new { Area = ConstantHelpers.AREAS.SURVEY })"><i class="fa fa-sign-in"></i> Hallazgos</a>
                                </p>
                            </div>-->
                            <div class="tab-pane" id="notificacionTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i> @ManagementRDResource.MantenimientoActasDeReunionesDeDelegados</h2>
                                <p align="justify">
                                    @ManagementRDResource.ExplicacionFuncionalidad2
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("AddEditMeetingDelegate", "MeetingDelegate")"><i class="fa fa-sign-in"></i> @TabsResource.Registrar</a>
                                </p>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
    </script>
}

