﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Meeting
@{
    ViewBag.Title = @ManagementResource.Titulo;
    ViewBag.Icon = "graduation-cap"; Boolean esAcreditador = false;
}

@section Breadcrumbs {
}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.DirectorCarrera) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera))
                            {
                                <li role="presentation" class=""><a data-toggle="tab" href="#notificacionTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@TabsResource.Registrar</span></a></li>
                            }


                        </ul>
                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">
                            <div class="tab-pane" id="notificacionTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i> @ManagementResource.RegistrarActasDeReunionExtraordinariaDeDocente</h2>
                                <p align="justify">
                                    @ManagementResource.ExplicacionFuncionalidad2
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("Create", "TeacherMeeting")"><i class="fa fa-sign-in"></i> @TabsResource.Registrar</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
    </script>
}

