﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Meeting
@{
    ViewBag.Title = @ManagementACCResource.Titulo;
    ViewBag.Icon = "graduation-cap"; Boolean esAcreditador = false;
}

@section Breadcrumbs {
}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.DirectorCarrera) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera))
                            {
                                @*<li class="active" role="presentation"><a data-toggle="tab" href="#registromanualTab" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false"><i class="fa fa-hand-o-up"></i> <span class="tabhidden">@OptionsResource.RegistroManual</span></a></li>
            <li role="presentation"><a data-toggle="tab" href="#generacionTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa-download"></i> <span class="tabhidden">@OptionsResource.Generacion</span></a></li>
            <li role="presentation" class=""><a data-toggle="tab" href="#cargamasivaTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-cloud-upload"></i> <span class="tabhidden">@OptionsResource.CargaMasiva</span></a></li>
            <li role="presentation" class=""><a data-toggle="tab" href="#descargaplantillaTab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="false"><i class="fa fa-file-excel-o"></i> <span class="tabhidden">@OptionsResource.DescargaPlantilla</span></a></li>
            <li role="presentation" class=""><a data-toggle="tab" href="#mantenimientoTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@OptionsResource.Mantenimiento</span></a></li>*@
                                <li role="presentation" class="active"><a data-toggle="tab" href="#mantenimientoVirtualTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-hand-o-up"></i> <span class="tabhidden">@TabsResource.Consultar</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#notificacionTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@TabsResource.Registrar</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#maintenanceTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@TabsResource.Mantenimiento</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#generarHallazgosTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-exchange"></i> <span class="tabhidden">@LayoutResource.OptionsHallazgos</span></a></li>
                            }


                        </ul>
                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">
                            <div class="tab-pane @(esAcreditador == false ? "active" : "")" id="mantenimientoVirtualTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i> @ManagementACCResource.ConsultarActasDeReunionDeComiteConsultivo</h2>
                                <p align="justify">
                                    @ManagementACCResource.ExplicacionFuncionalidad1
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("MeetingComitteMinute", "Meeting")"><i class="fa fa-sign-in"></i> @TabsResource.Consultar</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="notificacionTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i> @ManagementACCResource.RegistrarActasDeReunionDeComiteConsultivo</h2>
                                <p align="justify">
                                    @ManagementACCResource.ExplicacionFuncionalidad2
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("Create", "Meeting")"><i class="fa fa-sign-in"></i> @TabsResource.Registrar</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="maintenanceTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i> @ManagementACCResource.MantenimientoDeActasDeReunionDeComiteConsultivo</h2>
                                <p align="justify">
                                    @ManagementACCResource.ExplicacionFuncionalidad3
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("LstActaComiteConsultivo", "Meeting")"><i class="fa fa-sign-in"></i> @TabsResource.Mantenimiento</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="generarHallazgosTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-exchange"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.OptionsHallazgos</h2>
                                <p align="justify">
                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.OptionsMantenimientoHallazgosDescription
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("Discoveries", "Discoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR, InstrumentoId = ConstantHelpers.INSTRUMENTOS.ARD, ResultadoId = 1 })">
                                        <i class="fa fa-sticky-note"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Acceder
                                    </a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
    </script>
}

