﻿@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.Meeting
@using UPC.CA.ABET.Presentation.Areas.Meeting.Resources.Views.MeetingComitteMinute
@model UPC.CA.ABET.Presentation.Areas.Meeting.ViewModels.Meeting.MeetingsAssociatedViewModel

@{
    ViewBag.Title = MeetingsAssociatedResource.Titulo;
    ViewBag.Icon = "clipboard";
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index","PreSchedule", new { Area = ConstantHelpers.AREAS.MEETING })">@MeetingsAssociatedResource.ConsultarPreAgenda</a></li>
}

<div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
    <div class="panel">
        <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
            <a class="panel-title" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne">
                <i class="fa fa-align-justify"></i> @SidebarResource.Reuniones
            </a>
        </div>
        @Html.HiddenFor(m => m.PreAgenda.IdPreAgenda)
        @*
            @Html.HiddenFor(m => m.Reunion.IdReunion)
            @Html.HiddenFor(m => m.Reunion.IdPreAgenda)
            @Html.HiddenFor(m => m.Reunion.EsExtraordinaria)*@

        <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel">
            <div class="panel-body">
                <div class="row">
                    <table id="tblReunions" class="table table-hover table-responsive" data-info="true" data-length-change="true" data-paginate="true">
                        <thead>
                            <tr>
                                <th align="center" width="250">@MeetingsAssociatedResource.FechaDeReunion</th>
                                <th align="center">@DetailResource.Lugar</th>
                                <th align="center">@DetailResource.Motivo</th>
                                <th align="center" width="250"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.ListaReunions.Any())
                            {
                                <tr id="item-default">
                                    <td colspan="3" align="center">
                                        @MeetingsAssociatedResource.Mensaje
                                    </td>
                                </tr>
                            }
                            else
                            {
                                for (int i = 0; i < Model.ListaReunions.Count(); i++)
                                {
                                    <tr id="item-@Model.ListaReunions[i].IdReunion">
                                        <td align="left">@Model.ListaReunions[i].Fecha.ToShortDateString()</td>
                                        <td align="left">@Model.ListaReunions[i].Lugar</td>
                                        <td align="left">@Model.ListaReunions[i].Motivo</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("DetailsMeetingPreSchedule", "Meeting", new { IdPreAgenda = Model.IdPreAgenda, IdReunion = Model.ListaReunions[i].IdReunion })"><i class="fa fa-search"></i> @ButtonsOptionsResource.Visualizar</a>
                                                <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li role="presentation"><a href="@Url.Action("AddEditMeetingPreSchedule", "Meeting", new {IdPreAgenda = Model.ListaReunions[i].IdPreAgenda,  IdReunion = Model.ListaReunions[i].IdReunion })"><i class="fa fa-edit"></i> @ButtonsOptionsResource.Editar</a></li>
                                                    <li role="presentation"><a @Url.ModalHelperFor("_DeleteMeeting", "Meeting", new { idReunion = Model.ListaReunions[i].IdReunion }) role="menuitem"><i class="fa fa-trash"></i>&nbsp;&nbsp;@ButtonsOptionsResource.Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-right col-md-12">
                    <a class="btn btn-default animsition-link" href="@Url.Action("Consult", "PreSchedule")"><i class="fa fa-arrow-left"></i> @LayoutResource.Anterior</a>
                    <a class="btn btn-primary" href="@Url.Action("AddEditMeetingPreSchedule", "Meeting", new { idPreAgenda =  Model.IdPreAgenda })"><i class="fa fa-calendar-plus-o"></i> @LayoutResource.Nuevo</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function EliminarReunion(idReunion) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteReunion", "Meeting", new { Area = ConstantHelpers.AREAS.MEETING})',
            dataType: 'json',
            data: { id: idReunion },
            success: function (Reunion) {
                var row = document.getElementById('item-' + idReunion);
                var table = row.parentNode;
                while (table && table.tagName != 'TABLE')
                    table = table.parentNode;
                if (!table)
                    return;
                table.deleteRow(row.rowIndex);

                RenumerarCeldas();
            },
            error: function (ex) {
                alert( @MeetingsAssociatedResource.Error);
            }
        });
    }
</script>
