﻿@model IEnumerable<UPC.CA.ABET.Models.TipoEvaluadorMaestra>

@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluadorMaestra.RolesEvaluadoresResource.Titulo;
}

<!--
<p>
    @Html.ActionLink(UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluadorMaestra.RolesEvaluadoresResource.CrearNuevo, "Create", null, new { @class = "btn btn-primary" })
</p>
    -->

<div class="containerdt">

    <div class="table-responsive">
        <table class="table table-hover" id="myTable">

            <thead>
                <tr>
                    <th>
                        @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluadorMaestra.RolesEvaluadoresResource.Codigo
                    </th>
                    <th>
                        @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluadorMaestra.RolesEvaluadoresResource.Nombre

                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.ActionLink(UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Editar, "Edit", new { id = item.idTipoEvaluador }, new { @class = "btn btn-default" }) 
                            <!-- @Html.ActionLink(UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluadorMaestra.RolesEvaluadoresResource.Detalle , "Details", new { id = item.idTipoEvaluador }, new { @class = "btn btn-success" }) | -->
                            @if(item.Codigo!="CLI" && item.Codigo != "COA" && item.Codigo != "GER" && item.Codigo != "COM")
                            { 
                                @Html.ActionLink(UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Eliminar, "Delete", new { id = item.idTipoEvaluador }, new { @class = "btn btn-dark" })
                            }
                        </td>
                    </tr>
                }
            </tbody>
</table>
     </div>
    </div>