﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = AddEditFDCResource.KeyWordsEncuestas;
    ViewBag.Icon = "tachometer";
}

<div class="row" data-plugin="matchHeight" data-by-row="true">
    <!-- First Row -->
    <div class="col-lg-3 col-sm-6 col-xs-12 info-panel">
        <div class="widget widget-shadow">
            <div class="widget-content bg-white padding-20">
                <a href="@Url.Action("SurveyManagementPPP", "Survey")" class="btn btn-floating btn-sm btn-warning">
                    <i class="fa fa-suitcase" style="margin-top: 25%;"></i>
                </a>
                <span class="margin-left-15 font-weight-400">@AddEditFDCResource.KeyWordsPracticaPreProfesional</span>
                <div class="content-text text-center margin-bottom-0">
                    <span class="font-size-40 font-weight-100">@Model.cantidadPPP</span>
                    <p class="blue-grey-400 font-weight-100 margin-0">@AddEditFDCResource.KeyWordsRegistrados</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12 info-panel">
        <div class="widget widget-shadow">
            <div class="widget-content bg-white padding-20">
                <a href="@Url.Action("SurveyManagementFDC", "Survey")" class="btn btn-floating btn-sm btn-danger">
                    <i class="fa fa-list-alt" style="margin-top: 25%;"></i>
                </a>
                <span class="margin-left-15 font-weight-400">@AddEditFDCResource.KeyWordsFinCiclo</span>
                <div class="content-text text-center margin-bottom-0">
                    <span class="font-size-40 font-weight-100">@Model.cantidadFDC</span>
                    <p class="blue-grey-400 font-weight-100 margin-0">@AddEditFDCResource.KeyWordsRegistrados</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12 info-panel">
        <div class="widget widget-shadow">
            <div class="widget-content bg-white padding-20">
                <a href="@Url.Action("SurveyManagementGRA", "Survey")" class="btn btn-floating btn-sm btn-success">
                    <i class="fa fa-graduation-cap" style="margin-top: 25%;"></i>
                </a>
                <span class="margin-left-15 font-weight-400">@AddEditFDCResource.KeyWordsGraduando</span>
                <div class="content-text text-center margin-bottom-0">
                    <span class="font-size-40 font-weight-100">@Model.cantidadGRA</span>
                    <p class="blue-grey-400 font-weight-100 margin-0">@AddEditFDCResource.KeyWordsRegistrados</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12 info-panel">
        <div class="widget widget-shadow">
            <div class="widget-content bg-white padding-20">
                <a href="#" class="btn btn-floating btn-sm btn-info">
                    <i class="fa fa-sticky-note" style="margin-top: 25%;"></i>
                </a>
                <span class="margin-left-15 font-weight-400">@AddEditFDCResource.KeyWordsHallazgos</span>
                <div class="content-text text-center margin-bottom-0">
                    <span class="font-size-40 font-weight-100">0</span>
                    <p class="blue-grey-400 font-weight-100 margin-0">@AddEditFDCResource.KeyWordsRegistrados</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Third Row -->
</div>
@section Scripts{
    <script>
    $(window).load(function () {
        $('#loading').hide();
    });
    </script>
}