﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Generate._ViewSurveyTemplateViewModel
@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Title = "Encuesta";
    ViewBag.Icon = "object-group";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
    var myHtmlString = new HtmlString(Model.Desing);
    
}


    <style>
        td {
            border: 1px solid red;
        }

        .points {
            width: auto;
            height: auto;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url(/Areas/Survey/Content/images/Templates/circle-point.png);
            padding-bottom: 2px;
        }
    </style>

<div id="widget" style="overflow: hidden; background:white; color:black;">
    <div class="row">
        <div class="col-md-4">
            <center>
                <img src="@Url.Content("~/Areas/Survey/Content/images/Templates/upclogo.jpg")" width="330" height="70" style="padding-left: 5%;" />
            </center>
        </div>
        <div class="col-md-4">
            <center>
                <br />
                <p><strong>ÁREA DE COMPUTACIÓN</strong></p>
                <p><strong>CURSO DE AUTOEVALUACIÓN</strong></p>
                <p><strong>Semestre 2015-01</strong></p>
            </center>
        </div>
        <div class="col-md-4">
            <center>
                <img src="@Url.Content("~/Areas/Survey/Content/images/Templates/uselapiz.png")" />
            </center>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <p><strong>CURSO:</strong></p>
                <p><strong>SECCIÓN:</strong></p>
                <p><strong>PROFESOR:</strong></p>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="padding-left: 4%;">
        <div class="col-md-12">
            <table class="col-md-11">
                <tr>
                    <td colspan="2">
                        <div style="padding-left: 2%;">
                            <p>
                                A continuación coloca una calificación a cada pregunta, marcando un valor del 10 al 1 donde "10" significa que estás
                                <strong>completamente de acuerdo</strong> y "1" <strong>completamente en desacuerdo.</strong>
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="background:rgba(255, 0, 0, 0.28);border-top:none;border-bottom:none" colspan="2">
                        <center>
                            <p>
                                <strong>
                                    Completamente de acuerdo &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;(10)&nbsp;&nbsp;&nbsp;(9)&nbsp;&nbsp;&nbsp;(8)&nbsp;&nbsp;&nbsp;(7)&nbsp;&nbsp;&nbsp;(6)&nbsp;&nbsp;&nbsp;(5)&nbsp;&nbsp;&nbsp;(4)&nbsp;&nbsp;&nbsp;(3)&nbsp;&nbsp;&nbsp;(2)&nbsp;&nbsp;&nbsp;(1)&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i> &nbsp;&nbsp;&nbsp;Completamente en desacuerdo
                                </strong>
                            </p>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="border-bottom:none">
                        <div style="padding-left: 1%;">
                            <div>
                                <p>
                                    <strong>EVALUACIÓN DEL CURSO</strong>
                                    <br />01. Para el logro final de este curso, por favor marca en un circulo el número que mejor corresponda a la siguiente pregunta:
                                    <br /><strong>¿ Cuánto el profesor ha contribuido en el cumplimiento del logro del curso ?</strong>
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-8" style="border-right:none">
                        <div>
                            <div>
                                <p>
                                    <strong>LOGRO DEL CURSO</strong>
                                    <br />
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                                </p>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-4">
                        <div class="row">
                            <table class="col-md-12">
                                <tr style="border:none; background:rgba(255, 0, 0, 0.28)">
                                    @for (int i = 10; i >= 1; i--)
                                    {
                                        <td style="border:none">
                                            <center>
                                                @if (i == 10)
                                                {
                                                    <div class="points">@i</div>
                                                }
                                                else
                                                {
                                                    <div class="points">@i&nbsp;</div>
                                                }
                                            </center>
                                        </td>
                                    }
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <p>02. Escriba en el siguiente recuadro alguna observación o sugerencia para mejorar la efectividad del curso.</p><br />
                <hr style="border-top: solid 1px red;" /><br />
                <hr style="border-top: solid 1px red;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <table class="col-md-12">
                    <tr>
                        <td class="col-md-4"></td>
                        <td class="col-md-4" style="border-right:none;border-left:none"></td>
                        <td class="col-md-4">CURSO: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SECCIÓN:</td>
                    </tr>
                    <!--BarCode-->
                    <tr style="border:none">
                        <td style="border:none" colspan="3"><img /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br />
    <hr />
</div>
<br />
<div class="row" style="overflow: hidden">
    <div class="col-md-12">
        <div class="col-md-12">
            <input type="button" id="btnSave" value="Save PNG" />
        </div>
    </div>
</div>

<div id="img-out"></div>

@section scripts{
    <script src="@Url.Content("~/Areas/Survey/Content/js/html2canvas.js")"></script>
    <script>
        $(function () {
            $("#btnSave").click(function () {
                html2canvas($("#widget"), {
                    onrendered: function (canvas) {
                        theCanvas = canvas;
                        canvas.setAttribute("id", "canvas");
                        document.body.appendChild(canvas);
                        // Convert and download as image
                        //Canvas2Image.saveAsPNG(canvas);
                        $("#img-out").append(canvas);
                        // Clean up
                        //document.body.removeChild(canvas);
                    }
                });
            });
        });
        function UploadPic() {

            // Generate the image data
            var getcanvas = $('#canvas').get(0);
            var Pic = getcanvas.toDataURL("image/png");
            Pic = Pic.replace(/^data:image\/(png|jpg);base64,/, "")

            // Sending the image data to Server
            $.ajax({
                type: 'POST',
                url: '@Url.Action("pdf","Home")',
                data: '{ "imageData" : "' + Pic + '" }',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (msg) {
                    alert("Done, Picture Uploaded.");
                }
            });
        }
    </script>
}
