﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Generate.GenerateSurveyGRAViewModel
@{
    ViewBag.Title = "Generar Encuesta Graduando";
    ViewBag.SubSection = Model.Tipo;
    ViewBag.Icon = "download";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs
{
    <li><a href="@Url.Action("SurveyManagementGRA", "Survey")">Encuesta Graduando</a></li>
}
@section styles{
    <link href="@Url.Content("~/Content/assets/css/select2.css")" rel="stylesheet" />
}
<div class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> @AddEditFDCResource.AddEditGRAFiltros</h3>
        </div>
        <div class="panel-body">
            <form method="post">
                @Html.HiddenFor(x => x.Tipo)
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-1"><label class="label-survey">*@AddEditFDCResource.AddEditGRACiclo</label></div>
                            <div class="col-md-5">
                                @Html.DropDownListFor(m => Model.cicloId, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), "Seleccione", new { @class = "form-control select2-select" })
                                @Html.ValidationMessageFor(x => x.cicloId)
                            </div>
                            <div class="col-md-1"><label class="label-survey">*@AddEditFDCResource.AddEditGRACarrera</label></div>
                            <div class="col-md-5">
                                @Html.DropDownListFor(m => Model.carreraId, new SelectList(Model.lstCarrera, "IdCarrera", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), "Seleccione", new { @class = "form-control select2-select" })
                                @Html.ValidationMessageFor( x => x.carreraId)
                            </div>                            
                        </div>
                    </div>
                </div>
                <hr />
                <div class="example example-buttons">
                    <div class="pull-right">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-cogs"></i>&nbsp; @(language == ConstantHelpers.CULTURE.ESPANOL ? "Generar":"Generate")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="pull-right">
    <a class="btn btn-default animsition-link" href="@Url.Action("SurveyManagementGRA", "Survey")"><i class="fa fa-arrow-left"></i> @AddEditFDCResource.AddEditGRAAtras</a>
</div>
<br />







