﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Generate.GenerateSurveyFDCViewModel
@{
    ViewBag.Title = "Generar Encuesta Fin de Ciclo";
    ViewBag.SubSection = Model.Tipo;
    ViewBag.Icon = "download";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs
{
    <li><a href="@Url.Action("SurveyManagementFDC", "Survey")">Encuesta Fin de Ciclo</a></li>
}

<div class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> @AddEditFDCResource.AddEditFDCFiltros</h3>
        </div>
        <div class="panel-body">
            <form method="post">
                @Html.HiddenFor(x => x.Tipo)
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-1"><label class="label-survey">*@AddEditFDCResource.AddEditFDCCiclo</label></div>
                            <div class="col-md-5">
                                @Html.DropDownListFor(m => Model.cicloId, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), "Seleccione", new
                               {
                                   @class = "form-control select2-select",
                                   @required = true,
                                   @data_plugin = "select2",
                                   @data_source_url = Url.Action("GetCursoBySedePeriodo", "Json"),
                                   @data_update_target = "#IdCurso",
                                   @data_filter = "IdPeriodoAcademico"
                               })
                                @Html.ValidationMessageFor( x => x.cicloId)
                            </div>
                            <div class="col-md-1"><label class="label-survey">*@AddEditFDCResource.AddEditFDCSede</label></div>
                            <div class="col-md-5">
                                @Html.DropDownListFor(m => Model.sedeId, new SelectList(Model.lstSede, "IdSede", "Nombre"), "Seleccione", new { @class = "form-control select2-select", @data_placeholder = "[- Todos -]" })
                                @Html.ValidationMessageFor(x => x.sedeId)
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-1"><label class="label-survey">*@AddEditFDCResource.AddEditFDCCurso</label></div>
                            <div class="col-md-5">
                                @Html.DropDownListFor(m => Model.IdCurso, new SelectList(Model.lstCurso, "IdCurso", "NombreEspanol"), "Seleccione", new
                           {
                               @class = "form-control select2-select",
                               @data_placeholder = "[- Todos -]",
                               data_plugin = "select2",
                               data_filter = "cursoId",
                               @data_text_member = "text",
                               @data_value_member = "id",
                               @data_update_target = "#seccionId",
                               @data_source_url = Url.Action("GetSeccionByCursoFDC", "Json"),
                               @required = true,
                               @disabled = true,
                           })
                                @Html.ValidationMessageFor(x => x.IdCurso)
                            </div>
                            <div class="col-md-1"><label class="label-survey">@AddEditFDCResource.AddEditFDCSeccion</label></div>
                            <div class="col-md-5">
                                @Html.DropDownListFor(m => Model.seccionId, new SelectList(Model.lstSeccion, "IdSeccion", "Codigo"), language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]" : "[- All -]", new
                           {
                               @class = "form-control select2-select",
                               @data_text_member = "Codigo",
                               @data_value_member = "IdSeccion",
                               @disabled = true
                               
                           })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row input-daterange" style="width:auto">
                        <div class="col-md-12">
                            <div class="col-md-1"><label class="label-survey">Fecha de envío</label></div>
                            <div class="col-md-5">
                                <div class="input-group" style="width: 100%">
                                    <span class="input-group-addon"> <i class="icon wb-calendar" aria-hidden="true"></i> </span>
                                    @Html.TextBoxFor(x => x.FechaEnvio, Model.FechaEnvio != null ? Model.FechaEnvio.Value.ToString(language == ConstantHelpers.CULTURE.ESPANOL ? "dd/MM/yyyy" : "MM/dd/yyyy") : "", new { @class = "form-control", @required = "" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="example example-buttons">
                    <div class="pull-right">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-cogs"></i>&nbsp; @(language == ConstantHelpers.CULTURE.ESPANOL ? "Generar" : "Generate")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="pull-right">
    <a class="btn btn-default animsition-link"  href="@Url.Action("GestionEncuesta", "Survey", new { Tipo = Model.Tipo })"><i class="fa fa-arrow-left"></i> @AddEditFDCResource.AddEditFDCAtras</a>
</div>
<br />

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.input-daterange').datepicker({
                format: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "dd/mm/yyyy" : "mm/dd/yyyy")',
                clearBtn: true,
                language: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "es":"en")',
            });
        });

        $(".curso-select").select2({
            placeholder: '@(language == ConstantHelpers.CULTURE.ESPANOL ? "[- Todos -]":"[- All -]")',
            ajax: {
                url: '@Url.Action("GetCursoAjaxByCiclo", "Json")',
                dataType: 'json',
                type: 'POST',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        IdPeriodoAcademico: $('#cicloId').val()
                    };
                },
                processResults: function (data, params) {
                    return {
                        results: data
                    };
                },
                cache: true
            },

            allowClear: true
        });

        $(document).on('change', '[data-plugin="select2"]', function (e) {
            // Valor seleccionado
            var selectedId = $(this).val();

            if (selectedId != "") {
                // Nombre del parámetro de filtro
                var dataFilter = $(this).attr('data-filter');

                // Url de datos json
                var sourceUrl = $(this).attr('data-source-url');

                // Select a actualizar
                var updateTarget = $(this).attr('data-update-target');

                var postData = {};
                postData[dataFilter] = selectedId;
                postData['IdPeriodoAcademico'] = $('#cicloId').val();
                postData['IdSede'] = $('#sedeId').val();
                var $updateTarget = $(updateTarget);
                $updateTarget.attr('disabled', 'disabled')
                $updateTarget.find('option[value!=""]').remove();

                $.ajax({
                    type: 'POST',
                    url: sourceUrl,
                    data: postData,
                    dataType: 'json',
                    async: false,
                    success: function (data) {
                        var $updateTarget = $(updateTarget);
                        var valueMember = $updateTarget.attr('data-value-member')
                        var textMember = $updateTarget.attr('data-text-member')
                        for (i = 0; i < data.length; i++) {
                            $updateTarget.append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                        }
                        $updateTarget.removeAttr('disabled');
                        $updateTarget.trigger('change');
                    },
                    beforeSend: function () {

                    },
                    complete: function () {

                    }
                });
            }
        });
    </script>
}