﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Generate.GenerateSurveyPPPViewModel
@{
    ViewBag.Title = "Generar Encuesta Práctica Pre-Profesional";
    ViewBag.SubSection = Model.Tipo;
    ViewBag.Icon = "download";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs
{
    <li><a href="@Url.Action("SurveyManagementPPP", "Survey")">Encuesta Práctica Pre-Profesional</a></li>
}

<div class="col-md-12">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> Filtros</h3>
        </div>
        <div class="panel-body">
            <form method="post">
                @Html.HiddenFor(x => x.Tipo)
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-1"><label class="label-survey">Ciclo</label></div>
                            <div class="col-md-5">
                                @Html.DropDownListFor(m => Model.cicloId, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"), "Seleccione", new
                           {
                               @class = "form-control select2-select"@*, @data_plugin = "select2"*@,
                               @data_placeholder = "[- Todos -]",
                               @data_text_member = "CicloAcademico",
                               @data_value_member = "IdPeriodoAcademico"@*, @disabled = true*@,
                               @style = "display:inline-block;"
                           })
                                @Html.ValidationMessageFor(x => x.cicloId)
                            </div>
                            <div class="col-md-1"><label class="label-survey">Carrera</label></div>
                            <div class="col-md-5">
                                @Html.DropDownListFor(m => Model.carreraId, new SelectList(Model.lstCarrera, "IdCarrera", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"), "Seleccione", new { @class = "form-control select2-select", @data_plugin = "select2", @data_placeholder = "[- Todos -]", @data_source_url = Url.Action("GetSedeByCarrera", "Json"), @data_update_target = "#sedeId", @data_filter = "carreraId" })
                                @Html.ValidationMessageFor( x => x.carreraId)
                            </div>

                        </div>
                    </div>
                </div>
                <hr />
                <div class="example example-buttons">

                    <div class="pull-right">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-cogs"></i>&nbsp; Generar Encuesta</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="pull-right">
    
</div>
