﻿@model UPC.CA.ABET.Presentation.Areas.Survey.ViewModels.Configuration._AddPPPOutcomeViewModel

@for (int j = 0; j < Model.LstComisiones.Count; j++)
            {
    <div class="row">
        <div class="form-group">
            <label class="col-sm-3 control-label">Outcome relacionado @Model.LstComisiones[j].comision.Codigo</label>
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.LstOutcomesSeleccionados[j], Model.LstComisiones[j].LstOutcomes, "[- Seleccione -]"
                  , new
                  {
                      @class = "form-control select2-select"

                  })
            </div>
        </div>
    </div>
}
