﻿@{
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    var icon = language == ConstantHelpers.CULTURE.ESPANOL ? language.Split('-')[0] : language.Split('-')[1].ToLower();
}
<!DOCTYPE html>
<html class="no-js css-menubar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="describe algo">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#FF0000">
    <link rel="icon" sizes="192x192" href="@Html.Content("assets/images/logo192.png")" />

    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#FF0000">

    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#FF0000">
    <link rel="apple-touch-icon" href="@Html.Content("assets/images/logo192.png")">

    <title>Comite de Acreditacion - @ViewBag.Title</title>

    <link rel="shortcut icon" href="@Html.Content("assets/images/favicon.ico")" />

    <!-- Stylesheets -->
    @Html.Content("css/bootstrap.min.css")
    @Html.Content("css/bootstrap-extend.min.css")
    @Html.Content("css/site.min.css")

    <!-- Plugins -->
    @Html.Content("vendor/animsition/animsition.min.css")
    @Html.Content("vendor/asscrollable/asScrollable.min.css")
    @Html.Content("vendor/switchery/switchery.min.css")
    @Html.Content("vendor/intro-js/introjs.min.css")
    @Html.Content("vendor/flag-icon-css/css/flag-icon.min.css")

    <!-- Fonts -->
    @Html.Content("fonts/web-icons/web-icons.min.css")
    @Html.Content("fonts/font-awesome/css/font-awesome.min.css")
    @Html.Content("fonts/material-design/css/materialdesignicons.min.css")
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' />

    @Html.Content("css/custom-styles.css")

    @RenderSection("Styles", false)

    <!-- Scripts -->
    @Html.Content("vendor/modernizr/modernizr.min.js")
    @Html.Content("vendor/breakpoints/breakpoints.min.js")
    <script>
        Breakpoints();
    </script>

</head>

<body>
    <nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided" data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
                <i class="icon wb-more-horizontal" aria-hidden="true"></i>
            </button>
            <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
                <img class="navbar-brand-logo" src="@Html.Content("assets/images/logo.png")" title="Remark">
                <span class="navbar-brand-text"> UPC - SA</span>
            </div>
        </div>

        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="hidden-float" id="toggleMenubar">
                        <a data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                    <li class="hidden-xs" id="toggleFullscreen">
                        <a class="icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                            <span class="sr-only">Toggle fullscreen</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-animation="scale-up" aria-expanded="false" role="button">
                            <span class="fa fa-ban"></span>&nbsp; @Session.GetNombreModalidad() <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            @foreach (var item in UPC.CA.ABET.Presentation.Helper.CacheHelperImp.GetListModalidades())
                            {
                                <li role="presentation">
                                    <a class="animsition-link" href="@Url.Action("ChangeModality", "Home", new { Area = String.Empty, ModalidadId = item.Value })" role="menuitem">
                                        <span class="fa fa-circle @(Session.GetModalidadId().ToSafeString() == item.Value ? "text-success" : String.Empty)"></span> @item.Text
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-animation="scale-up" aria-expanded="false" role="button">
                            <span class="fa fa-university"></span>&nbsp; @Session.GetNombreEscuela() <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">

                            @foreach (var item in UPC.CA.ABET.Presentation.Helper.CacheHelperImp.GetLstEscuelas())
                            {
                                <li role="presentation">
                                    <a class="animsition-link" href="@Url.Action("ChangeEscuela", "Home", new { Area = String.Empty, EscuelaId = item.Value })" role="menuitem">
                                        <span class="fa fa-circle @(Session.GetEscuelaId().ToSafeString() == item.Value ? "text-success" : String.Empty)"></span> @item.Text
                                    </a>
                                </li>
                            }


                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-animation="scale-up" aria-expanded="false" role="button">
                            <span class="flag-icon flag-icon-@icon"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="@Url.Action("ChangeIdioma", "Home", new { Idioma = ConstantHelpers.CULTURE.INGLES })" role="menuitem">
                                    <span class="flag-icon flag-icon-us"></span> @LayoutResource.Ingles
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="@Url.Action("ChangeIdioma", "Home", new { Idioma = ConstantHelpers.CULTURE.ESPANOL })" role="menuitem">
                                    <span class="flag-icon flag-icon-es"></span> @LayoutResource.Espanol
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#" title="Messages" aria-expanded="false" data-animation="scale-up" role="button">
                            <i class="icon wb-envelope" aria-hidden="true"></i>
                            <span class="badge badge-info up">3</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                            <li class="dropdown-menu-header" role="presentation">
                                <h5>MESSAGES</h5>
                                <span class="label label-round label-info">New 3</span>
                            </li>

                            <li class="list-group" role="presentation">
                                <div data-role="container">
                                    <div data-role="content">
                                        <a class="list-group-item" href="#" role="menuitem">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h6 class="media-heading">Nueva Reunión de <strong>Docentes</strong></h6>
                                                    <div class="media-meta">
                                                        <time datetime="2015-06-17T20:22:05+08:00">30 minutes ago</time>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-menu-footer text-center" role="presentation">
                                <a class="dropdown-menu-footer-btn" href="#" role="button">
                                    <i class="icon wb-settings" aria-hidden="true"></i>
                                </a>
                                <a href="#" role="menuitem">
                                    Ver todo
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="scale-up" role="button">
                            <span class="avatar avatar-online">
                                <img src="http://placehold.it/200" alt="...">
                                <i></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="#" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> @LayoutResource.Perfil</a>
                            </li>
                            <li role="presentation">
                                <a href="#" role="menuitem"><i class="icon wb-settings" aria-hidden="true"></i> @LayoutResource.Opciones</a>
                            </li>
                            <li class="divider" role="presentation"></li>
                            <li role="presentation">
                                <a href="@Url.Action("Logout","Home")" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> @LayoutResource.Salir</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
        </div>
    </nav>

    <div class="site-menubar">
        <div class="site-menubar-body" style="height: 100% !important;">
            @{Html.RenderPartial("_Sidebar");}
        </div>
    </div>

    <!-- Page -->
    <div class="page animsition">
        <div class="page-main">
            @if (IsSectionDefined("Breadcrumbs"))
            {
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Dashboard","Home")">Home</a></li>
                    @RenderSection("Breadcrumbs", false)
                    <li class="active">@ViewBag.Title</li>
                </ol>
            }


            @if (TempData["FlashMessage"] != null)
            {
                <div class="card-body card-padding">
                    @Html.AlertDark((MessageType)TempData["MessageType"], TempData["FlashMessage"].ToSafeString())
                </div>
            }

            @if (@ViewBag.Title != null)
            {
                <div class="page-header">
                    <h1 class="page-title"><i class="fa fa-@ViewBag.Icon"></i> @ViewBag.Title</h1>
                </div>
            }

            <div class="page-content">
                @RenderBody()
            </div>
        </div>


    </div>

    <footer class="site-footer">
        <div class="site-footer-legal">© 2016 <a href="#">Comite de Acreditación</a></div>
    </footer>

    <!-- End Page -->
    <!-- Core  -->
    @Html.Content("vendor/jquery/jquery.min.js")
    @Html.Content("vendor/bootstrap/bootstrap.min.js")
    @Html.Content("vendor/animsition/animsition.min.js")
    @Html.Content("vendor/asscroll/jquery-asScroll.min.js")
    @Html.Content("vendor/mousewheel/jquery.mousewheel.min.js")
    @Html.Content("vendor/asscrollable/jquery.asScrollable.all.min.js")

    <!-- Plugins -->
    @Html.Content("vendor/switchery/switchery.min.js")
    @Html.Content("vendor/intro-js/intro.min.js")
    @Html.Content("vendor/screenfull/screenfull.min.js")

    <!-- Scripts -->
    @Html.Content("js/core.min.js")
    @Html.Content("js/site.min.js")

    @Html.Content("assets/js/sections/menu.min.js")
    @Html.Content("assets/js/sections/menubar.min.js")
    @Html.Content("assets/js/sections/gridmenu.min.js")
    @Html.Content("assets/js/sections/sidebar.min.js")

    @Html.Content("js/components/asscrollable.min.js")
    @Html.Content("js/components/animsition.min.js")


    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>

    <script>
        (function (document, window, $) {
            'use strict';
            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>

    @RenderSection("Scripts", false)

</body>
</html>