﻿@{
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

}
<div class="page-aside">

    <div class="page-aside-switch">
        <i class="icon wb-chevron-left" aria-hidden="true"></i>
        <i class="icon wb-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="page-aside-inner" data-plugin="pageAsideScroll">
        <div data-role="container">
            <div data-role="content">
                <section class="page-aside-section">
                    <h5 class="page-aside-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Administracion</h5>
                    <div class="list-group">
                        <a class="list-group-item" href="@Url.Action("Index","Maintenance")"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDeCargas</a>
                        <a class="list-group-item" href="@Url.Action("ListAcreditadora", "Acreditation", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDeAcreditaciones</a>
                        <a class="list-group-item" href="@Url.Action("ListCarrera", "Career", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDeCarreras</a>
                        <a class="list-group-item" href="@Url.Action("ListEscuela", "Career", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-book" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDeEscuelas</a>
                        <a class="list-group-item" href="@Url.Action("ListSede", "Local", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-arrows-h" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDeSedes</a>
                        <a class="list-group-item" href="@Url.Action("ListUsuario", "User", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-arrows-h" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDeUsuarios</a>
                        <a class="list-group-item" href="@Url.Action("ListAlumnoMatriculado", "Student", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-arrows-h" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDeAlumnos</a>
                        <a class="list-group-item" href="@Url.Action("Index", "Configuration", new { Area = ConstantHelpers.AREAS.REPORT })"><i class="fa fa-gear" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ProcesamientoDeRubricas</a>


                    </div>
                </section>
                <section class="page-aside-section">
                    <h5 class="page-aside-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.AntesDeMatricula</h5>
                    <div class="list-group">
                        <a class="list-group-item" href="@Url.Action("ListPeriodoAcademico", "AcademicPeriod", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.PeriodoAcademico</a>
                        <a class="list-group-item" href="@Url.Action("Professors","AfterEnrollment")"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Docentes</a>
                        <a class="list-group-item" href="@Url.Action("Outcomes","BeforeEnrollment")"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Outcomes</a>
                        <a class="list-group-item" href="@Url.Action("Curriculum","BeforeEnrollment")"><i class="fa fa-book" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.MallaCurricular</a>
                        <a class="list-group-item" href="@Url.Action("CurriculumAcademicPeriod","BeforeEnrollment")"><i class="fa fa-arrows-h" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.AsociacionDeMallaYCiclo</a>
                        <a class="list-group-item" href="@Url.Action("CareerCommission","BeforeEnrollment")"><i class="fa fa-arrows-h" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.AsociacionDeCarreraYComisión</a>
                    </div>
                </section>
                <section class="page-aside-section">
                    <h5 class="page-aside-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.InicioDePeriodoAcademico</h5>
                    <div class="list-group">
                        <a class="list-group-item" href="@Url.Action("OrganizationChart","BeforeEnrollment")"><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Organigrama</a>
                        <a class="list-group-item" href="@Url.Action("Classes","AfterEnrollment")"><i class="fa fa-cubes" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Secciones</a>
                        <a class="list-group-item" href="@Url.Action("EnrolledStudents","AfterEnrollment")"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.AlumnosMatriculados</a>
                        <a class="list-group-item" href="@Url.Action("StudentsPerClass","AfterEnrollment")"><i class="fa fa-qrcode" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.AlumnosPorSeccion</a>
                        <a class="list-group-item" href="@Url.Action("Delegates","AfterEnrollment")"><i class="fa fa-key" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Delegados</a>
                    </div>
                </section>
                <section class="page-aside-section">
                    <h5 class="page-aside-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.DuranteElPeriodoAcademico</h5>
                    <div class="list-group">
                        <a class="list-group-item" href="@Url.Action("UploadPPP", "Excel", new { Area = ConstantHelpers.AREAS.SURVEY })"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.EncuestaPPPs</a>
                        <a class="list-group-item" href="@Url.Action("EmailSurveyGRA", "Email", new { Area = ConstantHelpers.AREAS.SURVEY })"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.RelaciónDeGraduandos</a>



                        <a class="list-group-item" href="@Url.Action("CargaMasivaIFC", "IfcManagement", new { Area = ConstantHelpers.AREAS.PROFESSOR })"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.InformesDeFinCiclo</a>
                    </div>
                </section>

                <section class="page-aside-section">
                    <h5 class="page-aside-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.CierreDePeriodoAcademico</h5>
                    <div class="list-group">
                        <a class="list-group-item" href="@Url.Action("Grades","EndOfTerm")"><i class="fa fa-sticky-note" aria-hidden="true"></i>&nbsp; &nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.CargaNotaRC</a>
                        <a class="list-group-item" href="@Url.Action("UploadExcelFiles","BeforeEnrollment", new { Area = ConstantHelpers.AREAS.UPLOAD, type = BulkInsertType.RubricToEvaluation })"><i class="fa fa-sticky-note" aria-hidden="true"></i>&nbsp; &nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.CargaNotaRV</a>
                    </div>
                </section>

                <section class="page-aside-section">
                    <h5 class="page-aside-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Indicadores</h5>
                    <div class="list-group">
                        <a class="list-group-item" href="@Url.Action("Attrition","EndOfTerm")"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i>&nbsp; &nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.AlumnosAttrition</a>
                        <a class="list-group-item" href="@Url.Action("Cohort","EndOfTerm")"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.AlumnosCohorte</a>
                        <a class="list-group-item" href="@Url.Action("CertificatedStudents","EndOfTerm")"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.AlumnosTitulados</a>
                        <a class="list-group-item" href="@Url.Action("ProfessorsAttendance","EndOfTerm")"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; &nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.AsistenciaDeDocentes</a>
                        <a class="list-group-item" href="@Url.Action("ProfessorPunctuality","EndOfTerm")"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; &nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.PuntualidadDeDocentes</a>
                        <a class="list-group-item" href="@Url.Action("CohortIndicator","EndOfTerm")"><i class="fa fa-sticky-note" aria-hidden="true"></i>&nbsp; &nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Ingresantes</a>
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>