﻿@model UPC.CA.ABET.Presentation.Areas.Upload.ViewModels.DataUpload.BaseUploadViewModel
@using UPC.CA.ABET.Presentation.Areas.Upload.Resources.Views.Shared


<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <div id="success-msg" class="alert alert-success" hidden="hidden">
                <h5 class="text-success"><span class="fa fa-check-circle"></span>&nbsp;&nbsp;@Shared.MensajeCarga</h5>
            </div>
            <div id="failure-msg" class="alert alert-danger" hidden="hidden">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-filter"></i>&nbsp; @Shared.PanelCiclo</h3>
                <div class="panel-actions">
                    <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label" for="inputBasicLastName">@Shared.ElegirCiclo</label>
                        @Html.DropDownList("termDropDown", Model.Modal , new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-filter"></i>&nbsp; @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.DescargarPlantilla</h3>
                <div class="panel-actions">
                    <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label" for="btnDownloadFilee">&nbsp;</label>
                        <button id="btnDownloadFile" class="btn btn-primary btn-block">
                            <i class="fa fa-download"></i>&nbsp;
                            @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Descargar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fileUploadPanel" class="row" hidden="hidden">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-file-o"></i>&nbsp; @Shared.ElegirArchivo
                    </h3>
                    <div class="panel-actions">
                        <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <span id="btn-add-file" class="btn btn-success fileinput-button">
                                <i class="fa fa-plus"></i>
                                <span>&nbsp; @Shared.AgregarArchivo</span>
                                <input id="fileupload" type="file" name="file" accept=".xls, .xlsx">
                            </span>
                            <br />
                            <br />
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                            <br />
                            <div id="files" class="file-container">
                            </div>
                            <div id="spinner" class="sk-circle" hidden="hidden">
                                <div class="sk-circle1 sk-child"></div>
                                <div class="sk-circle2 sk-child"></div>
                                <div class="sk-circle3 sk-child"></div>
                                <div class="sk-circle4 sk-child"></div>
                                <div class="sk-circle5 sk-child"></div>
                                <div class="sk-circle6 sk-child"></div>
                                <div class="sk-circle7 sk-child"></div>
                                <div class="sk-circle8 sk-child"></div>
                                <div class="sk-circle9 sk-child"></div>
                                <div class="sk-circle10 sk-child"></div>
                                <div class="sk-circle11 sk-child"></div>
                                <div class="sk-circle12 sk-child"></div>
                            </div>
                            <div id="spinner-message" hidden="hidden">
                                <center>
                                    <p>@Shared.ProcesarArchivo</p>
                                </center>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="uploadType" class="hidden" type="text" value="@Model.UploadType" />
<input id="urlUploadExists" class="hidden" type="text" value="@Model.UploadExistsUrl" />
<input id="uploadFileUrl" class="hidden" type="text" value="@Model.UploadFileUrl" />
<input id="downloadFileUrl" class="hidden" type="text" value="@Model.DownloadFileUrl" />
<input id="getSubModalitiesListUrl" class="hidden" type="text" value="@Model.SubModalitiesListUrl" />
<input id="getTermsListUrl" class="hidden" type="text" value="@Model.TermsListUrl" />
<input id="getTermsListUrlRegular" class="hidden" type="text" value="@Model.TermsListUrlRegular" />