﻿@{
    Layout = null;
    ViewBag.Culture = System.Threading.Thread.CurrentThread.CurrentUICulture.ToString();
}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>@ViewBag.Title | UPC - SA</title>

    <!-- Stylesheets -->
    @Html.Content("css/bootstrap.min.css")
    @Html.Content("css/bootstrap-extend.min.css")
    @Html.Content("css/site.min.css")

    <!-- Plugins -->
    @Html.Content("vendor/animsition/animsition.min.css")
    @Html.Content("vendor/asscrollable/asScrollable.min.css")
    @Html.Content("vendor/switchery/switchery.min.css")
    @Html.Content("vendor/intro-js/introjs.min.css")
    @Html.Content("vendor/flag-icon-css/css/flag-icon.min.css")

    @Html.Content("vendor/slidepanel/slidePanel.min.css")

    <!-- Page -->
    @Html.Content("assets/examples/css/pages/errors.min.css")

    <!-- Fonts -->
    @Html.Content("fonts/font-awesome/css/font-awesome.min.css")
    @Html.Content("fonts/material-design/css/materialdesignicons.min.css")
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,700" />

    <!-- Scripts -->
    @Html.Content("vendor/modernizr/modernizr.min.js")
    @Html.Content("vendor/breakpoints/breakpoints.min.js")
    <script>Breakpoints();</script>

</head>
<body class="page-error page-error-404 layout-full">

    <div class="page animsition vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
        @RenderBody()
    </div>
    <!-- End Page -->
    <!-- Core  -->
    @Html.Content("vendor/jquery/jquery.min.js")
    @Html.Content("vendor/bootstrap/bootstrap.min.js")
    @Html.Content("vendor/animsition/animsition.min.js")
    @Html.Content("vendor/asscroll/jquery-asScroll.min.js")
    @Html.Content("vendor/mousewheel/jquery.mousewheel.min.js")
    @Html.Content("vendor/asscrollable/jquery.asScrollable.all.min.js")

    <!-- Plugins -->
    @Html.Content("vendor/switchery/switchery.min.js")
    @Html.Content("vendor/intro-js/intro.min.js")
    @Html.Content("vendor/screenfull/screenfull.min.js")

    <!-- Scripts -->
    @Html.Content("js/core.min.js")
    @Html.Content("js/site.min.js")

    @Html.Content("js/components/asscrollable.min.js")
    @Html.Content("js/components/animsition.min.js")
        
    <script>
        (function (document, window, $) {
            'use strict';
            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>

</body>

</html>