﻿@{
    Layout = null;
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    ViewBag.Culture = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="@ViewBag.Culture">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Comite Acreditacion UPC">
    <meta name="author" content="">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#FF0000">
    <link rel="icon" sizes="192x192" href="@Url.ContentUrl("assets/images/logo192.png")" />

    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#FF0000">

    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#FF0000">
    <link rel="apple-touch-icon" href="@Url.ContentUrl("assets/images/logo192.png")">

    <title>Sistema de Acreditación - @ViewBag.Title - UPC</title>

    <link rel="shortcut icon" href="@Url.ContentUrl("assets/images/favicon.ico")" />

    <!-- Stylesheets -->
    @Html.Content("css/bootstrap.min.css")
    @Html.Content("css/bootstrap-extend.min.css")
    @Html.Content("css/site.min.css")

    <!-- Plugins -->
    @Html.Content("vendor/animsition/animsition.min.css")
    @Html.Content("vendor/asscrollable/asScrollable.min.css")
    @Html.Content("vendor/switchery/switchery.min.css")
    @Html.Content("vendor/intro-js/introjs.min.css")
    @Html.Content("vendor/flag-icon-css/css/flag-icon.min.css")
    @Html.Content("vendor/slidepanel/slidePanel.min.css")

    <!-- Page -->
    @Html.Content("assets/examples/css/pages/login.min.css")

    <!-- Fonts -->
    @Html.Content("fonts/web-icons/web-icons.min.css")
    @Html.Content("fonts/font-awesome/css/font-awesome.min.css")
    @Html.Content("fonts/material-design/css/materialdesignicons.min.css")
    @*<link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,700" rel="stylesheet" />*@
    @Html.Content("css/custom-styles.css")

    @*<style>
        * {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>*@

    <!-- Scripts -->
    @Html.Content("vendor/modernizr/modernizr.min.js")
    @Html.Content("vendor/breakpoints/breakpoints.min.js")
    <script>Breakpoints();</script>
</head>
<body class="page-login-v3 layout-full">
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <!-- Page -->
    <div class="btn-group dropdown" style="position:fixed; top:.8em;right:.8em; z-index:999">
        <button type="button" class="btn btn-primary dropdown-toggle" id="translate-dropdown" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-globe"></i> @LayoutResource.Idioma
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu bullet dropdown-menu-right" aria-labelledby="translate-dropdown" role="menu">
            <li role="presentation"><a class="animsition-link" href="@Url.Action("ChangeIdioma", "Home", new { Idioma = ConstantHelpers.CULTURE.ESPANOL })" role="menuitem"><span class="flag-icon flag-icon-pe"></span> @LayoutResource.Espanol</a></li>
            <li role="presentation"><a class="animsition-link" href="@Url.Action("ChangeIdioma", "Home", new { Idioma = ConstantHelpers.CULTURE.INGLES })" role="menuitem"><span class="flag-icon flag-icon-us"></span> @LayoutResource.Ingles</a></li>
        </ul>
    </div>

    <div class="page animsition vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <div class="page-content vertical-align-middle">
            @RenderBody()
            <footer class="page-copyright">
                <p>©2016 EISC, @LayoutResource.Comite UPC</p>
            </footer>
        </div>
    </div>
    <!-- End Page -->
    <!-- Core  -->
    @Html.Content("vendor/jquery/jquery.min.js")
    @Html.Content("vendor/bootstrap/bootstrap.min.js")
    @Html.Content("vendor/animsition/animsition.min.js")
    @Html.Content("vendor/asscroll/jquery-asScroll.min.js")
    @Html.Content("vendor/mousewheel/jquery.mousewheel.min.js")
    @Html.Content("vendor/asscrollable/jquery.asScrollable.all.min.js")

    <!-- Plugins -->
    @Html.Content("vendor/switchery/switchery.min.js")
    @Html.Content("vendor/intro-js/intro.min.js")
    @Html.Content("vendor/screenfull/screenfull.min.js")

    @Html.Content("vendor/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")

    <!-- Scripts -->
    @Html.Content("js/core.min.js")
    @Html.Content("js/site.min.js")

    @Html.Content("js/components/asscrollable.min.js")
    @Html.Content("js/components/animsition.min.js")

    @Html.Content("js/components/jquery-placeholder.min.js")
    @Html.Content("js/components/material.min.js")

    <script>
        (function (document, window, $) {
            'use strict';
            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>

</body>

</html>