﻿<div class="card-body">
    <p style="margin: 0; color: rgba(163,175,183,.9);">@LayoutResource.CicloActivo: @(Session.GetModalidadId() == 1 ? Html.Raw(Session.GetPeriodoAcademico()) : Html.Raw(Session.GetPeriodoEPE()))</p>
    <ul>
        <li class="site-menu-item">

            <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-animation="scale-up" aria-expanded="false" role="button">
                <span class="fa fa-ban"></span>&nbsp; @Session.GetNombreModalidad() <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                @foreach (var item in UPC.CA.ABET.Presentation.Helper.CacheHelperImp.GetListModalidades())
                {
                    <li role="presentation">
                        <a class="animsition-link" href="@Url.Action("ChangeModality", "Home", new { Area = String.Empty, ModalidadId = item.Value })" role="menuitem">
                            <span class="fa fa-circle @(Session.GetModalidadId().ToSafeString() == item.Value ? "text-success" : String.Empty)"></span> @item.Text
                        </a>
                    </li>
                }
            </ul>
        </li>
        <li class="dropdown site-menu-item">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-animation="scale-up" aria-expanded="false" role="button">
                <span class="fa fa-university"></span>&nbsp; @Session.GetNombreEscuela() <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu">

                @foreach (var item in UPC.CA.ABET.Presentation.Helper.CacheHelperImp.GetLstEscuelas())
                {
                    <li role="presentation">
                        <a class="animsition-link" href="@Url.Action("ChangeEscuela", "Home", new { Area = String.Empty, EscuelaId = item.Value })" role="menuitem">
                            <span class="fa fa-circle @(Session.GetEscuelaId().ToSafeString() == item.Value ? "text-success" : String.Empty)"></span> @item.Text
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>
