﻿<!-- Page -->
<div class="page animsition vertical-align" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
        <header>
            <h1 class="animation-slide-top"><i class="fa fa-meh-o"></i> 401</h1>
            <p>@ErrorResource.PermisoInsuficiente !</p>
        </header>
        <p class="error-advise">@ErrorResource.PIDescripcion</p>
        <a class="btn btn-primary btn-round" href="@Url.Action("Dashboard", "Home", new { Area = String.Empty })">@ErrorResource.Regresar <i class="fa fa-home"></i></a>
    </div>
</div>
<!-- End Page -->