﻿<a class="list-group-item animsition-link @(ViewBag.ProfileTabActive == "category-1" ? "active" : String.Empty)" href="@Url.Action("ViewPerfil", "Profile", new { Area = String.Empty })" aria-controls="category-1">&nbsp;<i class="fa fa-info" aria-hidden="true"></i>&nbsp; @ProfileResource.Perfil</a>
<a class="list-group-item animsition-link @(ViewBag.ProfileTabActive == "category-3" ? "active" : String.Empty)" href="@Url.Action("ChangePassword", "Profile", new { Area = String.Empty })" aria-controls="category-3"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp; @ProfileResource.Password</a>
<a class="list-group-item animsition-link @(ViewBag.ProfileTabActive == "category-4" ? "active" : String.Empty)" href="@Url.Action("ViewFirma", "Profile", new { Area = String.Empty })" aria-controls="category-4"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> @ProfileResource.Firma</a>
<a class="list-group-item animsition-link @(ViewBag.ProfileTabActive == "category-2" ? "active" : String.Empty)" href="@Url.Action("ViewImagen", "Profile", new { Area = String.Empty})" aria-controls="category-2"><i class="fa fa-file-image-o" aria-hidden="true"></i> @ProfileResource.Imagen</a>
<a class="list-group-item animsition-link @(ViewBag.ProfileTabActive == "category-5" ? "active" : String.Empty)" href="@Url.Action("Logout", "Home", new { Area = String.Empty })" aria-controls="category-5"><i class="fa fa-power-off" aria-hidden="true"></i> @LayoutResource.Salir</a>