﻿@{
    var roles = Session.GetRoles();
    var modalidadId = Session.GetModalidadId();
    var EscuelaId = Session.GetEscuelaId();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
<div>
    <ul class="site-menu">
        <!--INICIO RUBRICA-->
        @if (modalidadId == 1)
        {
            if (EscuelaId == 1)
            {
                if (roles.HasRole(AppRol.CoordinadorCarrera) || roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.EncargadoCargas) || roles.HasRole(AppRol.GerenteGeneral) || roles.HasRole(AppRol.Docente) || roles.HasRole(AppRol.CalificadorControl))
                {
                    <li class="site-menu-category">
                        <a style="color:white" href="#">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.RUBRICAS</a>
                    </li>
                }
                if (roles.HasRole(AppRol.CoordinadorCarrera) || roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.EncargadoCargas) || roles.HasRole(AppRol.GerenteGeneral))
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("IndexUpload", "BulkInsert", new { Area = ConstantHelpers.AREAS.RUBRIC })">
                            <i class="site-menu-icon fa fa-sitemap" aria-hidden="true"></i> <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.CargarDatos</span>
                        </a>
                    </li>
                }
                if (roles.HasRole(AppRol.CoordinadorCarrera) || roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.GerenteGeneral))
                {
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon mdi mdi-tooltip-edit" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Admin.Resources.Views.Shared.SidebarResource.AdministracionRubricas</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">

                            <li class="site-menu-item">
                                <a class="animsition-link" href="@Url.Action("Index", "TipoEvaluadorMaestras", new { Area = ConstantHelpers.AREAS.RUBRIC })">
                                    <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Roles</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="@Url.Action("Index", "CursosEvaluarRubricas", new { Area = ConstantHelpers.AREAS.RUBRIC })">
                                    <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Cursos</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="@Url.Action("Index", "TipoEvaluador", new { Area = ConstantHelpers.AREAS.RUBRIC })">
                                    <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Rol</span>
                                </a>
                            </li>

                            <li class="site-menu-item">
                                <a class="animsition-link" href="@Url.Action("Index", "TipoEvaluacion", new { Area = ConstantHelpers.AREAS.RUBRIC })">
                                    <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Tipos</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="@Url.Action("Index", "Evaluacion", new { Area = ConstantHelpers.AREAS.RUBRIC })">
                                    <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Evaluaciones</span>
                                </a>
                            </li>

                            <li class="site-menu-item">
                                <a class="animsition-link" href="@Url.Action("ListVirtualCompany", "VirtualCompany", new { Area = ConstantHelpers.AREAS.RUBRIC })">
                                    <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Empresas</span>
                                </a>
                            </li>

                            <li class="site-menu-item">
                                <a class="animsition-link" href="@Url.Action("Index", "GrupoComites", new { Area = ConstantHelpers.AREAS.RUBRIC })">
                                    <span class="site-menu-title">Grupo Comité</span>
                                </a>
                            </li>

                            <li class="site-menu-item">
                                <a class="animsition-link" href="@Url.Action("ListAcademicProject", "AcademicProject", new { Area = ConstantHelpers.AREAS.RUBRIC })">
                                    <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.Proyectos</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                }


                if (ExtensionsHelpers.HasRole(roles, AppRol.CoordinadorCarrera) || ExtensionsHelpers.HasRole(roles, AppRol.GerenteGeneral))
                {

                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("Index", "Notification", new { Area = ConstantHelpers.AREAS.RUBRIC })">
                            <i class="site-menu-icon mdi wb-dashboard" aria-hidden="true"></i> <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.NotificarEvaluadores</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("RubricIndex", "Rubric", new { Area = ConstantHelpers.AREAS.RUBRIC })">
                            <i class="site-menu-icon mdi mdi-book-open" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.GestionRubricas</span>
                        </a>
                    </li>
                }

                if (ExtensionsHelpers.HasRole(roles, AppRol.CoordinadorCarrera) || ExtensionsHelpers.HasRole(roles, AppRol.Docente) || ExtensionsHelpers.HasRole(roles, AppRol.GerenteGeneral))
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("ScoreIndex", "Score", new { DocenteId = Session.GetDocenteId(), Area = ConstantHelpers.AREAS.RUBRIC })">
                            <i class="site-menu-icon mdi mdi-square-inc" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.EvaluarRubrica</span>
                        </a>
                    </li>
                }

                if (ExtensionsHelpers.HasRole(roles, AppRol.CoordinadorCarrera) || ExtensionsHelpers.HasRole(roles, AppRol.GerenteGeneral))
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("OutcomeReport", "BulkInsert", new { Area = ConstantHelpers.AREAS.RUBRIC })">
                            <i class="site-menu-icon mdi wb-dashboard" aria-hidden="true"></i> <span class="site-menu-title"> @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.ExportacionRubricas</span>
                        </a>
                    </li>
                }

                if (ExtensionsHelpers.HasRole(roles, AppRol.CoordinadorCarrera) || ExtensionsHelpers.HasRole(roles, AppRol.Docente) || ExtensionsHelpers.HasRole(roles, AppRol.GerenteGeneral) || ExtensionsHelpers.HasRole(roles, AppRol.CalificadorControl))
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("RubricCourseIndex", "RubricCourse", new { Area = ConstantHelpers.AREAS.RUBRIC })">
                            <i class="site-menu-icon mdi mdi-clipboard-text" aria-hidden="true"></i> <span class="site-menu-title"> @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.SidebarResource.RubricaporCurso</span>
                        </a>
                    </li>
                }
            }
            <!--fin rubricas-->


            if (roles.HasRole(AppRol.Administrador))
            {
                <li class="site-menu-category">
                    <a style="color:white" href="#">@UPC.CA.ABET.Presentation.Areas.Admin.Resources.Views.Shared.SidebarResource.Administrador</a>
                </li>
                <li class="site-menu-item  @(ViewBag.Section == "Dashboard" ? "active" : String.Empty)">
                    <a class="animsition-link" href="@Url.Action("Index", "BeforeEnrollment", new { Area = ConstantHelpers.AREAS.UPLOAD })">
                        <i class="site-menu-icon mdi mdi-briefcase-upload" aria-hidden="true"></i>
                        <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDatos</span>
                    </a>
                </li>
            }

            if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.DirectorCarrera) || roles.HasRole(AppRol.MiembroComite) || roles.HasRole(AppRol.Acreditador) || roles.HasRole(AppRol.CoordinadorCarrera) || roles.HasRole(AppRol.Docente))
            {
                <li class="site-menu-category">
                    <a style="color:white" href="#">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionEvidencias</a>
                </li>

                if (EscuelaId == 1)
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("IndicatorIndex", "Maintenance", new { Area = ConstantHelpers.AREAS.INDICATOR })">
                            <i class="site-menu-icon fa fa-list-alt" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionIndicadores</span>
                        </a>
                    </li>
                }


                if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.DirectorCarrera) || roles.HasRole(AppRol.MiembroComite) || roles.HasRole(AppRol.Acreditador) || roles.HasRole(AppRol.CoordinadorCarrera))
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("Management", "CareerCurriculum", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
                            <i class="site-menu-icon fa fa-list-alt" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionArticulacion</span>
                        </a>
                    </li>
                }
                if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.MiembroComite) || roles.HasRole(AppRol.CoordinadorCarrera))
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("Management", "OrganizationChart", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
                            <i class="site-menu-icon fa fa-sitemap" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionOrganigrama</span>
                        </a>
                    </li>
                }
                if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.DirectorCarrera) || roles.HasRole(AppRol.MiembroComite) || roles.HasRole(AppRol.Acreditador) || roles.HasRole(AppRol.CoordinadorCarrera) || roles.HasRole(AppRol.Docente))
                {

                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon mdi mdi-tooltip-edit" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionInformes</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="@Url.Action("Management", "IfcManagement", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
                                    <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.IFC</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a class="animsition-link" href="@Url.Action("SurveyManagementIRD", "Survey", new { Area = ConstantHelpers.AREAS.SURVEY })">
                                    <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.InformeDelegados</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon mdi mdi-tooltip-edit" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionReuniones</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                @if (EscuelaId == 1)
                                {
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="@Url.Action("Management", "TeacherMeeting", new { Area = ConstantHelpers.AREAS.MEETING })">
                                        <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ActaReunionDocente</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="@Url.Action("Management", "Meeting", new { Area = ConstantHelpers.AREAS.MEETING })">
                                        <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ActaReunionExtraordinariaDocente</span>
                                    </a>
                                </li>

                                <li class="site-menu-item">
                                    <a class="animsition-link" href="@Url.Action("ManagementACC", "Meeting", new { Area = ConstantHelpers.AREAS.MEETING })">
                                        <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ActaReunionComite</span>
                                    </a>
                                </li>
                            }
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="@Url.Action("Index", "NeoMeetingDelegate", new { Area = ConstantHelpers.AREAS.MEETING })">
                                        <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ActaReunionDelegados</span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon mdi mdi-tooltip-edit" aria-hidden="true"></i>
                                <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionEncuestasAcademicas</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="@Url.Action("SurveyManagementPPP", "Survey", new { Area = ConstantHelpers.AREAS.SURVEY })">
                                        <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Survey.Resources.Views.KeyWords.KeyWordsResource.PracticaPreProfesional</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="@Url.Action("SurveyManagementGRA", "Survey", new { Area = ConstantHelpers.AREAS.SURVEY })">
                                        <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Survey.Resources.Views.KeyWords.KeyWordsResource.Graduando</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    }

                }

                <!-- Encuesta academica-->


                if (roles.HasRole(AppRol.Acreditador, AppRol.DirectorCarrera, AppRol.MiembroComite, AppRol.CoordinadorCarrera))
                {
                    <li class="site-menu-category">
                        <a style="color:white" href="#">@UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Shared.SidebarResource.PlanAccion</a>
                    </li>


                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon fa fa-binoculars" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionHallazgos</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item" id="liReportFindings">
                                <a class="animsition-link" href="@Url.Action("Index", "Findings", new { Area = ConstantHelpers.AREAS.REPORT })">
                                    <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ReporteControlVerificacion</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("Index", "ImprovementPlans", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
                            <i class="site-menu-icon fa fa-suitcase" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.AccionesMejora</span>
                        </a>
                    </li>
                }

                <!-- REPORTES DE CONTROL-->
                if (roles.HasRole(AppRol.Administrador, AppRol.Acreditador, AppRol.CoordinadorCarrera, AppRol.DirectorCarrera, AppRol.MiembroComite, AppRol.Docente, AppRol.ProfesorGerente))
                {
                    <li class="site-menu-category">
                        <a style="color:white" href="#">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ReporteCategoria</a>
                    </li>

                    <li class="site-menu-item">
                        <a href="@Url.Action("Index", "Configuration", new { Area = ConstantHelpers.AREAS.REPORT })">
                            <i class="site-menu-icon fa fa-gear" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.ConfigurationMenuTitle</span>
                        </a>
                    </li>

                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("Management", "Control", new { Area = ConstantHelpers.AREAS.REPORT })">
                            <i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ResultadoLogroCurso</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("ManagementDeEncuesta", "Report", new { Area = ConstantHelpers.AREAS.SURVEY })">
                            <i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ReporteEncuestas</span>
                        </a>
                    </li>

                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("ManagementHallazgo", "Discoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
                            <i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ReporteHallazgos</span>
                        </a>
                    </li>

                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("ManagementAccionesMejora", "Discoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
                            <i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ReporteAccionesMejora</span>
                        </a>
                    </li>

                    if (language != "es-PE")
                    {
                        <li class="site-menu-item">
                            <a class="animsition-link" href="@Url.Action("SurveyManagementFDC", "Survey",  new { Area = ConstantHelpers.AREAS.SURVEY })">
                                <i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
                                <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.LogrodeFindeCiclo </span>

                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="site-menu-item">
                            <a class="animsition-link" href="@Url.Action("SurveyManagementFDC", "Survey",  new { Area = ConstantHelpers.AREAS.SURVEY })">
                                <i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
                                <span class="site-menu-title">Logro de Fin de Ciclo </span>

                            </a>
                        </li>
                    }








                }
            }
            else
            {
                if (roles.HasRole(AppRol.Administrador))
                {
                    <li class="site-menu-category">
                        <a style="color:white" href="#">@UPC.CA.ABET.Presentation.Areas.Admin.Resources.Views.Shared.SidebarResource.Administrador</a>
                    </li>
                    <li class="site-menu-item  @(ViewBag.Section == "Dashboard" ? "active" : String.Empty)">
                        <a class="animsition-link" href="@Url.Action("Index", "BeforeEnrollment", new { Area = ConstantHelpers.AREAS.UPLOAD })">
                            <i class="site-menu-icon mdi mdi-briefcase-upload" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDatos</span>
                        </a>
                    </li>
                }

                if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.DirectorCarrera) || roles.HasRole(AppRol.MiembroComite) || roles.HasRole(AppRol.Acreditador) || roles.HasRole(AppRol.CoordinadorCarrera) || roles.HasRole(AppRol.Docente))
                {
                    <li class="site-menu-category">
                        <a style="color:white" href="#">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionEvidencias</a>
                    </li>
                }
                if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.DirectorCarrera) || roles.HasRole(AppRol.MiembroComite) || roles.HasRole(AppRol.Acreditador) || roles.HasRole(AppRol.CoordinadorCarrera))
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("Management", "CareerCurriculum", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
                            <i class="site-menu-icon fa fa-list-alt" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionArticulacion</span>
                        </a>
                    </li>
                }
                if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.MiembroComite) || roles.HasRole(AppRol.CoordinadorCarrera))
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("Management", "OrganizationChart", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
                            <i class="site-menu-icon fa fa-sitemap" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionOrganigrama</span>
                        </a>
                    </li>
                }
                if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.DirectorCarrera) || roles.HasRole(AppRol.MiembroComite) || roles.HasRole(AppRol.Acreditador) || roles.HasRole(AppRol.CoordinadorCarrera) || roles.HasRole(AppRol.Docente))
                {

                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon mdi mdi-tooltip-edit" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionInformes</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                            <li class="site-menu-item">
                                <a class="animsition-link" href="@Url.Action("Management", "IfcManagement", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
                                    <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.IFC</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon mdi mdi-tooltip-edit" aria-hidden="true"></i>
                            <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionReuniones</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                @if (EscuelaId == 1)
                                {
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="@Url.Action("SurveyManagementEVD", "Survey", new { Area = ConstantHelpers.AREAS.SURVEY })">
                                        <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Areas.Survey.SurveyResources.ReunionDelegado</span>
                                    </a>
                                </li>
                                <li class="site-menu-item">
                                    <a class="animsition-link" href="@Url.Action("Management", "TeacherMeeting", new { Area = ConstantHelpers.AREAS.MEETING })">
                                        <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ActaReunionDocente</span>
                                    </a>
                                </li>
                            }
                            </ul>
                        </li>


                    }
                    if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.DirectorCarrera) || roles.HasRole(AppRol.MiembroComite) || roles.HasRole(AppRol.Acreditador) || roles.HasRole(AppRol.CoordinadorCarrera) || roles.HasRole(AppRol.Docente))
                    {

                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon mdi mdi-tooltip-edit" aria-hidden="true"></i>
                                <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionEncuestasAcademicas</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item">

                                <li class="site-menu-item">
                                    <a class="animsition-link" href="@Url.Action("SurveyManagementGRA", "Survey", new { Area = ConstantHelpers.AREAS.SURVEY })">
                                        <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Survey.Resources.Views.KeyWords.KeyWordsResource.Graduando</span>
                                    </a>
                                </li>



                            </ul>
                        </li>
                    }

                    if (roles.HasRole(AppRol.Acreditador, AppRol.DirectorCarrera, AppRol.MiembroComite, AppRol.CoordinadorCarrera))
                    {
                        <li class="site-menu-category">
                            <a style="color:white" href="#">@UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.Shared.SidebarResource.PlanAccion</a>
                        </li>

                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="site-menu-icon fa fa-binoculars" aria-hidden="true"></i>
                                <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionHallazgos</span>
                                <span class="site-menu-arrow"></span>
                            </a>
                            <ul class="site-menu-sub">
                                <li class="site-menu-item" id="liReportFindings">
                                    <a class="animsition-link" href="@Url.Action("Index", "Findings", new { Area = ConstantHelpers.AREAS.REPORT })">
                                        <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ReporteControlVerificacion</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="@Url.Action("Index", "ImprovementPlans", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
                                <i class="site-menu-icon fa fa-suitcase" aria-hidden="true"></i>
                                <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.AccionesMejora</span>
                            </a>
                        </li>

                    }

                    if (roles.HasRole(AppRol.Administrador, AppRol.Acreditador, AppRol.CoordinadorCarrera, AppRol.DirectorCarrera, AppRol.MiembroComite, AppRol.Docente, AppRol.ProfesorGerente))
                    {
                        <li class="site-menu-category">
                            <a style="color:white" href="#">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ReporteCategoria</a>
                        </li>

                        <li class="site-menu-item">
                            <a href="@Url.Action("Index", "Configuration", new { Area = ConstantHelpers.AREAS.REPORT })">
                                <i class="site-menu-icon fa fa-gear" aria-hidden="true"></i>
                                <span class="site-menu-title">@UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared.SharedResource.ConfigurationMenuTitle</span>
                            </a>
                        </li>

                        <li class="site-menu-item">
                            <a class="animsition-link" href="@Url.Action("Management", "Control", new { Area = ConstantHelpers.AREAS.REPORT })">
                                <i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
                                <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ResultadoLogroCurso</span>
                            </a>
                        </li>
                        <li class="site-menu-item">
                            <a class="animsition-link" href="@Url.Action("ManagementHallazgo", "Discoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR })">
                                <i class="site-menu-icon fa fa-bar-chart" aria-hidden="true"></i>
                                <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ReporteHallazgos</span>
                            </a>
                        </li>
                    }
                }

    </ul>

</div>