﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Articulation._ListArticulacionViewModel
@{
    Layout = null;
    var pagedListOptions = PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(ConstantHelpers.TwitterBootstrapPagerAligned, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "lista-articulacion" });
}
<div id="lista-articulacion">

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>@CarreraResource.Nombre</th>
                @*<th>@CarreraResource.Nombre</th>
                <th>@CarreraResource.Escuela</th>*@
                <th class="text-right" style="min-width: 9.2em">@LayoutResource.Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LstArticulacion)
            {
                <tr>
                    <td>@item.Detalle</td>
                    @*<td>@item.NombreEspanol - @item.NombreIngles</td>
                    <td>@item.Escuela.Codigo</td>*@
                    <td class="text-right">

                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("ViewArticulacion", "Articulation", new {  Area = ConstantHelpers.AREAS.ADMIN, IdMallaCocos = item.IdMallaCocos })"><i class="fa fa-eye"></i> @LayoutResource.Ver</a>
                            <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-sm pull-right">
                                <li><a href="@Url.Action("AddEditArticulacion", "Articulation", new {  Area = ConstantHelpers.AREAS.ADMIN, IdMallaCocos = item.IdMallaCocos })"><i class="fa fa-pencil"></i> @LayoutResource.Editar </a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    
    @Html.PagedListPager(Model.LstArticulacion, page => Url.Action("_ListArticulacion", "Articulation", new { p = page , Area = ConstantHelpers.AREAS.ADMIN}), pagedListOptions)

</div>
