﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.Articulation.ArticulacionViewModel
@{
    ViewBag.Title = "Articulacion";
}

@section Breadcrumbs{
}

<!-- Panel Collapse -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-filter"></i> @LayoutResource.Filtro</h3>
    </div>
    <div class="panel-body">
        <form method="post" class="row">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(x => x.PeriodoAcademicoId, new { @class = "col-md-3 control-label" })
                <div class='col-md-9'>
                    @Html.DropDownListFor(x => x.PeriodoAcademicoId, new SelectList(Model.LstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"), "[- Seleccionar -]", new { @class = "form-control", @data_plugin = "select2" })
                    @Html.ValidationMessageFor(x => x.PeriodoAcademicoId)
                </div>
            </div>

            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(x => x.CarreraId, new { @class = "col-md-3 control-label" })
                <div class='col-md-9'>
                    @Html.DropDownListFor(x => x.CarreraId, new SelectList(Model.LstCarrera, "IdCarrera", "NombreEspanol"), "[- Seleccionar -]", new { @class = "form-control", @data_plugin = "select2" })
                    @Html.ValidationMessageFor(x => x.CarreraId)
                </div>
            </div>

            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(x => x.AcreditadoraId, new { @class = "col-md-3 control-label" })
                <div class='col-md-9'>
                    @Html.DropDownListFor(x => x.AcreditadoraId, new SelectList(Model.LstAceditadora, "IdAcreditadora", "Descripcion"), "[- Seleccionar -]", new { @class = "form-control", @data_plugin = "select2" })
                    @Html.ValidationMessageFor(x => x.AcreditadoraId)
                </div>
            </div>

            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(x => x.ComisionId, new { @class = "col-md-3 control-label" })
                <div class='col-md-9'>
                    @Html.DropDownListFor(x => x.ComisionId, new SelectList(Model.LstComision, "IdComision", "NombreEspanol"), "[- Seleccionar -]", new { @class = "form-control", @data_plugin = "select2" })
                    @Html.ValidationMessageFor(x => x.ComisionId)
                </div>
            </div>
            <div class="col-md-12 text-right">
                <a class="btn btn-default" href="@Url.Action("Articulacion")"><i class="fa fa-eraser"></i> </a>
                <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i> @LayoutResource.Buscar </button>
            </div>
        </form>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> @LayoutResource.Listado</h3>
    </div>
    <div class="panel-body">
        <div class="text-right">
            <a class="btn btn-primary animsition-link" href="@Url.Action("AddEditArticulacion", "Articulation", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-plus"></i> @LayoutResource.Nuevo</a>
        </div>
        <br />
        <div class="table table-responsive">
            @{ Html.RenderAction("_ListArticulacion", "Articulation", new { Area = ConstantHelpers.AREAS.ADMIN }); }
        </div>
    </div>
</div>
<!-- End Panel Collapse -->
@section Scripts{
    <script></script>
}