﻿@inherits System.Web.Mvc.WebViewPage
@{
    Layout = UPC.CA.ABET.Helpers.ConstantHelpers.LAYOUT.MODAL_EMAIL_PATH;
    dynamic model = ((dynamic)Model);
}

<table border='0' cellpadding='0' cellspacing='0' width='100%'>
    <tr>
        <td align='center' valign='top'>
            <h2 style='color: #74B441 !important'>¡ Prueba !</h2>
        </td>
    </tr>

    <tr>
        <td align='center' valign='top'>
            <p style='margin: 1em 0; text-align: justify;'>
                @Html.Raw(model.MensajeEmail)
            <hr><br>
            </p>
        </td>
    </tr>
</table>
