﻿
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.OutcomeGoal.PartialView.ListOutcomeGoalPartialViewModel

<div class="panel-body row">
    <div class="table-responsive">
        <table class="table table-striped table-hover dataTable">
            <thead>
                <tr>
                    <th class="text-center" style="width: 50px;">@OptionResource.ID</th>
                    <th class="text-center">@ListOutcomeGoalResource.Competencia</th>
                    <th class="text-center">@ListOutcomeGoalResource.LogroEsperado</th>
                    <th class="text-center">@ListOutcomeGoalResource.LogroSobresaliente</th>
                    <th class="text-center">@ListOutcomeGoalResource.LogroEjemplar</th>
                    <th class="text-center">@OptionResource.Opcion</th>
                </tr>
            </thead>
            <tbody>
                @{
                    Int32 indice = 1;
                    foreach (var item in Model.LstOutcomeWasc)
                    {
                        <tr>
                            <td class="text-center">
                                @indice
                            </td>
                            <td align="center">
                                @item.Outcome.Nombre
                            </td>
                            @foreach (var logro in item.LogroOutcomeComision)
                            {
                                <td align="justify">
                                    @logro.Descripcion
                                </td>
                            }
                            <td class="text-center">
                                <a href="@(Url.Action("EditOutcomeGoal", "OutcomeGoal", new {OutcomeComisionId = item.IdOutcomeComision}))" class="btn btn-default">
                                    <i class="fa fa-pencil"></i>
                                    @ButtonResource.Editar
                                </a>
                            </td>
                        </tr>
                        indice++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>

