﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.GrupoComites
@model UPC.CA.ABET.Models.GrupoComite

@{
    ViewBag.Title = GrupoComitesResource.CrearNuevoDocenteEnElGrupoComite;
}
@if (ViewBag.mensaje != null)
{
    <div>@ViewBag.mensaje</div>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IdDocente, GrupoComitesResource.Docente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdDocente", null, htmlAttributes: new { @class = "form-control select2-docente", @data_plugin = "select2" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink(GrupoComitesResource.Atras, "Index", null, new { @class = "btn btn-dark" })
</div>

<script>
    $(document).ready(function () {

        $('.select2-docente').select2({

            minimumInputLength: 2
        });

        $('*[data-plugin="select2"]').select2();
    });

</script>