﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.GrupoComites
@model UPC.CA.ABET.Models.GrupoComite

@{
    ViewBag.Title = GrupoComitesResource.EstasSeguroDeEliminarEsteRegistro;
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Docente.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente.Codigo)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-success" /> |
            @Html.ActionLink(GrupoComitesResource.Atras, "Index", null, new { @class = "btn btn-dark" })
        </div>
    }
</div>
