﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.GrupoComites
@model UPC.CA.ABET.Models.GrupoComite

@{
    ViewBag.Title = GrupoComitesResource.Detalles;
}

<h2>Details</h2>

<div>
    <h4>GrupoComite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Docente.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodoAcademico.CicloAcademico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodoAcademico.CicloAcademico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(GrupoComitesResource.Editar, "Edit", new { id = Model.IdGrupoComite }) |
    @Html.ActionLink(GrupoComitesResource.VolverALaLista, "Index")
</p>
