﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.GrupoComites
@model UPC.CA.ABET.Models.GrupoComite

@{
    ViewBag.Title = GrupoComitesResource.Editar;
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>GrupoComite</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdGrupoComite)

        <div class="form-group">
            @Html.LabelFor(model => model.IdDocente, GrupoComitesResource.IdDocente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdDocente", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdDocente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdPeriodoAcademico, GrupoComitesResource.IdPeriodoAcademico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdPeriodoAcademico", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdPeriodoAcademico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(GrupoComitesResource.VolverALaLista, "Index")
</div>
