﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.GrupoComites
@model IEnumerable<UPC.CA.ABET.Models.GrupoComite>

@{
    ViewBag.Title = GrupoComitesResource.GrupoComite;
}


<div class="containerdt">

    <p>
        @Html.ActionLink(GrupoComitesResource.NuevoRegistro, "Create", null, new { @class = "btn btn-primary" })
    </p>

    <div class="table-responsive">
        <table class="table table-hover" id="myTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Docente.Codigo)
                    </th>
                    <th>
                        @GrupoComitesResource.NombresCompletos
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Docente.Codigo.ToUpper()
                        </td>
                        <td>
                            @item.Docente.Nombres @item.Docente.Apellidos
                        </td>
                        <td>
                            <!--@Html.ActionLink(GrupoComitesResource.Editar, "Edit", new { id = item.IdGrupoComite }) |-->

                            <!--@Html.ActionLink(GrupoComitesResource.Detalles, "Details", new { id = item.IdGrupoComite }) |-->
                            @Html.ActionLink(GrupoComitesResource.Eliminar, "Delete", new { id = item.IdGrupoComite }, new { @class = "btn btn-dark" })
                        </td>
                    </tr>
                }
            </tbody>
            </table>
        </div>
    </div>
