﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.ComentarCapitulosViewModel
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Rubric
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared

@{
    ViewBag.Title = RubricCapitulosResource.Titulo;
    ViewBag.Icon = "book";
    var roles = Session.GetRoles();
}

@section Breadcrumbs
{
}

<div class="row">
    <div class="col-md-12">
        <div class="nav-tabs-horizontal nav-tabs-inverse">
            <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">

                <li class="" role="presentation">
                    <a data-toggle="tab" href="#exampleTabsInverse-1" aria-controls='exampleTabsInverse-1' role="tab" aria-expanded="true">
                        <i class="fa fa-user"></i> @RubricCapitulosResource.CAPITULO 1
                    </a>
                </li>
                <li class="" role="presentation">
                    <a data-toggle="tab" href="#exampleTabsInverse-2" aria-controls='exampleTabsInverse-1' role="tab" aria-expanded="true">
                        <i class="fa fa-user"></i> @RubricCapitulosResource.CAPITULO 2
                    </a>
                </li>
                <li class="" role="presentation">
                    <a data-toggle="tab" href="#exampleTabsInverse-3" aria-controls='exampleTabsInverse-1' role="tab" aria-expanded="true">
                        <i class="fa fa-user"></i> @RubricCapitulosResource.CAPITULO 3
                    </a>
                </li>
                <li class="" role="presentation">
                    <a data-toggle="tab" href="#exampleTabsInverse-4" aria-controls='exampleTabsInverse-1' role="tab" aria-expanded="true">
                        <i class="fa fa-user"></i> @RubricCapitulosResource.CAPITULO 4
                    </a>
                </li>
                <li class="" role="presentation">
                    <a data-toggle="tab" href="#exampleTabsInverse-5" aria-controls='exampleTabsInverse-1' role="tab" aria-expanded="true">
                        <i class="fa fa-user"></i> @RubricCapitulosResource.CAPITULO 5
                    </a>
                </li>
                <li class="" role="presentation">
                    <a data-toggle="tab" href="#exampleTabsInverse-6" aria-controls='exampleTabsInverse-1' role="tab" aria-expanded="true">
                        <i class="fa fa-user"></i> @RubricCapitulosResource.CAPITULO 6
                    </a>
                </li>
                <li class="" role="presentation">
                    <a data-toggle="tab" href="#exampleTabsInverse-7" aria-controls='exampleTabsInverse-1' role="tab" aria-expanded="true">
                        <i class="fa fa-user"></i> @RubricCapitulosResource.CAPITULO 7
                    </a>
                </li>

            </ul>
            <div class="tab-content padding-20">
                <div class="tab-pane true" id="exampleTabsInverse-1" role="tabpanel">
                    <div class="row">
                        <div class="col-xlg-12 col-md-12">
                            <!-- Example Heading Icon -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-book" aria-hidden="true"></i>@RubricCapitulosResource.PFI @RubricCapitulosResource.CAPITULO 1</h3>
                                </div>
                                <div class="panel-body">
                                    <textarea name="" id="input" class="form-control" rows="5" required="required"></textarea>
                                </div>
                            </div>
                            <!-- End Example Heading Icon -->

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <button type="button" class="btn btn-success">@RubricCapitulosResource.Realizar</button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane true" id="exampleTabsInverse-2" role="tabpanel">
                    <div class="row">
                        <div class="col-xlg-12 col-md-12">
                            <!-- Example Heading Icon -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-book" aria-hidden="true"></i>@RubricCapitulosResource.PFI @RubricCapitulosResource.CAPITULO 2</h3>
                                </div>
                                <div class="panel-body">
                                    <textarea name="" id="input" class="form-control" rows="5" required="required"></textarea>
                                </div>
                            </div>
                            <!-- End Example Heading Icon -->

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <button type="button" class="btn btn-success">@RubricCapitulosResource.Realizar</button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane true" id="exampleTabsInverse-3" role="tabpanel">
                    <div class="row">
                        <div class="col-xlg-12 col-md-12">
                            <!-- Example Heading Icon -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-book" aria-hidden="true"></i>@RubricCapitulosResource.PFI @RubricCapitulosResource.CAPITULO 3</h3>
                                </div>
                                <div class="panel-body">
                                    <textarea name="" id="input" class="form-control" rows="5" required="required"></textarea>
                                </div>
                            </div>
                            <!-- End Example Heading Icon -->

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <button type="button" class="btn btn-success">@RubricCapitulosResource.Realizar</button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane true" id="exampleTabsInverse-4" role="tabpanel">
                    <div class="row">
                        <div class="col-xlg-12 col-md-12">
                            <!-- Example Heading Icon -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-book" aria-hidden="true"></i>@RubricCapitulosResource.PFI @RubricCapitulosResource.CAPITULO 4</h3>
                                </div>
                                <div class="panel-body">
                                    <textarea name="" id="input" class="form-control" rows="5" required="required"></textarea>
                                </div>
                            </div>
                            <!-- End Example Heading Icon -->

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <button type="button" class="btn btn-success">@RubricCapitulosResource.Realizar</button>
                        </div>
                    </div>
                </div>

                <div class="tab-pane true" id="exampleTabsInverse-5" role="tabpanel">
                    <div class="row">
                        <div class="col-xlg-12 col-md-12">
                            <!-- Example Heading Icon -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-book" aria-hidden="true"></i>@RubricCapitulosResource.PFI @RubricCapitulosResource.CAPITULO 5</h3>
                                </div>
                                <div class="panel-body">
                                    <textarea name="" id="input" class="form-control" rows="5" required="required"></textarea>
                                </div>
                            </div>
                            <!-- End Example Heading Icon -->

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <button type="button" class="btn btn-success">@RubricCapitulosResource.Realizar</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane true" id="exampleTabsInverse-6" role="tabpanel">
                    <div class="row">
                        <div class="col-xlg-12 col-md-12">
                            <!-- Example Heading Icon -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-book" aria-hidden="true"></i>@RubricCapitulosResource.PFI @RubricCapitulosResource.CAPITULO 6</h3>
                                </div>
                                <div class="panel-body">
                                    <textarea name="" id="input" class="form-control" rows="5" required="required"></textarea>
                                </div>
                            </div>
                            <!-- End Example Heading Icon -->

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <button type="button" class="btn btn-success">@RubricCapitulosResource.Realizar</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane true" id="exampleTabsInverse-7" role="tabpanel">
                    <div class="row">
                        <div class="col-xlg-12 col-md-12">
                            <!-- Example Heading Icon -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-book" aria-hidden="true"></i>@RubricCapitulosResource.PFI @RubricCapitulosResource.CAPITULO 7</h3>
                                </div>
                                <div class="panel-body">
                                    <textarea name="" id="input" class="form-control" rows="5" required="required"></textarea>
                                </div>
                            </div>
                            <!-- End Example Heading Icon -->

                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                            <button type="button" class="btn btn-success">@RubricCapitulosResource.Realizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
 </div>
