﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Rubric
@model List<UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.NivelViewModel>

@if (Model.Count > 0)
{
    <div class="row table-responsive">
        <table class="table table-striped table-hover dataTable" style="margin-top: 20px;">
            <thead>
                <tr>
                    <th class="text-center">@RubricResource.Nombre</th>
                    <th class="text-center">@RubricResource.Descripcion</th>
                    <th class="text-center">@RubricResource.PuntajeMinimo</th>
                    <th class="text-center">@RubricResource.PuntajeMaximo</th>
                </tr>
            </thead>
            <tbody>
                @{ var cont = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center nombreNivel">@item.NombreNivel</td>
                        <td class="text-center nombreNivel">@item.DescripcionNivel</td>
                        <td class="text-center">@(item.NivelNotaMinima == null ? "N/A" : item.NivelNotaMinima.ToString())</td>
                        <td class="text-center">@item.NivelNotaMaxima</td>
                    </tr>
                    cont++;
                }
            </tbody>
        </table>

    </div>
                    }
