﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Rubric
@model List<UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.CriterioViewModel>


@if (Model.Count > 0)
{
    <div class="row table-responsive">
        <table class="table table-striped table-hover dataTable" style="margin-top: 20px;">
            <thead>
                <tr>
                    <th class="text-center" style="width: 25%;">#</th>
                    <th class="text-center" style="">@RubricResource.Nombre</th>
                    <th class="text-center" style="">@RubricResource.PuntajeMaximo</th>
                </tr>
            </thead>
            <tbody>
                @{ var cont = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center" style="width: 25%;">@cont</td>
                        <td class="text-center">@item.NombreCriterio</td>
                        <td class="text-center">@item.NotaMaxima</td>
                    </tr>
                    cont++;
                }
            </tbody>
        </table>

    </div>
}