﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Rubric
@model List<UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.CriterioViewModel>

@if (Model.Count > 0)
{
    <div id="accordion@(Model.First().IdOutcome)" class="panel-body">
        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion@(item.IdOutcome)" href="#Criterio@(item.IdCriterio)"><i class="fa fa-bookmark" aria-hidden="true"></i> @item.NombreCriterio</a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" id="Criterio@(item.IdCriterio)">
                    <div class="panel-body">
                        <div class="row">
                            <p>@item.DescripcionCriterio</p>
                            <p>@ButtonResource.Peso: @item.NotaMaxima</p>
                        </div>
                        <div class="row">
                            @Html.FormGroup(RubricResource.Nombre + ":", Html.TextBox("nombre-nivel-" + item.IdCriterio, "", new { @class = "form-control" }))
                            @Html.FormGroup(RubricResource.PuntajeMenor + ":", Html.TextBox("puntaje-menor-" + item.IdCriterio, "", new { @class = "form-control", @type = "number" }))
                        </div>
                        <div class="row">
                            @Html.FormGroup(RubricResource.PuntajeMayor + ":", Html.TextBox("puntaje-mayor-" + item.IdCriterio, "", new { @class = "form-control", @type = "number" }))
                            @Html.FormGroup(RubricResource.Descripcion +  ":", Html.TextArea("descripcion-" + item.IdCriterio, "", new { @class = "form-control", @type = "number" }))
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <div class="pull-left margin-left-30 margin-right-10">
                                <input type="checkbox" id="@Html.IdFor(x => item.EsEvaluadoPorDefecto)-@item.IdCriterio" data-type="CRI" data-plugin="switchery" data-color="#f96868" onclick="AddDeleteDefaultNiveles.call(this)" data-id="@item.IdCriterio" @(item.EsEvaluadoPorDefecto == true ? "checked" : String.Empty) value="false" class="checkbox" />
                            </div>
                            <label class="padding-top-3" for="inputBasicOn">@ButtonResource.NivelesPD</label>
                        </div>
                        <div class="col-sm-12" style="text-align:right">
                            <a data-id="@item.IdCriterio" data-parent="@item.IdOutcome" class="btn btn-default btn-finish btn-eliminar-criterio" data-dismiss="modal" onclick="EliminarCriterio.call(this)">@ButtonResource.EliminarC</a>
                            <a data-id="@item.IdCriterio" class="btn btn-default btn-finish btn-eliminar-niveles" data-dismiss="modal" onclick="EliminarNiveles.call(this)">@ButtonResource.EliminarN</a>
                            <a data-id="@item.IdCriterio" data-peso="@item.NotaMaxima" data-sumaniveles="@item.Niveles.Sum(x => x.NivelNotaMaxima)" data-ultimopuntajemaximo="@(item.Niveles.Count() == 0 ? 0 : item.Niveles.ToList().LastOrDefault().NivelNotaMaxima)" class="btn btn-primary btn-finish btn-agregar-nivel" data-dismiss="modal" onclick="AgregarNivel.call(this)">@ButtonResource.AgregarN</a>
                        </div>
                    </div>
                    <div id="niveles-@(item.IdCriterio)">
                        @Html.Partial("ListNiveles", item.Niveles)
                    </div>
                </div>
            </div>
        }
    </div>
}

@Html.Content("vendor/jquery/jquery.min.js")