﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.MaintenanceRubricViewModel

@{
    ViewBag.Title = RubricMaintenanceResource.Titulo;
    ViewBag.Icon = "book";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("RubricIndex", "Rubric")">@RubricMaintenanceResource.Gestion</a></li>
}

@section Styles {
    <style>
        @@media screen and (max-width: 550px) {

            .table tr td {
                display: block;
                clear: both;
                width: 95%;
            }
            .table tr:nth-child(even) {
                background: #e7f1ff !important;

            }
            .table tr{
                border-top:5px solid;
            }
            .hiddenTexto{
                font-weight:bold !important;
                display:inline-block !important;
            }
            .hiddenHeader{
                display: none !important;
            }
        }
        .hiddenTexto{
            display:none;
        }
    </style>    
}

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-binoculars"></i> @RubricMaintenanceResource.Buscar</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2"><label class="label-survey">@RubricMaintenanceResource.Ciclo</label></div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => Model.IdCiclo, new SelectList(Model.lstCiclo, "IdPeriodoAcademico", "CicloAcademico"),
                    language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                    {
                        @class = "form-control",
                        @data_plugin = "select2",
                        @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                        @data_update_target = "#IdCarrera"
                    })
                </div>
                <div class="col-md-2"><label class="label-survey">@RubricMaintenanceResource.Carrera</label></div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => Model.IdCarrera, new SelectList(Model.lstCarrera, "IdCarrera",
                    language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"),
                    language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                    {
                        @class = "form-control",
                        @data_plugin = "select2",
                        @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select"
                    })
                </div>
            </div>
            <br />
            <div class="row pull-right">
                <div class="col-md-2">
                    <button class="btn btn-dark" onclick="getRubricas()"><i class="fa fa-search"></i> @RubricMaintenanceResource.Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> @RubricMaintenanceResource.Resultados</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="pull-right">
                    <a class="btn btn-default" href="@Url.Action("RubricCreateSummary", "Rubric")"><i class="fa fa-plus"></i> @RubricMaintenanceResource.Crear </a>
                </div>
            </div>
            <br />
            <div class="row">
                <div id="list-rubric-partial-view">
                    @Html.Action("_ListRubricPartialView", "Rubric", new { IdCiclo = Model.IdCiclo, IdCarrera = Model.IdCarrera })
                </div>        
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tbl_rubricas').dataTable();
        });
    </script>
    <!--EVENTOS-->
    <script>
        $('[data-plugin="select2"]').change(function () {
            var updateTarget = $(this).attr('data-update-target');
            if(updateTarget == '#IdCarrera')
            {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCarreraByCiclo", "Rubric")',
                    data: {
                        IdCiclo: $(this).val()
                    },
                    dataType: 'json',
                    error: function () {
                        //error(@Html.Raw(RubricResource.FalloLaCargaDeCarreras));
                    },
                    success: function (data) {
                        var valueMember = $(updateTarget).attr('data-value-member');
                        var textMember = $(updateTarget).attr('data-text-member');
                        for (i = 0; i < data.length; i++) {
                            $(updateTarget).append($('<option>').text(data[i][textMember]).attr('value', data[i][valueMember]));
                        }
                    }
                });
            }
        });
    </script>

    <script>
        function getRubricas() {
            $.ajax({
                url: '@Url.Action("_ListRubricPartialView", "Rubric")',
                type: "GET",
                data: {
                    IdCiclo: $('#IdCiclo').val(),
                    IdCarrera: $('#IdCarrera').val()
                },
                beforeSend: function () {
                    showLoading();
                },
                success: function (data) {
                    $("#list-rubric-partial-view").html(data).ready();
                    $('#tbl_rubricas').dataTable();
                    closeLoading();
                },
                complete: function () {
                    $('#tbl_rubricas').pageMe({ pagerSelector: '#myPager', showPrevNext: true }, 0);
                }
            });
        }

        function EliminarRubrica(id) {
            $.ajax({
                url: '@Url.Action("DeleteRubrica", "Rubric")',
                type: "POST",
                data: {
                    IdRubrica: id
                },
                beforeSend: function () {
                    showLoading();
                },
                error: function(){
                    //error(@Html.Raw(RubricResource.HuboFalloAlRealizarLaOperacion));
                },
                success: function (response) {
                    if (response) {
                        getRubricas();
                    } else {
                        //error(@Html.Raw(RubricResource.HuboFalloAlRealizarLaOperacion));
                    }
                }
            });
        }
    </script>

    <script>
        function error(message) {
            swal({
                title: message,
                type: 'error'
            });
        }

        function showLoading() {
            swal({
                title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                showConfirmButton: false,
                html: true
            });
        }

        function closeLoading() {
            swal.close();
        }
    </script>
}