﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.EvaluatorsViewModel
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Rubric
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared

@{
    ViewBag.Title = RubricManageRolesResource1.Titulo;
    ViewBag.Icon = "users";
}
@section Styles {
    @Html.Content("vendor/alertify-js/alertify.min.css")
}
@section Breadcrumbs
{
}

<p>@Model.CarreraNombre / @Model.CursoNombre / @Model.EvaluacionNombre</p>
<div class="row">
    @using (Html.BeginForm("GuardarRoles", "Rubric", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.IdRubrica, new { @name = Model.IdRubrica })
        <div class="col-md-12">
            <div class="panel filters">
                @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + RubricResource.AsignacionDecalificacion )
                <div class="panel panel-body">
                    <table class="table table-hover table-responsive">
                        <colgroup span="2"></colgroup>
                        <colgroup span="2"></colgroup>
                        <thead>
                            <tr>
                                <th rowspan="2" style="text-align:center; background-color: #FF1901; color:#fff;">Student Outcome</th>

                                @foreach (var item in Model.Evaluadores)
                                {
                                    <th scope="col" style="text-align:center; background-color: #FF1901; color:#fff;">@item.Nombre</th>
                                }
                            </tr>
                        </thead>
                        <tbody class="lstOutcomes">
                            @foreach (var item in Model.Outcomes)
                            {
                                <tr>
                                    <th scope="row" style="text-align:center; background-color:rgba(243, 247, 249, 0.46);">@item.NombreOutcome - @item.NombreComision</th>
                                    @foreach (var subItem in Model.Evaluadores)
                                    {
                                        <td>
                                            <div class="checkbox-custom checkbox-primary">
                                                <input type="checkbox" name="@(item.IdOutcome)-@(subItem.IdTipoEvaluador)" @(Model.Matches.Contains(new Tuple<int, int>(item.IdOutcome, subItem.IdTipoEvaluador)) ? "checked" : string.Empty)>
                                                <label></label>
                                            </div>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="panel-footer">
                        <input type="submit" data-parent="Roles" name="submit" id="btnGuardar" class="btn btn-primary pull-right" value="@ButtonResource.Guardar" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="alertify" id="mensaje-error-roles" style="display: none;">
    <div class="dialog">
        <div>
            <p class="msg text-center">@RubricManageRolesResource1.NoExiste</p>
            <button class="ok btn btn-primary" onclick="ocultarMensajeNoExiste();">
                @ButtonResource.Aceptar
            </button>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        $("#btnGuardar").click(function (event) {

            $('.lstOutcomes').find('tr').each(function (i, e) {
                var $$this = $(e);
                var isChecked = false;

                $$this.find("input[type='checkbox']").each(function (i, e) {

                    var $$$this = $(e);

                    if ($$$this.is(':checked')) {
                        isChecked = true
                    }
                })
                if (!isChecked) {
                    event.preventDefault();
                    $('#mensaje-error-roles').show();
                }

            })

        });

        function ocultarMensajeNoExiste() {
            $('#mensaje-error-roles').hide();
        }

    </script>

}