﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.OutcomeConfigureViewModel
@{
    ViewBag.Title = @RubricMaintenanceResource.ConfigurarSalidas;
    ViewBag.Icon = "book";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("RubricIndex", "Rubric")">@RubricMaintenanceResource.Gestion</a></li>
}


<div class="panel panel-bordered">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-binoculars"></i> @RubricMaintenanceResource.Buscar</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"><label class="label-survey">@RubricMaintenanceResource.Carrera</label></div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => Model.IdCarrera, new SelectList(Model.lstCarrera, "IdCarrera", language == ConstantHelpers.CULTURE.ESPANOL ? "NombreEspanol" : "NombreIngles"),
                language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                {
                    @class = "form-control",
                    @data_plugin = "select2",
                    @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                    @data_id = "Cb_Carrera"
                })
            </div>
            <div class="col-md-2"><label class="label-survey">Curso</label></div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => Model.IdCurso, new SelectList(Model.lstCurso, "IdCurso", "NombreEspanol"),
                language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                {
                    @class = "form-control",
                    @data_plugin = "select2",
                    @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                    @data_id = "Cb_Curso"
                })
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-2"><label class="label-survey">Comision</label></div>
            <div class="col-md-4">
                @Html.DropDownListFor(m => Model.IdComision, new SelectList(Model.lstComision, "IdComision", "Codigo"),
                language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select", new
                {
                    @class = "form-control",
                    @data_plugin = "select2",
                    @data_placeholder = language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione" : "Select",
                    @data_id = "Cb_Comision"
                })
            </div>
        </div>
    </div>
</div>

<div class="panel panel-bordered">
    <div class="panel-body">
        <div id="list-configured-outcome-partial-view">
            @Html.Action("_ListOutcomePartialView", "Rubric")
        </div>

        <div class="pull-right">
            <a class="btn btn-dark" href="@Url.Action("RubricIndex", "Rubric")">@RubricMaintenanceResource.Regresar</a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('*[data-id="Cb_Carrera"]').change(function () {
            var comboFillCurso = $('*[data-id="Cb_Curso"]');
            var comboFillComision = $('*[data-id="Cb_Comision"]');

            $("#list-configured-outcome-partial-view").html("").ready();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCursosComisionesByCarrera", "Rubric")',
                data: {
                    IdCarrera: $(this).val()
                },
                dataType: 'json',
                beforeSend: function () {
                    comboFillCurso.attr("disabled", "disabled");
                    comboFillCurso.empty();
                    comboFillCurso.append('<option value="">@OptionResource.Cargando... </option>');

                    comboFillComision.attr("disabled", "disabled");
                    comboFillComision.empty();
                    comboFillComision.append('<option value="">@OptionResource.Cargando... </option>');
                },
                success: function (data) {
                    var Cursos = data.Cursos;
                    var Comisiones = data.Comisiones;
                    if (Cursos.length > 0) {
                        comboFillCurso.empty();
                        comboFillCurso.append('<option value="">@OptionResource.Seleccione</option>');
                        comboFillCurso.removeAttr("disabled");
                        for (var i = 0; i < Cursos.length; i++) {
                            comboFillCurso.append('<option value="' + Cursos[i]['IdCurso'] + '">' + Cursos[i]['NombreEspanol'] + '</option>');
                        }
                    } else {
                        comboFillCurso.removeAttr("disabled");
                        comboFillCurso.empty();
                        comboFillCurso.append('<option value="">@OptionResource.NoExisteRegistros</option>');
                    }
                    if (Comisiones.length > 0) {
                        comboFillComision.empty();
                        comboFillComision.append('<option value="">@OptionResource.Seleccione</option>');
                        comboFillComision.removeAttr("disabled");
                        for (var i = 0; i < Comisiones.length; i++) {
                            comboFillComision.append('<option value="' + Comisiones[i]['IdComision'] + '">' + Comisiones[i]['Codigo'] + '</option>');
                        }
                    } else {
                        comboFillComision.removeAttr("disabled");
                        comboFillComision.empty();
                        comboFillComision.append('<option value="">@OptionResource.NoExisteRegistros</option>');
                    }
                    limpiarCombos();
                },
                error: function () {
                    comboFillCurso.removeAttr("disabled");
                    comboFillCurso.append('<option value="">@OptionResource.OcurrioError</option>');
                    comboFillComision.removeAttr("disabled");
                    comboFillComision.append('<option value="">@OptionResource.OcurrioError</option>');
                }
            });
        });
    </script>

    <script>
        $('*[data-id="Cb_Curso"]').change(function () {
            if ($("#IdComision").val() != "")
                getListConfiguredOutcome();
        });

        $('*[data-id="Cb_Comision"]').change(function () {
            getListConfiguredOutcome();
        });
    </script>

    <script>
        function getListConfiguredOutcome() {
            $.ajax({
                url: '@Url.Action("_ListOutcomePartialView", "Rubric")',
                type: "GET",
                data: {
                    IdCarrera: $("#IdCarrera").val(),
                    IdCurso: $("#IdCurso").val(),
                    IdComision: $("#IdComision").val()
                },
                beforeSend: function () {
                    showLoading();
                },
                success: function (data) {
                    closeLoading();
                    $("#list-configured-outcome-partial-view").html(data).ready();
                }
            });
        }

        function saveOutcome(id) {
            $.ajax({
                url: '@Url.Action("SaveConfiguredOutcome", "Rubric")',
                type: "POST",
                data: {
                    IdMallaCocosDetalle : id,
                    IdCarrera: $("#IdCarrera").val(),
                    IdCurso: $("#IdCurso").val()
                },
                beforeSend: function () {
                    showLoading();
                },
                success: function (response) {
                    if (response.Result)
                        getListConfiguredOutcome();
                    else
                        swalmessage(response.Message, "error");
                },
                complete: function (response) {
                    if (response.Result)
                        swalmessage(response.Message, "success");
                    else
                        swalmessage(response.Message, "error");
                }
            });
        }

        function limpiarCombos() {
            $("#IdCurso").val("");
            $("#IdComision").val("");
        }
    </script>

    <script>

        function swalmessage(message, type) {
            swal({
                title: message,
                type: type
            });
        }

        function showLoading() {
            swal({
                title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                showConfirmButton: false,
                html: true
            });
        }

        function closeLoading() {
            swal.close();
        }
    </script>
}

