﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricABETViewModel
@{
    ViewBag.Title = RubricCreateResource.Titulo; 
    ViewBag.Icon = "fa fa-plus";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Styles {
    <style>
        .div-line {
            border-width: 1px;
            border-bottom: 1px black solid;
        }

        .criterio {
            padding-top: 5px;
            padding-bottom: 5px;
            border-width: 1px;
            border-bottom: 1px black solid;
        }

        textarea{
            resize:none;
            border-radius: .5rem;
            border-color: transparent;
            background-color: transparent;
            text-align: justify;
        }

        #rubricBody {
            font-size: 80%;
        }

        .editable {
            background: rgba(252,209,103, 0.3);
        }
    </style>
}
@section Breadcrumbs
{
    <li><a href="@Url.Action("MaintenanceRubric", "Rubric")">@RubricRubricViewResource.Mantenimiento</a></li>
}
<p>@Model.CarreraNombre / @Model.CursoNombre / @Model.EvaluacionNombre</p>
<div class="row">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
        @{var cont = 1; }
        @foreach (var OutcomeComision in Model.OutcomesComision)
        {
            <li role="presentation" class='@(cont == 1 ? "active": "")'>
                <a href="#comision-@OutcomeComision.Item1.IdComision" aria-controls="comision-@OutcomeComision.Item1.IdComision" role="tab" data-toggle="tab">@OutcomeComision.Item1.NombreEspanol</a>
            </li>
            cont++;
        }
        </ul>
        <div class="panel tab-content">
        @{ cont = 1; }
        @foreach (var OutcomeComision in Model.OutcomesComision)
        {
            <div role="tabpanel" class="tab-pane @(cont == 1 ? "active":"")" id="comision-@OutcomeComision.Item1.IdComision">
                <div class="panel panel-body">
                    <!--INICIO NUEVO DISEÑO-->
                    <div class="row div-line">
                        
                        @if (OutcomeComision.Item1.Codigo == "CAC-SI")
                        {
                            <div class="col-md-1">
                                Student Outcomes
                            </div>
                            <div class="col-md-1">Visible</div>
                            
                        }
                        else
                        {
                        <div class="col-md-2">
                            Student Outcomes
                        </div>
                       
                        }
                        <div class="col-md-1"></div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-4 text-center">@RubricRubricViewResource.Criterios</div>
                                
                                <div class="col-md-1 text-center">@RubricRubricViewResource.Max</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4 text-center">@RubricRubricViewResource.Nivel</div>
                            </div>
                        </div>
                    </div>
                    <div id="rubricBody">
                        <form>
                    @{ var i = 0;}
                    @foreach (var outcome in OutcomeComision.Item2)
                    {
                        <div @((i % 2) == 0 ? "style=background-color:rgba(134,188,214,0.3)" : "") class="row">
                             
                            @if (OutcomeComision.Item1.Codigo == "CAC-SI")
                            {
                            <div class="col-md-1" style="margin-top: 5px;">
                                <h5 data-tooltip="tooltip" title="@outcome.OutcomeComision.Outcome.DescripcionEspanol">@outcome.OutcomeComision.Comision.Codigo (@outcome.OutcomeComision.Outcome.Nombre)</h5>
                            </div>
                            <div class="col-md-1" style="margin-top: 5px;">
                                @if (outcome.Visible == true)
                                { 
                                <input type="checkbox" name="check" checked=true onclick="myFunction(this, @outcome.IdOutcomeRubrica)">
                                }
                                else
                                {
                                    <input type="checkbox" name="check" onclick="myFunction(this, @outcome.IdOutcomeRubrica)">
                                }
                             </div>
                            }
                            else
                            {
                                <div class="col-md-2" style="margin-top: 5px;">
                                    <h5 data-tooltip="tooltip" title="@outcome.OutcomeComision.Outcome.DescripcionEspanol">@outcome.OutcomeComision.Comision.Codigo (@outcome.OutcomeComision.Outcome.Nombre)</h5>
                                </div>
                            }
                            <div class="col-md-1 text-center" style="margin-top: 5px; margin-bottom: 2px;">
                                <button type="button" class="btn btn-secondary btn-xs" onclick="newCriterio('@outcome.IdOutcomeRubrica')"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></button>
                            </div>
                            <div id="@outcome.IdOutcomeRubrica" class="col-md-9 text-muted">
                            @foreach (var criterio in outcome.CriterioOutcome)
                            {
                                var IdDescription = "descp" + criterio.IdCriterioOutcome;
                                var IdScore = "ptje" + criterio.IdCriterioOutcome;
                                <div id="@criterio.IdCriterioOutcome" class="row criterio">
                                    <textarea id='@IdDescription' class="col-md-4" style="margin-right: 2.5px;" disabled>@criterio.Descripcion</textarea>
                                    <div id='@IdScore' class="col-md-1 text-center" style="margin-right: 2.5px;">@criterio.ValorMaximo</div>
                                    <div class="col-md-2 text-center">
                                        <button type="button" class="btn btn-secondary btn-xs" onclick="editCriterio('@criterio.IdCriterioOutcome', this)"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-secondary btn-xs" onclick="deleteCriterio('@criterio.IdCriterioOutcome')"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <!--AQUÍ LOS NIVELES PARA LOS CRITERIOS-->
                                        <div class="btn-group btn-group-sm" data-toggle="buttons">
                                        @if (Model.NivelesDesempenio.Count == 0)
                                        {
                                            foreach (var nivel in criterio.NivelCriterio)
                                            {
                                                <label class="btn" style="background-color:@(nivel.Color.IsEmpty() ? "#8e7676" : nivel.Color); color:white" data-tooltip="tooltip" title="@nivel.DescripcionNivel [@nivel.NotaMayor]"><input type="radio" disabled>@nivel.Nombre</label>
                                            }
                                        }
                                        else
                                        {
                                            foreach (var nivel in Model.NivelesDesempenio)
                                            {
                                                <label class="btn" style="background-color:@nivel.Color; color:white" data-tooltip="tooltip" title="@nivel.Descripcion [@nivel.PuntajeMayor]"><input type="radio" disabled>@nivel.Nombre</label>
                                            }
                                        }
                                        </div>
                                        <!-------------------------------------->
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                        i++;
                    }
                    </div>
                </div>
            </div>
            cont++;
        }
        </div>
    </div>
    <div class="pull-right">
        <a class="btn btn-dark" href="@Url.Action("MaintenanceRubric", "Rubric")">@RubricRubricViewResource.Regresar</a>
    </div>
</div>

@Html.Content("js/components/autosize.min.js")

@section scripts{

    <!--CÓDIGO PARA NUEVO DISEÑO-->
    <script>
	    $(document).ready(function(){
	        cargarComponentes();
	    });

	    function cargarComponentes() {
	        autosize($('textarea'));
	        $('[data-tooltip="tooltip"]').tooltip();
	    }

        function newCriterio(id) {
	        $.ajax({
	            type: 'POST',
	            url: '@Url.Action("SaveCriterio", "Rubric")',
	            data: {
	                IdRubrica: '@Model.IdRubrica',
	                IdOutcome: id,
                    Descripcion: 'Nuevo Criterio'
	            },
	            dataType: 'json',
	            beforeSend: function () {
	                showLoading();
	            },
	            error: function () {
	                error('@Html.Raw(RubricResource.FalloEnvioDeDatos)');
	            },
	            success: function (response) {
	                var btnGroupNiveles = '';
	                response.Niveles.forEach(function (element) {
	                    btnGroupNiveles += '<label class="btn" style="background-color:' + (element.Color == '' ? "#8e7676" : element.Color) + '; color:white" data-tooltip="tooltip" title="' + element.Descripcion + ' [' + parseFloat(element.NotaMayor).toFixed(2) + ']"><input type="radio" disabled>' + element.Nombre + '</label> ';
	                });

	                $('#' + id).append('<div id="' + response.IdCriterio +
                        '" class="row criterio"><textarea id="descp' + response.IdCriterio +
                        '" class="col-md-4 editable">' + response.Descripcion + '</textarea><div id="ptje' + response.IdCriterio +
                        '" class="col-md-1 text-center" style="margin-right: 2.5px;">' + parseFloat(response.Puntaje).toFixed(2) +
                        '</div><div class="col-md-2 text-center"><button type="button" class="btn btn-secondary btn-xs" onclick="saveCriterio(\'' + response.IdCriterio + '\', this)"><i class="fa fa-check fa-lg" aria-hidden="true"></i></button> <button type="button" class="btn btn-secondary btn-xs" onclick="deleteCriterio(\'' + response.IdCriterio + '\')"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button></div>' +
                        '<div class="col-md-4 text-center"><div class="btn-group btn-group-sm"" data-toggle="buttons">' + btnGroupNiveles + '</div></div></div>');

                    cargarComponentes();
	                closeLoading();
	            }
	        });
	    }
        function myFunction(elmnt,id) {



            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditStatus", "Rubric")',
                data: {
                    idOutcomeRubrica: id
                },
                dataType: 'json',
                success: function () {
                    console.log("Se Actualizo Correctamente")

                },
                error: function (){
                    console.log("Error al actualizar")
                }
            });


        }
	    function saveCriterio(id, obj){
		    var descp = $('#descp' + id);
		    if (descp.val().trim() == '') {
		        error('@Html.Raw(RubricResource.OlvidasteLaDescripcion)');
			    return;
		    }
		    $.ajax({
		        type: 'POST',
		        url: '@Url.Action("SaveCriterio", "Rubric")',
		        data: {
		            IdRubrica: '@Model.IdRubrica',
		            IdCriterio: id,
                    Descripcion: descp.val()
		        },
		        dataType: 'json',
		        beforeSend: function () {
		            showLoading();
		        },
		        error: function(){
		            error('@Html.Raw(RubricResource.FalloEnvioDeDatos)');
		        },
		        success: function () {
		            obj.removeChild(obj.firstChild);
		            var node = document.createElement('i');
		            node.setAttribute('class', 'fa fa-pencil fa-lg');
		            node.setAttribute('aria-hidden', 'true');
		            obj.appendChild(node);
		            descp.prop('disabled', true).toggleClass('editable');
		            obj.setAttribute('onclick', "editCriterio('" + id + "', this);");
		            closeLoading();
		        }
		    });
		    //-------------------------
	    }
        //--hacer una funcion Json para compartir el ID cuando es chekeado y cambiarlo en la Base!
        function editCriterio(id, obj) {
            obj.removeChild(obj.firstChild);
            var node = document.createElement('i');
            node.setAttribute('class', 'fa fa-check fa-lg');
            node.setAttribute('aria-hidden', 'true');
            obj.appendChild(node);
            var descp = $('#descp' + id);
            descp.prop('disabled', false).toggleClass('editable');
            obj.setAttribute('onclick', "saveCriterio('" + id + "', this);");
        }

        function deleteCriterio(id) {
	        $.ajax({
	            type: 'POST',
	            url: '@Url.Action("DeleteCriterio", "Rubric")',
	            data: {
	                IdCriterio: id,
                    IdRubrica: '@Model.IdRubrica'
	            },
	            dataType: 'json',
	            beforeSend: function () {
	                showLoading();
	            },
	            error: function () {
	                error('@Html.Raw(RubricResource.FalloEnvioDeDatos)');
	            },
	            success: function () {
	                var elem = document.getElementById(id);
	                elem.parentNode.removeChild(elem);
	                closeLoading();
	            }
	        });
        }

        function error(message) {
            swal({
                title: message,
                type: 'error'
            });
        }

        function showLoading() {
            swal({
                title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                showConfirmButton: false,
                html: true
            });
        }

        function closeLoading() {
            swal.close();
        }
    </script>
}