﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricViewModel
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Rubric
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared

@{
    ViewBag.Title = RubricCreateResource.Titulo;
    ViewBag.Icon = "plus";
    var roles = Session.GetRoles();
}

@section Breadcrumbs
{
    <li><a href="@Url.Action("MaintenanceRubric", "Rubric")">@RubricCreateResource.Mantenimiento</a></li>
}

<style>
    .panel-body {
        margin-top: 30px;
    }

    #seccionBotonContinuar {
        margin-top: 30px;
        text-align: center;
    }

    h1 {
        color: #e44c3c;
    }

    .select-desplegable > .form-group {
        width: 100% !important;
    }
</style>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel-title">@RubricCreateResource.EES</h5>
            <br />
        </div>
        <div class="panel-body">

            @using (Html.BeginForm("CrearContinuarRubrica", "Rubric", FormMethod.Post, new { @novalidate = "novalidate" }))
            {

                @Html.HiddenFor(x => x.IdCicloActual)
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 select-desplegable">
                        @Html.FormGroup(RubricManagmentResource.Carrera,
                        Html.DropDownListFor(m => Model.IdCarrera, new SelectList(Model.CarrerasCrear, "Id", "Nombre"),
                        OptionResource.Seleccione, new
                        {
                            @class = "form-control select-carrera",
                            @data_plugin = "select2",
                            @data_id = "CarreraCrearRubrica",
                            @data_placeholder = OptionResource.Seleccione,
                            @data_orden = 0
                        }))
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 select-desplegable">
                        @Html.FormGroup(RubricManagmentResource.Curso,
                        Html.DropDownListFor(m => Model.IdCurso, new SelectList(Model.Cursos, "IdCurso", "NombreEspanol"),
                        OptionResource.Seleccione, new
                        {
                            @class = "form-control",
                            @data_plugin = "select2",
                            @data_id = "CursoCrearRubrica",
                            @data_placeholder = OptionResource.Seleccione,
                            @data_orden = 1
                        }))
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 select-desplegable">
                        @Html.FormGroup(RubricManagmentResource.Evaluacion,
                        Html.DropDownListFor(m => Model.IdEvaluacion, new SelectList(Model.Evaluaciones, "IdEvaluacion", "TipoEvaluacion"),
                        OptionResource.Seleccione, new
                        {
                            @class = "form-control select-evaluacion",
                            @data_plugin = "select2",
                            @data_id = "EvaluacionCrearRubrica",
                            @data_placeholder = OptionResource.Seleccione,
                            @data_orden = 2
                        }))
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center" style="margin-top:25px">
                        <input type="submit" data-parent="Crear" name="submit" class="btn btn-primary btn-block" value="@ButtonResource.Gestionar" disabled />&nbsp;
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    @Html.Content("js/components/switchery.min.js")


    <script>
        $('*[data-plugin="select2"]').change(function () {
            var ComboDataId = $(this).data('id');
            var ComboToFill = '';
            var ActionName = '';
            var IdSelected = $(this).val();
            var ActivateButton = false;
            var UrlAction = '';
            var SectionForm = '';

            switch (ComboDataId) {
                case "CarreraCrearRubrica":
                    ComboToFill = $('*[data-id="CursoCrearRubrica"]');
                    ActionName = 'ListCursoCarrera';
                    UrlAction = '@Url.Action("ListCursoCarrera", "Rubric", new { Area = ConstantHelpers.AREAS.RUBRIC })';
                    break;

                case "CursoCrearRubrica":
                    ComboToFill = $('*[data-id="EvaluacionCrearRubrica"]');
                    ActionName = 'ListEvaluacionCurso';
                    UrlAction = '@Url.Action("ListEvaluacionCurso", "Rubric", new { Area = ConstantHelpers.AREAS.RUBRIC })';
                    break;
                case "EvaluacionCrearRubrica":
                    SectionForm = "Crear";
                    ActivateButton = true;
                    break;
            }

            if (ActionName != "") {
                if (IdSelected != 0) {
                    $.ajax({
                        cache: false,
                        type: 'POST',
                        url: UrlAction,
                        data: { 'IdSelected': IdSelected },
                        beforeSend: function () {
                            ComboToFill.attr("disabled", "disabled");
                            ComboToFill.empty();
                            ComboToFill.append('<option value="">@OptionResource.Cargando... </option>');
                        },
                        success: function (json) {
                            if (json != null && json.length > 0) {
                                ComboToFill.empty();
                                ComboToFill.append('<option value="">@OptionResource.Seleccione</option>');
                                ComboToFill.removeAttr("disabled");
                                for (var i = 0; i < json.length; i++) {
                                    ComboToFill.append('<option value="' + json[i]['Id'] + '">' + json[i]['Nombre'] + '</option>');
                                }
                            } else {
                                ComboToFill.removeAttr("disabled");
                                ComboToFill.empty();
                                ComboToFill.append('<option value="">@OptionResource.NoExisteRegistros</option>');
                            }
                        }, error: function () {
                            ComboToFill.removeAttr("disabled");
                            ComboToFill.append('<option value="">@OptionResource.OcurrioError</option>');
                        }

                    });
                }
            }
            if (ActivateButton) {
                if (SectionForm == "Crear") {
                    $('*[data-parent="Crear"]').each(function (i, e) {

                        var $this = $(e);
                        $this.removeAttr("disabled");
                    });
                    $('*[data-parent="Editar"]').each(function (i, e) {

                        var $this = $(e);
                        $this.attr("disabled", "disabled");
                    })
                }
                else {
                    $('*[data-parent="Editar"]').each(function (i, e) {

                        var $this = $(e);
                        $this.removeAttr("disabled");
                    });
                    $('*[data-parent="Crear"]').each(function (i, e) {

                        var $this = $(e);
                        $this.attr("disabled", "disabled");
                    })
                }
            } else {
                $('.btn').each(function (i, e) {
                    var $this = $(e);
                    $this.attr("disabled", "disabled");
                })
            }


        });
    </script>
}