﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricWASCViewModel
@{
    ViewBag.Title = RubricRubricViewResource.Titulo;
    ViewBag.Icon = "fa fa-plus";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Styles {
    <style>
        .div-line {
            border-width: 1px;
            border-bottom: 1px black solid;
        }

        .criterio {
            padding-top: 5px;
            padding-bottom: 5px;
            border-width: 1px;
            border-bottom: 1px black solid;
        }

        textarea {
            resize: none;
            border-radius: .5rem;
            border-color: transparent;
            background-color: transparent;
            text-align: justify;
        }

        #rubricBody {
            font-size: 80%;
        }

        .editable {
            background: rgba(252,209,103, 0.3);
        }
    </style>
}
@section Breadcrumbs
{
    <li><a href="@Url.Action("MaintenanceRubric", "Rubric")">@RubricRubricViewResource.Mantenimiento</a></li>
}

<p>@Model.CarreraNombre / @Model.CursoNombre / @Model.EvaluacionNombre</p>
<div class="row">
    <div class="panel panel-bordered">
        @Html.PanelHeader("<i class=\"fa fa-book\"></i> Competences")
        <div class="panel-body">
            <div class="row div-line">
                <div class="col-md-2 text-center">
                    General Competence
                </div>
                <div class="col-md-10">
                    <div class="row">
                    @foreach (var NivelDesempenio in Model.NivelesDesempenio)
                    {
                        <div class="col-md-4 text-center">@NivelDesempenio.Nombre</div>
                    }
                    </div>
                </div>
            </div>

            <div id="rubricBody">
            @{ var i = 0;}
            @foreach (var Outcome in Model.Outcomes)
            {
                <div @((i % 2) == 0 ? "style=background-color:rgba(134,188,214,0.3)" : "") class="row">
                    <div class="col-md-2" style="margin-top: 5px;">
                        <h5 data-tooltip="tooltip" title="@Outcome.OutcomeComision.Outcome.DescripcionEspanol">@Outcome.OutcomeComision.Outcome.Nombre</h5>
                    </div>
                    <div id="@Outcome.IdOutcomeRubrica" class="col-md-10 text-muted">
                    @foreach (var Criterio in Outcome.CriterioOutcome)
                    {
                        <div class="row criterio">
                        @foreach (var NivelCriterio in Criterio.NivelCriterio)
                        {
                            var IdDescription = "descp" + NivelCriterio.IdNivelCriterio;
                            <textarea id='@IdDescription' class="col-md-4" disabled>@NivelCriterio.DescripcionNivel</textarea>
                        }
                        </div>
                    }
                    </div>
                </div>
                i++;
            }
            </div>
            <br />
            <div class="pull-right">
                <a class="btn btn-dark" href="@Url.Action("MaintenanceRubric", "Rubric")">@RubricRubricViewResource.Regresar</a>
            </div>
        </div>
    </div>
</div>

@Html.Content("js/components/autosize.min.js")

@section scripts{
    <script>
	    $(document).ready(function(){
	        cargarComponentes();
	    });

	    function cargarComponentes() {
	        autosize($('textarea'));
	        $('[data-tooltip="tooltip"]').tooltip();
	    }
    </script>
}