﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricABETViewModel
@{
    ViewBag.Title = RubricRubricViewResource.Titulo;
    ViewBag.Icon = "fa fa-plus";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
@section Styles {
    <style>
        .div-line {
            border-width: 1px;
            border-bottom: 1px black solid;
        }

        .criterio {
            padding-top: 5px;
            padding-bottom: 5px;
            border-width: 1px;
            border-bottom: 1px black solid;
        }

        textarea {
            resize: none;
            border-radius: .5rem;
            border-color: transparent;
            background-color: transparent;
            text-align: justify;
        }

        #rubricBody {
            font-size: 80%;
        }

        .editable {
            background: rgba(252,209,103, 0.3);
        }
    </style>
}
@section Breadcrumbs
{
    <li><a href="@Url.Action("MaintenanceRubric", "Rubric")">@RubricRubricViewResource.Mantenimiento</a></li>
}
<p>@Model.CarreraNombre / @Model.CursoNombre / @Model.EvaluacionNombre</p>
<div class="row">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            @{var cont = 1; }
            @foreach (var OutcomeComision in Model.OutcomesComision)
            {
                <li role="presentation" class='@(cont == 1 ? "active": "")'>
                    <a href="#comision-@OutcomeComision.Item1.IdComision" aria-controls="comision-@OutcomeComision.Item1.IdComision" role="tab" data-toggle="tab">@OutcomeComision.Item1.NombreEspanol</a>
                </li>
                cont++;
            }
        </ul>
        <div class="panel tab-content">
        @{ cont = 1; }
        @foreach (var OutcomeComision in Model.OutcomesComision)
        {
            <div role="tabpanel" class="tab-pane @(cont == 1 ? "active":"")" id="comision-@OutcomeComision.Item1.IdComision">
                <div class="panel-body">
                    <!--INICIO NUEVO DISEÑO-->
                    <div class="row div-line">
                        <div class="col-md-2">
                            Student Outcomes
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-7 text-center">@RubricRubricViewResource.Criterios</div>
                                <div class="col-md-1 text-center">@RubricRubricViewResource.Max</div>
                                <div class="col-md-4 text-center">@RubricRubricViewResource.Nivel</div>
                            </div>
                        </div>
                    </div>
                    <div id="rubricBody">
                    @{ var i = 0;}
                    @foreach (var outcome in OutcomeComision.Item2)
                    {
                        <div @((i % 2) == 0 ? "style=background-color:rgba(134,188,214,0.3)" : "") class="row">
                            <div class="col-md-2" style="margin-top: 5px;">
                                <h5 data-tooltip="tooltip" title="@outcome.OutcomeComision.Outcome.DescripcionEspanol">@outcome.OutcomeComision.Comision.Codigo (@outcome.OutcomeComision.Outcome.Nombre)</h5>
                            </div>
                            <div id="@outcome.IdOutcomeRubrica" class="col-md-10 text-muted">
                            @foreach (var criterio in outcome.CriterioOutcome)
                            {
                                var IdDescription = "descp" + criterio.IdCriterioOutcome;
                                var IdScore = "ptje" + criterio.IdCriterioOutcome;
                                <div id="@criterio.IdCriterioOutcome" class="row criterio">
                                    <textarea id='@IdDescription' class="col-md-7" disabled>@criterio.Descripcion</textarea>
                                    <div id='@IdScore' class="col-md-1 text-center">@criterio.ValorMaximo</div>
                                    <div class="col-md-4 text-center">
                                        <!--AQUÍ LOS NIVELES PARA LOS CRITERIOS-->
                                        <div class="btn-group btn-group-sm" data-toggle="buttons">
                                        @if (Model.NivelesDesempenio.Count == 0)
                                        {
                                            foreach (var nivel in criterio.NivelCriterio)
                                            {
                                                <label class="btn" style="background-color:@(nivel.Color.IsEmpty() ? "#8e7676" : nivel.Color); color:white" data-tooltip="tooltip" title="@nivel.DescripcionNivel [@nivel.NotaMayor]"><input type="radio" disabled>@nivel.Nombre</label>
                                            }
                                        }
                                        else
                                        {
                                            foreach (var nivel in Model.NivelesDesempenio)
                                            {
                                                <label class="btn" style="background-color:@nivel.Color; color:white" data-tooltip="tooltip" title="@nivel.Descripcion [@nivel.PuntajeMayor]"><input type="radio" disabled>@nivel.Nombre</label>
                                            }
                                        }
                                        </div>
                                        <!-------------------------------------->
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                        i++;
                    }
                    </div>
                </div>
            </div>
            cont++;
        }
        </div>

        <div class="pull-right">
            <a class="btn btn-dark" href="@Url.Action("MaintenanceRubric", "Rubric")">@RubricRubricViewResource.Regresar</a>
        </div>
    </div>
</div>

@Html.Content("js/components/autosize.min.js")

@section scripts{

    <!--CÓDIGO PARA NUEVO DISEÑO-->
    <script>
	    $(document).ready(function(){
	        cargarComponentes();
	    });

	    function cargarComponentes() {
	        autosize($('textarea'));
	        $('[data-tooltip="tooltip"]').tooltip();
	    }
    </script>
}