﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricViewModel
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Rubric
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared

@{
    ViewBag.Title = RubricManagmentResource.Titulo;
    ViewBag.Icon = "book";
}

@section Breadcrumbs
{
}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="nav-tabs-vertical">
                    <ul class="nav nav-tabs margin-right-25 col-md-2" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                        @*<li class="active" role="presentation"><a data-toggle="tab" href="#registromanualTab" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="true"><i class="fa fa-plus"></i> <span class="tabhidden">@RubricManagmentResource.CrearRubrica</span></a></li>*@
                        @*<li role="presentation" class=""><a data-toggle="tab" href="#generacionTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-upload"></i> <span class="tabhidden">@RubricManagmentResource.CargarRubrica</span></a></li>*@
                        <li role="presentation" class="active"><a data-toggle="tab" href="#mantenimientoTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-book"></i> <span class="tabhidden">@RubricManagmentResource.Mantenimiento</span></a></li>
                        <li role="presentation"><a data-toggle="tab" href="#outcomeTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-list-alt"></i> <span class="tabhidden">@RubricManagmentResource.ConfigurarOutcomes</span></a></li>
                        <li role="presentation"><a data-toggle="tab" href="#nivelTab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="false"><i class="fa fa-level-up"></i> <span class="tabhidden">@RubricManagmentResource.NivelesDeDesempeño</span></a></li>
                    </ul>
                    <div class="tab-content padding-vertical-15  col-md-9" style="font-size: 18px;">
                        <div class="tab-pane" id="registromanualTab" role="tabpanel">
                            <h2 class="fixtitle"><i class="fa fa-plus"></i>&nbsp;@RubricManagmentResource.CrearRubrica</h2>
                            <p align="justify" style="font-size:16px;">
                                @RubricManagmentResource.CreationDescription
                            </p>
                            @using (Html.BeginForm("CrearContinuarRubrica", "Rubric", FormMethod.Post, new { @novalidate = "novalidate" }))
                            {
                                @Html.HiddenFor(x => x.IdCicloActual)
                                <div class="panel-body row">
                                    @Html.FormGroup(RubricManagmentResource.Carrera, Html.DropDownListFor(m => Model.IdCarrera, new SelectList(Model.CarrerasCrear, "Id", "Nombre"), OptionResource.Seleccione, new { @class = "form-control select-carrera", @data_plugin = "select", @data_id = "CarreraCrearRubrica", @data_orden = 0 }))
                                    @Html.FormGroup(RubricManagmentResource.Curso, Html.DropDownListFor(m => Model.IdCurso, new SelectList(Model.Cursos, "IdCurso", "NombreEspanol"), OptionResource.Seleccione, new { @class = "form-control", @data_plugin = "select", @data_id = "CursoCrearRubrica", @data_orden = 1 }))
                                </div>
                                <div class="panel-body row">
                                    @Html.FormGroup(RubricManagmentResource.Evaluacion, Html.DropDownListFor(m => Model.IdEvaluacion, new SelectList(Model.Evaluaciones, "IdEvaluacion", "TipoEvaluacion"), OptionResource.Seleccione, new { @class = "form-control select-evaluacion", @data_plugin = "select", @data_id = "EvaluacionCrearRubrica", @data_orden = 2 }))
                                    @Html.FormGroup(RubricManagmentResource.Comision, Html.DropDownListFor(m => Model.SelectedComsiones, new SelectList(Model.Comisiones, "IdComision", "Codigo"), OptionResource.Seleccione, new { @class = "form-control select-comision", multiple = "multiple", data_plugin = "select2", data_placeholder = RubricManagmentResource.SelecioneComision, data_orden = 3 }))

                                </div>
                                <div class="form-group col-sm-12 col-md-6">
                                    <div class="pull-left margin-left-30 margin-right-10">
                                        @Html.CheckBoxFor(x => x.EsNotaEvaluada, new { @data_plugin = "switchery", @data_color = "#f96868" })
                                    </div>
                                    <label class="padding-top-3" for="inputBasicOn">@RubricManagmentResource.EvaluaNota</label>
                                </div>
                                <div class="panel-footer text-right">
                                    <input type="submit" data-parent="Crear" name="submit" class="btn btn-primary" value="@ButtonResource.Gestionar" disabled />&nbsp;
                                </div>
                            }
                        </div>
                        <div class="tab-pane" id="generacionTab" role="tabpanel">
                            <h2 class="fixtitle"><i class="fa fa-upload"></i>&nbsp;@RubricManagmentResource.CargarRubrica</h2>
                            <p align="justify" style="font-size:16px;">
                                @RubricManagmentResource.LoadDescription
                            </p>
                            @using (Html.BeginForm("VerCargarRubrica", "Rubric", FormMethod.Post, new { @novalidate = "novalidate" }))
                            {
                                <div class="panel-body row">
                                    @Html.FormGroup(RubricManagmentResource.Ciclo, Html.DropDownListFor(m => Model.IdPeriodoAcademico, new SelectList(Model.Ciclos, "IdPeriodoAcademico", "CicloAcademico"), OptionResource.Seleccione, new { @class = "form-control", @data_plugin = "select", @data_id = "CicloCargarRubrica", @data_orden = 0 }))
                                    @Html.FormGroup(RubricManagmentResource.Carrera, Html.DropDownListFor(m => Model.IdCarrera, new SelectList(Model.Carreras, "IdCarrera", "NombreCarrera"), OptionResource.Seleccione, new { @class = "form-control", @data_plugin = "select", @data_id = "CarreraCargarRubrica", @data_orden = 1 }))
                                </div>
                                <div class="panel-body row">
                                    @Html.FormGroup(RubricManagmentResource.Curso, Html.DropDownListFor(m => Model.IdCurso, new SelectList(Model.Cursos, "IdCurso", "NombreEspanol"), OptionResource.Seleccione, new { @class = "form-control", @data_plugin = "select", @data_id = "CursoCargarRubrica", @data_orden = 2 }))
                                    @Html.FormGroup(RubricManagmentResource.Evaluacion, Html.DropDownListFor(m => Model.IdEvaluacion, new SelectList(Model.Evaluaciones, "IdEvaluacion", "TipoEvaluacion"), OptionResource.Seleccione, new { @class = "form-control", @data_plugin = "select", @data_id = "EvaluacionCargarRubrica", @data_orden = 3 }))
                                </div>
                                <div class="panel-footer text-right">
                                    <input type="submit" data-parent="Editar" name="submit" class="btn btn-primary" value="@ButtonResource.Ver" disabled />&nbsp;
                                </div>
                            }
                        </div>

                        <div class="tab-pane active" id="mantenimientoTab" role="tabpanel">
                            <h2 class="fixtitle"><i class="fa fa-book"></i>&nbsp;@RubricManagmentResource.MantenimientoDeRubricas</h2>
                            <p align="justify" style="font-size:16px;">
                                @RubricManagmentResource.RubricasDescripcion
                            </p>
                            <p>
                                <a href="@Url.Action("MaintenanceRubric", "Rubric")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @RubricManagmentResource.Ver</a>
                            </p>
                        </div>

                        <div class="tab-pane" id="nivelTab" role="tabpanel">
                            <h2 class="fixtitle"><i class="fa fa-level-up"></i>&nbsp;@RubricManagmentResource.NivelesDeDesempeño</h2>
                            <p align="justify" style="font-size:16px;">
                                @RubricManagmentResource.NivelesDeDesempeñoDescripcion
                                
                            </p>
                            <p>
                                <a href="@Url.Action("ScoreCreate", "Score")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @RubricManagmentResource.Registrar</a>
                            </p>
                        </div>

                        <div class="tab-pane" id="outcomeTab" role="tabpanel">
                            <h2 class="fixtitle"><i class="fa fa-list-alt"></i>&nbsp;@RubricManagmentResource.ConfigurarOutcomes</h2>
                            <p align="justify" style="font-size:16px;">
                                @RubricManagmentResource.ConfigurarSalidasDescripcion
                            </p>
                            <p>
                                <a href="@Url.Action("OutcomeConfigure", "Rubric")" class="pull-right btn btn-primary"><i class="fa fa-sign-in"></i> @RubricManagmentResource.Registrar</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Html.Content("js/components/switchery.min.js")
    <script>

        $('*[data-plugin="select2"]').select2();

        $('*[data-plugin="select"]').change(function () {
            var ComboDataId = $(this).data('id');
            var ComboToFill = '';
            var ActionName = '';
            var IdSelected = $(this).val();
            var ActivateButton = false;
            var UrlAction = '';
            var SectionForm = '';
            var $this = $(this);

            $this.closest('form').find('select').each(function (i, e) {

                var $$this = $(e);
                var orden = $$this.data('orden')

                if ($this.data('orden') < orden) {
                    $$this.empty();
                    $('*[data-plugin="select2"]').select2();
                    //if($$this.data('orden') != 3)
                        $$this.append('<option value="">@OptionResource.Seleccione</option>');
                }

            })
            switch (ComboDataId) {
                case "CicloCargarRubrica":
                    ComboToFill = $('*[data-id="CarreraCargarRubrica"]');
                    ActionName = 'ListCarrerasPeriodoAcademico';
                    UrlAction = '@Url.Action("ListCarrerasPeriodoAcademico","Rubric", new {Area = ConstantHelpers.AREAS.RUBRIC})';
                    break;

                case "CarreraCargarRubrica":
                    ComboToFill = $('*[data-id="CursoCargarRubrica"]');
                    ActionName = 'ListCursoCarrera';
                    UrlAction = '@Url.Action("ListCursoCarrera", "Rubric", new { Area = ConstantHelpers.AREAS.RUBRIC })';
                    break;

                case "CursoCargarRubrica":
                    ComboToFill = $('*[data-id="EvaluacionCargarRubrica"]');
                    ActionName = 'ListEvaluacionCurso';
                    UrlAction = '@Url.Action("ListEvaluacionCurso", "Rubric", new { Area = ConstantHelpers.AREAS.RUBRIC })';
                    break;

                case "CarreraCrearRubrica":
                    ComboToFill = $('*[data-id="CursoCrearRubrica"]');
                    ActionName = 'ListCursoCarrera';
                    UrlAction = '@Url.Action("ListCursoCarrera", "Rubric", new { Area = ConstantHelpers.AREAS.RUBRIC })';
                    break;

                case "CursoCrearRubrica":
                    ComboToFill = $('*[data-id="EvaluacionCrearRubrica"]');
                    ActionName = 'ListEvaluacionCurso';
                    UrlAction = '@Url.Action("ListEvaluacionCurso", "Rubric", new { Area = ConstantHelpers.AREAS.RUBRIC })';
                    break;
                case "EvaluacionCargarRubrica":
                    SectionForm = "Cargar";
                    ActivateButton = true;
                    break;
                case "EvaluacionCrearRubrica":
                    SectionForm = "Crear";
                    //ActivateButton = true;
                    break;
            }

            if (ActionName != "") {
                if (IdSelected != 0) {
                    $.ajax({
                        cache: false,
                        type: 'POST',
                        url: UrlAction,
                        data: { 'IdSelected': IdSelected },
                        beforeSend: function () {
                            ComboToFill.attr("disabled", "disabled");
                            ComboToFill.empty();
                            ComboToFill.append('<option value="">@OptionResource.Cargando... </option>');
                        },
                        success: function (json) {
                            if (json != null && json.length > 0) {
                                ComboToFill.empty();
                                ComboToFill.append('<option value="">@OptionResource.Seleccione</option>');
                                ComboToFill.removeAttr("disabled");
                                for (var i = 0; i < json.length; i++) {
                                    ComboToFill.append('<option value="' + json[i]['Id'] + '">' + json[i]['Nombre'] + '</option>');
                                }
                            } else {
                                ComboToFill.removeAttr("disabled");
                                ComboToFill.empty();
                                ComboToFill.append('<option value="">@OptionResource.NoExisteRegistros</option>');
                            }
                        }, error: function () {
                            ComboToFill.removeAttr("disabled");
                            ComboToFill.append('<option value="">@OptionResource.OcurrioError</option>');
                        }

                    });
                }
            }
            if (ActivateButton) {
                if (SectionForm == "Crear") {
                    $('*[data-parent="Crear"]').each(function (i, e) {

                        var $this = $(e);
                        $this.removeAttr("disabled");
                    });
                    $('*[data-parent="Editar"]').each(function (i, e) {

                        var $this = $(e);
                        $this.attr("disabled", "disabled");
                    })
                }
                else {
                    $('*[data-parent="Editar"]').each(function (i, e) {

                        var $this = $(e);
                        $this.removeAttr("disabled");
                    });
                    $('*[data-parent="Crear"]').each(function (i, e) {

                        var $this = $(e);
                        $this.attr("disabled", "disabled");
                    })
                }
            } else {
                $('.btn').each(function (i, e) {
                    var $this = $(e);
                    $this.attr("disabled", "disabled");
                })
            }


        });

        $('.select-evaluacion').change(function () {

            var $this = $(this);
            var $comoboToFill = $('.select-comision');
            var evaluacionId = $this.val();
            var carreraId = $('.select-carrera').val();
            var placeholder = $this.data('placeholder');
            var UrlAction = '@Url.Action("ListComisionCarrera", "Rubric", new { Area = ConstantHelpers.AREAS.RUBRIC })';

            $.ajax({
                cache: false,
                type: 'POST',
                url: UrlAction,
                data: { 'EvaluacionId': evaluacionId, 'CarreraId': carreraId },
                success: function (json) {
                    $comoboToFill.empty();
                    for (var i = 0; i < json.length; i++) {
                        $comoboToFill.append('<option value="' + json[i]['Id'] + '">' + json[i]['Nombre'] + '</option>');
                    }
                },
                complete: function (data) {

                }
            })
        });

        $('.select-comision').change(function () {

            var $this = $(this);
            if ($this.val().length > 0) {
                $('*[data-parent="Crear"]').each(function (i, e) {

                    var $this = $(e);
                    $this.removeAttr("disabled");
                });
            } else {
                $('*[data-parent="Crear"]').each(function (i, e) {

                    var $this = $(e);
                    $this.attr("disabled", "disabled");
                })
            }

            
        });
    </script>
}