﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.RubricDetailViewModel
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Rubric
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared

@{
    ViewBag.Title = RubricDetailResource.Titulo;
    ViewBag.Icon = "book";
}

@section Breadcrumbs
{
    <li><a href="@Url.Action("RubricIndex", "Rubric")">@RubricManagmentResource1.Titulo</a></li>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
            @using (Html.BeginForm("CargarRubrica", "Rubric", FormMethod.Post))
            {
                @Html.PanelHeader("<i class=\"fa fa-book\"></i> Student Outcomes")
                <div class="panel">
                    <div class="page-content">
                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            @foreach (var item in Model.Outcomes)
                            {
                                var clase = String.Empty;
                                if (Model.Outcomes.First().Equals(item))
                                {
                                    clase = "active";
                                }
                                <li class=@clase><a href="#@item.IdOutcome" data-toggle="tab">@item.NombreOutcome</a></li>
                            }
                        </ul>
                    </div>
                    <div id="my-tab-content" class="tab-content">
                        @foreach (var item in Model.Outcomes)
                        {
                            var clase = "tab-pane";
                            if (Model.Outcomes.First().Equals(item))
                            {
                                clase = "tab-pane active";
                            }
                            <div class=@clase id=@item.IdOutcome>
                                <div class="panel">
                                    <div class="page-content">
                                        @Html.PanelHeader("<i class=\"fa fa-book\"></i>" + item.NombreOutcome)
                                        <div class="panel row">
                                            <p>@item.DescripcionOutcome</p>
                                        </div>
                                        <div class="panel row">
                                            <div id="accordion@(item.IdOutcome)" class="panel-body">
                                                @foreach (var subItem in item.Criterios)
                                                {
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accorditon@(item.IdOutcome)" href="#@subItem.IdCriterio"></a>
                                                            </h4>
                                                        </div>
                                                        <div id="@subItem.IdCriterio" class="panel-collapse collapse">
                                                            <div class="row">
                                                                <table class="table table-striped table-hover dataTable" style="margin-top: 20px;">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="text-center" style="width: 25%;">@RubricDetailResource.Codigo</th>
                                                                            <th class="text-center">@RubricDetailResource.Nombre</th>
                                                                            <th class="text-center">@RubricDetailResource.Valor</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @{ var cont = 0;}
                                                                        @foreach (var subSubItem in subItem.Niveles)
                                                                        {
                                                                            <tr>
                                                                                <td class="text-center" style="width: 25%;">
                                                                                    @cont
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    @subSubItem.NombreNivel
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    @subSubItem.NivelNotaMaxima
                                                                                </td>
                                                                            </tr>
                                                                            cont++;
                                                                            @*@{cont++;}*@
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <input type="submit" name="submit" class="btn btn-primary" value="@ButtonResource.Cargar" />&nbsp;
                </div>
              }
        </div>
    </div>
</div>
