﻿@-webkit-keyframes loader-tadpole {
    0% {
        -webkit-box-shadow: 0 -.83em 0 -.4em #a3afb7, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff;
        box-shadow: 0 -.83em 0 -.4em #ffffff, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    5%,
    95% {
        -webkit-box-shadow: 0 -.83em 0 -.4em #ffffff, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff;
        box-shadow: 0 -.83em 0 -.4em #ffffff, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff
    }
    10%,
    59% {
        -webkit-box-shadow: 0 -.83em 0 -.4em #ffffff, -.087em -.825em 0 -.42em #ffffff, -.173em -.812em 0 -.44em #ffffff, -.256em -.789em 0 -.46em #ffffff, -.297em -.775em 0 -.477em #ffffff;
        box-shadow: 0 -.83em 0 -.4em #ffffff, -.087em -.825em 0 -.42em #ffffff, -.173em -.812em 0 -.44em #ffffff, -.256em -.789em 0 -.46em #ffffff, -.297em -.775em 0 -.477em #ffffff
    }
    20% {
        -webkit-box-shadow: 0 -.83em 0 -.4em #ffffff, -.338em -.758em 0 -.42em #ffffff, -.555em -.617em 0 -.44em #ffffff, -.671em -.488em 0 -.46em #ffffff, -.749em -.34em 0 -.477em #ffffff;
        box-shadow: 0 -.83em 0 -.4em #ffffff, -.338em -.758em 0 -.42em #ffffff, -.555em -.617em 0 -.44em #ffffff, -.671em -.488em 0 -.46em #ffffff, -.749em -.34em 0 -.477em #ffffff
    }
    38% {
        -webkit-box-shadow: 0 -.83em 0 -.4em #ffffff, -.377em -.74em 0 -.42em #ffffff, -.645em -.522em 0 -.44em #ffffff, -.775em -.297em 0 -.46em #ffffff, -.82em -.09em 0 -.477em #ffffff;
        box-shadow: 0 -.83em 0 -.4em #ffffff, -.377em -.74em 0 -.42em #ffffff, -.645em -.522em 0 -.44em #ffffff, -.775em -.297em 0 -.46em #ffffff, -.82em -.09em 0 -.477em #ffffff
    }
    100% {
        -webkit-box-shadow: 0 -.83em 0 -.4em #ffffff, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff;
        box-shadow: 0 -.83em 0 -.4em #ffffff, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@-o-keyframes loader-tadpole {
    0% {
        box-shadow: 0 -.83em 0 -.4em #ffffff, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff;
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    5%,
    95% {
        box-shadow: 0 -.83em 0 -.4em #ffffff, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff;
    }
    10%,
    59% {
        box-shadow: 0 -.83em 0 -.4em #ffffff, -.087em -.825em 0 -.42em #ffffff, -.173em -.812em 0 -.44em #ffffff, -.256em -.789em 0 -.46em #ffffff, -.297em -.775em 0 -.477em #ffffff;
    }
    20% {
        box-shadow: 0 -.83em 0 -.4em #ffffff, -.338em -.758em 0 -.42em #ffffff, -.555em -.617em 0 -.44em #ffffff, -.671em -.488em 0 -.46em #ffffff, -.749em -.34em 0 -.477em #ffffff;
    }
    38% {
        box-shadow: 0 -.83em 0 -.4em #ffffff, -.377em -.74em 0 -.42em #ffffff, -.645em -.522em 0 -.44em #ffffff, -.775em -.297em 0 -.46em #ffffff, -.82em -.09em 0 -.477em #ffffff;
    }
    100% {
        box-shadow: 0 -.83em 0 -.4em #ffffff, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff;
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loader-tadpole {
    0% {
        -webkit-box-shadow: 0 -.83em 0 -.4em #ffffff, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff;
        box-shadow: 0 -.83em 0 -.4em #ffffff, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff;
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    5%,
    95% {
        -webkit-box-shadow: 0 -.83em 0 -.4em #ffffff, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff;
        box-shadow: 0 -.83em 0 -.4em #ffffff, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff
    }
    10%,
    59% {
        -webkit-box-shadow: 0 -.83em 0 -.4em #ffffff, -.087em -.825em 0 -.42em #ffffff, -.173em -.812em 0 -.44em #ffffff, -.256em -.789em 0 -.46em #ffffff, -.297em -.775em 0 -.477em #ffffff;
        box-shadow: 0 -.83em 0 -.4em #ffffff, -.087em -.825em 0 -.42em #ffffff, -.173em -.812em 0 -.44em #ffffff, -.256em -.789em 0 -.46em #ffffff, -.297em -.775em 0 -.477em #ffffff
    }
    20% {
        -webkit-box-shadow: 0 -.83em 0 -.4em #ffffff, -.338em -.758em 0 -.42em #ffffff, -.555em -.617em 0 -.44em #ffffff, -.671em -.488em 0 -.46em #ffffff, -.749em -.34em 0 -.477em #ffffff;
        box-shadow: 0 -.83em 0 -.4em #ffffff, -.338em -.758em 0 -.42em #ffffff, -.555em -.617em 0 -.44em #ffffff, -.671em -.488em 0 -.46em #ffffff, -.749em -.34em 0 -.477em #ffffff
    }
    38% {
        -webkit-box-shadow: 0 -.83em 0 -.4em #ffffff, -.377em -.74em 0 -.42em #ffffff, -.645em -.522em 0 -.44em #ffffff, -.775em -.297em 0 -.46em #ffffff, -.82em -.09em 0 -.477em #ffffff;
        box-shadow: 0 -.83em 0 -.4em #ffffff, -.377em -.74em 0 -.42em #ffffff, -.645em -.522em 0 -.44em #ffffff, -.775em -.297em 0 -.46em #ffffff, -.82em -.09em 0 -.477em #ffffff
    }
    100% {
        -webkit-box-shadow: 0 -.83em 0 -.4em #ffffff, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff;
        box-shadow: 0 -.83em 0 -.4em #ffffff, 0 -.83em 0 -.42em #ffffff, 0 -.83em 0 -.44em #ffffff, 0 -.83em 0 -.46em #ffffff, 0 -.83em 0 -.477em #ffffff;
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
.loader-default{
    background:none !important;
}
.btn-li:hover{
    background:red;
    color:white;
}
#loading {
width: 100%;
height: 100%;
top: 0px;
left: 0px;
position: fixed;
display: block;
opacity: 0.7;
background-color: #5a5757;
z-index: 99;
text-align: center;
}
.cs-loader {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
}

.cs-loader-inner {
transform: translateY(-50%);
top: 50%;
left: 12%;
position: absolute;
width: calc(100% - 200px);
color: #fff;
padding: 0 100px;
text-align: center;
}

.cs-loader-inner label {
font-size: 20px;
opacity: 0;
display:inline-block;
}

@keyframes lol {
0% {
opacity: 0;
transform: translateX(-300px);
}
33% {
opacity: 1;
transform: translateX(0px);
}
66% {
opacity: 1;
transform: translateX(0px);
}
100% {
opacity: 0;
transform: translateX(300px);
}
}

@-webkit-keyframes lol {
0% {
opacity: 0;
-webkit-transform: translateX(-300px);
}
33% {
opacity: 1;
-webkit-transform: translateX(0px);
}
66% {
opacity: 1;
-webkit-transform: translateX(0px);
}
100% {
opacity: 0;
-webkit-transform: translateX(300px);
}
}

.cs-loader-inner label:nth-child(6) {
-webkit-animation: lol 3s infinite ease-in-out;
animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
-webkit-animation: lol 3s 100ms infinite ease-in-out;
animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
-webkit-animation: lol 3s 200ms infinite ease-in-out;
animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
-webkit-animation: lol 3s 300ms infinite ease-in-out;
animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
-webkit-animation: lol 3s 400ms infinite ease-in-out;
animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
-webkit-animation: lol 3s 500ms infinite ease-in-out;
animation: lol 3s 500ms infinite ease-in-out;
}
.sortable-with-handle .sortable-handle,.sortable>*{cursor:move}.sortable-placeholder{display:block;height:40px;margin-top:1px;background-color:#f7f2f2;border:1px dashed #e4eaec}.sortable-with-handle.list-group-gap .sortable-placeholder,.sortable.list-group-gap .sortable-placeholder{margin-bottom:2px}
field-validation-error
{
    color: red;
}
.numberCircle {-moz-border-radius: 20px;
    border-radius: 20px;
border-color:black;
    background-color:black;
color:white;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:1.3em;
}
.panel-group .panel-title-survey {
    position: relative;
    padding: 15px 30px;
    font-size: 14px
}
.panel-group .panel-title-survey:after,
.panel-group .panel-title-survey:before {
    position: absolute;
    top: 15px;
    right: 30px;
    font-family: "Web Icons";
    -webkit-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s
}
.panel-group .panel-title-survey:before {
    content: "\f197"
}
.panel-group .panel-title-survey:after {
    content: "\f199"
}
.panel-group .panel-title-survey[aria-expanded=false]:before {
    opacity: 1
}
.panel-group .panel-title-survey[aria-expanded=false]:after {
    opacity: 0.1;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg)
}
.panel-group .panel-title-survey[aria-expanded=true]:before {
    opacity: 0.1;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}
.panel-group .panel-title-survey[aria-expanded=true]:after {
    opacity: 1
}
.panel-group .panel-title-survey:focus,
.panel-group .panel-title-survey:hover {
    color: #8e7676;
    text-decoration: none
}
.panel-group .panel-title-survey:focus {
    outline: 0
}
.panel-title-survey.collapsed
{
    background-color: #ABA7A7;
    color: white;
}
.panel-title-survey {
    background-color: red;
    color: white;
    display: block;
}
.panel-group .panel-title-survey:focus, .panel-group .panel-title-survey:hover {
    color: white;
}
.label-survey{
    padding: 6px 15px;
    font-size: 16px;
}
.table a {
    text-decoration:none;
}
.select2-container--default.select2-container--open .select2-selection {
    border-color: none;
}
.radio-custom label::before{
    border: 1px solid #FF1901;
}

@media (max-width:990px){
    .tabhidden
    {
        display: none;
    }
}

@media (max-width:450px){
    .fixtitle
    {
        font-size: 24px;
    }
}

@media (max-width:380px){
    .fixtitle
    {
        font-size: 20px;
    }
}