﻿.ezdz-dropzone {
    position: relative;
    border-radius: 20px;
    font: bold 24px arial;
    text-align: center;
    width: 250px;
    height: 200px;
    line-height: 200px;
    border: 10px dotted lightgray;
    color: lightgray;
    overflow: hidden;
}

    .ezdz-dropzone div {
        /* */
    }

        .ezdz-dropzone span {
            border-radius: 20px;
            background: black;
            background: rgba(0,0,0,0.7);
            color: white;
            font-size: 13px;
            font-weight: normal;
            max-width: 90%;
            vertical-align: middle;
            padding: 4%;
            line-height: 10px;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .ezdz-dropzone img {
            border-radius: 5px;
            max-width: 95%;
            max-height: 95%;
            margin-top: -3px;
            vertical-align: middle;
        }

        .ezdz-dropzone [type="file"] {
            cursor: pointer;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            margin: 0;
            padding: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

    .ezdz-focus {
        border: 10px dotted darkgray;
        color: darkgray;
    }

    .ezdz-enter {
        border: 10px solid black;
        color: black;
    }

    .ezdz-accept {
        border: 10px solid gray;
        color: gray;
    }

    .ezdz-reject {
        border: 10px solid darkred;
        color: darkred;
    }