﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.IndexViewModel
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Rubric
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared
@{
    ViewBag.Title = RubricDashboardResource.Titulo;
    ViewBag.Icon = "fa fa-book";
    var roles = Session.GetRoles();
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

}
<style>
    .example {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
</style>

<div class="row">
    <div class="panel panel-bordered">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-binoculars"></i> @RubricDashboardResource.Filtrar</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2"><label class="label-survey">@RubricDashboardResource.Empresa </label></div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.IdEmpresa, new SelectList(Model.lstEmpresaVirtual, "IdEmpresa", "Nombre"), OptionResource.Todos, new { @class = "form-control select2" , @onchange = "actualizarReporte()" })
                    <!--id="selectEmpresa"-->
                </div>
                <div class="col-md-2"><label class="label-survey">@RubricDashboardResource.Curso </label></div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.IdCurso, new SelectList(Model.lstCurso, "IdCurso", "NombreCompleto"), OptionResource.Todos, new { @class = "form-control select2", @onchange = "actualizarReporte()" })
                    <!--id="selectCurso"-->
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"><label class="label-survey">@RubricDashboardResource.Ciclo: </label></div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.IdPeriodoAcademico, new SelectList(Model.lstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"), OptionResource.Todos, new { @class = "form-control select2", @onchange = "actualizarReporte()" })                  
                </div>

                <div class="col-md-2"><label class="label-survey">@RubricDashboardResource.Estado: </label></div>
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.codEstado, new SelectList(Model.lstEstado, "Value", "Text"), OptionResource.Todos, new { @class = "form-control select2", @onchange = "actualizarReporte()" })
                    
                    <!--id=selectEstado-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="col-sm-6">
        <div id="grafico1"></div>
    </div>
    <div class="col-sm-6">
        <div id="grafico2"></div>
    </div>

    <!--
    <div class="col-sm-6">
        <div id="grafico3"></div>
    </div>
    <div class="col-sm-6">
        <div id="grafico4"></div>
    </div>-->
    <div class="col-sm-6">
        <div id="grafico5"></div>
    </div>
    <div class="col-sm-6">
        <div id="grafico6"></div>
    </div>
    <!--
    <div class="col-sm-6">
        <div id="grafico7"></div>
    </div>
    <div class="col-sm-6">
        <div id="grafico8"></div>
    </div>-->
</div>


@section Scripts{

        <script>

            var t1 = '@RubricDashboardResource.T1';
            var t2 = '@RubricDashboardResource.T2';
            var t5 = '@RubricDashboardResource.T5';
            var t6 = '@RubricDashboardResource.T6';
            var totalP = '@RubricDashboardResource.TotalP';
            var PorcentajeP = '@RubricDashboardResource.PorcentajeP';
            var del = '@RubricDashboardResource.del';
            var Curso = '@RubricDashboardResource.Curso';
            var PTP = '@RubricDashboardResource.PTP';
            var error = '@RubricDashboardResource.error';
            function error(message) {
                swal({
                    title: message,
                    type: 'error'
                });
            }

            function showLoading() {
                swal({
                    title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                    text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                    showConfirmButton: false,
                    html: true
                });
            }

            function closeLoading() {
                swal.close();
            }
        </script>
    @Html.Content("js/highcharts.js", ConstantHelpers.AREAS.RUBRIC)
    @Html.Content("js/data.js", ConstantHelpers.AREAS.RUBRIC)
    @Html.Content("js/exporting.js", ConstantHelpers.AREAS.RUBRIC)
    @Html.Content("js/rubrics/reports.js", ConstantHelpers.AREAS.RUBRIC)

    <script type="text/javascript">
        $(document).ready(function () {
            $('select').select2();
        });

        /*
        $('#selectCurso').change(function () {
            if ($(this).val() != "")
                $("#grafico2").hide();
            else
                $("#grafico2").show();
        });*/
    </script>

    <script>
        var customRoutes = {
            actualizarReporteG1: '@Url.Action("ActualizarReporteG1", "Home")',
            actualizarReporteG2: '@Url.Action("ActualizarReporteG2", "Home")',
            actualizarReporteG3: '@Url.Action("ActualizarReporteG3", "Home")',
            actualizarReporteG4: '@Url.Action("ActualizarReporteG4", "Home")',
            actualizarReporteG5: '@Url.Action("ActualizarReporteG5", "Home")',
            actualizarReporteG6: '@Url.Action("ActualizarReporteG6", "Home")',
            actualizarReporteG7: '@Url.Action("ActualizarReporteG7", "Home")',
            actualizarReporteG8: '@Url.Action("ActualizarReporteG8", "Home")'
        };
    </script>
}
