﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.AcademicProject.PartialView.ListEvaluatorPartialViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Rubric

<div class="panel-body">
	<div class="table-responsive">
		<table class="table table-striped table-hover dataTable" id="table-evaluators">
			<thead>
				<tr>
                    <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Codigo</th>
                    <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Nombre</th>
                    <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Rol</th>
                    <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Peso</th>
                    <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Opcion</th>
				</tr>
			</thead>
			<tbody>
				@{
					Int32 indice = 1;
					foreach (var evaluador in Model.ListEvaluador)
					{
						<tr>
							<td class="text-center">
								@evaluador.CodigoDocente
							</td>
							<td class="text-center">
								@evaluador.NombreDocente
							</td>
							<td class="text-center">
								@evaluador.RolEvaluador
							</td>
							<td class="text-center">
								@evaluador.PesoEvaluador
							</td>
							<td class="text-center">
								<a class="btn btn-default remove-alumnos" onclick="quitarDocente(@evaluador.DocenteId, @evaluador.TipoEvaluadorId);">
									<i class="fa fa-times"></i>
									@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Quitar
								</a>
							</td>
						</tr>
						indice++;
					}
				}
			</tbody>
		</table>
	</div>
</div>

@if (Model.MensajeRespuesta != null)
{
	<div class="alertify" id="mensaje-alerta-docente">
		<div class="dialog">
			<div>
				<p class="msg text-center">@Model.MensajeRespuesta</p>
				<button class="ok btn btn-primary" onclick="ocultarMensajeAlertaDocente();">
					@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Aceptar
				</button>
			</div>
		</div>
	</div>
}
