﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.AcademicProject
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.AcademicProject.PartialView.ListStudentPartialViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Rubric


<div class="table table-responsive">
	<table class="table table-striped table-hover dataTable" id="table-students">
		<thead>
			<tr>
                <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Codigo</th>
                <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Nombre</th>
                <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Estado</th>
				<th class="text-center">@AcademicProjectResource.Curso</th>
				<th class="text-center">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Opcion</th>
			</tr>
		</thead>
		<tbody>
			@{
				String estado = String.Empty;
				Int32 indice = 1;
				foreach (var alumno in Model.ListAlumno)
				{
					<tr>
						<td class="text-center">
							@alumno.Codigo
						</td>
						<td class="text-center">
							@(alumno.Nombres + ' ' + alumno.Apellidos)
						</td>
						<td class="text-center">
							@{
								if (alumno.estaRetirado)
								{
									estado = UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.EstadoRetirado;
								}
								else
								{
									estado = UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.EstadoMatriculado;
								}
							}
							@estado
						</td>
						<td class="text-center">@alumno.CursoMatriculado</td>
						<td class="text-center">
							<a class="btn btn-default remove-alumnos" onclick="validarAlumno('@alumno.AlumnoId', '@alumno.estaRetirado');">
								<i class="fa fa-times"></i>
								@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Quitar
							</a>
						</td>
					</tr>
					indice++;
				}
			}
		</tbody>
	</table>
</div>

@if (Model.MensajeRespuesta != null)
{
	<div class="alertify" id="mensaje-alerta">
		<div class="dialog">
			<div>
				<p class="msg text-center">@Model.MensajeRespuesta</p>
				<button class="ok btn btn-primary" onclick="ocultarMensajeAlerta();">
					@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Aceptar
				</button>
			</div>
		</div>
	</div>
}
