﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.AcademicProject
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Rubric
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.AcademicProject.PartialView.ListAcademicProjectPartialViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Rubric

<div class="panel-body row">
    <div class="table-responsive">
        <table class="table table-striped table-hover" id="myTable">
            <thead>
            <tr>
                <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Codigo</th>
                <th class="text-center">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Rubric.RubricResource.Nombre</th>
                <th class="text-center">@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Rubric.RubricResource.Descripcion</th>
                <th class="text-center">@AcademicProjectResource.Alumnos</th>
                <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Empresa</th>
                
                <th class="text-center">@UPC.CA.ABET.Presentation.Resources.Areas.Rubric.RubricResource.Opcion</th>
            </tr>
            </thead>
            <tbody>
            @{
                Int32 indice = 1;
                foreach (var proyectoAcademico in Model.ListProyectoAcademico)
                {
                    <tr>
                        
                        <td class="text-center">
                            @proyectoAcademico.Codigo
                        </td>
                        <td class="text-center">
                            @proyectoAcademico.Nombre
                        </td>
                        <td class="text-center">
                            @proyectoAcademico.Descripcion
                        </td>
                        <td class="text-center">
                            @foreach (var item in proyectoAcademico.AlumnoSeccion)
                            {
                                <p>@item.AlumnoMatriculado.Alumno.Codigo- @item.AlumnoMatriculado.Alumno.Nombres @item.AlumnoMatriculado.Alumno.Apellidos</p>
                            }
                        </td>
                        <td class="text-center">
                            @proyectoAcademico.EmpresaVirtual.Nombre
                        </td>

                        <td class="text-center">
                            <a href="@(Url.Action("AddEditAcademicProject", "AcademicProject", new {ProyectoAcademicoId = proyectoAcademico.IdProyectoAcademico}))" class="btn btn-default">
                                <i class="fa fa-pencil"></i>
                                @ButtonResource.Ver
                            </a>
                        </td>
                    </tr>
                    indice++;
                }
            }
            </tbody>
        </table>
    </div>
</div>

<script>

        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "No existen registros",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No existen registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar"
                }
            });

        });

</script>