﻿.report-container{
    max-width: 850px;
    margin: 0 auto;
    background-color: #fff;
}
    .report-container *:not(i) {
        font-family: 'Open Sans', sans-serif;
        /*font-family: 'Arial Unicode MS';*/
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .report-container .btn, .report-container [role="menu"] *:not(i) {
        font-family: Roboto, sans-serif;
    }
.report-container .main-title{
    font-size:28px;
    font-weight: 600;
}
.report-container table {
    width: 100%;
}
.report-container .block{
    display:block;
}
.report-container .fondo-negro{
    background-color: #000;
    color: #fff;
    border: 3px solid #000;
}
.report-container .borde-report-container{
    border: 3px solid #000;
    border-bottom: none;
}
.report-container .text-center {
    text-align: center;
}
.report-container .bold{
    font-weight:bolder;
}
.report-container .text-uppercase {
    text-transform: uppercase;
}
.report-container .cuadro-alumno{
    padding: 5px 15px 5px 20px;
    color: #000;
}
.report-container .etiqueta-descripcion{
    padding: 4px 5px;
}
.report-container .etiqueta-descripcion > label{
    display:inline-block;
}
.report-container .etiqueta-descripcion > label:first-child{
    width: 70px;
    font-weight:400;
    text-align: right;
}
.report-container .etiqueta-descripcion > label:last-child{
    width: calc(100% - 80px);
    border-bottom: 2px solid #000;
    padding: 3px;
    font-size: 13px;
    font-weight: 700;
}
.report-container .subtitulo{
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 18px;
}
.report-container .font-400{
    font-weight:400;
}
.report-container .niveles-logros{
}
.report-container .niveles-logros tr:last-child td:not(:first-child){
    padding-top:5px;
}
.report-container .niveles-logros td{
    border-right: 2px solid #000;
    color: #000;
}
.report-container .bg-plomo{
    background-color: #e1ead1;
}
.report-container .ico{
    border-radius:7px !important;
    width: 15px;
    height: 15px;
    display:inline-block;
}
.report-container .ico-amarillo{
    background-color: yellow;
}
.report-container .ico-azul{
    background-color: blue;
}
.report-container .ico-verde{
    background-color: #47b13f;
}
.report-container .resumen-apreciativo{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}
.report-container .resumen-apreciativo p {
    text-align: justify;
    font-weight:400;
    min-height: 150px;
    color: #000;
}
.report-container .competencias{
    padding: 10px 15px;
    padding-right: 30px;
}
.report-container .competencias .tabla {
    width:55%; 
    padding-left: 10px;
    padding-right: 30px;
    color:#000;
}
.report-container .competencias .tabla th, .competencias .tabla td{
    border-bottom: 2px solid #000;
}
.report-container .competencias .tabla th{
    border-top: 2px solid #000;
    text-align: center;
    font-weight: 700;
}
.report-container .competencias .tabla tr td:first-child{
    font-weight: 400;
    font-size: 14px;
    padding: 3px 0;
}
.report-container .competencias.especificas .tabla tr td:first-child {
    font-size: 7px;
}
.report-container .competencias.generales .tabla tr td:first-child {
    font-size: 12px;
}
.report-container .competencias .grafico {
    width: 100%; 
    height:100%; 
    border: 2px solid #000;
}
.report-container .competencias .tabla th:first-child{
    width: 72%;
}

.report-container .firmas{
    font-size:14px;
    margin-top:15px;
    font-weight: 400;
}

.report-container .imagen-firma {
    display: block;
    width: 100%;
    height: 80px;
}

.report-container .not-visible {
    visibility: hidden;
}


.report-container .firmas table {
    width: 46%;
    margin-bottom: 20px;
}
.report-container .firmas table td{
    color: #000;
    padding: 0 20px;
}
.report-container .firmas table:first-child {
    float: left;
    /*margin-left:20px;*/        
}
.report-container .firmas table:last-child {
    float: right;
    /*margin-right:20px;*/
}
.report-container .firmas tr .border-superior {
    border-top:4px solid #000;
    padding-top: 3px;
    display: block;
    width: 100%;
}
.report-container .firmas tr:last-child > td {
    padding-top: 5px;
}
