﻿.btn-primary[disabled] {
    background-color: #FF1901 !important;
    border-color: #FF1901 !important;
}

.modal-backdrop.fade + .modal-backdrop.fade{
    z-index: 1720 !important;
}

#report-container iframe {
    height:900px; 
    width:95%;
    margin-left: 2.5%; 
    border:none; 
    display:block;
}

.report-init-text{
    margin-top: 40px;
    margin-bottom: 20px;
}

.field-validation-error{
    color: #FF1901 !important;
}

.loader-background {
    z-index: 1000;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color:rgba(255,255,255,0.8);
    display:none;
}

.loader-container {
    display: flex;
    align-items: center;
    -ms-flex-flow: wrap row;
    -webkit-flex-flow: wrap row;
    flex-flow: wrap row;
    height:100%;
}

.select2-container--default {
    z-index: 2 !important;
}

.modal-backdrop + .select2-container--default {
    z-index: 2000 !important;
}



.full-width {
    width: 100%;
}


.table-full-width {
    width: 100%;
    margin-bottom: 5px;
}

.display-table {
    display: table;
}

.display-table-cell {
    /*resize: none;*/
    display: table-cell;
    vertical-align: middle;
}

.display-table-row {
    display: table-row;
    width: 100%;
}

.display-table-column {
    display: table-column;
    height: 100%;
}

.vertical-align-top {
    vertical-align: top;
}

.cell-options {
    padding-left: 10px;
    width: 115px;
}

.cell-options-buttons {
    padding-right:5px;
}
.cell-options-buttons > button {
    width: 100%;
    margin-bottom: 5px;
}

.cell-height {
    height: 40px;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
}

.col-student-quantity {
    width: 100px;
}
.col-acceptance-level {
    width: 150px;
}
.col-color {
    width: 100px;
}

.collapsable-button{
    cursor:pointer;
}
.collapsable-section {
    overflow-y: auto;
    height: 0;
    -moz-transition: height 0.4s; all s;
    -o-transition: height 0.4s;
    -webkit-transition: height 0.4s;
    transition: height 0.4s;
}
.collapsable-button [on] {
    display: none;
}
.collapsable-button [off] {
    display: block;
}
.collapsable-button.on [on] {
    display: block;
}
.collapsable-button.on [off] {
    display: none;
}
.collapsable-button.on ~ .collapsable-section {
    height: auto;
}

div.dataTables_filter {
    float: left !important;
}

margin-b-10 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .col-xs-hidden {
        display: none;
    }   
    .text-xs-center {
        text-align: center;
    }
    .text-xs-left {
        text-align: left;
    }
}

@media (max-width: 970px) {
    .col-sm-hidden {
        display: none;
    }
    .text-sm-center {
        text-align: center;
    }
    .text-sm-left {
        text-align: left !important;
    }
    .col-student-quantity {
        width: 40px;
    }
    .col-acceptance-level {
        width: 120px;
    }
    .cell-options {
        width: 43px;
    }
}