﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.EvaluacionViewModel

@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Evaluaciones.EvaluacionesResource.TituloC;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.evaluacion.IdTipoEvaluacion, "TipoEvaluación", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.evaluacion.IdTipoEvaluacion, new SelectList(Model.lstTipoEvaluacion, "IdTipoEvaluacion", "Tipo"), htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.evaluacion.Peso, @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Evaluaciones.EvaluacionesResource.Peso, htmlAttributes: new { @class = "control-label col-md-2", pattern = @"/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.evaluacion.Peso, new { @class = "form-control", pattern = @"/^[+]?([0-9]+(?:[\.][0-9]*)?|\.[0-9]+)$/" })
                @Html.ValidationMessageFor(model => model.evaluacion.Peso, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.CodCurso, @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Evaluaciones.EvaluacionesResource.Curso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CodCurso", null, htmlAttributes: new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lstCarrera, @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Evaluaciones.EvaluacionesResource.Carrera, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdCarrera", null, htmlAttributes: new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@ButtonResource.Crear" class="btn btn-success" id="btnCrear" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Regresar, "Index", null, new { @class = "btn btn-dark" })
</div>
@section Scripts{
    <script src="@Url.Content("~/Content/js/components/alertify.js")"></script>
    <script src="@Url.Content("~/Content/js/components/alertify.min.js")"></script>
    <script src="@Url.Content("~/Content/js/components/alertify-js.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>
    <script>
        $("#evaluacion_Peso").on("change", function () {
            var value = $("#evaluacion_Peso").val()

            if (value < 0) {
                $("#evaluacion_Peso").val(0);
                swal({
                    title: '',
                    text: '@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.ValidacionEntero',
                    type: 'error',
                    confirmButtonColor: '#F27474',
                    confirmButtonText: '@ButtonResource.Aceptar'
                });
                return false
            }
        });
        $("#btnCrear").click(function () {
            var value = $("#evaluacion_Peso").val()
            if (value < 0) {
                    swal({
                    title: '',
                    text: '@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.ValidacionEntero',
                    type: 'error',
                    confirmButtonColor: '#F27474',
                    confirmButtonText: '@ButtonResource.Aceptar'
                });
                return false
            }
        });
    </script>>
}