﻿@model UPC.CA.ABET.Models.Evaluacion

@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.IndexComentarios.IndexComentariosResource.DetalleEvaluacion;
}


<div>
    <h4>Evaluacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarreraCursoPeriodoAcademico.IdCarreraCursoPeriodoAcademico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarreraCursoPeriodoAcademico.IdCarreraCursoPeriodoAcademico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEvaluacion.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEvaluacion.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(LayoutResource.Editar, "Edit", new { id = Model.IdEvaluacion }) |
    @Html.ActionLink(UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.IndexComentarios.IndexComentariosResource.VolverALaLista, "Index")
</p>
