﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.EvaluacionViewModel

@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Evaluaciones.EvaluacionesResource.TituloEdit;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.evaluacion.IdEvaluacion)

        <div class="form-group">
            @Html.LabelFor(model => model.evaluacion.IdTipoEvaluacion, @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.TipoEvaluacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.evaluacion.IdTipoEvaluacion, new SelectList(Model.lstTipoEvaluacion, "IdTipoEvaluacion", "Tipo"), htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.evaluacion.Peso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.evaluacion.Peso, new { @class = "form-control" })
              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodCurso, @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.Curso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CodCurso", null, htmlAttributes: new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdCarrera, @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluador.TipoEvaluadorResource.Carrera, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdCarrera", null, htmlAttributes: new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Regresar, "Index", null , new {@class="btn btn-dark"})
</div>
