﻿@model IEnumerable<UPC.CA.ABET.Models.Evaluacion>

@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Evaluaciones.EvaluacionesResource.TituloIndex;
}

<div class="containerdt">

    <p>
        @Html.ActionLink(UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.CursosEvaluarRubricas.CursosEvaluarRubricasResource.NuevoR, "Create", null, new { @class = "btn btn-primary" })
    </p>
    <div class="table-responsive">
        <table class="table table-hover" id="myTable">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoEvaluacion.Tipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Peso) @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Evaluaciones.EvaluacionesResource.Nota
                    </th>
                    <th>
                        @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Evaluaciones.EvaluacionesResource.Curso
                    </th>

                    <th>
                        @UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Evaluaciones.EvaluacionesResource.Carrera
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoEvaluacion.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Peso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarreraCursoPeriodoAcademico.CursoPeriodoAcademico.Curso.NombreEspanol)
                        </td>
                        <td>
                            @item.CarreraCursoPeriodoAcademico.Carrera.Codigo - @item.CarreraCursoPeriodoAcademico.Carrera.NombreEspanol
                        </td>
                        <td>
                            
                            <!--@Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Editar, "Edit", new { id = item.IdEvaluacion }, new { @class = "btn btn-default" }) |-->
                            <!-- @Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.TipoEvaluadorMaestra.RolesEvaluadoresResource.Detalle, "Details", new { id = item.IdEvaluacion }, new { @class = "btn btn-success" }) |-->
                            @Html.ActionLink(@UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared.ButtonResource.Eliminar, "Delete", new { id = item.IdEvaluacion }, new { @class = "btn btn-dark" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
