﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.Score.ListRubricaAlumnoViewModel
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared

@{
    ViewBag.Title = ListRubricaAlumnoResource.Titulo;
    ViewBag.Icon = "list";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

}

@section Breadcrumbs
{

}

@{
    var roles = Session.GetRoles();
}

<div class="row">
    <div class="col-md-12">
        <div class="panel filters">
                @Html.PanelHeader(String.Format("<i class=\"fa fa-filter\"></i> {0}", "Calificar Proyectos"))

            <div class="panel-body row">

                @Html.FormGroup(ListRubricaAlumnoResource.FiltroEmpresas, Html.DropDownListFor(m => m.EmpresaId, new SelectList(Model.ListEmpresaVirtual, "IdEmpresa", "Nombre"), OptionResource.Todos, new { @class = "form-control", @data_plugin = "select2", @onchange = "changeEvaluacionProyectoAcademico()" }))
                @Html.FormGroup(ListRubricaAlumnoResource.FiltroAlumno, Html.DropDownListFor(m => m.CodigoAlumno, new SelectList(Model.LstAlumnos, "Codigo", "Nombres"), OptionResource.Todos, new { @class = "form-control select2-alumnos", @data_plugin = "select2", @onchange = "changeEvaluacionProyectoAcademico()" }))

                @if(ExtensionsHelpers.HasRole(roles,AppRol.CoordinadorCarrera) || ExtensionsHelpers.HasRole(roles, AppRol.CoordinadorCarrera)) {
                <div class="col-md-12">
                    <hr/>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="radio" style="float:left;">
                            <label>
                                <input type="radio" name="filtroAll" id="" value="0" checked="checked">
                                @ScoreResource.TodosLasRubricas&nbsp; &nbsp;
                            </label>
                        </div>
                        <div class="radio" style="float:left">
                            <label>
                                <input type="radio" name="filtroAll" id="" value="1">
                               @ScoreResource.EvaluadasPorMi
                            </label>
                        </div>
                    </div>

                </div>
                }
                else{ 
                    <label style="visibility:hidden">
                        <input type="radio" name="filtroAll" id="" value="1">
                        @ScoreResource.EvaluadasPorMi
                    </label>
                }
            </div>
        </div>

        <div class="panel filters">
            @Html.PanelHeader(String.Format("<i class=\"fa fa-list\"></i> {0}", ScoreIndexResource.Proyectos))
            <div id="list-evaluation-project-partial-view"></div>
            <div class="panel-footer text-right">
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script>
                    function error(message) {
                        swal({
                            title: message,
                            type: 'error'
                        });
                    }

                    function showLoading() {
                        swal({
                            title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                            text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                            showConfirmButton: false,
                            html: true
                        });
                    }

                    function closeLoading() {
                        swal.close();
                    }
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            obtenerEvaluacionProyectosPorEmpresa();

           $('.select2-alumnos').select2({

                ajax: {
                    url: '@Url.Action("GetStudents", "Score", new { Area = ConstantHelpers.AREAS.RUBRIC })',
                    dataType: 'json',
                    type: 'POST',
                    delay: 250,
                    data: function (params) {
                        return {
                            CadenaBuscar: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
               allowClear: true,
               placeholder : 'Todos',
                minimumInputLength: 3
            });

        });

        function changeEvaluacionProyectoAcademico() {
            obtenerEvaluacionProyectosPorEmpresa();
        }

        function obtenerEmpresaVirtual() {
            console.log('obtenerEmpresaVirtual');
            var empresaId = $('#EmpresaId').val();
            if (!empresaId) {
                empresaId = "0";
            }
            return empresaId;
        }

        function obtenerCodigoAlumno() {
            console.log('obtenerCodigoAlumno');
            var CodigoAlumno = $('#CodigoAlumno').val();
            if (!CodigoAlumno) {
                CodigoAlumno = "0";
            }
            return CodigoAlumno;
        }
        $('input[type=radio][name=filtroAll]').change(function () {
          
            obtenerEvaluacionProyectosPorEmpresa();
        });
        function obtenerFiltroAll() {
            console.log('obtenerFiltroAll');

            var obtenerFiltro = $("input:radio[name ='filtroAll']:checked").val();

            if (!obtenerFiltro)
                obtenerFiltro = 0;

            return obtenerFiltro;
        }
        
        function obtenerEvaluacionProyectosPorEmpresa() {
            console.log('obtenerEvaluacionProyectosPorEmpresa');
            $.ajax({
                url: '@Url.Action("_ListAcademicTypeProjectPartialView", "Score")',
                type: "GET",
                data: {
                    EmpresaVirtualId: obtenerEmpresaVirtual(),
                    DocenteId: '@Session.GetDocenteId()',
                    CodigoAlumno: obtenerCodigoAlumno(),
                    FiltroAll: obtenerFiltroAll()
                },
                beforeSend:function(){
                    showLoading();
                },
                success: function (data) {
                    $("#list-evaluation-project-partial-view").html(data);
                },
                error: function () {
                },
                complete: function () {
                    closeLoading();
                }
            });
        }

    </script>
}


