﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.LstScoreRubricViewModel

@{
    ViewBag.Title = UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score.PartialView.RubricLstAllRubricsResource.Titulo;
    ViewBag.Icon = "list";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

}

@section Styles{
    <link href="~/Content/vendor/toastr/toastr.min.css" rel="stylesheet" />
    @Html.Content("vendor/alertify-js/alertify.min.css")

}

<div class="panel">

    <div class="panel-heading">
        <h4 class="panel-title">@ScoreResource.Rubricas</h4>
    </div>

    <div class="panel-body">

        <div class="form-group">
            <div class="input-group">
                @Html.TextBoxFor(x => x.CampoBuscar, new { @class = "form-control", @placeholder= ScoreResource.Buscar + "..." })
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" onclick="searchProject();"><i class="icon wb-search" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>


        <div id="tableRubric" class="table-responsive">
            @Html.Partial("PartialView/_LstRubricQualifyDetail", Model.LstRubricasCalificadas)
        </div>
    </div>
</div>


<div class="modal fade modal-rotate-from-left in" id="modalConfirm" aria-hidden="true" aria-labelledby="examplePositionTop"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ff1901; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="exampleModalTitle" style="color:#fff;">@ButtonResource.Eliminar</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="closeModal()">@ButtonResource.Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="acceptMessageConfirmation();">@ButtonResource.Aceptar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script>
                    function error(message) {
                        swal({
                            title: message,
                            type: 'error'
                        });
                    }

                    function showLoading() {
                        swal({
                            title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                            text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                            showConfirmButton: false,
                            html: true
                        });
                    }

                    function closeLoading() {
                        swal.close();
                    }
    </script>

    <script src="~/Content/vendor/toastr/toastr.min.js"></script>
    <script>

        var $this;

        function deleteGrades(item) {

            $this = $(item);
            var codigo = $this.data('codigo-proyecto');
            var mensaje = '@(ScoreResource.EstaSeguroDeseaEliminarNotasParaProyecto) ' + codigo + '?';
            $modal = $('#modalConfirm');
            $modal.find('p').html(mensaje)
            $modal.modal('show');
        }

        function closeModal() {
            $modal = $('#modalConfirm');
            $modal.modal('hide');
        }

        function acceptMessageConfirmation() {

            var projectId = $this.data('proyecto');
            var evaluation = $this.data('evaluacion');
            var url = $this.data('url');
            var page = $('#topPaged').find('.pagination-container').find('ul').find('li.active').find('a').text();


            $.ajax({
                cache: false,
                type: 'json',
                method: 'POST',
                data: { 'ProyectoID': projectId, 'TipoEvaluacion': evaluation, 'Page': page },
                url: url,
                beforeSend:function(){
                    showLoading();
                },
                success: function (data) {
                    if (data) {
                        $('#tableRubric').html(data);
                        onCompleteLoadLst();
                        closeModal();
                        toastr["success"]("Se eliminaron las notas exitosamente");
                    }
                },
                complete: function () {
                    closeLoading();
                }
            });
        }

        function searchProject() {

            var field = $('#CampoBuscar').val();
            var page = 1;
            var url = '@Url.Action("_LstRubricQualifyDetail", "Score", new { Area = ConstantHelpers.AREAS.RUBRIC})';

            $.ajax({
                cache: false,
                data: { 'page': page, 'CampoBuscar': field},
                url: url,
                beforeSend:function(){
                    showLoading();
                },
                success: function(data){
                    $('#tableRubric').html(data);
                    onCompleteLoadLst();
                },
                complete: function () {
                    closeLoading();
                }
                

            })
        }

        function onCompleteLoadLst() {

            var $tableContent = $('#tableRubric');
            RebindJquery($tableContent);
        }

    </script>
}