﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.Score.RubricRateViewModel
@{
    ViewBag.Title = Model.Proyecto.Codigo;
    ViewBag.Icon = "book";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Styles{
    <style>
        @@media (max-width: 740px) {
            #note-student {
                margin-top: 70px;
                margin-left: -80px;
            }
        }

        @@media (min-width:741px) {
            #note-student {
                margin-top: 180px;
                margin-left: -80px;
            }
        }

        @@media (min-width: 820px) {
            #note-student {
                margin-top: 120px;
                margin-left: -60px;
            }
        }

        @@media screen and (max-width: 450px) {
            .container {
                padding-right: 0px;
                padding-left: 0px;
            }

            #note-descripcion {
                margin-top: 150px !important;
                margin-right: 0px !important;
            }
        }

        @@media (min-width: 1070px) {
            #note-student {
                margin-top: 50px;
                margin-left: -50px;
            }
        }

        input[type="radio"] {
            visibility: hidden;
        }

        #note-descripcion {
            z-index: 3;
            background-color: hsla(16, 52%, 18%, 0.5);
            position: fixed;
            width: auto;
            height: auto;
            left: 90%;
            top: 2.5%;
            border-radius: .50rem;
            color: white;
            margin-top: 100px;
            margin-left: -150px;
            /*margin-right: 50px;*/
        }

        #note-student {
            z-index: 3;
            position: fixed;
            width: auto;
            height: auto;
            left: 90%;
            top: 2.5%;
            background-color: hsla(16, 100%, 66%, 0.5);
            border-radius: .50rem;
            color: black;
        }

        .observacion {
            background-color: hsla(0, 0%, 0%, 0.2);
            color: black;
            padding-left: 1em;
            border-radius: .50rem;
            font-size: 80%;
            margin-bottom: 1.5px;
        }

        label{
            background-color:transparent;
            padding-left:4px; 
            white-space:normal !important; 
            word-wrap: break-word;
        }

        .criterio {
            padding-top: 5px;
            padding-bottom: 5px;
            border-width: 1px;
            border-bottom: 1px black solid;
        }

        .div-line {
            border-width: 1px;
            border-bottom: 1px black solid;
        }

        .editable {
            background: rgba(252,209,103, 0.3);
        }

        #rubricBody {
            font-size: 80%;
        }
    </style>
}

@section Breadcrumbs
{
    <li><a href="@Url.Action("ScoreIndex", "Score")">@ScoreResource.Puntuacion</a></li>
}
    <div class="row" style="margin-left: 15px; margin-right: 15px;">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                @for (int i = 0; i < Model.EvaluacionesPorAlumno.Count; i++)
                {
                    var evaluacion = Model.EvaluacionesPorAlumno[i];
                    <li class="@(i == 0 ? "active": "")">
                        <a href="#@evaluacion.Item1.IdAlumnoMatriculado" data-target="#@(evaluacion.Item1.IdAlumnoMatriculado)a, #@(evaluacion.Item1.IdAlumnoMatriculado)b" data-toggle="tab">
                            @evaluacion.Item1.AlumnoMatriculado.Alumno.Nombres @evaluacion.Item1.AlumnoMatriculado.Alumno.Apellidos
                        </a>
                    </li>
                }
            </ul>
            <div class="tab-content">
                @for (int i = 0; i < Model.EvaluacionesPorAlumno.Count; i++)
                {
                    var evaluacion = Model.EvaluacionesPorAlumno[i];
                    <div class="tab-pane @(i == 0 ? "active": "")" id="@(evaluacion.Item1.IdAlumnoMatriculado)a" role="tabpanel">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    @ScoreResource.Codigo : @evaluacion.Item1.AlumnoMatriculado.Alumno.Codigo <br />
                                </div>
                                <div class="row">
                                    @ScoreResource.Carrera : @evaluacion.Item1.AlumnoMatriculado.Carrera.NombreEspanol <br />
                                </div>
                                <div class="row">
                                   @ScoreResource.Curso : @evaluacion.Item1.Seccion.CursoPeriodoAcademico.Curso.NombreEspanol <br />
                                </div>
                                <div class="row">
                                    @ScoreResource.Evaluacion : @Model.NombreEvaluacion
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 panel" style="background-color: hsla(16, 52%, 18%, 0.5); border-radius: .50rem; color: white; text-align: center;">
                @Model.Proyecto.Descripcion
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 panel" style="background-color: hsla(16, 100%, 66%, 0.5); border-radius: .50rem; color: black; text-align: center;">
            @foreach (var evaluacion in Model.EvaluacionesPorAlumno)
            {
                <small>@evaluacion.Item1.AlumnoMatriculado.Alumno.Nombres: </small>
                <small id="nota@(evaluacion.Item1.IdAlumnoSeccion)" style="font-weight: bold;">
                    @Model.DameNotaEvaluacion(evaluacion.Item4, evaluacion.Item2.NotaMaxima.Value)
                </small>
            }
        </div>
    </div>
    <div class="row tab-content" style="margin-left: 15px; margin-right: 15px;">
        @for (int i = 0; i < Model.EvaluacionesPorAlumno.Count; i++)
        {
            var evaluacion = Model.EvaluacionesPorAlumno[i];
            <div class="tab-pane @(i == 0 ? "active": "")" id="@(evaluacion.Item1.IdAlumnoMatriculado)b" role="tabpanel">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row pull-right">
                            <a class="btn btn-dark btn-xs" onclick="generateEvaluationExcel(@evaluacion.Item1.IdAlumnoSeccion)">
                                <i class="fa fa-download"></i>
                            </a>
                            @using (Html.BeginForm("DownloadEvaluationWASCReport", "BulkInsert", new { IdProyectoAcademico = Model.IdProyectoAcademico, IdAlumnoSeccion = evaluacion.Item1.IdAlumnoSeccion, IdRubrica = evaluacion.Item2.IdRubrica, IdEvaluador = Model.IdEvaluador, IdTipoEvaluacion = Model.IdTipoEvaluacion }, FormMethod.Post))
                            {
                                <button type="submit" id="hidden-submit-evaluation-@evaluacion.Item1.IdAlumnoSeccion" style="display: none;"></button>
                            }
                        </div>
                        <div class="row table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>@ScoreResource.CompetenciasGenerales</th>
                                        @foreach (var Nivel in evaluacion.Item2.RubricaNivelDesempenio)
                                        {
                                            <th style="text-align:center;">@Nivel.NivelDesempenio.Nombre</th>
                                        }
                                        <th style="text-align:center;">@ScoreResource.Ptje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int j = 0; j < evaluacion.Item2.OutcomeRubrica.Count; j++)
                                    {
                                        var outcomeRubrica = evaluacion.Item2.OutcomeRubrica.ToList()[j];
                                        <tr>
                                            <td title="@outcomeRubrica.OutcomeComision.Outcome.DescripcionEspanol">
                                                @outcomeRubrica.OutcomeComision.Outcome.Nombre
                                            </td>
                                            @for (int k = 0; k < outcomeRubrica.CriterioOutcome.Count; k++)
                                            {
                                                var criterioOutcome = outcomeRubrica.CriterioOutcome.ToList()[k];
                                                var notaCriterio = Model.DameNotaCriterio(evaluacion.Item4, criterioOutcome.IdCriterioOutcome);
                                                var optId = String.Format("opt{0}{1}", evaluacion.Item1.IdAlumnoSeccion, criterioOutcome.IdCriterioOutcome);
                                                for (int l = 0; l < criterioOutcome.NivelCriterio.Count; l++)
                                                {
                                                    var nivelCriterio = criterioOutcome.NivelCriterio.ToList()[l];
                                                    if (notaCriterio >= nivelCriterio.NotaMenor && notaCriterio <= nivelCriterio.NotaMayor)
                                                    {
                                                        <td class="nivelDesempenio">
                                                            <label class="btn active" 
                                                                   style="text-align:justify; 
                                                                   background-color:@nivelCriterio.Color; 
                                                                   border-color:@(nivelCriterio.Color.IsEmpty() ? "#8e7676": nivelCriterio.Color); 
                                                                   color:@(nivelCriterio.Color.IsEmpty() ? "#8e7676": "black")" 
                                                                   data-tooltip="tooltip" 
                                                                   title="[@(nivelCriterio.NotaMenor == nivelCriterio.NotaMayor ? nivelCriterio.NotaMayor.ToString() : nivelCriterio.NotaMenor + "-" + nivelCriterio.NotaMayor)]">
                                                                @nivelCriterio.DescripcionNivel
                                                                <input type="radio" name='@optId' onclick="saveRate(this,@evaluacion.Item2.IdRubrica, @evaluacion.Item1.IdAlumnoSeccion, @outcomeRubrica.IdOutcomeRubrica, @criterioOutcome.IdCriterioOutcome, @nivelCriterio.NotaMenor)" value="@nivelCriterio.IdNivelCriterio">
                                                            </label>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td class="nivelDesempenio">
                                                            <label class="btn" style="text-align:justify; border-color:@(nivelCriterio.Color.IsEmpty() ? "#8e7676": nivelCriterio.Color); color:@(nivelCriterio.Color.IsEmpty() ? "#8e7676": "black")" data-tooltip="tooltip" title="[@(nivelCriterio.NotaMenor == nivelCriterio.NotaMayor ? nivelCriterio.NotaMayor.ToString() : nivelCriterio.NotaMenor + "-" + nivelCriterio.NotaMayor)]">
                                                                @nivelCriterio.DescripcionNivel
                                                                <input type="radio" name='@optId' onclick="saveRate(this,@evaluacion.Item2.IdRubrica, @evaluacion.Item1.IdAlumnoSeccion, @outcomeRubrica.IdOutcomeRubrica, @criterioOutcome.IdCriterioOutcome, @nivelCriterio.NotaMenor)" value="@nivelCriterio.IdNivelCriterio">
                                                            </label>
                                                        </td>
                                                    }
                                                }

                                            <td>
                                                <input class="criterioInput" 
                                                       id="ptje@(evaluacion.Item1.IdAlumnoSeccion)@criterioOutcome.IdCriterioOutcome" 
                                                       type="number" 
                                                       value="@(notaCriterio == -1 ? 0 : notaCriterio)" 
                                                       step=".25" 
                                                       disabled
                                                       style="border-radius: .50rem; width: 100%; box-sizing: border-box; text-align: center;"
                                                       onchange="updateRate(this, @evaluacion.Item2.IdRubrica, @evaluacion.Item1.IdAlumnoSeccion, @outcomeRubrica.IdOutcomeRubrica, @criterioOutcome.IdCriterioOutcome)"
                                                />
                                                <input hidden id="criterio@(evaluacion.Item1.IdAlumnoSeccion)@criterioOutcome.IdCriterioOutcome" value="0"/>
                                            </td>
                                            }
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row pull-right">
                            <a class="btn btn-dark" href="@Url.Action("ScoreIndex", "Score")">@ButtonResource.Regresar</a>
                            <a class="btn btn-primary" onclick="saveRateStudents()">@ButtonResource.Guardar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

@Html.Content("js/components/autosize.min.js")

@section Scripts{
    <script>
        $(document).ready(function () {
            cargarComponentes();
        });

        var colorNivel;
        $("label").hover(function () {
            if (!$(this).hasClass("active")) {
                colorNivel = $(this).css("border-color");
                $(this).css("background-color", colorNivel);
            }
        }, function () {
            if (!$(this).hasClass("active")) {
                $(this).css("background-color", "transparent");
            }
        });

        $("label").mousedown(function () {
            var colorAux = $(this).css("border-color");
            $(this).css("background-color", colorAux);
            var $parent = $(this).addClass('active').parent();
            $.each($parent.siblings(".nivelDesempenio"), function (key, value) {
                $(value).children().removeClass('active');
            });
        });

        $("label").mouseup(function () {
            var lista = $("label").not(".active");
                $("label").not(".active").each(function () {
                var colorAux = $(this).css("border-color");
                $(this).css("background-color", "transparent");
            });
        });
    </script>

    <script>
        function generateEvaluationExcel(id) {
            $('#hidden-submit-evaluation-' + id).click();
        }
        function saveRateStudents() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveRateStudents", "Score")',
                data: {
                    IdProyectoAcademico: '@Model.IdProyectoAcademico',
                    IdTipoEvaluacion: '@Model.IdTipoEvaluacion',
                    IdEvaluador: '@Model.IdEvaluador'
                },
                dataType: 'json',
                beforeSend: function () {
                    showLoading();
                },
                error: function () {
                    swalmessage('@Html.Raw(ScoreResource.FalloElEnvioDeDatos)', "error");
                },
                success: function (response) {
                    if (response.Result) {
                        swalmessage(response.Message, "success");
                    }
                    else {
                        swalmessage(response.Message, "error");
                    }
                }
            });
        }

        function saveRate(obj, IdRubrica, IdAlumnoSeccion, IdOutcomeRubrica, IdCriterioOutcome, NotaMenor) {
            var IdNC = $(obj).val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveRate", "Score")',
                data: {
                    IdRubrica: IdRubrica,
                    IdAlumnoSeccion: IdAlumnoSeccion,
                    IdOutcomeRubrica: IdOutcomeRubrica,
                    IdCriterioOutcome: IdCriterioOutcome,
                    IdEvaluador: '@Model.IdEvaluador',
                    NotaCriterio: NotaMenor,
                    IdNivelCriterio: IdNC
                },
                dataType: 'json',
                beforeSend: function () {
                    showLoading();
                },
                error: function () {
                    swalmessage('@Html.Raw(ScoreResource.FalloElEnvioDeDatos)', "error");
                },
                success: function (response) {
                    $('#nota' + IdAlumnoSeccion).html(response.NotaAlumno);
                    $('#ptje' + IdAlumnoSeccion + IdCriterioOutcome).val(response.NotaCriterio);
                    $('#ptje' + IdAlumnoSeccion + IdCriterioOutcome).attr({
                        "min": response.NotaMenor,
                        "max": response.NotaMayor
                    });
                    $('#ptje' + IdAlumnoSeccion + IdCriterioOutcome).removeAttr("disabled");
                    $('#criterio' + IdAlumnoSeccion + IdCriterioOutcome).val(IdNC);
                    closeLoading();
                }
            });
        }

        function updateRate(obj, IdRubrica, IdAlumnoSeccion, IdOutcomeRubrica, IdCriterioOutcome) {
            var Nota = $(obj).val();
            var IdNC = $('#criterio' + IdAlumnoSeccion + IdCriterioOutcome).val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateRate", "Score")',
                data: {
                    IdRubrica: IdRubrica,
                    IdAlumnoSeccion: IdAlumnoSeccion,
                    IdOutcomeRubrica: IdOutcomeRubrica,
                    IdCriterioOutcome: IdCriterioOutcome,
                    IdEvaluador: '@Model.IdEvaluador',
                    NotaCriterio: Nota,
                    IdNivelCriterio: IdNC
                },
                dataType: 'json',
                beforeSend: function () {
                    showLoading();
                },
                error: function () {
                    swalmessage('@Html.Raw(ScoreResource.FalloElEnvioDeDatos)', "error");
                },
                success: function (response) {
                    if (response.success) {
                        $('#nota' + IdAlumnoSeccion).html(response.NotaAlumno);
                        closeLoading();
                    } else {
                        swalmessage(response.responseText, "error");
                    }

                }
            });
        }
    </script>

    <script>
        function cargarComponentes() {
            $('[data-tooltip="tooltip"]').tooltip();
            $("label").trigger("active");
        }

        function swalmessage(message, type) {
            swal({
                title: message,
                type: type
            });
        }
        function showLoading() {
            swal({
                title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                showConfirmButton: false,
                html: true
            });
        }

        function closeLoading() {
            swal.close();
        }
    </script>
}

