﻿@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score
@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.Score.RubricRateViewModel
@{
    ViewBag.Title = Model.Proyecto.Codigo;
    ViewBag.Icon = "book";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Styles{
    <style>
        @@media (max-width: 740px) { 
            #note-student {
                margin-top: 70px;
                margin-left: -80px;
            }
        }

        @@media (min-width:741px) { 
            #note-student {
                margin-top: 180px;
                margin-left: -80px;
            }   
        }

        @@media (min-width: 820px) { 
            #note-student {
                margin-top: 120px;
                margin-left: -60px;
            }   
        }
        @@media screen and (max-width: 450px){
            .container {
                padding-right: 0px;
                padding-left: 0px
            }
            #note-descripcion{
                margin-top:150px !important;
                margin-right:0px !important;
            }
        }
        @@media (min-width: 1070px) { 
            #note-student {
                margin-top: 50px;
                margin-left: -50px;
            }   
        }
        textarea{
            resize:none;
            border-radius: .5rem;
            border-color: transparent;
            background-color: hsla(0, 0%, 0%, 0.2);
            text-align: justify;
        }

        input[type="radio"] {
            visibility: hidden;
        }
        #note-descripcion{
            z-index: 3;
            background-color: hsla(16, 52%, 18%, 0.5);;
            position: fixed;
            width: auto;
            height: auto;
            left: 90%;
            top: 2.5%;
            border-radius: .50rem;
            color: white;
            margin-top: 100px;
            margin-left: -150px;
            margin-right: 50px
        }
        #note-student {
            z-index: 3;
            background-color: hsla(16, 100%, 66%, 0.5);
            position: fixed;
            width: auto;
            height: auto;
            left: 90%;
            top: 2.5%;
            border-radius: .50rem;
            color: black;
        }

        .observacion{
            background-color: hsla(0, 0%, 0%, 0.2);
            color: black;
            padding-left: 1em;
            border-radius: .50rem;
            font-size: 80%;
            margin-bottom: 1.5px;
        }

        .criterio {
            padding-top: 5px;
            padding-bottom: 5px;
            border-width: 1px;
            border-bottom: 1px black solid;
        }

        .div-line {
            border-width: 1px;
            border-bottom: 1px black solid;
        }

        .editable {
            background: rgba(252,209,103, 0.3);
        }

        #rubricBody {
            font-size: 80%;
        }
    </style>
}

@section Breadcrumbs
{
    <li><a href="@Url.Action("ScoreIndex", "Score")">@ScoreResource.Puntuacion</a></li>
}
<div class="container">

    <div id="note-descripcion" class="container">
        <p>@Model.Proyecto.Descripcion</p>
    </div>
    <div id="note-student" class="container">
        @foreach (var evaluacion in Model.EvaluacionesPorAlumno)
        {
            <small style="color:white;">@evaluacion.Item1.AlumnoMatriculado.Alumno.Nombres : </small><small id="nota@(evaluacion.Item1.IdAlumnoSeccion)" style="font-weight: bold;">@Model.DameNotaEvaluacion(evaluacion.Item4, evaluacion.Item2.NotaMaxima.Value)</small>
            <br />
        }
    </div>

    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            @{var cont = 1; }
            @foreach (var evaluacion in Model.EvaluacionesPorAlumno)
            {
                <li role="presentation" class='@(cont == 1 ? "active": "")'>
                    <a href="#@evaluacion.Item1.IdAlumnoMatriculado" aria-controls="@evaluacion.Item1.IdAlumnoMatriculado" role="tab" data-toggle="tab">@evaluacion.Item1.AlumnoMatriculado.Alumno.Nombres @evaluacion.Item1.AlumnoMatriculado.Alumno.Apellidos</a>
                </li>
                cont++;
            }
        </ul>

        <div class="tab-content">
        @{  cont = 1; }
        @foreach (var evaluacion in Model.EvaluacionesPorAlumno)
        {
            <div role="tabpanel" class="tab-pane @(cont == 1 ? "active": "")" id="@evaluacion.Item1.IdAlumnoMatriculado">
                <div class="panel" style="margin-bottom:10px">
                    <div class="panel-body" style="padding:15px;">
                        <div class="row">
                            <div class="col-md-3">
                                @ScoreResource.Codigo : @evaluacion.Item1.AlumnoMatriculado.Alumno.Codigo <br />
                                @ScoreResource.Carrera : @evaluacion.Item1.AlumnoMatriculado.Carrera.NombreEspanol <br />
                                @ScoreResource.Curso : @evaluacion.Item1.Seccion.CursoPeriodoAcademico.Curso.NombreEspanol <br />
                                @ScoreResource.Evaluacion : @Model.NombreEvaluacion
                            </div>
                            
                        @if (!Model.NombreEvaluacion.Equals("PA"))
                        {
                            <div class="col-md-9">
                                @ScoreResource.Observaciones:
                                @foreach (var observacion in evaluacion.Item6)
                                {
                                    <div class="observacion col-md-11">@observacion.Item1 : @observacion.Item2</div>
                                }
                                <textarea id='Obs@(evaluacion.Item1.IdAlumnoSeccion)'  class="col-md-11" style="color: black; font-size:80%;" rows="1" disabled>@evaluacion.Item5</textarea>
                                <div class="col-md-1 text-left" style="padding:0 0 0 5px;">
                                    <button type="button" class="btn btn-secondary btn-xs" onclick="editObservacion('@evaluacion.Item2.IdRubrica','@evaluacion.Item1.IdAlumnoSeccion','@Model.IdEvaluador', this)"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="pull-right" style="padding-right:15px">
                        <a class="btn btn-dark btn-xs" onclick="generateEvaluationExcel(@evaluacion.Item1.IdAlumnoSeccion)"><i class="fa fa-download"></i> </a>
                    </div>
                @using (Html.BeginForm("DownloadEvaluationReport", "BulkInsert", new { IdProyectoAcademico = Model.IdProyectoAcademico, IdAlumnoSeccion = evaluacion.Item1.IdAlumnoSeccion, IdRubrica = evaluacion.Item2.IdRubrica, IdEvaluador = Model.IdEvaluador, IdTipoEvaluacion = Model.IdTipoEvaluacion, idcurso = evaluacion.Item1.Seccion.CursoPeriodoAcademico.Curso.IdCurso }, FormMethod.Post))
                {
                    <button type="submit" id="hidden-submit-evaluation-@evaluacion.Item1.IdAlumnoSeccion" style="display: none;"></button>
                }
                </div>
        
                <!--INICIO OUTCOMES COMISIONES-->
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                    @{
                        var contComision = 1;
                        var Comisiones = evaluacion.Item2.OutcomeRubrica.Select(x => x.OutcomeComision.Comision).Distinct().OrderByDescending(x => x.Codigo);
                    }
                    @foreach (var Comision in Comisiones)
                    {
                        <li role="presentation" class='@(contComision == 1 ? "active": "")'>
                            <a href="#@evaluacion.Item1.IdAlumnoMatriculado-@Comision.Codigo" aria-controls="@evaluacion.Item1.IdAlumnoMatriculado-@Comision.Codigo" role="tab" data-toggle="tab">@Comision.NombreEspanol</a>
                        </li>
                        contComision++;
                    }
                    </ul>
        
                    <div class="tab-content">
                    @{
                        contComision = 1;
                    }
                    @foreach (var Comision in Comisiones)
                    {
                        <div role="tabpanel" class="tab-pane @(contComision == 1 ? "active": "")" id="@evaluacion.Item1.IdAlumnoMatriculado-@Comision.Codigo">
                            <div class="container">
                                <div class="row div-line">
                                    <div class="col-md-2">
                                        Student Outcomes
                                    </div>
                                    <div class="col-md-10">
                                        <div class="row">
                                            <div class="col-md-5 text-center">@ScoreResource.Criterios</div>
                                            <div class="col-md-1 text-center">@ScoreResource.Max.</div>
                                            <div class="col-md-1 text-center">@ScoreResource.Ptje.</div>
                                            <div class="col-md-5 text-center">@ScoreResource.NivelDeDesempenio</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="rubricBody">
                                @{  
                                    var i = 0;
                                    var OutcomesRubrica = evaluacion.Item2.OutcomeRubrica.Where(x => x.OutcomeComision.IdComision == Comision.IdComision);
                                }
                                @foreach (var outcome in OutcomesRubrica.Where(x =>x.Visible == true))
                                {
                                    <div @((i % 2) == 0 ? "style=background-color:rgba(134,188,214,0.3)" : "") class="row">
                                        <div class="col-md-2" style="margin-top: 5px;">
                                            <h5 data-tooltip="tooltip" title="@outcome.OutcomeComision.Outcome.DescripcionEspanol">@outcome.OutcomeComision.Comision.Codigo (@outcome.OutcomeComision.Outcome.Nombre)</h5>
                                        </div>
                                        <div id="@outcome.IdOutcomeRubrica" class="col-md-10 text-muted">
                                        @foreach (var criterio in outcome.CriterioOutcome)
                                        {
                                            var notaCriterio = Model.DameNotaCriterio(evaluacion.Item4, criterio.IdCriterioOutcome);
                                            <div class="row criterio">
                                                <div class="col-md-5">@criterio.Descripcion</div>
                                                <div class="col-md-1 text-center">@criterio.ValorMaximo</div>
                                                <div class="col-md-1 text-center" id="ptje@(evaluacion.Item1.IdAlumnoSeccion)@criterio.IdCriterioOutcome">@(notaCriterio == -1 ? 0 : notaCriterio)</div>
                                                <div class="col-md-5 text-center" style="padding-right:0; padding-left:0;">
                                                    <div class="btn-group btn-group-sm">
                                                        @{ var optId = String.Format("opt{0}{1}", evaluacion.Item1.IdAlumnoSeccion, criterio.IdCriterioOutcome); }
                                                        @foreach (var nivel in evaluacion.Item3)
                                                        {
                                                            if (notaCriterio == nivel.PuntajeMayor)
                                                            {
                                                                <label class="btn active" style="background-color:@nivel.Color; padding-left:4px; border-color:@(nivel.Color.IsEmpty() ? "#8e7676": nivel.Color); color:@(nivel.Color.IsEmpty() ? "#8e7676": "white")" data-tooltip="tooltip" title="@nivel.Descripcion [@nivel.PuntajeMayor]">
                                                                    <input type="radio" class="radioCriterioRubrica" name='@optId' onclick="saveRate(this,@evaluacion.Item2.IdRubrica, @evaluacion.Item1.IdAlumnoSeccion, @outcome.IdOutcomeRubrica, @criterio.IdCriterioOutcome)"  value="@nivel.PuntajeMayor">@nivel.Nombre
                                                                </label>
                                                            }
                                                            else
                                                            {
                                                                <label class="btn" style="background-color:transparent; padding-left:4px; border-color:@(nivel.Color.IsEmpty() ? "#8e7676": nivel.Color); color:@(nivel.Color.IsEmpty() ? "#8e7676": nivel.Color)" data-tooltip="tooltip" title="@nivel.Descripcion [@nivel.PuntajeMayor]">
                                                                    <input type="radio" class="radioCriterioRubrica" name='@optId' onclick="saveRate(this,@evaluacion.Item2.IdRubrica, @evaluacion.Item1.IdAlumnoSeccion, @outcome.IdOutcomeRubrica, @criterio.IdCriterioOutcome)" value="@nivel.PuntajeMayor">@nivel.Nombre
                                                                </label>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        </div>
                                    </div>
                                    i++;
                                }
                                </div>
                            </div>
                        </div>
                        contComision++;
                    }
                    </div>
                </div>
                <!--FIN OUTCOMES COMISIONES-->
            </div>
            cont++;
        }
        </div>
        <br />
        <div class="pull-right">
            <a class="btn btn-dark" href="@Url.Action("ScoreIndex", "Score")">@ButtonResource.Regresar</a>
            <a class="btn btn-primary" onclick="saveRateStudents()">@ButtonResource.Guardar</a>
        </div>
    </div>
</div>

@Html.Content("js/components/autosize.min.js")

@section Scripts{
    <script>
        $(document).ready(function () {
            cargarComponentes();
            
               @*$('.radioCriterioRubrica').change(function () {
            var IdRubrica = $(this).attr('data-idrubrica');
            var IdAlumnoSeccion = $(this).attr('data-alumnoseccion');
            var IdOutcomeRubrica = $(this).attr('data-outcomerubrica');
            var IdCriterioOutcome = $(this).attr('data-criteriooutcome');
            var value = $(this).val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveRate", "Score")',
                data: {
                    IdRubrica: IdRubrica,
                    IdAlumnoSeccion: IdAlumnoSeccion,
                    IdOutcomeRubrica: IdOutcomeRubrica,
                    IdCriterioOutcome: IdCriterioOutcome,
                    IdEvaluador: '@Model.IdEvaluador',
                    NotaCriterio: value,
                    IdNivelCriterio: 0
                },
                dataType: 'json',
                beforeSend: function () {
                    showLoading();
                },
                error: function () {
                    swalmessage(@ScoreResource.FalloElEnvioDeDatos, "error");
                },
                success: function (response) {
                    $('#nota' + IdAlumnoSeccion).html(response);
                    $('#ptje' + IdAlumnoSeccion + IdCriterioOutcome).html($(obj).val());
                    closeLoading();
                }
            });
        });*@
        });

        

        var colorNivel;
        $("label").hover(function () {
            if (!$(this).hasClass("active")) {
                colorNivel = $(this).css("border-color");
                $(this).css("background-color", colorNivel);
                $(this).css("color", "white");
            }
        }, function () {
            if (!$(this).hasClass("active")) {
                $(this).css("background-color", "transparent");
                $(this).css("color", colorNivel);
            }
        });

        $("label").click(function () {
            var colorAux = $(this).css("border-color");
            $(this).css("background-color", colorAux);
            $(this).css("color", "white");
            $(this).addClass('active').siblings().removeClass('active');
        });

        $("label").click(function () {
            var lista = $("label").not(".active");
                $("label").not(".active").each(function () {
                var colorAux = $(this).css("border-color");
                $(this).css("background-color", "transparent");
                $(this).css("color", colorAux);
            });
        });
    </script>

    <script>
        function editObservacion(IdRubrica, IdAlumnoSeccion, IdEvaluador, obj) {
            obj.removeChild(obj.firstChild);
            var node = document.createElement('i');
            node.setAttribute('class', 'fa fa-check fa-lg');
            node.setAttribute('aria-hidden', 'true');
            obj.appendChild(node);
            var descp = $('#Obs' + IdAlumnoSeccion);
            descp.prop('disabled', false).toggleClass('editable');
            obj.setAttribute('onclick', "saveObservacion('" + IdRubrica + "','" + IdAlumnoSeccion + "','" + IdEvaluador + "', this);");
        }
        function saveObservacion(IdRubrica, IdAlumnoSeccion, IdEvaluador, obj) {
            var obs = $('#Obs' + IdAlumnoSeccion);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveObservacion", "Score")',
                data: {
                    IdRubrica: IdRubrica,
                    IdAlumnoSeccion: IdAlumnoSeccion,
                    
                    IdEvaluador: IdEvaluador,
                    Observacion: obs.val()
                },
                dataType: 'json',
                beforeSend: function () {
                    showLoading();
                },
                error: function () {
                    swalmessage('@Html.Raw(ScoreResource.FalloElEnvioDeDatos)', "error");
                },
                success: function () {
                    obj.removeChild(obj.firstChild);
                    var node = document.createElement('i');
                    node.setAttribute('class', 'fa fa-pencil fa-lg');
                    node.setAttribute('aria-hidden', 'true');
                    obj.appendChild(node);
                    obs.prop('disabled', true).toggleClass('editable');
                    obj.setAttribute('onclick', "editObservacion('" + IdRubrica + "','" + IdAlumnoSeccion + "','" + IdEvaluador + "', this);");
                    closeLoading();
                }
            });
        }
    </script>
    
    <script>
        function generateEvaluationExcel(id) {
            $('#hidden-submit-evaluation-' + id).click();
        }

        function saveRateStudents() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveRateStudents", "Score")',
                data: {
                    IdProyectoAcademico: '@Model.IdProyectoAcademico',
                    IdTipoEvaluacion: '@Model.IdTipoEvaluacion',
                    IdEvaluador: '@Model.IdEvaluador'
                },
                dataType: 'json',
                beforeSend: function () {
                    showLoading();
                },
                error: function () {
                   swalmessage('@Html.Raw(ScoreResource.FalloElEnvioDeDatos)', "error");
                },
                success: function (response) {
                    if (response.Result) {
                        swalmessage(response.Message, "success");
                    }
                    else {
                        swalmessage(response.Message, "error");
                    }
                }
            });
        }

         function saveRate(obj, IdRubrica, IdAlumnoSeccion, IdOutcomeRubrica, IdCriterioOutcome) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveRate", "Score")',
                data: {
                    IdRubrica: IdRubrica,
                    IdAlumnoSeccion: IdAlumnoSeccion,
                    IdOutcomeRubrica: IdOutcomeRubrica,
                    IdCriterioOutcome: IdCriterioOutcome,
                    IdEvaluador: '@Model.IdEvaluador',
                    NotaCriterio: $(obj).val(),
                    IdNivelCriterio: 0
                },
                dataType: 'json',
                beforeSend: function () {
                    showLoading();
                },
                error: function () {
                   swalmessage('@Html.Raw(ScoreResource.FalloElEnvioDeDatos)', "error");
                },
                success: function (response) {
                    $('#nota' + IdAlumnoSeccion).html(response);
                    $('#ptje' + IdAlumnoSeccion + IdCriterioOutcome).html($(obj).val());
                    closeLoading();
                }
            });
        }


    </script>    

    <script>
        function cargarComponentes() {
            autosize($('textarea'));
            $('[data-tooltip="tooltip"]').tooltip();
            $("label").trigger("active");

              
        }

        function swalmessage(message, type) {
            swal({
                title: message,
                type: type
            });
        }
        function showLoading() {
            swal({
                title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                showConfirmButton: false,
                html: true
            });
        }

        function closeLoading() {
            swal.close();
        }
    </script>
}

