﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.Score.RubricQualifyViewModel
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared

@{
    ViewBag.Title = Model.proyectoAcademico.Codigo + " - " + Model.proyectoAcademico.Nombre;
    ViewBag.Icon = "book";
}

@section Styles {
    @Html.Content("vendor/alertify-js/alertify.min.css")
    @Html.Content("vendor/toastr/toastr.min.css")
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ScoreIndex", "Score", new { Area = ConstantHelpers.AREAS.RUBRIC, DocenteId = Session.GetDocenteId() })">@ScoreIndexResource.Titulo</a></li>
}
<div class="row">
    <div class="col-md-12">
        <div class="example-wrap">
            <div class="nav-tabs-horizontal nav-tabs-inverse">
                <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                    @{var count = 1; var alumnoActivo = "active"; }
                    @foreach (var alumno in Model.alumnosProyecto)
                    {
                        if (count > 1) { alumnoActivo = ""; }
                        <li class="@alumnoActivo" role="presentation">
                            <a data-toggle="tab" href="#exampleTabsInverse-@count" aria-controls='exampleTabsInverse-@count' role="tab" aria-expanded="true">
                                <i class="fa fa-user"></i> @ScoreResource.Integrante @count
                            </a>
                        </li>
                        count++;
                    }

                </ul>
                @using (Html.BeginForm("SaveRubricQualify", "Score", FormMethod.Post, new { @id = "rubricQualifyForm" }))
                {
                    @Html.HiddenFor(x => x.IdEvaluador, new { @name = Model.IdEvaluador })
                    @Html.HiddenFor(x => x.DocenteId, new { @name = Model.DocenteId })
                    <div class="tab-content padding-20">
                        @{var countTabs = 1; var tabActivo = "active"; }
                        @foreach (var dicRubricasPorAlumno in Model.rubricasPorAlumno)
                        {
                            if (countTabs > 1) { tabActivo = ""; }

                            <div class="tab-pane @tabActivo" id="exampleTabsInverse-@countTabs" role="tabpanel">
                                <div class="row">
                                    <div class="col-xlg-12 col-md-12">
                                        <!-- Example Heading Icon -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><i class="fa fa-user" aria-hidden="true"></i>@dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Nombres @dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Apellidos</h3>
                                            </div>
                                            <div class="panel-body">
                                                <ul>
                                                    <li>@RubricQualifyResource.Codigo : @dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Codigo</li>
                                                    <li>@RubricQualifyResource.Carrera : @dicRubricasPorAlumno.Key.AlumnoMatriculado.Carrera.NombreEspanol</li>
                                                    <li>@RubricQualifyResource.Curso : @dicRubricasPorAlumno.Key.Seccion.CursoPeriodoAcademico.Curso.NombreEspanol</li>
                                                    <li>@RubricQualifyResource.Evaluacion : @Model.nombreEvaluacion</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- End Example Heading Icon -->

                                    </div>
                                </div>
                                <div class="panel-body">
                                    <h4>@RubricQualifyResource.ObservacionAlumno</h4>
                                    <textarea class="form-control" name="observacion-@dicRubricasPorAlumno.Value.IdRubrica-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" rows="5" style="resize: none;" required data-tipo="textarea" data-mensaje="@ScoreResource.DebeColocarObservacionParaAlumno: @dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Nombres. @ScoreResource.EviteColocarEspaciosEnBlancoEnSuObservacion"></textarea>
                                    <br />
                                    <hr />
                                    <h4>Student Outcomes</h4>
                                    <div class="panel-body">
                                        <!-- Example Tabs -->
                                        <div class="nav-tabs-horizontal">
                                            <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                                                @{ var countComision = 0;}
                                                @foreach (var comision in dicRubricasPorAlumno.Value.OutcomeRubrica.Select(x => x.OutcomeComision.Comision).Distinct())
                                                {
                                                    var claseComision = "active";
                                                    if (countComision > 0)
                                                    {
                                                        claseComision = "";
                                                    }
                                                    <li class="@claseComision" role="presentation">
                                                        <a data-toggle="tab" href="#@comision.Codigo-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" aria-controls="exampleTabsOne" role="tab"><i class="fa fa-cubes" aria-hidden="true"></i> @comision.NombreEspanol</a>
                                                    </li>
                                                    countComision++;
                                                }
                                            </ul>
                                            @{ var countComisionTab = 0;}
                                            <div class="tab-content padding-top-20">
                                                @foreach (var comision in dicRubricasPorAlumno.Value.OutcomeRubrica.Select(x => x.OutcomeComision.Comision).Distinct())
                                                {
                                                    var claseComisionTab = "active";
                                                    if (countComisionTab > 0)
                                                    {
                                                        claseComisionTab = String.Empty;
                                                    }
                                                    <div class="tab-pane @claseComisionTab" id="@comision.Codigo-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" role="tabpanel">
                                                        <div class="panel-group panel-group-continuous" id="exampleAccordionContinuous-@dicRubricasPorAlumno.Key.IdAlumnoSeccion-@comision.Codigo" aria-multiselectable="true" role="tablist">
                                                            @foreach (var outcome in dicRubricasPorAlumno.Value.OutcomeRubrica.Where(x => x.OutcomeComision.Comision == comision))
                                                            {
                                                                <div class="panel">
                                                                    <div class="panel-heading" id="exampleHeadingContinuous-outcome-@outcome.IdOutcomeComision-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" role="tab" style="background-color:#DEE2E5">
                                                                        <div class="progress-xs">
                                                                            <div class="progress-bar" style="width: 0%; background-color: #279566;" role="progressbar" data-max="@outcome.CriterioOutcome.Count()" data-indice="1">
                                                                                <span class="sr-only">80% @ScoreResource.Completo</span>
                                                                            </div>
                                                                        </div>
                                                                        <a class="panel-title collapsed" data-parent="#exampleAccordionContinuous-@dicRubricasPorAlumno.Key.IdAlumnoSeccion-@comision.Codigo" data-toggle="collapse" href="#exampleCollapseContinuous-outcome-@outcome.IdOutcomeComision-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" aria-controls="exampleCollapseContinuous-outcome-@outcome.IdOutcomeComision-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" aria-expanded="false">
                                                                            <i class="fa fa-cube" aria-hidden="true"></i> @outcome.OutcomeComision.Outcome.Nombre
                                                                        </a>
                                                                        @*ACA ES*@   <i class="fa fa-check fa-2x hidden" style="position: absolute;right: 70px;top: 13px;color: #279566;"></i>
                                                                    </div>
                                                                    <div class="panel-collapse collapse" id="exampleCollapseContinuous-outcome-@outcome.IdOutcomeComision-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" aria-labelledby="exampleHeadingContinuous-outcome-@outcome.IdOutcomeComision-@dicRubricasPorAlumno.Key" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                                        <div class="panel-body">
                                                                            <h4 class="example-title">@RubricQualifyResource.Descripcion</h4>
                                                                            @outcome.OutcomeComision.Outcome.DescripcionEspanol
                                                                            <hr />

                                                                            @if (Model.nombreEvaluacion != "PA" && (dicRubricasPorAlumno.Value.EsNotaEvaluada == true || Model.nombreEvaluador == "COM"))
                                                                            {
                                                                                foreach (var criterio in outcome.CriterioOutcome)
                                                                                {
                                                                                    <div class="panel">
                                                                                        <div class="panel-heading" id="exampleHeadingContinuous-criterio-@criterio.IdCriterioOutcome-@dicRubricasPorAlumno.Key.AlumnoMatriculado.IdAlumno" role="tab" style="background-color:#f1f4f5;" data-check=false>
                                                                                            <a class="panel-title collapsed" data-parent="" data-toggle="collapse" href="#exampleCollapseContinuous-criterio-@criterio.IdCriterioOutcome-@dicRubricasPorAlumno.Key.AlumnoMatriculado.IdAlumno" aria-controls="exampleCollapseContinuous-criterio-@criterio.IdCriterioOutcome-@dicRubricasPorAlumno.Key.AlumnoMatriculado.IdAlumno" aria-expanded="false">
                                                                                                <i class="fa fa-bookmark" aria-hidden="true"></i> @criterio.Nombre
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="panel-collapse collapse" id="exampleCollapseContinuous-criterio-@criterio.IdCriterioOutcome-@dicRubricasPorAlumno.Key.AlumnoMatriculado.IdAlumno" aria-labelledby="exampleHeadingContinuous-criterio-@criterio.IdCriterioOutcome-@dicRubricasPorAlumno.Key.AlumnoMatriculado.IdAlumno" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                                                            <div class="panel-body">
                                                                                                <h4 class="example-title">@RubricQualifyResource.Descripcion</h4>
                                                                                                <div class="col-md-12">
                                                                                                    <p>@criterio.Descripcion</p>
                                                                                                    @if (criterio.EsEvaluadoPorDefecto == false)
                                                                                                    {
                                                                                                        <div class="col-md-6 text-right">
                                                                                                            <div class="col-md-6" style="padding-top: 5px;">@RubricQualifyResource.IngresarNotaCriterio: </div>
                                                                                                            <div class="col-md-6">
                                                                                                                <input type="number" step="any" class="form-control" style="height: 30px;" name="@dicRubricasPorAlumno.Value.IdRubrica-@dicRubricasPorAlumno.Key.IdAlumnoSeccion-@outcome.IdOutcomeRubrica-@criterio.IdCriterioOutcome" min="@criterio.NivelCriterio.First().NotaMenor" max="@criterio.NivelCriterio.Last().NotaMayor" data-tipo="field" data-alumno="@dicRubricasPorAlumno.Key.IdAlumnoSeccion" data-mensaje="@ScoreResource.DebeColocarNotaParaAlumno: @dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Nombres en el Outomce/Competencia @outcome.OutcomeComision.Outcome.Nombre  @ScoreResource.ParaLaComision: @outcome.OutcomeComision.Comision.NombreEspanol" required>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    }
                                                                                                </div>
                                                                                                <hr />
                                                                                                <div class="example-wrap">
                                                                                                    <table class="table table-responsive">
                                                                                                        <thead>
                                                                                                            <tr>
                                                                                                                <th>@RubricQualifyResource.NombreNivel</th>
                                                                                                                <th>@RubricQualifyResource.DescripcionNivel</th>
                                                                                                                <th class="text-center">@RubricQualifyResource.NotaMenorNivel</th>
                                                                                                                <th class="text-center">@RubricQualifyResource.NotaMayorNivel</th>
                                                                                                                @if (criterio.EsEvaluadoPorDefecto == true)
                                                                                                                {
                                                                                                                    <th class="text-center">@RubricQualifyResource.Calificar</th>
                                                                                                                }
                                                                                                            </tr>
                                                                                                        </thead>
                                                                                                        <tbody>
                                                                                                            @{var countNiveles = 1; }
                                                                                                            @foreach (var nivel in criterio.NivelCriterio)
                                                                                                            {
                                                                                                                <tr>
                                                                                                                    <td>@nivel.Nombre</td>
                                                                                                                    <td style="white-space: pre-line">@nivel.DescripcionNivel</td>
                                                                                                                    <td class="text-center">@(nivel.NotaMenor.HasValue ? @nivel.NotaMenor.ToString() : "N/A")</td>
                                                                                                                    <td class="text-center">@nivel.NotaMayor</td>

                                                                                                                    @if (nivel.CriterioOutcome.EsEvaluadoPorDefecto == true)
                                                                                                                    {
                                                                                                                        <td class="text-center">
                                                                                                                            <div class="radio-custom radio-primary">
                                                                                                                                <input type="radio" name="@dicRubricasPorAlumno.Value.IdRubrica-@dicRubricasPorAlumno.Key.IdAlumnoSeccion-@outcome.IdOutcomeRubrica-@criterio.IdCriterioOutcome" value="@nivel.NotaMayor" required data-tipo="radiob" data-alumno="@dicRubricasPorAlumno.Key.IdAlumnoSeccion" data-mensaje="@ScoreResource.DebeSeleccionarOpcionParaAlumno: @dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Nombres @ScoreResource.EnElOutcomeCompetencia: @outcome.OutcomeComision.Outcome.Nombre @ScoreResource.ParaLaComision: @outcome.OutcomeComision.Comision.NombreEspanol">
                                                                                                                                <label></label>
                                                                                                                            </div>
                                                                                                                        </td>
                                                                                                                    }
                                                                                                                </tr>
                                                                                                                countNiveles++;
                                                                                                            }
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                                                    }
                                                                                                                }
                                                                            @if (Model.nombreEvaluacion != "PA" && dicRubricasPorAlumno.Value.EsNotaEvaluada == false && Model.nombreEvaluador != "COM")
                                                                            {
                                                                                <h4 class="example-title">Comentario</h4>
                                                                                <textarea class="form-control comentario-outcome" data-tipo="textarea" data-target="exampleHeadingContinuous-outcome-@outcome.IdOutcomeComision-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" name="@dicRubricasPorAlumno.Value.IdRubrica=@dicRubricasPorAlumno.Key.IdAlumnoSeccion=@outcome.IdOutcomeRubrica" rows="5" style="resize: none;" required data-mensaje="@ScoreResource.DebeColocarComentarioParaAlumno: @dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Nombres @ScoreResource.EnElOutcomeCompetencia @outcome.OutcomeComision.Outcome.Nombre @ScoreResource.ParaLaComision: @outcome.OutcomeComision.Comision.NombreEspanol. @ScoreResource.EviteColocarEspaciosEnBlancoEnSuComentario"></textarea>
                                                                            }
                                                                            @if (Model.nombreEvaluacion == "PA" && Model.nombreEvaluador == "GER")
                                                                            {
                                                                                foreach (var criterio in outcome.CriterioOutcome)
                                                                                {
                                                                                    <div class="panel">
                                                                                        <div class="panel-heading" id="exampleHeadingContinuous-criterio-@criterio.IdCriterioOutcome-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" role="tab" style="background-color:#f1f4f5;" data-check=false>
                                                                                            <a class="panel-title collapsed" data-parent="" data-toggle="collapse" href="#exampleCollapseContinuous-criterio-@criterio.IdCriterioOutcome-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" aria-controls="exampleCollapseContinuous-criterio-@criterio.IdCriterioOutcome-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" aria-expanded="false">
                                                                                                <i class="fa fa-bookmark" aria-hidden="true"></i> @criterio.Nombre
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="panel-collapse collapse" id="exampleCollapseContinuous-criterio-@criterio.IdCriterioOutcome-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" aria-labelledby="exampleHeadingContinuous-criterio-@criterio.IdCriterioOutcome-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                                                                            <div class="panel-body">
                                                                                                <h4 class="example-title">@RubricQualifyResource.Descripcion</h4>
                                                                                                <div class="col-md-12">
                                                                                                    <p>@criterio.Descripcion</p>
                                                                                                    @if (criterio.EsEvaluadoPorDefecto == false)
                                                                                                    {
                                                                                                        <div class="col-md-6 text-right">
                                                                                                            <div class="col-md-6" style="padding-top: 5px;">@RubricQualifyResource.IngresarNotaCriterio : </div>
                                                                                                            <div class="col-md-6">
                                                                                                                <input type="number" step="any" class="form-control" style="height: 30px;" name="@dicRubricasPorAlumno.Value.IdRubrica*@dicRubricasPorAlumno.Key.IdAlumnoSeccion*@outcome.IdOutcomeRubrica*@criterio.IdCriterioOutcome" min="@criterio.NivelCriterio.First().NotaMenor" max="@criterio.NivelCriterio.Last().NotaMayor" data-tipo="field" data-alumno="@dicRubricasPorAlumno.Key.IdAlumnoSeccion" data-mensaje="@ScoreResource.DebeColocarNotaParaAlumno: @dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Nombres @ScoreResource.EnElOutcomeCompetencia @outcome.OutcomeComision.Outcome.Nombre @ScoreResource.ParaLaComision: @outcome.OutcomeComision.Comision.NombreEspanol" required>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    }
                                                                                                </div>
                                                                                                <hr />
                                                                                                <div class="example-wrap">
                                                                                                    <table class="table table-responsive">
                                                                                                        <thead>
                                                                                                            <tr>
                                                                                                                <th>@RubricQualifyResource.NombreNivel</th>
                                                                                                                <th>@RubricQualifyResource.DescripcionNivel</th>
                                                                                                                <th class="text-center">@RubricQualifyResource.NotaMenorNivel</th>
                                                                                                                <th class="text-center">@RubricQualifyResource.NotaMayorNivel</th>
                                                                                                                @if (criterio.EsEvaluadoPorDefecto == true)
                                                                                                                {
                                                                                                                    <th class="text-center">@RubricQualifyResource.Calificar</th>
                                                                                                                }
                                                                                                            </tr>
                                                                                                        </thead>
                                                                                                        <tbody>
                                                                                                            @{var countNivelesPA = 1; }
                                                                                                            @foreach (var nivel in criterio.NivelCriterio)
                                                                                                            {
                                                                                                                <tr>
                                                                                                                    <td>@nivel.Nombre</td>
                                                                                                                    <td>@Html.Raw(nivel.DescripcionNivel)</td>
                                                                                                                    <td class="text-center">@(nivel.NotaMenor.HasValue ? @nivel.NotaMenor.ToString() : "N/A")</td>
                                                                                                                    <td class="text-center">@nivel.NotaMayor</td>

                                                                                                                    @if (nivel.CriterioOutcome.EsEvaluadoPorDefecto == true)
                                                                                                                    {
                                                                                                                        <td class="text-center">
                                                                                                                            <div class="radio-custom radio-primary">
                                                                                                                                <input type="radio" name="@dicRubricasPorAlumno.Value.IdRubrica*@dicRubricasPorAlumno.Key.IdAlumnoSeccion*@outcome.IdOutcomeRubrica*@criterio.IdCriterioOutcome" value="@nivel.NotaMayor" required data-tipo="radiob" data-alumno="@dicRubricasPorAlumno.Key.IdAlumnoSeccion" data-mensaje="@ScoreResource.DebeSeleccionarOpcionParaAlumno: @dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Nombres @ScoreResource.EnElOutcomeCompetencia: @outcome.OutcomeComision.Outcome.Nombre @ScoreResource.ParaLaComision: @outcome.OutcomeComision.Comision.NombreEspanol">
                                                                                                                                <label></label>
                                                                                                                            </div>
                                                                                                                        </td>
                                                                                                                    }
                                                                                                                </tr>
                                                                                                                countNivelesPA++;
                                                                                                            }
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                                                    }

                                                                                                                }

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                                                                }
                                                        </div>
                                                    </div>
                                                                                                                    countComisionTab++;
                                                                                                                }
                                            </div>

                                            <!-- Se removio la version anterior de la calificación de rúbricas WASC-->
                                            @if ((Model.RolEvaluador != "COM" && Model.nombreEvaluacion != "PA"))
                                            {
                                                <p style="font-size: medium;">¿Permite usted que el alumno sustente la evaluación ante el Comité de Acreditación?</p>
                                                <div class="radio-custom radio-primary">
                                                    <input data-tipo="radiob" type="radio" value="true" name="sustentacion-@dicRubricasPorAlumno.Value.IdRubrica-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" rows="5" style="resize: none;" data-mensaje="@ScoreResource.DebeSeleccionarUstedPermiteAlumnoSustente: @dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Nombres">
                                                    <label>@ScoreResource.Si</label>
                                                </div>
                                                <div class="radio-custom radio-primary">
                                                    <input data-tipo="radiob" type="radio" value="false" name="sustentacion-@dicRubricasPorAlumno.Value.IdRubrica-@dicRubricasPorAlumno.Key.IdAlumnoSeccion" rows="5" style="resize: none;" data-mensaje="@ScoreResource.DebeSeleccionarUstedPermiteAlumnoSustente: @dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Nombres">
                                                    <label>@ScoreResource.No</label>
                                                </div>
                                            }
                                        </div>
                                        <!-- End Example Tabs -->
                                    </div>

                                    <div class="panel-footer text-right">
                                        @if (Model.RolEvaluador == "COM")
                                        {
                                            <a class="btn btn-bordered btn-dark" onclick="generateEvaluatorOutcomeExcelReport()"><i class="fa fa-download"></i> @RubricQualifyResource.ObtenerNotas</a>
                                        }
                                        @*<input type="submit" data-parent="Roles" name="submit" id="btnGuardar" class="btn btn-primary pull-right" value="@ButtonResource.Guardar" @( (Model.RolEvaluador == "COM" || (Model.nombreEvaluacion == "PA" && Model.nombreEvaluador == "GER")) ? ("onclick=" + "showElements(this.form);") : "") />*@

                                        <button type="submit" name="submit" class="btn btn-primary btn-mainguardar" data-parent="Roles" id="btnGuardar" onclick="showElements(this.form);"><i class="fa fa-save"></i> @ButtonResource.Guardar</button>
                                    </div>
                                </div>
                            </div>
                                                                                                                    countTabs++;
                                                                                                                }
                    </div>

                                                                                                                }
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade modal-rotate-from-left in" id="myModal" aria-hidden="true" aria-labelledby="examplePositionTop"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #ff1901; color: #fff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="exampleModalTitle" style="color:#fff;">@RubricQualifyResource.TituloMensajeConf</h4>
            </div>
            <div class="modal-body">
                <p>@RubricQualifyResource.MensajeConfirmacion</p>
                <hr />
                @if (Model.RolEvaluador == "COM" || (Model.nombreEvaluacion == "PA" && Model.nombreEvaluador == "GER"))
                {
                    <p style="font-weight: 700;">@RubricQualifyResource.NotasNoOficiales</p>
                    <div id="gradesInfo">
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancelar">@ButtonResource.Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmar">@ButtonResource.Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<!-- Modal -->
<div class="modal fade modal-rotate-from-left in" id="modalAdvertencia" aria-hidden="true" aria-labelledby="examplePositionTop"
     role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Advertencia</h4>
            </div>
            <div class="modal-body">
                <p>@ScoreResource.UnBuenCuerpo…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default margin-0" data-dismiss="modal">@ScoreResource.Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
@using (Html.BeginForm("DownloadEvaluatorOutcomeReport", "BulkInsert", new { ProyectoId = Model.IdProyectoAcademico, EvaluacionId = Model.IdTipoEvaluacion }, FormMethod.Post))
{
    <button type="submit" id="hidden-submit-evaluator-outcome-report" style="display: none;"></button>
}

@section Scripts{


    <script src="~/Content/vendor/toastr/toastr.min.js"></script>
    <script>

        var fieldEmpty = false;
        function showMessageRequiredField(mensaje){

            var $modal = $('#modalAdvertencia');
            $modal.find('p').html(mensaje);
            $modal.modal('show');
        }

        function ocultarMensajeRequerido(){
            $('#requiredMessage').hide();
        }

        function Alumno(){

            this.IdAlumno = "";
            this.SumaNota = 0;
            this.CodigoAlumno = "";
            this.NombreAlumno = "";
            this.notaMaxima = 0;

        }
        function showElements(oForm) {



            if(confirmarSubmit)
                return false;
            fieldEmpty = false;
            var alumnos = [];


            @foreach (var dicRubricasPorAlumno in Model.rubricasPorAlumno)
            {
                @: var alumnoitem = new Alumno();
                @: alumnoitem.IdAlumno = @dicRubricasPorAlumno.Key.IdAlumnoSeccion.ToString();
                @: alumnoitem.notaMaxima = @dicRubricasPorAlumno.Value.NotaMaxima;
                @: alumnoitem.CodigoAlumno = '@dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Codigo';
                @: alumnoitem.NombreAlumno = '@dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Nombres';
                @: alumnos.push(alumnoitem);
            }

            for (i = 0; i < oForm.length; i++) {
                if (!(oForm.elements[i].name.includes("EvaluadorId") || oForm.elements[i].name.includes("DocenteId") || oForm.elements[i].name.includes("submit"))) {

                    if (oForm.elements[i].dataset.tipo.includes("radiob")) {

                        if($('input[name="'+ oForm.elements[i].name +'"]:checked').length <= 0 ){
                            showMessageRequiredField(oForm.elements[i].dataset.mensaje);
                            fieldEmpty = true;
                            return false;
                        }
                    }else{
                        if(oForm.elements[i].value.trim() == ""){
                            showMessageRequiredField(oForm.elements[i].dataset.mensaje);
                            fieldEmpty = true;
                            return false;
                        }
                    }
                }
            }

            @if(Model.RolEvaluador == "COM")
            {
                <text>
            for (i = 0; i < oForm.length; i++) {
                if (!(oForm.elements[i].name.includes("EvaluadorId") || oForm.elements[i].name.includes("DocenteId") || oForm.elements[i].name.includes("submit") || oForm.elements[i].name.includes("observacion"))) {
                    if (oForm.elements[i].dataset.tipo.includes("radiob")) {
                        if (oForm.elements[i].checked == true) {
                            for(j = 0; j< alumnos.length; ++j){
                                var alumnoitem = alumnos[j];
                                if(oForm.elements[i].dataset.alumno.includes(alumnoitem.IdAlumno)){
                                    alumnoitem.SumaNota = alumnoitem.SumaNota + parseFloat(oForm.elements[i].value);
                                }
                            }
                        }
                    } else {
                        if (oForm.elements[i].dataset.tipo.includes("field")) {
                            for(j = 0; j< alumnos.length; ++j){
                                var alumnoitem = alumnos[j];
                                if(oForm.elements[i].dataset.alumno.includes(alumnoitem.IdAlumno)){
                                    alumnoitem.SumaNota = alumnoitem.SumaNota + parseFloat(oForm.elements[i].value);
                                }
                            }
                        }
                    }
                }
            }
            </text>
              }
            var innerHtml = "";

            for (var i = 0; i < alumnos.length; i++) {

                var alumno = alumnos[i];
                alumno.SumaNota = ((alumno.SumaNota/alumno.notaMaxima)*20).toFixed(2);
                innerHtml += "<div>" +
                            "<p>@RubricQualifyResource.AlumnoCodigo <span></span>" + alumno.CodigoAlumno + "</p>" +
                            "<p>@RubricQualifyResource.NotaAlumno   <span></span>" + alumno.SumaNota + "</p>" +
                            "<p>@RubricQualifyResource.NotaAlumno   <span></span>" + alumno.NombreAlumno + "</p>" +
                            "<hr />" +
                            "</div>";
            }

            $('#gradesInfo').html(innerHtml);

        }
        var confirmarSubmit = false;
        $("#btnConfirmar").click(function () {
            confirmarSubmit = true;
            $(this).attr('disabled','disabled');
            $("#rubricQualifyForm").find('#btnGuardar').click()
        });

        $("#btnCancelar").click(function () {
            confirmarSubmit = false;
            event.preventDefault();
        });

        $("#rubricQualifyForm").submit(function (event) {


            if(!fieldEmpty)
            {
                $('#myModal').modal('show')
            }
            if (confirmarSubmit == false) {
                event.preventDefault();
            }

            //confirmarSubmit = false ;
        });

        function SumarNotas(val) {
            var $this = $(this);
            var name = $this.val('name');
        }

        function generateEvaluatorOutcomeExcelReport() {
            $('#hidden-submit-evaluator-outcome-report').click();
        }

        @*@if (Model.nombreEvaluacion == "TF" || Model.nombreEvaluacion == "TP")
        {
        <text>*@
        $('input[type="radio"]').click(function(){
            var $this = $(this);
            var name = $this.attr('name');
            var othersRadio = $('input[name="' + name + '"');
            var $criterioPanel = $this.closest('.panel-collapse').siblings();
            var checked = $criterioPanel.data('check');
            var radioSelectCount = $this.closest('.panel-collapse').siblings().parent().parent().find('.panel').length;


            if (!checked){
                var $progress = $this.closest('.panel-collapse').siblings().parent().parent().parent().siblings().find('.progress-bar');
                var $iconComplete = $this.closest('.panel-collapse').siblings().parent().parent().parent().siblings().find('.fa-check');
                var indice = parseFloat($progress.data('indice'));
                var totalCriterios = $progress.data('max');
                $progress.css('width', (indice / radioSelectCount) * 100 + '%');
                if (indice < radioSelectCount)
                    $progress.data('indice', indice + 1);
                if (indice == radioSelectCount)
                    $iconComplete.removeClass('hidden');
                $criterioPanel.data('check', true);
            }

            calcularNotas();

        });

        $('input[type="number"]').change(function(){
            var $this = $(this);
            var value = $this.val();

            if(value != '')
            {
                var name = $this.attr('name');
                var othersRadio = $('input[name="' + name + '"');
                var $criterioPanel = $this.closest('.panel-collapse').siblings();
                var checked = $criterioPanel.data('check');
                var radioSelectCount = $this.closest('.panel-collapse').siblings().parent().parent().find('.panel').length;


                if (!checked){
                    var $progress = $this.closest('.panel-collapse').siblings().parent().parent().parent().siblings().find('.progress-bar');
                    var $iconComplete = $this.closest('.panel-collapse').siblings().parent().parent().parent().siblings().find('.fa-check');
                    var indice = parseFloat($progress.data('indice'));
                    var totalCriterios = $progress.data('max');
                    $progress.css('width', (indice / radioSelectCount) * 100 + '%');
                    if (indice < radioSelectCount)
                        $progress.data('indice', indice + 1);
                    if (indice == radioSelectCount)
                        $iconComplete.removeClass('hidden');
                    $criterioPanel.data('check', true);
                }
            }
            calcularNotas();
        });

        $('.comentario-outcome').change(function(){
            var idTarget = $(this).data('target');
            var $target = $('#' + idTarget);
            var $progress = $target.find('.progress-bar');
            var value = $(this).val();

            if(value.trim() == ""){
                $progress.css('width', '0%');
                $target.find('.fa-check').addClass('hidden');
            }
            else{
                $progress.css('width', '100%');
                $target.find('.fa-check').removeClass('hidden');
            }
        })

        function calcularNotas() {

            var oForm = $('#rubricQualifyForm');
            oForm = oForm[0]
            var alumnos = [];


            @foreach (var dicRubricasPorAlumno in Model.rubricasPorAlumno)
            {
                @: var alumnoitem = new Alumno();
                @: alumnoitem.IdAlumno = @dicRubricasPorAlumno.Key.IdAlumnoSeccion.ToString();
                @: alumnoitem.notaMaxima = @dicRubricasPorAlumno.Value.NotaMaxima;
                @: alumnoitem.CodigoAlumno = '@dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Codigo';
                @: alumnoitem.NombreAlumno = '@dicRubricasPorAlumno.Key.AlumnoMatriculado.Alumno.Nombres';
                @: alumnos.push(alumnoitem);
            }


            for (i = 0; i < oForm.length; i++) {
                if (!(oForm.elements[i].name.includes("EvaluadorId") || oForm.elements[i].name.includes("DocenteId") || oForm.elements[i].name.includes("submit") || oForm.elements[i].name.includes("observacion"))) {
                    if (oForm.elements[i].dataset.tipo.includes("radiob")) {
                        if (oForm.elements[i].checked == true) {
                            for(j = 0; j< alumnos.length; ++j){
                                var alumnoitem = alumnos[j];
                                if(oForm.elements[i].dataset.alumno.includes(alumnoitem.IdAlumno)){
                                    alumnoitem.SumaNota = alumnoitem.SumaNota + parseFloat(oForm.elements[i].value);
                                }
                            }
                        }
                    } else {
                        if (oForm.elements[i].dataset.tipo.includes("field")) {
                            for(j = 0; j< alumnos.length; ++j){
                                var alumnoitem = alumnos[j];
                                if(oForm.elements[i].dataset.alumno.includes(alumnoitem.IdAlumno)){
                                    alumnoitem.SumaNota = alumnoitem.SumaNota + parseFloat(oForm.elements[i].value);
                                }
                            }
                        }
                    }
                }
            }



            var mensaje = "";
            for (var i = 0; i < alumnos.length; i++) {
                mensaje += alumnos[i].NombreAlumno + " : " + parseFloat((alumnos[i].SumaNota / alumnos[i].notaMaxima)*20).toFixed(2)  + " x ";
            }
            toastr["info"](mensaje,"Avance")

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "3000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }
    </script>
}
