﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.Score.ScoreViewModel
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score
@{
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs{
    <li><a href="@Url.Action("RubricIndex", "Rubric")">@RubricManagmentResource.Titulo</a></li>
}

@section Styles {
    <style>
        @@media screen and (max-width: 550px) {

            .table tr td {
                display: block;
                clear: both;
                width: 95%;
            }

            .table tr:nth-child(even) {
                background: #e7f1ff !important;
            }

            .table tr {
                border-top: 5px solid;
            }

            .hiddenTexto {
                font-weight: bold !important;
                display: inline-block !important;
            }

            .hiddenHeader {
                display: none !important;
            }
        }

        .hiddenTexto {
            display: none;
        }
    </style>
}

@Html.HiddenFor(x => x.IdNivelDesempenio)
<div class="panel panel-bordered">
    <div class="panel-heading">
        <h3 class="panel-title">
            Registro de Nivel de Desempeño
        </h3>
    </div>
    <div class="panel-body row">
        <div class="form-group col-sm-12 col-md-6">
            <label class="col-sm-12 control-label">@ScoreResource.Evaluacion</label>
            <div class="col-sm-12">
                <div id="groupTipoEvaluacion" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" id="radio_StudentOutcome" name="TipoEvaluacion" value="StudentOutcome" checked> Student Outcome
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" id="radio_Competences" name="TipoEvaluacion" value="Competences"> @ScoreResource.Competencias
                    </label>
                </div>
            </div>
        </div>

        @Html.FormGroup(ScoreResource.Nombre, Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" }))

        @Html.FormGroup(ScoreResource.PuntajeMenor, Html.TextBoxFor(x => x.PuntajeMenor, new { @class = "form-control", @type = "number", disabled = true }))

        @Html.FormGroup(ScoreResource.PuntajeMayor, Html.TextBoxFor(x => x.PuntajeMayor, new { @class = "form-control", @type = "number" }))

        @Html.FormGroup(ScoreResource.Color, Html.TextBoxFor(x => x.Color, new { @class = "form-control jscolor" }))

        @Html.FormGroup(ScoreResource.Descripcion, Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control", @rows = "3", @style = "overflow:hidden" }))


        <div class="col-md-12">
            <div class="pull-right">
                <a class="btn btn-default" onclick="limpiarDatos()"><i class="fa fa-eraser"></i></a>
                <button type="button" class="btn btn-dark" onclick="agregarNivel()">@ButtonResource.Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-bordered">
    <div class="panel-heading">
        <h3 class="panel-title">@ScoreResource.NivelesDeDesempenio</h3>
    </div>
    <div class="panel-body">
        <div id="list-score-rubric-partial-view">
            @Html.Action("_ListScorePartialView", "Score")
        </div>
    </div>
</div>

<div class="modal fade" id="modalSelectPeriod" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">@ScoreResource.SeleccionePeriodoAcademico</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    @Html.FormGroup(ScoreResource.PeriodoAcademico, Html.DropDownListFor(x => Model.CycleId, Model.DropDownListCyclesForModality as SelectList, new { @class = "form-control" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CycleId))
                    <div class="form-group col-sm-12 col-md-6">
                        <label class="col-sm-12 control-label">&nbsp;</label>
                        <div class="col-sm-12 pull-right">
                            <button class="btn btn-default" id="selectPeriod">@ScoreResource.Seleccionar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Html.Content("js/components/jscolor.min.js")

@section Scripts{
<script>
        $(document).ready(function () {
            $(".page-title").append("<button type='button' class='btn btn-link' id='showSelectPeriod' onclick=$('#modalSelectPeriod').modal('show')>" + '@ScoreResource.Cambiar' + "</button>");
        });

        $("#selectPeriod").on("click", function () {
            $("modalSelectPeriod").hide();
            var selectedPeriod = $("#CycleId").val();
            window.location.replace('@Url.Action("ScoreCreate", "Score")' + '?CycleId=' + selectedPeriod);
        });
        function validarCampos() {
            var Nombre = $("#Nombre");
            var PuntajeMenor = $("#PuntajeMenor").val();
            var PuntajeMayor = $("#PuntajeMayor").val();

            if (Nombre.val().trim() === "") {
                swal('Oops...', '@(ScoreResource.OlvidasteElNombre)', 'error');
                return false;
            }

            if ($('input:radio[name=TipoEvaluacion][value=Competences]').is(':checked')) {
                if (PuntajeMenor > PuntajeMayor || PuntajeMenor < 0 || PuntajeMayor < 0) {
                    swal('Oops...', '@(ScoreResource.IngreseDatosCorrectorParaPuntaje)', 'error');
                    return false;
                }
            }

            return true;
        }

        function limpiarDatos() {
            $("#IdNivelDesempenio").val("");
            $("#Nombre").val("");
            $("#Descripcion").val("");
            $("#PuntajeMenor").val(0);
            $("#PuntajeMayor").val(0);
            $("#Color").val("3CAE08");
            $("#PuntajeMenor").prop("disabled", true);
            $("#PuntajeMayor").prop("disabled", false);
            $('input:radio[name=TipoEvaluacion][value=StudentOutcome]').click();
            $('#groupTipoEvaluacion').removeClass('disabled');
            document.getElementById('Color').jscolor.importColor();
        }

        $('input:radio[name=TipoEvaluacion][value=Competences]').change(function () {
            $("#PuntajeMenor").val(0);
            $("#PuntajeMenor").prop("disabled", false);
        });

        $('input:radio[name=TipoEvaluacion][value=StudentOutcome]').change(function () {
            $("#PuntajeMenor").val(0);
            $("#PuntajeMenor").prop("disabled", true);
        });

        function cargarNivel(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetNivelDesempenio", "Score")',
                data: {
                    IdNivelDesempenio: id
                },
                dataType: 'json',
                beforeSend: function () {
                    showLoading();
                },
                success: function (response) {
                    $("#IdNivelDesempenio").val(response.IdNivelDesempenio);
                    $('input:radio[name=TipoEvaluacion][value=' + response.TipoEvaluacion + ']').click();
                    $("#Nombre").val(response.Nombre);
                    $("#Descripcion").val(response.Descripcion);
                    $("#PuntajeMenor").val(response.PuntajeMenor);
                    $("#PuntajeMayor").val(response.PuntajeMayor);
                    $("#Color").val(response.Color.substring(1));
                    document.getElementById('Color').jscolor.importColor();
                    if (response.ExisteEvaluacion) {
                        $("#PuntajeMenor").prop("disabled", true);
                        $("#PuntajeMayor").prop("disabled", true);
                        $('#groupTipoEvaluacion').addClass('disabled');
                    }
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    closeLoading();
                }
            });
        }

        function agregarNivel() {

            if (!validarCampos())
                return;

            var model = {
                IdNivelDesempenio: $("#IdNivelDesempenio").val(),
                TipoEvaluacion: $("input:radio[name=TipoEvaluacion]:checked").val(),
                Nombre: $("#Nombre").val(),
                Descripcion: $("#Descripcion").val(),
                PuntajeMenor: $("#PuntajeMenor").val(),
                PuntajeMayor: $("#PuntajeMayor").val(),
                Color: $("#Color").val(),
                CycleId: $("#CycleId").val()
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveNivelDesempenio", "Score")',
                data: model,
                dataType: 'json',
                beforeSend: function () {
                    showLoading();
                },
                success: function (response) {
                    if (response.Success) {
                        swal({
                            title: response.Message,
                            type: 'success'
                        }
                        , function () {
                            closeLoading();
                            limpiarDatos();
                        });
                    }
                    else
                        swalmessage(response.Message, "error");
                },
                complete: function () {
                    getListScoreRubric();
                }
            });
        }

        function eliminarNivel(IdNivelDesempenio) {
            var postData = {};
            postData['IdNivelDesempenio'] = IdNivelDesempenio;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteNivelDesempenio", "Score")',
                data: postData,
                dataType: 'json',
                beforeSend: function () {
                    showLoading();
                },
                error: function () {
                    swalmessage('@Html.Raw(ScoreResource.FalloElEnvioDeDatos)', "error");
                },
                success: function (response) {
                    if (response) {
                        limpiarDatos();
                        closeLoading();
                        getListScoreRubric();
                    } else {
                        swalmessage('@Html.Raw(@ScoreResource.ExistenRubricasCreadasConEsteNivel)', "error");
                    }
                }
            });
        }

        function getListScoreRubric() {
            var selectedPeriod = $("#CycleId").val();
            $.ajax({
                url: '@Url.Action("_ListScorePartialView", "Score")',
                type: "GET",
                data: { CycleId: selectedPeriod },
                success: function (data) {
                    $("#list-score-rubric-partial-view").html(data).ready();
                }
            });
        }

        function swalmessage(message, type) {
            swal({
                title: message,
                type: type
            });
        }

        function showLoading() {
            swal({
                title: '@language' === "es-PE" ? "Cargando..." : "Loading...",
                text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                showConfirmButton: false,
                html: true
            });
        }

        function closeLoading() {
            swal.close();
        }
</script>
}

