﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.Score.ScoreIndexViewModel
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared

@{
    ViewBag.Title = ScoreIndexResource.Titulo;
    ViewBag.Icon = "list";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs
{

}

@section Styles{

    <style>
        @@media screen and (max-width: 550px) {

            .table tr td {
                display: block;
                clear: both;
                width: 95%;
            }
            .table tr:nth-child(even) {
                background: #e7f1ff !important;

            }
            .table tr{
                border-top:5px solid;
            }
            .hiddenTexto{
                font-weight:bold !important;
                display:inline-block !important;
            }
            .hiddenHeader{
                display: none !important;
            }
        }
        .hiddenTexto{
            display:none;
        }
        /*
        .hiddenHeader{
            display:block;
        }*/
    </style>

}

<div class="row">
    @Html.HiddenFor(x => x.docenteId)
    <div class="col-md-12">
        <div class="panel filters">
            @Html.PanelHeader(String.Format("<i class=\"fa fa-filter\"></i> {0}", "Calificar Proyectos"))
            <div class="panel-body row">
                @Html.FormGroup(ScoreIndexResource.FiltroEmpresas, Html.DropDownListFor(m => m.EmpresaId, new SelectList(Model.ListEmpresaVirtual, "IdEmpresa", "Nombre"), OptionResource.Todos, new { @class = "form-control", @data_plugin = "select2", @onchange = "changeEvaluacionProyectoAcademico()" }))
                @Html.FormGroup(ListRubricaAlumnoResource.FiltroAlumno, Html.DropDownListFor(m => m.CodigoAlumno, new SelectList(Model.LstAlumnos, "Codigo", "Nombres"), OptionResource.Todos, new { @class = "form-control select2-alumnos", @data_plugin = "select2", @onchange = "changeEvaluacionProyectoAcademico()" }))
            </div>
        </div>

        <div class="panel filters">
            @Html.PanelHeader(String.Format("<i class=\"fa fa-list\"></i> {0}", ScoreIndexResource.Proyectos))
            <div id="list-evaluation-project-partial-view">

            </div>
        </div>

    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires="+d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }


        function getValue(nombre)
        {
            return localStorage[nombre];
            // return getCookie(nombre);
            //Cookies.get(nombre);
        }
        function setValue(nombre,valor)
        {
            //localStorage.setItem(nombre,valor);
            localStorage[nombre]=valor;
            //setCookie(nombre,valor,1);
            //Cookies.set(nombre, valor);
        }
        function getValueCache(nombre){

            var storage  = getValue(nombre);

            var empresaId = null;
            if(storage === null || storage ==="" || storage ==='null')
            {
                
                
                console.log('guardando antes storage=null' + nombre + ":"+getValue(nombre));
                empresaId = $('#'+nombre).val();

                setValue(nombre,empresaId);
                
                var texto = $("#"+nombre + " option:selected").text();
                //alert(texto);
                setValue("text"+nombre,texto);
                console.log('guardando despues storage=null' + nombre + ":"+getValue(nombre));

                console.log(getValue(nombre));


            }
            else{

                //Nueva busqueda
                var texto = $('#'+nombre).val();
                if(storage!=texto)
                {
                    
                    console.log('guardando nueva busqueda' + nombre + ":" + getValue(nombre));
                    
                    empresaId= $('#'+nombre).val();
                    setValue(nombre,empresaId);

                    
                    var texto = $("#"+nombre + " option:selected").text();
                    //alert(texto);
                    setValue("text"+nombre,texto);

                    console.log('guardando nueva busqueda' + nombre + ":" + getValue(nombre));
                    console.log(getValue(nombre));

                }
                else //Cargar sesión que fue de la ultima carga
                    empresaId = getValue(nombre);
            }

            return empresaId;
        }
        /*
        function getValueCache(nombre){

            var storage  = getValue(nombre);

            var empresaId = null;
            if(storage == null || storage=="" || storage=='null')
            {
                
                
                empresaId = $('#'+nombre + " option:selected").text();
                setValue(nombre,empresaId);


            }
            else{

                //Nueva busqueda
                var texto = $('#'+nombre).val();
                if(storage!=texto && texto!="" && texto!=null && texto!="null" )
                {
                    
                    
                    empresaId= $('#'+nombre).val();
                    setValue(nombre,empresaId);
                    
                }
                else //Cargar sesión que fue de la ultima carga
                    empresaId = getValue(nombre);
            }

            return empresaId;
        }*/


        $(document).ready(function () {

            /*
            console.log('VALORES');
            for (var i = 0; i < localStorage.length; i++) {
                console.log(localStorage.key(i))
            };
            console.log('FIN VALORES')
            */

            var storage2  = getValue('CodigoAlumno');
            
            if(storage2 != null && storage2 != 'null' && storage2 != "")
            {
                $('#CodigoAlumno').val(storage2);
            }
            
            var storage  = getValue('EmpresaId');
            if(storage!=null && storage != 'null' && storage!=""){
                $('#EmpresaId').val(storage);
            }
             

            

            console.log('codigoAlumno');
            //console.log(storage2);

            if(storage2 != null && storage2 != 'null' && storage2 != "")
            {
                console.log('existe data codigoalumno');
                console.log(storage2);
               // $('#CodigoAlumno').val(storage2).trigger('change.select2');

                var texto = getValue("textCodigoAlumno");

                if(texto!=null || texto!="" || texto!="null")
                {
                    console.log('textexiste');
                    console.log(texto);
                
                    var newState = new Option(texto, storage2, true, true);
                    // Append it to the select
                    $("#CodigoAlumno").append(newState).trigger('change');

                }

            }

            
            console.log('EmpresaId');
            //console.log(storage);

            if(storage!=null && storage != 'null' && storage!="")
            {
                $('#EmpresaId').val(storage).trigger('change.select2');
            }
            /*
            var storage  = getValue("EmpresaId"); 
            setValue("EmpresaId",12);
            console.log(getValue("EmpresaId"));*/


            obtenerEvaluacionProyectosPorEmpresa();

            $('.select2-alumnos').select2({

                ajax: {
                    url: '@Url.Action("GetStudents", "Score", new { Area = ConstantHelpers.AREAS.RUBRIC })',
                    dataType: 'json',
                    type: 'POST',
                    delay: 250,
                    data: function (params) {
                        return {
                            CadenaBuscar: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                allowClear: true,
                placeholder : 'Todos',
                minimumInputLength: 3
            });

        });

        function changeEvaluacionProyectoAcademico() {
            obtenerEvaluacionProyectosPorEmpresa();
        }

        function obtenerEmpresaVirtual() {

            var empresaId = getValueCache('EmpresaId');
          

            if (empresaId==null || empresaId =="") {
                empresaId = "0";
            }
            return empresaId;
        }

        function obtenerCodigoAlumno() {
            
            var CodigoAlumno = getValueCache('CodigoAlumno');

           // var CodigoAlumno = $('#CodigoAlumno').val();
            if (CodigoAlumno==null || CodigoAlumno=="") {
                CodigoAlumno = "0";
            }
            return CodigoAlumno;
        }

        function obtenerEvaluacionProyectosPorEmpresa() {
            var docenteId = $("#docenteId").val();
            $.ajax({
                url: '@Url.Action("_ListAcademicProjectPartialView", "Score")',
                type: "GET",
                data: {
                    EmpresaVirtualId: obtenerEmpresaVirtual(),
                    DocenteId: docenteId == "" || docenteId == null ? "0" : docenteId,
                    CodigoAlumno: obtenerCodigoAlumno()
                },
                beforeSend: function () {
                    showLoading();
                },
                success: function (data) {
                    console.log('mi dato', data);
                    debugger
                    $("#list-evaluation-project-partial-view").html(data);
                    $('#tbl_proyectos').dataTable();
                    closeLoading();
                },
                error: function () {
                }
            });
        }
    </script>
    
    <script>
        function showLoading() {
            swal({
                title: '@language' == "es-PE" ? "Cargando..." : "Loading...",
                text: '<i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>',
                showConfirmButton: false,
                html: true
            });
        }

        function closeLoading() {
            swal.close();
        }
    </script>
}


