﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.Score.ViewRubricQualifyViewModel
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Score
@using UPC.CA.ABET.Presentation.Areas.Rubric.Resources.Views.Shared

@{
    ViewBag.Title = ViewRubricQualifyResource.Titulo;
    ViewBag.Icon = "book";
}

@section Styles {
    @Html.Content("vendor/alertify-js/alertify.min.css")
}

@section Breadcrumbs{
}

<!-- Example Heading Icon -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user" aria-hidden="true"></i>@Model.alumnoActual.AlumnoMatriculado.Alumno.Nombres @Model.alumnoActual.AlumnoMatriculado.Alumno.Apellidos</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li>@RubricQualifyResource.Codigo : @Model.alumnoActual.AlumnoMatriculado.Alumno.Codigo</li>
            <li>@RubricQualifyResource.Carrera : @Model.alumnoActual.AlumnoMatriculado.Carrera.NombreEspanol</li>
            <li>@RubricQualifyResource.Curso : @Model.alumnoActual.Seccion.CursoPeriodoAcademico.Curso.NombreEspanol</li>
            <li>@RubricQualifyResource.Evaluacion : @Model.nombreEvaluacion</li>
        </ul>
        <hr />

        

        <h4>Student Outcomes</h4>
        <div class="panel-body">
            <!-- Example Tabs -->
            <div class="nav-tabs-horizontal">
                <ul class="nav nav-tabs" data-plugin="nav-tabs" role="tablist">
                    @{ var countComision = 0;}
                    @foreach (var comision in Model.ListComision)
                    {
                        var claseComision = "active";
                        if (countComision > 0)
                        {
                            claseComision = "";
                        }
                        <li class="@claseComision" role="presentation">
                            <a data-toggle="tab" href="#@comision.Codigo" aria-controls="exampleTabsOne"
                               role="tab">@comision.Codigo</a>
                        </li>
                        countComision++;
                    }
                </ul>
                @{ var countComisionTab = 0;}
                <div class="tab-content padding-top-20">
                    @foreach (var comision in Model.ListComision)
                    {
                        var claseComisionTab = "active";
                        if (countComisionTab > 0)
                        {
                            claseComisionTab = "";
                        }
                        <div class="tab-pane @claseComisionTab" id="@comision.Codigo" role="tabpanel">
                            <div class="panel-group panel-group-continuous" id="exampleAccordionContinuous-@Model.alumnoActual.IdAlumnoSeccion-@comision.Codigo" aria-multiselectable="true" role="tablist">
                                <div class="panel">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>@ViewRubricQualifyResource.OutcomeNombre</th>
                                                    <th>@ViewRubricQualifyResource.DescripcionOutcome</th>
                                                    <th>@ViewRubricQualifyResource.NotaOutcome</th>
                                                    <th>@ViewRubricQualifyResource.NivelAlcanzado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{var countNiveles = 1; }
                                                @foreach (var outcome in Model.ListNotasAlumno.Where(x => x.OutcomeRubrica.OutcomeComision.Comision == comision))
                                                {
                                                    <tr>
                                                        <td>@countNiveles</td>
                                                        <td class="text-center">@outcome.OutcomeRubrica.OutcomeComision.Outcome.Nombre</td>
                                                        <td>@outcome.OutcomeRubrica.OutcomeComision.Outcome.DescripcionEspanol</td>
                                                        <td class="text-center">@outcome.NotaOutcome</td>
                                                        <td class="text-center">@outcome.NivelAlcanzado</td>
                                                    </tr>
                                                    countNiveles++;
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                                                countComisionTab++;
                    }
                </div>
            </div>
            <!-- End Example Tabs -->
        </div>
        <div class="panel-body">
            <div class="form-group col-sm-12">
                <label class="label-form" style="font-size x-large;">Observación: @Model.ObservacionAlumno</label>
            </div>
        </div>
        <div class="panel-footer text-right">
            <a class="btn btn-default" href="@Url.Action("ListRubricaAlumno", "Score")"><i class="fa fa-arrow-left"></i> @ButtonResource.Regresar</a>
            <a class="btn btn-primary" onclick="generateStudentOutcomeExcelReport()"><i class="fa fa-download"></i> @ViewRubricQualifyResource.DescargarVerRubrica</a>
        </div>
    </div>
</div>

@using (Html.BeginForm("DownloadStudentOutcomeReport", "BulkInsert", new { AlumnoSeccionId = Model.AlumnoSeccionId, NombreEvaluacion = Model.nombreEvaluacion }, FormMethod.Post))
{
    <button type="submit" id="hidden-submit-student-outcome-report" style="display: none;"></button>
}

@section Scripts {
    <script type="text/javascript">
        function generateStudentOutcomeExcelReport() {
            $('#hidden-submit-student-outcome-report').click();
        }
    </script>
}
