﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.ImprovementActions;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.ImprovementActions.AddNewEvidenceAMViewModel

<style>
    .dot {
        height: 25px;
        width: 25px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        text-align:center;
    }
    .row {
        margin: 0 auto;
    }
    .block {
        display: inline-block;
    }
</style>
<div class="container">
    <h4>Descripción general:</h4>
</div>

<div class="container">
    @Html.HiddenFor(x => x.IdAccionMejora, new { id = "accionmejoraid" })
    <textarea id="general" placeholder="@(ImprovementActionsResource.EscribaEvidenciaParaHallazgosEnBlanco)" class="form-control" style="width:100%;resize: vertical;margin: 10px 0 10px;"></textarea>
    <form method="post" id="hallazgoEvidencia">
        <table id="TablaEvidencia" class="display">
            <thead>
                <tr class="row-header">
                    <td style="text-align:center">Hallazgo</td>
                    <td style="text-align:center">Descripción</td>
                    <td class="@(Model.HayCuantitativo == true ? "":"hidden")" style="text-align:center">@ImprovementActionsResource.ResultadoPrevio</td>
                    <td class="@(Model.HayCuantitativo == true ? "":"hidden")" style="text-align:center">@ImprovementActionsResource.ResultadoActual</td>
                    <td style="text-align:center">@ImprovementActionsResource.IngresarEvidencia</td>
                </tr>
            </thead>
            @foreach (var item in Model.LstHallazgos)
            {
            <tr>
                <td style="text-align:center">@item.CodigoHallazgo</td>
                <td style="text-align:center">
                    <div class="wrap">
                        <button class="readmorebtn" type="button">@ImprovementActionsResource.VerMas</button>
                        <p class="more" style="display:none;text-align: justify">
                            @item.DescripcionHallazgo
                        </p>
                    </div>
                </td>
                <td class="@(Model.HayCuantitativo == true ? "":"hidden")" style="text-align:center">
                    <div class="row">
                        <div class="block"><span class="dot" style="background-color: @item.HallazgoColor_1"></span></div>
                        <div class="block">@item.HallazgoPorcentaje_1</div>
                    </div>
                </td>
                <td class="@(Model.HayCuantitativo == true ? "":"hidden")" style="text-align:center">
                    <div class="row">
                        <div class="block"><span class="dot" style="background-color: @item.HallazgoColor_2"></span></div>
                        <div class="block">@item.HallazgoPorcentaje_2</div>
                    </div>
                </td>
                <td>
                    <textarea placeholder="@(ImprovementActionsResource.EscribaEvidenciaParaHallazgosODejasEnBlanco)"
                              name="hallazgo[@item.IdHallazgo][evidencia]" class="form-control" style="resize: vertical;" id="@item.IdHallazgoAccionMejora">@item.Evidencia</textarea>
                </td>
            </tr>
            }
        </table>
    </form>
</div>

<script type="text/javascript">
    const moreText = '@Html.Raw(ImprovementActionsResource.VerMas)';
    const lessText = '@ImprovementActionsResource.VerMenos';

    const moreButton = $("button.readmorebtn");
    moreButton.click(function () {
        const $this = $(this);
        $this.text($this.text() == moreText ? lessText : moreText).next(".more").slideToggle("fast");
    });
</script>
