﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.ImprovementActions;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.ImprovementActions.AddEditNewAccionMejoraViewModel
    
@{
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var titulo = ImprovementActionsResource.Editar;
    ViewBag.Title = titulo + " Acción de Mejora";
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "ImprovementPlans")">@ImprovementActionsResource.AccionesDeMejora</a></li>
    @if (Model.IdAccionMejora.HasValue )
    {
        <li><a href="@Url.Action("MantenimientoAccionesMejora", "ImprovementPlans")">@ImprovementActionsResource.Mantenimiento</a></li>

    } 
}
<form method="post">
    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @ImprovementActionsResource.DatosGeneralesDeLaAccionDeMejora</h3>
            </div>
            <div class="panel-body">
                    @Html.HiddenFor(x => x.IdAccionMejora)
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label-survey">@ImprovementActionsResource.Codigo</label>
                                @Html.TextBoxFor(x => x.Codigo, new { @class = "form-control", @disabled = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label-survey" style="font-weight: bold;">@ImprovementActionsResource.HallazgosAsociadosaLaAccionDemejora</label>

                                @Html.DropDownListFor(x => x.HallazgoId, Model.LstHallazgos, new { @data_plugin = "select2", @class = "form-control", @multiple = "multiple", @id = "hallazgos" })

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label-survey" style="font-weight: bold;">@ImprovementActionsResource.DescripcionDeLaAccionDeMejora</label>
                                @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control", @style = "resize: none;" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pull-right">

                            @if (Model.IdAccionMejora.HasValue)
                            {
                                <a class="btn btn-default" href="@Url.Action("MantenimientoAccionesMejora", "ImprovementPlans")" style="margin-top: 30px;"> @ButtonsOptionsResource.Cancelar </a>
                            }
                            else
                            {
                                <a class="btn btn-default" href="@Url.Action("Index", "ImprovementPlans")" style="margin-top: 30px;"> @ButtonsOptionsResource.Cancelar </a>
                            }
                            <button type="submit" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;"> @ButtonsOptionsResource.Guardar </button>
                        </div>
                    </div>
             </div>

        </div>
    </div>
</form>


@section scripts {
    <script>
            $(document).ready(function () {
                $('#hallazgos').val('@string.Join(",", Model.HallazgoId)'.split(',')).trigger('change');
            });
    </script>
}