﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.ImprovementActions;
@{
    ViewBag.Title = ImprovementActionsResource.AccionesDeMejora;
    ViewBag.Icon = "suitcase";
    Boolean esAcreditador = false;
}

@section Breadcrumbs{

}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera))
                            {
                                <li class="active" role="presentation"><a data-toggle="tab" href="#1Tab" aria-controls="exampleTabsLeftThree" role="tab" aria-expanded="false"><i class="fa fa-hand-o-up"></i> <span class="tabhidden">@ImprovementActionsResource.Registro</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#2Tab" aria-controls="exampleTabsLeftOne" role="tab" aria-expanded="true"><i class="fa fa-download"></i> <span class="tabhidden">@ImprovementActionsResource.Mantenimiento</span></a></li>
                                <li role="presentation"><a data-toggle="tab" href="#3Tab" aria-controls="exampleTabsLeftTwo" role="tab" aria-expanded="true"><i class="fa fa-sticky-note"></i> <span class="tabhidden">@ImprovementActionsResource.PlanesDeMejora</span></a></li>
                            }

                        </ul>
                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">
                            <div class="tab-pane @(esAcreditador == false ? "active" : "")" id="1Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i> @ImprovementActionsResource.Registro</h2>
                                <p align="justify">
                                    @ImprovementActionsResource.RegistrarUnaAccionDeMejora
                                </p>

                                <p>
                                    <!--AddEditAccionMejora-->
                                    <a class="pull-right btn btn-primary" href="@Url.Action("AddEditNewAccionMejora", "ImprovementActions")"><i class="fa fa-sign-in"></i> @ImprovementActionsResource.Ir</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="2Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-download"></i> @ImprovementActionsResource.Mantenimiento</h2>
                                <p align="justify">
                                    @ImprovementActionsResource.BrindaMantenimientoAAccionesDeMejoraPreviamenteRegistradas
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("LstAccionesMejora", "ImprovementActions")"><i class="fa fa-sign-in"></i> @ImprovementActionsResource.Ir</a>
                                </p>
                            </div>

                            <div class="tab-pane" id="3Tab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-sticky-note"></i> @ImprovementActionsResource.PlanesDeMejora</h2>
                                <p align="justify">
                                   @ImprovementActionsResource.GeneraPlanesDeMejora
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("LstAccionesParaPlan", "ImprovementActions")"><i class="fa fa-sign-in"></i> @ImprovementActionsResource.Ir</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
    </script>
}