﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.ImprovementActions;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.ImprovementActions.LstAccionesMejoraViewModel
@{
    ViewBag.Title = ImprovementActionsResource.AccionesDeMejora;
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

    ViewBag.Title = (language == ConstantHelpers.CULTURE.ESPANOL ? "*Mantenimiento" : "*Management");
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "ImprovementActions")">@ImprovementActionsResource.AccionesDeMejora</a></li>

}

<form method="post">

    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-filter"></i> @ImprovementActionsResource.Filtros</h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@ImprovementActionsResource.Constituyente</label>

                                        @Html.DropDownListFor(x => x.IdConstituyente, new SelectList(Model.LstConstituyente, "IdConstituyente", "NombreEspanol"), "[- " + @ImprovementActionsResource.Seleccione + " -]",  new { @class = "form-control",  @id = "constituyente" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@ImprovementActionsResource.Instrumento</label>

                                        @Html.DropDownListFor(x => x.IdInstrumento, new SelectList(Model.LstInstrumento, "IdInstrumento", "NombreEspanol"), "[- " + @ImprovementActionsResource.Seleccione + " -]", new { @class = "form-control", @id = "instrumento" })
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">@ImprovementActionsResource.Curso</label>
                                        @Html.DropDownListFor(x => x.IdCurso, new SelectList(Model.LstCurso, "IdCurso", "NombreEspanol"), "[- " + @ImprovementActionsResource.Seleccione + " -]", new { @class = "form-control", @id = "curso" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-survey">Outcome</label>
                                        @Html.DropDownListFor(x => x.IdOutcome, new SelectList(Model.LstOutcome, "IdOutcome", "Nombre"), "[- " + @ImprovementActionsResource.Seleccione + " -]", new { @class = "form-control", @id = "outcome" })
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="pull-right">
                                    <!--<a class="btn btn-warning" id="BtnGenerar"  href="@Url.Action("PrintPlanDeMejora", "Discoveries", new {IdConstituyente = Model.IdConstituyente, IdInstrumento = Model.IdInstrumento, IdCurso = Model.IdCurso, IdOutcome = Model.IdOutcome })" ><i class="fa fa-file-pdf-o"></i> Generar Plan de Mejora</a>-->
                                    <a class="btn btn-default" href="@Url.Action("LstAccionesMejora", "ImprovementActions")"><i class="fa fa-eraser"></i></a>
                                    <button type="submit" id="btnGenerar" class="btn btn-primary" > @ButtonsOptionsResource.Buscar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>




<div class="row">
    <div class="panel-group">
        <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">

                    <a class="panel-title collapsed" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOne2" id="reporte">
                        <h4><i class="fa fa-tasks"></i>@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Acciones de Mejora" : "*Action Plan"); </h4>
                    </a>
                </div>


                <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="true">


                    <div class="panel-body">

                        <div class="row">
                            <h3>&nbsp;</h3>
                            <table class="table table-hover table-striped" id="table">
                                <thead>
                                    <tr style="background-color: #FF1901;">
                                        <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Código" : "Code")</th>
                                        <th class="text-center" style="width: 65%;color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Descripción" : "Description")</th>
                                        <!--<th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Estado" : "State")</th>-->
                                        <th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Opciones" : "Options")</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="encuestas">
                                    @foreach (var item in Model.LstAccionMejora)
                                    {
                                        <tr>
                                            <td class="text-center">@item.Codigo</td>
                                            <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>
                                            <!--<td>@ConstantHelpers.PROFESSOR.IFC.ACCIONES_MEJORA.ESTADOS.GetEstadoAccionMejora(@item.Estado)</td>-->
                                            <td>
                                                <div class="btn-group  display-table-cell cell-options vertical-align-top pull-right" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        <span class="col-sm-hidden">
                                                            @ImprovementActionsResource.Opciones
                                                        </span>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                       <!--  <li role="presentation">
                                                            <a href="@Url.Action("AddEditAccionMejora", "Discoveries", new { AccionMejoraId = item.IdAccionMejora })">
                                                                <i aria-hidden="true" class="fa fa-pencil"></i>
                                                                Editar OLD
                                                            </a>
                                                        </li>-->
                                                        <li role="presentation">
                                                            <a href="@Url.Action("AddEditNewAccionMejora", "ImprovementActions", new { IdAccionMejora = item.IdAccionMejora })">
                                                                <i aria-hidden="true" class="fa fa-pencil"></i>
                                                                @ImprovementActionsResource.Editar
                                                            </a>
                                                        </li>
                                                        <li role="presentation">
                                                            <a href="@Url.Action("EliminarAccionMejora", "ImprovementActions", new { AccionMejoraId = item.IdAccionMejora})">
                                                                <i aria-hidden="true" class="fa fa-trash"></i>
                                                                @ImprovementActionsResource.Eliminar
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @Html.PagedListPager(Model.LstAccionMejora, page => Url.Action("LstAccionesMejora", new { numeroPagina = page, IdConstituyente = Model.IdConstituyente, IdInstrumento = Model.IdInstrumento, IdCurso = Model.IdCurso, IdOutcome = Model.IdOutcome }), ConstantHelpers.TwitterBootstrapPagerAligned)


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script>

    $(document).ready(function () {

        $('#constituyente').change(function () {
            ActualizarInstrumentos();
        });

        $('#curso').change(function () {
            ActualizarOutcomes();
        });


        function ActualizarInstrumentos() {
            console.log("actualizar");
            $("#instrumento").empty();
            $("#instrumento").append("<option value=''>@(ImprovementActionsResource.Cargando)...</option>");
            var constituyenteID = $('#constituyente').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetInstrumentos", "Json")',
                data: { IdConstituyente: constituyenteID },
                dataType: "json",
                success: function (data) {
                    $("#instrumento").empty();
                    $("#instrumento").append("<option value=''>[- @(ImprovementActionsResource.Seleccione)-]</option>");
                    for (i = 0; i < data.length; i++) {
                        $("#instrumento").append($('<option>').text(data[i]["NombreEspanol"]).attr('value', data[i]["IdInstrumento"]));

                    }
                }
            });
        }

        function ActualizarOutcomes() {

            $("#outcome").empty();
            $("#outcome").append("<option value=''>@(ImprovementActionsResource.Cargando)...</option>");
            var cursoID = $('#curso').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetOutcomesPorCurso", "Json")',
                data: { IdCurso: cursoID },
                dataType: "json",
                success: function (data) {
                    $("#outcome").empty();
                    $("#outcome").append("<option value=''>[- @(ImprovementActionsResource.Seleccione) -]</option>");
                    for (i = 0; i < data.length; i++) {
                        $("#outcome").append($('<option>').text(data[i]["NombreEspanol"]).attr('value', data[i]["IdOutcome"]));

                    }
                }
            });
        }



    });


</script>

}