﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.ImprovementActions;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.ImprovementActions.LstAccionesParaPlanViewModel
@{
    ViewBag.Title = ImprovementActionsResource.PlanDeMejora;
    ViewBag.Icon = "sticky-note";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

    ViewBag.Title = (language == ConstantHelpers.CULTURE.ESPANOL ? "*Plan de Mejora" : "*Improvement Plan") ;
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Index", "ImprovementActions")">@ImprovementActionsResource.AccionesDeMejora</a></li>
}

<form method="post">

    <div class="row">
        <div class="panel-group">
            <div class="panel-group" id="exampleAccordionDefault" aria-multiselectable="true" role="tablist">
                <div class="panel panel-bordered">
                    <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne" id="filtros">
                            <h4><i class="fa fa-filter"></i> @ImprovementActionsResource.Filtros </h4>
                        </a>
                    </div>
                    <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-survey">@ImprovementActionsResource.Anio</label>

                                        @Html.DropDownListFor(x => x.Anio, new SelectList(Model.LstAnios), "[- "+ImprovementActionsResource.Seleccione +" -]", new { @class = "form-control", @id = "anio" })

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-survey">@ImprovementActionsResource.Carrera</label>

                                        @Html.DropDownListFor(x => x.IdCarrera, new SelectList(Model.LstCarrera, "IdCarrera", "NombreEspanol"), "[- " + ImprovementActionsResource.Seleccione + " -]", new { @class = "form-control", @id = "carrera", @required = "true" })
                                        
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label-survey">@ImprovementActionsResource.Comision</label>

                                        @Html.DropDownListFor(x => x.IdComision, new SelectList(Model.LstComision, "IdComision", "Codigo"), "[- " + ImprovementActionsResource.Seleccione + " -]", new { @class = "form-control", @id = "comision", @required = "true" })
                                        
                                    </div>
                                </div>


                            </div>



                            <div class="row">
                                <div class="pull-right">
                                   @if (Model.Anio.HasValue && Model.IdCarrera.HasValue && Model.IdComision.HasValue)
                                   {
                                    <a class="btn btn-warning" id="BtnGenerar" href="@Url.Action("PrintPlanDeMejora", "ImprovementActions", new {Anio = Model.Anio, IdCarrera = Model.IdCarrera, IdComision = Model.IdComision })"><i class="fa fa-file-pdf-o"></i> @ImprovementActionsResource.GenerarPlanDeMejora</a>
                                   }
                                   else
                                   {

                                    <button  style="background-color:#f9d5ad;" type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Debes realizar una busqueda primero"><i class="fa fa-file-pdf-o"></i> @ImprovementActionsResource.GenerarPlanDeMejora</button>
                                   }
                                                
                                    <a class="btn btn-default" href="@Url.Action("LstAccionesParaPlan", "ImprovementActions")"><i class="fa fa-eraser"></i></a>
                                    <button type="submit" id="btnGenerar" class="btn btn-primary">  @ButtonsOptionsResource.Buscar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>




<div class="row">
    <div class="panel-group">
        <div class="panel-group" id="exampleAccordionDefault2" aria-multiselectable="true" role="tablist">
            <div class="panel panel-bordered">
                <div class="panel-heading" id="exampleHeadingDefaultOne2" role="tab">

                    <a class="panel-title collapsed" data-parent="#exampleAccordionDefault2" aria-expanded="true" aria-controls="exampleCollapseDefaultOne2" id="reporte">
                        <h4><i class="fa fa-tasks"></i>@(language == ConstantHelpers.CULTURE.ESPANOL ? "*Acciones de Mejora" : "*Action Plan"); </h4>
                    </a>
                </div>


                <div class="panel-collapse collapse in" id="exampleCollapseDefaultOne2" aria-labelledby="exampleHeadingDefaultOne2" role="tabpanel" aria-expanded="true">


                    <div class="panel-body">

                        <div class="row">
                            <h3>&nbsp;</h3>
                            <table class="table table-hover table-striped" id="table">
                                <thead>
                                    <tr style="background-color: #FF1901;">
                                        <th class="text-center" style="color:white;">@ImprovementActionsResource.Codigo</th>
                                        <th class="text-center" style="width: 65%;color:white;">@ImprovementActionsResource.Descripcion</th>
                                        <!--<th class="text-center" style="color:white;">@(language == ConstantHelpers.CULTURE.ESPANOL ? "Estado" : "State")</th>-->
                                        <th class="text-center" style="color:white;">@ImprovementActionsResource.Opciones</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="encuestas">
                                    @foreach (var item in Model.LstAccionMejora)
                                    {
                                        <tr>
                                            <td class="text-center">@item.Codigo</td>
                                            <td class="text-center">@(language == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)</td>
                                            <!-- <td>@ConstantHelpers.PROFESSOR.IFC.ACCIONES_MEJORA.ESTADOS.GetEstadoAccionMejora(@item.Estado)</td>-->
                                            <td>
                                                <div class="btn-group  display-table-cell cell-options vertical-align-top pull-right" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        <span class="col-sm-hidden">
                                                            @ImprovementActionsResource.Opciones
                                                        </span>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li role="presentation">
                                                            <a href="@Url.Action("AddEditNewAccionMejora", "ImprovementActions", new { IdAccionMejora = item.IdAccionMejora })">
                                                                <i aria-hidden="true" class="fa fa-pencil"></i>
                                                                @ImprovementActionsResource.Editar
                                                            </a>
                                                        </li>
                                                        <li role="presentation">
                                                            <a href="@Url.Action("EliminarAccionMejora", "ImprovementActions", new { AccionMejoraId = item.IdAccionMejora})">
                                                                <i aria-hidden="true" class="fa fa-trash"></i>
                                                                @ImprovementActionsResource.Eliminar
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

    $(document).ready(function () {


        $('#carrera').change(function () {
            ActualizarComisiones();
        });

        function ActualizarComisiones() {
            console.log("actualizar");
            $("#comision").empty();
            $("#comision").append("<option value=''>@(ImprovementActionsResource.Cargando)...</option>");
            var carreraID = $('#carrera').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetComisionPorCarrera", "Json")',
                data: { IdCarrera: carreraID },
                dataType: "json",
                success: function (data) {
                    $("#comision").empty();
                    $("#comision").append("<option value=''>[- @(ImprovementActionsResource.Seleccione)-]</option>");
                    for (i = 0; i < data.length; i++) {
                        if (data[i]["Codigo"] == "WASC")
                            continue;
                        $("#comision").append($('<option>').text(data[i]["Codigo"]).attr('value', data[i]["IdComision"]));
                    }
                }
            });
        }

    });


    </script>

}