﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.PartialView.ListRubricViewModel
@{
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}
<div class="table-responsive">
    <table id="tbl_rubricas" class="table table-striped table-hover dataTable">
        <thead class="hiddenHeader">
            <tr>
                <th class="col-md-4">Carrera</th>
                <th>Curso</th>
                <th>Evaluación</th>
                <th>Editable</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rubrica in Model.lstRubricas)
            {
                <tr>
                    <td><span class="hiddenTexto">Carrera:</span> @rubrica.Evaluacion.CarreraCursoPeriodoAcademico.Carrera.NombreEspanol</td>
                    <td><span class="hiddenTexto">Curso:</span> @rubrica.Evaluacion.CarreraCursoPeriodoAcademico.CursoPeriodoAcademico.Curso.NombreEspanol</td>
                    <td><span class="hiddenTexto">Evaluacion:</span> @rubrica.Evaluacion.TipoEvaluacion.Tipo</td>
                    <td><span class="hiddenTexto">Editable:</span> <h4><span class="label @(rubrica.SePuedeEditar ? "label-success":"label-danger")">@(rubrica.SePuedeEditar ? RubricCreateResource.Si : RubricCreateResource.No)</span></h4></td>
                    <td>
                        <span class="hiddenTexto">Opciones: </span>
                        @if (rubrica.SePuedeEditar)
                        {
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-cog" aria-hidden="false"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("EditRubrica", "Rubric", new { IdRubrica = rubrica.IdRubrica })" role="menuitem"><i class="fa fa-pencil"></i> Editar</a></li>
                                    <li><a onclick="EliminarRubrica(@rubrica.IdRubrica)" role="menuitem"><i class="fa fa-trash"></i> Eliminar</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a class="btn btn-default" href="@Url.Action("VerRubrica", "Rubric", new { IdRubrica = rubrica.IdRubrica })"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
