﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.PartialView.ListOutcomeConfigureViewModel
@{
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
}

<div class="row">
    <table class="table table-hover">
        <tbody>
            @foreach (var Outcome in Model.ConfiguredOutcomes)
            {
                <tr style="background-color: @(Outcome.EsCalificado ? "#a2daed" : "" )" onclick="saveOutcome(@Outcome.IdMallaCocosDetalle)">
                    <td>@Outcome.CodigoComision (@Outcome.NombreOutcome) : @Outcome.Descripcion</td>
                </tr>
            }
        </tbody>
    </table>
</div>
