﻿@using UPC.CA.ABET.Presentation.Areas.Indicator.Resources.Views.Shared;
@model UPC.CA.ABET.Presentation.Areas.Indicator.ViewModels.ReportViewModel

<style>
    #navigation-menu {
        z-index: 1;
        position: fixed;
    }
</style>

<div class="row">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i>&nbsp; @_IndicatorResource.ElegirCiclo</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-6">
                    @Html.DropDownList("termDropDown", Model.Terms, new { @class = "form-control" })
                </div>
                <div class="col-md-5">
                    <div class="pull-right">
                    @if (Model.Type.Equals(ConstantHelpers.INDICATOR_REPORT_TYPE.STUDENT_SECTION))
                    {
                        <div id="navigation-menu" class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                @_IndicatorResource.Sede
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#table0">MO</a></li>
                                <li><a href="#table1">SI</a></li>
                                <li><a href="#table2">VI</a></li>
                                <li><a href="#table3">SM</a></li>
                            </ul>
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="spinner-div" class="row" hidden="hidden">
    <div id="spinner" class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
    <div id="spinner-message">
        <center>
            <p>@_IndicatorResource.GenerandoReporte...</p>
        </center>
    </div>
</div>

<div id="charts-panel" class="row" hidden="hidden">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bar-chart"></i>&nbsp; @_IndicatorResource.GraficoDeIndicador</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>
        </div>
        <div class="panel-body">
            <div id="charts">
            </div>
        </div>
    </div>
</div>

<div id="tables-panel" class="row" hidden="hidden">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-table"></i>&nbsp; @_IndicatorResource.TablaDeIndicador</h3>
            <div class="panel-actions">
                <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
            </div>
        </div>
        <div id="tables" class="panel-body">
        </div>
    </div>
</div>

<div>
    <input id="getReportUrl" class="hidden" type="text" value="@Model.GetReportUrl" />
</div>

<div>
    <input id="type" class="hidden" type="text" value="@Model.Type" />
</div>

<div>
    <input id="plugin" class="hidden" type="text" value="@Model.Plugin" />
</div>