﻿@using UPC.CA.ABET.Presentation.Areas.Indicator.Resources.Views.Shared
<div class="page-aside">
    <div class="page-aside-switch">
        <i class="icon wb-chevron-left" aria-hidden="true"></i>
        <i class="icon wb-chevron-right" aria-hidden="true"></i>
    </div>
    <div class="page-aside-inner" data-plugin="pageAsideScroll">
        <div data-role="container">
            <div data-role="content">
                @switch ((string)TempData["SidebarType"])
                {
                    case "Maintenance":
                        <section class="page-aside-section">
                            <div class="list-group">
                                <a class="list-group-item" href="@Url.Action("HiredProfessorsCheck","Maintenance")"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;<span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDocentesContratados</span></a>
                                <a class="list-group-item" href="@Url.Action("TimeProfesor","Maintenance")"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDocentesHorasProgramadas</span></a>
                                <a class="list-group-item" href="@Url.Action("InTimeCDCheck","Maintenance")"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionEntregaCD</span></a>
                                <a class="list-group-item" href="@Url.Action("InTimeScheduleCheck","Maintenance")"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionRevisionHorarios</span></a>
                                <a class="list-group-item" href="@Url.Action("InTimeSyllabusCheck","Maintenance")"><i class="fa fa-table" aria-hidden="true"></i>&nbsp; <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionEntregaSilabos</span></a>
                                <a class="list-group-item" href="@Url.Action("VirtualClassConfigurationCheck","Maintenance")"><i class="fa fa-laptop" aria-hidden="true"></i>&nbsp; <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionRevisionAulaVirtual</span></a>
                                <a class="list-group-item" href="@Url.Action("InTimeFinalExamCheck","Maintenance")"><i class="fa fa-table" aria-hidden="true"></i>&nbsp;<span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionEntregaFinales</span></a>
                                 @if (Session.GetModalidadId() == 1)
                                 {
                                        <a class="list-group-item" href="@Url.Action("InTimeMidTermsCheck","Maintenance")"><i class="fa fa-table" aria-hidden="true"></i>&nbsp; <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionEntregaParciales</span></a>
                                 }
                                <a class="list-group-item" href="@Url.Action("InTimeMakeUpExamCheck","Maintenance")"><i class="fa fa-table" aria-hidden="true"></i>&nbsp; <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionEntregaRecuperacion</span></a>
                                <a class="list-group-item" href="@Url.Action("CorrectFinalExamCheck","Maintenance")"><i class="fa fa-table" aria-hidden="true"></i>&nbsp; <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionElaboracionFinales</span></a>
                                @if (Session.GetModalidadId() == 1)
                                {
                                 <a class="list-group-item" href="@Url.Action("CorrectMidTermExamCheck", "Maintenance")"><i class="fa fa-table" aria-hidden="true"></i>&nbsp; <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionElaboracionParciales</span></a>
                                }
                                <a class="list-group-item" href="@Url.Action("CorrectMakeUpExamCheck","Maintenance")"><i class="fa fa-table" aria-hidden="true"></i>&nbsp; <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionElaboracionRecuperacion</span></a>
                                <a class="list-group-item" href="@Url.Action("HasFinalExamCheck","Maintenance")"><i class="fa fa-table" aria-hidden="true"></i>&nbsp;<span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionConfiguracionFinales</span></a>
                                @if (Session.GetModalidadId() == 1)
                                {
                                 <a class="list-group-item" href="@Url.Action("HasMidTermExamCheck", "Maintenance")"><i class="fa fa-table" aria-hidden="true"></i>&nbsp; <span class="site-menu-title">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionConfiguracionParciales</span></a>
                                }
                            </div>
                        </section>
                        break;
                    case "Indicator":
                        <section class="page-aside-section">
                            <div class="list-group">
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.HIRED_PROFESSORS } )"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; @_IndicatorResource.DocentesContratados</a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.PROFESSOR_HOURS } )"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; @_IndicatorResource.DocentesHorasProgramadas</a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.IN_TIME_SCHEDULE } )"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; @_IndicatorResource.RevisionDeHorarios</a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.IN_TIME_CD } )"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; @_IndicatorResource.EntregaDeCD </a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.IN_TIME_SYLLABUS } )">
                                    <i class="fa fa-table" aria-hidden="true"></i>&nbsp; @_IndicatorResource.EntregaDeSilabos
                                </a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.IN_TIME_VIRTUAL_CLASS } )"><i class="fa fa-laptop" aria-hidden="true"></i>&nbsp; @_IndicatorResource.RevisionDeAulaVirtual</a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.ATTRITION_LEVEL } )"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i>&nbsp; @_IndicatorResource.NivelDeAttrition</a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.ATTRITION_MODALITY } )"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i>&nbsp; @_IndicatorResource.AttritionPorModalidad</a>
                                @*<a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.ATTRITION_RATIO } )"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i>&nbsp; Ratios de attrition</a>*@
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.IN_TIME_EXAMS } )"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp; @_IndicatorResource.EntregaDeExamenes</a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.CORRECT_EXAMS } )"><i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp; @_IndicatorResource.CalidadDeExamenes</a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.COHORT } )"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp; @_IndicatorResource.Cohorte</a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.STUDENT_COHORT } )"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp; @_IndicatorResource.EstudiantesCohorte</a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.CERTIFICATED_STUDENTS } )"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp; @_IndicatorResource.Titulaciones</a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.PROFESSOR_PUNCTUALITY } )"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; @_IndicatorResource.PuntualidadDeDocentes</a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.PROFESSOR_ATTENDANCE } )"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; @_IndicatorResource.AsistenciaDeDocentes</a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.MEETINGS } )"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; @_IndicatorResource.ReunionesDeCoordinacion</a>
                                @*<a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.STUDENT_PERIOD } )"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; Alumnos por ciclo</a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.STUDENT_CAMPUS } )"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; Alumnos por sede</a>
                                <a class="list-group-item" href="@Url.Action("Default","Report", new { type = ConstantHelpers.INDICATOR_REPORT_TYPE.STUDENT_SECTION} )"><i class="fa fa-users" aria-hidden="true"></i>&nbsp; Alumnos por sección</a>*@
                            </div>
                        </section>
                        break;
                }

            </div>
        </div>
    </div>
</div>