﻿.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    color: #f7f2f2;
    background-color: #ff5e4d;
    border-color: #ff5e4d;
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    color: #f7f2f2;
    background-color: #8e7676;
    border-color: #f7f2f2;
}

.panel-group-continuous .panel + .panel {
    margin-top: 0 !important;
    border-top: 5px solid #fff !important;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top-color: transparent !important;
    border: 1px solid #e4eaec !important;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


.checkbox-custom label::before {
    border: 1px solid #ff1901;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #e4eaec 1px !important;
    outline: 0;
}




.panel-group .panel-title-survey {
    position: relative;
    padding: 15px 30px;
    font-size: 14px
}
.panel-group .panel-title-survey:after,
.panel-group .panel-title-survey:before {
    position: absolute;
    top: 15px;
    right: 30px;
    font-family: "Web Icons";
    -webkit-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
    transition: all .3s linear 0s
}
.panel-group .panel-title-survey:before {
    content: "\f197"
}
.panel-group .panel-title-survey:after {
    content: "\f199"
}
.panel-group .panel-title-survey[aria-expanded=false]:before {
    opacity: 1
}
.panel-group .panel-title-survey[aria-expanded=false]:after {
    opacity: 0.1;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg)
}
.panel-group .panel-title-survey[aria-expanded=true]:before {
    opacity: 0.1;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}
.panel-group .panel-title-survey[aria-expanded=true]:after {
    opacity: 1
}
.panel-group .panel-title-survey:focus,
.panel-group .panel-title-survey:hover {
    color: #8e7676;
    text-decoration: none
}
.panel-group .panel-title-survey:focus {
    outline: 0
}
.panel-title-survey.collapsed
{
    background-color: #ABA7A7;
    color: white;
}
.panel-title-survey {
    background-color: red;
    color: white;
    display: block;
}
.panel-group .panel-title-survey:focus, .panel-group .panel-title-survey:hover {
    color: white;
}
.label-survey{
    padding: 6px 15px;
    font-size: 16px;
}
