/*-------------------------
	Simple reset
--------------------------*/
/*

*{
	margin:0;
	padding:0;
}*/


/*-------------------------
	General Styles
--------------------------*/

/*
body{
	font:15px/1.3 'Raleway', sans-serif;
	color: #5e5b64;
	padding-bottom:120px;
	text-align: center;
}*/

/*
a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside{
	display: block;
}*/ 


/*-------------------------
	The main page elements
--------------------------*/

/*
h1{
	font-size: 36px;
	color: #5e5b64;
	text-align: center;
	padding-top: 100px;
	padding-bottom:40px;
	position: relative;
}*/

div.control-area{
	font: bold 14px 'Raleway',sans-serif;
	margin: 40px auto 0;
	background-color: #f3f3f3;
	padding: 20px;
	border-radius: 5px;
	width: 400px;
	color:#888;
}

div.control-area a{
	display: inline-block;
	cursor: pointer;
	margin: 7px auto;
	background-color: #fdfdfd;
	border-radius: 2px;
	padding: 8px 10px;
	font-size: 13px;
	text-transform: uppercase;
}

div.control-area a:hover{
	background-color: #fff;
	box-shadow:0 1px 1px #dfdfdf;
}


/*-------------------------
	The buttons
--------------------------*/


.progress-button{
	display: inline-block;
	font-size:20px;
	color:#fff !important;
	text-decoration: none !important;
	padding:14px 60px;
	line-height:1;
	overflow: hidden;
	position:relative;

	box-shadow:0 1px 1px #ccc;
	border-radius:2px;

	background-color: #51b7e6;
	background-image:-webkit-linear-gradient(top, #51b7e6, #4dafdd);
	background-image:-moz-linear-gradient(top, #51b7e6, #4dafdd);
	background-image:linear-gradient(top, #51b7e6, #4dafdd);
}

/*	Hide the original text of the button. Then the loading or finished
	text will be shown in the :after element above it. */

.progress-button.in-progress,
.progress-button.finished{
	color:transparent !important;
}

.progress-button.in-progress:after,
.progress-button.finished:after{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	padding-top: inherit;
	color: #fff !important;
	left: 0;
}

/*	If the .in-progress class is set on the button, show the
	contents of the data-loading attribute on the butotn */

.progress-button.in-progress:after{
	content:attr(data-loading);
}

/* The same goes for the .finished class */

.progress-button.finished:after{
	content:attr(data-finished);
}

/* The colorful bar that grows depending on the progress */

.progress-button .tz-bar{
	background-color:#e667c0;
	height:3px;
	bottom:0;
	left:0;
	width:0;
	position:absolute;
	z-index:1;

	border-radius:0 0 2px 2px;

	-webkit-transition: width 0.5s, height 0.5s;
	-moz-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
}

/* The bar can be either horizontal, or vertical */

.progress-button .tz-bar.background-horizontal{
	height:100%;
	border-radius:2px;
}

.progress-button .tz-bar.background-vertical{
	height:0;
	top:0;
	width:100%;
	border-radius:2px;
}


/*----------------------------
	Color themes
-----------------------------*/


.progress-button.red{
	background-color: #e6537d;
	background-image:-webkit-linear-gradient(top, #e6537d, #df5179);
	background-image:-moz-linear-gradient(top, #e6537d, #df5179);
	background-image:linear-gradient(top, #e6537d, #df5179);
}

.progress-button.red .tz-bar{
	background-color:#6876b4;
}


.progress-button.green{
	background-color: #64c896;
	background-image:-webkit-linear-gradient(top, #64c896, #5fbd8e);
	background-image:-moz-linear-gradient(top, #64c896, #5fbd8e);
	background-image:linear-gradient(top, #64c896, #5fbd8e);
}

.progress-button.green .tz-bar{
	background-color:#9e81d6;
}


/*----------------------------
	The Demo Footer
-----------------------------*/

/*
footer{

	width: 770px;
	font: normal 16px Arial, Helvetica, sans-serif;
	padding: 15px 35px;
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -420px;

	background-color:#1f1f1f;

	background-image:-webkit-linear-gradient(top, #1f1f1f, #101010);
	background-image:-moz-linear-gradient(top, #1f1f1f, #101010);
	background-image:linear-gradient(top, #1f1f1f, #101010);

	border-radius:2px 2px 0 0;

	box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
	z-index:1;
}

footer a.tz{
	font-weight:normal;
	font-size:16px !important;
	text-decoration:none !important;
	display:block;
	margin-right: 300px;
	text-overflow:ellipsis;
	white-space: nowrap;
	color:#bfbfbf !important;
	z-index:1;
}

footer a.tz:before{
	content: '';
	background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 -53px;
	width: 138px;
	height: 20px;
	display: inline-block;
	position: relative;
	bottom: -3px;
}

footer .close{
	position: absolute;
	cursor: pointer;
	width: 8px;
	height: 8px;
	background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 0px;
	top:10px;
	right:10px;
	z-index: 3;
}

footer #tzine-actions{
	position: absolute;
	top: 8px;
	width: 500px;
	right: 50%;
	margin-right: -650px;
	text-align: right;
	z-index: 2;
}

footer #tzine-actions iframe{
	display: inline-block;
	height: 21px;
	width: 95px;
	position: relative;
	float: left;
	margin-top: 11px;
}
    */