﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.IfcManagement;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.IfcManagement.AddEvidenciaViewModel
@{
    Layout = null;
    ViewBag.Title = IFCManagementResource.IngresoDeEvidencia;
    ViewBag.Icon = "navicon";
    ViewBag.GUID = Guid.NewGuid();
}
@section Styles{
    <style>
    </style>
}


    <div id="modalAddHallazgo-@ViewBag.GUID">
        @Html.HiddenFor(x => x.CodAccionMejora, new { @id = "CodAccionMejora" })
        @Html.HiddenFor(x => x.idAccionDeMejora, new { @id = "idAccionDeMejora" })
        @Html.HiddenFor(x => x.vistaF, new { @id = "idvista" })
        <div class="modal-header" id="modalAddHallazgoHead-@ViewBag.GUID">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="deleteMarkup()"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title"><i class="fa fa-@ViewBag.Icon contrast">&nbsp;</i> @ViewBag.Title </h4>
            <input class="hiddenCriticidad" type="hidden" name="posicion" id="Posicion" />
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label> <strong>- @IFCManagementResource.DescripcionAccionMejora :</strong></label>
                <label> @Model.AccionDeMejora</label>
                <br />
                <label> <b>@IFCManagementResource.IngreseLaJustificacion</b></label>
                @Html.TextAreaFor(x => x.AddEvidenciaText, new { @class = "form-control", @required = "true", @id = "AccionMejoraText" })
                @Html.ValidationMessageFor(x => x.AddEvidenciaText)
                <br />

                <br />
                <label style="display:none ">  @IFCManagementResource.IngreseLaJustificacion </label>


            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label>@IFCManagementResource.Imagen</label>

                        @Html.TextBoxFor(x => x.file, new { @type = "file", @accept = "*", @id = "AccionMejoraFile", @name = "AccionMejoraFile" })
                    </div>
                </div>
            </div>


        </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @IFCManagementResource.Cerrar</button>
            <button type="button" class="btn btn-primary" id="btnGenerar" onclick="aceptar(); this.onclick = null;"><i class="fa fa-check"></i> @ButtonsOptionsResource.Aceptar</button> <!-- this.onclick=null; para evitar duplicados despues de un click -->


        </div>

    </div>
   


<script id="scriptAddHallazgo-@ViewBag.GUID">


    function aceptar() {

        var Text = $('#AccionMejoraText').val();
        var codAcM = $('#CodAccionMejora').val();
        var idAcM = $('#idAccionDeMejora').val();
        var tipofor = $('#idvista').val();

        var fileData = new FormData();
        

        var fileUpload = $("#AccionMejoraFile").get(0);
        var files = fileUpload.files;
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }
        fileData.append('AccionMejoraText', Text);
        fileData.append('idAccionDeMejora',idAcM);
        fileData.append('CodAccionMejora', codAcM);
        fileData.append('idvista', tipofor);

        
            $.ajax({
                type: "POST",
                contentType: false,
                processData: false,
                url: '@Url.Action("AddEditEvidence", "IfcManagement")',
                data: fileData,
                success: function (data) {
                    switch (data) {
                        case "Empty":
                            swal({
                                title: '@(IFCManagementResource.AccionNoPermitida)',
                                text: '@(IFCManagementResource.AseguraseHaberIngresadoJustificacion)',
                                type: 'error',
                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                confirmButtonText: '@(ButtonsOptionsResource.Aceptar)'
                            });
           
                            break;
                        case "Plan_True":
                            $('#VentanaModal').modal('hide');
                            alertify.success('@(IFCManagementResource.EvidenciaCargada)');
                            break;
                        case "IFC_True":
                            $('#VentanaModal').modal('hide');
                            location.reload();
                            alertify.success('@(IFCManagementResource.EvidenciaCargada)');
                            break;
                        case "False":
                            alertify.error('@(IFCManagementResource.ErrorDeTipoDeArchivo)');
                            break;
                        default:
                            break;
                    }
                }
            });
    }
</script>