﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.IfcManagement;
@{
    ViewBag.Title = @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.CargaMasivaDeInformesDeFinDeCiclo;
    ViewBag.Icon = "upload";
}


@section Styles{
@Html.Content("css/dropzone.css", ConstantHelpers.AREAS.PROFESSOR)
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Consult","IfcManagement")">@IFCManagementResource.ConsultarIFC</a></li>
}

@section Scripts{
    @Html.Content("js/dropzone.js", ConstantHelpers.AREAS.PROFESSOR)
}
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-file-excel-o"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.CargaMasivaDeIFC</h3>
    </div>
    <div class="panel-body">
        <form method="post" action="@Url.Action("CargaMasivaIFC", "IFCManagement")">
            <button type="submit" class="btn btn-danger" href="#"><i class="fa fa-file-excel-o"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.DescargarPlantilla</button>
        </form>
        <br />
        @using (Html.BeginForm("CargaMasivaIFC", "IFCManagement", FormMethod.Post, new { enctype = "multipart/form-data", @class = "dropzone" }))
        {
            <div class="fallback">
                <input name="file" type="file" multiple />
                <input type="submit" value="@(IFCManagementResource.CargarArchivos)" />
            </div>
        }
    </div>
</div>

