﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.IfcManagement;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.IfcManagement.ConsultIfcViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;

@{
	ViewBag.Title = ProfessorResource.ConsultarIFC;
	ViewBag.Icon = "search";
	var roles = Session.GetRoles();
	String BreadCrumbString =  "Informes de Fin de Ciclo";
    var language =this.Model.Language;
}

@section Styles {
	@Html.Content("css/bootstrap-wysihtml5.css", ConstantHelpers.AREAS.PROFESSOR)
	@Html.Content("css/sweetalert.css", ConstantHelpers.AREAS.SURVEY)
}


@section Breadcrumbs {
	<li><a href="@Url.Action("Management","IfcManagement")">@IFCManagementResource.InformesDeFinDeCiclo</a></li>
}
<input type="hidden" id="LanguageView" value="@language" />
<div class="row">
	<div class="col-md-12">
		<div class="panel filters">
			@Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ProfessorResource.Filtro, PanelActions.Collapse)
			<div class="panel-body">
				<div class="row">

					@Html.FormGroup(ProfessorResource.PeriodoAcademico + ":", Html.DropDownListFor(m => m.IdPeriodoAcademico, Model.AvailablePeriodoAcademicos, ProfessorResource.Todos, new { @class = "form-control" }))
					@Html.FormGroup(ProfessorResource.Area + ":", Html.DropDownListFor(m => m.IdAreaUnidadAcademica, Model.AvailableAreas, ProfessorResource.Todas, new { @class = "form-control" }))
				</div>
				<div class="row">
					@Html.FormGroup(ProfessorResource.Subarea + ":", Html.DropDownListFor(m => m.IdSubareaUnidadAcademica, Model.AvailableSubareas, ProfessorResource.Todas, new { @class = "form-control" }))
					@Html.FormGroup(ProfessorResource.Curso + ":", Html.DropDownListFor(m => m.IdCursoUnidadAcademica, Model.AvailableCursos, ProfessorResource.Todos, new { @class = "form-control" }))
				</div>
				<div class="row">
					<div class="form-group col-sm-12 col-md-6"></div>
					@Html.FormGroup(ProfessorResource.Estado + ":", Html.DropDownListFor(m => m.Estado, Model.AvailableEstados, ProfessorResource.Todos, new { @class = "form-control" }))
				</div>
				<div class="row">
					<div class="col-sm-12 text-right">
						<button type="button" id="btnBuscar" class="btn btn-dark"><i class="fa fa-search"></i> @ButtonsOptionsResource.Buscar</button>
					</div>
				</div>
			</div>
		</div>

		<div class="panel">
			@Html.PanelHeader("<i class=\"fa fa-align-justify\"></i> " + ProfessorResource.Resultados, PanelActions.Collapse)
			<div class="panel-body">
				<div class="text-right">
					@if (roles.HasRole(AppRol.Administrador) || roles.HasRole(AppRol.CoordinadorCarrera) || roles.HasRole(AppRol.MiembroComite))
					{
						<a class="btn btn-default animsition-link" href="@Url.Action("CargaMasivaIFC", "IfcManagement", new { Area = ConstantHelpers.AREAS.PROFESSOR })"><i class="fa fa-plus"></i> @IFCManagementResource.CargarIFC</a>
					}
                
					<a class="btn btn-primary animsition-link" href="@Url.Action("Create", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})"><i class="fa fa-plus"></i> @ButtonsOptionsResource.Crear</a>
                    
				</div>
				<table id="tblResultados" class="table table-striped table-hover" data-info="true" data-length-change="true" data-paginate="true">
					<thead>
						<tr>
							<th>@ProfessorResource.Codigo</th>
							<th>@ProfessorResource.PeriodoAcademico</th>
							<th>@ProfessorResource.Carrera </th>
							<th>@ProfessorResource.Curso</th>
							<th>@ProfessorResource.CoordinadorCurso</th>
							<th>@ProfessorResource.Estado</th>
							<th class="text-right" style="width: 14%">@ProfessorResource.Opciones</th>
						</tr>
					</thead>
					<tbody id="SOPPP">
						@{var i = 0;}
						@foreach (var item in Model.Resultados)
						{
							++i;
							<tr id="tdResultado-@i">
								<td>@item.Codigo</td>
								<td>@item.PeriodoAcademico</td>
								<td>@item.Carrera</td>
								<td>@item.Curso</td>
								<td>@item.CoordinadorCurso</td>
								<td>@item.Estado</td>
								<td class="text-right">
									<!-- Split button -->
									<div class="btn-group">
										<a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("View", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR, Id = item.IdIfc})"><i class="fa fa-search"></i>&nbsp;@ButtonsOptionsResource.Visualizar</a>
										<button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="caret"></span>
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu">
											@if (!item.DisableEditar)
											{
												<li><a class="animsition-link" href='@Url.Action("Edit", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR, Id = item.IdIfc})'><i class="fa fa-edit"></i> @ButtonsOptionsResource.Editar</a></li>
											}
											@if (!item.DisableEliminar)
											{
												<li><a onclick="deleteIfc(@item.IdIfc, @i)" href="#"><i class="fa fa-trash"></i> @ButtonsOptionsResource.Eliminar</a></li>
											}
										</ul>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
@section Scripts{

	@Html.Content("vendor/jt-timepicker/jquery.timepicker.min.js")
	@Html.Content("vendor/bootstrap-select/bootstrap-select.min.js")
	@Html.Content("js/bootstrap-wysihtml5.js", ConstantHelpers.AREAS.PROFESSOR)
	@Html.Content("js/sweetalert.min.js", ConstantHelpers.AREAS.SURVEY)
	<script type='text/javascript' src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
	<script type='text/javascript' src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js"></script>
	<script>
        function deleteIfc(idIfc, index) {
                swal({
                title: '@ProfessorResource.EstaSeguro',
                text: '@ProfessorResource.EliminarIFC',
                type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "@(IFCManagementResource.Cancelar)",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "@(IFCManagementResource.SiEliminalo)",
                html: true
                },
                function () {
                    var targetUrl = '@Url.Action("Delete", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})' + '/' + idIfc;
                    $.ajax({
                        url: targetUrl,
                        type: 'POST',
                        beforeSend: function () {
                            $.LoadingOverlay("show");
                        },
                        complete: function () {
                            $.LoadingOverlay("hide");
                        },
                        success: function () {
                            $('#tdResultado-' + index).fadeOut(300, function () { $('#tdResultado-' + index).remove(); });
                            $('.page-content')
                                .before('<div class="card-body card-padding"><div class="alert alert-dismissible dark alert-success" role="alert"><i class="fa fa-times"></i>&nbsp;<button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>@ProfessorResource.EliminarIFCCorrectamente</div></div>')
                                .fadeIn(300, function () { });
                        },
                        fail: function () {
                            $('.page-content')
                                .before('<div class="card-body card-padding"><div class="alert alert-dismissible dark alert-danger" role="alert"><i class="fa fa-times"></i>&nbsp;<button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>@ProfessorResource.EliminarIFCFallido</div></div>')
                                .fadeIn(300, function () { });
                        }
                    })

                });


        }

        $(document)
            .ready(function () {
                $("#btnBuscar").click(function ()
                {                        
                    var url = '@Url.Action("Consult", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})';
                    var idAreaUnidadAcademica = $("#IdAreaUnidadAcademica").val();
                    var idSubareaUnidadAcademica = $("#IdSubareaUnidadAcademica").val();
                    var idCursoUnidadAcademica = $("#IdCursoUnidadAcademica").val();
                    var idPeriodoAcademico = $("#IdPeriodoAcademico").val();

                    var lenguaje = $('#LanguageView').val();
                    var estado = $("#Estado").val();

                    url += '?isSearchRequest=true';

                    if (estado != "" && estado != null) url += '&estado=' + estado;
                    if (idAreaUnidadAcademica != "" && idAreaUnidadAcademica != null) url += '&idAreaUnidadAcademica=' + idAreaUnidadAcademica;
                    if (idSubareaUnidadAcademica != "" && idSubareaUnidadAcademica != null) url += '&idSubareaUnidadAcademica=' + idSubareaUnidadAcademica;
                    if (idCursoUnidadAcademica != "" && idCursoUnidadAcademica != null) url += '&idCursoUnidadAcademica=' + idCursoUnidadAcademica;
                    if (idPeriodoAcademico > 0) url += '&idPeriodoAcademico=' + idPeriodoAcademico;
                    if (idPeriodoAcademico == '') {

                        if (lenguaje == 'en-US') {
                            swal({
                                title: 'Missing field',
                                text: 'You must select an academic period',
                                type: 'warning',                                    
                            });
                        } else {
                            swal({
                                title: 'Campo faltante',
                                text: 'Debe seleccionar un periodo académico',
                                type: 'warning',                                    
                            });
                        }

                    } else {
                        location.href = url;
                    }
                        
                });

                function cargarSubareasForPeriodoAcademico(hasValue, idPeriodoAcademicoVal) {
                    $("#IdSubareaUnidadAcademica").empty();
                    $("#IdSubareaUnidadAcademica").prop("disabled", true);
                    $("#IdSubareaUnidadAcademica").append('<option value="">@ProfessorResource.CargandoSubareas</option>');
                    if (hasValue === false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllSubareas", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: {},
                            success: function (subareas) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">@ProfessorResource.Todas</option>');
                                $.each(subareas,
                                    function (i, subarea) {
                                        $("#IdSubareaUnidadAcademica")
                                            .append('<option value="' +
                                                subarea.Value +
                                                '">' +
                                                subarea.Text +
                                                '</option>');

                                    });

                                $("#IdSubareaUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdSubareaUnidadAcademica").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                                });
                            }
                        });
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllSubareasForPeriodoAcademico", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { idPeriodoAcademico: idPeriodoAcademicoVal },
                            success: function (subareas) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">@ProfessorResource.Todas</option>');
                                $.each(subareas,
                                    function (i, subarea) {
                                        $("#IdSubareaUnidadAcademica")
                                            .append('<option value="' +
                                                subarea.Value +
                                                '">' +
                                                subarea.Text +
                                                '</option>');

                                    });

                                $("#IdSubareaUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdSubareaUnidadAcademica").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                                });
                            }
                        });
                    }
                }

                function cargarAreasForPeriodoAcademico(hasValue, idPeriodoAcademicoVal) {
                    $("#IdAreaUnidadAcademica").empty();
                    $("#IdAreaUnidadAcademica").prop("disabled", true);
                    $("#IdAreaUnidadAcademica").append('<option value="">@ProfessorResource.CargandoAreas</option>');
                    if (hasValue === false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllAreasForPeriodoAcademico", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: {},
                            success: function (areas) {
                                $("#IdAreaUnidadAcademica").empty();
                                $("#IdAreaUnidadAcademica").append('<option value="">@ProfessorResource.Todas</option>');
                                $.each(areas,
                                    function (i, area) {
                                        $("#IdAreaUnidadAcademica")
                                            .append('<option value="' +
                                                area.Value +
                                                '">' +
                                                area.Text +
                                                '</option>');

                                    });

                                $("#IdAreaUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdAreaUnidadAcademica").empty();
                                $("#IdAreaUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdAreaUnidadAcademica").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarAreas))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                                });

                            }
                        });
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllAreasForPeriodoAcademico", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { idPeriodoAcademico: idPeriodoAcademicoVal },
                            success: function (areas) {
                                $("#IdAreaUnidadAcademica").empty();
                                $("#IdAreaUnidadAcademica").append('<option value="">@ProfessorResource.Todas</option>');
                                $.each(areas,
                                    function (i, area) {
                                        $("#IdAreaUnidadAcademica")
                                            .append('<option value="' +
                                                area.Value +
                                                '">' +
                                                area.Text +
                                                '</option>');

                                    });

                                $("#IdAreaUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdAreaUnidadAcademica").empty();
                                $("#IdAreaUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdAreaUnidadAcademica").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarAreas))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                                });

                            }
                        });
                    }
                }

                function cargarCursosForPeriodoAcademico(hasValue, idPeriodoAcademicoVal) {
                    $("#IdCursoUnidadAcademica").empty();
                    $("#IdCursoUnidadAcademica").prop("disabled", true);
                    $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.CargandoCursos</option>');
                    if (hasValue === false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllCursos", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: {},
                            success: function (cursos) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.Todos</option>');
                                $.each(cursos,
                                    function (i, curso) {
                                        $("#IdCursoUnidadAcademica")
                                            .append('<option value="' +
                                                curso.Value +
                                                '">' +
                                                curso.Text +
                                                '</option>');

                                    });

                                $("#IdCursoUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdCursoUnidadAcademica").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarCursos))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                                });
                            }
                        });
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllCursosForPeriodoAcademico", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { idPeriodoAcademico: idPeriodoAcademicoVal },
                            success: function (cursos) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.Todos</option>');
                                $.each(cursos,
                                    function (i, curso) {
                                        $("#IdCursoUnidadAcademica")
                                            .append('<option value="' +
                                                curso.Value +
                                                '">' +
                                                curso.Text +
                                                '</option>');

                                    });

                                $("#IdCursoUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdCursoUnidadAcademica").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarCursos))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                                });

                            }
                        });
                    }
                }

                function cargarCursosForArea(hasValue, idAreaUa) {
                    $("#IdCursoUnidadAcademica").empty();
                    $("#IdCursoUnidadAcademica").prop("disabled", true);
                    $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.CargandoCursos</option>');
                    if (hasValue === false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllCursos", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: {},
                            success: function (cursos) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.Todos</option>');
                                $.each(cursos,
                                    function (i, curso) {
                                        $("#IdCursoUnidadAcademica")
                                            .append('<option value="' +
                                                curso.Value +
                                                '">' +
                                                curso.Text +
                                                '</option>');

                                    });

                                $("#IdCursoUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdCursoUnidadAcademica").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarCursos))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                                });

                            }
                        });
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllCursosForArea", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { idAreaUnidadAcademica: idAreaUa },
                            success: function (cursos) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.Todos</option>');
                                $.each(cursos,
                                    function (i, curso) {
                                        $("#IdCursoUnidadAcademica")
                                            .append('<option value="' +
                                                curso.Value +
                                                '">' +
                                                curso.Text +
                                                '</option>');

                                    });

                                $("#IdCursoUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdCursoUnidadAcademica").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarCursos))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                                });
                            }
                        });
                    }
                }

                function cargarCursosForSubarea(hasValue, idSubareaUa) {
                    $("#IdCursoUnidadAcademica").empty();
                    $("#IdCursoUnidadAcademica").prop("disabled", true);
                    $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.CargandoCursos</option>');
                    if (hasValue === false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllCursos", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: {},
                            success: function (cursos) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.Todos</option>');
                                $.each(cursos,
                                    function (i, curso) {
                                        $("#IdCursoUnidadAcademica")
                                            .append('<option value="' +
                                                curso.Value +
                                                '">' +
                                                curso.Text +
                                                '</option>');

                                    });

                                $("#IdCursoUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdCursoUnidadAcademica").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarCursos))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                                });
                            }
                        });
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllCursosForSubarea", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { idSubareaUnidadAcademica: idSubareaUa },
                            success: function (cursos) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.Todos</option>');
                                $.each(cursos,
                                    function (i, curso) {
                                        $("#IdCursoUnidadAcademica")
                                            .append('<option value="' +
                                                curso.Value +
                                                '">' +
                                                curso.Text +
                                                '</option>');

                                    });

                                $("#IdCursoUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdCursoUnidadAcademica").empty();
                                $("#IdCursoUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdCursoUnidadAcademica").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarCursos))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                                });
                            }
                        });
                    }
                }

                function cargarSubareasForArea(hasValue, idAreaUa) {
                    $("#IdSubareaUnidadAcademica").empty();
                    $("#IdSubareaUnidadAcademica").prop("disabled", true);
                    $("#IdSubareaUnidadAcademica").append('<option value="">@ProfessorResource.CargandoSubareas</option>');
                    if (hasValue === false) {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllSubareas", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: {},
                            success: function (subareas) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">@ProfessorResource.Todas</option>');
                                $.each(subareas,
                                    function (i, subarea) {
                                        $("#IdSubareaUnidadAcademica")
                                            .append('<option value="' +
                                                subarea.Value +
                                                '">' +
                                                subarea.Text +
                                                '</option>');

                                    });

                                $("#IdSubareaUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdSubareaUnidadAcademica").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                                });

                            }
                        });
                    } else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllSubareasForArea", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                            dataType: 'json',
                            data: { idAreaUnidadAcademica: idAreaUa },
                            success: function (subareas) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">@ProfessorResource.Todas</option>');
                                $.each(subareas,
                                    function (i, subarea) {
                                        $("#IdSubareaUnidadAcademica")
                                            .append('<option value="' +
                                                subarea.Value +
                                                '">' +
                                                subarea.Text +
                                                '</option>');

                                    });

                                $("#IdSubareaUnidadAcademica").prop("disabled", false);
                            },
                            error: function (ex) {
                                $("#IdSubareaUnidadAcademica").empty();
                                $("#IdSubareaUnidadAcademica").append('<option value="">Error</option>');
                                $("#IdSubareaUnidadAcademica").prop("disabled", true);
                                swal({
                                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                                    type: 'error',
                                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                    confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                                });
                            }
                        });
                    }
                }

                function cargarSubareasForAreaForPeriodoAcademico(idAreaUa,idPeriodoAcademico) {
                    $("#IdSubareaUnidadAcademica").empty();
                    $("#IdSubareaUnidadAcademica").prop("disabled", true);
                    $("#IdSubareaUnidadAcademica").append('<option value="">@ProfessorResource.CargandoSubareas</option>');
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllSubareasForAreaForPeriodoAcademico", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: {
                            NombreAreaUnidadAcademica: idAreaUa,
                            idPeriodoAcademico: idPeriodoAcademico
                        },
                        success: function (subareas) {
                            $("#IdSubareaUnidadAcademica").empty();
                            $("#IdSubareaUnidadAcademica").append('<option value="">@ProfessorResource.Todas</option>');
                            $.each(subareas,
                                function (i, subarea) {
                                    $("#IdSubareaUnidadAcademica")
                                        .append('<option value="' +
                                            subarea.Value +
                                            '">' +
                                            subarea.Text +
                                            '</option>');

                                });
                            $("#IdSubareaUnidadAcademica").prop("disabled", false);
                        },
                        error: function (ex) {
                            $("#IdSubareaUnidadAcademica").empty();
                            $("#IdSubareaUnidadAcademica").append('<option value="">Error</option>');
                            $("#IdSubareaUnidadAcademica").prop("disabled", true);
                            swal({
                                title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                                type: 'error',
                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                            });
                        }
                    });
                }

                function cargarCursosForAreaForPeriodoAcademico(idAreaUa, idPeriodoAcademico) {
                    $("#IdCursoUnidadAcademica").empty();
                    $("#IdCursoUnidadAcademica").prop("disabled", true);
                    $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.CargandoCursos</option>');

                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllCursosForAreaForPeriodoAcademico", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: {
                            NombreAreaUnidadAcademica: idAreaUa,
                            idPeriodoAcademico: idPeriodoAcademico
                        },
                        success: function (cursos) {
                            $("#IdCursoUnidadAcademica").empty();
                            $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.Todos</option>');
                            $.each(cursos,
                                function (i, curso) {
                                    $("#IdCursoUnidadAcademica")
                                        .append('<option value="' +
                                            curso.Value +
                                            '">' +
                                            curso.Text +
                                            '</option>');

                                });

                            $("#IdCursoUnidadAcademica").prop("disabled", false);
                        },
                        error: function (ex) {
                            $("#IdCursoUnidadAcademica").empty();
                            $("#IdCursoUnidadAcademica").append('<option value="">Error</option>');
                            $("#IdCursoUnidadAcademica").prop("disabled", true);
                            swal({
                                title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarCursos))',
                                type: 'error',
                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                            });
                        }
                    });
                }

                //cargarCursosForSubareaForPeriodoAcademico
                function cargarCursosForSubareaForPeriodoAcademico(NomSubArea,idPeriodoAcademico) {
                    $("#IdCursoUnidadAcademica").empty();
                    $("#IdCursoUnidadAcademica").prop("disabled", true);
                    $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.CargandoCursos</option>');
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllCursosForSubareaForPeriodoAcademico", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                        dataType: 'json',
                        data: {
                            NombreSubareaUnidadAcademica: NomSubArea,
                            idPeriodoAcademico: idPeriodoAcademico
                        },
                        success: function (cursos) {
                            $("#IdCursoUnidadAcademica").empty();
                            $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.Todos</option>');
                            $.each(cursos,
                                function (i, curso) {
                                    $("#IdCursoUnidadAcademica")
                                        .append('<option value="' +
                                            curso.Value +
                                            '">' +
                                            curso.Text +
                                            '</option>');

                                });

                            $("#IdCursoUnidadAcademica").prop("disabled", false);
                        },
                        error: function (ex) {
                            $("#IdCursoUnidadAcademica").empty();
                            $("#IdCursoUnidadAcademica").append('<option value="">Error</option>');
                            $("#IdCursoUnidadAcademica").prop("disabled", true);
                            swal({
                                title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                                text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarCursos))',
                                type: 'error',
                                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                                confirmButtonText: '@ButtonsOptionsResource.Aceptar'
                            });
                        }
                    });
                }

                $("#IdPeriodoAcademico").change(function () {
                    if (!$("#IdPeriodoAcademico").val()) {
                        cargarCursosForPeriodoAcademico(false, 0);
                        cargarSubareasForPeriodoAcademico(false, 0);
                        cargarAreasForPeriodoAcademico(false, 0);
                    } else {
                        cargarCursosForPeriodoAcademico(true, $("#IdPeriodoAcademico").val());
                        cargarSubareasForPeriodoAcademico(true, $("#IdPeriodoAcademico").val());
                        cargarAreasForPeriodoAcademico(true, $("#IdPeriodoAcademico").val());
                    }
                    return false;
                });

                $("#IdAreaUnidadAcademica").change(function () {
                    if (!$("#IdAreaUnidadAcademica").val()) {
                        cargarCursosForArea(false, 0);
                        cargarSubareasForArea(false, 0);
                    } else {
                        if (!$("#IdPeriodoAcademico").val()){
                            cargarCursosForArea(true, $("#IdAreaUnidadAcademica").val());
                            cargarSubareasForArea(true, $("#IdAreaUnidadAcademica").val());
                        } else {
                            cargarCursosForAreaForPeriodoAcademico($("#IdAreaUnidadAcademica").val(), $("#IdPeriodoAcademico").val());
                            cargarSubareasForAreaForPeriodoAcademico($("#IdAreaUnidadAcademica").val(), $("#IdPeriodoAcademico").val());
                        }
                    }
                    return false;
                });

                $("#IdSubareaUnidadAcademica").change(function () {
                    if (!$("#IdSubareaUnidadAcademica").val()) {
                        if (!$("#IdAreaUnidadAcademica").val()) {
                            cargarCursosForArea(false, 0);
                        } else {
                            cargarCursosForArea(true, $("#IdAreaUnidadAcademica").val());
                        }
                    } else {
                        if (!$("#IdPeriodoAcademico").val()) {
                            cargarCursosForSubarea(true, $("#IdSubareaUnidadAcademica").val());
                        }
                        else {
                            cargarCursosForSubareaForPeriodoAcademico($("#IdSubareaUnidadAcademica").val(), $("#IdPeriodoAcademico").val());
                        }
                    }
                    return false;
                });
            });
	</script>
}
