﻿@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.IfcManagement.CreateIfcViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;
@{
    ViewBag.Title = ProfessorResource.CrearIFC;
    ViewBag.IsGet = "true";
    ViewBag.Icon = "table";
}

@section Styles {
    @Html.Content("css/bootstrap-wysihtml5.css", ConstantHelpers.AREAS.PROFESSOR)
    @Html.Content("css/sweetalert.css", ConstantHelpers.AREAS.SURVEY)
    <style>
        .panel-body ul li {
            padding-bottom: 10px;
            padding-right: 10px;
        }

        #loading {
            display: none;
            background-color: #ffffff !important;
        }

            #loading p {
                color: black;
            }

        .load {
            padding: 250px;
        }

        @@media screen and (min-width: 700px) {
            #VentanaModal .modal-dialog {
                width: 80%;
            }
        }
    </style>

}

@section Breadcrumbs {
    <li><a href="@Url.Action("Consult","IfcManagement")">@Html.Raw(ProfessorResource.ConsultarIFC)</a></li>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "singupform" }))
{

    @Html.AntiForgeryToken()

    if (string.IsNullOrEmpty(Model.Titulo))
    {

        <div class="col-md-12">
            <div class="panel filters">
                @Html.PanelHeader("<i class=\"fa fa-cog\"></i>" + ProfessorResource.SeleccionaCurso, PanelActions.Collapse)
                <div class="panel-body">
                    <div class="row form">

                        <div class="form-group col-md-3">
                            <label class="label-control">@Html.Raw(ProfessorResource.Ciclo)</label>
                            @Html.DropDownListFor(m => m.IdPeriodoAcademico, Model.AvailablePeriodoAcademicos, ProfessorResource.SeleccionarCiclo, new { @class = "form-control" })
                        </div>


                        <div class="form-group col-md-3">
                            <label class="label-control">@Html.Raw(ProfessorResource.Area)</label>
                            @Html.DropDownListFor(m => m.IdAreaUnidadAcademica, new SelectList(string.Empty, "Value", "Text"), ProfessorResource.SeleccionarArea, new { @disabled = "disabled", @class = "form-control" })
                            @*@Html.DropDownListFor(m => m.IdAreaUnidadAcademica, Model.AvailableAreas, "- Seleccionar -", new { @class = "form-control" })               @data_plugin = "select2" }) *@
                        </div>


                        <div class="form-group col-md-3">
                            <label class="label-control">@Html.Raw(ProfessorResource.Subarea)</label>
                            @Html.DropDownListFor(m => m.IdSubareaUnidadAcademica, new SelectList(string.Empty, "Value", "Text"), ProfessorResource.SeleccionarSubarea, new { @disabled = "disabled", @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="label-control">@Html.Raw(ProfessorResource.Curso)</label>
                            @Html.DropDownListFor(m => m.IdCursoUnidadAcademica, new SelectList(string.Empty, "Value", "Text"), ProfessorResource.SeleccionarCurso, new { @disabled = "disabled", @class = "form-control" })
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="button" id="btnGenerar" class="btn btn-primary" style="margin-top: 30px;" disabled>  @ProfessorResource.Generar&nbsp;&nbsp;&nbsp;<i class="fa fa-cog"></i> </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    }
    else
    {
        @Html.HiddenFor(m => m.IdAreaUnidadAcademica)
        @Html.HiddenFor(m => m.IdSubareaUnidadAcademica)
        @Html.HiddenFor(m => m.IdCursoUnidadAcademica)
        @Html.HiddenFor(m => m.NombreArea)
        @Html.HiddenFor(m => m.IdCurso)
        @Html.HiddenFor(m => m.TipoSubmit)
        @Html.HiddenFor(m => m.IdPeriodoAcademico)
        @Html.HiddenFor(m => m.CodigoCurso)


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sx-12 col-sm-12">
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Model.Titulo</h3>
                        </div>
                        <div class="panel-body">
                            <p style="font-weight: bold; text-align: justify;">@Html.Raw(ProfessorResource.ResultadoLogroCurso)</p>
                            @Html.Raw(Model.ResultadoLogroCurso)
                            <p style="font-weight: bold; text-align: justify;">@Html.Raw(ProfessorResource.ResultadoAlcanzado):</p>
                            @Html.Raw(Model.ResultadoAlcanzado)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">I. @Html.Raw(ProfessorResource.HallazgosAccionesPrevias)</h4>
                        </div>
                        <div class="panel-body">
                            @if (Model.AccionesPrevias.Count == 0)
                            {
                                <p>@Html.Raw(ProfessorResource.NoAccionesPrevias)</p>
                            }
                            else
                            {
                                <table id="tblEvidencias" class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; width: 20%;">@Html.Raw(ProfessorResource.Codigo)</th>
                                            <th style="text-align: center; width: 50%;">@Html.Raw(ProfessorResource.Descripcion)</th>
                                            <th style="text-align: center; width: 15%;">@Html.Raw(ProfessorResource.Estado)</th>
                                            <th style="text-align: center; width: 15%;"></th>
                                            <!--      <th style="text-align: center; width: 15%;">@ProfessorResource.Eliminar</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{int count = 0;
                                            foreach (var item in Model.AccionesPrevias)
                                            {
                                                <tr>
                                                    <td id="firt_@count" style="text-align: center; vertical-align: middle; width: 20%;">
                                                        @item.Codigo
                                                    </td>
                                                    <td id="second_@count" style="text-align: justify; vertical-align: middle; width: 50%;">
                                                        @(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? item.DescripcionEspanol : item.DescripcionIngles)
                                                    </td>
                                                    <td id="third_@count" style="text-align: center; vertical-align: middle; width: 15%;">
                                                        @item.Estado
                                                    </td>
                                                    <td id="fourth_@count" style="text-align: center; vertical-align: middle; width: 15%;">
                                                        @if (item.Estado == "Pendiente")
                                                        {
                                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" onclick="OpenModal(@item.IdAccionMejora)">@Html.Raw(IFCManagementResource.Evidencia)</button>
                                                        }
                                                        else
                                                        {
                                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" disabled="true" onclick="OpenModal(@item.IdAccionMejora)">@Html.Raw(IFCManagementResource.Evidencia)</button>
                                                        }
                                                    </td>
                                                </tr>
                                                count++;
                                            }
                                        }
                                    </tbody>

                                </table>
                            }
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">II. @Html.Raw(ProfessorResource.Hallazgos)</h4>
                        </div>
                        <table id="tblHallazgos" class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                            <thead>
                                <tr>
                                    <th style="text-align: center; width: 20%;"> @Html.Raw(ProfessorResource.Codigo)</th>
                                    <th style="text-align: justify; width: 40%;">@Html.Raw(ProfessorResource.Descripcion)</th>
                                    <th style="text-align: center; width: 25%;"> @Html.Raw(ProfessorResource.Outcome)</th>
                                    <th style="text-align: center; width: 15%;"> @Html.Raw(ProfessorResource.Criticidad)</th>
                                    <th style="text-align: center; width: 15%;"> @Html.Raw(ProfessorResource.Opciones)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Hallazgos.Count(); i++)
                                {
                                <tr class="rowHallazgo">
                                    <input class="hiddenCodigoHallazgo" type="hidden" name="Hallazgos[@i].Codigo" value="@Model.Hallazgos[i].Codigo" />
                                    <input class="hiddenDescripcionHallazgo" type="hidden" name="Hallazgos[@i].Descripcion" value="@Model.Hallazgos[i].Descripcion" />
                                    <input class="hiddenidOutcome" type="hidden" name="Hallazgos[@i].idOutcome" value="@Model.Hallazgos[i].idOutcome" />
                                    <input class="hiddenSede" type="hidden" name="Hallazgos[@i].Sede" value="@Model.Hallazgos[i].Sede" />
                                    <input class="hiddenCriticidadHallazgo" type="hidden" name="Hallazgos[@i].Criticidad" value="@Model.Hallazgos[i].Criticidad" />

                                    <td style="text-align: center; vertical-align: middle; width: 20%;">
                                        @Html.LabelFor(m => m.Hallazgos[i].Codigo, new { @class = "codigoHallazgo" })
                                    </td>

                                    <td style="text-align: justify; vertical-align: middle; width: 40%;">
                                        @Html.LabelFor(m => m.Hallazgos[i].Descripcion, new { @class = "descripcionHallazgo" })
                                    </td>
                                    <td style="text-align: justify; vertical-align: middle; width: 25%;">
                                        @Html.LabelFor(m => m.Hallazgos[i].Outcome, new { @class = "outcomeHallazgo" })
                                    </td>
                                    <td style="text-align: center; vertical-align: middle; width: 15%;">
                                        @Html.LabelFor(m => m.Hallazgos[i].Criticidad, new { @class = "criticidadHallazgo" })
                                    </td>

                                    <td style="text-align: center; vertical-align: middle; width: 15%;">
                                        <a href="javascript:void(0);" class="remRowHallazgo">@Html.Raw(ProfessorResource.Eliminar)</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>

                        <div class="panel-body">

                            <div class="row text-right">
                                <a class="btn btn-primary" @Url.ModalHelperFor("_AddHallazgo", "IfcDiscoveryManagement", new { codCurso = Model.CodigoCurso, idSubModalidad = Model.IdSubModalidad }, ModalSize.Normal)>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    @Html.Raw(ProfessorResource.AgregarHallazgo)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">III. @Html.Raw(ProfessorResource.AccionesMejoraPropuestas)</h4>
                        </div>
                        <table id="tblAcciones" class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                            <thead>
                                <tr>
                                    <th style="text-align: center; width: 20%;"> @Html.Raw(ProfessorResource.Codigo)</th>
                                    <th style="text-align: justify; width: 50%;">@Html.Raw(ProfessorResource.Descripcion)</th>
                                    <th style="text-align: center; width: 15%;"> @Html.Raw(ProfessorResource.Hallazgo)</th>
                                    <th style="text-align: center; width: 15%;"> @Html.Raw(ProfessorResource.Opciones)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.AccionesPropuestas.Count(); i++)
                                {
                                    <tr class="rowAccion">
                                        <input class="hiddenCodigoAccion" type="hidden" name="AccionesPropuestas[@i].Codigo" value="@Model.AccionesPropuestas[i].Codigo" />
                                        <input class="hiddenDescripcionAccion" type="hidden" name="AccionesPropuestas[@i].Descripcion" value="@Model.AccionesPropuestas[i].Descripcion" />
                                        <input class="hiddenCodigoHallazgoAccion" type="hidden" name="AccionesPropuestas[@i].CodigoHallazgo" value="@Model.AccionesPropuestas[i].CodigoHallazgo" />
                                        <td style="text-align: center; vertical-align: middle; width: 20%;">
                                            @Html.LabelFor(m => m.AccionesPropuestas[i].Codigo, new { @class = "codigoAccion" })
                                        </td>
                                        <td style="text-align: justify; vertical-align: middle; width: 50%;">
                                            @Html.LabelFor(m => m.AccionesPropuestas[i].Descripcion, new { @class = "descripcionAccion" })
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; width: 15%;">
                                            @Html.LabelFor(m => m.AccionesPropuestas[i].CodigoHallazgo, new { @class = "codigoHallazgoAccion" })
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; width: 15%;">
                                            <a href="javascript:void(0);" class="remRowAccion">@Html.Raw(ProfessorResource.Eliminar)</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                        <div class="panel-body">

                            <div class="row text-right">
                                <a class="btn btn-primary" @Url.ModalHelperFor("_AddAccionMejora", "IfcDiscoveryManagement", new { codCurso = Model.CodigoCurso }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> @ProfessorResource.AgregarAccionMejora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">IV. @Html.Raw(ProfessorResource.DesarrolloUnidadesAprendizaje)</h4>
                        </div>
                        <div class="panel-body" style="text-align: left;">
                            <p style="font-weight: bold;">@Html.Raw(ProfessorResource.Infraestructura)</p>
                            @Html.TextAreaFor(m => m.Infraestructura, new
                            {
                                @class = "form-control",
                                @placeholder = ProfessorResource.IngresarReporteInfraestructura,
                                @style = "margin-bottom: 30px;",
                                rows = 6,
                                id = "taInfraestructura"
                            })
                            <br />
                            <p style="font-weight: bold;">@Html.Raw(ProfessorResource.ApreciacionAlumno)</p>
                            @Html.TextAreaFor(m => m.ApreciacionAlumnos, new
                            {
                                @class = "form-control",
                                @placeholder = ProfessorResource.IngresarReporteApreciacionAlumno,
                                @style = "margin-bottom: 30px;",
                                rows = 6,
                                id = "taApreciacionAlumnos"
                                })
                            <br />
                            <p style="font-weight: bold;">@Html.Raw(ProfessorResource.ApreciacionDelegado)</p>
                            @Html.TextAreaFor(m => m.ApreciacionDelegado, new
                            {
                                @class = "form-control",
                                @placeholder = ProfessorResource.IngresarReporteApreciacionDelegado,
                                @style = "margin-bottom: 30px;",
                                rows = 6,
                                id = "taApreciacionDelegado"
                            })
                            <br />
                            <p style="font-weight: bold;">@Html.Raw(ProfessorResource.ComentarioEncuestaAcademica)</p>
                            @Html.TextAreaFor(m => m.ComentarioEncuesta, new
                            {
                                @class = "form-control",
                                @placeholder = ProfessorResource.IngresarComentarioEncuestaAcademica,
                                @style = "margin-bottom: 30px;",
                                rows = 6,
                                id = "taEncuestaAcademica"
                                })
                        </div>
                    </div>
                </div>

                <div class="row text-right">
                    <a href="@Url.Action("Consult", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})" class="btn btn-default" onclick="return confirm('@Html.Raw(ProfessorResource.CancelarOperacion)')">
                        @ProfessorResource.Cancelar&nbsp;&nbsp;<i class="fa fa-close"></i>
                    </a>
                    <button id="guardarid" type="button" name="GuardarIFC" class="btn btn-dark" onclick="submitForm('GUARDAR');">@ProfessorResource.Guardar&nbsp;&nbsp;&nbsp;<i class="fa fa-floppy-o " aria-hidden="true"></i></button> <!-- this.onclick=null; para evitar duplicados despues de un click -->
                    <button id="enviadoid" type="button" name="EnviarIFC" class="btn btn-primary" onclick="submitForm('ENVIAR');">@ProfessorResource.Enviar&nbsp;&nbsp;&nbsp;<i class="fa fa-lock " aria-hidden="true"></i></button> <!-- this.onclick=null; para evitar duplicados despues de un click -->
                </div>


            </div>

        </div>
    }

}

<div class="container text-center load" id="loading">
    <img src="@Url.Content("~/Areas/Professor/Content/assets/images/ajax-loader.gif")" width="100">
    <p>Cargando...</p>
</div>

<div class="modal fade" id="VentanaModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@Html.Raw(IFCManagementResource.IngresoEvidenciaPorHallazgo)</h3>
            </div>
            <div class="modal-body">
                <div id="modal-hallazgo">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary"
                        data-dismiss="modal">
                    @Html.Raw(IFCManagementResource.Cerrar)
                </button>
                <button id="bfCaptchaEntry" class="btn btn-primary">
                    @Html.Raw(ButtonsOptionsResource.Guardar)
                </button>
            </div>
        </div>

    </div>
</div>

@section Scripts{

    @Html.Content("js/components/asspinner.min.js")
    @Html.Content("js/components/clockpicker.min.js")
    @Html.Content("js/components/jt-timepicker.min.js")
    @Html.Content("js/components/multi-select.min.js")
    @Html.Content("js/components/icheck.min.js")

    @Html.Content("js/jquery.contextmenu.r2.js", ConstantHelpers.AREAS.PROFESSOR)
    @Html.Content("js/wysihtml5-0.3.0.js", ConstantHelpers.AREAS.PROFESSOR)
    @Html.Content("js/sweetalert.min.js", ConstantHelpers.AREAS.SURVEY)
    <script type="text/javascript">

        var arrayEv = [];
        var evidenceInUse = "";
        function OpenModal(idAccionMejora, evidenceButtonId) {
            evidenceInUse = evidenceButtonId;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddNewEvidenceAM", "ImprovementActions", new { Areas = "Professor" })',
                data: { IdAccionMejora: idAccionMejora, Anio: 2018, codInstrumento: "IFC", vista: "Plan" },
                success: function (data) {
                    $('#modal-hallazgo').html(data);

                    $('#VentanaModal').modal('show');
                    $('#VentanaModal').on('shown.bs.modal', function () {

                        $('#TablaEvidencia').DataTable({
                            scrollY: 300,
                            columns: [{ "width": "10%" }, { "width": "15%" }, { "width": "10%" }, { "width": "10%" }, { "width": "20%" }],
                            paging: false,
                            autoWidth: false,
                            responsive: true,
                            destroy: true,
                        });

                    })

                }
            });
         }

        $("#bfCaptchaEntry").on("click", function () {
            var myMap = new Map()
            var guardar = false;
            function evidencia(id, descripcion) {
                this.Id = id;
                this.Descripcion = descripcion;
            }
            $("textarea[name^='hallazgo']").each(function () {
                if ($('#general').val().trim() === "") {
                    if ($(this).val().trim() === "") {
                        swal("@Html.Raw(IFCManagementResource.NoDebeExistirCamposVacios)", "", "error");
                        guardar = false;
                        return false
                    } else {
                        guardar = true;
                        arrayEv.push(new evidencia(parseInt($(this).attr('id')), $(this).val().trim()));
                    }
                } else {
                    if ($(this).val().trim() === "") {
                        guardar = true;
                        arrayEv.push(new evidencia(parseInt($(this).attr('id')), $('#general').val().trim()));
                    } else {
                        guardar = true;
                        arrayEv.push(new evidencia(parseInt($(this).attr('id')), $(this).val().trim()));
                    }
                }
            })

            if (guardar) {
                swal({
                    title: "@Html.Raw(IFCManagementResource.DeseaGuardarLosCambios)",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: "@Html.Raw(IFCManagementResource.SiEstoySeguro)",
                    cancelButtonText: "@Html.Raw(ButtonsOptionsResource.Cancelar)!",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        var accionmejoraId = $('#accionmejoraid').val();
                        if (isConfirm) {
                             @*swal("@Html.Raw(IFCManagementResource.Guardado)", "", "success");
                            $('#VentanaModal').modal('hide');
                            console.log("arrayEv => ", arrayEv)
                            UpdateTableEvidence();
                            //setTimeout(function () {
                            //    window.location.reload(1);
                            //}, 2000);
                        } else {
                             swal("@Html.Raw(IFCManagementResource.Cancelado)", "", "error");
                        }*@

                            $.ajax({
                                contentType: 'application/json; charset=utf-8',
                                type: 'post',
                                dataType: 'json',
                                url: '@Url.Action("AddEvidenciaPlan", "ImprovementActions", new { Areas = "Professor" })',
                                data: JSON.stringify({ Listado: arrayEv, IdAccionMejora: accionmejoraId }),
                                success: function (data) {
                                    if (!data.success) {
                                        swal({
                                            title: '@Html.Raw(MessageResource.Error)',
                                            type: 'error',
                                        });
                                    } else {
                                        setTimeout(function () {
                                            swal({
                                                title: '@Html.Raw(MessageResource.Success)',
                                                type: 'success',
                                            });
                                            $('#' + evidenceInUse).attr('disabled', true);
                                            evidenceInUse = "";
                                            $('#VentanaModal').modal('hide');
                                        }, 1000)
                                    }
                                }
                            });
                        }
                    });
            }
        });

        function UpdateTableEvidence() {
            var idCursoUnidadAcademica = @Model.IdCursoUnidadAcademica;
            var idPeriodoAcademico = @Model.IdPeriodoAcademico;
            var culture = '@ConstantHelpers.CULTURE.ESPANOL';
            var systemCulture = '@System.Threading.Thread.CurrentThread.CurrentUICulture.ToString()'
            $.ajax({
                type: "POST",
                cache: false,
                traditional: true,
                dataType: 'json',
                url: '@Url.Action("UpdateTableEvidence", "IfcManagement")',
                data: { idCursoUnidadAcademica: idCursoUnidadAcademica, idPeriodoAcademico: idPeriodoAcademico },
                success: function (data) {
                    $.each(data, function (index, item) {
                        $('table#tblEvidencias tbody tr td#first_' + index).html("");
                        $('table#tblEvidencias tbody tr td#second_' + index).html("");
                        $('table#tblEvidencias tbody tr td#third_' + index).html("");
                        $('table#tblEvidencias tbody tr td#fourth_' + index).html("");

                        console.log("item", item)
                        console.log("item.DescripcionEspanol", item.DescripcionEspanol)
                        console.log("item.DescripcionIngles", item.DescripcionIngles)
                        console.log("item.IdAccionMejora", item.IdAccionMejora)
                        console.log("item.Estado", item.Estado)

                        $('table#tblEvidencias tbody tr td#first_' + index).append(item.Codigo)
                        $('table#tblEvidencias tbody tr td#second_' + index).append(systemCulture == culture ? item.DescripcionEspanol : item.DescripcionIngles)
                        $('table#tblEvidencias tbody tr td#third_' + index).append(item.Estado)
                        $('table#tblEvidencias tbody tr td#fourth_' + index).append(
                            (item.Estado == "Pendiente")
                                    ? `<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" onclick="OpenModal(` + item.IdAccionMejora + `)">
                                            @Html.Raw(IFCManagementResource.Evidencia)
                                        </button>`
                                    : `<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" disabled="true" onclick="OpenModal(` + item.IdAccionMejora + `)">
                                            @Html.Raw(IFCManagementResource.Evidencia)
                                        </button>`)
                    })
                }
            })
        }


        function addEvidencia(idHallazgoAccionMejora, descripcion) {
            $.ajax({
                type: "POST",
                cache: false,
                traditional: true,
                dataType: 'json',
                url: '@Url.Action("AddEvidencia", "ImprovementActions", new { Areas = "Professor" })',
                data: { IdHallazgoAccionMejora: idHallazgoAccionMejora, Descripcion: descripcion },
                success: function (data) {
                    console.log(data.texto)
                }
            });
        }

        function submitForm(modo) {
            document.getElementById('guardarid').disabled = true;
            document.getElementById('enviadoid').disabled = true;
            if ($(".codigoHallazgo").html() == undefined) {
                document.getElementById('guardarid').disabled = false;
                document.getElementById('enviadoid').disabled = false;
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(UPC.CA.ABET.Presentation.Resources.Areas.Report.ReportResource.RequiredMessageFinding))',
                    icon: 'error',
                    confirmButtonColor: '@Html.Raw(ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR)',
                    confirmButtonText: '@Html.Raw(ProfessorResource.Aceptar)'
                });
                return false;
            }

            if ($(".codigoAccion").html() == undefined) {
                document.getElementById('guardarid').disabled = false;
                document.getElementById('enviadoid').disabled = false;
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(UPC.CA.ABET.Presentation.Resources.Areas.Report.ReportResource.RequiredMessageImprovementAction))',
                    icon: 'error',
                    confirmButtonColor: '@Html.Raw(ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR)',
                    confirmButtonText: '@Html.Raw(ProfessorResource.Aceptar)'
                });
                return false;
            }

            if ($("#taInfraestructura").val().trim().length == 0) {
                document.getElementById('guardarid').disabled = false;
                document.getElementById('enviadoid').disabled = false;
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.DebeIngresarInfraestructura))',
                    icon: 'error',
                    confirmButtonColor: '@Html.Raw(ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR)',
                    confirmButtonText: '@Html.Raw(ProfessorResource.Aceptar)'
                });
                return false;
            }

            if ($("#taApreciacionAlumnos").val().trim().length == 0) {
                document.getElementById('guardarid').disabled = false;
                document.getElementById('enviadoid').disabled = false;
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                            //title: '¡Operación Fallida!',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.DebeIngresarApreciacionAlumno))',
                    icon: 'error',
                    confirmButtonColor: '@Html.Raw(ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR)',
                    confirmButtonText: '@Html.Raw(ProfessorResource.Aceptar)'
                });
                return false;
            }
            if ($("#taApreciacionDelegado").val().trim().length == 0) {
                document.getElementById('guardarid').disabled = false;
                document.getElementById('enviadoid').disabled = false;
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.DebeIngresarApreciacionDelegado))',
                    icon: 'error',
                    confirmButtonColor: '@Html.Raw(ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR)',
                    confirmButtonText: '@Html.Raw(ProfessorResource.Aceptar)'
                });
                @*alert("@ProfessorResource.DebeIngresarApreciacionDelegado");*@
                return false;
            }
            if ($("#taEncuestaAcademica").val().trim().length == 0) {
                document.getElementById('guardarid').disabled = false;
                document.getElementById('enviadoid').disabled = false;
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.DebeIngresarComentarioEncuestaAcademica))',
                    icon: 'error',
                    confirmButtonColor: '@Html.Raw(ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR)',
                    confirmButtonText: '@Html.Raw(ProfessorResource.Aceptar)'
                });
                @*alert("@ProfessorResource.DebeIngresarComentarioEncuestaAcademica");*@
                return false;
            }
            $("#TipoSubmit").val(modo);

            var form = "singupform";
            var estado = false;
            if (modo == 'ENVIAR') {
                swal({
                    title: '@Html.Raw(@ProfessorResource.EstaSeguro)',
                    text: ' @Html.Raw(@ProfessorResource.EnviarIFC)',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "@Html.Raw(IFCManagementResource.SiEnvialo)",
                    closeOnConfirm: false,
                    html: true
                },
                function (isConfirm) {
                    if (isConfirm) {                        
                        swal({
                            title: "@Html.Raw(IFCManagementResource.Enviado)",
                            text: "@Html.Raw(IFCManagementResource.SuIFChaSidoEnviado)",
                            type: "success"
                        }, function () {
                            estado = true;
                            SendForm(form, estado);
                        });
                    }
                    else {
                        var delayInMilliseconds = 500; //1 second
                        setTimeout(function () {
                            document.getElementById('guardarid').disabled = false;
                            document.getElementById('enviadoid').disabled = false;
                            swal("@Html.Raw(IFCManagementResource.NoSeHaEliminado)", "@Html.Raw(IFCManagementResource.ElRegistroNOhaSidoEliminado)", "error");
                        }, delayInMilliseconds);


                    }
                });
                @*swal({
                    title: "@ProfessorResource.EstaSeguro",
                    text: "@ProfessorResource.EnviarIFC",
                    icon: "warning",
                    buttons: [true, "¡Sí, Envíalo!"],
                    dangerMode: true
                })
                    .then((isConfirm) => {
                        if (!isConfirm) return;
                        estado = true;
                        SendForm(form, estado);
                    });*@
            }

            if (modo == 'GUARDAR') {
                estado = true;
                SendForm(form, estado);
            }

            document.getElementById('guardarid').disabled = true;
            document.getElementById('enviadoid').disabled = true;

            return estado;
        }

        function SendForm(form, estado) {           
            event.preventDefault();            
            var url = $('#singupform').attr('action');
            //Reindex Hallazgos Array
            var UpdateHallazgoCodigo = $('#singupform').find("input.hiddenCodigoHallazgo")
            var UpdateDescripcionHallazgo = $('#singupform').find("input.hiddenDescripcionHallazgo")
            var UpdateHallazgoSede = $('#singupform').find("input.hiddenSede")
            var UpdateCriticidadHallazgo = $('#singupform').find("input.hiddenCriticidadHallazgo")

            for (var i = 0; i < UpdateHallazgoCodigo.length; i++) {
                $('#singupform').find("input.hiddenCodigoHallazgo")[i].name = 'Hallazgos['+i+'].Codigo';
            }
            for (var i = 0; i < UpdateDescripcionHallazgo.length; i++) {
                $('#singupform').find("input.hiddenDescripcionHallazgo")[i].name = 'Hallazgos[' + i + '].Descripcion';
            }
            for (var i = 0; i < UpdateHallazgoSede.length; i++) {
                $('#singupform').find("input.hiddenSede")[i].name = 'Hallazgos[' + i + '].Sede';
            }
            for (var i = 0; i < UpdateCriticidadHallazgo.length; i++) {
                $('#singupform').find("input.hiddenCriticidadHallazgo")[i].name = 'Hallazgos[' + i + '].Criticidad';
            }

            var UpdateAccionCodigo = $('#singupform').find("input.hiddenCodigoAccion")
            var UpdateDescripcionAccion=    $('#singupform').find("input.hiddenDescripcionAccion")
              var UpdateAccionCodigoHallazgoAccion = $('#singupform').find("input.hiddenCodigoHallazgoAccion")

              for (var i = 0; i < UpdateAccionCodigo.length; i++) {
                $('#singupform').find("input.hiddenCodigoAccion")[i].name = 'AccionesPropuestas['+i+'].Codigo';
            }
            for (var i = 0; i < UpdateDescripcionAccion.length; i++) {
                $('#singupform').find("input.hiddenDescripcionAccion")[i].name = 'AccionesPropuestas[' + i + '].Descripcion';
            }
            for (var i = 0; i < UpdateAccionCodigoHallazgoAccion.length; i++) {
                $('#singupform').find("input.hiddenCodigoHallazgoAccion")[i].name = 'AccionesPropuestas[' + i + '].CodigoHallazgo';
            }

            var model = $('#singupform').serialize();
            $.ajax({
                type: 'POST',
                url: url,
                data: model,
                async: true,
                success: function (value) {                    
                    $('#loading').hide();
                    if ('@ViewBag.IsGet' == 'true') {
                        //swal({ title: "¡Enviado!", text: "Su IFC ha sido enviado", type: "success" });
                        document.getElementById('guardarid').disabled = true;
                        document.getElementById('enviadoid').disabled = true;
                        window.location.href = value;
                    }
                    else {
                        urlModalRedirect = '@Request.UrlReferrer'
                        if (urlModalRedirect != '') {
                            window.location.href = urlModalRedirect;
                        }
                        return true;
                    }
                },
                beforeSend: function () { /*
                    $("button[name='GuardarIFC']").prop("disabled", true);
                    $("button[name='EnviarIFC']").prop("disabled", true);
                    $('#loading').show(); */
                    $('#loading').show();
                },
                error: function (error) {
                    return false;
                }
            @*complete: function (value) {
                if ('@ViewBag.IsGet' == 'True')
                {
                    window.location.href = value;
                }
                else {
                    urlModalRedirect = '@Request.UrlReferrer'
                    if (urlModalRedirect != '') {
                        window.location.href = urlModalRedirect;
                    }
                }
                return true;
            },*@
            });
        };

        //$('#public-methods').multiSelect();
        $('#select-all')
            .click(function () {
                $('#public-methods').multiSelect('select_all');
                return false;
            });
        $('#deselect-all')
            .click(function () {
                $('#public-methods').multiSelect('deselect_all');
                return false;
            });

        $("#IdPeriodoAcademico")
            .change(function () {
                $("#IdAreaUnidadAcademica").empty();
                $("#IdAreaUnidadAcademica").trigger("change");
                if (!$("#IdPeriodoAcademico").val()) {
                    $("#IdAreaUnidadAcademica").append('<option>@Html.Raw(ProfessorResource.SeleccionarArea)</option>');
                    $("#IdAreaUnidadAcademica").prop("disabled", true);
                    $("#btnGenerar").prop("disabled", true);
                    return;
                }
                $("#IdPeriodoAcademico").append("@Html.Raw(ProfessorResource.CargandoAreas)");
                $("#IdPeriodoAcademico").prop("disabled", true);
                $("#IdAreaUnidadAcademica").append("@Html.Raw(ProfessorResource.CargandoAreas)");
                $("#IdAreaUnidadAcademica").prop("disabled", true);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetAreas", "IfcManagement", new { idSubModalidadPeriodoAcademico = @Session.GetSubModalidadPeriodoAcademicoId()})',
                    dataType: 'json',
                    data: { idPeriodoAcademico: $("#IdPeriodoAcademico").val() },
                    success: function (areas) {
                        $("#IdAreaUnidadAcademica").empty();
                        $("#IdAreaUnidadAcademica").append('<option value="">@Html.Raw(ProfessorResource.SeleccionarArea)</option>');
                        $.each(areas,
                            function (i, area) {
                                $("#IdAreaUnidadAcademica")
                                    .append('<option value="' +
                                        area.Value +
                                        '">' +
                                        area.Text +
                                        '</option>');

                            });

                        $("#IdAreaUnidadAcademica").prop("disabled", false);
                        $("#IdPeriodoAcademico").prop("disabled", false);
                    },
                    error: function (ex) {
                        $("#IdPeriodoAcademico").prop("disabled", false);
                        swal({
                            title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                            text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarAreas))',
                            icon: 'error',
                            confirmButtonColor: '@Html.Raw(ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR)',
                            confirmButtonText: '@Html.Raw(ProfessorResource.Aceptar)'
                        });
                        @*alert('@ProfessorResource.ErrorCargarAreas');*@
                        $("#IdAreaUnidadAcademica").empty();
                        $("#IdAreaUnidadAcademica").append('<option>@Html.Raw(ProfessorResource.SeleccionarArea)</option>');
                        $("#btnGenerar").prop("disabled", true);
                    }
                });
            });

        $("#IdAreaUnidadAcademica")
            .change(function () {
                $("#IdSubareaUnidadAcademica").empty();
                ///
                //$("#IdSubareaUnidadAcademica").trigger("change");
                ////
                $("#IdCursoUnidadAcademica").empty();
                if (!$("#IdAreaUnidadAcademica").val()) {
                    $("#IdSubareaUnidadAcademica").append('<option>@Html.Raw(ProfessorResource.SeleccionarSubarea)</option>')
                    $("#IdSubareaUnidadAcademica").prop("disabled", true);
                    $("#IdCursoUnidadAcademica").append('<option>@Html.Raw(ProfessorResource.SeleccionarCurso) </option>');
                    $("#IdCursoUnidadAcademica").prop("disabled", true);
                    $("#btnGenerar").prop("disabled", true);
                    return;
                }
                $("#IdAreaUnidadAcademica").prop("disabled", true);
                $("#IdSubareaUnidadAcademica").prop("disabled", true);
                $("#IdCursoUnidadAcademica").prop("disabled", true);

                $("#IdSubareaUnidadAcademica").append('<option value="">@Html.Raw(ProfessorResource.CargandoSubareas)</option>');
                $("#IdCursoUnidadAcademica").append('<option value="">@Html.Raw(ProfessorResource.CargandoCursos)</option>');

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSubareasInArea", "IfcManagement", new { Area = ConstantHelpers.AREAS.PROFESSOR})',
                    dataType: 'json',
                    data: {
                        idAreaUnidadAcademica: $("#IdAreaUnidadAcademica").val(),
                        idPeriodoAcademico: $("#IdPeriodoAcademico").val()
                    },
                    success: function (subareas) {
                        $("#IdSubareaUnidadAcademica").empty();
                        $("#IdSubareaUnidadAcademica").append('<option value="">@Html.Raw(ProfessorResource.SeleccionarSubarea)</option>');
                        $.each(subareas,
                            function (i, subarea) {
                                $("#IdSubareaUnidadAcademica")
                                    .append('<option value="' +
                                        subarea.Value +
                                        '">' +
                                        subarea.Text +
                                        '</option>');

                            });

                        $("#IdAreaUnidadAcademica").prop("disabled", false);
                        $("#IdSubareaUnidadAcademica").prop("disabled", false);
                        $("#IdPeriodoAcademico").prop("disabled", false);

                        $("#IdCursoUnidadAcademica").empty();
                        $("#IdCursoUnidadAcademica").append('<option value="">@ProfessorResource.SeleccionarCurso</option>');
                    },
                    error: function (ex) {
                        $("#IdAreaUnidadAcademica").prop("disabled", false);
                        swal({
                            title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                            text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarSubareas))',
                            icon: 'error',
                            confirmButtonColor: '@Html.Raw(ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR)',
                            confirmButtonText: '@Html.Raw(ProfessorResource.Aceptar)'

                        });
                        @*alert('@ProfessorResource.ErrorCargarSubareas');*@
                        $("#IdSubareaUnidadAcademica").empty();
                        $("#IdSubareaUnidadAcademica").append('<option>@Html.Raw(ProfessorResource.SeleccionarSubarea)</option>');
                        $("#IdSubareaUnidadAcademica").prop("disabled", true);
                        $("#IdCursoUnidadAcademica").empty();
                        $("#IdCursoUnidadAcademica").append('<option>@Html.Raw(ProfessorResource.SeleccionarCurso)</option>');
                        $("#IdCursoUnidadAcademica").prop("disabled", true);
                        $("#btnGenerar").prop("disabled", true);
                    }
                });
                return false;
            });

        $("#IdSubareaUnidadAcademica")
            .change(function () {
                $("#IdCursoUnidadAcademica").empty();
                if (!$("#IdSubareaUnidadAcademica").val()) {
                    $("#IdCursoUnidadAcademica").append('<option>@Html.Raw(ProfessorResource.SeleccionarCurso)</option>');
                    $("#IdCursoUnidadAcademica").prop("disabled", true);
                    $("#btnGenerar").prop("disabled", true);
                    return;
                }
                $("#IdAreaUnidadAcademica").prop("disabled", true);
                $("#IdSubareaUnidadAcademica").prop("disabled", true);
                $("#IdCursoUnidadAcademica").prop("disabled", true);

                $("#IdCursoUnidadAcademica").append('<option value="">@Html.Raw(ProfessorResource.CargandoCursos)</option)>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCursosUnidadAcademicaInSubarea", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})',
                    dataType: 'json',
                    data: {
                        idSubareaUnidadAcademica: $("#IdSubareaUnidadAcademica").val(),
                        idPeriodoAcademico: $("#IdPeriodoAcademico").val()
                    },
                    success: function (cursos) {
                        $("#IdCursoUnidadAcademica").empty();
                        $("#IdCursoUnidadAcademica").append('<option value="">@Html.Raw(ProfessorResource.SeleccionarCurso)</option>');
                        $.each(cursos,
                            function (i, curso) {
                                $("#IdCursoUnidadAcademica")
                                    .append('<option value="' +
                                        curso.Value +
                                        '">' +
                                        curso.Text +
                                        '</option>');

                            });

                        $("#IdAreaUnidadAcademica").prop("disabled", false);
                        $("#IdSubareaUnidadAcademica").prop("disabled", false);
                        $("#IdCursoUnidadAcademica").prop("disabled", false);
                    },
                    error: function (ex) {
                        $("#IdAreaUnidadAcademica").prop("disabled", false);
                        $("#IdSubareaUnidadAcademica").prop("disabled", false);
                        swal({
                            title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                            text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.ErrorCargarCursos))',
                            icon: 'error',
                            confirmButtonColor: '@Html.Raw(ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR)',
                            confirmButtonText: '@Html.Raw(ProfessorResource.Aceptar)'

                        });
                        @*alert('@ProfessorResource.ErrorCargarCursos');*@
                        $("#IdCursoUnidadAcademica").empty();
                        $("#IdCursoUnidadAcademica").append('<option>@Html.Raw(ProfessorResource.SeleccionarCurso)</option>');
                        $("#IdCursoUnidadAcademica").prop("disabled", true);
                        $("#btnGenerar").prop("disabled", true);
                    }
                });
                return false;
            });

        $("#IdCursoUnidadAcademica")
            .change(function () {
                if (!$("#IdCursoUnidadAcademica").val()) {
                    $("#btnGenerar").prop("disabled", true);
                    return;
                }
                $("#btnGenerar").prop("disabled", false);
            });

        $("#btnGenerar")
            .click(function () {
                var url = '@Url.Action("Create", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})';
                var IdCursoUnidadAcademica = $('#IdCursoUnidadAcademica').val();
                var idPeriodoAcademico = $("#IdPeriodoAcademico").val();
                console.log(IdCursoUnidadAcademica + " " + idPeriodoAcademico);
                url += '?IdCursoUnidadAcademica=' + IdCursoUnidadAcademica;
                url += '&idPeriodoAcademico=' + idPeriodoAcademico;

                location.href = url;
            });

        @if (!string.IsNullOrEmpty(Model.Titulo))
        {
<text>
        var codigoCurso = '@Model.CodigoCurso';
        var periodoAcademico = '@Model.CicloAcademico';
        var globalHallazgo = 1;
        var globalAccion = 1;
        var internalGlobalHallazgo = 0;

        var sedes = [];
        var criticidades = [];

        @for (int i = 0; i < Model.Sedes.Count(); i++)
        {
            string codigoSede = Model.Sedes[i].Codigo;
            string nombreSede = Model.Sedes[i].Nombre;

            <text>sedes.push({ codigo: '@codigoSede', nombre: '@nombreSede' });</text>
        }

        @for (int i = 0; i < Model.Criticidades.Count(); i++)
        {
            string nombreCriticidad;
            if (Model.Idioma == ConstantHelpers.CULTURE.ESPANOL) {
                nombreCriticidad = Model.Criticidades[i].NombreEspanol;
            }
            else {
                nombreCriticidad = Model.Criticidades[i].NombreIngles;
            }
            <text>criticidades.push({ nombre: '@nombreCriticidad'});</text>
        }

        $(document).ready(function () {
            $("#tblHallazgos").on('click', '.remRowHallazgo', function () {
                //debugger
                var accionesToDelete = [];
                var hallazgoToDelete = $(this).closest('.rowHallazgo').find(".codigoHallazgo").text();

                $(".rowAccion").each(function (index) {
                    if ($(this).find(".codigoHallazgoAccion").text() == hallazgoToDelete) {
                        accionesToDelete.push($(this).find(".codigoAccion").text());
                    }
                });



                if (accionesToDelete.length == 0) {
                    var answer = confirm("@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.EliminarHallazgoIFC))");
                    if (answer == false) return;
                } else {
                    var textoAcciones = "";
                    for (var i = 0; i < accionesToDelete.length; i++) {
                        textoAcciones += accionesToDelete[i] + '\n';
                    }
                    var answer = confirm("@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.EliminarHallazgoYAccionesMejoraIFC))" + '\n\n' + textoAcciones);
                    if (answer == false) return;
                }

                $('.hiddenCodigoHallazgo')
                    .each(function (index) {
                        $(this).attr('name', 'Hallazgos[' + index + '].Codigo');
                    });

                $('.hiddenDescripcionHallazgo')
                    .each(function (index) {
                        $(this).attr('name', 'Hallazgos[' + index + '].Descripcion');
                    });

                //AGREGUE ESTO
                $('.hiddenidOutcome')
                    .each(function (index) {
                        $(this).attr('name', 'Hallazgos[' + index + '].idOutcome');
                    });
                //HASTA ACA

                $('.hiddenSede')
                    .each(function (index) {
                        $(this).attr('name', 'Hallazgos[' + index + '].Sede');
                    });

                $('.hiddenCriticidadHallazgo')
                    .each(function (index) {
                        $(this).attr('name', 'Hallazgos[' + index + '].Criticidad');
                    });

                $('.codigoHallazgo')
                    .each(function (index) {
                        $(this).attr('for', 'Hallazgos[' + index + '].Codigo');
                        $(this).attr('name', 'Hallazgos_' + index + '__Codigo');
                    });

                $('.descripcionHallazgo')
                    .each(function (index) {
                        $(this).attr('for', 'Hallazgos[' + index + '].Descripcion');
                        $(this).attr('name', 'Hallazgos_' + index + '__Descripcion');
                    });

                $('.criticidadHallazgo')
                    .each(function (index) {
                        $(this).attr('for', 'Hallazgos[' + index + '].Criticidad');
                        $(this).attr('name', 'Hallazgos_' + index + '__Criticidad');
                    });
                $(this).closest('.rowHallazgo').remove();
                

                if (accionesToDelete.length > 0) {
                    
                    $('.hiddenCodigoAccion')
                        .each(function (index) {
                            $(this).attr('name', 'AccionesPropuestas[' + index + '].Codigo');
                        });
                    $('.hiddenDescripcionAccion')
                        .each(function (index) {
                            $(this).attr('name', 'AccionesPropuestas[' + index + '].Descripcion');
                        });

                    //AGREGUE ESTO
                    $('.outcomeHallazgo')
                    .each(function (index) {
                        $(this).attr('for', 'Hallazgos[' + index + '].Outcome');
                        $(this).attr('name', 'Hallazgos_' + index + '__Outcome')
                    });
                    //HASTA ACA

                    $('.hiddenCodigoHallazgoAccion')
                        .each(function (index) {
                            $(this).attr('name', 'AccionesPropuestas[' + index + '].CodigoHallazgo');
                        });

                    $('.codigoAccion')
                        .each(function (index) {
                            $(this).attr('for', 'AccionesPropuestas[' + index + '].Codigo');
                            $(this).attr('name', 'AccionesPropuestas_' + index + '__Codigo');
                        });

                    $('.descripcionAccion')
                        .each(function (index) {
                            $(this).attr('for', 'AccionesPropuestas[' + index + '].Descripcion');
                            $(this).attr('name', 'AccionesPropuestas_' + index + '__Descripcion');
                        });

                    $('.codigoHallazgoAccion')
                        .each(function (index) {
                            $(this).attr('for', 'AccionesPropuestas[' + index + '].CodigoHallazgo');
                            $(this).attr('name', 'AccionesPropuestas_' + index + '__CodigoHallazgo');
                        });
                    $(".rowAccion").each(function (index) {
                        if ($(this).find(".codigoHallazgoAccion").text() == hallazgoToDelete) {
                            $(this).remove();
                        }

                    });
                }

                
            });

            $("#tblAcciones").on('click', '.remRowAccion', function () {
                var answer = confirm("@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.EliminarAccionMejoraIFC))");
                if (answer == false) return;
                $(this).closest('.rowAccion').remove();

                $('.hiddenCodigoAccion')
                    .each(function (index) {
                        $(this).attr('name', 'AccionesPropuestas[' + index + '].Codigo');
                    });
                $('.hiddenDescripcionAccion')
                    .each(function (index) {
                        $(this).attr('name', 'AccionesPropuestas[' + index + '].Descripcion');
                    });
                $('.hiddenCodigoHallazgoAccion')
                    .each(function (index) {
                        $(this).attr('name', 'AccionesPropuestas[' + index + '].CodigoHallazgo');
                    });

                $('.codigoAccion')
                    .each(function (index) {
                        $(this).attr('for', 'AccionesPropuestas[' + index + '].Codigo');
                        $(this).attr('name', 'AccionesPropuestas_' + index + '__Codigo');
                    });

                $('.descripcionAccion')
                    .each(function (index) {
                        $(this).attr('for', 'AccionesPropuestas[' + index + '].Descripcion');
                        $(this).attr('name', 'AccionesPropuestas_' + index + '__Descripcion');
                    });

                $('.codigoHallazgoAccion')
                    .each(function (index) {
                        $(this).attr('for', 'AccionesPropuestas[' + index + '].CodigoHallazgo');
                        $(this).attr('name', 'AccionesPropuestas_' + index + '__CodigoHallazgo');
                    });
            });
        });
        </text>
        }
    </script>
}

