﻿@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.IfcManagement.CreateIfcViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;

@{
    ViewBag.Title = ProfessorResource.EditarIFC;
    ViewBag.Icon = "table";
}

@section Styles {

    @Html.Content("css/sweetalert.css", ConstantHelpers.AREAS.SURVEY)
    <style>
        .panel-body ul li {
            padding-bottom: 10px;
            padding-right: 10px;
        }

        @@media screen and (min-width: 700px) {
            #VentanaModal .modal-dialog {
                width: 80%;
            }
        }
    </style>
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Consult","IfcManagement")">@ProfessorResource.ConsultarIFC</a></li>
}

@using (Html.BeginForm("Edit", "IfcManagement", FormMethod.Post, new { id = "formView" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IdAreaUnidadAcademica)
    @Html.HiddenFor(m => m.IdCursoUnidadAcademica)
    @Html.HiddenFor(m => m.IdIfc)
    @Html.HiddenFor(m => m.FechaCreacion)
    @Html.HiddenFor(m => m.NombreArea)
    @Html.HiddenFor(m => m.IdCurso)
    @Html.HiddenFor(m => m.TipoSubmit)
    @Html.HiddenFor(m => m.CodigoCurso)
    @Html.HiddenFor(m => m.IdSubModalidadPeriodoAcademico)
    @Html.HiddenFor(m => m.IdSubmodalidadPeriodoAcademicoModulo)
    @Html.HiddenFor(m => m.IdConstituyenteInstrumento)

    <div class="row">

        <div class="col-lg-12 col-md-12 col-sx-12 col-sm-12">

            @if (!string.IsNullOrEmpty(Model.Observaciones))
            {
                <div class="row">
                    <div class="panel" style="z-index:9000 !important">
                        <div class="panel-heading" style="text-align: center;">
                            <h3 class="panel-title" style="font-weight: bold; color: orangered;">@ProfessorResource.Observaciones</h3>
                        </div>
                        <div class="panel-body" style="text-align: center;">
                            <p style="color: orangered; font-weight: bold; text-align: justify;">@Model.Observaciones</p>
                        </div>
                    </div>
                </div>}
            <div class="row">
                <div class="panel">
                    <div class="panel-heading" style="text-align: center;">
                        <h3 class="panel-title">@Model.Titulo</h3>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        <p style="font-weight: bold; text-align: justify;">@ProfessorResource.ResultadoLogroCurso </p>
                        @Html.Raw(Model.ResultadoLogroCurso)
                        <p style="font-weight: bold; text-align: justify;">@ProfessorResource.ResultadoAlcanzado:</p>
                        @Html.Raw(Model.ResultadoAlcanzado)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">I. @ProfessorResource.HallazgosAccionesPrevias</h4>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        @if (Model.AccionesPrevias.Count == 0)
                        {
                            <p>@ProfessorResource.NoAccionesPrevias</p>
                        }
                        else
                        {
                            <table class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 20%;">@ProfessorResource.Codigo</th>
                                        <th style="text-align: center; width: 50%;">@ProfessorResource.Descripcion</th>
                                        <th style="text-align: center; width: 15%;">@ProfessorResource.Estado</th>
                                        <th style="text-align: center; width: 15%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.AccionesPrevias.Count(); i++)
                                    {
                                        <tr>
                                            <td style="text-align: center; vertical-align: middle; width: 20%;">
                                                @Model.AccionesPrevias.ElementAt(i).Codigo
                                            </td>
                                            <td style="text-align: justify; vertical-align: middle; width: 50%;">
                                                @(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? Model.AccionesPrevias.ElementAt(i).DescripcionEspanol : Model.AccionesPrevias.ElementAt(i).DescripcionIngles)
                                            </td>
                                            <td style="text-align: center; vertical-align: middle; width: 15%;">
                                                @Model.AccionesPrevias.ElementAt(i).Estado
                                            </td>

                                            <td style="text-align: center; vertical-align: middle; width: 15%;">
                                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
                                                        disabled="@(Model.AccionesPrevias[i].Estado == "Pendiente" ? false : true)"
                                                        id="evidenceButton-@Model.AccionesPrevias.ElementAt(i).IdAccionMejora"
                                                        onclick="OpenModal(@Model.AccionesPrevias.ElementAt(i).IdAccionMejora, 'evidenceButton-@Model.AccionesPrevias.ElementAt(i).IdAccionMejora')">
                                                    Evidencia
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">II. @ProfessorResource.Hallazgos</h4>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        <div class="row">
                            <table id="tblHallazgos" class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 20%;">@ProfessorResource.Codigo</th>
                                        <th style="text-align: justify; width: 40%;">@ProfessorResource.Descripcion</th>
                                        <th style="text-align: justify; width: 25%">@ProfessorResource.Outcome</th>
                                        <th style="text-align: center; width: 15%;">@ProfessorResource.Criticidad</th>
                                        <th style="text-align: center; width: 15%;">@ProfessorResource.Opciones</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Hallazgos.Count(); i++)
                                    {
                                    <tr class="rowHallazgo">
                                        <input class="hiddenCodigoHallazgo" type="hidden" name="Hallazgos[@i].Codigo" value="@Model.Hallazgos[i].Codigo" />
                                        <input class="hiddenDescripcionHallazgo" type="hidden" name="Hallazgos[@i].Descripcion" value="@Model.Hallazgos[i].Descripcion" />
                                        <input class="hiddenidOutcome" type="hidden" name="Hallazgos[@i].idOutcome" value="@Model.Hallazgos[i].idOutcome" />
                                        <input class="hiddenSede" type="hidden" name="Hallazgos[@i].Sede" value="@Model.Hallazgos[i].Sede" />
                                        <input class="hiddenCriticidadHallazgo" type="hidden" name="Hallazgos[@i].Criticidad" value="@Model.Hallazgos[i].Criticidad" />

                                        <input type="hidden" name="Hallazgos[@i].IdHallazgo" value="@Model.Hallazgos[i].IdHallazgo" />

                                        <td style="text-align: center; vertical-align: middle; width: 20%;">
                                            <label class="codigoHallazgo" for="Hallazgos[@i].Codigo">@Model.Hallazgos[i].Codigo</label>
                                        </td>
                                        <td style="text-align: justify; vertical-align: middle; width: 40%;">
                                            <label class="descripcionHallazgo" for="Hallazgos[@i].Descripcion">@Model.Hallazgos[i].Descripcion</label>
                                        </td>
                                        <td style="text-align: justify; width: 25%;">
                                            <label class="outcomeHallazgo" for="Hallazgos[@i].Outcome">@Model.Hallazgos[i].Outcome</label>
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; width: 15%;">
                                            <label class="criticidadHallazgo" for="Hallazgos[@i].Criticidad">@Model.Hallazgos[i].Criticidad</label>
                                        </td>

                                        <td style="text-align: center; vertical-align: middle; width: 15%;">
                                            @if (!Model.EsCoordinador)
                                            {
                                                <a href="javascript:void(0);" class="remRowHallazgo">@ProfessorResource.Eliminar</a>
                                            }
                                            @if (Model.EsCoordinador)
                                            {
                                                if (Model.Hallazgos[i].PuedeEditar)
                                                {
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                            @ProfessorResource.Opciones
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                            <li role="presentation"><a onclick="eliminarhallazgo(@Model.Hallazgos[i].IdHallazgo)"><i class="fa fa-trash"></i> @ProfessorResource.Eliminar</a></li>
                                                            <li role="presentation"><a role="menuitem" @Url.ModalHelperFor("_EditIFCHallazgo", "IfcDiscoveryManagement", new { idHallazgo = Model.Hallazgos[@i].IdHallazgo, codigocurso = Model.CodigoCurso }, ModalSize.Normal)><i class="fa fa-edit"></i> @ProfessorResource.Editar</a></li>

                                                        </ul>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-default dropdown-toggle" onclick="nopuedeeditar('hallazgo')" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                            @ProfessorResource.Opciones
                                                            <span class="caret"></span>
                                                        </button>
                                                    </div>
                                                }

                                            }
                                        </td>

                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        @if (Model.EsCoordinador)
                        {
                            <div class="row" style="text-align: center;">
                                <a class="btn btn-primary" @Url.ModalHelperFor("AddHallazgoCoordinador", "IfcDiscoveryManagement", new { codigocurso = Model.CodigoCurso, ifcid = Model.IdIfc }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> @ProfessorResource.AgregarHallazgo</a>
                            </div>
                        }
                        else
                        {
                            <div class="row" style="text-align: center;">
                                <a class="btn btn-primary" @Url.ModalHelperFor("_AddHallazgo", "IfcDiscoveryManagement", new { codCurso = Model.CodigoCurso, idSubModalidad = Model.IdSubModalidad }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> @ProfessorResource.AgregarHallazgo</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">III. @ProfessorResource.AccionesMejoraPropuestas</h4>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        <div class="row">
                            <table id="tblAcciones" class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 20%;">@ProfessorResource.Codigo</th>
                                        <th style="text-align: justify; width: 50%;">@ProfessorResource.Descripcion</th>
                                        <th style="text-align: center; width: 15%;">@ProfessorResource.Hallazgo</th>
                                        <th style="text-align: center; width: 15%;">@ProfessorResource.Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.AccionesPropuestas.Count(); i++)
                                    {
                                        <tr class="rowAccion">
                                            <input class="hiddenCodigoAccion" type="hidden" name="AccionesPropuestas[@i].Codigo" value="@Model.AccionesPropuestas[i].Codigo" />
                                            <input class="hiddenDescripcionAccion" type="hidden" name="AccionesPropuestas[@i].Descripcion" value="@Model.AccionesPropuestas[i].Descripcion" />
                                            <input class="hiddenCodigoHallazgoAccion" type="hidden" name="AccionesPropuestas[@i].CodigoHallazgo" value="@Model.AccionesPropuestas[i].CodigoHallazgo" />

                                            <input class="hiddenIdAccionMejora" type="hidden" name="AccionesPropuestas[@i].IdAccionMejora" value="@Model.AccionesPropuestas[i].IdAccionMejora" />
                                            <input class="hiddenIdHallazgo" type="hidden" name="AccionesPropuestas[@i].IdHallazgo" value="@Model.AccionesPropuestas[i].IdHallazgo" />
                                            <input class="hiddenEstado" type="hidden" name="AccionesPropuestas[@i].Estado" value="@Model.AccionesPropuestas[i].Estado" />

                                            <td style="text-align: center; vertical-align: middle; width: 20%;">
                                                <label class="codigoAccion" for="AccionesPropuestas[@i].Codigo">@Model.AccionesPropuestas[i].Codigo</label>
                                            </td>
                                            <td style="text-align: justify; vertical-align: middle; width: 50%;">
                                                <label class="descripcionAccion" for="AccionesPropuestas[@i].Descripcion">@Model.AccionesPropuestas[i].Descripcion</label>
                                            </td>
                                            <td style="text-align: center; vertical-align: middle; width: 15%;">
                                                <label class="codigoHallazgoAccion" for="AccionesPropuestas[@i].CodigoHallazgo">@Model.AccionesPropuestas[i].CodigoHallazgo</label>
                                            </td>
                                            <td style="text-align: center; vertical-align: middle; width: 15%;">
                                                @if (!Model.EsCoordinador)
                                                {
                                                    <a href="javascript:void(0);" class="remRowAccion">@ProfessorResource.Eliminar</a>
                                                }

                                                @if (Model.EsCoordinador)
                                                {
                                                    if (!Model.AccionesPropuestas[i].Enplan)
                                                    {
                                                        <div class="btn-group" role="group">
                                                            <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                                @ProfessorResource.Opciones
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
                                                                <li role="presentation"><a onclick="eliminaraccion(@Model.AccionesPropuestas[i].IdAccionMejora)" role="menuitem"><i class="fa fa-trash"></i> @ProfessorResource.Eliminar</a></li>
                                                                <li role="presentation"><a role="menuitem" @Url.ModalHelperFor("_EditAccionMejora", "IfcDiscoveryManagement", new { ifcid = Model.IdIfc, codigocurso = Model.CodigoCurso, accionmejoraid = Model.AccionesPropuestas[@i].IdAccionMejora }, ModalSize.Normal)><i class="fa fa-edit"></i> @ProfessorResource.Editar</a></li>
                                                            </ul>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="btn-group" role="group">
                                                            <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="false" onclick="nopuedeeditar('accionmejora')">
                                                                @ProfessorResource.Opciones
                                                                <span class="caret"></span>
                                                            </button>

                                                        </div>
                                                    }
                                                }

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="row" style="text-align: center;">
                            @if (Model.EsCoordinador)
                            {
                                <a class="btn btn-primary" @Url.ModalHelperFor("AddAccionMejoraCoordinador", "IfcDiscoveryManagement", new { codigocurso = Model.CodigoCurso, ifcid = Model.IdIfc }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> @ProfessorResource.AgregarAccionMejora</a>

                            }
                            else
                            {
                                <a class="btn btn-primary" @Url.ModalHelperFor("_AddAccionMejora", "IfcDiscoveryManagement", new { codCurso = Model.CodigoCurso }, ModalSize.Normal)><i class="fa fa-plus" aria-hidden="true"></i> @ProfessorResource.AgregarAccionMejora</a>

                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">IV. @ProfessorResource.DesarrolloUnidadesAprendizaje</h4>
                    </div>
                    <div class="panel-body" style="text-align: left;">
                        <p style="font-weight: bold;">@ProfessorResource.Infraestructura</p>
                        @Html.TextAreaFor(m => m.Infraestructura, new { @class = "form-control", @placeholder = ProfessorResource.IngresarReporteInfraestructura, @style = "margin-bottom: 30px;", rows = 6, id = "taInfraestructura" })
                        <br />
                        <p style="font-weight: bold;">@ProfessorResource.ApreciacionAlumno</p>
                        @Html.TextAreaFor(m => m.ApreciacionAlumnos, new { @class = "form-control", @placeholder = ProfessorResource.IngresarReporteApreciacionAlumno, @style = "margin-bottom: 30px;", rows = 6, id = "taApreciacionAlumnos" })
                        <br />
                        <p style="font-weight: bold;">@ProfessorResource.ApreciacionDelegado</p>
                        @Html.TextAreaFor(m => m.ApreciacionDelegado, new { @class = "form-control", @placeholder = ProfessorResource.IngresarReporteApreciacionDelegado, @style = "margin-bottom: 30px;", rows = 6, id = "taApreciacionDelegado" })
                        <br />
                        <p style="font-weight: bold;">@ProfessorResource.ComentarioEncuestaAcademica</p>
                        @Html.TextAreaFor(m => m.ComentarioEncuesta, new { @class = "form-control", @placeholder = ProfessorResource.IngresarComentarioEncuestaAcademica, @style = "margin-bottom: 30px;", rows = 6, id = "taEncuestaAcademica" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">@ProfessorResource.Opciones</h4>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        <div class="col-md-4" style="text-align: center">
                            <a href="@Url.Action("Consult", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR})" class="btn" style="background-color: black; color: white;" onclick="return confirm('@ProfessorResource.CancelarOperacion')">
                                @ProfessorResource.Cancelar&nbsp;&nbsp;<i class="fa fa-close"></i>
                            </a>
                        </div>

                        @if (!Model.EsCoordinador)
                        {
                            <div class="col-md-4" style="text-align: center"><button type="submit" id="guardar" class="btn btn-primary" onclick="return submitForm('GUARDAR');">@ProfessorResource.Guardar&nbsp;&nbsp;&nbsp;<i class="fa fa-floppy-o " aria-hidden="true"></i></button></div>
                            <div class="col-md-4" style="text-align:center"><button type="submit" id="enviar" style="background-color: green; color: white;" class="btn" onclick="return submitForm('ENVIAR');">@ProfessorResource.Enviar&nbsp;&nbsp;&nbsp;<i class="fa fa-lock " aria-hidden="true"></i></button></div>
                        }
                        @if (Model.EsCoordinador)
                        {
                            <div class="col-md-4" style="text-align: center"><button type="submit" id="guardarcoordinador" class="btn btn-success" onclick="return submitForm('GUARDARC');">@ProfessorResource.Guardar&nbsp;&nbsp;&nbsp;<i class="fa fa-floppy-o " aria-hidden="true"></i></button></div>
                        }

                        @if (Model.EsCoordinador)
                        {
                            <div class="col-md-4" style="text-align: center"><button type="submit" id="aprobarcoordinador" class="btn btn-primary" onclick="return submitForm('APROBAR');">@ProfessorResource.Aprobar&nbsp;&nbsp;&nbsp;<i class="fa fa-floppy-o " aria-hidden="true"></i></button></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@*<div class="modal fade" id="VentanaModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="modal-hallazgo">

                    </div>
                </div>
            </div>

        </div>
    </div>*@

<div class="modal fade" id="VentanaModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@IFCManagementResource.IngresoEvidenciaPorHallazgo</h3>
            </div>
            <div class="modal-body">
                <div id="modal-hallazgo">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary"
                        data-dismiss="modal">
                    @IFCManagementResource.Cerrar
                </button>
                <button id="bfCaptchaEntry" class="btn btn-primary">
                    @ButtonsOptionsResource.Guardar
                </button>
            </div>
        </div>

    </div>
</div>

@section Scripts{

    @Html.Content("vendor/bootstrap-select/bootstrap-select.min.js")
    @Html.Content("vendor/asspinner/jquery-asSpinner.min.js")
    @Html.Content("vendor/clockpicker/bootstrap-clockpicker.min.js")
    @Html.Content("vendor/jt-timepicker/jquery.timepicker.min.js")
    @Html.Content("vendor/multi-select/jquery.multi-select.js")
    @Html.Content("vendor/icheck/icheck.min.js")

    @Html.Content("js/components/asspinner.min.js")
    @Html.Content("js/components/clockpicker.min.js")
    @Html.Content("js/components/jt-timepicker.min.js")
    @Html.Content("js/components/multi-select.min.js")
    @Html.Content("js/components/icheck.min.js")

    @Html.Content("js/jquery.contextmenu.r2.js", ConstantHelpers.AREAS.PROFESSOR)
    @Html.Content("js/wysihtml5-0.3.0.js", ConstantHelpers.AREAS.PROFESSOR)
    @Html.Content("js/bootstrap-wysihtml5.js", ConstantHelpers.AREAS.PROFESSOR)
    @Html.Content("js/sweetalert.min.js", ConstantHelpers.AREAS.SURVEY)



    <script type="text/javascript">

        var arrayEv = [];
        var evidenceInUse = "";
        function OpenModal(idAccionMejora, evidenceButtonId) {
            evidenceInUse = evidenceButtonId;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddNewEvidenceAM", "ImprovementActions", new { Areas = "Professor" })',
                data: { IdAccionMejora: idAccionMejora, Anio: 0, codInstrumento: "IFC", vista: "Plan" },
                success: function (data) {
                    $('#modal-hallazgo').html(data);

                    $('#VentanaModal').modal('show');
                    $('#VentanaModal').on('shown.bs.modal', function () {

                        $('#TablaEvidencia').DataTable({
                            scrollY: 300,
                            columns: [{ "width": "10%" }, { "width": "15%" }, { "width": "10%" }, { "width": "10%" }, { "width": "20%" }],
                            paging: false,
                            autoWidth: false,
                            responsive: true,
                            destroy: true,
                        });

                    })

                }
            });
         }

        $("#bfCaptchaEntry").on("click", function () {
            var myMap = new Map()
            var guardar = false;
            function evidencia(id, descripcion) {
                this.Id = id;
                this.Descripcion = descripcion;
            }
            $("textarea[name^='hallazgo']").each(function () {
                if ($('#general').val().trim() === "") {
                    if ($(this).val().trim() === "") {
                        swal("@Html.Raw(IFCManagementResource.NoDebeExistirCamposVacios)", "", "error");
                        guardar = false;
                        return false
                    } else {
                        guardar = true;
                        arrayEv.push(new evidencia(parseInt($(this).attr('id')), $(this).val().trim()));
                    }
                } else {
                    if ($(this).val().trim() === "") {
                        guardar = true;
                        arrayEv.push(new evidencia(parseInt($(this).attr('id')), $('#general').val().trim()));
                    } else {
                        guardar = true;
                        arrayEv.push(new evidencia(parseInt($(this).attr('id')), $(this).val().trim()));
                    }
                }
            })

            if (guardar) {
                swal({
                    title: "@Html.Raw(IFCManagementResource.DeseaGuardarLosCambios)",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: '@ButtonsOptionsResource.Aceptar',
                    cancelButtonText: '@ButtonsOptionsResource.Cancelar',
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        var accionmejoraId = $('#accionmejoraid').val();
                        if (isConfirm) {
                            $.ajax({
                                contentType: 'application/json; charset=utf-8',
                                type: 'post',
                                dataType: 'json',
                                url: '@Url.Action("AddEvidenciaPlan", "ImprovementActions", new { Areas = "Professor" })',
                                data: JSON.stringify({ Listado: arrayEv, IdAccionMejora: accionmejoraId }),
                                success: function (data) {
                                    if (!data.success) {
                                        swal({
                                            title: '@Html.Raw(MessageResource.Error)',
                                            type: 'error',
                                        });
                                    } else {
                                        setTimeout(function () {
                                            swal({
                                                title: '@Html.Raw(MessageResource.Success)',
                                                type: 'success',
                                            });
                                            $('#' + evidenceInUse).attr('disabled', true);
                                            evidenceInUse = "";
                                            $('#VentanaModal').modal('hide');
                                        }, 1000)
                                    }
                                }
                            });
                        }
                    });
            }
        });


        function addEvidencia(idHallazgoAccionMejora, descripcion) {
            
            $.ajax({
                type: "POST",
                cache: false,
                traditional: true,
                dataType: 'json',
                url: '@Url.Action("AddEvidenciaPlan", "ImprovementActions", new { Areas = "Professor" })',
                data: { IdHallazgoAccionMejora: idHallazgoAccionMejora, Descripcion: descripcion },
                success: function (data) {
                    console.log(data.texto)
                }
            });
        }


        function AddEvidenciaPlan(listado, id) {
            
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("AddEvidenciaPlan", "ImprovementActions", new { Areas = "Professor" })',
                data: JSON.stringify({ Listado: listado, IdAccionMejora: id }),
                success: function (data) {
                    console.log(data.texto)
                }
            });
        }


        function nopuedeeditar(tipo) {
            switch (tipo) {
                case "hallazgo":
                    swal("@Html.Raw(IFCManagementResource.NoSePuedeEditar)", "@Html.Raw(IFCManagementResource.HallazgoRelacionadoAccionMejoraPertenecePLanMejora)", "info");
                    break;
                case "accionmejora":
                    swal("@Html.Raw(IFCManagementResource.NoSePuedeEditar)", "@Html.Raw(IFCManagementResource.AccionMejoraPertenecePlanMejora)", "info");
                    break;
              }
        }

        function eliminaraccion(idaccionmejora){
            swal({
                title: '@Html.Raw(IFCManagementResource.EstaSeguroEliminarAccionMejora)',
                text: "@Html.Raw(IFCManagementResource.AccionMejoraSeraEliminadoEsteIFC)",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '@Html.Raw(IFCManagementResource.SiEliminalo)',
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteAccionMejoraIFC", "IfcDiscoveryManagement")',
                    data: { accionmejoraid: idaccionmejora },
                    success: function (response) {
                        switch (response) {
                            case "deletetrue":
                                swal({
                                    position: 'top-end',
                                    timer: 1000,
                                    type: 'success',
                                    title: '@Html.Raw(IFCManagementResource.AccionMejoraEliminadoExitosamente)',
                                    showConfirmButton: false,
                                });
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 1000);
                                break;
                            case "error":
                                swal({
                                    position: 'top-end',
                                    type: 'error',
                                    title: '@Html.Raw(IFCManagementResource.SucedioUnError)',
                                    showConfirmButton: false,
                                    timer: 1000
                                })
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 1000);
                                break;
                        }
                    }
                });
            })
        }

        function eliminarhallazgo(idhallazgo) {
            swal({
                title: '@Html.Raw(IFCManagementResource.EstaSeguroEliminarHallazgo)',
                text: "@Html.Raw(IFCManagementResource.SeEliminaranAccionesMejoraDeEsteHallazgo)",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '@Html.Raw(IFCManagementResource.SiEliminalo)',
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteHallazgoIFC", "IfcDiscoveryManagement")',
                    data: { hallazgoid: idhallazgo },
                    success: function (response) {
                        switch (response) {
                            case "deletetrue":
                                swal({
                                    position: 'top-end',
                                    timer: 1000,
                                    type: 'success',
                                    title: '@Html.Raw(IFCManagementResource.HallazgoEliminadoExitosamente)',
                                    showConfirmButton: false,
                                });
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 1000);
                                break;
                            case "error":
                                swal({
                                    position: 'top-end',
                                    type: 'error',
                                    title: '@Html.Raw(IFCManagementResource.SucedioUnError)',
                                    showConfirmButton: false,
                                    timer: 1000
                                })
                                setTimeout(function () {
                                    window.location.reload(1);
                                }, 1000);
                                break;

                        }
                    }
                });
            })
        }

        function submitForm(modo, ifcif) {

             if ($(".codigoHallazgo").html() == undefined) {
                document.getElementById('guardarid').disabled = false;
                document.getElementById('enviadoid').disabled = false;
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(UPC.CA.ABET.Presentation.Resources.Areas.Report.ReportResource.RequiredMessageFinding))',
                    icon: 'error',
                    confirmButtonColor: '@Html.Raw(ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR)',
                    confirmButtonText: '@Html.Raw(ProfessorResource.Aceptar)'
                });
                return false;
            }

            if ($(".codigoAccion").html() == undefined) {
                document.getElementById('guardarid').disabled = false;
                document.getElementById('enviadoid').disabled = false;
                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(UPC.CA.ABET.Presentation.Resources.Areas.Report.ReportResource.RequiredMessageImprovementAction))',
                    icon: 'error',
                    confirmButtonColor: '@Html.Raw(ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR)',
                    confirmButtonText: '@Html.Raw(ProfessorResource.Aceptar)'
                });
                return false;
            }

            if ($("#taInfraestructura").val().trim().length == 0) {

                document.getElementById('guardar').disabled = false;
                document.getElementById('enviar').disabled = false;
                document.getElementById('guardarcoordinador').disabled = false;
                document.getElementById('aprobarcoordinador').disabled = false;

                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.DebeIngresarInfraestructura))',
                    type: 'error',
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: '@ProfessorResource.Aceptar'
                });
                return false;
            }
            if ($("#taApreciacionAlumnos").val().trim().length == 0) {

                document.getElementById('guardar').disabled = false;
                document.getElementById('enviar').disabled = false;
                document.getElementById('guardarcoordinador').disabled = false;
                document.getElementById('aprobarcoordinador').disabled = false;

                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.DebeIngresarApreciacionAlumno))',
                    type: 'error',
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: '@ProfessorResource.Aceptar'
                });
                return false;
            }
            if ($("#taApreciacionDelegado").val().trim().length == 0) {

                document.getElementById('guardar').disabled = false;
                document.getElementById('enviar').disabled = false;
                document.getElementById('guardarcoordinador').disabled = false;
                document.getElementById('aprobarcoordinador').disabled = false;

                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.DebeIngresarApreciacionDelegado))',
                    type: 'error',
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: '@ProfessorResource.Aceptar'
                });
                return false;
            }
            if ($("#taEncuestaAcademica").val().trim().length == 0) {

                document.getElementById('guardar').disabled = false;
                document.getElementById('enviar').disabled = false;
                document.getElementById('guardarcoordinador').disabled = false;
                document.getElementById('aprobarcoordinador').disabled = false;

                swal({
                    title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.DebeIngresarComentarioEncuestaAcademica))',
                    type: 'error',
                    confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                    confirmButtonText: '@ProfessorResource.Aceptar'
                });
                return false;
            }

            
            $("#TipoSubmit").val(modo);

            if (modo == 'ENVIAR') {
                swal({
                    title: '@Html.Raw(ProfessorResource.EstaSeguro)',
                    text: '@Html.Raw(ProfessorResource.EnviarIFC)',
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "¡Sí, Envíalo!",
                    closeOnConfirm: false,
                    html: true
                },
                   function () {
                       swal({ title: "@Html.Raw(IFCManagementResource.Enviado)", text: "@Html.Raw(IFCManagementResource.SuIFChaSidoEnviado)", type: "success" },
                           function () {
                               document.getElementById("formView").submit();
                               return true;
                           });
                   });
            }


            if (modo == 'APROBAR') {

                var idifc = $("#IdIfc").val();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ValidarIFC", "IfcDiscoveryManagement")',
                    data: { ifcid: idifc },
                    success: function (response) {
                        
                        switch (response) {
                            case "OK":
                                swal({
                                    title: '@Html.Raw(ProfessorResource.EstaSeguro)',
                                    text: '@Html.Raw(ProfessorResource.AprobarIFC)',
                                    type: "info",
                                    showCancelButton: true,
                                    confirmButtonColor: "#18C962",
                                    confirmButtonText: "@Html.Raw(IFCManagementResource.SiAprobar)",
                                    closeOnConfirm: false,
                                    html: true
                                },
                                   function () {
                                       swal({ title: "@Html.Raw(IFCManagementResource.Aprobado)", text: "@Html.Raw(IFCManagementResource.SuIFChaSidoAprobado)", type: "success" },
                                           function () {
                                               document.getElementById("formView").submit();
                                               return true;
                                           });
                                   });
                                break;
                            case "hallazgoslibres":
                                swal({
                                    title: '@ProfessorResource.EstaSeguro',
                                    text: "@Html.Raw(IFCManagementResource.ExistenHallazgosSinAccionesMejoraRelacionados)",
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#ff0000",
                                    confirmButtonText: "¡Sí, aprobar!",
                                    closeOnConfirm: false,
                                    html: true
                                },
                                   function () {
                                       swal({ title: "@Html.Raw(IFCManagementResource.Aprobado)", text: "@Html.Raw(IFCManagementResource.SuIFChaSidoAprobado)", type: "success" },
                                           function () {
                                               document.getElementById("formView").submit();
                                               return true;
                                           });
                                   });

                                document.getElementById('guardar').disabled = false;
                                document.getElementById('enviar').disabled = false;
                                document.getElementById('guardarcoordinador').disabled = false;
                                document.getElementById('aprobarcoordinador').disabled = false;

                                break;
                            case "Error":
                                swal({
                                    position: 'top-end',
                                    type: 'error',
                                    title: '@Html.Raw(IFCManagementResource.SucedioUnError)',
                                    showConfirmButton: false,
                                    timer: 1000
                                })

                                document.getElementById('guardar').disabled = false;
                                document.getElementById('enviar').disabled = false;
                                document.getElementById('guardarcoordinador').disabled = false;
                                document.getElementById('aprobarcoordinador').disabled = false;
                                break;
                        }
                    }
                });

            }

            if (modo == 'GUARDARC') {

                       swal({ title: "@Html.Raw(IFCManagementResource.IFCGuardado)", text: "@Html.Raw(IFCManagementResource.SuIFChaSidoGuardadoParaProximaEdicion)", type: "success" },
                           function () {
                               document.getElementById("formView").submit();
                               return true;
                           });

            }


            if (modo == 'GUARDAR') {
                return true;
            }

            return false;
        }

        @if (!string.IsNullOrEmpty(Model.Titulo))
        {
<text>
        var codigoCurso = '@Model.CodigoCurso';
        var periodoAcademico = '@Model.CicloAcademico';
        var globalHallazgo = 1;
        var globalAccion = 1;
        //var internalGlobalHallazgo = $('.rowHallazgo').length;
        var internalGlobalHallazgo = 0;
        var sedes = [];

        @for (int i = 0; i < Model.Sedes.Count(); i++)
        {
            string codigoSede = Model.Sedes[i].Codigo;
            string nombreSede = Model.Sedes[i].Nombre;

            <text>sedes.push({ codigo: '@codigoSede', nombre: '@nombreSede' });</text>
        }

        $(document).ready(function () {
            $("#tblHallazgos").on('click', '.remRowHallazgo', function () {

                var accionesToDelete = [];
                var hallazgoToDelete = $(this).closest('.rowHallazgo').find(".codigoHallazgo").text();

                $(".rowAccion").each(function (index) {
                    if ($(this).find(".codigoHallazgoAccion").text() == hallazgoToDelete) {
                        accionesToDelete.push($(this).find(".codigoAccion").text());
                    }
                });

                if (accionesToDelete.length == 0) {
                    var answer = confirm("@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.EliminarHallazgoIFC))");
                    if (answer == false) return;
                } else {
                    var textoAcciones = "";
                    for (var i = 0; i < accionesToDelete.length; i++) {
                        textoAcciones += accionesToDelete[i] + '\n';
                    }
                    var answer = confirm("@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.EliminarHallazgoYAccionesMejoraIFC))" + '\n\n' + textoAcciones);
                    if (answer == false) return;
                }

                $(this).closest('.rowHallazgo').remove();

                if (accionesToDelete.length > 0) {
                    $(".rowAccion").each(function (index) {
                        if ($(this).find(".codigoHallazgoAccion").text() == hallazgoToDelete) {
                            $(this).remove();
                        }
                    });

                    $('.hiddenCodigoAccion')
                        .each(function (index) {
                            $(this).attr('name', 'AccionesPropuestas[' + index + '].Codigo');
                        });
                    $('.hiddenDescripcionAccion')
                        .each(function (index) {
                            $(this).attr('name', 'AccionesPropuestas[' + index + '].Descripcion');
                        });
                    $('.hiddenCodigoHallazgoAccion')
                        .each(function (index) {
                            $(this).attr('name', 'AccionesPropuestas[' + index + '].CodigoHallazgo');
                        });

                    $('.hiddenIdAccionMejora')
                        .each(function (index) {
                            $(this).attr('name', 'AccionesPropuestas[' + index + '].IdAccionMejora');
                        });
                    $('.hiddenIdHallazgo')
                        .each(function (index) {
                            $(this).attr('name', 'AccionesPropuestas[' + index + '].IdHallazgo');
                        });
                    $('.hiddenEstado')
                        .each(function (index) {
                            $(this).attr('name', 'AccionesPropuestas[' + index + '].Estado');
                        });

                    $('.codigoAccion')
                        .each(function (index) {
                            $(this).attr('for', 'AccionesPropuestas[' + index + '].Codigo');
                            $(this).attr('name', 'AccionesPropuestas_' + index + '__Codigo');
                        });

                    $('.descripcionAccion')
                        .each(function (index) {
                            $(this).attr('for', 'AccionesPropuestas[' + index + '].Descripcion');
                            $(this).attr('name', 'AccionesPropuestas_' + index + '__Descripcion');
                        });

                    $('.codigoHallazgoAccion')
                        .each(function (index) {
                            $(this).attr('for', 'AccionesPropuestas[' + index + '].CodigoHallazgo');
                            $(this).attr('name', 'AccionesPropuestas_' + index + '__CodigoHallazgo');
                        });
                }

                $('.hiddenCodigoHallazgo')
                    .each(function (index) {
                        $(this).attr('name', 'Hallazgos[' + index + '].Codigo');
                        //internalGlobalHallazgo = index;
                        //if (index != 0) internalGlobalHallazgo++;
                    });
                $('.hiddenDescripcionHallazgo')
                    .each(function (index) {
                        $(this).attr('name', 'Hallazgos[' + index + '].Descripcion');
                    });
                //AGREGUE ESTO
                $('.hiddenidOutcome')
                    .each(function (index) {
                        $(this).attr('name', 'Hallazgos[' + index + '].idOutcome');
                    });
                //HASTA ACA
                $('.hiddenSede')
                    .each(function (index) {
                        $(this).attr('name', 'Hallazgos[' + index + '].Sede');
                    });

                $('.hiddenCriticidadHallazgo')
                   .each(function (index) {
                       $(this).attr('name', 'Hallazgos[' + index + '].Criticidad');
                   });

                $('.codigoHallazgo')
                    .each(function (index) {
                        $(this).attr('for', 'Hallazgos[' + index + '].Codigo');
                        $(this).attr('name', 'Hallazgos_' + index + '__Codigo');
                    });

                $('.descripcionHallazgo')
                    .each(function (index) {
                        $(this).attr('for', 'Hallazgos[' + index + '].Descripcion');
                        $(this).attr('name', 'Hallazgos_' + index + '__Descripcion');
                    });

                //AGREGUE ESTO
                $('.outcomeHallazgo')
                    .each(function (index) {
                        $(this).attr('for', 'Hallazgos[' + index + '].Outcome');
                        $(this).attr('name', 'Hallazgos_' + index + '__Outcome');
                    });
                //---------------------------------------------------------------
                $('.criticidadHallazgo')
                    .each(function (index) {
                        $(this).attr('for', 'Hallazgos[' + index + '].Criticidad');
                        $(this).attr('name', 'Hallazgos_' + index + '__Criticidad');
                    });
            });

            $("#tblAcciones").on('click', '.remRowAccion', function () {
                var answer = confirm("@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.EliminarAccionMejoraIFC))");
                if (answer == false) return;
                $(this).closest('.rowAccion').remove();

                $('.hiddenCodigoAccion')
                    .each(function (index) {
                        $(this).attr('name', 'AccionesPropuestas[' + index + '].Codigo');
                    });
                $('.hiddenDescripcionAccion')
                    .each(function (index) {
                        $(this).attr('name', 'AccionesPropuestas[' + index + '].Descripcion');
                    });
                $('.hiddenCodigoHallazgoAccion')
                    .each(function (index) {
                        $(this).attr('name', 'AccionesPropuestas[' + index + '].CodigoHallazgo');
                    });

                $('.codigoAccion')
                    .each(function (index) {
                        $(this).attr('for', 'AccionesPropuestas[' + index + '].Codigo');
                        $(this).attr('name', 'AccionesPropuestas_' + index + '__Codigo');
                    });

                $('.descripcionAccion')
                    .each(function (index) {
                        $(this).attr('for', 'AccionesPropuestas[' + index + '].Descripcion');
                        $(this).attr('name', 'AccionesPropuestas_' + index + '__Descripcion');
                    });

                $('.codigoHallazgoAccion')
                    .each(function (index) {
                        $(this).attr('for', 'AccionesPropuestas[' + index + '].CodigoHallazgo');
                        $(this).attr('name', 'AccionesPropuestas_' + index + '__CodigoHallazgo');
                    });
            });
        });
        </text>
        }
    </script>
}
