﻿@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.IfcManagement.ListaNoIFCCorreoViewModel
@{
    //  ViewBag.Title = "Informes de Fin de Ciclo";
   
    ViewBag.Icon = "graduation-cap"; Boolean esAcreditador = false;
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;
    if (language == "es-PE")
    {
        ViewBag.Title = "Lista de cursos sin IFC";
    }
    else
    {
        ViewBag.Title = "List of courses without IFC";
    }

}
@section Breadcrumbs {

}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        @{var button = ""; }
                        @if (@language == "es-PE")
                        {
                            button = "Enviar correo";
                        }
                        else
                        {
                            button = "Send Email";
                        }
                        
                        <button type="button" id="btnEnviarCorreo" class="btn btn-dark" onclick="EnviarCorreo()">
                            <div id="btnEnviarCorreo-label">
                                <i class="fa fa-envelope"></i> &nbsp;&nbsp;@button
                            </div>
                        </button>
                        
                        <br/>
                        <br/>
                        <table id="tblResultados" class="table table-striped table-hover" data-info="true" data-length-change="true" data-paginate="true">
                            <thead>
                                @if (@language == "es-PE")
                                {
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Curso</th>
                                        <th>Docente</th>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <th>Code</th>
                                        <th>Course</th>
                                        <th>Teacher</th>
                                    </tr>
                                }
                            </thead>
                            <tbody id="SOPPP">

                                @foreach (var item in Model.ListaIFCNoregistrado)
                                {
                                    <tr id="tdResultado">
                                        <td>@item.CodigoCurso</td>
                                        <td>
                                            @if (language == "es-PE")
                                            {
                                                @item.CursoEspanol
                                            }
                                            else
                                            {
                                                @item.CursoIngles
                                            }
                                        </td>
                                        <td>@item.Docente</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{var correoSatisfactorio = language == "es-PE" ? "Se envió el correo correctamente" : "The email was sent correctly";}
@{var mensajeCorreoEnviando = language == "es-PE" ? "Enviando correo" : "Sending email";}
@{var mensajeCorreoRecibido = language == "es-PE" ? "Enviado" : "Sent";}

@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });

        function EnviarCorreo() {
            $("#btnEnviarCorreo").prop('disabled', true);
            $("#btnEnviarCorreo-label").html('<i class="fa fa-spinner fa-pulse"></i>&nbsp;&nbsp;@mensajeCorreoEnviando');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SendEmail")',
                data: {
                    PeriodoAcademico: @Model.IdPeriodoAcademico
                },
                success: function () {
                    $("#btnEnviarCorreo-label").html('<i class="fa fa-check"></i>&nbsp;&nbsp;@mensajeCorreoRecibido');
                },
                error: function () {
                    $("#btnEnviarCorreo-label").html('<i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;Algo salió mal');
                }
            })
            
        }        
    </script>
}

