﻿@{
    //  ViewBag.Title = "Informes de Fin de Ciclo";
    ViewBag.Title = UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.InformesFinCiclo;
    ViewBag.Icon = "graduation-cap"; Boolean esAcreditador = false;
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;


}
@section Breadcrumbs {

}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row row-lg">
            <div class="col-md-12">
                <div class="example-wrap">
                    <div class="nav-tabs-vertical">
                        <ul class="nav nav-tabs margin-right-25 col-md-3" data-plugin="nav-tabs" role="tablist" style="height: auto;">
                            @if (Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.DirectorCarrera) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera) || Session.GetRoles().HasRole(AppRol.Acreditador))
                            {
                                <li role="presentation" class="active"><a data-toggle="tab" href="#mantenimientoVirtualTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-hand-o-up"></i> <span class="tabhidden">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Consultar</span></a></li>

                                if (!Session.GetRoles().HasRole(AppRol.Acreditador) || Session.GetRoles().HasRole(AppRol.Administrador) || Session.GetRoles().HasRole(AppRol.DirectorCarrera) || Session.GetRoles().HasRole(AppRol.CoordinadorCarrera))
                                {
                                    <li role="presentation" class=""><a data-toggle="tab" href="#notificacionTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-tasks"></i> <span class="tabhidden">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Registrar</span></a></li>
                                    <li role="presentation" class=""><a data-toggle="tab" href="#generarHallazgosTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-exchange"></i> <span class="tabhidden">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.OptionsHallazgos</span></a></li>
                                }
                                <li role="presentation" class=""><a data-toggle="tab" href="#reporteTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-file-excel-o"></i> <span class="tabhidden">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Reporte</span></a></li>
                                <li role="presentation" class=""><a data-toggle="tab" href="#informeTab" aria-controls="exampleTabsLeftFour" role="tab" aria-expanded="false"><i class="fa fa-envelope"></i> <span class="tabhidden">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Informar</span></a></li>
                            }


                        </ul>
                        <div class="tab-content padding-vertical-15  col-md-8" style="font-size: 14px;">
                            <div class="tab-pane @(esAcreditador == false ? "active" : "")" id="mantenimientoVirtualTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-hand-o-up"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ConsultarInformeFinCiclo</h2>
                                <p align="justify">
                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ConsultarInformeFinCicloText
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("Consult", "IfcManagement")"><i class="fa fa-sign-in"></i>@ButtonsOptionsResource.Consultar</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="notificacionTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-tasks"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.RegistrarInformeFinCiclo</h2>
                                <p align="justify">
                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.RegistrarInformeFinCicloText
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("Create", "IfcManagement")"><i class="fa fa-sign-in"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Registrar</a>
                                </p>
                            </div>

                            <div class="tab-pane" id="reporteTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-file-excel-o"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ReporteEstadoIFC</h2>
                                <p align="justify">
                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ReporteEstadoIFCText
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("ReportStatusView", "IfcManagement")"><i class="fa fa-sign-in"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Ir</a>
                                </p>
                            </div>
                            <div class="tab-pane" id="informeTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-envelope"></i>@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.EnvioDeCorreo</h2>
                                <p align="justify">
                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.DescripcionDeEnvioDeCorreo
                                </p>                                
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("ListaNoIFCCorreo", "IfcManagement",new { PeriodoAcademico = (Session.GetModalidadId() == 1 ? Html.Raw(Session.GetPeriodoAcademicoId()) : Html.Raw(Session.GetPeriodoAcademicoId())) })"><i class="fa fa-sign-in"></i>@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Ir</a>
                                </p>
                            </div>


                            <div class="tab-pane" id="generarHallazgosTab" role="tabpanel">
                                <h2 class="fixtitle"><i class="fa fa-exchange"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.OptionsHallazgos</h2>
                                <p align="justify">
                                    @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.OptionsMantenimientoHallazgosDescription
                                </p>
                                <p>
                                    <a class="pull-right btn btn-primary" href="@Url.Action("Discoveries", "Discoveries", new { Area = ConstantHelpers.AREAS.PROFESSOR, InstrumentoId = ConstantHelpers.INSTRUMENTOS.IFC, ResultadoId = 1 })">
                                        <i class="fa fa-sticky-note"></i> @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Acceder
                                    </a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(window).load(function () {
            $('#loading').hide();
        });
    </script>
}

