﻿@using UPC.CA.ABET.Presentation.Areas.Professor.Resources.Views.IfcManagement;
@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.IfcManagement.ReportStatusViewModel
@{
    ViewBag.Title = IFCManagementResource.ExportarEstadoDeIFC;
    ViewBag.Icon = "graduation-cap";
    var cookie = CookieHelpers.GetCookie(CookieKey.Culture);
    var language = cookie != null ? cookie.Value.ToString() : ConstantHelpers.CULTURE.ESPANOL;

}

<style>
    #loading {
        display: none;
        background-color: #ffffff !important;
    }

        #loading p {
            color: black;
        }

    .load {
        padding: 250px;
    }
    .input__row {
        margin-top: 10px;
    }
    /* Radio button */
    .radiobtn {
        display: none;
    }

    .buttons {
        margin-left: -40px;
    }

        .buttons li {
            display: block;
        }

            .buttons li label {
                padding-left: 30px;
                position: relative;
                left: -25px;
            }

                .buttons li label:hover {
                    cursor: pointer;
                }

            .buttons li span {
                display: inline-block;
                position: relative;
                top: 5px;
                border: 2px solid #ccc;
                width: 18px;
                height: 18px;
                background: #fff;
            }

    .radiobtn:checked + span::before {
        content: '';
        border: 2px solid #fff;
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: #FF1901;
    }

    /* Upload button */
    .upload {
        display: none;
    }

    .uploader {
        border: 1px solid #ccc;
        width: 300px;
        position: relative;
        height: 30px;
        display: flex;
    }

        .uploader .input-value {
            width: 250px;
            padding: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 25px;
            font-family: sans-serif;
            font-size: 16px;
        }

        .uploader label {
            cursor: pointer;
            margin: 0;
            width: 30px;
            height: 30px;
            position: absolute;
            right: 0;
            background: #c3e3fc url('https://www.interactius.com/wp-content/uploads/2017/09/folder.png') no-repeat center;
        }

    /* Submit button */
    .submitbtn {
        text-transform: uppercase;
        background-color: #1f659b;
        border-radius: 0;
        font-weight: bold;
        width: 90px;
        border: none;
        height: 30px;
        color: #fff;
    }

        .submitbtn:hover {
            color: #c3e3fc;
        }

            .submitbtn:hover + span.form-arrow::before {
                border: 2px solid #c3e3fc;
                border-bottom-color: transparent;
                border-left-color: transparent;
            }

    .form-arrow {
        position: relative;
    }

        .form-arrow::before {
            content: '';
            width: 8px;
            height: 8px;
            border: 2px solid #fff;
            border-bottom-color: transparent;
            border-left-color: transparent;
            display: block;
            transform: rotate(45deg);
            position: absolute;
            top: 20%;
            right: 10px;
        }
</style>

<form method="post">

    <div class="row">
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> @IFCManagementResource.DatosDeExportacion</h3>
            </div>
            <div class="panel-body">
                @Html.HiddenFor(x => x.IdPeriodoAcademico)
                <div hidden="hidden">
                    @Html.DropDownListFor(x => x.LstArea, new SelectList(Model.LstArea), new { @class = "form-control", @required = "true", @id = "lstarea" })
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input__row">
                            <ul class="buttons">
                                <li>

                                    @Html.RadioButtonFor(m => m.SelectedAnswer, @IFCManagementResource.CARRERA, new { @class = "radiobtn", @id = "radiobtn_1", @Checked = "checked" })
                                    <span> </span>
                                    <label for="radiobtn_1">@IFCManagementResource.CARRERA</label>
                                </li>
                                <li>

                                    @Html.RadioButtonFor(m => m.SelectedAnswer, @IFCManagementResource.AREA, new { @class = "radiobtn", @id = "radiobtn_2" })
                                    <span> </span>
                                    <label for="radiobtn_2">@IFCManagementResource.AREA</label>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <!--@Html.TextBoxFor(x => x.Ciclo.CicloAcademico, new { @class = "form-control", @readonly = "" })-->

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@IFCManagementResource.PERIODOACADEMICO</label>

                            @Html.DropDownListFor(x => x.LstCiclos, new SelectList(Model.LstCiclos), new { @class = "form-control", @required = "true" })


                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey" id="ObtLabl">@IFCManagementResource.CARRERA</label>
                            @if (language == ConstantHelpers.CULTURE.ESPANOL)
                            {
                                @Html.DropDownListFor(x => x.LstCarreras, new SelectList(Model.LstCarreras), new { @class = "form-control", @required = "true", @id = "lst" })
                            }
                            else
                            {
                                @Html.DropDownListFor(x => x.LstCarrerasEn, new SelectList(Model.LstCarrerasEn), new { @class = "form-control", @required = "true", @id = "lst" })
                            }
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="label-survey">@IFCManagementResource.ESTADO</label>
                            @if (language == ConstantHelpers.CULTURE.ESPANOL)
                            {
                                @Html.DropDownListFor(x => x.LstStatus, new SelectList(Model.LstStatus), new { @class = "form-control", @required = "true" })
                            }
                            else
                            {
                                @Html.DropDownListFor(x => x.LstStatusEn, new SelectList(Model.LstStatusEn), new { @class = "form-control", @required = "true" })
                            }
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">


                        <a class="btn btn-default" href="@Url.Action(" Management", "IfcManagement" )"> @ButtonsOptionsResource.Cancelar </a>

                        <button type="submit" id="btnGenerar" class="btn btn-primary pull-right">  @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Descargar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div class="container text-center load" id="loading">
    <img src="@Url.Content("~/Areas/Professor/Content/assets/images/ajax-loader.gif")" width="100">
    <p>Cargando...</p>
</div>

@section Scripts{
    <script src="~/Content/assets/plugins/select2/dist/js/select2.min.js" rel="stylesheet"></script>
    <script src="@Url.Content(" ~/Areas/Report/Content/js/jquery.validate.js")"></script>
    <script src="@Url.Content(" ~/Areas/Report/Content/js/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content(" ~/Areas/Report/Content/js/jquery.unobtrusive-ajax.min.js")"></script>


    <script>
    $("#radiobtn_1").click(function () {

        $("#ObtLabl").html("@(IFCManagementResource.CARRERA)");
        CarreraCursosSeccion()


    });
    $("#radiobtn_2").click(function () {

        $("#ObtLabl").html("@(IFCManagementResource.AREA)");
        AreaCursosSeccion()

    });
        $("#LstCiclos").change(function(){
            if ($("#ObtLabl").html() == "AREA") {
                AreaCursosSeccion();
            }
        });

    function AreaCursosSeccion() {
        // console.log("actualizar");
        var periodoAcademicoID = $('#LstCiclos').val();
        console.log(periodoAcademicoID)
        $.ajax({
            //  type: "POST",
            url: '@Url.Action("GetAreasXAlumno", "IfcManagement")',
            data: { periodoAcademicoID : periodoAcademicoID },
            dataType: "json",
            success: function (data) {
                $('#loading').hide();
                $("#lst").empty();
                var cookie = '@CookieHelpers.GetCookie(CookieKey.Culture).Value';
                var language = cookie != null ? cookie : '@ConstantHelpers.CULTURE.ESPANOL';

                for (i = 0; i < data.length; i++) {
                   if (language == '@ConstantHelpers.CULTURE.ESPANOL') {
                       $("#lst").append($('<option>').text(data[i]["NombreEspanol"]).attr('id', data[i]["IdUnidadAcademica"]));
                       if ($("#lst").val() == "No existe Areas para el periodo academico") {
                           $("#btnGenerar").attr("disabled", "disabled")
                       } else {
                           $("#btnGenerar").removeAttr("disabled");
                       }
                    }
                    else {
                       $("#lst").append($('<option>').text(data[i]["NombreIngles"]).attr('id', data[i]["IdUnidadAcademica"]));
                       if ($("#lst").val() == "There are no areas for the academic period") {
                           $("#btnGenerar").attr("disabled", "disabled")
                       } else {
                           $("#btnGenerar").removeAttr("disabled");
                       }
                    }
                }


            },
            beforeSend: function () {
                $('#loading').show();
                $("#curso").empty();
                $("#curso").append($('<option>').text("@(IFCManagementResource.Cargando)").attr('value', ""));

            },
        });
    }
        function CarreraCursosSeccion() {
            // console.log("actualizar");

            var periodoAcademicoID = $('#IdPeriodoAcademico').val();
            $.ajax({
                //  type: "POST",
                url: '@Url.Action("GetCursosXAlumno", "IfcManagement")',
                data: {},
                dataType: "json",
                success: function (data) {
                    $("#lst").empty();
                    $('#loading').hide();
                    var cookie = '@CookieHelpers.GetCookie(CookieKey.Culture).Value';
                    var language = cookie != null ? cookie : '@ConstantHelpers.CULTURE.ESPANOL';

                    for (i = 0; i < data.length; i++) {
                        if (language == '@ConstantHelpers.CULTURE.ESPANOL') {
                            $("#lst").append($('<option>').text(data[i]["NombreEspanol"]).attr('id', data[i]["IdCarrera"]));
                        } else {
                            $("#lst").append($('<option>').text(data[i]["NombreIngles"]).attr('id', data[i]["IdCarrera"]));
                        }
                    }


                },
                beforeSend: function () {
                    $('#loading').show();
                    $("#curso").empty();
                    $("#curso").append($('<option>').text("@(IFCManagementResource.Cargando)").attr('value', ""));

                },
            });
        }

    </script>
}
