﻿@model UPC.CA.ABET.Presentation.Areas.Professor.ViewModels.IfcManagement.ViewIfcViewModel
@using UPC.CA.ABET.Presentation.Resources.Areas.Professor;

@{
    ViewBag.Title = ProfessorResource.VisualizarIFC;
    ViewBag.Icon = "table";
}

@section Styles {
    @Html.Content("vendor/datatables-bootstrap/dataTables.bootstrap.min.css")
    @Html.Content("vendor/datatables-fixedheader/dataTables.fixedHeader.min.css")
    @Html.Content("vendor/datatables-responsive/dataTables.responsive.min.css")
    @Html.Content("css/sweetalert.css", ConstantHelpers.AREAS.SURVEY)

    <style>
        #divObservacion {
            right: 12px;
            bottom: 12px;
            position: fixed;
            width: 300px;
            height: 400px;
            background-color: #d8d8d8;
            visibility: hidden;
            z-index: 9999;
        }

        #divContObservacion {
            position: absolute;
            width: 280px;
            height: 335px;
            right: 10px;
            bottom: 55px;
        }

        #divBtnObservacion {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        #taObservacion {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 100%;
            resize: none;
            border: none;
        }

        .panel-body ul li {
            padding-bottom: 10px;
            padding-right: 10px;
        }
    </style>
}

@section Breadcrumbs {
    <li><a href="@Url.Action("Consult","IfcManagement")">@ProfessorResource.ConsultarIFC</a></li>
}
@using (Html.BeginForm("CambiarEstado", "IfcManagement", FormMethod.Post, new { id = "formView" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IdIfc)
    @Html.HiddenFor(m => m.PuedeObservar)
    @Html.HiddenFor(m => m.PuedeAprobar)
    @Html.HiddenFor(m => m.TipoSubmit)
    @Html.HiddenFor(m => m.IdIfc)
    <div id="divObservacion">
        <div id="divContObservacion">
            @Html.TextAreaFor(m => m.Observaciones, new { id = "taObservacion", placeholder = ProfessorResource.IngresarObservaciones })
        </div>
        <div id="divBtnObservacion">
            <button class="btn btn-danger" id="btnObservacion" type="submit" onclick="return confirmarObservaciones()" style="width: 280px;"> @ProfessorResource.ConfirmarObservaciones</button>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sx-12 col-sm-12">
            <div class="row">
                <div class="panel">
                    <div class="panel-heading" style="text-align: center;">
                        <h3 class="panel-title">@Model.Titulo</h3>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        <div class="row" style="text-align: center;">
                            <p style="font-weight: bold;">@ProfessorResource.InformeCargoDe:</p>
                            <p>@Model.Docente.Codigo - @Model.Docente.Apellidos, @Model.Docente.Nombres</p>
                        </div>
                        <div class="row" style="text-align: center;">
                            <p style="font-weight: bold;">@ProfessorResource.CreadoEn:</p>
                            <p>@Model.FechaCreacion.ToShortDateString()</p>
                            <p style="font-weight: bold;">@ProfessorResource.ALas:</p>
                            <p>@Model.FechaCreacion.ToShortTimeString()</p>
                        </div>
                        <div class="row" style="text-align: center;">
                            <p style="font-weight: bold;">@ProfessorResource.EstadoInforme:</p>
                            <p>@Model.Estado</p>
                        </div>
                        @if (Model.ObservadoPor != null)
                        {
                            <div class="row" style="text-align: center;">
                                <p style="font-weight: bold;">@ProfessorResource.ObservadoPor:</p>
                                <p>@Model.ObservadoPor</p>
                            </div>
                        }
                        @if (Model.AprobadoPor != null)
                        {
                            <div class="row" style="text-align: center;">
                                <p style="font-weight: bold;">@ProfessorResource.AprobadoPor:</p>
                                <p>@Model.AprobadoPor</p>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                @if (Model.PuedeEditar)
                                {
                                    <button type="button" class="btn btn-primary" onclick="window.location.href = '@Url.Action("Edit", "IfcManagement", new { Area = ConstantHelpers.AREAS.PROFESSOR, Id = Model.IdIfc})'">
                                        @ProfessorResource.Editar&nbsp;&nbsp;<i class="fa fa-edit"></i>
                                    </button><text>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</text>
                                }
                                @if (Model.PuedeEditar && (Model.Estado != ConstantHelpers.PROFESSOR.IFC.ESTADOS.ENVIADO.TEXTO) && !Model.Escoordinador)
                                {
                                    <button type="button" class="btn" onclick="submitForm('ENVIAR')">
                                        @ProfessorResource.Enviar&nbsp;&nbsp;<i class="fa fa-lock"></i>
                                    </button><text>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</text>
                                }
                                @if (Model.PuedeObservar && Model.Escoordinador)
                                {
                                    <button type="button" id="liObservacion" class="btn">
                                        @ProfessorResource.Observar&nbsp;&nbsp;<i class="fa fa-eye"></i>
                                    </button><text>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</text>
                                }
                                @if (Model.PuedeAprobar && Model.Escoordinador)
                                {
                                    <button type="button" class="btn" onclick="submitForm('APROBAR')">
                                        @ProfessorResource.Aprobar&nbsp;&nbsp;<i class="fa fa-check"></i>
                                    </button><text>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</text>
                                }
                                @if (Model.PuedeExportar)
                                {
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn dropdown-toggle" id="exampleGroupDrop1" data-toggle="dropdown" aria-expanded="false">
                                            @ProfessorResource.Exportar
                                            &nbsp;&nbsp;<i class="fa fa-download">&nbsp;</i><span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="exampleGroupDrop1" role="menu" style="">
                                            <li role="presentation"><a href="@Url.Action("GetIfcPdf", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR, Id = Model.IdIfc})" role="menuitem"><i class="fa fa-file-pdf-o"></i> PDF</a></li>
                                            <li role="presentation"><a href="@Url.Action("GetIfcRtf", "IfcManagement", new {Area = ConstantHelpers.AREAS.PROFESSOR, Id = Model.IdIfc})" role="menuitem"><i class="fa fa-file-word-o"></i> RTF</a></li>
                                        </ul>
                                    </div>
                                }
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(Model.Observaciones))
            {
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading" style="text-align: center;">
                            <h3 class="panel-title" style="font-weight: bold; color: orangered;">@ProfessorResource.Observaciones</h3>
                        </div>
                        <div class="panel-body" style="text-align: center;">
                            <p style="color: orangered; font-weight: bold; text-align: justify;">@Model.Observaciones</p>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="panel">
                    <div class="panel-heading" style="text-align: center;">
                        <h3 class="panel-title">@ProfessorResource.InformacionGeneral</h3>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        <p style="font-weight: bold; text-align: justify;">@ProfessorResource.ResultadoLogroCurso</p>
                        @Html.Raw(Model.ResultadoLogroCurso)
                        <p style="font-weight: bold; text-align: justify;">@ProfessorResource.ResultadoAlcanzado:</p>
                        @Html.Raw(Model.ResultadoAlcanzado)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">I. @ProfessorResource.HallazgosAccionesPrevias</h4>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        @if (Model.AccionesPrevias.Count == 0)
                        {
                            <p>@ProfessorResource.NoAccionesPrevias</p>
                        }
                        else
                        {
                            <table class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 20%;">@ProfessorResource.Codigo</th>
                                        <th style="text-align: justify; width: 60%;">@ProfessorResource.Descripcion</th>
                                        <th style="text-align: center; width: 20%;">@ProfessorResource.Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.AccionesPrevias.Count(); i++)
                                    {
                                        <tr>
                                            <td style="text-align: center; vertical-align: middle; width: 20%;">
                                                @Model.AccionesPrevias.ElementAt(i).Codigo
                                            </td>
                                            <td style="text-align: justify; vertical-align: middle; width: 60%;">
                                                @(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? Model.AccionesPrevias.ElementAt(i).DescripcionEspanol : Model.AccionesPrevias.ElementAt(i).DescripcionIngles)
                                            </td>
                                            <td style="text-align: center; vertical-align: middle; width: 20%;">
                                                @Model.AccionesPrevias.ElementAt(i).Estado
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">II. @ProfessorResource.Hallazgos</h4>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        <div class="row">
                            <table id="tblHallazgos" class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 20%;">@ProfessorResource.Codigo</th>
                                        <th style="text-align: justify; width: 60%;">@ProfessorResource.Descripcion</th>
                                        <th style="text-align: center; width: 20%;">@ProfessorResource.Criticidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.Hallazgos.Count(); i++)
                                    {
                                        <tr class="rowHallazgo">
                                            <td style="text-align: center; vertical-align: middle; width: 20%;">
                                                @Model.Hallazgos[i].Codigo
                                            </td>
                                            <td style="text-align: justify; vertical-align: middle; width: 60%;">
                                                @(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? Model.Hallazgos[i].DescripcionEspanol : Model.Hallazgos[i].DescripcionIngles)
                                            </td>
                                            <td style="text-align: center; vertical-align: middle; width: 20%;">
                                                @Model.Hallazgos[i].Criticidad.NombreEspanol
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">III. @ProfessorResource.AccionesMejoraPropuestas</h4>
                    </div>
                    <div class="panel-body" style="text-align: center;">
                        <div class="row">
                            <table id="tblAcciones" class="table table-striped table-hover table-highlight" data-info="true" data-length-change="true" data-paginate="true">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; width: 20%;">@ProfessorResource.Codigo</th>
                                        <th style="text-align: justify; width: 60%;">@ProfessorResource.Descripcion</th>
                                        <th style="text-align: center; width: 15%;">@ProfessorResource.Hallazgo</th>
                                        <th style="text-align: center; width: 15%;">@ProfessorResource.Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.AccionesPropuestas.Count(); i++)
                                    {
                                        <tr class="rowAccion">
                                            <td style="text-align: center; vertical-align: middle; width: 20%;">
                                                @Model.AccionesPropuestas[i].Codigo
                                            </td>
                                            <td style="text-align: justify; vertical-align: middle; width: 60%;">
                                                @(System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() == ConstantHelpers.CULTURE.ESPANOL ? Model.AccionesPropuestas[i].DescripcionEspanol : Model.AccionesPropuestas[i].DescripcionIngles)
                                            </td>
                                            <td style="text-align: center; vertical-align: middle; width: 15%;">
                                                @Model.AccionesPropuestas[i].HallazgoAccionMejora.First().Hallazgos.Codigo                                                                                                                              <!-- RML001 -->
                                            </td>
                                            <td style="text-align: center; vertical-align: middle; width: 15%;">
                                                @Model.AccionesPropuestas[i].Estado
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">IV. @ProfessorResource.DesarrolloUnidadesAprendizaje</h4>
                    </div>
                    <div class="panel-body" style="text-align: left;">
                        <p style="font-weight: bold;">@ProfessorResource.Infraestructura</p>
                        <p style="text-align: justify;">@Html.Raw(Model.Infraestructura)</p>
                        <br />
                        <p style="font-weight: bold;">@ProfessorResource.ApreciacionAlumno</p>
                        <p style="text-align: justify;">@Html.Raw(Model.ApreciacionAlumnos)</p>
                        <br />
                        <p style="font-weight: bold;">@ProfessorResource.ApreciacionDelegado</p>
                        <p style="text-align: justify;">@Html.Raw(Model.ApreciacionDelegado)</p>
                        <br />
                        <p style="font-weight: bold;">@ProfessorResource.ComentarioEncuestaAcademica</p>
                        <p style="text-align: justify;">@Html.Raw(Model.ComentarioEncuesta)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section Scripts{
        @Html.Content("js/sweetalert.min.js", ConstantHelpers.AREAS.SURVEY)
        <script>
    function submitForm(modo) {
        $("#TipoSubmit").val(modo);
        var idifc = $("#IdIfc").val();

        if (modo == "APROBAR") {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ValidarIFC", "IfcDiscoveryManagement")',
                data: { ifcid: idifc },
                success: function (response) {
                    
                    switch (response) {
                        case "OK":
                            swal({
                                title: '@ProfessorResource.EstaSeguro',
                                text: '@ProfessorResource.AprobarIFC',
                                type: "success",
                                showCancelButton: true,
                                cancelButtonText: 'Cancelar',
                                confirmButtonColor: "#18C962",
                                confirmButtonText: "¡Sí, aprobar!",
                                closeOnConfirm: false,
                                html: true
                            },
                               function () {
                                   swal({ title: "@(IFCManagementResource.Aprobado)", text: "@(IFCManagementResource.SuIFChaSidoAprobado)", type: "success" },
                                       function () {
                                           document.getElementById("formView").submit();
                                           return true;
                                       });
                               });
                            break;
                        case "hallazgoslibres":
                            swal({
                                title: '@ProfessorResource.EstaSeguro',
                                text: "@(IFCManagementResource.ExistenHallazgosSinAccionesMejoraRelacionados)",
                                type: "warning",
                                showCancelButton: true,
                                cancelButtonText: 'Cancelar',
                                confirmButtonColor: "#ff0000",
                                confirmButtonText: "@(IFCManagementResource.SiAprobar)",
                                closeOnConfirm: false,
                                html: true
                            },
                               function () {
                                   swal({ title: "@(IFCManagementResource.Aprobado)", text: "@(IFCManagementResource.SuIFChaSidoAprobado)", type: "success" },
                                       function () {
                                           document.getElementById("formView").submit();
                                           return true;
                                       });
                               });



                            break;
                        case "Error":
                            swal({
                                position: 'top-end',
                                type: 'error',
                                title: '@(IFCManagementResource.SucedioUnError)',
                                showConfirmButton: false,
                                timer: 1000
                            })


                            break;
                    }
                }
            });




            //ANTIGUO APROBAR

                                              @*swal({
                                                title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.EstaSeguro))',
                text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.AprobarIFC))',
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "¡Sí, Apruebalo!",
                closeOnConfirm: false
                                                },
            function () {
                                                    swal({ title: "¡Aprobado!", text: "Su IFC ha sido aprobado", type: "success" },
                    function () {
                                                        document.getElementById("formView").submit();
                                                        return true;
                                                    });
                                                });*@
            @*var ans = confirm("@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.AprobarIFC))");
                    if (ans == true) {
                        document.getElementById("formView").submit();
                        return true;
                    }*@
        }
        if (modo == "ENVIAR") {
            swal({
                title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.EstaSeguro))',
                text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.EnviarIFC))',
                type: "warning",
                showCancelButton: true,
                cancelButtonText: 'Cancelar',
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "¡Sí, envíalo!",
                closeOnConfirm: false
            },
            function () {
                swal({ title: "@(IFCManagementResource.Enviado)", text: "@(IFCManagementResource.SuIFChaSidoEnviado)", type: "success" },
                    function () {
                        document.getElementById("formView").submit();
                        return true;
                    });
            });

            @*var ans = confirm("@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.EnviarIFC))");
                    if (ans == true) {
                        document.getElementById("formView").submit();
                        return true;
                    }*@
        }
        return false;
    }

    function confirmarObservaciones() {
        $("#TipoSubmit").val("OBSERVAR");
        if ($("#taObservacion").val() == null || $("#taObservacion").val().length <= 0) {
            swal({
                title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.OperacionFallida))',
                text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(ProfessorResource.DebeIngresarObservacion))',
                type: 'error',
                confirmButtonColor: '@ConstantHelpers.PROFESSOR.COLOR_BOTON_ACEPTAR',
                confirmButtonText: '@ProfessorResource.Aceptar'
            });
            return false;
        }
        swal({
            title: '@ProfessorResource.EstaSeguro',
            text: '@ProfessorResource.ObservarIFC',
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "@Html.Raw((IFCManagementResource.SiObservalo).ToString())",
            html: true,
            closeOnConfirm: false
        },
            function () {
                swal({ title: "@(IFCManagementResource.Enviado)", text: "@(IFCManagementResource.SeHanEnviadoSusObservaciones)", type: "success" },
                    function () {
                        //btnObservacion
                        document.getElementById("formView").submit();
                        return true;
                    });
            });
        return false;
        @*return confirm("@ProfessorResource.ObservarIFC");*@
    }

    $("#liObservacion")
        .click(function () {
            $("#divObservacion").show();
            $("#divObservacion").css("visibility", "visible");
        });
        </script>
    }
}