﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
	@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Configuration
	@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Configuration
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@*ReportResource ReportResource*@
@model DeleteSignatureViewModel

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	<h4 class="modal-title">
		<i aria-hidden="true" class="fa fa-list-ul"></i>
		@ReportResource.TitleDelete
	</h4>
</div>

@using (Ajax.BeginForm(new AjaxOptions
{
	UpdateTargetId = "custom-modal",
	HttpMethod = "POST"
}))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.SignatureId)
	<div class="modal-body">
		@if (Model.Culture == ConstantHelpers.CULTURE.ESPANOL)
		{
			<p>
				¿Está seguro de eliminar este registro
			</p>
		}
		else
		{
			<p>
				¿Are you sure to delete this record?
			</p>
		}
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @ReportResource.ButtonCancel</button>
		<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>@ReportResource.ButtonDelete</button>
	</div>
}

@if (Model.Deleted)
{
	<script>
		$('#btnSearch').click();
		closeModal();
	</script>
}