﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
	@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Configuration
	@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Configuration
@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;
@using PagedList
@using PagedList.Mvc
@*ReportResource ReportResource*@
@model IPagedList<ListSignaturesViewModel>

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>@ReportResource.HeaderCycle</th>
			<th>@ReportResource.HeaderPosition</th>
			<th>@ReportResource.HeaderCode</th>
			<th>@ReportResource.HeaderName</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.AcademicPeriod</td>
				<td>@item.Position</td>
				<td>@item.Code</td>
				<td>@item.FullName</td>
				<td class="text-right">
					<div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" id="exampleIconDropdown1" data-toggle="dropdown" aria-expanded="true">
                            @ReportResource.ButtonOptions.ToString()
                            <span class="caret"></span>
                        </button>
						<ul class="dropdown-menu" aria-labelledby="exampleIconDropdown1" role="menu">
							<li role="presentation">
								<a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#custom-modal" data-ajax-success="openModal();" href="@Url.Action("ManageSignature", new { id = item.PositionId })">
									<i aria-hidden="true" class="fa fa-pencil"></i> @ReportResource.ButtonEdit
								</a>
							</li>
							<li role="presentation">
								<a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#custom-modal" data-ajax-success="openModal();" href="@Url.Action("DeleteSignature", new { id = item.PositionId })">
									<i aria-hidden="true" class="fa fa-trash"></i> @ReportResource.ButtonDelete
								</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		}

		@if (Model.Count == 0)
		{
			<tr>
				<td colspan="5" class="text-center">@ReportResource.EmptyRowsMessage</td>
			</tr>
		}
	</tbody>
</table>

<div class="text-right">
	@Html.PagedListPager(Model, page => Url.Action("Signature", new { page = page }))
</div>