﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
    @using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Configuration
    @using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Configuration
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;
@model ManageSignatureViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title">
        <i aria-hidden="true" class="fa fa-list-ul"></i>
        @(Model.PositionId == 0 ? ReportResource.TitleAdd : ReportResource.TitleEdit)
    </h4>
</div>

@using (Ajax.BeginForm(new AjaxOptions
{
    UpdateTargetId = "custom-modal",
    HttpMethod = "POST"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PositionId)
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">@ReportResource.LabelCycle.ToString()</label>
            @Html.DropDownListFor(m => m.CycleId, Model.Cycles.OrderByDescending(x => x.Text), new { @class = "form-control", @style = "width: 100%;" })
            @Html.ValidationMessageFor(m => m.CycleId)
        </div>
        <div class="form-group">
            <label class="control-label">@ReportResource.HeaderPosition.ToString()</label>
            @Html.TextBoxFor(m => m.Position, new { @class = "form-control", @maxlength = "200" })
            @Html.ValidationMessageFor(m => m.Position)
        </div>
        <div class="form-group">
            <label class="control-label">@ReportResource.HeaderCode.ToString()</label>
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @maxlength = "20" })
            @Html.ValidationMessageFor(m => m.Code)
        </div>
        <div class="form-group">
            <label class="control-label">@ReportResource.HeaderName.ToString()</label>
            @Html.TextBoxFor(m => m.FirstNames, new { @class = "form-control", @maxlength = "80" })
            @Html.ValidationMessageFor(m => m.FirstNames)
        </div>

        <div class="form-group">
            <label class="control-label">@ReportResource.HeaderLastName.ToString()</label>
            @Html.TextBoxFor(m => m.LastNames, new { @class = "form-control", @maxlength = "80" })
            @Html.ValidationMessageFor(m => m.LastNames)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.PositionId)
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> @ReportResource.ButtonCancel</button>
        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>@LayoutResource.Aceptar</button>
    </div>
}


<script>
    $.validator.unobtrusive.parse('form');
    $('.modal-body select').select2({ minimumResultsForSearch: Infinity });
</script>

@if (Model.Saved)
{
<script>
        $("#aux").val("signature");
        $('#btnSearch').click();
        closeModal();
        window.location.href = '@Url.Action("Signatures")';
</script>
}