﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
	@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Configuration
	@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;
@{
	ViewBag.Title = @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.ProcesamientoDeRubricas;
	ViewBag.Icon = "gear";

	var culture = ViewBag.Culture != null ? ViewBag.Culture as string : "";
}
@*IndexResource*@
<div class="panel">
	<div class="panel-body">
		<div class="nav-tabs-vertical">
			<div class="row">
				<ul class="nav nav-tabs col-xs-12 col-sm-3 margin-right-25">
					<li class="active" role="presentation">
						<a data-toggle="tab" href="#tab-outcome-conversion" role="tab" aria-expanded="false">
							<i class="fa fa-exchange"></i>
							<span class="tabhidden">@ReportResource.ProcessInformation</span>
						</a>
					</li>
					<li role="presentation">
						<a data-toggle="tab" href="#tab-firms" role="tab" aria-expanded="false">
							<i class="fa fa-list-ul"></i>
							<span class="tabhidden">@ReportResource.AchievementsReportSignatures</span>
						</a>
					</li>
				</ul>
				<div class="tab-content col-xs-12 col-sm-8 padding-vertical-15">
					<div id="tab-outcome-conversion" class="tab-pane active" role="tabpanel">
						<h2 class="fixtitle">
							<i class="fa fa-exchange"></i>
							@ReportResource.ProcessInformation
						</h2>
						@if (culture == ConstantHelpers.CULTURE.ESPANOL)
						{
							<p class="text-justify">
								Permite realizar los calculos necesarios para el reporte de verificación y de logros.
							</p>
						}
						else
						{
							<p class="text-justify">
								It allows to realize an equivalence conversion between outcomes of the Engineering and Computation commissions.
							</p>
						}

						<br />
						<p class="text-right">
							<a class="btn btn-primary animsition-link" href="@Url.Action("ProcessInformation")">
								<i class="fa fa-sign-in"></i>
								@ReportResource.LinkProcessInformation
							</a>
						</p>
					</div>
					<div id="tab-firms" class="tab-pane" role="tabpanel">
						<h2 class="fixtitle">
							<i class="fa fa-list-ul"></i>
							@ReportResource.AchievementsReportSignatures
						</h2>
						@if (culture == ConstantHelpers.CULTURE.ESPANOL)
						{
							<p class="text-justify">
								Permite administrar los nombres y cargos de las personas encargadas de colocar su firma en el reporte de logros por competencia.
							</p>
						}
						else
						{
							<p class="text-justify">
								It allows to manage the names and positions of the people in charge of placing their signature in the report of achievement by competition.
							</p>
						}
						<br />
						<p class="text-right">
							<a class="btn btn-primary animsition-link" href="@Url.Action("Signatures")">
								<i class="fa fa-sign-in"></i>
								@ReportResource.LinkAchievementsReportSignatures
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$(function () {
			selectMenu('liConfigurationReports', '');
			setTimeout(scrollSidebarTo, 700, 'liConfigurationReports');
		})
	</script>
}