﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Configuration
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Configuration
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model ProcessInformationViewModel

@{
	ViewBag.Title = ReportResource.TitleProcessInformation;
	ViewBag.Icon = "exchange";
}

@section Breadcrumbs {
	<li>@Html.ActionLink(ReportResource.ConfigurationMenuTitle, "Index", null, new { @class = "animsition-link" })</li>
}

<div class="row">
	<div class="col-xs-12">
		<div class="panel">
			<div class="panel-heading">
				<h4 class="panel-title">@ReportResource.VerificationReportsMenuTitle</h4>
			</div>
			<div class="panel-body">
				@if (Model.Culture == ConstantHelpers.CULTURE.ESPANOL)
				{
					<p class="text-justify">
						Procesa las calificaciones de las rúbricas de los cursos @(Model.RubricCourseNames).
						<br />
						La información procesada tambien alimentará los @(ReportResource.AchievementReportsMenuTitle).
					</p>
				}
				else
				{
					<p class="text-justify">
						Process califications of @Model.RubricCourseNames courses rubrics.
						<br />
						The processed information will also feed the @(ReportResource.AchievementReportsMenuTitle).
					</p>
				}
				<br />
				@using (Html.BeginForm("ProcessVerificationReportData", "Configuration"))
				{
					@Html.AntiForgeryToken()
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-gears"></i>
						@ReportResource.ButtonProcess
					</button>
				}
			</div>
		</div>
	</div>
</div>
@*<div class="row">
		<div class="col-xs-12">
			<div class="panel">
				<div class="panel-heading">
					<h4 class="panel-title">@ReportResource.ControlReportsMenuTitle</h4>
				</div>
				<div class="panel-body">
					<p class="text-justify">
						Procesa las notas de los trabajos finales (TF) de los alumnos de los cursos de control.
					</p>
					<br />
					@using (Html.BeginForm("ProcessControlReportData", "Configuration"))
					{
						@Html.AntiForgeryToken()
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-gears"></i>
							@ReportResource.ButtonProcess
						</button>
					}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel">
				<div class="panel-heading">
					<h4 class="panel-title">@ReportResource.FormationReportsMenuTitle</h4>
				</div>
				<div class="panel-body">
					<p class="text-justify">
						Procesa las notas de los trabajos finales (TF) de los alumnos de los cursos de formación.
					</p>
					<br />
					@using (Html.BeginForm("ProcessFormationReportData", "Configuration"))
					{
						@Html.AntiForgeryToken()
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-gears"></i>
							@ReportResource.ButtonProcess
						</button>
					}
				</div>
			</div>
		</div>
	</div>*@
<div class="row">
	<div class="col-xs-12 text-right">
		<a href="@Url.Action("Index")" class="btn btn-default animsition-link">
			<i class="fa fa-times"></i>
			@ReportResource.ButtonCancel
		</a>
	</div>
</div>

@section Scripts {
	<script>
		$(function () {
			selectMenu('liConfigurationReports', '');
			setTimeout(scrollSidebarTo, 700, 'liConfigurationReports');
		})
	</script>
}