﻿@*@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.ReportBase
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Configuration
@using UPC.CA.ABET.Presentation.Areas.Report.Resources.Views.Shared*@
@using UPC.CA.ABET.Presentation.Resources.Views.Shared
@using UPC.CA.ABET.Presentation.Areas.Report.ViewModels.Configuration
@using UPC.CA.ABET.Presentation.Resources.Areas.Report;

@model SignaturesViewModel

@{
	ViewBag.Title = ReportResource.TitleSignatures;
	ViewBag.Icon = "list-ul";
}

@section Breadcrumbs {
	<li>@Html.ActionLink(ReportResource.ConfigurationMenuTitle, "Index", null, new { @class = "animsition-link" })</li>
}

<div class="row">
	<div class="col-xs-12">
        <div class="panel filters">
            @Html.PanelHeader("<i class=\"fa fa-filter\"></i> " + ReportResource.HeaderFilter, PanelActions.Collapse)
            @using (Ajax.BeginForm(new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "table-container"
            }))
            {
                @Html.AntiForgeryToken()
                <div class="panel-body row">
                    @Html.FormGroup(ReportResource.LabelCycle, Html.DropDownListFor(m => Model.CycleId, ViewBag.DropDownListCycle as SelectList, ReportResource.OptionAll, new { @class = "form-control", @data_plugin = "select2" }), ValidateMessage: Html.ValidationMessageFor(m => Model.CycleId))
                </div>
                @Html.HiddenFor(x => x.aux)
                <input type="submit" value="search" id="btnSearch" style="display: none;" />
            }
        </div>
		<div class="panel">
			@Html.PanelHeader("<i class=\"fa fa-list\"></i> " + ReportResource.HeaderDocument, PanelActions.Fullscreen)
			<div class="panel-body">
				<div class="text-right">
					<a class="btn btn-primary" href="@Url.Action("ManageSignature")" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#custom-modal" data-ajax-success="openModal();">
						<i class="fa fa-plus contrast"></i>
						@ReportResource.ButtonAdd
					</a>
				</div>
				<div id="table-container">
					@{Html.RenderPartial("_ListSignatures", Model.Signatures);}
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
        $(function () {
            selectMenu('liConfigurationReports', '');
            setTimeout(scrollSidebarTo, 700, 'liConfigurationReports');
        })

        $('#CycleId').change(function () {
            $('#btnSearch').click();
        })

        $('.pagination a', function () {
            if (this.href) {
                $.post(this.href).done(function (html) {
                    $('#table-container').html(html);
                })
            }

            return false;
        })
	</script>
}