﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.VirtualCompany.AddEditVirtualCompanyViewModel

@{
    ViewBag.Title = Model.TituloPagina;
    ViewBag.Icon = "building";
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListVirtualCompany", "VirtualCompany")">@ListVirtualCompanyResource.Titulo</a></li>
}


<div class="col-md-12">
    <div class="panel">
        @Html.PanelHeader(String.Format("<i class=\"fa fa-{0}\"></i> {1}", Model.Icono, Model.TituloPagina))

        @using (Html.BeginForm("AddEditVirtualCompany", "VirtualCompany", FormMethod.Post))
            {
            @Html.HiddenFor(x => x.EmpresaVirtualId)
            @Html.HiddenFor(x => x.TituloPagina)
            @Html.HiddenFor(x => x.Icono)

            <div class="panel-body row">
                @Html.EditorFor(x => x.Codigo, "CustomString")
            </div>
                <div class="panel-body row">
                    @Html.EditorFor(x => x.Nombre, "CustomString")
                </div>
                <div class="panel-body row">
                    @Html.EditorFor(x => x.Descripcion, "CustomTextArea")
                </div>

                <div class="panel-footer text-right">
                    <a class="btn btn-default animsition-link" href="@Url.Action("ListVirtualCompany", "VirtualCompany")">
                        <i class="fa fa-arrow-left"></i>
                        @ButtonResource.Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary" id="btn-save">
                        <i class="fa fa-save"></i>
                        @ButtonResource.Guardar
                    </button>
                </div>
        }
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        var trySubmit = 0;
        $('#btn-save').click(function () {
            var allowSubmit = true;

            if (trySubmit > 0) {
                trySubmit++;
                allowSubmit = false;
            }
            else {
                trySubmit++;
            }
            return allowSubmit;
        });
    </script>
}
