﻿@model UPC.CA.ABET.Presentation.Areas.Rubric.ViewModels.VirtualCompany.ListVirtualCompanyViewModel

@{
    ViewBag.Title = ListVirtualCompanyResource.Titulo;
    ViewBag.Icon = "building";
}

@section Styles {
    @Html.Content("css/more-styles.css", ConstantHelpers.AREAS.RUBRIC)
}

@section Breadcrumbs {
}


<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-filter"></i> @LayoutResource.Filtro</h3>
        <div class="panel-actions">
            <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="form-group">

                @Html.FormGroup(ListVirtualCompanyResource.Ciclo, Html.DropDownListFor(m => Model.PeriodoAcademicoId, new SelectList(Model.ListPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico", 1), new { @class = "form-control", @onchange = "changePeriodoAcademico(this.value)" }))
                
            </div>
        </div>
    </div>
</div>

<div class="panel">
    @Html.PanelHeader(String.Format("<i class=\"fa fa-list\"></i> {0}", ListVirtualCompanyResource.Empresas))
    <div class="panel-body">
        <div class="panel-footer text-left">
            <a class="btn btn-primary animsition-link" id="btn-crear" href="@(Url.Action("AddEditVirtualCompany", "VirtualCompany"))" style="display: none;">
                <i class="fa fa-plus"></i>
                 @ListVirtualCompanyResource.NuevoR
            </a>
        </div>
        <br />
        <div id="list-virtual-company-partial-view"></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function() {
            obtenerEmpresasVirtualesPorPeriodoAcademico();
            ocultarBotonCrearEmpresa(obtenerPeriodoAcademico());
            $('select').select2();
        });

        function changePeriodoAcademico(selectedValue) {
            obtenerEmpresasVirtualesPorPeriodoAcademico();
            ocultarBotonCrearEmpresa(selectedValue);
        }

        function obtenerPeriodoAcademico() {
            var periodoAcademicoId = $('#PeriodoAcademicoId').val();
            if (!periodoAcademicoId) {
                periodoAcademicoId = "0";
            }
            return periodoAcademicoId;
        }

        function ocultarBotonCrearEmpresa(dropdownListValue) {
            var periodoActualId = @Model.PeriodoAcademicoActualId;
            if (dropdownListValue === periodoActualId.toString()) {
                $('#btn-crear').show();
            } else {
                $('#btn-crear').hide();
            }
        }

        function obtenerEmpresasVirtualesPorPeriodoAcademico() {
            $.ajax({
                url: '@Url.Action("_ListVirtualCompanyPartialView", "VirtualCompany")',
                type: "GET",
                data: {
                    PeriodoAcademicoActualId:  @Model.PeriodoAcademicoActualId,
                    PeriodoAcademicoId: obtenerPeriodoAcademico()
                },
                success: function(data) {
                    $("#list-virtual-company-partial-view").html(data);
                },
                error: function() {
                }
            });
        }

        $('#list-virtual-company-partial-view').on('click', '#partial-pager a', function () {
            var link = this.href;
            if (link) {
                $.ajax({
                    url: link,
                    type: 'GET',
                    success: function (data) {
                        $('#list-virtual-company-partial-view').html(data);
                    },
                    error: function () {
                    }
                });
            }
            return false;
        });

    </script>
}
