﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.User._AddUsuarioSecundarioViewModel

@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    var language = System.Threading.Thread.CurrentThread.CurrentUICulture.ToString();
    ViewBag.Title = language == ConstantHelpers.CULTURE.ESPANOL ? "Usuario Secundario" : "Secciondary User";
    ViewBag.Icon = "trash";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
}

<p>@(language == ConstantHelpers.CULTURE.ESPANOL ? "Seleccione el usuario Secundario" : "Select seccondary User")</p>

@Html.HiddenFor(x => x.IdUsuario)
@Html.DropDownListFor(x => x.IdUsuarioSecundario, new SelectList(new List<Object>()), new { @class = "form-control" })

@Html.AntiForgeryToken()

@section Scripts{
    <script>
        $(function () {
            urlModalRedirect = '@Url.Action("ListUsuario")';

            $('#@ViewBag.GUID form').attr('action', '@Url.Action("_AddUsuarioSecundario")');

            $('#@ViewBag.GUID #IdUsuarioSecundario').select2({
                minimumResultsForSearch: 3
            });

            let data = [{ id: '@Model.IdUsuarioSecundario', text: '@(Model.IdUsuarioSecundario != 0 ? Html.Raw(Model.Codigo.ToStringJavaScript()) : Html.Raw(String.Empty))' }];

            $('#@ViewBag.GUID #IdUsuarioSecundario').select2({
                data: data,
                ajax: {
                    url: '@Url.Action("GetUsuariosSecundarios", "Json", new { Area = ConstantHelpers.AREAS.ADMIN })',
                    dataType: 'json',
                    type: 'POST',
                    delay: 250,
                    data: function (params) {
                        return {
                            cadenaBuscar: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                minimumInputLength: 3
            });

            $('#@ViewBag.GUID .select2-container').css('min-width', '100px').css('width', '');

        })
    </script>
}

@section Styles{
    <style>
        .select2-dropdown {
            z-index: 2000 !important;
        }
    </style>
}