﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.User._AddEditRolUsuarioViewModel

@{
    Layout = ConstantHelpers.LAYOUT.MODAL_LAYOUT_PATH;
    ViewBag.Title = "Roles";
    ViewBag.Icon = "calendar";
    ViewBag.Form = true;
    ViewBag.GUID = Guid.NewGuid().ToString();
}

@Html.HiddenFor(x => x.IdRolUsuario)
@Html.HiddenFor(x => x.IdUsuario)

<div class="form-group">
    @Html.LabelFor(x => x.IdRol)
    @Html.DropDownListFor(x => x.IdRol, new SelectList(Model.LstRol, "IdRol", "Descripcion"), "[- Seleccionar -]", new { @class = "form-control", data_plugin = "select2" })

</div>

<div class="form-group">
    @Html.LabelFor(x => x.IdPeriodoAcademico)
    @Html.DropDownListFor(x => x.IdPeriodoAcademico, new SelectList(Model.LstPeriodoAcademico, "IdPeriodoAcademico", "CicloAcademico"), "[- Seleccionar -]", new { @class = "form-control", data_plugin = "select2" })
</div>


@section Scripts{
    <script>
        $('#IdRol, #IdPeriodoAcademico').select2();
    </script>
}