﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.User.AddEditUsuarioViewModel
@{
    ViewBag.Title = UserResource.Usuario;
    ViewBag.Icon = "user";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;    
}
@section Breadcrumbs{
    <li><a href="@Url.Action("ListUsuario", "User", new { Area = ConstantHelpers.AREAS.ADMIN })">@UserResource.Usuarios</a></li>
}

<div class="panel">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-@(Model.IdUsuario.HasValue ? "pencil" : "plus")"></i> @(Model.IdUsuario.HasValue ? LayoutResource.Editar : LayoutResource.Nuevo) @ViewBag.Title</h3>
    </div>

    <form class="form form-horizontal" method="post" enctype="multipart/form-data">
        <div class="panel-body">
            @Html.HiddenFor(x => x.IdUsuario)

            <div class='form-group'>
                @Html.LabelFor(x => x.IdDocente, new { @class = "col-md-3 control-label" })
                <div class='col-md-9'>
                    @Html.DropDownListFor(x => x.IdDocente, new SelectList(Model.LstDocente, "IdDocente", "Codigo"), String.Empty, new { @class = "form-control", data_plugin = "select2", data_source_url = @Url.Action("GetDocente", "Json") })
                    @Html.ValidationMessageFor(x => x.IdDocente)
                </div>
            </div>

            @Html.EditorFor(x => x.Codigo)
            @Html.EditorFor(x => x.Nombres)
            @Html.EditorFor(x => x.Apellidos)

            <div class="form-group">
                @Html.LabelFor(x => x.Password, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Correo, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(x => x.Correo, new { @class = "form-control", type = "email" })
                    @Html.ValidationMessageFor(x => x.Correo)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.IdEscuelaDefecto, new { @class = "col-md-3 control-label" })
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => Model.IdEscuelaDefecto, new SelectList(Model.LstEscuelas, "IdEscuela", "Nombre"), String.Empty
                            , new
                            {
                                @class = "form-control select2-select",
                                @data_plugin = "select2"
                            })
                    @Html.ValidationMessageFor(x => x.IdEscuelaDefecto)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Imagen, new { @class = "col-sm-3 control-label" })
                <div class='col-sm-9'>
                    <div class="input-group input-group-file">
                        @Html.TextBoxFor(x => x.RutaImagen, new { @class = "form-control", @readonly = "" })
                        <span class="input-group-btn">
                            <span class="btn btn-success btn-file">
                                <i class="icon wb-upload" aria-hidden="true"></i>
                                <input type="file" name="@Html.NameFor(x => x.Imagen)" id="@Html.IdFor(x => x.Imagen)" title="Seleccionar archivo" multiple="">
                            </span>
                        </span>
                    </div>
                    <small>@UserResource.TamanioImagen </small>
                    @Html.ValidationMessageFor(x => x.Imagen)
                    @if (!String.IsNullOrEmpty(Model.RutaImagen))
                    {
                        <img class="img-responsive" src="@(Url.Content(ConstantHelpers.DEFAULT_SERVER_PATH + "/" + Model.RutaImagen))" height="100" />
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.ImagenFirma, new { @class = "col-sm-3 control-label" })
                <div class='col-sm-9'>
                    <div class="input-group input-group-file">
                        @Html.TextBoxFor(x => x.RutaImagenFirma, new { @class = "form-control", @readonly = "" })
                        <span class="input-group-btn">
                            <span class="btn btn-success btn-file">
                                <i class="icon wb-upload" aria-hidden="true"></i>
                                <input type="file" name="@Html.NameFor(x => x.ImagenFirma)" id="@Html.IdFor(x => x.ImagenFirma)" title="Seleccionar archivo" multiple="">
                            </span>
                        </span>
                    </div>
                    <small>@UserResource.TamanioImagenFirma </small>
                    @Html.ValidationMessageFor(x => x.ImagenFirma)
                    @if (!String.IsNullOrEmpty(Model.RutaImagenFirma))
                    {
                        <img class="img-responsive" src="@(Url.Content(ConstantHelpers.DEFAULT_SERVER_PATH + "/" +  Model.RutaImagenFirma))" height="100" />
                    }
                </div>
            </div>
        </div>

        <div class="panel-footer text-right">
            <a class="btn btn-default animsition-link" href="@Url.Action("ListUsuario", "User", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-times"></i> @LayoutResource.Cancelar</a>
            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @LayoutResource.Aceptar </button>
        </div>

    </form>

</div>

@section Scripts{

    @Html.Content("/vendor/jquery-placeholder/jquery.placeholder.min.js")

    <script>
        $(function () {
            $('#Imagen').change(function () {
                var filePath = document.getElementById('Imagen').value;
                var fileName = filePath.split('\\').pop();
                document.getElementById('RutaImagen').value = fileName;
            });

            $('#ImagenFirma').change(function () {
                var filePath = document.getElementById('ImagenFirma').value;
                var fileName = filePath.split('\\').pop();
                document.getElementById('RutaImagenFirma').value = fileName;
            });
        });
    </script>

    <script>

        $(function () {

            var data = [{ id: '@Model.IdDocente', text: '@(Model.IdDocente.HasValue ? Model.Codigo : String.Empty)' }];

            $('#IdDocente').select2({
                data: data,
                ajax: {
                    url: '@Url.Action("GetDocentes", "Json", new { Area = ConstantHelpers.AREAS.ADMIN })',
                    dataType: 'json',
                    type: 'POST',
                    delay: 250,
                    data: function (params) {
                        return {
                            cadenaBuscar: params.term
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                minimumInputLength: 3
            });

            $('#IdDocente').on('change', function () {
                var value = $(this).val();
                var url = $(this).data('source-url');
                var model = {}
                model['IdDocente'] = value;
                $.ajax({
                    url: url,
                    dataType: 'json',
                    type: 'GET',
                    data: model,
                    success: function (data) {
                        $('#Codigo').val(data.Codigo.trim());
                        $('#Nombres').val(data.Nombres.trim());
                        $('#Apellidos').val(data.Apellidos.trim());
                    }
                })
            });

        });
    </script>
}