﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.User.ListUsuarioViewModel
@{
    ViewBag.Title = @UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.Usuarios;
    ViewBag.Icon = "users";
    ViewBag.Section = String.Empty;
    ViewBag.Subsection = String.Empty;
}

@section Breadcrumbs{
<li><a class="animsition-link" href="@Url.Action("BeforeEnrollment", "Upload", new { Area = String.Empty})">@UPC.CA.ABET.Presentation.Resources.Views.Shared.LayoutResource.GestionDatos  </a></li>
}

<!-- Example Panel Collapse -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-filter"></i> @LayoutResource.Filtro</h3>
        <div class="panel-actions">
            <a class="panel-action icon wb-minus" data-toggle="panel-collapse" aria-hidden="true"></a>
        </div>
    </div>
    <div class="panel-body">
        <form class="form" method="post">
            <div class="form-group">
                @Html.LabelFor(x => x.CadenaBuscar, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(x => x.CadenaBuscar, new { @class = "form-control" })
                    <span class="input-group-btn"><button type="submit" class="btn btn-dark">&nbsp;<i class="fa fa-search" aria-hidden="true"></i>&nbsp;@LayoutResource.Buscar</button></span>
                </div>
                @Html.ValidationMessageFor(x => x.CadenaBuscar)
            </div>
        </form>
    </div>
</div>
<!-- End Example Panel Collapse -->
<!-- Panel Collapse -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> @LayoutResource.Listado</h3>
    </div>
    <div class="panel-body">
        <div class="text-right">
            <a class="btn btn-primary animsition-link" href="@Url.Action("AddEditUsuario", "User", new { Area = ConstantHelpers.AREAS.ADMIN })"><i class="fa fa-plus"></i> @LayoutResource.Nuevo</a>
        </div>
        <br />
        <div class="table table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>@UserResource.Codigo</th>
                        <th>@UserResource.Nombres</th>
                        <th>@UserResource.Apellidos</th>
                        <th>&nbsp;</th>
                        <th class="text-center">@UserResource.Estado</th>
                        <th class="text-right" style="min-width: 9.2em">@LayoutResource.Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model.LstUsuario)
                    {
                        <tr>
                            <td>@usuario.Codigo</td>
                            <td>@usuario.Nombres</td>
                            <td>@usuario.Apellidos</td>
                            <td class="text-center"><span class="label @(usuario.Docente != null ? (usuario.Docente.EsAdministrativo.HasValue && usuario.Docente.EsAdministrativo.Value ? "label-primary" : "label-info") : "label-default")">@(usuario.Docente != null ? (usuario.Docente.EsAdministrativo.HasValue && usuario.Docente.EsAdministrativo.Value ? "Administrativo" : "Docente") : "Externo")</span></td>
                            <td class="text-center"><span class="label @(usuario.Estado == ConstantHelpers.ESTADO.ACTIVO ? "label-success" : "label-danger")">@(usuario.Estado == ConstantHelpers.ESTADO.ACTIVO ? LayoutResource.Activo : LayoutResource.Inactivo)</span></td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline btn-default animsition-link" href="@Url.Action("ListRolUsuario", "User", new { Area = ConstantHelpers.AREAS.ADMIN, IdUsuario = usuario.IdUsuario })"><i class="fa fa-list"></i> @UserResource.Roles</a>
                                    <button type="button" class="btn btn-sm btn-outline btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-sm pull-right">
                                        <li><a href="@Url.Action("AddEditUsuario", "User", new { Area = ConstantHelpers.AREAS.ADMIN, IdUsuario = usuario.IdUsuario })"><i class="fa fa-edit"></i> @LayoutResource.Editar </a></li>
                                        @if (usuario.IdUsuarioSecundario.HasValue)
                                        {
                                            <li><a href="@Url.Action("DeleteUsuarioSecundario", "User", new { Area = ConstantHelpers.AREAS.ADMIN, IdUsuario = usuario.IdUsuario })"><i class="fa fa-user-times"></i> @LayoutResource.Desactivar @LayoutResource.UsuarioSecundario </a></li>
                                        }
                                        else if (usuario.IdDocente.HasValue && usuario.Docente.EsAdministrativo.Value)
                                        {
                                            <li><a @Url.ModalHelperFor("_AddUsuarioSecundario", "User", new { Area = ConstantHelpers.AREAS.ADMIN, IdUsuario = usuario.IdUsuario })><i class="fa fa-user-plus"></i> @LayoutResource.Nuevo @LayoutResource.UsuarioSecundario </a></li>
                                        }
                                        @if (usuario.IdUsuario != Session.GetUsuarioId())
                                        {
                                            <li><a href="@Url.Action("DisableUsuario", "User", new { Area = ConstantHelpers.AREAS.ADMIN, IdUsuario = usuario.IdUsuario })"><i class="fa fa-@(usuario.Estado == ConstantHelpers.ESTADO.ACTIVO ? "eye-slash" : "eye") "></i> @(usuario.Estado == ConstantHelpers.ESTADO.ACTIVO ? LayoutResource.Desactivar : LayoutResource.Activar)</a></li>
                                        }
                                    </ul>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model.LstUsuario, page => Url.Action("ListUsuario", new { p = page }), ConstantHelpers.TwitterBootstrapPagerAligned)
        </div>
    </div>
</div>
<!-- End Panel Collapse -->
