﻿@model UPC.CA.ABET.Presentation.Areas.Admin.ViewModels.User.ListRolUsuarioViewModel
@{
        ViewBag.Title = UserResource.RolesUsuario;
        ViewBag.Icon = "users";
        ViewBag.Section = String.Empty;
        ViewBag.Subsection = String.Empty;
        var cicloActivo = Model.LstperiodoAcademico.Where(x => x.Estado == ConstantHelpers.ESTADO.ACTIVO).ToList();
        var esDocente = Model.Usuario.IdDocente.HasValue;
        var lstEscuela = UPC.CA.ABET.Presentation.Helper.CacheHelperImp.GetLstEscuelas();
        var i = 0;
    }

    @section Breadcrumbs{
    <li><a href="@Url.Action("ListUsuario")"> @UserResource.Usuarios</a></li>
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-info"></i> @UserResource.DatosUsuario
        </h3>
    </div>
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <div class="avatar avatar-online">
                    <img src="@(!String.IsNullOrEmpty(Model.Usuario.Imagen) ? @Url.Content(ConstantHelpers.DEFAULT_SERVER_PATH + "/" + @Model.Usuario.Imagen) : "http://placehold.it/400")" alt="...">
                    <i class="avatar avatar-busy"></i>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    @Model.Usuario.Nombres @Model.Usuario.Apellidos<br />
                    <small>@UserResource.UltimoAcceso: @Model.UltimoAcceso</small>
                </h4>
            </div>
            <div class="media-right">
            </div>
        </div>
        @*<div class="row">
            <div class="form-group col-md-12">
                <label class="control-label" for="modalDropDown">Modalidad</label>
                @Html.DropDownList("modalDropDown", Model.Modal, new { @class = "form-control" })
            </div>
        </div>*@
    </div>
</div>
<h3><i class="fa fa-shield"></i> @UserResource.Accesos</h3>

<form method="post">
    <div class="panel-group" id="accordion-continuous" aria-multiselectable="true" role="tablist">
        @Html.HiddenFor(x => x.IdUsuario)

        <div class="example-wrap margin-lg-0">
            <div class="nav-tabs-horizontal">
                <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
                    @foreach (var escuela in lstEscuela)
                    {
                        var containerName = "escuela" + escuela.Value;
                        var activo = (i == 0) ? "active" : String.Empty;
                        i++;
                        <li class="@activo" role="presentation">
                            <a data-toggle="tab" href="#@containerName" aria-controls="@containerName"
                               role="tab">@escuela.Text</a>
                        </li>
                    }
                    @{ i = 0;}

                </ul>
                <div class="tab-content padding-top-20">
                    @foreach (var escuela in lstEscuela)
                    {
                        var containerName = "escuela" + escuela.Value;
                        var activo = (i == 0) ? "active" : String.Empty;
                        i++;
                    <div class="tab-pane @activo" role="tabpanel" id="@containerName">
                        @foreach (var periodoAcademico in Model.LstSubModalidadPeriodoAcademico)
                        {
                            var active = periodoAcademico.PeriodoAcademico.Estado == ConstantHelpers.ESTADO.ACTIVO;


                            if (Model.CantidadActivos == 1)
                            {
                                var esActivo = (cicloActivo[0].CicloAcademico.ToInteger() > periodoAcademico.PeriodoAcademico.CicloAcademico.ToInteger())? true : false;

                                var escuelaId = escuela.Value.ToInteger();
                                <div class="panel">
                                    <div class="panel-heading" role="tab">
                                        <a class="panel-title collapsed" data-parent="#accordion-continuous" data-toggle="collapse" href="#@containerName-@periodoAcademico.PeriodoAcademico.CicloAcademico-@periodoAcademico.SubModalidad.Modalidad.IdModalidad" aria-controls="@containerName-@periodoAcademico.PeriodoAcademico.CicloAcademico-@periodoAcademico.SubModalidad.Modalidad.IdModalidad" aria-expanded="@active.ToString().ToLower()">
                                            <i class="fa fa-calendar-o"></i> @periodoAcademico.PeriodoAcademico.CicloAcademico - @periodoAcademico.SubModalidad.Modalidad.NombreEspanol  @(active ? @Html.Raw("<span class=\"label label-success\">" + LayoutResource.Activo + "</span>") : MvcHtmlString.Empty)
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse @(active ? "in" : String.Empty)" id="@containerName-@periodoAcademico.PeriodoAcademico.CicloAcademico" aria-labelledby="heading-continuous-one" role="tabpanel" aria-expanded="@active.ToString().ToLower()">
                                        <div class="panel-body">

                                            <div class="table table-responsive">

                                                <table class="table table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            @foreach (var rol in Model.LstRol)
                                                            {
                                                                <th class="text-center">@rol.Descripcion</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            @foreach (var rol in Model.LstRol)
                                                            {
                                                                var rolUsuario = Model.LstRolUsuario.FirstOrDefault(x => x.SubModalidadPeriodoAcademico.IdPeriodoAcademico == periodoAcademico.IdPeriodoAcademico && x.IdUsuario == Model.IdUsuario && x.IdRol == rol.IdRol && x.IdEscuela == escuelaId);
                                                                var name = "chk-" + escuelaId + "-" + periodoAcademico.IdSubModalidadPeriodoAcademico + "-" + rol.IdRol + "-" + (rolUsuario == null ? 0 : rolUsuario.IdRolUsuario);
                                                                <td class="text-center">
                                                                    <div class="checkbox-custom checkbox-primary">
                                                                        <input type="checkbox" id="@name" name="@name" @(rolUsuario == null ? String.Empty : (rolUsuario.Estado == ConstantHelpers.ESTADO.ACTIVO ? "checked" : String.Empty)) @(esActivo ? "disabled" : String.Empty ) />
                                                                        <label for="@name">&nbsp;</label>
                                                                    </div>
                                                                </td>
                                                            }
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                            if (Model.CantidadActivos == 2)
                            {
                                var esActivo = (cicloActivo[0].CicloAcademico.ToInteger() > periodoAcademico.PeriodoAcademico.CicloAcademico.ToInteger() && cicloActivo[1].CicloAcademico.ToInteger() > periodoAcademico.PeriodoAcademico.CicloAcademico.ToInteger()) ? true : false;

                                var escuelaId = escuela.Value.ToInteger();
                                <div class="panel">
                                    <div class="panel-heading" role="tab">
                                        <a class="panel-title collapsed" data-parent="#accordion-continuous" data-toggle="collapse" href="#@containerName-@periodoAcademico.PeriodoAcademico.CicloAcademico-@periodoAcademico.SubModalidad.Modalidad.IdModalidad" aria-controls="@containerName-@periodoAcademico.PeriodoAcademico.CicloAcademico-@periodoAcademico.SubModalidad.Modalidad.IdModalidad" aria-expanded="@active.ToString().ToLower()">
                                            <i class="fa fa-calendar-o"></i> @periodoAcademico.PeriodoAcademico.CicloAcademico - @periodoAcademico.SubModalidad.Modalidad.NombreEspanol  @(active ? @Html.Raw("<span class=\"label label-success\">" + LayoutResource.Activo + "</span>") : MvcHtmlString.Empty)
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse @(active ? "in" : String.Empty)" id="@containerName-@periodoAcademico.PeriodoAcademico.CicloAcademico-@periodoAcademico.SubModalidad.Modalidad.IdModalidad" aria-labelledby="heading-continuous-one" role="tabpanel" aria-expanded="@active.ToString().ToLower()">
                                        <div class="panel-body">

                                            <div class="table table-responsive">

                                                <table class="table table-hover table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            @foreach (var rol in Model.LstRol)
                                                            {
                                                                <th class="text-center">@rol.Descripcion</th>
                                                            }
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            @foreach (var rol in Model.LstRol)
                                                            {
                                                                var rolUsuario = Model.LstRolUsuario.FirstOrDefault(x => x.SubModalidadPeriodoAcademico.IdPeriodoAcademico == periodoAcademico.IdPeriodoAcademico && x.IdUsuario == Model.IdUsuario && x.IdRol == rol.IdRol && x.IdEscuela == escuelaId);
                                                                var name = "chk-" + escuelaId + "-" + periodoAcademico.IdSubModalidadPeriodoAcademico + "-" + rol.IdRol + "-" + (rolUsuario == null ? 0 : rolUsuario.IdRolUsuario);
                                                                <td class="text-center">
                                                                    <div class="checkbox-custom checkbox-primary">
                                                                        <input type="checkbox" id="@name" name="@name" @(rolUsuario == null ? String.Empty : (rolUsuario.Estado == ConstantHelpers.ESTADO.ACTIVO ? "checked" : String.Empty)) @(esActivo ? "disabled" : String.Empty ) />
                                                                        <label for="@name">&nbsp;</label>
                                                                    </div>
                                                                </td>
                                                            }
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    }
                </div>
            </div>
        </div>

    </div>

    <div class="text-right">
        <a class="btn btn-default animsition-link" href="@Url.Action("ListUsuario")"><i class="fa fa-arrow-left"></i> @LayoutResource.Atras</a>
        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @LayoutResource.Aceptar</button>
    </div>
</form>



